[2017-03-26 08:14] 2b20c3a9-51f8-4f76-9d5b-c7b5c817b236 commented on #74085
There's no build errors. The compiling and installing process is error-free. Take 3.5.3 as example, it's all good until you enter 3.5.3 python shell and type `import zlib`, it gives `No module name zlib`. I solved by make a `libz.so` link in my `/lib` dir to the `libz.so.1` file in my `/lib/x86_64-linux-gnu` dir according to a thread in Ubuntu forum. It may be system specific, I don't know yet.

[2017-03-26 08:24] vstinner commented on #74093
For Python 2, there is https://pypi.python.org/pypi/win_unicode_console

[2017-03-26 08:59] f27798ab-a662-4975-abb2-6b742415affc opened #74095 "types.coroutine monkey patches original function"
BPO | [29909](https://bugs.python.org/issue29909)
--- | :---
Nosy | @bitdancer, @1st1
Files | <li>[types.coroutine.py](https://bugs.python.org/file46756/types.coroutine.py "Uploaded as text/plain at 2017-03-27.00:03:11 by Omnifarious"): A possible fix</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details>

[2017-03-26 08:59] f27798ab-a662-4975-abb2-6b742415affc commented on #74095
The types.coroutine decorator for Python 3.6 (and I suspect for Python 3.6.1 as well) simply monkey patches the function it's passed and then returns it. This results in behavior that I found somewhat surprising.

[code]

foo is bar

And, so now both foo and bar are now awaitable. I wasn't really expecting this, and while it's minor, it also doesn't really seem like the right thing to do.

[2017-03-26 13:40] eryksun commented on #74093
I'm closing this issue since Python's encodings in this case -- 852 (OEM) and 1250 (ANSI) -- both correctly map U+0159:

[code]

You must be using an encoding that doesn't map U+0159. If you're using the console's default codepage (i.e. you haven't run chcp.com, mode.com, or called SetConsoleOutputCP), then Python started with stdout.encoding set to your locale's OEM codepage encoding. For example

[2017-03-26 13:40] #74093 closed, assigned to nobody

[2017-03-26 14:02] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 commented on #74074
I just created two pull requests.

\+ PR for 2.7 -\> https://github.com/python/cpython/pull/823
\+ PR for 3.5 or newer -\> https://github.com/python/cpython/pull/824

[2017-03-26 15:08] bitdancer commented on #74095
Yes, that looks wrong to me.  IMO it should be returning a new function object, not updating the \_\_code__ of the existing object.  I couldn't figure when that is actually triggered, though.

There are also some other oddnesses, given the definition of 'coroutine' in the 'types' module docs.  type(x) returns 'coroutine' only when you actually \*call* the async def function.  I think that's correc

[2017-03-26 15:13] bitdancer commented on #74095
Oops, I didn't meant to close this.

[2017-03-26 16:08] eryksun commented on #74094
The offset in ucrtbase.dll where it's crashing may hint at the culprit. The following command should print the full event log for the most recent crash:

wevtutil qe application /rd:true /c:1 /format:text /q:"\*[System[Provider[@Name='Application Error']]][EventData[Data='python.exe'][Data='ucrtbase.dll']]"

[2017-03-26 16:43] 1st1 commented on #74095
Yeah, we can fix this. However, I don't want to push the fix to 3.6, too much code uses this function now. So it's going to be 3.7 only.

[2017-03-26 17:25] serhiy-storchaka commented on #74096
Ctrl-D is binded to commenting out a block in IDLE. But additionally it deletes the first character of the line after the block. The default binding of Ctrl-D in Text widget is deleting a character under cursor. IDLE first comment out selected block, and after that runs the default handler.

Proposed patch fixes this issue and presumably other potential conflicts with default bindings. It just add

[2017-03-26 17:25] serhiy-storchaka opened #74096 "Ctrl-D eats a character on IDLE"
BPO | [29910](https://bugs.python.org/issue29910)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @mlouielu
PRs | <li>python/cpython#825</li><li>python/cpython#2429</li><li>python/cpython#2997</li><li>python/cpython#3017</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</

[2017-03-26 17:32] ned-deily commented on #74074
New changeset f8beb9831acd5cf80b9c56aea5864e16118c5400 by Ned Deily (cocoatomo) in branch 'master':
bpo-29888: Fix the link referring to the "Python download page" (GH-824)
https://github.com/python/cpython/commit/f8beb9831acd5cf80b9c56aea5864e16118c5400

[2017-03-26 17:58] ned-deily commented on #74074
New changeset ceff32fb833e7be42508ffa73344e2e56865e54b by Ned Deily in branch '3.6':
bpo-29888: Fix the link referring to the "Python download page" (GH-824) (GH-826)
https://github.com/python/cpython/commit/ceff32fb833e7be42508ffa73344e2e56865e54b

[2017-03-26 17:59] ned-deily commented on #74074
New changeset 8ce3085bf167b702989a9db466078b5676e825e3 by Ned Deily in branch '3.5':
bpo-29888: Fix the link referring to the "Python download page" (GH-824) (GH-827)
https://github.com/python/cpython/commit/8ce3085bf167b702989a9db466078b5676e825e3

[2017-03-26 18:05] ned-deily commented on #74074
Thanks for the pull requests!  I've merged to master, 3.6, and 3.5 and I left a comment for the 2.7 PR.  By the way, next time you make a PR, please feel free to add your name to [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS).

[2017-03-26 18:09] f7a29477-11b6-4add-a132-918438c57010 opened #74097 "Uninstall command line in Windows registry does not uninstall"
BPO | [29911](https://bugs.python.org/issue29911)
--- | :---
Nosy | @pfmoore, @tjguk, @zooba, @chrullrich
PRs | <li>python/cpython#5119</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-26 18:09] f7a29477-11b6-4add-a132-918438c57010 commented on #74097
The Windows installation package registers a command line for uninstalling the package. Running this command line does not uninstall the package.

The command line ends with "/modify". For uninstallation, it should be "/passive /uninstall".

Windows provides for separate command lines for modifying and uninstalling packages to be set in the "Uninstall" subkey:

- ModifyPath: Command line for modif

[2017-03-26 18:21] 5f5d4973-0c7a-4349-a214-106f9de9d2b3 commented on #74094
C:\\Users\\cmcka\\PycharmProjects\\test\>wevtutil qe application /rd:true /c:1 /format:text /q:"\*[System[Provider[@Name='Application Error']]][EventData[Data='python.exe'][Data='ucrtbase.dll']]"
Event[0]:
  Log Name: Application
  Source: Application Error
  Date: 2017-03-26T01:46:20.230
  Event ID: 1000
  Task: Application Crashing Events
  Level: Error
  Opcode: Info
  Keyword: Classic
  User:

[2017-03-26 22:17] terryjreedy commented on #74096
Checking, I see that the default ^D binding to DEL is documented in IDLE Help, section 2, Editing and Navigation, along with other Text defaults.  (I need to determine if the list is complete.  Is it the same on all systems?)

I question whether IDLE should allow these to be changed, or whether at least some should be fixed.  The information should certainly be made available somehow in the key cu

[2017-03-26 23:42] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74098 "Overlapping tests between list_tests and seq_tests"
BPO | [29912](https://bugs.python.org/issue29912)
--- | :---
Nosy | @brettcannon, @DimitrisJim
PRs | <li>python/cpython#847</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-26 23:42] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74098
Seems the CommonTests class defined in list_tests duplicates the testing performed by seq_tests.CommonTests in the following functions:

    test_index, test_count

Additionally, a part of test_imul from list_tests.CommonTests can be moved to seq_tests.CommonTests. (specifically, up until `        self.assertEqual(u, self.type2test([]))`).

Am I missing some non-obvious thing here or can I safely

[2017-03-27 00:03] f27798ab-a662-4975-abb2-6b742415affc commented on #74095
Here's an update to types.coroutine that fixes the problem for me.

[2017-03-27 01:06] zooba commented on #74094
Have you confirmed this occurring with 3.5? PyCharm has a very invasive debugger that is almost certainly responsible, but there's a significant difference between the 3.5 and 3.6 implementations that is probably relevant.

[2017-03-27 01:12] zooba commented on #74097
I'll take a look at having separate commands set, but the component responsible is external and this may be an issue for them.

Also, for future reference, continuing to point out that you would have preferred an MSI does not help you get faster assistance, and does not count as more "votes" towards any change. Continuing to add it will eventually annoy the volunteers who work on CPython sufficien

[2017-03-27 01:52] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 commented on #74074
@ned.deily Thank you for the commend. I updated the 2.7 PR.

[2017-03-27 02:47] f7a29477-11b6-4add-a132-918438c57010 commented on #74097
Thank you.

As for the pointing out: It worked for Cato, didn't it? He may not have lived to see it, but his perseverance in the face of rejection eventually brought about the years-long bloody war he had dreamed about.

(Any historical inaccuracies in the above are the property of the author.)

[2017-03-27 02:59] ned-deily commented on #74074
New changeset 6f95b37f290e0225aed5f8f7733ad0730601201b by Ned Deily (cocoatomo) in branch '2.7':
bpo-29888: Fix the link referring to "Python download page" (GH-823)
https://github.com/python/cpython/commit/6f95b37f290e0225aed5f8f7733ad0730601201b

[2017-03-27 03:02] #74074 closed, assigned to nobody

[2017-03-27 04:41] eryksun commented on #74094
Steve, I added 3.5 because the crash involved ucrtbase.dll. I'll remove it for now since the problem is only confirmed in 3.6.

Offset 0x3bd9e in 32-bit ucrtbase.dll is in wdupenv_s [1]. It's probably from calling new_spawnve in pydev_monkey.py, as shown in the faulthandler output. I don't use PyCharm, so I can't confirm this, but we know wdupenv_s is called by the CRT's wspawnve function. For exa

[2017-03-27 05:58] 5f5d4973-0c7a-4349-a214-106f9de9d2b3 commented on #74094
The problem was fixed after updating to Django 1.11; apparently, Django 1.10 is not fully compatible with Python 3.6. Thanks for your time.

[2017-03-27 05:58] #74094 closed, assigned to nobody

[2017-03-27 07:23] 3a37abd6-e522-4049-958c-60aefc9639d0 opened #74099 "ipadress compare_networks does not work according to documentation"
BPO | [29913](https://bugs.python.org/issue29913)
--- | :---
Nosy | @ncoghlan, @zhangyangyu, @s-sanjay
PRs | <li>python/cpython#842</li><li>python/cpython#865</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code

[2017-03-27 07:23] 3a37abd6-e522-4049-958c-60aefc9639d0 commented on #74099
according to the docs compare_networks only checks the network address but the implementation is also taking the mask length into account. It returns '0' only if both the network address and the mask are equal but this can be done with just equality check ( ip1 == ip2 )

[code]

shouldn't we ignore the mask length ? I have tried it here:

https://github.com/s-sanjay/cpython/commit/942073c1ebd29891

[2017-03-27 08:01] serhiy-storchaka opened #74100 "Incorrect signatures of object.__reduce__() and object.__reduce_ex__()"
BPO | [29914](https://bugs.python.org/issue29914)
--- | :---
Nosy | @avassalotti, @serhiy-storchaka
PRs | <li>python/cpython#843</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-27 08:01] serhiy-storchaka commented on #74100
The special method \_\_reduce__() doesn't take arguments, the special method \_\_reduce_ex__() takes one mandatory argument. But default implementations in the object class takes one optional argument. This looks as an oversign. Proposed patch fixes signatures of object.\_\_reduce__() and object.\_\_reduce_ex__().

[2017-03-27 08:21] serhiy-storchaka commented on #74096
Click on the "Files changed" tab on the PR page: https://github.com/python/cpython/pull/825/files . You can add inline comments when click on the "+" button that follows your mouse cursor. After entering the comment press the GREEN "Start a review" button rather than "Add single comment". This will allow to send all your comments at once rather than sending them as separate emails, and will allow

[2017-03-27 08:55] zhangyangyu commented on #74099
In my mind this is the wanted behaviour. `compare_networks` means compare one network to another and a network should count its mask in. Your example would look rather weird if 1.1.1.0/24 == 1.1.1.0/25. Maybe make the doc from 'network addresses' to 'network bits' is easier to understand.

[2017-03-27 09:29] vstinner commented on #74101
Hi,

Last september I already proposed the same thing for Python 3.6 (issue bpo-28099), but Ned Deily asked to keep OS X Tiger supper.

The Tiger buildbot fails since many years:
http://buildbot.python.org/all/builders/x86%20Tiger%203.x/builds/479/steps/test/logs/stdio

It doesn't seem like anyone take care of this buildbot.

Mac OS X Tiger was released in 2004 (13 years ago). The last update was

[2017-03-27 09:29] vstinner opened #74101 "Drop Mac OS X Tiger support in Python 3.7?"
BPO | [29915](https://bugs.python.org/issue29915)
--- | :---
Nosy | @warsaw, @rhettinger, @vstinner, @benjaminp, @ned-deily, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-27 09:37] 3a37abd6-e522-4049-958c-60aefc9639d0 commented on #74099
yes but compare_networks is not used to implement equality check. \_\_eq__ correctly returns False when we do 1.1.1.0/24 == 1.1.1.0/25.
If compare_networks works exactly like \_\_eq__ then it seems a bit redundant.

[2017-03-27 09:44] ncoghlan commented on #74099
Looking into it, this appears to be a holdover from the original ipaddr design where rather than being modelled as separate objects, host interfaces are modelled as denormalised network objects (i.e. a host address with a netmask).

So the stdlib equivalent of the original ipaddr compare_networks() operation would be:

[code]

As Sanjay noted, compare_networks() itself is fairly redundant given th

[2017-03-27 10:10] zhangyangyu commented on #74099
I still hold my opinion that the current behaviour is correct. You are comparing two networks and you should count the mask in.

And notice that `neta == netb` is not totally equal to `neta.compare_networks(netb)`. The former can only results True or False but the later could result -1, 0 and 1. For example:

[code]

They can't be used exchangably. `compare_networks` actually does the work of all

[2017-03-27 10:26] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74102
A copy of the struct definition can be found in the typeobject documentation [1]. There is also some explanation of the "closure" function pointer in the extending tutorial [2].

However the struct isn't explicitly defined as "c:type" so the 6 links to it in the documentations go nowhere.

I also submitted a pull request.

[1] https://docs.python.org/3.6/c-api/typeobj.html#c.PyTypeObject.tp_getset

[2017-03-27 10:26] 84dd73fe-9313-425f-aae0-390228a90839 opened #74102 "No explicit documentation for PyGetSetDef and getter and setter C-API"
BPO | [29916](https://bugs.python.org/issue29916)
--- | :---
Nosy | @serhiy-storchaka, @MSeifert04
PRs | <li>python/cpython#831</li><li>python/cpython#3607</li><li>python/cpython#3609</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs

[2017-03-27 10:31] 84dd73fe-9313-425f-aae0-390228a90839 opened #74103 "Wrong link target in PyMethodDef documentation"
BPO | [29917](https://bugs.python.org/issue29917)
--- | :---
Nosy | @orsenthil, @serhiy-storchaka, @MSeifert04, @csabella
PRs | <li>python/cpython#890</li><li>python/cpython#890</li><li>python/cpython#894</li><li>python/cpython#895</li><li>python/cpython#896</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<d

[2017-03-27 10:31] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74103
The `link`-target of the "type" struct member is the python built-in "type".  See [1].

I think it should not be a link at all.

[1] https://docs.python.org/3.7/c-api/structures.html#c.PyMemberDef

[2017-03-27 10:37] ncoghlan commented on #74099
Right, I agree compare_networks() is behaving correctly according to its original design. However:

- it was designed for Python 2, where cmp() style idioms were still more common. Those idioms have largely been removed in Python 3 (no cmp() builtin, no \_\_cmp__ magic method, no cmp argument to list.sort() and sorted())

- it was designed for the ipaddr data model, where network equality comparis

[2017-03-27 10:48] zhangyangyu commented on #74099
+1 for the doc change.

[2017-03-27 10:52] vstinner commented on #74085
Can you please attach config.log file? And maybe also redirect the output of "make" into a log file and then attach this log file as well? Example: make 2\>&1 \>make.log.

[2017-03-27 11:17] vstinner commented on #73906
"I am not sure whether such a platform exists, but on a platform where SIZEOF_VOID_P \< SIZEOF_LONG, PyLong_AsVoidPtr ..."

I'm suite sure that every C function of CPython breaks if this assumption becomes wrong :-) Such platform doesn't exist.

You can add the build assertion if it makes you more confortable ;-)

[2017-03-27 11:21] vstinner commented on #73866
@belopolsky: [Tools/gdb/libpython.py](https://github.com/python/cpython/blob/main/Tools/gdb/libpython.py) still uses gdb.error in gdb.selected_frame():

        try:
            frame = cls.get_selected_frame()
        except gdb.error:
            # No frame: Python didn't start yet
            return None

See my commit 610f5d739dd22bce352bde59dce3985c73aaefab. Should we change this line as well

[2017-03-27 11:30] serhiy-storchaka opened #74104 "Missed "const" modifiers in C API documentation"
BPO | [29918](https://bugs.python.org/issue29918)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#846</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-27 11:30] serhiy-storchaka commented on #74104
Proposed patch adds missed "const" modifiers in C API documentation.

[2017-03-27 11:31] vstinner commented on #73758
FYI I started to track OpenSSL versions in my "Python security" documentation:
http://python-security.readthedocs.io/ssl.html#openssl-versions

It seems like all pull requests are merged. Can the issue be closed now?

[2017-03-27 11:32] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74098
Correction: test_index \*partially* duplicates the base class method. It too can be modified to use super like test_imul.

[2017-03-27 11:46] 2b20c3a9-51f8-4f76-9d5b-c7b5c817b236 commented on #74085
This is the config.log.

[2017-03-27 11:47] 2b20c3a9-51f8-4f76-9d5b-c7b5c817b236 commented on #74085
This is make.log.

[2017-03-27 11:50] serhiy-storchaka commented on #73906
Did you meant 64-bit Windows? ;-)

[2017-03-27 11:55] vstinner commented on #73906
On Windows 64-bit, sizeof(void*) \> sizeof(long), not the opposite.

[2017-03-27 12:01] vstinner commented on #74085
Strange, I don't see any obvious error related to the C "z" lib or to the Python "zlib" module.

Example on my system:

[code]

Can you check if you have a "zlib.(...).so" file in /usr/lib64/python3.5/lib-dynload/? (ajust to the right directory)

[2017-03-27 12:02] vstinner commented on #74085
See also the issue bpo-29641 "make install failure when using ./configure --enable-optimizations".

[2017-03-27 12:04] serhiy-storchaka commented on #73906
Ah, you are right. I don't know whether Python supports such platform after dropping support of DOS.

But in any case I don't see any issue here.

Oren will be not active until August, so we should make the decision about closing the issue or changing the code without him.

[2017-03-27 12:15] vstinner commented on #73906
I closed the issue.

@Oren: Please reopen the issue with a pull request if you consider that the assertion is worth it.

[2017-03-27 12:15] #73906 closed, assigned to nobody

[2017-03-27 12:57] vstinner commented on #74079
Ah, I wrote "def create_subprocess_exec(program, \*args," to implicitly check that args is non empty.

We can either change the function prototype to check that args is non-empty in the body, or just update the documentation.

The documentation is not exactly wrong :-)

[2017-03-27 12:59] vstinner commented on #73984
[Tools/scripts/patchcheck.py](https://github.com/python/cpython/blob/main/Tools/scripts/patchcheck.py) still checks isdir() in get_base_branch():

@status("Getting base branch for PR",
        info=lambda x: x if x is not None else "not a PR branch")
def get_base_branch():
    if not os.path.isdir(os.path.join(SRCDIR, '.git')):
        \# Not a git checkout, so there's no base branch
        retur

[2017-03-27 13:02] vstinner commented on #74073
http://www.pythontest.net/unicode/7.0.0/NormalizationTest.txt exists, but not http://www.pythontest.net/unicode/8.0.0/NormalizationTest.txt nor http://www.pythontest.net/unicode/9.0.0/NormalizationTest.txt

Maybe the dev who upgrade Unicode to 8.0 and then 9.0 forgot to upload required files to the pythontest website?

I confirm that 8.0 and 9.0 lacks from https://github.com/python/pythontestdotne

[2017-03-27 13:03] vstinner commented on #74026
Serhiy: Can you please create a pull request? It would be easier to review.

[2017-03-27 13:05] vstinner opened #74105 "Remove unused imports found by pyflakes"
BPO | [29919](https://bugs.python.org/issue29919)
--- | :---
Nosy | @terryjreedy, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#137</li><li>python/cpython#2105</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fiel

[2017-03-27 13:05] vstinner commented on #74105
Attached PR removes unused imports found by pyflakes. It makes also minor PEP-8 coding style fixes on modified imports.

[2017-03-27 13:16] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 opened #74106 "Document cgitb.text and cgitb.html"
BPO | [29920](https://bugs.python.org/issue29920)
--- | :---
Nosy | @masklinn, @berkerpeksag, @vadmium, @serhiy-storchaka, @iritkatriel
PRs | <li>python/cpython#849</li><li>python/cpython#1527</li><li>python/cpython#1528</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</sum

[2017-03-27 13:16] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74106
Currently, cgitb documents the hook (enable) and somewhat unclearly the ability to dump the HTML traceback to stdout, but despite that being technically available it does not document the ability to dump the traceback to a string as either text or html.

Possible further improvement: make ``cgitb.html`` and ``cgitb.text`` implicitly call `sys.exc_info()` if not given a parameter (much like `cgitb.

[2017-03-27 13:48] 3a819f35-1c86-4b3c-8c8e-49d4e37cf64c opened #74107 "datetime validation is stricter in 3.6.1 than previous versions"
BPO | [29921](https://bugs.python.org/issue29921)
--- | :---
Nosy | @abalkin, @vstinner, @ned-deily

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-27 13:48] 3a819f35-1c86-4b3c-8c8e-49d4e37cf64c commented on #74107
The change in issue bpo-29100 - intended AFAICS simply to fix a regression in 3.6 - seems to have made datetime validation via certain code paths stricter than it was in 2.7 or 3.5. I think it's the case that some routes via the C API now reject out of range values that were previously permitted. Even if this previous behaviour was incorrect, was it intentional to alter that in a maintenance relea

[2017-03-27 13:57] zooba commented on #74094
Do you have a reference to an issue from their side about this? Python should never crash due to pure Python code, so we'd like to be able to prevent this in the future.

[2017-03-27 13:57] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74106
PR targetted to master rather than 2.7

[2017-03-27 14:04] serhiy-storchaka commented on #74105
LGTM.

[2017-03-27 14:05] vstinner commented on #74105
New changeset d6debb24e06152a827769b0cac24c47deccdeac1 by Victor Stinner in branch 'master':
bpo-29919: Remove unused imports found by pyflakes (#137)
https://github.com/python/cpython/commit/d6debb24e06152a827769b0cac24c47deccdeac1

[2017-03-27 14:06] serhiy-storchaka commented on #74026
This issue depends on bpo-29839. Tests are failed until the patch of bpo-29839 is merged.

[2017-03-27 14:06] #74105 closed, assigned to terryjreedy

[2017-03-27 14:10] vstinner commented on #73969
I abandonned my pull request.

[2017-03-27 15:36] vstinner commented on #73968
The change is an optimization, so it requires a benchmark, think you provided. Ok. But the speedup is a few nanoseconds on a function which takes currently 40 nanoseconds. It's not really what I would call significant:

[code]

(See attached bench_bit_length.py script.)

So I'm not really convinced that the change is useful. Is bit_length() used in hot loops?

[2017-03-27 15:41] vstinner commented on #73968
By the way, I check the bytecode to make sure that the compiler doesn't optimize that. I'm suprised that it's not replaced with True!

Is there a reason to perform the test at runtime?

[2017-03-27 15:45] serhiy-storchaka commented on #73968
There are not good reasons to optimize this case at compile time. This is very obscure way of writing True.

[2017-03-27 15:46] rhettinger commented on #74101
Is there any downside to keeping this code?

[2017-03-27 16:27] ned-deily commented on #74101
That's not true.  The one failing test, test_uuid, was just added last month.  Note that the 3.5 Tiger buildbot has not test failures.

So, one question that perhaps you and Barry can answer is what is the significance of that failure.

That's also not true.  David Bolen, the owner of the buildbot, is very responsive to requests for updates of third-party libraries on the buildbot.

Getting back t

[2017-03-27 16:30] ned-deily commented on #73758
Not quite yet.

[2017-03-27 17:19] ned-deily commented on #74101
Here's where the Tiger 3.x buildbot started failing:

http://buildbot.python.org/all/builders/x86%20Tiger%203.x/builds/363

with this commit 0b8432538acf45d7a605fe68648b4712e8d9cee3

[2017-03-27 17:24] 23f7a4c2-605f-4c4e-91fe-2712bc200d17 opened #74108 "error message when __aexit__ is not async"
BPO | [29922](https://bugs.python.org/issue29922)
--- | :---
Nosy | @ned-deily, @bitdancer, @asvetlov, @markshannon, @serhiy-storchaka, @1st1, @ilevkivskyi, @RazerM, @miss-islington
PRs | <li>python/cpython#6352</li><li>python/cpython#6353</li><li>python/cpython#6354</li><li>python/cpython#6370</li><li>python/cpython#6371</li><li>python/cpython#6373</li>

<sup>*Note: these values reflect the state

[2017-03-27 17:24] 23f7a4c2-605f-4c4e-91fe-2712bc200d17 commented on #74108
When creating a asynchronous context manager if the \_\_aexit__ method is not labeled as async (so it returns None instead of a coroutine) the error has a generic error message:

TypeError: object NoneType can't be used in 'await' expression

Would it be possible to change this so it indicates that it was the context that was invalid not an `await` statement?  Since the traceback points to the las

[2017-03-27 17:33] bitdancer commented on #74108
This is a specific example of the general problem reported in bpo-25538.

[2017-03-27 17:46] 1st1 commented on #74108
It's a bit different code path/problem.  But I agree, we should work on making both `with` and `async with` a bit more usable.

I'm not sure if we can do anything about this.  We compile 'async with' into a set of opcodes.  The first ones resolve \_\_aexit__, the latter ones await on it. The one that prepares to await on the aexit (GET_AWAITABLE) is the same that 'await' expression compiles to, an

[2017-03-27 18:06] #74080 closed, assigned to nobody

[2017-03-27 18:37] serhiy-storchaka commented on #74103
Agree. I noticed this when making a review of [PR 831](https://github.com/python/cpython/pull/831), but forgot to open an issue.

[2017-03-27 18:45] brettcannon commented on #74073
Benjamin did the update to 9.0.0.

We should probably update [Tools/unicode/makeunicodedata.py](https://github.com/python/cpython/blob/main/Tools/unicode/makeunicodedata.py) to print out in the end that the appropriate file needs to be added to pythontest.net \*\*before** merging an update to unicodedata.

[2017-03-27 19:01] serhiy-storchaka commented on #74053
It would be enough to compile them. New macros produce compiler error when used as lvalue.

But I afraid it will take too much time on my netbook.

[2017-03-27 19:35] brettcannon commented on #74098
New changeset d702c50049207d825c1d5925fbc7306514fa9a0a by Brett Cannon (Jim Fasarakis-Hilliard) in branch 'master':
bpo-29912: Remove redundant tests in list_tests that are found in seq_tests (GH-847)
https://github.com/python/cpython/commit/d702c50049207d825c1d5925fbc7306514fa9a0a

[2017-03-27 19:36] #74098 closed, assigned to nobody

[2017-03-27 19:53] 23f7a4c2-605f-4c4e-91fe-2712bc200d17 commented on #74108
Definitely related, although the part of giving an error "... can't be used in 'await' expression" when no await expression is used isn't covered by that thread so I'm not sure I'd call this a direct duplicate.

Currently when \_\_anext__ return a non-awaitable this error is shown:

TypeError: 'async for' received an invalid object from \_\_anext__: NoneType

So having \_\_aenter__ and \_\_aexit__

[2017-03-27 19:56] 1st1 commented on #74108
Yes, but it will make it a tad slower (which will also affect await performance).  I'll run some benchmarks.

[2017-03-27 20:15] 0e6cec00-88f3-42b0-bf13-935e4165efee commented on #74109
First time issue reporter here.  I really love PEP-487, but I'm finding the new \_\_init_subclass__ functionality is not playing nicely with existing abstract class functionality.

For example, taking the Quest example given in PEP-487 but simply adding ABCMeta metaclass results in a runtime error:

[code]

[2017-03-27 20:15] 0e6cec00-88f3-42b0-bf13-935e4165efee opened #74109 "PEP487 __init_subclass__ incompatible with abc.ABCMeta"
BPO | [29923](https://bugs.python.org/issue29923)
--- | :---
Nosy | @zhangyangyu
Superseder | <li>bpo-29581: __init_subclass__ causes TypeError when used with standard library metaclasses (such as ABCMeta)</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHu

[2017-03-27 20:27] tiran commented on #73759
Raymond, I think Richard's approach is problematic at best.

Richard, you cannot use a NamedTempFile with an external process like that. At least you have to flush the file to disk. Even flushing is not safely portable. The safest and most portable approach is to close the file, call the other process and then unlink the file manually:

[code]

It's too bad that close() on a NamedTemporaryFile(del

[2017-03-27 20:30] 5f5d4973-0c7a-4349-a214-106f9de9d2b3 commented on #74094
No, my PyCharm issue has not been responded to by any of their people. Here is the link: https://youtrack.jetbrains.com/issue/PY-23297
Also, I have uploaded a screenshot of VS's debugging of the crash if it will be helpful.

[2017-03-27 20:54] csabella commented on #73863
I'm new to contributing.  Can I work on this one?

[2017-03-27 20:55] c21f90fa-a1a8-4e31-b5b5-053d40995d53 commented on #74110
Very uninteresting issue I've found while looking at the code.

In [Objects/call.c](https://github.com/python/cpython/blob/main/Objects/call.c), in \_PyMethodDef_RawFastCallDict(PyMethodDef \*method, PyObject \*self, PyObject \*\*arg...), we have

   no_keyword_error:
       PyErr_Format(PyExc_TypeError,
                    "%.200s() takes no keyword arguments",
                    method-\>ml_nam

[2017-03-27 20:55] c21f90fa-a1a8-4e31-b5b5-053d40995d53 opened #74110 "Useless argument in call to PyErr_Format"
BPO | [29924](https://bugs.python.org/issue29924)
--- | :---
Nosy | @vstinner, @SylvainDe
PRs | <li>python/cpython#854</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-27 20:55] vstinner commented on #74107
What do you mean by "stricter than 2.7 & 3.5"? The year 30828 was never valid.

Python 2.7 and 3.5:

[code]

Python 3.6.1 should only be stricter than Python 3.6.0.

[2017-03-27 20:57] vstinner commented on #74107
The range of valid timestamp is the same since the module was added to Python 2.3:

[code]

https://docs.python.org/2/library/datetime.html#datetime.datetime.max
https://docs.python.org/dev/library/datetime.html#datetime.datetime.max

[2017-03-27 20:57] c21f90fa-a1a8-4e31-b5b5-053d40995d53 commented on #74110
I forgot to copy the link but here is a description of what I had in mind for the first idea.

[2017-03-27 20:58] c21f90fa-a1a8-4e31-b5b5-053d40995d53 commented on #74110
http://julio.meroh.net/2011/06/validating-format-strings-in-custom-c.html

[2017-03-27 21:02] bitdancer commented on #73759
He's still going to get an error using your code, Christian.  But if he knows that the file being gone is OK, he can catch and ignore the error.  Having exit do the unlink wouldn't help him; in that case he'd have to wrap the whole 'with' clause in a try/except.

So I think delete=False and handling the error "manually" is the correct solution here, since I doubt we want to add a "already_deleted_

[2017-03-27 21:05] tiran commented on #73759
RDM, I don't see how my example is going to fail. It uses delete=False with an explicit unlink. Please educate me. :)

[2017-03-27 21:05] vstinner opened #74111 "test_uuid fails on OS X Tiger"
BPO | [29925](https://bugs.python.org/issue29925)
--- | :---
Nosy | @ronaldoussoren, @vstinner, @benjaminp, @ned-deily
PRs | <li>python/cpython#971</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></de

[2017-03-27 21:05] vstinner commented on #74111
http://buildbot.python.org/all/builders/x86%20Tiger%203.x/builds/363/steps/test/logs/stdio

\======================================================================
FAIL: test_uuid1_safe (test.test_uuid.TestUUID)
\----------------------------------------------------------------------
[code]

According to Ned Deily, the test started to fail with the the commit 0b8432538acf45d7a605fe68648b4712e8d9cee

[2017-03-27 21:07] vstinner commented on #74101
Raymond Hettinger: "Is there any downside to keeping this code?"

I don't think that we have much code specific to Tiger, except maybe some skips in unit tests. Maybe we can just remove the buildbot but don't touch the code.

My issue is more that I would like to see green buildbots. I don't see the purpose of having a buildbot if it's known to be broken. It's a pain to recall which buildbots are

[2017-03-27 21:16] larryhastings commented on #74110
This is not an Argument Clinic issue.

[2017-03-27 21:20] bitdancer commented on #73759
His problem is that the file has already been deleted by the time the subprocess returns, so the unlink is going to raise an exception.

[2017-03-27 21:26] c21f90fa-a1a8-4e31-b5b5-053d40995d53 commented on #74110
Seems to be introduced via 250e4b0063fab35770719b64d1e36209c4aa2596 in January this year.

[2017-03-27 21:34] c496a6ea-732c-436d-bd08-55cfafa32db0 commented on #73759
Thanks for the discussion. I ended up doing something similar to the code snippet Christian posted, except I also had a second try/except FileNotFoundError within the original finally block to catch the case that David pointed out.

In retrospect, I probably should have used TemporaryDirectory since I am using Python 3.5 and because the file I was creating with NamedTemporaryFile was only being us

[2017-03-27 21:36] vstinner commented on #74110
New changeset d67a103702cf57de90a62c90f7ae969c23d96218 by Victor Stinner (Sylvain) in branch 'master':
bpo-29924: Remove useless argument (#854)
https://github.com/python/cpython/commit/d67a103702cf57de90a62c90f7ae969c23d96218

[2017-03-27 21:40] vstinner commented on #74110
Thank you SylvainDe, I merged your fix!

About the GCC \_\_attribute__ idea: I'm not sure, since Python uses some extra formatters (I don't recall which one). If you succeed to write something working, please open a new issue!

Since the initial bug is fixed, I close the issue now.

[2017-03-27 21:40] #74110 closed, assigned to nobody

[2017-03-27 21:50] tiran commented on #73759
Ah! I missed the fact that the subprocess removes the file. It's easily fixable, wrap the unlink and catch FileNotFoundError / ENOENT.

[2017-03-27 22:15] vstinner commented on #73863
New changeset 6003db7db5fec545c01923c198a5fdfca5a91538 by Victor Stinner (Gerrit Holl) in branch 'master':
bpo-29677: DOC: clarify documentation for `round` (#357)
https://github.com/python/cpython/commit/6003db7db5fec545c01923c198a5fdfca5a91538

[2017-03-27 22:51] 369f242b-92af-4a40-bbdf-a57b16a421cd commented on #74112
Consider the following code, typed interactively:

This will sleep for a bit over one and a half weeks.  If this was typed in error, you may want to interrupt it.  If using the command line, this is easy: just use Ctrl-C.  If using IDLE, Ctrl-C has no effect.  One could attempt to restart the shell with Ctrl-F6, which seems to work, but in fact the process remains in the background, hung until the

[2017-03-27 22:51] 369f242b-92af-4a40-bbdf-a57b16a421cd opened #74112 "IDLE: in shell, time.sleep ignores _thread.interrupt_main()"
BPO | [29926](https://bugs.python.org/issue29926)
--- | :---
Nosy | @terryjreedy, @pitrou, @njsmith, @vadmium, @eryksun, @mlouielu
PRs | <li>python/cpython#2466</li>
Files | <li>[int-unix.patch](https://bugs.python.org/file46771/int-unix.patch "Uploaded as text/plain at 2017-04-03.03:37:10 by @vadmium")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and m

[2017-03-27 22:58] vadmium commented on #73759
See also bpo-27425, about making the deletion step more flexible after the file has been created, which might help here.

I’m not sure about security problems, but IMO failure to remove a temporary file (because it is already gone, or some other reason) is likely to be a programming mistake, so I would not want it silenced.

[2017-03-27 23:28] zooba commented on #74094
I was thinking of a Django issue. It'd be nice to know what they fixed that prevents the problem occurring.

[2017-03-28 00:02] Mariatta commented on #73863
New changeset 596506216104613591218c2896cdb49fa0b7e5bb by Mariatta in branch '3.6':
bpo-29677: DOC: clarify documentation for `round` (GH-357) (GH-862)
https://github.com/python/cpython/commit/596506216104613591218c2896cdb49fa0b7e5bb

[2017-03-28 00:09] Mariatta commented on #73863
New changeset 8994f36287b068e8ea9a9230fc90eda72bf5fff0 by Mariatta in branch '3.5':
bpo-29677: DOC: clarify documentation for `round` (GH-357) (GH-863)
https://github.com/python/cpython/commit/8994f36287b068e8ea9a9230fc90eda72bf5fff0

[2017-03-28 00:19] Mariatta commented on #73863
Cheryl, thank you for your interest in working on this issue.

The original issue has been addressed in Gerrit Holl's PR. But it seems like the docs can be further improved.

Here is Victor's comment about it: (copied from GH-357)

[code]

Will you be interested in preparing a PR to address Victor's comment above?

Thanks :)

[2017-03-28 00:22] Mariatta commented on #73863
GH-357 is:
https://github.com/python/cpython/pull/357/files

:)

[2017-03-28 01:42] terryjreedy commented on #74112
I verified on Win 10 with 3.6.1.  What system are you running on?

An automatic unittest test would be nice, but I cannot imagine how to write one.  Even a human-verified htest (IDLE private term) would  be good.  Maybe I should write a live-interaction test script.

^C is bound to pyshell.PyShell.cancel_callback.  When code is executing, this calls pyshell.ModifiedInterpreter.interrupt_subprocess

[2017-03-28 02:01] 5f5d4973-0c7a-4349-a214-106f9de9d2b3 commented on #74094
See this here: https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/18355615-ucrtbase-bug-wspawnve-is-broken

[2017-03-28 02:16] terryjreedy commented on #74112
Scratch my confusion.  I added "print('after')" immediately after \_thread.interrupt_main() in idlelib.run.Executor.interrupt_the_server() and 'after' is printed in Shell right after I hit ^C but a time.sleep(10) is not immediately interrupted and 'KeyboardInterrupt' does not show for nearly 10 seconds.  I don't know if this is a bug or unavoidable limitation not mentioned in the \_thread doc.  I

[2017-03-28 02:23] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 commented on #74113
1. BufferError is PRE_INIT'ed twice, and also POST_INIT'ed twice.
2. Using macros (PRE_INIT, POST_INIT and ADD_ERRNO) with following unnecessary semicolons.

These unnecessary code have no semantic effect, but is somehow confusing.

[2017-03-28 02:23] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 opened #74113 "Unnecessary code in the c-api/exceptions.c"
BPO | [29927](https://bugs.python.org/issue29927)
--- | :---
Nosy | @cocoatomo, @zhangyangyu, @mlouielu
PRs | <li>python/cpython#866</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-28 03:38] 3a37abd6-e522-4049-958c-60aefc9639d0 commented on #74099
ok I will update the doc

[2017-03-28 04:57] zhangyangyu commented on #74109
bpo-29581 has reported a same one. :-)

[2017-03-28 04:57] #74109 closed, assigned to nobody

[2017-03-28 05:07] Mariatta opened #74114 "Add f-strings to Glossary"
BPO | [29928](https://bugs.python.org/issue29928)
--- | :---
Nosy | @brettcannon, @bitdancer, @vadmium, @serhiy-storchaka, @DimitrisJim, @Mariatta
PRs | <li>python/cpython#864</li><li>python/cpython#914</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub f

[2017-03-28 05:07] Mariatta commented on #74114
The Glossary section should mention f-strings, starting in Python 3.6.

[2017-03-28 05:39] serhiy-storchaka commented on #74114
"f-string" is widely used, but misleading term. It is not used in the documentation. But "formatted string literal" is not better. This isn't literal, this isn't special kind of strings, this is a special formatting expression resulting to string.

There was a discussion on Python-Dev about better term, but it didn't come to any conclusion.

[2017-03-28 06:37] 9da18a29-a07d-4828-a801-24cc911246de commented on #74113
It seems somehow the patch at bpo-3295 make the mistake, commit faa54a39295 at 2007-08-19 add the PRE_INIT(BufferError) and POST_INIT(BufferError), but in bpo-3295 `buffererror.patch` didn't saw it.

[2017-03-28 07:07] vadmium commented on #74114
When I wrote the documentation \<https://docs.python.org/dev/reference/lexical_analysis.html#f-strings\>, I think I tried to avoid “f-string”, being jargon, and used more formal terminology from PEP-498 instead. But I agree they more than regular literals.

Serhiy do you have a link/message-id/etc of the Python-dev discussion? All I found with Google was \<https://www.reddit.com/r/Python/comments/

[2017-03-28 07:22] serhiy-storchaka commented on #74114
I don't have a link. There were a lot of threads about this feature and I didn't follow them. After implementing PEP-498 there was a discussion about terminology.

I read discussions about coming and released Python 3.6 on StackOverflow, Reddit and other resources and seen a lot of misinterpretation due to using terms "string" and "literal".

[2017-03-28 08:17] 3a819f35-1c86-4b3c-8c8e-49d4e37cf64c commented on #74107
From my opening comment (with new emphasis):

"I think it's the case that \*\*some routes via the C API** now reject out of range values that were previously permitted."

The pywin32 repro I gave above eventually calls PyDateTimeAPI-\>DateTime_FromDateAndTime():

http://pywin32.hg.sourceforge.net/hgweb/pywin32/pywin32/file/85c1c99b1cb8/win32/src/PyTime.cpp#l980

AFAICT, under Python \< 3.6.1 such

[2017-03-28 09:22] ncoghlan opened #74115 "Eliminate implicit __main__ relative imports"
BPO | [29929](https://bugs.python.org/issue29929)
--- | :---
Nosy | @warsaw, @ronaldoussoren, @ncoghlan, @Rosuav

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-28 09:22] ncoghlan commented on #74115
In just the last 24 hours, I've run across two cases where the default "the script directory is on sys.path" behaviour confused even experienced programmers:

1. a GitHub engineer thought the Python version in their Git-for-Windows bundle was broken because "from random import randint" failed (from a script called "random.py"

2. a Red Hat engineer was thoroughly confused when their systemd.py scr

[2017-03-28 09:45] 2ec10872-3cc7-4bef-a449-b5c25755e222 commented on #74116
While trying to break some code in a project using asyncio, I found that under certain circumstances, asyncio.StreamWriter.drain raises an AssertionError.

1. There must be a lot of concurrent uses of "await writer.drain()"
2. The server on which we send data must be public, no AssertionError occurs while connected to 127.0.0.1

[code]

I don't know much about how the drain function is working or

[2017-03-28 09:45] 2ec10872-3cc7-4bef-a449-b5c25755e222 opened #74116 "Waiting for asyncio.StreamWriter.drain() twice in parallel raises an AssertionError when the transport stopped writing"
BPO | [29930](https://bugs.python.org/issue29930)
--- | :---
Nosy | @vstinner, @cjerdonek, @socketpair, @1st1, @RemiCardona, @jnwatson, @callumquick
Files | <li>[server.py](https://bugs.python.org/file46761/server.py "Uploaded as text/plain at 2017-03-28.12:35:08 by @vstinner")</li><li>[client.py](https://bugs.python.org/file46762/client.py "Uploaded as text/plain at 2017-03-28.12:35:35 by @vstinn

[2017-03-28 09:48] ncoghlan commented on #74115
A key enabler for actually pursuing this idea would be coming up with a feasible way of emitting a deprecation warning for code that relied on the old implicit relative imports. A reasonable fast check for that would be to:

1. Start populating a private sys.\_main_path_entry in the sys module in addition to including it in both \_\_main__.\_\_path__ and sys.path

2. During the deprecation period,

[2017-03-28 10:00] eryksun commented on #74094
I can confirm that the CRT function construct_environment_block() does cause an access violation sometimes when no "=x:" shell variables are defined in the current environment. These "=x:" environment variables are the way that Windows emulates DOS per-drive working directories in a shell. The API itself never sets these variables; it only uses them if they're defined.

You should be able to avoid

[2017-03-28 10:02] ncoghlan commented on #74115
In formulating a post to import-sig about this, I realised it made more sense to describe it in terms of the goal (eliminating implicit \_\_main__ relative imports) rather than one possible technique for achieving that goal.

[2017-03-28 10:13] csabella commented on #73863
Mariatta,

Yes, thank you, I will work on a pull request to address Victor's comment.  Since it's my first time, I hope to read through the contributing docs and get this done today or tomorrow.

Thank you!

[2017-03-28 10:37] 3a37abd6-e522-4049-958c-60aefc9639d0 opened #74117 "ipaddress.ip_interface __lt__ check seems to be broken"
BPO | [29931](https://bugs.python.org/issue29931)
--- | :---
Nosy | @ncoghlan, @berkerpeksag, @serhiy-storchaka, @zhangyangyu, @Mariatta, @s-sanjay
PRs | <li>python/cpython#879</li><li>python/cpython#2217</li><li>python/cpython#2218</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more

[2017-03-28 10:37] 3a37abd6-e522-4049-958c-60aefc9639d0 commented on #74117
[code]

[2017-03-28 10:53] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74114
It's odd how 'f-string' just caught on when byte, raw and unicode strings never really did (at least I personally don't see many people using b-string, r-string and u-string respectively).

Shouldn't an entry for them be made too if 'f-string' would be added?

As for the name used by everyone, you can't blame them, f-string is a term used throughout PEP-498.

I guess a a new discussion might be wa

[2017-03-28 11:00] ncoghlan commented on #73984
No, that's the bug that prompted me to reopen the issue. I just got distracted and never submitted the follow-up PR :(

[2017-03-28 11:07] vstinner commented on #74107
2017-03-28 10:17 GMT+02:00 m-parry \<report@bugs.python.org\>:

You can please identify which C function is called and dump which
parameters are passed to the function?

[2017-03-28 12:23] 3a819f35-1c86-4b3c-8c8e-49d4e37cf64c commented on #74107
That's just a Python C API call. It looks like it eventually resolves to new_datetime_ex(30828, 9, 13, 3, 48, 5, 480000, Py_None, PyDateTime_DateTimeType).

We also have some internal code that sees a similar problem from calling PyTime_FromTime(), that was similarly affected by this change. In one example, that appears to resolve to new_time_ex(24, 0, 0, 0, Py_None, PyDateTime_TimeType). Again, u

[2017-03-28 12:31] serhiy-storchaka commented on #74117
Indeed, this looks as a bug.

[code]

[2017-03-28 12:35] c21f90fa-a1a8-4e31-b5b5-053d40995d53 opened #74118 "Missing word ("be") in error message ("first argument must a type object")"
BPO | [29932](https://bugs.python.org/issue29932)
--- | :---
Nosy | @brettcannon, @SylvainDe, @DimitrisJim
PRs | <li>python/cpython#888</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-28 12:35] c21f90fa-a1a8-4e31-b5b5-053d40995d53 commented on #74118
Very uninteresting issue but error message should probably be "first argument must BE a type object" in `array__array_reconstructor_impl` in [Modules/arraymodule.c](https://github.com/python/cpython/blob/main/Modules/arraymodule.c) .

This has been introduced with ad077154d0f305ee0ba5bf41d3cb47d1d9c43e7b .

I'll handle this issue in the next day.

[2017-03-28 12:35] vstinner commented on #74116
Modified client and server to be able to reproduce the issue on a LAN.

[2017-03-28 12:36] vstinner commented on #74116
The bug occurs when the transport pauses writing and the client code calls drain() multiple times in parallel.

[2017-03-28 12:47] vstinner commented on #74116
I understood that:

* code fills the write buffer of the transport until writing is paused because of the high water mark
* a function calls drain() which waits until the server reads until packets to reduce the size of the write buffer
* a second function calls drain(), but the first function is already waiting on drain(): bug occurs since the code doesn't support having two coroutines waiting on

[2017-03-28 12:50] methane commented on #73829
New changeset 8cea5929f52801b0ce5928b46ef836e99a24321a by INADA Naoki (Alex Wang) in branch 'master':
bpo-29643: Fix check for --enable-optimizations (GH-129)
https://github.com/python/cpython/commit/8cea5929f52801b0ce5928b46ef836e99a24321a

[2017-03-28 12:57] vstinner commented on #74116
Proof-of-concept of patched drain() to support multiple waiters.

I don't see any strong reason to not allow two coroutines to wait on drain() in parallel?

I'm too lazy to write a full patch with unit tests, doc changed, etc. I started with a PoC to discuss the solution.

[2017-03-28 13:09] vstinner commented on #74107
You are right that I modified the C API of datetime in Python 3.6.1 to make it stricter and reject invalid dates.

I disagree that the "backward incompatibility" part: I consider that it's a bugfix, and not a behaviour change.

The datetime module was enhanced in Python 3.6 with the PEP-495 to handle better DST changes: a new "fold" attribute was added. Computing this attribute requires to handle

[2017-03-28 13:09] #74107 closed, assigned to nobody

[2017-03-28 13:12] 3a819f35-1c86-4b3c-8c8e-49d4e37cf64c commented on #74107
pywin32 is not my code. It is a ubiquitous Python library on Windows that cannot be used under Python 3.6.1.

[2017-03-28 13:13] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74118
Indeed, quickly glancing over the error messages there's another small typo in https://github.com/python/cpython/blob/master/Modules/arraymodule.c#L2371:

    "array indices must be integer" -> "array indices must be integers"

might as well fix that in your PR too (maybe also change the title to: "Fix small error message typos in arraymodule.c"?)

[2017-03-28 13:18] bitdancer commented on #74114
"raw" and "byte" are one syllable names, and thus as easy and more meaningful to say than "r-string" or "b-string".  "unicode string" is more descriptive and not much longer, but "u-string" does occasionally get used, though mostly in a python3 context where you want to differentiate it from normal unadorned unicode strings.  If you want to replace 'f-string' in the vernacular, you need a one or t

[2017-03-28 13:18] vstinner opened #74119 "asyncio: set_write_buffer_limits() doc doesn't specify unit of the parameters"
BPO | [29933](https://bugs.python.org/issue29933)
--- | :---
Nosy | @vstinner, @berkerpeksag, @1st1, @Mariatta
PRs | <li>python/cpython#2262</li><li>python/cpython#2532</li><li>python/cpython#2533</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-03-28 13:18] vstinner commented on #74119
The asyncio set_write_buffer_limits() documentation doesn't specify unit of high and low parameters. Moreover, it would to explain better the effect of high and low:

* pause_writing() is called when the buffer size becomes larger or equal to high
* (if writing is pause) resume_writing() is called when the buffer size becomes smaller or equal to low

[2017-03-28 13:19] vstinner commented on #74119
See also https://github.com/asyncio-doc/asyncio-doc/issues/17 for a more general documentation request on asyncio parameters (on the external asyncio doc).

[2017-03-28 13:24] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74118
..and another one here https://github.com/python/cpython/blob/master/Modules/arraymodule.c#L2145:

"\_\_reduce_ex__ argument should an integer" -\> ".. should be .."

[2017-03-28 13:37] terryjreedy commented on #74112
Eryk, would the addition go before or after "trip_signal(SIGINT);"

I posted "Issue with \_thread.interrupt_main (29926)" on pydev list.  Steven D'Aprano verified delayed response on \*nix.

Martin Panter said
"Looking at the implementation, \_thread.interrupt_main just calls PyErr_SetInterrupt. It doesn’t appear to send a signal. I played with “strace” and couldn’t see any evidence of a signal. I

[2017-03-28 13:55] vstinner commented on #74119
It would also be nice to:

* link to set_write_buffer_limits() from drain()
* link to set_write_buffer_limits() from pause_writing() / resume_writing()
* mention asyncio default values for set_write_buffer_limits(): low=16 kB, high=64 kB (kb? kib? i never know :-/)

[2017-03-28 14:19] ned-deily commented on #74107
FTR, there is now a pywin32 issue (opened by the OP) on this:  https://sourceforge.net/p/pywin32/bugs/748/

[2017-03-28 14:21] Mariatta commented on #74114
The abstract of PEP-498 states:
[code]

[2017-03-28 14:27] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #73880
Changes including a test.  The test should check all combinations of "concurrent" creation of the directory.  It hacks around at pathlib.\_normal_accessor.mkdir (patching "os.mkdir" has no effect, as the built-in function was already extracted and stored inside pathlib.\_normal_accessor).

[2017-03-28 14:37] cb60ce86-4103-42f8-8f08-67a4bb264215 opened #74120 "% formatting fails to find formatting code in bytes type after a null byte"
BPO | [29934](https://bugs.python.org/issue29934)
--- | :---
Nosy | @zhangyangyu
Superseder | <li>bpo-29714: can&#x27;t interpolate byte string with \x00 before replacement identifier</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs

[2017-03-28 14:37] cb60ce86-4103-42f8-8f08-67a4bb264215 commented on #74120
Hello,

In Python 3.6.0, % formatting fails to find formatting code after a null byte in bytes type.

[code]

In contrast, the exact same code works as expected in Python 3.5:

[code]

I used Python 3.6.0 that I installed using pyenv 1.0.8 on Kubuntu 16.04 x86_64.

[2017-03-28 14:43] zhangyangyu commented on #74120
Yes, this is a regression in 3.6.0 and it has been fixed in bpo-29714 for 3.6.1. Try the new version. :-)

[2017-03-28 14:43] #74120 closed, assigned to nobody

[2017-03-28 14:47] zhangyangyu commented on #74120
Sorry, the fix is for 3.6.2 so 3.6.1 would still suffer from it. :-(

[2017-03-28 14:56] eryksun commented on #74112
For Windows the event should be set after trip_signal(SIGINT). That way the flag is guaranteed to be tripped when PyErr_CheckSignals is called from the time module's pysleep() function. This in turn calls the default SIGINT handler that raises a KeyboardInterrupt.

[2017-03-28 15:01] #74090 closed, assigned to nobody

[2017-03-28 15:25] methane commented on #73829
New changeset f01de61a8efea8319c65365898982f929d59a895 by INADA Naoki in branch '3.6':
bpo-29643: Fix check for --enable-optimizations (GH-869)
https://github.com/python/cpython/commit/f01de61a8efea8319c65365898982f929d59a895

[2017-03-28 15:26] methane commented on #73829
New changeset e6a49531568561fe5aaf662259ecb7b4bc2426be by INADA Naoki in branch '3.5':
bpo-29643: Fix check for --enable-optimizations (GH-871)
https://github.com/python/cpython/commit/e6a49531568561fe5aaf662259ecb7b4bc2426be

[2017-03-28 15:31] d39fc50f-b0e1-4101-b3a2-610bbbc7700a commented on #74116
For context, websockets calls `yield from self.writer.drain()` after each write in order to provide backpressure.

If the output buffer fills up, calling API coroutines that write to the websocket connection becomes slow and hopefully the backpressure will propagate (in a correctly implemented application).

This is a straightforward application of the only use case described in the documentation.

[2017-03-28 16:04] zooba commented on #74094
Thanks for the link! I've reported it to the C Runtime team and they'll get it fixed. (Because this is an operating system component, the fix will come through normal Windows Updates and apply to any version of Python 3.5+, so I'd rather not build a workaround into the product for it.)

[2017-03-28 16:16] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 opened #74121 "list and tuple index methods should accept None parameters"
BPO | [29935](https://bugs.python.org/issue29935)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @gwk, @JelleZijlstra
PRs | <li>python/cpython#887</li><li>python/cpython#907</li><li>python/cpython#909</li><li>python/cpython#910</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more de

[2017-03-28 16:16] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 commented on #74121
As of python3.6, passing None to the start/end parameters of `list.index` and `tuple.index` raises the following exception:
"slice indices must be integers or None or have an __index__ method"

This suggests that the intent is to support None as a valid input. This would be quite useful for the end parameter, where the sensible default is len(self) rather than a constant. Note also that str, bytes

[2017-03-28 16:26] 674c16e4-b864-4d55-874b-0db106acf296 opened #74122 "Typo in __GNU*C*_MINOR__ guard affecting gcc 3.x"
BPO | [29936](https://bugs.python.org/issue29936)
--- | :---
Nosy | @tiran, @benjaminp, @niklasf
PRs | <li>python/cpython#878</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-28 16:26] 674c16e4-b864-4d55-874b-0db106acf296 commented on #74122
The patch in http://bugs.python.org/issue16881 disables the nicer macro for gcc 3.x due to a small typo.

The build is not failing. The guard just unnescessarily evaluates to false.

[2017-03-28 16:50] methane commented on #73829
New changeset 6a04ef7ceddae0930eba6cc57ba2ebfcef00abab by INADA Naoki in branch '2.7':
bpo-29643: Fix check for --enable-optimizations (GH-873)
https://github.com/python/cpython/commit/6a04ef7ceddae0930eba6cc57ba2ebfcef00abab

[2017-03-28 16:51] #73829 closed, assigned to nobody

[2017-03-28 17:06] njsmith commented on #74112
(oh, in case it wasn't obvious: the advantage of raise() over kill() and pthread_kill() is that raise() works everywhere, including Windows, so it would avoid platform specific logic. Or if you don't like raise() for some reason then you can get the same effect by doing handler = PyOS_getsig(SIGINT); if (handler) handler(SIGINT); )

(Also, this is all assuming the python 3 logic on Windows. On Win

[2017-03-28 17:39] eryksun commented on #74112
Nathaniel's suggestion to update the implementation to work with raise(SIGINT) sounds like a good idea.

Fpr Windows, GenerateConsoleCtrlEvent is definitely a non-starter. PyErr_SetInterrupt shouldn't depend on having an attached console. IDLE generally runs without one. Even if the process has a console, there's no way to limit GenerateConsoleCtrlEvent to just the current process. It works with p

[2017-03-28 17:43] 6457814f-619c-4185-8065-7cbdd66781f6 opened #74123 "argparse mutex group should allow mandatory parameters"
BPO | [29937](https://bugs.python.org/issue29937)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-28 17:43] 6457814f-619c-4185-8065-7cbdd66781f6 commented on #74123
I see elsewhere, and from use, that a mutex group will not support mandatory positional parameters.

TBH, I don't understand why this should be any different from any other option, but if it must, then I think it should follow the 'required' parameter of the mutex.

So, it should be possible to have a mutex group where one option must be chosen and that option must have positional parameters.

(My

[2017-03-28 19:50] brettcannon commented on #74114
I think we're getting bogged down in a larger scope than this issue is about. All we should be discussing in this issue is whether adding an entry in the glossary for "f-string" as it's already being used in the community is bad (which I don't think it is since it's seeing use "in the wild"). No one is suggesting we change all the documentation to start using the shorthand/slang term, nor to intro

[2017-03-28 20:12] bitdancer commented on #74114
Agreed with Brett.  What I was trying to say was that we aren't going to get people to change to a different term, nor are the other 'x-string' abbreviations interesting, so we should document just f-string. But I wasn't exactly clear that that was my point :).

[2017-03-28 21:05] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74114
I was probably misunderstood, too, in hindsight, it's my fault for not being more clear :-).

In my first sentence I was merely pointing out the oddity of \<prefix\>-string not being a very popular term until f-string came along.

As for my second sentence (adding the other prefixed strings to the glossary) I was thinking of using the names people currently use. Entries for (byte|raw|unicode)-stri

[2017-03-28 21:28] Mariatta commented on #74114
Since this ticket is about adding f-strings to the Glossary, let's keep this as discussions about the inclusion of f-strings in the Glossary.

If others want to add (byte|raw|unicode)-strings into the Glossary, they can open another ticket.

Thanks :)

P.S: I like David's quote "..f-string. It's a term of art"

[2017-03-28 21:32] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74114
Completely agree, Mariatta. I just wanted to clarify my initial position :-)

[2017-03-28 22:58] 6dc5fa09-c015-40b7-9add-690d18735659 commented on #74116
Got hit by this too, maaaaany times as I'm working with 3G devices (slow write speeds).

As for "drain()", I'd say it should work like a fence/barrier: to let you know that the bytes in the buffer up to when the call was issued have been successfully written on the socket.

I'll see what I can cook up.

Cheers

[2017-03-28 23:03] eryksun commented on #74112
Actually, the execution process is attached to a console, but it doesn't use it for sys.std*. Try

    open('con', 'w').write('spam\n')

There's no default handler for SIGBREAK, so when working in the console it's typically better to use Ctrl+Break to kill Python. This preserves the console's arrow-key & F7 input history and scrollback buffer.

[2017-03-29 00:56] 709d4b94-89dd-4c9f-a128-dd0d0d835bd5 commented on #74124
print(subprocess.run("bash -c ls", shell=True, stdout=subprocess.PIPE, encoding='utf_16_le').stdout)
\# 错误: 0x80070057
\# error: 0x80070057

And the returncode is 4294967295.

OS: Simp-Chinese Win10; Bash on Windows(Ubuntu 14.04 LTS).
Python 3.5 and Python 3.6 produce the same issue.

While not capture stdout, the command works just fine and output the result onto screen.

[2017-03-29 00:56] 709d4b94-89dd-4c9f-a128-dd0d0d835bd5 opened #74124 "subprocess.run calling bash on windows10 cause 0x80070057 error when capture stdout with PIPE"
BPO | [29938](https://bugs.python.org/issue29938)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @SLAPaper

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-29 04:58] benjaminp commented on #74122
New changeset 83371f4f7f70406ea5d08c5fa8dbdbbcc0355ee1 by Benjamin Peterson (Niklas Fiekas) in branch 'master':
bpo-29936: fix typo \_\_GNU\*C*_MINOR__ (#878)
https://github.com/python/cpython/commit/83371f4f7f70406ea5d08c5fa8dbdbbcc0355ee1

[2017-03-29 04:58] benjaminp commented on #74122
Thanks. We should probably just unsupport gcc 3.x.

[2017-03-29 04:58] #74122 closed, assigned to nobody

[2017-03-29 05:28] zhangyangyu commented on #74113
New changeset c431854a0963d4ec2875efab2d2425a738895280 by Xiang Zhang (Louie Lu) in branch 'master':
bpo-29927: Remove duplicate BufferError init and unnecessary semicolons (GH-866)
https://github.com/python/cpython/commit/c431854a0963d4ec2875efab2d2425a738895280

[2017-03-29 05:29] zhangyangyu commented on #74113
Since the unnecessary codes have no semantic effect, I think they only need to go in 3.7. Thanks for your report and patch!

[2017-03-29 05:31] #74113 closed, assigned to nobody

[2017-03-29 06:44] serhiy-storchaka opened #74125 "Compiler warning in _ctypes_test.c"
BPO | [29939](https://bugs.python.org/issue29939)
--- | :---
Nosy | @vsajip, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#902</li><li>python/cpython#1038</li><li>python/cpython#1039</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code

[2017-03-29 06:44] serhiy-storchaka commented on #74125
Compiler warning was introduced by bpo-29565.

/home/serhiy/py/cpython/Modules/_ctypes/_ctypes_test.c: In function ‘_testfunc_large_struct_update_value’:
/home/serhiy/py/cpython/Modules/_ctypes/_ctypes_test.c:53:42: warning: parameter ‘in’ set but not used [-Wunused-but-set-parameter]
 \_testfunc_large_struct_update_value(Test in)
                                          ^

[2017-03-29 07:41] d39fc50f-b0e1-4101-b3a2-610bbbc7700a commented on #74116
drain() returns when the write buffer reaches the low water mark, not when it's empty, so you don't have a guarantee that your bytes were written to the socket.

https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/Lib/asyncio/protocols.py#L36-L40

The low water mark defaults to 64kB and the high water mark to 256kB.

https://github.com/python/cpython/blob/6f0eb931835190

[2017-03-29 11:25] vsajip commented on #74125
Yes, this is on my radar. I'm planning to make some changes to this file in response to bpo-22273, and will stick in a (void) in to get rid of the warning.

[2017-03-29 13:04] 6f15b033-fd7b-4dcd-91c4-3a1124b9b11a commented on #74066
I have unistall readline and install gnureadline,but cpyton also crashed

\# ./pip3 install gnureadline
Collecting gnureadline
Installing collected packages: gnureadline
  Running setup.py install for gnureadline ... done
Successfully installed gnureadline-6.3.3

\# ./python3
Python 3.6.1 (default, Mar 27 2017, 23:50:01)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-11)] on linux
Type "help", "copyright", "c

[2017-03-29 15:41] ca7ace24-b88c-4714-94ae-52605b2ac070 opened #74126 "Add follow_wrapped=True option to help()"
BPO | [29940](https://bugs.python.org/issue29940)
--- | :---
Nosy | @rhettinger, @taleinat, @eamanu
PRs | <li>python/cpython#12915</li><li>python/cpython#22390</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[cod

[2017-03-29 15:41] ca7ace24-b88c-4714-94ae-52605b2ac070 commented on #74126
The help(obj) function uses the type of obj to create its result.  This is less than helpful when requesting help on a wrapped object.  Since 3.5, inspect.signature() and inspect.from_callable() have a follow_wrapped option to get around similar issues.  Adding the option to help() would prevent surprising behavior while still allowing current behavior to be used when needed.  See http://stackover

[2017-03-29 16:02] rhettinger commented on #74121
The error message should be fixed and the API should be left alone.  A \*None* value doesn't do a good jog of communicating intent.

[2017-03-29 16:41] 2a5897c7-f5c5-43aa-84fd-f51a7ec819bd commented on #74127
There is a bit of confusion in the CPython source between Py_DEBUG and (C) asserts. By default Python builds without Py_DEBUG and without asserts (definining NDEBUG to disable them). Turning on Py_DEBUG also enables asserts. However, it \*is* possible to turn on asserts \*without* turning on Py_DEBUG, and at Google we routinely build CPython that way. (Doing this with the regular configure/make pr

[2017-03-29 16:41] 2a5897c7-f5c5-43aa-84fd-f51a7ec819bd opened #74127 "Confusion between asserts and Py_DEBUG"
BPO | [29941](https://bugs.python.org/issue29941)
--- | :---
Nosy | @tim-one, @Yhg1s, @gpshead, @vstinner, @zware, @serhiy-storchaka
PRs | <li>python/cpython#886</li><li>python/cpython#929</li><li>python/cpython#930</li><li>python/cpython#934</li><li>python/cpython#935</li><li>python/cpython#955</li><li>python/cpython#956</li><li>python/cpython#980</li><li>python/cpython#1731</li><li>python/cpytho

[2017-03-29 16:43] Yhg1s commented on #74127
Ugh, I logged in with the wrong OpenID without noticing; that was supposed to be me ;-P

[2017-03-29 16:46] serhiy-storchaka commented on #74121
I concur with Raymond. Proposed patch fixes error messages and doesn't change the public API.

[2017-03-29 17:09] Yhg1s opened #74128 "Stack overflow in itertools.chain.from_iterable."
BPO | [29942](https://bugs.python.org/issue29942)
--- | :---
Nosy | @Yhg1s, @rhettinger, @gpshead, @mdickinson, @serhiy-storchaka
PRs | <li>python/cpython#889</li><li>python/cpython#911</li><li>python/cpython#912</li><li>python/cpython#913</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Sho

[2017-03-29 17:09] Yhg1s commented on #74128
itertools.chain.from_iterable (somewhat ironically) uses recursion to resolve the next iterator, which means it can run out of the C stack when there's a long run of empty iterables. This is most obvious when building with low optimisation modes, or with Py_DEBUG enabled:

[code]

[2017-03-29 17:57] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 commented on #74121
I think it is a mistake not to support None values. Please consider:

The existing message clearly suggests that the intent is to support the same set of values as the start/stop parameters of the slice type. str, bytes, and bytearray all support None for `index`, as well as `count`, `find`, `rfind`, and `rindex`.

Not supporting None makes the type signature of list.index and tuple.index subtly d

[2017-03-29 18:09] brettcannon commented on #74118
New changeset a90e64b78d74b80a7cbcca2237280c724b99431b by Brett Cannon (Sylvain) in branch 'master':
bpo-29932: Fix small error message typos in arraymodule.c (GH-888)
https://github.com/python/cpython/commit/a90e64b78d74b80a7cbcca2237280c724b99431b

[2017-03-29 18:09] #74118 closed, assigned to nobody

[2017-03-29 21:14] Mariatta commented on #73863
New changeset 85deefcf61d3cc192846f41a4ccc6df17da60c98 by Mariatta (csabella) in branch 'master':
bpo-29677: DOC: clarify documentation for `round` (GH-877)
https://github.com/python/cpython/commit/85deefcf61d3cc192846f41a4ccc6df17da60c98

[2017-03-29 22:29] csabella commented on #73863
Mariatta,

Thank you so much for your support and encouragement while I worked on my first PR.  You've made this an awesome experience!

[2017-03-29 22:40] eryksun commented on #74124
The initial release of WSL doesn't support passing non-console standard handles from Windows to Linux, or vice versa. It will work if you switch to a Windows Insider preview build. Otherwise you'll have to wait for the Windows 10 Creators Update.

See the following video and blog post by Ben Hillis for a discussion of the architecture changes that were made to support this feature:

https://blogs.

[2017-03-29 22:40] #74124 closed, assigned to nobody

[2017-03-29 23:36] njsmith opened #74129 "PySlice_GetIndicesEx change broke ABI in 3.5 and 3.6 branches"
BPO | [29943](https://bugs.python.org/issue29943)
--- | :---
Nosy | @arigo, @mdickinson, @larryhastings, @benjaminp, @ned-deily, @njsmith, @skrah, @serhiy-storchaka, @zooba, @MojoVampire, @stratakis, @hroncok, @jjhelmus
PRs | <li>python/cpython#1049</li><li>python/cpython#1050</li><li>python/cpython#1813</li><li>python/cpython#2015</li>

<sup>*Note: these values reflect the state of the issue at t

[2017-03-29 23:36] njsmith commented on #74129
In the process of fixing bpo-27867, a new function PySlice_AdjustIndices was added, and PySlice_GetIndicesEx was converted into a macro that calls this new function. The patch was backported to both the 3.5 and 3.6 branches, was released in 3.6.1, and is currently slated to be released as part of 3.5.4.

Unfortunately, this breaks our normal ABI stability guarantees for micro releases: it means th

[2017-03-29 23:38] larryhastings commented on #74129
Let's make it a release blocker for now.

[2017-03-29 23:56] csabella commented on #74103
I am working on a pull request for this issue.

[2017-03-30 00:27] orsenthil commented on #74103
New changeset c3c7ef088583cc12bd218138036d1edb6de9c63f by Senthil Kumaran (csabella) in branch 'master':
bpo-29917: DOC: Remove link from PyMethodDef (#890)
https://github.com/python/cpython/commit/c3c7ef088583cc12bd218138036d1edb6de9c63f

[2017-03-30 02:10] Mariatta commented on #73863
New changeset 2609c9ee78c53d501914a5a90dbe094d9a8c3c97 by Mariatta in branch '3.6':
bpo-29677: DOC: clarify documentation for `round` (GH-877) (GH-892)
https://github.com/python/cpython/commit/2609c9ee78c53d501914a5a90dbe094d9a8c3c97

[2017-03-30 02:10] Mariatta commented on #73863
New changeset eef6e11f9883f54de491121b8c49fdadd3e3506d by Mariatta in branch '3.5':
bpo-29677: DOC: clarify documentation for `round` (GH-877) (GH-893)
https://github.com/python/cpython/commit/eef6e11f9883f54de491121b8c49fdadd3e3506d

[2017-03-30 02:16] Mariatta commented on #73863
Gerrit, Cheryl, thanks and congrats for your first contributions to CPython!

They've been merged and backported to 3.5 and 3.6.
So I'm closing this now.

Thanks all :)

[2017-03-30 02:16] #73863 closed, assigned to nobody

[2017-03-30 05:09] serhiy-storchaka commented on #74129
My apologies for breaking the world.

The workaround is to undefine PySlice_GetIndicesEx after #include "Python.h".

[code]

But this restores the initial bug.

Other obvious solution -- declare 3.6.0 broken and require upgrading to 3.6.1.

For 3.5.4 we can disable defining the macro when Py_LIMITED_API is not defined. This will restore the initial bug in many extensions. And we need other way to

[2017-03-30 05:13] daec5e0b-aef7-47d0-b4e5-b7c4158c6159 commented on #73719
May be I described the problem not clearly enough, because English is not my native language, so I try to explain once again.

In Windows there is an option "Do not use proxy server for address beginning with". I call this option \<proxy bypass list\>. This option is invented for Internet Explorer (IE) and is used by IE. It could be used by other applications and I think it's obvious that other ap

[2017-03-30 05:26] tim-one commented on #74127
I think we should certainly support asserts regardless of whether Py_DEBUG is in force (although Py_DEBUG should imply asserts run too).

And I wish you had stuck to just that much ;-)  The argument against, e.g., 'assert(!PyErr_Occurred())', seems exceedingly weak.  An `assert()` is to catch things that are never supposed to happen.  It's an error in the implementation if such a thing ever does h

[2017-03-30 05:29] orsenthil commented on #74103
New changeset da6ad2f780d187fbfdea330d1037766ae7bdb778 by Senthil Kumaran in branch '3.6':
bpo-29917: DOC: Remove link from PyMethodDef (#890) (#894)
https://github.com/python/cpython/commit/da6ad2f780d187fbfdea330d1037766ae7bdb778

[2017-03-30 05:29] orsenthil commented on #74103
New changeset d1dbbaab01354f01faa696aff1280db3b349e354 by Senthil Kumaran in branch '3.5':
bpo-29917: DOC: Remove link from PyMethodDef (#890) (#895)
https://github.com/python/cpython/commit/d1dbbaab01354f01faa696aff1280db3b349e354

[2017-03-30 05:29] orsenthil commented on #74103
New changeset 3ceca68741f8a2d3a4436b6d54eae76aa5bcc4c5 by Senthil Kumaran in branch '2.7':
bpo-29917: DOC: Remove link from PyMethodDef (#890) (#896)
https://github.com/python/cpython/commit/3ceca68741f8a2d3a4436b6d54eae76aa5bcc4c5

[2017-03-30 05:30] #74103 closed, assigned to nobody

[2017-03-30 05:39] serhiy-storchaka commented on #74127
Perhaps it would be better to raise SystemError for errors in user extensions and left assert() only for checking invariants that can't be broken by user code. But checking the condition takes time, assert() is cheaper.

Perhaps it would be better to replace some of asserts in non-critical code with runtime checks and PyErr_BadArgument()/PyErr_BadInternalCall().

[2017-03-30 05:48] serhiy-storchaka commented on #73878
The \_\_exit__() method doesn't conform PEP-8.

PEP-8: """Be consistent in return statements. Either all return statements in a function should return an expression, or none of them should. If any return statement returns an expression, any return statements where no value is returned should explicitly state this as return None , and an explicit return statement should be present at the end of the

[2017-03-30 05:59] serhiy-storchaka commented on #74129
2.7 is affected too.

Nathaniel, could you add references to this issue and to original bpo-27867 on the Fedora bug tracker?

[2017-03-30 05:59] benjaminp commented on #74073
We should change the tests to fail if they get a 404.

[2017-03-30 06:09] serhiy-storchaka commented on #74064
New changeset ba85d69a3e3610bdd05f0dd372cf4ebca178c7fb by Serhiy Storchaka in branch 'master':
bpo-29878: Add global instances of int for 0 and 1. (#852)
https://github.com/python/cpython/commit/ba85d69a3e3610bdd05f0dd372cf4ebca178c7fb

[2017-03-30 06:15] serhiy-storchaka commented on #74038
New changeset 762bf40438a572a398e500c74e38f9894ea20a45 by Serhiy Storchaka in branch 'master':
bpo-29852: Argument Clinic Py_ssize_t converter now supports None (#716)
https://github.com/python/cpython/commit/762bf40438a572a398e500c74e38f9894ea20a45

[2017-03-30 06:20] #74038 closed, assigned to nobody

[2017-03-30 06:20] #74064 closed, assigned to nobody

[2017-03-30 06:28] JelleZijlstra commented on #74121
I agree with George that supporting None here is the better option.

This problem also applies to collections.deque. tuple, list, and deque all have very similar index implementations, and it would be nice to merge their argument parsing boilerplate.

[2017-03-30 06:36] df79943f-4aee-4531-a00d-c6b12816eb70 opened #74130 "Argumentless super() fails in classes constructed with type()"
BPO | [29944](https://bugs.python.org/issue29944)
--- | :---
Nosy | @ncoghlan, @vstinner, @benjaminp, @vadmium, @MojoVampire, @zhangyangyu, @DimitrisJim, @mr-nfamous, @cdonovick

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-03-30 06:36] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #74130
The simplest example:

[code]

[code]

If this is intended behavior, at least the error message could be fixed.

[2017-03-30 06:47] serhiy-storchaka commented on #74002
New changeset 918403cfc3304d27e80fb792357f40bb3ba69c4e by Serhiy Storchaka in branch 'master':
bpo-29816: Shift operation now has less opportunity to raise OverflowError. (#680)
https://github.com/python/cpython/commit/918403cfc3304d27e80fb792357f40bb3ba69c4e

[2017-03-30 07:00] serhiy-storchaka commented on #74002
Thank you for your review Mark.

[2017-03-30 07:00] #74002 closed, assigned to nobody

[2017-03-30 07:01] serhiy-storchaka commented on #74104
New changeset 84b8e92e463bd6a5174bd3e5a6543580f6319c57 by Serhiy Storchaka in branch 'master':
bpo-29918: Add missed "const" modifiers in C API documentation. (#846)
https://github.com/python/cpython/commit/84b8e92e463bd6a5174bd3e5a6543580f6319c57

[2017-03-30 07:01] #74104 closed, assigned to nobody

[2017-03-30 07:36] rhettinger commented on #74128
This looks fine.  Feel free to apply and to backport this to earlier versions.

I would have guessed that the C compiler would have automatically removed the tail recursion, but your experience would indicate otherwise.

[2017-03-30 07:44] zhangyangyu commented on #74099
New changeset 16f852345bcdec1bbb15e5363fad6b33bf960912 by Xiang Zhang (s-sanjay) in branch 'master':
bpo-29913: deprecate compare_networks() in documentation (GH-865)
https://github.com/python/cpython/commit/16f852345bcdec1bbb15e5363fad6b33bf960912

[2017-03-30 07:45] #74099 closed, assigned to nobody

[2017-03-30 07:46] mdickinson commented on #74128
I think it probably does, unless optimisation is turned off: I'm unable to reproduce except in debug builds of Python.

[2017-03-30 07:53] vstinner commented on #74073
Benjamin: "We should change the tests to fail if they get a 404."

Good idea. Currently, the test is explicitly skipped on this case. Since "-u urlfetch" option must be explicitly passed on the command line, it makes sense to fail on that case.

I proposed https://github.com/python/cpython/pull/905 change for that. Not sure if it's worth to backport such change to older Python versions?

[2017-03-30 08:03] pfmoore commented on #73719
The behaviour you're describing for IE sounds like a bug to me. If you specify a host that should bypass the proxy, then that's what should happen - it shouldn't matter if you specify the host by IP address or by name.

I'm -1 on Python trying to match IE bugs.

[2017-03-30 08:15] 3883a5bd-3b4b-4ea8-9050-aee0554a9d45 opened #74131 "decode string:u"\ufffd" UnicodeEncodeError"
BPO | [29945](https://bugs.python.org/issue29945)
--- | :---
Nosy | @vstinner, @ezio-melotti, @eryksun, @bts_webber
Files | <li>[windows.jpg](https://bugs.python.org/file46767/windows.jpg "Uploaded as image/jpeg at 2017-03-30.08:17:40 by @bts_webber")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details>

[2017-03-30 08:15] 3883a5bd-3b4b-4ea8-9050-aee0554a9d45 commented on #74131
I use  python on linux, version is 2.7.13:

[code]

but,windows version run success!

[2017-03-30 08:25] vstinner commented on #74131
Decoding Unicode doesn't make any sense. You should take a look at http://unicodebook.readthedocs.io/ to understand what you are doing :-)

(On Python 3, Unicode strings, the str type, has no mode .decode() type.)

I suggest to close the issue has NOT A BUG.

[2017-03-30 08:28] zhangyangyu opened #74132 "compiler warning "sqrtpi defined but not used""
BPO | [29946](https://bugs.python.org/issue29946)
--- | :---
Nosy | @rhettinger, @mdickinson, @serhiy-storchaka, @zhangyangyu, @mlouielu
PRs | <li>python/cpython#908</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields

[2017-03-30 08:28] zhangyangyu commented on #74132
Ubuntu 16.10, GCC 6.2.0

[code]

[2017-03-30 08:43] 9da18a29-a07d-4828-a801-24cc911246de commented on #74132
I can reproduce on ArchLinux 4.10.1-1, GCC 6.3.1:

[code]

----

Is used by `m_erfc_contfrac` and `m_erf_series`, and inside the block of "#if !defined(HAVE_ERF) || !defined(HAVE_ERFC)", maybe sqrtpi should do the same condition?

[2017-03-30 09:12] rhettinger commented on #74121
Sorry, modifying these mature APIs is a really bad idea.  They are worked well as-is of over a decade.  Seeing people use None for these arguments makes the code less readable.

Python has a number of APIs where the number of arguments controls the behavior.  For example, type() with one argument does something very different that type() with three arguments.  Likewise, iter() behaves differently

[2017-03-30 11:06] eryksun commented on #74131
Trying to decode a non-ASCII unicode string should raise an exception on any platform:

[code]

Unless you've modified the default encoding to something other than ASCII. For example:

[code]

[2017-03-30 11:06] #74131 closed, assigned to nobody

[2017-03-30 12:08] 16440bb9-eff1-4650-bdfc-462c0b32fb48 opened #74133 "In SocketServer, why not passing a factory instance for the RequestHandlerClass instead of the class itself?"
BPO | [29947](https://bugs.python.org/issue29947)
--- | :---
Nosy | @ericvsmith, @bitdancer, @vadmium, @MaharishiCanada
PRs | <li>python/cpython#1496</li>
Files | <li>[Issue29947_for_discussion_04.patch](https://bugs.python.org/file46781/Issue29947_for_discussion_04.patch "Uploaded as text/plain at 2017-04-05.15:13:01 by @MaharishiCanada")</li>

<sup>*Note: these values reflect the state of the is

[2017-03-30 12:08] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
I am just curious to know if someone considered the idea of passing a factory instance that returns RequestHandlerClass instances instead of directly passing the class? It may affect existing handlers that read non local variables, but there should be a way to make the factory optional. The purpose is only aesthetic and a better organization of the code. I find it awkward to have to subclass the s

[2017-03-30 14:06] daec5e0b-aef7-47d0-b4e5-b7c4158c6159 commented on #73719
Ok, but may be there are some Windows users, that have different opinion, who prefer to put up with this bug for the benefit of better performance. Could you leave them an opportunity to refuse this behavior of urllib?

[2017-03-30 14:20] csabella commented on #73911
I wanted to try to work on the documentation for this, but I had some questions.

I looked at:
https://github.com/python/cpython/blob/master/Modules/_sqlite/cursor.c

And I don't see arraysize being set to anything other than 1.  I also don't see fetchall using it like the documentation says.  fetchmany does seem to be using the size sent in as an argument or using the arraysize (which is 1) to br

[2017-03-30 14:48] ncoghlan commented on #74130
Interestingly, even `types.new_class` misbehaves in this case:

[code]

The error message is confusing here because it's using 'type' as a metavariable to refer to the first argument of super(), \*not* to the builtin called "type".

If we poke around in the MyList.insert closure, we can see the origin of the problem:

[code]

The class cell is still bound to the originally created class object, bu

[2017-03-30 15:03] serhiy-storchaka opened #74134 "DeprecationWarning when parse ElementTree with a doctype in 2.7"
BPO | [29948](https://bugs.python.org/issue29948)
--- | :---
Nosy | @scoder, @serhiy-storchaka
Dependencies | <li>bpo-15083: Rewrite ElementTree tests in a cleaner and safer way</li>
Superseder | <li>bpo-30365: Backport warnings in ElementTree/cElementTree modules and fix bugs</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curren

[2017-03-30 15:03] serhiy-storchaka commented on #74134
DeprecationWarning is emitted when parse ElementTree with a doctype in 2.7.

[code]

[2017-03-30 15:06] vstinner commented on #74073
New changeset 722a3af092b94983aa26f5e591fb1b45e2c2a0ff by Victor Stinner in branch 'master':
bpo-29887: Test normalization now fails if download fails (#905)
https://github.com/python/cpython/commit/722a3af092b94983aa26f5e591fb1b45e2c2a0ff

[2017-03-30 15:21] serhiy-storchaka commented on #74121
Thank you Raymond for your review.

In any case we should first fix error messages in maintain releases. Changing signatures of methods of basic type should be discussed on the mailing lists. I don't think this needs a PEP, unless this change will be extended to many other methods and types.

[2017-03-30 15:29] serhiy-storchaka commented on #74121
New changeset d4edfc9abffca965e76ebc5957a92031a4d6c4d4 by Serhiy Storchaka in branch 'master':
bpo-29935: Fixed error messages in the index() method of tuple, list and deque (#887)
https://github.com/python/cpython/commit/d4edfc9abffca965e76ebc5957a92031a4d6c4d4

[2017-03-30 15:57] mdickinson commented on #74132
This is almost certainly the result of bpo-26121.

+1 to moving the `sqrtpi` definition inside the relevant `#if` blocks.

[2017-03-30 16:03] ericvsmith commented on #74133
Just a guess, but it's because this code was written at a time when subclassing was the preferred way to extend code. Now we know better :), but it's not possible to change history, unfortunately. Lots of code depends on the current behavior.

If you find a way to make a factory function work, while preserving backward comparability, then we can re-open this issue and consider the enhancement requ

[2017-03-30 16:05] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74130
It looks like this is a general problem caused by the fact that a function that is:

1. Defined in a class
2. References the name "super" (even if it's a local variable name, even if it's never called)

isn't "just" a plain function. Even though Python 3 officially removed the concept of unbound methods, there is still some unbound method-like behavior going on, which makes that sort of function i

[2017-03-30 16:13] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74130
This is what I get for leaving a response up and working on it intermittently for three hours, and not rechecking: I found the same basic problem.

For the record, I also found a terribly hacky way of doing this sort of rebinding manually, should you actually need to do so under the current design:

[code]

It would need further improvements to recognize when it needs to run, deal with existing cl

[2017-03-30 16:29] Yhg1s commented on #74127
What happens when you don't have the assert depends on whether the new function call raises an exception or not, and keep in mind \*this is what most people see anyway*: if the new call does not raise an exception, a SystemError is raised, with the original exception as cause:

[code]

If the new call does raise an exception, the original exception is lost (although this may depend on the exact pa

[2017-03-30 16:47] serhiy-storchaka commented on #74121
New changeset bf4bb2e43030661e568d5d4b046e8b9351cc164c by Serhiy Storchaka in branch '3.6':
bpo-29935: Fixed error messages in the index() method of tuple, list and deque (#887) (#907)
https://github.com/python/cpython/commit/bf4bb2e43030661e568d5d4b046e8b9351cc164c

[2017-03-30 16:58] Yhg1s commented on #74128
New changeset 5466d4af5fe76ec0a5fbc8a05675287d9e8e9d14 by T. Wouters in branch 'master':
bpo-29942: Fix the use of recursion in itertools.chain.from_iterable. (#889)
https://github.com/python/cpython/commit/5466d4af5fe76ec0a5fbc8a05675287d9e8e9d14

[2017-03-30 17:05] serhiy-storchaka commented on #74132
New changeset 7a26464c6496c29244072fdd80f9b92c68174742 by Serhiy Storchaka (Louie Lu) in branch 'master':
bpo-29946: Fix "sqrtpi defined but not used" (#908)
https://github.com/python/cpython/commit/7a26464c6496c29244072fdd80f9b92c68174742

[2017-03-30 17:05] Yhg1s commented on #74128
FWIW, we ran into this in real-world cases (Youtube, I think), when we switched from using a pre-built Python interpreter to one built from source using the same optimisation and debug levels as we use for all other C/C++ code. Even so, the accompanying test really does fail in pydebug mode ;-P

I'll backport to 3.6, 3.5 and 2.7.

[2017-03-30 17:31] serhiy-storchaka commented on #74121
New changeset 8b8bde44f3912d8b2df5591ffc31d2d8c6dcca6c by Serhiy Storchaka in branch '3.5':
bpo-29935: Fixed error messages in the index() method of tuple, list and deque (#887) (#907) (#909)
https://github.com/python/cpython/commit/8b8bde44f3912d8b2df5591ffc31d2d8c6dcca6c

[2017-03-30 17:32] serhiy-storchaka commented on #74121
New changeset 079f21f873b99f9564a41c5b7f3e0d7035847ae5 by Serhiy Storchaka in branch '2.7':
bpo-29935: Fixed error messages in the index() method of tuple and list (#887) (#907) (#910)
https://github.com/python/cpython/commit/079f21f873b99f9564a41c5b7f3e0d7035847ae5

[2017-03-30 17:34] #74121 closed, assigned to serhiy-storchaka

[2017-03-30 18:02] serhiy-storchaka commented on #74128
Possible workaround: use chain.from_iterable(filter(None, iterables)) instead of chain.from_iterable(iterables). But this works only when iterables are collections, not iterators.

[2017-03-30 18:07] tim-one commented on #74127
So there's more than one issue here.

First, should asserts be supported in the absence of Py_DEBUG?  It seems, so far, everyone agrees they should be.

Second, ...?  I'm really not following your argument.  It \_appears_ to be something along the lines that code "shouldn't be" checking for PyErr_Occurred() at all ... because "nothing goes 'more wrong' when the assert is not there".  Maybe, maybe

[2017-03-30 18:09] methane opened #74135 "sizeof set after set_merge() is doubled from 3.5"
BPO | [29949](https://bugs.python.org/issue29949)
--- | :---
Nosy | @rhettinger, @cameron-simpson, @methane, @serhiy-storchaka
PRs | <li>python/cpython#943</li><li>python/cpython#945</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.

[2017-03-30 18:09] methane commented on #74135
(original thread is https://mail.python.org/pipermail/python-list/2017-March/720391.html)

https://github.com/python/cpython/commit/4897300276d870f99459c82b937f0ac22450f0b6

this commit doubles sizeof set object created by set_merge().
It is used by constructor of set and frozenset.

[code]

[code]

[2017-03-30 18:26] serhiy-storchaka commented on #74067
Ping. My suggestion is to rename \_PY_ONCEVAR_INIT to \_Py_SET_ONCE and make it returning the value. And apply this to more static and global variables.

[2017-03-30 18:44] Yhg1s commented on #74127
Dropped the Py_DEBUG guards from the dubious asserts in the PR.

[2017-03-30 19:12] Mariatta commented on #74114
New changeset 33db068dac7686e37736f7ecf8abb2aee0345cf2 by Mariatta in branch 'master':
bpo-29928: Add f-string to the Glossary (GH-864)
https://github.com/python/cpython/commit/33db068dac7686e37736f7ecf8abb2aee0345cf2

[2017-03-30 19:27] Mariatta commented on #74114
New changeset 7b5b1379ac2c1e89ebf90b88b5d32457910e975e by Mariatta in branch '3.6':
bpo-29928: Add f-string to the Glossary (GH-864) (GH-914)
https://github.com/python/cpython/commit/7b5b1379ac2c1e89ebf90b88b5d32457910e975e

[2017-03-30 19:30] Mariatta commented on #74114
Thanks all!

[2017-03-30 19:30] #74114 closed, assigned to Mariatta

[2017-03-30 19:48] Yhg1s commented on #74128
New changeset 599bb181036f724629a515317f0f39520950d51c by T. Wouters in branch '3.6':
bpo-29942: Fix the use of recursion in itertools.chain.from_iterable. (#911)
https://github.com/python/cpython/commit/599bb181036f724629a515317f0f39520950d51c

[2017-03-30 19:48] Yhg1s commented on #74128
New changeset 9273dfe1800fc7241d69f4d523d748ebd35b3801 by T. Wouters in branch '3.5':
bpo-29942: Fix the use of recursion in itertools.chain.from_iterable. (#912)
https://github.com/python/cpython/commit/9273dfe1800fc7241d69f4d523d748ebd35b3801

[2017-03-30 19:49] Yhg1s commented on #74128
New changeset d694a06206fc09b76b4507aacde5e69a248f434f by T. Wouters in branch '2.7':
bpo-29942: Fix the use of recursion in itertools.chain.from_iterable. (#913)
https://github.com/python/cpython/commit/d694a06206fc09b76b4507aacde5e69a248f434f

[2017-03-30 19:52] csabella commented on #73937
I have a pull request ready for the documentation, but I didn't understand the underscore usage, so I couldn't add that.

If you explain it, then I can try to add it.

[2017-03-30 19:52] #74128 closed, assigned to Yhg1s

[2017-03-30 19:57] vstinner commented on #74073
Oh, Zachary reported me the following failure which is legitimate. The code doesn't handle correctly read-only library directory.

The test should try to write the file in a temporary file, or simply skip the test.

http://buildbot.python.org/all/builders/x86%20Gentoo%20Installed%20with%20X%203.x/builds/500/steps/test/logs/stdio

\===================================================================

[2017-03-30 20:29] terryjreedy commented on #73937
String arguments to int are quoted int literals.  From
https://docs.python.org/3/reference/lexical_analysis.html#literals
'Underscores are ignored for determining the numeric value of the literal. They can be used to group digits for enhanced readability. One underscore can occur between digits, and after base specifiers like 0x.'

For your patch, I would summarize this by expanding 'Leading space

[2017-03-30 22:32] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74136
The name SlotWrapperType was added in bpo-29377 but it added the type based on the repr of the object instead of it's type as `type(object.__init__)` results in.

I proposed this be named to WrapperDescriptorType to avoid and any unecessary confusion down the line.

[2017-03-30 22:32] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74136 "Rename SlotWrapperType to WrapperDescriptorType"
BPO | [29950](https://bugs.python.org/issue29950)
--- | :---
Nosy | @berkerpeksag, @DimitrisJim, @corona10
PRs | <li>python/cpython#1166</li><li>python/cpython#926</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-03-30 23:26] zooba commented on #73719
I think the point is that we don't want to be grabbing settings like this from other configuration locations. Ideally, there'd be a way to provide a list of "don't bypass the proxy for these names", which a caller could then read from the IE configuration if they want.

The other part of the problem is it seems that nobody on this thread (apart from perhaps you) understands exactly what's going on

[2017-03-31 00:03] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74137
Some exceptions thrown by `PyArg_ParseTupleAndKeywords` refer to "function" or "this function" even when a function name was specified.

For example:

[code]

Wouldn't it be better to replace the "this function" part (if given) with the actual function name?

[2017-03-31 00:03] 84dd73fe-9313-425f-aae0-390228a90839 opened #74137 "PyArg_ParseTupleAndKeywords exception messages containing "function""
BPO | [29951](https://bugs.python.org/issue29951)
--- | :---
Nosy | @vstinner, @bitdancer, @vadmium, @serhiy-storchaka, @MSeifert04
PRs | <li>python/cpython#916</li><li>python/cpython#2028</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-03-31 01:46] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
One way to make the factory optional is to offer a MixIn. I attached a file with a FactoryMixIn. It's just that I find it awkward that the proposed approach is to pass the extra parameters in a subclassed server. More modern approaches should also be offered.

[2017-03-31 02:20] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
Finally, I looked around and people just use the server to pass any extra parameter. I do find it awkward, but it works and it is simple, in fact simpler than having to define a factory object. I don't close it, because I will be happy to see another opinion. I would use this factory approach for myself, because I am just not comfortable to add an attribute to a server that would not even look at

[2017-03-31 03:16] methane commented on #74135
https://gist.github.com/methane/8faf12621cdb2166019bbcee65987e99
This patch fixes the regression.

But I think it is still larger than idiomatic.  See this code:

code:
    minused \*= 2;
    /* Find the smallest table size \> minused. \*/
    /* XXX speed-up with intrinsics \*/
    for (newsize = PySet_MINSIZE;
         newsize \<= minused && newsize \> 0;
         newsize \<\<= 1)
        ;

Whe

[2017-03-31 03:22] #74132 closed, assigned to nobody

[2017-03-31 03:24] ncoghlan commented on #74130
Right, there's a very similar instance-method-reuse related problem described in http://bugs.python.org/issue29270, where ctypes re-uses a class namespace is define a swapped-endianness version of the originally defined class.

The easiest place to deflect conflicts is at the point where bound instance methods are created:

[code]

However, that method of detection only works for plain instance me

[2017-03-31 03:40] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 commented on #74138
In the section "6.10.1. Value comparisons" [1]_::

   Equality comparison of the keys and elements enforces reflexivity.

would be

   Equality comparison of the keys and values enforces reflexivity.

because we usually call an entry of dict as "key-value pair".

.. [1] https://docs.python.org/3.6/reference/expressions.html#value-comparisons

[2017-03-31 03:40] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 opened #74138 ""keys and values" preferred to "keys and elements" for dict constituent"
BPO | [29952](https://bugs.python.org/issue29952)
--- | :---
Nosy | @methane, @cocoatomo
PRs | <li>python/cpython#917</li><li>python/cpython#922</li><li>python/cpython#923</li><li>python/cpython#924</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-03-31 04:04] ncoghlan commented on #74067
I'm +1 for \_Py_SET_FINALIZED with the semantics Serhiy suggests, and +0 for \_Py_SET_ONCE.

My rationale for that preference is that \_Py_SET_ONCE is a misnomer in the presence of

* multiple Py_Initialize/Py_Finalize cycles; and/or
* \_Py_SETREF calls that replace the value to be finalized

 while \_Py_SET_FINALIZED remains accurate in both cases.

[2017-03-31 04:33] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
On the other hand, it occurs to me that this seems way more flexible than passing the object through the server, because you share the factory with the server, not only the object. This means that you could even change the type of the handler while the server is running !

[2017-03-31 05:31] serhiy-storchaka commented on #74067
I agree with your rationale Nick, but \_Py_SET_FINALIZED is a little too long and highlight only the second function of the macro. I don't have good name.

[2017-03-31 05:45] serhiy-storchaka commented on #74137
LGTM in general. I was going to make similar changes.

While we a here, maybe add the function name to other TypeError messages specific to the function? "Required argument '%U' (pos %d) not found" and "Argument given by name ('%U') and position (%d)", but not to "keywords must be strings".

Classified this as an enhancement.

[2017-03-31 05:48] methane commented on #74138
New changeset cdcac039fb447f2ab04efcacbe663751bb2cb4ec by INADA Naoki (cocoatomo) in branch 'master':
bpo-29952: Use usual terminology of dict (GH-917)
https://github.com/python/cpython/commit/cdcac039fb447f2ab04efcacbe663751bb2cb4ec

[2017-03-31 06:10] serhiy-storchaka commented on #74137
And while we are here, please change "keywords must be strings" to "keyword arguments must be strings" as in PyArg_ValidateKeywordArguments(). And maybe make all TypeError messages starting from a lower letter for uniformity.

[2017-03-31 06:19] ncoghlan commented on #74067
\_PY_SET_FINALIZED is only one letter longer than \_PY_ONCEVAR_INIT and the same length as the originally proposed \_PY_STATICVAR_INIT.

Since it shouldn't be anywhere near as common as \_Py_SETREF, I'm also okay in general with trading a bit of brevity for accuracy.

However, I don't want to trade away \*too* much brevity, so I think we're going to have to choose between reminding readers of "thi

[2017-03-31 06:43] methane commented on #74138
New changeset 4c75fbb485c0e42181aab95c2ae92c597915827c by INADA Naoki in branch '3.6':
bpo-29952: Use usual terminology of dict  (GH-922)
https://github.com/python/cpython/commit/4c75fbb485c0e42181aab95c2ae92c597915827c

[2017-03-31 06:43] methane commented on #74138
New changeset f3158121132a1519439bf4c7dba3333b07802d6d by INADA Naoki in branch '3.5':
bpo-29952: Use usual terminology of dict (GH-923)
https://github.com/python/cpython/commit/f3158121132a1519439bf4c7dba3333b07802d6d

[2017-03-31 06:53] methane commented on #74138
New changeset 5aa913d72317d7632781fb71a7b45a2b5e31558e by INADA Naoki in branch '2.7':
bpo-29952: Use usual terminology of dict (GH-924)
https://github.com/python/cpython/commit/5aa913d72317d7632781fb71a7b45a2b5e31558e

[2017-03-31 09:24] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74137
Thank you for the suggestions, I added them to the PR. If you want

But are you sure about the "keywords must be strings" -\> "keyword arguments must be strings" change? I always thought the key is the "keyword" and the value the "(keyword) argument".

[2017-03-31 09:27] serhiy-storchaka commented on #74137
Martin, could you please take a look? Does the wording of error messages look good English? Do you have to suggest some enhancements?

[2017-03-31 09:36] serhiy-storchaka commented on #74137
Now, after you have made change, I have doubts. Yes, it looks ambiguous. Maybe "keyword names"? Martin, David, what are your thoughts?

[2017-03-31 10:31] serhiy-storchaka commented on #74088
This issue was fixed by bpo-22995 in 3.6. But for some reasons the general solution was not applied to 3.5 and 2.7. Proposed patch makes staticmethod, classmethod and property descriptors explicitly non-pickleable (as was made explicitly non-pickleable file-like object) in 3.5. Only tests will be foreported to 3.6 and 3.7.

[2017-03-31 11:25] rhettinger commented on #74135
I'll look at this over the next week or two.  I don't really like the proposed patch at all but will carefully think through the speed/space trade-offs.

[2017-03-31 12:02] vadmium commented on #74137
In this test, “keyword arguments” is definitely wrong:

[code]

To me, a keyword argument is a \_value_ passed in using the f(name=. . .) syntax, and the keyword is the name that identifies it (usually becomes a parameter name in the function implementation). So I think the original was better. But if you think the original can be confusing, “keyword names” would also work.

The other messages loo

[2017-03-31 12:18] rhettinger commented on #74135
Hmm, I wonder why I'm not seeing the same sizes you are seeing.

[code]

[2017-03-31 12:22] methane commented on #74135
See set_update_internal().
https://github.com/python/cpython/blob/master/Objects/setobject.c#L969-L1016

This happens only when iterable is set or dict.

[code]

[2017-03-31 12:22] serhiy-storchaka commented on #74137
I agree. PyArg_ValidateKeywordArguments() fooled me. Now I see that it would be better to change only PyArg_ValidateKeywordArguments().

[2017-03-31 12:50] serhiy-storchaka commented on #74135
[code]

3.5:  [(0, 112), (6, 368), (22, 1136), (86, 4208), (342, 16496), (1366, 65648), (5462, 262256)]
3.6:  [(0, 112), (5, 368), (21, 1136), (85, 4208), (341, 16496), (1365, 65648), (5461, 262256)]
3.7:  [(0, 112), (5, 368), (19, 1136), (77, 4208), (307, 16496), (1229, 65648), (4915, 262256)]

[code]

3.5:  [(0, 112), (6, 240), (8, 368), (16, 624), (32, 1136), (64, 2160), (128, 4208), (256, 8304

[2017-03-31 12:52] methane commented on #74135
This is intensional:
https://github.com/python/cpython/commit/5cd87a8d61246b0a6233bfb8503d4718b693cef0

load factor is reduced from 66% to 60%. (-10%)

[2017-03-31 13:44] serhiy-storchaka commented on #74139
When pass out of bound keyword argument fold to datetime.datetime.replace() or datetime.time.replace(), ValueError is raised and just allocated object is leaked. Proposed patch fixes the leaks.

[2017-03-31 13:44] serhiy-storchaka opened #74139 "Memory leak in the replace() method of datetime and time objects"
BPO | [29953](https://bugs.python.org/issue29953)
--- | :---
Nosy | @abalkin, @serhiy-storchaka
PRs | <li>python/cpython#927</li><li>python/cpython#933</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-03-31 15:10] 1b8b9392-df29-400a-8625-f44843db437b commented on #73911
[code]

As you can see the arraysize set the number of results the fetchmany will return.

[2017-03-31 15:24] rhettinger commented on #74135
I think the best thing to do is to undo the refactoring in https://github.com/python/cpython/commit/4897300276d870f99459c82b937f0ac22450f0b6 .   It is was intended be neutral but did affect set_update_internal() for small sets.

[2017-03-31 15:43] serhiy-storchaka commented on #74083
This issue is related to the behavior of other composite iterators.

[code]

The copy is too shallow. If you consume an item from one copy, it is disappeared for the original.

Compare with the behavior of iterators of builtin sequences:

[code]

[2017-03-31 15:59] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74083
Just an update what doesn't work: just overriding the `__copy__` method.

I tried it but it somewhat breaks `itertools.tee` because if the passed iterable has a `__copy__` method `tee` rather copies the iterator (=> resulting in a lot of unnecessary memory overhead or breakage if a generator is "inside") instead of using it's memory-efficient internals.

[2017-03-31 16:03] serhiy-storchaka commented on #74083
Just for example there is a patch that implements in Python deeper copying for itertools.chain objects. I doesn't mean pushing it, it is too complicated. I have wrote also slightly simpler implementation, but it doesn't work due to the behavior of copied map object.

[2017-03-31 16:14] Yhg1s commented on #74127
New changeset a00c3fd12d421e41b769debd7df717d17b0deed5 by T. Wouters in branch 'master':
bpo-29941: Assert fixes (#886)
https://github.com/python/cpython/commit/a00c3fd12d421e41b769debd7df717d17b0deed5

[2017-03-31 16:16] Yhg1s commented on #74127
This needs some measure of backporting, now that it's just build-time fixes. I'll take a look.

[2017-03-31 16:31] csabella commented on #73911
Hi Aviv,

Thank you so much for explaining that!  It's obvious to me now.  It wasn't marked as READ ONLY in the program, so of course it would set by the caller.  I'll be able to document that.

I still have the question about this line in fetchall - " Note that the cursor’s arraysize attribute can affect the performance of this operation. "  I don't see arraysize referenced in that function.  I m

[2017-03-31 16:35] zware commented on #74127
This seems to have seriously broken a few buildbots:

http://buildbot.python.org/all/builders/AMD64%20Debian%20PGO%203.x/builds/539
http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Non-Debug%203.x/builds/120
http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Non-Debug%203.x/builds/578

[2017-03-31 16:36] 702a5500-6f30-4cf1-bd63-c0dd44ddb1b8 opened #74140 "multiprocessing.Pool.__exit__() calls terminate() instead of close()"
BPO | [29954](https://bugs.python.org/issue29954)
--- | :---
Nosy | @pitrou, @MojoVampire, @applio, @s3rvac

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-31 16:36] 702a5500-6f30-4cf1-bd63-c0dd44ddb1b8 commented on #74140
multiprocessing.Pool.\_\_exit__() calls terminate() instead of close(). Why? Wouldn't it be better (and more expected from a user's point of view) if it called close()?

Reasons:

- Calling close() would wait until all tasks are completed before shutting down the pool instead of terminating them abruptly when some of them may still be running.

- concurrent.futures.ProcessPoolExecutor.\_\_exit__()

[2017-03-31 17:09] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #73720
Does anyone know how to disable the spurious pull requests that keep coming in?

[2017-03-31 17:18] smontanaro opened #74141 "logging decimal point should come from locale"
BPO | [29955](https://bugs.python.org/issue29955)
--- | :---
Nosy | @smontanaro, @rhettinger, @vsajip, @pitrou, @zhangyangyu
PRs | <li>python/cpython#931</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</

[2017-03-31 17:18] smontanaro commented on #74141
The logging module hard codes the decimal point for timestamps to be ",". It should use locale.localeconv()["decimal_point"] instead.

[2017-03-31 17:19] methane commented on #74135
I agree.  Before thinking about rebalance between size and speed,
resolving regression is important.

[2017-03-31 17:21] Yhg1s commented on #74127
FYI, buildbot issues should be fixed by PR #930.

[2017-03-31 17:29] bitdancer commented on #74137
If you want to be completely unambiguous, you could say "keyword argument names".  "keyword argument" appears to mean different things in different contexts; sometimes it means the name and the value together, sometimes one or the other.  Usually which one it is is clear from context, but it seems in this case it is not clear.

[2017-03-31 17:49] zware commented on #74127
Buildbots are happy, thanks!

[2017-03-31 17:58] vsajip commented on #74141
It's not exactly a decimal point, more a "decimal mark" as per ISO 8601. From the Wikipedia article for the standard at  "https://en.wikipedia.org/wiki/ISO_8601#Times -

"However, a fraction may only be added to the lowest order time element in the representation. A decimal mark, either a comma or a dot (without any preference as stated in resolution 10 of the 22nd General Conference CGPM in 2003,

[2017-03-31 18:01] rhettinger commented on #74135
Do you want to prepare a PR for me?  I not yet set-up with the ways of Github.  Please limit the PR to just unwinding the refactoring in the simplest possible way..

If in the future you want to chat about speed/space trade-offs, we can do that offline.  I've spent years thinking about this, interacting with users, discussing with other devs, speaking on the topic, and working through use cases fo

[2017-03-31 19:48] serhiy-storchaka commented on #74139
New changeset 314d6fca36a4eaa0541218431d14804fadec6488 by Serhiy Storchaka in branch 'master':
bpo-29953: Fix memory leaks in the replace() method of datetime and time (#927)
https://github.com/python/cpython/commit/314d6fca36a4eaa0541218431d14804fadec6488

[2017-03-31 20:08] abalkin opened #74142 "math.exp documentation is misleading"
BPO | [29956](https://bugs.python.org/issue29956)
--- | :---
Nosy | @tim-one, @rhettinger, @terryjreedy, @mdickinson, @abalkin, @serhiy-storchaka
PRs | <li>python/cpython#951</li><li>python/cpython#1073</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub f

[2017-03-31 20:08] abalkin commented on #74142
The math.exp(x) function is documented to "Return e\*\*x" \<https://docs.python.org/3/library/math.html#math.exp\>.  This is misleading because even in the simplest case, math.exp(x) is not the same as math.e ** x:

[code]

I suggest using e\<sup\>x instead of e\*\*x to distinguish between Python syntax and mathematical operation and change "Return e\*\*x" to "Return e\<sup\>x, the base-e exponent

[2017-03-31 20:23] serhiy-storchaka commented on #74139
New changeset 7d5d13d8d003ae5b62bb8c9ef1d1f310eaabc506 by Serhiy Storchaka in branch '3.6':
bpo-29953: Fix memory leaks in the replace() method of datetime and t… (#933)
https://github.com/python/cpython/commit/7d5d13d8d003ae5b62bb8c9ef1d1f310eaabc506

[2017-03-31 20:24] #74139 closed, assigned to nobody

[2017-03-31 20:29] serhiy-storchaka commented on #74142
This is because math.e is not the same as e.

[2017-03-31 20:36] abalkin commented on #74142
Right.  That's why I think it would be nice to distinguish math.e and the base of the natural logarithm typographically in the docs.  Can we use sphinx math mode?  If not, I would use italic for the mathematical e.

[2017-03-31 20:54] serhiy-storchaka commented on #74142
\*e*:sup:\`x\` ? I like this idea.

[2017-03-31 21:37] smontanaro commented on #74141
It's Vinay's code, so what he wants should carry the most weight. I did this as much as an exercise in figuring out the whole pull request/bug report process as anything.

[2017-03-31 21:37] berkerpeksag commented on #73911
Thank you for working on this issue, Cheryl. Cursor.row_factory is there for backwards compatibility reasons so we can't remove it until we retire Python 2.

For example, pysqlite has already been removed it in version 2.8.0 [1] but they don't have a strict backwards compatibility policy since their user base is much smaller than us and it only supports Python 2.

[1] https://github.com/ghaering/p

[2017-03-31 21:48] smontanaro commented on #74141
One example demonstrating that the datetime module at least prefers a decimal point:

[code]

Looking at datetime.py, it appears the dot is hard-coded there. Maybe there would be value in the right hand (logging) and the left hand (datetime) doing things the same way?

[2017-03-31 23:11] rhettinger commented on #74142
I suggest changing the main docs to match the existing docstring, "Return e raised to the power of x."

The exp() function is a thin wrapper around the C math library and where it is documented as "compute e (the base of natural logarithms) raised to the power x" or "e raised to the power X (where e is the base of the natural system of logarithms, approximately 2.71828)."  Our docs shouldn't make

[2017-03-31 23:19] rhettinger commented on #73781
Prayslayer, please don't shove.  Your PR request was responded to by Mariatta so it wasn't ignored.

Making decisions about API expansions takes a while (making sure it fits the intended use, that it isn't a bug factory itself, that it is broadly useful, that it is the best solution to the problem, that is doesn't complicate the implementation or limit future opportunities, that there are unforese

[2017-04-01 01:05] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74140
I suspect it's far too late to change this, given compatibility constraints. If you want it to close instead of terminate, contextlib.closing is always an option.

[2017-04-01 02:06] bitdancer commented on #74133
I think I'm missing something here.  What prevents one from passing a factory function as the RequestHandlerClass argument?  In Python, a class name \*is* a factory function for class instances.

[2017-04-01 04:00] rhettinger commented on #74141
+1 for changing this to a period.  Every time I see the comma, it seems odd to me.  It also is harder to parse back into a regular float.  In addition, it is hazard when people use commas and delimiters between the fields in a log file.

[2017-04-01 04:37] 93fb711d-fdf4-46a8-9dad-0481f9581972 opened #74143 "unnecessary LBYL for key contained in defaultdict, lib2to3/btm_matcher"
BPO | [29957](https://bugs.python.org/issue29957)
--- | :---
Nosy | @rhettinger, @benjaminp, @selik, @DimitrisJim, @Mariatta
PRs | <li>python/cpython#938</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</

[2017-04-01 04:37] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74143
Minor, but it looks like someone decided to use a defaultdict but forgot to remove the checks for whether a key exists.

Creating a defaultdict(list):
https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/Lib/lib2to3/btm_matcher.py#L100

Checking for the key, then initializing an empty list:
https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/L

[2017-04-01 04:42] rhettinger commented on #74143
Nice catch.  You've got sharp eyes.

Do you want to submit a pull request or have another dev work on it?

[2017-04-01 04:43] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74143
I'll submit a pull request momentarily.

[2017-04-01 04:59] zhangyangyu commented on #74141
Although I prefer period but such a change could break backwards compatibility so I don't know it's worth or not. Codes like `datetime.strptime('1993-04-21 08:03:00,123', '%Y-%m-%d %H:%M:%S,%f')` (usually for such a simple parse goal I like to use the builtin datetime library) would break with this change and IIUC, the datetime format could be customized for logging.

[2017-04-01 05:11] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74143
PR submitted. I also signed the contributor agreement, but the bot doesn't seem to have noticed.

[2017-04-01 05:18] zware commented on #73949
New changeset b94d7fd4efa877d649cea9c8125c8869ffe0c32d by Zachary Ware in branch 'master':
bpo-29763: Use unittest cleanup in test_site (GH-841)
https://github.com/python/cpython/commit/b94d7fd4efa877d649cea9c8125c8869ffe0c32d

[2017-04-01 05:19] Mariatta commented on #74143
Thanks for the PR Michael :)

It may take one US business day for the CLA to be received.
Then a core dev has to manually update the label in GitHub.

[2017-04-01 05:40] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
I am a bit ashamed that I missed that. Still, the intent in the current code, the name of the parameter, the examples, etc. is that we pass the handler class. This is more than its \_\_init__ function and less than a generic factory  method. An important difference, which could become important, is that with a factory the handler type could depend on the request.  As pointed out by Eric, passing t

[2017-04-01 06:09] serhiy-storchaka commented on #74117
New changeset 7bd8d3e794782582a4ad1c9749424fff86802c3e by Serhiy Storchaka (s-sanjay) in branch 'master':
bpo-29931 fix \_\_lt__ check in ipaddress.ip_interface for both v4 and v6. (#879)
https://github.com/python/cpython/commit/7bd8d3e794782582a4ad1c9749424fff86802c3e

[2017-04-01 06:29] zware commented on #73949
New changeset cd815edf012dc6dd20dfeef91951270e96607616 by Zachary Ware in branch 'master':
Revert "bpo-29763: Use unittest cleanup in test_site (GH-841)" (GH-942)
https://github.com/python/cpython/commit/cd815edf012dc6dd20dfeef91951270e96607616

[2017-04-01 06:38] serhiy-storchaka opened #74144 "Use add_mutually_exclusive_group(required=True) in zipfile and tarfile CLI"
BPO | [29958](https://bugs.python.org/issue29958)
--- | :---
Nosy | @serhiy-storchaka
PRs | <li>python/cpython#944</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-01 06:38] serhiy-storchaka commented on #74144
In the comment to the patch on bpo-28115 SilentGhost suggested to pass required=True to add_mutually_exclusive_group(). This makes the last "else" not needed.

Proposed patch implements this idea for zipfile and tarfile. It also improves error handling when pass empty tar archive name, and adds a hyphen in "command-line".

[2017-04-01 07:38] 889f74a1-6ab9-4f32-813a-38eecf13a7f4 commented on #74145
if "[" is the first char in a string, then re.match can't match any pattern from the string, but re.findall works fine

details as follows:

[code]

[2017-04-01 07:38] 889f74a1-6ab9-4f32-813a-38eecf13a7f4 opened #74145 "re.match failed to match left square brackets as the first char"
BPO | [29959](https://bugs.python.org/issue29959)
--- | :---
Nosy | @ezio-melotti, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-01 07:44] serhiy-storchaka commented on #74145
re.match() checks if the beginning of the string matches the regular expression pattern. Use re.search() if you want to find the match not at the beginning of the string.

https://docs.python.org/3/library/re.html#re.match
https://docs.python.org/3/library/re.html#re.search

[2017-04-01 07:44] #74145 closed, assigned to nobody

[2017-04-01 08:20] methane commented on #74135
New changeset e82cf8675bacd7a03de508ed11865fc2701dcef5 by INADA Naoki in branch 'master':
bpo-29949: Fix set memory usage regression (GH-943)
https://github.com/python/cpython/commit/e82cf8675bacd7a03de508ed11865fc2701dcef5

[2017-04-01 08:51] vsajip commented on #74141
I would prefer to keep things as they are - which is conforming to the preferences expressed in ISO 8601, and preserving backwards compatibility. I agree that a period has some advantages, but I went with what the standard said as closely as I could. I'm not sure it has ever been a problem in practice - I don't remember any other issue raising it, and this functionality has been the same since aro

[2017-04-01 09:19] pitrou commented on #74140
I agree it's far too late.  Multiple existing libraries may rely on the current behaviour.

[2017-04-01 09:19] #74140 closed, assigned to nobody

[2017-04-01 09:26] pitrou commented on #73968
I don't think a 3% improvement on a micro-benchmark is worth it (this will translate into 0% improvement on real-world workloads).  Are there other uses of \_Py_bit_length() that show bigger benefits?

[2017-04-01 09:42] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
Perhaps I should raise a separate issue, but it is related, because the current code "requires" that we define an handler class with `setup()`, `handle()` and `finish()` in its API. If you look at the actual code, there is no such requirement. We only have to pass a factory method that receives three arguments, creates a new handler instance and starts it. The handler does not have to offer any AP

[2017-04-01 10:46] 7e446c1e-f877-4c20-b3c7-e68520fe7853 commented on #74146
Demo:

Run the Python library's test_random.py under the Python debugger and check the
generator at the start of test_shuffle():

C:\\bin\\Python36\>python -m pdb Lib\\test\\test_random.py

-\> import unittest
(Pdb) break 61
Breakpoint 1 at c:\\bin\\python36\\lib\\test\\test_random.py:61
(Pdb) continue
.............................\> c:\\bin\\python36\\lib\\test\\test_random.py(61)test_shuffle()
-

[2017-04-01 10:46] 7e446c1e-f877-4c20-b3c7-e68520fe7853 opened #74146 "_random.Random state corrupted on exception"
BPO | [29960](https://bugs.python.org/issue29960)
--- | :---
Nosy | @rhettinger, @mdickinson, @serhiy-storchaka, @bladebryan, @Mariatta
PRs | <li>python/cpython#953</li><li>python/cpython#1019</li><li>python/cpython#1287</li><li>python/cpython#1288</li><li>python/cpython#1289</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current

[2017-04-01 10:50] mdickinson commented on #74142
+1 for this description.

[2017-04-01 10:50] 7e446c1e-f877-4c20-b3c7-e68520fe7853 commented on #74146
I'm going through https://docs.python.org/devguide/pullrequest.html and would like to be assigned this issue.

[2017-04-01 11:52] serhiy-storchaka commented on #74147
For now new set and frozenset objects can allocate 2 times larger table than necessary when are created from set or dict. For example if the size n of the original set is the power of two, resulting set will allocate the table of 4\*n rather that 2\*n. Up to 20% of new sets use twice more memory than necessary.

Proposed patch makes set_merge() allocating the table of size n\*5/3 instead of n\*2.

[2017-04-01 11:52] serhiy-storchaka opened #74147 "More compact sets and frozensets created from sets"
BPO | [29961](https://bugs.python.org/issue29961)
--- | :---
Nosy | @rhettinger, @methane, @serhiy-storchaka
PRs | <li>python/cpython#946</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-01 11:53] #74135 closed, assigned to rhettinger

[2017-04-01 12:02] csabella commented on #73937
Thank you.  I've added that change.

For the backporting, I think that would only be applicable to 3.6 and 3.7?

[2017-04-01 12:27] csabella commented on #73911
Thank you so much for being patient with me and explaining that.

[2017-04-01 14:29] methane commented on #74135
New changeset efde51ad54c58353f25ff80c8d30dbee82ef33a3 by INADA Naoki in branch '3.6':
bpo-29949: Fix set memory usage regression (GH-945)
https://github.com/python/cpython/commit/efde51ad54c58353f25ff80c8d30dbee82ef33a3

[2017-04-01 14:32] mdickinson opened #74148 "Add math.remainder operation"
BPO | [29962](https://bugs.python.org/issue29962)
--- | :---
Nosy | @rhettinger, @mdickinson, @serhiy-storchaka
PRs | <li>python/cpython#950</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-01 14:32] mdickinson commented on #74148
IEEE 754, the C99 standard, the Decimal IBM standard and Java all support/specify a 'remainder-near' operation. Apart from being standard, this has a number of useful applications:

1. Argument reduction in numerical algorithms: it's common to want to reduce to a range [-modulus/2, modulus/2] rather than [0, modulus).
2. Particular case of the above: reduction of angles to lie in the range [-pi, p

[2017-04-01 14:53] mdickinson commented on #74142
PR made. New wording is:

"""
Return e raised to the power \*x*, where e = 2.718281... is the base of natural logarithms.
"""

[2017-04-01 15:08] serhiy-storchaka commented on #74148
See also Decimal.remainder_near and \_PyLong_DivmodNear. Shouldn't the new function be named math.remainder_near?

In many cases the function that returns the nearest integer quotient is useful. See Fraction.\_\_round__, datetime.\_divide_and_round, \_pydecimal.\_div_nearest, etc.

[2017-04-01 15:17] mdickinson commented on #74148
Not clear. :-) I'd prefer to keep the name that's consistent with both C and IEEE 754. (We already have plenty of naming differences between Decimal and math; attempting to reconcile them is likely futile.)

FTR:

IEEE 754: remainder
C99: remainder
IBM Decimal spec: remainder-near
Java: IEEEremainder
.NET: IEEERemainder

[2017-04-01 15:18] mdickinson commented on #74148
Agreed, but I'd like to keep the scope of this issue small for now: we're simply wrapping / implementing another C99 math.h function.

[2017-04-01 15:25] mdickinson commented on #74148
FTR, I don't have strong opinions on the name: I could be persuaded by any of `remainder`, `remainder_near` or `ieee_remainder`. I find `ieee_remainder` somewhat more informative than `remainder_near`.

[2017-04-01 15:41] rhettinger commented on #74148
+1

Also, the decimal module names are a poor guide.  Its usability has been impaired by opaque naming (i.e. needing to use quantize() when you want to round to a fixed number of places).

[2017-04-01 15:53] rhettinger commented on #74147
FWIW, I've long considered this to be a feature of set and dicts, it is the only way a user can affect sparseness.  For lookup only sets, the extra sparseness is a virtue (fewer collisions).  So, I would like to leave the current code in-place.

With sets the goals are different from dicts.  I place less value on compactness and more value on fast membership testing.  And with dicts, the norm is t

[2017-04-01 15:53] #74147 closed, assigned to rhettinger

[2017-04-01 15:56] rhettinger commented on #74143
Rather than removing the defaultdict, I think a cleaner fix is to just remove the unnecessary LBYL.   That leaves the code a little more compact, faster, and nice looking.

[2017-04-01 16:12] rhettinger commented on #74083
Serhiy, feel free to take this in whatever direction you think is best.

[2017-04-01 16:16] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
To sum up, David clarified that we can in fact easily pass an arbitrary factory method that creates and starts a request handler, instead of a request handler class with setup, handle and finish in its API. This could indeed be a valid reason to consider this issue resolved,  but I would like to be sure that it is really a normal and supported use of the code. The only place where I can ask this i

[2017-04-01 16:26] serhiy-storchaka commented on #74147
There is a program that uses 32 GB for sets. The patch could save up to 6 GB for it.

I understood your arguments when you lowered the maximal fill ration from 2/3 to 60%. But in that case the fill ratio is between 15% and 30%! Isn't it too small?

[2017-04-01 16:30] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74143
Ok, I'll change the PR.

[2017-04-01 20:40] bitdancer commented on #74133
Well, we could document it as a factory argument, and explain that the argument name is an historical artifact.

[2017-04-01 20:54] bitdancer commented on #74133
Given how old socket server is, and that it doesn't actually require that API, we should probably just reword the documentation so that it is clear that RequestHandlerClass is the default Handler implementation (and that you can work with setup/handle/finish if you want to subclass it), and document what the \*actual* requirements on the Handler are.

We are unlikely to change socketserver's actua

[2017-04-01 22:16] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
The reason why I feel we should not make it immediately a documentation issue is that I don't know how a person working on documentation could proceed ahead without a clear go ahead signal from developers. In that sense,  having a documentation that says that the variable name does not reflect its intent seems tricky. It's very easy to change a variable name. It cannot possibly break the code, exc

[2017-04-01 22:34] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
Oops, I did not realize that David was one of the developers. Well, may be this needs the attention of more than one developer.

[2017-04-02 03:20] Yhg1s commented on #74127
New changeset 90e3518225bafaff01469ed48c472ae7db5686f0 by T. Wouters in branch '3.6':
bpo-29941: Assert fixes (#886) (#955)
https://github.com/python/cpython/commit/90e3518225bafaff01469ed48c472ae7db5686f0

[2017-04-02 03:20] Yhg1s commented on #74127
New changeset 553275d125478a6563dde7523f4f28c92f1861b4 by T. Wouters in branch '3.5':
bpo-29941: Assert fixes (#886) (#956)
https://github.com/python/cpython/commit/553275d125478a6563dde7523f4f28c92f1861b4

[2017-04-02 03:20] vadmium commented on #73937
Underscores are only applicable to 3.6+, but the original concern about leading zeros applies to 3.5.

On Git Hub I suggested dropping the details and just referring to the Lexical Analysis section \<https://docs.python.org/3.5/reference/lexical_analysis.html#integer-literals\> for the details.

FWIW here is my understanding of integer literals (with base=0):

* 0x10 =\> hexadecimal
* 0b10 =\> bin

[2017-04-02 04:05] methane commented on #74147
I also feel set created from iterator is too large sometimes.
Especially, frozenset is used for "unordered tuple" dict key sometimes.

[code]

set size increases by \*4 each resize.
This is code of set_add_entry():

    if ((size_t)so->fill*5 < mask*3)
        return 0;
    return set_table_resize(so, so->used>50000 ? so->used*2 : so->used*4);

If we simply replace `so->used>50000 ? so->used*2 : s

[2017-04-02 04:15] rhettinger commented on #74147
You guys seem to have an enormous about of spare time and seem to feel to need to redesign every single thing you see.  Please slow down and allow me to breathe a bit.  I cannot keep up with a new "let's change x" every single day.  This set object has been a successful design for a very long time.  I like the balance that it has struck and do not want to constantly mess with its tuning or paramet

[2017-04-02 04:19] methane commented on #74147
OK, sorry about bothering you.

[2017-04-02 05:36] serhiy-storchaka commented on #74147
Okay. I was going to provide patches for other set's weirdness (for example a set can increase its size after removing elements), but with your reaction I see that this doesn't make sense. I wash my hands from fixing set.

[2017-04-02 05:44] vadmium commented on #74133
By “factory instance”, I presume you just mean a function (or class or method) that returns an appropriate object when called. (I think these are normally called “factory functions”. Instances are objects, the things that class constructors and factories return.)

What is being proposed? The best idea that I understand is hinted in \<https://bugs.python.org/issue29947#msg290976\>. That is, to docu

[2017-04-02 06:02] benjaminp commented on #74143
New changeset 11fa3c7cd1b151e302d4eee0369cafbaf151c8fb by Benjamin Peterson (Michael Selik) in branch 'master':
bpo-29957: change LBYL key lookup to dict.setdefault (#938)
https://github.com/python/cpython/commit/11fa3c7cd1b151e302d4eee0369cafbaf151c8fb

[2017-04-02 06:41] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
I did not think very far when said that renaming the parameter could not possibly break the code ! Oh well ! But, renaming the parameter was not important in itself.  It was to make the situation clearer and easier for those who write the documentation. Martin mentioned that it is a big change for the API. This is what I had in mind. And yes, I should have used 'factory function', not 'factory ins

[2017-04-02 09:12] 84401114-8e59-4056-83cb-632106c0b648 commented on #74083
It is a tricky issue. How deep do you go?what if you are chaining several
of the itertools? Seems like we're entering a semantic sinkhole here.

Deepcopy would be too deep...
The original copy support in these objects stems from the desire to support
pickling.

On 1 Apr 2017 16:12, "Raymond Hettinger" \<report@bugs.python.org\> wrote:

[2017-04-02 10:26] serhiy-storchaka commented on #73840
New changeset 351adda54bed3afbbf6db7725699679e68722d7d by Serhiy Storchaka (Pierre Quentel) in branch 'master':
bpo-29654 : Support If-Modified-Since HTTP header (browser cache) (#298)
https://github.com/python/cpython/commit/351adda54bed3afbbf6db7725699679e68722d7d

[2017-04-02 10:27] serhiy-storchaka commented on #73840
Thank you for your contribution Pierre.

[2017-04-02 10:27] #73840 closed, assigned to nobody

[2017-04-02 11:46] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74149
Couldn't trace exactly when it was removed from tokenizer.c but the corresponding declaration in the header file survived.

I'm not sure how to tag this small clean-up.

[2017-04-02 11:46] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74149 "Remove obsolete declaration PyTokenizer_RestoreEncoding in tokenizer.h"
BPO | [29963](https://bugs.python.org/issue29963)
--- | :---
Nosy | @serhiy-storchaka, @DimitrisJim
PRs | <li>python/cpython#962</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-02 11:52] serhiy-storchaka commented on #74149
Good catch Jim! Seems the implementation was removed in Python 3. This is a private header, so no need to backport the change.

[2017-04-02 12:40] serhiy-storchaka commented on #74083
Yes, this issue is tricky, and I don't have .

If implement \_\_copy__ for builtin compound iterators I would implement filter.\_\_copy__ and map.\_\_copy__ something like:

[code]

If the underlying iterators properly support copying, the copying of filter and map iterators will be successful. If they don't support copying, the copying of filter and map iterators should fail, and don't accumulate

[2017-04-02 13:34] bitdancer commented on #74133
Yes, the difficulty in renaming the parameter was why I suggested a doc change only.  I'm not sure it it is worth it to go through a deprecation cycle for socketserver to change the name, though it certainly would be nice.  Martin and I could make that decision, but it would be better to get input from other devs.  And, if we make this the documentation issue, we should open a separate issue for t

[2017-04-02 15:56] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73739
From my perspective current behaviour is a bit frustrate that's why it would be nice to have this issue fixed, but I would say it's critic one.
At the same time it doesn't introduce any BC breaking changes and kind safe

[2017-04-02 20:19] 0c97e840-ae8b-4fa9-b95e-fe2331d61b5b commented on #74150
%z is listed as a supported directive in the python 3 documentation (https://docs.python.org/3.5/library/time.html#time.strftime), but it doesn't actually do anything:

[code]

As far as I can tell, there aren't any footnotes saying that %z might not be supported on some platforms, like it was back in python 2.

In case it matters, I'm using python 3.5.3 on linux.

[2017-04-02 20:19] 0c97e840-ae8b-4fa9-b95e-fe2331d61b5b opened #74150 "[doc] %z directive has no effect on the output of time.strptime"
BPO | [29964](https://bugs.python.org/issue29964)
--- | :---
Nosy | @brettcannon, @bitdancer, @vadmium, @hugovk, @miss-islington, @iritkatriel
PRs | <li>python/cpython#30354</li><li>python/cpython#30608</li><li>python/cpython#30609</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more d

[2017-04-02 20:57] vadmium commented on #74150
Are you sure? It works for me:

[code]

The "struct_time" class is documented as a named tuple, but the time zone offset is not one of the tuple elements, so isn’t going to be checked for equality.

[2017-04-02 21:42] 0c97e840-ae8b-4fa9-b95e-fe2331d61b5b commented on #74150
I see. You're right, it does make a difference.

However, this behaviour is quite unexpected. Perhaps I just didn't read the docs carefully enough, but it wasn't clear to me that the time module had such half-baked support for time zones.

An unsuspecting user, like me, reads the documentation on strptime, which directs you to strftime. There you read that %z is a supported directive. Along the wa

[2017-04-02 22:32] vadmium commented on #74150
As far as I can see, the documentation only claims that “mktime” converts local time. If you saw a suggestion that it supports arbitrary time zones, please point it out.

[2017-04-02 22:53] 0c97e840-ae8b-4fa9-b95e-fe2331d61b5b commented on #74150
No no, the docs are correct. This was definitely my mistake. I'm just trying to say that it's rather confusing how there's only partial support for time zones. When I saw that there is support for parsing the time zone offset, I assumed that the functions provided in the time module would be enough to solve my problem - having to rely on the datetime module to have proper time zone support caught

[2017-04-02 23:45] vadmium commented on #74150
We could change this to a documentation issue if you have any suggestions to make the documentation clearer.

I understand the “time” module is mainly a wrapper or emulator of the OS’s own strptime, mktime, etc functions, which explains some of these quirks.

[2017-04-03 02:10] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
I started to look at the documentation to see what would need to be changed, assuming that we agree for a change in the API. Just for the purpose of this discussion, I created a patch that only change the comments in socketserver.py.

[2017-04-03 03:37] vadmium commented on #74112
Hi Terry, this patch is what I imagined a fix would look like for Linux. I am not familiar with Idle (internally nor externally), so there may be improvements you can make.

It works as I expected for normal blocking functions and a tight “for” loop: it interrupts any blocking call, and triggers the usual SIGINT handler. If SIGINT has a Python handler (e.g. by default), that gets called which usua

[2017-04-03 03:44] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74151
Currently, slicing a MatchObject causes an IndexError and len() a TypeError. It's natural to expect slicing and len to work on objects of a finite length that index by natural numbers.

[2017-04-03 03:44] 93fb711d-fdf4-46a8-9dad-0481f9581972 opened #74151 "MatchObject __getitem__() should support slicing and len"
BPO | [29965](https://bugs.python.org/issue29965)
--- | :---
Nosy | @ericvsmith, @ezio-melotti, @serhiy-storchaka, @zhangyangyu, @selik

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 03:47] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74151
This would also enable negative indexing, which currently raises "IndexError: no such group".

Edit: I meant whole numbers, not natural numbers.

[2017-04-03 03:55] vadmium commented on #74112
BTW pthread_kill was only added to Python 3.3, so is not available for Python 2. I’m not sure what the best fix for 2.7 would be. Maybe it’s not worth it, or maybe you can find another way to a signal to the user process or its main thread without interfering with any background threads that Idle needs. But I don’t know enough about how Idle works to offer a solution.

[2017-04-03 05:31] berkerpeksag commented on #74049
+1. See [msg287773](https://bugs.python.org/msg287773) for my reasoning.

[2017-04-03 06:28] terryjreedy commented on #74112
A fix for 3.6+ will be better than nothing ;-)

[2017-04-03 07:39] zhangyangyu commented on #74151
See also bpo-24454.

[2017-04-03 08:09] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
The key point, IMHO, is that the BaseRequestHandler class is just provided as an option and its API (setup, handle and finish) is ignored by the code that we support.

Some applications may have used the API, but these are details in applications. Simply, we keep BaseRequestHandler as it is so that we do not break these applications.

So, yes, we should keep supporting the API, but we do not expec

[2017-04-03 09:49] serhiy-storchaka commented on #74151
This has already been discussed in other issues. Adding support of indexing opened a can of worms.

len() for match objects is ambiguous because of the group 0. Implementing len() will make the match object iterable, but in a way incompatible with bpo-9529 (because of the group 0).

As for slicing and negative indexes, what is the use case? Do you know that you can get a tuple of groups by passing

[2017-04-03 10:21] 5b4972c1-ebbb-4b77-83a7-66c99dd93336 commented on #74152
For classes with ForwardRef annotations, typing.get_type_hints is unusable.

As example, we have two files:

a.py:
class Base:
    a: 'A'

[code]

b.py:
from a import Base

[code]

What should globals/locals be here?

[2017-04-03 10:21] 5b4972c1-ebbb-4b77-83a7-66c99dd93336 opened #74152 "typing.get_type_hints doesn't really work for classes with ForwardRefs"
BPO | [29966](https://bugs.python.org/issue29966)
--- | :---
Nosy | @simonpercivall, @ilevkivskyi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 10:29] vstinner opened #74153 ""AMD64 FreeBSD 9.x 3.x" tries to rebuild Include/opcode.h, timestamp issue"
BPO | [29967](https://bugs.python.org/issue29967)
--- | :---
Nosy | @vstinner, @vadmium, @zware, @koobs
Superseder | <li>bpo-23404: &#x27;make touch&#x27; does not work with git clones of the source repository</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

G

[2017-04-03 10:29] vstinner commented on #74153
"make buildbottest" on "AMD64 FreeBSD 9.x 3.x" fails with:
\---
Cannot generate ./Include/opcode.h, python not found !
To skip re-generation of ./Include/opcode.h run \<make touch\> or \<make -t ./Include/opcode.h\>.
Otherwise, set python in PATH and run configure or run \<make PYTHON_FOR_GEN=python\>.
*** [./Include/opcode.h] Error code 1
\---
http://buildbot.python.org/all/builders/AMD64%20FreeB

[2017-04-03 10:33] vstinner commented on #74153
See issue bpo-23404: "'make touch' does not work with git clones of the source repository".

[2017-04-03 10:40] vstinner commented on #74153
According to koobs, the buildbot slave has "python2" and "python2.7" commands, but no "python".

See issue bpo-26662 for my previous complain on "python": Python build system should use "python2" or "python3", not "python".

[2017-04-03 11:00] vstinner commented on #74111
Ping. Buildbot is still failing.

[2017-04-03 11:05] vstinner commented on #74111
I proposed the most obvious fix: skip the test on OS X Tiger, see attached PR.

[2017-04-03 12:01] vadmium commented on #74153
I think this is the same underlying problem as bpo-23404. Either we get “make touch” working without Mercurial, or we use some other mechanism to either disable regeneration by default (my preference), or disable regeneration by explicit request (possible compromise with Nick who liked the automatic regeneration because it saved him remembering other commands: \<https://mail-archive.com/search?l=m

[2017-04-03 12:49] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74154 "Document that no characters are allowed to proceed \ in explicit line joining"
BPO | [29968](https://bugs.python.org/issue29968)
--- | :---
Nosy | @bitdancer, @vadmium, @DimitrisJim

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 12:49] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74154
After looking through the code, the tokenizer only allows a new line character to proceed `\` in explicit line joining [1].

The Devguide section on it [2] actually states many of the limitations of using `\` but not directly that nothing is allowed after it (it does have a remark on comments).

Would it be a good idea to amend it to state that no characters are allowed after `\`?

[1]: https://gi

[2017-04-03 12:57] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74154
Alternatively, stripping all white-space that proceed `\` could be considered if it seems like a good idea.

[2017-04-03 13:48] 6f972d01-f5b9-4f99-9e0c-f8363f84f6f9 opened #74155 "Typo in decimal error message"
BPO | [29969](https://bugs.python.org/issue29969)
--- | :---
Nosy | @skrah, @agoose77
PRs | <li>python/cpython#976</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 13:48] 6f972d01-f5b9-4f99-9e0c-f8363f84f6f9 commented on #74155
When passing an object that fails Py_FloatCheck, the error message raised reads
"argument must be int of float", rather than "argument must be int or float"

[2017-04-03 14:10] d57b5364-f6d2-47a4-9eea-4b46812cfd4a commented on #74156
Original report at old repo here:  https://github.com/python/asyncio/issues/483

There this is reported fixed by https://github.com/python/cpython/pull/480

I wish to report that whilst the above patch might have a small positive effect, it is far from solving the actual issue.  Several users report eventual exhaustion of the open file resource running SSL asyncio servers.

Here are graphs provide

[2017-04-03 14:10] d57b5364-f6d2-47a4-9eea-4b46812cfd4a opened #74156 "Severe open file leakage running asyncio SSL server"
BPO | [29970](https://bugs.python.org/issue29970)
--- | :---
Nosy | @giampaolo, @asvetlov, @mocmocamoc, @1st1, @fafhrd91, @kyuupichan
PRs | <li>python/cpython#4825</li><li>python/cpython#4939</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[cod

[2017-04-03 14:43] pitrou commented on #74157
On Windows, Lock.acquire() (and other synchronization primitives derived from it, such as queue.Queue) cannot be interrupted with Ctrl-C, which makes it difficult to interrupt a process waiting on such a primitive.

Judging by the code in [Python/_thread_nt.h](https://github.com/python/cpython/blob/main/Python/_thread_nt.h), it should be relatively easy to add such support for the "legacy" semapho

[2017-04-03 14:43] pitrou opened #74157 "threading.Lock.acquire() not interruptible on Windows"
BPO | [29971](https://bugs.python.org/issue29971)
--- | :---
Nosy | @tim-one, @pfmoore, @pitrou, @kristjanvalur, @tjguk, @zware, @eryksun, @zooba, @MojoVampire, @maggyero

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields

[2017-04-03 15:14] vstinner opened #74158 "Skip tests known to fail on AIX"
BPO | [29972](https://bugs.python.org/issue29972)
--- | :---
Nosy | @vstinner, @ericvw
PRs | <li>python/cpython#979</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 15:14] vstinner commented on #74158
Extract of David Edelsohn's email:
"""
The testsuite failures on AIX are issues with the AIX kernel and C
Library, often corner cases.  I don't want to get into arguments about
the POSIX standard.  Some of the issues are actual conformance issues
and some are different interpretations of the standard.  Addressing
the problems in AIX is a slow process. If the failing testcases are
too annoying, I w

[2017-04-03 15:25] vstinner commented on #74158
See also https://github.com/python/cpython/pull/978 which should fix one unit test of test_ssl.

[2017-04-03 15:34] vstinner opened #74159 "Travis CI docs broken: UnboundLocalError: local variable 'prefix' referenced before assignment"
BPO | [29973](https://bugs.python.org/issue29973)
--- | :---
Nosy | @vstinner, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-03 15:34] vstinner commented on #74159
https://travis-ci.org/python/cpython/jobs/218107336

CPython: master branch
Sphinx 1.5.4

make[1]: Entering directory \`/home/travis/build/python/cpython/Doc'
./venv/bin/python -m sphinx -b suspicious -d build/doctrees -D latex_elements.papersize= -q -W . build/suspicious

Exception occurred:
  File "/home/travis/virtualenv/python3.6.0/lib/python3.6/site-packages/sphinx/domains/python.py", line 31

[2017-04-03 15:44] serhiy-storchaka commented on #74159
This already is fixed in mainstream. https://github.com/sphinx-doc/sphinx/issues/3597

Sphinx 1.5.5 will be released soon. https://github.com/sphinx-doc/sphinx/issues/3598

[2017-04-03 16:07] vstinner commented on #74159
https://pypi.org/project/Sphinx/1.5.5/ has been released. How can I schedule a recheck on Travis CI on PRs where the docs job failed?

[2017-04-03 16:13] vstinner commented on #74159
Oh, Zachary Were "restarted the docs job on most of the blocked PRs". So I close this issue.

That one was hopefully quickly fixed :-)

[2017-04-03 16:13] #74159 closed, assigned to nobody

[2017-04-03 16:21] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74155
Merged, thank you.

[2017-04-03 16:21] #74155 closed, assigned to 5531d0d8-2a9c-46ba-8b8b-ef76132a492c

[2017-04-03 16:35] serhiy-storchaka commented on #74037
Wouldn't ModuleNotFoundError be more appropriate?

[2017-04-03 17:14] Yhg1s commented on #74127
PR #980 adds a configure flag (--with-assertions), defaulting to the old behaviour (no assertions by default, except when --with-pydebug is passed). I would like to backport that to (at least) 3.6 so that we can set up a buildbot with it, to prevent regressions. Opinions on that?

[2017-04-03 17:28] ericvsmith commented on #74151
Short of a compelling use case, I suggest we reject this enhancement request. len() was deliberately not added in bpo-24454. It's not like any normal code would be iterating over match groups.

[2017-04-03 17:32] 5d1e3346-9dbe-41bc-9617-b2ac2702d4ba commented on #74160
The documentation of typing.TYPE_CHECKING has an example (introduced in issue bpo-26141) that would lead to NameError at runtime. The example shows how to limit the import of "expensive_mod" to type checkers, but then goes on to use "expensive_mod.some_type" in a type annotation that is evaluated at runtime ("local_var: expensive_mod.some_type"). The use case of TYPE_CHECKING is probably meant for

[2017-04-03 17:32] 5d1e3346-9dbe-41bc-9617-b2ac2702d4ba opened #74160 "Change typing.TYPE_CHECKING doc example"
BPO | [29974](https://bugs.python.org/issue29974)
--- | :---
Nosy | @berkerpeksag, @ilevkivskyi, @JelleZijlstra, @Mortal
PRs | <li>python/cpython#982</li><li>python/cpython#1297</li><li>python/cpython#1299</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHu

[2017-04-03 17:49] bitdancer commented on #74150
Yes, that's exactly right.  'time' is a low-level os-function wrapper, and inherits many of the deficiencies of the platform.  datetime attempts to be a more comprehensive, portable solution.  (But even it has its quirks...timezones are \*hard*.)

[2017-04-03 17:58] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74151
Yesterday I wanted to do a destructuring bind on a slice of groups in a finditer. Similar situation to the use case of Issue bpo-24454. It might not be "normal code" but I end up in that situation every month or so when parsing semi-structured documents. I found myself wishing for a mapping-destructuring bind, but that's another story.

I haven't read the full discussion of ``len`` on MatchObject

[2017-04-03 18:09] 93fb711d-fdf4-46a8-9dad-0481f9581972 commented on #74151
Sorry, it looks like I got the issue number wrong. My comparison should not have been with bpo-24454, but instead with an issue I can't locate at the moment. Reproducing the example:

[code]

Better:

[code]

The map in the last one isn't very pretty, but I hope it illustrates the gist of what I'd like to do for a much larger pattern with many capture groups.

[2017-04-03 18:45] serhiy-storchaka commented on #74151
You can use mo.group(1, 2). If you need to slice arbitrary groups, you can slice the result of the groups() method (which is just a tuple).

The re module is already complex, and let use existing API rather than add the new one.

[2017-04-03 18:45] #74151 closed, assigned to nobody

[2017-04-03 18:56] rhettinger commented on #74083
If Serhiy and Kristján are on a course of action, that will suffice.  Copying iterators is an esoteric endeavor of interest to very few users (no one has even noticed until now).

[2017-04-03 20:39] brettcannon commented on #74150
There's actually a footnote pointing out that %z is not supported by all libc implementations: https://docs.python.org/3/library/time.html#id2. Probably adding a note for %z in the strftime() table would be good.

[2017-04-03 22:11] eryksun commented on #74157
Alternatively we could use the SleepEx and WaitFor\*Ex functions with alertable waits (i.e. using APCs) instead of the SIGINT Event. This avoids having to replace all single-object waits with multiple-object waits, and would even allow calling SleepEx in pysleep.

That said, bpo-29871 proposes to switch to the condition variable and SRW lock implementation, so first it needs to be decided whether

[2017-04-03 23:25] bitdancer commented on #74154
I think you meant "the language reference" rather than "the [devguide](https://devguide.python.org)".  The sentence about the comment is redundant with the preceding line that says that the thing that results in a join is a physical line that ends with a backslash ("that is not part of..."), which is a definitive statement that no characters may follow it.

So, I don't see any doc bug here, unless

[2017-04-03 23:26] bitdancer commented on #74154
I also have no idea what your comment about stripping white space is in reference to ;)

[2017-04-04 02:32] vadmium commented on #74154
I think he means make something like the following legal, where dots (.) indicate space characters:

a.=.\\.
....b

At the moment it is a SyntaxError:

[code]

I don’t think it is worthwhile changing that.

[2017-04-04 02:36] c136c390-61c6-4c0c-96bc-7598ec06f7f1 opened #74161 "Issue in extending documentation"
BPO | [29975](https://bugs.python.org/issue29975)
--- | :---
Nosy | @terryjreedy, @vadmium, @bunseokbot
PRs | <li>python/cpython#983</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 02:36] c136c390-61c6-4c0c-96bc-7598ec06f7f1 commented on #74161
https://docs.python.org/3.7/extending/extending.html

"Should it become a dangling pointer, C code which raises the exception could cause a core dump or other unintended side effects."

The typo error in this sentence.

"If it become a dangling pointer, C code which raises the exception could cause a core dump or other unintended side effects."

fix the typo error.

[2017-04-04 03:12] vadmium commented on #74161
FWIW I don’t see any error in the first quote. “Should X happen, Y happens” is valid English. Though I admit this kind of grammar is not used that often.

If it is too hard to understand, it should be okay to change it to “If it becomes a danging pointer, . . .”.

[become → becomes]

[2017-04-04 04:54] orsenthil commented on #74162
urllib.parse has the following information in this module.

[code]

Note the '' in the list.

1) First it needs to be first one for easy identification.
2) It needs to be clarified. '' means apply by default does not help the reader.

[2017-04-04 04:54] orsenthil opened #74162 "urllib.parse clarify what ' ' in schemes mean"
BPO | [29976](https://bugs.python.org/issue29976)
--- | :---
Nosy | @orsenthil
PRs | <li>python/cpython#984</li><li>python/cpython#1692</li><li>python/cpython#1693</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-04-04 04:56] JelleZijlstra commented on #74160
The example is actually correct; I just confirmed by running it in my shell. Type annotations on local variables are not evaluated at runtime; see PEP-526.

[2017-04-04 04:57] orsenthil commented on #74162
https://github.com/python/cpython/pull/984 proposes a change. I'll need some reviews on this changed text.

Note: I am aware that there is an issue (long pending), which suggests deal away with these schemes at the top.  If we get to that immediately, I will be happy, if not, consider this PR as the improvement over the status quo.

[2017-04-04 05:15] orsenthil commented on #73911
Thanks for working on this.

row_factory seems to be another parameter that can be set in the Cursor object. https://github.com/python/cpython/blob/master/Modules/_sqlite/cursor.c#L65

This can addressed in a different issue/ pr.

[2017-04-04 05:16] orsenthil commented on #73911
New changeset 02e12138000da834f23719521a011fa93763384d by Senthil Kumaran (csabella) in branch 'master':
bpo-29725: DOC: add text for arraysize in sqlite3.Cursor (#947)
https://github.com/python/cpython/commit/02e12138000da834f23719521a011fa93763384d

[2017-04-04 05:27] orsenthil commented on #73911
New changeset cb1e002c07622e027e80a3843d27a623d1617430 by Senthil Kumaran in branch '3.6':
bpo-29725: DOC: add text for arraysize in sqlite3.Cursor (#947) (#985)
https://github.com/python/cpython/commit/cb1e002c07622e027e80a3843d27a623d1617430

[2017-04-04 05:28] orsenthil commented on #73911
New changeset 0f9ceaf322cc9358373167115fd4c21ab2d9ad50 by Senthil Kumaran in branch '3.5':
bpo-29725: DOC: add text for arraysize in sqlite3.Cursor (#947) (#986)
https://github.com/python/cpython/commit/0f9ceaf322cc9358373167115fd4c21ab2d9ad50

[2017-04-04 05:29] #73911 closed, assigned to nobody

[2017-04-04 07:00] 446ff3fc-d748-4f19-a850-a4499282eb48 commented on #74163
Hello,

I assume I have hit some bug/misbehaviour in re module. I will provide you "working" example:

[code]

and then this command takes forever:
RE_C_COMMENTS.sub(" ", text, re.MULTILINE|re.DOTALL|re.UNICODE)

and the same problem you can notice on first 90 chars, it takes 10s on my machine:
RE_C_COMMENTS.sub(" ", text[:90], re.MULTILINE|re.DOTALL|re.UNICODE)

Some clarification: I try to remov

[2017-04-04 07:00] 446ff3fc-d748-4f19-a850-a4499282eb48 opened #74163 "re.sub stalls forever on an unmatched non-greedy case"
BPO | [29977](https://bugs.python.org/issue29977)
--- | :---
Nosy | @ezio-melotti, @gareth-rees, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 07:22] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74154
Ah, yes, the Ref. Manual, not the [devguide](https://devguide.python.org), silly mistake.

It definitely isn't a documentation bug (the documentation doesn't state something wrong) as much as I think it might be a slight omission. I really wasn't aware of how strict the tokenizer is with any characters after `\`.

[2017-04-04 08:03] faa20c90-fcf0-43f4-810b-00286077d549 commented on #74163
The problem here is that both "." and "\\s" match a whitespace character, and because you have the re.DOTALL flag turned on this includes "\\n", and so the number of different ways in which (.|\\s)* can be matched against a string is exponential in the number of whitespace characters in the string.

It is best to design your regular expression so as to limit the number of different ways it can mat

[2017-04-04 08:06] faa20c90-fcf0-43f4-810b-00286077d549 commented on #74163
See also bpo-28690, bpo-212521, bpo-753711, bpo-1515829, etc.

[2017-04-04 08:09] serhiy-storchaka commented on #74163
This is a well known issue called catastrophic backtracking. It can't be solved with the current implementation of the regular expression engine. The best you can rewrite your regular expression. Even replacing "(.|\\s)" with just "." can help.

[2017-04-04 08:09] #74163 closed, assigned to nobody

[2017-04-04 08:11] Mariatta commented on #74117
Serhiy, just checking whether this needs backport? The PR has the backport to 3.5 and 3.6 labels, but it's not indicated in this ticket.
If it doesn't need backport, then perhaps we can close this issue.
Thanks.

[2017-04-04 08:27] pitrou commented on #74157
I am not competent enough to pronounce on the technical detail of what you are proposing, but:

That can make sense IMHO.  Lock and RLock are Python-facing objects, so I'm not sure using high-performance userspace primitives is really important there (after all, people will primarily suffer the evaluation cost of pure Python code so, unless you do something silly such as acquire and release a Pyth

[2017-04-04 08:35] vstinner commented on #74158
New changeset 5de85a17029356084b96db63e04d9eb150efd9c0 by Victor Stinner in branch 'master':
bpo-29972: Skip tests known to fail on AIX (#979)
https://github.com/python/cpython/commit/5de85a17029356084b96db63e04d9eb150efd9c0

[2017-04-04 08:40] Mariatta opened #74164 "Remove remove merge=union attribute for Misc/NEWS in 3.6 and 2.7"
BPO | [29978](https://bugs.python.org/issue29978)
--- | :---
Nosy | @Mariatta
PRs | <li>python/cpython#988</li><li>python/cpython#989</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 08:40] Mariatta commented on #74164
In https://github.com/python/cpython/pull/212, merge=union was added to the .gitattributes, but was later removed in https://github.com/python/cpython/pull/460.

Somehow this attribute made their way into 3.6 and 2.7.

I will remove it.

[2017-04-04 08:58] 006d7b03-f9f3-44da-bb8d-8d7a3e15fee9 opened #74165 "cgi.parse_multipart is not consistent with FieldStorage"
BPO | [29979](https://bugs.python.org/issue29979)
--- | :---
Nosy | @orsenthil, @PierreQuentel, @vadmium
PRs | <li>python/cpython#990</li><li>python/cpython#991</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[co

[2017-04-04 08:58] 006d7b03-f9f3-44da-bb8d-8d7a3e15fee9 commented on #74165
In the cgi module, the parse_multipart() function duplicates code from FieldStorage, and the result is not compliant with that of FieldStorage for requests sent with multipart/form-data : for non-file fields, the value associated with a key is a list of \*bytes* in parse_multipart() and a list of \*strings* for FieldStorage (the bytes decoded with the argument "encoding" passed to FieldStorage()).

[2017-04-04 09:29] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc commented on #74129
Currently we haven't updated to Python 3.6.1 at Fedora 26 due to this issue.

While it is a release blocker for 3.6.2, what can be done for 3.6.1?

[2017-04-04 10:46] serhiy-storchaka commented on #73835
New changeset f78b119364b521307237a1484ba5f43f42300898 by Serhiy Storchaka (Andrew Nester) in branch 'master':
bpo-29649: Improve struct.pack_into() boundary error messages (#424)
https://github.com/python/cpython/commit/f78b119364b521307237a1484ba5f43f42300898

[2017-04-04 10:47] serhiy-storchaka commented on #73835
Thank you for your contribution Andrew.

[2017-04-04 10:47] #73835 closed, assigned to serhiy-storchaka

[2017-04-04 12:13] 5d1e3346-9dbe-41bc-9617-b2ac2702d4ba commented on #74160
I have updated the patch after feedback from Jelle Zijlstra and Ivan Levkevskyi. Indeed the example was correct; the patch now adds wording from PEP-484 and PEP-526 to clarify why a function parameter annotation needs to be in quotes and a local variable annotation does not.

[2017-04-04 12:49] #74164 closed, assigned to Mariatta

[2017-04-04 13:30] orsenthil commented on #74165
Looking forward to this.

[2017-04-04 14:25] bitdancer commented on #74154
I don't see any omission, myself.  Keep in mind that the language reference is as much or more of a specification as it is a reference, so we tend to try to use the minimum language that precisely describes the expected behavior. Which is why I suggested that if anything the sentence about trailing comments should be dropped :)

And I would vote -1 on allowing trailing whitespace.  (More than -1,

[2017-04-04 16:33] brettcannon commented on #74037
That's a good point, Serhiy, since that's what the exception is signaling. So yes, the exception should be ModuleNotFounderror.

[2017-04-04 17:12] bitdancer opened #74166 "Add option to get all errors from create_connection in an ExceptionGroup"
BPO | [29980](https://bugs.python.org/issue29980)
--- | :---
Nosy | @gvanrossum, @terryjreedy, @tiran, @bitdancer, @1st1, @nanjekyejoannah, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></de

[2017-04-04 17:13] bitdancer commented on #74166
If all connections fail (not file :)

[2017-04-04 17:44] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74154
Gotcha, thanks for the input, David. I'll leave it to you to decide if the sentence on the trailing comments warrants removal.

[2017-04-04 17:44] #74154 closed, assigned to nobody

[2017-04-04 18:01] terryjreedy opened #74167 "Update Index for set, dict, and generator 'comprehensions'"
BPO | [29981](https://bugs.python.org/issue29981)
--- | :---
Nosy | @akuchling, @terryjreedy, @bitdancer, @mlouielu, @miss-islington, @DahlitzFlorian
PRs | <li>python/cpython#995</li><li>python/cpython#20272</li><li>python/cpython#22836</li><li>python/cpython#22837</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</s

[2017-04-04 18:01] terryjreedy commented on #74167
The index currently has

comprehensions
   \*list\*

[code]

1. Link \*comprehensions* to 6.2.4. Displays for lists, sets and dictionaries
2. Add subentries \*set*, \*dict*, and \*generator* linked to
2a. 6.2.6. Set displays
2b. 6.2.7. Dictionary displays
2c. 6.2.8. Generator expressions

We don't \*call* generator expressions 'generator comprehensions', but that is what they are syntactically and

[2017-04-04 18:26] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #74168 "tempfile.TemporaryDirectory fails to delete itself"
BPO | [29982](https://bugs.python.org/issue29982)
--- | :---
Nosy | @gvanrossum, @pfmoore, @tjguk, @pkch, @zware, @serhiy-storchaka, @zooba, @CAM-Gerlach, @websurfer5
PRs | <li>python/cpython#24793</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields

[2017-04-04 18:26] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74168
There's a known issue with `shutil.rmtree` on Windows, in that it fails intermittently.

The issue is well known (https://mail.python.org/pipermail/python-dev/2013-September/128353.html), and the agreement is that it cannot be cleanly solved inside `shutil` and should instead be solved by the calling app. Specifically, python devs themselves faced it in their test suite and solved it by retrying d

[2017-04-04 18:31] terryjreedy commented on #74169
Today there is a fairly long python-list thread about the difficult of finding info on 'dict comprehensions' in the doc.  Point 1 is missing index entries.  I opened bpo-29981 for this.  Point 2 is something I have also noticed: the obscurity of 'Atoms' and 'Primaries' as titles of sections in the Expressions chapter.  These are fairly esoteric Computer Science language theory terms.  Compare thes

[2017-04-04 18:31] terryjreedy opened #74169 "Reference TOC: expand 'Atoms' and 'Primaries'"
BPO | [29983](https://bugs.python.org/issue29983)
--- | :---
Nosy | @terryjreedy

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 18:33] terryjreedy commented on #74167
See bpo-29983 for expanding the title of the 'atoms' section containing subsections on comprehensions.

[2017-04-04 18:45] terryjreedy commented on #74169
'displays' is partly redundant with 'comprehensions'.  Since many think of other 'displays' as a type of literal, leave 'displays' out.  They are well indexed.  I think the most likely term people have trouble finding in the TOC is 'comprehension'.  It was not immediately obvious to most that should be 'atoms'.

[2017-04-04 19:31] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74091
As per #bpo-25002 and, specifically #msg250151, the TypeError in `asynchat` should probably not be included, I'll just make a PR for the TypeError in asyncio/proactor_events

[2017-04-04 19:56] 1st1 commented on #74156
I'm assigning this to myself to make sure I don't forget about this. If someone wants to tackle this please feel free to reassign.

[2017-04-04 20:02] 80df67ca-86a6-4877-9499-791488b197fe opened #74170 "Improve test coverage for 'heapq' module"
BPO | [29984](https://bugs.python.org/issue29984)
--- | :---
Nosy | @rhettinger, @rkday
PRs | <li>python/cpython#992</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 20:02] 80df67ca-86a6-4877-9499-791488b197fe commented on #74170
It's currently at 97%:

Name           Stmts   Miss  Cover   Missing
\--------------------------------------------
[Lib/heapq.py](https://github.com/python/cpython/blob/main/Lib/heapq.py)     262      7    97%   187, 351-352, 375-376, 606-607

I'm submitting a Github PR to fix it.

[2017-04-04 20:29] ilevkivskyi commented on #74152
You could try:

[code]

You can do this automatically following MyClass.\_\_mro__ and then collecting relevant \_\_module__ attributes on bases.

However, there is little chance this will be fixed in typing itself. It is difficult to cover all possible cases, so that users should choose custom globals/locals for their needs.

[2017-04-04 20:49] 39d85a87-36ea-41b2-b2bb-2be43abb500e commented on #74163
A slightly shorter form:

    /\*(?:(?!\*/).)*\*/

Basically it's:

    match start

[code]

    match end

If the "match end" is a single character, you can use a negated character set, for example:

    [^\n]*

otherwise you need a negative lookahead, for example:

    (?:(?!\r\n).)*

[2017-04-04 21:43] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
I simplified the patch. Using a class as a factory function is the simplest case, so I took advantage of this. I also give one way to pass extra parameters to the handler in the factory function, because it's the main reason why we cannot always use a class.

[2017-04-04 22:00] cjerdonek opened #74171 "make install doesn't seem to support --quiet"
BPO | [29985](https://bugs.python.org/issue29985)
--- | :---
Nosy | @cjerdonek, @kenahoo, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-04 22:00] cjerdonek commented on #74171
When installing from source, the --quiet option works with "configure" and a bare "make":

[code]

However, it doesn't seem to work when passed to "make install" (and "make altinstall", etc). I tried a number of variations like:

[code]

The install output is quite verbose, so it would be useful to support --quiet. This should still allow warnings, etc, through like it does for configure and bare

[2017-04-04 22:51] aa295720-5a49-4ff0-b9cc-4061f453b2dc opened #74172 "Documentation recommends raising TypeError from tp_richcompare"
BPO | [29986](https://bugs.python.org/issue29986)
--- | :---
Nosy | @rhettinger, @ssbr, @bitdancer, @jdemeyer, @JulienPalard, @miss-islington, @iritkatriel
PRs | <li>python/cpython#987</li><li>python/cpython#16095</li><li>python/cpython#16097</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>

[2017-04-04 22:51] aa295720-5a49-4ff0-b9cc-4061f453b2dc commented on #74172
am not sure when TypeError is the right choice. Definitely, most of the time I've seen it done, it causes trouble, and NotImplemented usually does something better.

For example, see the work in https://bugs.python.org/issue8743 to get set to interoperate correctly with other set-like classes --- a problem caused by the use of TypeError instead of returning NotImplemented (e.g. https://hg.python.o

[2017-04-04 23:01] aa295720-5a49-4ff0-b9cc-4061f453b2dc commented on #74172
Sorry, forgot to link to docs because I was copy-pasting from the PR:

https://docs.python.org/2/c-api/typeobj.html#c.PyTypeObject.tp_richcompare

https://docs.python.org/3/c-api/typeobj.html#c.PyTypeObject.tp_richcompare

[2017-04-04 23:32] bitdancer commented on #74172
The documentation is technically correct, as far as I can see.  bpo-8743 is not about disallowing certain comparison operations, but rather incorrectly implementing the earlier sentence in that same doc section: "If the comparison is undefined, it must return Py_NotImplemented".  Perhaps the wording should be changed so that instead of saying "only a limited set of comparisons makes sense" it says

[2017-04-04 23:35] 9777c58c-4c48-4581-835d-9b40a023da52 opened #74173 "inspect.isgeneratorfunction not working with partial functions"
BPO | [29987](https://bugs.python.org/issue29987)
--- | :---
Nosy | @terryjreedy, @vadmium
Files | <li>[testcode.py](https://bugs.python.org/file46776/testcode.py "Uploaded as text/plain at 2017-04-04.23:35:14 by Thomas Antony"): Test code demonstrating the bug</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

[2017-04-04 23:35] 9777c58c-4c48-4581-835d-9b40a023da52 commented on #74173
When inspect.isgeneratorfunction is called on the output of functools.partial, it returns False even if the original function was a generator function. Test case is attached.

Tested in fresh conda environment running Python 3.6.1

[2017-04-04 23:42] njsmith commented on #74174
You might hope the interpreter would enforce the invariant that for 'with' and 'async with' blocks, either '\_\_(a)enter__' and '\_\_(a)exit__' are both called, or else neither of them is called. But it turns out that this is not true once KeyboardInterrupt gets involved – even if we write our (async) context manager in C, or otherwise guarantee that the actual '\_\_(a)enter__' and '\_\_(a)exit__'

[2017-04-04 23:42] njsmith opened #74174 "with statements are not ensuring that __exit__ is called if __enter__ succeeds"
BPO | [29988](https://bugs.python.org/issue29988)
--- | :---
Nosy | @rhettinger, @gpshead, @ncoghlan, @nirs, @njsmith, @markshannon, @embray, @serhiy-storchaka, @jdemeyer, @1st1, @ryanhiebert, @xgid, @jack1142
PRs | <li>python/cpython#1799</li><li>python/cpython#18334</li>
Dependencies | <li>bpo-31344: f_trace_opcodes frame attribute to switch to per-opcode tracing</li>

<sup>*Note: these values r

[2017-04-05 00:15] aa295720-5a49-4ff0-b9cc-4061f453b2dc commented on #74172
Yeah, I agree there might be a use-case (can't find one offhand, but in principle), but I think it's rare enough that you're more likely to be led astray from reading this note -- almost always, NotImplemented does what you want.

In a way this is a special case of being able to raise an exception at all, which is mentioned earlier ("if another error occurred it must return NULL and set an excepti

[2017-04-05 02:01] vadmium commented on #74173
Doesn't seem like a bug to me.

Even if there was special support for "partial" objects, that won't help with other ways of producing the same sort of thing.

[code]

Both ways produce a callable that returns a generator-iterator instance, but neither callables are really generator functions.

[2017-04-05 02:38] 27221ae4-80bf-4ab3-beca-bec82a977487 commented on #74175
From the documentation of the io module:

[code]

However, when passing a file-like object without a file descriptor (that raises OSError when calling f.fileno()) to POpen (for stdout, for example), the raised exception is not handled properly.

(However, on inspection of subprocess code, returning -1 will cause the code to handle this properly)

I'm not sure whether this is an issue in the io mod

[2017-04-05 02:38] 27221ae4-80bf-4ab3-beca-bec82a977487 opened #74175 "subprocess.Popen does not handle file-like objects without file descriptors"
BPO | [29989](https://bugs.python.org/issue29989)
--- | :---
Nosy | @terryjreedy, @vadmium, @MojoVampire, @zhangyangyu, @rtpg
Superseder | <li>bpo-19992: subprocess documentation not explicit about fileno()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitH

[2017-04-05 03:50] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74176
This issue is split from bpo-24117, that issue became a soup of small issues, so I'm going to close it.

For 4-byte GB18030 sequence, the legal range is:
0x81-0xFE for the 1st byte
0x30-0x39 for the 2nd byte
0x81-0xFE for the 3rd byte
0x30-0x39 for the 4th byte
GB18030 standard:
https://en.wikipedia.org/wiki/GB_18030
https://pan.baidu.com/share/link?shareid=2606985291&uk=3341026630

The current co

[2017-04-05 03:50] b8e5a65c-bed4-4c5d-ba32-799f883ba638 opened #74176 "Range checking in GB18030 decoder"
BPO | [29990](https://bugs.python.org/issue29990)
--- | :---
Nosy | @vstinner, @ezio-melotti, @animalize, @zhangyangyu
PRs | <li>python/cpython#994</li><li>python/cpython#999</li><li>python/cpython#1495</li><li>python/cpython#1507</li><li>python/cpython#1508</li><li>python/cpython#1509</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect t

[2017-04-05 05:36] rhettinger commented on #73735
New changeset 43ba8861e0ad044efafa46a7cc04e12ac5df640e by Raymond Hettinger (Lisa Roach) in branch 'master':
bpo-29549: Fixes docstring for str.index (#256)
https://github.com/python/cpython/commit/43ba8861e0ad044efafa46a7cc04e12ac5df640e

[2017-04-05 05:37] rhettinger commented on #73755
Antoine, do you care to make the call on this one?

[2017-04-05 05:40] 9777c58c-4c48-4581-835d-9b40a023da52 commented on #74173
Is there any way to distinguish such callables from "normal" functions without actually calling them?

[2017-04-05 05:46] ncoghlan commented on #74174
My first thought would be to inject a wordcode instruction that's essentially an eval loop directive: "ATOMIC_UNTIL \<offset\>"

ATOMIC_UNTIL would have at least the following properties:

- checks for signals are skipped until the given offset is reached
- checks to release the GIL are skipped until the given offset is reached

It may also have the following defensive coding property:

- only wor

[2017-04-05 06:19] 889f74a1-6ab9-4f32-813a-38eecf13a7f4 commented on #74145
hi Serhiy Storchaka
thank you for your explanation, it helps a lot

2017-04-01 15:44 GMT+08:00 Serhiy Storchaka \<report@bugs.python.org\>:

[2017-04-05 06:32] rhettinger commented on #73735
Thanks Lisa.

[2017-04-05 06:32] #73735 closed, assigned to lisroach

[2017-04-05 06:37] serhiy-storchaka commented on #73948
New changeset 5affd23e6f42125998724787025080a24839266e by Serhiy Storchaka in branch 'master':
bpo-29762: More use "raise from None". (#569)
https://github.com/python/cpython/commit/5affd23e6f42125998724787025080a24839266e

[2017-04-05 06:39] #73948 closed, assigned to nobody

[2017-04-05 06:54] pitrou commented on #73755
This will obviously break some existing code which passes a function returning true to Timer.  I concur with Raymond: I don't think this is a good idea.  Also, the Timer class itself is a rather simplistic answer to the problem of scheduling callbacks in the future (it uses a dedicated thread per callback, which is extremely wasteful).  You'll find better solutions in more modern toolkits, such as

[2017-04-05 07:22] pitrou commented on #74141
Since the date format itself isn't localized (fortunately), there is no reason to localize the decimal point either.  People wanting a localized logging format can easily override the default configuration.  And this proposal would break compatibility with existing log parsing tools.

We could probably bikeshed the default logging configuration for a long time, but there is value in not changing t

[2017-04-05 08:04] fa38ce35-e46a-4315-958a-ad3411af460b commented on #74177
When http client parses a multipart response, it always taints the headers with defects. e.g.
Use the attached file to start a simple http server, using current python exec, with commands:
```python .\example_bug.py server```
and run client with:
```python .\example_bug.py client```
which outputs:
"""[StartBoundaryNotFoundDefect(), MultipartInvariantViolationDefect()]"""

even though the multipart

[2017-04-05 08:04] fa38ce35-e46a-4315-958a-ad3411af460b opened #74177 "http client marks valid multipart headers with defects."
BPO | [29991](https://bugs.python.org/issue29991)
--- | :---
Nosy | @vadmium, @pareshverma91
PRs | <li>python/cpython#996</li>
Superseder | <li>bpo-29353: Incorrect handling of HTTP response with &quot;Content-Type: message/rfc822&quot; header</li>
Files | <li>[example_bug.py](https://bugs.python.org/file46780/example_bug.py "Uploaded as text/plain at 2017-04-05.08:04:41 by @pareshverma91"): Examp

[2017-04-05 08:22] 9b78a555-0225-4922-bbb5-ac2962d8f772 commented on #74178
Though the JSONDecoder already has all the hooks internally to allow for a custom parse_string (https://github.com/python/cpython/blob/master/Lib/json/decoder.py#L330), this currently is not exposed in the constructor JSONDecoder.\_\_init__.

It would be nice to expose it. Currently, I need to do hack it: https://gist.github.com/oberstet/fa8b8e04b8d532912bd616d9db65101a

[2017-04-05 08:22] 9b78a555-0225-4922-bbb5-ac2962d8f772 opened #74178 "Expose parse_string in JSONDecoder"
BPO | [29992](https://bugs.python.org/issue29992)
--- | :---
Nosy | @rhettinger, @etrepum, @ezio-melotti, @methane, @serhiy-storchaka
Files | <li>[scanner.py](https://bugs.python.org/file47374/scanner.py "Uploaded as text/plain at 2018-01-10.13:52:33 by Adrián Orive"): Modified JSON module's scanner.py</li><li>[decoder.py](https://bugs.python.org/file47375/decoder.py "Uploaded as text/plain at 201

[2017-04-05 08:24] vadmium commented on #74177
Looks like a duplicate of bpo-29353, which has a more complete patch proposed. However, see my comment about a problem with using heartersonly=True.

My policy-flag.v2.patch for bpo-24363 may help (the details have faded from my mind, but I suspect it will either fix the problem as-is, or could be adapted).

[2017-04-05 08:49] vadmium commented on #74173
Not in general. I think you would have to make special cases for partial functions, \_\_wrapped__, and whatever else there is, and combinations of these. It would be very hard to determine the correct result for test2 in

[code]

Maybe there is an argument for supporting partial as a new feature, but I don’t think it is a bug. I think there is precedent with the inspect.getargspec etc.

[2017-04-05 09:00] serhiy-storchaka commented on #74064
New changeset bae6881b4215b2613ad08ef0dc7bed7743c2b8cc by Serhiy Storchaka in branch 'master':
Update Argument Clinic generated code for bpo-29878. (bpo-1001)
https://github.com/python/cpython/commit/bae6881b4215b2613ad08ef0dc7bed7743c2b8cc

[2017-04-05 09:30] c34f15eb-b5a0-43ac-a0ed-8ed6ae70be16 opened #74179 "error of parsing encoded words in email of standard library"
BPO | [29993](https://bugs.python.org/issue29993)
--- | :---
Nosy | @warsaw, @rhettinger, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-05 09:30] c34f15eb-b5a0-43ac-a0ed-8ed6ae70be16 commented on #74179
This issue is fixed in python3
see https://github.com/python/cpython/commit/07ea53cb218812404cdbde820647ce6e4b2d0f8e

[2017-04-05 09:38] serhiy-storchaka commented on #74178
JSONDecoder constructor already has too much parameters. Adding new parameters will decrease usability. For such uncommon case I think overriding a method in a subclass is the best solution.

[2017-04-05 09:58] 9b78a555-0225-4922-bbb5-ac2962d8f772 commented on #74178
I agree, my use case is probably exotic: transparent roundtripping of binaries over JSON using a beginning \\0 byte marker to distinguish plain string and base64 encoded binaries.

FWIW, I do think however that adding "parse_string" kw param to the ctor of JSONDecoder would at least fit the current approach: there are parse_xxx parameters for all the other things already.

If overriding string par

[2017-04-05 10:36] fee97611-e62e-4d55-a266-e3efd07200f4 opened #74180 "site.USER_SITE is None for Windows embeddable Python 3.6"
BPO | [29994](https://bugs.python.org/issue29994)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-05 10:36] fee97611-e62e-4d55-a266-e3efd07200f4 commented on #74180
Previous versions of the embeddable Python:

[code]

Version 3.6.0 and 3.6.1, both win32 and amd64:

[code]

 This causes problems when importing pip for example.