[2017-02-22 11:29] CuriousLearner commented on #73735
Mariatta, I apologize for this. I completely missed to see that this was already assigned to someone else.

I've withdrawn my PR.

Thanks.

[2017-02-22 12:24] bb0b57b9-5751-44c0-9d30-c4b398ae3538 opened #73805 "st_ino (unsigned long long) is casted to long long in posixmodule.c:_pystat_fromstructstat"
BPO | [29619](https://bugs.python.org/issue29619)
--- | :---
Nosy | @vstinner, @xdegaye, @vadmium, @serhiy-storchaka, @eryksun, @zooba, @zhangyangyu
PRs | <li>python/cpython#557</li><li>python/cpython#584</li><li>python/cpython#1666</li><li>python/cpython#3102</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

[2017-02-22 12:24] bb0b57b9-5751-44c0-9d30-c4b398ae3538 commented on #73805
ino_t is of type 'unsigned long' or 'unsigned long long'. Casting it to signed type means that negative values are incorrectly returned for large inodes.

[2017-02-22 14:01] rhettinger commented on #73789
IMO, this isn't worth expanding the Queue API.  The thread pool concept explicitly allows up to poolsize threads and occasionally having one extra thread within the allowed poolsize isn't important.   Also, it is unclear why a new thread is being launched if there in nothing in the work queue (unfinished tasks is only interesting when qsize==0).

For other users, the new method is problematic beca

[2017-02-22 14:46] 7f120625-5f22-47bb-9d6e-d609ffef7a88 commented on #73802
What I meant was:
1. Open a file whose content is "input()" with IDLE
2. F5
3. Type something but without pressing Enter.
4. Come back to the script (with input() still responding to keystrokes on the input line)
5. F5
6. Bug. (Results vary even on the same machine by closing and opening Python again, sometimes whatever you pressed in step 3 disappears, sometimes it just takes input, doesn't respo

[2017-02-22 14:51] 7f120625-5f22-47bb-9d6e-d609ffef7a88 commented on #73802
\*doesn't respond to commands. I mean something similar to (not equal) "while(1): pass")

[2017-02-22 14:56] bitdancer commented on #73800
Inada: I believe the goal is to be able to handle CSV files that have columns with duplicate names.  However, in that case one could just use the regular reader class.  The only advantage TableReader gives over the regular reader that I can see is that it automatically reads the header line and sets fieldnames.  I'm not sure that is enough motivation for introducing a whole new class.

It also doe

[2017-02-22 15:08] #73732 closed, assigned to nobody

[2017-02-22 15:20] 403aece2-4474-487f-bc08-6feb19a9fdb9 commented on #73800
David:
You are correct that the goal is to handle CSVs with duplicate headers, and that the main intention is to have some of the behavior of DictReader without the destruction of data (such as the auto population of field names as you stated).

It is not the intention of this to change the behavior of DictReader, as stated in bpo-17537. It is instead covering a problem that was discussed later in

[2017-02-22 15:37] bitdancer commented on #73800
My opinion stated in that issue is still the same: I don't think this is a bug.  I don't think automatic handling of fieldnames when no other dictionary features are retained is worth the complication to the API.  So I'm still -1.  We'll see what other people think.

[2017-02-22 16:05] serhiy-storchaka commented on #73800
I'm with Inada and David. This use case looks very specific. If you need to handle a CSV file with duplicated header, you can use the regular reader or implement your own specialised reader.

[2017-02-22 16:12] serhiy-storchaka commented on #73800
Or use DictReader with an explicit fieldnames argument.

[2017-02-22 16:22] 4c5a66fc-a623-4629-abbc-fd3d448e9ebf opened #73806 "unittest.TestCase.assertWarns raises RuntimeEror if sys.modules changes size"
BPO | [29620](https://bugs.python.org/issue29620)
--- | :---
Nosy | @akuchling, @ambv, @serhiy-storchaka, @wkschwartz, @kernc, @miss-islington
PRs | <li>python/cpython#4800</li><li>python/cpython#20816</li><li>python/cpython#20817</li><li>python/cpython#29605</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<

[2017-02-22 16:22] 4c5a66fc-a623-4629-abbc-fd3d448e9ebf commented on #73806
If any of the objects in sys.modules is a module-like object that performs some additional imports in its \_\_getattribute__ (as appropriate) handler, the following simple unit test test case:

[code]

    ... # Ensure one of the imported modules is a module-like object as above

[code]

fails with:

    \======================================================================
    ERROR: test_assert

[2017-02-22 16:35] 2df14aea-354c-46a6-8f5c-342c9f465901 opened #73807 "telnetlib.Telnet.write gives confusing error message when a string is passed in"
BPO | [29621](https://bugs.python.org/issue29621)
--- | :---
Nosy | @jackdied, @bitdancer, @berkerpeksag, @johnthagen, @corona10

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-22 16:35] 2df14aea-354c-46a6-8f5c-342c9f465901 commented on #73807
I was recently helping someone learn Python 3 from Python 2 and they were confused by error resulting from the following easy-to-make mistake:

[code]

[code]

What is confusing is that the solution is to pass in `bytes`, not a `str`, but the place where this manifests is in an `in` operator with the first argument as a `bytes` (telnetlib.IAC).

Perhaps a simple isinstance(buffer, bytes) could be

[2017-02-22 16:48] vstinner opened #73808 "ast module doesn't support optional fields of Parser/Python.asdl"
BPO | [29622](https://bugs.python.org/issue29622)
--- | :---
Nosy | @vstinner, @methane, @takluyver, @Carreau
PRs | <li>python/cpython#249</li><li>python/cpython#267</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields

[2017-02-22 16:48] vstinner commented on #73808
The \_ast.AST constructor requires a tuple with the same number of items than the fields list.

Example with Raise:

ASDL: Raise(expr? exc, expr? cause)

[code]

The cause field is optional in the ASDL, but required in the \_ast module.

A tradeoff would be to add the minimum and maximum number of fields to \_ast.AST.

This issue should prevent API breakage caused by the new docstring attribute ad

[2017-02-22 16:54] eadbd4d3-cbb4-42b8-8420-9f80dcde2bcc commented on #73808
Duplicating my comment of 29463 who was in a race condition with this issue:

\----
thank you for your work on the AST, I know many developers are looking forward to improvement and stabilisation with the hope of having it stable (and documented) in the stdlib at some point.

The recent change in [PR 46](https://github.com/python/cpython/pull/46) now change (at least) the constructor of `ast.Modul

[2017-02-22 17:51] 34349917-2616-4cf4-b7c9-4bda2f98b87a commented on #73789
I can't fully agree with this:

Monitoring of consumers is already added via task_done() and join() methods. At least this two methods allows to understand that all consumers are in idle state.
The unfinished() - is just functional extension to this existing functionality.

This sounds reasonable because I also understand that this method is not usable in all cases as in most cases task_done is no

[2017-02-22 17:54] 34349917-2616-4cf4-b7c9-4bda2f98b87a commented on #73789
I've closed pull request on GitHub.

[2017-02-22 17:54] #73789 closed, assigned to rhettinger

[2017-02-22 18:48] 3873e664-9d3f-406b-bb16-a4d912ca397a opened #73809 "configparser.ConfigParser.read() does not accept Pathlib path as a single argument."
BPO | [29623](https://bugs.python.org/issue29623)
--- | :---
Nosy | @mcepl, @berkerpeksag, @DavidCEllis
PRs | <li>python/cpython#242</li><li>python/cpython#432</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[cod

[2017-02-22 18:48] 3873e664-9d3f-406b-bb16-a4d912ca397a commented on #73809
Trying to use configparser.ConfigParser.read on a pathlib object results in a TypeError. If supplied in a list it works as expected.

[code]

    TypeError: 'PosixPath' object is not iterable

The issue appears to be line 690 which checks for str before attempting to iterate and doesn't check for os.PathLike (or bytes?).

This was actually mentioned as an example where pathlib did not work here: h

[2017-02-22 19:20] zooba opened #73810 "Python 3.5.3 x86 web installer cannot install launcher"
BPO | [29624](https://bugs.python.org/issue29624)
--- | :---
Nosy | @pfmoore, @larryhastings, @tjguk, @ambv, @zware, @zooba
PRs | <li>python/cpython#258</li><li>python/cpython#263</li><li>python/cpython#264</li>
Files | <li>[python-3.5.3-webinstall.exe](https://bugs.python.org/file46665/python-3.5.3-webinstall.exe "Uploaded as application/octet-stream at 2017-02-23.20:02:43 by @zooba")</li>

<sup>

[2017-02-22 19:20] zooba commented on #73810
For some reason, the install bootstrapper for 3.5.3 x86 embedded the wrong hash value for launcher.msi. As a result, it will fail to download the file and install will be aborted.

The workaround is to deselect the launcher from being installed, and use the 64-bit installer to install the launcher. Or alternatively, install Python 3.6 to get the later version of the installer, which will then auto

[2017-02-22 19:31] 511bdf1c-9d01-4e5a-ae37-298f30f5b94c opened #73811 "colorsys.rgb_to_hsv always returns saturation as 0 (python2.7 only)"
BPO | [29625](https://bugs.python.org/issue29625)
--- | :---
Nosy | @mdickinson

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-22 19:31] 511bdf1c-9d01-4e5a-ae37-298f30f5b94c commented on #73811
colorsys.rgb_to_hsv appears to be broken on python2.7.13 (on archlinux).
Saturation is always reported as 0.

ex:

[code]

[2017-02-22 19:42] 511bdf1c-9d01-4e5a-ae37-298f30f5b94c commented on #73811
The bug appears to be caused by the difference in division
symbols between python3 vs python2.

The issue appears to be resolved if you add the following line to the
`/usr/lib/python2.7.13/colorsys.py` module (or if all arguments are converted to floats).

[code]

I noticed that this bug persists all the back to at least python2.7.10

[2017-02-22 20:24] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73739
http://bugs.python.org/issue22047 "argparse improperly prints mutually exclusive options when they are in a group"

is similar.

\-----

There are two issues:

- the nesting of mutually exclusive groups

- the formatting of the usage in such cases.

Both have come up in one way or other in other bug reports.

Yes, it is possible to add a group to an existing group.  But from a testing standpoint t

[2017-02-22 20:42] mdickinson commented on #73811
The arguments to rgb_to_hsv are supposed to be floating-point numbers in the range 0.0 to 1.0. That's documented here: https://docs.python.org/2/library/colorsys.html

[2017-02-22 22:14] 511bdf1c-9d01-4e5a-ae37-298f30f5b94c commented on #73811
oh, thank you very much and sorry for my negligence!

[2017-02-22 22:14] #73811 closed, assigned to nobody

[2017-02-22 22:57] terryjreedy commented on #73802
What OS are you using?

This does not tell me what you think the bug is.

When Shell is restarted by whatever means, any pending input, whether in response to '\>\>\>' or user input(), is cancelled and \*should* disappear and not be left to look as if it were processed.  It consistently does for me.

When a user-coded input() is active, anything typed \*should* be treated as text and not interpret

[2017-02-22 23:00] daef3769-8373-4bce-8c94-c40aa3db9faf opened #73812 "Issue with spacing in argparse module while using help"
BPO | [29626](https://bugs.python.org/issue29626)
--- | :---
Nosy | @bitdancer, @serhiy-storchaka, @falu2010, @csabella
PRs | <li>python/cpython#1835</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-02-22 23:14] 7f120625-5f22-47bb-9d6e-d609ffef7a88 commented on #73802
I am using Windows 10 64-bit.

It doesn't for me.

Even before enters?

At the comments of http://inventwithpython.com/blog/2011/11/29/the-things-i-hate-about-idle-that-i-wish-someone-would-fix/ I found someone having the same problem as me, MrValdez ()

This is a relevant part of his comment:

[2017-02-23 00:06] rhettinger commented on #73800
I concur with Serhiy, David, and Inada

Marking this as closed.

[2017-02-23 00:06] #73800 closed, assigned to nobody

[2017-02-23 00:08] 3873e664-9d3f-406b-bb16-a4d912ca397a opened #73813 "configparser.ConfigParser.read() has undocumented/unexpected behaviour when given a bytestring path."
BPO | [29627](https://bugs.python.org/issue29627)
--- | :---
Nosy | @ambv, @DavidCEllis
PRs | <li>python/cpython#3420</li>
Superseder | <li>bpo-31307: ConfigParser.read silently fails if filenames argument is a byte string</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</s

[2017-02-23 00:08] 3873e664-9d3f-406b-bb16-a4d912ca397a commented on #73813
Related:
https://github.com/python/cpython/pull/242
https://bugs.python.org/issue29623

In the discussion over my PR for bpo-29623 it became clear that bytestring paths were also unsupported and it was suggested that that should be a separate issue (currently the PR adds checks for both types).

There is some possible odd behaviour as when given a bytestring path the method attempts to open the in

[2017-02-23 01:16] ethanfurman commented on #73780
@Julian: Giving flag combinations their own name can be useful.  For example, instead of seeing Color.GREEN|RED one can see Color.YELLOW .

@Marc: I'm not convinced this is a needed change as it doesn't seem to be a common method, nor one that cannot be easily implemented independently (perhaps as a recipe in the docs).

Are you aware of other enumerations that take this approach?

[2017-02-23 01:20] ethanfurman commented on #73780
I also think using leading underscores is a better way to signal that a particular value is "weird".

[2017-02-23 03:14] rhettinger commented on #73755
Ideally, proposed API expansions should be based on a demonstrated user need. This API is over decade old and I don't recall a single user request for this functionality.  A quick scan of StackOverflow didn't turn-up any questions or answers on the subject.

I don't see anything intrinsically wrong with the idea, but in the absence of demonstrated need, it is likely to become unused cruft with it

[2017-02-23 03:55] 1ee290ce-1439-48e1-995e-ea6930888408 commented on #73814
When I run the following code on Windows/Linux for \< Python 3.6, I have no problems.  When I run in Python 3.6.0, I get the subsequent traceback.

I checked the release notes and only saw the following struct module note related to half-floats: Issue bpo-11734

[code]

[code]

To be clear, I'm copying struct objects as part of a larger class.  As I'm running many function calls where I create the

[2017-02-23 03:55] 1ee290ce-1439-48e1-995e-ea6930888408 opened #73814 "struct objects can no longer be pickled"
BPO | [29628](https://bugs.python.org/issue29628)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @serhiy-storchaka, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 04:42] rhettinger commented on #73735
Serhiy, I'm not sure what you're referring to by "Just make docstrings in the style of of Argument Clinic descriptions".   For the time being, I would like the docstring to match that of str.find().  The point of the patch is to decouple the two.

AC issues and migrations can wait.  At this point, AC adoption has been more disruptive that helpful in a number of cases.

[2017-02-23 04:43] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73812
We need to see the parser setup as well.  I've never seen a bug like this before.  The `usage` line suggests that you are using subparsers.

It might be better if you asked this on StackOverFlow with a repeatable code example.  That's a better place to get debugging help of your own code.  Come back here if others think this is a problem with `argparse` itself rather than your own setup.

[2017-02-23 05:03] zhangyangyu commented on #73735
Lisa, could you make a PR? It could let more developers see your patch.

[2017-02-23 05:20] rhettinger commented on #73735
Please everyone.  Ease up.  This is a very simple patch.  Copy what is done in str.find to str.index.  It doesn't need infinite discussion and debate.  I assigned this to Lisa to give her practice.  It wasn't intended to have five developers jump in and shove it back and forth.  Let's let simple things be simple and not waste the time of new contributors.

[2017-02-23 05:22] serhiy-storchaka commented on #73814
You have a problem. Did you try to use the copied object? It is a broken Struct object.

[code]

Copying Struct object never worked. Now it raises an error rather than silently creating a broken object.

[2017-02-23 05:22] #73814 closed, assigned to nobody

[2017-02-23 05:27] 1ee290ce-1439-48e1-995e-ea6930888408 commented on #73814
Thank you.

On Wed, Feb 22, 2017 at 9:22 PM, Serhiy Storchaka \<report@bugs.python.org\>
wrote:

[code]
----------

[2017-02-23 05:42] serhiy-storchaka commented on #73735
I mean that this work is useless since it will be lost when convert str.index to Argument Clinic. Well, even when don't use Argument Clinic, but make str.index() be supported by inspect.signature(), the docstring should be significantly rewritten.

I think there are many other easy documentation issues for practicing.

And all proposed PRs change only the docstring of str.index. They don't touch d

[2017-02-23 05:55] 5c008e86-8fae-4634-ae74-8596b15a7659 commented on #73815
Calculations in rgb_to_hls at line number 67 in python version 2.7.3 for "h" the hue component are not correct according reference mentioned in the same source file "en.wikipedia.org/wiki/HSV_color_space".

code snippet:

[code]

    #h = (h/6.0) % 1.0 not required

    # h = 60 *h # component should be multiplied by 60 but it depends on user

[2017-02-23 05:55] 5c008e86-8fae-4634-ae74-8596b15a7659 opened #73815 "rgb_to_hls in colorsys.py"
BPO | [29629](https://bugs.python.org/issue29629)
--- | :---
Nosy | @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 05:59] serhiy-storchaka commented on #73814
As a workaround you can make Struct pickleable:

[code]

[2017-02-23 06:19] serhiy-storchaka commented on #73815
All coordinates in RGB and HSV spaces are floating point numbers between 0.0 and 1.0. In Wikipedia article h is a degree value between 0° and 360°.

Could you provide an example of rgb_to_hls() returning invalid result?

[2017-02-23 06:21] daec5e0b-aef7-47d0-b4e5-b7c4158c6159 commented on #73719
I added variable smart_proxy_bypass into request module. If it's False then checking IP and FQDN of the host is skipped in proxy_bypass_registry function.

I set the default value to False, because I think it's better when the behaviour of urllib corresponds to IE rather than previous versions of urllib. This will affect only NT-systems.

[2017-02-23 06:21] methane commented on #73808
AST type doesn't have any information about optional fields.  And I don't know it's worth enough to add it.
When AST is instantiated by keyword arguments, there are no check about absence of some fields.
I suppose we can just loosen positional arguments too.

current:

[code]

will be:

[code]

[2017-02-23 06:40] terryjreedy commented on #73802
Characters typed before Enter are never sent the the execution process, so there are not even interpreted as a string, let alone a command.

Do you see exactly the following when you start IDLE?

Python 3.6.0 (v3.6.0:41df79263a11, Dec 23 2016, 08:06:12) [MSC v.1900 64 bit (AMD64)] on win32

If so, there must either be something different about your system, or you are doing something other than wha

[2017-02-23 06:40] 5c008e86-8fae-4634-ae74-8596b15a7659 commented on #73815
Please check examples in en.wikipedia.org/wiki/HSL_and_HSV

I picked one of them
for R = .750, B=0.250, G=0.750
corresponding HLS value are H= 300 = (5.0 * 60) , L =  .5, S=.5

but colorsys.rgb_to_hls(0.75 ,  0.25,  0.75) gives following output
(0.8333333333333334, 0.5, 0.5)
h\*60 = 0.8333333333333334 * 60 is not equal to 300

correct out put should be (5.0, 0.5, 0.5) or if h is multiplied by 60 t

[2017-02-23 07:01] serhiy-storchaka commented on #73815
0.8333333333333334 * 360 is equivalent to 300.

[2017-02-23 07:03] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73739
I played around with the patch 117.  I was wrong in thinking this was another case of excess brackets being wrongly purged.  The fix works by adding ending ] that were missing the original.  And it does add a symmetry to the code.

But it is easy to construct a set of Actions that creates further errors.  For the 'inserts' to work correctly the mutually exclusive Actions have to be defined togethe

[2017-02-23 07:04] serhiy-storchaka commented on #73802
The implementation of standard input/output in IDLE was significantly changed in recent years.

[2017-02-23 08:14] df2c16d9-e835-4bf0-a373-441d4d104450 opened #73816 "REPL tab-completion triggers code execution"
BPO | [29630](https://bugs.python.org/issue29630)
--- | :---
Nosy | @tiran, @serhiy-storchaka, @mlouielu, @franciscod
PRs | <li>python/cpython#248</li>
Files | <li>[wat.py](https://bugs.python.org/file46662/wat.py "Uploaded as text/plain at 2017-02-23.08:14:27 by @franciscod")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curren

[2017-02-23 08:14] df2c16d9-e835-4bf0-a373-441d4d104450 commented on #73816
On the REPL, when autocompleting with the TAB key, getattr is called, potentially triggering code execution.

This took me by surprise. Until you press RETURN, it should be pretty safe to go around autocompleting with certainty that you won't run any code. But that might be just my opinion.

What do you think?

[2017-02-23 08:27] 9da18a29-a07d-4828-a801-24cc911246de commented on #73816
I can reproduce the problem in Python 3.7.

[2017-02-23 08:31] 9da18a29-a07d-4828-a801-24cc911246de commented on #73816
Could it be the problem from readline?
Using python 2 with readline trigger same behavior.

[2017-02-23 08:36] tjguk commented on #73810
Since the webmaster@ address tends to bear the brunt of these, can I
make sure I understand the situation?

* The only installers affected are those for x86/32-bit Windows 3.5.3

* By default [I just checked] the launcher checkbox is not checked

* If it \*is* checked by the user, the entire install will abort

* If it is left unchecked, the install will succeed and it is then
possible to run the

[2017-02-23 08:42] df2c16d9-e835-4bf0-a373-441d4d104450 commented on #73816
This branch (working on the PR) fixes it:

https://github.com/franciscod/cpython/tree/bpo-29630

[2017-02-23 09:21] serhiy-storchaka commented on #73816
This is how Python works. Accessing an attribute (and even checking that the attribute exists) can trigger code executing.

Changes in https://github.com/franciscod/cpython/tree/bpo-29630 break autocompliting of proxy objects. And in any case it triggers code execution due to calling eval().

I think this is not a bug and changing current behavior can decrease usability.

[2017-02-23 09:24] tiran commented on #73816
I agree with Serhiy. There is no way to safely inspect any Python object without triggering some dunder functions like \_\_getattr__, \_\_getattribute__ or \_\_dir__.

[2017-02-23 09:37] df2c16d9-e835-4bf0-a373-441d4d104450 commented on #73816
I've updated that branch and made a pull request (https://github.com/python/cpython/pull/248)

I think this is a good compromise: inspect.getattr_static can tell if it's a property, and in that case we don't call getattr on it to prevent code execution on the completion. If it isn't a property, the current codepath is preserved.

[2017-02-23 09:43] tiran commented on #73816
Your change is not backwards compatible and makes auto-completion less useful.

[2017-02-23 09:52] 5c008e86-8fae-4634-ae74-8596b15a7659 commented on #73815
OK, That's fine.
Thanks for the clarification.

But most of the calculations I found for the conversion from RGB to HLS contains H = 60 * h' that's why I could not interpret it properly. Even on the same wiki page calculations specific to RGB to HLS were that way only.

Thank you.

[2017-02-23 09:52] df2c16d9-e835-4bf0-a373-441d4d104450 commented on #73816
But somehow inspect.getattr_static can do it?

Why is it less useful? The only change is not executing property getters when showing completion options. It's removing a surprising code execution before the newline is received.

Should CPython keep backwards compatibility of this execution-on-completion at the REPL?

[2017-02-23 10:01] caf6608e-2d5e-4f39-9e1b-7afab21ff198 commented on #73817
We use VS2015 to build Python(branch 3.6)on Windows. It failed with error "importlib.h, importlib_external.h updated. You will need to rebuild pythoncore to see the changes". This error is reported from Python 3.6 branch revision 3ab24bd. The detailed error log file is attached. Could you please help to take a look? Thank you so much!

Here is repro steps:
1. git clone -b "3.6" -c core.autocrlf=tr

[2017-02-23 10:01] #73815 closed, assigned to nobody

[2017-02-23 10:01] caf6608e-2d5e-4f39-9e1b-7afab21ff198 opened #73817 "Error “importlib.h, importlib_external.h updated. You will need to rebuild pythoncore to see the changes.” is reported when build Python on Winodws"
BPO | [29631](https://bugs.python.org/issue29631)
--- | :---
Nosy | @zware, @KarenHuang2016
Files | <li>[Python3_x86_build.log](https://bugs.python.org/file46664/Python3_x86_build.log "Uploaded as text/plain at 2017-02-23.10:01:15 by @KarenHuang2016")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details>

[2017-02-23 10:08] serhiy-storchaka commented on #73816
It is less useful because don't work with dynamic attributes (with \_\_getattar__ and \_\_getattribute__). And if executing property getters is an issue (I don't think it is), this change doesn't fix it completely.

[2017-02-23 10:14] tiran commented on #73816
inspect.getattr_static \*tries* to get attributes without triggering dunder methods. It's neither fully compatible to getattr() nor does it guarantee that no code is triggered. The function may or may not be secure.

Surprise or not surprise is a matter of perspective. I don't find it surprising.

It's incompatible because it gives different results:

[code]

[code]

Do you notice the difference?

[2017-02-23 11:21] methane commented on #73808
Now trailing optional fields are optional arguments of AST type.

[2017-02-23 11:38] methane commented on #73808
@mbussonn With [PR 249](https://github.com/python/cpython/pull/249), "import os" and "%timeit" works fine.

[2017-02-23 12:44] df2c16d9-e835-4bf0-a373-441d4d104450 commented on #73816
Serhiy, Chris, thank you for your additional comments. They surely helped me understand why my solution to this "problem?" isn't that good (also I slept on it a bit and maybe that helped).

I still ponder for a way to get autocompletion while guarranteeing no code will run, but a) any getter code is meant to run in that way, and b) it would somehow need to know the result of running that code with

[2017-02-23 12:44] #73816 closed, assigned to nobody

[2017-02-23 13:31] a6982a76-b293-41eb-bd2e-00129268a441 opened #73818 "argparse values for action in add_argument() should be flags instead of (or in addition to) strings"
BPO | [29632](https://bugs.python.org/issue29632)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 13:31] a6982a76-b293-41eb-bd2e-00129268a441 commented on #73818
The possible values for action are currently:
'store'
'store_true'
'store_false'
'store_const'
'append'
'append_const'
'count'
'help'
'version'
a subclass of argparse.Action

The string values are evidently for backward compatibility with optparse. However, adding the ability to specify these options as flags would make argparse code more maintainable (e.g. IDEs are better at refactoring symbols t

[2017-02-23 14:19] zooba commented on #73810
Creating a repaired installer is possible, though risky (it's easy when I still have the original build handy, but at this stage a rebuild will produce different hashes and make things worse). But I intend to look into that as soon as I can.

If the launcher is not already installed, or if an older version is installed, it will be selected by default. So it's a little harder to avoid, and more lik

[2017-02-23 15:25] ncoghlan commented on #73767
No, the filtering is only applied to the \_\_new__ and \_\_init__ calls on the metaclass, not to the \_\_init_subclass__ call.

Showing the last part of an interactive session where I ran the above commands:

\===========
[code]
===========

[2017-02-23 15:29] ncoghlan commented on #73767
Oops, and now I see the typo in the example code, it seems you're right. I was misremembering an earlier more decorator-like variant of the design where we didn't rely on passing the \_\_init_subclass__ arguments through the metaclass constructor.

[2017-02-23 15:38] ncoghlan commented on #73767
Note that the publisher side workaround for this is relatively straightforward: \_\_init_subclass__ implementations that want to be compatible with arbitrary metaclasses will need to take any additional parameters as class attributes (which they may delete), rather than as class header keyword arguments.

For 3.7 though, it probably makes sense to update abc.ABCMeta to pass along arbitrary keyword

[2017-02-23 15:46] 0221f22d-7485-4896-ab1e-739f98af24f4 opened #73819 "MSI installer does not pass values as SecureProperty from UI"
BPO | [29633](https://bugs.python.org/issue29633)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @zware, @zooba, @aldehoff

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 15:46] 0221f22d-7485-4896-ab1e-739f98af24f4 commented on #73819
This is a revival of bpo-1298962 (http://bugs.python.org/issue1298962) from 2009. I can reproduce the problem with an MSI created by cx_Freeze and bdist_msi on a Windows 7 64bit system in a company domain. Python is at version 3.6.0, cx_Freeze is at 5.0.1. I am a user with elevated user rights but not an admin. When installing the MSI, the files are always copied to C:\\, whether I have changed th

[2017-02-23 15:51] bitdancer commented on #73818
The obvious thing to do would be to make the Action subclasses have public names.  I personally would continue to use the strings, though, as they are easier to type.  (The same would be true if an enum were introduced (that I'd continue to use the stings because they are easier to type :), since they would need to be namespaced (argparse.action.store_true, for example).)

I can see some potential

[2017-02-23 16:38] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #73784
Please open an issue.

[2017-02-23 16:39] 9da18a29-a07d-4828-a801-24cc911246de opened #73820 "Reduce deque repeat execution when maxlen exist and size is not 1"
BPO | [29634](https://bugs.python.org/issue29634)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @mlouielu
PRs | <li>python/cpython#255</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 16:39] 9da18a29-a07d-4828-a801-24cc911246de commented on #73820
There is a XXX in v3.5.0 shows that need to dealing with deque maxlen setting case in deque_repeat.

Although there have common case for deque size 1 with maxlen, other size of deque with maxlen still using for-loop to extend the deque, without any detection.

Adding this fast break will reduce the execution speed when repeat deque with maxlen.

\---
[code]

[2017-02-23 16:56] serhiy-storchaka commented on #73820
Wouldn't be better to update the number of repeats before the loop rather than checking at every iteration?

if (deque-\>maxlen \>= 0 && n * size \> deque-\>maxlen)
    n = (deque-\>maxlen + size - 1) / size;

[2017-02-23 17:01] 9da18a29-a07d-4828-a801-24cc911246de commented on #73820
Serhiy: yes, your advice is better than checking inside the loop.

I have updated this to the commit, thanks!

[2017-02-23 17:02] lisroach commented on #73735
I'll just go ahead and make my PR, let me know what else needs to be done.

Serhiy, if you could point me in the direction of how to write the docstring so that it is in the Argument Clinic style I would be happy to take a look.

[2017-02-23 17:48] #73808 closed, assigned to nobody

[2017-02-23 18:31] 538f3c53-e013-4780-99aa-610a05c18019 opened #73821 "os.chdir() acts like `cd -P` by default, it should offer an option to not follow symlinks"
BPO | [29635](https://bugs.python.org/issue29635)
--- | :---
Nosy | @bitdancer, @serhiy-storchaka, @StreakyCobra

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 18:40] 538f3c53-e013-4780-99aa-610a05c18019 commented on #73821
When using bash, the `cd` function does not follow symlinks by default, but `cd -P` does. The `os.chdir` function behaves like `cd -P` preventing to be able to change directory to a symlink folder.

Initial setup (make a `/tmp/to/dst` symlink pointing to `/tmp/from/src`):

    cd /tmp
    mkdir from from/src to
    ln -s ../from/src to/dst

Here is an example, when using python's `os.chdir` functi

[2017-02-23 18:49] 538f3c53-e013-4780-99aa-610a05c18019 commented on #73821
The previous example (sorry, first time using this platform, I'm a little bit messy here), shows that `os.chdir` resolves symlinks by default, as opposed to what `cd` does in bash. This means it is not possible to change the directory to a symlink folder.

A solution would be a keyword argument in `os.chdir` and `os.getcwd` that would mimic the `-P` and `-L` arguments of `cd` and `pwd`, like:

[co

[2017-02-23 19:20] bitdancer commented on #73821
The function is chdir, not cd.  The 'cd' man page says that 'cd -P' should "perform actions equivalent to the chdir() function".

So, you are asking for a different function, which should \*not* be named 'os.chdir'.  You'll have to make a case for it being useful enough to add.

The same applies to getcwd, which is also a wrapper for the posix function, not an emulation of the shell's pwd.

[2017-02-23 19:21] Mariatta commented on #73735
Thanks for the PR, Lisa.

Serhiy, Raymond, could you both review this? Thanks.
I can do the merge and backport once it gets both of your approval :)

Also,should this be applied to 3.5 too?

[2017-02-23 19:30] mdickinson commented on #73811
No problem. I did spend some time wondering whether `rgb_to_hsv` still gives the correct results if any of the inputs happens to be an integer (though still in the range [0, 1]). It looks as though it does, though.

[2017-02-23 19:52] serhiy-storchaka commented on #73821
'cd' is not an external command and has no manpage. It is a shell builtin command.

Most os functions are thin wrappers around system calls. There is no system call that works as 'cd' without '-P'.

If you implement a shell in Python, you perhaps need an implementation of the 'cd' command. But I have doubts that this is needed in the stdlib.

[2017-02-23 19:59] 538f3c53-e013-4780-99aa-610a05c18019 commented on #73821
Thanks for the additional information!

Just wondering, do you know what is the function called by `cd`/`cd -L` then? It doesn't seems to be a bash internal tweak because `/usr/bin/pwd -L` is able to get the symlink path, and this binary is not part of bash.

The use case is for shells written in Python, like for instance `xonsh` [1,2]. Being powered by Python, the only way to change directory is

[2017-02-23 20:01] bitdancer commented on #73821
Since yours is the itch, I'm afraid you are going to have to be the one to figure out how this could be implemented :)

[2017-02-23 20:02] zooba commented on #73810
I have built an updated web installer which should allow us to replace just the one file on the server to fix the issue. The only downside is that it is not compatible with existing installs of 3.5.3 (that is, you can't run the executable to Modify/Repair/Remove an existing install, but unless you've corrupted your machine you can do those through Programs and Features).

If anyone would like to t

[2017-02-23 20:05] 538f3c53-e013-4780-99aa-610a05c18019 commented on #73821
I would like to believe in this, but then if `cd` is some bash internal, how does `/usr/bin/pwd -L` find it back?

Once I'll have figured out how all this is working, maybe. Not sure it would me in my competencies though.

[2017-02-23 20:05] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 opened #73822 "Specifying indent in the json.tool command"
BPO | [29636](https://bugs.python.org/issue29636)
--- | :---
Nosy | @rhettinger, @etrepum, @ezio-melotti, @bitdancer, @methane, @serhiy-storchaka, @dhimmel, @flavianh
PRs | <li>python/cpython#345</li><li>python/cpython#426</li><li>python/cpython#2720</li><li>python/cpython#9765</li><li>python/cpython#17482</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated an

[2017-02-23 20:05] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 commented on #73822
The utility of `python -m json.tool` would increase if users could specify the indent level.

Example use case: newlines in a JSON document are important for readability and the ability to open in a text editor. However, if the file is large, you can save space by decreasing the indent level.

I added an --indent argument to json.tool in https://github.com/python/cpython/pull/201. However, design

[2017-02-23 20:07] serhiy-storchaka commented on #73821
See shells sources. According to the manpage `pwd -L` just uses PWD from environment.

[2017-02-23 20:13] bitdancer commented on #73821
Ah, that should all be implementable from your python shell, then, no need for support in the os module.

For reference, when I said 'cd man page', this is what I was referring to:

http://www.unix.com/man-page/posix/1posix/cd/

I'm going to close this issue.  If you find you do need access to some system interface the os module doesn't currently provide, you can open a specific issue for that.

[2017-02-23 20:20] 538f3c53-e013-4780-99aa-610a05c18019 commented on #73821
I was doing to do so, here was my message:

\--------------------------------------------

I looked directly at `pwd` sources, and indeed it is using $PWD [1].

[1] http://git.savannah.gnu.org/cgit/coreutils.git/tree/src/pwd.c?id=509152bdd47a278dc00ddaf3200ac65044b836b1#n305

So it looks like `cd -L` is just some bash internal dealing with $PWD. Probably not something useful enough to be in the st

[2017-02-23 20:31] #73821 closed, assigned to nobody

[2017-02-23 21:50] ec31e85c-a35c-494f-805f-21a63c135c1b opened #73823 "ast.get_docstring(): AttributeError: 'NoneType' object has no attribute 'expandtabs'"
BPO | [29637](https://bugs.python.org/issue29637)
--- | :---
Nosy | @jwilk, @methane, @Carreau
PRs | <li>python/cpython#267</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-23 21:50] ec31e85c-a35c-494f-805f-21a63c135c1b commented on #73823
With git master (4c78c527d215c37472145152cb0e95f196cdddc9) I get this:

[code]

[2017-02-23 23:30] serhiy-storchaka commented on #73735
Write docstrings in following style:

"index($self, sub, start=0, end=sys.maxsize, /)\\n"
"--\\n"
"\\n"
"\<The summary line\>\\n"
"\\n"
"\<Rest of multiline\\n"
"description\>"

Extract the summary line. Don't use the metavariable "S" since it no longer defined in the signature.

[2017-02-23 23:47] ilevkivskyi opened #73824 "Spurious failures in test_collections in releak hunting mode after typing is imported"
BPO | [29638](https://bugs.python.org/issue29638)
--- | :---
Nosy | @gvanrossum, @rhettinger, @vstinner, @serhiy-storchaka, @ilevkivskyi
PRs | <li>python/cpython#469</li><li>python/cpython#482</li><li>python/cpython#483</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summ

[2017-02-23 23:47] ilevkivskyi commented on #73824
This command:

./python -c 'import runpy, typing; runpy.run_module("test")' -R 5:5 test_collections

Sometimes gives spurious failures like this:

test_collections leaked [0, 0, 3, -3, 3] memory blocks, sum=3

I think this is because ABC caches of typing.ChainMap, typing.Counter, and typing.DefaultDict are not cleared by refleak.py/dash_R_cleanup (presumably because inspect.isabstract returns Fals

[2017-02-23 23:49] rhettinger commented on #73820
The code looks fine.  Please change the comment to something like:

/* Reduce the number of repetitions when maxlen would be exceeded \*/

[2017-02-24 01:34] gpshead commented on #73825
I am working on fixing our test suite to run on IPv6 only hosts (which are becoming a reality).  Many failures today occur because of hard coded 127.0.0.1 values.

This is wrong.  We should refer to "localhost"

The "solution" to https://bugs.python.org/issue18792 moved us backwards towards hard coding IP version type specific addresses claiming that windows cannot handle resolving localhost relia

[2017-02-24 01:34] gpshead opened #73825 "test suite intentionally avoids referring to localhost, destroying abstraction away from IPv6 vs IPv4"
BPO | [29639](https://bugs.python.org/issue29639)
--- | :---
Nosy | @gpshead, @pfmoore, @pitrou, @vstinner, @tjguk, @bitdancer, @briancurtin, @zware, @zooba
PRs | <li>python/cpython#3465</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

b

[2017-02-24 02:08] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73818
Those strings are defined in a 'parser.registry' dictionary, with expressions like

[code]

(Users can also register their own custom classes. The registry can also be used for the 'type' attribute.)

So you can already do:

[code]

So I don't think we need another mapping like

[code]

I think these Action subclasses are not part of the API because users should never instantiate one directly.  It

[2017-02-24 02:30] 9da18a29-a07d-4828-a801-24cc911246de commented on #73820
Raymond: comment has changed, pushed on to GitHub.

[2017-02-24 04:00] #73820 closed, assigned to rhettinger

[2017-02-24 07:17] ncoghlan commented on #73723
For easier cross-referencing, note that http://bugs.python.org/issue29514 is the issue proposing a test case that ensures future maintainers are aware of the practical problems created by bumping the bytecode magic number in a maintenance release.

[2017-02-24 08:15] serhiy-storchaka commented on #73820
There is an opportunity of further optimisation. For example deque(range(100000), maxlen=100001) \*= 2 copies 100000 elements while it is enough to copy just 1 element. But I don't know whether it is worth to optimise this.

[2017-02-24 08:23] ncoghlan commented on #73723
I updated the PR to cover both Serhiy's change to make the legacy bytecode safe to interpret, and a tweaked version of Petr's change to allow the legacy bytecode to be imported.

The main tweaks to the latter were:

- more in depth comments explaining the changes
- switching the C level changes to rely on a couple of extern variables exported from import.c rather than scattering the backwards comp

[2017-02-24 09:03] 625191f4-e1dd-42a2-b36b-82aeb512f257 commented on #73826
Following crash is sporadically observed in RHEL7 anaconda:

(gdb) f 0
#0  PyThread_ReInitTLS () at /usr/src/debug/Python-2.7.5/Python/thread.c:411
411             if (p-\>id != id) {
(gdb) list
406         keymutex = PyThread_allocate_lock();
407
408         /* Delete all keys which do not match the current thread id \*/
409         q = &keyhead;
410         while ((p = \*q) != NULL) {
411

[2017-02-24 09:03] 625191f4-e1dd-42a2-b36b-82aeb512f257 opened #73826 "_PyThreadState_Init and fork race leads to inconsistent key list"
BPO | [29640](https://bugs.python.org/issue29640)
--- | :---
Nosy | @vstinner, @encukou, @zware, @matrixise, @applio, @stratakis
PRs | <li>python/cpython#783</li><li>python/cpython#5141</li>
Files | <li>[bz1268226_reproducer2.tar.gz](https://bugs.python.org/file46666/bz1268226_reproducer2.tar.gz "Uploaded as application/gzip at 2017-02-24.09:03:56 by Ján Stanček"): python patch that makes it easie

[2017-02-24 12:46] vstinner commented on #73827
Hi,

I compiled Python 3.7 using PGO+LTO with "make && make install", but it seems like it lacks the \_sysconfigdata module.

Moreover, I don't see any "Makefile" file in the installed directory, so the "\~/installed/3.7/bin/python3  -S -m sysconfig --generate-posix-vars" command fails on trying to import \_sysconfigdata_m_linux_x86_64-linux-gnu ...

[code]

Is it correct to use "make && make inst

[2017-02-24 12:46] vstinner opened #73827 "./configure --enable-optimizations && make && make install compiles Python twice"
BPO | [29641](https://bugs.python.org/issue29641)
--- | :---
Nosy | @vstinner
Superseder | <li>bpo-29243: --enable-optimizations makes common build commands always need to compile from scratch</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[co

[2017-02-24 12:58] vstinner commented on #73827
PGO compilation uses "make profile-removal", maybe my issue is linked to that?

I'm sure that PGO compilation + "make install" worked two months, but using: make profile-opt && make install.

[2017-02-24 13:03] vstinner commented on #73827
The --enable-optimizations option of ./configure was added by the issue bpo-26359 (first named --with-optimizations, it was recalled to --enable-optimizations later).

See also:
* issue bpo-28032: "never imply --with-lto as part of --with-optimizations"
* issue bpo-28605: Fix the help and What's New entry for --with-optimizations

[2017-02-24 15:33] vstinner commented on #73827
Ok, I confirm that it's possible to compile and install Python using PGO+LTO without --enable-optimizatioins:

cd \~/cpython
make distclean ||:
./configure --with-lto --prefix=/home/haypo/installed/3.7
make clean
make profile-opt
make install

[2017-02-24 16:48] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Hi, As far as I see, unittest.TestLoader doesn't search in PEP-420 packages, i.e. packages without \_\_init__.py files.

Is there some motivation behind this, or the loader was just not yet adapted for Implicit Namespace Packages?

[2017-02-24 16:48] 91138a88-0ad4-4fb0-afe3-a268a4a3272c opened #73828 "Why does unittest.TestLoader.discover still rely on existence of __init__.py files?"
BPO | [29642](https://bugs.python.org/issue29642)
--- | :---
Nosy | @warsaw, @nedbat, @rbtcollins, @ezio-melotti, @voidspace, @methane, @andreif
PRs | <li>python/cpython#282</li>
Superseder | <li>bpo-23882: unittest discovery doesn&#x27;t detect namespace packages when given no parameters</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflec

[2017-02-24 20:17] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Ok, it's actually not so hard to work around (for Python 3.6, at least):

[code]

I'll try to submit a pull request if it can be resolved properly.

[2017-02-24 20:33] a1284355-ccfa-4c5d-85ad-0c500c13c3ef commented on #73782
Truncated sentence was always truncated.

Introduced on commit bebf73511a1250fc768bcb7192b5b3c3fd04d8f2
from Issue bpo-20287: Argument Clinic's output is now configurable, allowing
delaying its output or even redirecting it to a separate file.
https://github.com/python/cpython/commit/bebf73511a1250fc768bcb7192b5b3c3fd04d8f2

Another issue from the same commit that still exists today:

buffer
    S

[2017-02-24 21:59] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Alright, I made an initial fix in #282. I believe that I still need
to update the docs and run it with something big, e.g. Django.

[2017-02-24 23:20] 80e5890a-9e17-44a9-8783-3eedb15a7037 opened #73829 "--enable-optimizations compiler flag has no effect"
BPO | [29643](https://bugs.python.org/issue29643)
--- | :---
Nosy | @vstinner, @methane, @aw1621107
PRs | <li>python/cpython#129</li><li>python/cpython#869</li><li>python/cpython#870</li><li>python/cpython#871</li><li>python/cpython#873</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show m

[2017-02-24 23:20] 80e5890a-9e17-44a9-8783-3eedb15a7037 commented on #73829
PR submitted here: https://github.com/python/cpython/pull/129

[2017-02-24 23:35] vstinner commented on #73829
The flag has an effect, I tested it today ;-)

Can you please elaborate why you consider that the flag has no effect?

[2017-02-24 23:39] 80e5890a-9e17-44a9-8783-3eedb15a7037 commented on #73829
At least when I last built Python, configure always said that optimizations were not enabled regardless of whether I passed in the flag.

From what it looked like to me, it's because configure uses the $enableval variable to store the result of the check for --enable-optimizations, but the script checks $withval

[2017-02-25 05:59] serhiy-storchaka commented on #73830
Importing webbrowser has a side effect. It outputs a message on stderr.

[code]

This is a regression introduced in bpo-24241.

[2017-02-25 05:59] serhiy-storchaka opened #73830 "Importing webbrowser outputs a message on stderr"
BPO | [29644](https://bugs.python.org/issue29644)
--- | :---
Nosy | @ncoghlan, @serhiy-storchaka, @davesteele
PRs | <li>python/cpython#289</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 06:56] ncoghlan commented on #73830
I think an appropriate way of handling this would be to route both stdout and stderr in the subprocess to subprocess.DEVNULL.

[2017-02-25 07:32] serhiy-storchaka commented on #73830
Just stderr. stdout contains the requested value.

And I think that an external program shouldn't be ran at import time. It would be better to defer its run until its output is required.

[2017-02-25 07:32] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Docs promise already support for namespace packages, so just a minor clarification was done.

[2017-02-25 07:41] ncoghlan commented on #73830
Ah, and I think I'm not seeing this locally because I have both Gtk and KDE components installed (my main desktop is KDE, but Firefox and various other components are still Gtk apps).

[2017-02-25 07:51] serhiy-storchaka commented on #73830
I see this because my main desktop is KDE, but optional libkf5config-bin package is not installed.

[2017-02-25 07:56] ncoghlan commented on #73830
I considered that problem of "subprocess invocation as a side-effect of import", but in this case the output is needed by the immediately following "register_X_browsers()" call, as it affects how those browsers get inserted into webbrowser.\_tryorder.

That means there isn't any obvious way to delay it without a fairly significant refactoring of how the module works :(

[2017-02-25 09:26] serhiy-storchaka opened #73831 "webbrowser module import has heavy side effects"
BPO | [29645](https://bugs.python.org/issue29645)
--- | :---
Nosy | @terryjreedy, @ncoghlan, @serhiy-storchaka, @mlouielu
PRs | <li>python/cpython#484</li><li>python/cpython#703</li>
Files | <li>[webbrowser-delayed-initialization.patch](https://bugs.python.org/file46667/webbrowser-delayed-initialization.patch "Uploaded as text/plain at 2017-02-25.11:48:56 by @serhiy-storchaka")</li><li>[webbrowser

[2017-02-25 09:26] serhiy-storchaka commented on #73831
`import webbrowser` has heavy side effects. It searches a number of executables. On X Window it also runs external program xdg-settings.

Cold start:

[code]

real	0m1.719s
user	0m0.088s
sys	0m0.036s

[code]

real	0m5.713s
user	0m0.308s
sys	0m0.196s

Hot start:

[code]

real	0m0.094s
user	0m0.072s
sys	0m0.020s

[code]

real	0m1.026s
user	0m0.284s
sys	0m0.100s

[2017-02-25 09:56] ncoghlan commented on #73830
The specific problem reported has been resolved, so closing this one.

If anyone's able to figure out a way to defer this to post-import somehow, I think that would make a good enhancement proposal.

[2017-02-25 09:56] #73830 closed, assigned to nobody

[2017-02-25 10:11] 8a616333-8514-433f-9780-5538a80023ef commented on #73832
Since commit cb41b2766de646435743b6af7dd152751b54e73f (Python 3.7a0), string literals are not parsed the same way.

ast.parse("'test'").body used to be a list with one item containing 'test'; but now it is an empty list:

[code]

[2017-02-25 10:11] 8a616333-8514-433f-9780-5538a80023ef opened #73832 "ast.parse parses string literals as docstrings"
BPO | [29646](https://bugs.python.org/issue29646)
--- | :---
Nosy | @methane, @progval, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 10:13] 8a616333-8514-433f-9780-5538a80023ef commented on #73832
(Oops, submitted too soon.)

I understand the rational of this change, so I am not sure if this is actually a bug.

However, if someone wants to parse a simple expression that may be a string, they need to add a special handling in case it's a string interpreted as a module docstring.

[2017-02-25 10:18] serhiy-storchaka commented on #73832
If someone wants to parse a simple expression that may be a string he should use the "eval" mode.

[code]

[2017-02-25 10:34] 8a616333-8514-433f-9780-5538a80023ef commented on #73832
Indeed, thanks.

I should have done that when I migrated from compiler.parse.

[2017-02-25 10:34] #73832 closed, assigned to nobody

[2017-02-25 10:44] 064b147d-1909-4665-ac07-705095c837ce commented on #73833
I managed to create an app that crashes the latest stable version of Python, that is 3.6.0 at the time of this writing.

My application is written in Python using wxPython Phoenix 3rd-party GUI library/toolkit. I am running Windows 10 Home 64-bit version OS, the latest version of it, the Anniversary Edition with all its updates.

How I did it? Well, I made an event in my GUI app where clicking the

[2017-02-25 10:44] 064b147d-1909-4665-ac07-705095c837ce opened #73833 "Python 3.6.0"
BPO | [29647](https://bugs.python.org/issue29647)
--- | :---
Nosy | @bitdancer, @PedanticHacker, @lazka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 10:48] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Ok, testing with Django was a bad idea due to compatibility with 3.7.
I could apply it to 3.6.x and test Django with it.

Is there a better idea how to trial the test discovery?

[2017-02-25 11:14] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #73833
That sounds like a problem with wxPython which you should report to them: http://trac.wxwidgets.org/

When you do, try to attach a minimal code example with your instructions so others can reproduce the error.

[2017-02-25 11:22] c6a24554-5737-4174-b47e-54fc0403b8dc opened #73834 "Missed reference to create_module() in versionadded (import.rst)"
BPO | [29648](https://bugs.python.org/issue29648)
--- | :---
Nosy | @brettcannon, @ncoghlan, @ericsnowcurrently, @marco-buttu, @Mariatta
PRs | <li>python/cpython#277</li><li>python/cpython#290</li><li>python/cpython#314</li><li>python/cpython#315</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summ

[2017-02-25 11:22] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #73834
In the first `versionadded` of the Loader section [1] of [Doc/reference/import.rst](https://github.com/python/cpython/blob/main/Doc/reference/import.rst), there is no reference to `create_module()`:

.. versionadded:: 3.4
   The create_module() method of loaders.

It should be:

.. versionadded:: 3.4
   The :meth:\`\~importlib.abc.Loader.create_module\` method of loaders.

I will make a PR.

[1] h

[2017-02-25 11:38] 9da18a29-a07d-4828-a801-24cc911246de commented on #73831
What is the different of Cold start and Hot start? It that CPU speed or something else.

In Linux 4.9.11 with i7-2k, I can't reproduce the significant real time you gave:

\# CPU gov powersave
$ time ./python -c 'import webbrowser'
0.16s user 0.02s system 93% cpu 0.200 total

\# CPU gov performance
$ time ./python -c 'import webbrowser'
0.08s user 0.00s system 82% cpu 0.093 total

[2017-02-25 11:47] serhiy-storchaka commented on #73831
Following patch makes searching of all platform browsers delayed until it is needed. In addition it makes webbrowser.register() thread safe.

Cold start:

[code]

real	0m2.851s
user	0m0.224s
sys	0m0.056s

Hot start:

[code]

real	0m0.259s
user	0m0.232s
sys	0m0.024s

[2017-02-25 11:55] serhiy-storchaka commented on #73831
Disk caches are dropped before cold start.

[code]

[2017-02-25 13:53] 9da18a29-a07d-4828-a801-24cc911246de opened #73835 "struct.pack_into check boundary error message ignores offset"
BPO | [29649](https://bugs.python.org/issue29649)
--- | :---
Nosy | @serhiy-storchaka, @andrewnester, @mlouielu
PRs | <li>python/cpython#424</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 13:53] 9da18a29-a07d-4828-a801-24cc911246de commented on #73835
For this situation, check boundary error message didn't correctly show out.

[code]

Since offset is setting at 5, it should at least need `offset + soself->s_size` bytes to store it.

[2017-02-25 14:52] ncoghlan commented on #73831
Nice, this is much cleaner than the current approach!

The one thing I would suggest is a new test case that:

- asserts webbrowser.\_tryorder is None
- asserts webbrowser.\_browsers is empty
- calls webbrowser.get()
- asserts webbrowser.\_tryorder is non-empty
- asserts webbrowser.\_browsers is non-empty

I wouldn't worry about explicitly testing the thread safety. That's just a normal double-che

[2017-02-25 15:00] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Testing with Django seems indicated an issue. I did the following with 3.6 patch (cherry-pick to bea9d2f64) on macOS with OpenSSL installed via Homebrew:

[code]

Then in Django (master, b427f0d674):

[code]

That produced one error:

\======================================================================
ERROR: auth_tests.test_hashers (unittest.loader.\_FailedTest)
\------------------------------

[2017-02-25 16:46] a5ad8fb9-cdef-4530-9287-4bb63eba5fb9 opened #73836 "abstractmethod does not work when deriving from Exception"
BPO | [29650](https://bugs.python.org/issue29650)
--- | :---
Nosy | @chrysn, @zhangyangyu
Superseder | <li>bpo-5996: abstract class instantiable when subclassing built-in types</li>
Files | <li>[demo.py](https://bugs.python.org/file46668/demo.py "Uploaded as text/plain at 2017-02-25.16:46:45 by @chrysn"): demo that should throw TypeError</li>

<sup>*Note: these values reflect the state of the issu

[2017-02-25 16:46] a5ad8fb9-cdef-4530-9287-4bb63eba5fb9 commented on #73836
The "TypeError: Can't instantiate abstract class C with abstract methods x" exception does not get raised when when the involved ABCMeta class is derived from an Exception.

The attached file shows that a class without an implementation of an abstractmethod can get instanciated; replacing the derivation from Exception with a derivation from another class (say, A) makes the instanciation throw the

[2017-02-25 16:58] Mariatta commented on #73834
Thanks, Marco. Your change looks good to me.
I'm now wondering if this should have been 'versionchanged' instead of 'versionadded'. Perhaps other core devs can confirm this.

Thanks :)

[2017-02-25 17:52] #73823 closed, assigned to nobody

[2017-02-25 17:53] bitdancer commented on #73833
Agreed with Christoph.  If the wxPython team finds there really is a bug in cpython itself triggering this, they (or you) can open a new issue with specifics.

[2017-02-25 17:53] #73833 closed, assigned to nobody

[2017-02-25 19:35] 91138a88-0ad4-4fb0-afe3-a268a4a3272c commented on #73828
Removing `--with-pydebug` parameter helped to avoid issue with _crypto extension. Testing Django with that build produced result identical to 3.6.0:

Ran 11723 tests in 83.897s
OK (skipped=1149, expected failures=4)

The patch is ready for review.

[2017-02-25 19:45] 1bc9703c-451a-4e27-ba2c-90664e117b42 commented on #73837
There is a problem with the standard library's urlsplit and urlparse functions, in Python 2.7 (module urlparse) and 3.2+ (module urllib.parse).

The documentation for these functions [1] does not explain how they behave when given an invalid URL.

One could try invoking them manually and conclude that they tolerate anything thrown at them:

[code]

Without studying the source code, it is impossibl

[2017-02-25 19:45] 1bc9703c-451a-4e27-ba2c-90664e117b42 opened #73837 "Inconsistent/undocumented urlsplit/urlparse behavior on invalid inputs"
BPO | [29651](https://bugs.python.org/issue29651)
--- | :---
Nosy | @rhettinger, @orsenthil, @howinator
PRs | <li>python/cpython#1128</li><li>python/cpython#1596</li><li>python/cpython#1597</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-02-25 19:54] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #73838 "Fix evaluation order of keys/values in dict comprehensions"
BPO | [29652](https://bugs.python.org/issue29652)
--- | :---
Nosy | @rhettinger, @ncoghlan, @Janzert, @zhangyangyu, @DimitrisJim

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 19:54] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #73838
Reported from [1] and similar to bpo-11205

Currently the evaluation order for keys and values in a dictionary comprehension follows that of assignments. The values get evaluated first and then the keys:

[code]

This seems to conflict with the semantics as described in the Semantics section of PEP-274 [2] and according to my interpretation of the reference manual (I'd expect the evaluation to be

[2017-02-25 20:34] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #73839
Many wrappers use the famous (*args, \*\*kwargs) argspec, which is less than helpful for a function that uses some positional arguments and maybe a few keyword only arguments, ie (x, y, z=10). Other IDEs have the capability of showing the wrapped functions argspec in a calltip, so why shouldn't IDLE?

[2017-02-25 20:34] df79943f-4aee-4531-a00d-c6b12816eb70 opened #73839 "IDLE - call tips show wrapper's argpsec instead of wrapped"
BPO | [29653](https://bugs.python.org/issue29653)
--- | :---
Nosy | @terryjreedy, @mr-nfamous
Superseder | <li>bpo-19903: Idle: Use inspect.signature for calltips</li>
Files | <li>[calltips.py](https://bugs.python.org/file46669/calltips.py "Uploaded as text/plain at 2017-02-25.20:34:30 by @mr-nfamous")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and mi

[2017-02-25 21:20] 006d7b03-f9f3-44da-bb8d-8d7a3e15fee9 opened #73840 "SimpleHTTPRequestHandler should support browser cache"
BPO | [29654](https://bugs.python.org/issue29654)
--- | :---
Nosy | @vstinner, @PierreQuentel, @serhiy-storchaka
PRs | <li>python/cpython#298</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-25 21:20] 006d7b03-f9f3-44da-bb8d-8d7a3e15fee9 commented on #73840
SimpleHTTPServer send a Last-Modified response header, but doesn't take into account the If-Modified-Since header if it was sent by the user agent.

If a url matches a file and this file was not modified after the value of the If-Modified-Since header, the server should return HTTP status 304 (Not Modified).

[2017-02-25 21:26] 26262e33-08fc-41fc-b1f2-696d14f054d2 commented on #73841
In the implementation of the IMPORT_STAR opcode, if the call to PyFrame_FastToLocalsWithError fails, or f_locals is NULL, then control flow jumps to the error handler without performing a decref on the "from" variable. As the "from" variable is initialised by POPping from the stack, the reference is leaked.

[2017-02-25 21:26] 26262e33-08fc-41fc-b1f2-696d14f054d2 opened #73841 "Certain errors during IMPORT_STAR can leak a reference"
BPO | [29655](https://bugs.python.org/issue29655)
--- | :---
Nosy | @berkerpeksag, @serhiy-storchaka, @Carreau, @corsix
PRs | <li>python/cpython#301</li><li>python/cpython#348</li><li>python/cpython#349</li><li>python/cpython#510</li>
Files | <li>[issue29655-2.7.patch](https://bugs.python.org/file46678/issue29655-2.7.patch "Uploaded as text/plain at 2017-02-28.06:13:33 by @serhiy-storchaka")</li>

[2017-02-25 22:50] terryjreedy commented on #73839
We usually prefer diffs rather than revised files, but I know not everyone can provide them.  Did you change anything other than add the following?
    elif hasattr(ob, '\_\_wrapped__') and callable(ob.\_\_wrapped__):
        fob = ob.\_\_wrapped__

I am all for accurate calltips.  However, your patch will not work for the stdlib wrapper functools.partial.  It does not add a \_\_wrapped__ attribut

[2017-02-25 22:50] #73839 closed, assigned to terryjreedy

[2017-02-25 22:50] serhiy-storchaka commented on #73831
Added tests.

[2017-02-26 03:43] ncoghlan commented on #73831
Patch LGTM.

Serhiy, did you want to take this as a chance to run through the new GitHub PR workflow?

Current details are at https://docs.python.org/devguide/pullrequest.html

[2017-02-26 04:52] ncoghlan commented on #73842
With the switch to a PR based workflow, I'm finding the current incarnation of "make patchcheck" less helpful than it used to be, as it only checks uncommitted changes, rather than all changes relative to the base branch.

Looking at [Tools/scripts/patchcheck.py](https://github.com/python/cpython/blob/main/Tools/scripts/patchcheck.py), it seems like it should be possible to use sys.version_info to

[2017-02-26 04:52] ncoghlan opened #73842 "Change "make patchcheck" to be branch aware"
BPO | [29656](https://bugs.python.org/issue29656)
--- | :---
Nosy | @brettcannon, @ncoghlan
PRs | <li>python/cpython#302</li><li>python/cpython#626</li><li>python/cpython#627</li><li>python/cpython#628</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fi

[2017-02-26 07:14] serhiy-storchaka commented on #73831
The new GitHub PR workflow still looks cumbersome and unclear to me. It needs using a lot of git commands different for different branches (and some command are failed or don't work as I expected when I try to repeat sequences from the [devguide](https://devguide.python.org)). How to convert a patch to a pull request? How to get a list of added and modified files? What is the best way to revert al

[2017-02-26 07:49] zhangyangyu commented on #73836
Yes. This is the case for builtin types which usually get their own \_\_new__ methods. See bpo-5996.

[2017-02-26 08:06] #73836 closed, assigned to nobody

[2017-02-26 08:52] d943741b-dd32-4a1a-b522-8ba0d540c2df opened #73843 "os.symlink: FileExistsError shows wrong message"
BPO | [29657](https://bugs.python.org/issue29657)
--- | :---
Nosy | @larryhastings, @serhiy-storchaka, @eryksun, @sayanchowdhury, @zhangyangyu, @andrewnester, @Miserlou, @Jongy, @kamilturek
Files | <li>[x.py](https://bugs.python.org/file46671/x.py "Uploaded as text/plain at 2017-02-26.08:52:23 by wrohdewald")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated

[2017-02-26 08:52] d943741b-dd32-4a1a-b522-8ba0d540c2df commented on #73843
execute the attached script. It should return

FileExistsError: [Errno 17] File exists: 'a_link' -\> 'a'

but it returns

FileExistsError: [Errno 17] File exists: 'a' -\> 'a_link'

[2017-02-26 10:41] zhangyangyu commented on #73843
I concur the current message is misleading.

OSError makes the string "[file1](https://bugs.python.org/file1) -> [file2](https://bugs.python.org/file2)". This also affects other methods calling `path_error2()` such as os.link().

[2017-02-26 11:23] serhiy-storchaka commented on #73784
And decorate this test class with test.support.cpython_only.

[2017-02-26 13:48] 4c72cab4-78db-4921-a7a3-06639c5c5a35 opened #73844 "Combining thread and process, process hangs (sometimes)"
BPO | [29658](https://bugs.python.org/issue29658)
--- | :---
Nosy | @rhettinger, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-26 13:48] 4c72cab4-78db-4921-a7a3-06639c5c5a35 commented on #73844
I have this code, which sometimes hangs (1 of 5 runs):

\# -*- coding: utf-8 -*-

[code]

I am running it on Ubuntu with command: echo "" | python3 time_test4.py

Output is:
Thread-1 RUN
B started \<B(B-1, started)\> True 31439
A \<A(Thread-1, started 139779252864768)\>
Thread-1 STOP

[2017-02-26 13:58] 4c72cab4-78db-4921-a7a3-06639c5c5a35 commented on #73844
Sometimes the output is:
Thread-1 RUN
Thread-1 STOP
B started \<B(B-1, started)\> True 20187
A \<A(Thread-1, started 139773917562624)\>
[INFO/B-1] child process calling self.run()

but "print" in "run" method of process is not executed.

[2017-02-26 14:20] ncoghlan commented on #73834
Version added is correct here, as the "create_module()" methods are all new in 3.4, and the traditional granularity for deciding "addition or change?" is that new functions, methods, and attributes are always additions, even if they're being added to a class definition.

[2017-02-26 15:41] Mariatta commented on #73834
Thanks for the clarification, Nick :)

Marco, I merged your PR, and backported to 3.5 and 3.6 branches.
Thanks!

[2017-02-26 15:41] #73834 closed, assigned to nobody

[2017-02-26 18:15] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73739
The [PR117](https://github.com/python/cpython/pull/117) patch adds an apparent symmetry.  There's a if/else for 'start', so shouldn't there also be one for 'end'?

[code]

But why the '+=' case?  It's needed for cases like this:

    usage: prog [-h] [-A | -B] [-C | -D]

It ensures that the insert between B and C is '] [', as opposed to just '['.

Without any groups usage for the 4 Actions is

[2017-02-26 19:15] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73739
I should probably give [PR 120](https://github.com/python/cpython/pull/120) more credit.  By checking the group's container it in effect eliminates this overlapping action problem.  Nested groups aren't used in the usage, just the union xor.

Maybe the question is, which is better for the user?  To tell them up front that nesting is not allowed, or to display the union group without further commen

[2017-02-26 19:17] 4c72cab4-78db-4921-a7a3-06639c5c5a35 commented on #73844
It is confirmed with other hardware with Python 3.5.2. Process is forked, but method "run" is not executing.

[2017-02-26 21:04] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73759
some updates?

[2017-02-26 21:06] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73739
JFYI, from my perspective as a developer [PR 120](https://github.com/python/cpython/pull/120) is more preferred one.

[2017-02-27 00:57] 747b7650-e094-405e-ac80-14e83328ead4 opened #73845 "Expose the `length` arg from shutil.copyfileobj for public use"
BPO | [29659](https://bugs.python.org/issue29659)
--- | :---
Nosy | @rhettinger, @terryjreedy, @methane, @serhiy-storchaka, @tgoodlet
PRs | <li>python/cpython#328</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[

[2017-02-27 00:57] 747b7650-e094-405e-ac80-14e83328ead4 commented on #73845
It would be handy to be able to pass the `length` default argument defined by `shutil.copyfileobj()` to other public functions througout the module. When copying very large files (1GB +), increasing the memory buffer can divide the copy time in half and currently the only way to accomplish this is by overriding the needed function(s) which call `shutil.copyfileobj()`.

I propose a simple non-invas

[2017-02-27 01:21] eadbd4d3-cbb4-42b8-8420-9f80dcde2bcc commented on #73846
As far as I can tell, http://bugs.python.org/issue17911 made a couple of function in traceback ignore their first arguments (etype) and infer the type from the second one (evalue).

(In git 6bc2c1e7 and 2f0441f0 respectively).

At least print_exception and format_exception are affected.

This likely affect http://bugs.python.org/issue26389 (who wish to expand same API to remove these parameters).

[2017-02-27 01:21] eadbd4d3-cbb4-42b8-8420-9f80dcde2bcc opened #73846 "Document that print/format_exception ignore etype"
BPO | [29660](https://bugs.python.org/issue29660)
--- | :---
Nosy | @Carreau, @Mariatta
PRs | <li>python/cpython#344</li><li>python/cpython#1913</li><li>python/cpython#1914</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-02-27 04:02] 379dc349-3a10-424f-b9d2-a0104f092359 commented on #73847
The docstring of timeit.Timer.autorange currently reads

     |      Return the number of loops so that total time >= 0.2.
     |
     |      Calls the timeit method with *number* set to successive powers of
     |      ten (10, 100, 1000, ...) up to a maximum of one billion, until
     |      the time taken is at least 0.2 second, or the maximum is reached.
     |      Returns ``(number, time_tak

[2017-02-27 04:02] 379dc349-3a10-424f-b9d2-a0104f092359 opened #73847 "Typo in the docstring of timeit.Timer.autorange"
BPO | [29661](https://bugs.python.org/issue29661)
--- | :---
Nosy | @rhettinger, @zhangyangyu
PRs | <li>python/cpython#331</li><li>python/cpython#353</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-02-27 05:08] zhangyangyu opened #73848 "Fix wrong indentation of timeit.Timer's documenation"
BPO | [29662](https://bugs.python.org/issue29662)
--- | :---
Nosy | @zhangyangyu
PRs | <li>python/cpython#332</li><li>python/cpython#333</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 05:55] #73848 closed, assigned to zhangyangyu

[2017-02-27 09:35] rhettinger commented on #73838
I think the current behavior is correct and desirable (as you say, it follows the order that would take place in an assignment, making it easy to roll-up existing for-loop code into a dict comprehension or to unroll and existing comprehension). Also, I think changing the behavior might risk introducing bugs into existing code that may have unconsciously relied on the existing order.  My recommenda

[2017-02-27 09:39] rhettinger commented on #73844
Unless I'm misreading what you're trying to do, this doesn't seem like a bug to me.   In general, when combining threading with multiple processes, the rule is to fork first and then launch threads (so that none of the thread ids or locks accidentally get shared across processes).

[2017-02-27 09:44] rhettinger commented on #73847
How about:
    Return the number of loops and time taken so that total time \>= 0.2.

Instead of:
    Return the number of loops so that total time \>= 0.2.

The proposed "calculate" instead of "return" isn't really correct.

[2017-02-27 09:50] zhangyangyu commented on #73847
Of course that is okay. I didn't do what you propose since I thought it's somewhat superfluous, what is returned is mentioned below. I choose 'calculate' when I see 'Automatically determine how many times to call timeit()' in the documentation.

[2017-02-27 10:13] pitrou commented on #73825
I'm not sure how much of the original analysis was right.  I've just fired up a network-less Windows VM and 'localhost' seems to resolve just fine:

[code]

[(\<AddressFamily.AF_INET6: 23\>,
  \<SocketKind.SOCK_STREAM: 1\>,
  0,
  '',
  ('::1', 80, 0, 0)),
 (\<AddressFamily.AF_INET: 2\>,
  \<SocketKind.SOCK_STREAM: 1\>,
  0,
  '',
  ('127.0.0.1', 80))]

But we should defer to our Windows experts o

[2017-02-27 10:21] 508f7627-3797-4332-8a63-a38898672f33 opened #73849 "Make collections.deque json serializable"
BPO | [29663](https://bugs.python.org/issue29663)
--- | :---
Nosy | @rhettinger, @tarekziade, @serhiy-storchaka
Superseder | <li>bpo-20774: collections.deque should ship with a stdlib json serializer</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fiel

[2017-02-27 10:21] 508f7627-3797-4332-8a63-a38898672f33 commented on #73849
collections.deque could be serialized in JSON as a simple array.

The only thing we can lose in the process is the maxlen value, but I think it's a decent behaviour to ignore it when encoding and to set it to None when decoding.

[2017-02-27 10:34] rhettinger commented on #73849
+1 This isn't really different that how we handle tuples and I can see that it would be useful to be able to dump a deque into JSON.  I concur that it is reasonable to ignore maxlen because that is primarily a convenience feature (auto-popping on overflow) rather than something that is intrinsic to the semantics of data itself.

[2017-02-27 10:38] e71ccbd4-9eb7-4bef-8190-1438e4c9b46c opened #73850 "zip() python 3 documentation not working at all !"
BPO | [29664](https://bugs.python.org/issue29664)
--- | :---
Nosy | @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 10:38] e71ccbd4-9eb7-4bef-8190-1438e4c9b46c commented on #73850
this code from the python documentation itself not working!

this code is copied from the python 3 official documentation itself even though it is working for me I am using python 3.5.2 on ubuntu 16.04 LTS

[2017-02-27 10:47] e71ccbd4-9eb7-4bef-8190-1438e4c9b46c commented on #73850
\---------------------------------------------------------------------------
[code]

TypeError: 'tuple' object is not callable

[2017-02-27 10:50] e71ccbd4-9eb7-4bef-8190-1438e4c9b46c opened #73851 "how to edit or delete issues created by me in bug tracker ?!"
BPO | [29665](https://bugs.python.org/issue29665)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 11:08] serhiy-storchaka commented on #73849
This is a duplicate of bpo-20774.

[2017-02-27 11:08] #73849 closed, assigned to nobody

[2017-02-27 11:14] serhiy-storchaka commented on #73850
Your example works for me.

[code]

I guess you have overridden the builtin function "zip" by setting the global variable "zip".

[code]

[2017-02-27 11:14] #73850 closed, assigned to nobody

[2017-02-27 12:11] pfmoore commented on #73825
I have a vague recollection of once working on a (Windows) system that mis-resolved localhost. But it was a long time ago, and I'm 100% OK with calling such a system broken.

+1 on using localhost

[2017-02-27 13:07] briancurtin commented on #73825
I echo Paul. I think the last time I would have seen a problem was on Windows 2000, which is unsupported per PEP-11.

+1 to using localhost

[2017-02-27 13:39] 4c72cab4-78db-4921-a7a3-06639c5c5a35 commented on #73844
Thank you! I couldn't find information about first forking then launching threads.

[2017-02-27 13:39] #73844 closed, assigned to applio

[2017-02-27 13:48] vstinner opened #73852 "Issue in enum documentation"
BPO | [29666](https://bugs.python.org/issue29666)
--- | :---
Nosy | @vstinner, @ethanfurman, @DimitrisJim, @kartikanand
PRs | <li>python/cpython#358</li><li>python/cpython#367</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-02-27 13:48] vstinner commented on #73852
https://docs.python.org/dev/library/enum.html

"This module defines four enumeration classes that can be used to define unique sets of names and values: Enum, IntEnum, and IntFlags"

Enum, IntEnum, IntFlag: I count 3 classes, no 4?

Moreover, the correct class name is IntFlag, not IntFlags. Or did I miss something?

[code]

[2017-02-27 13:56] #73851 closed, assigned to nobody

[2017-02-27 14:08] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #73852
Yup, `IntFlags` is a typo, that's why the reference to it doesn't show too.

Also, the fourth enum must be `Flag` which must of been omitted when it was added in `3.6`.

[2017-02-27 15:53] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 commented on #73822
For discussion on how to implement this, see

\+ https://github.com/python/cpython/pull/201#discussion_r102146742
\+ https://github.com/python/cpython/pull/201#discussion_r102840190
\+ https://github.com/python/cpython/pull/201#discussion_r102891428

Implementation now moved to https://github.com/python/cpython/issues/345

[2017-02-27 16:17] ethanfurman commented on #73852
`Flag` and `IntFlag` are indeed the correct (and missing) names.

[2017-02-27 17:11] 5864f5b6-e186-4727-9fe9-461634b863b6 opened #73853 "socket module sometimes loses response packets"
BPO | [29667](https://bugs.python.org/issue29667)
--- | :---
Nosy | @bkline

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 17:11] 5864f5b6-e186-4727-9fe9-461634b863b6 commented on #73853
The socket module does not always return response packets which are successfully delivered to the client host. We ran into this problem with an HTTP request for which socket.recv() raised an exception instead of returning the 301 redirection response which the web server sent back:

socket.error: [Errno 10054] An existing connection was forcibly closed by the remote host

We did some packet tracin

[2017-02-27 17:25] f7b4c825-fa89-4f72-8e71-bf2b1b97ec9c opened #73854 "f-strings don't change the values as expected."
BPO | [29668](https://bugs.python.org/issue29668)
--- | :---
Nosy | @serhiy-storchaka
Files | <li>[crazy.png](https://bugs.python.org/file46673/crazy.png "Uploaded as image/png at 2017-02-27.17:25:39 by rafael.capucho")</li><li>[file.py](https://bugs.python.org/file46674/file.py "Uploaded as text/plain at 2017-02-27.17:37:10 by rafael.capucho")</li>

<sup>*Note: these values reflect the state of t

[2017-02-27 17:25] f7b4c825-fa89-4f72-8e71-bf2b1b97ec9c commented on #73854
In the attached file, the lines 4 and 6 have the same structure, the line 4 changes the value of {a} properly, the line 6 didn't.

Thank you.

[2017-02-27 17:28] serhiy-storchaka commented on #73854
Please provide your example as a text.

[2017-02-27 17:31] zooba commented on #73825
As far as I recall, there's a hosts file that resolves localhost to 127.0.0.1 on Windows, which means a user could break their own configuration if they so desired. Definitely on all supported versions we should be able to assume localhost can be resolved.

I haven't checked out how it deals with IPv6, but presumably there's a priority or another hosts file that will cover it.

[2017-02-27 17:37] f7b4c825-fa89-4f72-8e71-bf2b1b97ec9c commented on #73854
[code]

[2017-02-27 17:46] serhiy-storchaka commented on #73854
What you get? What you expect?

[2017-02-27 17:48] f7b4c825-fa89-4f72-8e71-bf2b1b97ec9c commented on #73854
I got:

SELECT COUNT(*) FROM `{a}` entry WHERE entry.type == 'device' AND entry.instance == {a}

I expect the value of `{a}` changed, like:

SELECT COUNT(*) FROM `some_underscored_value` entry WHERE entry.type == 'device' AND entry.instance == some_underscored_value

[2017-02-27 17:58] serhiy-storchaka commented on #73854
The expression is a concatenation of f-string expression f"SELECT COUNT(*) " and three string literals. If you want to substitute the "a" value, convert string literals into f-string expressions:

[code]

or

[code]

But be aware that using f-string expressions for formatting SQL queries is not safe in general case. Instead, use the DB-API’s parameter substitution.

[2017-02-27 17:58] #73854 closed, assigned to nobody

[2017-02-27 18:15] f7b4c825-fa89-4f72-8e71-bf2b1b97ec9c commented on #73854
Serhiy Storchaka,

Thank you for your explanation.

[2017-02-27 18:58] c6a24554-5737-4174-b47e-54fc0403b8dc opened #73855 "Missing import of bisect in the documentation examples"
BPO | [29669](https://bugs.python.org/issue29669)
--- | :---
Nosy | @rhettinger, @marco-buttu
Files | <li>[import_bisect.patch](https://bugs.python.org/file46676/import_bisect.patch "Uploaded as text/plain at 2017-02-27.18:58:06 by @marco-buttu")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summ

[2017-02-27 18:58] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #73855
There is no import of bisect.bisect() and bisect.bisect_left() in the documentation. IMHO the examples are clearer and more complete if we import these functions, as in the attached patch.

[2017-02-27 19:11] serhiy-storchaka commented on #73841
It looks to me that 2.7 has this bug.

[2017-02-27 19:29] berkerpeksag commented on #73841
I ignored 2.7 because you know... it's 2.7 :) And you said [1] that it doesn't have a big effect on real applications.

[1] https://github.com/python/cpython/pull/301#issuecomment-282789185

[2017-02-27 20:33] 531a59ab-1b32-4988-b9bc-3e0c13c8b378 opened #73856 "argparse: does not respect required args pre-populated into namespace"
BPO | [29670](https://bugs.python.org/issue29670)
--- | :---
Nosy | @terryjreedy, @avalentino

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 20:33] 531a59ab-1b32-4988-b9bc-3e0c13c8b378 commented on #73856
I have some Python code which takes advantage of the ability to prepopulate the argparse Namespace before passing it to argparse. This allows me to read sensitive settings such as usernames and passwords from DBs, environment variables, etc. in addition to the CLI for security so they don't appear as process arguments anyone could see.

Some of these scripts have usernames and passwords as require

[2017-02-27 20:35] 8ce5a782-71dd-4338-8224-b2eb4d26d1b6 opened #73857 "Add function to gc module to check if any reference cycles have been reclaimed."
BPO | [29671](https://bugs.python.org/issue29671)
--- | :---
Nosy | @mdickinson, @Sagiri

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-27 20:35] 8ce5a782-71dd-4338-8224-b2eb4d26d1b6 commented on #73857
The intro paragraph for the gc module's documentation says:

How would you ever be sure of that?

While you can prevent reference cycles in your own code, what about your dependencies? You'd have to look through the code of all of your dependencies and transitive dependencies (including the standard library) to verify that none introduce reference cycles. And then you'd have to redo that work when

[2017-02-27 20:44] mdickinson commented on #73857
If I understand correctly, you can already achieve what you want by:

1. Disabling gc (with gc.disable()) at the beginning of your code, and possibly adding a `gc.collect()` immediately afterwards for good measure.
2. Doing a gc.collect() (and taking note of the return value) at the end of your code.
3. To be on the safe side, also check whether there's anything in `gc.garbage`.

If no reference c

[2017-02-27 20:47] mdickinson commented on #73857
An addendum: I'd note that avoiding reference cycles altogether is hard in modern-day Python. For example, any dynamically-created class creates a reference cycle between the class and its MRO:

[code]

[2017-02-27 21:00] 8ce5a782-71dd-4338-8224-b2eb4d26d1b6 commented on #73857
gc.disable() at the beginning and then analyzing the results of gc.collect() actually does do what I was wanting, thank you.

Reference cycles in and of themselves aren't the problem. It's only a problem if garbage contains reference cycles. In a normal program, a class wouldn't generally ever become garbage, so it wouldn't be a problem.

[2017-02-27 22:07] daef3769-8373-4bce-8c94-c40aa3db9faf commented on #73812
Sample code to repro this:

[code]

Please run following command:
$issue.py delete -h

[2017-02-27 22:29] 6c53f22f-246d-4255-aab6-e377bdeb50f4 opened #73858 "`catch_warnings` context manager causes all warnings to be printed every time, even after exiting"
BPO | [29672](https://bugs.python.org/issue29672)
--- | :---
Nosy | @pitrou, @gerritholl, @embray, @serhiy-storchaka, @segevfiner
PRs | <li>python/cpython#8232</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[cod

[2017-02-27 22:29] 6c53f22f-246d-4255-aab6-e377bdeb50f4 commented on #73858
Entering the `catch_warnings` context manager is causing warnings to be printed over and over again, rather than just once as it should.   Without such a context manager, the behaviour is as expected:

[code]

Uncommenting the context manager causes the warning to be printed every time:

[code]

I think this is undesirable.  There is code deep inside a module that I'm using that is using the conte

[2017-02-27 22:36] 6c53f22f-246d-4255-aab6-e377bdeb50f4 commented on #73858
I suppose this is a consequence of the change in:

http://bugs.python.org/issue4180

and although I can see why the warnings filter would be reset when entering the context manager, I don't think it is desirable to have side effects for modules that are entirely unrelated.

[2017-02-27 22:42] 6c53f22f-246d-4255-aab6-e377bdeb50f4 commented on #73858
To clarify, this behaviour crosses module boundaries.  So even if some piece of code many layers deep buried in a module uses this context manager, it has global consequences.

[2017-02-27 23:46] gpshead commented on #73825
great! that makes me feel much less bad about fixing this in the way i desire. :)

[2017-02-28 00:02] abalkin opened #73859 "Some gdb macros are broken in 3.6"
BPO | [29673](https://bugs.python.org/issue29673)
--- | :---
Nosy | @abalkin, @vstinner, @ned-deily, @stratakis, @Dormouse759
PRs | <li>python/cpython#6126</li><li>python/cpython#6399</li><li>python/cpython#6400</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-02-28 00:02] abalkin commented on #73859
Some gdb macros defined in [Misc/gdbinit](https://github.com/python/cpython/blob/main/Misc/gdbinit) got broken when \_PyUnicode_AsString was renamed to PyUnicode_AsUTF8.

(gdb) pystack
No symbol "\_PyUnicode_AsString" in current context.

[2017-02-28 00:19] abalkin commented on #73859
I tried to simply replace  \_PyUnicode_AsString with PyUnicode_AsUTF8, but it looks like code structure has changed and the pyframe and pystack macros don't work anymore.

[2017-02-28 00:46] ec31e85c-a35c-494f-805f-21a63c135c1b commented on #73759
Deleting non-existent files in /tmp is an indicator of a security hole.
This kind of error must never pass silently.

[2017-02-28 02:00] smontanaro commented on #73859
Note that these macros were always expected to be fragile. They depend to a great extent on the layout of the functions in [Python/ceval.c](https://github.com/python/cpython/blob/main/Python/ceval.c). I've had to tweak them a couple times over the years.

I'm pretty sure the gdb instance I have available to me at work wasn't configured --with-python, and corporate policies would prevent me from do

[2017-02-28 03:30] zhangyangyu commented on #73847
Thanks Raymond!

[2017-02-28 03:30] #73847 closed, assigned to zhangyangyu

[2017-02-28 04:23] rhettinger commented on #73855
Sorry, but I think this is a waste.  A number of the example sections presume that the module under discussion has been imported.   Also, these docs have been around for a long time without the slightest indication of confusion.

[2017-02-28 04:23] #73855 closed, assigned to nobody

[2017-02-28 06:13] serhiy-storchaka commented on #73841
But it is \*very easy* to fix this bug in 2.7.

[2017-02-28 07:45] methane commented on #73828
I'm afraid this change makes testloader searches unrelated directory contains massive files (like node_modules).

I don't think loading all tests from whole namespace package is not usual use case.

[2017-02-28 07:51] methane commented on #73828
When using import, (namespace) package name is explicitly specified.
Only specified name is searched.

In test loader's case, there are no such limit.
Loader may search millions of completely unrelated directories.
It may include directories in NFS or samba over slow network.

[2017-02-28 08:54] vstinner commented on #73860
GCC allows to get "size" parameters of functions allocating memory to emit better warning. For example, GCC 7 will detect implicit cast from signed to unsigned integer and emit a warning.

https://gcc.gnu.org/onlinedocs/gcc/Common-Function-Attributes.html

Example of Python functions that can benefit of this attribute:

* PyMem_RawMalloc(), PyMem_RawCalloc(), PyMem_RawRealloc()
* PyMem_Malloc(), P

[2017-02-28 08:54] vstinner opened #73860 "Use GCC __attribute__((alloc_size(x, y))) on PyMem_Malloc() functions"
BPO | [29674](https://bugs.python.org/issue29674)
--- | :---
Nosy | @vstinner, @svelankar
PRs | <li>python/cpython#669</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-28 08:56] mdickinson commented on #73857
Right; it's only really a problem with dynamically-created classes. Some parts of the standard library (like ctypes), generate such classes.

Okay to close this as rejected?

[2017-02-28 10:42] 374dfb4f-6643-4c12-8f07-b7fa83008b28 commented on #73861
On Ubuntu LTS 16.04, SysLogHandler with a custom formatter does not seem to expand loglevel/levelno fields properly, when there are square brackets ( see the attached examples ). Instead, it seems to replace '[%(loglevel)s]' with a '[pid]', and '%(loglevel)s' with 'LOGLEVEL[pid]' .

To test, run 'journalctl -f | grep test_test_test' on one console, and the attached files on another. The output for

[2017-02-28 10:42] 374dfb4f-6643-4c12-8f07-b7fa83008b28 opened #73861 "SysLogHandler does not seem to always expand %(loglevel)s properly"
BPO | [29675](https://bugs.python.org/issue29675)
--- | :---
Nosy | @vsajip
Files | <li>[bad.py](https://bugs.python.org/file46679/bad.py "Uploaded as text/plain at 2017-02-28.10:42:29 by thread13"): test file to reproduce the bug</li><li>[good.py](https://bugs.python.org/file46680/good.py "Uploaded as text/plain at 2017-02-28.10:44:20 by thread13")</li>

<sup>*Note: these values reflect the state

[2017-02-28 10:44] 374dfb4f-6643-4c12-8f07-b7fa83008b28 commented on #73861
Attaching the other file mentioned.

[2017-02-28 10:51] 374dfb4f-6643-4c12-8f07-b7fa83008b28 commented on #73861
PS. I'm not sure if that is a systemd/journald issue, or indeed a Python bug.

However, it would be nice to clear one possibility.

For a StreamHandler, it all works as it should.

[2017-02-28 11:34] zhangyangyu commented on #73862
Recently when I run the test suite test_cprofile always produces some verbose info but won't fail. This is not the case before. I am not sure this is a bug or not. git bisect tells me https://github.com/python/cpython/commit/5566bbb8d563646d83e8172410fa0c085e8233b1 is responsible. I also see the verbose info on some buildbots.

[cpython]$ ./python -m test test_cprofile
Run tests sequentially
0:00:

[2017-02-28 11:34] zhangyangyu opened #73862 "C method is not profiled by lsprof"
BPO | [29676](https://bugs.python.org/issue29676)
--- | :---
Nosy | @vstinner, @methane, @zhangyangyu
PRs | <li>python/cpython#523</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-28 12:29] 6c53f22f-246d-4255-aab6-e377bdeb50f4 commented on #73858
To resolve this, the `catch_warnings` context manager upon exiting should not only reset `filters`, but also `_filters_version`, and perhaps an associated dictionary?  Not sure if I'm understanding the code in `warnings.c` correctly, and whether, for this change, it would suffice to change `warnings.py` or whether `warnings.c` would need to be updated as well.

[2017-02-28 12:30] b44b4b52-e24a-4005-a270-f6f76c384034 opened #73863 "clarify docs about 'round()' accepting a negative integer for ndigits"
BPO | [29677](https://bugs.python.org/issue29677)
--- | :---
Nosy | @mdickinson, @vstinner, @gerritholl, @vedgar, @Mariatta, @chris-rands, @csabella
PRs | <li>python/cpython#357</li><li>python/cpython#862</li><li>python/cpython#863</li><li>python/cpython#877</li><li>python/cpython#892</li><li>python/cpython#893</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrat

[2017-02-28 12:30] b44b4b52-e24a-4005-a270-f6f76c384034 commented on #73863
With a negative integer for ndigits the output from 'round()', for example 'round(3, -2)', is always zero ('0' for 'int.\_\_round__' and '0.0' or '-0.0' for 'float.\_\_round__').

I think either it should raise an exception or the docs should be updated to reflect the current behavior.

The docs are currently silent on this: https://docs.python.org/3/library/functions.html#round

I don't know C, b

[2017-02-28 12:34] 6c53f22f-246d-4255-aab6-e377bdeb50f4 commented on #73863
[code]

Desired and useful to me.

[2017-02-28 12:38] mdickinson commented on #73863
Yep, it's (genuinely) a feature, not a bug, and being able to round to the nearest ten, hundred, thousand, etc. is useful. The docs could perhaps be improved to make it clearer that this is supported.

[2017-02-28 12:45] b44b4b52-e24a-4005-a270-f6f76c384034 commented on #73863
Ah yes, you're both completely right of course. Perhaps the docs could still be clarified though. I managed to completely overlook this, and perhaps other non-expert Python users would too.

[2017-02-28 12:50] mdickinson commented on #73863
Yes, I think the initial description could be clarified. It currently reads:

... which doesn't make it clear what happens for negative ndigits.

There's a line in the second paragraph:

which technically \*does* cover the case of negative ndigits correctly, but I think it would be good to have a clarification in the first paragraph of the description.

[2017-02-28 13:48] methane commented on #73862
thanks.
for summary, notable changes are:

(print_callers)
+{method 'append' of 'list' objects}               \<-       4    0.000    0.000  profilee.py:73(helper1)
Stats.print_callees output for Profile doesn't fit expectation!

and

[code]

[2017-02-28 18:32] 5026f48e-ea5d-4b39-bae8-51ce19b208c6 opened #73864 "email.Message.get_params decodes only first one header value"
BPO | [29678](https://bugs.python.org/issue29678)
--- | :---
Nosy | @warsaw, @bitdancer, @andrewnester
PRs | <li>python/cpython#394</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-02-28 18:32] 5026f48e-ea5d-4b39-bae8-51ce19b208c6 commented on #73864
email.Message class has method get_params() that can decode(unquote) header values in compliance with RFC2231 and RFC2047. But if in email message exists multiple headers with the same key it can't be used to decode other headers than first.
In my application I could use:
   headers = message.items()
   for key, value in headers:
       cleanValue = message.get_params(value=value)
       print(key

[2017-02-28 18:43] 1b923c99-7ee8-4252-896b-4877d8e10a5a commented on #73852
Hi I've edited the documentation to correct this and submitted a PR.

[2017-02-28 23:21] JelleZijlstra opened #73865 "Add @contextlib.asynccontextmanager"
BPO | [29679](https://bugs.python.org/issue29679)
--- | :---
Nosy | @rhettinger, @ncoghlan, @giampaolo, @1st1, @JelleZijlstra
PRs | <li>python/cpython#360</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

<

[2017-02-28 23:21] JelleZijlstra commented on #73865
An async equivalent of @contextmanager would be an obvious use case for async generators and the async with statement. In my own code, I have several async context objects that could have been written more concisely if @asynccontextmanager was available.

I'll be working on a PR to implement this.

[2017-03-01 02:36] abalkin commented on #73866
Printing the backtrace in gdb results in Python errors:

[code]

[2017-03-01 02:36] abalkin opened #73866 "gdb/libpython.py does not work with gdb 7.2"
BPO | [29680](https://bugs.python.org/issue29680)
--- | :---
Nosy | @abalkin, @vstinner, @Mariatta
PRs | <li>python/cpython#363</li><li>python/cpython#363</li><li>python/cpython#534</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.p

[2017-03-01 03:32] 4a25b443-0fe8-4370-b4e2-61276f57a232 commented on #73867
[code]

Expected behavior:
opts = [('-a', ''), ('-b', ''), ('-c', ''), ('-d', 'foo')]
Throws execption:
getopt.GetoptError: option -c requires argument

Note that -c requires a value, getopt swallows the next option '-d' as the argument to -c.  However, if -c is the last option on the command line getopt properly throws an execption "getopt.GetoptError: option -c requires argument".

The documenta

[2017-03-01 03:32] 4a25b443-0fe8-4370-b4e2-61276f57a232 opened #73867 "getopt fails to handle option with missing value in middle of list"
BPO | [29681](https://bugs.python.org/issue29681)
--- | :---
Nosy | @vadmium, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-01 04:19] ncoghlan commented on #73865
The general idea seems reasonable to me, and I've added some specific code level feedback on the PR.

A related question to this one would be whether or not it may make sense to develop a more async-friendly variant of contextlib.ExitStack (I don't currently write enough async code to design that myself, but I'm open to the idea of adding something along those lines).

[2017-03-01 04:30] JelleZijlstra commented on #73865
Thanks, I'll address your PR comments.

bpo-29302 is asking for AsyncExitStack, but that can be an independent change. I haven't personally felt the need for AsyncExitStack.

[2017-03-01 04:35] rhettinger commented on #73865
Nick, do you think this belongs in contextlib to be side-by-side with @contextmanager or would it be better to group all async tools in their own module.

It seems to me that people are going to ask for an async version of everything, effectively shadowing the core grammar and the library.  Before we go very far down that road, I think we should decide where it all should go.

[2017-03-01 05:11] ncoghlan commented on #73865
It's probably worth a python-dev discussion, but I personally draw the line at "Does this need to import 'asyncio'?". If it does, then that's a clear dependency inversion, and the functionality doesn't belong in a relatively low level module like contextlib.

If it doesn't, then I think the potentially tricky part of this kind of code is the way it interacts with the execution stack and the contex

[2017-03-01 05:28] vadmium commented on #73867
It's not clear what you expected the behaviour to be. A function cannot both raise an exception and return a value.

In any case, you are correct in saying "the next option, '-d', is taken as the argument." I do not think this is a bug. See \<http://pubs.opengroup.org/onlinepubs/9699919799/functions/getopt.html\> for the Posix specification of "getopt".

Perhaps you are confused by a bug or quirk

[2017-03-01 05:45] ncoghlan commented on #73865
python-dev thread: https://mail.python.org/pipermail/python-dev/2017-March/147501.html

In formulating my question for the list, it occurred to me that while asynccontextmanager doesn't need to depend on asyncio, the AsyncExitStack proposed in bpo-29302 likely will, which pushes me towards favouring the `asyncio.contextlib.asynccontextmanager` approach.

[2017-03-01 05:54] 49b907f3-2d6c-4723-88f9-e68e86165714 commented on #73868
Hi,

Our tool reported a position that doesn't check for returned value (from a function that might returns null). might need a look that is there any problem or I am missing something.

in function PyUnknownEncodingHandler of file pyexpat.c,

[code]

[2017-03-01 05:54] 49b907f3-2d6c-4723-88f9-e68e86165714 opened #73868 "Possible missing NULL check in pyexpat"
BPO | [29682](https://bugs.python.org/issue29682)
--- | :---
Nosy | @gpshead, @serhiy-storchaka
PRs | <li>python/cpython#573</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-01 06:17] serhiy-storchaka commented on #73867
I concur with Martin. This is not a bug.

[2017-03-01 06:17] #73867 closed, assigned to nobody

[2017-03-01 07:28] vsajip commented on #73861
This is not a bug - logging is formatting the message as per the specified format string. It then prepends the priority and sends the result to the socket. What you are seeing is just how systemd/journald interpret the message that's sent.

[2017-03-01 07:28] #73861 closed, assigned to nobody

[2017-03-01 08:36] ethanfurman commented on #73780
aenum 2.0 [1] has been released.  Because it also covers Python 2.7 I had to enhance its auto() to cover |, &, ^, and ~ so that Enum classes could be properly created.

At this moment your choices are to use odd naming or aenum (with its enhanced auto).

[1] https://pypi.python.org/pypi/aenum

[2017-03-01 08:46] #73857 closed, assigned to nobody

[2017-03-01 08:52] 25ae6a71-41ac-46e0-88e8-2d6eaa95af85 opened #73869 "_PyCode_SetExtra behaviour wrong on allocation failure and after realloc"
BPO | [29683](https://bugs.python.org/issue29683)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @brianfcoleman
PRs | <li>python/cpython#376</li><li>python/cpython#402</li><li>python/cpython#703</li><li>python/cpython#552</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</s

[2017-03-01 08:52] 25ae6a71-41ac-46e0-88e8-2d6eaa95af85 commented on #73869
On PyMem_Malloc failure, \_PyCode_SetExtra should set co_extra-\>ce_size = 0.
On PyMem_Realloc failure, \_PyCode_SetExtra should set co_extra-\>ce_size = 0.
On PyMem_Realloc success, \_PyCode_SetExtra should set all unused slots in co_extra-\>ce_extras to NULL.

I will add a GitHub PR for this shortly.

[2017-03-01 08:58] 25ae6a71-41ac-46e0-88e8-2d6eaa95af85 commented on #73869
I have now added a Github pull request here:
https://github.com/python/cpython/pull/376

[2017-03-01 09:20] methane opened #73870 "Minor regression in PyEval_CallObjectWithKeywords()"
BPO | [29684](https://bugs.python.org/issue29684)
--- | :---
Nosy | @vstinner, @methane
PRs | <li>python/cpython#87</li><li>python/cpython#378</li><li>python/cpython#703</li><li>python/cpython#552</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-03-01 09:20] methane commented on #73870
This issue is spin off bpo-29548.

[code]

[1] https://github.com/python/cpython/commit/155ea65e5c88d250a752ee5321860ef11ede4085

[2017-03-01 09:38] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #73863
This is one of those things that show Python being extremely consistent within itself. Of course, docs should be clarified if needed, but the feature is desirable and useful.

[2017-03-01 09:52] vstinner commented on #73866
It's a regression introduced in Python 3.6 by CPython change:
https://github.com/python/cpython/commit/d7d2bc8798da3b083e383e949ba01d61b78e4e4d

gdb.error was introduced in gdb 7.3 by the commit 07ca107c2d958b45633ef0cdcce7219a95f0cf01:
https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=commit;f=gdb/python/python.c;h=07ca107c2d958b45633ef0cdcce7219a95f0cf01

[2017-03-01 11:14] encukou commented on #73826
Here is a proof of concept patch from Jaroslav Škarvada. It fixes the problem by holding the mutex used for PyThread_create_key while forking.

To make it more than PoC it needs adding \_PyThread_AcquireKeyLock and \_ReleaseKeyLock (similar to \_PyImport_AcquireLock() etc.) and calling those.  Other than that, does this approach look reasonable?

[2017-03-01 12:37] vstinner commented on #73870
Both PR have been merged, I close the issue.

[2017-03-01 12:37] #73870 closed, assigned to nobody

[2017-03-01 14:59] abalkin commented on #73866
Victor, the gdb commit that you mentioned introduced gdb.GdbError which is different from gdb.error. [1]  The correct commit is 621c83642d17cf523c20f55f2ed945a7ec95ea6a. [2]

[1] https://sourceware.org/gdb/current/onlinedocs/gdb/Exception-Handling.html#Exception-Handling
[2] https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;h=621c83642d17cf523c20f55f2ed945a7ec95ea6a

[2017-03-01 15:37] 1st1 commented on #73865
As I said in [1], I think asynccontextmanager and AsyncExitStack should be framework agnostic and thus stay in the top level contextlib package.

IMO AsyncExitStack should not be dependent on asyncio, and if it is it means we would need to tweak its design to make it not to.  I'll take a look at the other issue to see if I can help.

[1] https://mail.python.org/pipermail/python-dev/2017-March/1475

[2017-03-01 15:42] ab2420d8-01d1-492a-bb4f-1671a6164686 commented on #73871
make test output

[code]

test_gdb failed

1 test failed:
    test_gdb

Total duration: 31 ms
Tests result: FAILURE

[2017-03-01 15:42] ab2420d8-01d1-492a-bb4f-1671a6164686 opened #73871 "test_gdb failed"
BPO | [29685](https://bugs.python.org/issue29685)
--- | :---
Nosy | @vstinner, @tirkarthi
Superseder | <li>bpo-40436: pythoninfo collect_gdb() blows up when gdb fails to run</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.or

[2017-03-01 16:21] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 opened #73872 "Unittest - Return empty string instead of None object on shortDescription()"
BPO | [29686](https://bugs.python.org/issue29686)
--- | :---
Nosy | @rhettinger, @bitdancer, @serhiy-storchaka, @viniciusd
PRs | <li>python/cpython#383</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-03-01 16:21] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 commented on #73872
I have been browsing around the unittest standard library, and I realized that TestCase's shortDescription() method at lib/pythonX.X/unittest/case.py returns None when the there is no docstring on the test that is running.
As shortDescription() should obviously return a string, I would recommend returning an empty string instead of None when no docstring is found.
This came to mind when I was usin

[2017-03-01 17:28] serhiy-storchaka commented on #73872
This can break a code that checks whether shortDescription() is None.

If you an empty string rather than None, just use the expression `shortDescription() or ''`.

[2017-03-01 17:29] d033c070-7c03-4114-b960-4ccb100a460e opened #73873 "smtplib does not support proxy"
BPO | [29687](https://bugs.python.org/issue29687)
--- | :---
Nosy | @tiran, @ryanhiebert

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-01 17:29] d033c070-7c03-4114-b960-4ccb100a460e commented on #73873
smtplib does not support connections through a proxy. The accepted workaround is something like:

[code]

The side-effects of `socks.wrapmodule` impact other libraries which don't need to use the proxy, like `requests`. See here for a disucssion https://github.com/kennethreitz/requests/issues/3890

[2017-03-01 17:33] rhettinger commented on #73872
It's too late to change this API.  As Serhiy says, it risks breaking code that is currently running and correct.

Note the the \_\_doc__ on functions is set to None when there is no docstring.  For better or worse, returning None is common in the Python world.

[2017-03-01 17:33] #73872 closed, assigned to nobody

[2017-03-01 17:37] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #73874 "Add support for Path.absolute()"
BPO | [29688](https://bugs.python.org/issue29688)
--- | :---
Nosy | @brettcannon, @pitrou, @methane, @serhiy-storchaka, @eryksun, @DimitrisJim, @barneygale
PRs | <li>python/cpython#384</li><li>python/cpython#26153</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p

[2017-03-01 17:37] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #73874
Method absolute of Path objects lacked documentation, proposed PR adds relevant method to docs.

[2017-03-01 17:43] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 commented on #73872
If it is tagged for future releases, whoever choose to update their Python
version should expect code breaking and API changes, shouldn't them? I
don't see code breaking as an issue against this request.

On 1 March 2017 at 14:33, Raymond Hettinger \<report@bugs.python.org\> wrote:

--
Vinícius Dantas de Lima Melo
Graduando em Ciências e Tecnologia
Universidade Federal do Rio Grande do Norte (UFRN

[2017-03-01 17:55] bitdancer commented on #73872
We don't make breaking changes unless there is strong motivation, which is lacking here.

[2017-03-01 18:52] eb587a24-d2fb-4f00-a844-1dc91641574e opened #73875 "Asyncio-namespace helpers for async_generators"
BPO | [29689](https://bugs.python.org/issue29689)
--- | :---
Nosy | @asvetlov, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-01 18:52] eb587a24-d2fb-4f00-a844-1dc91641574e commented on #73875
Expanding an async_generator to any container-type currently makes you do an async-for loop/comprehension. There are some third-party libs (aitertools) that have helpers but it would be nice for this to be upstream for list, tuple, dict, set, etc.

Usage might be:

expanded: List[int] = await asyncio.list(gen())

[2017-03-01 19:05] 4b2c29a5-ae9b-4062-85b8-dca35162e71b commented on #73780
@ethan, didn't know about aenum, thanks for showing it to me. However it doesn't seem to support the behavior I'm after (or I'm doing something wrong)

[code]

try:
	class Foo(aenum.Flag):
		a = aenum.auto()
		b = a | aenum.auto()
except Exception as err:
	print(err)

try:
	class Bar(aenum.Flag):
		a = aenum.auto()
		b = aenum.auto() | a
except Exception as err:
	print(err)

results in
unsupported

[2017-03-01 19:30] serhiy-storchaka commented on #73780
I don't think it is worthwhile. Using underscored names looks pretty pythonic to me.

[2017-03-01 21:48] rhettinger commented on #73865
At third alternative is to create an asynctools module to collect together tools that work with the async keyword but aren't dependent on asyncio.

[2017-03-02 00:06] ethanfurman commented on #73780
Serhiy, agreed.  Closing.

Marc, thanks, I see I missed supporting non-auto() combinations.  Feel free to open an issue for that at:

  https://bitbucket.org/stoneleaf/aenum

Either way I'll get that fixed.

[2017-03-02 00:06] #73780 closed, assigned to ethanfurman

[2017-03-02 01:44] ncoghlan commented on #73865
In the specific case of contextlib, most of the APIs should be able to transparently support async/await without negatively impacting their synchronous behaviour, so after the python-dev discussion, I think one module with separate sync and async test suites is a good way to go for contextlib specifically: https://mail.python.org/pipermail/python-dev/2017-March/147520.html

However, as noted in th

[2017-03-02 07:31] f18467eb-51ed-4907-a86f-19236d4ecfb1 commented on #73876
[code]

We should either mention it in doc, either cherry-pick the code from python3

[2017-03-02 07:31] f18467eb-51ed-4907-a86f-19236d4ecfb1 opened #73876 "no %z directive for strptime in python2, doc says nothing about it"
BPO | [29690](https://bugs.python.org/issue29690)
--- | :---
Nosy | @bitdancer, @deronnax

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-02 08:42] JelleZijlstra commented on #73877
A few tests fail in the coverage Travis target (see e.g. https://travis-ci.org/python/cpython/jobs/206480468): test_traceback and test_xml_etree.

I extracted the actual failures by running in verbose mode locally:

\======================================================================
FAIL: test_recursive_traceback_cpython_internal (test.test_traceback.TracebackFormatTests)
\--------------------

[2017-03-02 08:42] JelleZijlstra opened #73877 "Some tests fail in coverage Travis check"
BPO | [29691](https://bugs.python.org/issue29691)
--- | :---
Nosy | @brettcannon, @scoder, @ezio-melotti, @voidspace, @serhiy-storchaka, @JelleZijlstra
Superseder | <li>bpo-29048: Coverage influence tests, make some of them fail</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more deta

[2017-03-02 10:11] ncoghlan opened #73878 "contextlib.contextmanager may incorrectly unchain RuntimeError"
BPO | [29692](https://bugs.python.org/issue29692)
--- | :---
Nosy | @rhettinger, @ncoghlan, @serhiy-storchaka, @JelleZijlstra, @Mariatta, @svelankar
PRs | <li>python/cpython#891</li><li>python/cpython#949</li><li>python/cpython#1079</li><li>python/cpython#1105</li><li>python/cpython#1107</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect

[2017-03-02 10:11] ncoghlan commented on #73878
As part of PEP-479, an extra check was added to contextlib.\_GeneratorContextManager to avoid getting confused when a StopIteration exception was raised in the body of the with statement, and hence thrown into the generator body implementing the context manager.

This extra check should only be used when the passed in exception is `StopIteration`, but that guard is currently missing, so it may unc

[2017-03-02 11:48] vstinner commented on #73852
Doc has been fixed in Python 3.6 and 3.7. Thanks!

[2017-03-02 11:48] #73852 closed, assigned to nobody

[2017-03-02 13:31] serhiy-storchaka opened #73879 "DeprecationWarning/SyntaxError in test_import"
BPO | [29693](https://bugs.python.org/issue29693)
--- | :---
Nosy | @brettcannon, @ncoghlan, @benjaminp, @ericsnowcurrently, @serhiy-storchaka, @Carreau, @AnishShah
PRs | <li>python/cpython#421</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[c

[2017-03-02 13:31] serhiy-storchaka commented on #73879
[code]

Total duration: 2 sec
Tests result: SUCCESS

[code]

test_import failed

1 test failed:
    test_import

Total duration: 244 ms
Tests result: FAILURE

[2017-03-02 13:36] bitdancer commented on #73876
This almost qualifies as a FAQ :)

In 2.7 (and in 3.x, though we've added some additional platform independent stuff there), strptime supports what the platform supports, and this is documented: "The following is a list of all the format codes that the C standard (1989 version) requires, and these work on all platforms with a standard C implementation. Note that the 1999 version of the C standard

[2017-03-02 13:36] #73876 closed, assigned to nobody

[2017-03-02 13:53] f2d6072f-1e43-4b87-9b71-804f4b9b2a9a opened #73880 "race condition in pathlib mkdir with flags parents=True"
BPO | [29694](https://bugs.python.org/issue29694)
--- | :---
Nosy | @arigo, @berkerpeksag, @serhiy-storchaka, @Mariatta, @whitespacer
PRs | <li>python/cpython#1089</li><li>python/cpython#1126</li><li>python/cpython#1127</li>
Files | <li>[x1.diff](https://bugs.python.org/file46707/x1.diff "Uploaded as text/plain at 2017-03-07.06:39:04 by @arigo")</li><li>[x2.diff](https://bugs.python.org/file46764/

[2017-03-02 13:53] f2d6072f-1e43-4b87-9b71-804f4b9b2a9a commented on #73880
When pathlib mkdir is called with parents=True and some parent doesn't exists it recursively calls self.parent.mkdir(parents=True) after catching OSError. However after catching of OSError and before call to self.parent.mkdir(parents=True) somebody else can create parent dir, which will lead to FileExistsError exception.

[2017-03-02 14:54] serhiy-storchaka commented on #73881
Proposed patches deprecate the "x" keyword parameter in int(), bool() and float() and the "sequence" keyword parameter in list() and tuple(). Name "x" is meaningless, and name "sequence" is misleading (any iterable is accepted, not just sequence). The documentation uses name "iterable" for list() and tuple().

It is never documented that any of these parameters are accepted by keywords. There was

[2017-03-02 14:54] serhiy-storchaka opened #73881 "Weird keyword parameter names in builtins"
BPO | [29695](https://bugs.python.org/issue29695)
--- | :---
Nosy | @brettcannon, @rhettinger, @vstinner, @bitdancer, @serhiy-storchaka
PRs | <li>python/cpython#486</li><li>python/cpython#518</li><li>python/cpython#520</li><li>python/cpython#703</li><li>python/cpython#552</li>
Files | <li>[deprecate-keyword-x.patch](https://bugs.python.org/file46684/deprecate-keyword-x.patch "Uploaded as text/plai

[2017-03-02 14:59] bitdancer commented on #73881
I don't think we should do it without deprecation, since it could break working code.  But it certainly sounds like a marginal case: I doubt there is \*much* code that uses the existing keyword names.

[2017-03-02 15:09] vstinner commented on #73881
R. David Murray added the comment:

I'm not sure that it's worth it to add a deprecation warning in Python
3.7. It's trivial to fix code passing an argument by keyword rather
than by position.

[2017-03-02 15:12] serhiy-storchaka commented on #73881
Well, I was feeling the same, but asked just for the case.

Could you then look at deprecation messages? I'm sure that 'The "x" keyword argument of int() is deprecated' is not the best wording, and may be even ugly wording. Could you please suggest better wording David?

Patches don't document new deprecations because it is not documented that keyword arguments are supported either. Is mentioning

[2017-03-02 15:22] vstinner commented on #73881
"What's New in Python 3.7" has a section for such changes: "Porting to
Python 3.7: Changes to the Python API".
https://docs.python.org/dev/whatsnew/3.7.html#porting-to-python-3-7

Oh, I see that you already made a similar change but this one had a
deprecation period of 2 releases (3.5 and 3.6): "A format string
argument for string.Formatter.format() is now positional-only."

See also the positiona

[2017-03-02 15:34] facundobatista opened #73882 "Use namedtuple in string.Formatter.parse iterator response"
BPO | [29696](https://bugs.python.org/issue29696)
--- | :---
Nosy | @rhettinger, @facundobatista, @ericvsmith, @serhiy-storchaka, @csabella, @pablogsal
PRs | <li>python/cpython#3980</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.p

[2017-03-02 15:34] facundobatista commented on #73882
Right now:

[code]

This returned tuple should be a namedtuple, so it's self-explained for people exploring this (and usage of the fields become clearer)

[2017-03-02 15:37] bitdancer commented on #73881
So these will become positional only?  In that case I'd say "Using 'x' as a keyword argument is deprecated; specify the value as a positional argument instead"

[2017-03-02 15:42] serhiy-storchaka commented on #73881
See also bpo-20283. Obviously wrong keyword parameter names in regex methods were deprecated in 2.7, 3.3 and 3.4 and removed in 3.6.

[2017-03-02 15:53] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73864
Thanks for reporting! Just added PR fixing this.

[2017-03-02 16:05] serhiy-storchaka commented on #73881
Thank you David! Updated warning messages for your suggestion and added entries in [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) and What's New.

[2017-03-02 16:18] tiran opened #73883 "Wrong ECDH configuration with OpenSSL 1.1"
BPO | [29697](https://bugs.python.org/issue29697)
--- | :---
Nosy | @tiran, @ned-deily, @dstufft
PRs | <li>python/cpython#395</li><li>python/cpython#397</li><li>python/cpython#398</li><li>python/cpython#399</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitH

[2017-03-02 16:18] tiran commented on #73883
I think I made a mistake during the port to OpenSSL 1.1.x. defined(OPENSSL_VERSION_1_1) is on the wrong ifndef block.

\------------------------------------------------------------------
Old code

[code]

------------------------------------------------------------------
New code with OpenSSL 1.1.x compatibility

[code]

[2017-03-02 16:26] tiran commented on #73883
The bug report was too much of a "memo to me" brain dump. Let me clarify.

For OpenSSL 1.0.2 we can call SSL_CTX_set_ecdh_auto() to enable ECDH curves. For OpenSSL \< 1.0.2 it was necessary to configure a curve with SSL_CTX_set_tmp_ecdh(). OpenSSL \>= 1.1.0 does neither need ecdh_auto nor tmp_ecdh.

[code]

[2017-03-02 16:39] bitdancer commented on #73864
Thanks for the response, but I do not believe that this is a bug.

The python3 email package will decode the headers automatically if you use the new policies, so if you iterate through the headers, you'll get the decoded versions, with access to the parms dict for each.  (For custom headers you will have to register the appropriate header parser, but it should automatically handle all the standar

[2017-03-02 16:39] #73864 closed, assigned to nobody

[2017-03-02 16:46] 50c0bf16-0e76-4c26-9238-9062d9219887 commented on #73884
I have failed to find previous discussion when `while (n--)` was changed to `n++; while (--n)`. (commits 306d6b1ea6bf2582b9284be2fd27275abbade3e1, 165eee214bc388eb588db33385ca49ddbb305565)

It is clear for me that n++; while (--n) and for (; n; --n) are interchangable statements, but here is the prof of it http://coliru.stacked-crooked.com/a/a6fc4108b223e7b2.

According to asm out https://godbolt.

[2017-03-02 16:46] 50c0bf16-0e76-4c26-9238-9062d9219887 opened #73884 "_collectionsmodule.c: Replace `n++; while (--n)` with `for (; n; --n)`"
BPO | [29698](https://bugs.python.org/issue29698)
--- | :---
Nosy | @rhettinger, @vstinner, @serhiy-storchaka, @Kojoley
PRs | <li>python/cpython#396</li>
Files | <li>[_collectionsmodule.s](https://bugs.python.org/file46691/_collectionsmodule.s "Uploaded as text/plain at 2017-03-02.22:21:41 by @rhettinger"): GCC-6 Disassembly of reverse() in Modules/_collections.c</li>

<sup>*Note: these values ref

[2017-03-02 17:12] vstinner commented on #73884
The purpose of the issue is unclear to me. Why do you want to replace while with for? For readability?

I agree that "n++; while (--n) ..." is surprising. It seems strange to start with a "n++" to decrement it in the next instruction :-) It's also unusual to write loops like that.

You should ask Raymond Hettinger for the rationale. The commit message says "better generated code (on both GCC and C

[2017-03-02 17:15] vstinner commented on #73884
Oh, a little bit more context: Raymond Hettinger is the maintainer of \_collectionsmodule.c and spent a lot of time to optimize this file!

[2017-03-02 17:28] 50c0bf16-0e76-4c26-9238-9062d9219887 commented on #73884
I was asked to open an issue by Serhiy Storchaka on the GitHub PR.

Yes, I have open a PR just to improve the readability, because I was surprised by this incrementing-decrementing statements like you.

The purpose is clear to me - to eliminate postincrement and temporary variable that it requires.

Benchmark was made to show that location of cmp+jmp location (look at asm output for more info) mak

[2017-03-02 17:31] vstinner commented on #73884
Honestly, I don't really care of the exact syntax of C loops in
\_collectionmodule.c.

But if your patch is rejected (right now, I'm neutral), it would be
nice to add a comment with a reference to this issue on the loops to
avoid other questions in the future.

[2017-03-02 18:43] brettcannon commented on #73879
Looks like the 'r' prefix is missing on the regex string. Marking this as "easy" if someone wants to try and solve this.

And FYI I double-checked that this is only in 3.7.

[2017-03-02 19:12] 39c07e1b-89c0-4d3a-896b-96ef642f9223 opened #73885 "shutil.rmtree should not fail with FileNotFoundError (race condition)"
BPO | [29699](https://bugs.python.org/issue29699)
--- | :---
Nosy | @giampaolo, @serhiy-storchaka, @dkg, @jessefarnham, @websurfer5, @iritkatriel, @coroa
PRs | <li>python/cpython#13580</li>
Files | <li>[breaker.c](https://bugs.python.org/file46687/breaker.c "Uploaded as text/x-csrc at 2017-03-02.19:12:23 by @dkg"): C program to tickle the shutil.rmtree race condition</li><li>[demo.py](https://bugs

[2017-03-02 19:12] 39c07e1b-89c0-4d3a-896b-96ef642f9223 commented on #73885
There is a race condition in shutil.rmtree, where if a file gets removed between when rmtree plans to remove it and when it gets around to removing it, a FileNotFound exception gets raised.

The expected semantics of rmtree imply that if the filesystem tree is removed, then the command has succeeded, so it doesn't make sense for rmtree to raise a FileNotFound error if someone else happened to have

[2017-03-02 19:13] 39c07e1b-89c0-4d3a-896b-96ef642f9223 commented on #73885
and here is python demonstration script that will build breaker.c and then use it to cause the error to be raised from shutils.rmtree.

the output of demo.py looks like this:

[code]

[2017-03-02 19:48] gpshead opened #73886 "readline memory corruption when sys.stdin fd >= FD_SETSIZE for select()"
BPO | [29700](https://bugs.python.org/issue29700)
--- | :---
Nosy | @gpshead, @marienz, @tiran, @vadmium, @zhangyangyu
PRs | <li>python/cpython#540</li>
Files | <li>[crash_readline_fdset.py](https://bugs.python.org/file46689/crash_readline_fdset.py "Uploaded as text/plain at 2017-03-02.19:48:15 by @gpshead")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated

[2017-03-02 19:48] gpshead commented on #73886
The readline module causes memory corruption (sometimes a crash) when the sys.stdin file descriptor is out of bounds for its FD_SET() call within readline.c's readline_until_enter_or_signal() function.

https://github.com/python/cpython/blob/master/Modules/readline.c#L1228

A tiny program reproducing this problem is attached.

FD_SET should not be used if the file descriptor is too large for use i

[2017-03-02 19:55] tiran commented on #73886
Do you see a chance that the issue could be abused? IMO an attacker can't control FD number easily.

[2017-03-02 20:12] 9493eb8a-98f3-4d78-b328-8aafdd662742 opened #73887 "Add close method to queue.Queue"
BPO | [29701](https://bugs.python.org/issue29701)
--- | :---
Nosy | @tim-one, @rhettinger, @applio, @mwfrojdman

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-02 20:12] 9493eb8a-98f3-4d78-b328-8aafdd662742 commented on #73887
queue.Queue should have a close() method. The result of calling the method would be to raise a new exception - queue.Closed, for any subsequent calls to Queue.put, and after the queue is empty, also for Queue.get.

Why: To allow producers (callers of Queue.put) to signal there will be no more items, and consumers may stop asking for more by calling Queue.get. Currently the opposite (ie. waiting un

[2017-03-02 20:28] gpshead commented on #73886
It doesn't seem very abusable... Though of a server accepts enough remote
connections and uses input() and swaps out stdin after remote uses up fds
with connections...  That's a lot of circumstances at once. Rare
application.

We ran into it with an interactive program controlling a bunch of things so
it had lots of fds open when a tty stdin was swapped in for input.

On Thu, Mar 2, 2017, 11:55 AM

[2017-03-02 21:06] vadmium commented on #73886
Be careful, some OSes have limited support for “poll”, “kqueue”, etc with terminals, and I ended up using “select” in the test suite:

https://bugs.python.org/issue26870#msg265604
https://github.com/python/cpython/commit/79f561d126d09d6d7ea1457a2a6ef267d93e6448

[2017-03-02 21:08] gpshead commented on #73886
Bummer. I wish select could die. :)

On Thu, Mar 2, 2017, 1:06 PM Martin Panter \<report@bugs.python.org\> wrote:

[2017-03-02 21:40] 25ae6a71-41ac-46e0-88e8-2d6eaa95af85 commented on #73869
I have created a pull request to backport the fix onto 3.6 here:
https://github.com/python/cpython/pull/402

[2017-03-02 21:49] 7180b0e6-0c34-41b9-a129-7337c8c3d9e3 commented on #73888
For some reason, after uninstalling Python 3.5.2 on my Windows 10 (64 bit - latest version), I am no longer able to install any new version of Python after version 3.4.3

I keep getting the failure to elevate privileges. I have of course tried to run the installer as Admin, or even launch a command prompt as admin or powershell as admin then run the installer with no luck.

Disabling Windows Defen

[2017-03-02 21:49] 7180b0e6-0c34-41b9-a129-7337c8c3d9e3 opened #73888 "Error 0x80070003: Failed to launch elevated child process"
BPO | [29702](https://bugs.python.org/issue29702)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba
Files | <li>[Python 3.5.3 (64-bit)_20170302121038.log](https://bugs.python.org/file46690/Python%203.5.3%20%2864-bit%29_20170302121038.log "Uploaded as text/plain at 2017-03-02.21:49:04 by alevonian"): Installation log file.</li>

<sup>*Note: these values reflect the state of the issue at

[2017-03-02 21:55] 1st1 opened #73889 "Fix asyncio to support instantiation of new event loops in subprocesses"
BPO | [29703](https://bugs.python.org/issue29703)
--- | :---
Nosy | @larryhastings, @ned-deily, @1st1
PRs | <li>python/cpython#404</li><li>python/cpython#410</li><li>python/cpython#411</li><li>python/cpython#552</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-03-02 21:55] 1st1 commented on #73889
Proxy for https://github.com/python/asyncio/pull/497

Ned, this needs to be in 3.6.1, working code from 3.4 doesn't work in 3.6.0: http://stackoverflow.com/questions/42546099/python-asyncio-migrate-from-3-4-to-3-5/42566336#42566336

[2017-03-02 22:06] ned-deily commented on #73889
OK. I assume you will make PRs for python/cpython and cherry-pack to the 3.6 and 3.5 branches?

[2017-03-02 22:07] 1st1 commented on #73889
Yes, working on it!

[2017-03-02 22:21] rhettinger commented on #73884
Sorry, but I'm going to keep the code as-is.  To mine eyes (the maintainer), the while-loop better expresses my intention (a decrement-skip-on-zero step).

On at least one compiler (GCC-6), it allows better code to generated (a sub-and-test instead of a sub-compare-and-test).

[2017-03-02 22:21] #73884 closed, assigned to rhettinger

[2017-03-02 22:24] 35e5f348-5b4c-46dc-914b-60f70128bf8f opened #73890 "Can't read data from Transport after asyncio.SubprocessStreamProtocol closes"
BPO | [29704](https://bugs.python.org/issue29704)
--- | :---
Nosy | @1st1, @SethMichaelLarson
PRs | <li>python/cpython#405</li><li>python/cpython#415</li><li>python/cpython#416</li><li>python/cpython#703</li><li>python/cpython#552</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more de

[2017-03-02 22:24] 35e5f348-5b4c-46dc-914b-60f70128bf8f commented on #73890
Copied from https://github.com/python/asyncio/issues/484

"""
From https://bugs.python.org/issue23242#msg284930

The following script is used to reproduce the bug:

[code]

asyncio.get_event_loop().run_until_complete(execute())

will produce following output and terminate with exception:

[code]

When the process exits https://github.com/python/asyncio/blob/master/asyncio/unix_events.py#L444 is ca

[2017-03-02 23:36] 5be04445-60f1-4361-86a4-a7c19877ceb8 opened #73891 "socket.gethostbyname, getaddrinfo etc broken on MacOS 10.12"
BPO | [29705](https://bugs.python.org/issue29705)
--- | :---
Nosy | @ned-deily, @ssbarnea

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-02 23:36] 5be04445-60f1-4361-86a4-a7c19877ceb8 commented on #73891
Currently I can't use socket to resolve host names to IP addresses. This is something critical to mine as well as other applications that run over networks.
When I attempt to do the following:

[code]

or

[code]

I get

socket.gaierror: [Errno 8] nodename nor servename provided, or not known.

This works perfectly on both linux kubuntu 16.0. and windows 7,10.

Seems that the introduction of Yosem

[2017-03-03 00:27] ned-deily commented on #73891
What value are you using for hostname?

[2017-03-03 00:30] 5be04445-60f1-4361-86a4-a7c19877ceb8 commented on #73891
Hi Ned,
	Doesn’t seem to matter, I can try my local host name given by;

[code]

or I can try another host on the network, same result.

If I do the exact same operation using the same python version on windows or linux, then I get the expected result from gethostbyname which is the ip address of the host. Also on macOS 10.6.8 this still works, using the same version of python.

Happy to give more

[2017-03-03 00:41] ned-deily commented on #73891
Sorry, I can't reproduce that behavior with my macOS 10.12, 10.11, or 10.10 systems if the hostname is a valid string including "localhost".  If the string is empty or hostname is None, then I see Errno 8.

[code]

Perhaps there is something different about your hostname configuration on your Mac?  macOS has some unusual ways of configuring the hostname resolutions.  I don't have time at the momen

[2017-03-03 00:53] 5be04445-60f1-4361-86a4-a7c19877ceb8 commented on #73891
Hi Ned,
	Currently running 10.12.3. and output is as follows

[code]

This is a commonly prescribed method of resolving the ip address of your own machine on a LAN, also if I try another machines hostname which is on the local network, I get the same result.

As for the experiments you tried, these do work, but that is not what I want to use the socket library for, I want to query the IP address o

[2017-03-03 02:45] ned-deily commented on #73891
James, I'm sorry I didn't show it but using socket.gethostname() as the source of hostname works just fine, too.

[code]

I don't know what to tell you other than the behavior you are seeing is almost certainly not a Python issue.  There are many other ways to explore host names, like using the "host" command line utility or "netstat".  But that is all beyond the scope of this bug tracker.  If you

[2017-03-03 02:45] #73891 closed, assigned to nobody

[2017-03-03 02:49] 5be04445-60f1-4361-86a4-a7c19877ceb8 commented on #73891
Hi Ned,
	Thats ok, thanks! I’m going to try it on another machine, its really strange, I’m wondering what I might have done on my mac to cause it to flake out like this. Will do some more testing with other macs running 10.12 and see if they have the same behaviour, by the way, thanks for running that last test as it shows that this call is actually working on some systems. I really need to know t

[2017-03-03 03:20] eryksun commented on #73888
The error message is misleading. It happens that WiX is trying to run an elevated process (see the WiX functions CoreLaunchApprovedExe, CoreElevate, ElevationElevate, and PipeLaunchChildProcess). However, the actual error code has nothing to do with elevation. Error code 0x80070003 is a 32-bit HRESULT error originating from the Windows API (0x8007). The 16-bit Windows error is ERROR_PATH_NOT_FOUND

[2017-03-03 03:43] ac7caf75-a8f2-464b-bf2a-51392c3ce203 commented on #73892
Well, this is pretty self explanatory, when playing with this new features of async and await (https://docs.python.org/3.5/whatsnew/3.5.html#new-features) I found to me surprise that there is no syntax highlighting for it in the IDLE for py3.5 and also for py3.6

So I humbly ask for its addition. Thanks

[2017-03-03 03:43] ac7caf75-a8f2-464b-bf2a-51392c3ce203 opened #73892 "IDLE needs syntax highlighting for async and await"
BPO | [29706](https://bugs.python.org/issue29706)
--- | :---
Nosy | @terryjreedy, @vadmium, @1st1, @miss-islington
PRs | <li>python/cpython#6846</li><li>python/cpython#6867</li><li>python/cpython#6868</li><li>python/cpython#6879</li>
Files | <li>[no syntax highlighting.png](https://bugs.python.org/file46692/no%20syntax%20highlighting.png "Uploaded as image/png at 2017-03-03.03:43:56 by David E. Fr

[2017-03-03 04:00] ncoghlan commented on #73865
Something that occurred to me as being a bit tricky to handle here is the backport to contextlib2: that maintains compatibility with 2.6+, so it would need to split any code using "async def" and "await" out to a separate file that only gets imported on 3.5+ (and similarly only run the corresponding test cases on 3.5+).

A potentially simpler alternative to that would be to create a new "backports

[2017-03-03 04:02] 1st1 commented on #73865
This seems doable.  I'd only vote to keep contextlib.py as one file in CPython though.

[2017-03-03 04:04] rhettinger commented on #73887
I'll mull this one over for a while and take a look at what other languages are doing.

My first impression is the close() is the wrong word because in other contexts it means that a resource has been freed and that no more calls are allowed.  In this context, the queue is still alive and continued get() calls will work until the queue is empty.

Another first reaction is that this will cause more

[2017-03-03 04:18] rhettinger commented on #73882
I think this is all C coded, so it would entail making a new structseq object.

[2017-03-03 05:35] serhiy-storchaka commented on #73869
Thank you for your contribution Brian.

[2017-03-03 05:35] #73869 closed, assigned to serhiy-storchaka

[2017-03-03 06:19] terryjreedy commented on #73892
I presume you would like 'async' and 'await' highlighted as keywords.  However, IDLE takes its definition of 'keyword' from keyword.kwlist.  'Async' and 'await' are currently not on that list as they are not yet keywords.

According to https://www.python.org/dev/peps/pep-0492/#transition-plan, the intention was (is?) to make them keywords in 3.7.  As of Feb 11, that had not happened yet.  If and w

[2017-03-03 06:22] 1st1 commented on #73892
I plan to do that in the next couple of weeks.

If possible I would make 'async' and 'await' to be always highlighted. Even if a user writes \<3.7 code and uses 'async' as a variable, it would still be great to let the user know that there is something wrong with this variable.

[2017-03-03 07:09] 0e0a1a20-73a8-476f-96b7-67fc1c757dc7 commented on #73893
After mounting a folder to another folder on the same filesystem with mount --bind, os.path.ismount() still returns False on the destination folder (although there is a mountpoint).

A shell script to reproduce this is below.

(Maybe this can be fixed by using /proc/mounts (if available, may not be the case eg. for chroots) for verifying, if the destination folder is really a mountpoint on POSIX/L

[2017-03-03 07:09] 0e0a1a20-73a8-476f-96b7-67fc1c757dc7 opened #73893 "os.path.ismount() always returns false for mount --bind on same filesystem"
BPO | [29707](https://bugs.python.org/issue29707)
--- | :---
Nosy | @tiran, @serhiy-storchaka, @eryksun, @ollieparanoid, @csabella, @miss-islington, @R030t1
PRs | <li>python/cpython#11238</li><li>python/cpython#11560</li><li>python/cpython#11560</li><li>python/cpython#11560</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current s

[2017-03-03 07:12] bb0a482e-e8df-45e0-91a9-f858cc30bdfd commented on #73879
I will try to work on this! :)

[2017-03-03 07:22] bb0a482e-e8df-45e0-91a9-f858cc30bdfd commented on #73879
I'm not able to reproduce the SyntaxError on latest commit 902e9c50e31209e796b6bbe26f8d2f57ec12071b on master branch.

[2017-03-03 07:23] terryjreedy commented on #73892
Always coloring 'async' and 'await' is trivial (augment expression and add test line) and acceptable to me.

I am a git neophyte and am waiting for workflow development to settle down before working on new setup for git.  If you want to submit the change for 3.6.1, go ahead. (But leave issue open.)  Otherwise, I will get it into 3.6.2 (and 3.7).  Patch is against 3.6 idlelib.colorize, but 3.7 is i

[2017-03-03 08:13] serhiy-storchaka commented on #73879
Thanks Anish. DeprecationWarning is converted to SyntaxError when run Python with -We.

[2017-03-03 08:13] #73879 closed, assigned to nobody

[2017-03-03 08:28] ericvsmith commented on #73882
It's in string.py, so it would be easy just to add a namedtuple there:

[code]

I don't see a need to add a structseq to \_string, since it's a private API.

[2017-03-03 08:46] serhiy-storchaka commented on #73882
collections is a moderately heavy module with many dependencies. string is a light module, it imports only \_string. I'm -1 for using namedtuple in the string module.

[2017-03-03 11:32] vadmium commented on #73892
See also bpo-26264 about the “keyword” module

[2017-03-03 11:36] 05ed1d68-9f72-4552-af38-41e9d578a41d opened #73894 "support reproducible Python builds"
BPO | [29708](https://bugs.python.org/issue29708)
--- | :---
Nosy | @warsaw, @vstinner, @ericvsmith, @benjaminp, @mcepl, @merwok, @methane, @zooba, @dstufft, @bmwiedemann, @FRidh, @commodo, @mingwandroid, @eli-schwartz, @miss-islington, @jefferyto, @obfusk
PRs | <li>python/cpython#296</li><li>python/cpython#5200</li><li>python/cpython#5306</li><li>python/cpython#5313</li><li>python/cpython#8057</l

[2017-03-03 11:36] 05ed1d68-9f72-4552-af38-41e9d578a41d commented on #73894
See https://reproducible-builds.org/ and https://reproducible-builds.org/docs/buy-in/ for why this is a good thing to have in general.

Fedora, openSUSE and possibly other Linux distributions package .pyc files as part of their binary rpm packages and they are not trivial to drop [1].

A .pyc header includes the timestamp of the source .py file
which creates non-reproducible builds when the .py fi

[2017-03-03 12:11] 89042997-fe19-49d2-aba2-a4861a6d999e opened #73895 "Short-circuiting not only on False and True"
BPO | [29709](https://bugs.python.org/issue29709)
--- | :---
Nosy | @rhettinger, @Mariatta, @pochmann
PRs | <li>python/cpython#433</li><li>python/cpython#436</li><li>python/cpython#437</li><li>python/cpython#438</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-03-03 12:11] 89042997-fe19-49d2-aba2-a4861a6d999e commented on #73895
The notes at https://docs.python.org/3/library/stdtypes.html#boolean-operations-and-or-not say that `or` "only evaluates the second argument if the first one is False" and that `and` "only evaluates the second argument if the first one is True". Should say "false" and "true" instead of "False" and "True".

[2017-03-03 12:41] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73835
Thanks! Just added PR fixing this.

[2017-03-03 13:20] ericvsmith commented on #73894
--
Eric.

[2017-03-03 13:41] serhiy-storchaka commented on #73835
I'm not sure the new error message is better. It is not known what is wrong -- the size of the buffer, or the offset?

I think that the better error message should include three numbers: the offset, the size of the destination buffer, and the size of packed data or the minimal size of the destination buffer.

[2017-03-03 13:44] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73835
yeah, I also thought about this too.
Something like 'pack_into requires a buffer of at least 6 bytes (size is 1, offset is 5)'

[2017-03-03 13:56] serhiy-storchaka commented on #73835
Or "pack_into requires a buffer of at least 6 bytes for packing 1 bytes at offset 5".

[2017-03-03 14:01] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73835
thanks Serhiy! just implemented your variant in my PR.

[2017-03-03 14:25] warsaw commented on #73894
Shouldn't this at least also cover Python 3.7?  And should it be officially backported?  I would think that if https://github.com/python/cpython/pull/296 gets accepted for 3.7, then distros that care can cherry pick it back into whatever versions they still support.  It probably needn't be officially cherry picked upstream.

(FWIW, this doesn't affect the Debian ecosystem since we don't ship pycs

[2017-03-03 14:38] ncoghlan opened #73896 "Incorrect representation caveat on bitwise operation docs"
BPO | [29710](https://bugs.python.org/issue29710)
--- | :---
Nosy | @tim-one, @mdickinson, @ncoghlan, @vadmium, @wm75, @CuriousLearner, @miss-islington
PRs | <li>python/cpython#1691</li><li>python/cpython#8508</li><li>python/cpython#8509</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-03-03 14:38] ncoghlan commented on #73896
The docs on bitwise operations at https://docs.python.org/3/library/stdtypes.html#bitwise-operations-on-integer-types include the caveated sentence:

    Negative numbers are treated as their 2’s complement value (this assumes that there are enough bits so that no overflow occurs during the operation).

This sentence isn't correct now that integers are always arbitrary length. The bitwise inversio

[2017-03-03 14:40] 7180b0e6-0c34-41b9-a129-7337c8c3d9e3 commented on #73888
Hi Eryk,
I did think of that as well so I actually navigated to that temp folder (from the log) which the installer created (every time it runs, it creates a new temp folder and places the executable there) and executed that directly and got exactly the same log message.
So the folder exists, since the installer is creating it, and the .exe exists.
Armen

      From: Eryk Sun \<report@bugs.python.

[2017-03-03 14:48] CuriousLearner commented on #73896
Hi, I'm working on this issue.

[2017-03-03 14:54] 6202caa2-6b9c-44ea-89da-cc746a49e1c9 opened #73897 "When you use stop_serving in proactor loop it's kill all listening servers"
BPO | [29711](https://bugs.python.org/issue29711)
--- | :---
Nosy | @noplay, @1st1
PRs | <li>python/cpython#431</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 14:54] 6202caa2-6b9c-44ea-89da-cc746a49e1c9 commented on #73897
If you stop a server when you use the proactor loop all other servers will be killed.

[2017-03-03 14:55] 6202caa2-6b9c-44ea-89da-cc746a49e1c9 commented on #73897
I will provide a patch for this

[2017-03-03 15:45] 1ab50fdb-b567-44f6-bf87-3f18782bc529 commented on #73898
I want to altinstall 3.6 with LTO+PGO optimizations, so:

./configure --enable-shared --enable-optimizations --prefix=$HOME/.local LDFLAGS=-Wl,-rpath=$HOME/.local/lib
make

(./configure arguments refer to issue bpo-27685)

But I get in trouble when running compiled python to generate posix vars:

...
gcc -pthread -shared -Wl,-rpath=/home/halfcoder/.local/lib -fprofile-generate  -Wl,--no-as-needed

[2017-03-03 15:45] 1ab50fdb-b567-44f6-bf87-3f18782bc529 opened #73898 "--enable-optimizations does not work with --enable-shared"
BPO | [29712](https://bugs.python.org/issue29712)
--- | :---
Nosy | @pitrou, @stratakis, @halfcoder, @eric957

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 15:58] mdickinson commented on #73896
It's not really clear what that line in the docs means for Python 2, either: if values x and y both fit in an int, then so do \~x, x|y and x&y. We already assume in the Python source that the underlying representation is two's complement (no padding bits, no trap representation, etc.), so there aren't any complications from platforms where the C representation is ones' complement or sign-magnitude

[2017-03-03 16:04] 50bc5976-a816-4461-9378-e65b2bc56bc6 opened #73899 "String changes whether or not '\x81' is present"
BPO | [29713](https://bugs.python.org/issue29713)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 16:04] 50bc5976-a816-4461-9378-e65b2bc56bc6 commented on #73899
print '\\xa3\\xb5\\xdd\\xf7\\xa9\\xa7\\xab\\xd8\\xef\\xc7\\xac\\xf4\\xfb\\xb7'
#gives
£µÝ÷©§«ØïÇ¬ôû·

print '\\xa3\\xb5\\xdd\\xf7\\xa9\\xa7\\xab\\xd8\\xef\\xc7\\xac\\xf4\\xfb\\xb7\\x81'
#gives
ﾣﾵÝ÷ﾩﾧﾫØïǬôûﾷﾁ

print '\\x81\\xa3'        print '\\xa3'
ﾁﾣ                      £

[2017-03-03 16:23] mdickinson commented on #73896
Ah, I guess it still kinda sorta applies for the left-shift operator, though even then, Python has promoted the result to long for many versions now. So the only "overflow" that's really relevant on Python 2 is "overflow" from int to long in the case of left shift.

[2017-03-03 16:25] ac7caf75-a8f2-464b-bf2a-51392c3ce203 commented on #73892
Yes.
Some others tools like IPython and the Spider IDE that come with the Anaconda package already highlighted them as keywords, even if you can use them as normal variables.

super, what I have to do to put the patch so I can test it?

[2017-03-03 17:17] bitdancer commented on #73899
It works fine for me.  If I write the data to a file (using print) and look at it with vi, I see your expected string with \<81\> on the end.  It also works fine in my console (which otherwise produces mostly unknown character glyphs; I'm using a utf8 locale) if I use unicode, or python3.

So, the problem is not with python, it must be your terminal emulator or whatever else it is you are using to

[2017-03-03 17:17] #73899 closed, assigned to nobody

[2017-03-03 17:43] serhiy-storchaka commented on #73822
The discussion is scattered between different tracker issues and pull requests. Let continue it in one place.

I don't think we should add too much options for controlling any little detail. json.tools is just small utility purposed mainly for debugging. If you need to control more details, it is not hard to write simple Python script.

For example, for "compact" output:

[code]

[2017-03-03 17:46] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73843
I've been investigating this issue and did not come up with some easy solution.

So the problem is:
os_symlink uses `path_error2` to throw exception.
the order of file arguments now is src then dest. For provided example src is `a` and dest is `sym_link`. As a result `src` -> `dest` is generated here https://github.com/python/cpython/blob/master/Objects/exceptions.c#L1059

If we change order of ar

[2017-03-03 17:58] rhettinger commented on #73882
I would also rather see string.py left light weight.  It would be better to change the upstream C code to use structseq.

[2017-03-03 18:00] rhettinger commented on #73895
Mariatta, would you like to fix this one (False -\> false and True -\> true).

[2017-03-03 18:14] Mariatta commented on #73895
Thanks, Raymond. I made the PR :)
I can backport to 2.7, 3.5, and 3.6 once it's accepted.

[2017-03-03 18:25] #73809 closed, assigned to nobody

[2017-03-03 18:44] eryksun commented on #73888
When run directly from the temp directory path that's reported in the log, does the new log say that the installer is trying to run python-3.5.3-amd64.exe from that same path, or is it trying to run it from a new directory?

[2017-03-03 19:05] ad40ad1e-1791-42cc-b881-fe46275e9e39 opened #73900 "can't interpolate byte string with \x00 before replacement identifier"
BPO | [29714](https://bugs.python.org/issue29714)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#499</li><li>python/cpython#504</li><li>python/cpython#703</li><li>python/cpython#552</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</sum

[2017-03-03 19:05] ad40ad1e-1791-42cc-b881-fe46275e9e39 commented on #73900
[code]

On python3.5, this works in all the scenarios

[code]

[2017-03-03 19:14] ned-deily commented on #73883
Since the PRs have been merged, can this issue be closed now?

[2017-03-03 19:15] ned-deily commented on #73889
With the PRs merged, can this issue be closed now?

[2017-03-03 19:15] serhiy-storchaka commented on #73900
Could this be due to using \_PyBytesWriter?

[2017-03-03 19:20] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 commented on #73822
To recap the discussion from https://git.io/vyCY8: there are three potential mutually exclusive command line options that have been suggested. There are as follows.

[code]

which produces the following output:

[code]

Currently, https://github.com/python/cpython/pull/345 has implemented --indent and --no-indent. One suggestion was to replace --no-indent with --compact, but that would prevent jso

[2017-03-03 19:21] #73883 closed, assigned to tiran

[2017-03-03 19:28] 1st1 commented on #73889
Yes, closing the issue. Thanks, Ned!

[2017-03-03 19:28] #73889 closed, assigned to 1st1

[2017-03-03 20:20] terryjreedy commented on #73892
David, the easiest thing to do would be to copy and paste the following
 \+ ['async', 'await']
into this line of colorizer.py (ColorDelegator.py in 3.5)
    kw = r"\\b" + any("KEYWORD", keyword.kwlist) + r"\\b"
about line 17, to get
    kw = r"\\b" + any("KEYWORD", keyword.kwlist + ['async', 'await']) + r"\\b"

[2017-03-03 20:37] brettcannon commented on #73874
As brought up on the PR, it turns out Path.absolute() is extremely under-tested.

Perhaps we should deprecate Path.absolute() instead of document it and properly test it (and the testing will be necessary to move forward with the documentation)? Path.resolve() handles absolute paths already while also resolving '.' and '..': https://docs.python.org/3/library/pathlib.html#pathlib.Path.resolve. It a

[2017-03-03 20:40] ned-deily commented on #73758
Steve, Zach: can we get this in for 3.6.1?

[2017-03-03 20:44] zware commented on #73758
Yes*.

[2017-03-03 21:04] 7180b0e6-0c34-41b9-a129-7337c8c3d9e3 commented on #73888
If I close the failure to run dialog, the temp directory is also destroyed, thus getting rid of the temp executable, however, while the fail dialog is up and I travel to where it says it fails to run the executable, it then yet creates another temp guid directory and logs a failure as unable to run from the thing it just created.So I can recursively launch and fail.
I don't understand why it wants

[2017-03-03 21:07] 17ef44a8-6623-4db0-a59e-7d680ed2fbed commented on #73901
In the case detailed below, argparse.ArgumentParser improperly parses the argument string "-_":
[code]

Expected behavior: prints Namespace(first='-_')
Actual behavior: prints usage message

The issue seems to be specific to the string "-_". Either character alone or both in the opposite order does not trigger the issue.

[2017-03-03 21:07] 17ef44a8-6623-4db0-a59e-7d680ed2fbed opened #73901 "Argparse improperly handles "-_""
BPO | [29715](https://bugs.python.org/issue29715)
--- | :---
Nosy | @bitdancer, @vadmium

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 21:16] terryjreedy commented on #73831
This will help IDLE startup (though webbrowser should not be imported on windows, where os.startfile is used instead).

This is a somewhat separate issue, but should the Windows code be modified for Win10 and Microsoft Edge?

[2017-03-03 21:17] brettcannon commented on #73874
I've closed the PR on GitHub until we decide whether we just want to deprecate Path.absolute() in favour of Path.resolve().

[2017-03-03 21:26] 8e3a9b64-4338-4df6-8ead-c4463e72931d opened #73902 "Python 3 Module doc still sounds like __init__.py is required"
BPO | [29716](https://bugs.python.org/issue29716)
--- | :---
Nosy | @brettcannon, @methane, @marco-buttu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 21:26] 8e3a9b64-4338-4df6-8ead-c4463e72931d commented on #73902
PEP-420 says "Allowing implicit namespace packages means that the requirement to provide an \_\_init__.py file can be dropped completely..."
(as described here:  http://stackoverflow.com/questions/37139786/is-init-py-not-required-for-packages-in-python-3)

The documentation for modules \<https://docs.python.org/3/tutorial/modules.html\> doesn't seem to reflect this change.

My "enhancement suggest

[2017-03-03 21:36] Mariatta commented on #73895
Committed and backported to 2.7, 3.5, and 3.6.
Thanks all :)

[2017-03-03 21:36] #73895 closed, assigned to Mariatta

[2017-03-03 21:44] ac7caf75-a8f2-464b-bf2a-51392c3ce203 commented on #73892
Ok, Done.
that work in both 3.5 and 3.6
I also did the

    python -m idlelib.ColorDelegator

and

    python -m idlelib.colorizer

and they turn ok

I also open those modules in their respective idle and run them, ColorDelegator work ok but colorizer throw me this error

[code]

[2017-03-03 21:45] serhiy-storchaka commented on #73843
The current error message looks good to me. What is wrong with it?

[2017-03-03 21:58] terryjreedy commented on #73856
Can you test on 3.6?  This might have been fixed and not back-ported.

[2017-03-03 22:09] zware commented on #73758
Done on Windows except for [PR444](https://github.com/python/cpython/pull/444) for 2.7, which is waiting on Travis.

[2017-03-03 22:24] bitdancer commented on #73901
Have you tried '-' plus any other character?  argparse treats '-' and '--' specially, and this is a known issue.

[2017-03-03 22:32] terryjreedy commented on #73892
If 'import test' fails that way, then there is a problem either with Anaconda or your installation.  You might try deleting .../Lib/test/__pycache__/__init__*.pyc.

[2017-03-03 22:33] 801b63e5-e257-4935-987e-e6f10827f52c opened #73903 "`loop.add_reader` and `<<EOF`"
BPO | [29717](https://bugs.python.org/issue29717)
--- | :---
Nosy | @asvetlov, @1st1, @pylover

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-03 22:33] 801b63e5-e257-4935-987e-e6f10827f52c commented on #73903
Assume this simple script for reading from stdin:

[code]

When I run it by:
[code]

I get:

[code]

But the:

[code]
 Is working well.

I was already tried this with the `select.select` directly, and it working:

[code]

[2017-03-03 23:12] #73890 closed, assigned to nobody

[2017-03-03 23:34] ac7caf75-a8f2-464b-bf2a-51392c3ce203 commented on #73892
I found the problem, it was a test.pyc file that was in my personal folder... once deleted it work perfect

the build-in test module should have some other name...

[2017-03-04 00:32] vadmium commented on #73901
This is actually expected behaviour of the “argparse”, as well as general Unix CLI programs. See the documentation \<https://docs.python.org/3.6/library/argparse.html#arguments-containing\>. The general workaround is to use a double-dash separator:

[code]

Example with the Gnu “rm” command:

[code]

Although I suppose the error message could be improved. Currently it looks like it ignores the arg

[2017-03-04 03:21] eryksun commented on #73843
A symbolic link is typically represented the other way around, from the point of view of the link pointing at the target. However, Python conceptualizes linking as something like a copy or rename operation, with source and destination filenames, and the current error message represents this point of view.

[2017-03-04 03:30] 05ed1d68-9f72-4552-af38-41e9d578a41d commented on #73894
backports are optional.
It can help reduce duplicated work for the various distributions.
Currently, I think master and 2.7 are the most relevant targets.

[2017-03-04 03:49] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
Cygwin had an issue with building and installing python after it was configured. The main issue was the TLS key stuff which would make python fail to fully build or work correctly. This issue contains a patch for cygwin specifically to make it compile and work fully. It uses the \_\_CYGWIN__ macro for separating the code from this patch with the TLS code on the other targets. This should help fix

[2017-03-04 03:49] a28bdafa-f08b-4d5c-a058-5f14648d68ee opened #73904 "Fixed compile on cygwin."
BPO | [29718](https://bugs.python.org/issue29718)
--- | :---
Nosy | @vstinner, @embray, @ma8ma, @AraHaan
PRs | <li>python/cpython#447</li>
Files | <li>[cygwin_build.patch](https://bugs.python.org/file46698/cygwin_build.patch "Uploaded as text/plain at 2017-03-04.05:00:05 by @AraHaan")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect th

[2017-03-04 04:45] methane commented on #73902
namespace package is very advanced topic.
I don't think tutorial should mention it.
Putting \_\_init__.py always in normal package is highly recommended.
Otherwise, many tools can't distinguish normal directory and python package.

2017/03/04 午前6:26 "James O" \<report@bugs.python.org\>:

New submission from James O:

PEP-420 says "Allowing implicit namespace packages means that the
requirement to

[2017-03-04 04:52] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73856
What issue might have changed this behavior?  I'm not aware of any that were trying to change either the `seen_actions` and the 'required' tests, not any dealing with pre-existing values in Namespace.

The current handling of defaults complicates respecting pre-existing values.  Defaults are added to the namespace at the start of parsing (provided they aren't already present - that respects pre-ex

[2017-03-04 04:53] 8e3a9b64-4338-4df6-8ead-c4463e72931d commented on #73902
Ah, I didn't realize some tools depended on it. Should I set the status to closed? (like I said, I'm new to this)

[2017-03-04 05:01] vstinner commented on #73904
https://github.com/python/cpython/pull/324#issuecomment-283931430

@AraHaan: "By the way guys I will be working on cpython to work on some changes to a few things for cygwin to compile using the official cpython source code on 3.5, 3.6, and 3.7. (...)"

Cygwin is not currently officially supported by CPython (or am I wrong?), so changes should only be made in Python 3.7 (master branch). I'm neutra

[2017-03-04 05:05] vstinner commented on #73904
+/* Define if pthread_key_t is compatible with int. \*/
+#undef PTHREAD_KEY_T_IS_COMPATIBLE_WITH_INT

Is this change the implementation of the issue bpo-25658?

[2017-03-04 05:12] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
Yes, it is because of the fact in Cygwin it will cause an compile Error when ints are involved forcing other methods to be put in place.

[2017-03-04 05:13] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
For now I stuck it under cygwin only but it could easily move out to not only cygwin if desired.

[2017-03-04 05:14] vstinner commented on #73904
Please explain why you want to support Cygwin. Which Cygwin and Windows versions are you targetingW

[2017-03-04 05:15] rhettinger commented on #73837
A note in the docs would be useful.  This API is far too well established to make any behavioral changes at this point.

[2017-03-04 05:20] methane commented on #73902
I think so.
namespace package is topic for packaging ecosystem developers, like
setuptools and pip.
Normal python programmer shouldn't omit \_\_init__.py.
Python tutorial is for people who want to be normal python programmer.

2017/03/04 午後1:53 "James O" \<report@bugs.python.org\>:

[2017-03-04 05:21] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
I use cygwin to test things that I write in python to see if they work under linux without having to boot up into an linux VM to find out as it would be too slow to even do that with the computer I have. And besides cygwin makes all of this faster. The version of Cygwin I have is 2.877 (64 bit).

Long story short this thing for a 64 bit computer is limited to only 2 CPU cores and 4 GB's of memory

[2017-03-04 05:26] rhettinger commented on #73845
This seems reasonable to me.

[2017-03-04 06:03] serhiy-storchaka commented on #73843
This is not about how a symbolic link is represented. This is about how the operation of creating a symbolic link is represented. The first filename is the first argument of os.symlink(), the second filename is the second argument. Try to run

[code]

You should get an error:

    FileExistsError: [Errno 17] File exists: 'b' -> 'a_link'

[2017-03-04 06:46] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
Well then I am thinking about figuring out how to make an batch file under tools/buildbot to target cygwin building in windows. tbh windows 7 or newer on cygwin is fine with me. It is just that I need to figure out how to make it invoke Cygwin.bat and yet also somehow input everything it needs to the cygwin console for building and testing python.

Feel free to let me know if anyone has an idea on

[2017-03-04 06:48] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
Also I just realized my Cygwin updated to 2.7.0 as well.

[2017-03-04 07:11] rhettinger commented on #73887
Notes:
\------

* Ruby has a Queue.close() method like the one being proposed here.  There is also a ?closed() call for testing the status:  https://ruby-doc.org/core-2.3.0/Queue.html

* Java queues do not have a closing method: https://docs.oracle.com/javase/8/docs/api/java/util/AbstractQueue.html

* This idea came up once for Python on StackOverflow.  The was little interest and the OP selected

[2017-03-04 07:34] eryksun commented on #73843
To me the error message is in the model of a source -\> destination operation, in which the arrow indicates the operation's information flow (e.g. of the target path or inode number) from the source file to the destination file. I've never viewed it superficially as just an ordering of parameter1 -\> parameter2.

[2017-03-04 07:34] rhettinger commented on #73887
Another Note
\------------

* The current Python multiprocessing module version of Queue has a close() method.  It isn't clear that use cases there are also applicable to plain queue module queues for threads.  https://docs.python.org/3/library/multiprocessing.html#multiprocessing.Queue.close

[2017-03-04 09:06] methane commented on #73845
How about increasing default value to 32KiB or 64KiB too?

binutils's cp works well for most cases, while it doesn't have option to specify blocksize.
I want Python's copy functions works nice enough for common cases too.

binutils cp uses 128KiB block for normal file. see more information in https://github.com/coreutils/coreutils/blob/master/src/ioblksize.h

But copyfileobj can be used other file

[2017-03-04 10:52] 703b20e5-de45-4041-8834-18834780ba2b commented on #73904
The patch can split to several issues, moreover, some issues are able to pick up as general not Cygwin specific. Perhaps, it will be an opportunity to fix even if Cygwin specific, if we could explain the implicit issue on implementation. See bpo-4032, bpo-25658, bpo-25720, bpo-27374, bpo-28441 and bpo-28459. Of course your patch has solutions for issues that are not yet known in the bug tracker.

[2017-03-04 11:42] methane commented on #73905
See https://docs.python.org/3/whatsnew/3.6.html

At top:

:Release: |release|
:Date: |today|
:Editors: Elvis Pranskevichus \<elvis@magic.io\>, Yury Selivanov \<yury@magic.io\>

This |today| is replaced with day when HTML is build (like "Last updated:" in footer).  This is near to the date this page is modified last on docs.python.org, until clean rebuild happens.
But other cases, this shows only w

[2017-03-04 11:42] methane opened #73905 ""Date" of what's new is confusing"
BPO | [29719](https://bugs.python.org/issue29719)
--- | :---
Nosy | @ned-deily, @methane, @csabella
PRs | <li>python/cpython#494</li><li>python/cpython#500</li><li>python/cpython#6093</li><li>python/cpython#6094</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-03-04 12:17] ned-deily commented on #73905
It's a bit confusing but:

1. https://docs.python.org/3/whatsnew/3.6.html

is the URL for the current 3.6 branch, in other words, what will be in the next 3.6 release.  These are rebuilt as changes are checked in.

2. https://docs.python.org/release/3.6.0/whatsnew/3.6.html

(which is linked from https://www.python.org/doc/versions/) is the URL for the docs corresponding to the 3.6.0 release.  Thes

[2017-03-04 13:55] serhiy-storchaka commented on #73835
Different error messages are needed if original offset \< 0. For example packing 4 bytes with offset -2 always fails, not depending of the size of the buffer. Packing into buffer of size 10 with offset -11 always fails, not depending of the size of packed data.

struct.pack_into('\<I', bytearray(10), -2, 123)
struct.pack_into('\<B', bytearray(10), -11, 123)

[2017-03-04 15:52] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
hmm maybe if TSS is available on all platforms maybe python could use that instead of TLS so that way I would not have to have a lot of \_\_CYGWIN__'s all over the place. However I am not sure if all of the OS's that are on the buildbot for python supports TSS. hmm

[2017-03-04 15:54] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
And yeah that is why I stuck most of the changes in here under \_\_CYGWIN__ macros for now until I know otherwise that all of the changes will not break other platforms.

[2017-03-04 16:12] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73906
I am not sure whether such a platform exists, but on a platform where
SIZEOF_VOID_P \< SIZEOF_LONG, PyLong_AsVoidPtr (which is in
[Objects/longobject.c](https://github.com/python/cpython/blob/main/Objects/longobject.c)) is:
    long x;
    if (PyLong_Check(vv) && \_PyLong_Sign(vv) \< 0)
        x = PyLong_AsLong(vv);
    else
        x = PyLong_AsUnsignedLong(vv);
    if (x == -1 && PyErr_Occurred

[2017-03-04 16:12] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #73906 "potential silent truncation in PyLong_AsVoidPtr"
BPO | [29720](https://bugs.python.org/issue29720)
--- | :---
Nosy | @mdickinson, @vstinner, @serhiy-storchaka, @orenmn

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-04 16:46] applio commented on #73887
The example of AMQP is perhaps a stronger argument for why multiprocessing.Queue.close should (or does) exist, not as much a reason for queue.Queue.

The strongest point, I think, is the argument that existing patterns are lacking.

In the multiprocessing module, the pattern of placing None into a queue.Queue to communicate between threads is also used but with a slightly different use case:  a qu

[2017-03-04 16:56] methane commented on #73905
"next 3.6 release" means 3.6.1?

There are some commit for fixing something after 3.6.0 released.
But I think rebuild can be happen without changing the page.  For example, major sphinx version up, fixing template, update version of imported js libraries.
And as I said, the document may be built on other machine. In this case, this |today| is not related to last commit date of this page. It seems

[2017-03-04 17:09] 17ef44a8-6623-4db0-a59e-7d680ed2fbed commented on #73901
Martin: huh, I didn't notice that documentation. The error message definitely could be improved.

It still seems like an odd choice given that argparse knows about the expected spec, so it knows whether there are any options or not. Perhaps one could enable/disable this cautious behavior with a flag passed to ArgumentParser? It was rather surprising in my case, since I was parsing morse code and t

[2017-03-04 18:17] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73856
One refactoring that I'd like to see is to move all the tests at the end of \_parse_know_known_args to its caller, parse_known_args.  It would have to return more values than the current namespace and extras, in particular the see_actions and seen_non_default_actions.

This would have, I think, several benefits:

- it would make easier to customize the testing as proposed by Matthew.  It probably

[2017-03-04 19:21] serhiy-storchaka commented on #73907
The message "abort: repository . not found!" is output to stderr three times during the build of Python 2.7. To be more precise, it happens during the build of getbuildinfo.c.

[code]

Python build finished, but the necessary bits to build these modules were not found:
\_bsddb             bsddb185           sunaudiodev
To find the necessary bits, look in setup.py in detect_modules() for the module

[2017-03-04 19:21] serhiy-storchaka opened #73907 ""abort: repository . not found!" during the build of Python 2.7"
BPO | [29721](https://bugs.python.org/issue29721)
--- | :---
Nosy | @benjaminp, @bitdancer, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-05 03:26] 142dd71a-3b78-4356-8a97-570a83d9a4a0 commented on #73908
The docs for heapq.merge are a little misleading. Iterables passed into heapq.merge with the reversed flag set to True must be sorted from largest to smallest to achieve the desired sorting effect, but the paragraph describing the function in the general case states that they should be sorted from smallest to largest.

[2017-03-05 03:26] 142dd71a-3b78-4356-8a97-570a83d9a4a0 opened #73908 "heapq.merge docs are misleading with the "reversed" flag"
BPO | [29722](https://bugs.python.org/issue29722)
--- | :---
Nosy | @rhettinger, @AdamNiederer
PRs | <li>python/cpython#300</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-05 03:36] ncoghlan commented on #73896
Added 2.7 to the list of affected versions.

Clearly my 2's-complement arithmetic is incredibly rusty, as for some reason I was thinking "\~(-sys.maxint-1)" could overflow, but no, the answer to that is just "sys.maxint" :)

[2017-03-05 03:38] rhettinger commented on #73887
Here's a link to the feature request for Ruby, https://bugs.ruby-lang.org/issues/10600 . It looks like the feature was implemented without examining any concrete use cases.  A quick code search on Github did not reveal any cases where the feature was ever used after it was added to Ruby.

For now, I think we should pass on this one.  Python's GIL limits what people typically do with threads (use c

[2017-03-05 03:38] #73887 closed, assigned to rhettinger

[2017-03-05 07:46] serhiy-storchaka commented on #73743
See also bpo-29566. Perhaps hexbin() bug is related to that bug.

[2017-03-05 11:47] 703b20e5-de45-4041-8834-18834780ba2b commented on #73904
We should avoid to submit quickfix to official as much as we can. Especially the case of unofficial (or inarticulate) support platform, a patch for specific platform is probably rejected because the code won't be maintained.

Thread Specific Storage API (TSS) has been designed to work on more platforms, but it has incompatible changing and the API merging needs official acceptance for the PEP-539.

[2017-03-05 13:31] nedbat opened #73909 "3.6.1rc1 adds the current directory to sys.path when running a subdirectory's __main__.py; previous versions did not"
BPO | [29723](https://bugs.python.org/issue29723)
--- | :---
Nosy | @ncoghlan, @nedbat, @ned-deily, @ericsnowcurrently, @eryksun, @zooba
PRs | <li>python/cpython#571</li><li>python/cpython#575</li><li>python/cpython#636</li><li>python/cpython#638</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summ

[2017-03-05 13:31] nedbat commented on #73909
3.6.1rc1 adds the current directory to sys.path when running a subdirectory's \_\_main__.py
Previous versions, including 3.6.0, did not. Is this intentional?

[code]

[2017-03-05 13:49] nedbat commented on #73909
BTW, I don't know if this is relevant, but PyPy has added the current directory in this situation for a long time.

[2017-03-05 14:32] vstinner commented on #73904
Please remove TSS from the Cygwin patch in that case.

[2017-03-05 15:11] serhiy-storchaka commented on #73824
If there are problems with ABC caches of typing.ChainMap, typing.Counter, and typing.DefaultDict, why not add corresponding clearing methods obj.\_abc_cache.clear and obj.\_abc_negative_cache.clear to typing.\_cleanups ?

Why there are problems only with ABC caches of these three types?

[2017-03-05 15:21] ilevkivskyi commented on #73824
OK, this is another possible solution. I didn't think about this, because now typing.\_cleanups only clear generic caches (not ABC caches).

Normally, ABC caches are cleared in dash_R_cleanup, but I think that the problem is that inspect.isabstract returns False for these three types (unlike other types in typing module), see line 147 in refleak.py:

[code]

Actually now I think that the code in d

[2017-03-05 15:45] serhiy-storchaka commented on #73824
I don't know. Sorry, I didn't remember exactly reasons why I didn't move the clearing of all ABC caches into clear_caches(). Perhaps I suspected that this can have unwanted consequences or decrease performance too much.

Are typing.ChainMap and others actually abstract classes? If yes, then perhaps there is something wrong with inspect.isabstract(). If no, then why ABC caches for these classes exi

[2017-03-05 16:03] ilevkivskyi commented on #73824
They are abstract classes in the sense that they are instances of abc.ABCMeta. However, for some reasons inspect checks \_\_flags__ attribute. The latter probably reflects the fact that Deque etc. do not have abstract methods (they still need to be instances of abc.ABCMeta because they need to be generic).

I don't think that we need to change behaviour of inspect because it could be backward inco

[2017-03-05 16:13] serhiy-storchaka commented on #73824
What if explicitly set \_\_abstractmethods__ = True for these types?

[2017-03-05 16:30] ilevkivskyi commented on #73824
Unfortunately this does not help. I think this is because dash_R_cleanup only clears caches for classes in collections.abc.\_\_all__ and their immediate .\_\_subclasses__(). Making this recursive (i.e. also clearing caches of \_\_subclasses__() of \_\_subclasses__() etc) will probably fix the problem (provided we also add \_\_abstractmethods__ = True). However, this looks a bit too complex for me.

[2017-03-05 16:32] 4eff18e4-0c07-418e-b2be-33097caf0947 commented on #73910
The itertools recipes list [0] ends with the following dubious advice:

This is presented in the document without any explanation. It may confuse beginners into always doing it in their code (as evidenced in #python today), leading to unreadable code and function signatures. There is also no proof of there being a significant speed difference by using this “trick”. In my opinion, this should not b

[2017-03-05 16:32] 4eff18e4-0c07-418e-b2be-33097caf0947 opened #73910 "Itertools docs propose a harmful “speedup” without any explanation"
BPO | [29724](https://bugs.python.org/issue29724)
--- | :---
Nosy | @malemburg, @rhettinger, @vstinner, @stevendaprano, @serhiy-storchaka, @Kwpolska, @leovp

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-03-05 16:33] 85518756-5bea-4efa-9ce9-5daf552d31b1 commented on #73835
Thanks Serhiy! Just implemented new error messages in my PR for case you mentioned.

[2017-03-05 16:47] b0034086-bf0d-4b1e-948b-ef36127fe080 opened #73911 "sqlite3.Cursor doesn't properly document "arraysize""
BPO | [29725](https://bugs.python.org/issue29725)
--- | :---
Nosy | @orsenthil, @berkerpeksag, @palaviv, @csabella
PRs | <li>python/cpython#947</li><li>python/cpython#985</li><li>python/cpython#986</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields

[2017-03-05 16:47] b0034086-bf0d-4b1e-948b-ef36127fe080 commented on #73911
It's an attribute mentioned in fetchmany and fetchall, but it's not in the list with those two, but it should be, since the section says "A Cursor instance has the following attributes and methods." and it is an attribute.

[2017-03-05 16:57] serhiy-storchaka commented on #73824
I just wonder is there any other negative consequences? inspect.isabstract() returning False for abstract class looks a bug to me.

If you just want to add a workaround in dash_R_cleanup, I think it would be better to generate the list of all abstract classes and add three typing classes to it.

clear_caches() is called before running every test, but ABC caches are cleared not so often.

[2017-03-05 17:15] 170ffa89-f0d3-4127-9de7-e20f1aa88525 opened #73912 "test_xmlrpc raises DeprecationWarnings"
BPO | [29726](https://bugs.python.org/issue29726)
--- | :---
Nosy | @berkerpeksag, @serhiy-storchaka, @okay19, @petr-motejlek
PRs | <li>python/cpython#481</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

<

[2017-03-05 17:15] 170ffa89-f0d3-4127-9de7-e20f1aa88525 commented on #73912
In 3 unit tests, test_xmlrpc calls assertRaises(Exception, expectedRegex='method'), causing DeprecationWarnings. These calls should be replaced with assertRaisesRegex(Exception, 'method').

0:20:56 [378/404] test_xmlrpc
127.0.0.1 - - [05/Mar/2017 11:53:45] "POST / HTTP/1.1" 200 -
127.0.0.1 - - [05/Mar/2017 11:53:45] "POST / HTTP/1.1" 200 -
/home/dillon/src/cpython/Lib/test/test_xmlrpc.py:430: Depr

[2017-03-05 17:29] serhiy-storchaka commented on #73912
Thank you Dillon! Could you backport your changes to 3.6 and 3.5?

[2017-03-05 17:32] stevendaprano commented on #73910
On my computer, running Python 3.5 and continuing to do other tasks while the tests are running, I get a reproducible 5% speedup by using the "default values" trick. Here's my code:

[code]

I then ran and compared

[code]

a few times while reading email and doing local editing of files. Normal desktop activity. Each time, t2 (the dotproduct with the micro-optimizations) was about 5% faster.

Vic

[2017-03-05 17:45] serhiy-storchaka commented on #73910
How it comparing with

    return vec1[0]*vec2[0]+vec1[1]*vec2[1]+vec1[2]*vec2[2]

and

    x1, y1, z1 = vec1
    x2, y2, z2 = vec2
    return x1*x2+y1*y2+z1*z2

and

    x1, y1, z1 = vec1
    x2, y2, z2 = vec2
    return sum(a*b for a, b in zip(vec1, vec2))

?

A 5% speed up may be not enough high for cluttering the educational example.

[2017-03-05 17:47] malemburg commented on #73910
The localization using keyword parameters is a very old trick to avoid global lookups. It does give a noticeable speedup, esp. when the localized variables are used in tight loops or the function itself is used in such loops.

The 5% speedup Steven measured matches my experience with this trick as well. In some cases, it can provide a more dramatic speedup, but this depends a lot on how the code i

[2017-03-05 17:56] ilevkivskyi commented on #73824
Yes, I just updated the PR.

I have found something else unrelated to typing, this test (in exactly this order):

./python -m test -R 5:5 test_abc test_functools

fails with a reproducible pattern:

test_functools leaked [0, 3, 1, 0, 0] memory blocks, sum=4

If you are happy with the PR now, we could open two separate issues for possible bug in inspect.isabstract and refleak in test_functools afte

[2017-03-05 17:56] d8314378-acaa-491f-a9ec-4ae29840323e commented on #73910
I think this is a "last resort" optimization and shouldn't be encouraged, especially in the official documentation. There are plenty of real optimizations you can do before doing micro-optimizations like this, and there is no reason it should be mentioned in the docs.

[2017-03-05 18:04] serhiy-storchaka commented on #73910
I have got 15% speed up.

But two of my variants (the first and the second) speed up the calculation by 2.8 and 3.6 times correspondingly. It doesn't make sense to talk about microoptimization of the example if rewriting it without using iterator tools can get much larger speed up.

The example still is good for the case when use vectors of large dimensions. But in that case the effect of the micr

[2017-03-05 18:18] serhiy-storchaka commented on #73824
Thank you Ivan! Seems this has fixed bpo-25744. Don't you mind to backport your changes to 3.6 and 3.5?

[2017-03-05 18:23] ilevkivskyi commented on #73824
This is interesting, if I remember correctly the relevant typing classes were added only recently. I will take a look at how to back-port this (probably this will require some code changes)

[2017-03-05 18:32] rhettinger commented on #73910
The reason that this comment was added was to note the recipes themselves are unoptimized and to provide some guideance on how that could be done.  The recipes themselves are provided in the cleaner looking form.

FWIW, localizing variables is one of the few code optimizations available to python programmers.  It is not uncommon in the standard library eventhough there are some people who just don

[2017-03-05 18:32] #73910 closed, assigned to rhettinger

[2017-03-05 18:49] serhiy-storchaka opened #73913 "collections.abc.Reversible doesn't fully support the reversing protocol"
BPO | [29727](https://bugs.python.org/issue29727)
--- | :---
Nosy | @gvanrossum, @rhettinger, @serhiy-storchaka, @ilevkivskyi, @pablogsal
PRs | <li>python/cpython#21338</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fie

[2017-03-05 18:49] serhiy-storchaka commented on #73913
collections.abc.Reversible doesn't work with types that are supported by reserved() but neither have the \_\_reversed__ method nor are explicitly registered as collections.abc.Sequence. For example:

[code]

The reversing protocol as well as the iterating protocol is supported not only by special method, but implicitly if the class has implemented \_\_getitem__ and \_\_len__ methods.

[code]

typi

[2017-03-05 19:02] rhettinger commented on #73913
I don't think this is a bug.  The purpose collections.abc.Reversible is to recognize type where the behavior has been guaranteed, not to recognize all types where it happens to work.

Part of the original reason for introducing ABCs in the first place was that in general there is no reliable way to detect whether a class defining \_\_getitem__ is a sequence or a mapping.

A creator of such a class