[2017-05-24 05:08] zhangyangyu commented on #74592
"192.168.0.0" is the network address of "192.168.0.0/23" while "192.168.1.0" not. :-)

[2017-05-24 05:14] zhangyangyu commented on #74579
New changeset 9e98cd0383d9e7f06c0537038a32459bf5efa97a by Xiang Zhang (Joel Hillacre) in branch 'master':
bpo-30394: Fix a socket leak in smtplib.SMTP.\_\_init__() (bpo-1700)
https://github.com/python/cpython/commit/9e98cd0383d9e7f06c0537038a32459bf5efa97a

[2017-05-24 05:36] 1fb19202-35e4-4e43-b523-9ebd42659bbd commented on #74623
I apologize, I retract my earlier comment - I believe both Yaroslav and I were confused about the nature of the problem.  I think it's not related to permissions at all, but to adding a file to the tarfile twice.

To see this, use `tarfilero.py` as provided by Yaroslav, but comment out the `tar.add('sample/rodir/file')` line (line 16) and run it - everything works normally, and the `rodir/file` is

[2017-05-24 05:51] 36bf06ae-b4a3-44a6-ba55-bdbfbbbb5c9f opened #74636 "parse windows path error in webbrowser.get() and lead to webbrowser.Error: could not locate runnable browser"
BPO | [30451](https://bugs.python.org/issue30451)
--- | :---
Nosy | @birkenfeld, @serhiy-storchaka, @chainly
PRs | <li>python/cpython#1784</li><li>python/cpython#1807</li>
Superseder | <li>bpo-22025: webbrowser.get(command_line) does not support Windows-style path separators</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current

[2017-05-24 05:51] 36bf06ae-b4a3-44a6-ba55-bdbfbbbb5c9f commented on #74636
a bug when platform is not posix, lead to
webbrowser.Error: could not locate runnable browser
see below:
import shlex
shlex.split(r'C:\\a\\chrome.exe', comments=False, posix=True)
['C:achrome.exe']
shlex.split(r'C:\\a\\chrome.exe', comments=False, posix=False)
['C:\\a\\chrome.exe']

[2017-05-24 05:57] gpshead commented on #74580
Would PyThread_free_lock (effectively sem_destroy()) work without (additional) problems?

[2017-05-24 05:59] 7a0e8e26-1b5e-419c-8ffc-f845eb202d0f commented on #74629
While i was working on one of my personal project i thought of using pager module for piping the output in the terminal, please see the issue:
https://github.com/gautamkrishnar/socli/issues/46

Adding ability to modify "-- more --" (statically specified text will allow us to change its value to something like "- Press enter to see more..." or any other value...

[2017-05-24 07:22] vstinner commented on #74580
Gregory P. Smith added the comment:

Would PyThread_free_lock (effectively sem_destroy()) work without
(additional) problems?

If I recall correctly, no, you can get issues if the lock is still
acquired... But I should check.

[2017-05-24 07:31] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74336
The largest type is usually the long double. Its alignment ranges from 4 bytes (i386) to 16 bytes (sparc).
So Py_MAX (sizeof (size_t), 8) should indeed do it.

[2017-05-24 08:36] 23004c14-65ff-496c-bf6b-b710dc617c7e opened #74637 "xml.etree sourcecode bug"
BPO | [30452](https://bugs.python.org/issue30452)
--- | :---
Nosy | @serhiy-storchaka
Files | <li>[xmlMerge.py](https://bugs.python.org/file46891/xmlMerge.py "Uploaded as text/plain at 2017-05-24.08:36:17 by baksaz"): xml merger</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more deta

[2017-05-24 08:36] 23004c14-65ff-496c-bf6b-b710dc617c7e commented on #74637
Hi,
I used before an XML merger script with 2.7 version, which was running fine. After my Anaconda was updated by SCCM to version 3.6 the same script fails and reports the following traceback:

File "C:\\Program Files\\Anaconda3\\lib\\xml\\etree\\ElementTree.py", line 1190, in
parse
 tree.parse(source, parser)
  File "C:\\Program Files\\Anaconda3\\lib\\xml\\etree\\ElementTree.py", line 591, in p
a

[2017-05-24 08:53] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 commented on #74538
Thank you, Erik. I have applied your new patch, and ran another build on arm64. The tests passed. Attaching the build log for more information.

[2017-05-24 09:02] embray commented on #74538
Thanks for checking!

[2017-05-24 09:45] 34a972ad-74ed-4efa-9c08-f00962db0c1c opened #74638 "str.format() method, Rounding off wrong"
BPO | [30453](https://bugs.python.org/issue30453)
--- | :---
Nosy | @mdickinson, @kudoshunsaku

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-24 09:45] 34a972ad-74ed-4efa-9c08-f00962db0c1c commented on #74638
To whom it may concern:

I post issue at first time.
Please forgive me if this is rude

[code]

Please, check this out.
 I checked it version 3.5.3 and 3.6.1 on Windows and Cent OS.

[2017-05-24 09:56] mdickinson commented on #74638
The code is behaving correctly. The surprise is due to the internal binary representation of Python floats, and is related to the documentation note about `round` here:

https://docs.python.org/3/library/functions.html#round

[2017-05-24 09:56] #74638 closed, assigned to nobody

[2017-05-24 10:03] mdickinson commented on #74638
Actually, there are two potential sources of confusion here:

1. Python uses the round-ties-to-even rounding mode, which means cases that are \*exactly* halfway between two target values round to the value with even last digit. This rule is being used in your first example (4.625), which is a value that's exactly representable in the IEEE 754 binary64 format that Python typically uses to represent

[2017-05-24 10:12] mdickinson commented on #74638
That should have said "between 4.62 and 4.63", of course. Apologies.

[2017-05-24 10:56] 2b3878b5-053c-472c-8a28-71adbe60c1b6 opened #74639 "Python module cx_Oracle ld installation issue on Solaris11U3 SPARC: fatal: file /oracle/database/lib/libclntsh.so: wrong ELF class: ELFCLASS64 error"
BPO | [30454](https://bugs.python.org/issue30454)
--- | :---
Nosy | @berkerpeksag

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-24 10:56] 2b3878b5-053c-472c-8a28-71adbe60c1b6 commented on #74639
Trying to install cx_Oracle on Solaris11U3 but getting ld: fatal: file /oracle/database/lib/libclntsh.so: wrong ELF class: ELFCLASS64 error

\# python setup.py build
running build
running build_ext
building 'cx_Oracle' extension
cc -DNDEBUG -KPIC -DPIC -I/oracle/database/rdbms/demo -I/oracle/database/rdbms/public -I/usr/include/python2.7 -c cx_Oracle.c -o build/temp.solaris-2.11-sun4v.32bit-2.7-11

[2017-05-24 11:32] serhiy-storchaka commented on #74562
New changeset c471ca448cf336d7eb4a7cbe14d0012baf122d1f by Serhiy Storchaka (Albert-Jan Nijburg) in branch 'master':
bpo-30377: Simplify handling of COMMENT and NL in tokenize.py (bpo-1607)
https://github.com/python/cpython/commit/c471ca448cf336d7eb4a7cbe14d0012baf122d1f

[2017-05-24 11:44] csabella commented on #74476
Thanks Terry.

I'll leave those other items alone for now.  It makes sense what you said about the 'create widget' styles.  Looking at it for the first time, I kind of liked the second version (in query) because I could more immediately understand what was happening, plus it seemed to lend itself to modularizing.  For example, have one function that has all 'create' and one that has all the 'place

[2017-05-24 11:53] e2ea95fb-3c57-44d4-bdaa-c41e79ebb248 commented on #74577
I'll also note that my bug report (radar) has been marked as "DUPLICATE OF 31898264 (OPEN)". So Apple is aware of the bug, and possibly not completely ignoring it. However, the opacity of the system is such that there is no way to get any further information (even though we know the bug number).

[2017-05-24 11:54] #74562 closed, assigned to serhiy-storchaka

[2017-05-24 12:11] 23004c14-65ff-496c-bf6b-b710dc617c7e commented on #74637
The error was caused, because the xml files did not had the correct close element for the root tag.
The issue is not closed, because the error message was not adequate to be able to highlight the root cause.

[2017-05-24 12:21] serhiy-storchaka opened #74640 "Generate all tokens related code and docs from Grammar/Tokens"
BPO | [30455](https://bugs.python.org/issue30455)
--- | :---
Nosy | @vstinner, @benjaminp, @bitdancer, @meadori, @serhiy-storchaka, @matrixise, @albertjan
PRs | <li>python/cpython#1860</li><li>python/cpython#9343</li><li>python/cpython#10370</li><li>python/cpython#10497</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state

[2017-05-24 12:21] serhiy-storchaka commented on #74640
Currently [Lib/token.py](https://github.com/python/cpython/blob/main/Lib/token.py) is generated from [Include/token.h](https://github.com/python/cpython/blob/main/Include/token.h). This contradicts common practice when the C code is generated from the Python code (see for example opcode.py and sre_constants.py). In additional the table in [Parser/tokenizer.c](https://github.com/python/cpython/blob

[2017-05-24 12:38] f41b8834-5f73-4514-b7f0-3275ae7262a2 opened #74641 "2to3 docs: example of fix for duplicates in second argument of isinstance has superfluous parentheses"
BPO | [30456](https://bugs.python.org/issue30456)
--- | :---
Nosy | @berkerpeksag, @eli-b
PRs | <li>python/cpython#1699</li><li>python/cpython#4531</li>
Files | <li>[2to3.rst](https://bugs.python.org/file46894/2to3.rst "Uploaded as text/plain at 2017-05-24.12:37:59 by @eli-b")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curren

[2017-05-24 12:38] f41b8834-5f73-4514-b7f0-3275ae7262a2 commented on #74641
The documentation says isinstance(x, (int, int)) would be fixed to isinstance(x, (int)). The fix is actually isinstance(x, int).

I propose the following text instead:
"
2to3fixer:: isinstance

Fixes duplicate types in the second argument of :func:\`isinstance\`.  For example, isinstance(x, (int, int)) is converted to isinstance(x, int) and isinstance(x, (int, float, int)) is converted to isinstan

[2017-05-24 12:48] vadmium commented on #74626
Previous report: bpo-25641. At least in Posix, the “putenv” function is not required to be thread safe.

[2017-05-24 12:48] 7745f73f-ed04-4a84-af90-687378334bb0 commented on #74623
Dear Catherine,

Thank you very much for looking into it!! And sorry that I have missed the fact of recursive addition when pointing to a directory.  Indeed though, tar handles that case a bit more gracefully.

BUT I feel somewhat dumb since I am afraid that may be the actual original issue I have observed was simply because I already had that archive extracted and tried to extract it twice, overr

[2017-05-24 13:25] f7ff1065-1faa-4032-9f70-fa087366e390 commented on #74626
There are exceptions being raised in many applications (as reported here and in http://bugs.python.org/issue25641) and there are three paths to follow:

1. We handle this exception somewhere;
2. We avoid raising it;
3. Just leave it. I don't care about this exception.

If we chose to handle this exception we need to decide where we'll do it. At os.py module? At urllib/request.py? At all http clien

[2017-05-24 13:56] 80c73838-aa1d-43ef-8f08-69c1afb3791f commented on #74547
--list and --list-paths added back in following review by paul.moore.
The short options -0 & -0p left in as short forms.

[2017-05-24 14:29] vstinner commented on #74640
I like the idea.

[2017-05-24 14:48] 494843ea-eb4d-4035-9f53-0d2535742f7e opened #74642 "Allow retrieve the number of waiters pending for most of the asyncio lock primitives"
BPO | [30457](https://bugs.python.org/issue30457)
--- | :---
Nosy | @1st1, @pfreixes
PRs | <li>python/cpython#1786</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-24 14:48] 494843ea-eb4d-4035-9f53-0d2535742f7e commented on #74642
Currently, there is no way to access to the number of waiters pending to be woken up. This information can be useful for those environments which create and delete asyncio primitives instances depending if there are waiters still to be processed.

The following example shows an example of the DogPile solution that uses the Event lock mechanism. Each time that there is a miss in the cache, a new Ev

[2017-05-24 15:00] zooba commented on #74635
The reason to keep it running is for all the existing people who are building from source. Unless you're porting all the old versions over and providing instructions for updating old sources? I wouldn't bother - just leave the server up for a few more years.

Ben probably knows - can we add a custom message to svn requests? Then we could start publicising an end of life date for it.

[2017-05-24 15:01] 4db3d941-5243-4660-b672-ccf82e94791c opened #74643 "[security][CVE-2019-9740][CVE-2019-9947] HTTP Header Injection (follow-up of CVE-2016-5699)"
BPO | [30458](https://bugs.python.org/issue30458)
--- | :---
Nosy | @gpshead, @jaraco, @vstinner, @larryhastings, @benjaminp, @ned-deily, @ambv, @vadmium, @serhiy-storchaka, @zhangyangyu, @stratakis, @orangetw, @miss-islington, @tirkarthi, @ware, @ret2libc
PRs | <li>python/cpython#12755</li><li>python/cpython#13032</li><li>python/cpython#13044</li><li>python/cpython#13154</li><li>python/cpython#13

[2017-05-24 15:01] 4db3d941-5243-4660-b672-ccf82e94791c commented on #74643
Hi, the patch in CVE-2016-5699 can be broke by an addition space.
http://www.cvedetails.com/cve/CVE-2016-5699/
https://hg.python.org/cpython/rev/bf3e1c9b80e9
https://hg.python.org/cpython/rev/1c45047c5102

[code]

[2017-05-24 15:08] matrixise commented on #74640
I can work on it

[2017-05-24 15:14] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 commented on #74644
Documentation says PyList_SET_ITEM is void, but it lies. The macro is such that it yields the actual element being set.

[code]

I just ran into the problem while compiling py-qt4 with clang.
There was some confusion between PyList_SET_ITEM and PyList_SetItem:

if (obj == NULL || PyList_SET_ITEM (l, i, obj) \< 0)

g++ didn't catch it (because it doesn't see negative pointers as a problem), but cla

[2017-05-24 15:14] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 opened #74644 "PyList_SET_ITEM could be safer"
BPO | [30459](https://bugs.python.org/issue30459)
--- | :---
Nosy | @rhettinger, @vstinner, @encukou, @skrah, @serhiy-storchaka, @ctismer, @ZackerySpytz
PRs | <li>python/cpython#19975</li><li>python/cpython#23645</li><li>python/cpython#23654</li><li>python/cpython#28982</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state

[2017-05-24 15:20] serhiy-storchaka commented on #74640
I already write a patch.

[2017-05-24 15:40] 9e6c1e7e-15eb-4ec4-b0f1-1fe5f4c87f4d commented on #74346
It's been about a month since I heard back, so I thought I'd comment here just in case this slipped of anyone's radar. Is there anything I can doto help this land?

[2017-05-24 17:13] zooba commented on #74057
I updated the PR to be mergeable and let the AppVeyor run work - https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.2452

Unfortunately, there appear to be a number of regressions due to this. I'm not going to have time right now to work through them myself, but if someone else can it would be great to resolve these and get the change in.

[2017-05-24 17:40] gpshead commented on #74580
Another alternative \*might* be to check if the lock is locked (non-blocking acquire?) and release it if so. Under the normal assumption that we are the only thread running immediately post-fork().

I'm not sure that can be guaranteed reliable given that other C code could've used pthread_atfork to register an "after" fork handler that spawns threads.  But that should be rare, and nothing here can

[2017-05-24 17:42] ned-deily commented on #74129
Thanks everyone for the input on this issue.  We've had some discussions here at PyCon US and I think the consensus is that we all agree with Nathaniel's comment above that, for 3.6.x, that modules built on 3.6.2 (and later 3.6.x) should be importable on any 3.6.x (including 3.6.0), and 3.6.2 (and later 3.6.x) should be able to import modules built on any 3.6.x.  Steve Dower has suggested that it

[2017-05-24 18:11] 80c73838-aa1d-43ef-8f08-69c1afb3791f commented on #74547
Note that the -0, --list, -0p & --list-path options will only be invoked if they are the only argument to py.exe this mirrors the original implementation of --help.

[2017-05-24 18:24] zhangyangyu commented on #74579
New changeset 779e7c933e777270897b1e35fa9e5b12eee12af9 by Xiang Zhang (Stéphane Wirtel) in branch '2.7':
bpo-30394: Fix a socket leak in smtplib.SMTP.\_\_init__() (bpo-1700) (bpo-1788)
https://github.com/python/cpython/commit/779e7c933e777270897b1e35fa9e5b12eee12af9

[2017-05-24 18:25] bitdancer commented on #74346
New changeset a083c8ee6cb89ca573fe10c4c1922e2fa69ceaa3 by R. David Murray (jugglinmike) in branch 'master':
bpo-30160: Clarify intended usage of wfile (gh-1300)
https://github.com/python/cpython/commit/a083c8ee6cb89ca573fe10c4c1922e2fa69ceaa3

[2017-05-24 18:28] bitdancer commented on #74346
Pinging the issue is exactly what you needed to do :)  As I said on the PR, I'm not set up to do backports yet so hopefully you or someone else will do those.

[2017-05-24 18:46] kushaldas commented on #74627
New changeset 1de4705d00168afa8c5b6741af02e21fc609af58 by Kushal Das in branch 'master':
bpo-30442: Skips refcount test in test_xml_etree under coverage (bpo-1767)
https://github.com/python/cpython/commit/1de4705d00168afa8c5b6741af02e21fc609af58

[2017-05-24 18:49] zhangyangyu commented on #74579
New changeset ebbefae14039aa86d4c8a7cfab8f2b5a3ef0d241 by Xiang Zhang (Stéphane Wirtel) in branch '3.5':
bpo-30394: Fix a socket leak in smtplib.SMTP.\_\_init__() (bpo-1700) (bpo-1789)
https://github.com/python/cpython/commit/ebbefae14039aa86d4c8a7cfab8f2b5a3ef0d241

[2017-05-24 18:59] zhangyangyu commented on #74579
New changeset c3454f0e79b35fb81b0426cfac4b801d4495b8ea by Xiang Zhang (Stéphane Wirtel) in branch '3.6':
bpo-30394: Fix a socket leak in smtplib.SMTP.\_\_init__() (bpo-1700) (bpo-1790)
https://github.com/python/cpython/commit/c3454f0e79b35fb81b0426cfac4b801d4495b8ea

[2017-05-24 19:04] #74579 closed, assigned to nobody

[2017-05-24 19:07] jkloth opened #74645 "file opened for updating cannot write after read"
BPO | [30460](https://bugs.python.org/issue30460)
--- | :---
Nosy | @pfmoore, @tjguk, @jkloth, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-24 19:07] jkloth commented on #74645
Attempting to append to an existing file fails with no error set:

[code]

(error 0 is defined as NO_ERROR)

[2017-05-24 19:29] 05ed1d68-9f72-4552-af38-41e9d578a41d opened #74646 "glob returns results in undeterministic order"
BPO | [30461](https://bugs.python.org/issue30461)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @bmwiedemann
PRs | <li>python/cpython#1794</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details

[2017-05-24 19:29] 05ed1d68-9f72-4552-af38-41e9d578a41d commented on #74646
because POSIX readdir does not guarantee any order
glob often gives unexpectedly random results.

Some background:
for openSUSE Linux we build packages in the Open Build Service (OBS)
which tracks dependencies, so when e.g. a new glibc is submitted,
all packages depending on glibc are rebuilt
and if those depending binaries changed,
the new version is pushed to the mirrors.

Many python modules bu

[2017-05-24 19:41] brettcannon commented on #74621
Here is why Python does when importing a module that lacks \_\_path__:

[code]

So yes, we should change find_spec() to raise ModuleNotFoundError to match (although only in Python 3.7 since this is a breaking change).

[2017-05-24 20:04] 5761bba3-ba61-4f41-90eb-2f7a7e49dac3 commented on #74490
@Martin I would like to take a stab at the issue. How do I start?

[2017-05-24 20:13] f23e5a58-f4dd-406f-8e0f-07112c209812 opened #74647 "urllib does not support NO_PROXY environment variable containing domain with asterisk"
BPO | [30462](https://bugs.python.org/issue30462)
--- | :---
Nosy | @zhangyangyu, @csabella, @jirihnidek
PRs | <li>python/cpython#1795</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-24 20:13] f23e5a58-f4dd-406f-8e0f-07112c209812 commented on #74647
Module urllib contains method proxy_bypass_environment(domain_name). This method check if domain_name should be excluded from proxying. The domain_name is checked against environment variable no_proxy or NO_PROXY. This variable contains comma separated list of domain names/domains. Domains can be specified in following variants:

 - domain.com
 - .domain.com
 - \*.domain.com

Method proxy_bypass_e

[2017-05-24 20:41] affb16c2-6fdb-403f-b328-86b7e719c99e opened #74648 "Add __slots__ to ABC convenience class"
BPO | [30463](https://bugs.python.org/issue30463)
--- | :---
Nosy | @rhettinger, @cjw296, @serhiy-storchaka, @ilevkivskyi, @aaronchall
PRs | <li>python/cpython#1822</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-05-24 20:41] affb16c2-6fdb-403f-b328-86b7e719c99e commented on #74648
We have \_\_slots__ with other ABC's, see http://bugs.python.org/issue11333 and http://bugs.python.org/issue21421.

There are no downsides to having empty slots on a non-instantiable class, but it does give the option of denying \_\_dict__ creation for subclassers.

The possibility of breaking is for someone using \_\_slots__ but relying on \_\_dict__ creation in a subclass - they will have to exp

[2017-05-24 20:43] serhiy-storchaka commented on #74129
I'll apply to 3.6 the same patch as for 3.5 tomorrow.

[2017-05-24 20:53] serhiy-storchaka commented on #74646
This looks as a duplicate of bpo-21748. That behavior was explicitly documented in bpo-25615.

[2017-05-24 21:11] zware commented on #74346
New changeset a2a9984a278d2ee945e91ce13e000e571794fc24 by Zachary Ware in branch '3.6':
[3.6] bpo-30160: Clarify intended usage of wfile (gh-1300) (GH-1793)
https://github.com/python/cpython/commit/a2a9984a278d2ee945e91ce13e000e571794fc24

[2017-05-24 21:11] zware commented on #74346
New changeset aa27f0e94f4d9c5ef589984dc2b32d856e8e038f by Zachary Ware in branch '3.5':
[3.5] bpo-30160: Clarify intended usage of wfile (gh-1300) (GH-1792)
https://github.com/python/cpython/commit/aa27f0e94f4d9c5ef589984dc2b32d856e8e038f

[2017-05-24 21:11] zware commented on #74346
Backported.  Thanks for the patch, Mike!

[2017-05-24 21:11] #74346 closed, assigned to nobody

[2017-05-24 21:14] 9e6c1e7e-15eb-4ec4-b0f1-1fe5f4c87f4d commented on #74346
My pleasure. And thank you for backporting on my behalf :)

[2017-05-24 21:23] zware commented on #74630
New changeset 3480ef9dd3177be8c0d71a74853dca6e5b11fbe1 by Zachary Ware (codedragon) in branch 'master':
 bpo-30445: Allow appended output in RecursionError message
https://github.com/python/cpython/commit/3480ef9dd3177be8c0d71a74853dca6e5b11fbe1

[2017-05-24 21:25] zware commented on #74630
Merged, thanks for the patch!

[2017-05-24 21:25] #74630 closed, assigned to nobody

[2017-05-24 21:30] pitrou commented on #74626
The environ class could have its own lock and then the \_\_iter__ method could be rewritten as follows:

[code]

[2017-05-24 21:35] pitrou commented on #74599
Can you expand on which exceptions you are getting in the feeder thread?

[2017-05-24 21:35] markshannon commented on #74174
If all you need is that

[code]

guarantees that either both or neither of \_\_enter__ and \_\_exit__ are called, for C context managers, and only C context managers, then the fix is trivial.

To protect Python code would need a custom context manager wrapper

[code]

ProtectsAgainstInterrupt would need to be implemented in C and install a custom signal handler.

[2017-05-24 21:38] pitrou commented on #74599
Nevermind, I saw the PR and the test case.

[2017-05-24 21:41] markshannon commented on #74174
Nathaniel,

Do you have any way to reliably test for this failure mode?

[2017-05-24 21:47] 34524473-76d2-40a1-b37f-8dd7d594cc36 opened #74649 "gammavariate has a wrong comment"
BPO | [30464](https://bugs.python.org/issue30464)
--- | :---
Nosy | @rhettinger, @mdickinson, @leodema
PRs | <li>python/cpython#1798</li><li>python/cpython#1934</li>
Files | <li>[unnamed.png](https://bugs.python.org/file46895/unnamed.png "Uploaded as image/png at 2017-05-24.21:47:13 by @leodema"): Graph of expovariate(1) and gammavariate(alpha=1, beta=beta)</li>

<sup>*Note: these values reflect t

[2017-05-24 21:47] 34524473-76d2-40a1-b37f-8dd7d594cc36 commented on #74649
The gammavariate function in random.py has a wrong comment.

It says that when alpha is one it's equivalent to call expovariate(1).

We can see that is not true (see graphs) and it should be expovariate(1/beta). It's not a big deal but it can cause confusion.

[2017-05-24 22:16] njsmith commented on #74174
It would be nice to have it for 'async with foo: pass' as well, which is a little less trivial because the 'await' dance is inlined into the bytecode (see the initial post in this bug), but basically yes.

Unfortunately no, I haven't implemented one. Let's see, though...

The test I wrote for bpo-30039 demonstrates one way to trigger a signal on a precise bytecode, by writing some code in C that c

[2017-05-24 22:19] brettcannon commented on #74037
New changeset 94987826e89e8a89c20f081e18be33fc840e6203 by Brett Cannon (Garvit Khatri) in branch 'master':
bpo-29851: Have importlib.reload() raise ImportError if the module's spec is not found (GH-972)
https://github.com/python/cpython/commit/94987826e89e8a89c20f081e18be33fc840e6203

[2017-05-24 22:20] #74037 closed, assigned to nobody

[2017-05-24 22:37] f7ff1065-1faa-4032-9f70-fa087366e390 commented on #74626
This patch implements a lock protection (as suggested by Antoine) using `_thread.allocate_lock()` module (instead of `threading.Lock()`) due to the fact that CPython interpreter already imports `_thread` module during its bootstrap process.

[2017-05-24 22:46] f7ff1065-1faa-4032-9f70-fa087366e390 commented on #74626
This is an alternative implementation using `threading.Lock()`. The main issue with this implementation relies on the fact that we've to import the `threading` module during CPython interpreter loading (currently it's not imported by default).

This is consequence of the fact that CPython interpreter uses `os` module when bootstrapping.

[2017-05-24 22:53] ambv commented on #74650
f-strings are computed in a separate compiler step. This makes their lineno and col_offset information wrong. This is problematic for flake8 which reports problems inside f-strings on the wrong line (typically the first one).

Attached patch fixes the issue.

[2017-05-24 22:53] ambv opened #74650 "FormattedValue expressions have wrong lineno and col_offset information"
BPO | [30465](https://bugs.python.org/issue30465)
--- | :---
Nosy | @rhettinger, @vstinner, @ericvsmith, @ned-deily, @ambv, @serhiy-storchaka, @asottile
PRs | <li>python/cpython#1800</li><li>python/cpython#3409</li><li>python/cpython#6593</li><li>python/cpython#12920</li><li>python/cpython#10021</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not

[2017-05-24 22:58] treyhunner opened #74651 "Tutorial doesn't explain the use of classes"
BPO | [30466](https://bugs.python.org/issue30466)
--- | :---
Nosy | @rhettinger, @Mariatta, @treyhunner
PRs | <li>python/cpython#1804</li><li>python/cpython#2700</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[c

[2017-05-24 22:58] treyhunner commented on #74651
The tutorial page for classes starts with "Compared with other programming languages".

While object-oriented programming and classes are popular in many programming languages, not everyone learning about Python's classes is familiar with the concept.  I teach both new programmers and programmers who have heard of object-oriented programming but never created a class before.

I think the first par

[2017-05-24 23:06] 1510523b-2bdb-44fa-9092-cac883321cf4 opened #74652 "Propagate zipfile.py pypy issue #905 patch to CPython 2.7"
BPO | [30467](https://bugs.python.org/issue30467)
--- | :---
Nosy | @serhiy-storchaka, @shubharamani
Superseder | <li>bpo-30468: Propagate zipfile.py pypy issue #905 patch to CPython 3.7</li>
Files | <li>[issue905.diff](https://bugs.python.org/file46898/issue905.diff "Uploaded as text/plain at 2017-05-24.23:06:33 by @shubharamani"): patch which was applied to PyPy code base</li>

<sup>*Note: these

[2017-05-24 23:06] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74652
PyPy had a longstanding issue :
ZipFile.extractall is very slow compared to CPython 2.6

https://bitbucket.org/pypy/pypy/issues/905/zipfileextractall-is-very-slow-compared-to

which has been fixed in the PyPy code base. The changes were entirely in zipfile.py (see the attached patch for PyPy)

The patch fixed a significant performance bottleneck in PyPy.

[2017-05-24 23:08] 1510523b-2bdb-44fa-9092-cac883321cf4 opened #74653 "Propagate zipfile.py pypy issue #905 patch to CPython 3.7"
BPO | [30468](https://bugs.python.org/issue30468)
--- | :---
Nosy | @Yhg1s, @serhiy-storchaka, @shubharamani
Files | <li>[issue905.diff](https://bugs.python.org/file46899/issue905.diff "Uploaded as text/plain at 2017-05-24.23:08:12 by @shubharamani")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><

[2017-05-24 23:08] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74653
PyPy had a longstanding issue :
ZipFile.extractall is very slow compared to CPython 2.6

https://bitbucket.org/pypy/pypy/issues/905/zipfileextractall-is-very-slow-compared-to

which has been fixed in the PyPy code base. The changes were entirely in zipfile.py (see the attached patch for PyPy)

The patch fixed a significant performance bottleneck in PyPy.

[2017-05-24 23:36] eryksun commented on #74645
It might be simplest to close this as 3rd party since it's similar to bpo-29817. A workaround is to call f.seek(0, 1) to reset the stream state when switching between reading and writing.

That said, a switch to writing at EOF should be supported. The problem is that Python 2's file_read function in fileobject.c executes the following code in this case:

[code]

clearerr() resets the EOF flag on t

[2017-05-25 00:13] ee574465-f8a0-4075-8166-aafbd43e666c commented on #74654
When the `__get__`, `__set__`, or `__delete__` attribute of a descriptor is not a method, and is instead a generic callable, the first argument of that callable is inconsistent:

[code]

Prints:

    <__main__.MyClass object at 0x10854cda0>
    <__main__.MyClass object at 0x10854cda0>
    <__main__.Descriptor object at 0x10855f240>

As it turns out, this occurs because `slot_tp_descr_set` (shared

[2017-05-25 00:13] ee574465-f8a0-4075-8166-aafbd43e666c opened #74654 "Inconsistent Execution of Generic Descriptor Attributes"
BPO | [30469](https://bugs.python.org/issue30469)
--- | :---
Nosy | @rhettinger, @eryksun, @rmorshea

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-25 00:19] ericsnowcurrently commented on #74632
New changeset d1c3c13fedaf62b71445ccd048e395aa4a7d510f by Eric Snow in branch 'master':
bpo-30447: Fix/skip the subinterpreters test on some platforms. (bpo-1791)
https://github.com/python/cpython/commit/d1c3c13fedaf62b71445ccd048e395aa4a7d510f

[2017-05-25 00:20] #74632 closed, assigned to nobody

[2017-05-25 00:34] rhettinger commented on #74651
This particular PR seems fine.  I'll review it in more detail later.

In general, the tutorial is intended to be a structured overview of the language rather than a how-to-program lesson.  Concepts are usually linked to the glossary or external sources and some information is communicated indirectly by the examples.

[2017-05-25 00:42] jkloth commented on #74553
Submitted [PR-1805](https://github.com/python/cpython/pull/1805) that should restore perl-less building.

Also some open issues as noted in the PR.

[2017-05-25 00:46] rhettinger commented on #74648
This seems reasonable.

[2017-05-25 00:55] rhettinger commented on #74644
The docs do make the claim of returning void: https://docs.python.org/3/c-api/list.html#c.PyList_SET_ITEM

However, I think we should change the docs rather than changing the macro.  This macro is very old and very widely used.  Changing it is likely to break existing code which may rely on the current behavior.

Also, I don't want to encourage code like what you saw in py-qt4.  It is very indirec

[2017-05-25 01:11] zware commented on #74553
I tried out [PR1805](https://github.com/python/cpython/pull/1805) with Perl unavailable, and it seemed to build fine with `PC\VS9.0\build.bat -e -d -p x64`.  However, trying `PC\VS9.0\amd64\python_d.exe -m test.ssltests` segfaults.  Can you reproduce?

[2017-05-25 01:34] rhettinger commented on #74650
Thanks for adding so many tests.

[2017-05-25 01:45] ee574465-f8a0-4075-8166-aafbd43e666c commented on #74654
Is there a reason that `call_method` is not used in `slot_tp_descr_get`

[2017-05-25 02:50] jkloth commented on #74553
On my VM, ssltests pass, but both the Perl and non-Perl segfault in
test_ssl (and many others).  My VM has just VS2008 installed, does
VS2010 come with an updated SDK?

[2017-05-25 02:56] 1fb19202-35e4-4e43-b523-9ebd42659bbd commented on #74623
Okay, the problem is a little more specific than my last message suggested, but also a little less specific than the original report.

A "PermissionError: [Errno 13] Permission denied" is thrown when expanding a tarfile to which a file had been added more than once, \*if* the file is not writeable.  (tarfile expands the file twice, but the second time finds a non-writeable file in the way.)

This

[2017-05-25 03:14] eryksun commented on #74654
It looks like slot_tp_descr_get bypasses call_method in order to unset tp-\>tp_descr_get for descriptors that don't define \_\_get__. I don't know where that's an issue. If a class doesn't define \_\_get__, its tp_descr_get slot should already be NULL.

That said, I don't see why it's calling _PyType_LookupId directly instead of lookup_maybe. Using lookup_maybe would bind __get__ if it's a descrip

[2017-05-25 03:50] rhettinger commented on #74634
As much as possible, please stick with the existing terse style of the data model docs.  They tend to be concise, direct, and very light on examples.  They don't serve as a tutorial, faq, or cover programming patterns or advice.

Looking at the PR, I don't think most of these changes should be made.

[2017-05-25 05:37] njsmith commented on #74174
On further thought, I think the way I'd write a test for this is:

(1) add a testing primitive that waits for N instructions and then injects a SIGINT. Probably this would require tweaking the definition of Py_MakePendingCalls like I described in my previous comment, and then some code like:

[code]

(2) write a test like:

[code]

The idea here is that this sets off SIGINTs at every possible plac

[2017-05-25 05:44] Mariatta opened #74655 "Deprecate invalid ctypes call protection on Windows"
BPO | [30470](https://bugs.python.org/issue30470)
--- | :---
Nosy | @vstinner, @zooba, @Mariatta
PRs | <li>python/cpython#1810</li><li>python/cpython#1833</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

<

[2017-05-25 05:44] Mariatta commented on #74655
It was proposed by Steve Dower by email to python-dev:
https://mail.python.org/pipermail/python-dev/2017-May/147959.html

It should be deprecated in Python 3.6.2 and removed in 3.7.0

[2017-05-25 06:16] jkloth commented on #74553
OK, testing with the 7.1 SDK installed changes the crashes around, but something is really amiss.  I'd like to do more testing, but it will need to wait until morning here.

[2017-05-25 06:24] rhettinger commented on #74649
I agree that the comment should be changed. While we at it, perhaps sync-up with expovariate() code and eliminate the ``u <= 1e-7`` test:

Instead of:

        elif alpha == 1.0:
            # expovariate(1)
            u = random()
            while u <= 1e-7:
                u = random()
            return -_log(u) * beta

Use this instead:

        elif alpha == 1.0:
            # expovariate(1

[2017-05-25 06:46] ncoghlan commented on #74588
I just marked the associated PR as "[PEP required]", as while I'm in favour of merging this, I think we should go through the PEP process first:

1. We've been burned before by not properly advertising changes to Python's command line behaviour (while zip archive execution was added back in 2.6, a lot of folks didn't learn about it until the addition of the better advertised zipapp utility module

[2017-05-25 06:54] 1fb19202-35e4-4e43-b523-9ebd42659bbd commented on #74623
My last commit to the PR includes a fix by delaying setting permission to all files, not just to directories, in .extractall().

It might be better to catch the problem during .add instead, preventing tarring multiple copies, but I found subtle difficulties with that approach.  (Do we have a foolproof way to establish that a second addition is a duplicate?  What if the filename and path is the sam

[2017-05-25 07:00] benjaminp commented on #74635
The box svn is running on is at risk of falling over any day. Plus with whatever ancient software it's running, it's surely a security risk to keep running an unmaintained svn instance. I certainly don't want to keep it running for years. I don't think we've ever advertised the svn windows deps as a service we provide the community.

Off the top of my head, I'm not sure how to announce that deprec

[2017-05-25 07:32] 460c80ff-bdb7-4416-a811-ee58995bd9ed commented on #74623
Actually, it is not prohibited to add the same file to the same archive more than once.

[2017-05-25 07:32] mdickinson commented on #74626
@osantana: you'd need to be using the lock at least in `__setitem__` and `__delitem__` as well, else there's nothing preventing modifications to the dictionary during the `list` call. It may make sense to protect *all* accesses (read or write) to `_data`, though you'd need to either use a re-entrant lock in that case or be very careful about not acquiring the lock twice.

[2017-05-25 07:46] pitrou commented on #74626
I'm fine with a low-level lock, though as Mark says you could use \_thread.\_RLock().

[2017-05-25 08:14] e7156765-cbc4-40de-a178-4c6a47cd8ca6 opened #74656 ""as" keyword in comprehensions"
BPO | [30471](https://bugs.python.org/issue30471)
--- | :---
Nosy | @brettcannon, @rhettinger

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-25 08:14] e7156765-cbc4-40de-a178-4c6a47cd8ca6 commented on #74656
Currently, the "as" keyword in supported in import and with statements to bind an object to a name. I think it would be nice to have the same functionality in list/dict/etc. comprehensions as well.

Rationale: as I understand, comprehensions are preferred over map/filter + lambdas for creating modified versions of sequences (etc.) in Python. They are indeed useful for replacing map, filter, or map

[2017-05-25 08:58] encukou commented on #74588
Adding Stefan from the Cython project.

Stefan, is this something you'd want to use?
(It does require PEP-489 multi-phase initialization, so I assume it would need extra #ifdefs in Cythonized code for Python 3.5+ or 3.7+)

[2017-05-25 09:08] 34a972ad-74ed-4efa-9c08-f00962db0c1c commented on #74638
Hi, Mark

Thank you for teaching politely.

I had misunderstood about format() and round() functions.
I made mistakes though I already knew about floating point.
I think try to take this tactics on my codes.

[code]

Thank you very much.

[2017-05-25 09:10] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 commented on #74644
Well, there is not going to be a lot of breakage. This problem is the only instance I've encountered in the full OpenBSD ports tree.

I thought python was supposed to be a clean language, and didn't shy away from removing stuff/tweaking stuff to achieve that goal ?...

The py-kde4 error was deadly. I'm lucky clang finally caught it, but I'd rather this kind of stuff just not compile.

I think we'r

[2017-05-25 09:56] serhiy-storchaka commented on #74644
I think it would be safer to just cast the result of the expression to void. This decreases the chance of breaking valid code, that for example uses PyList_SET_ITEM() in a comma expression.

[2017-05-25 10:10] serhiy-storchaka commented on #74626
Isn't list(dict) atomic? At least in CPython.

I suspect that protecting \*all* accesses to \_data with a lock will hit the performance and invalidate the reason of using \_data for caching.

[2017-05-25 10:13] pitrou commented on #74626
I doubt it. There's no special code for list(dict), it uses regular iteration which could probably hit the GC and then release the GIL.

I'm not convinced os.environ is performance-critical.  Perhaps getenv() is really expensive on some systems?

[2017-05-25 10:18] scoder commented on #74588
Thanks for bringing me in. The PoC implementation looks nice. Whether I'd like to support this in Cython? Absolutely. Requires some work, though, since Cython still doesn't implement PEP-489. But it shouldn't be hard, if I remember the discussions from back then correctly. I could try to free some time in August to catch up with this. That would still fit into the pre-alpha phase of Py3.7.

Unless

[2017-05-25 10:24] serhiy-storchaka commented on #74636
This is a duplicate of bpo-22025.

[2017-05-25 10:30] serhiy-storchaka commented on #74626
While there are no special code for list(dict), regular iteration over exact dict don't hit the GC.

[2017-05-25 10:33] pitrou commented on #74626
Doesn't it? Creating a dict iterator creates a GC-tracked object.

[2017-05-25 10:42] serhiy-storchaka commented on #74626
But it is destroyed only after iterating.

[2017-05-25 10:45] pitrou commented on #74626
Every time you create a GC-tracked object, you can invoke the GC. See \_PyObject_GC_Alloc.

[2017-05-25 10:48] serhiy-storchaka commented on #74652
This is the same as bpo-30468. It isn't worth to open separate issues for different versions.

[2017-05-25 10:48] #74652 closed, assigned to nobody

[2017-05-25 10:52] vstinner commented on #74632
Thanks for fixing that one Eric.

[2017-05-25 11:01] ronaldoussoren commented on #74577
FWIW: The bug in osascript is still present in the current 10.12.6 beta (build 16G8c)

[2017-05-25 11:10] serhiy-storchaka commented on #74653
Could you provide a benchmarkin script that demonstrates a performance bottleneck?

The patch is against 2.7. Please provide a patch against the master branch.

[2017-05-25 11:15] serhiy-storchaka commented on #74626
Invoking GC before iterating or after iterating doesn't break the atomicity of iterating.

[2017-05-25 11:16] pitrou commented on #74626
Perhaps.  But this discussion shows the matter is complicated and we shouldn't rely on fragile assumptions about implementation details.  So we need a lock.

[2017-05-25 11:23] e9207e60-4727-426f-80db-ec53adaac990 opened #74657 "[Selenium 3.4.2-geckodriver 0.16.1] Python 3.6.1 unable to initialize webdriver with "marionette" set to True"
BPO | [30472](https://bugs.python.org/issue30472)
--- | :---
Nosy | @pitrou

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-25 11:23] e9207e60-4727-426f-80db-ec53adaac990 commented on #74657
Python 3.6.1 unable to initialize webdriver (geckodriver) for Selenium with "marionette" set to True.

Here is my code block written in PyCharm:

[code]

[code]

When "marionette" set back to False URL open up perfect.

[2017-05-25 11:41] serhiy-storchaka commented on #74637
This error message is not created by xml.etree, it is just propagated from the expat library. Open a ticket on the expat library tracker if you want to improve the error message.

[2017-05-25 11:41] #74637 closed, assigned to nobody

[2017-05-25 12:10] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 commented on #74644
yep, casting to (void) would be safer indeed. didn't think of that one ;)

[2017-05-25 12:21] 8aca85a3-0943-4f9a-81b2-3a5b465014cb opened #74658 "defaultdict raises SystemError, __missing__ returned NULL in thread"
BPO | [30473](https://bugs.python.org/issue30473)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @zhangyangyu, @mlouielu
Superseder | <li>bpo-30524: iter(classmethod, sentinel) broken for Argument Clinic class methods?</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summ

[2017-05-25 12:21] 8aca85a3-0943-4f9a-81b2-3a5b465014cb commented on #74658
Working on this PR (https://github.com/maxpoint/spylon/pull/49), I encountered an unexpected SystemError in Python 3.6 on my Mac and on Travis Linux.

[code]

The exception only occurs in Python 3.6, not in Python 3.5 or 3.4: https://travis-ci.org/maxpoint/spylon/builds/235992988

The defaultdict is both created and used as a local variable in a threading.Thread run() function. It's never accessed

[2017-05-25 12:32] serhiy-storchaka commented on #74129
New changeset f43b293f2fee91578e28c7aa566510a0cd6e33cb by Serhiy Storchaka in branch '3.6':
[3.6] bpo-29943: Do not replace the function PySlice_GetIndicesEx() with a macro (GH-1049) (bpo-1813)
https://github.com/python/cpython/commit/f43b293f2fee91578e28c7aa566510a0cd6e33cb

[2017-05-25 12:34] #74129 closed, assigned to serhiy-storchaka

[2017-05-25 13:12] 926f5a78-c649-40ff-bc69-82d4f44ddc70 commented on #74659
I have been getting periodic crashes from a long running python job on Mac OS X. There is nothing indicative of a crash from standard output or error. I'm not sure if the OS X crash records actually find your way back to you, but I am explicitly including mine here. I will try to attach my code after submission of this entry. I run this in the background on OS X, with stdout and stderr redirected

[2017-05-25 13:12] 926f5a78-c649-40ff-bc69-82d4f44ddc70 opened #74659 "Crash on OS X EXC_BAD_ACCESS (SIGSEGV)"
BPO | [30474](https://bugs.python.org/issue30474)
--- | :---
Nosy | @ronaldoussoren, @ned-deily
Files | <li>[python-crash.txt](https://bugs.python.org/file46900/python-crash.txt "Uploaded as text/plain at 2017-05-25.13:12:43 by buchs"): OS X crash listing.</li><li>[Kafka-Poll.py](https://bugs.python.org/file46901/Kafka-Poll.py "Uploaded as text/plain at 2017-05-25.13:13:45 by buchs"): Code I was r

[2017-05-25 13:30] 8aca85a3-0943-4f9a-81b2-3a5b465014cb commented on #74658
Much simpler example: https://gist.github.com/parente/a4772297459f05e43e12a5820051431b

Wrapping the datetime.datetime.now in a lambda avoids the issue.

[2017-05-25 14:09] ned-deily commented on #74659
According to the crash trace you supplied, the crash happened as a result of a call in librdkafka called from the cimpl extension module. As neither of these are part of the Python standard library, suggest you contact the project that supplies them or possibly Homebrew if you installed them through brew. Good luck!

[2017-05-25 14:09] #74659 closed, assigned to nobody

[2017-05-25 14:13] zware commented on #74553
Ok, sounds good.  The two points you raised on the PR also sound fine, as far as I can tell.

[2017-05-25 14:18] zware commented on #74631
I suspect you'll need to set sys.path (PySys_SetPath, I think, but trust the docs more than me).  Try importing sys and printing sys.path to confirm.

[2017-05-25 14:23] pitrou commented on #74599
New changeset bc50f03db4f58c869b78e98468e374d7e61f1227 by Antoine Pitrou (grzgrzgrz3) in branch 'master':
bpo-30414: multiprocessing.Queue.\_feed do not break from main loop on exc (bpo-1683)
https://github.com/python/cpython/commit/bc50f03db4f58c869b78e98468e374d7e61f1227

[2017-05-25 14:37] 9da18a29-a07d-4828-a801-24cc911246de commented on #74658
Another way to reproduce this problem:

[code]

This problem doesn't appear on Python 2.7, too.

[2017-05-25 14:53] zhangyangyu commented on #74658
Interestingly I could only reproduce the failure on 3.6 but not master.

[2017-05-25 14:57] pitrou commented on #74599
New changeset 2783cc42629b9445ea848ce36bbf213ef7789271 by Antoine Pitrou in branch '3.6':
[3.6] bpo-30414: multiprocessing.Queue.\_feed do not break from main loop on exc (GH-1683) (bpo-1815)
https://github.com/python/cpython/commit/2783cc42629b9445ea848ce36bbf213ef7789271

[2017-05-25 15:19] pitrou commented on #74599
New changeset 89004d761361332314beb08b443bff5b092ec36e by Antoine Pitrou in branch '3.5':
[3.5] bpo-30414: multiprocessing.Queue.\_feed do not break from main loop on exc (GH-1683) (bpo-1816)
https://github.com/python/cpython/commit/89004d761361332314beb08b443bff5b092ec36e

[2017-05-25 15:20] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74653
Please assign this bug to me. I will submit a patch

[2017-05-25 15:21] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74653
serhiy sure I will attach proof of the performance bottle-neck on 2.7 and 3.7 before I submit a patch. Please assign this bug to me.

[2017-05-25 15:21] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74652
Please assign this bug to me.

[2017-05-25 15:24] rhettinger commented on #74644
That is no basis for knowing what the entire rest of the world has done with done with this API (perhaps valid working code using chained assignments).

[2017-05-25 15:50] zooba commented on #74631
I've been meaning to get to looking at this issue for a couple of days now, sorry.

There are two critical pieces here:
* don't delete or move \_socket.pyd
* don't delete or move python36.\_pth (but possibly update it)

The first one should be obvious - I assume you haven't messed that bit up :)

The second one is the "static" way of setting sys.path, as Zach suggests. By default, it should includ

[2017-05-25 15:53] pitrou commented on #74599
New changeset bdd964710deffe8593063dcb63157e5b55a82c61 by Antoine Pitrou in branch '2.7':
[2.7] bpo-30414: multiprocessing.Queue.\_feed do not break from main loop on exc (GH-1683) (bpo-1817)
https://github.com/python/cpython/commit/bdd964710deffe8593063dcb63157e5b55a82c61

[2017-05-25 15:54] pitrou commented on #74599
This is committed and pushed, thank you!

[2017-05-25 15:54] #74599 closed, assigned to nobody

[2017-05-25 15:56] zooba commented on #74635
Except in the dev guide :) ([after looking] well, linked from the dev guide https://github.com/python/cpython/blob/master/PCbuild/readme.txt#L230 )

Maybe we just need to pick a date and publicise it separately. Is this process PEP-worthy? Considering the amount of decisions we had to make regarding putting code in git, it might be worth writing up how it works in a brief PEP and including an EOL

[2017-05-25 16:20] serhiy-storchaka commented on #74653
I assigned this issue to me as the maintainer of the zipfile module. This means that I undertake to examine the results of benchmarking, make the review of the proposed patch, and merge it if it improves the performance and doesn't have negative side effects. This shouldn't stop you from writing your patch.

Actually there was a reason why the code is written in that way. But maybe that reason no

[2017-05-25 16:42] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74653
Serhiy yes what you said makes sense. Thanks for clarifying. Updates (benchmarking results) shortly...stay tuned.

[2017-05-25 16:59] 9da18a29-a07d-4828-a801-24cc911246de commented on #74658
This bug is introduce at commit: 37e4ef7b17ce6e98ca725c0a53ae14c313c0e48c, then fixed at commit: 998c20962ca3e2e693c1635efe76c0144dde76fc

[2017-05-25 17:08] f7ff1065-1faa-4032-9f70-fa087366e390 commented on #74626
New version of patch:

1. Use RLock instead of Lock (Mark & Antoine recomendation)
2. Add lock acquire at `__setitem__` and `__delitem__` as following (Mark & Antoine recomendation)
3. Add lock protection in `__repr__` implementation.

I've some questions pending:

1. Is it a good idea to wrap self.\_data access with lock in \_\_getitem__? (I suspect it's not)
2. Is it a good idea to lock protect

[2017-05-25 17:09] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 commented on #74644
Note that the API is fully documented for returning void... not anything else.

"No basis" right. We're taling 10000 pieces of software. a lot of what is actually used in the world.

I'm very surprised, considering python has routinely done "spring cleanup" by breaking fairly old apis.

If this breaks, people will fix their code, seriously.

In most places, we would rather have undocumented, unpor

[2017-05-25 17:14] Mariatta commented on #74364
Thanks Jim and Stéphane.

[2017-05-25 17:14] #74364 closed, assigned to nobody

[2017-05-25 17:15] ericsnowcurrently commented on #74624
proposed: https://mail.python.org/pipermail/python-ideas/2017-May/045765.html

[2017-05-25 17:20] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74644
I guess since it's documented, it would be ok to change for 3.7.  BTW, we also allow "static inline" now in headers, so perhaps we could make it a function.

[2017-05-25 17:41] ae6878ec-d873-4297-8b64-d05d471e780d commented on #74653
Serhiy, I am curious why did you have chosen to compute the CRC32 table everytime? It is standard (the generator polynomial does not change) and always will output the same values. And it is also less computational intensive to loading a precomputed array vs calculating it each time a zip archive is extracted.

[2017-05-25 17:57] serhiy-storchaka commented on #74658
In 3.6 \_PyStack_UnpackDict() returns just args if there are no keyword arguments. But if args is NULL, the result of \_PyStack_UnpackDict() is treated as error.

Thank you for the reproducer Louie!

[2017-05-25 18:17] serhiy-storchaka commented on #74653
I'm not the initial author of zipfile. That initial code for decrypting  was added in bpo-698833.

I like your idea about replacing the generating code with the precomputed table. Please open a separate issue for this.

[2017-05-25 18:34] ericsnowcurrently opened #74660 "Docs for PyDict_GetItemWithError() should say it returns a borrowed reference."
BPO | [30475](https://bugs.python.org/issue30475)
--- | :---
Nosy | @ericsnowcurrently
PRs | <li>python/cpython#1818</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-25 18:34] ericsnowcurrently commented on #74660
Per Object/dictobject.c, PyDict_GetItemWithError() returns a borrowed reference.  However, the documentation does not say so.  That should be fixed.

[2017-05-25 18:38] rhettinger commented on #74644
I prefer to leave this as macro rather than assuming the compiler will heed the inline hint.

[2017-05-25 19:15] jkloth commented on #74553
Updated PR.  It seems that in my testing back and forth, some build artifacts were affecting my outcomes.  That's what I get for cutting corners...

Per Zach's comment, I've changed to VS project files to use the prepare_ssl.py include directories (include{suffix} vs inc{suffix}).  This simplifies build_ssl.py further.

I have, however, left the "fix_buildinf()" code in place since it requires an

[2017-05-25 19:28] jkloth commented on #74645
It seems to me that it is a quite simple fix:

[code]

which is exactly what the empty read case does above this.

This fixes my error, and produces no changes to the test suite.

I guess it could be wrapped in an #ifdef MS_WINDOWS, just it case, but that seems unnecessary as the previous code does not.

[2017-05-25 19:33] brettcannon commented on #74598
I don't think os.normcase() calling os.fspath() needs to be a worry. Pragmatically it's just getting a str/bytes from an object that knows how to return a str/bytes for a path. IOW it's no different than os.normcase(str(path)) and so embedding the call such that it's not a flat-out no-op shouldn't be a general concern.

[2017-05-25 20:11] 2863f5f1-54b9-4336-afc4-b10d3a0f4bd3 commented on #74644
it's still 100% safe as a macro since each parameter is not used more than once. only the return type is an issue.

[2017-05-25 20:12] ericsnowcurrently commented on #74633
At this point I'm not convinced the failure is due to my recent changes.  Regardless, I do agree with you about detecting hard crashes.

[2017-05-25 20:25] 1510523b-2bdb-44fa-9092-cac883321cf4 opened #74661 "Add _GenerateCRCTable() to zipfile.py to pre-compute CRC Table"
BPO | [30476](https://bugs.python.org/issue30476)
--- | :---
Nosy | @jkloth, @serhiy-storchaka, @shubharamani

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-25 20:25] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74661
It is wasteful to generate the CRC Table every time, via \_crctable = list(map(_gen_crc, range(256))). Better to have a pre-computed table.

I will submit the patch which incorporates this feature along with micro-benchmark results. Related issue:

http://bugs.python.org/issue30467

http://bugs.python.org/issue30468

[2017-05-25 21:43] brettcannon commented on #74656
The best place to propose this is on the python-ideas mailing list. My suspicion, though, is people will say it's not worth the new syntax as you can also undo your comprehensions as normal code and simply assign to a variable name directly.

[2017-05-25 21:58] affb16c2-6fdb-403f-b328-86b7e719c99e commented on #74634
I created a new PR based on rhettinger's feedback (which on consideration was quite correct) with a fresh branch from master.

Terseness is retained, and I think this revision makes the documentation more correct and complete. The rewording makes the behavior more clear (IMHO).

No example code is needed for this revision, so I didn't give any, but one or two class definitions might be desirable.

[2017-05-25 22:41] 26430bb7-2658-4167-b720-bf06b4259b33 opened #74662 "tuple.index error message improvement"
BPO | [30477](https://bugs.python.org/issue30477)
--- | :---
Nosy | @brettcannon, @rhettinger, @vadmium, @llllllllll
PRs | <li>python/cpython#1820</li>
Superseder | <li>bpo-13349: Non-informative error message in index() and remove() functions</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary

[2017-05-25 22:41] 26430bb7-2658-4167-b720-bf06b4259b33 commented on #74662
The old error of tuple.index(x): x not in tuple seemed very confusing to me. It was also harder to quickly understand what the program was doing wrong. This saves people a second pass through the program under the debugger because they can just see what the invalid value was.

The reason I am explicitly calling repr instead of using %R is that I didn't want to call repr twice if I didn't need to.

[2017-05-25 22:48] brettcannon commented on #74662
I'm wondering if including the whole "tuple.index(%R)" part is still necessary? The traceback will tell you what method you called, so wouldn't "%R not in tuple" be enough?

[2017-05-25 22:52] 26430bb7-2658-4167-b720-bf06b4259b33 commented on #74662
I agree, "%R in tuple" is enough information for me. This would also remove the need to manually repr the object.

[2017-05-25 22:55] 26430bb7-2658-4167-b720-bf06b4259b33 commented on #74662
As a more meta question: I have noticed that many error messages in the stdlib use PyErr_SetString, or choose to use the type name instead of the repr of the object. Is there a reason for this? I normally try to fill the error message with as much context as possible to make debugging easier. Is it a performance worry?

[2017-05-26 01:48] f6e529b3-9333-4ba5-83b2-dd3764b92cc4 commented on #74663
Hi all,

I have a python script to run  as a Weather Station application. The python script runs on Raspberry Pi 3 board. It gets weather data from OpenWeatherMap website and sends result to a remote touch-screen device via COM port to display

It uses two main libraries to handle the task:
https://pypi.python.org/pypi/ftd2xx
https://github.com/csparpa/pyowm

I got the python script just exits wit

[2017-05-26 01:48] f6e529b3-9333-4ba5-83b2-dd3764b92cc4 opened #74663 "Python 2.7 crashes in Linux environment"
BPO | [30478](https://bugs.python.org/issue30478)
--- | :---
Nosy | @ncoghlan, @mlouielu
Files | <li>[python_crashes.png](https://bugs.python.org/file46903/python_crashes.png "Uploaded as image/png at 2017-05-26.01:48:31 by HuyK"): Captured picture about coredump message</li><li>[weather_station.py](https://bugs.python.org/file46904/weather_station.py "Uploaded as text/plain at 2017-05-26.02:37:31

[2017-05-26 02:14] rhettinger commented on #74634
Overall this looks good.  Please do fix the one review comment.

[2017-05-26 02:22] rhettinger commented on #74662
It really depends on what people are doing with their down.  If indexing potentially missing values is common, there will be a performance impact.

Also, the cost of a \_\_repr__ varies wildly depending on the data (i.e. a collections.Counter instance has an expensive \_\_repr__, decimal objects have computations to runs as well).

From a user point of view, a repr might be helpful or it might be

[2017-05-26 02:28] ncoghlan commented on #74605
New changeset 368cf1d20630498ca7939069a05d744fabb570aa by Nick Coghlan (Alex Gaynor) in branch 'master':
bpo-30420: List cwd parameter in subprocess convenience APIs (GH-1685)
https://github.com/python/cpython/commit/368cf1d20630498ca7939069a05d744fabb570aa

[2017-05-26 02:29] rhettinger commented on #74656
As Brett says, the place to propose this is on python-ideas.

I'm going to mark it here as closed/rejected because it will likely have to go through a lengthy process (possibly including a PEP) before having a chance of being accepted.  Please don't take this as discouragement.  It is just that the tracker is the wrong forum for the conversation to start.

On the plus side, the idea does seem like

[2017-05-26 02:29] #74656 closed, assigned to nobody

[2017-05-26 02:30] 9da18a29-a07d-4828-a801-24cc911246de commented on #74663
Hi Huyk, which version of Python does the error message generated?

Also, could you try to provide a minimum reproduce python script and upload it? it will be more easy to debug this problem if we can reproduce this.

[2017-05-26 02:34] ncoghlan commented on #74605
The just merged PR covers the "list `cwd` in the nominal signatures for `run()`, `call()`, `check_call()`, and `check_output()`" part of the proposal.

The rest of the proposed fixes are still pending a patch (and keeping in mind Martin's caveat on minimising duplication between the "Frequently Used Arguments" section and the full Popen documentation)

[2017-05-26 02:37] f6e529b3-9333-4ba5-83b2-dd3764b92cc4 commented on #74663
Hi Louie Lu,

You will need a touch-screen device running corresponding firmware in order to run the python application. FYI, I tried to run only weather data fetching or only COM port communication but the crash did not happen. It happens when I run both tasks.
Anyway, I attach the python script for your reference.
First, I got the issue with 2.7.9. And after updating to 2.7.13, I still get the c

[2017-05-26 02:52] ncoghlan commented on #74663
Hi HuyK, thanks for the issue report, and in particular the pointers to the key external libraries the script uses.

It seems ftd2xx relies on ctypes to wrap an external library, which means that this report falls under the general policy of "triggering a segfault with ctypes is assumed to be a bug in the usage of ctypes, rather than a bug in ctypes itself".

If you'd like to investigate further b

[2017-05-26 02:52] #74663 closed, assigned to nobody

[2017-05-26 03:15] ncoghlan commented on #74624
A naming suggestion: let's leave the `interpreters` & `_interpreters` names free for a possible future PEP to make this a public API with a fallback multiprocessing backed implementation for implementations that don't have native subinterpreter support.

Then for this "testing and experimentation only" API, we'd go with "\_subinterpreters" to match the name typically used to refer to the CPython f

[2017-05-26 05:15] serhiy-storchaka commented on #74495
New changeset 96f502059717a692ca3abd968b26c5ea2918ad3a by Serhiy Storchaka in branch '2.7':
[2.7] bpo-30310: tkFont now supports unicode options (e.g. font family). (bpo-1567)
https://github.com/python/cpython/commit/96f502059717a692ca3abd968b26c5ea2918ad3a

[2017-05-26 05:17] #74495 closed, assigned to nobody

[2017-05-26 05:33] rhettinger commented on #74634
New changeset 2b44e302ec3079363c4d5c875677945953705c58 by Raymond Hettinger (Aaron Hall, MBA) in branch 'master':
bpo-30449 Terse slots (bpo-1819)
https://github.com/python/cpython/commit/2b44e302ec3079363c4d5c875677945953705c58

[2017-05-26 06:41] benjaminp commented on #74635
How far along are you with removing the svn.python.org dependency. Does  Jan 1 2018 sound okay for the end of svn.python.org?

I think a PEP is up to you. Doesn't seem like something that needs to be approved.

[2017-05-26 07:34] pitrou commented on #74635
I could imagine people wanting to build old releases.  But we have Windows binaries up here:
https://www.python.org/ftp/python/

Therefore I don't think it's a problem to discontinue svn.python.org once new releases are migrated to github (but only once those new releases are out).

[2017-05-26 07:38] pitrou commented on #74657
This is the bug tracker for Python itself.  What you're having is an issue with selenium, which is a third-party library.  I recommend you post your issue on the selenium bug tracker instead.

[2017-05-26 07:38] #74657 closed, assigned to nobody

[2017-05-26 08:23] 508f7627-3797-4332-8a63-a38898672f33 opened #74664 "improve asyncio debugging"
BPO | [30479](https://bugs.python.org/issue30479)
--- | :---
Nosy | @warsaw, @tarekziade, @asvetlov, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 08:23] 508f7627-3797-4332-8a63-a38898672f33 commented on #74664
This is a very useful trick to understand why the loop cleanup generates  a lot of "Exception ignored in: \<object repr() failed\>"

https://github.com/python/asyncio/issues/423#issuecomment-268882753

Could we consider including it in Task.\_\_del__ ?

[2017-05-26 08:32] 1aae452d-e950-4e3a-ba32-457f08298862 commented on #74662
What is the rationale for the inconsistency between tuples and lists here?

().index(0)
ValueError: tuple.index(x): x not in tuple

[].index(0)
ValueError: 0 is not in list

In this simple artificial case, it seems clear to me that the list version (which is similar to the proposed change) is superior.

However, it is often not sufficient to use such cases as the basis for making a decision. Raymo

[2017-05-26 08:50] eryksun opened #74665 "samefile and sameopenfile fail for WebDAV mapped drives"
BPO | [30480](https://bugs.python.org/issue30480)
--- | :---
Nosy | @arigo, @pfmoore, @giampaolo, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 08:50] eryksun commented on #74665
os.path.samefile (used by shutil copyfile and move), os.path.sameopenfile, and pathlib.samefile rely on os.path.samestat (from genericpath.py), which compares corresponding st_dev and st_ino values. POSIX assures that the tuple (st_dev, st_ino) is unique. Windows makes no such assurance for the combination of the volume serial number (st_dev) and file index number (st_ino). The volume serial numbe

[2017-05-26 09:10] 59a87cf5-772e-485d-9e89-10bd98da63ed opened #74666 "lib/socket.py, line 330, Treated 'file' as a socket object, instead of int"
BPO | [30481](https://bugs.python.org/issue30481)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @mak12776

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 09:10] 59a87cf5-772e-485d-9e89-10bd98da63ed commented on #74666
When I network programming, I got this problem:

  File "ft.py", line 43, in SendFile
    sent=conn.sendfile(fd.fileno(), offset)
  File "D:\\Program Files\\Python\\Python35-32\\lib\\socket.py", line 391, in sendfile
    return self.\_sendfile_use_send(file, offset, count)
  File "D:\\Program Files\\Python\\Python35-32\\lib\\socket.py", line 330, in \_sendfile_use_send
    file_read = file.read
At

[2017-05-26 09:32] 37e87ed0-0fc8-46b1-8ca1-56f847d9cee8 commented on #74667
On at least Linux (and probably most other UNIXes, except OS X), the C functions getservbyname(), getservbyport(), and getprotobyname() are not threadsafe.  CPython's wrappers around these functions in the socket module do nothing to cover up this fact.  Simple reproduction script for getservbyname (others similar):

[code]

One of the threads will throw the RuntimeError, saying it got the port nu

[2017-05-26 09:32] 37e87ed0-0fc8-46b1-8ca1-56f847d9cee8 opened #74667 "socket.getservbyname(), socket.getservbyport(), socket.getprotobyname() are not threadsafe"
BPO | [30482](https://bugs.python.org/issue30482)
--- | :---
Nosy | @pitrou, @vstinner, @njsmith, @dwfreed

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 09:49] maxking opened #74668 "urllib.parse.parse_qsl does not handle unicode data properly"
BPO | [30483](https://bugs.python.org/issue30483)
--- | :---
Nosy | @maxking, @csabella, @cyrkov

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-93757
* gh-115771
* gh-11636

[2017-05-26 09:49] maxking commented on #74668
After decoding percentage encoded `name` and `values` in the query string, it tries to `_coerce_result` or encode the result to ascii (which is the value of _implicit_encoding).

[code]

As seen in the partial traceback above, it breaks things when trying to parse unicode encode query string values.

[2017-05-26 09:50] 59a87cf5-772e-485d-9e89-10bd98da63ed commented on #74666
sorry, my code have bug.

[2017-05-26 09:50] #74666 closed, assigned to nobody

[2017-05-26 10:00] e7156765-cbc4-40de-a178-4c6a47cd8ca6 commented on #74656
The truth is, I was thinking about going to the list, but according to PEP-42 (https://www.python.org/dev/peps/pep-0042/), this space was one of the places new features could be requested:

"""
Note

This PEP has been rejected as obsolete. All new feature requests should either go to the Python bug tracker [1] or the python-ideas [2] mailing list. The rest of this document is retained for historic

[2017-05-26 10:11] pitrou commented on #74667
The configure.ac script should check for the availability of gethostbyname_r and friends, like it already does for other functions.

[2017-05-26 12:48] 4b81ed38-3a92-4ff8-bb01-bf00ebdaf501 commented on #74669
We discovered this issue whilst using h5py (HDF5 python library) under python 3.5.2 on Ubuntu 16.04.2 x86_64.  The construct used is very dubious, and I will separately be raising an issue with the h5py team.  However I thought you might like to know there is a possible way to cause a segmentation violation using pure python.

There appears to be a new implementation of dictionaries in 3.6 vs 3.5,

[2017-05-26 12:48] 4b81ed38-3a92-4ff8-bb01-bf00ebdaf501 opened #74669 "Garbage Collector can cause Segfault whilst iterating dictionary items"
BPO | [30484](https://bugs.python.org/issue30484)
--- | :---
Nosy | @larryhastings, @berkerpeksag, @serhiy-storchaka, @JelleZijlstra
PRs | <li>python/cpython#2248</li>
Files | <li>[segfault.py](https://bugs.python.org/file46905/segfault.py "Uploaded as text/plain at 2017-05-26.12:48:08 by jimwright"): segfault.py</li>

<sup>*Note: these values reflect the state of the issue at the time it was migr

[2017-05-26 12:57] 25dbb005-29e0-41c7-b4a1-36fd8b32beae commented on #74670
The findall method for ElementTree.Element handles namespace prefixes by tokenising the path and inserting the full namespace in braces based on entries in a dictionary.

Unfortunately, this does not work for a namespace without a prefix, so if you have files containing namespaces with and without prefixes, you still need to manually add the namespace url for the unprefixed path.

The function xpa

[2017-05-26 12:57] 25dbb005-29e0-41c7-b4a1-36fd8b32beae opened #74670 "Element.findall(path, dict) doesn't insert null namespace"
BPO | [30485](https://bugs.python.org/issue30485)
--- | :---
Nosy | @rhettinger, @scoder, @zooba, @tirkarthi
PRs | <li>python/cpython#1823</li><li>python/cpython#12830</li><li>python/cpython#12860</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-05-26 13:32] vadmium commented on #74662
Also discussed in bpo-13349

[2017-05-26 15:18] rhettinger commented on #74670
I agree that this is a recurring irritant.

[2017-05-26 16:17] pitrou opened #74671 "Allow setting cell value"
BPO | [30486](https://bugs.python.org/issue30486)
--- | :---
Nosy | @rhettinger, @terryjreedy, @ncoghlan, @pitrou, @vstinner, @benjaminp, @serhiy-storchaka, @lisroach, @DimitrisJim
PRs | <li>python/cpython#1840</li><li>python/cpython#3668</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-05-26 16:17] pitrou commented on #74671
There are use cases for setting a cell value.  One such use case is for (un)pickling recursive closures (see heroic workaround here: https://github.com/cloudpipe/cloudpickle/pull/90/files#diff-d2a3618afedd4e124c532151eedbae09R74 ).  Other use cases may include tinkering around and general education value.

There also doesn't seem to be, AFAICS, any counter-indication to being able to do so.  It's

[2017-05-26 16:40] 60717714-ac02-4c78-a5e0-6f0d36b9c456 commented on #74618
The PR has been merged by Mariatta so I think this can be closed.

[2017-05-26 16:49] 60717714-ac02-4c78-a5e0-6f0d36b9c456 opened #74672 "DOC: automatically create a venv and install Sphinx when running make"
BPO | [30487](https://bugs.python.org/issue30487)
--- | :---
Nosy | @ned-deily, @cjrh, @zware, @willingc, @csabella
PRs | <li>python/cpython#1743</li><li>python/cpython#4346</li><li>python/cpython#4592</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fi

[2017-05-26 16:49] 60717714-ac02-4c78-a5e0-6f0d36b9c456 commented on #74672
Under guidance from zware during Pycon sprints, I've changed the Doc/ Makefile to automatically create a virtual environment and install Sphinx, all as part of the `make html` command.

[2017-05-26 16:50] Mariatta commented on #74618
Thanks Caleb.

This has been addressed in the Dev Guide PR https://github.com/python/devguide/pull/206 and it has been merged.

[2017-05-26 16:50] #74618 closed, assigned to nobody

[2017-05-26 17:03] scoder commented on #74670
Agreed that this should be added. I think the key should be None, though, not the empty string. I attached a quick patch for lxml's corresponding file. It's mostly the same for ET.

[2017-05-26 17:04] 1st1 commented on #74331
A while ago, Eric Appelt stepped forward to help with the asyncio
documentation.  Here's my response to his email in which we discuss
the direction for the new docs.

On May 24, 2017 at 1:04:56 PM, Eric Appelt (eric.appelt@gmail.com) wrote:

What I like about Trio documentation is that it tries to explain
async/await first, gradually paving the way to more advanced concepts
and the library API.

I

[2017-05-26 17:42] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #74673 "Documentation for subprocess.STDOUT needs clarification"
BPO | [30488](https://bugs.python.org/issue30488)
--- | :---
Nosy | @pkch
Superseder | <li>bpo-22274: subprocess.Popen(stderr=STDOUT) fails to redirect subprocess stderr to stdout</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-05-26 17:42] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74673
The documentation states that subprocess.STDOUT is:

Special value that can be used as the stderr argument to Popen and indicates that standard error should go into the same handle as standard output.

However, when Popen is called with stdout=None, stderr=subprocess.STDOUT, stderr is not redirected to stdout and continues to be sent to stderr.

To reproduce the problem:

[code]

and observe the e

[2017-05-26 18:07] brettcannon commented on #74656
I've created https://github.com/python/peps/pull/267 to clarify things a bit better in PEP-42, Dávid .

[2017-05-26 18:14] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74661
It looks like \_GenerateCRCTable() is already implemented here:

https://svn.python.org/projects/python/trunk/Lib/zipfile.py

The question is, why isn't it implemented here ?

https://github.com/python/cpython/blob/master/Lib/zipfile.py

[2017-05-26 18:16] 37e87ed0-0fc8-46b1-8ca1-56f847d9cee8 commented on #74667
It already checks for gethostbyname_r, but the comments in socketmodule.c mention that configure seems to get it wrong.  Those comments are probably old, though, so perhaps that can be revisited as well.

[2017-05-26 18:27] d7907440-6036-40cf-9696-a1d2549a514a opened #74674 "Add CmdLineTest to standard library"
BPO | [30489](https://bugs.python.org/issue30489)
--- | :---
Nosy | @terryjreedy

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 18:27] d7907440-6036-40cf-9696-a1d2549a514a commented on #74674
I see that you use some helpers to test command line utilities (https://hg.python.org/cpython/file/default/Lib/test/test_cmd_line_script.py) that would be useful to Python programmers. Please, consider to add them to the standard library (or somewhere) to reuse them.

[2017-05-26 18:33] #74673 closed, assigned to nobody

[2017-05-26 19:16] scoder commented on #74670
Patch replaced by pull request.
https://github.com/python/cpython/pull/1823

[2017-05-26 19:36] jkloth commented on #74661
See bpo-10030 (and pr #550).  It removed that function in favor of the current approach.

Also, that current code does not generate \*every* time, but just once.  Note that the computed value is stored in a global cache.

[2017-05-26 20:48] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74661
This is not needed after all jkloth explained. Please feel free to close.

[2017-05-26 20:57] 1510523b-2bdb-44fa-9092-cac883321cf4 commented on #74653
Upon comparing the PyPy changes from attached diff to the latest cpython3 github, I don't find a need for improvement. Looks like cpython3 zipfile.py has the same changes and the read() method in class
ZipExtFile(io.BufferedIOBase) is vastly improved compared to what pypy had. In fact it has been completely re-written.

The CPython 2.7 version of this bug was promptly closed as a duplicate:
http:/

[2017-05-26 20:59] 494843ea-eb4d-4035-9f53-0d2535742f7e opened #74675 "Allow pass an exception to the Event.set method"
BPO | [30490](https://bugs.python.org/issue30490)
--- | :---
Nosy | @1st1, @pfreixes
PRs | <li>python/cpython#1824</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-26 20:59] 494843ea-eb4d-4035-9f53-0d2535742f7e commented on #74675
Having the Event as the way to synchronize 1:N coroutines, the none happy path should be able to be expressed making possible call the `set_exception` for each future related to each waiter.

As an example the following code trying to implement a way to avoid the dogpile effect for a DNS cache. If the coro that holds the event fails, the original exception is also broadcasted to the waiters.

[cod

[2017-05-27 00:58] #74661 closed, assigned to nobody

[2017-05-27 01:14] lisroach commented on #74671
This idea makes sense to me. I'll see if I can put together the code for it.

[2017-05-27 02:10] vadmium commented on #74578
Perhaps if you ran the tests in verbose mode, that could narrow down which test it hangs at. Also, if you can capture a KeyboardInterrupt stack trace, that may help. Not sure if it works with your build setup, but maybe you can run something like

./python -m unittest -v test.test_readline

Not too long ago, I added some tests that run a child process in a pseudoterminal (see the “run_pty” functio

[2017-05-27 02:51] vadmium commented on #74490
I think the simplest way forward would be to add the word “Unicode” back in. You could look at making a Git Hub pull request for this if you want. Hopefully somebody else can merge it though, because I probably won’t be in a position to do so for a while.

[2017-05-27 03:08] rhettinger commented on #74671
+1  I don't see any reason this can't be writeable.

[2017-05-27 05:02] serhiy-storchaka commented on #74661
After some investigations this idea no longer looks good to me.

The table of 256 32-bit integers will take at least 44 lines. This is too large. It is easier to check the algorithm than all these numbers. The error even in one digit can break all, but for testing we should check every element of the table. In any case we would need a generating code, either for generating the sources, or for test

[2017-05-27 05:04] #74653 closed, assigned to serhiy-storchaka

[2017-05-27 05:11] serhiy-storchaka commented on #74653
The reason of using bytes concatenating rather than accumulating in the list, is that in most cases one of arguments is an empty bytes object (appending to the empty buffer or uncompressing a file with large compression block), and this case is optimized in CPython. In mos cases there is at most one nontrivial bytes concatenation per read operation, and using b''.join() is slower in that case.

[2017-05-27 05:32] serhiy-storchaka commented on #74629
pydoc.pager() is not a public API. This is an internal function of the pydoc module. The stdlib does not have a benefit from adding this feature.

[2017-05-27 06:14] ncoghlan commented on #74671
+1 from me, as this also has potential value in testing use cases and in dealing with some of the consequences of the zero-arg super() design (i.e. it will make the injected \_\_class__ cell writable)

[2017-05-27 06:42] njsmith commented on #74676
A common problem when working with async functions is to attempt to call them but forget the 'await', which eventually leads to a 'Warning: coroutine ... was never awaited' (possibly buried in the middle of a bunch of traceback shrapnel caused by follow-on errors). This can be confusing, lead to spuriously passing tests, and generally isn't a great experience for the dev who makes the mistake. To

[2017-05-27 06:43] njsmith opened #74676 "Add a lightweight mechanism for detecting un-awaited coroutine objects"
BPO | [30491](https://bugs.python.org/issue30491)
--- | :---
Nosy | @gvanrossum, @ncoghlan, @giampaolo, @njsmith, @asvetlov, @cjerdonek, @serhiy-storchaka, @1st1, @gvanrossum, @Carreau, @ryanhiebert, @csabella, @xgid
PRs | <li>python/cpython#5279</li>
Superseder | <li>bpo-32591: Deprecate sys.set_coroutine_wrapper and replace it with more focused API(s)</li>
Files | <li>[corobench.py](https://bugs

[2017-05-27 13:12] serhiy-storchaka commented on #74583
New changeset 12d6b5d156377c0877931a03ef2439dccb2f3711 by Serhiy Storchaka in branch 'master':
bpo-30398: Add a docstring for re.error. (bpo-1647)
https://github.com/python/cpython/commit/12d6b5d156377c0877931a03ef2439dccb2f3711

[2017-05-27 13:37] serhiy-storchaka commented on #74583
New changeset b52c68a5a3f546cbbe1589f8bb3e51bfd55a6c15 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-30398: Add a docstring for re.error. (GH-1647) (bpo-1830)
https://github.com/python/cpython/commit/b52c68a5a3f546cbbe1589f8bb3e51bfd55a6c15

[2017-05-27 13:38] serhiy-storchaka commented on #74583
New changeset a815b5a100f38b883b08d39567c5557de2c19a53 by Serhiy Storchaka in branch '3.5':
[3.5] bpo-30398: Add a docstring for re.error. (GH-1647) (bpo-1831)
https://github.com/python/cpython/commit/a815b5a100f38b883b08d39567c5557de2c19a53

[2017-05-27 13:40] #74583 closed, assigned to serhiy-storchaka

[2017-05-27 14:01] serhiy-storchaka commented on #74495
New changeset a92adf8f0782a1ccdc68942767bdb357a9281b30 by Serhiy Storchaka in branch 'master':
bpo-30310: Add a test for non-ascii font family. (bpo-1567) (bpo-1832)
https://github.com/python/cpython/commit/a92adf8f0782a1ccdc68942767bdb357a9281b30

[2017-05-27 14:12] terryjreedy commented on #74616
Experiments running 3.6.1 on Windows in console:

some  text  # \\0 printed as ' ', as determined by
\# \>python -c "for c in 'some  text': print(ord(c))" printing 32 32

some

In IDLE, both print full string with actual null byte.  As a result, attempting the ord() test above generates "SyntaxError: source code string cannot contain null bytes".  Cutting the output from IDLE and pasting here (Fir

[2017-05-27 14:19] Mariatta commented on #74146
New changeset 440bc4f4b2690b99541e87bedfdb0dc4abbc0501 by Mariatta in branch '3.5':
[3.5] bpo-29960 \_random.Random corrupted on exception in setstate(). … (bpo-1288)
https://github.com/python/cpython/commit/440bc4f4b2690b99541e87bedfdb0dc4abbc0501

[2017-05-27 14:19] Mariatta commented on #74146
New changeset 1626a479e22db3d44bcd6736d571243433cb6d0e by Mariatta in branch '2.7':
[2.7] bpo-29960 \_random.Random corrupted on exception in setstate(). … (bpo-1289)
https://github.com/python/cpython/commit/1626a479e22db3d44bcd6736d571243433cb6d0e

[2017-05-27 14:20] Mariatta commented on #74146
New changeset 94d8261d1ca3f0c551d9d43a4db342d806af7a6a by Mariatta in branch '3.6':
[3.6] bpo-29960 \_random.Random corrupted on exception in setstate(). … (bpo-1287)
https://github.com/python/cpython/commit/94d8261d1ca3f0c551d9d43a4db342d806af7a6a

[2017-05-27 14:22] Mariatta commented on #74146
Thanks Bryan and Serhiy.

[2017-05-27 14:22] #74146 closed, assigned to serhiy-storchaka

[2017-05-27 14:23] Mariatta commented on #74655
New changeset f931fd1c2ad969db72460d3ab41e3d1a4a62c371 by Mariatta in branch 'master':
bpo-30470: Deprecate invalid ctypes call protection on Windows. (GH-1810)
https://github.com/python/cpython/commit/f931fd1c2ad969db72460d3ab41e3d1a4a62c371

[2017-05-27 14:31] terryjreedy commented on #74616
As near as I can tell, the patch introduces a regression.  The doc for input(prompt) says "If the prompt argument is present, it is written to standard output without a trailing newline."  The handling of the prompt is up to stdout.write and thence physical displays devices.  Python does not specify what happens with any particular character, including \\r, \\t, and astral chars.

C:\\Users\\Terry

[2017-05-27 14:58] Mariatta commented on #74655
New changeset 2ee91c8ad825079cdfc0d98f3f439f3b1c8ca471 by Mariatta in branch '3.6':
[3.6] bpo-30470: Deprecate invalid ctypes call protection on Windows. (GH-1810) (GH-1833)
https://github.com/python/cpython/commit/2ee91c8ad825079cdfc0d98f3f439f3b1c8ca471

[2017-05-27 14:59] #74655 closed, assigned to nobody

[2017-05-27 15:52] pitrou commented on #74014
Superseded by bpo-16500, which has now been resolved!

[2017-05-27 15:52] #74014 closed, assigned to nobody

[2017-05-27 16:17] 7a0e8e26-1b5e-419c-8ffc-f845eb202d0f commented on #74629
Yes even if it was built for PyDoc why cant we can extend its functionality to make it work with others too, Without breaking its current functionality...

[2017-05-27 16:45] rhettinger commented on #74629
My preference is to keep pydoc focused on its primary task.

This proposal seems like "feature creep" and the benefit is of questionable importance.

[2017-05-27 18:28] gpshead opened #74677 "'make clinic' does not work for out of tree builds / clinic.py is not in the devguide"
BPO | [30492](https://bugs.python.org/issue30492)
--- | :---
Nosy | @nascheme, @gpshead, @vstinner, @larryhastings, @zware, @iritkatriel
PRs | <li>python/cpython#1836</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2017-05-27 18:28] gpshead commented on #74677
I never do in-tree builds anymore because they make me feel dirty and leave build artifacts cluttering up my source tree.

make clinic does not work for out of tree builds.

To reproduce:

\~$ git clone ...cpython repo...
\~$ mkdir build && cd build
\~/build$ ../cpython/configure --with-pydebug
\~/build$ make clinic
./python -E ./Tools/clinic/clinic.py --make
./python: can't open file './Tools/cli

[2017-05-27 19:15] larryhastings commented on #74677
I don't know how to fix it.  "make clinic" needs to be run in-tree anyway as it's modifying the C source code in place.

Can you suggest a patch?

[2017-05-27 19:26] gpshead commented on #74677
The Makefile knows where the source tree is, I think we can make it tell clinic.py.  Let me whip something up.

[2017-05-27 19:40] #74662 closed, assigned to nobody

[2017-05-27 19:48] gpshead commented on #74677
My PR doesn't address the potential issue of needing to have done a make all before doing a make clinic.  I'll leave that for something else, there could be bootstrapping issues in that situation depending on what the developer is doing.

In that less common case, running clinic.py oneself under a stable python3 interpreter is probably advisable.

The [devguide](https://devguide.python.org) docs s

[2017-05-27 19:49] terryjreedy commented on #74476
New changeset 5a346d5dbc1f0f70eca706a8ba19f7645bf17837 by terryjreedy (csabella) in branch 'master':
bpo-30290: IDLE: Refactor help_about to PEP-8 names (bpo-1714)
https://github.com/python/cpython/commit/5a346d5dbc1f0f70eca706a8ba19f7645bf17837

[2017-05-27 19:57] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74571
Details of commit "Add Makefile targets to implement the buildbot steps" in 543a287c32a714a668e426ceb80f4add92cc5de4:

The following buildbot steps, as defined by the UnixBuild class of the master.cfg buildbot configuration file, have now their corresponding commands:
* Configure: makesetup configureFlags && make configure
* Compile:   make host
* Test:      make buildbottest
* Clean:     make hos

[2017-05-27 20:45] 86d197f9-31ae-4a9b-ab43-43217ecd18ac opened #74678 "Increase coverage of base64"
BPO | [30493](https://bugs.python.org/issue30493)
--- | :---
Nosy | @serhiy-storchaka, @leecannon, @ZackerySpytz
PRs | <li>python/cpython#1837</li><li>python/cpython#21913</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-05-27 20:45] 86d197f9-31ae-4a9b-ab43-43217ecd18ac commented on #74678
Added tests to ensure a85decode correctly handles the 'y' character within the byte like object when foldspaces is true.

While attempting to increase coverage I found two lines of code within base64.py that appear to never execute:
  - line 472
  - line 501

Line 472:
The only time the TypeError except block (line 467) executes is when \_b85dec[c] resolves to None for one of the c (characters) in

[2017-05-27 21:33] eryksun commented on #74616
The solution to raise a ValueError for the PyOS_Readline case won't change the behavior of input() in cases where the prompt is written to sys.stdout.

As to copying what print() would do, I guess it's possible to fake it for common platforms. You'd have to process the prompt string to emulate the platform behavior, which commonly means either ignoring '\\0' or replacing it with space. However, th

[2017-05-27 22:06] serhiy-storchaka commented on #74678
Please don't change the code of base64. It is correct.

1. Python is a dynamically-typed language. Arbitrary exceptions can be raised in unexpected places. For example TypeError can be raised if `b[i:i + 5]` return non-iterable object.

2. `read(n)` of unbuffered object (like sys.stdin.buffer.raw or socket) can return less than n bytes.

[2017-05-27 22:18] serhiy-storchaka commented on #73812
Does an empty metavar make sense? This makes the option with argument non-distinguising from the option without argument.

[2017-05-27 22:42] terryjreedy commented on #74476
While reviewing, I decided to draw a widget tree.  I believe it would have been easier if packs and grids were grouped.

I want to continue with 'IDLE: modernize help-about' and ditto for textview.  The help_about issue can begin with ttk conversion: change imports and remove an invalid option or two.  The textview issue can begin with the still missing docstrings.  I want to refactor both the way

[2017-05-27 23:40] gpshead commented on #74677
New changeset 178418ad6791b6ef5ba610ed93fab75fc1567ad2 by Gregory P. Smith in branch 'master':
bpo-30492: Allow make clinic to work out of tree. (bpo-1836)
https://github.com/python/cpython/commit/178418ad6791b6ef5ba610ed93fab75fc1567ad2

[2017-05-28 00:54] 9a6d145d-2b91-4a92-a94f-ab5d84c572e0 commented on #74679
1. os.makedirs(ur'\\\\?\\c:\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\测试文件夹\\

[2017-05-28 00:54] 9a6d145d-2b91-4a92-a94f-ab5d84c572e0 opened #74679 "python.exe crashed when open long path in windows 7"
BPO | [30494](https://bugs.python.org/issue30494)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @aokaywe
Files | <li>[python.png](https://bugs.python.org/file46907/python.png "Uploaded as image/png at 2017-05-28.00:54:57 by @aokaywe")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><

[2017-05-28 01:05] csabella commented on #73812
I submitted a PR for this based on paul.j3's suggested change:

[code]

I created a test that would have duplicated the original issue and, with the change, no longer prints the extra blank.

To Serhiy's point, I'm not sure if an empty metavar makes sense since it's intention is to give the parser a way to refer to the expected arguments within the help messages.

However, with no metavar at all,

[2017-05-28 01:15] csabella commented on #74476
Thanks Terry.  I've submitted a PR for the textview docstrings and PEP-8 names and I'll work on the ttk conversion and the refactoring.

[2017-05-28 01:41] eryksun commented on #74679
Your example works fine for me in Windows 10, and I see no reason why it would fail in Windows 7. The crash dialog in your screenshot shows that the problem occurred in a DLL named "winhadnt.dll". I suspect that this is malware injected into the python.exe process. Even if it's part of a legitimately installed program on your machine, this DLL has nothing to do with Python, so I'm closing this iss

[2017-05-28 01:41] #74679 closed, assigned to nobody

[2017-05-28 03:22] terryjreedy opened #74680 "IDLE: modernize textview module"
BPO | [30495](https://bugs.python.org/issue30495)
--- | :---
Nosy | @terryjreedy, @taleinat, @csabella
PRs | <li>python/cpython#1839</li><li>python/cpython#2102</li><li>python/cpython#2283</li><li>python/cpython#2496</li>
Files | <li>[textview.patch](https://bugs.python.org/file46910/textview.patch "Uploaded as text/plain at 2017-05-29.13:26:46 by @csabella")</li><li>[textview.patch](https://bugs.

[2017-05-28 03:22] terryjreedy commented on #74680
First get issue #.

[2017-05-28 04:18] terryjreedy commented on #74680
The initial patch, https://github.com/python/cpython/pull/1839, adds missing docstrings to textview and changes names to conform to PEP-8.  It was originally attached to bpo-30290. I changed the bpo # in the title to 30495.  We will see if Belvedere bot corrects the linkage.

Cheryl: I forgot to mention something very important.  When we change externally accessible names  -- those of functions, c

[2017-05-28 04:23] terryjreedy commented on #74680
Grepping shows that other references to textview objects (other than in test_textview) are to unchanged class and function names.

[2017-05-28 04:39] terryjreedy commented on #74476
[pr 1839](https://github.com/python/cpython/pull/1839) is now attached to new issue bpo-30495.  This issue is closed except for trivial bugs in the two merged PRs and backports.

[2017-05-28 04:43] terryjreedy commented on #74680
I plan to merge when checks pass.

Not reusing module names avoids noise when grepping for a module name ;-).  A final search for 'textview', match case, whole word, gave 18 hits, which were easy to check.

[2017-05-28 07:56] serhiy-storchaka commented on #74616
If stdin and stdout are attached to a terminal, input() uses the readline library (if it is available) for displaying the prompt and reading user input. This is the limitation of the readline library and Python C API that this works with null-terminated C strings. You also can't enter the null character.

UnicodeEncodingError is raised if the prompt contains characters not encodable with the stdou

[2017-05-28 10:08] csabella commented on #74680
Thanks Terry!

I had done a search in Spyder using "textView" and only found those files that I changed, but now I see what I did wrong.  If I do it within a different git branch that isn't up to update with the master, it won't show up, but if I do it in the proper branch, it does show up.  I'm learning git, so now I know to be more careful when searching.  I should grep it too, just to see how g

[2017-05-28 10:50] terryjreedy commented on #74680
New changeset 0aa0a06e8b719533aefd175a5716f1698f474052 by terryjreedy (csabella) in branch 'master':
bpo-30495: IDLE: Modernize textview.py with docstrings and PEP-8 names (bpo-1839)
https://github.com/python/cpython/commit/0aa0a06e8b719533aefd175a5716f1698f474052

[2017-05-28 11:07] pitrou commented on #74486
I think the API is too specific.  Instead of requiring hostname and port, why not let the user override setup and teardown coroutines?

In your case, this could be:

[code]

[2017-05-28 12:29] serhiy-storchaka commented on #74531
Raymond, could you please look at these patches? Both are small. What do you prefer?

[2017-05-28 12:31] serhiy-storchaka commented on #74434
New changeset ac5bbd43bc7b769c13ae0412cb28a3521f4d4ff1 by Serhiy Storchaka in branch 'master':
bpo-30248: Convert boolean arguments only once in \_json. (bpo-1423)
https://github.com/python/cpython/commit/ac5bbd43bc7b769c13ae0412cb28a3521f4d4ff1

[2017-05-28 12:32] #74434 closed, assigned to serhiy-storchaka

[2017-05-28 13:28] 4a065e0a-5a59-4cf5-9556-75a89203eea9 commented on #74681
The following code is supposed to catch and report errors encountered during the execution of a (python) script:

[code]
However, depending on the nature of the error, the traceback may contain the location of the error *within* the executed `script` file, or it may only report the above `exec(f.read(), env)` line.

The attached tarball contains both the above as well as a 'script' that exhibit th

[2017-05-28 13:28] 4a065e0a-5a59-4cf5-9556-75a89203eea9 opened #74681 "Incomplete traceback with `exec` on SyntaxError"
BPO | [30496](https://bugs.python.org/issue30496)
--- | :---
Nosy | @brettcannon, @stefanseefeld, @ncoghlan, @benjaminp, @serhiy-storchaka, @1st1
Files | <li>[pyerror.tgz](https://bugs.python.org/file46908/pyerror.tgz "Uploaded as application/x-compressed-tar at 2017-05-28.13:28:54 by @stefanseefeld")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and mig

[2017-05-28 13:34] 86d197f9-31ae-4a9b-ab43-43217ecd18ac commented on #74678
Suggested changes have been applied to the PR.

[2017-05-28 13:37] fc180991-5e5f-4aac-8b5f-1a96de7c22a7 commented on #74363
Pull Request ([PR 1649](https://github.com/python/cpython/pull/1649)) treats this as a documentation problem. I would argue that the documentation is correct and this is a bug in the code.

The `strict` flag was added as a result of bpo-19717. The decision on what to do when strict=False seems to come in https://mail.python.org/pipermail/python-ideas/2016-September/042203.html where Guido says:

"

[2017-05-28 18:44] 9dec4eb7-1792-4e7b-8468-c98eadefd1e3 opened #74682 "Line number of docstring in AST"
BPO | [30497](https://bugs.python.org/issue30497)
--- | :---
Nosy | @vstinner, @methane, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-28 18:44] 9dec4eb7-1792-4e7b-8468-c98eadefd1e3 commented on #74682
Since bpo-29463, it is no longer obvious how to get the line number of a docstring in the AST:

[code]

We use this feature in pyflakes (https://github.com/PyCQA/pyflakes/issues/271).

[2017-05-28 19:14] bitdancer commented on #73812
If I'm interpreted what the OP wrote correctly, he wanted the help text to not show that the option takes an argument, but instead rely on the help text to show that.  That works for the option text, but it doesn't work for the synopsis (the synopsis is just wrong in that case).

Probably a blank metavar should just be rejected because of the issue with they synopsis.  That should only be done in

[2017-05-28 19:41] brettcannon commented on #74683
If we guaranteed that the slowest tests in the test suite started early enough in the test run to complete before the final test finished, we could shave off several minutes worth of time in cases where the slowest tests are the hold-up. So perhaps if we randomly inserted the 10 slowest tests in the first 3/4 of the complete test list we could make sure they finish early enough?

[2017-05-28 19:41] brettcannon opened #74683 "Run Python's slowest tests in the first 3/4 of tests when using -r"
BPO | [30498](https://bugs.python.org/issue30498)
--- | :---
Nosy | @brettcannon, @terryjreedy, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-28 20:00] terryjreedy commented on #74680
What I have learned:
1. As with hg, the local master should be updated at least at the beginning of each work session, and python.exe rebuilt.
2. Patches to master should be developed with all 'other' files updated.  For completely new branches, this is automatic.  Branches created from PRs start out of sync and should be updated.

One can often, perhaps even 'usually', get away with not doing the

[2017-05-28 20:20] brettcannon commented on #74683
One way to control this would allow `-r` to take an optional `fast` argument to do this selective shuffle of the slowest tests, i.e. `-r fast` would still randomize but control for the slowest tests showing up in the first 75% of tests.

[2017-05-28 20:29] terryjreedy commented on #74680
I believe you said elsewhere that you would like to try the refactoring that splits a window+frame class into a window class and a frame class. It would be great if you became good at doing this.

If the current class name is used externally, I might consider reusing it for the window class.  But since the external interface for textview is the two wrapper functions, 'TextView' is not used externa

[2017-05-28 21:30] JulienPalard opened #74684 "Deprecated note in set documentation"
BPO | [30499](https://bugs.python.org/issue30499)
--- | :---
Nosy | @rhettinger, @JulienPalard, @Mariatta
PRs | <li>python/cpython#1848</li><li>python/cpython#1905</li><li>python/cpython#1906</li><li>python/cpython#1907</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summ

[2017-05-28 21:30] JulienPalard commented on #74684
While translating doc to french, I found a surprising comment in stdtypes.html about sets, stating:

So I searched the equivalent in the code, at least to help me understand it to translate it in a proper way, but found it has been deleted in 51ced7afe72d861b46f069d757f2787f13253d32.

This commit is in branches 2.7 and 3.1 to 3.6 (and master).

[2017-05-28 23:25] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73812
I don't anticipate  any backward compatibility issues with the proposed patch.  But at the same time it feels almost too trivial of an issue to merit a patch.

A short metavar such as `metavar="ID"' or even `metavar="_"' would be nearly as compact, and still leave an indicator of the required argument (in usage as well as the help).

I'm not even sure if disallowing a blank metavar is worth the ch

[2017-05-28 23:44] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73856
http://bugs.python.org/issue26394
Have argparse provide ability to require a fallback value be present

is a related issue - getting 'required' values from a config file.

[2017-05-29 00:47] warsaw commented on #74486
Hi Antoine,

On May 28, 2017, at 11:07 AM, Antoine Pitrou wrote:

Can you elaborate?  What's too specific about it?  Do you have in mind a use
case where you wouldn't need to provide hostname and port?

It's certainly possible to factor those out so they could be overridden, I'm
just not sure why that's needed.

[2017-05-29 04:04] 820c5ac2-8b76-4ff7-a427-fc2f17c12735 opened #74685 "[security] urllib connects to a wrong host"
BPO | [30500](https://bugs.python.org/issue30500)
--- | :---
Nosy | @vstinner, @larryhastings, @ned-deily, @vadmium, @postmasters, @serhiy-storchaka
PRs | <li>python/cpython#1849</li><li>python/cpython#1850</li><li>python/cpython#2289</li><li>python/cpython#2290</li><li>python/cpython#2291</li><li>python/cpython#2292</li><li>python/cpython#2293</li><li>python/cpython#2295</li><li>python/cpython#22

[2017-05-29 04:04] 820c5ac2-8b76-4ff7-a427-fc2f17c12735 commented on #74685
Reported by Orange Tsai:

\==========
Hi, Python Security Team

[code]

I have tested on the latest version of Python 2.7.13.
\==========

[2017-05-29 05:06] vadmium commented on #74685
See also bpo-18140, where it looks like people \_want_ the hash (#) to be part of the username and/or password.

Another option may be to raise an exception.

[2017-05-29 06:33] serhiy-storchaka commented on #74682
It is not possible anymore. Why you need the line number of a docstring?

The closest approximation is between node.lineno and node.body[0].lineno (if node.body is not empty).

[2017-05-29 06:58] serhiy-storchaka opened #74686 "Produce optimized code for boolean conditions"
BPO | [30501](https://bugs.python.org/issue30501)
--- | :---
Nosy | @brettcannon, @rhettinger, @ncoghlan, @pitrou, @benjaminp, @serhiy-storchaka, @1st1, @emilyemorehouse
PRs | <li>python/cpython#1851</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fiel

[2017-05-29 06:58] serhiy-storchaka commented on #74686
The peephole optimizer optimizes some boolean conditions. For example in "if not a:" it replaces UNARY_NOT+POP_JUMP_IF_FALSE with POP_JUMP_IF_TRUE, and in "if a and b:" it makes checking the boolean value of a only once. But it is unable to optimize more complex conditions, like "if not a and b:".

Proposed patch makes the compiler producing optimized code for conditions. It supports expressions w

[2017-05-29 07:07] pitrou commented on #74486
Any use case where setup is more elaborate than calling create_server(...).  For example I might write a UDP server.  Or a distributed system that listens to several ports at once, or launches a thread pool. etc.

[2017-05-29 07:19] tiran commented on #74687
Frawser Tweedle from Red Hat's identity management team found an issue in PyCA cryptography's handling of buffers for OpenSSL OBJ_obj2txt(). Cryptography fails to handle long OIDs as used by Active Directory.

https://github.com/pyca/cryptography/pull/3612/
https://bugzilla.redhat.com/show_bug.cgi?id=1455755

CPython's ssl module doesn't handle buffer allocation for OBJ_obj2txt() correctly, too. A

[2017-05-29 07:19] tiran opened #74687 "Fix buffer handling of OBJ_obj2txt"
BPO | [30502](https://bugs.python.org/issue30502)
--- | :---
Nosy | @tiran, @serhiy-storchaka
PRs | <li>python/cpython#1852</li><li>python/cpython#2909</li><li>python/cpython#3321</li><li>python/cpython#3322</li>
Files | <li>[issue30502-simpler.diff](https://bugs.python.org/file46909/issue30502-simpler.diff "Uploaded as text/plain at 2017-05-29.12:12:06 by @serhiy-storchaka")</li>

<sup>*Note: the

[2017-05-29 07:19] serhiy-storchaka commented on #74686
Some examples.

[code]

Unpatched:
  1           0 LOAD_NAME                0 (a)
              2 UNARY_NOT
              4 POP_JUMP_IF_FALSE       14
              6 LOAD_NAME                1 (b)
              8 POP_JUMP_IF_FALSE       14
             10 LOAD_NAME                2 (x)
             12 POP_TOP
        \>\>   14 LOAD_CONST               0 (None)
             16 RETURN_VALUE

Patche

[2017-05-29 07:43] serhiy-storchaka commented on #74686
It would be hard to get the same optimization in the peepholer.

For the first example, "if not a and b:", it is easy, just replace UNARY_NOT+POP_JUMP_IF_FALSE with POP_JUMP_IF_TRUE. The more complex third example, "if not (a and b) and c:", would need multiple passes (and more complex examples can need more passes, having the quadratic complexity in corner cases). The second example, with chained

[2017-05-29 08:22] 0b49082b-e6a8-432f-b942-f90d37c76a25 commented on #74688
I have the following folder structure:

.
├── aaa
│   ├── bbb
│   │   ├── ccc.py
│   │   └── \_\_init__.py
│   ├── bbb.py
│   └── \_\_init__.py
├── \_\_init__.py
└── t.py

./t.py:

[code]

./aaa/bbb.py:

[code]

however, when I run the main script:

[code]

The reason is that there is also a package with name 'aaa.bbb' (i.e. file "./aaa/bbb/__init__.py") and python will see this package before it

[2017-05-29 08:22] 0b49082b-e6a8-432f-b942-f90d37c76a25 opened #74688 "It should be possible to use a module name with the same name as a package name"
BPO | [30503](https://bugs.python.org/issue30503)
--- | :---
Nosy | @warsaw, @brettcannon, @ncoghlan, @stevendaprano, @ericsnowcurrently, @hakonhagland

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></det

[2017-05-29 08:59] pitrou commented on #74689
It would be useful to be able to inspect the buffering attribute of buffered and text I/O objects, especially for debugging.

I would expect e.g.:

[code]

[2017-05-29 08:59] pitrou opened #74689 "Allow inspecting buffering attribute of IO objects"
BPO | [30504](https://bugs.python.org/issue30504)
--- | :---
Nosy | @pitrou, @benjaminp, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-29 09:05] serhiy-storchaka commented on #74687
Can the common code of \_create_tuple_for_attribute() and asn1obj2py() be shared?

[2017-05-29 09:13] serhiy-storchaka commented on #74689
[code]

For buffered streams I would expect the attribute named "buffer_size", conforming to the name of the parameter of the constructor.

[2017-05-29 09:16] 9f01f580-b4ce-4d1f-abe1-d912929eed29 commented on #74690
In 3.6.0, invocation of isinstance calls typing.\_ProtocolMeta.\_get_protocol_attrs.
This creates a set of all attributes in all base classes, loops on these attributes to check they exist, and discards the set. It is very slow.

My program uses isinstance to allow for flexibility in parameter types in certain key functions. I realize that using isinstance is frowned upon, but it seems to make sen

[2017-05-29 09:16] 9f01f580-b4ce-4d1f-abe1-d912929eed29 opened #74690 "Performance of typing._ProtocolMeta._get_protocol_attrs and isinstance"
BPO | [30505](https://bugs.python.org/issue30505)
--- | :---
Nosy | @ilevkivskyi, @orenbenkiki

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-103141
* gh-103152
* gh-103159

[2017-05-29 09:46] tiran commented on #74687
IMO it doesn't make sense to share a couple of lines of code. It makes the code even harder to read.

[2017-05-29 10:32] vstinner commented on #74682
AST is not designed to be 1-to-1 .py source to AST mapping. If you need the exact line number, you might use your own parser. I don't know what is using pylint for example? There is also https://github.com/PyCQA/redbaron which provides such 1-to-1 mapping but it has a different API than AST.

Sadly, I suggest to close this issue as WONTFIX.

[2017-05-29 11:03] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74691 "Replace 'list' with 'array' in array.remove and array.index"
BPO | [30506](https://bugs.python.org/issue30506)
--- | :---
Nosy | @rhettinger, @DimitrisJim
PRs | <li>python/cpython#1853</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-29 11:03] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74691
Changes the error message for array.remove and array.index to say 'array.\<meth_name\>(x): x not in array' instead of 'array.\<meth_name\>(x): x not in list'.

This is a splinter issue of bpo-13349.

[2017-05-29 12:12] serhiy-storchaka commented on #74687
Your PR LGTM. But I think the code can be much simpler.

Here is a patch that shares common code and applies other simplifications to surrounded code. [PR 1852](https://github.com/python/cpython/pull/1852) increases the total number of lines by 37 lines, bpo-30502-simpler.diff -- only by 3 lines.

[PR 1852](https://github.com/python/cpython/pull/1852): 1 file changed, 49 insertions(+), 12 deletion

[2017-05-29 12:18] 4a065e0a-5a59-4cf5-9556-75a89203eea9 commented on #74681
Some further experiements:

Replacing the `exec(f.read(), env)` line by
[code]
exhibits the same behaviour. If I remove the `try...except`, the correct
(full) traceback is printed out. So it looks like the issue is with the traceback propagation through exception handlers when the error happens during parsing.

[2017-05-29 12:26] vsajip commented on #74538
Patch LGTM now, perhaps others will concur?

[2017-05-29 13:00] pitrou commented on #74686
Any high-level benchmarks (i.e. other than pybench and similar programs) impacted by this?

[2017-05-29 13:24] 820c5ac2-8b76-4ff7-a427-fc2f17c12735 commented on #74685
I think the best behavior is to do what popular web browsers do. Chrome and Firefox, for example, parses this is host 127.0.0.1, path /, fragment #@evil.com.

If the code does want to support username/password, it should do a custom opener (with basic HTTP authentication) instead.

[2017-05-29 13:26] csabella commented on #74680
I've attached a patch for textview for your review.  Thanks for suggesting that.  I still need to work on test_textview.

Some comments/questions:
1.  I've made the Frame classes as you suggested.  I had also made a class for TextviewText (as help.py has), but it only had an \_\_init__, so I removed it.
2.  I converted some of the tkinter imports to ttk.  Text didn't have a direct replacement, so

[2017-05-29 14:37] 06bbce58-3120-46b9-873e-214d43e32c00 commented on #74402
There's a patch for xdrlib documentation in bpo-9544. Would that solve this issue?

[2017-05-29 14:49] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74692
Another splinter issue from bpo-13349. Currently, Element reports it's a list when remove is called on it:

[code]

    ValueError: list.remove(x): x not in list

From what I understand, this was done in order for it to conform with the error reporting performed from the pure python implementation of Element. (side note: These also differ regarding the type of value supplied to .remove, the C impl

[2017-05-29 14:49] b78688f9-6435-4192-9fe9-2f86f7e61fcf opened #74692 "Elements reports it is a list on Element.remove"
BPO | [30507](https://bugs.python.org/issue30507)
--- | :---
Nosy | @rhettinger, @scoder, @DimitrisJim

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-29 15:23] warsaw commented on #74486
On May 29, 2017, at 07:07 AM, Antoine Pitrou wrote:

Thanks, those are nice motivational examples.

[2017-05-29 15:25] 4a065e0a-5a59-4cf5-9556-75a89203eea9 commented on #74681
Answering my own question:

It appears I can get the location of a syntax error by inspecting the
raised `SyntaxError`, which solves my specific use-case.
The bug remains, though: The traceback is incomplete if it stems from a syntax error.

[2017-05-29 16:18] #74402 closed, assigned to nobody

[2017-05-29 16:20] serhiy-storchaka commented on #74402
Partially. Thank you for pointing on the predecessor Jan.

[2017-05-29 16:37] rhettinger commented on #74692
Sorry, I think this is an invented issue and not a actual problem.  ElementTree has been in the wild for a very long time.  AFAICT, no user has ever had an actual issue with this error message.  I've taught ElementTree (specifically including this method) at least one per month over six years and have never seen the slightest issue with these error messages (in PyPy, the actual ElementTree.py is u

[2017-05-29 17:41] serhiy-storchaka commented on #74682
Even if the line number of a docstring is known, it is not easy to determine the line number corresponding to the particular line in a docstring if it contains backslashes following by newline.

'''foo
bar
'''

and

'''\\
foo
bar
'''

are equal strings, but the lines 'bar' have different offsets from the start of the strings.

The only robust method was parsing the source code starting from the st

[2017-05-29 17:41] #74682 closed, assigned to nobody

[2017-05-29 17:44] #74691 closed, assigned to nobody

[2017-05-29 17:56] serhiy-storchaka commented on #74681
The traceback contain the location of the code that raised an exception when executed. In case of NameError this is a line in your script "x=u". In case of SyntaxError the code that failed is not in your script (it still is not executed), but in a compiler implicitly called by exec(). The line with exec() is correctly reported.

The behavior looks correct to me.

[2017-05-29 17:59] 9dec4eb7-1792-4e7b-8468-c98eadefd1e3 commented on #74682
I think what you guys have brought up makes sense.

Now that you mention it, I see that pyflakes gives the wrong line number if an escaped newline appears after the doctests. Though, it works fine if the escaped newline appears before it.

https://github.com/PyCQA/pyflakes/blob/1af4f14ad4675bf5c61c47bbb7c2421b50d1cba4/pyflakes/checker.py#L842

This is a non-default feature in pyflakes anyway, so w

[2017-05-29 18:46] 4a065e0a-5a59-4cf5-9556-75a89203eea9 commented on #74681
OK, fair enough, that makes sense. As I said, in my last message, I was mainly simply trying to figure out the exact location of the error in the executed script, which I got from inspecting the SyntaxError.
So if all of this is expected behaviour, I think we can close this issue.

Many thanks for following up.

[2017-05-29 18:46] #74681 closed, assigned to nobody

[2017-05-29 21:04] rhettinger commented on #74686
Will this negatively impact code coverage reporting or code tracing (by optimizing across basic blocks)?

[2017-05-29 21:16] rhettinger commented on #74686
The improved code does look better.  I'm +1 on this proposal as long as we're sure it doesn't introduce any new problems.

[2017-05-29 21:26] terryjreedy commented on #74546
New changeset e405d4b8dfb8b497e1c3d1f0f8e28030040c165e by terryjreedy (gfyoung) in branch 'master':
bpo-30361: Use better example for mixed-type operands (bpo-1701)
https://github.com/python/cpython/commit/e405d4b8dfb8b497e1c3d1f0f8e28030040c165e

[2017-05-29 21:37] Mariatta commented on #74546
Thanks for merging the PR, Terry.

Now it needs backport :)

[2017-05-29 21:41] terryjreedy commented on #74546
Go ahead.  I don't care much either way.

[2017-05-29 22:19] terryjreedy commented on #74546
New changeset d52f47a8f7794ee09151973a00d29c8612672e7a by terryjreedy (Mariatta) in branch '3.6':
[3.6] bpo-30361: Use better example for mixed-type operands (GH-1701) (bpo-1856)
https://github.com/python/cpython/commit/d52f47a8f7794ee09151973a00d29c8612672e7a

[2017-05-29 22:20] terryjreedy commented on #74546
New changeset 03c7cfcd52be702957cc174f5cb2ce4c8be8bfca by terryjreedy (Mariatta) in branch '3.5':
[3.5] bpo-30361: Use better example for mixed-type operands (GH-1701) (bpo-1857)
https://github.com/python/cpython/commit/03c7cfcd52be702957cc174f5cb2ce4c8be8bfca

[2017-05-29 22:23] terryjreedy commented on #74546
Just curious, what sprint?

[2017-05-29 22:23] #74546 closed, assigned to Mariatta

[2017-05-29 22:25] Mariatta commented on #74546
Sorry, I don't know whether this was a sprint project or not.]
Saw that the original PR has sprint label on it, I merely copied them over to the backport PRs.

Thanks.

[2017-05-29 22:37] rhettinger commented on #74531
I've looked at the patches but am still thinking about what I prefer before committing to a re-design.  Please give it a little time.  There is zero urgency here (nothing is broken, no user complaints, etc).   I have a bunch of other stuff on my plate for a little while and this isn't the top priority.  I had asked to hold off on PRs until a decision is made and not rush into coding (which is usua

[2017-05-29 22:50] JelleZijlstra commented on #74669
I could reproduce this on 3.4, but not on 3.3, 2.7, or master.

[2017-05-29 23:42] 1st1 commented on #74486
I'm not sure we want this to be in asyncio: it's a very high-level object somewhere in between the low-level and the application level.  Some things off the top of my head that users will want from this API:

- detailed logging or hooks to implement it
- hooks on thread start / stop
- coroutines to run before starting the server
- coroutines to run before stopping the loop
- custom undhandled exce

[2017-05-30 00:32] stevendaprano commented on #74688
This is just module shadowing in action. If you have two or more modules, or packages, in the module search path, the first one found will block access to the others.

\*shrug* It is what it is.

Often it is inconvenient. Occasionally it is useful. It is the same way nearly all other languages with a library search path works: the compiler searches for a library until it finds a match, then stops.

[2017-05-30 00:38] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73856
http://bugs.python.org/issue27859
argparse - subparsers does not retain namespace

may complicate this issue.  Due to changes in http://bugs.python.org/issue9351, a user defined namespace is not passed to the subparsers.  They get a fresh namespace, which is then copied onto the main namespace.

[2017-05-30 00:41] terryjreedy commented on #74680
Responses (without yet testing the code):

1. Generally, the only new subclass needed is for the master frame.  Existing Toplevel derivatives may have a single frame in the toplevel, which should become an instance of a new subclass, in this case TextviewFrame.  Some Toplevels contain multiple widgets, which will need to be moved into a new master frame.  The idea is that a single master frame can

[2017-05-30 02:07] gpshead commented on #73952
New changeset 1f29cefc87c4c2ee629367ebe97a287d8e0b3e29 by Gregory P. Smith (Hanno Schlichting) in branch '2.7':
bpo-29766: Do not force --with-lto to true for --enable-optimizations (bpo-1858)
https://github.com/python/cpython/commit/1f29cefc87c4c2ee629367ebe97a287d8e0b3e29

[2017-05-30 02:08] gpshead commented on #73952
indeed, my mistake in the original backport.  thanks!

[2017-05-30 02:14] 35afb67f-c593-48f4-8239-6dce86747d79 commented on #74693
I am seeing a strange issue that occurs when a task that is awaiting an asyncio.wait_for() is cancelled. I created a simple example that I think demonstrates the issue, even though it isn't exactly how it manifests on my application.

When I run the attached script never-retrieved.py I get the following error:

[code]

You can see in the script that the future was cancelled, but the cancel() call

[2017-05-30 02:14] 35afb67f-c593-48f4-8239-6dce86747d79 opened #74693 ""Task exception was never retrieved" reported for a canceled task"
BPO | [30508](https://bugs.python.org/issue30508)
--- | :---
Nosy | @ned-deily, @1st1
PRs | <li>python/cpython#2050</li><li>python/cpython#2109</li><li>python/cpython#2110</li>
Files | <li>[never-retrieved.py](https://bugs.python.org/file46911/never-retrieved.py "Uploaded as text/plain at 2017-05-30.02:14:05 by Miguel Grinberg")</li>

<sup>*Note: these values reflect the state of the issue at the

[2017-05-30 02:15] 1st1 commented on #74693
Yes, this is a known problem to me, thank you for creating the issue. Will work on a fix soon.

[2017-05-30 04:36] vadmium commented on #73782
Currently for the “buffer” destination, it says

Suppress . . ., write . . . to ``block``, and write everything else to ``file``.

Would it be more correct to change “file“ to “buffer”? I.e.

Suppress . . ., write . . . to ``block``, and write everything else to ``buffer``.

[2017-05-30 04:41] af85c4fb-6486-4ca5-a4e1-9da92e20c13c commented on #74631
Thank you Steve and Zachary.  The context you provided helped me track it down, so I have marked this closed.  In case it benefits anyone in future as well, I ran into a subsequent topic where the C++ app was compiled in debug and hence the actual file being looked for was \_socket_d.pyd which is not in the embedded distributable of course.

Thanks again for taking the time to provide your insight

[2017-05-30 04:41] #74631 closed, assigned to nobody

[2017-05-30 05:56] serhiy-storchaka commented on #74694
In excellent Peter Cawley's article "Why are slots so slow?" [1] analysed causes why `a + b` is slower than `a.__add__(b)` for custom __add__ and provided suggestions for optimizing type slot calls. `a + b` and `a.__add__(b)` execute the same user code, `a + b` should have smaller overhead of bytecode interpreting, but it was 2 times slower than  `a.__add__(b)`. In the article `a + b` has been mad

[2017-05-30 05:56] serhiy-storchaka opened #74694 "Optimize calling type slots"
BPO | [30509](https://bugs.python.org/issue30509)
--- | :---
Nosy | @terryjreedy, @pitrou, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#1861</li><li>python/cpython#1883</li>
Files | <li>[type-slot-calls.diff](https://bugs.python.org/file46913/type-slot-calls.diff "Uploaded as text/plain at 2017-05-30.07:08:02 by @serhiy-storchaka")</li>

<sup>*Note: these values reflect the state of the i

[2017-05-30 06:02] serhiy-storchaka commented on #74694
Despite the fact that `a + b` still is slower than `a.__add__(b)` in 3.7, it is more than 2 times faster than in 2.7 and 3.5.

[2017-05-30 07:02] 4b81ed38-3a92-4ff8-bb01-bf00ebdaf501 commented on #74669
Hi Jelle,

I think you're right about master; it looks like this very recent change:

https://github.com/python/cpython/pull/1657

could have fixed the issue, but I didn't find it whilst doing my original investigation of the issue on our side.

[2017-05-30 07:06] serhiy-storchaka commented on #74694
I have other patch that makes `a + b` yet tens percents faster, faster than `a.__add__(b)`, by adding functions and declarations that are never used. Confusing.

[2017-05-30 07:25] serhiy-storchaka commented on #74686
Sorry, I don't have any data. Currently I'm not able to run large benchmarks. I would be surprised if this increases the performance of a macrobenchmark even by 1%. But this change is a step in the direction of getting rid from the peephole optimizer.

I can't imagine the case. The compiler doesn't generate separate line numbers neither for JUMP instructions, nor for auxilary stack manipulating in

[2017-05-30 07:47] serhiy-storchaka commented on #74669
3.4 is open only for security fixes. Can this crash be considered a security issue? In that case I can backport the bpo-27945 patch to 3.4.

[2017-05-30 10:35] 6760e572-2d47-4a66-b47d-0ea63556e093 opened #74695 "c_bool type not supported for BigEndianStructure on little-endian machine"
BPO | [30510](https://bugs.python.org/issue30510)
--- | :---
Nosy | @terryjreedy, @iritkatriel
Files | <li>[c_bool_bug.py](https://bugs.python.org/file46926/c_bool_bug.py "Uploaded as text/plain at 2017-06-06.07:15:42 by Hassan El Karouni"): example of bug</li><li>[__init__.py](https://bugs.python.org/file46927/__init__.py "Uploaded as text/plain at 2017-06-06.07:16:51 by Hassan El Karouni"): patc

[2017-05-30 10:35] 6760e572-2d47-4a66-b47d-0ea63556e093 commented on #74695
When trying to create a BigEndianStructure containing a c_bool field (on a windows machine), i get the following traceback:

  File "/home/elkarouh/anaconda2/lib/python2.7/ctypes/_endian.py", line 24, in \_other_endian
    raise TypeError("This type does not support other endian: %s" % typ)
TypeError: This type does not support other endian: \<class 'ctypes.c_bool'\>

I fixed the problem by patchi

[2017-05-30 10:49] ncoghlan commented on #74688
As Steven notes, packages are simply modules that reserve the right to contain other submodules

As a result, Python considers "aaa.py", "aaa.pyc", "aaa.\<C_extension_suffix\>", "aaa/__init__.py", and "aaa/__init__.pyc" all to be candidate filesystem mappings for a module named "aaa", and once it finds one of them, it will ignore the others (the "module shadowing" Steven mentions).

The last time

[2017-05-30 10:49] #74688 closed, assigned to nobody

[2017-05-30 11:01] vstinner commented on #74694
It seems like you are a victim of the "deadcode" issue related to code locality:
https://haypo.github.io/journey-to-stable-benchmark-deadcode.html

To run microbenchmarks on such very tiny functions taken less than 200 ns, it's more reliable to compile Python using LTO+PGO.

[2017-05-30 11:05] vstinner commented on #74694
type-slot-calls.diff: Can you please create a pull request?

Hum, can you please post a microbenchmark results to see the effect of the patch?

The article has two main points:

* the calling convention of the Python C API requires to create a tuple, and that's expensive
* "a + b" has a complex semantics which requires to check for \_\_radd__, check for issubclass(), etc.

Yeah, it seems like the

[2017-05-30 12:54] encukou commented on #74588
This is now waiting to be added to the PEPs repo: https://github.com/python/peps/pull/266

[2017-05-30 13:02] serhiy-storchaka commented on #74640
[PR 1860](https://github.com/python/cpython/pull/1860) makes following files be generated from token.py:

* [Include/token.h](https://github.com/python/cpython/blob/main/Include/token.h)
* [Parser/token.c](https://github.com/python/cpython/blob/main/Parser/token.c). New file containing the array of token names \_PyParser_TokenNames, and functions PyToken_OneChar(), PyToken_TwoChars(), PyToken_Thre

[2017-05-30 13:14] 6ff72e7e-4aad-4e79-be1d-06a37c934121 commented on #74640
I think this covers all the changes from PR bpo-1608. Looks a lot nicer too, building it every time from the make file.

You may want to add to the docs that token.py is now the source of the tokens.

[2017-05-30 13:46] 030a70bd-87f0-44f1-bce5-e413ed5608b3 opened #74696 "shutil.make_archive should not need to chdir (alternatively: make shutil.make_archive thread-safe)"
BPO | [30511](https://bugs.python.org/issue30511)
--- | :---
Nosy | @tarekziade, @ambv, @serhiy-storchaka, @miss-islington, @michael-o, @FFY00, @akulakov
PRs | <li>python/cpython#26933</li><li>python/cpython#27274</li><li>python/cpython#27275</li><li>python/cpython#27276</li><li>python/cpython#28271</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might

[2017-05-30 13:46] 030a70bd-87f0-44f1-bce5-e413ed5608b3 commented on #74696
Currently shutil.make_archive uses os.chdir, however there's no need for that. Everything that's done could be equally accomplished with path manipulation:

https://github.com/python/cpython/blob/master/Lib/shutil.py#L773-L779

We should switch to using path manipulation in order to make shutil.make_archive thread safe.

(Flag: This is probably a good bug for someone with Python skills interested

[2017-05-30 14:00] serhiy-storchaka commented on #74694
I provided just a patch because I expected that you perhaps will want to play with it and propose alternative patch. It is simpler to compare patches with Rietveld than on GitHub. But if you prefer, I'll make a PR.

[code]

It also makes other optimizations, like avoiding using varargs and creating immediate method object. All this already is applied as side effects of your changes.

* "a + b" has

[2017-05-30 14:13] serhiy-storchaka commented on #74696
Unfortunately this is not possible. The signature of functions registered with register_archive_format() doesn't support this.

[2017-05-30 14:13] 030a70bd-87f0-44f1-bce5-e413ed5608b3 commented on #74696
None of those functions are a public API, so changing them shouldn't be a problem IMO.

[2017-05-30 14:14] 030a70bd-87f0-44f1-bce5-e413ed5608b3 commented on #74696
Ugh, except via |register_archive_format|. |register_archive_format| could wrap callables passed to it to maintain the current behavior.

[2017-05-30 14:29] vstinner commented on #74694
It seems like Rietveld is broken: there is no [Review] button on your patch. I wouldn't be suprised that it's broken since CPython migrated to Git.

[2017-05-30 14:37] vstinner commented on #74694
The PR makes different changes:

* replace lookup_method() with lookup_maybe_method()
* specialize call_xxx() functions for a fixed number of parameters
* rename lookup_maybe() to \_PyObject_LookupSpecial()

If possible, I would prefer to not have to duplicate functions for 0, 1 and 2 parameters (3 variants). I would like to know which changes are responsible for the speedup.

To ease the review,

[2017-05-30 14:50] 990e9fa1-52f3-43b0-a5ea-6804358c2ff1 commented on #74697
NetBSD recently got support for CAN. The existing Linux support for CAN partially detects this, but then fails to build. The attached patch against 3.6.1 (from Manuel Bouyer \<bouyer@NetBSD.org\>) fixes this problem and adds proper NetBSD support for CAN sockets.

[2017-05-30 14:50] 990e9fa1-52f3-43b0-a5ea-6804358c2ff1 opened #74697 "CAN Socket support for NetBSD"
BPO | [30512](https://bugs.python.org/issue30512)
--- | :---
Nosy | @0-wiz-0, @serhiy-storchaka
PRs | <li>python/cpython#30066</li>
Dependencies | <li>bpo-31927: Fix compiling the socket module on NetBSD 8 and other issues</li>
Files | <li>[can.diff](https://bugs.python.org/file46915/can.diff "Uploaded as text/plain at 2017-05-30.14:50:41 by @0-wiz-0"): Patch adding NetBSD CAN sockets support.</li

[2017-05-30 15:58] 14aa53f3-3e38-48a5-80df-1ac899a20edc commented on #74578
Output of `./python3 -m unittest -v test.test_readline`:

testHistoryUpdates (test.test_readline.TestHistoryManipulation) ... ok
test_nonascii_history (test.test_readline.TestHistoryManipulation) ... ok
test_write_read_append (test.test_readline.TestHistoryManipulation) ... ok
test_auto_history_disabled (test.test_readline.TestReadline) ...

I then found by commenting-out tests that it hangs if an

[2017-05-30 16:56] warsaw commented on #74486
On May 29, 2017, at 11:42 PM, Yury Selivanov wrote:

There's also value in doing one simple thing that adds convenience for users.
I don't personally have any interest in building something as elaborate as the
above, but I've used the simple idea here several times in different projects.

[2017-05-30 17:01] 8d330395-585a-4724-9ff6-e8027e2dd7d5 opened #74698 "getrusage returns platform-dependent value"
BPO | [30513](https://bugs.python.org/issue30513)
--- | :---
Nosy | @sam-s

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-30 17:01] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #74698
`resource.getrusage(resource.RUSAGE_SELF).ru_maxrss` returns the peak memory usage, in *bytes* on BSD (including Mac OS X) and in *kilobytes* on Linux.

This means that to get a cross-platform value, the user has to check `sys.platform`, which is fairly inconvenient.

It would seem like a good idea to return a platform-independent value (e.g., multiply the Linux return value by 1000 - or is it 102

[2017-05-30 17:16] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #74698
Experiment shows that the Linux multiplier is 1024 (not 1000).

[2017-05-30 17:24] 6dc2ace7-63c1-4dd4-a1e8-050515409c65 opened #74699 "test_poplib replace asyncore"
BPO | [30514](https://bugs.python.org/issue30514)
--- | :---
Nosy | @vstinner, @grzgrzgrz3
PRs | <li>python/cpython#1864</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-30 17:24] 6dc2ace7-63c1-4dd4-a1e8-050515409c65 commented on #74699
sub-issue of bpo-28533

[2017-05-30 17:26] 8d330395-585a-4724-9ff6-e8027e2dd7d5 opened #74700 "unittest: assertAlmostEqual rounding error"
BPO | [30515](https://bugs.python.org/issue30515)
--- | :---
Nosy | @mdickinson, @sam-s

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-30 17:26] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #74700
I get this `unittest` failure:

[code]

This seems incorrect: 1.1036640046288428 rounded off to 2 places is 1.10 and so is 1.0986122886681098.

E.g., in Lisp:

[code]

[2017-05-30 18:29] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74571
Details of commit "Update the native interpreter build on Setup.dist and version changes." in 408c05d44c6310b4a2f0659333560eca6071c8a5:

Native interpreter build:
* Copy Setup.dist to Setup when Setup.dist has been changed.
* Run 'make distclean' upon a Python version change.
Also remove the [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) entry until the final commit to avoid me

[2017-05-30 18:46] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74571
I don't intend to change the current code in [PR 1629](https://github.com/python/cpython/pull/1629) until there is a review or comments asking for changes. Ned Deily has self-requested a review, reviews from other people are also welcome.

[2017-05-30 19:50] mdickinson commented on #74700
The `assertAlmostEqual` comparison looks at the difference between the two values, and rounds that to 2 decimal places. In this case, the difference is approximately 0.00505, which rounded to 2 decimal places is 0.01.

If instead each of the two values were rounded and the rounded values compared, you'd end up in a situation where (for example) `self.assertEqual(1.144999999, 1.145000001, places=2)

[2017-05-30 19:53] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #74700
you are right, sorry.

[2017-05-30 19:53] #74700 closed, assigned to nobody

[2017-05-30 20:47] Mariatta commented on #74539
New changeset 75ea91bb736f2a061a3ebc689ff17629bdc15568 by Mariatta (csabella) in branch '3.5':
bpo-30354: Update data model documentation for super() (GH-1561) (GH-1869)
https://github.com/python/cpython/commit/75ea91bb736f2a061a3ebc689ff17629bdc15568

[2017-05-30 20:48] Mariatta commented on #74539
New changeset ad13d54646d189cea8e6f7a9bc4a87e20df33ac4 by Mariatta (csabella) in branch '3.6':
bpo-30354: Update data model documentation for super() (GH-1561) (GH-1868)
https://github.com/python/cpython/commit/ad13d54646d189cea8e6f7a9bc4a87e20df33ac4

[2017-05-30 20:49] Mariatta commented on #74539
Thanks for the PR and the backports, Cheryl :)

[2017-05-30 20:49] #74539 closed, assigned to nobody

[2017-05-30 21:22] 45f65f67-2b67-4f2b-a7d3-e6bd7d4389f3 opened #74701 "Documentation for datetime substract operation incorrect?"
BPO | [30516](https://bugs.python.org/issue30516)
--- | :---
Nosy | @abalkin, @vadmium
PRs | <li>python/cpython#7348</li><li>python/cpython#8092</li><li>python/cpython#8093</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-05-30 21:22] 45f65f67-2b67-4f2b-a7d3-e6bd7d4389f3 commented on #74701
In the documentation for the supported arithmetic operations for a datetime object, there is the following note, among other:

[code]

Comment:
Computes the datetime2 such that datetime2 + timedelta == datetime1. As for addition, the result has the same tzinfo attribute as the input datetime, and no time zone adjustments are done even if the input is aware. This isn’t quite equivalent to datetime1

[2017-05-30 21:57] vstinner commented on #74486
Barry: would you be ok to start by adding Controller to asyncio.test_utils,
and wait later to expose it in the public API?

[2017-05-30 22:36] 1st1 commented on #74486
Sorry, but we are going to deprecate and remove test_utils soon. It's a bunch of internal unit test helpers used privately by asyncio. They are not documented and not supported. Now that asyncio repo is in CPython repo and we don't release it on its own, i see no reason to keep test_utils (we can move it to '[Lib/test](https://github.com/python/cpython/blob/main/Lib/test)'.

Again, the natural way

[2017-05-30 23:10] 1st1 commented on #74486
Yeah, I understand.  I totally see how Controller can be useful, moreover,
I've implemented something like it bunch of times (usually for running
tests).  But with Guido no longer actively involved with asyncio, and me
being the only one who is actively working on/supporting asyncio, I
think we need to go through the full PEP process when we want to add
new APIs.  bpo simply does not provide enoug

[2017-05-30 23:50] csabella commented on #74680
Thanks for all the info.

I've made another patch for textfile.py with removing ButtonFrame.  I've also included test_textfile.py and help_about.py in the patch.

I had worked on help_about yesterday, so if you don't like the button classes, I may need to undo it.  However, since they do a lot of 'stuff' maybe it would be similar to the HelpText class in help.py?  It seems more readable to me comp

[2017-05-30 23:55] warsaw commented on #74486
On May 30, 2017, at 10:36 PM, Yury Selivanov wrote:

A PEP feels like overkill; we don't require PEPs for every addition to an
existing stdlib module or package.  My worry too is that a PEP tends to evoke
endless bikeshedding.

I appreciate that you want to be careful not to saddle asyncio with too much
baggage, or that you don't feel Controller is significant enough to generalize
and put in the p

[2017-05-31 00:08] vadmium commented on #74701
The C "\_datetime" implementation seems to handle this as documented. But either way, the "timedelta" range is greater than the "datetime" range, so it seems to be just a difference in OverflowError messages, not a big practical problem:

[code]

[2017-05-31 00:19] 1st1 commented on #74486
Thing is, when asyncio was provisional, we still couldn't significantly
change it or break it.  Never in asyncio stdlib era had we removed or
redesigned some APIs.  Only small additions and bug fixes.  And honestly,
maintaining something provisional and changing it in bugfix releases
is too much stress: we managed to break `loop.connect_socket` once
because nobody tests bugfix RCs.  It was broken

[2017-05-31 02:08] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74702
This probably shouldn't happen:

[code]

The first print() is kinda ok, I don't really care about which value was used by the implementation. But the second print() seems surprising.

By the same token, this probably shouldn't raise an exception (it does now):

[code]

and `dir(E)` shouldn't skip `B` in its output (it does now).

[2017-05-31 02:08] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #74702 "Enum does not recognize enum.auto as unique values"
BPO | [30517](https://bugs.python.org/issue30517)
--- | :---
Nosy | @ethanfurman, @pkch, @MojoVampire

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 02:54] d51975e9-b1f0-47f0-be62-f9ef72b04806 opened #74703 "Import type aliases from another module"
BPO | [30518](https://bugs.python.org/issue30518)
--- | :---
Nosy | @ilevkivskyi, @JelleZijlstra, @Paragape

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 02:54] d51975e9-b1f0-47f0-be62-f9ef72b04806 commented on #74703
I have a 'base' module where I define some type aliases, such as:

[code]

I would like to import these aliases into other modules so that the 'base' module provides the definitive alias.

Currently, if I attempt to import the type aliases using:

[code]

Pycharm shows no error, but when I attempt to execute the code I get the error:

    ImportError: cannot import name 'Tags'

I see that there ha

[2017-05-31 02:54] 19c6c546-12db-4351-b178-73746f0a9c05 opened #74704 "[threading] Add daemon argument to Timer"
BPO | [30519](https://bugs.python.org/issue30519)
--- | :---
Nosy | @pitrou, @vstinner, @Mariatta, @awolokita
PRs | <li>python/cpython#1878</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 02:54] 19c6c546-12db-4351-b178-73746f0a9c05 commented on #74704
Currently in order to have daemonic Timer objects one must instantiate the class, set daemonic status through the property (Timer.daemon=True), and then start the Timer. It would be nice to have the ability to set the daemonic status of the Timer class during instantiation, similar to what is possible with the Thread superclass.

This is a trivial enhancement to implement: simply add the daemon ke

[2017-05-31 03:15] d51975e9-b1f0-47f0-be62-f9ef72b04806 commented on #74703
I just found out that the problem is even worse.  While PyCharm accepts the syntax below, I still can't compile 'Blocks'.

[2017-05-31 04:38] JelleZijlstra commented on #74703
This is likely an issue with the setup of your project, not with type aliases. You haven't given enough information to tell me what the real problem is.

I'm not sure what you mean by "I still can't compile 'Blocks'".

[2017-05-31 05:56] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74702
You didn't instantiate auto; read the docs ( https://docs.python.org/3/library/enum.html#using-automatic-values ): auto is a class, you instantiate it to make instances for use. If you omit the parens, it's just a plain class, not a special value for automatic value assignment.

You want:

[code]

[2017-05-31 06:05] terryjreedy commented on #74680
1. I prefer to not deal with ttk styles yet, unless forced, and we don't seem to be here.
2. Yes, I wanted to get rid of that useless frame as part of refactoring.
3. 'self.x = x = expr' is a semi-common idiom.  A local name is nice when there are multiple local references to the object.  Dereferencing a local name is faster than an attribute, though it may not be enough to worry about unless ther

[2017-05-31 06:20] terryjreedy commented on #74680
Old 2, references; my other main bookmark is the tk reference.
https://www.tcl.tk/man/tcl8.6/TkCmd/contents.htm
It is harder to read at first, but more complete, accurate, and up to date.  Unfortunately, even it does not specify all the OS-specific divergences.

[2017-05-31 06:56] serhiy-storchaka commented on #74694
[PR 1883](https://github.com/python/cpython/pull/1883) cleans up the code related to calling type slots.

* Use \_PyObject_LookupSpecial() instead of lookup_maybe() in set_names(). This isn't performance critical.
* Inline lookup_maybe() in \_PyObject_LookupSpecial(). This was the only remaining use of lookup_maybe().
* Replace lookup_maybe_method() and following raising an exception with lookup_m

[2017-05-31 07:50] pitrou opened #74705 "loggers can't be pickled"
BPO | [30520](https://bugs.python.org/issue30520)
--- | :---
Nosy | @vsajip, @pitrou, @serhiy-storchaka
PRs | <li>python/cpython#1956</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 07:50] pitrou commented on #74705
Loggers could simply be pickled and unpickled by name, but pickle currently tries the hard way:

[code]

[2017-05-31 08:02] 9da18a29-a07d-4828-a801-24cc911246de commented on #74706
Propose a sublime-like navigate bar to replace current goto dialog.

Navigate bar current support two different mode: prefix ':' for goto line, and prefix '@' for goto symbol.

When user use shortcut Ctrl+G to open goto line, it will prompt out a navigate bar on the top of the editor.text with prefix ':', user can enter valid lineno, and it will highlight the line on the editor.

After return, it

[2017-05-31 08:02] 9da18a29-a07d-4828-a801-24cc911246de opened #74706 "IDLE: Replace current goto dialog"
BPO | [30521](https://bugs.python.org/issue30521)
--- | :---
Nosy | @terryjreedy, @mlouielu
PRs | <li>python/cpython#1884</li>
Files | <li>[Selection_0804.png](https://bugs.python.org/file46925/Selection_0804.png "Uploaded as image/png at 2017-06-06.06:58:08 by @mlouielu")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current st

[2017-05-31 08:09] pitrou opened #74707 "Allow replacing a logging.StreamHandler's stream"
BPO | [30522](https://bugs.python.org/issue30522)
--- | :---
Nosy | @vsajip, @pitrou, @vstinner
PRs | <li>python/cpython#2921</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 08:09] pitrou commented on #74707
Right now it is probably possible using something like:

[code]

but it would be nice to have an officially-supported method to do that.

Context: if I reconfigure sys.stderr, I'd like to update all handlers that have a reference to the old sys.stderr.

[2017-05-31 08:10] vstinner commented on #74707
Which StreamHandler class? Is this issue related to logging? If yes, please mention it in the title ;-)

[2017-05-31 08:10] pitrou commented on #74707
Oh, yes, sorry.  This is about logging.

[2017-05-31 08:27] vstinner commented on #74633
Sadly, I'm unable to reproduce the issue on my FreeBSD 11 VM :-(

[2017-05-31 09:22] vstinner opened #74708 "regrtest: add --list-cases option to only display test case identifiers"
BPO | [30523](https://bugs.python.org/issue30523)
--- | :---
Nosy | @vstinner, @rbtcollins, @ezio-melotti, @voidspace, @serhiy-storchaka, @JulienPalard, @mlouielu
PRs | <li>python/cpython#1885</li><li>python/cpython#2238</li><li>python/cpython#2243</li><li>python/cpython#2244</li><li>python/cpython#2249</li><li>python/cpython#2250</li><li>python/cpython#2401</li><li>python/cpython#2441</li><li>pyt

[2017-05-31 09:22] vstinner commented on #74708
Attached pull requests adds a --list-tests option to only display the list of test names, don't run tests.

It's a first step to implement the issue bpo-29512: "regrtest refleak: implement bisection feature".

[2017-05-31 09:23] ncoghlan commented on #74588
This proposal is now PEP-547: https://github.com/python/peps/commit/cd84e206f58cf929eea235fb894cff1db2a1dabf

[2017-05-31 09:28] vstinner commented on #74708
Maybe the feature already exists but I failed to find it. Since I'm suprised that nobody implements that before (in unittest), I wait for a first feedback before starting to document the new feature and to write an unit test for it.

support.run_unittest() doesn't use unittest.main() and so don't support the new --list-tests option.

[2017-05-31 09:30] vstinner commented on #74708
I wrote this patch because I'm trying to find which test of test_threading leaks a reference:

./python -m test -R 3:3 test_threading

Usually, I modify [Lib/test/test_threading.py](https://github.com/python/cpython/blob/main/Lib/test/test_threading.py) to remove tests one by one. I "bisect" the test manually. But this process is slow and painful, and it seems like we have many tests which leak re

[2017-05-31 09:56] JulienPalard commented on #74708
If it can be of any help, pytest have a "pytest --collect-only", it may make sense to use the same option name for consistency. I also though about "--dry-run" but I still prefer --list-tests or --collect-only.

[2017-05-31 10:02] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74702
Ah sorry about that ... Yes, everything works fine when used properly.

[2017-05-31 10:02] #74702 closed, assigned to ethanfurman

[2017-05-31 11:10] serhiy-storchaka commented on #74640
The regular expression tokenize.Funny also can be generated. Information is not enough for distinguish between Operator, Bracket and Special, but seems this isn't needed.

Some token names can be generated from [Grammar/Grammar](https://github.com/python/cpython/blob/main/Grammar/Grammar). But needed an additional mapping for relations between token strings and names ('+' \<-\> PLUS, etc).

[2017-05-31 12:01] 652782da-b5f3-46b2-ae1b-1f73662bb759 opened #74709 "iter(classmethod, sentinel) broken for Argument Clinic class methods?"
BPO | [30524](https://bugs.python.org/issue30524)
--- | :---
Nosy | @mjpieters, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#1886</li><li>python/cpython#2022</li><li>python/cpython#2030</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[

[2017-05-31 12:01] 652782da-b5f3-46b2-ae1b-1f73662bb759 commented on #74709
I'm not sure where exactly the error lies, but bpo-27128 broke iter() for Argument Clinic class methods. The following works in Python 3.5, but not in Python 3.6:

[code]

In 3.6 StopIteration is raised:

[code]

(In 3.5 a `datetime.datetime` and `set` object are produced, respectively)

The only thing these two methods have in common is that they are class methods with no arguments, parsed out by

[2017-05-31 12:09] 652782da-b5f3-46b2-ae1b-1f73662bb759 commented on #74709
Forgot to addthis: this bug was found via https://stackoverflow.com/questions/44283540/iter-not-working-with-datetime-now

[2017-05-31 12:21] alex commented on #74710
CT (https://www.certificate-transparency.org/) is starting to become a thing! It'd be great if we exposed SCTs (whether from TLS extensions, OCSP, or embedded in the certificate) for TLS connections. This would allow higher level protocols to begin acting on them.

This would need to be an OpenSSL 1.1.0+ feature.

[2017-05-31 12:21] alex opened #74710 "Expose SCTs on TLS connections"
BPO | [30525](https://bugs.python.org/issue30525)
--- | :---
Nosy | @tiran, @alex, @dstufft

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 12:24] serhiy-storchaka commented on #74694
Sorry, wrong data. [PR 1883](https://github.com/python/cpython/pull/1883) makes indexing 1.2 times faster, [PR 1861](https://github.com/python/cpython/pull/1861) makes it 1.7 times faster

[code]

Unpatched:  Mean +- std dev: 498 us +- 26 us
[PR 1883](https://github.com/python/cpython/pull/1883):    Mean +- std dev: 351 us +- 10 us
[PR 1861](https://github.com/python/cpython/pull/1861):    Mean +-

[2017-05-31 12:28] vstinner commented on #74708
I used testr which has a --list-tests option:
http://testrepository.readthedocs.io/en/latest/MANUAL.html#listing-tests

[2017-05-31 12:30] serhiy-storchaka commented on #74709
It works in 3.5 and 3.7, but raises a StopIteration in 3.6.

[2017-05-31 14:02] vstinner commented on #74694
FYI you can use "./python -m perf timeit --compare-to=./python-ref" if you keep the "reference" Python (unpatched), so perf computes for you the "?.??x slower/faster" factor ;-)

[2017-05-31 14:04] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74692
Thanks for the feedback, Raymond. I'll try to shift my focus on more pressing issues. (Closing as rejected)

[2017-05-31 14:04] #74692 closed, assigned to nobody

[2017-05-31 14:41] vstinner commented on #74709
Oh, it's my fault: it's a bug coming from FASTCALL optimizations. The strange thing is that the bug wasn't catched by the giant Python test suite :-(

I knew that \_PyStack_UnpackDict() has a bug in Python 3.6, but I completely forgot to fix it :-(

https://github.com/python/cpython/pull/1886 fixes the bug, but has not test yet.

[2017-05-31 15:55] doerwalter commented on #74281
See my comments on the pull request: https://github.com/python/cpython/pull/1439

After you address those, IMHO this is ready to be merged.

[2017-05-31 16:10] serhiy-storchaka commented on #74709
next(iter(datetime.now, None)) can be turned into a nice test.

[2017-05-31 16:13] serhiy-storchaka commented on #74694
Thank you, I know about this, but it takes twice more time, so I don't use it regularly. And it doesn't allow to compare three versions. :-(

[2017-05-31 16:13] pitrou commented on #74689
Ah, I had forgotten about the `line_buffering` attribute. Thank you.

[2017-05-31 16:15] pitrou opened #74711 "Allow setting line_buffering on existing TextIOWrapper"
BPO | [30526](https://bugs.python.org/issue30526)
--- | :---
Nosy | @ncoghlan, @pitrou, @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#1887</li><li>python/cpython#1922</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-05-31 16:15] pitrou commented on #74711
Currently, if you want to change the line buffering behaviour of standard streams, you can create a new stream and assign it to sys.{stdout,stderr,stdin}.  Unfortunately, it is common for references to the old streams to be stored in various places (such as logging configuration, or third-party libraries).  Replacing them all is probably a hopeless cause.  It would be much better if one could simp

[2017-05-31 16:35] fc233844-b7d8-4db9-bc24-cd51bb8e9bda opened #74712 "PyMemoryView_FromBuffer memory leak"
BPO | [30527](https://bugs.python.org/issue30527)
--- | :---
Nosy | @skrah, @lazka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 16:35] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #74712
I'm using the following code

[code]

    ...

    // this takes a ref on self
    if (PyBuffer_FillInfo (&view, self, buffer, length, 0, 0) < 0)
        return NULL;

    // this returns a \<memory\> object
    return PyMemoryView_FromBuffer (&view);
}

The problem is that when I call release() on the returned memory object
the buffer does not get release and as a result the exporter leaks.

Am I

[2017-05-31 17:05] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74712
"Py_buffer view" is stack allocated. One can use memoryviews based on such buffers \*inside* a function, but not return them.

[2017-05-31 17:10] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #74712
hm, ok.

Any idea how I can create a memoryview that is usable from Python then?

[2017-05-31 17:15] 4980da3a-3107-46a8-b98d-461c0fb8b0e7 opened #74713 "ipaddress.IPv{4,6}Network.reverse_pointer is broken"
BPO | [30528](https://bugs.python.org/issue30528)
--- | :---
Nosy | @ronaldoussoren, @hvenev, @bbayles, @ekohl, @Forst
PRs | <li>python/cpython#3632</li><li>python/cpython#25371</li><li>python/cpython#29011</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitH

[2017-05-31 17:15] 4980da3a-3107-46a8-b98d-461c0fb8b0e7 commented on #74713
`ipaddress.IPv4Network('127.0.0.0/16').reverse_pointer = '0/16.0.0.127.in-addr.arpa'` is definitely wrong. I think it should be '0.127.in-addr.arpa'.

A funnier case, `ipaddress.IPv6Network('2001:db8::/32').reverse_pointer = '2.3./.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.0.8.b.d.0.1.0.0.2.ip6.arpa'`.

For the case where no single reverse pointer exists (e.g. `127.0.0.0/13`), I think it shoul

[2017-05-31 17:23] zooba commented on #74363
This is definitely a bug if it really behaves as described.

PRs for fixing the functionality are welcome - I'm inclined to say fix it in 3.6 as well, but it might be too big a behavioural change if people are already working around it.

[2017-05-31 17:23] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74712
"Py_buffer view" needs to go into the exporting object.  That object needs  a getbufferproc().  That getbufferproc() can use  PyBuffer_FillInfo() to fill in the view that is now kept alive because it's in the object.

The object then supports the buffer protocol and memoryviews can be created automatically from the Python level without any further C code.

[2017-05-31 17:26] 410541c4-67eb-407f-b4b5-1e85802982d6 commented on #74363
In Windows/Python 3.6, the behavior matches the documented one, so this could actually be an important silent bug when executing a code wrote for Windows in another OS. I'd argue to fix it in 3.6 too.

[2017-05-31 17:32] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #74712
Ah, so if I understand correctly, exposing always requires something implementing the buffer interface in some way. I might require multiple different memoryviews for this object, so maybe some proxy object implementing it might work.

Thanks Stefan for your quick help.

[2017-05-31 17:32] #74712 closed, assigned to nobody

[2017-05-31 17:33] 410541c4-67eb-407f-b4b5-1e85802982d6 commented on #74363
By the way, I'm pasting what I said on the PR here:

For what it's worth, this bug was the cause of an important downtime in our organization, because someone needed to normalize a path that was later passed to a .mkdir(parents=True), and it was, in some cases, silently doing the mkdir of a wrong path instead of creating all the parents.

[2017-05-31 17:35] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74712
Sorry, actually I wasn't totally clear:  The exporting object just needs a getbufferproc() that can respond to buffer requests and keeps track of how many views are exported.

"View in the object" is misleading and not necessary; it can be used for some advanced stuff.

[2017-05-31 17:38] pitrou commented on #74363
This is definitely a bug and I think the fixes should be backported.

[2017-05-31 17:44] zooba commented on #74363
Ah, didn't catch that it doesn't occur on Windows - that explains why I've never seen it before.

Yes, definitely fix and backport. Adding the RMs in case they want to delay any upcoming releases to get the fix.

[2017-05-31 17:48] 729ff953-4960-416d-b6c8-193cb8b7b8de commented on #74363
I agree bpo-30177 is not a suitable fix for this issue, as it fixes the doc instead of fixing the actual underlying bug in the function behavior.

This bug can lead to files being added to the wrong (parent) directory, which is quite critical.

[2017-05-31 18:22] ned-deily commented on #74363
We have less than 2 weeks until cutoff for 3.6.2 so it would be great if someone would take this on.

[2017-05-31 18:33] ned-deily commented on #74577
Good news!  Apple appears to have fixed the osascript regression in the most recent macOS 10.12.6 public beta (version 2).  So I'm going to mark this issue as "pending fixed" until the official release of 10.12.6.

[2017-05-31 18:58] serhiy-storchaka commented on #74650
I have concerns about following cases.

* f-string containing multiple equivalent subexpressions:

f'{x} {x}'

or

f'''
{x}
{x}
'''

* f-string containing escaped newlines:

f'''\\
\\
{x}\\
\\
'''

The tests look slightly verbose and fragile to me. If once the parser will produce more efficient tree (see bpo-26415), the tests may fail. Needed more tests (for cases mentioned above), and adding them

[2017-05-31 19:49] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #74712
In case someone ends up here with a similar problem, here is my solution using a proxy object: https://github.com/pygobject/pycairo/blob/4ab80df68dd99a8e4bfb0c6a88dc5b2a9b0f3f10/cairo/bufferproxy.c

[2017-05-31 20:24] serhiy-storchaka opened #74714 "Incorrect error messages for invalid whitespaces in f-string subexpressions"
BPO | [30529](https://bugs.python.org/issue30529)
--- | :---
Nosy | @ericvsmith, @serhiy-storchaka
PRs | <li>python/cpython#1888</li><li>python/cpython#2013</li><li>python/cpython#2232</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bug

[2017-05-31 20:24] serhiy-storchaka commented on #74714
Python parser supports only ' ', '\\t', '\\x0c' and '\\r' as whitespaces. The parser of f-strings raises incorrect error messages for subexpressions consistent only from whitespaces, if they contain whitespaces out this set.

[code]

[2017-05-31 20:39] serhiy-storchaka commented on #74714
[PR 1888](https://github.com/python/cpython/pull/1888) makes error messages for f-string subexpressions consistent with error messages for expressions out of f-strings, simplifies and speeds up the parsing code.

[2017-05-31 21:11] 749c80fe-1c97-4e46-b1dd-74bf62c51f66 opened #74715 "Descriptors HowTo: Example on function.__get__ needs update"
BPO | [30530](https://bugs.python.org/issue30530)
--- | :---
Nosy | @rhettinger, @Mariatta, @rmariano
PRs | <li>python/cpython#1845</li><li>python/cpython#1953</li><li>python/cpython#1954</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-05-31 21:11] 749c80fe-1c97-4e46-b1dd-74bf62c51f66 commented on #74715
The example on which tries to create a method from the function's \_\_get__ doesn't work for Python 3.5+. It would give this error:

TypeError: method expected 2 arguments, got 3

The 3rd parameter, needs to be removed.

[2017-05-31 21:29] eb3d49ba-81ff-46d9-85f5-ab2a887d9b76 opened #74716 "Windows 10 3.6.1 install disallows pip installs of packages"
BPO | [30531](https://bugs.python.org/issue30531)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-05-31 21:29] eb3d49ba-81ff-46d9-85f5-ab2a887d9b76 commented on #74716
Installed using python-3.6.1-amd64.exe then tried to pip install a package.  Repeatedly had to manually intervene to open up permissions on python install subdirs, after getting these errors one at a time from pip:
  PermissionError: [WinError 5] Access is denied: 'c:\\\\program files\\\\python 3.6\\\\Lib\\\\site-packages\\\\fontTools'
  PermissionError: [Errno 13] Permission denied: 'c:\\\\progra

[2017-05-31 22:08] 86921ab5-3d12-4876-8e4c-eedda72c7e38 opened #74717 "email.policy.SMTP.fold() mangles long headers"
BPO | [30532](https://bugs.python.org/issue30532)
--- | :---
Nosy | @warsaw, @bitdancer, @jhillacre
PRs | <li>python/cpython#1892</li><li>python/cpython#2591</li><li>python/cpython#2592</li>
Files | <li>[test_long_mime_headers.py](https://bugs.python.org/file46917/test_long_mime_headers.py "Uploaded as text/plain at 2017-05-31.22:08:52 by chris@arrai.com"): Test case for folding long email headers

[2017-05-31 22:08] 86921ab5-3d12-4876-8e4c-eedda72c7e38 commented on #74717
When email.policy.SMTP.fold() attempts to wrap a line in which a chunk that does not contain a space is longer than the maximum line length, two things go wrong:
 - The second line does not begin with a space, creating an invalid header.
 - The space before the long chunk is stripped, causing the line break to occur in an invalid place.

In the attached test case, email.policy.SMTP.fold() is calle

[2017-05-31 22:52] carljm opened #74718 "missing feature in inspect module: getmembers_static"
BPO | [30533](https://bugs.python.org/issue30533)
--- | :---
Nosy | @carljm, @DinoV, @kernc, @lisroach, @corona10, @hongweipeng, @tirkarthi, @isidentical, @itamaro
PRs | <li>python/cpython#20911</li><li>python/cpython#29874</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</

[2017-05-31 22:52] carljm commented on #74718
The inspect module contains a getattr_static() function, for accessing an arbitrary attribute on a Python object without risking descriptor or \_\_getattr__ code execution. This is useful for introspection tools that don't want to trigger any side effects.

The inspect module also contains a getmembers() function, which returns a mapping of names to values for all the object's members. This functi

[2017-05-31 22:54] 410541c4-67eb-407f-b4b5-1e85802982d6 commented on #74363
I'm on it.

[2017-05-31 22:54] 22884b00-60c4-4a65-aa27-c8175ab1d641 commented on #74717
I added a pull request that causes Chris's test to pass. I can confirm that the Chris's was not pass for me on master branch.

[2017-05-31 23:27] zooba commented on #74363
The initial fix should be easy:

[code]

However, the trick is going to be in the tests, which are shared between POSIX and Windows - and are apparently passing on Windows right now. I'm not entirely sure why that is, but it may not be as simple here as "works on POSIX".

[2017-05-31 23:29] zooba commented on #74363
Ah, looks like they require symlinks for the whole test, which means you need to be admin when running them on Windows.

Zach - do we have any buildbots running as admin for symlink tests?

[2017-05-31 23:44] 410541c4-67eb-407f-b4b5-1e85802982d6 commented on #74363
I added a fix for the tests and the code.

[2017-05-31 23:46] eryksun commented on #74716
You installed Python for all users, which defaults to installing in %ProgramFiles% or %ProgramFiles(x86)%. Python's installation directory inherits the security of its parent directory, which in this case grants full control only to SYSTEM, TrustedInstaller, and Administrators. Standard users are granted only read and execute access. Thus if you're logged on as a standard user or UAC-restricted ad

[2017-05-31 23:46] #74716 closed, assigned to nobody

[2017-05-31 23:47] zooba commented on #74716
You can try installing with "--user" to install to a per-user directory, start running pip from an administrative command/PowerShell prompt, or use the venv module to create a virtual environment.

Alternatively, if you select the default installation options you will get one that you can modify freely, but because it's in your user directory nobody else on the machine can use it.

Installing to P

[2017-06-01 00:42] eryksun commented on #74363
The privilege to create symlinks isn't filtered out of a standard user's token. Are there any buildbots already running as a standard user? In that case it may be simpler to modify the user's rights via secpol.msc: Local Policies -\> User Rights Assignment -\> Create symbolic links.

Support could also be added for the new feature in Windows 10 to allow unprivileged creation of symlinks when the s

[2017-06-01 01:07] zware commented on #74363
No, as far as I know.  I just took Eryk's suggestion and gave the buildslave user on my Windows 8.1 bot rights to create symbolic links, though.  It's now rebooting after updates, we'll see how it does shortly.

[2017-06-01 01:49] 47afc646-a8b0-4fd5-95c1-f9f9183ec3e3 commented on #74331
I decided to make myself a test subject for this idea using Redis since although I use Redis a lot at work I've never looked at the underlying Redis protocol. I also haven't used the streams API in a long time, and never for anything other than simple exploration.

I worked on this the other night and found the Redis protocol simple enough to understand and was able to write a simple and somewhat

[2017-06-01 01:59] 1st1 commented on #74331
I've created a repo for discussing and making next version of asyncio docs: https://github.com/asyncio-docs/cpython-aiodocs. Feel free to join!

[2017-06-01 02:01] 1st1 commented on #74331
I propose to start using the issues [1] as there are so many topics we'll have to discuss.  Feel free to create new issue for whatever idea you have!

[1] https://github.com/asyncio-docs/cpython-aiodocs/issues

[2017-06-01 02:24] 1st1 commented on #74331
I like it! Let's use Redis as an example. Please open an issue at asyncio-docs to discuss the details.

[2017-06-01 03:18] c6e6bbaa-08dc-43fc-937d-d8499e7a987f commented on #74621
I added a PR changing the exception raised as suggested, reviews welcome!

[2017-06-01 03:25] rhettinger commented on #74684
This is good to go.

[2017-06-01 05:18] serhiy-storchaka commented on #74694
New changeset 4e624ca50a665d7e4d527ab98932347ff43a19b0 by Serhiy Storchaka in branch 'master':
bpo-30509: Clean up calling type slots. (bpo-1883)
https://github.com/python/cpython/commit/4e624ca50a665d7e4d527ab98932347ff43a19b0

[2017-06-01 06:32] scoder commented on #74719
I'm seeing doctest failures in Cython's test suite with Py3.7 due to the change of an error message:

[code]

I'd normally just adapt the doctest and move on, but this seems like the error message is worse than before, so I thought I'd bring it up here. func1() is implemented as a METH_O C function. Suggesting that it does not accept keyword arguments seems better than saying that it expects "exac

[2017-06-01 06:32] scoder opened #74719 "error message for incorrect call degraded in 3.7"
BPO | [30534](https://bugs.python.org/issue30534)
--- | :---
Nosy | @brettcannon, @rhettinger, @scoder, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#1901</li><li>python/cpython#1996</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code

[2017-06-01 07:14] vsajip commented on #74705
I am not sure it is a good idea to support pickling of loggers, as they are singletons and generally aren't supposed to be instantiated other than by calling logging.getLogger(name). What's the use case for pickling them, giving that (as you say) just the name could be used? In general, it's not needed to have loggers as part of an object instance, so I don't quite see where the need to pickle com

[2017-06-01 07:18] pitrou commented on #74705
Le 01/06/2017 à 09:14, Vinay Sajip a écrit :

Pickling them by name is precisely what I'm having in mind.  Right now,
pickle tries to recreate them structurally, which fails.

In other words (untested, but you get the idea):

[code]

You usually don't pickle loggers directly.  You pickle an object that
happens to hold (directly or indirectly) a reference to a logger (it's
quite common to have `sel

[2017-06-01 07:35] vstinner commented on #74719
Example with a builtin function, abs(), which uses METH_O.

Before:

[code]

After:

[code]

In Python 3.5, PyCFunction_Call() starts by checking keyword arguments:

[code]

In Python 3.7, \_PyMethodDef_RawFastCallKeywords() first check positional arguments:

[code]

        ...

We can easily exchange the two checks, but IMHO we need an unit test (at least decorated by @cpython_only) to avoid reg

[2017-06-01 07:36] vstinner commented on #74719
Ah, Python 3.6 is not affected:

[code]

[2017-06-01 07:39] vstinner commented on #74719
I introduced the regression with the commit 7fc252adfbedece75f2330bcfdadbf84dee7836f:

"Optimize \_PyCFunction_FastCallKeywords(): Issue bpo-29259: Write fast path in \_PyCFunction_FastCallKeywords() for METH_FASTCALL, (...) Cleanup also \_PyCFunction_FastCallDict(): (...) Move code to raise the "no keyword argument" exception into a new no_keyword_error label."

[2017-06-01 07:43] vstinner commented on #74719
See also "[Python-ideas] Positional-only parameters" discussion of last March:
https://mail.python.org/pipermail/python-ideas/2017-March/044956.html

Brett Cannon: "It seems all the core devs who have commented on this are in the positive (Victor, Yury, Ethan, Yury, Guido, Terry, and Steven; MAL didn't explicitly vote). So to me that suggests there's enough support to warrant writing a PEP. (...)"

[2017-06-01 07:45] serhiy-storchaka commented on #74719
Note that some error messages are "takes no keyword arguments", but others are "does not take keyword arguments" or "doesn't take keyword arguments". They should be unified. What wording is better?

[2017-06-01 08:02] vstinner commented on #74719
We already have a \_PyArg_NoKeywords() function. Maybe we could add a new \_PyErr_NoKeywords() function which would just raise the error?

[2017-06-01 08:14] serhiy-storchaka commented on #74582
Added GvR and Ivan because this is related to the typing module. This change allows re.Patter and re.Match be just imported from the re module.

[2017-06-01 08:59] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74720
Encountered this issue porting Python 2 code manipulating meta_path to Python 3.

In Python 2, meta_path is empty by default and its documentation specifically notes that:

As a result, sys.meta_path.append() works perfectly well and is overwhelmingly common[0].

In Python 3, this note was removed but the documentation does not specifically state default finders are present in meta_path, and the o

[2017-06-01 08:59] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 opened #74720 "[doc] Explicitly note that meta_path is not empty"
BPO | [30535](https://bugs.python.org/issue30535)
--- | :---
Nosy | @brettcannon, @ncoghlan, @pitrou, @masklinn, @ericsnowcurrently, @Windsooon
PRs | <li>python/cpython#13300</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.o

[2017-06-01 09:17] serhiy-storchaka commented on #74719
The details can be different. For example:

[code]

The message contains the word "wrapper" and doesn't contains parenthesis. I think it can be extended for containing the type name ("int.\_\_add__()" or "wrapper \_\_add__ of in objects"), and this hard to do with general \_PyErr_NoKeywords(). Let first unify messages, then try to add more useful information in messages and create a general API if

[2017-06-01 09:28] serhiy-storchaka commented on #74705
The idea LGTM. But we should first check that the logger is accessible by the name: getLogger(self.name) is self. The same is done when pickling classes, functions, etc. It shouldn't be a surprise on unpickler side.

And maybe use not getLogger(), but different method which should fail if the logger doesn't exist rather than creating it. Otherwise this looks as pickling open files by name.

[2017-06-01 09:38] serhiy-storchaka commented on #74711
This looks similar to bpo-15216 and may be merged with it. At least setting line_buffering and encoding should have unified interface. I see two possibilities of making this Pythonic:

* Make attributes writeable.

* Add a method (configure(), reopen(), or like) that takes new values as keyword arguments. This allows to change several attributes at a time.

[2017-06-01 09:38] pitrou commented on #74705
Le 01/06/2017 à 11:28, Serhiy Storchaka a écrit :

Good idea.

I disagree. The fact that it creates a new logger if it doesn't exist is
pretty much by design.  Typically, if you have:

[code]

then unpickling the first MyObject instance in a new process should also
create the 'myobject' logger instead of failing.

[2017-06-01 09:45] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74720
Addendum: the warning was present (in the documentation) until Python 3.5, even though Python 3.3 is apparently where the "default finders" were moved to meta_path:

    \> python3.2 -c 'import sys;print(sys.meta_path)'
    []

    [\<class '\_frozen_importlib.BuiltinImporter'\>, \<class '\_frozen_importlib.FrozenImporter'\>, \<class '\_frozen_importlib.PathFinder'\>]

[2017-06-01 09:50] pitrou commented on #74711
I don't think those two issues need to be merged.  Setting line_buffering and write_through is almost trivial, while setting the encoding seems to take a significant amount of effort.

That said, I agree that a unified interface may be nice.  Perhaps a reconfigure(**kwargs) method?

[2017-06-01 09:51] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74106
Should I close this since the PR was merged?

[2017-06-01 09:52] 50b270af-29d1-4e60-929e-94b6a6a5e3f6 commented on #74720
And it turns out the change was noted in the Python 3.3 release notes[0] though not all the consequences were spelled out (and the meta_path and path_hooks documentations were not changed)

[0] https://docs.python.org/3/whatsnew/3.3.html#visible-changes

[2017-06-01 09:56] pitrou commented on #74720
A warning is probably too strong.  Also, it's easy to check sys.meta_path at the interpreter prompt, so I'm not sure it's worth mentioning at all.

[2017-06-01 10:25] serhiy-storchaka commented on #74106
I suggest to move the descriptions of text() and html() after handle(). And I don't know what to do with the discrepancy in the parameter name.

[2017-06-01 10:27] serhiy-storchaka commented on #74705
May be. I don't have a strong opinion.

[2017-06-01 10:41] serhiy-storchaka commented on #74711
First at all, I'm not sure that allowing to modify TextIOWrapper settings after creation is a good idea. I would be feeling uncomfortable if the third-party library changed the buffering or encoding settings of passed text stream for its own needs, and this stream is sys.stdout. For example set f.line_buffering = False for performance and break your logging. Creating a new TextIOWrapper for own ne

[2017-06-01 10:42] vstinner commented on #74721
Ah! I succeeded to hack a tool to bisect -m test -R 3:3 failure (issue bpo-29512, I will publish it later, right now it's too hackish), so I found a first guilty of failure on the Gentoo Refleak failure.

Maybe it's related to recent Eric Snow's work. Maybe not. I didn't dig the bug yet.

haypo@selma$ ./python -m test -R 3:3 -m test_threads_join_2 test_threading
Run tests sequentially
0:00:00 load

[2017-06-01 10:42] vstinner opened #74721 "[EASY] SubinterpThreadingTests.test_threads_join_2() of test_threading leaks references"
BPO | [30536](https://bugs.python.org/issue30536)
--- | :---
Nosy | @vstinner, @ericsnowcurrently, @zware, @serhiy-storchaka, @sayanchowdhury
Superseder | <li>bpo-30547: [Windows] SubinterpreterTest.test_callbacks_leak() of test_atexit leaks references</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details

[2017-06-01 10:43] pitrou commented on #74711
Le 01/06/2017 à 12:41, Serhiy Storchaka a écrit :

Agreed that third-party libraries should not, but we're talking about
applications here.

Now you may have two TextIOWrappers alive wrapping the same buffered IO
object.

[2017-06-01 11:26] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74722
In a question on StackOverflow (https://stackoverflow.com/questions/44302946/itertools-does-not-recognize-numpy-ints-as-valid-inputs-on-python-3-6) it was mentioned that numpys scalars cannot be used as index for `itertools.islice`.

The reason for this is because the numbers are converted with `PyLong_AsSsize_t` (which requires a PyLongObject [or subclass]) instead of `PyNumber_AsSsize_t` (which

[2017-06-01 11:26] 84dd73fe-9313-425f-aae0-390228a90839 opened #74722 "Using PyNumber_AsSsize_t in itertools.islice"
BPO | [30537](https://bugs.python.org/issue30537)
--- | :---
Nosy | @rhettinger, @mdickinson, @embray, @smarnach, @serhiy-storchaka, @jdemeyer, @MSeifert04, @wroberts
PRs | <li>python/cpython#1918</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-06-01 11:32] csabella opened #74723 "Functional Programming HOWTO describes one argument itertools.count()"
BPO | [30538](https://bugs.python.org/issue30538)
--- | :---
Nosy | @rhettinger, @Mariatta, @csabella
PRs | <li>python/cpython#1919</li><li>python/cpython#1943</li><li>python/cpython#1944</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-06-01 11:32] csabella commented on #74723
The Functional Programming HOWTO describes single variable itertools.count instead of the two variable version that is linked to.

[2017-06-01 13:12] zhangyangyu commented on #74563
New changeset 0b4b57df964f1ba427684556b8e5f05852454e0d by Xiang Zhang in branch 'master':
bpo-30378: Fix the problem that SysLogHandler can't handle IPv6 addresses (bpo-1676)
https://github.com/python/cpython/commit/0b4b57df964f1ba427684556b8e5f05852454e0d

[2017-06-01 13:59] b6b99247-c9b4-4578-bd58-6f7d68a57893 opened #74724 "Make Proactor public in asyncio.ProactorEventLoop"
BPO | [30539](https://bugs.python.org/issue30539)
--- | :---
Nosy | @asvetlov, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-06-01 13:59] b6b99247-c9b4-4578-bd58-6f7d68a57893 commented on #74724
pyserial-asyncio cannot use IOCP for serial sockets on windows because \_proactor is private on the ProactorEventLoop. Can it be made public? Currently, pyserial-asyncio has to rely on polling for windows which is suboptimal.

Some forks use Proactor (e.g. https://github.com/m-labs/asyncserial/blob/master/asyncserial/asyncserial.py#L172) but it would be nice to use a stable API in official pyseria

[2017-06-01 14:02] Mariatta commented on #74684
New changeset 0737ee20671d60802a7ef40f653fe449f1921de0 by Mariatta (Julien) in branch 'master':
bpo-30499: Remove a deprecated note about sets. (GH-1848)
https://github.com/python/cpython/commit/0737ee20671d60802a7ef40f653fe449f1921de0

[2017-06-01 14:12] Mariatta commented on #74684
New changeset 9d752aa5e695d682f3cfc40655580900b132e52a by Mariatta in branch '3.6':
bpo-30499: Remove a deprecated note about sets. (GH-1848) (GH-1905)
https://github.com/python/cpython/commit/9d752aa5e695d682f3cfc40655580900b132e52a

[2017-06-01 14:12] Mariatta commented on #74684
New changeset 3419fc2bf1e81d42ef4578e59d3c10f9c239e80f by Mariatta in branch '3.5':
bpo-30499: Remove a deprecated note about sets. (GH-1848) (GH-1906)
https://github.com/python/cpython/commit/3419fc2bf1e81d42ef4578e59d3c10f9c239e80f

[2017-06-01 14:12] Mariatta commented on #74684
New changeset 662d856cd7d21dbdbd4043c1735d93b32568c9e5 by Mariatta in branch '2.7':
bpo-30499: Remove a deprecated note about sets. (GH-1848) (GH-1907)
https://github.com/python/cpython/commit/662d856cd7d21dbdbd4043c1735d93b32568c9e5

[2017-06-01 14:13] Mariatta commented on #74684
Thanks Julien and Raymond.
PR has been merged and backported to 2.7, 3.5 and 3.6.

[2017-06-01 14:13] #74684 closed, assigned to Mariatta

[2017-06-01 14:20] zhangyangyu commented on #74563
New changeset e20d22671996712eac416dd7bda79b5344d81164 by Xiang Zhang in branch '3.5':
bpo-30378: Fix the problem that SysLogHandler can't handle IPv6 addresses (bpo-1676) (bpo-1902)
https://github.com/python/cpython/commit/e20d22671996712eac416dd7bda79b5344d81164

[2017-06-01 14:20] zhangyangyu commented on #74563
New changeset 95b4da2be4aeb74ee46ddece71f2075b32915c60 by Xiang Zhang in branch '3.6':
bpo-30378: Fix the problem that SysLogHandler can't handle IPv6 addresses (bpo-1676) (bpo-1903)
https://github.com/python/cpython/commit/95b4da2be4aeb74ee46ddece71f2075b32915c60

[2017-06-01 14:22] zhangyangyu commented on #74563
New changeset 3ef3bcbe38e1913119c3022ca470d06908eeda3c by Xiang Zhang in branch '2.7':
bpo-30378: Fix the problem that SysLogHandler can't handle IPv6 addresses (bpo-1904) (bpo-1676)
https://github.com/python/cpython/commit/3ef3bcbe38e1913119c3022ca470d06908eeda3c

[2017-06-01 14:24] zhangyangyu commented on #74563
Thanks calcheng for your report and Vinay for the review.

[2017-06-01 14:24] #74563 closed, assigned to nobody

[2017-06-01 14:48] berkerpeksag commented on #74106
Please don't close it yet. I agree with Serhiy's comments in [msg293394](https://bugs.python.org/msg293394), but I couldn't find time to address his comments yet (plus we still need to backport the documentation update to 3.5 and 3.6 branches)

[2017-06-01 15:00] vstinner commented on #74524
New failure:

http://buildbot.python.org/all/builders/AMD64%20Windows7%20SP1%203.5/builds/161/steps/test/logs/stdio

\======================================================================
FAIL: test_directory (test.test_multiprocessing_main_handling.SpawnCmdLineTest)
\----------------------------------------------------------------------
[code]

stdout:
\---

\---

stderr:
\---
[code]
---

[2017-06-01 15:05] vstinner commented on #74536
Similar issue on AMD64 OpenIndiana 2.7:

http://buildbot.python.org/all/builders/AMD64%20OpenIndiana%202.7/builds/156/steps/test/logs/stdio

...
0:10:05 [400/403] test_old_mailbox passed -- running: test_bsddb3 (590 sec)
0:10:07 [401/403] test_imaplib passed -- running: test_bsddb3 (591 sec)
running: test_decimal (34 sec), test_bsddb3 (621 sec)
0:10:40 [402/403] test_decimal passed (37 sec) -- run

[2017-06-01 15:05] doerwalter commented on #74281
See comments on the pull request. Also it seems that currently the pull request can't be merged because of merge conflicts.

[2017-06-01 15:10] vstinner commented on #74536
New failure on AMD64 Windows7 SP1 2.7:

http://buildbot.python.org/all/builders/AMD64%20Windows7%20SP1%202.7/builds/107/steps/test/logs/stdio

...
0:04:31 [402/403] test_ssl passed (32 sec) -- running: test_weakref (33 sec)
Resource 'sha256.tbs-internet.com' is not available
Resource 'ipv6.google.com' is not available

command timed out: 1200 seconds without output, attempting to kill
program fini

[2017-06-01 16:00] 0debf432-aa5a-4c01-98e8-f723a18c8b09 commented on #74281
@Walter, I fixed the issues your raised, and also solved the merge conflict in What's New.

[2017-06-01 16:19] zhangyangyu commented on #74647
Hi Jiri, thanks for your PR. But at least we need a corresponding test and an entry in [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) to complete the patch. Also, if your name is not in [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS), please add it. :-)

[2017-06-01 18:29] #74660 closed, assigned to ericsnowcurrently

[2017-06-01 19:39] vstinner opened #74725 "regrtest: add --matchfile option"
BPO | [30540](https://bugs.python.org/issue30540)
--- | :---
Nosy | @vstinner, @vadmium, @serhiy-storchaka
PRs | <li>python/cpython#1909</li><li>python/cpython#2244</li><li>python/cpython#2249</li><li>python/cpython#2250</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</sum

[2017-06-01 19:39] vstinner commented on #74725
Attached pull request adds the --matchfile option to regrtest.

* Add a new option taking a filename to get a list of test names to filter tests.
* support.match_tests becomes a list.
* Modify run_unittest() to accept to match the whole test identifier, not just a part of a test identifier.

For example, the following command only runs test_default_timeout() of the BarrierTests class of test_threa

[2017-06-01 19:43] vstinner commented on #74725
This issue is the last part to implement the issue bpo-29512: "regrtest refleak: implement bisection feature".

See also the second part, bpo-30523: unittest: add --list-tests option to only display the list of test names, don't run tests.

[2017-06-01 20:16] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 opened #74726 "Add restricted mocks to the python unittest mocking framework"
BPO | [30541](https://bugs.python.org/issue30541)
--- | :---
Nosy | @vstinner, @rbtcollins, @ericvw, @voidspace, @berkerpeksag, @grzgrzgrz3, @mariocj89
PRs | <li>python/cpython#1923</li><li>python/cpython#5107</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

G

[2017-06-01 20:16] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 commented on #74726
Define a way to disable the automatic generation of submocks when accessing an attribute of a mock which is not set.

Rationale:
Inspired by GMock RestrictedMock, it aims to allow the developer to declare a narrow interface to the mock that defines what the mocks allows to be called on.
The feature of mocks returning mocks by default is extremely useful but not always desired. Quite often you rely

[2017-06-01 20:42] vstinner opened #74727 "test_files() of test_tools.test_unparse.DirectoryTestCase leaks references"
BPO | [30542](https://bugs.python.org/issue30542)
--- | :---
Nosy | @vstinner, @zvyn, @mlouielu, @patel-nikhil
Files | <li>[bug.py](https://bugs.python.org/file46930/bug.py "Uploaded as text/plain at 2017-06-07.16:53:50 by @vstinner")</li><li>[test_unparse.py](https://bugs.python.org/file46931/test_unparse.py "Uploaded as text/plain at 2017-06-07.21:52:15 by @vstinner")</li>

<sup>*Note: these val