[2017-09-13 10:47] vstinner commented on #75629
On AMD64 Windows8.1 Refleaks 3.x buildbot, test_poplib started to log a lot of ResourceWarning warnings since the build 101:

http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Refleaks%203.x/builds/101/

2:30:30 [388/405/3] test_poplib passed (64 sec) -- running: test_pickletools (117 sec), test_multiprocessing_main_handling (145 sec)
D:\\buildarea\\3.x.ware-win81-release.refleak\\build

[2017-09-13 10:58] vstinner commented on #75417
New changeset d403a29c0055de6b03ed5ae7a5c564e1c95a5950 by Victor Stinner in branch 'master':
bpo-31234: Fix dangling thread in test_ftp/poplib (bpo-3540)
https://github.com/python/cpython/commit/d403a29c0055de6b03ed5ae7a5c564e1c95a5950

[2017-09-13 11:24] eryksun commented on #75628
I don't see a bug here. The inner run() kills cmd.exe after 4 seconds. But the waitfor.exe process waits for 200 seconds and has handles for the pipes. The OS won't close out the pipes as long as there are potential writers, so the outer communicate() waits the full 20 seconds.

[2017-09-13 12:19] d0bc1e64-9981-46fa-ae52-de51c6f9a5ec opened #75630 "Potential DoS Attack when Parsing Email with Huge Number of MIME Parts"
BPO | [31449](https://bugs.python.org/issue31449)
--- | :---
Nosy | @warsaw, @tiran, @bitdancer
Files | <li>[multipart-dos-attack.py](https://bugs.python.org/file47138/multipart-dos-attack.py "Uploaded as text/plain at 2017-09-13.12:19:54 by ckossmann"): proof-of-concept</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current stat

[2017-09-13 12:19] d0bc1e64-9981-46fa-ae52-de51c6f9a5ec commented on #75630
Python's email parser consumes a lot of resources (CPU and memory) when parsing emails with a large amount of MIME parts. Attackers can probably exploit this behavior to perform denial-of-service (DoS) attacks.

A potentially malicious email has the following structure:

\=============================================
From: sender@example.com
To: recipient@example.com
Subject: Mutlipart DoS Attack

[2017-09-13 12:21] vstinner commented on #75252
New test_multiprocessing_fork failure on AMD64 FreeBSD CURRENT Debug 3.x:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Debug%203.x/builds/869/steps/test/logs/stdio

(...)
test_traceback (test.test_multiprocessing_fork.WithThreadsTestPool) ... ok
test_wrapped_exception (test.test_multiprocessing_fork.WithThreadsTestPool) ... ok
Warning -- Dangling threads: {\<DummyProcess(Th

[2017-09-13 12:23] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
The called "C:\\\\Program Files (x86)\\\\Anaconda3\\\\Python.exe" process exits after 4 seconds. The reason why it ends shouldn't matter, right? I expect that a call to communicate should exit as soon as the called process is not running anymore. I don't hold a pipe with "waitfor", I hold it with python.exe.

[2017-09-13 12:24] vstinner commented on #75357
test_tools also fails on x86 Gentoo Refleaks 3.6:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.6/builds/90

test_tools leaked [1, 1, 118] memory blocks, sum=120
(...)
test_tools leaked [7, 1, 6] memory blocks, sum=14

[2017-09-13 12:25] 6f7b1187-fbd0-4e68-b40d-3d52c6303837 opened #75631 "Subprocess exceptions re-raised in parent process do not have child_traceback attribute"
BPO | [31450](https://bugs.python.org/issue31450)
--- | :---
Nosy | @gpshead, @tiran, @stratakis, @msekletar, @miss-islington
PRs | <li>python/cpython#11422</li><li>python/cpython#11422</li><li>python/cpython#11422</li><li>python/cpython#11422</li><li>python/cpython#11426</li><li>python/cpython#11426</li><li>python/cpython#11426</li>

<sup>*Note: these values reflect the state of the issue at the

[2017-09-13 12:25] 6f7b1187-fbd0-4e68-b40d-3d52c6303837 commented on #75631
Issue
\-----
Documentation of subprocess module claims that exceptions raised in child process will be re-raised in the parent process and will have child_traceback attribute set [1]. At least on Fedora Rawhide with python-3.6.2 this is not the case.

Reproducer
\----------
[code]

[code]

    try:
        subprocess.Popen(['/bin/echo', 'foobar'], preexec_fn=p)
    except subprocess.SubprocessErro

[2017-09-13 12:28] vstinner commented on #74374
The SSL EOF error is still common, but in the test, not in setUpClass(). Example:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/874/steps/test/logs/stdio

\======================================================================
ERROR: test_with_statement (test.test_nntplib.NetworkedNNTP_SSLTests)
\--------------------------------------------------------------

[2017-09-13 12:32] tiran commented on #75631
Documentation and implementation are out of sync. Python 3's subprocess module no longer sets child_traceback. I checked 3.3 to master. The assignment has been removed.

[2017-09-13 12:41] vadmium commented on #75628
I’m not familiar with Windows commands or processes enough, but going by Erik’s comment, this sounds similar to bpo-26534 and bpo-30154. Doesn’t your “waitfor” command inherit the same parent process’s stdout etc pipes?

[2017-09-13 12:52] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
thank you for your replies!

I used waitfor because it's the simplest and shortest way to have reproducible code. The issue I'm having is obviously not with waitfor, but with another exe, but this doesn't change the fact that I need a way to exit as soon as the called process exits or the timeout ends. I don't care what the called process does. I know that the process exited, and the docs for proc

[2017-09-13 12:53] vstinner commented on #75629
New changeset d165e14e29b45a22450263722f5c2c386c3a748a by Victor Stinner in branch 'master':
bpo-31448, test_poplib: Fix ResourceWarning (bpo-3542)
https://github.com/python/cpython/commit/d165e14e29b45a22450263722f5c2c386c3a748a

[2017-09-13 12:57] d9f06c96-efdc-468e-84a1-3d2cf2e74349 commented on #74751
Could someone please review my PR. It has been in the pending state for over three months.

[2017-09-13 12:58] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
(forgot: bpo-26534 is about shell=True, I use shell=False, right?)

[2017-09-13 13:09] bitdancer commented on #75622
Here is a not-much-more-complicated version that solves the problem.  It is probably worth changing as the revised example makes clear the difference between self and obj, which is an important distinction.

[code]

[2017-09-13 13:09] vstinner commented on #75629
New changeset 769ddb075ac3a840d473930a12a5b72bfbab366f by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31448, test_poplib: Fix ResourceWarning (GH-3542) (bpo-3543)
https://github.com/python/cpython/commit/769ddb075ac3a840d473930a12a5b72bfbab366f

[2017-09-13 13:24] amauryfa commented on #75624
On Windows at least: I think "another C module" should be understood as "another DLL or executable".

A user extension module is a different DLL from the core Python, so the advice is still valid.

[2017-09-13 13:34] bitdancer commented on #75630
10 million mime parts?  That sounds like the kind of thing rfc 1870 was designed to address in a more general fashion (ie: the SMTP server should be enforcing maximum message size if you are worried about DOS attacks).

1 million = 3 seconds, 10 million = "over three minutes" sounds like a linear increase, so I don't see that there is anything special about "mime parts" in this scenario.

I have n

[2017-09-13 13:44] vstinner commented on #75417
New changeset b157ce1e58b03988ce4340a55d0b856125833cc5 by Victor Stinner in branch 'master':
bpo-31234: Fix dangling thread in test_ftplib (bpo-3544)
https://github.com/python/cpython/commit/b157ce1e58b03988ce4340a55d0b856125833cc5

[2017-09-13 14:05] zhangyangyu opened #75632 "PYTHONHOME is not absolutized"
BPO | [31451](https://bugs.python.org/issue31451)
--- | :---
Nosy | @zhangyangyu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 14:05] zhangyangyu commented on #75632
I find that PYTHONHOME is not absolutized even after VM initialization. So sys.prefix will be "usr" if I execute `PYTHONHOME=usr python`.  This could lead to libraries like pip to fail if the current directory is changed, such as by `os.chdir`.

I am not sure this is a bug.  But I see PYTHONPATH is absolutized in site.py.  Maybe PYTHONHOME should be too? Or it's by design.

[2017-09-13 14:11] vstinner commented on #75417
test_ssl:

test_recv_zero (test.test_ssl.ThreadedTests) ...  server:  new connection from ('127.0.0.1', 54502)
 server: connection cipher is now ('ECDHE-RSA-AES256-SHA', 'TLSv1/SSLv3', 256)
 server: selected protocol is now None
Warning -- threading_cleanup() failed to cleanup 0 threads (count: 0, dangling: 2)
Dangling thread: \<_MainThread(MainThread, started 47577226880000)\>
Dangling thread: \<

[2017-09-13 14:53] 1ba98678-fa11-4898-9594-bcb37e4aa73f opened #75633 "asyncio.gather does not cancel tasks if one fails"
BPO | [31452](https://bugs.python.org/issue31452)
--- | :---
Nosy | @gvanrossum, @asvetlov, @1st1, @kwarunek
PRs | <li>python/cpython#3597</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 14:53] 1ba98678-fa11-4898-9594-bcb37e4aa73f commented on #75633
If you do not await gather, then if one of gather inner coroutines fails, others keep working, but they should not.

[code]
\-------------------------------------------------------------
[code]

-------------------------------------------------------------

Expected behavior that 5 should not be printed.

[2017-09-13 15:13] 2956bcb0-1e2f-4653-8fc5-ababe5896f84 commented on #75619
I downloaded and installed TCL 8.6.6.8606 and restarted my computer. I verified that the new version was installed. Unfortunately the problem has not been solved. Thank you.

Alper

[2017-09-13 15:48] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
According to the documentation (https://docs.python.org/2/library/ssl.html#ssl.PROTOCOL_TLS), using ssl_version = ssl.PROTOCOL_TLS in a server socket should offer all TLS/SSL versions. However, it only offers TLSv1_2.

I attached a proof of concept.

[code]

To connect with s_client:

[code]

[2017-09-13 15:48] c9986732-fb26-4e37-bd4b-a9ca589c2c63 opened #75634 "Debian Sid/Buster: Cannot enable TLS 1.0/1.1 with PROTOCOL_TLS"
BPO | [31453](https://bugs.python.org/issue31453)
--- | :---
Nosy | @doko42, @tiran, @ned-deily, @njsmith, @AdrianVollmer, @miss-islington, @smartmadre
PRs | <li>python/cpython#3662</li><li>python/cpython#5259</li><li>python/cpython#5926</li>
Files | <li>[poc.py](https://bugs.python.org/file47139/poc.py "Uploaded as text/plain at 2017-09-13.15:48:24 by @AdrianVollmer")</li>

<sup>*Note: these valu

[2017-09-13 15:49] 030a70bd-87f0-44f1-bce5-e413ed5608b3 commented on #75634
What operating system are you on?

[2017-09-13 15:52] 005021ec-20fa-489f-9051-91b54863b1e0 opened #75635 "Include "import as" in tutorial"
BPO | [31454](https://bugs.python.org/issue31454)
--- | :---
Nosy | @bitdancer, @berkerpeksag, @Mariatta, @mariocj89, @novel-yet-trivial, @miss-islington
PRs | <li>python/cpython#4041</li><li>python/cpython#4195</li><li>python/cpython#5894</li><li>python/cpython#5895</li><li>python/cpython#5896</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not

[2017-09-13 15:52] 005021ec-20fa-489f-9051-91b54863b1e0 commented on #75635
I was wondering if you could do something like fiblib = import fibo or import fibo as fiblib, and low and behold, the "as" variant worked. I find this very useful, and thought it should be part of your documentation on "import"

[2017-09-13 15:53] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
Debian buster/sid

[2017-09-13 16:03] tiran commented on #75634
Debian Buster has patched OpenSSL to disable TLS 1.0 and 1.1 by default,
https://lists.debian.org/debian-devel-announce/2017/08/msg00004.html

[2017-09-13 16:08] #75629 closed, assigned to nobody

[2017-09-13 16:10] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
I read about that, but I don't understand. If I use openssl s_server -port 3333  , I can connect using either one of the three protocols.

Even if that's the new default, is there no way now to get python on Buster/Sid to use OpenSSL in a non-default mode and have it offer all three versions?

[2017-09-13 16:16] vstinner commented on #73825
I would like to share a short story with you.

I'm working on fixing \*all* bugs on our 3 CI (buildbots, Travis CI, AppVeyor). I fixed almost all random test failures.

Right now, I'm trying to fix all "dangling thread" warnings: bpo-31234.

I was sure that I was done, but no, test_ssl failed on Travis CI and AppVeyor. Hum. The failure doesn't make sense. The code is perfectly fine. The thread is

[2017-09-13 16:16] tiran commented on #75634
You have to enable the protocols by applying a reverse bitmask to SSLContext.options:

[code]

[2017-09-13 16:22] vstinner commented on #73943
I'm not excited to keep multiple exception objects alive because the Exception.\_\_traceback__ causes many hairy reference cycle issues.

I just found an old bug in socket.create_connection():
https://github.com/python/cpython/pull/3546

See https://bugs.python.org/issue29639#msg302087 for my story of the bug.

[2017-09-13 16:27] gpshead commented on #73825
LOL. That is a very strange story and the last thing i'd have expected to fall out from changing one string to another. :)

[2017-09-13 16:33] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
Doesn't seem to do anything:

[code]

[2017-09-13 16:37] tiran commented on #75634
Please report this issue to the Debian maintainers. I don't know how Debian has disabled TLS 1.0 and TLS 1.1 for the SSL_METHOD \*TLS_method(void). It might not be possible to enable auto-negotiation for old protocols at all.

[2017-09-13 16:41] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
Okay, thanks for your time!

[2017-09-13 16:41] tiran commented on #75634
Ah, here we go: https://anonscm.debian.org/viewvc/pkg-openssl/openssl/branches/1.1.0/debian/patches/tls1_2_default.patch

Debian patched the default for SSL_CTX_set_min_proto_version(). The SSL_CTX_set_min_proto_version() and SSL_CTX_set_max_proto_version() API calls are OpenSSL 1.1.0-only and not available from Python. It is not possible to override the minimum version from Python.

[2017-09-13 16:42] bitdancer commented on #75635
Where do you find that it is not documented that you would expect it to be?  Because 'import' 'as' is certainly documented.

[2017-09-13 16:45] zware commented on #75620
In the absence of a description of your issue, there's nothing we can do with just the generic exception in the title so I'm closing the issue.  If you can provide a real description of what went wrong for you, you may reopen the issue.

[2017-09-13 16:45] #75620 closed, assigned to nobody

[2017-09-13 17:07] c9986732-fb26-4e37-bd4b-a9ca589c2c63 commented on #75634
I have a workaround for now:

[code]

How much of an ugly hack is this? :)

[2017-09-13 17:10] vstinner commented on #75417
New changeset acb9fa79fa6453c2bbe3ccfc9cad2837feb90093 by Victor Stinner in branch 'master':
bpo-31234, socket.create_connection(): Fix ref cycle (bpo-3546)
https://github.com/python/cpython/commit/acb9fa79fa6453c2bbe3ccfc9cad2837feb90093

[2017-09-13 17:11] tiran commented on #75634
It's an ugly hack and not a long term solution. The PROTOCOL_TLSv* constants and ssl.wrap_socket() are discouraged and will be removed soon.

[2017-09-13 17:11] tiran commented on #75634
Matthias, this issue affects Debian and probably Ubuntu, too. Could you please discuss it with Debian maintainers and propose a workaround? Python does not expose the new OpenSSL 1.1.0 SSL_CTX_set_min_proto_version() and SSL_CTX_set_max_proto_version() calls. We only support SSL_CTX_set_options() with SSL_OP_NO_TLSv1 and SSL_OP_NO_TLSv1_1.

[2017-09-13 17:28] scoder opened #75636 "ElementTree.XMLParser() mishandles exceptions"
BPO | [31455](https://bugs.python.org/issue31455)
--- | :---
Nosy | @scoder, @vstinner, @zware, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3545</li><li>python/cpython#3585</li><li>python/cpython#3992</li><li>python/cpython#6318</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show m

[2017-09-13 17:28] scoder commented on #75636
The "XMLParser.\_\_init__()" method in "\_elementtree.c" contains this code:

[code]

This ignores all exceptions, not only AttributeError.
It also passes live exceptions into the later lookup calls, which may execute arbitrary user code.

[2017-09-13 18:15] Mariatta commented on #75635
[code]

Python 3 docs: https://docs.python.org/3/reference/simple_stmts.html#import
[code]

Wording is somewhat different in Python 2.7 docs, but it's there: https://docs.python.org/2.7/reference/simple_stmts.html#the-import-statement

Thanks.

[2017-09-13 18:20] serhiy-storchaka commented on #75636
Oh, I see many other issues with C implementation of ElementTree.

1. If XMLParser.\_\_init__ is called twice, it leaks references and the Expat parser.

Possible solution: use the Py_XSETREF() macro instead of simple assignment. The Expat parser needs special handling.

Other possible solution: drop \_\_init__() and make all initialization in \_\_new__(). But this is a solution only for 3.7 becau

[2017-09-13 18:42] serhiy-storchaka commented on #75517
Hmm, with PyDict_GetItem() we don't falsely detect a lookup failing with a live exception set. Is it correct to call \_PyType_Lookup() with an exception set? Perhaps we should save a current exception before calling find_name_in_mro() and restore it after. Or raise SystemError if an exception set. Or just add assert(!PyErr_Occurred()) at the begin of find_name_in_mro(). I don't know what is more c

[2017-09-13 18:46] 185cfeb6-fecc-4a8d-9e7b-e26bcf2e48a6 opened #75637 "SimpleCookie fails to parse any cookie if an entry has whitespace in the name"
BPO | [31456](https://bugs.python.org/issue31456)
--- | :---
Nosy | @vadmium, @infinitewarp, @remilapeyre

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 18:46] 185cfeb6-fecc-4a8d-9e7b-e26bcf2e48a6 commented on #75637
[code]

[2017-09-13 18:49] ambv commented on #75074
If you're looking at this issue because it still happens to you, you are probably using zipimport. Stop using zipimport.

[2017-09-13 19:13] scoder commented on #75636
Feel free to provide a separate pull request. These issues seem independent of the exception handling problem that I wrote a fix for.

[2017-09-13 19:49] scoder commented on #75517
The general rule of thumb is that it's not safe to call any user code with a live exception set, and lookups can call into user code.

I quickly looked through all occurrences (there aren't that many actually), and they all seem be be called from a context where a live exception would be wrong.

I thought about that, too, but it feels wrong. This just shouldn't be necessary. It's ok to save away e

[2017-09-13 19:54] f8abd1df-fedc-4d62-89c9-35304b41bbba commented on #75534
Will that be backported also to Python2.7 ? I personally do not see a reason to teach old dog new tricks but it seems appropriate in such core things. New users could transition easier, otherwise this would be next py2\<-\>py3 difference to explain every time someone uses new code.

[2017-09-13 20:00] bitdancer commented on #75534
It is a new feature, so no it would not be backported.

[2017-09-13 20:15] ambv opened #75638 "LoggerAdapter objects cannot be nested"
BPO | [31457](https://bugs.python.org/issue31457)
--- | :---
Nosy | @vsajip, @ambv, @Mariatta
PRs | <li>python/cpython#3551</li><li>python/cpython#3576</li><li>python/cpython#4042</li><li>python/cpython#4043</li><li>python/cpython#4044</li><li>python/cpython#4050</li><li>python/cpython#6568</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not refl

[2017-09-13 20:15] ambv commented on #75638
LoggerAdapter objects cannot be nested in Python 3 due to their `log()` and `isEnabledFor()` methods addressing attributes that are not present on the proxy.

Adding the missing attributes fixes the issue.

[2017-09-13 20:42] vstinner commented on #75417
New changeset ace1ecc00b35a8b1dc6e352d547dde07913017bb by Victor Stinner in branch 'master':
bpo-31234: threading_cleanup() now warns immediately (bpo-3138)
https://github.com/python/cpython/commit/ace1ecc00b35a8b1dc6e352d547dde07913017bb

[2017-09-13 20:54] vstinner commented on #75605
Hum, the test passed the following 17 builds.

[2017-09-13 20:56] #75504 closed, assigned to nobody

[2017-09-13 21:02] vstinner commented on #75417
Hum, test_barrier of test_thread failed:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/880/steps/test/logs/stdio

0:02:09 load avg: 2.50 [106/405/1] test_thread failed (env changed) -- running: test_multiprocessing_spawn (63 sec), test_multiprocessing_forkserver (54 sec)

test_barrier (test.test_thread.BarrierTest) ...
(...)
task 8 leaving barrier
task 2 lea

[2017-09-13 21:04] vadmium commented on #74432
FWIW a similar change to the Struct constructor message was also proposed in bpo-19985.

[2017-09-13 21:23] Mariatta opened #75639 "Broken link to Misc/NEWS in What's New page"
BPO | [31458](https://bugs.python.org/issue31458)
--- | :---
Nosy | @Mariatta
PRs | <li>python/cpython#3555</li><li>python/cpython#3560</li><li>python/cpython#3617</li><li>python/cpython#3618</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[cod

[2017-09-13 21:23] Mariatta commented on #75639
In "What's new in Python" page: (https://docs.python.org/3.7/whatsnew/index.html)

The link to [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) is 404.

The text is:
The “Changelog” is a HTML version of the file [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) which contains all nontrivial changes to Python for the current version.

[2017-09-13 21:23] terryjreedy opened #75640 "IDLE: Rename Class Browser as Module Browser"
BPO | [31459](https://bugs.python.org/issue31459)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#3704</li><li>python/cpython#3710</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 21:23] terryjreedy commented on #75640
'ClassBrowser' expanded to a module browser years ago.  Change the name in the menu, multiple places in browser.py, and wherever the class is referenced.

If one clicks the menu entry while not editing a Python file, an Open Module entry box is displayed.  Otherwise the edited module is opened. It would be good if this were.  We have no menu tests at the moment.

[2017-09-13 21:33] terryjreedy opened #75641 "IDLE: Revise ModuleBrowser API"
BPO | [31460](https://bugs.python.org/issue31460)
--- | :---
Nosy | @terryjreedy, @csabella
PRs | <li>python/cpython#3842</li><li>python/cpython#3843</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-09-13 21:33] terryjreedy commented on #75641
The signature of browser.ClassBrowser(to be renamed ModuleBrowser).\_\_init__ is

[code]

flist is only used to access the application root.  Change it to master.  Then text can directly pass the test root.

name and path are the split apart pieces of the module path, minus '.py', which are promptly rejoined, with '.py'.  Callers always start valid path and have to split it and delete '.py' for th

[2017-09-13 21:34] vadmium commented on #75628
.
Isn’t your use of “cmd” similar enough to shell=True? I.e. isn’t that a “cmd” parent process spawning a “waitfor” child? If your 4 s “subprocess.run” call times out, does it kill the “waitfor” process, or leave it running?

Could the “waitfor” process write to stdout or stderr, and should that be captured by your 20 s “communicate” call?

[2017-09-13 21:41] vstinner commented on #75417
Source_ModuleLockAsRLockTests.test_different_thread() of test.test_importlib.test_locks failed:

http://buildbot.python.org/all/builders/x86-64%20El%20Capitan%203.x/builds/758/steps/test/logs/stdio

test_different_thread (test.test_importlib.test_locks.Source_ModuleLockAsRLockTests) ... Warning -- threading_cleanup() failed to cleanup 1 threads (count: 1, dangling: 1)
Dangling thread: \<_MainThrea

[2017-09-13 22:02] terryjreedy opened #75642 "IDLE: Enhance module browser"
BPO | [31461](https://bugs.python.org/issue31461)
--- | :---
Nosy | @terryjreedy, @csabella
Dependencies | <li>bpo-25090: IDLE: remove noisy icons from class (module) browser</li><li>bpo-31459: IDLE: Rename Class Browser as Module Browser</li><li>bpo-31460: IDLE: Revise ModuleBrowser API</li><li>bpo-31552: IDLE: Convert browsers to use ttk.Treeview</li><li>bpo-37902: Add scrolling for IDLE browser

[2017-09-13 22:02] terryjreedy commented on #75642
This is an index issue for keeping track of improvements to IDLE's class browser.  They should mostly (or all?) be done in separate issues and PRs.

Existing issues with patches.  Only the first, a 'must', is recently reviewed.
bpo-1612262  Use 3.7 enhanced pyclbr to show nested classes and functions.
bpo-6171   Obsolete problem but patch may have useful idea.
bpo-20827  Display function arguments

[2017-09-13 22:03] vstinner commented on #75074
Łukasz Langa: "If you're looking at this issue because it still happens to you, you are probably using zipimport. Stop using zipimport."

Hum, do you mean that zipimport also has an issue? Maybe open a new issue?

[2017-09-13 22:18] vstinner commented on #74627
New changeset 860839cc8e0a4a0890418f77c984955697f96828 by Victor Stinner (Miss Islington (bot)) in branch '2.7':
[2.7] bpo-30442: Skips refcount test in test_xml_etree under coverage (GH-1767) (bpo-3549)
https://github.com/python/cpython/commit/860839cc8e0a4a0890418f77c984955697f96828

[2017-09-13 22:30] serhiy-storchaka commented on #75599
New changeset f6e61df01536493f1280cd07639c7ff9bffb2cdc by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31418: Fix an assertion failure in PyErr_WriteUnraisable() in case of an exception with a bad \_\_module__ attribute. (bpo-3539)
https://github.com/python/cpython/commit/f6e61df01536493f1280cd07639c7ff9bffb2cdc

[2017-09-13 22:54] vstinner commented on #75417
New changeset d99e85b9f6422dd5e4f2eb1539368fc4003d4c8b by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31234, socket.create_connection(): Fix ref cycle (GH-3546) (bpo-3552)
https://github.com/python/cpython/commit/d99e85b9f6422dd5e4f2eb1539368fc4003d4c8b

[2017-09-13 22:56] vstinner commented on #75417
New changeset ef323e8d82b07d4e7e4303c360dc32d3de0b3147 by Victor Stinner in branch '3.6':
[3.6] bpo-31234: Fix dangling thread in test_ftp/poplib (bpo-3554)
https://github.com/python/cpython/commit/ef323e8d82b07d4e7e4303c360dc32d3de0b3147

[2017-09-13 23:11] eryksun commented on #75628
I think the problem with leaked handles does warrant a note. It can be a difficult problem to diagnose otherwise.

If communicate() raises subprocess.TimeoutExpired, it can be called again after the caller takes whatever action is necessary to resolve the problem, such as killing a process group as proposed by bpo-5115.

subprocess.run() in the child does time out and raise subprocess.TimeoutExpir

[2017-09-13 23:41] vstinner commented on #75417
New changeset 096ae3373abac2c8b3a26a3fe33cc8bd4cbccd4e by Victor Stinner in branch 'master':
bpo-31234: Try to fix lock_tests warning (bpo-3557)
https://github.com/python/cpython/commit/096ae3373abac2c8b3a26a3fe33cc8bd4cbccd4e

[2017-09-13 23:47] Mariatta commented on #75639
New changeset 1b8f612e1800b6e58472113f4abe8ee7c31f4db7 by Mariatta in branch 'master':
bpo-31458: Update [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) link in What's New page (GH-3555)
https://github.com/python/cpython/commit/1b8f612e1800b6e58472113f4abe8ee7c31f4db7

[2017-09-14 01:48] terryjreedy commented on #75619
Ned, is 3.6.2 tkinter on Mac supposed to work with tcl/tk 8.6.6?

[2017-09-14 02:27] terryjreedy commented on #75619
If your installed Python with the 64/32 Mac installer from python.org, follow the instruction, on the link given, to install Active 8.5.18 and \*not* 8.6.  I believe the issue is that the \_tkinter binary is compiled to work with 8.5, not 8.6.

If you used any other installer, talk with its providers.

[2017-09-14 02:33] zhangyangyu commented on #74432
New changeset c3e97d9d984130d1c2aceedc4dfcd603b3162688 by Xiang Zhang in branch 'master':
bpo-30246: fix several error messages which only mention bytes in struct (bpo-1421)
https://github.com/python/cpython/commit/c3e97d9d984130d1c2aceedc4dfcd603b3162688

[2017-09-14 02:40] Mariatta commented on #75639
New changeset 905e4ef86e86dbf8f28b2f6e45af31a6eea84e10 by Mariatta in branch '3.6':
[3.6] bpo-31458: Update [Misc/NEWS](https://github.com/python/cpython/blob/main/Misc/NEWS) link in What's New page (GH-3555) (GH-3560)
https://github.com/python/cpython/commit/905e4ef86e86dbf8f28b2f6e45af31a6eea84e10

[2017-09-14 03:22] zhangyangyu commented on #74432
New changeset fa82dda1012b406a7091587fc65384ce11528346 by Xiang Zhang in branch '3.6':
[3.6] bpo-30246: fix several error messages which only mention bytes in struct (bpo-3561)
https://github.com/python/cpython/commit/fa82dda1012b406a7091587fc65384ce11528346

[2017-09-14 03:23] #74432 closed, assigned to nobody

[2017-09-14 05:50] serhiy-storchaka opened #75643 "Remove trailing whitespaces"
BPO | [31462](https://bugs.python.org/issue31462)
--- | :---
Nosy | @terryjreedy, @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#3564</li><li>python/cpython#3594</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fi

[2017-09-14 05:50] serhiy-storchaka commented on #75643
Proposed PR removes trailing whitespaces from CPython source files. Some of them were added since the last trailing whitespaces removing. Some text files were omitted in previous trailing whitespaces removings. Now I consider them safe to cleanup.

[2017-09-14 06:25] rhettinger commented on #75622
The example should be modernized to show-off the new \_\_set_name__() part of the descriptor protocol.  Computing the name on-demand is better that relying an optional user entered alternate name and having to store that name for future reference.

[2017-09-14 06:36] benjaminp commented on #75644
This hangs reliably for me on master:

[code]

It looks like test_multiprocessing_fork doesn't clean up some of its subprocesses and then test_subprocess hangs on waitpid(0) forever.

[2017-09-14 06:36] benjaminp opened #75644 "test_multiprocessing_fork hangs test_subprocess"
BPO | [31463](https://bugs.python.org/issue31463)
--- | :---
Nosy | @pitrou, @vstinner, @benjaminp, @hroncok, @pablogsal

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 06:38] serhiy-storchaka commented on #75643
New changeset 13ad3b7a82bf56d803fbe48ee5df6c4b08986c78 by Serhiy Storchaka in branch 'master':
bpo-31462: Remove trailing whitespaces. (bpo-3564)
https://github.com/python/cpython/commit/13ad3b7a82bf56d803fbe48ee5df6c4b08986c78

[2017-09-14 06:39] #75643 closed, assigned to nobody

[2017-09-14 06:41] serhiy-storchaka commented on #75599
New changeset 5dbb28ececdd0382d85b164aaf37bec1ae08036c by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31418: Fix an assertion failure in PyErr_WriteUnraisable() in case of an exception with a bad \_\_module__ attribute. (GH-3539) (bpo-3556)
https://github.com/python/cpython/commit/5dbb28ececdd0382d85b164aaf37bec1ae08036c

[2017-09-14 06:42] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
I have a workaround, and I guess this means there's a bug in the current implementation of stdout/stderr=subprocess.PIPE; if I open my own pipes instead of using subprocess.PIPE everything seems to work (provided I close the pipe before reading from it):

(errPipeR, errPipeW) = os.pipe();
(outPipeR, outPipeW) = os.pipe();

[code]

Now I can read from the "R" pipes with 0 problems (getting the erro

[2017-09-14 06:42] #75599 closed, assigned to nobody

[2017-09-14 06:46] ericsnowcurrently commented on #75585
New changeset 93c92f7d1dbb6e7e472f1d0444c6968858113de2 by Eric Snow in branch 'master':
bpo-31404: Revert "remove modules from Py_InterpreterState (bpo-1638)" (bpo-3565)
https://github.com/python/cpython/commit/93c92f7d1dbb6e7e472f1d0444c6968858113de2

[2017-09-14 07:17] serhiy-storchaka opened #75645 "Remove trailing spaces from Python-ast.h"
BPO | [31464](https://bugs.python.org/issue31464)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#3568</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 07:17] serhiy-storchaka commented on #75645
Proposed PR makes [Parser/asdl_c.py](https://github.com/python/cpython/blob/main/Parser/asdl_c.py) not emitting trailing spaces for blank lines in [Include/Python-ast.h](https://github.com/python/cpython/blob/main/Include/Python-ast.h).

[2017-09-14 07:25] vstinner commented on #75417
test_threading.test_foreign_thread() failed:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Debug%203.x/builds/879/steps/test/logs/stdio

0:08:53 load avg: 1.84 [286/405/1] test_threading failed (env changed) -- running: test_multiprocessing_spawn (51 sec)
(...)
test_dummy_thread_after_fork (test.test_threading.ThreadTests) ... ok
test_enumerate_after_join (test.test_threadin

[2017-09-14 07:27] vstinner commented on #75417
3 more warnings in test_threading on AMD64 FreeBSD 10.x Shared 3.x:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/886/steps/test/logs/stdio

0:03:45 load avg: 4.05 [246/405/1] test_thread failed (env changed)
(...)
test_nt_and_posix_stack_size (test.test_thread.ThreadRunningTests) ... (...)
task 4 done
task 10 done
all tasks done
Warning -- threading_cleanup

[2017-09-14 07:29] vstinner commented on #75417
http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Non-Debug%203.x/builds/881/steps/test/logs/stdio

0:08:05 load avg: 1.58 [288/405/1] test_threading failed (env changed) -- running: test_multiprocessing_spawn (83 sec)
(...)
test_dummy_thread_after_fork (test.test_threading.ThreadTests) ... ok
test_enumerate_after_join (test.test_threading.ThreadTests) ... ok
test_finalize_runnni

[2017-09-14 07:36] ericsnowcurrently commented on #75043
New changeset dae0276bb6bc7281d59fb0b8f1aab31634ee80dc by Eric Snow in branch 'master':
bpo-30860: Fix a refleak. (bpo-3567)
https://github.com/python/cpython/commit/dae0276bb6bc7281d59fb0b8f1aab31634ee80dc

[2017-09-14 07:36] ericsnowcurrently commented on #75601
New changeset dae0276bb6bc7281d59fb0b8f1aab31634ee80dc by Eric Snow in branch 'master':
bpo-30860: Fix a refleak. (bpo-3567)
https://github.com/python/cpython/commit/dae0276bb6bc7281d59fb0b8f1aab31634ee80dc

[2017-09-14 07:53] eryksun commented on #75628
The pipe handles are inherited by waitfor.exe, just as before. You'll find that reading to EOF will block just as it does when using subprocess.PIPE with communicate(). For example:

[code]

The above stderr.read() will return when waitfor.exe either exits or gets terminated.

proc.stdout and proc.stderr are None in this case, so all communicate() can do is write to proc.stdin, if there's input te

[2017-09-14 08:07] scoder commented on #75646
Follow-up to bpo-31336:
The fact that \_PyType_Lookup() does not propagate exceptions leaves some space for ambiguity. If, in a chain of MRO lookups, one would fail and a later one would succeed, is it correct to keep trying? What if the first failure actually failed to see an otherwise existing attribute in that class? We simply can't know because the lookup failed for \*some* reason.

I think, t

[2017-09-14 08:07] scoder opened #75646 "Allow _PyType_Lookup() to raise exceptions"
BPO | [31465](https://bugs.python.org/issue31465)
--- | :---
Nosy | @scoder, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#3616</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 08:09] scoder commented on #75517
One more thing: the fact that the lookup does not propagate exceptions leaves some space for ambiguity. If, in a chain of MRO lookups, one would fail and a later one would succeed, is it correct to keep trying? What if the first failure actually failed to see an otherwise existing attribute in that class? We simply can't know because the lookup failed for \*some* reason.

I think, the only way to

[2017-09-14 09:30] vstinner commented on #75353
I wrote an non-regression test for the Python master branch using the test case attached to https://github.com/libexpat/libexpat/issues/115: [PR 3570](https://github.com/python/cpython/pull/3570).

[2017-09-14 09:37] tiran commented on #75573
Ned, can you take care of macOS? Victor noted that master still builds with 1.0.2k.

[2017-09-14 09:39] vstinner commented on #75573
FYI I wrote a script to get the version of all library copies embedded in CPython:
https://github.com/haypo/misc/blob/master/cpython/external_versions.py

This is how I noticed the OpenSSL version inconsistency.

[2017-09-14 09:48] 524b48e8-68da-4cd2-91d6-5a77cc237cbf opened #75647 "No easy way to change float formatting when subclassing encoder.JSONEncoder"
BPO | [31466](https://bugs.python.org/issue31466)
--- | :---
Nosy | @merwok, @methane, @serhiy-storchaka, @impact27, @sfreilich
PRs | <li>python/cpython#3515</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-14 09:48] 524b48e8-68da-4cd2-91d6-5a77cc237cbf commented on #75647
I want to output floats in ENG format. Working with distance in micrometers, it is a bit annoying to see:
2.5e-5
.0003
instead of
25e-6
300e-6
The solution I found was to redefine `iterencode` but that doesn't feel right.

I would like to see something similar to the "default" function that is easely modified.

[2017-09-14 09:59] vstinner commented on #75417
Oh, test_concurrent_futures.test_exception_with_success() failed on Travis CI :-(

https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.6457

test_exception_with_success (test.test_concurrent_futures.FutureTests) ... Warning -- threading_cleanup() failed to cleanup 1 threads (count: 1, dangling: 2)
Dangling thread: \<Thread(Thread-1, started 4012)\>
Dangling thread: \<_MainThread(MainThrea

[2017-09-14 10:06] c0de0930-f94f-419e-a832-378a5ebc6264 opened #75648 "cElementTree behaves differently compared to ElementTree"
BPO | [31467](https://bugs.python.org/issue31467)
--- | :---
Nosy | @scoder, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 10:06] c0de0930-f94f-419e-a832-378a5ebc6264 commented on #75648
I have started learning python and I see below snippet fails. I do not understand how to fix the issue and assume this might be a bug in multiprocessing library.

I use Python 2.7.12

My python snippet

[code]

elems_saved["1"]=root

/tmp/Python$ cat country_data.xml
\<?xml version="1.0"?\>
\<data\>
    \<country name="Liechtenstein"\>
        \<rank\>1\</rank\>
        \<year\>2008\</year\>

[2017-09-14 10:45] serhiy-storchaka commented on #75648
This error is from cPickle.

[code]

cElementTree.Element is not pickleable in Python 2. And I think it is too later to add this feature in 2.7. The obvious solution -- use Python 3.

[2017-09-14 11:16] c0de0930-f94f-419e-a832-378a5ebc6264 commented on #75648
Thanks for the quick update. It helped us to understand the issue.

We will check of how to proceed further in our implementation.

/ Ravi

[2017-09-14 11:32] c0de0930-f94f-419e-a832-378a5ebc6264 commented on #75648
Just now I have figured out that , in the documentation it was mentioned that cElementTree module is deprecated in Python 3.3 version.

"The xml.etree.ElementTree module implements a simple and efficient API for parsing and creating XML data.

Changed in version 3.3: This module will use a fast implementation whenever available. The xml.etree.cElementTree module is deprecated."

https://docs.pytho

[2017-09-14 11:43] serhiy-storchaka commented on #75648
Use ElementTree. In Python 3 ElementTree is accelerated and cElementTree is a deprecated alias of ElementTree.

[2017-09-14 12:11] serhiy-storchaka commented on #75636
I agree. While these issues are not totally independent (they changes the same code), my issue needs uncommon use of \_\_new__ and \_\_init__, while your issue can be exposed in normal cases.

[2017-09-14 12:12] b94459e3-bd1a-4e1a-be19-bd26a84c63c1 opened #75649 "os.path.samefile fails on windows network drive"
BPO | [31468](https://bugs.python.org/issue31468)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 12:12] b94459e3-bd1a-4e1a-be19-bd26a84c63c1 commented on #75649
On my Windows network drive os.path.samefile() seems to return True regardless of input paths. In my case this results in an error trying to save checkpoints of jupyter notebooks on this drive.
I am using Windows 7, my working directory is located on a network drive that is offline-available (CSC cache).
Tracing this problem back it seems to have something to do with nt.\_getfinalpathname() report

[2017-09-14 12:24] #75648 closed, assigned to nobody

[2017-09-14 13:50] csabella commented on #74963
Sorry I don't have any tests yet.  I've added a few, but it's taking me forever to figure out the bindings for testing the `Double-Button-1` and `B1-Motion`.  I actually have a test for `Double-Button-1` now, but still working on `B1-Motion`.

[2017-09-14 15:12] b079ef3f-9e4f-48a4-9172-5135696a4902 opened #75650 "Running inside docker container from non-root user"
BPO | [31469](https://bugs.python.org/issue31469)
--- | :---
Nosy | @bitdancer, @Cinerar
PRs | <li>python/cpython#3403</li>
Superseder | <li>bpo-10496: Python startup should not require passwd entry</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-09-14 15:12] b079ef3f-9e4f-48a4-9172-5135696a4902 commented on #75650
When i try to run youtube-dl inside docker container from non root user i recieve this error:

failed to import the site module traceback (most recent call last): file "/usr/lib/python3.6/site.py", line 544, in main() file "/usr/lib/python3.6/site.py", line 530, in main known_paths = addusersitepackages(known_paths) file "/usr/lib/python3.6/site.py", line 282, in addusersitepackages user_site = ge

[2017-09-14 15:31] terryjreedy commented on #75643
I plan to backport the idlelib changes.  Do you prefer than I try to include other files (by using cherry-pick) or only do idlelib (probably much easier)?

[2017-09-14 15:33] bitdancer commented on #75650
It sounds like docker is just broken (I would expect unix tools to work in a docker container).  That however is beside the point.

I believe this is a duplicate of bpo-10496, but I don't know why it hasn't been fixed.

[2017-09-14 15:33] #75650 closed, assigned to nobody

[2017-09-14 15:43] vstinner commented on #75417
New changeset 18e95b4176256f100429a806d0455406df98f984 by Victor Stinner in branch 'master':
bpo-31234: Join threads in tests (bpo-3572)
https://github.com/python/cpython/commit/18e95b4176256f100429a806d0455406df98f984

[2017-09-14 15:43] vstinner commented on #75417
New changeset 8dcf22f442320e4c1a5408e67b4c9002ad105f17 by Victor Stinner in branch 'master':
bpo-31234: Join threads in test_hashlib (bpo-3573)
https://github.com/python/cpython/commit/8dcf22f442320e4c1a5408e67b4c9002ad105f17

[2017-09-14 16:31] 74c4563b-ab1c-43d8-9219-30c4eca796bc opened #75651 "Py_Initialize documentation wrong"
BPO | [31470](https://bugs.python.org/issue31470)
--- | :---
Nosy | @jimjjewett, @csabella
Superseder | <li>bpo-32124: Document functions safe to be called before Py_Initialize()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyth

[2017-09-14 16:31] 74c4563b-ab1c-43d8-9219-30c4eca796bc commented on #75651
Per https://docs.python.org/3/c-api/init.html#initializing-and-finalizing-the-interpreter Py_Initialize() "should be called before using any other Python/C API functions; with the exception of Py_SetProgramName(), Py_SetPythonHome() and Py_SetPath()."

(1)  I suspect that should be either Py_Initialize() or Py_InitializeEx().

(2)  Other functions can also be called first.  The ones I notice are:

[2017-09-14 16:38] serhiy-storchaka commented on #75643
Usually we don't backport such kind of changes. And I afraid that cherry-picking would be with many conflicts, because many changes are in new code. The idlelib changes are more harmless, since they are in text files.

[2017-09-14 16:42] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75652 "assertion failure in subprocess.Popen() in case the env arg has a bad keys() method"
BPO | [31471](https://bugs.python.org/issue31471)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3580</li><li>python/cpython#3584</li><li>python/cpython#3595</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[cod

[2017-09-14 16:42] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75652
The following code causes an assertion failure on Windows:
class BadEnv(dict):
    keys = None

[code]

this is because getenvironment() (in [Modules/_winapi.c](https://github.com/python/cpython/blob/main/Modules/_winapi.c)) calls PyMapping_Values()
immediately after calling PyMapping_Keys().
calling PyMapping_Values() ultimately leads to calling \_PyObject_FastCallDict(),
which does 'assert(!PyEr

[2017-09-14 17:22] 005021ec-20fa-489f-9051-91b54863b1e0 commented on #75635
In the 2.7 Tutorial, section 6, modules, where it describes the various syntax for using import.

[2017-09-14 17:24] 005021ec-20fa-489f-9051-91b54863b1e0 commented on #75635
My suggestion was to include this in the 2.7 tutorial, section 6 (modules) where the various syntax is described for import. Most of us don't dig into the reference until we are trying to find something specific. The tutorial is an excellent place to introduce useful but not obvious features of the language.

[2017-09-14 17:25] 6bb191a6-9776-4203-b8ed-6b27322f20c6 opened #75653 ""Emulating callable objects" documentation misleading"
BPO | [31472](https://bugs.python.org/issue31472)
--- | :---
Nosy | @akulakov, @kamilturek

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 17:25] 6bb191a6-9776-4203-b8ed-6b27322f20c6 commented on #75653
The documentation for emulating callable objects with \_\_call__ seems to imply only positional arguments are supported. For instance, it says \_\_call__ is "object.\_\_call__(self[, args…])" and describes:

Called when the instance is “called” as a function; if this method is defined, x(arg1, arg2, ...) is a shorthand for x.\_\_call__(arg1, arg2, ...).

When it should be something like (Not sure

[2017-09-14 17:36] asvetlov commented on #75633
Yuri, it looks like a serious bug.

I expected `success_coro(5)` cancelling but see print out.

[2017-09-14 17:36] zhangyangyu opened #75654 "Debug hooks on memory allocators are not thread safe (serialno variable)"
BPO | [31473](https://bugs.python.org/issue31473)
--- | :---
Nosy | @vstinner, @zhangyangyu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 17:36] zhangyangyu commented on #75654
PyMem_Raw* APIs should be thread safe. But in debug mode, they are not that simple and increment a global variable \*serialno* and the incrementing action is not thread safe.

[2017-09-14 17:37] tiran opened #75655 "[2.7] Fix -Wnonnull and -Wint-in-bool-context warnings"
BPO | [31474](https://bugs.python.org/issue31474)
--- | :---
Nosy | @tiran, @zware
PRs | <li>python/cpython#3581</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 17:37] tiran commented on #75655
GCC 7.1 shows a bunch onf warnings related to -Wnonnull and -Wint-in-bool-context when compiling Python 2.7:

[code]

In file included from [Python/formatter_string.c:17](https://github.com/python/cpython/blob/main/Python/formatter_string.c#L17):0:
[Python/../Objects/stringlib/formatter.h](https://github.com/python/cpython/blob/main/Python/../Objects/stringlib/formatter.h): In function ‘format_flo

[2017-09-14 17:47] bitdancer commented on #75635
I agree that it would seem reasonable to add this to section 6.1 of the tutorial, since it mentions both import statement variants and the modules "global symbol table", which are the two concepts involved in import as.

Would you like to propose a PR?

[2017-09-14 17:48] ba593c8e-8d78-4602-8404-cbe53bdd8f43 opened #75656 "Bug in argparse - not supporting utf8"
BPO | [31475](https://bugs.python.org/issue31475)
--- | :---
Nosy | @bitdancer, @methane, @MojoVampire, @Ali-Razmjoo
PRs | <li>python/cpython#3577</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></det

[2017-09-14 17:48] ba593c8e-8d78-4602-8404-cbe53bdd8f43 commented on #75656
Regarding bpo-3468 discussion, there is the same bug was in argparse (and optparse) which fixed in this PR. utf8 is not supported in argprase module

bpo-3478: https://github.com/python/cpython/pull/3577
current pr: https://github.com/python/cpython/pull/3577

Regards.

[2017-09-14 17:51] bitdancer commented on #75656
As I requested in the PR, please provide a way to reproduce the bug you are reporting.

[2017-09-14 17:51] #75638 closed, assigned to ambv

[2017-09-14 17:56] bitdancer commented on #75656
Note that as far as I know without a reproducer, it is confusing to me to talk about argparse supporting or not supporting utf8.  It deals only with text strings, which are unicode.  Or is this a 2.7 only bug report?  (Although even there it would be a question of unicode support, not utf8).

[2017-09-14 18:22] 2956bcb0-1e2f-4653-8fc5-ababe5896f84 commented on #75619
Problem has been solved after installation of ActiveTcl 8.5.18.0 from ActiveState's web site as per Terry’s recommendations and, then, reinstallation of Python 3.6.2 package from python.org. However, there were many (mis)steps per my ignorance and laziness in between. Thank you very much for all the help!

Noteworthy case notes:

1. The previously installed IDLE 3.6.2 as part of the Python 3.6.2 p

[2017-09-14 18:22] #75619 closed, assigned to nobody

[2017-09-14 18:32] 1st1 commented on #75633
Andrew, looks like it.  You can take a look if you want (I don't have time to work on this right now).

[2017-09-14 18:45] merwok commented on #74282
Well at least two senior core developers :)  See the rationale in bpo-16049 when abc.ABC was first added (with Guido approving that inheritance is nicer for most people).

[2017-09-14 18:55] 005021ec-20fa-489f-9051-91b54863b1e0 commented on #75635
I don't know what a PR is, so I'll let you guys handle it if it is OK with you.

[2017-09-14 19:30] serhiy-storchaka commented on #75652
New changeset 0b3a87ef54a0112b74e8a1d8c6f87d10db4239ab by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31471: Fix assertion failure in subprocess.Popen() on Windows, in case env has a bad keys() method. (bpo-3580)
https://github.com/python/cpython/commit/0b3a87ef54a0112b74e8a1d8c6f87d10db4239ab

[2017-09-14 19:32] serhiy-storchaka commented on #75652
Is this bug reproducible in 2.7?

[2017-09-14 19:50] ba64272d-9789-48f7-9918-6a14aeebdb4d commented on #75657
Ever since Python 3.6.1, trying to open a Python-source library module in IDLE on Windows (10) has not worked properly since the installer has only been providing \*.pyc files. Learning how to use Python has always been easy since it (1) has a great help document, (2) makes it easy to get help() on objects, and (3) allows the source to easily be explored and/or patched. Is there something special

[2017-09-14 19:50] ba64272d-9789-48f7-9918-6a14aeebdb4d opened #75657 "Stdlib source files not installed"
BPO | [31476](https://bugs.python.org/issue31476)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @zware, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 19:56] bitdancer commented on #75635
Well, this is all volunteer work.  Maybe someone else will feel like doing it :)

[2017-09-14 19:56] serhiy-storchaka commented on #75652
New changeset f135f62cfd1529cbb9326e53728a22afd05b6bc3 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31471: Fix assertion failure in subprocess.Popen() on Windows, in case env has a bad keys() method. (GH-3580) (bpo-3584)
https://github.com/python/cpython/commit/f135f62cfd1529cbb9326e53728a22afd05b6bc3

[2017-09-14 19:59] df79943f-4aee-4531-a00d-c6b12816eb70 opened #75658 "IDLE 'strip trailing whitespace' changes multiline strings"
BPO | [31477](https://bugs.python.org/issue31477)
--- | :---
Nosy | @terryjreedy, @mr-nfamous

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 19:59] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #75658
This function is supposed to be purely cosmetic. It just cleans up the junk whitespace commonly left behind when coding. But it could cause a problem when someone expects some string they defined to stay the same value, and then use that function and all of a sudden they have a crazy bug that you wouldn't even know how to find.

[2017-09-14 20:00] serhiy-storchaka commented on #75636
New changeset c8d8e15bfc24abeeaaf3d8be9073276b0c011cdf by Serhiy Storchaka (scoder) in branch 'master':
bpo-31455: Fix an assertion failure in ElementTree.XMLParser(). (bpo-3545)
https://github.com/python/cpython/commit/c8d8e15bfc24abeeaaf3d8be9073276b0c011cdf

[2017-09-14 20:05] vstinner commented on #75417
New changeset b8c7be2c523b012e57915182543d06657161057f by Victor Stinner in branch 'master':
bpo-31234: Join threads in test_threading (bpo-3579)
https://github.com/python/cpython/commit/b8c7be2c523b012e57915182543d06657161057f

[2017-09-14 20:07] vstinner commented on #75417
New changeset ff40ecda73178dfcad24e26240d684356ef20793 by Victor Stinner in branch 'master':
bpo-31234: Add test.support.wait_threads_exit() (bpo-3578)
https://github.com/python/cpython/commit/ff40ecda73178dfcad24e26240d684356ef20793

[2017-09-14 20:33] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75659 "assertion failure in random.seed() in case the seed argument has a bad __abs__() method"
BPO | [31478](https://bugs.python.org/issue31478)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @vedgar, @orenmn
PRs | <li>python/cpython#3596</li><li>python/cpython#3794</li><li>python/cpython#3845</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub f

[2017-09-14 20:33] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75659
The following code causes an assertion failure:
class BadInt(int):
    def \_\_abs__(self):
        return None

[code]

this is because random_seed() (in [Modules/_randommodule.c](https://github.com/python/cpython/blob/main/Modules/_randommodule.c)) assumes that
PyNumber_Absolute() returned an int, and so it passes it to \_PyLong_NumBits(),
which asserts it received an int.

what should we do in

[2017-09-14 21:04] vstinner commented on #75417
New changeset 167cbde50a88ec2a7d26b2cb9891d5e32bdfbfb5 by Victor Stinner in branch 'master':
bpo-31234: Join threads in test_queue (bpo-3586)
https://github.com/python/cpython/commit/167cbde50a88ec2a7d26b2cb9891d5e32bdfbfb5

[2017-09-14 21:22] scoder commented on #75646
I'm working on a PR for this, but after changing all usages and fixing up some error handling here and there, it results in an interpreter crash for me. I'll try to debug it during the next days.

[2017-09-14 21:29] vstinner commented on #74943
Python 3.6 is impacted as well on the same buildbot slave, ARMv7 Ubuntu 3.6:

http://buildbot.python.org/all/builders/ARMv7%20Ubuntu%203.6/builds/736/steps/test/logs/stdio

[2017-09-14 21:33] vstinner opened #75660 "Always reset the signal alarm in tests"
BPO | [31479](https://bugs.python.org/issue31479)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#3588</li><li>python/cpython#7312</li><li>python/cpython#7314</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.

[2017-09-14 21:33] vstinner commented on #75660
While fixing bpo-17085 on Python 2.7 (test_socket: cancel scheduled alarm on test failure), I noticed that not all unit tests currently always reset the signal alarm.

I propose to always use the pattern "try/finally: signal.alarm(0)" to make sure that a test doesn't "leak" a pending fatal signal alarm.

Attached PR fixes the issue.

I don't think that it's worth it to backport the fix, since it o

[2017-09-14 21:40] vstinner commented on #75417
New changeset b9b69003d91c6ea94b890ce24ed25686d30f1428 by Victor Stinner in branch 'master':
bpo-31234: Add support.join_thread() helper (bpo-3587)
https://github.com/python/cpython/commit/b9b69003d91c6ea94b890ce24ed25686d30f1428

[2017-09-14 21:48] terryjreedy opened #75661 "IDLE: disable ZzDummy, revise tests to match"
BPO | [31480](https://bugs.python.org/issue31480)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#3590</li><li>python/cpython#3591</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-14 21:48] terryjreedy commented on #75661
When the zzdummy example-test extension was added as part of bpo-27099, it was enabled in config-extensions.def in order to make tests pass as they were.  This was not intended to be permanent as it adds a menu item that changes the current file and a user-modifiable event-key pair to the keys list on the config dialog keys page.

Disable it by default (in config-extensions.def) and fix the tests

[2017-09-14 21:48] vstinner commented on #75043
New changeset ccb3c7654cc3d031fb93bf443a6ef9cfb11f6b43 by Victor Stinner in branch 'master':
bpo-30860: Fix deadcode in obmalloc.c (bpo-3499)
https://github.com/python/cpython/commit/ccb3c7654cc3d031fb93bf443a6ef9cfb11f6b43

[2017-09-14 21:54] merwok commented on #75311
New changeset 6a396c9807b1674a24e240731f18e20de97117a5 by Éric Araujo (Feanil Patel) in branch 'master':
bpo-31128: Allow pydoc to bind to arbitrary hostnames (bpo-3011)
https://github.com/python/cpython/commit/6a396c9807b1674a24e240731f18e20de97117a5

[2017-09-14 21:55] merwok commented on #75311
Merged, thanks!

[2017-09-14 21:55] #75311 closed, assigned to merwok

[2017-09-14 22:38] terryjreedy commented on #74271
Raymond, may someone else merge this?  I will add a blurb.

[2017-09-14 22:44] Mariatta commented on #75639
Reopening since @merwok has some concern that [Misc/NEWS.d](https://github.com/python/cpython/blob/main/Misc/NEWS.d) is just a big directory with a lot of rst files.

reference https://github.com/python/cpython/pull/3555#pullrequestreview-62899457

[2017-09-14 22:51] terryjreedy commented on #75661
New changeset d384a81f557dab0b142bfcc9850bc68df46496ef by Terry Jan Reedy in branch 'master':
bpo-31480: IDLE - fix tests to pass with zzdummy extension disabled. (bpo-3590)
https://github.com/python/cpython/commit/d384a81f557dab0b142bfcc9850bc68df46496ef

[2017-09-14 22:59] serhiy-storchaka commented on #75660
Maybe add a context manager? Some pattern is repeated multiple times.

[2017-09-14 23:13] serhiy-storchaka commented on #75636
New changeset 49caab46f687eb201898fb6c2c40d47bdcb0e58b by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31455: Fix an assertion failure in ElementTree.XMLParser(). (GH-3545) (bpo-3585)
https://github.com/python/cpython/commit/49caab46f687eb201898fb6c2c40d47bdcb0e58b

[2017-09-14 23:42] csabella commented on #74963
I've submitted a PR for the tests that I added to complete coverage for Keys and Highlights and to add some GUI tests for the buttons.  It's not everything that I wanted to do, but it ended up being more substantial than I realized.

Here's the issue I was having with testing `Double-Button-1` and `B1-Motion`.  After the first ButtonPress and ButtonRelease, the second (or later) event-generate alw

[2017-09-14 23:57] #75043 closed, assigned to ericsnowcurrently

[2017-09-15 00:34] terryjreedy commented on #75661
New changeset 7b62416d86dce368470c5d1acbb55295a23d87f8 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31480: IDLE - fix tests to pass with zzdummy extension disabled. (GH-3590) (bpo-3591)
https://github.com/python/cpython/commit/7b62416d86dce368470c5d1acbb55295a23d87f8

[2017-09-15 00:35] #75661 closed, assigned to terryjreedy

[2017-09-15 01:13] warsaw commented on #75519
New changeset b2e5794870eb4728ddfaafc0f79a40299576434f by Barry Warsaw in branch 'master':
bpo-31338 (bpo-3374)
https://github.com/python/cpython/commit/b2e5794870eb4728ddfaafc0f79a40299576434f

[2017-09-15 01:13] #75519 closed, assigned to warsaw

[2017-09-15 02:01] rhettinger commented on #75659
It would make sense to verify that an actual int was returned and to raise a TypeError if it wasn't.

Do you want to submit a PR (with a test case)?

[2017-09-15 02:52] terryjreedy commented on #75643
New changeset 93d5f91fff5740b463980797a04f3d5f1d5f1a51 by Terry Jan Reedy in branch '3.6':
[3.6] bpo-31462: IDLE - remove trailing whitespaces (GH-3564) (bpo-3594)
https://github.com/python/cpython/commit/93d5f91fff5740b463980797a04f3d5f1d5f1a51

[2017-09-15 03:28] benjaminp commented on #75645
New changeset 5d84cb368c0c3e475c25171c302068c4dfc3e396 by Benjamin Peterson (Serhiy Storchaka) in branch 'master':
bpo-31464: asdl_c.py no longer emits trailing spaces in Python-ast.h. (bpo-3568)
https://github.com/python/cpython/commit/5d84cb368c0c3e475c25171c302068c4dfc3e396

[2017-09-15 04:53] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75652
in 2.7 getenvironment() is in [PC/_subprocess.c](https://github.com/python/cpython/blob/main/PC/_subprocess.c), and it also calls PyMapping_Values()
immediately after calling PyMapping_Keys().
however, \_PyObject_FastCallDict() doesn't exist here.
in case of an error in both PyMapping_Keys() and PyMapping_Values(), the
error in PyMapping_Values() just overwrites the error in PyMapping_Keys().

but

[2017-09-15 05:02] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75659
sure.
but what about the TypeError message? should it complain about
the return value of abs(seed)? (the docs of random.seed don't mention abs().)

[2017-09-15 05:40] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #74282
Well, actually, Raymond was proposing an alternative to Py2's special \_\_metaclass__ attribute assignment syntax, which honestly \_is_ an abomination (and the big part of reason why that was changed in Py3 to a keyword argument in a class definition).

And Guido missed the point that in frameworks such as Django, the inheritance is the main thing people want, metaclasses just being a technical im

[2017-09-15 05:51] #75645 closed, assigned to nobody

[2017-09-15 06:08] serhiy-storchaka commented on #75659
There are several ways of solving this issue:

1. Verify that an actual int was returned and raise a TypeError if it wasn't.

2. Verify that an actual int was returned and fall back to the hash if it wasn't.

3. Use int.\_\_abs__() instead of abs(), the result will be guaranteed int. The drawback is that this makes a copy of positive integers for int subclasses.

4. Check the sign of the seed and

[2017-09-15 06:10] serhiy-storchaka commented on #75652
Then I think it is worth to backport the fix to 2.7.

[2017-09-15 06:31] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75652
OK.
but there isn't an assertion failure to test in 2.7, so is adding a test
still relevant?

[2017-09-15 06:49] serhiy-storchaka commented on #75652
It's on you.

[2017-09-15 07:20] serhiy-storchaka commented on #75652
New changeset c7f165fe652651c32833245fc902c790a4f173fa by Serhiy Storchaka (Oren Milman) in branch '2.7':
[2.7] bpo-31471: Fix assertion failure in subprocess.Popen() on Windows, in case env has a bad keys() method. (GH-3580) (bpo-3595)
https://github.com/python/cpython/commit/c7f165fe652651c32833245fc902c790a4f173fa

[2017-09-15 07:21] serhiy-storchaka commented on #75652
Thanks Oren!

[2017-09-15 07:21] #75652 closed, assigned to nobody

[2017-09-15 07:32] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
I'm really sorry, you are 100% correct: it blocks on the pipe (my tests killed the process tree before reading from the pipes).
Still, I think there should be a way to actually read the output also in this case... works for me when I kill the whole process stack.

[2017-09-15 09:35] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75659
i opened a PR that implements the first option, but of course I wouldn't
mind if you decide another option is better.

[2017-09-15 11:22] 43a930ce-92ff-472e-b021-f9644eabb63f commented on #75633
I hit the same thing. Also there is a PR patch

[2017-09-15 11:33] b3462b1b-fb9a-4f0b-90fe-22aa9479bcae opened #75662 "telnetlib fails to read continous large output from Windows Telnet Server"
BPO | [31481](https://bugs.python.org/issue31481)
--- | :---
Nosy | @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-15 11:33] b3462b1b-fb9a-4f0b-90fe-22aa9479bcae commented on #75662
telnetlib fails to read large output from Windows Telnet Server. the issue can be reproduced by remotely running a dummy infinite loop that prints out sample text to the console

[2017-09-15 11:46] vstinner commented on #75417
Buildbots want my death :-( They never stop failing. Yet another random warning considered as an error:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Non-Debug%203.x/builds/896/steps/test/logs/stdio

Run tests in parallel using 2 child processes
(...)
0:07:33 load avg: 1.17 [285/405/1] test_threading failed (env changed)
(...)
test_init_immutable_default_args (test.test_thre

[2017-09-15 12:10] serhiy-storchaka opened #75663 "random.seed() doesn't work with bytes and version=1"
BPO | [31482](https://bugs.python.org/issue31482)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @Mariatta
PRs | <li>python/cpython#3614</li><li>python/cpython#3629</li><li>python/cpython#3659</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-09-15 12:10] serhiy-storchaka commented on #75663
The behavior of random.seed() with bytes and version=1 is specially documented. But actually it doesn't work.

[code]

[2017-09-15 12:37] vstinner commented on #75417
New changeset da3e5cf961f9bcc4bb376386cfe7a2865325086c by Victor Stinner in branch 'master':
bpo-31234: Join timers in test_threading (bpo-3598)
https://github.com/python/cpython/commit/da3e5cf961f9bcc4bb376386cfe7a2865325086c

[2017-09-15 12:39] vstinner commented on #75417
Oh, one change of the commit b9b69003d91c6ea94b890ce24ed25686d30f1428 introduced a regression x86 Gentoo Refleaks 3.x. It seems like 5 seconds is not enough on this slow buildbot.

http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.x/builds/93/steps/test/logs/stdio

[code]

[2017-09-15 12:52] 72724224-ee61-4dc4-afbf-01a114cb0949 commented on #75450
Hi,

any news on this issue? We are facing this one as well and looking forward for a fix/solution.

Cheers,

Matthis Schmidt

[2017-09-15 12:57] terryjreedy commented on #75619
Glad it is working and thanks for the detail notes.

Ned, is there anything we should change on the web page?  Perhaps emphasize more not to upgrade to tcl/tk 8.6?  Is it usual to have to re-install python?

Alper, please do not revert headers after a core dev has changed them.  This was never about IDLE, except insofar as IDLE is a victim of the problem.  IDLE is a tkinter program and you could h

[2017-09-15 13:17] 3b68904d-afd7-4ef0-bf3e-8ce7b15285f5 commented on #75664
On my version of python 3.6.1 (v3.6.1:69c0db5, Mar 21 2017, 18:41:36) [MSC v.1900 64 bit (AMD64)]

As well as on 3.6.2 for some other users I have spoken to there seams to be an issue with the event for pressing the mouse button down.

The event \<Button-1\> or \<ButtonPress-1\> do not fire when the mouse button is pressed but rather when the mouse button is released.

The following example code w

[2017-09-15 13:17] 3b68904d-afd7-4ef0-bf3e-8ce7b15285f5 opened #75664 "ButtonPress event not firing until button release Python 3.6.1"
BPO | [31483](https://bugs.python.org/issue31483)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @Bacon-Tech

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-15 13:18] 3b68904d-afd7-4ef0-bf3e-8ce7b15285f5 commented on #75664
OS Version - Windows 7 Pro

[2017-09-15 13:29] serhiy-storchaka commented on #75665
Single-character strings in the Latin1 range (U+0000 - U+00FF) are shared in CPython. This saves memory and CPU time of per-character processing of strings containing ASCII characters and characters from Latin based alphabets. But the users of languages that use non-Latin based alphabets are not so lucky. Proposed PR adds a cache for characters in BMP (U+0100 - U+FFFF) which covers most alphabetic

[2017-09-15 13:29] serhiy-storchaka opened #75665 "Cache single-character strings outside of the Latin1 range"
BPO | [31484](https://bugs.python.org/issue31484)
--- | :---
Nosy | @malemburg, @terryjreedy, @pitrou, @vstinner, @benjaminp, @ezio-melotti, @methane, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#3600</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-09-15 13:50] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
can I at least change the call to:

[code]

in any way to avoid the problem?
I tried with stdin=subprocess.DEVNULL,stdout=subprocess.DEVNULL,stderr=subprocess.DEVNULL; also with close_fds=True, but nothing changes...

[2017-09-15 13:55] vstinner commented on #75417
New changeset 11f0807a407551d498bb6bd8cc932636f75f1cd7 by Victor Stinner in branch 'master':
bpo-31234: test_multiprocessing: wait 30 seconds (bpo-3599)
https://github.com/python/cpython/commit/11f0807a407551d498bb6bd8cc932636f75f1cd7

[2017-09-15 13:57] 2ef01535-b470-4c17-b590-e6661f445174 opened #75666 "Tkinter widget.unbind(sequence, funcid) unbind all bindings"
BPO | [31485](https://bugs.python.org/issue31485)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @j4321, @GiovaLomba
PRs | <li>python/cpython#17954</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-09-15 13:57] 2ef01535-b470-4c17-b590-e6661f445174 commented on #75666
I am using python 3.6.2 with tk 8.6.7 in Linux and when I call widget.unbind(\<Sequence\>, funcid), it unbinds all bindings for \<Sequence\>, while I would expect it to unbind only funcid. Here is an example reproducing the problem:

[code]

In this example, clicking on one of the buttons unbinds both bindings instead of only one.

[2017-09-15 14:32] vstinner commented on #75450
threading.Timer is implemented with threading.Event.wait(timeout) which is implemented with threading.Condition.wait(timeout).

threading.Condition.wait(timeout) creates a lock called "waiter" and uses it to implement the wait:

[code]

So at the end of the chain, you find a lock created by \_thread.allocate_lock() and the Lock.acquire(True, timeout) call.

At the C level, a lock is created by PyT

[2017-09-15 14:37] 2ef01535-b470-4c17-b590-e6661f445174 commented on #75666
I have found a workaround to unbind a single binding (inspired by https://mail.python.org/pipermail/tkinter-discuss/2012-May/003151.html):

[code]

[2017-09-15 14:54] vstinner commented on #75450
See also bpo-12822: "NewGIL should use CLOCK_MONOTONIC if possible".

[2017-09-15 16:04] vstinner commented on #75199
Using git bisect, I identified that Sphinx started to fail since the commit 12536bd261ba95cd2748f3d7d47768742a6ffa7a which comes from bpo-30775.

I reported the bug to Sphinx:
https://github.com/sphinx-doc/sphinx/issues/4061

[2017-09-15 16:04] vstinner commented on #74958
The Python 2.7 change caused a regression in Sphinx: bpo-31016.

[2017-09-15 16:21] serhiy-storchaka commented on #75666
Tk do not provide a way of unbinding a specific command. It supports binding a script with replacing an existing binding, appending a script to an existing binding, and destroying an existing binding. Unbinding a specific command can be implemented in Python with a code similar to your example, but more complex due to taking to account different corner cases.

Do you want to write a patch and open

[2017-09-15 16:25] serhiy-storchaka commented on #74102
New changeset da67e0d644bd3185efdaa4d15cc2ac0828ca83f9 by Serhiy Storchaka (Michael Seifert) in branch 'master':
bpo-29916: Include PyGetSetDef in C API extension documentation. (#831)
https://github.com/python/cpython/commit/da67e0d644bd3185efdaa4d15cc2ac0828ca83f9

[2017-09-15 16:27] ilevkivskyi commented on #74152
This is now fixed (to a reasonable extent) by https://github.com/python/cpython/commit/f350a268a7071ce7d7a5bb86a9b1229782d4963b on master, and backported to 3.6.

[2017-09-15 16:27] #74152 closed, assigned to nobody

[2017-09-15 16:29] vstinner commented on #74566
Sadly, I didn't see the bug again since I report it. So I close the bug :-(

[2017-09-15 16:29] #74566 closed, assigned to nobody

[2017-09-15 16:32] vstinner commented on #74576
I modified the socketserver module so server_close() now waits until all spawned threads or processes completed. It should help to avoid such random failure.

Modifying server_close() default behaviour in Python 2.7 or 3.6 is not possible, so maybe we need to modify test_socketserver to use a private API to wait for threads/processes?

[2017-09-15 16:33] vstinner commented on #74833
I didn't see this error recently, so I close it. It seems like a random network issue :-/

[2017-09-15 16:33] #74833 closed, assigned to nobody

[2017-09-15 16:35] vstinner commented on #74843
Custom builders are rarely used. The work on upgrading our buildbots to 0.9 is in progress but moves slowly (sadly, Zach failed to finish this task at the CPython sprint last week). I close the issue, even if it's not done, just because I didn't get any such email last month.

If email notifications related to custom builders start to annoy me again, I will open an issue in the CPython buildbot co

[2017-09-15 16:35] #74843 closed, assigned to nobody

[2017-09-15 16:36] vstinner commented on #74961
I didn't see this failure last month, so I close the issue.

[2017-09-15 16:36] #74961 closed, assigned to nobody

[2017-09-15 16:37] vstinner commented on #75031
I didn't see this failure last month. I hope that my work on threads cleanup will reduce the risk of such bug: bpo-31234. I close the issue.

[2017-09-15 16:37] #75031 closed, assigned to nobody

[2017-09-15 16:38] vstinner commented on #75049
I added the function to the master branch.

I changed my mind. I now consider that the function is no needed in other branches. It can be added manually if someone needs it.

[2017-09-15 16:38] #75049 closed, assigned to nobody

[2017-09-15 16:39] vstinner commented on #75191
I didn't see the failure recently, it seems like my fix was enough.

[2017-09-15 16:39] #75191 closed, assigned to nobody

[2017-09-15 16:40] vstinner commented on #75252
I continued the effort to fix all "dangling threads/processes" in bpo-31234, so I close this issue.

[2017-09-15 16:40] #75252 closed, assigned to nobody

[2017-09-15 16:40] terryjreedy commented on #75658
The current behavior of IDLE's feature is standard, not a bug.  The cpython respository does not currently accept .py, .c, or .rst files with any trailing whitespace.  \<pythondir\>/tools/scripts/patchcheck.py strips trailing whitespace from all lines.  Notepad++, a widely used multi-language Windows programmer's editor, does the same.

[code]

I am revising the doc to make the rstring behavior cl

[2017-09-15 16:42] vstinner commented on #75557
I merged this issue with bpo-31180.

[2017-09-15 16:42] vstinner commented on #75363
bpo-31376 has been marked as duplicate of this issue:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/818/steps/test/logs/stdio

0:08:27 load avg: 2.79 [403/407] test_strtod passed -- running: test_multiprocessing_spawn (244 sec)
0:08:27 load avg: 2.79 [404/407] test_syslog passed -- running: test_multiprocessing_spawn (244 sec)
0:08:28 load avg: 2.79 [405/407

[2017-09-15 16:43] vstinner commented on #75363
Maybe my work on fixing all "dangling threads and processes" will help to prevent such random hang? See bpo-31234.

[2017-09-15 17:21] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75667 "calling a _json.Encoder object raises a SystemError in case obj.items() returned a tuple"
BPO | [31486](https://bugs.python.org/issue31486)
--- | :---
Nosy | @rhettinger, @berkerpeksag, @serhiy-storchaka, @orenmn, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-15 17:21] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75667
the following code causes a SystemError:

[code]

this is because encoder_call() (in [Modules/_json.c](https://github.com/python/cpython/blob/main/Modules/_json.c)) passes the 'obj' argument
so that eventually encoder_listencode_dict() calls PyMapping_Items() on it.
encoder_listencode_dict() assumes that PyMapping_Items() returned a list, and
passes it to PyList_Sort().

ISTM that subclassing dict

[2017-09-15 17:34] Mariatta opened #75668 "Improve f-strings documentation wrt format specifiers"
BPO | [31487](https://bugs.python.org/issue31487)
--- | :---
Nosy | @ericvsmith, @vadmium, @Mariatta
PRs | <li>python/cpython#3604</li><li>python/cpython#3619</li><li>python/cpython#3627</li><li>python/cpython#3628</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><

[2017-09-15 17:34] Mariatta commented on #75668
Provide a couple more examples of using format specifiers in f-string.

[2017-09-15 17:41] terryjreedy commented on #75603
Not showing shortcuts is not a bug in the strick sense used on the tracker.  Please be more specific about what it is that is not working.

[2017-09-15 18:03] eryksun commented on #75628
As I said previously, you also need to make the current standard handles non-inheritable. Pending bpo-19764, in 3.7 you'll be able to override stdin, stdout, and stderr with the default close_fds=True. Currently overriding them implicitly sets close_fds=False, in which case you need to manually ensure that the current standard handles (i.e. the pipe handles) can't be inherited. For example:

[code

[2017-09-15 18:03] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75603
Hello,

I can't be more specific.

The problem is that the tkinter.messagebox windows (askokcancel, askyesno, showerror, showinfo, etc.) default buttons (Ok, Cancel, Yes, No, etc.) don't show the default keyboard shortcuts/accelerators.
I believe they should. Is it an incorrect assumpption?

Thanks,

JM

[2017-09-15 18:05] terryjreedy commented on #75657
IDLE's class browser is based on stdlib's pyclbr, which processes source.py files.  I have no idea how you install python to not get source files, as source is the default option with the PSF installer.  In any case, this is an install issue, not an IDLE issue.

Since you are asking for the standard behavior, I suspect you must be using an alternate .pyc-only installer. I am therefore inclined to

[2017-09-15 18:15] merwok commented on #74282
Keyword arguments in a class definition are supported: https://www.python.org/dev/peps/pep-3115/#specification

Anyway, this ticket is closed, a mailing list such as python-ideas would be a better venue to discuss base classes vs metaclasses in a general way.

[2017-09-15 18:26] tiran commented on #75567
New changeset 4df60f18c64ba2835e68bf3eed08d8002a00f4ac by Christian Heimes in branch 'master':
bpo-31386: Custom wrap_bio and wrap_socket type (bpo-3426)
https://github.com/python/cpython/commit/4df60f18c64ba2835e68bf3eed08d8002a00f4ac

[2017-09-15 18:27] tiran commented on #75655
New changeset fd39e2a6845f33a74fbb0671c434c0d84a5ec2f3 by Christian Heimes in branch '2.7':
bpo-31474: Fix -Wint-in-bool-context warnings (bpo-3581)
https://github.com/python/cpython/commit/fd39e2a6845f33a74fbb0671c434c0d84a5ec2f3

[2017-09-15 18:27] tiran commented on #75527
New changeset a170fa162dc03f0a014373349e548954fff2e567 by Christian Heimes in branch 'master':
bpo-31346: Use PROTOCOL_TLS_CLIENT/SERVER (bpo-3058)
https://github.com/python/cpython/commit/a170fa162dc03f0a014373349e548954fff2e567

[2017-09-15 18:30] tiran commented on #75612
New changeset e82c034496512139e9ea3f68ceda86c04bc7baab by Christian Heimes in branch 'master':
bpo-31431: SSLContext.check_hostname auto-sets CERT_REQUIRED (bpo-3531)
https://github.com/python/cpython/commit/e82c034496512139e9ea3f68ceda86c04bc7baab

[2017-09-15 18:30] #75612 closed, assigned to tiran

[2017-09-15 18:34] terryjreedy commented on #75664
I cannot reproduce the claimed bug on Win 10, 2.7.13 and 3.6.2, 64 bit amd versions.  Running the code above from console or IDLE, I see no difference.  Button press selects item, add blue background.  Release changes nothing.

Here is a minimal demo that runs on both 2 and 3.

try:
    import tkinter as tk
    from tkinter import ttk
except:
    import Tkinter as tk
    import ttk

[code]

Button

[2017-09-15 18:53] serhiy-storchaka commented on #75667
Oh, I was aware of this issue for long time, but didn't have good opportunity for fixing it. And yes, making PyMapping_Items() (and friends) always returning a list looks like a reasonable option to me. This could fix similar bugs in third-party extensions. In Python 2 PyMapping_Items() is documented as returning a list, but actually it can return an arbitrary type. Authors of extensions could be

[2017-09-15 19:04] ba64272d-9789-48f7-9918-6a14aeebdb4d commented on #75657
The URL for the installer that was used last is:

https://www.python.org/ftp/python/3.6.2/python-3.6.2-amd64-webinstall.exe

[2017-09-15 19:47] terryjreedy commented on #75666
The unbind docstring, "Unbind for this widget for event SEQUENCE the
function identified with FUNCID" implies to me the behavior Juliette expected.  The NMT reference unpacks this to two sentences.  Reading the code
        self.tk.call('bind', self.\_w, sequence, '')
        if funcid:
            self.deletecommand(funcid)

the docstring should be something like "Unbind for this widget the event

[2017-09-15 19:55] terryjreedy commented on #75665
Are the timings for normal builds, with, as I understand things, asserts turned off?

[2017-09-15 20:28] 5b5bedd5-1001-4bec-bd8a-0ddc19308ce0 commented on #75635
The offending file is here: https://github.com/python/cpython/blob/master/Doc/tutorial/modules.rst

Read the developer's guide to learn how to submit your changes to python. https://devguide.python.org/

[2017-09-15 20:31] serhiy-storchaka commented on #75665
Yes, of course. There is not much sense to benchmark a debug build. Tested code is many times slower in debug builds due to complex consistency checking.

[2017-09-15 20:49] serhiy-storchaka commented on #75666
I don't think a new method is needed. We can make unbind() destroying all bindings if FUNCID is not given (note that registered commands are leaked in this case), and only the specified command if it is specified. We can add a boolean parameter (similar to the one in bind()) for restoring the old behavior if this is needed.

[2017-09-15 20:53] terryjreedy commented on #75665
I looked at the Gutenburg samples.  The first has a short intro with some English, then is pure Greek.  The patch is clearly good for anyone using mostly a single block alphabetic language.

The second is Chinese, not hieroglyphs (ancient Egyptian).  A slowdown for ancient Egyptian is irrelevant; a slowdown for Chinese is undesirable.  Japanese mostly uses about 2000 Chinese chars, the Chinses mor

[2017-09-15 20:59] Mariatta commented on #75635
I might know an aspiring contributor who can work on this. Assigning to myself.

[2017-09-15 21:58] #75658 closed, assigned to terryjreedy

[2017-09-15 22:32] serhiy-storchaka commented on #75665
Sorry for using the word hieroglyphs for Chinese characters. I didn't know how they are named in English.

Limiting the caching to U+31BF doesn't have effect. But increasing the cache size to 2 x 512 slots makes the iteration of Chinese text faster by around 20%. Following size duplications increase the speed by additional 15-25%. The limit is 75-80%. This doesn't affect Greek.

[2017-09-15 22:51] #75585 closed, assigned to ericsnowcurrently

[2017-09-15 23:05] ezio-melotti commented on #75665
The Greek sample includes 155 unique characters (including whitespace, punctuation, and the english characters at the beginning), so they can all fit in the cache.
The Chinese sample however includes 3695 unique characters (all within the BMP), probably causing a lot more misses in the cache and a slowdown caused by the overhead.
The Chinese text you used for the test is also from some 700 years a

[2017-09-15 23:55] vstinner commented on #75417
New changeset 2c1c2ca2548f943d6323859f17612aa5a4a19165 by Victor Stinner in branch '3.6':
[3.6] bpo-31234: Join threads in tests (bpo-3589)
https://github.com/python/cpython/commit/2c1c2ca2548f943d6323859f17612aa5a4a19165

[2017-09-16 00:44] merwok commented on #75647
Hello and thanks for the patch!  If you don’t get feedback, you could try the python-ideas mailing list to see if other people have the same need and if there’s already a solution for this.

Serhiy, would you mind refreshing my memory about json development?  I’m not sure whether it’s still supposed to follow the development of simplejson, or if it’s effectively a fork now.

[2017-09-16 01:25] vstinner commented on #74414
Microbenchmark on Fedora 26 for https://github.com/python/cpython/pull/1385

Working directly uses ext4, the filesystem operations are likely cached in memory, so syscalls should be very fast.

[code]

Microbenchmark using a btrfs filesystem mounted on NFS over wifi: not significant!

[code]

Note: open().close() is 1000x slower over NFS!

According to strace, on NFS, open() and close() are slow,

[2017-09-16 01:28] #74414 closed, assigned to nobody

[2017-09-16 03:40] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #75659
So floats (and complexes) cannot be seeds anymore? :-o Or this pertains only to ints? In this case, I think the easiest doc fix is to change

If a is an int, it is used directly.

to

If a is an int, its absolute value is used.

[2017-09-16 04:16] terryjreedy commented on #75669
For this issue, a 'feature class' is a non-extension class with options configured on the config dialog.  Currently there are 4 such classes, which were extension classes before conversion by bpo-27099.

Currently, an extension class option takes effect either when IDLE is restarted and the module reads the value, or when a new instance is created and the instance reads the value.  There is curren

[2017-09-16 04:16] terryjreedy opened #75669 "IDLE: Update feature classes when options are changed."
BPO | [31488](https://bugs.python.org/issue31488)
--- | :---
Nosy | @terryjreedy, @csabella
PRs | <li>python/cpython#3612</li><li>python/cpython#3613</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-09-16 05:25] 8261aa84-e702-455d-ad8f-b513a205490a opened #75670 "Signal delivered to a subprocess triggers parent's handler"
BPO | [31489](https://bugs.python.org/issue31489)
--- | :---
Nosy | @pitrou, @njsmith, @1st1, @Kentzo

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-16 05:25] 8261aa84-e702-455d-ad8f-b513a205490a commented on #75670
It looks like a signal delivered to multiprocessing's process implicitly created by ProcessPoolExecutor triggers signal handler in the parent:

[code]

1. Normal execution:

2. Sending SIGTERM to parent once:

\< kill -s SIGTERM 9999

3. Sending SIGTERM to parent twice:

\< kill -s SIGTERM 1000

\< kill -s SIGTERM 1000

4. Sending SIGTERM to once to parent and once to child:

\< kill -s SIGTERM 10

[2017-09-16 05:31] benjaminp commented on #75199
This seems like a bug, or least poor design, in Sphinx. It tries to read from pipes from processes that it knows are already dead (because it joined them!).

[2017-09-16 05:37] 8261aa84-e702-455d-ad8f-b513a205490a commented on #75670
I think either loop's signal handler should not be called from a subprocess or at the very least, os.getpid / os.getpgrp should report correctly.

[2017-09-16 05:42] terryjreedy commented on #75669
New changeset 5777ecc438790f3d324d52f2ccdad56e667e0cb3 by Terry Jan Reedy in branch 'master':
bpo-31488: IDLE - update former extensions when options change. (bpo-3612)
https://github.com/python/cpython/commit/5777ecc438790f3d324d52f2ccdad56e667e0cb3

[2017-09-16 06:14] terryjreedy commented on #75669
New changeset 77b52e463ab9f8bea7703ff9c03c06b3ec889db7 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31488: IDLE - update former extensions when options change. (GH-3612) (bpo-3613)
https://github.com/python/cpython/commit/77b52e463ab9f8bea7703ff9c03c06b3ec889db7

[2017-09-16 06:56] serhiy-storchaka commented on #75365
The command-line interface of zipfile and tarfile modules was deliberately kept simple. If you need more complex functionality, just write a script. Python is a programming language!

This is a work for a shell. Interpreting wildcards by a program breaks compatibility and makes impossible to handle files containing special characters. For example it breaks:

    python3 -m zipfile -c myzip.zip "Th

[2017-09-16 08:14] serhiy-storchaka commented on #75665
Initially I used 2 x 128 slots. It is enough for single block alphabetic languages. But it was caused significant slow down for Chinese. Increasing the size to 2 x 256 compensates the overhead for Chinese and restores the performance. If it is appropriate that the optimization affects only languages with small alphabets and keeps the performance for Chinese, Japan and Korean roughly unchanged (plu

[2017-09-16 09:42] methane commented on #75665
Interesting optimization.  But I don't know how common `for c in s`
or `s[i]` is used for Japanese text.

[2017-09-16 09:57] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75671 "assertion failure in ctypes in case an _anonymous_ attr appears outside _fields_"
BPO | [31490](https://bugs.python.org/issue31490)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3615</li><li>python/cpython#3774</li><li>python/cpython#3780</li><li>python/cpython#3952</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Gi

[2017-09-16 09:57] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75671
The following code causes an assertion failure:
import ctypes
class BadStruct(ctypes.Structure):
    \_fields_ = []
    \_anonymous_ = ['foo']
    foo = None

this is because MakeAnonFields() (in [Modules/_ctypes/stgdict.c](https://github.com/python/cpython/blob/main/Modules/_ctypes/stgdict.c)) goes over the
names specified in \_anonymous_, and looks each name up in the class by calling
PyObject_G

[2017-09-16 11:29] serhiy-storchaka commented on #74102
New changeset 51ea80697b023595cdd79c7696589a04cc581693 by Serhiy Storchaka (Michael Seifert) in branch '3.6':
bpo-29916: Include PyGetSetDef in C API extension documentation. (#831) (bpo-3607)
https://github.com/python/cpython/commit/51ea80697b023595cdd79c7696589a04cc581693

[2017-09-16 11:30] serhiy-storchaka commented on #74102
New changeset 41376241e364e4f84cd14631634604edbd105da0 by Serhiy Storchaka (Michael Seifert) in branch '2.7':
bpo-29916: Include PyGetSetDef in C API extension documentation. (#831) (bpo-3609)
https://github.com/python/cpython/commit/41376241e364e4f84cd14631634604edbd105da0

[2017-09-16 11:35] #74102 closed, assigned to serhiy-storchaka

[2017-09-16 11:36] serhiy-storchaka commented on #74102
Thank you Michael for your contribution.

[2017-09-16 11:48] d39fc50f-b0e1-4101-b3a2-610bbbc7700a opened #75672 "Add is_closing() to asyncio.StreamWriter."
BPO | [31491](https://bugs.python.org/issue31491)
--- | :---
Nosy | @asvetlov, @1st1
Superseder | <li>bpo-32391: Add StreamWriter.wait_closed()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detail

[2017-09-16 11:48] d39fc50f-b0e1-4101-b3a2-610bbbc7700a commented on #75672
asyncio.StreamWriter wraps a transport. The first three document methods of asyncio.BaseTransport are close(), is_closing() and get_extra_info().

It is somewhat surprising that StreamWriter provides close() and get_extra_info() but not is_closing(). I'm proposing that StreamWriter implement is_closing() as well.

It's as simple as:

[code]

Perhaps it was simply missed in https://github.com/pytho

[2017-09-16 11:59] scoder commented on #75646
Test suite passes now. The crash was due to an uninitialised error flag in one case, which lead the C compiler to do incorrect optimisations on undefined behaviour.

[2017-09-16 13:48] tiran commented on #75621
You are right, the path is wrong on Unix-like platforms. It's os.path.join(sys.prefix, 'lib', 'python{major}.{minor}'). But the actual path may depend on the platform, too. I don't recall how Windows sets up the path.

[2017-09-16 13:51] tiran commented on #75621
See site module, especially site.\_get_path()

[code]

    return f'{userbase}/lib/python{version[0]}.{version[1]}/site-packages'

[2017-09-16 14:44] 2956bcb0-1e2f-4653-8fc5-ababe5896f84 commented on #75619
I believe it would be better if IDLE was somehow mentioned in the header. This is partly the reason I failed to recognize that this was a problem encountered before.

new title suggestion: Apple tcl/tk crashes and causes IDLE to quit when caret character typed in IDLE

[2017-09-16 14:46] terryjreedy commented on #75665
[code]

There should be a comment that it must not be 0 and should be a power of 2 at least, say, 256.

[2017-09-16 16:41] terryjreedy commented on #75619
OK.  This is more complete, still succinct enough, and still true.

[2017-09-16 16:55] terryjreedy commented on #75619
The 'all text' is apparently limited to 2 words.  'idle crash caret' in the title box gets this issue and the superseder above.  Move to all-text box and nothing is returned.  Delete 1 of 3 words and get multiple answers.

[2017-09-16 17:35] benjaminp commented on #75199
wontfixing since Sphinx has fixed their code.

[2017-09-16 17:35] #75199 closed, assigned to nobody

[2017-09-16 17:43] Mariatta commented on #75639
New changeset 0ec8c4bd10dcfd8e580628868efdd3df91038898 by Mariatta in branch 'master':
bpo-31458: Clarify that Changelog is built from [Misc/NEWS.d](https://github.com/python/cpython/blob/main/Misc/NEWS.d) directory (GH-3617)
https://github.com/python/cpython/commit/0ec8c4bd10dcfd8e580628868efdd3df91038898

[2017-09-16 18:00] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75673 "assertion failures in case a module has a bad __name__ attribute"
BPO | [31492](https://bugs.python.org/issue31492)
--- | :---
Nosy | @ethanfurman, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3620</li><li>python/cpython#3773</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2017-09-16 18:00] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75673
The following code causes an assertion failure:
import os
os.\_\_name__ = None
os.does_not_exist

this is because module_getattro() (in [Objects/moduleobject.c](https://github.com/python/cpython/blob/main/Objects/moduleobject.c)) assumes that
\_\_name__ is a string, and passes it to PyErr_Format(), which asserts it is a
string.

if we fixed that one (so that the code above would raise an Attribute

[2017-09-16 18:44] Mariatta commented on #75639
New changeset d3cba8175ca48d33a4e0117109a44935a1cec658 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31458: Clarify that Changelog is built from [Misc/NEWS.d](https://github.com/python/cpython/blob/main/Misc/NEWS.d) directory (GH-3617) (GH-3618)
https://github.com/python/cpython/commit/d3cba8175ca48d33a4e0117109a44935a1cec658

[2017-09-16 19:01] Mariatta commented on #75668
New changeset 46c1052404c1a6e4d35af8e96613db8a4be75b52 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31487: Improve f-strings documentation (GH-3604) (GH-3619)
https://github.com/python/cpython/commit/46c1052404c1a6e4d35af8e96613db8a4be75b52

[2017-09-16 19:01] #75668 closed, assigned to nobody

[2017-09-16 19:03] #75639 closed, assigned to nobody

[2017-09-16 20:47] terryjreedy commented on #75674
1. Currently, each instance of codecontext.CodeContext creates 2 root.after loops.  There should be at most two loops for the class, and preferably fewer by using the new reload().

2. The loops are never explicitly shut down.  Since conversion to a feature,  the following appears after running test_idle.

.invalid command name "109891384timer_event"
    while executing
"109891384timer_event"

[2017-09-16 20:47] terryjreedy opened #75674 "IDLE cond context: fix code update and font update timers"
BPO | [31493](https://bugs.python.org/issue31493)
--- | :---
Nosy | @terryjreedy, @csabella
PRs | <li>python/cpython#3622</li><li>python/cpython#3623</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-09-16 20:50] 46242032-1dd7-4e2d-b95b-bb2ff63014fe opened #75675 "Valgrind suppression file"
BPO | [31494](https://bugs.python.org/issue31494)
--- | :---
Nosy | @terryjreedy, @skrah
Files | <li>[valgrind.log](https://bugs.python.org/file47140/valgrind.log "Uploaded as text/x-log at 2017-09-16.20:50:29 by Aaron Michaux")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more deta

[2017-09-16 20:50] 46242032-1dd7-4e2d-b95b-bb2ff63014fe commented on #75675
The file "[Misc/valgrind-python.supp](https://github.com/python/cpython/blob/main/Misc/valgrind-python.supp)" doesn't work on Linux x64, running Python3.5.2, when configured as such:

  --with-pydebug --with-valgrind --without-pymalloc

Running the interpreter

   echo "x = 1; print(x)" | valgrind --tool=memcheck --leak-check=full --track-origins=yes --verbose --log-file=valgrind.log --suppression

[2017-09-16 20:58] 1f7c169c-a6ad-45ae-b614-0d40d962c776 opened #75676 "Wrong offset with IndentationError ("expected an indented block")"
BPO | [31495](https://bugs.python.org/issue31495)
--- | :---
Nosy | @blueyed, @vadmium, @csabella

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-16 20:58] 1f7c169c-a6ad-45ae-b614-0d40d962c776 commented on #75676
Given the following file `t-expected-indent.py`:
[code]

python t-expected-indent.py reports:

[code]

However, it should get reported for column 1 instead of 3.

[2017-09-16 23:11] vadmium commented on #75676
Some relevant info I wrote in bpo-25677:

‘The caret points to the character \_before_ offset. . . . In some cases (e.g. the line “1 +”), the offset is the string index \_after_ the error. But in the case of “1;1 + 1 = 2”, offset is the index where the error (statement) begins.’

In this case it looks like the offset is of the end of the first word on the line that has the wrong indentation. The c

[2017-09-17 04:26] ezio-melotti commented on #75665
How much is this compared to the total usage?

I think the same applies to other languages/scripts too, so this optimization might be moot unless the cache also improves performances of other more common operations (e.g. encoding/decoding).

It would be interesting to see how this affects real-world application: if there are no regressions and the memory overhead is not too much I think we can acc

[2017-09-17 04:56] terryjreedy commented on #75674
New changeset a6bb313c70f8619e6dc4af5cef7d73fa3bbd59ca by Terry Jan Reedy in branch 'master':
bpo-31493: Fix code context update and font update timers. (bpo-3622)
https://github.com/python/cpython/commit/a6bb313c70f8619e6dc4af5cef7d73fa3bbd59ca

[2017-09-17 06:01] terryjreedy commented on #75674
New changeset b417332bf44af93c8acda4b7197181d4b62c16a4 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31493: Fix code context update and font update timers. (GH-3622) (bpo-3623)
https://github.com/python/cpython/commit/b417332bf44af93c8acda4b7197181d4b62c16a4

[2017-09-17 08:05] zhangyangyu commented on #75621
Not sure about Windows. \_get_path() looks to me is used for user site-packages. getsitepackages() doesn't do the same and seems matching the current message, also the OS2 branch in py2. Let's consult Windows guys.

[2017-09-17 10:22] serhiy-storchaka commented on #75665
For Python interpreter VmSize: 31784 kB, VmRSS: 7900 kB.

The cache doesn't affect performance of encode/decode since codecs are written in C. But it affects text processing written in Python. The more complex text processing code the less relative difference.

[code]

In real-word applications I expect hundredths and thousandths fractions of percent. This effect can't be measured in any sane way.

[2017-09-17 10:45] serhiy-storchaka commented on #75671
New changeset 30b61b51e05d2d43e8e2e783b0a9df738535423b by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31490: Fix an assertion failure in ctypes in case an \_anonymous_ attr is defined only outside \_fields_. (bpo-3615)
https://github.com/python/cpython/commit/30b61b51e05d2d43e8e2e783b0a9df738535423b

[2017-09-17 12:55] 9787827c-78cc-4d77-be81-21e7d5656b49 commented on #75624
I'm not sure this is relevant, but I've just made a simple test on Windows (7) with my C extension using { … .tp_new = PyType_GenericNew } and the compiler did not complain (also the code worked as expected)

[2017-09-17 13:12] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
PyType_GenericNew() should be in libpython, so indeed the example in the docs seems a bit odd to me.

[2017-09-17 14:35] #75527 closed, assigned to tiran

[2017-09-17 14:35] #75567 closed, assigned to tiran

[2017-09-17 14:43] Mariatta commented on #75668
New changeset 63c591c0b0b57870a606e8edc59afe6264e7504d by Mariatta in branch 'master':
bpo-31487: Update F-strings doc example (GH-3627)
https://github.com/python/cpython/commit/63c591c0b0b57870a606e8edc59afe6264e7504d

[2017-09-17 14:57] Mariatta commented on #75668
New changeset 4f6bae9677c0e5398e64c503fd3c19cae94567da by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31487: Update F-strings doc example (GH-3627) (GH-3628)
https://github.com/python/cpython/commit/4f6bae9677c0e5398e64c503fd3c19cae94567da

[2017-09-17 15:35] serhiy-storchaka opened #75677 "IDLE: test_configdialog failed"
BPO | [31496](https://bugs.python.org/issue31496)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka
Files | <li>[failure.txt](https://bugs.python.org/file47142/failure.txt "Uploaded as text/plain at 2017-09-17.19:12:11 by @serhiy-storchaka")</li><li>[success.txt](https://bugs.python.org/file47143/success.txt "Uploaded as text/plain at 2017-09-17.19:12:30 by @serhiy-storchaka")</li>

<sup>*Note: th

[2017-09-17 15:35] serhiy-storchaka commented on #75677
[code]

test_idle failed

1 test failed:
    test_idle

Total duration: 2 sec
Tests result: FAILURE

Maybe this is related to HiDPI display.

On 2.7 the test is passed.

[2017-09-17 16:04] rhettinger commented on #75663
New changeset 132a7d7cdbc7cb89fa1c1f4e8192241c3d68f549 by Raymond Hettinger in branch 'master':
bpo-31482:  Missing bytes support for random.seed() version 1 (bpo-3614)
https://github.com/python/cpython/commit/132a7d7cdbc7cb89fa1c1f4e8192241c3d68f549

[2017-09-17 16:10] zhangyangyu commented on #75665
I run the patch against a toy NLP application, cutting words from Shui Hu Zhuan provided by Serhiy. The result is not bad, 6% faster. And I also count the hit rate, 90% hit cell 0， 4.5 hit cell 1, 5.5% miss. I also increase the cache size to 1024 * 2. Although the hit rate increases to 95.4%, 2.1%, 2.4%, it's still 6% difference.

So IMHO this patch could hardly affect that \*much* real-world appl

[2017-09-17 16:25] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75562
Fixed in [PR 3397](https://github.com/python/cpython/pull/3397) (I guess).

[2017-09-17 16:25] #75562 closed, assigned to zooba

[2017-09-17 16:33] serhiy-storchaka opened #75678 "Add _PyType_Name()"
BPO | [31497](https://bugs.python.org/issue31497)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka
PRs | <li>python/cpython#3630</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-17 16:33] serhiy-storchaka commented on #75678
Proposed PR adds a helper function \_PyType_Name() which returns the last component of tp_name after dot. This allows to avoid duplication of the code.

I'm going to use this helper in more places in future for getting rid of hardcoded type names (bpo-27541, bpo-21861).

[2017-09-17 17:06] 1cb85035-97d8-42c3-a287-2706aee5fe65 opened #75679 "Default values for zero in time.strftime()"
BPO | [31498](https://bugs.python.org/issue31498)
--- | :---
Nosy | @brettcannon, @abalkin, @bitdancer, @denis-osipov

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-17 17:06] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
Now default values for zero in time.strftime returns string with day of week value 1:

[code]

while 2000-01-01 is Saturday (=6th day of week).

Now each illegal value (day of month \< 1 etc.) are forced to a correct one (by the way why now day of week isn't 0=Sunday and forced to 1). Maybe strftime also should force day of week to according to the date (%Y %m %d) if it's given.

[code]

[2017-09-17 17:27] scoder commented on #75680
I'm seeing crashes in the latest Py3.7 when I run this test (taken from lxml's compatibility test suite):

[code]

It crashes in expat/xmlparse.c, line 1464:

1459      for (;;) {
1460        BINDING \*b = bindings;
1461        if (!b)
1462          break;
1463        bindings = b-\>nextTagBinding;
1464        FREE(b-\>uri);        // \<\<\<\<\<\<\<\<\<\<\<\<\<\<\< crashes here
1465        FREE(b)

[2017-09-17 17:27] scoder opened #75680 "ElementTree crash while cleaning up ParseError"
BPO | [31499](https://bugs.python.org/issue31499)
--- | :---
Nosy | @scoder, @vstinner, @jkloth, @serhiy-storchaka
PRs | <li>python/cpython#3641</li><li>python/cpython#3645</li>
Files | <li>[bug1.py](https://bugs.python.org/file47144/bug1.py "Uploaded as text/plain at 2017-09-18.07:00:11 by @vstinner")</li><li>[bug2.py](https://bugs.python.org/file47145/bug2.py "Uploaded as text/plain at 2017-09-1

[2017-09-17 17:30] rhettinger commented on #75678
+1 This would clean-up the code a bit.

[2017-09-17 17:47] terryjreedy commented on #75677
Are you running on Linux or Mac?  What tk version?

About the 'invalid command name' message: [PR3622](https://github.com/python/cpython/pull/3622), patching idlelib.codecontext, merged to master 13 hours ago, fixed this for me on Windows.  (It added CodeContext.\_\_del__.)  Did it fail on your machine or was it not yet merged on your machine?

About the test failure.  Hs is a Text with about 14 l

[2017-09-17 18:01] methane commented on #75656
You reported stack trace on Github pull request.
But discussion should be made here, not in pull request.

As far as reading traceback, your problem is solved already in Python 3.6, by PEP-528.

[2017-09-17 18:11] serhiy-storchaka commented on #75678
New changeset 4ab46d794961491ed185c195d53da7ee6a16e646 by Serhiy Storchaka in branch 'master':
bpo-31497: Add private helper \_PyType_Name(). (bpo-3630)
https://github.com/python/cpython/commit/4ab46d794961491ed185c195d53da7ee6a16e646

[2017-09-17 18:54] serhiy-storchaka opened #75681 "IDLE: Tiny font on HiDPI display"
BPO | [31500](https://bugs.python.org/issue31500)
--- | :---
Nosy | @terryjreedy, @taleinat, @ned-deily, @serhiy-storchaka, @mlouielu, @csabella
PRs | <li>python/cpython#3639</li><li>python/cpython#3664</li><li>python/cpython#3665</li><li>python/cpython#3686</li><li>python/cpython#6585</li><li>python/cpython#10015</li>
Files | <li>[Screenshot_20170917_213616.png](https://bugs.python.org/file47141/

[2017-09-17 18:54] serhiy-storchaka commented on #75681
My new laptop has a HiDPI display (3840x2160). IDLE (as well as other Tk applications) looks ugly on it. The font of menu and dialogs is tiny. The font used in editor and shell looks normal size. I use Linux with X Window.

It seems to me this issue doesn't have solution. Related links:

https://wiki.tcl.tk/41949
https://core.tcl.tk/tk/tktview/0917069c05e9c354a27c8105a7a22264090b9274
https://stack

[2017-09-17 19:12] serhiy-storchaka commented on #75677
About the 'invalid command name' message: [PR 3622](https://github.com/python/cpython/pull/3622) was not yet merged on your machine.

Inserting hs.see(start) just before hs.bbox(start) fixes the issue.

I have added some debug prints. Here are outputs, with and without a fix.

[2017-09-17 19:18] serhiy-storchaka commented on #75680
I can't reproduce a crash. Could you please provide a Python script?

[2017-09-17 19:19] #75678 closed, assigned to nobody

[2017-09-17 20:06] scoder commented on #75680
Sorry, wrong line number. Was using an installed Py3.7, not a fresh build. However, my crashing installed version is from September 1st, \*before* the expat update, which was apparently on September 5th.

With a clean debug build, I get a reproducible crash during shutdown, now with the correct line number:

Program received signal SIGSEGV, Segmentation fault.
PyExpat_XML_ParserFree (parser=0xd01a

[2017-09-17 20:28] scoder commented on #75680
Minimal reproducer seems to be this:
\----------
[code]

----------

The master gitrev I tested is 132a7d7cdbc7cb89fa1c1f4e8192241c3d68f549

Since this happens during GC and finalisation, it's quite possible that it's not a bug in ET per se. It might just be a prematurely cleared reference in some tp_clear(), or something like that. (Changing ticket title appropriately.)

[2017-09-17 21:32] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
FWIW, I've been using

  https://github.com/python/cpython/blob/master/Modules/_decimal/_decimal.c#L689

the static initialization on problematic platforms like Windows and
AIX for years, without any problems.

I'm sure this is valid C, and people here agree:

https://stackoverflow.com/questions/6989107/cant-initialize-static-structure-with-function-pointer-from-another-translation

Perhaps this w

[2017-09-17 22:31] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
Christian, do you remember which compiler was the reason for the commit

cbf3b5cb76906fba15dbf59a1e83c540a447b907 ?

\+       /* Due to cross platform compiler issues the slots must be filled
\+        * here. It's required for portability to Windows without requiring
\+        * C++. \*/
        Null_Type.tp_base = &PyBaseObject_Type;
\+       Null_Type.tp_new = PyType_GenericNew;
        Str_Typ

[2017-09-17 22:52] 5e1d06d2-7ccc-4223-a88f-71d578cbf50f commented on #74713
Today I ran into this as well. In the case of IPv6 it's simple to decide what should be returned but on the IPv4Network I disagree. My expectation would be the domain where I would make the reverse needed. That means for 127.0.0.0/13 it should be '127.in-addr.arpa'.

I implemented it this way in the linked PR but I'm open to other opinions.

[2017-09-17 23:11] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 opened #75682 "Operator precedence description for arithmetic operators"
BPO | [31501](https://bugs.python.org/issue31501)
--- | :---
Nosy | @rhettinger, @Mariatta, @svelankar
PRs | <li>python/cpython#3633</li><li>python/cpython#3638</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[co

[2017-09-17 23:11] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 commented on #75682
Description for the operator precedence should read
"Multiplication, matrix multiplication division, remainder" instead of

"Multiplication, matrix multiplication, division, floor division, remainder.

Section 6.16. Operator precedence

I feel this would help a new comer to python to instantly figure out what does "//" stand for.

[2017-09-17 23:11] terryjreedy opened #75683 "IDLE: Config dialog again deletes custom themes and keysets."
BPO | [31502](https://bugs.python.org/issue31502)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#3634</li><li>python/cpython#3636</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-17 23:11] terryjreedy commented on #75683
The askyesno messagebox wrappers, added in bpo-31287, returned None, which is interpreted as 'No', instead of the user entry.  With 'Yes' not seen, nothing was saved.

The manual tests, once the problem was understood, is to save a new theme/keyset and click the delete button twice, clicking No the first time and Yes the second time, and see what happens.

Unit testing the current version of askye

[2017-09-17 23:19] terryjreedy commented on #75683
I am not adding a new item because the regression has not been released.

[2017-09-17 23:38] terryjreedy commented on #75111
This should prepare IDLE for 3.6.3 and 3.7.0a1 cutoff tomorrow morning.

[2017-09-18 00:13] terryjreedy commented on #75468
New changeset 0efc7c67a2f8a184e93f9a491305c81ef2e24250 by Terry Jan Reedy in branch 'master':
bpo-31502: IDLE Configdialog again deletes custom themes and keysets. (bpo-3634)
https://github.com/python/cpython/commit/0efc7c67a2f8a184e93f9a491305c81ef2e24250

[2017-09-18 00:13] terryjreedy commented on #75683
New changeset 0efc7c67a2f8a184e93f9a491305c81ef2e24250 by Terry Jan Reedy in branch 'master':
bpo-31502: IDLE Configdialog again deletes custom themes and keysets. (bpo-3634)
https://github.com/python/cpython/commit/0efc7c67a2f8a184e93f9a491305c81ef2e24250

[2017-09-18 00:14] terryjreedy commented on #75111
New changeset 55679e0ec76ee3b30ca609948f47bb02a8e0a078 by Terry Jan Reedy in branch 'master':
bpo-30928: Update idlelib/NEWS.txt to 2017 Sep 17. (bpo-3635)
https://github.com/python/cpython/commit/55679e0ec76ee3b30ca609948f47bb02a8e0a078

[2017-09-18 00:14] vadmium commented on #75668
It’s not clear what your purpose was adding the above line, but the zero flag (0) does nothing because there is no “width” field. I think it could be misleading, because it is actually the “#x” codes that generate the “0x” prefix.

If you want to illustrate a minimum width, I suggest something like

[code]

or (if the number is never negative)

[code]

Or if you don’t care about the width:

[code]

[2017-09-18 00:39] terryjreedy commented on #75468
New changeset 6b4d8ba0971355027b8981a45a0a62ac1ef9a456 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31502: IDLE Configdialog again deletes custom themes and keysets. (GH-3634) (bpo-3636)
https://github.com/python/cpython/commit/6b4d8ba0971355027b8981a45a0a62ac1ef9a456

[2017-09-18 00:39] terryjreedy commented on #75683
New changeset 6b4d8ba0971355027b8981a45a0a62ac1ef9a456 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31502: IDLE Configdialog again deletes custom themes and keysets. (GH-3634) (bpo-3636)
https://github.com/python/cpython/commit/6b4d8ba0971355027b8981a45a0a62ac1ef9a456

[2017-09-18 00:51] rhettinger commented on #75682
This is a reasonable proposal.

[2017-09-18 00:56] rhettinger commented on #75682
New changeset 9b47af65375fab9318e88ccb061394a36c8c6c33 by Raymond Hettinger (svelankar) in branch 'master':
bpo-31501: Operator precedence  description  for arithmetic operators (bpo-3633)
https://github.com/python/cpython/commit/9b47af65375fab9318e88ccb061394a36c8c6c33

[2017-09-18 00:56] #75682 closed, assigned to nobody

[2017-09-18 01:10] terryjreedy commented on #75111
New changeset 84c89ef4e5086e71e3d9ee65cd3620bf8174c9ac by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30928: Update idlelib/NEWS.txt to 2017 Sep 17. (GH-3635) (bpo-3637)
https://github.com/python/cpython/commit/84c89ef4e5086e71e3d9ee65cd3620bf8174c9ac

[2017-09-18 02:20] 7bf4b5f1-5975-4db8-95de-03ab3ac26821 commented on #75684
If a some_module defines \_\_all__, dir(some_module) should only return what is in \_\_all__.  This is already a mechanism that Python provides to specify module-level APIs.  Currently, dir(some_module) returns some_module.\_\_dict__.keys().

The concern with this enhancement is backwards compatibility.  It is conceivable that some library's code would be broken with the different return value of

[2017-09-18 02:20] 7bf4b5f1-5975-4db8-95de-03ab3ac26821 opened #75684 "Enhance dir(module) to be informed by __all__ by updating module.__dir__"
BPO | [31503](https://bugs.python.org/issue31503)
--- | :---
Nosy | @brettcannon, @rhettinger, @terryjreedy, @ncoghlan, @bitdancer, @serhiy-storchaka, @csabella, @codypiersall
PRs | <li>python/cpython#3610</li>
Superseder | <li>bpo-32225: Implement PEP 562: module __getattr__ and __dir__</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect

[2017-09-18 02:36] rhettinger commented on #75684
I think  change this would be risky and could break code that uses dir() to actually know what is in a module.

IIRC, this was discussed when \_\_all__ was introduced. I believe it was decided that \_\_all__ would affect from-imports and help() but not dir().  This decision has been in place for a long time now and I would expect that people (and tools) have come to rely on the current behavior.

[2017-09-18 03:37] terryjreedy commented on #75684
Guido on python-ideas: I ave to agree with the other committers who already spoke up.

Me: I use dir to see the complete list now presently presented.  The presence or absence of  \_\_file__ indicates coded on Python or not.

IDLE module completion start with public items (I believe \_\_all__ or not start with \_).  Type '\_' and the complete list appears.  I think we should reject this.

[2017-09-18 03:42] ncoghlan commented on #75684
While I agree changing the default would be risky from a compatibility perspective, I do think it would be helpful to offer a straightforward way to filter out transitive imports and other non-public implementation details from the result of `dir(module)`, and require folks to use `list(vars(module).keys())` if they want a reliably complete listing of all global variables defined in a module.

The

[2017-09-18 05:02] ncoghlan commented on #75684
As far the implementation goes, since the `__dir__` overload support in the `dir()` builtin ignores instance dictionaries, this could be implemented in module.__dir__ (or object.__dir__) rather than directly in the builtin.

Alternatively, it could use a different attribute name rather than having `__dir__` be a list of strings on instances, and a protocol method on classes.

If we went with a dif

[2017-09-18 06:52] serhiy-storchaka commented on #75684
This would break tab completion of names not included in \_\_all__.

[2017-09-18 06:56] vstinner commented on #75199
FYI The bug has been fixed in the Sphinx development branch (HEAD of master): https://github.com/sphinx-doc/sphinx/issues/4061#issuecomment-330140975 I validated that Sphinx master now works as expected on Python 2.7.14.

[2017-09-18 07:00] vstinner commented on #75680
I confirm the crash using attached bug1.py (first example, completed) and bug2.py (second example).

[2017-09-18 07:13] scoder commented on #75680
Thanks for confirming, Victor.
I hadn't realised that the first update of expat was already back in June. That means it's not ruled out yet as a source of this crash. Bisecting is probably a good idea.

[2017-09-18 07:19] scoder commented on #75646
Question: Do you think it's ok to change the signature of \_PyType_Lookup() in this way by adding an error flag, or should I add a new function instead?

There is no performance difference to [PR 3279](https://github.com/python/cpython/pull/3279) since gcc should optimise this flag properly away in most cases, so it's not a question about performance but about backwards compatibility. It's an inte

[2017-09-18 07:28] vstinner commented on #75680
The bug is at this line:

Breakpoint 6, xmlparser_gc_clear (self=0x7ffff7e28c08) at /home/haypo/prog/python/master/Modules/_elementtree.c:3414

[code]

This function calls XML_ParserFree() twice on the same parser object. The first call is fine and frees the memory. Since we now use Python memory allocators, XML_ParserFree() fills the freed memory with 0xDB byte pattern (when Python is in debug mo

[2017-09-18 07:32] vstinner commented on #75680
Python 2.7 is not affected because it doesn't implement tp_clear (it doesn't have xmlparser_gc_clear()), only xmlparser_dealloc() calls EXPAT(ParserFree)(self-\>parser).

I'm unable to reproduce the bug in Python 3.5 nor 3.6.

bug2.py creates a reference cycle the "except etree.ParseError as exc: e = exc  # must keep local reference!" which requires to trigger a garbage collection to clear the "pa

[2017-09-18 07:34] scoder commented on #75680
Typical case of a Schroedinbug.

[2017-09-18 08:01] serhiy-storchaka commented on #75681
[PR 3639](https://github.com/python/cpython/pull/3639) adapts the receipt from [1]. I'm not sure that it doesn't add regressions on low-DPI displays.

[1] https://wiki.tcl.tk/8488

[2017-09-18 08:04] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 opened #75685 "Documentation for return value for string.rindex is missing when search string is empty"
BPO | [31504](https://bugs.python.org/issue31504)
--- | :---
Nosy | @rhettinger, @bitdancer, @vadmium, @serhiy-storchaka, @vedgar, @kgashok
PRs | <li>python/cpython#3642</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fi

[2017-09-18 08:04] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
"abcde".rindex("") returns 5
"a".rindex("") returns 1

This is not documented anywhere in the Python documentation.

[2017-09-18 08:14] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75204
So, what is the resolution on this?

[2017-09-18 08:18] ncoghlan commented on #74929
https://github.com/python/cpython/pull/3640/files includes a more automated-tested-friendly version of Armin's deterministic reproducer (the generator loop uses range() to generator a separate loop counter, and then the test checks that the incremented closure variable matches that loop counter), together with a fix based on the idea of putting actual cell objects into frame.f_locals while a trace

[2017-09-18 08:19] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
Also, "".rindex("") returns 0

[2017-09-18 08:24] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
string.find() also exhibits the same behaviour.

"abcde".find("") -\> 5 which also is not documented anywhere.

[2017-09-18 08:31] serhiy-storchaka commented on #75685
This is documented.

"Return the highest index in the string where substring sub is found,"

[2017-09-18 08:32] ncoghlan commented on #75684
Yes, that's one of the goals of the feature: to allow module authors to decide if they want tab completion for all attributes, or just the public API.

[2017-09-18 08:45] vstinner commented on #75680
I don't believe in the chaos :-)

I ran a "git bisect" since January 1st, 2017. Attached bug2.py started to crash since the following commit related to bpo-29049.
\---
5a625d0aa6a6d9ec6574ee8344b41d63dcb9897e is the first bad commit
commit 5a625d0aa6a6d9ec6574ee8344b41d63dcb9897e
Author: INADA Naoki \<songofacandy@gmail.com\>
Date:   Sat Dec 24 20:19:08 2016 +0900

    Issue bpo-29049: Call _PyObj

[2017-09-18 08:57] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
The documentation (https://docs.python.org/3/library/stdtypes.html#str.find) does not describe what will be the behaviour if the substring is "".

And by the way, as per https://docs.python.org/3/reference/expressions.html#membership-test-operations,

    Empty strings are always considered to be a substring of any other
    string, so "" in "abc" will return True.

Returning an invalid index valu

[2017-09-18 08:57] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75686
The following code causes an assertion failure:

[code]

This is because encoder_new() (in [Modules/_json.c](https://github.com/python/cpython/blob/main/Modules/_json.c)) assumes that the received
encoder() argument is a function that returns a string, and stores it in the
new PyEncoderObject.
When encoder_encode_string() is called (by encoder_listencode_obj()), it
returns whatever the stored enco

[2017-09-18 08:57] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75686 "assertion failure in json, in case _json.make_encoder() received a bad encoder() argument"
BPO | [31505](https://bugs.python.org/issue31505)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3643</li><li>python/cpython#3777</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-09-18 09:00] vstinner commented on #75680
Attached [PR 3641](https://github.com/python/cpython/pull/3641) fixes bug1.py and bug2.py crashes.

Sadly, I failed to write a reliable unit test using bug2.py. The bug requires to trigger the garbage collector in a specific order which depends on how frames are tracked by the GC...

[2017-09-18 09:11] vadmium commented on #75685
The behaviour for searching for empty strings in Python is inconsistent; see bpo-24243. IMO the behaviour for the (r)find/index methods is sensible, but it is worth making the documentation explicit.

The returned indexes you have given (5, 1, and 0) are valid for slicing.

[2017-09-18 09:20] serhiy-storchaka commented on #75680
[code]

[2017-09-18 09:20] terryjreedy commented on #75677
On windows, hs.see(start), followed or not by update_idletasks(), has no effect.

Does the fix for bpo-31500 fix this also?

[2017-09-18 09:21] vstinner commented on #75680
Serhiy Storchaka: I tried your pattern, but failed to write a reliable unit test. Can you please write a full patch / test?

[2017-09-18 09:31] serhiy-storchaka commented on #75685
The documentation doesn't mention empty string specially because there is nothing special with empty string.

Returned index value is valid. "abcde"[5:5] == "".

bpo-24243 is about the case of end \< start. Not this case.

I don't see a bug here.

[2017-09-18 09:34] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
I am not saying that there is a bug. As Martin points out, "it is worth making the documentation explicit."

[2017-09-18 09:36] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
How about

[code]

[2017-09-18 09:43] serhiy-storchaka commented on #75685
5 is not valid index of character, but it is valid index of substring.

IMHO documenting explicitly miscellaneous particular cases which are not exceptions of general rules just adds a noise. This makes the documentation larger and decrease the chance that it will be read.

[2017-09-18 09:44] ncoghlan opened #75687 "Improve the error message logic for object_new & object_init"
BPO | [31506](https://bugs.python.org/issue31506)
--- | :---
Nosy | @ncoghlan, @serhiy-storchaka, @CuriousLearner, @miss-islington, @tirkarthi, @ppt000
PRs | <li>python/cpython#3650</li><li>python/cpython#4740</li><li>python/cpython#11641</li><li>python/cpython#11641</li><li>python/cpython#11641</li><li>python/cpython#11939</li>

<sup>*Note: these values reflect the state of the issue at the time

[2017-09-18 09:44] ncoghlan commented on #75687
As described in https://blog.lerner.co.il/favorite-terrible-python-error-message/, object_new and object_init currently have "object" hardcoded in the error messages they raise for excess parameters:

[code]

This hardcoding makes sense for the case where that particular method has been overridden, and the interpreter is reporting an error in the subclass's call up to the base class, rather than i

[2017-09-18 09:44] serhiy-storchaka commented on #75677
No, the fix for bpo-31500 doesn't affect this issue.

[2017-09-18 09:49] vstinner commented on #75680
test_issue31499.diff: Oh great, it works (to reproduce the crash). I modified your test and included it in my PR, I added you as a co-author of my PR ;-)

[2017-09-18 09:52] mdickinson opened #75688 "email.utils.parseaddr has no docstring"
BPO | [31507](https://bugs.python.org/issue31507)
--- | :---
Nosy | @warsaw, @mdickinson, @bitdancer, @Mariatta, @kwarunek, @AstroCat84
PRs | <li>python/cpython#3647</li><li>python/cpython#3733</li><li>python/cpython#3735</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</su

[2017-09-18 09:52] mdickinson commented on #75688
While demonstrating email.utils.parseaddr in a recent training course, I discovered it had no docstring (see below). This looks as though it should be an easy fix for a first-time contributor.

taniyama:Desktop mdickinson$ ipython
Python 3.6.2 (default, Jul 24 2017, 13:17:39)
Type 'copyright', 'credits' or 'license' for more information
IPython 6.2.0 -- An enhanced Interactive Python. Type '?' for

[2017-09-18 09:53] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
Look at my suggested changes. It doesn't add noise, IMHO.

All I am saying is that the explicit behaviour needs to be documented.
I unnecessarily wasted at least 3-4 hours on this "undocumented" behavior.

[2017-09-18 10:08] 7d1b28b3-ccc0-4dc5-910a-1f50404e0852 commented on #75685
@Storchaka,

You say `5` is related to the substring. Pray, explain how 5 is related to a null substring? Also, from https://bugs.python.org/msg243710, as per the great Hettinger:

   Though this is closed as not a bug, feel free to add an example or a
   mention in the documentation.  Keep it short though.

That's all I am asking to be included.

[2017-09-18 11:51] serhiy-storchaka commented on #75687
Not sure this is easy issue. It requires taking to account many different cases and analyzing many arguments checking code scattered around many files.

[2017-09-18 12:19] ncoghlan commented on #75687
Fortunately, the logic is already well encapsulated: there's a "if (excess_args && (case A || case B)) {... report error ...}" check at the start of each of object_new and object_init, where "case A" = "the other function in the object_new/object_init pair has \*not* been overriden" and "case B" is "this function \*has* been overridden".

That means the only change needed is to include the type na

[2017-09-18 12:29] vstinner commented on #75680
New changeset e727d41ffcd91b21ce82026ec8c8381d34a16209 by Victor Stinner in branch 'master':
bpo-31499, xml.etree: Fix xmlparser_gc_clear() crash (bpo-3641)
https://github.com/python/cpython/commit/e727d41ffcd91b21ce82026ec8c8381d34a16209

[2017-09-18 12:31] serhiy-storchaka commented on #75687
It is not so easy to make an error message conforming with error messages for similar types. This may require changing error messages in other code.

First, "takes no arguments" instead of "takes no parameters".

For normal \_\_new__ and \_\_init__ you never got "takes no arguments". They  take at least one argument -- a class or an instance.

[code]

[2017-09-18 12:48] vstinner commented on #75680
New changeset 8afd7ab12d7f8915b549cf04af384b495ec73d22 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31499, xml.etree: Fix xmlparser_gc_clear() crash (GH-3641) (bpo-3645)
https://github.com/python/cpython/commit/8afd7ab12d7f8915b549cf04af384b495ec73d22

[2017-09-18 13:16] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
That works!
But when I said "also with close_fds=True", I meant that I tried WITHOUT overriding stdin, stdout, and stderr AND setting close_fds=True, but it didn't work. What worked was not overriding stdin/out/err and adding

[code]

before the call (no need to set close_fds)

[2017-09-18 13:25] vstinner commented on #75680
The bug is now fixed in Python 3.6 and master. Thanks for the bug report and analysis, Stefan Behnel!

[2017-09-18 13:25] #75680 closed, assigned to nobody

[2017-09-18 13:38] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
If it's really a bug I could make PR with changes in timemodule.c (in gettmarg() and checktm() functions). But I'm not sure that it's not intended behavior.

[2017-09-18 13:46] ncoghlan commented on #75687
For this issue, I'm not proposing to make any change other than to solve the specific problem reported in the blog post: when the method itself isn't overridden, then the error message should report the name of the most derived class, not "object", to help users more readily find the likely source of their problem (a missing "\_\_init__" method definition).

Making these custom errors consistent w

[2017-09-18 14:09] vstinner opened #75689 "Running test_ttk_guionly logs "test_widgets.py:1562: UserWarning: Deprecated API of Treeview.selection() should be removed" warnings"
BPO | [31508](https://bugs.python.org/issue31508)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @csabella
PRs | <li>python/cpython#3651</li><li>python/cpython#3667</li><li>python/cpython#3719</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[c

[2017-09-18 14:09] vstinner commented on #75689
0:33:11 load avg: 4.82 [ 44/405/1] test_ttk_guionly passed -- running: test_subprocess (504 sec)
/buildbot/buildarea/3.x.ware-gentoo-x86.refleak/build/Lib/tkinter/test/test_ttk/test_widgets.py:1562: UserWarning: Deprecated API of Treeview.selection() should be removed
  'Deprecated API of Treeview.selection() should be removed')
beginning 6 repetitions
123456
/buildbot/buildarea/3.x.ware-gentoo-x8

[2017-09-18 14:14] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #75685
This is nonsense. 'abcde'[7:7] is also ''. So the maximal index in fact doesn't exist. What do you think exactly is the property that differentiates 5 from 7 here?

[2017-09-18 14:20] vstinner commented on #75689
I saw these warnings on:
http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.x/builds/96/steps/test/logs/stdio

Extract of the pythoninfo:

tkinter.TCL_VERSION: 8.6
tkinter.TK_VERSION: 8.6
tkinter.info_patchlevel: 8.6.6

--

I can reproduce the warning locally:

test_selection (tkinter.test.test_ttk.test_widgets.TreeviewTest) ... /home/haypo/prog/python/master/Lib/tkinter/test/test

[2017-09-18 14:29] bitdancer commented on #75204
I think there is nothing to do here unless Mark likes my suggestion and/or someone comes up with an even better improvement.

[2017-09-18 14:32] serhiy-storchaka commented on #75689
This is a reminder to me to remove a deprecated API (see bpo-27319).

[2017-09-18 14:37] 43a930ce-92ff-472e-b021-f9644eabb63f commented on #75688
As well as `parsedate_to_datetime`... I'll work on that

[2017-09-18 14:53] tiran commented on #75624
I think it's svnmerge of this commit, which talks about VS 2005. It might have been required to support VS 2003 and 2005.

[code]

[2017-09-18 15:10] 49058fd9-7512-4dec-8444-d2846b20c39c commented on #75688
I have submitted a pull request for the changes to email.utils.parseaddr.

[2017-09-18 15:18] serhiy-storchaka commented on #75687
What do you expect for:

[code]

[2017-09-18 15:32] terryjreedy commented on #75681
The TkFixedFont initially used in Shell and editor has its size set to 10 if initially negative. Users can only replace this with a real font, not another of tk's abstract fonts.

On windows, the sizes of the nearly 20 fonts touched by the patch range from 8 to 12.  So no possible regression there.  If the sizes on Linux were in the range -8 to -12, then the effect is to replace the size with numb

[2017-09-18 15:48] csabella commented on #75681
Tests run on Ubuntu.  The menubar is bigger now though, so it's default is
different than before.  Maybe that was the only way to fix it, but it's now
about twice as big as the shell font.

[2017-09-18 15:56] bitdancer commented on #75685
You have to remember that the most useful way to think about python slice indexes is that they point between characters. Consider, for example, that you have a starting index of something, and you are looking backward in the string for a trailing delimiter:

[code]

So the above is why 5 is different from 7: 5 is the index that you would use in a slice if you wanted the string that ended before th

[2017-09-18 15:58] vstinner commented on #75689
Running tests should not log deprecation warnings.

Either remove the code, or make the warning quiet, no? :-)

[2017-09-18 16:16] vstinner opened #75690 "test_subprocess hangs randomly on AMD64 Windows10 3.x"
BPO | [31509](https://bugs.python.org/issue31509)
--- | :---
Nosy | @vstinner, @ned-deily

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-18 16:16] vstinner commented on #75690
http://buildbot.python.org/all/builders/AMD64%20Windows10%203.x/builds/1242/steps/test/logs/stdio

0:49:36 [401/405] test_osx_env passed
0:49:38 [402/405] test_fractions passed -- running: test_subprocess (31 sec)
0:49:51 [403/405] test_importlib passed -- running: test_subprocess (44 sec)
0:49:53 [404/405] test_pwd skipped -- running: test_subprocess (46 sec)
test_pwd skipped -- No module named '

[2017-09-18 16:16] bitdancer commented on #75688
Mark: re your training course...if you aren't trying to stay compatible with python2, note that python3 has a much more sophisticated address parser now, that gets called automatically if you use the new policies.

[2017-09-18 16:19] vstinner opened #75691 "test_many_processes() of test_multiprocessing_spawn failed on x86-64 Sierra 3.x"
BPO | [31510](https://bugs.python.org/issue31510)
--- | :---
Nosy | @pitrou, @vstinner
PRs | <li>python/cpython#3857</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-18 16:19] vstinner commented on #75691
The process was killed (SIGKILL).

See also bpo-30356.

http://buildbot.python.org/all/builders/x86-64%20Sierra%203.x/builds/765/steps/test/logs/stdio

\======================================================================
FAIL: test_many_processes (test.test_multiprocessing_spawn.WithProcessesTestProcess)
\----------------------------------------------------------------------
[code]

[2017-09-18 16:19] vstinner commented on #74541
Similar issue: bpo-31510.

[2017-09-18 16:20] csabella commented on #75681
Attached screen prints of configdialog.  It's messed up.

[2017-09-18 16:25] bitdancer commented on #75679
Generally we're just reporting whatever the platform strftime does.  Is that what happens in this case?

[2017-09-18 16:29] vstinner opened #75692 "test_normalization: test.support.open_urlresource() doesn't handle urllib.error.URLError timeout"
BPO | [31511](https://bugs.python.org/issue31511)
--- | :---
Nosy | @vstinner

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-18 16:29] vstinner commented on #75692
http://buildbot.python.org/all/builders/AMD64%20Debian%20PGO%203.x/builds/1316/steps/test/logs/stdio

\======================================================================
FAIL: test_main (test.test_normalization.NormalizationTest)
\----------------------------------------------------------------------
[code]

[2017-09-18 16:35] pitrou commented on #75551
Not sure what you mean by that.  eventlet uses the regular try/except import dance around "import threading":

https://github.com/eventlet/eventlet/blob/master/eventlet/support/dns/entropy.py#L20-L23
https://github.com/eventlet/eventlet/blob/master/eventlet/support/dns/resolver.py#L23-L26

As for portage, Arfrever fixed it :-)

https://gitweb.gentoo.org/proj/portage.git/commit/?id=504f66b0e25281e4

[2017-09-18 16:48] njsmith commented on #74929
Doesn't this proposal break every debugger, including pdb?

[2017-09-18 17:21] pitrou commented on #75551
https://github.com/python/cpython/pull/3648 restores dummy_threading and \_dummy_thread, but deprecates them.

[2017-09-18 18:23] terryjreedy commented on #75681
Thank you Cheryl.  That is enough to reject the patch is it is now.

The negative sizes are pixels.  I think it might be better to multiply them by a systems specific factor, but only when needed.

One might wish that the scaling should be handled automatically, in tkinter if not in tk itself.  But it was mentioned in one of the links that displays do not always report their dpi correctly.

One po

[2017-09-18 18:33] terryjreedy commented on #75677
If the test only fails with a HiDPI screen, then it must somehow be related.  But if the highlight sample is normal size, like the font sample in
https://bugs.python.org/file47141/Screenshot_20170917_213616.png
then the relationship must not be as simple as I was thinking.

[2017-09-18 18:41] ned-deily commented on #75219
P.S. I just noticed that I forgot to credit Brett here as the source (from superseded [PR 2953](https://github.com/python/cpython/pull/2953)) of a good portion of the last round of PRs.  Thanks!

[2017-09-18 18:50] zooba commented on #75621
I don't have time right this second to write it all up, but I did so in the past at https://docs.python.org/3/using/windows.html#finding-modules

Hopefully the answer you need is somewhere in that. Module search paths are complicated (but eric.snow is going to make it possible to use Python code to derive the search path at startup... right Eric? Right? :) )

[2017-09-18 19:11] pitrou commented on #75665
Judging by the numbers, this optimization does not sound worth the hassle.  It is quite rare to iterate over all characters in a long text while doing so little work with them that the cost of iteration is significant.

By the way:

I think the word you were looking for is "ideogram".

[2017-09-18 19:16] ac44a45e-8ec1-40da-abbb-5c12aadab6df opened #75693 "Add non-elevated symlink support for dev mode Windows 10"
BPO | [31512](https://bugs.python.org/issue31512)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @vidartf, @izbyshev
PRs | <li>python/cpython#3652</li>
Files | <li>[devsymlink.patch](https://bugs.python.org/file47150/devsymlink.patch "Uploaded as text/plain at 2017-09-18.19:16:30 by @vidartf"): Proof of concept patch</li>

<sup>*Note: these values reflect the state of the issue at t

[2017-09-18 19:16] ac44a45e-8ec1-40da-abbb-5c12aadab6df commented on #75693
As explained in this Microsoft blogpost (https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/), it is possible on newer versions of Windows 10 for non-privileged users to create symlinks when the machine is in developer mode. However, to ensure backwards compatibility, this behavior requires a flag to be passed to the CreateSymbolicLink function.

I think this is something that P

[2017-09-18 19:43] ned-deily commented on #75353
I believe all the branches except 3.5 and 3.4 have been updated so adjusting the Versions field accordingly.  All yours, Larry!

[2017-09-18 20:04] pitrou commented on #75551
New changeset b43c4caf81b10e5c7ebaeb3a712c6db584f60bbd by Antoine Pitrou in branch 'master':
Restore dummy_threading and \_dummy_thread, but deprecate them (bpo-31370) (bpo-3648)
https://github.com/python/cpython/commit/b43c4caf81b10e5c7ebaeb3a712c6db584f60bbd

[2017-09-18 20:05] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd opened #75694 "Document structure of memo dictionary to enable more advanced __deepcopy__ uses"
BPO | [31513](https://bugs.python.org/issue31513)
--- | :---
Nosy | @bitdancer, @MojoVampire

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-18 20:05] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #75694
At present, the documentation for the copy module doesn't document anything about the memo dictionary for deepcopy except to say that it must be received by custom \_\_deepcopy__ methods and passed along when calling copy.deepcopy, and that it is a "dictionary of objects already copied during the current copying pass", without specifying what the keys or values are.

Without providing a documented

[2017-09-18 20:24] bitdancer commented on #75694
Unless I'm mistaken (and someone will correct me and reopen the issue if I am :) it is intentionally undocumented.  A proposal for a documented protocol of some sort is certainly a possibility, but is something that should start with a discussion on the python-ideas mailing list.

[2017-09-18 20:24] #75694 closed, assigned to nobody

[2017-09-18 20:35] 2ef01535-b470-4c17-b590-e6661f445174 commented on #75666
I don't mind writing a patch and opening a pull request, however I don't know which corner cases I need to take into account.

[2017-09-18 21:50] pitrou commented on #75551
New changeset 88c60c9668f0aa732693517a60b851cc1dfce0cb by Antoine Pitrou in branch 'master':
Trivial cleanups following bpo-31370 (bpo-3649)
https://github.com/python/cpython/commit/88c60c9668f0aa732693517a60b851cc1dfce0cb

[2017-09-18 22:35] eryksun commented on #75628
Console applications (e.g. python.exe) duplicate their standard handles into a child console process when the bInheritHandles argument of CreateProcess is false, i.e. when subprocess.Popen is called with the default close_fds=True. We know it's duplication instead of inheritance because the actual handle values change and also because it doesn't matter whether or not the standard handles are flagg

[2017-09-19 00:35] eryksun commented on #75693
Py_CreateSymbolicLinkW can be removed in 3.5+ because Windows XP is no longer supported and calling enable_symlink() is pointless.

The Windows API uses some privileges simply to determine which security principals can access a capability. Whether the privilege is currently enabled or disabled in the current access token doesn't matter because functions automatically enable it for the current thre

[2017-09-19 03:11] 52c22a23-aae1-4ceb-9e57-a134913dc791 commented on #75695
The setdefault method of the tuple allows the introduction of custom data types.At this point, the \_\_repr__ method is implemented so that the returned data type has an error.The type of str is returned, but the int type is written to the tuple.Also, write str without quotation marks.
Look at the demo.py in the attachment

[2017-09-19 03:11] 52c22a23-aae1-4ceb-9e57-a134913dc791 opened #75695 "There is a problem with the setdefault type conversion in the tuple"
BPO | [31514](https://bugs.python.org/issue31514)
--- | :---
Nosy | @pfmoore, @tjguk, @stevendaprano, @zware, @zooba
Files | <li>[demo.py](https://bugs.python.org/file47151/demo.py "Uploaded as text/plain at 2017-09-19.03:11:32 by sk xing")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Sh

[2017-09-19 03:34] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
It seems strange to me that time.strftime() returns formatted date with wrong day of week and day of year values. So, I think it's probably a bug.
But I'm just learning Python and programming and I think that it can be intentional behavior.
If it's a bug I'd like to try to fix it. Otherwise could someone tell me why this behavior is OK?

[2017-09-19 05:54] ncoghlan commented on #75687
Those would both report "C() takes no parameters" without further enhancements (which would be out of scope for this issue).

The proposed improvement here isn't "Let's make the error message exactly correct in all cases" (that's probably impossible, since we've lost relevant information by the time the argument processing happens).

Instead, it's "let's make the error message more helpful in the

[2017-09-19 06:05] stevendaprano commented on #75695
The demo code you give seems to be working perfectly correctly. I don't think anything here is a bug.

(1) You are working with a dict, not a tuple.

(2) The potint.\_\_repr__ method does NOT have a bug.

(3) de['four'] is NOT an int, it is a potint object, just as you set. It only looks like an int when you print it because that's what the \_\_repr__ does.

To see what the object really is, call:

[2017-09-19 06:05] #75695 closed, assigned to nobody

[2017-09-19 06:06] ncoghlan commented on #74929
For write-backs: no, since the interpreter will still write those values back into the destination cell

For locals display: no, since nothing changes for the handling of fast locals

For closure display: yes as, by default, debuggers will now print the closure cell, not the value the cell references - they'd need to be updated to display obj.cell_contents for items listed in co_freevars and co_ce

[2017-09-19 08:04] 50f1a253-c394-40f0-b597-34b933119fba opened #75696 "Doc for os.makedirs is inconsistent with actual behaviour"
BPO | [31515](https://bugs.python.org/issue31515)
--- | :---
Nosy | @fpom

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 08:04] 50f1a253-c394-40f0-b597-34b933119fba commented on #75696
Documentation of os.makedirs says "The default mode is 0777 (octal)" but when I use os.makedirs("foo"), the directory is created with permissions 0755.
Documentation should be updated or default mode fixed.

I've tested it only with Python 2.7.6 and 3.4.3 (those installed on my computer).

[2017-09-19 08:08] 50f1a253-c394-40f0-b597-34b933119fba commented on #75696
Sorry for the noise, I just discovered in the doc for os.mkdir that UMASK is applied on the mode passed to the functions. So the behaviour is actually correct.

[2017-09-19 08:08] #75696 closed, assigned to nobody

[2017-09-19 08:36] serhiy-storchaka commented on #75681
The Keys and General tabs are messed up even more on my computer. Some sections are just not visible. This is because The dialog window uses hardcoded size in pixels, it is too small for all content. After removing the hardcoded size all looks good.

[2017-09-19 10:03] serhiy-storchaka commented on #75677
Updated patch for bpo-31500 fixes this issue. I guess the problem was with using fixed size for the dialog widget. It was too small and the part of the example was not visible.

[2017-09-19 10:06] serhiy-storchaka commented on #75663
Raymond, why the fix is not backported to 3.6?

[2017-09-19 11:23] serhiy-storchaka commented on #75673
New changeset 6db7033192cd537ca987a65971acb01206c3ba82 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31492: Fix assertion failures in case of a module with a bad \_\_name__ attribute. (bpo-3620)
https://github.com/python/cpython/commit/6db7033192cd537ca987a65971acb01206c3ba82

[2017-09-19 11:33] pitrou commented on #75697
Attaching reproducer.  During interpreter shutdown, threading.main_thread() gets marked "stopped" (while it's obviously still running), while threading.current_thread() returns a DummyThread instance with the same ident as the main thread.

[code]

[2017-09-19 11:33] pitrou opened #75697 "current_thread() becomes "dummy" thread during shutdown"
BPO | [31516](https://bugs.python.org/issue31516)
--- | :---
Nosy | @tim-one, @pitrou, @vstinner, @asvetlov, @serhiy-storchaka, @miss-islington
PRs | <li>python/cpython#3673</li><li>python/cpython#3856</li><li>python/cpython#8052</li><li>python/cpython#9813</li><li>python/cpython#9814</li>
Files | <li>[mainthread.py](https://bugs.python.org/file47152/mainthread.py "Uploaded as text/plain at 2017-0

[2017-09-19 11:39] serhiy-storchaka commented on #75496
New changeset 9974e1bcf3d0cec9b38b39b39b7ec8a1ebd9ef54 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31315: Fix an assertion failure in imp.create_dynamic(), when spec.name is not a string. (bpo-3257)
https://github.com/python/cpython/commit/9974e1bcf3d0cec9b38b39b39b7ec8a1ebd9ef54

[2017-09-19 11:47] pitrou commented on #75697
The main thread being marked "stopped" at shutdown might be an obscure feature (as hinted in the comments for threading.\_shutdown()).  However, current_thread() should definitely not return a separate DummyThread instance.

[2017-09-19 12:51] serhiy-storchaka commented on #75496
New changeset 99a51d4e5b154a7b8d971090fecc1e34769a3ca1 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31315: Fix an assertion failure in imp.create_dynamic(), when spec.name is not a string. (GH-3257) (bpo-3653)
https://github.com/python/cpython/commit/99a51d4e5b154a7b8d971090fecc1e34769a3ca1

[2017-09-19 12:54] #75496 closed, assigned to nobody

[2017-09-19 12:54] serhiy-storchaka commented on #75496
Thank you Oren!

[2017-09-19 12:58] serhiy-storchaka commented on #75474
New changeset 865e4b4f630e2ae91e61239258abb58b488f1d65 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31293: Fix crashes in truediv and mul of a timedelta by a float with a bad as_integer_ratio() method. (bpo-3227)
https://github.com/python/cpython/commit/865e4b4f630e2ae91e61239258abb58b488f1d65

[2017-09-19 13:00] pitrou opened #75698 "MainThread association logic is fragile"
BPO | [31517](https://bugs.python.org/issue31517)
--- | :---
Nosy | @tim-one, @ncoghlan, @pitrou, @vstinner, @fabioz, @asvetlov, @ericsnowcurrently, @aldwinaldwin, @int19h
Files | <li>[mainthread2.py](https://bugs.python.org/file47153/mainthread2.py "Uploaded as text/plain at 2017-09-19.13:00:11 by @pitrou")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated

[2017-09-19 13:00] pitrou commented on #75698
The threading main_thread() instance is associated to the thread that first imports the threading module.  In usual circumstances, this will indeed be the interpreter's main thread.  However, it is not always the case.  See attached reproducer.

[code]

[2017-09-19 13:07] pitrou commented on #75698
Fixing this will require thinking out what the "main thread" of an interpreter really is.  Is it the thread in which PyInterpreterState_New() is called?

(note this is not the same thing as the "main thread" in the signal module, which is process-global)

[2017-09-19 13:35] doko42 opened #75699 "ftplib, urllib2, poplib, httplib, urllib2_localnet use ssl.PROTOCOL_TLSv1 unconditionally"
BPO | [31518](https://bugs.python.org/issue31518)
--- | :---
Nosy | @doko42, @tiran
PRs | <li>python/cpython#3660</li><li>python/cpython#3661</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 13:35] doko42 commented on #75699
Debian's OpenSSL now disables TLS 1.0 and 1.1, letting some of the python tests fail.  Please make them use a newer protocol version, or make the use of the older versions conditional.

[2017-09-19 13:35] bitdancer commented on #75679
Well, the first question that needs to be answered is: if you call the C strftime with the same arguments, what result do you get?  Because if it is the C strftime doing this, then it is not a bug in Python, whether it is correct behavior or not.

[2017-09-19 13:39] doko42 commented on #75699
failing tests:

https://ci.debian.net/data/packages/unstable/amd64/p/python3.6/latest-autopkgtest/log.gz

[2017-09-19 13:43] tiran commented on #75699
3.7 does no longer use PROTOCOL_TLSv1 except for test_ssl.py, see bpo-31346

By the way Debian Sid/Buster broke support for SSL and TLS \< 1.2. see bpo-31453. There is no way to enable the protocols from Python.

[2017-09-19 14:00] serhiy-storchaka commented on #75474
New changeset f37dd11f0d4832c15d49c2ddc83d533ddaa36e74 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31293: Fix crashes in truediv and mul of a timedelta by a float with a bad as_integer_ratio() method. (GH-3227) (bpo-3654)
https://github.com/python/cpython/commit/f37dd11f0d4832c15d49c2ddc83d533ddaa36e74

[2017-09-19 14:01] #75474 closed, assigned to nobody

[2017-09-19 14:51] b8e5d9b9-c9df-471e-8ad1-06d1fe37549c opened #75700 "Negative number raised to even power is negative (-1 ** even = negative)"
BPO | [31519](https://bugs.python.org/issue31519)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 14:51] b8e5d9b9-c9df-471e-8ad1-06d1fe37549c commented on #75700
Hello,
I'm only a novice with Python, so please take it easy on me if I have transgressed.

I am using Python 3.6.2 on a win10 64 bit machine, and entered this:

[code]

however, entering this:

[code]

which is correct.
Any negative number entered and raised to an even power seems to not return a positive value, but the pow(x,y) function works.

I never have reported a bug on any programming lang

[2017-09-19 14:57] bitdancer commented on #75700
You are being tripped up by operator precedence:

[code]

[2017-09-19 14:57] #75700 closed, assigned to nobody

[2017-09-19 15:00] tiran commented on #75699
Two tests are failing in 3.7 branch:

\======================================================================
ERROR: test_PROTOCOL_TLS (test.test_ssl.ThreadedTests)
Connecting to an SSLv23 server with various client options
\----------------------------------------------------------------------
[code]

======================================================================
ERROR: test_protocol_tlsv

[2017-09-19 15:09] b8e5d9b9-c9df-471e-8ad1-06d1fe37549c commented on #75700
Thanks. Stupid of me. Appreciate the correction.

[2017-09-19 15:13] bitdancer commented on #75700
It's a FAQ, but it was faster for me to just cut and paste than it was to look up the FAQ link :)

[2017-09-19 15:58] rhettinger commented on #75663
Mariatta, what is the procedure for completing the backport?  I can see the miss-islington bot made a commit but it didn't take in the 3.6 branch.

[2017-09-19 16:09] vstinner commented on #75691
I failed to reproduce the bug on Linux.

[2017-09-19 16:19] serhiy-storchaka commented on #75663
What is wrong with [PR 3629](https://github.com/python/cpython/pull/3629)?

[2017-09-19 16:29] Mariatta commented on #75663
Hi Raymond,

Somehow the backport PR https://github.com/python/cpython/pull/3629 was closed before instead of merged.

To retrigger the backport, we can re-apply the "needs backport to 3.6" label on the original PR (3614). I will do this now :)

[2017-09-19 16:30] vstinner opened #75701 "ResourceWarning: unclosed <socket.socket [closed] fd=3, ...> warning"
BPO | [31520](https://bugs.python.org/issue31520)
--- | :---
Nosy | @vstinner, @vadmium

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 16:30] vstinner commented on #75701
\_socket.socket object destructor emits a ResourceWarning if the socket is not closed.

The problem is this warning:

build/Lib/contextlib.py:60: ResourceWarning: unclosed \<socket.socket [closed] fd=3, family=AddressFamily.AF_INET, type=2049, proto=6\>
  self.gen = func(*args, \*\*kwds)

The message says "unclosed" and "closed" in the same sentence. It's confusing.

In fact, the Python module "so

[2017-09-19 16:30] Mariatta commented on #75663
Backport PR has been created. Once the CI checks are done, we can squash and merge it.

[2017-09-19 16:36] vstinner commented on #75660
New changeset 9abee722d448c1c00c7d4e11ce242ec7b13e5c49 by Victor Stinner in branch 'master':
bpo-31479: Always reset the signal alarm in tests (bpo-3588)
https://github.com/python/cpython/commit/9abee722d448c1c00c7d4e11ce242ec7b13e5c49

[2017-09-19 16:37] serhiy-storchaka commented on #75663
If [PR 3629](https://github.com/python/cpython/pull/3629) was closed by mistake it could be just reopened, isn't?

[2017-09-19 16:40] vstinner commented on #75660
While the fix is nice to have to handle corner cases, I'm not sure that it's really useful to backport the change to Python 2.7 and 3.6. So I close the issue.

[2017-09-19 16:40] vstinner commented on #75660
Serhiy: "Maybe add a context manager? Some pattern is repeated multiple times."

As I wrote on the PR, I'm not sure because not all the code look the same. Please propose a PR if you want, I can review it!

[2017-09-19 16:40] #75660 closed, assigned to nobody

[2017-09-19 16:52] Mariatta commented on #75663
Serhiy, it can't be re-opened since miss-islington deleted the branch already.

[2017-09-19 17:16] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
Yes, C strftime returns the same. Inside of Python time.strftime() in Windows we give struct tm with inconsistent attributes (year, mon, mday and wday,yday) as argument for C strftime().

Before it timemodule does a lot of work to parse arguments of time.strftime() and check if all values in obtained struct tm are correct. Also it force values of some attributes to correct ones. Why don't make one

[2017-09-19 17:42] serhiy-storchaka commented on #75663
Ah, now I understand what happened. Thanks Mariatta.

[2017-09-19 17:48] brettcannon commented on #75536
Should this be closed?

[2017-09-19 17:52] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
Actually now Python time.strftime not always returns the same value as C strftime with the same arguments, because timemodule make some refining of raw argument values to avoid errors.

[2017-09-19 17:56] Mariatta commented on #75663
New changeset c6ce8fba07ea6798eac46ab2808167afecd4d90b by Mariatta (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31482:  Missing bytes support for random.seed() version 1 (GH-3614) (GH-3659)
https://github.com/python/cpython/commit/c6ce8fba07ea6798eac46ab2808167afecd4d90b

[2017-09-19 18:19] db760159-bd74-4e2f-9604-aab740191723 commented on #75702
[code]

This crash appears to be specific to having files with some ill-encoded filenames. After renaming the offending files to remove the non-ASCII characters, the process could complete without crashing.

[code]

Please find full output of `coredumpctl info` in the attached file.

                Stack trace of thread 22932:
                #0  0x00007fd216e23514 PyBytes_AsString (libpython3.6m

[2017-09-19 18:19] db760159-bd74-4e2f-9604-aab740191723 opened #75702 "segfault in PyBytes_AsString"
BPO | [31521](https://bugs.python.org/issue31521)
--- | :---
Nosy | @vstinner, @tirkarthi, @isidentical
Files | <li>[python-segfault.txt](https://bugs.python.org/file47154/python-segfault.txt "Uploaded as text/plain at 2017-09-19.18:19:05 by Tim Smith"): coredumpctl -1 info</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current s

[2017-09-19 18:22] bitdancer commented on #75679
Yes, I think we can "fix" some things.  I don't know if this falls into the class of things we should fix.  I'll leave that decision to people with more experience with time stuff.

[2017-09-19 18:24] db760159-bd74-4e2f-9604-aab740191723 commented on #75702
I forgot to mention, this is Arch Linux python package:

Version         : 3.6.2-1
Packager        : Felix Yan \<felixonmars@archlinux.org\>
Build Date      : Wed 19 Jul 2017 01:54:34 PM MDT

I had the files on a vfat filesystem, but copied them to ext4 with the exact same results.

[2017-09-19 18:35] brettcannon commented on #75596
What does the "[us]" mean?

[2017-09-19 18:39] methane commented on #75596
It means μs (micro seconds), in ASCII.

On 2017年9月20日(水) 3:35 Brett Cannon \<report@bugs.python.org\> wrote:

--
Inada Naoki \<songofacandy@gmail.com\>

[2017-09-19 19:02] doko42 commented on #75699
Christian, I assume you'd like to see a test which can be done at \*runtime*, not \*buildtime*.  Assuming you have that openssl upstream patch available in your build dependency, would that help with the detection?  If yes, I'll talk to Debian's and Ubuntu's openssl maintainers to backport it, so the \_ssl module could use it depending on a configure check.

[2017-09-19 19:04] serhiy-storchaka commented on #75596
If this proposition be accepted I would want to see not only cumulated times, but also pure times, without time of nested imports.

I guess this feature doesn't work correctly with threading.

[2017-09-19 19:10] bitdancer commented on #75688
New changeset 9e7b9b21fe45f7d93eaf9382fedfa18247d0d2b2 by R. David Murray (Rohit Balasubramanian) in branch 'master':
bpo-31507 Add docstring to parseaddr function in email.utils.parseaddr (gh-3647)
https://github.com/python/cpython/commit/9e7b9b21fe45f7d93eaf9382fedfa18247d0d2b2

[2017-09-19 19:19] tiran commented on #75634
[PR 3662](https://github.com/python/cpython/pull/3662) undos Debian's patching of OpenSSL. I'm not keen to undo a security improvement. However Debian is breaking backwards compatibility. For Python 3.7 we could consider to disable TLS 1.0 and TLS 1.1 for PROTOCOL_TLS_SERVER and PROTOCOL_TLS_CLIENT.

[2017-09-19 19:24] tiran commented on #75699
[PR 3660](https://github.com/python/cpython/pull/3660) and [PR 3661](https://github.com/python/cpython/pull/3661) address most of the failing tests. The two failures in [msg302531](https://bugs.python.org/msg302531) are discussed in issue bpo-31453.

[2017-09-19 21:56] terryjreedy commented on #75681
Cheryl, what do you get with

[code]

If it is less than 1.2, then Serhiy's revised patch should leave config dialog as it should be.

[2017-09-19 22:34] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 opened #75703 "_mboxMMDF.get_string() fails to pass param to get_bytes()"
BPO | [31522](https://bugs.python.org/issue31522)
--- | :---
Nosy | @warsaw, @bitdancer, @iritkatriel
PRs | <li>python/cpython#9857</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 22:34] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75703
See:
https://github.com/python/cpython/blob/master/Lib/mailbox.py#L787

The code should be

self.get_bytes(key, from_)).as_string(unixfrom=from_)

[2017-09-19 22:48] Mariatta commented on #75682
New changeset e2593aa673c0347a74c4896a519e3b8cb7b55eb4 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31501: Operator precedence description for arithmetic operators (GH-3633) (GH-3638)
https://github.com/python/cpython/commit/e2593aa673c0347a74c4896a519e3b8cb7b55eb4

[2017-09-19 23:01] terryjreedy commented on #75681
New changeset d6e2f26f3f7c62a4ddbf668027d3ba27cb0e1eca by Terry Jan Reedy in branch 'master':
bpo-31500: Removed fixed size of IDLE config dialog. (bpo-3664)
https://github.com/python/cpython/commit/d6e2f26f3f7c62a4ddbf668027d3ba27cb0e1eca

[2017-09-19 23:08] zooba opened #75704 "Windows build file fixes"
BPO | [31523](https://bugs.python.org/issue31523)
--- | :---
Nosy | @zooba
PRs | <li>python/cpython#3900</li><li>python/cpython#3902</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-19 23:08] zooba commented on #75704
This is basically a note to myself to go and fix these things when I have time (before 3.7a2):

* split upload steps so we can fail on real failures
* fail immediately if gpg2 step fails
* purge and retry if download fails

[2017-09-19 23:08] zooba commented on #75704
Also:

* build releases to versioned subdirectories of Py_IntDir when it is set

[2017-09-19 23:25] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75703
https://github.com/python/cpython/blob/master/Lib/mailbox.py#L778

The code here reads the first line, but fails to save it as the unixfrom line.

Alternatively perhaps it should reset the file back to the start so the message factory has sight of the envelope.

The end result is that the envelope is lost.

[2017-09-19 23:27] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 opened #75705 "mailbox._mboxMMDF.get_message throws away From envelope"
BPO | [31524](https://bugs.python.org/issue31524)
--- | :---
Nosy | @warsaw, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-107117
* gh-115098
* gh-115099

[2017-09-19 23:27] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75705
https://github.com/python/cpython/blob/master/Lib/mailbox.py#L778

The code here reads the first line, but fails to save it as the unixfrom line.

Alternatively perhaps it should reset the file back to the start so the message factory has sight of the envelope.

The end result is that the envelope is lost.

[2017-09-19 23:28] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75703
Ignore [msg302569](https://bugs.python.org/msg302569) - that was supposed to be a new issue.

[2017-09-19 23:45] terryjreedy commented on #75681
New changeset 97be14996b247b853ead77fb255d7029e3cf3dc9 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31500: Removed fixed size of IDLE config dialog. (GH-3664) (bpo-3665)
https://github.com/python/cpython/commit/97be14996b247b853ead77fb255d7029e3cf3dc9

[2017-09-20 00:24] csabella commented on #75681
[code]

[2017-09-20 00:32] csabella commented on #75681
configdialog looks better now, but the fonts are still huge.  The configdialog is almost bigger than the shell when it opens.

[2017-09-20 00:43] bitdancer commented on #75705
It looks like it is saving it (the set_from line).  Do you have a test that proves otherwise?

[2017-09-20 01:03] csabella commented on #75689
Serhiy,

In tkinter \_\_init__.py, there's messages on trace_variable and other trace functions about adding a deprecation warning.  I didn't know if you intended to make those changes as well.

[2017-09-20 01:05] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75705
It is not saving the unix from line.

#!/usr/bin/env python3

[code]

[2017-09-20 01:09] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75705
I believe that setting the file back to the start is probably the best solution.

The message as provided by e.g. postfix will include the From header and the parser is able to deal with that successfully, so I'm not sure why the mbox reader removes it before calling the parser. It only really needs to drop the trailing newline to ensure that the parser gets the same data.

[2017-09-20 01:25] terryjreedy commented on #75681
It appears that the cutoff of 1.2 in the patch is too low.  Try raising it to 1.4 and you should see the dialog normal.

[2017-09-20 01:30] terryjreedy commented on #75681
I mean '  if scaling \>= 1.2:' in run.fix_scaling.  It would also be interesting to instead replace the last line,  "font['size'] = -size" with "font['size'] = 9" (or 8 or 10) and see how close the dialog is to what is was before.

[2017-09-20 01:47] benjaminp commented on #75706
sqlite has had the sqlite3_prepare_v2 API for more than 10 years now. The sqlite module should switch to using it, which will let us delete some code for automatically recompiling statements.

[2017-09-20 01:47] benjaminp opened #75706 "require sqlite3_prepare_v2"
BPO | [31525](https://bugs.python.org/issue31525)
--- | :---
Nosy | @benjaminp, @berkerpeksag, @miss-islington
PRs | <li>python/cpython#3666</li><li>python/cpython#12923</li><li>python/cpython#12972</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-09-20 02:08] bitdancer commented on #75705
It just needs to call set_unixfrom as well as set_from.  I don't know why the MMDFMessage tracks it separately, but I'm sure the author had a reason that seemed good at the time :)

[2017-09-20 02:28] tim-one commented on #75698
Is there a problem here?  I haven't heard of anyone even wondering about this before.  threading.py worries about Threads created _by_ threading.py, plus the magical (from its point of view) thread that first imports threading.py.  Users mix in `_thread` threads, or raw C threads from extension modules, essentially at their own risk.  Which risks are minimal, but can have visible consequences.

I

[2017-09-20 03:31] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75679
Thank you for your answers. It's what I want to know. It looks like I shouldn't try to fix (to break) something that works well enough.

If nobody minds I'll close the issue with not a bug resolution.

[2017-09-20 03:35] berkerpeksag commented on #75706
We already use sqlite3_prepare_v2 if it's available: https://github.com/python/cpython/blob/master/Modules/_sqlite/util.h#L43

Do you want to use sqlite3_prepare_v2() unconditionally and drop support for older SQLite versions?

[2017-09-20 03:44] ncoghlan commented on #75687
New changeset a6c0c0695614177c8b6e1840465375eefcfee586 by Nick Coghlan (Serhiy Storchaka) in branch 'master':
bpo-31506: Improve the error message logic for object.\_\_new__ and object.\_\_init__. (GH-3650)
https://github.com/python/cpython/commit/a6c0c0695614177c8b6e1840465375eefcfee586

[2017-09-20 04:05] ncoghlan commented on #75687
Reopening, as I was a little hasty with the merge button: the merged PR *also* changed the `__init__` error message to drop the method name, but I don't think that's what we want.

I'm also wondering if we should change the up-call case to \*always* report the method name.

That is, we'd implement the following revised behaviour:

[code]

    C(42) -> "TypeError: C() takes no arguments"
    C.__ne

[2017-09-20 04:07] benjaminp commented on #75706
ermm, yes, I guess I was looking at an old version of the code.

[2017-09-20 04:24] ncoghlan commented on #75698
One place where this came up recently is in working out precisely how a Python-level subinterpreter API will interact with the threading API: https://mail.python.org/pipermail/python-dev/2017-September/149566.html

That said, I do agree with Tim that the status quo isn't broken per se: we renamed `thread` to `_thread` in Python 3 for a reason, and that reason is that you really need to know how Py

[2017-09-20 05:11] 26146b4a-64b3-41be-a7ce-8c1c38641ca8 commented on #75707
Context: I have a script which checks out a software release (tagged git revision) and builds an archive to distribute to end users. One goal of this script is that the archive is reproducible, ie if the script is run twice (at different times, on different machines, by different people) it produces bit-for-bit identical output, and thus also has the same SHA-256 hash.

Mostly this works great, us

[2017-09-20 05:11] 26146b4a-64b3-41be-a7ce-8c1c38641ca8 opened #75707 "Allow setting timestamp in gzip-compressed tarfiles"
BPO | [31526](https://bugs.python.org/issue31526)
--- | :---
Nosy | @jonashaag, @vadmium, @randombit, @madebr, @FFY00

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-138117

[2017-09-20 05:17] ncoghlan opened #75708 "Report details of excess arguments in object_new & object_init"
BPO | [31527](https://bugs.python.org/issue31527)
--- | :---
Nosy | @ncoghlan, @serhiy-storchaka
Dependencies | <li>bpo-31506: Improve the error message logic for object_new &amp; object_init</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[cod

[2017-09-20 05:17] ncoghlan commented on #75708
object_new and object_init currently use their own argument checking logic, and hence haven't benefited from the error reporting enhancements in PyArg_ParseTupleAndKeywords

Compare:

[code]

To:

[code]

bpo-31506 amends the latter to at least report the subclass name rather than the base class name, but doesn't cover any other enhancements, like reporting how many arguments were actually given,

[2017-09-20 05:19] ncoghlan commented on #75708
Adding a dependency on bpo-31506, as this shouldn't be tackled until those simpler amendments are resolved.

[2017-09-20 05:20] ncoghlan commented on #75687
I filed bpo-31527 as a follow-up issue to see whether or not it might be possible to amend the way these custom errors are generated to benefit from the work that has gone into improving the error responses from PyArg_ParseTupleAndKeywords.

[2017-09-20 05:47] c5a45bda-e66d-4d28-8efd-a27ceb4dcd81 commented on #75532
I guess this is also the root cause for the problem I reported on virtualenv: https://github.com/pypa/virtualenv/issues/1074

[2017-09-20 05:58] serhiy-storchaka commented on #75681
If just negate the size the menu and the dialog fonts look like on a display with 72 DPI. But currently monitors rarely have such DPI. Normal displays have about 100 DPI (scaling factor about 1.33). If we want to keep font sizes on such displays we should multiply sizes by 0.75 for converting from pixels to points.

[2017-09-20 06:07] serhiy-storchaka commented on #75687
C.\_\_new__(42) emits different error, "TypeError: object.\_\_new__(X): X is not a type object (int)". Perhaps you meant C.\_\_new__(C, 42) which now emits "TypeError: C() takes no arguments".

Messages "object.\_\_new__() takes no arguments" and "object.\_\_init__() takes no arguments" are not correct since both object.\_\_new__() and object.\_\_init__() take one argument -- a class and an instan

[2017-09-20 06:14] serhiy-storchaka commented on #75708
str(x=1) is not the best example since str() takes keyword arguments. Look at tuple() and list():

[code]

Initial version of my patch for bpo-31506 reported error messages similar to tuple() and list(), but at end I simplified it since in any case the error message was not perfect.

[2017-09-20 06:26] serhiy-storchaka commented on #75689
Thank you Cheryl. I'll open a separate issue.

[2017-09-20 06:30] ncoghlan commented on #75687
Aye, the "C.\_\_new__" example omitting the first arg was just an error in that example.

And that's a good point about the current "object.\_\_init__()" error message actually being incorrect, since the \*methods* each take exactly one argument - it's only the "object(*args, \*\*kwds)" form that genuinely expects zero arguments.

If we were to correct that error as well, we'd end up with the foll

[2017-09-20 07:17] serhiy-storchaka commented on #75689
Oh, I missed that the selection() method with its current behavior is documented in the module documentation. It isn't undocumented implementation detail. This raises a bar for removing higher.

I think it is better to defer removing to 3.8 or later. Instead we should document the deprecation.

[2017-09-20 08:26] pitrou commented on #75698
This came while working on the PEP-556 implementation.

[2017-09-20 08:26] pitrou commented on #75698
This is not caused by `_thread` specifically, but any background thread created by C code that might invoke Python code.  The reproducer just uses the `_thread` module out of convenience.

[2017-09-20 08:31] pitrou commented on #75698
I'm not sure this is an issue worth fixing, but I don't think it's a good idea to document such quirky semantics.

[2017-09-20 08:40] 693f263f-a080-47dc-8f14-c27d15b50a75 opened #75709 "Let ConfigParser parse systemd units"
BPO | [31528](https://bugs.python.org/issue31528)
--- | :---
Nosy | @mcepl, @ambv, @cooperlees, @bbayles, @johnlinp

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-20 08:40] 693f263f-a080-47dc-8f14-c27d15b50a75 commented on #75709
Although systemd units are inspired by .ini format, ConfigParser is unable to parse those files because:

1. Multiple assignments to the same option in systemd units are concatenated with white spaces.
2. Multiple sections with the same section name are merged.
3. An option assignment of empty value resets the option.

I suggest 3 corresponding parameters in ConfigParser.\_\_init__():

1. merge_op

[2017-09-20 08:45] terryjreedy commented on #75681
My screen is 23.5 x 13.25, making it 109 DPI.  I asked Cheryl to try 9 first because it is 3/4 of 12.

[2017-09-20 08:47] ncoghlan commented on #75698
We had the quirks of import related threading deadlocks documented for a long time, not as a promise, but as a debugging aid (and a recommendation for "don't do that").

I'd see this as being similar: we'd document that if you're using the \_thread module, or otherwise allowing operating system threads not managed by the threading module to call in and run arbitrary Python code, then you should ru

[2017-09-20 08:58] #75679 closed, assigned to brettcannon

[2017-09-20 12:04] csabella commented on #75681
The scaling factor of 1.4 worked and the menu and configdialog looked normal.

font['size'] = 9 also worked as did font['size'] = 10.  font['size'] = 12 is when it's too big.

[2017-09-20 12:50] vstinner commented on #75690
As expected, I'm unable to reproduce the bug on my Windows VM, even using --forever during 1 hour:
python -m test test_subprocess -v --timeout=120 --forever.

[2017-09-20 13:06] csabella opened #75710 "IDLE: Add docstrings and tests for editor.py reload functions"
BPO | [31529](https://bugs.python.org/issue31529)
--- | :---
Nosy | @terryjreedy, @csabella
PRs | <li>python/cpython#3669</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* g

[2017-09-20 13:06] csabella commented on #75710
Add docstrings and unit tests for a subset of functions in editor.py, including functions related to creating the menubar, adding keybinding events, and reloading the editor from configdialog.

[2017-09-20 13:27] vstinner commented on #75711
Reading from the same file object in different threads does crash Python 2.7. The readahead feature of [Objects/fileobject.c](https://github.com/python/cpython/blob/main/Objects/fileobject.c) is not thread safe.

Try attached script to reproduce the crash.

[2017-09-20 13:27] vstinner opened #75711 "CVE-2018-1000030: Python 2.7 readahead feature of file objects is not thread safe"
BPO | [31530](https://bugs.python.org/issue31530)
--- | :---
Nosy | @malemburg, @gvanrossum, @pitrou, @vstinner, @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#3670</li><li>python/cpython#3672</li><li>python/cpython#5060</li>
Files | <li>[readahead.py](https://bugs.python.org/file47156/readahead.py "Uploaded as text/plain at 2017-09-20.13:27:12 by @vstinner")</li><li>[0001-stop-crashes-whe

[2017-09-20 13:28] vstinner commented on #75711
Benjamin Peterson proposed attached patch.

@Benjamin: Would you mind to convert this patch to a PR to ease review?

[2017-09-20 13:33] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75712 "crash and SystemError in case of a bad zipimport._zip_directory_cache"
BPO | [31531](https://bugs.python.org/issue31531)
--- | :---
Nosy | @serhiy-storchaka, @orenmn

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-20 13:33] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75712
The following code causes the interpreter to crash (in case 'foo.zip' exists):

[code]

This is because zipimport_zipimporter___init___impl() (in [Modules/zipimport.c](https://github.com/python/cpython/blob/main/Modules/zipimport.c))
looks for the zipfile in \_zip_directory_cache, and in case it is found, stores
its item in the new ZipImporter. Later, check_is_directory() assumes the stored
item i

[2017-09-20 13:36] vstinner commented on #75711
The bug was first reported to the private Python security mailing list. The PSRT decided that it's a regular bug and doesn't need to be categorized as a vulnerability, since the attacker has to be able to run arbitrary code in practice.

The PSRT considers that no Python 2.7 application currently rely on reading from the same file object "at the same time" from different thread, since it currently

[2017-09-20 13:39] vstinner commented on #75711
Python 3 is not affected by this bug.

In Python 3, the full I/O stack was rewritten from scratchn, the new io module has a different design. Reading ahead still exists in the io module, but it is now done by a dedicated object: io.BufferedReader, and this object uses a lock to prevent concurrent reads. A single thread controls the file position at the same time. (Except if a different thread uses

[2017-09-20 13:53] vstinner commented on #75711
In Python 3, reading ahead is implemented by \_io.BufferedReader. This object uses a lock to provide a prevent race condition: it's not only to prevent crashes, but also provide warranties on how the file is read.

If thread A calls read() first, it gets the next bytes. If thread B calls read() while thread A is filling the internal file buffer ("readahead buffer"?), the second read is queued. The

[2017-09-20 13:53] serhiy-storchaka commented on #75711
The patch is complex. What if just deny reentrant reads? Set a flag while read into a buffer, check it before reading in other thread, and raise RuntimeError.

[2017-09-20 13:54] vstinner commented on #74671
New changeset 0ad05c32cc41d4c21bfd78b9ffead519ead475a2 by Victor Stinner in branch 'master':
bpo-30486: Make cell_set_contents() symbol private (bpo-3668)
https://github.com/python/cpython/commit/0ad05c32cc41d4c21bfd78b9ffead519ead475a2

[2017-09-20 14:04] vstinner commented on #75711
Serhiy: "What if just deny reentrant reads? Set a flag while read into a buffer, check it before reading in other thread, and raise RuntimeError."

io.BufferedReader/io.BufferedWriter raises a RuntimeError exception for reentrant call, but only in the same thread. For example, it ease debug for signal handlers which trigger such reentrant call.

I'm not sure about 0001-stop-crashes-when-iterating-

[2017-09-20 14:05] vstinner commented on #75711
@Serhiy: Would you like to propose a PR to implement your RuntimeError. Maybe we can test a few popular Python projects to see if the change would break them?

Which popular applications use threads (and files)? :-)

[2017-09-20 14:28] gvanrossum commented on #75711
@benjamin can you post your patch as a PR so you'll get credit for it?

[2017-09-20 14:36] benjaminp commented on #75706
New changeset 525269430a3f9fbb7287e4bb6b365ac216004980 by Benjamin Peterson in branch 'master':
closes bpo-31525: require sqlite3_prepare_v2 (bpo-3666)
https://github.com/python/cpython/commit/525269430a3f9fbb7287e4bb6b365ac216004980

[2017-09-20 14:36] #75706 closed, assigned to nobody

[2017-09-20 14:38] malemburg commented on #75711
Why not simply document the fact that read ahead in Python 2.7
is not thread-safe and leave it at that ?

.next() and .readline() already don't work well together, so this
would just add one more case.

[2017-09-20 14:38] a9f0f04e-d35d-4bb1-aab8-c9205db013c8 opened #75713 "Py_GetPath, Py_SetPath memory corruption due to mixed PyMem_New micex with PyMem_Raw_Free"
BPO | [31532](https://bugs.python.org/issue31532)
--- | :---
Nosy | @vstinner, @benjaminp, @nurelin
PRs | <li>python/cpython#3679</li><li>python/cpython#3681</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-20 14:38] a9f0f04e-d35d-4bb1-aab8-c9205db013c8 commented on #75713
When using

[code]

near the beginning of a program, Py_SetPath crashes with memory corruption if run on a systems with glibc's MALLOC_CHECK enabled.

The reason is: Py_GetPath and Py_SetPath use different memory interfaces.

* Py_GetPath() calls calculate_path(), which uses PyMem_New() to allocate the memory (see https://github.com/python/cpython/blob/v3.6.0/Modules/getpath.c#L738, assigned to `b

[2017-09-20 14:40] malemburg commented on #75711
Ah, didn't see Benjamin's patch: much better solution :-)

[2017-09-20 15:22] gvanrossum commented on #75711
Program bugs should not crash the interpreter. (ctypes excepted.)

[2017-09-20 15:33] serhiy-storchaka commented on #75711
Actually such flag already exists. It is unlocked_count.

There is also similar issue with seek().

[2017-09-20 15:38] csabella commented on #75674
Sorry, I didn't see this until now.

I added a line to editor.py in bpo-31529 for this error message.  In _close() in editor.py, self.text was being set to None which wasn't calling the __del__ function of multicall.  I added a line to unbind "<<toggle-code-context>>", which made the error go away.  I don't know if that's the proper fix or not, but it seemed the error was occurring because the `af

[2017-09-20 15:43] 74276bb4-928d-42d2-ac2e-17266a3681b7 opened #75714 "Dead link in SSLContext.set_ciphers documentation"
BPO | [31533](https://bugs.python.org/issue31533)
--- | :---
Nosy | @pitrou, @tiran, @felipeochoa, @Mariatta
PRs | <li>python/cpython#3674</li><li>python/cpython#3675</li><li>python/cpython#3676</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[

[2017-09-20 15:43] 74276bb4-928d-42d2-ac2e-17266a3681b7 commented on #75714
The link to the `OpenSSL cipher list format` 404s. I don't know if it's where the original meant to point, but the same information is available at https://wiki.openssl.org/index.php/Manual:Ciphers(1)#CIPHER_LIST_FORMAT

[2017-09-20 15:59] e048a7a3-4b90-41ff-91e5-93379d32ab42 opened #75715 "python 3.6.2 installation failed 0x80070002 error"
BPO | [31534](https://bugs.python.org/issue31534)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba
Files | <li>[Python 3.6.2 (64-bit)_20170920180757.log](https://bugs.python.org/file47158/Python%203.6.2%20%2864-bit%29_20170920180757.log "Uploaded as hello,  i have windows 7 with 64 bit os. i download the files: Python 3.6.2 - 2017-07-17:  Windows x86-64 web-based installer  Windows x86-64 execut

[2017-09-20 15:59] e048a7a3-4b90-41ff-91e5-93379d32ab42 commented on #75715
hello,

i have windows 7 with 64 bit os.
i download the files:
Python 3.6.2 - 2017-07-17:
 Windows x86-64 web-based installer
 Windows x86-64 executable installer.
i clicked run as admin when i tried each one of them.

in the setup window,i clicked on "install now".
it started loading and then showed "setup failed":"0x80070002- the system cannot find the file specified".
i add the log file for mor

[2017-09-20 15:59] malemburg commented on #75711
On 20.09.2017 17:22, Guido van Rossum wrote:

Ideally not, agreed :-)