[2017-09-06 00:37] 1st1 commented on #75531
New changeset 80bbe6a7b67f33d0d0976bb8e3e5ba26b6b0e626 by Yury Selivanov (jimmylai) in branch 'master':
bpo-31350: Optimize get_event_loop and \_get_running_loop (bpo-3347)
https://github.com/python/cpython/commit/80bbe6a7b67f33d0d0976bb8e3e5ba26b6b0e626

[2017-09-06 00:42] warsaw commented on #75518
Alright, I'm going to close this bug in favor of bpo-31338

[2017-09-06 00:42] #75518 closed, assigned to warsaw

[2017-09-06 00:43] zware opened #75539 "Pull zlib out to cpython-source-deps"
BPO | [31358](https://bugs.python.org/issue31358)
--- | :---
Nosy | @doko42, @pfmoore, @tjguk, @zware, @zooba
PRs | <li>python/cpython#3375</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 00:43] zware commented on #75539
We currently bundle zlib in our source at [Modules/zlib](https://github.com/python/cpython/blob/main/Modules/zlib), but it is only used on Windows.  The soon-to-be-attached PR instead pulls it from https://github.com/python/cpython-source-deps

There is one failure in test_venv only when zlib is not built at all, which I have not yet investigated.

/cc doko as the most recent updater of the bundle

[2017-09-06 00:57] vstinner commented on #75536
New changeset 501b324d3a940d26e0021a38aae8d896a30fbcff by Victor Stinner in branch 'master':
bpo-31355: Travis CI: remove the macOS job (bpo-3367)
https://github.com/python/cpython/commit/501b324d3a940d26e0021a38aae8d896a30fbcff

[2017-09-06 00:57] ned-deily commented on #75130
New changeset 297516ea509c72d8ebed3a9b3ce200f023aca0b7 by Ned Deily (Victor Stinner) in branch '3.3':
[3.3] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3352)
https://github.com/python/cpython/commit/297516ea509c72d8ebed3a9b3ce200f023aca0b7

[2017-09-06 00:57] ned-deily commented on #75353
New changeset 297516ea509c72d8ebed3a9b3ce200f023aca0b7 by Ned Deily (Victor Stinner) in branch '3.3':
[3.3] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3352)
https://github.com/python/cpython/commit/297516ea509c72d8ebed3a9b3ce200f023aca0b7

[2017-09-06 01:07] benjaminp commented on #75353
New changeset c00d5087cd308cc8be41e0afd8df27726185347f by Benjamin Peterson (Victor Stinner) in branch '2.7':
bpo-31170: Update libexpat from 2.2.3 to 2.2.4 (bpo-3315)
https://github.com/python/cpython/commit/c00d5087cd308cc8be41e0afd8df27726185347f

[2017-09-06 01:11] Mariatta commented on #75501
New changeset c506403faf8dbfc8baf4212e8e2aedb7268acb5e by Mariatta (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31320: No traceback to sys.stderr in test_ssl (GH-3360) (GH-3369)
https://github.com/python/cpython/commit/c506403faf8dbfc8baf4212e8e2aedb7268acb5e

[2017-09-06 01:13] Mariatta commented on #74847
New changeset 3b9d4444fe631117430dee8ef8a2f205b4b450d5 by Mariatta in branch '3.6':
[3.6] bpo-30662: fixed OrderedDict.\_\_init__ docstring re PEP-468 (GH-2179) (GH-3370)
https://github.com/python/cpython/commit/3b9d4444fe631117430dee8ef8a2f205b4b450d5

[2017-09-06 01:13] Mariatta commented on #74847
Backport done.
Thanks all :)

[2017-09-06 01:13] #74847 closed, assigned to Mariatta

[2017-09-06 01:26] ericsnowcurrently commented on #75043
New changeset 76d5abc8684bac4f2fc7cccfe2cd940923357351 by Eric Snow in branch 'master':
bpo-30860: Consolidate stateful runtime globals. (bpo-2594)
https://github.com/python/cpython/commit/76d5abc8684bac4f2fc7cccfe2cd940923357351

[2017-09-06 01:28] ncoghlan commented on #74174
I've updated the draft PR to actually raise the exception from a pending call hook, rather than emulating it in a trace hook.

This was a bit trickier than I first expected, as it required moving the trace hook itself into C, as otherwise the "return" bytecode at the end of the trace function would trigger the just registered pending call (and the pending call processing isn't deferred in the trac

[2017-09-06 01:43] ned-deily commented on #75536
New changeset 11453524ed26ee449275c32bedfd86ef19dd91ee by Ned Deily (Victor Stinner) in branch '3.6':
bpo-31355: Travis CI: remove the macOS job (bpo-3367)
https://github.com/python/cpython/commit/11453524ed26ee449275c32bedfd86ef19dd91ee

[2017-09-06 01:45] ned-deily commented on #75536
New changeset 2bc83afb30850f682487ffa560c9e3663788baaa by Ned Deily (Victor Stinner) in branch '2.7':
bpo-31355: Travis CI: remove the macOS job (bpo-3367)
https://github.com/python/cpython/commit/2bc83afb30850f682487ffa560c9e3663788baaa

[2017-09-06 02:33] 5eb571bb-289a-4a8a-a14b-ecb8839d7e2a commented on #75540
At Dropbox, we use a custom fork of Python to deploy our Desktop Client onto various platforms, including macOS. We currently use the Mac OS X 10.11 SDK, but are considering updating to the macOS 10.12 SDK, which introduced new low-level functions, such as `getentropy`. Apple uses a series of "availability macros" with new warnings in Clang to consider the case when the `MACOSX_DEPLOYMENT_TARGET`

[2017-09-06 02:33] 5eb571bb-289a-4a8a-a14b-ecb8839d7e2a opened #75540 "`configure` script incorrectly detects symbols as available on Mac w/ Xcode 8+"
BPO | [31359](https://bugs.python.org/issue31359)
--- | :---
Nosy | @ronaldoussoren, @ned-deily
Superseder | <li>bpo-41100: Support macOS 11 and Apple Silicon Macs</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-09-06 03:05] Mariatta commented on #75531
New changeset ff125e1aa9ee4eb928de79320a0e7c1b0c0f58f4 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31350: Optimize get_event_loop and \_get_running_loop (GH-3347) (GH-3373)
https://github.com/python/cpython/commit/ff125e1aa9ee4eb928de79320a0e7c1b0c0f58f4

[2017-09-06 03:06] Mariatta commented on #75531
This has been backported.
Thanks all :)

[2017-09-06 03:06] #75531 closed, assigned to nobody

[2017-09-06 03:06] vstinner commented on #75043
Sadly, Windows doesn't like much your big change.

Just one example:

     2>C:\buildbot.python.org\3.x.kloth-win64\build\Include\Python-ast.h(563): warning C4005: 'Yield': macro redefinition [C:\buildbot.python.org\3.x.kloth-win64\build\PCbuild\pythoncore.vcxproj]
         C:\Program Files (x86)\Windows Kits\8.1\Include\um\winbase.h(97): note: see previous definition of 'Yield'
         bltinmodu

[2017-09-06 03:37] benjaminp commented on #75043
I'm also a bit skeptical about the header design in this PR. We should not to have a monolithic \_Python.h header, and it should not be sometimes included in Python.h. Rather, code that needs the internal headers should include them directly. In fact, this PR regresses that by moving all the internal headers into Include/...

[2017-09-06 03:42] a1f79920-b6fc-44ea-ad2b-a1825616e6d0 commented on #75541
Hopefully I'm not being obtuse, but I seem to be getting incorrect/unexpected help output when using mutually_exclusive_group under an add_argument_group if this layering is happening in a parent parser.

Here's an example of the triggering usage:

[code]

which produces:

usage: bar.py hit [-h] [--summary] [--verbose]
                  [--plain STYLE | --green STYLE | --blue STYLE]

optional argu

[2017-09-06 03:42] a1f79920-b6fc-44ea-ad2b-a1825616e6d0 opened #75541 "argparse mutually_exclusive_group under add_argument_group fails if part of parent_processor"
BPO | [31360](https://bugs.python.org/issue31360)
--- | :---
Nosy | @vadmium
Superseder | <li>bpo-25882: argparse help error: arguments created by add_mutually_exclusive_group() are shown outside their parent group created by add_argument_group()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summ

[2017-09-06 04:43] ericsnowcurrently commented on #75043
New changeset 05351c1bd8b70d1878527762174cdaaba3572395 by Eric Snow in branch 'master':
Revert "bpo-30860: Consolidate stateful runtime globals." (bpo-3379)
https://github.com/python/cpython/commit/05351c1bd8b70d1878527762174cdaaba3572395

[2017-09-06 04:55] tiran commented on #73967
New changeset 6877111648ac3e042ee5d0458cbeb65dd1a84b2d by Christian Heimes in branch 'master':
bpo-29781: Fix SSLObject.version before handshake (bpo-3364)
https://github.com/python/cpython/commit/6877111648ac3e042ee5d0458cbeb65dd1a84b2d

[2017-09-06 05:37] a0dcdba0-28a6-4cce-9a42-ab0466807922 opened #75542 "Update feedparser.py to prevent theano compiling fail in python3"
BPO | [31361](https://bugs.python.org/issue31361)
--- | :---
Nosy | @warsaw, @bitdancer, @serhiy-storchaka
PRs | <li>python/cpython#3336</li>
Files | <li>[pip3.update](https://bugs.python.org/file47128/pip3.update "Uploaded as text/plain at 2017-09-08.21:42:00 by Wei-Shun Lo")</li><li>[Screen Shot 2017-09-09 at 12.26.01 PM.png](https://bugs.python.org/file47129/Screen%20Shot%202017-09-09%20at%2012

[2017-09-06 05:37] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
To get theano compiled successfully

[2017-09-06 05:39] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
Issue resolved in pull request : https://github.com/python/cpython/pull/3336

[2017-09-06 05:51] doko42 commented on #75539
+1, if that's ok with the Windows maintainers.

[2017-09-06 06:20] 9ee5d0b6-b50d-4df0-b5f3-86d06d7afd4a opened #75543 ""async" and "await" are not keyword"
BPO | [31362](https://bugs.python.org/issue31362)
--- | :---
Nosy | @1st1, @ammaraskar

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 06:20] 9ee5d0b6-b50d-4df0-b5f3-86d06d7afd4a commented on #75543
"async" and "await" became kaywords in CPython 3.6. but in the keyword library, they are not in kwlist, and will return False by iskeyword method.

[2017-09-06 06:26] 9ee5d0b6-b50d-4df0-b5f3-86d06d7afd4a commented on #75543
"async" and "await" became kaywords in CPython 3.6. But they are not in kwlist of the keyword library, and will return False by iskeyword method.

[2017-09-06 06:39] ammaraskar commented on #75543
For what its worth, "async" and "await" are special keywords. They only act as keywords under certain situations by the tokenizer. You can read more about this here: https://www.python.org/dev/peps/pep-0492/#transition-plan

As far as I am aware, this special casing exists even in the latest version: https://github.com/python/cpython/blob/master/Parser/tokenizer.c#L1553-L1588

[2017-09-06 06:39] scoder commented on #75517
BTW, it seems that Yury's dict copy optimisation would also help here. When I use a benchmark scenario with a simple non-empty method/attribute dict (from Cython this time), almost 10% of the creation time is spent copying that dict, which should essentially just be a memcopy() since it doesn't need any resizing at that point.

[2017-09-06 06:41] gpshead commented on #75361
New changeset 3fc499bca18454b9f432b9b0106cab662bfeb549 by Gregory P. Smith (Ammar Askar) in branch 'master':
bpo-31178: Avoid concatenating bytes with str in subprocess error (bpo-3066)
https://github.com/python/cpython/commit/3fc499bca18454b9f432b9b0106cab662bfeb549

[2017-09-06 06:45] gpshead commented on #75361
awaiting our new carrot nosed bot the create the backport PR to take care of 3.6 :)

[2017-09-06 06:49] serhiy-storchaka commented on #75542
Why not fix theano instead? Implicit stringification of an argument can hide other bugs.

The resolution field should be changed only when close an issue.

[2017-09-06 06:58] ammaraskar commented on #75361
If it doesn't manage to make it by tomorrow afternoon, I can backport it manually. It doesn't look like its been able to do it yet.

[2017-09-06 07:15] ronaldoussoren commented on #75540
An alternative solution, which is more invasive is to explicitly use weak linking, as is already used for some ancient APIs in posixmodule.c (look for "lchown" in [Modules/posixmodule.c](https://github.com/python/cpython/blob/main/Modules/posixmodule.c)).

This is more invasive, but would be helpful for upstream as well because this allows building binaries that work on older versions of macOS but

[2017-09-06 07:18] methane commented on #75517
Confirmed:
$ ./python-patched -m perf timeit --compare-to `pwd`/python -- 'class C: pass'
python: ..................... 11.9 us +- 0.1 us
python-patched: ..................... 10.3 us +- 0.1 us

Mean +- std dev: [python] 11.9 us +- 0.1 us -\> [python-patched] 10.3 us +- 0.1 us: 1.15x faster (-13%)

[2017-09-06 07:52] 9ee5d0b6-b50d-4df0-b5f3-86d06d7afd4a commented on #75543
thanks Ammar Askar, I also find this Issue is duplidcate, bpo-26264 has the same question. So I'll just close this oen.

[2017-09-06 07:52] #75543 closed, assigned to nobody

[2017-09-06 07:59] 8261aa84-e702-455d-ad8f-b513a205490a opened #75544 "__PYVENV_LAUNCHER__ breaks calling another venv's interpreter"
BPO | [31363](https://bugs.python.org/issue31363)
--- | :---
Nosy | @vsajip, @ned-deily, @Kentzo
Superseder | <li>bpo-22490: Using realpath for __PYVENV_LAUNCHER__ makes Homebrew installs fragile</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-09-06 07:59] 8261aa84-e702-455d-ad8f-b513a205490a commented on #75544
There are 2 venvs. One has the pkg_resources (pkgr_venv) package installed, another (venv) doesn't.

Venv without pkg_resources is currently active.

Works: $ \<pkgr_venv\>/python -c "import pkg_resources"

Doesn't work: $ python -c "import subprocess; subprocess.check_call(['\<pkgr_venv\>/python', '-c', 'import pkg_resources'])"

Works: $ python -c "import os, subprocess; env = os.environ.copy();

[2017-09-06 08:07] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75545
It looks like last PR bpo-3377 changing pytime.c (adding #include \<winsock2.h\>) causing problem with compilation. Now on my Win10 i have multiple warnings and errors about ws2def.h, winsock.h and winsock2.h (see attached file).

[2017-09-06 08:07] 1cb85035-97d8-42c3-a287-2706aee5fe65 opened #75545 "Possible problem with PR #3377"
BPO | [31364](https://bugs.python.org/issue31364)
--- | :---
Nosy | @pfmoore, @pitrou, @tjguk, @benjaminp, @zware, @zooba, @denis-osipov
PRs | <li>python/cpython#3377</li>
Files | <li>[output.txt](https://bugs.python.org/file47123/output.txt "Uploaded as text/plain at 2017-09-06.08:07:46 by @denis-osipov"): Output with warnings and errors</li>

<sup>*Note: these values reflect the state of the iss

[2017-09-06 09:00] scoder commented on #74588
OTOH, if the created "module" is not a module object, then we could argue that the extension implementation is on its own with that case, and has to do its own re-execution safety checks.

[2017-09-06 10:59] e9a7306f-203f-4fec-a968-78b8268d65a5 commented on #75546
Multipy 16.1 by 100 or 1000 returns a result to 13 decimal places. See example -

[code]

[2017-09-06 10:59] e9a7306f-203f-4fec-a968-78b8268d65a5 opened #75546 "Multiplication issue with 16.1"
BPO | [31365](https://bugs.python.org/issue31365)
--- | :---
Nosy | @terryjreedy, @vadmium

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 11:10] pitrou commented on #75545
AppVeyor breaks as well:
https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.5986#L200

[2017-09-06 11:26] vadmium commented on #75541
Seems the same as two other open bugs: bpo-25882 and bpo-16807.

[2017-09-06 11:26] #75541 closed, assigned to nobody

[2017-09-06 11:30] encukou commented on #74588
Do we have a use case for this?
I'd rather avoid making it easy to do the wrong thing, unless it's needed.

[2017-09-06 11:30] pitrou commented on #74501
Similar failure on AppVeyor:
https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.5987#L1146

[2017-09-06 11:39] vadmium commented on #75546
The floating-point numbers are only accurate to about 16 digits. You probably just found a value that cannot be exactly represented.

https://docs.python.org/3.3/faq/design.html#why-are-floating-point-calculations-so-inaccurate

[2017-09-06 11:39] #75546 closed, assigned to nobody

[2017-09-06 11:42] e9a7306f-203f-4fec-a968-78b8268d65a5 commented on #75546
Thank you Martin, makes sense now that I have read the documentation.
Julie

[2017-09-06 12:19] a1c683f7-b296-4095-93bb-30a5158fd67e commented on #75511
I've created a pull request. Could someone review it please?

[2017-09-06 12:21] pitrou commented on #75536
It did help me on some delicate signals/threading issues.

[2017-09-06 12:45] scoder commented on #74588
Marcel proposed to disallow main-execution if the extension \*might* return anything but a real object (not only if it actually does), but that seems excessive to me. The actual problem is that we consider it unsafe if the module is executed more than once, because it might overwrite module state. But that's entirely up to the extension implementation and independent of what it uses as module type

[2017-09-06 13:42] tiran commented on #73967
New changeset 6da379bde345926e1f7318ead973767f4d791d3e by Christian Heimes in branch '3.6':
[3.6] bpo-29781: Fix SSLObject.version before handshake (GH-3364) (bpo-3381)
https://github.com/python/cpython/commit/6da379bde345926e1f7318ead973767f4d791d3e

[2017-09-06 14:04] tiran commented on #75050
OpenSSL 0.9.7 and earlier are no longer supported. In fact OpenSSL \< 1.0.2 is no longer maintained by upstream OpenSSL developers. 2.7 is known to work with recent releases such as 0.9.8zh. 0.9.7 is definitely out of scope.

[2017-09-06 14:04] #75050 closed, assigned to tiran

[2017-09-06 14:05] tiran commented on #74710
+1

[2017-09-06 14:11] tiran commented on #74622
If I understand the man page of SSL_shutdown correctly, than SSL_shutdown() must be called a second time when the first time returned 0. But it does not say how an application shall behave if the second call to SSL_shutdown() also returns 0.

OpenSSL does not contain an example for bidirectional shutdown. s_client.c only does unidirectional shutdown.

cURL just ignores the result:

[code]

[2017-09-06 14:13] tiran commented on #74516
I'm removing the SSL component because it looks like an issue with either tests or buildbot. Please re-add the component if it is a bug in the ssl module.

[2017-09-06 14:20] #75545 closed, assigned to nobody

[2017-09-06 14:37] 2c29a1c0-523f-40eb-8d08-dca5fd86b53b opened #75547 "Missing terminator option when using readline with socketserver.StreamRequestHandler"
BPO | [31366](https://bugs.python.org/issue31366)
--- | :---
Nosy | @vadmium, @tfeldmann

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 14:37] 2c29a1c0-523f-40eb-8d08-dca5fd86b53b commented on #75547
When using `socketserver.StreamRequestHandler` it should be possible to specify the newline terminator that is passed to `self.connection.makefile()`.

This would be greatly appreciated by many people who have to work with network packets ending with `\0`.

[2017-09-06 16:53] terryjreedy commented on #75546
Also, IDLE wraps Python and is not responsible for what Python calculates.

[2017-09-06 17:01] zooba commented on #75521
New changeset 5fcd5e64eec9ed67613b8fe7356fb8288151ceba by Steve Dower in branch 'master':
bpo-31340: Change to building with MSVC v141 (included with Visual Studio 2017) (bpo-3311)
https://github.com/python/cpython/commit/5fcd5e64eec9ed67613b8fe7356fb8288151ceba

[2017-09-06 17:43] njsmith commented on #74622
My reading of the man page is that if SSL_shutdown returns 0, this means that it succeeded at doing the first phase of shutdown. If there are errors then they should be ignored, because it actually succeeded.

If you want to then complete the second phase of shutdown, of course, you have to call it again, but that's no different than any other use of SSL_shutdown.

If two calls to SSL_shutdown bot

[2017-09-06 17:48] zware commented on #75095
doko, have you seen/have an opinion on python/cpython#46939?

[2017-09-06 18:31] 5f68862d-9f8d-4805-a0e1-ae18333d7f37 commented on #75548
not a big deal but still

[2017-09-06 18:31] 5f68862d-9f8d-4805-a0e1-ae18333d7f37 opened #75548 "[[]]*int gives x of the same list that cannot be appended to or popped from individually"
BPO | [31367](https://bugs.python.org/issue31367)
--- | :---
Nosy | @zware, @mandrewstuart

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 18:31] bitdancer commented on #75542
You did not follow the request I made on the PR to explain in this issue you opened what is failing and why.  Unless you convince us that this is actually a bug in python, we will close the issue and PR.

[2017-09-06 18:39] zware commented on #75548
https://docs.python.org/3/faq/programming.html#how-do-i-create-a-multidimensional-list

[2017-09-06 18:39] #75548 closed, assigned to nobody

[2017-09-06 18:51] 5eb571bb-289a-4a8a-a14b-ecb8839d7e2a commented on #75540
That'd be even better :). I'll also note that this is slightly worse in Python 3 vs Python 2 as there are way more of these to deal with.

[2017-09-06 19:50] #73774 closed, assigned to tiran

[2017-09-06 19:57] b9e3e125-c758-471e-8446-bb5afa99e9cd opened #75549 "Add os.preadv() and os.pwritev()"
BPO | [31368](https://bugs.python.org/issue31368)
--- | :---
Nosy | @pitrou, @vstinner, @ned-deily, @njsmith, @YoSTEALTH, @nitishch, @miss-islington
PRs | <li>python/cpython#5239</li><li>python/cpython#5415</li><li>python/cpython#5467</li><li>python/cpython#7254</li><li>python/cpython#7258</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not refle

[2017-09-06 19:57] b9e3e125-c758-471e-8446-bb5afa99e9cd commented on #75549
Asynchronous, Non-blocking Buffered File Read

"RWF_NONBLOCK" flag for os.open()

Link:
https://lwn.net/Articles/612483/
https://lwn.net/Articles/613068/
https://lwn.net/Articles/636967/

[2017-09-06 20:06] 030a70bd-87f0-44f1-bce5-e413ed5608b3 commented on #74010
An additional problem in (2) is that a cert for \*.google \_is_ legal if the CA can prove that a single organization controls the entire TLD:

https://crt.sh/?id=7668286

[2017-09-06 20:09] tiran commented on #74010
Thanks Alex! Let's get not in the business to verify TLDs.

[2017-09-06 20:09] #74010 closed, assigned to tiran

[2017-09-06 20:12] tiran commented on #74566
Probably not a bug in the SSL module

[2017-09-06 20:19] zware commented on #75095
New changeset 6d51b876121e472d4372496d609a26d7e3081c51 by Zachary Ware (Shlomi Fish) in branch 'master':
bpo-30912: Don't check the content of ffi.h (GH-2687)
https://github.com/python/cpython/commit/6d51b876121e472d4372496d609a26d7e3081c51

[2017-09-06 20:20] zware commented on #75095
Thanks for the patch!

[2017-09-06 20:20] #75095 closed, assigned to nobody

[2017-09-06 20:34] gpshead commented on #75361
New changeset 3bad1650a03fdc8cfdd4cce154e1b2c07e3e4fa0 by Gregory P. Smith in branch '3.6':
[3.6] bpo-31178: Avoid concatenating bytes with str in subprocess error (GH-3066) (bpo-3388)
https://github.com/python/cpython/commit/3bad1650a03fdc8cfdd4cce154e1b2c07e3e4fa0

[2017-09-06 20:40] 97055d5d-102d-43b9-96f5-6a6be879f10b commented on #75550
It exists and its flags are exported, but not the direct classes itself. This seems inconsistent to me and fixing it would make things like using static typing on it just a little bit easier.

[2017-09-06 20:40] 97055d5d-102d-43b9-96f5-6a6be879f10b opened #75550 "re.RegexFlag is not included in __all__, makes type inference less useful"
BPO | [31369](https://bugs.python.org/issue31369)
--- | :---
Nosy | @gvanrossum, @ezio-melotti, @bitdancer, @ethanfurman, @serhiy-storchaka, @ilevkivskyi, @csabella, @PJB3005, @akulakov
PRs | <li>python/cpython#30279</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary

[2017-09-06 21:10] pitrou opened #75551 "Remove support for threads-less builds"
BPO | [31370](https://bugs.python.org/issue31370)
--- | :---
Nosy | @brettcannon, @gpshead, @pitrou, @tiran, @bitdancer, @briancurtin, @pmp-p, @serhiy-storchaka, @kb-1000
PRs | <li>python/cpython#3385</li><li>python/cpython#3482</li><li>python/cpython#3648</li><li>python/cpython#3649</li><li>python/cpython#8805</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrat

[2017-09-06 21:10] pitrou commented on #75551
The --without-threads option has a lot of repercussions on the code base, forcing us to maintain specific paths for builds with threads disabled, for no useful purpose.

[2017-09-06 21:12] pitrou commented on #75551
See discussion in https://mail.python.org/pipermail/python-dev/2017-September/149156.html

[2017-09-06 21:15] pitrou commented on #75551
Question: should we keep [Modules/Setup.config.in](https://github.com/python/cpython/blob/main/Modules/Setup.config.in)?  It's going to become empty:
https://github.com/python/cpython/blob/master/Modules/Setup.config.in

[2017-09-06 21:20] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
Hi David,

A led, I may try to reproduce this error, but it may take a while.

Thanks

On Wed, Sep 6, 2017 at 11:31 AM R. David Murray \<report@bugs.python.org\>
wrote:

--
*____**____**____**____**____**____**____**____**____**____**____**____*
*____**____**____**____**____**____*
* Contact Info                                            \*
 \*US Mobile: 1-408-609-7628                   \*

Em
ai

[2017-09-06 21:29] Mariatta commented on #74922
New changeset 98ceece8f4cd797ec28078b6247529f01549687d by Mariatta (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30737: Update DevGuide links to new URL (GH-3228) (GH-3390)
https://github.com/python/cpython/commit/98ceece8f4cd797ec28078b6247529f01549687d

[2017-09-06 21:29] #74922 closed, assigned to Mariatta

[2017-09-06 21:33] ned-deily opened #75552 "Remove deprecated tkinter.tix module"
BPO | [31371](https://bugs.python.org/issue31371)
--- | :---
Nosy | @rhettinger, @pfmoore, @taleinat, @tjguk, @jkloth, @ned-deily, @zware, @serhiy-storchaka, @zooba
PRs | <li>python/cpython#3393</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[

[2017-09-06 21:33] ned-deily commented on #75552
Tix is an old Tk widget extension set that has long been superseded by the ttk widgets that were added in Tk 8.5, officially released 10 years ago and since superseded by Tk 8.6.  Tix was useful for users of Tk 8.4 but tkinter is no longer built, tested, or supported with 8.4.  Despite that, we have continued to build and ship Tix with the python.org Windows installers.  The last maintenance relea

[2017-09-06 21:49] tiran opened #75553 "Add SSLSocket.get_verify_result()"
BPO | [31372](https://bugs.python.org/issue31372)
--- | :---
Nosy | @tiran, @tonybaloney
PRs | <li>python/cpython#3395</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-06 21:49] tiran commented on #75553
It might be useful to expose SSL_get_verify_result, https://wiki.openssl.org/index.php/Manual:SSL_get_verify_result(3) . The function returns the last verification error of 0 for no error. Application could still verify the chain with verify_mode = CERT_NONE.

[code]

[2017-09-06 22:20] benjaminp opened #75554 "demoting floating float values to unrepresentable types is undefined behavior"
BPO | [31373](https://bugs.python.org/issue31373)
--- | :---
Nosy | @mdickinson, @vstinner, @benjaminp
PRs | <li>python/cpython#3396</li><li>python/cpython#3424</li><li>python/cpython#3486</li><li>python/cpython#3495</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary

[2017-09-06 22:20] benjaminp commented on #75554
According to C99, "When a finite value of real floating type is converted to an integer type other than \_Bool, the  fractional  part  is  discarded  (i.e.,  the  value  is  truncated  toward  zero). If the value of the integral part cannot be represented by the integer type,the behavior is undefined." So, e.g., (long)x, where x is a double is in general undefined behavior without a range check. W

[2017-09-06 22:24] bitdancer commented on #75550
I think RegexFlag is an implementation detail, but it is true that it isn't prefixed with a _ so putting it in \_\_all__ is not obviously wrong.  However, if we do that we should also document it (currently it is mentioned only in a versionchanged line, which isn't technically documenting it).

I find it curious that static typing is affected by \_\_all___, but I don't really know anything about t

[2017-09-06 22:31] bitdancer commented on #75007
New changeset 47e5f791223773dd46273153e9fa5b48f848f0c9 by R. David Murray (Miss Islington (bot)) in branch '2.7':
[2.7] bpo-30824: Add mimetype for .json (GH-3048) (bpo-3394)
https://github.com/python/cpython/commit/47e5f791223773dd46273153e9fa5b48f848f0c9

[2017-09-06 22:43] 97055d5d-102d-43b9-96f5-6a6be879f10b commented on #75550
I suppose it may be an implementation detail, though I wouldn't be amazed that had enum existed when re was written it'd have been used instead of constant integers at the time. Though I do suppose exposing it fully would add two ways to get the flags which I can see how it would be considered bad.

It's still useful for type checking though, and while I did make a PR to add it to typeshed, that s

[2017-09-06 22:43] tiran opened #75555 "expat: warning: "_POSIX_C_SOURCE" redefined"
BPO | [31374](https://bugs.python.org/issue31374)
--- | :---
Nosy | @vstinner, @tiran, @miss-islington
PRs | <li>python/cpython#3571</li><li>python/cpython#3601</li><li>python/cpython#11064</li><li>python/cpython#11071</li><li>python/cpython#11072</li><li>python/cpython#11073</li><li>python/cpython#11078</li><li>python/cpython#11079</li><li>python/cpython#11080</li><li>python/cpython#11081</li>

<

[2017-09-06 22:43] tiran commented on #75555
[code]

[2017-09-06 22:53] bitdancer commented on #75550
Well, I consider that they really should be named constants and not an enum, which is why I consider it an implementation detail :)

[2017-09-06 22:55] zooba commented on #75521
New changeset fd645ec6f5696e841e6d49075f9fd81e54e74d91 by Steve Dower in branch '3.6':
[3.6] bpo-31340: Change to building with MSVC v141 (included with Visual Studio 2017) (GH-3311) (bpo-3386)
https://github.com/python/cpython/commit/fd645ec6f5696e841e6d49075f9fd81e54e74d91

[2017-09-06 22:57] zooba commented on #75521
Note that this should not change anything for 3.6, but enables using VS 2017 to build. If you only have VS 2015 then it will use that, and I've enabled AppVeyor for both to make sure we keep it that way.

3.7 will also build with either, but there isn't as much importance in verifying VS 2015 compatibility.

All of that said, there should be no difference in the built binaries.

[2017-09-06 22:57] #75521 closed, assigned to zooba

[2017-09-06 22:58] vstinner commented on #75551
The PEP-11 should be updated just to mention that platforms without threading support are not supported in Python 3.7.

[2017-09-06 23:16] ericsnowcurrently opened #75556 "[subinterpreters] Add the interpreters module to stdlib (PEP 554)."
BPO | [31375](https://bugs.python.org/issue31375)
--- | :---
Nosy | @vstinner, @ericsnowcurrently
Superseder | <li>bpo-32604: [subinterpreters] PEP 554 implementation: add interpreters module</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[cod

[2017-09-06 23:16] ericsnowcurrently commented on #75556
This builds on issue bpo-30439.

[2017-09-06 23:17] ericvsmith commented on #74976
I'm thinking that instead of supporting backslashes in general inside expressions, I'll just special case strings.

So:
f"{'\\n' if foo else ''}"
would be okay, but not:
f"{a\\
}"

I think that would address the reason why \\ was disallowed, but I'm going to have to go back and review the discussions to make sure.

[2017-09-06 23:23] vstinner commented on #75551
We had a buildbot testing --without-threads, but it's gone. I just removed its unused class from the buildbot configuration:

https://github.com/python/buildmaster-config/commit/091f52aa05a8977966796ba3ef4b8257bef1c0e9

[2017-09-06 23:32] vstinner opened #75557 "test_multiprocessing_spawn randomly hangs AMD64 FreeBSD 10.x Shared 3.x"
BPO | [31376](https://bugs.python.org/issue31376)
--- | :---
Nosy | @vstinner
Superseder | <li>bpo-31180: test_multiprocessing_spawn hangs randomly</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></de

[2017-09-06 23:32] vstinner commented on #75557
http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/818/steps/test/logs/stdio

0:08:27 load avg: 2.79 [403/407] test_strtod passed -- running: test_multiprocessing_spawn (244 sec)
0:08:27 load avg: 2.79 [404/407] test_syslog passed -- running: test_multiprocessing_spawn (244 sec)
0:08:28 load avg: 2.79 [405/407] test_pickle passed -- running: test_multiprocessing_s

[2017-09-06 23:39] #73967 closed, assigned to tiran

[2017-09-06 23:47] rhettinger commented on #75552
+1 for removal.

[2017-09-07 00:04] bitdancer commented on #75007
New changeset e29ab7e75138e198b51c8bd04afa16d9d2c976a5 by R. David Murray (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30824: Add mimetype for .json (GH-3048) (bpo-3401)
https://github.com/python/cpython/commit/e29ab7e75138e198b51c8bd04afa16d9d2c976a5

[2017-09-07 00:11] 2a6dcda0-5217-47ea-b9b0-90b796d124cc commented on #75479
I may be wrong, but this seems like it could be an issue with NumPy. There are similar issues on their GitHub around crashes on astype. It probably wouldn't hurt to file this over there as well.
https://github.com/numpy/numpy/issues

[2017-09-07 00:28] ericvsmith commented on #74650
New changeset e7c566caf177afe43b57f0b2723e723d880368e8 by ericvsmith (Łukasz Langa) in branch 'master':
bpo-30465: Fix lineno and col_offset in fstring AST nodes (bpo-1800)
https://github.com/python/cpython/commit/e7c566caf177afe43b57f0b2723e723d880368e8

[2017-09-07 00:29] zware commented on #75539
New changeset d01db1c2a2a71455163a1d3b214cc8dc27201303 by Zachary Ware in branch 'master':
bpo-31358: Pull zlib out of the repository (GH-3375)
https://github.com/python/cpython/commit/d01db1c2a2a71455163a1d3b214cc8dc27201303

[2017-09-07 00:31] ncoghlan commented on #74174
The updated PR fully resolves the synchronous CM case by switching to using threading.Lock as the test CM (as per Nathaniel's original suggestion). Without that, the pending exception was being processed as soon as \_\_exit__() started running, so the test failed due to the lack of signal safety in the test CM itself.

For the asynchronous case, Greg and I aren't seeing any way to resolve the situ

[2017-09-07 00:34] #75539 closed, assigned to nobody

[2017-09-07 00:35] njsmith commented on #74174
For purposes of writing a test case, can you install a custom Python-level signal handler, and make some assertion about where it runs? I.e., the calling frame should be inside the \_\_aexit__ body, not anywhere earlier?

[2017-09-07 00:50] gpshead commented on #75551
I guess Setup.config.in can go.  It's only purpose was for autoconf driven Setup changes.

[2017-09-07 01:09] vstinner commented on #74999
The test also failed on x86-64 Sierra 3.x... twice:

http://buildbot.python.org/all/builders/x86-64%20Sierra%203.x/builds/680

[2017-09-07 02:28] methane commented on #75521
Nice! VS2017 is much lighter than VS2015 for install size!
https://blogs.msdn.microsoft.com/vcblog/2016/08/22/the-lightweight-visual-studio-15-installer/

[2017-09-07 02:43] ericvsmith commented on #74650
New changeset aa1afc72c1ee1f090e6302198d9a0295f1ce1c05 by ericvsmith (Miss Islington (bot)) in branch '3.6':
bpo-30465: Fix lineno and col_offset in fstring AST nodes (GH-1800) (gh-3409)
https://github.com/python/cpython/commit/aa1afc72c1ee1f090e6302198d9a0295f1ce1c05

[2017-09-07 03:31] ncoghlan commented on #75525
My posted PR implements the "independent flags" option, where f_trace_lines and f_trace_opcodes allow per-line and per-opcode events to be requested independently.

The default is to emit per-line events (as has historically been the case).

[2017-09-07 03:43] ncoghlan commented on #74174
It isn't writing the test case that's the problem - the same technique we're using for the synchronous CM works for the asynchronous CM as well.

The problem is that unlike the synchronous CM, the DEFER_PENDING_UNTIL opcode isn't sufficient to make the async CM test case \*pass*, as "async with" yields control back to the event loop at the YIELD_FROM points, and hence it's always going to be possi

[2017-09-07 04:48] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #74282
"Best practices" according to whom?

Inheritance is one thing, metaclass changing is another thing. They should look different. Yes, I appreciate the fact that I can write "(Blah)" instead of "(metaclass=BlahMeta)" in quick and dirty scripts, but my feeling is that that practice shouldn't be promoted in the docs.

Please read http://bugs.python.org/issue26988#msg273076 for another perspective.

[2017-09-07 04:54] benjaminp commented on #75558
The \*_INTERN opcodes inform the marsahl reader to intern the encoded string after deserialization. I believe for pycs this is pointless because PyCode_New ends up interning all strings that are interesting to intern. Writing this opcodes makes pycs non-deterministic because the intern state may be inconsistent in the writer. See https://bugzilla.opensuse.org/show_bug.cgi?id=1049186

[2017-09-07 04:54] benjaminp opened #75558 "remove *_INTERNED opcodes from marshal"
BPO | [31377](https://bugs.python.org/issue31377)
--- | :---
Nosy | @benjaminp, @methane, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 06:14] serhiy-storchaka commented on #75552
According to PEP-4, "In order to facilitate writing code that works in both Python 2 & 3 simultaneously, any module that exists in both Python 3.5 and Python 2.7 will not be removed from the standard library until Python 2.7 is no longer supported as specified by PEP-373." Is there a reason for haste? The Tix library still is included in recent versions of Linux distributives and should be compati

[2017-09-07 06:25] serhiy-storchaka commented on #75558
Marshal is used not only in pyc files. It is used for fast data serialization, faster than pickle, json, etc.

[2017-09-07 06:41] benjaminp commented on #75558
Used but not really supported. Anyway, I doubt intern round-tripping is a particularly important.

[2017-09-07 06:56] njsmith commented on #74174
To make sure I understand correctly: your concern is that the event loop is not implemented in C. So if you have this patch + an async CM that's implemented in C + the async CM never \*actually* yields to the event loop, then that will be signal safe... but that last restriction is pretty silly, because what's the point of an async CM that never yields to the event loop. Right?

I see what you mea

[2017-09-07 08:14] 52495ff2-50ef-47ef-817a-6fde230ca8cd commented on #75559
sqlite3.OperationalError has no documentation whatsoever in docs.python.org

[2017-09-07 08:15] 52495ff2-50ef-47ef-817a-6fde230ca8cd opened #75559 "Missing documentation for sqlite3.OperationalError"
BPO | [31378](https://bugs.python.org/issue31378)
--- | :---
Nosy | @berkerpeksag, @ZackerySpytz, @miss-islington
PRs | <li>python/cpython#7677</li><li>python/cpython#7678</li><li>python/cpython#7679</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fiel

[2017-09-07 08:17] methane commented on #75558
w_ref() depends on refcnt already.
I don't think removing \*_INTERN opcode makes PYC reproducible.
https://github.com/python/cpython/blob/1f06a680de465be0c24a78ea3b610053955daa99/Python/marshal.c#L269-L271

I think "intern one string, then share it 10 times" is faster than
"share one string 10 times, then intern each of 10 references".

[2017-09-07 08:44] berkerpeksag commented on #75559
Thank you for the report. I think we can add a simplified version of the OperationalError documentation in PEP-249:

    Exception raised for errors that are related to the database's
    operation and not necessarily under the control of the programmer,
    e.g. an unexpected disconnect occurs, the data source name is not
    found, a transaction could not be processed, a memory allocation
    er

[2017-09-07 09:23] zhangyangyu opened #75560 "run_profile_task in Makefile should add $(RUNSHARED)"
BPO | [31379](https://bugs.python.org/issue31379)
--- | :---
Nosy | @zhangyangyu
PRs | <li>python/cpython#3422</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 09:23] zhangyangyu commented on #75560
Build Python 2.7 with --enable-shared and pgo could highly possibly skip test procedure due to dynamic link fails. I suggest adding $(RUNSHARED) to bring convenience. Python 3 already gets it.

[2017-09-07 09:43] 071efd12-0c78-4b11-80ee-a5aa643b8dd1 commented on #74976
Hey Eric, just a heads up.

In the latest jupyter notebook, this is valid code:

f"{eval('bool(0)\\
and True\\
')}"

which returns
'False'

I don't know how far you want to go, but if someone REALLY wants to use backspace in f-strings just for the sake of it - however ugly it looks like - they already can.

[2017-09-07 09:58] 6d2d14ea-5c07-4f18-94c5-568c740bd14a commented on #75561
The Python 3.x test suite produces a new regression on macOS 10.13 under the new APFS filesystem when executing the test_undecodable_filename() test from [Lib/test/test_httpservers.py](https://github.com/python/cpython/blob/main/Lib/test/test_httpservers.py). The error appears as...

\======================================================================
ERROR: test_undecodable_filename
(test.test

[2017-09-07 09:58] 6d2d14ea-5c07-4f18-94c5-568c740bd14a opened #75561 "test_undecodable_filename() in Lib/test/test_httpservers.py broken on APFS"
BPO | [31380](https://bugs.python.org/issue31380)
--- | :---
Nosy | @ronaldoussoren, @vstinner, @ned-deily, @serhiy-storchaka, @mattbillenstein
PRs | <li>python/cpython#4720</li><li>python/cpython#4721</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fi

[2017-09-07 10:38] 1cb85035-97d8-42c3-a287-2706aee5fe65 opened #75562 "Unable to read the project file "pythoncore.vcxproj"."
BPO | [31381](https://bugs.python.org/issue31381)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @denis-osipov

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 10:38] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75562
Can't load pythoncore.vcxproj in VS2017 after [PR 3375](https://github.com/python/cpython/pull/3375) bpo-31358: Pull zlib out of the repository bpo-3375.

During pcbuild.sln loading there is error message:

D:\\repos\\cpython\\PCbuild\\pythoncore.vcxproj : error  : Unable to read the project file "pythoncore.vcxproj".
D:\\repos\\cpython\\PCbuild\\pythoncore.vcxproj(70,37): Specified condition "$(I

[2017-09-07 12:31] b6a1180e-7818-4d23-877b-bfd81b52db45 opened #75563 "CGI upload error when file ~< 10kb"
BPO | [31382](https://bugs.python.org/issue31382)
--- | :---
Nosy | @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 12:31] b6a1180e-7818-4d23-877b-bfd81b52db45 commented on #75563
An error occurs when uploading a file \~\<10kb:
A problem occurred in a Python script. Here is the sequence of function calls leading up to the error, in the order they occurred.
 /var/www/html/file-uploader/uploader.py in ()
     39
     40 # A nested FieldStorage instance holds the file
=\>   41 fileitem = form['file']
     42
     43 # Test if the file was uploaded
fileitem undefined, form = Fi

[2017-09-07 12:53] 5761bba3-ba61-4f41-90eb-2f7a7e49dac3 commented on #75526
I am interested in working on the issue. Where do I need to make the fix?

[2017-09-07 13:34] zooba commented on #75562
I already have a fix in a pending PR for this. Don't have the number handy, but will link it later today.

[2017-09-07 14:20] encukou commented on #74588
Again, what is the use case? That's a real question, I'm not saying it to dismiss your ideas or points of view. It would be very much easier to think about a concrete use case, rather than making a general system for the sake of how easy it is implementation-wise. (The implementation might be easier now, but it might change, and there's a cost to keeping the generality in mind when designing thing

[2017-09-07 14:31] scoder commented on #74588
I was kinda guessing that modifying the slot list wasn't a good idea. ;)

My current use case is that I implement the "create" slot because it makes it very easy to intercept the spec and its configuration. It is not passed into "exec" as such, but I need it to initialise the module namespace with "\_\_file__", "\_\_path__", etc.

There is also still the idea of defining our own module type in Cyt

[2017-09-07 15:07] 5546be57-d70f-49fb-ba81-612a1c5fbdaa opened #75564 "Issue with _posixsubprocess when importing subprocess32"
BPO | [31383](https://bugs.python.org/issue31383)
--- | :---
Nosy | @gpshead, @moreati

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 15:07] 5546be57-d70f-49fb-ba81-612a1c5fbdaa commented on #75564
I am trying to install subprocess32 with my python 2.7 installation via buildroot. It appeared to install correctly but when I import it on the embedded system I get an error:

[code]

[code]

I can use subprocess32 otherwise, tested out basic functionality like subprocess32.Popen(["ls"]).communicate()

[2017-09-07 15:07] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75562
Thank you. Looking forward to it.

[2017-09-07 15:39] encukou commented on #74588
Alright, that makes sense. Thanks for the feedback!
Please give us some time for an updated proposal/implementation. I'm going on vacation, so expect about a week.

[2017-09-07 16:36] benjaminp commented on #75558
On Thu, Sep 7, 2017, at 01:17, INADA Naoki wrote:

I know—we're going to have to do something about that, too. In practice,
though, the interning behavior seems to be a bigger reproducibility
problem.

We end up interning each reference individually currently.

[2017-09-07 16:46] methane commented on #75558
But interning interned string is much faster. It only checks flag.
Interning normal string requires dict lookup.

[2017-09-07 16:54] benjaminp commented on #75558
On Thu, Sep 7, 2017, at 09:46, INADA Naoki wrote:

We could makes sure the version in the internal marshal memo is interned
if appropriate.

[2017-09-07 16:56] vstinner commented on #75551
New changeset a6a4dc816d68df04a7d592e0b6af8c7ecc4d4344 by Victor Stinner (Antoine Pitrou) in branch 'master':
bpo-31370: Remove support for threads-less builds (bpo-3385)
https://github.com/python/cpython/commit/a6a4dc816d68df04a7d592e0b6af8c7ecc4d4344

[2017-09-07 16:58] vstinner commented on #75551
PEP-11 was updated, the change was merged, this issue can now be closed. Thanks Antoine!

[2017-09-07 17:24] benjaminp commented on #75565
marshal current saves the the last filename it saw in a code object during deserialization, and tries to reuse it across multiple code objects to save memory. This optimization is superseded by the more general ref mechanism.

[2017-09-07 17:24] benjaminp opened #75565 "marshal: remove "current_filename" optimization"
BPO | [31384](https://bugs.python.org/issue31384)
--- | :---
Nosy | @benjaminp
PRs | <li>python/cpython#3423</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 17:49] benjaminp commented on #75565
New changeset c988ae01fec2e0510d53728e01a5e4bb06761bda by Benjamin Peterson in branch 'master':
remove current_filename optimization from marshal (bpo-3423) (closes bpo-31384)
https://github.com/python/cpython/commit/c988ae01fec2e0510d53728e01a5e4bb06761bda

[2017-09-07 17:49] #75565 closed, assigned to nobody

[2017-09-07 17:58] ncoghlan commented on #75043
Regarding the accidental exposure of \_Py_CheckRecursionLimit, the main active usage of the stable ABI that we're aware of is Riverbank's C/C++ binding generator for PyQt: http://pyqt.sourceforge.net/Docs/sip4/directives.html#directive-%Module (see the use_limited_api option for the linked directive)

I checked with Phil Thomson (sip's maintainer), and the bindings sip generates don't use either o

[2017-09-07 18:05] gpshead commented on #75564
The standard library in Python 2.7 does not have an associated extension module.  \_posixsubprocess comes from subprocess32.

There isn't much point in using subprocess32 on POSIX systems without the \_posixsubprocess extension module.

If that import is failing, something in your build for whatever your embedded system is, is not doing the right thing.

as this is subprocess32 only related and no

[2017-09-07 18:05] #75564 closed, assigned to gpshead

[2017-09-07 18:10] ncoghlan commented on #74174
I think you're agreeing with me - we can make synchronous context managers meaningfully more signal safe (at least for CMs implemented in C, or precompiled with Cython), but for asynchronous context managers, the only meaningful defense available is to replace the default SIGINT handler with one that routes the signal to the event loop instead of trying to handle it in the interpreter's eval loop.

[2017-09-07 18:14] benjaminp commented on #75554
New changeset a853a8ba7850381d49b284295dd6f0dc491dbe44 by Benjamin Peterson in branch 'master':
bpo-31373: fix undefined floating-point demotions (bpo-3396)
https://github.com/python/cpython/commit/a853a8ba7850381d49b284295dd6f0dc491dbe44

[2017-09-07 18:14] ericvsmith commented on #74976
That code is an error in Python 3.6:

[code]

I'm not sure it's a good idea that jupyter accepts code that's not valid in Python itself.

[2017-09-07 18:26] 071efd12-0c78-4b11-80ee-a5aa643b8dd1 commented on #74976
Heh. I had a hunch it could be jupyter specific, but didn't test it. They had problems with f-strings before, it seems they over-fixed those ..
Maybe you want to check their implementation and see if it's any good for a general solution?
Otherwise I'd volunteer to submit a bug report for their code ;)

[2017-09-07 18:32] Mariatta commented on #74282
New changeset b0d0217c0e4c1512a06ef306928b2fd8f82d046e by Mariatta (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30096: Use ABC in abc reference examples (GH-1220) (GH-3408)
https://github.com/python/cpython/commit/b0d0217c0e4c1512a06ef306928b2fd8f82d046e

[2017-09-07 18:34] Mariatta commented on #74282
Backported to 3.6 by Miss Islington.
Closing this issue.
Thanks.

[2017-09-07 18:34] #74282 closed, assigned to nobody

[2017-09-07 18:35] benjaminp commented on #75554
New changeset b03623227ed1264e3cac4e6bb4878d96b91aa484 by Benjamin Peterson (Miss Islington (bot)) in branch '3.6':
[3.6] fixes bpo-31373: fix undefined floating-point demotions (GH-3396) (bpo-3424)
https://github.com/python/cpython/commit/b03623227ed1264e3cac4e6bb4878d96b91aa484

[2017-09-07 18:35] #75554 closed, assigned to nobody

[2017-09-07 18:43] gpshead commented on #73952
New changeset abea972d2881a1a04ec265f993bb9b56bbc7b224 by Gregory P. Smith (Hanno Schlichting) in branch '2.7':
[2.7] bpo-29766: Fix configure/.ac to match LTO/enable-optimizations behavior. (bpo-2705)
https://github.com/python/cpython/commit/abea972d2881a1a04ec265f993bb9b56bbc7b224

[2017-09-07 18:44] #73952 closed, assigned to gpshead

[2017-09-07 18:45] njsmith commented on #74174
FWIW trio's strategy for handling this is to install a clever signal handle that routes the signal to the event loop IF the signal arrives while the event loop is running, or while particularly sensitive code like trio.Lock.\_\_aexit__ is running. The rest of the time it raises KeyboardInterrupt directly. So we actually can have signal safety and deal with runaway coroutines at the same time, and

[2017-09-07 18:46] njsmith commented on #74174
(tl;dr: this patch is more awesome than you realize, thanks for working on it :-))

[2017-09-07 18:48] ncoghlan commented on #74174
Attempting to clarify what Greg & I think the right answer will be for the async context management case: https://docs.python.org/3/library/asyncio-eventloop.html#unix-signals

In practice, that would look something like:

[code]

That way, dealing gracefully with KeyboardInterrupt is wholly under the event loop's control, rather than the event loop having to fight with the eval loop as to how Ctr

[2017-09-07 18:49] zooba commented on #74574
New changeset 05f01d85257d0f3409c7335aaf0bf6a6da7eecb7 by Steve Dower in branch 'master':
bpo-30389 Adds detection of VS 2017 to distutils.\_msvccompiler (bpo-1632)
https://github.com/python/cpython/commit/05f01d85257d0f3409c7335aaf0bf6a6da7eecb7

[2017-09-07 19:11] 3fa19196-1e8a-4473-b524-6181d40d40a9 commented on #75566
Consider the following Python project:

bugtest/
  \_\_init__.py (Contents: from .foo import \*)
  foo/
    \_\_init__.py (Contents: from .foo import \*)
    foo.py (Contents: \<empty file\>)

Then in a Python session, the following line executes without error (as expected):

However, the following line gives an error (not as expected):

[code]

Note that this behavior is dependent on the folder f

[2017-09-07 19:12] 3fa19196-1e8a-4473-b524-6181d40d40a9 opened #75566 "`import as` does not work when module has same same as parent module"
BPO | [31385](https://bugs.python.org/issue31385)
--- | :---
Nosy | @brettcannon, @ncoghlan, @bitdancer, @ericsnowcurrently, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 19:15] tiran opened #75567 "Make return types of wrap_bio and wrap_socket customizable"
BPO | [31386](https://bugs.python.org/issue31386)
--- | :---
Nosy | @tiran
PRs | <li>python/cpython#3426</li>
Superseder | <li>bpo-27629: Cannot create ssl.SSLSocket without existing socket</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-09-07 19:15] tiran commented on #75567
SSLSocket.wrap_bio() and SSLSocket.wrap_socket() hard-code SSLObject and SSLSocket as return types. In the light of future deprecation of ssl.wrap_socket() module function and direct instantiation of SSLSocket, it is desirable to make the return type of SSLSocket.wrap_bio() and SSLSocket.wrap_socket() customizable.

Also see bpo-27629

[2017-09-07 19:34] warsaw commented on #74866
So, while we do have a conflict between consistency and utility, I think @r.david.murry 's last comment has convinced me that raising the exception is more helpful.  I think we should do that, fixing the documentation and giving up on the consistency issue.

[2017-09-07 19:37] ncoghlan opened #75568 "asyncio should make it easy to enable cooperative SIGINT handling"
BPO | [31387](https://bugs.python.org/issue31387)
--- | :---
Nosy | @gpshead, @ncoghlan, @vstinner, @giampaolo, @njsmith, @1st1, @ryanhiebert, @aeros
Dependencies | <li>bpo-29988: with statements are not ensuring that __exit__ is called if __enter__ succeeds</li><li>bpo-31388: Provide a way to defer SIGINT handling in the current thread</li>

<sup>*Note: these values reflect the state of the issue

[2017-09-07 19:37] ncoghlan commented on #75568
bpo-29988 covers the fact that with the default SIGINT handler installed, a poorly timed Ctrl-C can lead to context managers failing to even start running their \_\_(a)exit__ methods, let alone complete them.

For the asynchronous case, the problem is even worse, as the \*event loop* may be interrupted at arbitrary points if the default SIGINT handler is left in place.

To handle this robustly, it

[2017-09-07 19:40] ncoghlan commented on #74174
I've retitled this issue to specifically cover the synchronous signal-safe context management case and filed bpo-31387 to cover making it easy to switch asyncio over to cooperative SIGINT handling (rather than the default pre-emptive handling).

[2017-09-07 19:47] bitdancer commented on #75566
It seems likely that this is related to the problems discussed (and hopefully solved) in bpo-30024.

[2017-09-07 20:03] ncoghlan opened #75569 "Provide a way to defer SIGINT handling in the current thread"
BPO | [31388](https://bugs.python.org/issue31388)
--- | :---
Nosy | @gpshead, @ncoghlan, @pitrou, @njsmith, @jdemeyer, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 20:03] ncoghlan commented on #75569
As discussed in bpo-29988, it's currently difficult to write completely robust cleanup code in Python, as the default SIGINT handler may lead to KeyboardInterrupt being raised as soon as \*any* Python code starts executing in the main thread, even when that Python code is part of:

- a finally block
- an \_\_exit__ method
- a \_\_del__ method
- a weakref callback
- a trace hook
- a profile hook
-

[2017-09-07 20:06] bitdancer commented on #75511
New changeset 397c467c49385023de36411194d381ac993bae1a by R. David Murray (Elena Oat) in branch 'master':
bpo-31330: Clarify that RawTextHelpFormatter collapses repeated newlines. (bpo-3272)
https://github.com/python/cpython/commit/397c467c49385023de36411194d381ac993bae1a

[2017-09-07 20:08] bitdancer commented on #75511
Thanks, Elena.

[2017-09-07 20:28] pitrou commented on #75569
I think SIGINT handling is the wrong level to do this.  Instead, it should be done at the ceval level, at the point where the "eval breaker" flag is examined for any interruption request to the normal sequential flow of execution.

[2017-09-07 20:46] ncoghlan commented on #75569
Yes, it could also be done as a temporary global block on all signal and pending call processing, not just on SIGINT specifically.

Either way, I'll also note that this can be a no-op in any thread other than the main thread, as those already delegate signal handling to the main thread.

[2017-09-07 20:53] tiran commented on #75475
New changeset 586c0502b5eb9a39cabe0bc2707a8ff63114265c by Christian Heimes (Pablo Galindo) in branch 'master':
bpo-31294: Fix ZeroMQSocketListener and ZeroMQSocketHandler examples (bpo-3229)
https://github.com/python/cpython/commit/586c0502b5eb9a39cabe0bc2707a8ff63114265c

[2017-09-07 20:53] ncoghlan commented on #74174
I've also filed bpo-31388 to cover providing APIs to defer signals and pending calls when running in the main thread.

[2017-09-07 21:03] #75453 closed, assigned to rhettinger

[2017-09-07 21:22] njsmith commented on #75568
Some prior discussion on the old asyncio tracker:
    https://github.com/python/asyncio/pull/305#issuecomment-168714572
    https://github.com/python/asyncio/issues/341

[2017-09-07 21:26] #75258 closed, assigned to rhettinger

[2017-09-07 21:31] zooba commented on #74574
New changeset 76006f285a7e146484d9296597d1d0ace778f992 by Steve Dower in branch '3.6':
[3.6] bpo-30389 Adds detection of VS 2017 to distutils.\_msvccompiler python/cpython#45973 (bpo-3425)
https://github.com/python/cpython/commit/76006f285a7e146484d9296597d1d0ace778f992

[2017-09-07 21:36] ncoghlan commented on #75537
+1 from me for the general idea. As far as where to put it goes, I think the `gc` module would be the most appropriate home.

[2017-09-07 21:48] serhiy-storchaka commented on #75566
In 3.7 the error is different:

[code]

The statement "from .foo import \*" in bugtest/__init__.py imports name foo from the module bugtest.foo and rewrites the attribute foo.

[code]

This behavior is the same in all supported Python versions.

[2017-09-07 21:51] rhettinger commented on #75453
New changeset 3147b0422cbeb98065666ccf95ab6845ac800fd4 by Raymond Hettinger in branch 'master':
bpo-31270: Modification of [Pr 3200](https://github.com/python/cpython/pull/3200) (bpo-3427)
https://github.com/python/cpython/commit/3147b0422cbeb98065666ccf95ab6845ac800fd4

[2017-09-07 21:55] serhiy-storchaka commented on #75537
Note that threads can break this. Even without calling gc.enable() explicitly, "with gc_disabled()" in different thread can enable GC inside other "with gc_disabled()" block.

[2017-09-07 22:26] bitdancer commented on #75511
New changeset 82cae7c5be4175e2173e4d342825b5315a9d612a by R. David Murray (Miss Islington (bot)) in branch '2.7':
[2.7] bpo-31330: Clarify that RawTextHelpFormatter collapses repeated newlines. (GH-3272) (GH-3428)
https://github.com/python/cpython/commit/82cae7c5be4175e2173e4d342825b5315a9d612a

[2017-09-07 22:26] bitdancer commented on #75511
New changeset e89b35dd2b87e85978b91e3e2dbdea1fc76d6be4 by R. David Murray (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31330: Clarify that RawTextHelpFormatter collapses repeated newlines. (GH-3272) (GH-3429)
https://github.com/python/cpython/commit/e89b35dd2b87e85978b91e3e2dbdea1fc76d6be4

[2017-09-07 22:28] tiran commented on #75475
New changeset 27ce5a1b1931b670da234c30d24bfbbc93fa24d7 by Christian Heimes (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31294: Fix ZeroMQSocketListener and ZeroMQSocketHandler examples (GH-3229) (bpo-3430)
https://github.com/python/cpython/commit/27ce5a1b1931b670da234c30d24bfbbc93fa24d7

[2017-09-07 22:29] ncoghlan commented on #75566
As Serhiy notes, this isn't a bug in the import name resolution, it's a consequence of the wildcard import in bugtest's \_\_init__.py replacing its own "bug.foo" submodule attribute with a reference to "bug.foo.foo".

If the star imports can't be avoided, then a potential workaround is to restore "bugtest.foo" from sys.modules:

[code]

[2017-09-07 22:29] #75566 closed, assigned to nobody

[2017-09-07 22:30] warsaw opened #75570 "Give pdb.set_trace() an optional `header` keyword argument"
BPO | [31389](https://bugs.python.org/issue31389)
--- | :---
Nosy | @warsaw
PRs | <li>python/cpython#3438</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-07 22:30] warsaw commented on #75570
IPython has a neat little feature where the function that enters the debugger takes an optional `header` argument.  If given, it is a string that's printed to the console just before the debugger is entered.

https://github.com/ipython/ipython/blob/master/IPython/terminal/embed.py#L177
https://mail.python.org/pipermail/python-dev/2017-September/149256.html

I kind of realized this would be nice to

[2017-09-07 22:31] ncoghlan commented on #75537
Yes, this will be in the same category as the standard stream redirection context managers - multi-threaded applications either won't be able to use it, or else will need to manage access to it somehow.

[2017-09-07 22:43] gpshead commented on #75537
I believe Raymond is aware of the thread issue.  We discussed it.

If gc.disable() would return the previous state of the gc instead of None and an API to enable based on a passed in bool, both of which are written in C and executed with the GIL (or merely another lock protecting changing the gc state rather than the GIL) held and this Python would works with multiple threads all fighting to contr

[2017-09-07 22:44] warsaw commented on #75570
And specifically `header` is chosen to match IPython.  Why be different?

[2017-09-07 23:18] #75511 closed, assigned to nobody

[2017-09-08 00:14] ncoghlan commented on #75525
New changeset 5a8516701f5140c8c989c40e261a4f4e20e8af86 by Nick Coghlan in branch 'master':
bpo-31344: Per-frame control of trace events (GH-3417)
https://github.com/python/cpython/commit/5a8516701f5140c8c989c40e261a4f4e20e8af86

[2017-09-08 00:15] #75525 closed, assigned to ncoghlan

[2017-09-08 00:17] ned-deily commented on #75219
New changeset 590665c399fc4aa3c4a9f8e7104d43a02e9f3a0c by Ned Deily in branch 'master':
bpo-31036: Allow sphinx and blurb to be found automatically (bpo-3440)
https://github.com/python/cpython/commit/590665c399fc4aa3c4a9f8e7104d43a02e9f3a0c

[2017-09-08 00:34] 520aaf02-3cd5-4f31-aafa-feeeba6679cf opened #75571 "pydoc.Helper.keywords missing async and await"
BPO | [31390](https://bugs.python.org/issue31390)
--- | :---
Nosy | @berkerpeksag, @rswgnu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-08 00:34] 520aaf02-3cd5-4f31-aafa-feeeba6679cf commented on #75571
Shouldn't async and await be added to the pydoc keywords list?

[2017-09-08 00:38] ned-deily commented on #75219
New changeset 645c1e421348790d49eab863279a41cb2b6a007a by Ned Deily (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31036: Allow sphinx and blurb to be found automatically (GH-3440) (bpo-3441)
https://github.com/python/cpython/commit/645c1e421348790d49eab863279a41cb2b6a007a

[2017-09-08 00:51] ned-deily commented on #75219
For the 3.6 and master branches, I've now enhanced [Doc/Makefile](https://github.com/python/cpython/blob/main/Doc/Makefile) to better find its tools.  If the doc venv is present, e.g. make venv was run, the Doc build recipe will use sphinx-build and blurb from there, otherwise the process PATH will be search for installed versions.  Hopefully, that covers nearly all use cases.  But, if necessary,

[2017-09-08 00:57] njsmith commented on #74174
Should I open a new issue for the \_\_aexit__ part of this issue then, or...? The reason neither asyncio nor trio use the approach you describe is that it makes it impossible to break out of infinite loops, and trio in particular has entirely solved this problem modulo interpreter limitations like this one.

[2017-09-08 01:04] ncoghlan commented on #75568
bpo-31388 is also potentially relevant here, as registering a signal handler for SIGINT isn't sufficient to cover all potential cases were Py_AddPendingCall gets called. In particular, the tests for bpo-29988 use Py_AddPendingCall to emulate Ctrl-C, rather than relying on SIGINT actually being raised.

[2017-09-08 01:17] vstinner commented on #74825
New changeset f032e9237aa7d43d21e0b04d685c36bddf7078c1 by Victor Stinner (Zackery Spytz) in branch '3.6':
[3.6] bpo-30640: Fix undefined behavior in \_PyFunction_FastCallDict() and PyEval_EvalCodeEx() (GH-2919) (bpo-2964)
https://github.com/python/cpython/commit/f032e9237aa7d43d21e0b04d685c36bddf7078c1

[2017-09-08 01:19] vstinner commented on #74825
It's now fixed in Python 3.6 and master (3.7).

FYI this issue was also detected by Coverity as CID 1415964.

[2017-09-08 01:19] #74825 closed, assigned to nobody

[2017-09-08 01:54] njsmith commented on #75569
Note also that adding a check to ceval is not sufficient -- there are also lots of calls to PyErr_CheckSignals scattered around the tree, e.g. next to every syscall that can return EINTR.

I've considered proposing something like this in the past, since it feels weird that currently "control-C actually works" is some proprietary advantage of trio instead of something that the interpreter supports.

[2017-09-08 01:56] zhangyangyu commented on #75560
New changeset 7dcea4c8769e4f12197646922f399a699c3e2a5a by Xiang Zhang in branch '2.7':
bpo-31379: Added $(RUNSHARED) to run_profile_task (bpo-3422)
https://github.com/python/cpython/commit/7dcea4c8769e4f12197646922f399a699c3e2a5a

[2017-09-08 01:56] #75560 closed, assigned to nobody

[2017-09-08 02:02] ncoghlan commented on #74174
A new issue (depending on this one and potentially on bpo-31388) would be helpful, especially if you were able to use the testing trace hook from this PR to reproduce the problem.

The reason I've taken the async with change out of this issue is because it's untestable given the current state of asyncio - the pending call fires as soon as the YIELD_FROM opcode is reached and control returns to the

[2017-09-08 02:19] ncoghlan commented on #74174
Nathaniel, actually, I think bpo-31387 is the right one to comment on, as still being able to interrupt long-running loops in synchronous code is a quality of implementation concern for that RFE.

[2017-09-08 02:28] ncoghlan commented on #75568
As per Nathaniel's comments on bpo-29988 and 31388, doing this robustly relies on:

1. the event loop being able to reliably guard itself and \_\_aexit__ method implementations against interrupts (bpo-31388)
2. "async with" statements ensuring that if the frame resumes after calling \_\_aenter__, then it will also call \_\_aexit__ (as was done for synchronous with statements in bpo-29988)

[2017-09-08 02:43] zware commented on #75572
Python 2.x has a test called test_xpickle which confirms that pickles can be successfully passed back and forth between different versions of Python.  This should be forward-ported to 3.x, and include tests between the python under test, 3.6, 3.5, 3.4, and 2.7, for each protocol available to each version.  If feeling adventurous, you could even go as far back as 3.0 :)

Ideally, this should also r

[2017-09-08 02:43] zware opened #75572 "Forward-port test_xpickle from 2.7 to 3.x"
BPO | [31391](https://bugs.python.org/issue31391)
--- | :---
Nosy | @zware, @ammaraskar, @Fidget-Spinner
PRs | <li>python/cpython#22452</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

###

[2017-09-08 02:47] njsmith commented on #74174
On another topic: you should add a test where the 'with' block exits by raising an exception, because in this case the interpreter jumps straight to WITH_CLEANUP_START, potentially skipping the DEFER_PENDING_UNTIL entirely.

[2017-09-08 02:52] zooba opened #75573 "Upgrade installers to OpenSSL 1.1.0g and 1.0.2n"
BPO | [31392](https://bugs.python.org/issue31392)
--- | :---
Nosy | @pfmoore, @ronaldoussoren, @vstinner, @tiran, @tjguk, @ned-deily, @zware, @zooba
PRs | <li>python/cpython#3448</li><li>python/cpython#3466</li><li>python/cpython#4715</li><li>python/cpython#4716</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

[2017-09-08 02:52] zooba commented on #75573
As per usual

[2017-09-08 03:30] ncoghlan commented on #74174
In addition to adding a test case to ensure exceptions were handled correctly, I also added test cases for return, break, and continue, and all four new tests initially failed.

Adding a special case for WITH_CLEANUP_START resolved those, but the tests need an adjustment to account for the fact that some of the opcode offsets are unreachable in the test case that covers the early return.

[2017-09-08 03:50] vstinner commented on #74574
I'm pretty sure that the commit 05f01d85257d0f3409c7335aaf0bf6a6da7eecb7 introduced this memory leak:

test_distutils leaked [8736, 8740, 8740] references, sum=26216
test_distutils leaked [8640, 8642, 8642] memory blocks, sum=25924

http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Refleaks%203.x/builds/99/steps/test/logs/stdio

[2017-09-08 05:51] ericsnowcurrently commented on #75043
New changeset 2ebc5ce42a8a9e047e790aefbf9a94811569b2b6 by Eric Snow in branch 'master':
bpo-30860: Consolidate stateful runtime globals. (bpo-3397)
https://github.com/python/cpython/commit/2ebc5ce42a8a9e047e790aefbf9a94811569b2b6

[2017-09-08 06:12] serhiy-storchaka opened #75574 "Fix the use of PyUnicode_READY()"
BPO | [31393](https://bugs.python.org/issue31393)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#3451</li><li>python/cpython#3453</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-08 06:12] serhiy-storchaka commented on #75574
PyUnicode_READY() raises an exception when returns -1 (MemoryError or ValueError). Not all code that calls PyUnicode_READY() handles this property. The following PR fixes all uses of PyUnicode_READY().

* If PyUnicode_READY() returns -1 the caller should either fail immediately or clear the error.

* The raised exception shouldn't be replaced by PyErr_BadArgument().

* In MCACHE_CACHEABLE_NAME PyU

[2017-09-08 06:37] njsmith commented on #74174
I guess this works for the sync case, but it seems kinda fragile, and obviously won't work for the async case. Do you think it's worth revisiting this idea from the OP?: "The eval loop's "check for signal handlers" code is run rarely, so we could afford to do relatively expensive things like check a lookaside table that says "no signal handlers when 13 \< f_lasti \<= 22"."

(Of course it should be

[2017-09-08 06:53] #75435 closed, assigned to rhettinger

[2017-09-08 06:58] serhiy-storchaka commented on #75574
New changeset e3b2b4b8d9e751b49e3550cb83ba39b54fdc377c by Serhiy Storchaka in branch 'master':
bpo-31393: Fix the use of PyUnicode_READY(). (bpo-3451)
https://github.com/python/cpython/commit/e3b2b4b8d9e751b49e3550cb83ba39b54fdc377c

[2017-09-08 07:43] serhiy-storchaka commented on #75574
New changeset ddb536ba7b7c6022424e39d666c3cc81772645c0 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31393: Fix the use of PyUnicode_READY(). (GH-3451). (bpo-3453)
https://github.com/python/cpython/commit/ddb536ba7b7c6022424e39d666c3cc81772645c0

[2017-09-08 07:48] #75574 closed, assigned to serhiy-storchaka

[2017-09-08 09:24] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 commented on #75575
Type code for ellipsis token doesn't match with the constant token.ELLIPSIS:
\---------------------------------------
[code]

source = "..."

[code]

-----------------------------------------

This code outputs following in Python 3.5 and 3.6:

and following in Python 3.4

[2017-09-08 09:24] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 opened #75575 "Ellipsis_token.type != token.ELLIPSIS"
BPO | [31394](https://bugs.python.org/issue31394)
--- | :---
Nosy | @terryjreedy, @berkerpeksag, @aivarannamaa, @Mariatta
PRs | <li>python/cpython#3469</li><li>python/cpython#3525</li><li>python/cpython#3526</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Git

[2017-09-08 09:40] berkerpeksag commented on #75575
Thank you for the report, but this behavior is already documented at https://docs.python.org/3/library/tokenize.html

    To simplify token stream handling, all Operators and Delimiters
    tokens are returned using the generic token.OP token type. The
    exact type can be determined by checking the exact_type property
    on the named tuple returned from tokenize.tokenize().

If you replace the

[2017-09-08 09:57] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 commented on #75575
But it looks like Ellipsis is neither operator nor delimiter: https://docs.python.org/3/reference/lexical_analysis.html#operators

[2017-09-08 09:57] pitrou commented on #75569
Le 08/09/2017 à 03:54, Nathaniel Smith a écrit :

Perhaps you are gold-plating this too much.  This is primitive for a
couple low-level routine writers, not for the average developer.

[2017-09-08 10:03] berkerpeksag commented on #75575
If you look at https://docs.python.org/3/reference/lexical_analysis.html#delimiters '.' (period) is listed as delimiter and there is the following sentence to answer your question:

    A sequence of three periods has a special meaning as an ellipsis literal.

[2017-09-08 10:05] njsmith commented on #75569
Yes... low-level routines like coroutine schedulers where you need to defer interrupts inside the scheduler but not inside the coroutines being scheduled. It's not gold plating, it's actually the original motivation :-)

https://vorpus.org/blog/control-c-handling-in-python-and-trio/#how-do-we-know-which-code-should-be-protected

[2017-09-08 10:10] pitrou commented on #75569
You just wrote an example where you are protecting \_\_exit__ from interrupts.  Do you schedule coroutines inside \_\_exit__?

[2017-09-08 11:37] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 commented on #75575
But ellipsis is a distinct token, not a sequence of three period tokens.

Also, I can't see how we could conceptually treat ellipsis as a delimiter or operator -- it's a literal.

I still think either documentation or implementation needs to be fixed here.

[2017-09-08 13:19] fab47422-3362-4ed2-963d-5f8400bde39f commented on #74588
I have made a patch both for cython and cpython implementing a way to use Py_mod_create in cython.

Basically module def that specifies a new "Py_mod_cython" slot are excluded from the rule of no module creation, so these modules can be executed directly even though they specify Py_mod_create.

Is this approach safe or does it make easy for things to go wrong?

cpython - https://github.com/Traceur

[2017-09-08 13:31] berkerpeksag commented on #75575
Please don't reopen an issue if it was closed by a core developer.

It's not clear to me what exactly do you want to change in the implementation or documentation.

     A sequence of three periods has a special meaning as an ellipsis literal.

is literally describes how the ELLIPSIS token is identified in [Parser/tokenizer.c](https://github.com/python/cpython/blob/main/Parser/tokenizer.c) (see Py

[2017-09-08 14:29] ncoghlan commented on #74174
Yeah, I was already thinking the lookaside table might be a better idea (similar to co_lnotab replacing the old SET_LINENO opcodes), especially since that would also provide a quick way of introspecting code objects to see if they included any try/finally constructs. The special case was just a quick check to see if the problem was what I thought it was.

That's also a good point regarding \_\_aex

[2017-09-08 14:33] 31ec7cc3-49c0-419a-97ef-c96df8ce8930 opened #75576 "Docs Downloads are 404s"
BPO | [31395](https://bugs.python.org/issue31395)
--- | :---
Nosy | @ned-deily, @n8henrie

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-08 14:33] 31ec7cc3-49c0-419a-97ef-c96df8ce8930 commented on #75576
Please see my (closed) issue, I was told to resubmit here. https://github.com/python/pythondotorg/issues/1140

Basically, I usually download a local copy of the epub and HTML docs so I can reference offline (and faster using the "custom search engine" feature of several modern browsers). Tried to download 3.6.2 and noticed I was getting a 404: https://docs.python.org/3/archives/python-3.6.2-docs-h

[2017-09-08 17:19] 0ef32094-ac0f-4f5c-860c-3bd95790dfc5 opened #75577 "Configure and make will fail with enabling --with-pydebug"
BPO | [31396](https://bugs.python.org/issue31396)
--- | :---
Nosy | @tiran, @kevin-coder

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-08 17:19] 0ef32094-ac0f-4f5c-860c-3bd95790dfc5 commented on #75577
When I updated the source code into the latest version, and configure as well as build with following command:
./configure --with-pydebug && make -j4
Build will fail with following error message:
\==================================================================
[code]
==================================================================

[2017-09-08 17:25] tiran commented on #75577
You have to restart with a clean checkout. Either run ``make distclean`` or ``git clean -xdf`` to get rid of all build files.

[2017-09-08 17:25] #75577 closed, assigned to nobody

[2017-09-08 17:27] njsmith commented on #75569
... it's true I did write such an example. And a few lines up in the same message I wrote an example where I was protecting an event loop from interrupts. In both cases the tricky question is how to manage the transitions between protected and unprotected without race conditions. Context-local state is a great solution for part of this problem.

I did realize this morning that technically it is \*

[2017-09-08 17:28] vstinner commented on #74574
Python 3.6 is also impacted:
http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Refleaks%203.6/builds/104

[2017-09-08 17:30] pitrou commented on #75569
Le 08/09/2017 à 19:27, Nathaniel Smith a écrit :

But what overhead does context local state add to ceval.c?
Of course, we don't have the answer until Yuri actually submits an
implementation, but I'm not sure it can be as light-weight as currently.

[2017-09-08 17:36] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 commented on #75575
(Sorry, I didn't mean to challenge the authority of a core developer. I simply didn't notice that adding a comment reopens the issue. I hope this time I selected correct parameters and this doesn't happen again)

I'm trying to rephrase my concern.

Initially I thought there was a mistake in the tokenizer or in the token module.

After you pointed out the documentation about token.OP and exact_type

[2017-09-08 17:46] ned-deily commented on #75219
New changeset 9cc332094c5f8cbaa47400633ab3ba372da61c9d by Ned Deily in branch '3.5':
[3.5] bpo-31036: Allow sphinx and blurb to be found automatically (GH-3440)
https://github.com/python/cpython/commit/9cc332094c5f8cbaa47400633ab3ba372da61c9d

[2017-09-08 18:02] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #75537
I'd be -1 on this without a demonstrated broad need for this in at least some context outside of microbenchmarking utilities (which presumably have already implemented similar stuff).

If a minimum bar for applicability isn't applied, we'll end up with dozens of these special purpose managers justified by the last limited applicability one. Stuff like contextlib.closing is justifiable (though I wi

[2017-09-08 18:21] zware commented on #74635
New changeset 1911cf3dd2ae67d600c166ba52872fdcf3e85824 by Zachary Ware in branch '2.7':
[2.7] bpo-30450: Fall back on the old env.bat (GH-3443)
https://github.com/python/cpython/commit/1911cf3dd2ae67d600c166ba52872fdcf3e85824

[2017-09-08 18:22] terryjreedy commented on #75575
I think we should add 'and Ellipsis' in the tokenize doc to get
'all Operators and Delimiters tokens and Ellipsis are returned ...'.  I would actually prefer 'Operator and Delimiter tokens' but I don't know if the 's' is needed to trigger the current linkage.

[2017-09-08 18:59] ncoghlan commented on #74174
I updated the PR at https://github.com/ncoghlan/cpython/pull/2/files with another attempt at reinstating the asynchronous CM test case that also tweaks the eval loop to ensure that the first few opcodes in a function are always executed before pending calls are checked.

This version highlights why I think asyncio really needs work before the async behaviour can be tested robustly in the standard

[2017-09-08 19:07] ncoghlan commented on #75537
This is being proposed for the gc module, not contextlib, so I'm not sure how the previous comment applies.

This is just a convenience API for folks already doing this kind of manipulation themselves.

[2017-09-08 19:10] njsmith commented on #74174
Here's the patch I mentioned: https://github.com/njsmith/cpython/commit/62547dc5ea323a07c25c2047636a02241f518013

It has a crude but effective technique for handling the hanging issue :-). Alternatively one could use the World's Stupidest Coroutine Runner:

[code]

Huh, that's a neat idea. I think it's defeated by 'while True: pass', though :-(. (You have to write it on two lines, but it compiles

[2017-09-08 19:14] gpshead commented on #75535
New changeset 4c81401b3a9ffa48fc9e1ffff9963cbad5111e33 by Gregory P. Smith (octaviansoldea) in branch 'master':
bpo-31354: Let configure --with-lto work on all builds
https://github.com/python/cpython/commit/4c81401b3a9ffa48fc9e1ffff9963cbad5111e33

[2017-09-08 19:29] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
Bug encountered while installing multiple packages :
1. keras
2. theano

[code]

[2017-09-08 19:41] serhiy-storchaka commented on #75542
This looks to me as a bug in keras and theano. And may be in pip. Please file bug reports on corresponding bug trackers.

[2017-09-08 19:41] #75542 closed, assigned to nobody

[2017-09-08 19:44] berkerpeksag commented on #75575
Thank you for your detailed response, Aivar. I agree that adding 'and Ellipsis' would make the tokenize documentation clearer. Would you like to send a pull request?

[2017-09-08 19:46] njsmith commented on #75569
Sure, but whatever overhead it has, it has. Once we're paying for it, new keys are free (at yield/resume time).

Compared to a bare thread-local it probably has somewhat higher overhead when we have to check it, but (a) that's why PEP-550 has a clever caching mechanism, and (b) you don't have to check it until you have a pending signal, and you almost never have a pending signal.

Anyway, we can w

[2017-09-08 20:37] ghost opened #75578 "does not work import in Python 3.6.2"
BPO | [31397](https://bugs.python.org/issue31397)
--- | :---
Nosy | @bitdancer
Files | <li>[1.jpg](https://bugs.python.org/file47126/1.jpg "Uploaded as image/jpeg at 2017-09-08.20:37:01 by Бобёр Сатанист")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHu

[2017-09-08 20:37] ghost commented on #75578
How to import modules/files in Python 3.6.2? I started to study python, in the section about importing modules, here is an example: I created a text file with the text "print('Hello module world!')" and saved it with the name "module1.py". I put the file in a folder with a python. As stated in the book, simply entering
"import module1" python imports the contents of the file, wherever it is on the

[2017-09-08 20:54] 8d330395-585a-4724-9ff6-e8027e2dd7d5 opened #75579 "TypeError: gdbm key must be string, not unicode"
BPO | [31398](https://bugs.python.org/issue31398)
--- | :---
Nosy | @vstinner, @ezio-melotti, @bitdancer, @serhiy-storchaka, @sam-s, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-08 20:54] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #75579
`in` and `has_key` have different behavior for Unicode keys for `gdbm` in 2.7:
[code]

[2017-09-08 20:56] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #75579
platform:
Python 2.7.13 (default, Jul 18 2017, 09:17:00)
[GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.42)] on darwin

[2017-09-08 21:00] 8d330395-585a-4724-9ff6-e8027e2dd7d5 commented on #75579
the problem is not present in
Python 3.6.2 (default, Jul 17 2017, 16:44:45):
[code]

[2017-09-08 21:04] tiran opened #75580 "Let OpenSSL verify hostname and IP address"
BPO | [31399](https://bugs.python.org/issue31399)
--- | :---
Nosy | @vstinner, @tiran, @jwilk, @ramikg
PRs | <li>python/cpython#3462</li><li>python/cpython#5395</li><li>python/cpython#28602</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-09-08 21:04] tiran commented on #75580
Python should no longer attempt to verify hostname and ip addresses itself. OpenSSL 1.0.2 and newer is able to verify hostname and IP addresses itself. The new APIs are properly hooked into chain validation step. Hostname matching implements RFC 6125. CN matching and partial wildcards can be tuned with additional. The API is documented here: https://www.openssl.org/docs/man1.0.2/crypto/X509_VERIFY

[2017-09-08 21:16] zooba opened #75581 "SSL module returns incorrect error codes on Windows"
BPO | [31400](https://bugs.python.org/issue31400)
--- | :---
Nosy | @tiran, @alex, @zooba, @dstufft
PRs | <li>python/cpython#3463</li><li>python/cpython#3466</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-08 21:16] zooba commented on #75581
Because we wait so long between errors occurring and being reported, information about the Windows error code (WSAGetLastError) has already been lost.

We should capture all the info sooner.

[2017-09-08 21:19] 8dcc9775-b0db-4de9-b052-1f058aea0103 opened #75582 "Dynamic compilation that uses function in comprehension fails when compiled inside function"
BPO | [31401](https://bugs.python.org/issue31401)
--- | :---
Nosy | @bitdancer, @vedgar, @josepablocam
Files | <li>[reproduce.zip](https://bugs.python.org/file47127/reproduce.zip "Uploaded as application/zip at 2017-09-08.21:19:38 by @josepablocam"): Zip file contaIning three python programs to reproduce error</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrate

[2017-09-08 21:19] 8dcc9775-b0db-4de9-b052-1f058aea0103 commented on #75582
Execution fails with NameError when trying to dynamically compile a Python program that uses a function in a comprehension, and the code is compiled inside a function call, rather than as a global statement.

Using the attached files to reproduce (in reproduce.zip):

python3 compile_in_function.py comprehension.py #fails
python3 compile_global.py comprehension.py # works
python2 compile_in_functio

[2017-09-08 21:27] ericsnowcurrently commented on #75043
FYI, the merged code introduced a bunch of new warnings on Windows.  I'm looking into it.

[2017-09-08 21:38] zware commented on #73817
Hi Karen,

You may have already noticed that this has been fixed since you reported it; sorry it's taken so long for anybody to reply!  The issue was that importlib.h and importlib_external.h (generated files) were not checked in when their source files were changed, as is our convention for those files.  We have since enabled pre-merge CI to check this sort of thing.

[2017-09-08 21:38] #73817 closed, assigned to nobody

[2017-09-08 21:42] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
After patching, I've tested installed packages listed in the pip3.update.
The default c compiler used is clang.  Few of them are failed, listed as following, after change the c compiler to be gcc-7. (Twisted av cymem cytoolz dulwich gnureadline pycrypto pydsm pycurl regex reportlab setproctitle). PyAudio and mercurial needs additional support to get them installed.
I hope this demonstrate the reli

[2017-09-08 21:43] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 commented on #75209
I ran into the same problem when running the test suite against a fresh Python 3.6.2 build on Ubuntu 16.04. It specifically appears to be a problem with ndbm and retrieving an empty byte string value:

[code]

Same behavior when using the distribution's stock Python 3.5.2 so I suspect there's a behavioral change in libdb that's not accounted for?

[2017-09-08 22:16] tiran commented on #75573
New changeset e6eb48c10dc389d1d70657593de6a6cb3087d3d1 by Christian Heimes (Steve Dower) in branch 'master':
bpo-31400: Improve SSL error handling on Windows (bpo-3463)
https://github.com/python/cpython/commit/e6eb48c10dc389d1d70657593de6a6cb3087d3d1

[2017-09-08 22:16] tiran commented on #75581
New changeset e6eb48c10dc389d1d70657593de6a6cb3087d3d1 by Christian Heimes (Steve Dower) in branch 'master':
bpo-31400: Improve SSL error handling on Windows (bpo-3463)
https://github.com/python/cpython/commit/e6eb48c10dc389d1d70657593de6a6cb3087d3d1

[2017-09-08 22:27] tiran commented on #75475
Thanks for your contribution. Your PR has been merged into 3.6 and master, which will become Python 3.7 eventually.

[2017-09-08 22:27] #75475 closed, assigned to nobody

[2017-09-08 22:40] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
Correct some type :

Few of them are failed, listed as following, after change the c compiler to
be gcc-7, they can be fixed.
(Twisted av cymem cytoolz dulwich gnureadline pycrypto pydsm pycurl regex
reportlab setproctitle).

*____**____**____**____**____**____**____**____**____**____**____**____*
*____**____**____**____**____**____*
* Contact Info                                            \*
 \*

[2017-09-08 22:40] vstinner commented on #75443
Zachary Ware added pythoninfo to buildbot VS9.0 builds:
https://github.com/python/buildmaster-config/commit/c1d51a791d63c5e7d05c160ba25babd302fefe83

[2017-09-08 22:42] zware commented on #75443
I'd rather not go through the gymnastics to actually add python.bat creation to the VS9.0 config, so I'm closing this as rejected.  If someone else finds it useful and wants to provide a patch, I'll review and merge it.

[2017-09-08 22:42] #75443 closed, assigned to nobody

[2017-09-08 22:44] vstinner commented on #75005
New changeset 3892799668dbf2b123a52780fd1d78f8880fdeb7 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30822: Deduplicate ZoneInfoTest classes in test_datetime. (GH-2534) (bpo-3405)
https://github.com/python/cpython/commit/3892799668dbf2b123a52780fd1d78f8880fdeb7

[2017-09-08 22:46] vstinner commented on #75054
pythoninfo is now available on all buildbots, including Python 2.7 VS9.0 buildbots:
https://bugs.python.org/issue31260#msg301747

[2017-09-08 22:52] vadmium commented on #75547
The socket.makefile(newline=...) parameter only affects text mode, but StreamRequestHandler’s “rfile” attribute works in byte mode. You could call makefile or TextIOWrapper yourself, but neither of these options support reading null-terminated “lines” or packets.

I think it would be best to implement this more generally, e.g. via bpo-1152248 or bpo-17083. Perhaps like the “asyncio.StreamReader.re

[2017-09-08 23:15] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 commented on #75209
Actually, I was able to make things happy by removing libdb5.3-dev and solely relying on libgdbm3-dev (which suggests that Debian upstream may want to pare back their build requirements rather than disable the dbm test as they appear to do now).

[2017-09-09 06:41] scoder commented on #74588
I'm a bit torn on this. On the one hand, it's basically saying, "Cython is probably going to do it right anyway, so let's just assume it does". That's nice, and might be applicable to other cases as well. But that also feels like it could need some kind of versioning.

On the other hand, it's totally not magic to implement something similar by hand, so naming the flag in a Cython specific way feel

[2017-09-09 07:30] gpshead commented on #73825
New changeset efb1d0a3c001a6153211063ba439b9847aa03509 by Gregory P. Smith in branch 'master':
bpo-29639: change test.support.HOST to "localhost"
https://github.com/python/cpython/commit/efb1d0a3c001a6153211063ba439b9847aa03509

[2017-09-09 09:33] 00cb8ee4-8477-4cf2-a23b-96ae6c49efd3 commented on #75575
Here is the PR: https://github.com/python/cpython/pull/3469

(It's my first, so I don't know if I should to also update NEWS file or add "skip news" label. I signed the CLA, so I hope this warning goes away.)

[2017-09-09 11:04] a0a5b48d-77d6-4d07-a4da-1d5cc5bea095 commented on #75583
Well I'm reading Al Sweigarts Automate the boring stuff, downloaded the exe for Python 3.6, and got the right 32-bit one, then nothing happens when I run it. It just does nothing. I do have it set up perfectly well on another computer, but it won't budge on this one. It's an Acer Aspire 32-bit 2.00Gb Ram notebook.
 Next I got a message from google telling me I have a problem signing in for my emai

[2017-09-09 11:04] a0a5b48d-77d6-4d07-a4da-1d5cc5bea095 opened #75583 "Python won't load on Acer Aspire"
BPO | [31402](https://bugs.python.org/issue31402)
--- | :---
Nosy | @terryjreedy, @Chikimonki

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-09 12:19] d39fc50f-b0e1-4101-b3a2-610bbbc7700a commented on #74116
I worked around this bug in websockets by serializing access to `drain()` with a lock:

https://github.com/aaugustin/websockets/commit/198b71537917adb44002573b14cbe23dbd4c21a2

I suspect this is inefficient but it beats crashing.

[2017-09-09 13:04] ncoghlan commented on #74929
After drafting PEP-558, briefly chatting about it to Guido, and sleeping on the topic, I'm wondering if there might be answer that's simpler than any of the alternatives consider so far: what if PyFrame_FastToLocals added the \*cell objects* to f_locals for any variables that the compiler would access using LOAD/STORE_DEREF (rather than LOAD/STORE_FAST), and then PyFrame_LocalsToFast only wrote ba

[2017-09-09 13:13] zooba commented on #75573
New changeset b84bcc48ae31c385fe480c08c05d95212ef7fcdc by Steve Dower in branch 'master':
bpo-31392: Update SSL build for 1.1.0 (bpo-3448)
https://github.com/python/cpython/commit/b84bcc48ae31c385fe480c08c05d95212ef7fcdc

[2017-09-09 13:24] ncoghlan commented on #74174
After chatting to Facebook's Carl Shapiro here at the core dev sprint, I'm going to start exploring a hopefully more robust white-listing based approach where we check for pending calls in the following cases:

* the instruction pointer either hasn't changed or has gone backwards and the instruction isn't a YIELD_FROM (the "return to the start of a loop" case)
* the next instruction is RETURN_VALU

[2017-09-09 14:04] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #75526
I submitted a pull request for both 3.5 and 3.6 finding 2 locations using search and find. I also replayed Raymond's example (with \_collections as well) and got the documentation as expected on my custom builds of 3.5/3.6.

I submitted my CLA on 26th August but it has not been processed for some reason?

[2017-09-09 15:09] Mariatta commented on #75526
Thanks Henk-Jaap,
3.5 branch is now on security fix only, so only the backport to 3.6 will be accepted.

It seems like you have two bug tracker accounts? Did you register with two different email address?
It appears that the CLA is received for one of your account, but that's not the account you are using now.

[2017-09-09 15:22] tiran commented on #75573
New changeset 16f16dbd0ed02cd1a7b270eb6dd80d9bd179902e by Christian Heimes in branch '3.6':
[3.6] bpo-31400: Improve SSL error handling on Windows (GH-3463) (bpo-3466)
https://github.com/python/cpython/commit/16f16dbd0ed02cd1a7b270eb6dd80d9bd179902e

[2017-09-09 15:22] tiran commented on #75581
New changeset 16f16dbd0ed02cd1a7b270eb6dd80d9bd179902e by Christian Heimes in branch '3.6':
[3.6] bpo-31400: Improve SSL error handling on Windows (GH-3463) (bpo-3466)
https://github.com/python/cpython/commit/16f16dbd0ed02cd1a7b270eb6dd80d9bd179902e

[2017-09-09 16:08] terryjreedy commented on #75575
Once the CLA * shows up after your name, one of us should remove CLA needed tag and bot will verify.  I believe tagging as trivial would also work.

[2017-09-09 16:17] terryjreedy commented on #75583
Please ask for installation help on python-list.  It can also be accessed via news.gmane.org. Give following details: OS, including version; source of installer; how you tried to install; what error message you got.

If you have Windows XP, 3.6 will not install.  If Vista+, and you need to install .dll, do so.  Search or ask.

[2017-09-09 16:17] #75583 closed, assigned to nobody

[2017-09-09 17:04] bitdancer commented on #75542
Can you figure out what the input to feedparser is in those cases?  If pip or whatever is feeding in a None object, then that's not a bug in feedparser.  However, if the input is a string (or bytes via the bytes interface) and this is heppening, then there's probably something wrong, but we'll need to see the actual input to determine what.

[2017-09-09 17:06] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c opened #75584 "Remove WITHOUT_THREADS from _decimal"
BPO | [31403](https://bugs.python.org/issue31403)
--- | :---
Nosy | @skrah
PRs | <li>python/cpython#3474</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-09 17:17] bitdancer commented on #75578
Presumably the book didn't tell you everything you need to know to make this work, or you missed something in the instructions, since this certainly does work if the module is in a directory on sys.path.  (The 'python module1.py' will only work at the windows command prompt, by the way.)

This is a bug tracker, so it's not a good place to get help on installing and using Python.  I suggest trying

[2017-09-09 17:17] #75578 closed, assigned to nobody

[2017-09-09 17:26] bitdancer commented on #75579
In python3, u"a" and "a" are the same thing.  The equivalent in python3 would bee b"a" vs "a", but I have no idea if we even support bytes keys in python3 gdbm.

In 2.7 does has_key(u"x") work if x is a valid key?

[2017-09-09 17:26] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75584
New changeset c0c29dff7940b7e7ecc1dd051080c5d5f9e42ba8 by Stefan Krah in branch 'master':
bpo-31403: Remove WITHOUT_THREADS from \_decimal. (bpo-3474)
https://github.com/python/cpython/commit/c0c29dff7940b7e7ecc1dd051080c5d5f9e42ba8

[2017-09-09 17:28] #75584 closed, assigned to 5531d0d8-2a9c-46ba-8b8b-ef76132a492c

[2017-09-09 17:36] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75585 "undefined behavior and crashes in case of a bad sys.modules"
BPO | [31404](https://bugs.python.org/issue31404)
--- | :---
Nosy | @brettcannon, @ncoghlan, @ericsnowcurrently, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3565</li><li>python/cpython#3606</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields

[2017-09-09 17:36] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75585
at least on my Windows, the following code:

[code]

- when run interactively, causes weird behavior, e.g. exit() doesn't exit the
  interpreter, and print() doesn't print.
  then, pressing Ctrl+C causes 'Assertion failed: !PyErr_Occurred(), file ..\\Objects\\call.c, line 803'

- when run as a script, causes PyImport_Cleanup() to raise a negative ref count
  Fatal Python error.

  (this is because

[2017-09-09 17:39] bitdancer commented on #75582
Could you please post the examples instead of a zip file?  Zip files are hard to read on a mobile browser :)

[2017-09-09 18:12] f77cc8dc-6bc8-43a5-974f-4e21c6f6aa2f opened #75586 "shutil.which doesn't find files without PATHEXT extension on Windows"
BPO | [31405](https://bugs.python.org/issue31405)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @SpecLad, @serhiy-storchaka, @eryksun, @zooba, @asottile, @Zheaoli, @tirkarthi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fiel

[2017-09-09 18:12] f77cc8dc-6bc8-43a5-974f-4e21c6f6aa2f commented on #75586
On windows, shutil.which does not match the semantics of built-in command lookup. If you pass the name of a script like foo.py and the PATHEXT variable doesn't include .py it will search for foo.py.exe, foo.py.bat, foo.py.cmd, etc. but not foo.py, which should be the first name checked.

[2017-09-09 18:22] njsmith commented on #74929
How does a trace function or debugger tell the difference between a closure cell and a fast local whose value happens to be a cell object?

[2017-09-09 18:25] bitdancer commented on #73825
Users on linux can and do screw this up too.  I believe we also had a case where a distro screwed up the defaults for, I think, the reverse resolve?  Not sure which test that was, and the test may since been fixed to not depend on that.  The point is this may break in unexpected ways but hopefully they will all be either fixable or legitimately "your system is broken".

I'll review the test_smtpli

[2017-09-09 19:46] serhiy-storchaka commented on #75579
has_key(u"x") works if x is a valid key.

has_key() parses the argument with PyArg_ParseTuple("s#") which implicitly converts unicode to str. \_\_contains__() explicitly checks for str type.

[2017-09-09 20:04] a0dcdba0-28a6-4cce-9a42-ab0466807922 commented on #75542
Hi David,

From the error message, the source of the None object was from pip, and it
is grabbing data from the metadata of the package.

  File "/usr/local/lib/python3.6/site-packages/pip/utils/packaging.py",
line 48, in check_dist_requires_python
-- By adding 'print(metadata)' on line 46, I have the metadata of theano as
attached.

So another fix maybe adding str() in the packaging.py in pip, I

[2017-09-09 20:32] 8dcc9775-b0db-4de9-b052-1f058aea0103 commented on #75582
Woops, sorry about that, makes sense. Below an example (same idea as the files):

[code]

[2017-09-09 20:32] pitrou commented on #75480
I think a more general facility to strip unwanted frames from traceback objects would be useful for more people (including importlib, I think).  i.e. actually mutate the traceback object, not remove the unwanted frames when printing (since it only works if you're the one doing the printing).

(note mutating a traceback object is very easy in C, it's just not possible in pure Python, except perhaps

[2017-09-09 23:14] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #75582
List comprehension is irrelevant here, any nested function has the same problem. And the inner name doesn't have to refer to a function. Also, compilation as a separate step is not necessary.

So the minimal example is

[code]

But I'm not sure if it is a bug at all. If you write explicitly

[code]

you get a result 8 without problem. The docs say

    ...if the optional parts are omitted, the cod

[2017-09-09 23:19] bitdancer commented on #75582
This is indeed not a bug, it it a consequence of the scoping rules.

What surprises me is that it works without passing in an explicit scope in in 3.7.  I'm not sure what we changed that makes that true.

[2017-09-10 00:42] bitdancer commented on #74971
Thanks for the PR, but I've managd to finish my rewrite of the folder so that it not only doesn't traceback on this, but correctly folds it.  I'll probably post the PR tomorrow.

[2017-09-10 04:43] mdickinson commented on #75554
There's a (to my mind) unfortunate change in behaviour here. Under normal IEEE 754 rules, some C double values larger than FLT_MAX still round to FLT_MAX under conversion to float.

Python 3.6:

[code]

Following the changes in this PR:

[code]

The original behaviour is correct with respect to IEEE 754; the new behaviour is not. I think this is a case where the cure is worse than the disease.

[2017-09-10 05:34] benjaminp commented on #75554
I agree that's bad. Do you know a way to get the IEEE 754 rounding behavior without invoking C undefined behavior?

[2017-09-10 09:04] 80036ac5-bb84-4d39-8416-02cd8e51707d commented on #75551
Also 'import threading' code in [Tools/scripts/run_tests.py](https://github.com/python/cpython/blob/main/Tools/scripts/run_tests.py) should be cleaned.

[2017-09-10 10:13] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #75526
Hi Mariatta,

Thanks for pointing that out about 3.5. Is that also why the build failed!? I found it hard to parse travis' output and was surprised it failed.

Thanks for letting me know---getting it fixed. I have added my github account to the other one, so that should fix it for this PR?

[2017-09-10 10:34] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75492
just in case it was missed - I have opened two PRs for this issue.

[2017-09-10 10:58] mdickinson commented on #75554
One option is to hard-code the actual boundary, which is 2\*\*128 * (1 - 2**-25) (as opposed to FLT_MAX, which is 2\*\*128 * (1 - 2**-24)): values equal to or larger than 2\*\*128 * (1 - 2**-25) in absolute value should raise. But that means assuming IEEE 754 and round-ties-to-even, which isn't an outrageous assumption but does make the solution feel a bit fragile.

An alternative would be to scal

[2017-09-10 13:25] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75587
The following code crashes the interpreter:

[code]

decimal.Decimal() \< BadRational()

this is because numerator_as_decimal() (in [Modules/_decimal/_decimal.c](https://github.com/python/cpython/blob/main/Modules/_decimal/_decimal.c)) assumes
that 'numerator' is an integer.

multiply_by_denominator() (in [Modules/_decimal/_decimal.c](https://github.com/python/cpython/blob/main/Modules/_decimal/_d

[2017-09-10 13:25] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75587 "crashes when comparing between a Decimal object and a bad Rational object"
BPO | [31406](https://bugs.python.org/issue31406)
--- | :---
Nosy | @skrah, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3476</li><li>python/cpython#3477</li><li>python/cpython#3479</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-09-10 15:36] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75588
./configure --without-pymalloc produces:

[Objects/obmalloc.c](https://github.com/python/cpython/blob/main/Objects/obmalloc.c): In function ‘bumpserialno’:
[Objects/obmalloc.c:1326](https://github.com/python/cpython/blob/main/Objects/obmalloc.c#L1326):21: error: ‘struct \_pymem_runtime_state’ has no member named ‘serialno’
     ++_PyRuntime.mem.serialno;
                     ^
[Objects/obmalloc.c]

[2017-09-10 15:36] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c opened #75588 "--without-pymalloc broken"
BPO | [31407](https://bugs.python.org/issue31407)
--- | :---
Nosy | @skrah, @ericsnowcurrently
PRs | <li>python/cpython#3507</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-10 16:04] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c opened #75589 "Leak in typeobject.c"
BPO | [31408](https://bugs.python.org/issue31408)
--- | :---
Nosy | @methane, @skrah, @ericsnowcurrently
Superseder | <li>bpo-31420: Reference leaks introduced by bpo-30860</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-09-10 16:04] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75589
I traced this valgrind result down to
2ebc5ce42a8a9e047e790aefbf9a94811569b2b6 :

==23495== 240 (72 direct, 168 indirect) bytes in 1 blocks are definitely lost in loss record 2,255 of 2,922
==23495==    at 0x4C2A9A1: malloc (vg_replace_malloc.c:299)
==23495==    by 0x42C6BC: PyMem_RawMalloc (obmalloc.c:420)
==23495==    by 0x42C6BC: \_PyObject_Alloc (obmalloc.c:975)
==23495==    by 0x42C6BC: \_PyO

[2017-09-10 16:08] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75587
New changeset 3cedf46cdbeefc019f4a672c1104f3d5e94712bd by Stefan Krah in branch 'master':
bpo-31406: Fix crash due to lack of type checking in subclassing. (bpo-3477)
https://github.com/python/cpython/commit/3cedf46cdbeefc019f4a672c1104f3d5e94712bd

[2017-09-10 16:15] methane commented on #75589
Maybe, PyDict_ClearFreeList() is not called?

[2017-09-10 16:46] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75587
New changeset f8909d0e4b652256e4da153fa6be664490f60a07 by Stefan Krah (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31406: Fix crash due to lack of type checking in subclassing. (GH-3477) (bpo-3479)
https://github.com/python/cpython/commit/f8909d0e4b652256e4da153fa6be664490f60a07

[2017-09-10 16:58] warsaw opened #75590 "Implement PEP 559 - built-in noop()"
BPO | [31409](https://bugs.python.org/issue31409)
--- | :---
Nosy | @warsaw
PRs | <li>python/cpython#3480</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-10 16:58] warsaw commented on #75590
Placeholder issue for discussion of the design of the implementation of PEP-559.

[2017-09-10 17:07] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75587
Thanks for the report and the patch!

[2017-09-10 17:07] #75587 closed, assigned to nobody

[2017-09-10 17:22] warsaw commented on #75590
Rejected by GvR!

[2017-09-10 17:22] #75590 closed, assigned to warsaw

[2017-09-10 17:34] serhiy-storchaka opened #75591 "int.__repr__() is slower than repr()"
BPO | [31410](https://bugs.python.org/issue31410)
--- | :---
Nosy | @vstinner, @methane, @serhiy-storchaka
PRs | <li>python/cpython#3481</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-10 17:34] serhiy-storchaka commented on #75591
Following the StackOverflow question [1].

Calling repr() is faster than calling unbound method \_\_repr__(). This looks strange at first glance because it is \*obvious* that repr() is implemented via calling \_\_repr__().

[code]

Actually repr() just called the tp_repr slot, while calling int.\_\_repr__ passes through many intermediate layers.

Proposed PR gets rid of a half of the overhead. It

[2017-09-10 17:37] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75592
The following code causes warn_explicit() (in [Python/_warnings.c](https://github.com/python/cpython/blob/main/Python/_warnings.c)) to raise a
SystemError:

[code]

this is because warn_explicit() assumes that warnings.onceregistry is a dict,
and passes it to update_registry(), which passes it to already_warned(), which
eventually passes it to \_PyDict_SetItemId(), which raises the SystemError.

[2017-09-10 17:37] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75592 "SystemError raised by warn_explicit() in case warnings.onceregistry is not a dict"
BPO | [31411](https://bugs.python.org/issue31411)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3485</li><li>python/cpython#3493</li><li>python/cpython#3494</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.py

[2017-09-10 18:01] scoder commented on #75517
Any more comments on the proposed implementation? 13-15% seem worth it to me.

@Victor, or are you saying "PyId, or no change at all"?

[2017-09-10 18:16] tiran commented on #75517
Good work, Stefan! It's an impressive speedup of class creation.

It looks like you have not yet addressed Serhiy's comment https://github.com/python/cpython/pull/3279/files#r136815648

[2017-09-10 18:40] serhiy-storchaka commented on #75517
My comment was addressed.

As for using the \_Py_IDENTIFIER API, I don't think it is related. The speedup was caused by avoiding few simple checks and function calls. The \_Py_IDENTIFIER API is great, but it has a small overhead which is comparable to the small difference caused by Stefan's patch.

[2017-09-10 18:41] f8c46d9f-f92e-420f-956b-d795f5ff26ab opened #75593 "wave.open does not accept PathLike objects"
BPO | [31412](https://bugs.python.org/issue31412)
--- | :---
Nosy | @berkerpeksag, @serhiy-storchaka, @mscuthbert
PRs | <li>python/cpython#3484</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detail

[2017-09-10 18:41] f8c46d9f-f92e-420f-956b-d795f5ff26ab commented on #75593
The wave library (reading and writing .wav audio files) accepts filehandles, strings, and bytes, but does not accept PathLike objects.  Patch will modify wave.py to allow open to use these objects.

[2017-09-10 18:42] scoder commented on #75517
No, that one was addressed. I think only Victor's comment is still open, that's why I asked back.

[2017-09-10 19:18] tiran commented on #75517
Victor is currently travelling and recovering from jetlag. I'm sure he'll reply within a day or two.

[2017-09-10 20:57] benjaminp commented on #75554
I'm going to undo the changes to getargs.c and floatobject.c. I think the pytime.c change is still correct because the doubles are explicitly rounded before conversion (and the old code checked for error \> 1.0).

It's hard to win here I think. The clang undefined behavior sanitizer uses FLT_MAX to make its determination:
runtime error: value 3.40282e+38 is outside the range of representable value

[2017-09-10 20:57] e89b2bce-1090-458e-8df2-4cdeea42f164 commented on #75101
Hi Terry,
Sorry,  I missed your resply because it was buried in my trash email.
Here are the configuration in my PC:
HOMEDRIVE=Z:
HOMEPATH=\\
HOMESHARE=\\\\nt3.imec.be\\zhai65
LOCALAPPDATA=C:\\Users\\zhai65\\AppData\\Local

[code]

[code]

I partly bypassed the bug by following the instructions shown in my
previous link.

\*Best Regards！*
\*--*

\*Eric Donghui \*\*Zhai \*
* PhD Candidate\*
\*IMEC

[2017-09-10 21:38] terryjreedy commented on #75101
Thanks for the information.  I hope to get to this before 3.6.3.

[2017-09-10 21:38] #75101 closed, assigned to terryjreedy

[2017-09-10 22:28] rhettinger commented on #75448
Based on the python-dev discussion, can we close this now?

[2017-09-10 22:40] rhettinger commented on #75448
Just for the record, here is the draft of the post I was going to make on python-dev but didn't prove to be necessary.

\---------------------------------------------

I think would be a mistake to replace the implementation of collections.OrderedDict() with the builtin compact-and-ordered dict.  They serve different use cases and deserve different implementations that best serve those use cases.

[2017-09-10 23:12] methane commented on #75448
The discussion on [1] was for removing pure Python implementation,
not about changing C implementation.

[1]: https://mail.python.org/pipermail/python-dev/2017-September/149147.html

While I withdrawed my suggestion about removing pure Python implementation,
I still think this new implementation is valuable.

Dict ordering is not language spec and many libraries including stdlib
uses OrderedDict t

[2017-09-10 23:34] mdickinson commented on #75554
Agreed.

Also agreed.

[2017-09-10 23:54] methane commented on #75448
Thank you for write down your thought.

For move_to_end(), I admit new behavior is \*amortized* O(1) and
current behavior is \*worst-case* O(1).

When I implemented compact ordered dict in last year, my motivation
was porting PyPy's efficiency to CPython.
And this issue is based on same motivation.

So I want to hear Armin's opinion before closing this issue.

[2017-09-11 00:52] rhettinger commented on #75448
ISTM that what is being proposed is an algorithmically flawed re-implementation of the ordered dictionary.  I'm unclear about whether you understand and acknowledge why the doubly-linked list was chosen and what kind of workloads it supports (we didn't choose it because it was either convenient or fun, we chose it because it was an algorithmically correct way of supporting arbitrary deletion, move

[2017-09-11 01:05] methane commented on #75448
Arbitrary deletion: New and current implementation has same complexity, because current implementation relying on dict deletion.  Only difference is current implementation need to remove item from link list, not only dict.

move-to-front, move-to-back: Current implementation is worst case O(1) and new implementation is amortized O(1), like insertion.

pop-first, pop-last: Current implementation is

[2017-09-11 01:12] Mariatta commented on #75526
Thanks Henk-Jaap for the PR. It's been merged.

[2017-09-11 01:12] #75526 closed, assigned to nobody

[2017-09-11 01:19] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #75594
E:\\TinyURL\\app\\Release\>tinyurl
Fatal Python error: only 'import site' is supported in .\_pth file

Current thread 0x0000161c (most recent call first):

The above Happens when I try to use the .\_pth file to automatically call \<something\>.main()

However it prints that and then Crashes on Windows. I am not sure about how it does on linux or not.

I would like this extended to work how I thoug

[2017-09-11 01:19] a28bdafa-f08b-4d5c-a058-5f14648d68ee opened #75594 "Support importing anything in ._pth files."
BPO | [31413](https://bugs.python.org/issue31413)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @AraHaan

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-11 02:41] terryjreedy commented on #74964
New changeset 3866d9bbcf808cea98b3d00007f9f246b83858ce by Terry Jan Reedy (Cheryl Sabella) in branch 'master':
bpo-30781: IDLE: Fix help button on configdialog (bpo-3238)
https://github.com/python/cpython/commit/3866d9bbcf808cea98b3d00007f9f246b83858ce

[2017-09-11 02:46] terryjreedy commented on #74963
I just pushed the extension conversion patch.  The tests we did already were greatly helpful, and some tests not done or inadequate hindered.  I am now looking to polish configdialog before 3.6.3.  If you have anything worth a new issue and PR, I will be ready to review.

[2017-09-11 03:17] terryjreedy commented on #75595
Test_configdialog 'tests' several integer entry widgets by inserting a digit and then checking that the new value was sent to changes.  However, users may delete an entry totally and enter a new value.  If we associate an IntVar with the entry widget, int('') is called somewhere in the process, which raises.  (IntVar(root).set('') does not, so the error is somewhere further along.  The test should

[2017-09-11 03:17] terryjreedy opened #75595 "IDLE: Entry tests should delete before insert."
BPO | [31414](https://bugs.python.org/issue31414)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#3501</li><li>python/cpython#3502</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-11 03:19] terryjreedy commented on #74964
New changeset 4a8b53a2083506ee13ff2eba2c14264f5a7faa91 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30781: IDLE: Fix help button on configdialog (GH-3238) (bpo-3489)
https://github.com/python/cpython/commit/4a8b53a2083506ee13ff2eba2c14264f5a7faa91

[2017-09-11 03:25] terryjreedy commented on #74964
I moved [PR3215](https://github.com/python/cpython/pull/3215) to bpo-27755.  So this issue is really closed.

[2017-09-11 03:43] applio commented on #75489
I have two concerns with this:
1) The implicit restart of the forkserver process seems in conflict with the zen of making things explicit.
2) This would seem to make forkserver's behavior inconsistent with the behavior of things like the Manager which similarly creates its own process for managing resources but does not automatically restart that process if it should die or become unreachable.  In

[2017-09-11 03:55] a28bdafa-f08b-4d5c-a058-5f14648d68ee commented on #73904
Closing this in favor of https://www.python.org/dev/peps/pep-0539/.

[2017-09-11 03:55] #73904 closed, assigned to nobody

[2017-09-11 05:18] ncoghlan commented on #74929
The same way the dis module does: by looking at the names listed in the various code object attributes.

If it's listed in co_cellvars, then it's a local variable in the current frame that's in a cell because it's part of the closure for a nested function.

If it's listed in co_freevars, then it's a nonlocal closure reference.

Otherwise, it's a regular local variable that just happens to be holdi

[2017-09-11 05:27] serhiy-storchaka commented on #75448
Note that mixed insertion and deletion is worst-case O(n) in current implementation.

Original Raymond's design didn't preserve ordering during deletion. It had worst-case O(1) for mixed insertion and deletion. I didn't follow the numerous discussions about compact dict implementation, but at some point it became keeping holes and preserving ordering during deletion. This leads to the need of peri

[2017-09-11 05:27] methane commented on #75596
I used my local patch to profile import time.  I think it's useful for
3rd party authors.
For example:

./python -Ximportprofile -c 'import traceback'
    - \_codecs 71 [us]
  - codecs 677 [us]
  - encodings.aliases 412 [us]
- encodings 1688 [us]
- encodings.utf_8 250 [us]
- \_signal 120 [us]
- encodings.latin_1 281 [us]
    - \_weakrefset 301 [us]
  - abc 593 [us]
- io 1032 [us]
  - \_locale 100

[2017-09-11 05:27] methane opened #75596 "Add -X option to show import time"
BPO | [31415](https://bugs.python.org/issue31415)
--- | :---
Nosy | @gvanrossum, @warsaw, @brettcannon, @rhettinger, @terryjreedy, @pitrou, @vstinner, @tiran, @methane, @nschloe, @ambv, @serhiy-storchaka, @miss-islington
PRs | <li>python/cpython#3490</li><li>python/cpython#3765</li><li>python/cpython#3936</li><li>python/cpython#3942</li><li>python/cpython#3955</li><li>python/cpython#4138</li><li>p

[2017-09-11 05:59] methane commented on #75448
Original Raymond's pure Python implementation rebuilds index table.
Without it, proving can be very long or infinite loop.
See L89-92 in http://code.activestate.com/recipes/578375/
Strictly speaking, it's worst case is O(n) too.

Raymond's compact dict allocates entry table and index table separately.
I want to allocate them at once, as one memory block.
It makes better cache hit ratio on small di

[2017-09-11 06:26] serhiy-storchaka commented on #73712
New changeset c67838da2cde6fa3f1bef11f08719237983e6990 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-29526: Add reference to help('FORMATTING') in format() builtin (GH-166). (bpo-3491)
https://github.com/python/cpython/commit/c67838da2cde6fa3f1bef11f08719237983e6990

[2017-09-11 06:26] serhiy-storchaka commented on #73712
New changeset 6ed7aff8948e50708f048f3f7fd41809259d1777 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-29526: Add reference to help('FORMATTING') in format() builtin (GH-166). (bpo-3492)
https://github.com/python/cpython/commit/6ed7aff8948e50708f048f3f7fd41809259d1777

[2017-09-11 06:28] serhiy-storchaka commented on #75592
New changeset 252033d50effa08046ac34fcc406bc99796ab88b by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31411: Prevent raising a SystemError in case warnings.onceregistry is not a dictionary. (bpo-3485)
https://github.com/python/cpython/commit/252033d50effa08046ac34fcc406bc99796ab88b

[2017-09-11 06:39] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #75448
I would side with Inada in thinking they both give the same amortized complexity, but beyond that, benchmarks are the real answer.  There is little value in keeping the current implementation of OrderedDict \*if* benchmarks show that it is rarely faster.

[2017-09-11 06:50] benjaminp commented on #75554
New changeset 2bb69a5b4e7f96cb35d1b28aa7b7b3974b351f59 by Benjamin Peterson in branch 'master':
bpo-31373: remove overly strict float range checks (bpo-3486)
https://github.com/python/cpython/commit/2bb69a5b4e7f96cb35d1b28aa7b7b3974b351f59

[2017-09-11 07:01] serhiy-storchaka commented on #75592
New changeset 004547f97067be2e23ae770f300c0c0d1db1ba27 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31411: Prevent raising a SystemError in case warnings.onceregistry is not a dictionary. (GH-3485). (bpo-3493)
https://github.com/python/cpython/commit/004547f97067be2e23ae770f300c0c0d1db1ba27

[2017-09-11 07:01] serhiy-storchaka commented on #75592
New changeset 7972ed2111ea2f01e8712eef91bcf2260e05ad8b by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31411: Prevent raising a SystemError in case warnings.onceregistry is not a dictionary. (GH-3485). (bpo-3494)
https://github.com/python/cpython/commit/7972ed2111ea2f01e8712eef91bcf2260e05ad8b

[2017-09-11 07:07] #75592 closed, assigned to nobody

[2017-09-11 07:52] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75597 "assertion failures in warn_explicit() in case of a bad warnings.filters or warnings.defaultaction"
BPO | [31416](https://bugs.python.org/issue31416)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3496</li><li>python/cpython#3509</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-09-11 07:52] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75597
The following code causes an assertion failure in warn_explicit() (in
[Python/_warnings.c](https://github.com/python/cpython/blob/main/Python/_warnings.c)):

[code]

this is because warn_explicit() assumes that get_filter() returned a string,
and passes the return value (of get_filter()) to \_PyUnicode_EqualToASCIIString(),
which asserts it received a string.

In addition, get_filter() might retur

[2017-09-11 09:18] pitrou commented on #75489
Well, the forkserver process really is an implementation detail.  It already is started on-demand, so restarting it if needed sounded like a natural evolution.

Another example: in a multiprocessing Pool, if a worker process crashes, another will be restarted transparently (same in concurrent.futures.ProcessPoolExecutor, incidentally).

That's possible.  I've never seen the Manager used in the wil

[2017-09-11 10:07] ncoghlan commented on #74174
I've pushed a variant that relies entirely on checking for instruction pointer changes, and it seems quite promising. However, a test_io failure introduced by this variant shows a new way for this version to \*create* problems: because of the shift in the way signals are handled, the failing test switches from raising the exception as the last item inside the with statement to instead raising it a

[2017-09-11 10:25] tiran commented on #75581
Patch has landed in 3.6 and master, thanks!

[2017-09-11 10:25] #75581 closed, assigned to zooba

[2017-09-11 10:43] 319d7274-4c67-4fda-b01a-e2c8ec72a32a opened #75598 "Use the enumerate function where appropriate"
BPO | [31417](https://bugs.python.org/issue31417)
--- | :---
Nosy | @rhettinger, @vstinner, @bitdancer, @serhiy-storchaka, @vedgar, @mbyrnepr2
PRs | <li>python/cpython#3497</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-09-11 10:43] 319d7274-4c67-4fda-b01a-e2c8ec72a32a commented on #75598
To make code explicit and more readable

Use the enumerate function to replace occurrences of the pattern:

[code]

[2017-09-11 12:49] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75599 "assertion failure in PyErr_WriteUnraisable() in case of an exception with a bad __module__"
BPO | [31418](https://bugs.python.org/issue31418)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3539</li><li>python/cpython#3556</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-09-11 12:49] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75599
The following code causes an assertion failure in PyErr_WriteUnraisable() (in
[Python/errors.c](https://github.com/python/cpython/blob/main/Python/errors.c)):

[code]

this is because PyErr_WriteUnraisable() assumes that \_\_module__ is a string,
and passes it to \_PyUnicode_EqualToASCIIId(), which asserts it received a string.

what is the wanted behavior in such a case?
should we ignore the bad

[2017-09-11 13:25] serhiy-storchaka commented on #75599
Printing '\<unknown\>' LGTM.

Implicit converting to str can raise a warning or exception if \_\_module__ is a bytes object.

[2017-09-11 13:27] serhiy-storchaka commented on #75599
I think this patch doesn't need a test (which would require using a subprocess).

[2017-09-11 13:31] vstinner commented on #74943
http://buildbot.python.org/all/builders/ARMv7%20Ubuntu%203.x/builds/1337/steps/test/logs/stdio

The issue still exists:

0:10:38 load avg: 7.31 [403/405] test_multiprocessing_forkserver passed (110 sec) -- running: test_pydoc (590 sec), test_buffer (55 sec)
0:10:41 load avg: 6.88 [404/405] test_buffer passed (57 sec) -- running: test_pydoc (593 sec)

command timed out: 1200 seconds without output

[2017-09-11 13:40] 2da60e7a-77b8-4b52-baa8-f7275325bd0c commented on #75600
HI:
    I tried to install python3.5.1 64bit and python3.6.2 64bit on wondows, I met the same problem.
Error 0x80070643: Failed to install MSI package.
[2BD0:2360][2017-09-11T14:56:47]e000: Error 0x80070643: Failed to configure per-user MSI package.
[2BD0:2360][2017-09-11T14:56:47]i319: Applied execute package: core_JustForMe, result: 0x80070643, restart: None
[2BD0:2360][2017-09-11T14:56:47]e000:

[2017-09-11 13:40] 2da60e7a-77b8-4b52-baa8-f7275325bd0c opened #75600 "Can not install python3.6.2 due to Error 0x80070643: Failed to install MSI package"
BPO | [31419](https://bugs.python.org/issue31419)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @iritkatriel
Files | <li>[Python 3.6.2 (64-bit)_20170911145619.log](https://bugs.python.org/file47133/Python%203.6.2%20%2864-bit%29_20170911145619.log "Uploaded as text/plain at 2017-09-11.13:40:48 by fernado")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrat

[2017-09-11 15:26] vstinner commented on #75517
I ran a microbenchmark on the current [PR 3279](https://github.com/python/cpython/pull/3279) using:

./python -m perf timeit --inherit=PYTHONPATH 'class C: pass'

Result:

haypo@selma$ ./python -m perf compare_to ref.json patch.json
Mean +- std dev: [ref] 9.71 us +- 0.38 us -\> [patch] 8.74 us +- 0.22 us: 1.11x faster (-10%)

I compiled Python using "./configure && make", no LTO nor PGO.

[2017-09-11 15:29] bitdancer commented on #75598
Thanks for wanting to improve Python, but we don't usually accept refactoring requests like this.  We "fix" such issues when the code is touched for other reasons.  We'll see what other developers think, though.

[2017-09-11 15:49] vstinner commented on #75598
The standard library is used by some developers are the reference style for best practices. So it makes sense to "upgrade" to code to use enumarate(). I read the short change, enumerate() usage is appropriate.

[2017-09-11 15:53] zooba commented on #74574
I fixed the ref leak during the sprints but forgot to tag this issue in the PR.

[2017-09-11 15:53] #74574 closed, assigned to zooba

[2017-09-11 16:29] vstinner opened #75601 "Reference leaks introduced by bpo-30860"
BPO | [31420](https://bugs.python.org/issue31420)
--- | :---
Nosy | @ncoghlan, @vstinner, @ericvsmith, @skrah, @ericsnowcurrently
PRs | <li>python/cpython#3506</li><li>python/cpython#3567</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-09-11 16:29] vstinner commented on #75601
The following commands show memory leaks introduced by bpo-30860:

[code]

[2017-09-11 16:30] vstinner commented on #75601
Oh, I'm talking about the commit 2ebc5ce42a8a9e047e790aefbf9a94811569b2b6.

[2017-09-11 16:31] vstinner commented on #75043
The commit 2ebc5ce42a8a9e047e790aefbf9a94811569b2b6 introduced reference leaks: see bpo-31420 which tracks them.

[2017-09-11 16:34] vstinner commented on #75043
New changeset 4866957e86594935ec2e6434b6e470ebeb0c79b4 by Victor Stinner in branch 'master':
bpo-30860: Add [Include/internal/](https://github.com/python/cpython/blob/main/Include/internal) in "make tags" (bpo-3498)
https://github.com/python/cpython/commit/4866957e86594935ec2e6434b6e470ebeb0c79b4

[2017-09-11 16:36] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75601
Could be the same as bpo-31408.

[2017-09-11 16:53] vstinner commented on #75517
Serhiy on the PR: "This is overgeneralization. Can tp_dict be not exact dict at all? I don't think this is possible. In many places concrete dict API is used with tp_dict. If you want to allow tp_dict be not exact dict, please open a separate issue for this."

Using the following code, A.\_\_dict__ type is dict even if the metaclass creates a different type, probably because type_new() calls PyDic

[2017-09-11 17:03] terryjreedy opened #75602 "IDLE doc: add section on developing tkinter apps."
BPO | [31421](https://bugs.python.org/issue31421)
--- | :---
Nosy | @terryjreedy, @Cryvate
PRs | <li>python/cpython#3513</li><li>python/cpython#3514</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></d

[2017-09-11 17:03] terryjreedy commented on #75602
One of IDLE's great features is being able to interactively work with tkinter gui's because run calls update, without blocking, in the background. Document it in a new subsection, '3.5 Developing tkinter applications'.

Adapt the following (written for a python-list response):

[code]

[2017-09-11 17:14] vstinner commented on #75601
The leak comes from the following lines of \_PySys_EndInit():
\---
[code]

---

It's not the first time that I have an issue with these attributes. The last reference weak caused by multiple interpreters was also related to this one if I recall correctly.

See bpo-30598 and my commit 865de27dd79571a4a5c7a7d22a07fb909c4a9f8e.

[2017-09-11 17:14] vstinner commented on #74783
This bug came back in master: see bpo-31420.

[2017-09-11 17:16] vstinner commented on #75601
Extract of my [msg295399](https://bugs.python.org/msg295399): "The problem is that warnoptions is stored in a C global variable \*and* in sys.warnoptions of each interpreter. The ownership of this variable is unclear."

Maybe we need a change similar to bpo-28411 (commit 86b7afdfeee77993fe896a2aa13b3f4f95973f16) which removed the "modules" field from Py_InterpreterState.

[2017-09-11 17:23] vstinner commented on #74574
The fix:

commit af8d6b90723daa943c5cd0a38ee7564790d8687a
Author: Steve Dower \<steve.dower@microsoft.com\>
Date:   Fri Sep 8 11:35:38 2017 -0700

    Fixes reference leak (bpo-3457)

[2017-09-11 17:38] cafeb650-7e75-4b36-af3a-ac569f3917d6 opened #75603 "tkinter.messagebox and tkinter.filedialog don't show default button's keyboard shortcuts"
BPO | [31422](https://bugs.python.org/issue31422)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @jcrmatos

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-11 17:38] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75603
tkinter.messagebox windows (eg. askokcancel, showerror, showinfo, ...) in Tkinter 8.6 running on Python 3.5.3, don't don't show the keyboard shortcuts/accelerators in the default buttons.

And the askopenfilename from tkinter.filedialog only shows the Open one. The Cancel does not appear and does not work.

I'm using it under Windows 7 Pro.

[2017-09-11 17:55] bitdancer commented on #75598
Anyone who uses stdlib code as examples of best practice doesn't understand the history of stdlib code.

Generally, we consider the danger of introducing bugs to be more significant than the benefit of the "cleanup" changes.  The fact that you are discussing further changes to the code in the PR make this more likely.

[2017-09-11 19:54] JulienPalard opened #75604 "Error while building PDF documentation"
BPO | [31423](https://bugs.python.org/issue31423)
--- | :---
Nosy | @ned-deily, @zware, @JulienPalard, @Mariatta, @Linkid
PRs | <li>python/cpython#3693</li><li>python/cpython#3699</li><li>python/cpython#3700</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Git

[2017-09-11 19:54] JulienPalard commented on #75604
Since the docsbuild-scripts [1] upgraded its sphinx-build [2], we're having this error when building the docs:

    ! Undefined control sequence.
    \py@authoraddress -> \strong

    {Python Software Foundation}\\ Email: \email {d...
    l.58 \sphinxtableofcontents

    !  ==> Fatal error occurred, no output PDF file produced!

it looks like to be from conf.py line 97 [3]:

conf.py-95-# Additiona

[2017-09-11 20:02] terryjreedy commented on #75595
New changeset 667522efa8fedfb57fd89d7335d7dfd270f274d5 by Terry Jan Reedy in branch 'master':
bpo-31414: IDLE -- fix tk entry box tests by deleting first. (bpo-3501)
https://github.com/python/cpython/commit/667522efa8fedfb57fd89d7335d7dfd270f274d5

[2017-09-11 20:34] terryjreedy commented on #75595
New changeset 31b242459cef0835057f08c8756559b3261aa8ff by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31414: IDLE -- fix tk entry box tests by deleting first. (GH-3501) (bpo-3502)
https://github.com/python/cpython/commit/31b242459cef0835057f08c8756559b3261aa8ff

[2017-09-11 20:43] terryjreedy commented on #75111
New changeset 8239fd704637d7cbf59273883fbe487fc0f568fc by Terry Jan Reedy in branch 'master':
bpo-30928: Update idlelib/NEWS.txt to 2017-09-11. (bpo-3503)
https://github.com/python/cpython/commit/8239fd704637d7cbf59273883fbe487fc0f568fc

[2017-09-11 20:52] zooba commented on #75594
This is by design. You should not be using the .\_pth file for anything other than initializing sys.path.

If you want to run code at startup, consider using sitecustomize.py or a regular .pth file, all of which will be imported when you include "import site" in the .\_pth file.

[2017-09-11 20:52] #75594 closed, assigned to nobody

[2017-09-11 21:18] serhiy-storchaka commented on #75597
New changeset 9d984fd2b097c8c29479d1c3eb740995fe1ccb0d by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31416: Fix assertion failures in case of a bad warnings.filters or warnings.defaultaction. (bpo-3496)
https://github.com/python/cpython/commit/9d984fd2b097c8c29479d1c3eb740995fe1ccb0d

[2017-09-11 21:21] ericsnowcurrently commented on #75601
I'm looking into this.

[2017-09-11 21:30] serhiy-storchaka commented on #75598
I concur with David in general. And as you can see there are questions to the concrete patch.

[2017-09-11 21:31] ericsnowcurrently commented on #75601
Moving warnoptions (and xoptions) out of PyInterpreterState seems like a good idea to me for the same reasons as applied to sys.modules.  The case for these two is even stronger since they are only used in sysmodule.c.

[2017-09-11 21:45] vstinner opened #75605 "test_socket hangs on x86 Gentoo Installed with X 3.x"
BPO | [31424](https://bugs.python.org/issue31424)
--- | :---
Nosy | @vstinner

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-11 21:45] vstinner commented on #75605
http://buildbot.python.org/all/builders/x86%20Gentoo%20Installed%20with%20X%203.x/builds/1004/steps/test/logs/stdio

...
running: test_socket (35311 sec)
running: test_socket (35341 sec)
running: test_socket (35371 sec)
running: test_socket (35401 sec)
running: test_socket (35431 sec)
running: test_socket (35461 sec)
9:54:31 load avg: 2.86 [405/405] test_socket interrupted
sys:1: ResourceWarning:

[2017-09-11 21:46] vstinner commented on #73953
I am sorry but it is not possible to fix the issue since we don't have enough information to identify or reproduce the bug.

[2017-09-11 21:46] #73953 closed, assigned to nobody

[2017-09-11 21:48] vstinner commented on #75605
The failing build was triggered by the commit 834a5cecac0e77e907762611c06fa460545487e7. Maybe it's related?

[2017-09-11 21:50] terryjreedy commented on #75111
New changeset 99b941b420d63027654dc6722f1648a8f36d2925 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30928: Update idlelib/NEWS.txt to 2017-09-11. (GH-3503) (bpo-3504)
https://github.com/python/cpython/commit/99b941b420d63027654dc6722f1648a8f36d2925

[2017-09-11 21:51] terryjreedy commented on #75111
Making the upper merge context be

"\====================================

" (a line of equals and 2 blanks) has worked great to eliminate backport merge conflicts.)

[2017-09-11 22:07] vstinner commented on #75205
I didn't see this issue recently, but I didn't check much Appveyor. Let's hope that the bug was fixed in the meanwhile. I will reopen the issue if the bug comes back.

[2017-09-11 22:07] #75205 closed, assigned to nobody

[2017-09-11 22:22] d83b5ecb-6b5e-41b6-be5d-a329b3fefb93 opened #75606 "Expose AF_QIPCRTR in socket module"
BPO | [31425](https://bugs.python.org/issue31425)
--- | :---
Nosy | @taleinat, @tiran, @andersson
PRs | <li>python/cpython#3706</li><li>python/cpython#9595</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-11 22:22] d83b5ecb-6b5e-41b6-be5d-a329b3fefb93 commented on #75606
The address family AF_QIPCRTR represents a socket based communication mechanism, available since Linux v4.7, for communicating with services running on co-processors in Qualcomm based platforms; e.g. the modem services.

Expose this address family in the socket module to allow python access to this interface.

[2017-09-11 22:37] 319d7274-4c67-4fda-b01a-e2c8ec72a32a commented on #75598
Generally, we consider the danger of introducing bugs to be more significant than the benefit of the "cleanup" changes.  The fact that you are discussing further changes to the code in the PR make this more likely.

I haven't updated the PR with further code changes as suggested in the PR comments because the comments don't strictly relate to the changes put forward in this issue, and I don't want

[2017-09-11 22:57] ericsnowcurrently commented on #75589
@skrah, could you see if the PR for issue bpo-31420 resolves this?  I'm guessing it won't, but you indicated that the two issues might be related.  Thanks!

[2017-09-11 22:59] ericsnowcurrently commented on #75588
I'm looking into this.

[2017-09-11 23:10] ericsnowcurrently commented on #75588
I've verified that the PR fixes the problem.

[2017-09-11 23:20] ericsnowcurrently commented on #75585
I'm looking into this.

[2017-09-12 00:02] ericsnowcurrently commented on #75043
New changeset ba6d5d1defd7a281c8c8804e4b4cfd7370886236 by Eric Snow in branch 'master':
bpo-30860: Always provide serialno. (bpo-3507)
https://github.com/python/cpython/commit/ba6d5d1defd7a281c8c8804e4b4cfd7370886236

[2017-09-12 00:02] ericsnowcurrently commented on #75588
New changeset ba6d5d1defd7a281c8c8804e4b4cfd7370886236 by Eric Snow in branch 'master':
bpo-30860: Always provide serialno. (bpo-3507)
https://github.com/python/cpython/commit/ba6d5d1defd7a281c8c8804e4b4cfd7370886236

[2017-09-12 00:02] #75588 closed, assigned to ericsnowcurrently

[2017-09-12 00:59] vstinner commented on #75043
New changeset 8728018624f257c7cfe44014742ae46134047f49 by Victor Stinner (Eric Snow) in branch 'master':
bpo-30860: Fix a refleak. (bpo-3506)
https://github.com/python/cpython/commit/8728018624f257c7cfe44014742ae46134047f49

[2017-09-12 01:00] #75601 closed, assigned to ericsnowcurrently

[2017-09-12 01:23] ericsnowcurrently commented on #75448
On Sun, Sep 10, 2017 at 10:27 PM, Serhiy Storchaka
\<report@bugs.python.org\> wrote:

Could you elaborate?  Note that every operation of the current
implementation matches the complexity of the Python implementation.

[2017-09-12 01:28] bitdancer commented on #75598
Mark: Yeah, I think my comment was directed more to haypo than you :)

[2017-09-12 01:30] ericsnowcurrently commented on #75043
New changeset fc1bf872e9d31f3e837f686210f94e57ad3d6582 by Eric Snow in branch 'master':
bpo-30860: Move windows.h include out of internal/*.h. (bpo-3458)
https://github.com/python/cpython/commit/fc1bf872e9d31f3e837f686210f94e57ad3d6582

[2017-09-12 02:47] ericsnowcurrently commented on #75585
This is pretty messy. :(  Ideally we would disallow setting sys.modules to anything except a dict (or perhaps any mapping).  However, we don't have that option currently (see https://github.com/ericsnowcurrently/cpython/tree/sys-module).  In the meantime we have to fix up all the places that are expecting a mapping.

Part of the problem here is that a number of places fail silently, as evidenced b

[2017-09-12 05:22] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #75598
Sorry, this seems like a classical example of "When all you have is a hammer, everything looks like a nail. Then, when you learn of a screwdriver, you suddenly see half of these nails as screws, completely ignoring there are other tools besides those two."

In fact, enumerate is \_not_ the good choice in most of those cases, as the comments show. One should use zip, another should use ordinary ite

[2017-09-12 05:55] fe5a23f9-4d47-49f8-9fb5-d6fbad5d9e38 commented on #75582
Hm... then it \_is_ a bug (in 3.7). Or we have "fast locals and slow locals" nightmare again... :-/

I don't have 3.7 to test... what do you mean is working? jpc's example or mine?

[2017-09-12 06:08] benjaminp commented on #75554
New changeset cb356c2ecc0528d47fee2b9f4b32da4fcfb48b3a by Benjamin Peterson in branch '3.6':
[3.6] bpo-31373: remove overly strict float range checks (GH-3486) (bpo-3495)
https://github.com/python/cpython/commit/cb356c2ecc0528d47fee2b9f4b32da4fcfb48b3a

[2017-09-12 06:48] serhiy-storchaka commented on #75597
New changeset 9adc87b0f82e5169c5f44739f89212a86013d1c4 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31416: Fix assertion failures in case of a bad warnings.filters or warnings.defaultaction. (GH-3496) (bpo-3509)
https://github.com/python/cpython/commit/9adc87b0f82e5169c5f44739f89212a86013d1c4

[2017-09-12 06:48] #75597 closed, assigned to nobody

[2017-09-12 07:27] methane commented on #75448
It means rebuilding hash table to clean up dummy entries.
So, even when dict size is not increasing, remove + insert loop has
worst case O(n), amortized O(1) complexity.

[2017-09-12 07:40] methane commented on #75448
As I wrote in here:
https://bugs.python.org/issue31265#msg300757

PyPy-like ODict implementation is:

* 1000 less lines of code
* 50% less memory usage
* 15% faster creation
* 100% (2x) faster iteration
* 20% slower move_to_end
* 40% slower comparison

Since current implementation is still draft, there are some
potential optimization.

* Optimize over allocation ratio for move_to_end.  I have not

[2017-09-12 08:34] 39a8e412-f8e3-4d55-bb23-77cdef1f43ea commented on #75607
Using 3.5.2-2ubuntu0\~16.04.3 (Xenial) we see an occasional segfault during garbage collection of a generator object

A full backtrace is attached, but the crash appears to be triggered inside gen_traverse during gc

\---
(gdb) info args
gen = 0x7f22385f0150
visit = 0x50eaa0 \<visit_decref\>
arg = 0x0

(gdb) print \*gen
$109 = {ob_base = {ob_refcnt = 1, ob_type = 0xa35760 \<PyGen_Type\>}, gi_frame

[2017-09-12 08:35] 39a8e412-f8e3-4d55-bb23-77cdef1f43ea opened #75607 "[3.5] crash in gen_traverse(): gi_frame.ob_type=NULL, called by subtract_refs() during a GC collection"
BPO | [31426](https://bugs.python.org/issue31426)
--- | :---
Nosy | @pitrou, @vstinner, @mcepl, @ianw, @serhiy-storchaka, @1st1, @vzhestkov
Files | <li>[crash-bt.txt](https://bugs.python.org/file47134/crash-bt.txt "Uploaded as text/plain at 2017-09-12.08:34:51 by @ianw"): gdb backtrace of segfault</li><li>[crash-py-bt.txt](https://bugs.python.org/file47135/crash-py-bt.txt "Uploaded as text/plain a

[2017-09-12 09:22] vstinner commented on #75607
Python 3.5 moved to security only fixes recently, it doesn't accept bug fixes anymore:
https://devguide.python.org/#status-of-python-branches

It would be nice to Python 3.5.4 at least, or better: Python 3.6.x.

ob_type should never be NULL for an object still reachable and with a reference count different than zero. It seems like a bug in a C extension. It would help to test your application on a

[2017-09-12 09:31] vstinner commented on #75607
I pointed bpo-26617 to Ian since Python 3.5.2 contains this GC crash, but it seems like it's not the same bug.

[2017-09-12 09:36] vstinner commented on #75607
Ah, I found an issue which had bpo-26617 in subtract_refs():
https://stackoverflow.com/questions/39990934/debugging-python-segmentation-faults-in-garbage-collection

So it's not only update_refs() called during GC collection.

[2017-09-12 11:18] serhiy-storchaka commented on #75585
I haven't finished reviewing [PR 1638](https://github.com/python/cpython/pull/1638). I'm not sure that this change is worth. It breaks a code that assumes that sys.module is a dict, and I afraid it slows down importing. Maybe revert this change until resolving all problems?

[2017-09-12 11:39] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75589
It's fixed, thanks!

[2017-09-12 11:39] #75589 closed, assigned to nobody

[2017-09-12 12:00] 1fc80209-cfe6-41fd-9885-cef8c09f27e2 opened #75608 "Add an answer to the Windows FAQ about installing the Universal C Runtime"
BPO | [31427](https://bugs.python.org/issue31427)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @Mariatta

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 12:00] 1fc80209-cfe6-41fd-9885-cef8c09f27e2 commented on #75608
Several people have asked on python-list why they are running into these errors.

Python 3.6.0 can't start because api-ms-win-crt-runtime-l1-1-0.dll is missing.

The solution is to install KB 2999226 "Update for Universal C Runtime in Windows".
https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows

Propose to add this as a Windows FAQ.

[2017-09-12 12:04] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75609 "ElementTree.Element.__deepcopy__() raises a SystemError in case of a bad memo"
BPO | [31428](https://bugs.python.org/issue31428)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3512</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 12:04] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75609
The following code causes ElementTree.Element.\_\_deepcopy__() to raise a
SystemError:

[code]

this is because \_elementtree_Element___deepcopy__() (in [Modules/_elementtree.c](https://github.com/python/cpython/blob/main/Modules/_elementtree.c))
assumes that memo is a dictionary, and passes it to PyDict_SetItem(), which
raises the SystemError.

[2017-09-12 12:24] serhiy-storchaka commented on #75609
I suppose the Python implementation supports arbitrary mapping, not just dict. We could use general mapping API in the C implementation, but I think it isn't worth. \_\_deepcopy__ is used internally by copy.deepcopy(), which always passes a dict. I think it isn't worth to backport a fix, and it doesn't need tests. The behavior of calling \_\_deepcopy__ with non-dict is implementation detail. But i

[2017-09-12 13:05] terryjreedy commented on #75602
New changeset 98758bc67fb39b74bab368bef8ff3b34554c77c8 by Terry Jan Reedy in branch 'master':
bpo-31421: Document how IDLE runs tkinter programs. (bpo-3513)
https://github.com/python/cpython/commit/98758bc67fb39b74bab368bef8ff3b34554c77c8

[2017-09-12 13:22] tiran opened #75610 "TLS cipher suite compile time option for downstream"
BPO | [31429](https://bugs.python.org/issue31429)
--- | :---
Nosy | @tiran, @alex, @dstufft, @stratakis
PRs | <li>python/cpython#3532</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 13:22] tiran commented on #75610
Python overrides OpenSSL's default cipher suites because the default selection used to be pretty bad and insecure. Python disables cipher suites with insecure algorithm such as RC4, MD5, DES, and 3DES. The SSL module has hard-coded cipher strings for SSLContext and ssl.create_default_context() in multiple places:

* https://github.com/python/cpython/blob/v3.6.2/Modules/_ssl.c#L2693
* https://githu

[2017-09-12 13:33] ericsnowcurrently commented on #75448
Ah, so it matches the pure Python implementation then.

[2017-09-12 13:33] Mariatta commented on #75608
Is this only a problem with 3.6.0 or \>= 3.6.0?

[2017-09-12 13:45] terryjreedy commented on #75602
New changeset 4d7807ab9ad9f990e948d250bbb390b23a790764 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31421: Document how IDLE runs tkinter programs. (GH-3513) (bpo-3514)
https://github.com/python/cpython/commit/4d7807ab9ad9f990e948d250bbb390b23a790764

[2017-09-12 13:45] #75602 closed, assigned to terryjreedy

[2017-09-12 13:51] bitdancer commented on #75582
Hmm.  I must have made a mistake when I ran (jpc's) test on 3.7.  It is failing with the NameError for me when I try it again.

[2017-09-12 13:51] #75582 closed, assigned to nobody

[2017-09-12 14:39] serhiy-storchaka commented on #75609
New changeset d056818ed2ade6d28190a375d7183f4aef9caa55 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31428: Prevent raising a SystemError in case the memo arg of ElementTree.Element.\_\_deepcopy__() isn't a dictionary. (bpo-3512)
https://github.com/python/cpython/commit/d056818ed2ade6d28190a375d7183f4aef9caa55

[2017-09-12 14:40] #75609 closed, assigned to nobody

[2017-09-12 15:46] 80036ac5-bb84-4d39-8416-02cd8e51707d commented on #75551
[Lib/_dummy_thread.py](https://github.com/python/cpython/blob/main/Lib/_dummy_thread.py) and [Lib/dummy_threading.py](https://github.com/python/cpython/blob/main/Lib/dummy_threading.py) were deleted, but [Doc/library/_dummy_thread.rst](https://github.com/python/cpython/blob/main/Doc/library/_dummy_thread.rst) and [Doc/library/dummy_threading.rst](https://github.com/python/cpython/blob/main/Doc/lib

[2017-09-12 15:55] vstinner opened #75611 "[Windows][2.7] Python 2.7 compilation fails on mt.exe crashing with error code C0000005"
BPO | [31430](https://bugs.python.org/issue31430)
--- | :---
Nosy | @pfmoore, @db3l, @vstinner, @tjguk, @zware, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 15:55] vstinner commented on #75611
On the AMD64 Windows10 2.7 buildbot, the Python compilation fails on mt.exe crashing with error code C0000005 (code -1073741819). It is crashing since the build 279 (Mon Sep 4 2017).

This build was trigged by a single change: the commit 986b7ffc650919b3022ccaa458a843bb8a95d2bd (bpo-30450):

"[2.7] bpo-30450: Pull Windows dependencies from GitHub rather than SVN (GH-1783) (GH-3306)"

mt.exe: "The

[2017-09-12 15:57] vstinner commented on #74635
I created the bug bpo-31430 to track this regression.

[2017-09-12 15:58] tiran opened #75612 "SSL: check_hostname should imply CERT_REQUIRED"
BPO | [31431](https://bugs.python.org/issue31431)
--- | :---
Nosy | @tiran, @alex, @dstufft
PRs | <li>python/cpython#3531</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 15:58] tiran commented on #75612
Hostname verification makes not much sense without verifying the certificate chain first. At the moment one has to set verify_mode to CERT_REQUIRED first:

[code]

On the other hand verify mode cannot be set to CERT_NONE without disabling check_hostname first. One has to remember to set the values in opposite order!

[code]

I find this confusing. In order to support PROTOCOL_TLS_CLIENT with \_cre

[2017-09-12 16:01] vstinner commented on #75551
Arfrever: "[Lib/_dummy_thread.py](https://github.com/python/cpython/blob/main/Lib/_dummy_thread.py) and [Lib/dummy_threading.py](https://github.com/python/cpython/blob/main/Lib/dummy_threading.py) were deleted, but [Doc/library/_dummy_thread.rst](https://github.com/python/cpython/blob/main/Doc/library/_dummy_thread.rst) and [Doc/library/dummy_threading.rst](https://github.com/python/cpython/blob/m

[2017-09-12 16:03] vstinner commented on #75252
Failure on AMD64 FreeBSD 10.x Shared 3.x:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/868/steps/test/logs/stdio

...
test_map_chunksize (test.test_multiprocessing_forkserver.WithThreadsTestPool) ... ok
test_map_handle_iterable_exception (test.test_multiprocessing_forkserver.WithThreadsTestPool) ... ok
test_map_no_failfast (test.test_multiprocessing_forkser

[2017-09-12 16:08] tiran opened #75613 "Documention for CERT_OPTIONAL is misleading"
BPO | [31432](https://bugs.python.org/issue31432)
--- | :---
Nosy | @tiran, @ned-deily, @alex, @dstufft, @iritkatriel
PRs | <li>python/cpython#3530</li><li>python/cpython#7649</li><li>python/cpython#7650</li><li>python/cpython#7651</li><li>python/cpython#7652</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<

[2017-09-12 16:08] tiran commented on #75613
From bpo-31431, the documentation of CERT_OPTIONAL and CERT_REQUIRED are misleading. For client side sockets, CERT_OPTIONAL does \*\*NOT** mean that no certificates will be required from the other side of the socket connection. The server \*\*must** provide a cert and the client \*\*requires** the cert to be valid and trusted by trusted CA.

Internally, the \_ssl.c extension module sets:

CERT_NON

[2017-09-12 16:12] vstinner commented on #75551
Oh, Arfrever wrote me on IRC that the removal of dummy_threading broke portage on Gentoo: https://bugs.gentoo.org/630730

eventlet also uses dummy_threading:

eventlet/support/dns/entropy.py:23:    import dummy_threading as \_threading
eventlet/support/dns/resolver.py:29:    import dummy_threading as \_threading

Hum, maybe we need one release with the deprecated module, and only remove it in Pyth

[2017-09-12 16:23] tiran commented on #75551
+1 to restore dummy_threading and go through a proper deprecation phase in 3.7+.

-0 to restore \_dummy_thread. It's an internal, private module.

[2017-09-12 16:26] zooba commented on #75608
This is a problem with 3.5 and later running on Windows 8.1 or earlier without all Windows Updates being installed.

It can happen for two reasons:
* not using the official installer (most common)
* random failure in the official installer (rare)

Installing KB2999226 is a good start, though it will likely trigger another Windows Update to get the latest version. Windows 10 is not affected.

I'm i

[2017-09-12 16:41] tiran commented on #75613
PS: OpenSSL still validates the chain when SSL_VERIFY_NONE is set. In that mode OpenSSL just does not abort the handshake when an error occurs. OpenSSL keeps the last verification error around, see bpo-31372.

[2017-09-12 17:07] vstinner commented on #75252
On the FreeBSD 10 buildbot, I ran test_multiprocessing_forkserver during 10 minutes twice in two terminals, while running "./python -m test -j2 -r -F" twice in two other terminals to stress the machine. I failed to reproduce the "Warning -- Dangling threads: {\<DummyProcess(Thread-158, started daemon 34461984768)\>}" warning.

[2017-09-12 17:10] ned-deily commented on #75576
Thanks for the report.  After looking into this a bit, the URLs you are using are those from the daily docs build, the latest doc changes checked into each branch.  As best I can tell, the part of the daily build that makes the downloadable files has been broken, probably for some time and most likely due to trying to use an older version of TeX Live.  Until we can get the server upgraded, you can

[2017-09-12 17:10] #75576 closed, assigned to nobody

[2017-09-12 17:17] 3dfec8ea-750a-4831-8fb3-00a840342620 opened #75614 "Impossible download python 3.6.2 and 2.7 documentation (html)"
BPO | [31433](https://bugs.python.org/issue31433)
--- | :---
Nosy | @berkerpeksag
Superseder | <li>bpo-31395: Docs Downloads are 404s</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 17:17] 3dfec8ea-750a-4831-8fb3-00a840342620 commented on #75614
Hi,

Links to python 3.6.2 and 2.7 documentation in HTML are broken, web server returns 404 Not Found.

The links are:
https://docs.python.org/2/archives/python-2.7.14rc1-docs-html.zip
https://docs.python.org/3/archives/python-3.6.2-docs-html.zip

[2017-09-12 17:20] serhiy-storchaka commented on #75551
Following lines needs updating:

[Lib/importlib/_bootstrap.py:1135](https://github.com/python/cpython/blob/main/Lib/importlib/_bootstrap.py#L1135)
[Lib/_pydecimal.py:436](https://github.com/python/cpython/blob/main/Lib/_pydecimal.py#L436)
[Lib/test/ssl_servers.py:11](https://github.com/python/cpython/blob/main/Lib/test/ssl_servers.py#L11)
[Lib/test/support/__init__.py:2053](https://github.com/pyth

[2017-09-12 17:27] #75598 closed, assigned to nobody

[2017-09-12 17:42] vstinner opened #75615 "[3.6] Python/random.c:128:17: warning: implicit declaration of function 'getrandom'"
BPO | [31434](https://bugs.python.org/issue31434)
--- | :---
Nosy | @vstinner

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 17:42] vstinner commented on #75615
haypo@selma$ touch [Python/random.c](https://github.com/python/cpython/blob/main/Python/random.c)
haypo@selma$ LANG= make

gcc -pthread -c -Wno-unused-result -Wsign-compare -g -Og -Wall -Wstrict-prototypes -O0   -std=c99 -Wextra -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers   -I. -I./Include    -DPy_BUILD_CORE -o [Python/random.o](https://github.com/python/cpython/blob/m

[2017-09-12 17:49] vstinner commented on #75417
New changeset a15d155aadfad232158f530278505cdc6f326f93 by Victor Stinner in branch 'master':
bpo-31234: Enhance test_thread.test_forkinthread() (bpo-3516)
https://github.com/python/cpython/commit/a15d155aadfad232158f530278505cdc6f326f93

[2017-09-12 17:51] vstinner commented on #75615
Oh, the warning probably comes from the fact that I upgraded since Fedora 24 to Fedora 25. Re-running ./configure fixed the issue.

[2017-09-12 17:51] #75615 closed, assigned to nobody

[2017-09-12 18:14] berkerpeksag commented on #75614
Thank you for the report. This is a duplicate of bpo-31395. See https://bugs.python.org/issue31395#msg301978 and https://github.com/python/psf-salt/issues/118 for details.

[2017-09-12 18:14] #75614 closed, assigned to nobody

[2017-09-12 18:28] bitdancer commented on #75551
dummy_threading should definitely not have been removed, and like all the other APIs should not be removed until 2.7 is dead.  Deprecating it is of course fine :)

[2017-09-12 18:31] bitdancer commented on #75551
And actually, I wouldn't be surprised if eventlet depended on the \*functionality* in \_dummy_threading, so you probably need to restore that, too.

[2017-09-12 19:56] aef01229-7f34-43d8-aa00-102c9aa0d07c opened #75616 "Addition giving incorrect result in certain circumstances"
BPO | [31435](https://bugs.python.org/issue31435)
--- | :---
Nosy | @bitdancer, @skrah
Files | <li>[pythonbug.txt](https://bugs.python.org/file47136/pythonbug.txt "Uploaded as text/plain at 2017-09-12.19:56:01 by Aodhán Collins"): Calculation Tests</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><su

[2017-09-12 19:56] aef01229-7f34-43d8-aa00-102c9aa0d07c commented on #75616
Basic addition is dropping a tiny fraction when adding together certain numbers. We have discovered that when adding together the numbers 8.95 and 0.95 we get an incorrect answer, that is off by a tiny fraction. This doesn't occur when adding 7.95 and 0.95 but occurs for 8.95 and above. We have attached a file showing our calculations failing on Python 2.7 (on both a Mac and Linux system) and 3.5

[2017-09-12 20:17] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75616
Pythons has binary floating point, which does not give the same
results as a pocket calculator.

You can see the differences by using the decimal module:

[code]

[2017-09-12 20:17] #75616 closed, assigned to nobody

[2017-09-12 20:18] bitdancer commented on #75616
https://docs.python.org/3/tutorial/floatingpoint.html

[2017-09-12 21:18] eryksun commented on #75608
The FAQ could instead link to the more recent update, KB3118401.

https://support.microsoft.com/en-us/help/3118401/update-for-universal-c-runtime-in-windows

[2017-09-12 21:18] vstinner commented on #75433
New changeset 5013a5ebc9978a58435036fa3860c465882c21da by Victor Stinner in branch '3.6':
[3.6] bpo-31250: test_asyncio: fix dangling threads (bpo-3517)
https://github.com/python/cpython/commit/5013a5ebc9978a58435036fa3860c465882c21da

[2017-09-12 21:18] #75433 closed, assigned to nobody

[2017-09-12 22:32] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 opened #75617 "test_socket.SendfileUsingSendfileTest.testWithTimeoutTriggeredSend fails due to sendfile completing before timeout"
BPO | [31436](https://bugs.python.org/issue31436)
--- | :---
Nosy | @giampaolo, @ambv, @bmoyles

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 22:32] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 commented on #75617
In building Python 3.6.2 on Ubuntu 16.04, test_socket repeatedly fails at
\======================================================================
FAIL: testWithTimeoutTriggeredSend (test.test_socket.SendfileUsingSendfileTest)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

It appears this is fai

[2017-09-12 22:32] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 opened #75618 "test_socket.SendfileUsingSendfileTest.testWithTimeoutTriggeredSend fails due to sendfile completing before timeout"
BPO | [31437](https://bugs.python.org/issue31437)
--- | :---
Nosy | @bmoyles

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-12 22:32] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 commented on #75618
In building Python 3.6.2 on Ubuntu 16.04, test_socket repeatedly fails at
\======================================================================
FAIL: testWithTimeoutTriggeredSend (test.test_socket.SendfileUsingSendfileTest)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

It appears this is fai

[2017-09-12 22:46] 92f38d4c-d4b8-4acf-9bd6-fd130807dcf8 commented on #75618
accidental double-submit, duplicates bpo-31436

[2017-09-12 22:46] #75618 closed, assigned to nobody

[2017-09-12 22:54] ericsnowcurrently commented on #75585
Yeah, I'm leaning that way myself.  I'll take another look later today or tomorrow.  FWIW, the likelihood of this causing problems to actual users is extremely low, so the urgency to fix this isn't high.  Still, I don't want this to linger.

As I said before, ideally we would prevent non-mappings from getting assigned to sys.modules.  One alternative would be to introduce sys.\_\_modules__ and fal

[2017-09-12 23:09] vstinner commented on #75106
New changeset c0e77364ca29df6cfb311e79892955c92bd8e595 by Victor Stinner in branch '3.6':
[3.6] bpo-30923: Silence fall-through warnings included in -Wextra since gcc-7.0 (bpo-3518)
https://github.com/python/cpython/commit/c0e77364ca29df6cfb311e79892955c92bd8e595

[2017-09-12 23:09] vstinner commented on #75458
New changeset c0e77364ca29df6cfb311e79892955c92bd8e595 by Victor Stinner in branch '3.6':
[3.6] bpo-30923: Silence fall-through warnings included in -Wextra since gcc-7.0 (bpo-3518)
https://github.com/python/cpython/commit/c0e77364ca29df6cfb311e79892955c92bd8e595

[2017-09-12 23:14] vstinner commented on #75417
New changeset bcf042ff98b6261b7780c1e40fa1681ef30502f9 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31234: Enhance test_thread.test_forkinthread() (GH-3516) (bpo-3519)
https://github.com/python/cpython/commit/bcf042ff98b6261b7780c1e40fa1681ef30502f9

[2017-09-12 23:33] vstinner commented on #75432
I still see the warning sometimes:

0:04:09 load avg: 7.03 [185/405/1] test_concurrent_futures failed (env changed) (68 sec) -- running: test_multiprocessing_spawn (160 sec), test_gdb (53 sec), test_lib2to3 (195 sec)
test_cancel (test.test_concurrent_futures.FutureTests) ... ok
test_cancelled (test.test_concurrent_futures.FutureTests) ... ok
test_done (test.test_concurrent_futures.FutureTests) ...

[2017-09-13 00:04] vstinner commented on #75417
Remaining issue: socketserver. bpo-31233: socketserver.ThreadingMixIn leaks running threads after server_close()

See also bpo-31151: socketserver.ForkingMixIn.server_close() leaks zombie processes.

[2017-09-13 00:04] vstinner commented on #75416
Another recent example while testing bpo-31234:

test_ThreadingUDPServer (test.test_socketserver.SocketServerTest) ...
(...)
done
Warning -- threading_cleanup() detected 1 leaked threads (count: 1, dangling: 2)
ok

[2017-09-13 00:05] vstinner commented on #75416
Multiple test_logging tests have been skipped until this issue is fixed: see bpo-30830 and commit 6966960468327c958b03391f71f24986bd697307.

[2017-09-13 00:05] vstinner commented on #75432
New changeset 3bcf157c115ba3e48bce62ac8cb13c703475a113 by Victor Stinner in branch 'master':
bpo-31249: Fix test_concurrent_futures dangling thread (bpo-3521)
https://github.com/python/cpython/commit/3bcf157c115ba3e48bce62ac8cb13c703475a113

[2017-09-13 00:08] 2956bcb0-1e2f-4653-8fc5-ababe5896f84 commented on #75619
IDLE 3 crashes and quits whenever I type the caret (^) character in the editor. I have to copy and paste the caret character into the IDLE editor whenever I have to use the caret character. I have the IDLE 3.6.2 running on macOS Sierra (v10.12.6) on mid-2011 27" iMac. Attached is an example  error log generated when IDLE 3 crashes after the typing of the caret character.

[2017-09-13 00:08] 2956bcb0-1e2f-4653-8fc5-ababe5896f84 opened #75619 "Mac Apple tcl/tk crashes program when caret ^ character typed in IDLE or tkinter"
BPO | [31438](https://bugs.python.org/issue31438)
--- | :---
Nosy | @terryjreedy, @ronaldoussoren, @ned-deily, @bitdancer, @kkoyun
Superseder | <li>bpo-24170: IDLE crashes when I press ^  caret key</li>
Files | <li>[IDLE 3 crash error log.rtf](https://bugs.python.org/file47137/IDLE%203%20crash%20error%20log.rtf "Uploaded as text/rtf at 2017-09-13.00:08:56 by @kkoyun"): Example error log generated

[2017-09-13 00:39] vstinner commented on #75334
I created a thread on the python-dev mailing list to discuss this issue:
https://mail.python.org/pipermail/python-dev/2017-August/148826.html

[2017-09-13 00:42] vstinner commented on #75416
Attached [PR 3523](https://github.com/python/cpython/pull/3523) is a temporary solution until we agree how to handle these threads and child processes in socketserver. I wrote the PR to fix "dangling threads" warnings to fix random buildbot failures.

The PR fixes warnings but also reenable test_logging tests which are currently skipped. These tests were skipped by bpo-30830 to prevent random buil

[2017-09-13 00:43] vstinner commented on #75334
I tag this issue as release blocker as a remainder that we have to agree how to handle threads/processes before Python 3.7 feature freeze.

See also bpo-31233: socketserver.ThreadingMixIn leaks running threads after server_close().

[2017-09-13 00:43] vstinner commented on #75432
New changeset 94eb2d5b73d07bc447f1fe19923b4c3259734b9c by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31249: Fix test_concurrent_futures dangling thread (GH-3521) (bpo-3522)
https://github.com/python/cpython/commit/94eb2d5b73d07bc447f1fe19923b4c3259734b9c

[2017-09-13 00:45] vstinner commented on #75432
Ok, the issue should now be fixed in Python 3.6 and master (future 3.7).

[2017-09-13 00:45] #75432 closed, assigned to nobody

[2017-09-13 00:52] vstinner commented on #75441
While backporting fixes on tests make sense, I'm not sure that it's doable to make regrtest more strict. It took me a while to fix all "dangling threads" and "dangling processes" on the master branch, and 6 months later, I'm not done yet. There are tricky issues the socketserver module (bpo-31233, bpo-31151). So I prefer to abandon this issue, and only backport test fixes.

[2017-09-13 00:52] #75441 closed, assigned to nobody

[2017-09-13 00:53] vstinner commented on #75442
While backporting fixes on tests make sense, I'm not sure that it's doable to make regrtest more strict. It took me a while to fix all "dangling threads" and "dangling processes" on the master branch, and 6 months later, I'm not done yet. There are tricky issues the socketserver module (bpo-31233, bpo-31151). So I prefer to abandon this issue, and only backport test fixes.

[2017-09-13 00:53] #75442 closed, assigned to nobody

[2017-09-13 00:54] vstinner commented on #75501
Thanks for the fix Christian.

[2017-09-13 00:54] #75501 closed, assigned to nobody

[2017-09-13 00:55] vstinner commented on #75347
Sadly, this crash was only seen once in one month, so I will just close the issue :-/

[2017-09-13 00:55] #75347 closed, assigned to nobody

[2017-09-13 01:00] vstinner commented on #75038
I didn't see this failure since one month on the 2.7 buildbots. While I fear that the bug still exists, I close it to clean up my list of open issues. I will reopen the issue if the bug strikes back!

[2017-09-13 01:13] vstinner commented on #75013
While testing [PR 3138](https://github.com/python/cpython/pull/3138) (stricter threading_cleanup) with [PR 3523](https://github.com/python/cpython/pull/3523) (socketserver joins threads), I got the following warning:

test_listen_config_1_ok (test.test_logging.ConfigDictTest) ... Warning -- threading_cleanup() detected 1 leaked threads (count: 1, dangling: 2)
ok

Attached [PR 3524](https://github.

[2017-09-13 01:17] vstinner commented on #75416
Again, [PR 3523](https://github.com/python/cpython/pull/3523) is a temporary fix to unblock the situation.

For a proper fix, I have a question: Should server_close() calls self.close_request(request) on thread requests?

[2017-09-13 01:21] vstinner commented on #74498
Zachary Ware fixed the issue by tuning VS9 buildbot configurations:
\---
[code]

---
https://github.com/python/buildmaster-config/blob/c0df05423ea939b995204dd33558619df9d1b4c5/master/master.cfg#L330

Thanks Zach!

[2017-09-13 01:21] #74498 closed, assigned to nobody

[2017-09-13 01:26] bitdancer commented on #75619
Have you followed the instructions on this page?:

https://www.python.org/download/mac/tcltk/

[2017-09-13 01:55] ncoghlan commented on #75585
Introducing sys.\_\_modules__ doesn't solve the problem, since you'd be able to recreate the problems Oren reports just by messing with that as well as with sys.modules.

And we try reasonable hard to protect users from completely breaking the interpreter just by assigning nonsense to sys module attributes.

So my recommendation would be to revert bpo-28411, and make it clearer that the purpose of

[2017-09-13 03:24] Mariatta commented on #75575
New changeset 5f8fbf917ebf2398aa75a1f271617e2e50ab7c88 by Mariatta (Aivar Annamaa) in branch 'master':
bpo-31394: Clarify documentation about token type attribute (GH-3469)
https://github.com/python/cpython/commit/5f8fbf917ebf2398aa75a1f271617e2e50ab7c88

[2017-09-13 03:43] Mariatta commented on #75575
New changeset 5513e888e9a742156c35ce7ab628407d8cf9e1f0 by Mariatta in branch '3.6':
[3.6] bpo-31394: Clarify documentation about token type attribute (GH-3469) (GH-3525)
https://github.com/python/cpython/commit/5513e888e9a742156c35ce7ab628407d8cf9e1f0

[2017-09-13 04:00] Mariatta commented on #75575
New changeset ea0f7c26cef4550bf4db1a9bae17d41b79ab7c0d by Mariatta in branch 'master':
bpo-31394: Make tokenize.rst PEP-8-compliant (GH-3526)
https://github.com/python/cpython/commit/ea0f7c26cef4550bf4db1a9bae17d41b79ab7c0d

[2017-09-13 04:04] #75575 closed, assigned to nobody

[2017-09-13 04:52] terryjreedy commented on #75619
In the future, please upload plain text.  I am fairly certain that this is a duplicate of previous issues about Apple's buggy tcl/tk causing crashes  that bypass Python's error reporting.

[2017-09-13 05:37] 1128849c-45a0-494c-a8ed-18aac5c9ba01 opened #75620 "WindowsError: [Error 2] The system cannot find the file specified"
BPO | [31439](https://bugs.python.org/issue31439)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 08:01] zhangyangyu opened #75621 "wrong default module search path in help message"
BPO | [31440](https://bugs.python.org/issue31440)
--- | :---
Nosy | @vstinner, @tiran, @ericsnowcurrently, @zware, @eryksun, @zooba, @zhangyangyu, @gaurav6696
PRs | <li>python/cpython#3624</li><li>python/cpython#4613</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary

[2017-09-13 08:01] zhangyangyu commented on #75621
In python --help:

PYTHONHOME   : alternate \<prefix\> directory (or \<prefix\>:\<exec_prefix\>).
               The default module search path uses \<prefix\>/pythonX.X.

I think the default module search path should be \<prefix\>/lib/pythonX.X.

[2017-09-13 08:38] d68c184e-7afc-4154-917e-17f47519f04a opened #75622 "Descriptor example in documentation is confusing, possibly wrong"
BPO | [31441](https://bugs.python.org/issue31441)
--- | :---
Nosy | @rhettinger, @bitdancer, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 08:38] d68c184e-7afc-4154-917e-17f47519f04a commented on #75622
The first descriptor example in the descriptor docs (https://docs.python.org/3/howto/descriptor.html#descriptor-example) stores the value on the descriptor instance, which is shared among all MyClass instances. This leads to surprising (and arguably buggy from a user perspective) behaviour:

[code]

I'm not sure how this could be fixed without making the example much more complicated (e.g. by intr

[2017-09-13 08:44] vstinner commented on #75013
New changeset 97d7e65dfed1d42d40d9bc2f630af56240555f02 by Victor Stinner in branch 'master':
bpo-30830: logging.config.listen() calls server_close() (bpo-3524)
https://github.com/python/cpython/commit/97d7e65dfed1d42d40d9bc2f630af56240555f02

[2017-09-13 08:44] vstinner commented on #75416
New changeset 97d7e65dfed1d42d40d9bc2f630af56240555f02 by Victor Stinner in branch 'master':
bpo-30830: logging.config.listen() calls server_close() (bpo-3524)
https://github.com/python/cpython/commit/97d7e65dfed1d42d40d9bc2f630af56240555f02

[2017-09-13 08:46] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75623 "assertion failures on Windows in Python/traceback.c in case of a bad io.open"
BPO | [31442](https://bugs.python.org/issue31442)
--- | :---
Nosy | @orenmn, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 08:47] vstinner commented on #75416
New changeset b8f4163da30e16c7cd58fe04f4b17e38d53cd57e by Victor Stinner in branch 'master':
bpo-31233: socketserver.ThreadingMixIn.server_close() (bpo-3523)
https://github.com/python/cpython/commit/b8f4163da30e16c7cd58fe04f4b17e38d53cd57e

[2017-09-13 09:03] 9787827c-78cc-4d77-be81-21e7d5656b49 commented on #75624
In the "Defining New Types documentation" basics about tp_new -\> PyType_GenericNew, the doc states:

But looking a python C code itself [1] does seem to do this. So I'm guessing that part of the documentation is now irrelevant and the example could just assign PyType_GenericNew to tp_new.

[1] https://github.com/python/cpython/blob/2ebc5ce42a8a9e047e790aefbf9a94811569b2b6/Objects/listobject.c#L27

[2017-09-13 09:03] 9787827c-78cc-4d77-be81-21e7d5656b49 opened #75624 "Possibly out of date C extension documentation"
BPO | [31443](https://bugs.python.org/issue31443)
--- | :---
Nosy | @amauryfa, @tiran, @bitdancer, @skrah, @embray, @romuald, @lazka
PRs | <li>python/cpython#3688</li><li>python/cpython#3697</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code

[2017-09-13 09:12] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75625 "ResourceWarning in Python/traceback.c in case of a bad io.TextIOWrapper"
BPO | [31444](https://bugs.python.org/issue31444)
--- | :---
Nosy | @pitrou, @vstinner, @serhiy-storchaka, @orenmn

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 09:12] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75625
the following code causes a ResourceWarning:

[code]

this is because \_Py_DisplaySourceLine() (in [Python/traceback.c](https://github.com/python/cpython/blob/main/Python/traceback.c)) assumes that
io.TextIOWrapper() returned a stream object, and tries to call its close()
method. in case calling close() fails, \_Py_DisplaySourceLine() just calls
PyErr_Clear().

maybe \_Py_DisplaySourceLine() shoul

[2017-09-13 09:30] vstinner commented on #75625
I consider that \_Py_DisplaySourceLine() is right to expect that io.TextIOWrapper() creates a stream object. If the TextIOWrapper creation fails, it calls binary.close() to prevent a resource warning. Here your function doesn't fail but returns None which is really not expected.

I don't see why Python should support such strange TextIOWrapper type. I simply suggest to close the issue as WONTFIX.

[2017-09-13 09:36] vstinner commented on #75013
Ok, the main bugs have been fixed by the following socketserver fix.

commit b8f4163da30e16c7cd58fe04f4b17e38d53cd57e
Author: Victor Stinner \<victor.stinner@gmail.com\>
Date:   Wed Sep 13 01:47:22 2017 -0700

    bpo-31233: socketserver.ThreadingMixIn.server_close() (bpo-3523)

    socketserver.ThreadingMixIn now keeps a list of non-daemonic threads
    to wait until all these threads complete in

[2017-09-13 09:36] #75013 closed, assigned to nobody

[2017-09-13 09:48] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75599
what do you mean by 'Implicit converting to str can raise a warning or exception if \_\_module__ is a bytes object.'?

should we treat \_\_module__ differently in case it is a bytes object?

[2017-09-13 09:53] f6efe5a8-9c55-40ab-92ce-484646c80a00 opened #75626 "Index out of range in get of message.EmailMessage.get()"
BPO | [31445](https://bugs.python.org/issue31445)
--- | :---
Nosy | @warsaw, @bitdancer, @maxking, @radar383
PRs | <li>python/cpython#6825</li><li>python/cpython#6828</li>
Files | <li>[_header_value_parser.py](https://bugs.python.org/file47197/_header_value_parser.py "Uploaded as text/plain at 2017-10-09.13:01:33 by Michala")</li>

<sup>*Note: these values reflect the state of the issue at the tim

[2017-09-13 09:53] f6efe5a8-9c55-40ab-92ce-484646c80a00 commented on #75626
This error occured when the email field "From" was demanded:

  File "/home/user/processing/Test/process_email.py", line 84, in \_\_init__
    self.field_from_full = msg.get("From")
  File "/usr/local/lib/python3.6/email/message.py", line 471, in get
    return self.policy.header_fetch_parse(k, v)
  File "/usr/local/lib/python3.6/email/policy.py", line 162, in header_fetch_parse
    return self.he

[2017-09-13 09:56] vstinner commented on #75504
I don't think that Python 2.7 is affected since Exception has no \_\_traceback__ attribute in Python 2.7.

[2017-09-13 09:59] 9060d193-4e82-4f3b-bf67-e5bd7fa733af opened #75627 "_winapi.CreateProcess (used by subprocess) is not thread-safe"
BPO | [31446](https://bugs.python.org/issue31446)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @zware, @serhiy-storchaka, @zooba, @evanunderscore
PRs | <li>python/cpython#11141</li><li>python/cpython#11149</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Git

[2017-09-13 09:59] 9060d193-4e82-4f3b-bf67-e5bd7fa733af commented on #75627
The method used for spawning subprocesses on Windows is not thread-safe under certain circumstances. The following example demonstrates how this manifests:

[code]

subprocess.Popen calls down to \_winapi.CreateProcess, which calls CreateProcessW. When args is passed as a fixed string, the result of the argument conversion is attached to the object and shared by future calls into C code. However,

[2017-09-13 10:01] vstinner commented on #75627
I remove Python 3.3-3.5 from Python versions since these versions don't accept bugfixes anymore, only security fixes:
https://devguide.python.org/#status-of-python-branches

[2017-09-13 10:02] serhiy-storchaka commented on #75599
PyFile_WriteObject(moduleName, f, Py_PRINT_RAW) implicitly converts its argument to string. I mean that treating non-string moduleName the same way as string moduleName not equal to string "builtins" and calling PyFile_WriteObject() would cause other problem. Treating non-string moduleName the same way as moduleName==NULL LGTM.

[2017-09-13 10:04] vstinner commented on #75417
I rebased [PR 3138](https://github.com/python/cpython/pull/3138): 3 tests failed on Travis CI.

test_ssl:

Warning -- threading_cleanup() failed to cleanup 0 threads (count: 0, dangling: 3)
Dangling thread: \<HTTPSServerThread(Thread-209, stopped daemon 47903503230720)\>
Dangling thread: \<ThreadedEchoServer(Thread-173, stopped daemon 47903503230720)\>
Dangling thread: \<_MainThread(MainThread, st

[2017-09-13 10:09] serhiy-storchaka commented on #75625
I think it should be closed as "not a bug".

If io.TextIOWrapper() is successful, it is responsible for property closing a binary file. The bug is in user code, not in the interpreter code.

\_Py_DisplaySourceLine() correctly calls binary.close() if io.TextIOWrapper() failed.

[2017-09-13 10:11] vstinner commented on #75625
Ok, thanks for the confirmation Serhiy. I close the bug.

[2017-09-13 10:11] #75625 closed, assigned to nobody

[2017-09-13 10:11] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd opened #75628 "proc communicate not exiting on python subprocess timeout using PIPES"
BPO | [31447](https://bugs.python.org/issue31447)
--- | :---
Nosy | @pfmoore, @tjguk, @bitdancer, @vadmium, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-13 10:11] 512bfbf9-97f5-4390-a519-2cfbcfd3a8bd commented on #75628
the script below (a python process is called, which calls a waitfor cmd with a timeout of 4 seconds) is supposed to end after 4 seconds. But instead proc.communicate stops after the 20 seconds timeout.

Everything works 100% ok if I remove the stdin/stderr/stdout parameters...

[code]

[2017-09-13 10:13] serhiy-storchaka commented on #75517
On my computer the speed up is 13% without LTO and PGO and around 20% with LTO and PGO. Building with LTO and PGO adds other 20%.

[2017-09-13 10:26] vstinner commented on #75417
New changeset 42f7e0d8b0ca940a809a786f25d967dcce4d71b6 by Victor Stinner in branch '2.7':
bpo-31234: fork_wait tests now join threads (bpo-3139) (bpo-3535)
https://github.com/python/cpython/commit/42f7e0d8b0ca940a809a786f25d967dcce4d71b6

[2017-09-13 10:27] vstinner commented on #75504
New changeset 1b00bddd5c4a5728b15eee5a27ed3f78a173ef64 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31323: Fix reference leak in test_ssl (GH-3263) (bpo-3538)
https://github.com/python/cpython/commit/1b00bddd5c4a5728b15eee5a27ed3f78a173ef64

[2017-09-13 10:27] vstinner commented on #75417
New changeset 89bfc9b0d9033f7c9f086c7281a31a489fe1136f by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31234: test_threaded_import: fix test_side_effect_import() (GH-3189) (bpo-3537)
https://github.com/python/cpython/commit/89bfc9b0d9033f7c9f086c7281a31a489fe1136f

[2017-09-13 10:27] vstinner commented on #75417
New changeset 6c25b73194714e78975eddea3799f06f3de74647 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31234: test_httpservers joins the server thread (GH-3188) (bpo-3536)
https://github.com/python/cpython/commit/6c25b73194714e78975eddea3799f06f3de74647

[2017-09-13 10:47] vstinner opened #75629 "test_poplib started to log a lot of ResourceWarning warnings on AMD64 Windows8.1 Refleaks 3.x"
BPO | [31448](https://bugs.python.org/issue31448)
--- | :---
Nosy | @vstinner
PRs | <li>python/cpython#3542</li><li>python/cpython#3543</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>