[2017-09-28 14:59] giampaolo commented on #75791
I recommend to use selectors.PollSelector and fallback on selectors.SelectSelector where not available (Windows) in order to use 1 syscall only. That's what we did already in socket.py, subprocess.py and others.

[2017-09-28 15:00] vstinner commented on #75341
This string TEST_STRING_1 is used for a single os.write() call, whereas TEST_STRING_2 is splitted and written in two parts with two os.write() calls.

I prefer minimal change, since I don't know well the pty module.

Yeah, I looked at this function. normalize_output() can return a string shorter than the input: len(normalize_output(s2)) \<= len(s2).

So I think that len(s2) \< len(expected) is cor

[2017-09-28 15:02] pfmoore commented on #75797
Standard Windows behaviour, in my experience, is inherited permissions.

IMO, the current behaviour is correct - we default to an OS-managed secure location for system wide installs, and a user-modifiable location for user installs. If the person doing the install chooses an alternate location, we do not attempt to set policy on that location, but simply inherit the defined permissions.

[2017-09-28 15:05] vstinner commented on #75791
It would be nice to have an API in selectors to get a "lightweight" selector, for selector and poll.

This API would be appropriate to check on macOS if poll() works or not: bpo-28087.

[2017-09-28 15:47] 0d013f0e-0271-4f01-beb4-e3054bfc3188 commented on #75341
I like the idea of minimal change, too :D

Yet, I think your patch does not solve the core problem of read/write being nondeterministic. In theory, a pty is similar to a pipe (with termios processing in the middle). So any os.write to a pty fd is nondeterministic and may put less bytes into the pty buffer than given to the write call (see the return value of os.write, which test_pty.py does not ch

[2017-09-28 15:59] serhiy-storchaka commented on #75466
PyUnicode_Splitlines() cannot be used here in 2.7, because the source is likely a 8-bit string.

Actually I'm not sure this issue is worth to be fixed in 2.7. The fix would be different from 3.x and more complex.

[2017-09-28 16:02] 0d013f0e-0271-4f01-beb4-e3054bfc3188 commented on #75341
Oh, one more thing, since it is unclear whether read or write is causing the error. I replaced
os.write(slave_fd, TEST_STRING_1)
by
pty.\_writen(slave_fd, TEST_STRING_1)
which makes sure all bytes are written.
After some time, when the load gets high and the machine gets noisy, I get the same error:

[code]

So the main problem is a nondeterministic read. But I'm only testing on Linux. Other syste

[2017-09-28 16:19] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75466
In 2.7, PyUnicode_Splitlines() first does:
string = PyUnicode_FromObject(string);

So i thought that PyUnicode_Splitlines() would be fine with receiving a string.

But now i realize that even in case i was right there, PyUnicode_Splitlines()
returns a unicode, and not a string, so there should be problems later.
I wonder how the tests still passed..

[2017-09-28 16:38] 0d013f0e-0271-4f01-beb4-e3054bfc3188 commented on #75341
I also added a pull request which I cannot get to fail on my system. What do you think, haypo?

Sorry for the noise!

[2017-09-28 16:44] serhiy-storchaka commented on #75466
And it raises an exception if the string contains non-ASCII characters.

It is better to avoid str\<-\>unicode convertion as long as possible. And when
do it for the output a warning, use "replace" or "backslashreplace" error
handlers or "latin1" decoder to avoid a failure.

[2017-09-28 17:11] mdickinson commented on #75800
Looks like an overflow check that was questionable in the first place (depending on undefined behaviour), and is now both questionable and wrong. I'll see if I can find time for a fix this evening (UTC+1).

[2017-09-28 17:27] 0555863e-1a62-4179-a1a0-ab6e9f1b3a0b opened #75801 "asyncio.Queue leaks memory if the queue is empty and consumers poll it frequently"
BPO | [31620](https://bugs.python.org/issue31620)
--- | :---
Nosy | @asvetlov, @cjrh, @1st1, @SurenNihalani
PRs | <li>python/cpython#3813</li><li>python/cpython#4326</li>
Files | <li>[test.py](https://bugs.python.org/file47174/test.py "Uploaded as text/plain at 2017-09-28.17:27:48 by zackelan")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not

[2017-09-28 17:27] 0555863e-1a62-4179-a1a0-ab6e9f1b3a0b commented on #75801
Repro: Call asyncio.wait_for(some_queue.get(), some_timeout) repeatedly, with no items in the queue, so that the call times out each time.

Expected: No increase in memory while polling an empty queue

Actual: The queue holds on to pending "getter" futures until a item passes through the queue, which clears the pending tasks out.

Use case:

I have producer and consumer asyncio.Tasks, linked by an

[2017-09-28 18:20] bitdancer commented on #75797
I'll let Steve be the one to close this, but it sounds like this isn't even a doc bug (ie: it is standard window's practice).

[2017-09-28 18:26] 1716bd18-148d-4f6b-88f4-48facb62d6f2 commented on #75802
The documentation for the `global` statement contains the line:

 \> CPython implementation detail: The current implementation does not enforce some of these restriction [...]

"restriction" should be "restrictions" since there is more than one of them.

Attached is a copy of `simple_stmts.rst` with the proposed one-letter change.

[2017-09-28 18:26] 1716bd18-148d-4f6b-88f4-48facb62d6f2 opened #75802 "Pluralization typo in Language Reference section 7.12"
BPO | [31621](https://bugs.python.org/issue31621)
--- | :---
Nosy | @kms70847, @Mariatta
PRs | <li>python/cpython#3809</li><li>python/cpython#3810</li>
Files | <li>[simple_stmts_pluralized.rst](https://bugs.python.org/file47175/simple_stmts_pluralized.rst "Uploaded as text/plain at 2017-09-28.18:26:13 by @kms70847"): a copy of `simple_stmts.rst` with the proposed one-letter change</li>

<sup>*Note

[2017-09-28 18:30] zooba commented on #75797
Correct, this is expected behavior.

If you want your system to be secure \*and* to modify default settings, you have to take full responsibility for that. You can't rely on other tools to have secure non-default settings (they should have secure \*default* settings, which we do).

[2017-09-28 18:30] #75797 closed, assigned to nobody

[2017-09-28 18:30] Mariatta commented on #75802
Thanks Kevin. Can you open a pull request with this change?

[2017-09-28 18:34] 1716bd18-148d-4f6b-88f4-48facb62d6f2 commented on #75802
Yes, I intend to make a PR shortly.

[2017-09-28 19:26] 9b1a7a3f-6736-4ab6-819b-cdb360447917 commented on #75795
Thanks a lot for the clear answer, sorry for not having read the online documentation, I only read the help(itertools.groupby) which has much less details.

And for my use case, I can use an explicit command just to compute the number of groups.

[2017-09-28 19:43] 1716bd18-148d-4f6b-88f4-48facb62d6f2 commented on #75802
Ok, I've created a pull request, available at https://github.com/python/cpython/pull/3809.

[2017-09-28 20:00] Mariatta commented on #75802
New changeset 641494ec3168bd556f0af226196e13ae29bddd53 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31621: Fix typo in Simple Statements documentation (GH-3809) (GH-3810)
https://github.com/python/cpython/commit/641494ec3168bd556f0af226196e13ae29bddd53

[2017-09-28 20:00] Mariatta commented on #75802
Thanks!

[2017-09-28 20:00] #75802 closed, assigned to nobody

[2017-09-28 20:18] vstinner commented on #75341
Cornelius:Here is a PoC: I checked out your code and stressed my system with it. (...) AssertionError: ..."

Did you get this failure with my [PR 3802](https://github.com/python/cpython/pull/3802)?

Cornelius: "We have b'For my pet fish, Eric.\\r\\n' in the pty buffer. We read b'For my pet fish, Eric.\\r' from the buffer into s2. Now len(s2) == len(expected) but a b'\\n' is still unread in the buf

[2017-09-28 20:19] vstinner commented on #75341
Hum, let me clarify: my main goal is to get a stable CI. I don't really care of the exact implementation of one specific unit test in test_pty ;-)

[2017-09-28 20:21] vstinner commented on #73915
I enhanced my PR to also accept memoryview and bytearray in bytes_le. I don't think that performance matters so much here. First we need correctness, accept any bytes-like objects, no?

[2017-09-28 20:32] serhiy-storchaka commented on #73915
I have tested, this doesn't affect performance.

[2017-09-28 20:43] vstinner commented on #73915
Serhiy: "I have tested, this doesn't affect performance."

Oh, thank you for testing that :-)

[2017-09-28 21:53] 43a930ce-92ff-472e-b021-f9644eabb63f commented on #75785
AFAIK this helper is meant to be used with test function not the TestCases.

[2017-09-28 22:05] vstinner commented on #75739
(my previous [msg303283](https://bugs.python.org/msg303283) was for the bpo-11063, I removed it, sorry for the spam.)

[2017-09-28 22:27] 0d013f0e-0271-4f01-beb4-e3054bfc3188 commented on #75341
Yes, I get the AssertionError with the latest version of [PR 3802](https://github.com/python/cpython/pull/3802). From the high load avg of my system, you can see that the error occurs very rarely and that I need to stress my system to trigger it. With [PR 3802](https://github.com/python/cpython/pull/3802), the error occurs way less frequently than without it. So we are definitely moving into the r

[2017-09-29 00:37] d8545981-328e-4424-931f-6c70260c1ccf commented on #75801
I am working on fixing this.

[2017-09-29 00:39] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75803
Currently, Python exposes "thread identifiers" as unsigned long values across multiple modules:

threading.get_ident() -\> Returns an integer thread id
sys.\_current_frames() -\> Dictionary keys are integer thread ids
signal.pthread_kill() -\> Accepts an arbitrary integer thread id

In reality, OS level thread identifiers are opaque types. On a system with pthreads, the thread_id that Python provi

[2017-09-29 00:39] 460e3b73-ef06-4a68-85e3-d1897b1b6722 opened #75803 "Make threading.get_ident() return an opaque type"
BPO | [31622](https://bugs.python.org/issue31622)
--- | :---
Nosy | @tim-one, @ncoghlan, @pitrou, @benjaminp, @bitdancer, @serhiy-storchaka, @pdox

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 01:01] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75804
Since the last version of 3.4 is only made available as a source tarball, it's imperative to be able to make a distributable package locally from it. [Tools/msi/msi.py](https://github.com/python/cpython/blob/main/Tools/msi/msi.py) only works from an \`hg' checkout.

[2017-09-29 01:01] eb193824-a002-4e53-a73b-be75738ef3f2 opened #75804 "Build MSI installer for 3.4 security releases on Windows"
BPO | [31623](https://bugs.python.org/issue31623)
--- | :---
Nosy | @terryjreedy, @pfmoore, @larryhastings, @tjguk, @bitdancer, @zware, @zooba, @native-api
Files | <li>[0001-Support-making-MSI-installer-from-tarball.patch](https://bugs.python.org/file47176/0001-Support-making-MSI-installer-from-tarball.patch "Uploaded as text/plain at 2017-09-29.01:42:19 by @native-api"): patch against 3.4</li>

<

[2017-09-29 01:03] bitdancer commented on #75803
Are you aware of PEP-539?  (See bpo-25658 for discussion.)  I haven't followed that closely, but I imagine this issue is at least related.

[2017-09-29 01:11] bitdancer commented on #75804
Assuming 3.4 is packagable using msi and hg is the only problem, I presume you could use an hg-git adapter to get an hg checkout to build from.

[2017-09-29 01:52] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75804
With this patch, I managed to make a working installer.

There's nothing in PCBuild/readme.txt about making an installer, and this is the only relevant tool I found in the source. If there's another, feel free to close the ticket, and I'll create another one to fix the readme.

[2017-09-29 03:53] benjaminp opened #75805 "remove support for BSD/OS"
BPO | [31624](https://bugs.python.org/issue31624)
--- | :---
Nosy | @benjaminp
PRs | <li>python/cpython#3812</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 03:53] benjaminp commented on #75805
This operating system hasn't been supported by its vendor since 2004. We should get rid of our code for it.

[2017-09-29 05:31] d56b526f-0816-4fc8-89c7-97360296de39 commented on #75784
Added a PR to facilitate discussion on python-ideas.

[2017-09-29 05:41] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75466
Another thought - the existing code assumes that splitlines() returned a string.
So maybe we could just check that get_source() returned a string, and then call
the method str.splitlines() on it?

[2017-09-29 05:44] benjaminp commented on #75805
New changeset 288d1daadaddf6ae35cf666138ba4b5d07449657 by Benjamin Peterson in branch 'master':
remove support for BSD/OS (closes bpo-31624) (bpo-3812)
https://github.com/python/cpython/commit/288d1daadaddf6ae35cf666138ba4b5d07449657

[2017-09-29 05:44] #75805 closed, assigned to nobody

[2017-09-29 05:58] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75466
oh, of course, checking that get_source() returned a string before passing it to
str.splitlines() is not needed.

[2017-09-29 06:15] benjaminp commented on #75806
As far as I'm aware, every modern \*nix's ar supports an "s" flag that removes the need to run ranlib separately on a a static library. We should just do that and stop running ranlib. That saves us some lines in configure.ac and the Makefile.

[2017-09-29 06:15] benjaminp opened #75806 "stop using ranlib"
BPO | [31625](https://bugs.python.org/issue31625)
--- | :---
Nosy | @vstinner, @benjaminp, @stratakis, @kadler
PRs | <li>python/cpython#3815</li><li>python/cpython#3824</li><li>python/cpython#10417</li><li>python/cpython#15387</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more detail

[2017-09-29 06:29] serhiy-storchaka opened #75807 "Writing in freed memory in _PyMem_DebugRawRealloc() after shrinking a memory block"
BPO | [31626](https://bugs.python.org/issue31626)
--- | :---
Nosy | @vstinner, @larryhastings, @skrah, @xdegaye, @serhiy-storchaka, @applio
PRs | <li>python/cpython#3844</li><li>python/cpython#3898</li><li>python/cpython#4119</li><li>python/cpython#4191</li><li>python/cpython#4210</li><li>python/cpython#4310</li>
Files | <li>[debug-realloc.diff](https://bugs.python.org/file47249/debug-realloc.diff

[2017-09-29 06:29] serhiy-storchaka commented on #75807
I tried to build CPython on 64-bit OpenBSD. It was built successfully, but tests crash. They crash on importing hashlib. Actually on compiling hashlib docstring. Minimal reproducer is:

[code]

\_PyUnicodeWriter_Finish() calls resize_compact() for truncating the result, but the latter fills the last 15 bytes with \\xdb. Since the string is tagged as ASCII, thus crashing in \_PyUnicode_CheckConsist

[2017-09-29 06:33] serhiy-storchaka commented on #75466
What if get_source() returned a unicode string? Usually it returns 8-bit string, but in many cases unicode is accepted if str is expected, so you need to check this option too.

[2017-09-29 07:17] serhiy-storchaka opened #75808 "test_mailbox fails if the hostname is empty"
BPO | [31627](https://bugs.python.org/issue31627)
--- | :---
Nosy | @warsaw, @bitdancer, @skrah, @serhiy-storchaka, @koobs
PRs | <li>python/cpython#3821</li><li>python/cpython#3837</li><li>python/cpython#3838</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Gi

[2017-09-29 07:17] serhiy-storchaka commented on #75808
On just installed FreeBSD the hostname is empty. This causes a failure of test_mailbox.

\======================================================================
FAIL: test_create_tmp (test.test_mailbox.TestMaildir)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

Changing the "+" qualifier to the

[2017-09-29 07:20] serhiy-storchaka opened #75809 "test_emails failure on FreeBSD"
BPO | [31628](https://bugs.python.org/issue31628)
--- | :---
Nosy | @malemburg, @warsaw, @abalkin, @vstinner, @bitdancer, @skrah, @serhiy-storchaka, @tirkarthi
Superseder | <li>bpo-35317: test_email: test_localtime_daylight_false_dst_true() fails depending on the timezone</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current sta

[2017-09-29 07:20] serhiy-storchaka commented on #75809
[code]

======================================================================
ERROR: test_localtime_daylight_false_dst_true (test.test_email.test_utils.LocaltimeTests)
\----------------------------------------------------------------------
[code]

======================================================================
ERROR: test_localtime_daylight_true_dst_true (test.test_email.test_utils.Localti

[2017-09-29 07:48] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75466
But in case get_source() returned a unicode, is it likely that the splitlines() method
of this unicode would return a 8-bit string? Currently show_warning() doesn't handle this
scenario, as it assumes splitlines() returned an 8-bit string. Or do you think that
show_warning() should also accept unicode?

[2017-09-29 07:58] vstinner commented on #75807
"\_PyUnicodeWriter_Finish() calls resize_compact() for truncating the result, but the latter fills the last 15 bytes with \\xdb. Since the string is tagged as ASCII, thus crashing in \_PyUnicode_CheckConsistency."

Cool. My code works as expected to catch bugs :-)

[2017-09-29 07:59] serhiy-storchaka commented on #75466
I didn't check. I supposed that the other code can support unicode by
implicitly converting it to str. But now I see that show_warning() uses
PyString_AS_STRING() and therefore supports only str. I agree, using
str.splitlines() would be correct solution.

[2017-09-29 08:26] serhiy-storchaka opened #75810 "Running test_curses on FreeBSD changes signal handlers"
BPO | [31629](https://bugs.python.org/issue31629)
--- | :---
Nosy | @pitrou, @vstinner, @skrah, @serhiy-storchaka, @koobs, @pablogsal
PRs | <li>python/cpython#4183</li><li>python/cpython#4187</li><li>python/cpython#4188</li>
Files | <li>[bug.py](https://bugs.python.org/file47248/bug.py "Uploaded as text/plain at 2017-10-30.22:38:54 by @vstinner")</li>

<sup>*Note: these values reflect the state of

[2017-09-29 08:26] serhiy-storchaka commented on #75810
test_multiprocessing_fork fails only if run all tests on FreeBSD. It is passed successfully if run it separately.

[code]

======================================================================
FAIL: test_many_processes (test.test_multiprocessing_fork.WithProcessesTestProcess)
\----------------------------------------------------------------------
[code]

==========================================

[2017-09-29 08:28] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75800
The problem is with the following check:

[code]

The problem is that n / bits_per_char gives the number of digits required. But p - start has the number of '\_'s included in it. So even for valid cases, if the number of '\_'s is above a limit, this check holds true and an overflow is raised.

Fix: Replace p - start with the actual number of digits.

[2017-09-29 08:50] serhiy-storchaka commented on #75811
test_math and test_cmath fail on OpenBSD 6.1.

\======================================================================
FAIL: test_testfile (test.test_math.MathTests)
\----------------------------------------------------------------------
[code]
======================================================================
FAIL: test_specific_values (test.test_cmath.CMathTests)
\---------------------------

[2017-09-29 08:50] serhiy-storchaka opened #75811 "math.tan has poor accuracy near pi/2 on OpenBSD and NetBSD"
BPO | [31630](https://bugs.python.org/issue31630)
--- | :---
Nosy | @tim-one, @rhettinger, @mdickinson, @skrah, @serhiy-storchaka, @jeff5, @applio
PRs | <li>python/cpython#4169</li>
Files | <li>[tanny.py](https://bugs.python.org/file47183/tanny.py "Uploaded as text/plain at 2017-10-02.18:39:22 by @tim-one")</li><li>[tanny-openbsd.txt](https://bugs.python.org/file47184/tanny-openbsd.txt "Uploaded a

[2017-09-29 08:55] serhiy-storchaka opened #75812 "test_c_locale_coercion fails on OpenBSD"
BPO | [31631](https://bugs.python.org/issue31631)
--- | :---
Nosy | @ncoghlan, @vstinner, @serhiy-storchaka, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 08:55] serhiy-storchaka commented on #75812
[code]

======================================================================
FAIL: test_external_target_locale_configuration (test.test_c_locale_coercion.LocaleConfigurationTests) (env_var='LC_CTYPE', configured_locale='UTF-8')
\----------------------------------------------------------------------
[code]

\+ {'fsencoding': 'utf-8',
?                 ^^^^^

   'lang': '',
   'lc_all': '',
   'lc

[2017-09-29 08:59] a3e07c71-8cf4-4014-bc51-98d47623ef08 opened #75813 "Asyncio: SSL transport does not support set_protocol()"
BPO | [31632](https://bugs.python.org/issue31632)
--- | :---
Nosy | @1st1, @jlacoline
PRs | <li>python/cpython#3817</li><li>python/cpython#4052</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detail

[2017-09-29 08:59] a3e07c71-8cf4-4014-bc51-98d47623ef08 commented on #75813
The bug was encountered when using the HTTPS client of the aiohttp package.

Calling the method set_protocol() on a SSL transport (_SSLProtocolTransport) does not have the expected result: the new protocol will never be used (i.e. its data_received() method won't be called). The previous one keeps receiving data.

The problem comes from asyncio/ssl_proto.py:308. In my understanding, \_SSLProtocolT

[2017-09-29 09:04] serhiy-storchaka opened #75814 "test_crypt fails on OpenBSD"
BPO | [31633](https://bugs.python.org/issue31633)
--- | :---
Nosy | @serhiy-storchaka
Superseder | <li>bpo-25287: test_crypt fails on OpenBSD</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 09:04] serhiy-storchaka commented on #75814
[code]

======================================================================
FAIL: test_methods (test.test_crypt.CryptTestCase)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

crypt.methods is an empty list.

[2017-09-29 09:07] serhiy-storchaka commented on #75814
This is a duplicate of bpo-25287.

[2017-09-29 09:07] #75814 closed, assigned to nobody

[2017-09-29 09:23] 6ccb8c66-b6ca-4c37-b449-e35b11a6b9e4 commented on #75815
wheel is quite prevalent nowadays. ensurepip even uses wheels of pip & setuptools itself. Installing wheel by default will bestow the following benefits:

1. pip's wheel cache will be enabled by default.
2. Users will be able to run setup.py bdist_wheel. Put simply, they will be able to build wheels.
3. Users will have access to the wheel command by default.

All those benefits will also apply in

[2017-09-29 09:23] 6ccb8c66-b6ca-4c37-b449-e35b11a6b9e4 opened #75815 "Consider installing wheel in ensurepip by default"
BPO | [31634](https://bugs.python.org/issue31634)
--- | :---
Nosy | @ncoghlan, @ericvsmith, @ned-deily, @merwok, @dstufft, @segevfiner
PRs | <li>python/cpython#3818</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-09-29 09:32] serhiy-storchaka opened #75816 "test_strptime failure on OpenBSD"
BPO | [31635](https://bugs.python.org/issue31635)
--- | :---
Nosy | @malemburg, @abalkin, @serhiy-storchaka, @applio, @pganssle, @tirkarthi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 09:32] serhiy-storchaka commented on #75816
[code]

======================================================================
FAIL: test_week_of_year_and_day_of_week_calculation (test.test_strptime.CalculationTests) [Jan 1 on Sunday] (date=(1905, 1, 1), format='%G %V %w')
\----------------------------------------------------------------------
[code]

First differing element 2:
8
1

- (1905, 1, 8)
?           ^

\+ (1905, 1, 1)
?           ^
 :

[2017-09-29 09:39] serhiy-storchaka opened #75817 "test_locale failure on OpenBSD"
BPO | [31636](https://bugs.python.org/issue31636)
--- | :---
Nosy | @malemburg, @loewis, @terryjreedy, @serhiy-storchaka, @applio, @tirkarthi
Superseder | <li>bpo-25191: test_getsetlocale_issue1813 failed on OpenBSD</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary>

[2017-09-29 09:39] serhiy-storchaka commented on #75817
[code]

======================================================================
ERROR: test_getsetlocale_issue1813 (test.test_locale.TestMiscellaneous)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

[2017-09-29 10:37] serhiy-storchaka commented on #75800
[PR 3816](https://github.com/python/cpython/pull/3816) fixes the symptom, but not the core issue -- an overflow check depending on undefined behaviour.

[2017-09-29 10:39] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75818 "integer overflow in the size of a ctypes.Array"
BPO | [31637](https://bugs.python.org/issue31637)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
Superseder | <li>bpo-1621: Do not assume signed integer overflow behavior</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fie

[2017-09-29 10:39] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75818
The following code:
from ctypes import *
from \_testcapi import PY_SSIZE_T_MAX, LONG_MAX

[code]

Produces this output (on a 32bit Python on my Windows 10):
2
2
2

This is because PyCArrayType_new() (in [Modules/_ctypes/_ctypes.c](https://github.com/python/cpython/blob/main/Modules/_ctypes/_ctypes.c)) raises a
"array too large" error in case (length * itemsize \< 0). However, this
multiplication m

[2017-09-29 11:12] 460ababa-b553-4a7d-9326-8fa4392d56d3 commented on #75819
Currently (up to 3.7.0a1) archives generated by the zipapp module are uncompressed, which are unnecessarily large for large projects. It's easy to add deflate compression support, and Python loads compressed archives just fine.

I already have a patch available. I'll submit a PR soon.

[2017-09-29 11:12] 460ababa-b553-4a7d-9326-8fa4392d56d3 opened #75819 "zipapp module should support compression"
BPO | [31638](https://bugs.python.org/issue31638)
--- | :---
Nosy | @pfmoore, @merwok, @zmwangx
PRs | <li>python/cpython#3819</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 11:19] serhiy-storchaka commented on #75818
Isn't this a duplicate of bpo-1621?

[2017-09-29 11:50] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75818
oh, i missed that. sorry.

[2017-09-29 11:50] #75818 closed, assigned to nobody

[2017-09-29 12:55] bitdancer commented on #75808
A system with no hostname can be considered to be improperly configured, but it doesn't look like this would weaken the test, so I think it is OK.

[2017-09-29 13:36] mdickinson commented on #75800
There's also the (lesser) issue that we're using C `int`s for things that should really be `ssize_t`s. But that can be fixed / changed separately for the fix for this issue.

Yep, sorry; this didn't happen. I blame the children. :-(

[2017-09-29 15:42] benjaminp commented on #75806
New changeset d15108a4789aa1e3c12b2890b770550c90a30913 by Benjamin Peterson in branch 'master':
stop using ranlib (closes bpo-31625) (bpo-3815)
https://github.com/python/cpython/commit/d15108a4789aa1e3c12b2890b770550c90a30913

[2017-09-29 15:48] vstinner commented on #75806
Buildbots are unhappy :-( Compilation failed on:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Debug%203.x/builds/962/steps/compile/logs/stdio

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%20CURRENT%20Non-Debug%203.x/builds/964/steps/compile/logs/stdio

[2017-09-29 15:51] vstinner commented on #74374
Recent failure:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Non-Debug%20with%20X%203.x/builds/1080/steps/test/logs/stdio

\======================================================================
ERROR: test_with_statement (test.test_nntplib.NetworkedNNTP_SSLTests)
\----------------------------------------------------------------------
[code]

[2017-09-29 16:19] 6bf03073-d634-4c94-9c1a-610b54dfefa5 commented on #75820
Doing a cross domain iframe test.  `domain1.html` has iframe pointing at `domain2.html` which has iframe pointing at `domain3.html`.

`domain{1,2,3}.com` are all configured to point at `127.0.0.1` in my `/etc/hosts` file.

Loaded up `http://domain1.com:8000/domain1.html` in my browser and it spins waiting for domain3 to load.  CTRL-C and then domain3 loads.  CTRL-C again to quit.

Google chrome: 6

[2017-09-29 16:19] 6bf03073-d634-4c94-9c1a-610b54dfefa5 opened #75820 "http.server and SimpleHTTPServer hang after a few requests"
BPO | [31639](https://bugs.python.org/issue31639)
--- | :---
Nosy | @pfmoore, @ronaldoussoren, @tjguk, @ned-deily, @bitdancer, @vadmium, @zware, @zooba, @JulienPalard, @miss-islington
PRs | <li>python/cpython#5018</li><li>python/cpython#6202</li><li>python/cpython#6203</li><li>python/cpython#7195</li><li>python/cpython#7219</li>
Files | <li>[Archive.zip](https://bugs.python.org/file47177/Archive.z

[2017-09-29 16:26] benjaminp commented on #75806
New changeset 6fb0e4a6d085ffa4e4a6daaea042a1cc517fa8bc by Benjamin Peterson in branch 'master':
explicitly list objects for the ar command (bpo-3824)
https://github.com/python/cpython/commit/6fb0e4a6d085ffa4e4a6daaea042a1cc517fa8bc

[2017-09-29 16:27] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75800
I don't understand this check completely actually. When exactly is an int too large to convert?

[2017-09-29 16:28] vstinner commented on #75806
Thanks ;-)

[2017-09-29 16:45] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75800
We see if digits * bits_per_char + PyLong_SHIFT -1 overflows an int?

[2017-09-29 16:54] bbbf6d87-5650-459a-b509-ac8248be47b0 opened #75821 "Document exit() from parse_args"
BPO | [31640](https://bugs.python.org/issue31640)
--- | :---
Nosy | @merriam, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 16:54] bbbf6d87-5650-459a-b509-ac8248be47b0 commented on #75821
It is unexpected to testers and users to ArgParse that it terminates the process; one usually expects an error code.  Fix by modifying documentation to section 16.4.4 The parse_args() Method.

Change the words "Return the populated namespace." to "Return the populated namespace, or exit with a status 0 if the help message is printed, or exit with status 2 if an invalid argument was parsed."

[2017-09-29 17:05] pfmoore commented on #75819
Definitely. The reason it uses uncompressed files is simply an oversight on my part - I hadn't realised the default for zipfile was uncompressed.

[2017-09-29 17:23] bitdancer commented on #75821
I think this is reasonable, but do note that this is covered in 16.4.4.2, and the fact that help exits is actually a property of help, not parse_args.  That is, the docs are correct and complete as they stand, but I agree that it would be helpful to have the summary include this information as well.

[2017-09-29 17:31] pfmoore commented on #75819
New changeset d87b105ca794addf92addb28293c92a7ef4141e1 by Paul Moore (Zhiming Wang) in branch 'master':
bpo-31638: Add compression support to zipapp (GH-3819)
https://github.com/python/cpython/commit/d87b105ca794addf92addb28293c92a7ef4141e1

[2017-09-29 17:37] #75819 closed, assigned to pfmoore

[2017-09-29 17:44] serhiy-storchaka commented on #75800
The error is raised when the number of underscores is at least (PyLong_SHIFT - 1) // bits_per_char.

[2017-09-29 17:49] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75800
Yes, but the check is too late: UB can already occur in this calculation
and then all bets are off.

It looks like 'n' was Py_ssize_t in 2.7. :)

[2017-09-29 18:16] serhiy-storchaka commented on #75466
New changeset 8b4ff53c440dfcde40fbeb02c5e666c85190528f by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31285: Remove splitlines identifier from [Python/_warnings.c](https://github.com/python/cpython/blob/main/Python/_warnings.c) (bpo-3803)
https://github.com/python/cpython/commit/8b4ff53c440dfcde40fbeb02c5e666c85190528f

[2017-09-29 18:18] serhiy-storchaka commented on #75466
I just missed [PR 3803](https://github.com/python/cpython/pull/3803).

[2017-09-29 18:34] brettcannon commented on #75783
New changeset 01c6a8859ef2ff5545a87cf537573bd342c848bf by Brett Cannon (Oren Milman) in branch 'master':
bpo-31602: Fix an assertion failure in zipimporter.get_source() in case of a bad zlib.decompress() (GH-3784)
https://github.com/python/cpython/commit/01c6a8859ef2ff5545a87cf537573bd342c848bf

[2017-09-29 18:35] #75783 closed, assigned to brettcannon

[2017-09-29 18:38] 6bf03073-d634-4c94-9c1a-610b54dfefa5 commented on #75820
It has been pointed out to me that this issue may be related to chrome making multiple requests in parallel.

A test with wget seems to support this.

wget -E -H -k -K -p http://domain1.com:8000/domain1.html

...does not hang, whereas requests from chrome do hang.

On some level I guess I wonder about the usefulness of simple web servers if they choke on very basic website requests from modern bro

[2017-09-29 19:26] serhiy-storchaka commented on #75466
New changeset 66c2b9f13ef2197a5212fd58372173124df76467 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31285: Remove splitlines identifier from [Python/_warnings.c](https://github.com/python/cpython/blob/main/Python/_warnings.c) (GH-3803) (bpo-3829)
https://github.com/python/cpython/commit/66c2b9f13ef2197a5212fd58372173124df76467

[2017-09-29 19:31] cbf13ede-eda8-4246-abee-98732ce73413 commented on #75804
An official source tarball, by definition, should be able to be built
from itself, and contain tools for that. If I take sources from a Git
repo instead, I'm not building from a tarball. If I must do some
undocumented magic on the extracted source to build that tools don't do,
the tools are broken. The current ticket and the attached patch fix the
tools.

P.S. I didn't include the patch right away

[2017-09-29 19:49] ambv commented on #75822
bpo-27144 introduced a regression for `as_completed()`: it used to accept arbitrary iterables but now requires sequences, otherwise raising an exception like:

[code]

Since `as_completed()` is a very popular function, we need to revert the behavior here.

[2017-09-29 19:49] ambv opened #75822 "concurrent.futures.as_completed() no longer accepts arbitrary iterables"
BPO | [31641](https://bugs.python.org/issue31641)
--- | :---
Nosy | @pitrou, @vstinner, @ned-deily, @ambv, @grzgrzgrz3
PRs | <li>python/cpython#3830</li><li>python/cpython#3831</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python

[2017-09-29 20:21] tiran opened #75823 "None value in sys.modules no longer blocks import"
BPO | [31642](https://bugs.python.org/issue31642)
--- | :---
Nosy | @warsaw, @brettcannon, @ncoghlan, @tiran, @ericsnowcurrently, @serhiy-storchaka
PRs | <li>python/cpython#3834</li><li>python/cpython#3923</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHu

[2017-09-29 20:21] tiran commented on #75823
Since Python 3.6, the blocking of imports is broken for 'from package import module' imports.

[code]

[code]

Tests with Python 2.7 to master:

[code]

[2017-09-29 20:59] ned-deily commented on #75822
Sounds like we need to get this fixed for 3.6.3 final which is scheduled for Monday (3 days).  Or revert the previous fix.

[2017-09-29 21:19] zooba commented on #75763
Sounds like a good idea.

I hope that sys.path initialization is documented as well for POSIX as it is for Windows, as that will make this a simple "for X, click here; for Y, click here" patch. Otherwise, someone will need to figure out exactly what rules are followed so they can be documented.

(Hey Eric - when we get that Python initialization script, we can have one set of rules for inferring s

[2017-09-29 21:37] eb193824-a002-4e53-a73b-be75738ef3f2 opened #75824 "test_uuid: test_getnode and test_windll_getnode fail if connected to the Internet via an Android phone"
BPO | [31643](https://bugs.python.org/issue31643)
--- | :---
Nosy | @warsaw, @xdegaye, @serhiy-storchaka, @native-api
PRs | <li>python/cpython#4448</li><li>python/cpython#4804</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-09-29 21:37] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75824
Ethernet emulation for some devices like Android phones' tethering use all-zero MAC addresses (which is okay since they don't actually pass Ethernet frames to other NICs). This results in a node ID of 0 if I'm currently connected to the Net via such a device. Which fails range checks in the corresponding tests.

RFC 4122 doesn't actually have any prohibitions of using a node ID of 0. Neither does

[2017-09-29 22:21] 87822c28-4b94-4f65-8522-b3f583247aed opened #75825 "bug in datetime.datetime.timestamp"
BPO | [31644](https://bugs.python.org/issue31644)
--- | :---
Nosy | @ericvsmith

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-29 22:21] 87822c28-4b94-4f65-8522-b3f583247aed commented on #75825
datetime.datetime(2014,3,9,2).timestamp() returns 1394352000.0
datetime.datetime(2014,3,9,3).timestamp() returns 1394352000.0

[2017-09-29 22:23] terryjreedy commented on #75736
This issue is more likely to get attention if there is a difference in 3.6, or even better, 3.7.

[2017-09-29 22:25] ambv commented on #75822
Fix is already landed in 3.6 and master.

[2017-09-29 22:40] terryjreedy commented on #75762
An option for deferred imports would be to leave a comment at the top where the import would otherwise be.  Example:

\# import types, weakref  # Deferred to single_dispatch()

This accomplishes the PEP-8 purpose of making all dependencies of the module visible at the top.

[2017-09-29 22:51] ambv commented on #75755
Amazing!

[2017-09-29 22:53] ambv commented on #75755
New changeset 3d2b407da048b14ba6e5eb6079722a785d210590 by Łukasz Langa (Christian Heimes) in branch 'master':
bpo-31574: importlib dtrace (bpo-3749)
https://github.com/python/cpython/commit/3d2b407da048b14ba6e5eb6079722a785d210590

[2017-09-29 22:54] ambv commented on #75755
Merged. Thanks! ✨ 🍰 ✨

[2017-09-29 22:54] #75755 closed, assigned to nobody

[2017-09-29 23:05] zooba commented on #75736
The only difference between your two tests is the install tool, and neither setuptools nor wheel bugs are tracked here.

[2017-09-29 23:24] 60717714-ac02-4c78-a5e0-6f0d36b9c456 commented on #75801
This looks like a dupe, or at least quite closely related to https://bugs.python.org/issue26259. If the PR resolves both issues that one should be closed too.

[2017-09-29 23:26] eb193824-a002-4e53-a73b-be75738ef3f2 opened #75826 "openssl build fails in win32 if .pl extension is not associated with Perl"
BPO | [31645](https://bugs.python.org/issue31645)
--- | :---
Nosy | @pfmoore, @larryhastings, @tjguk, @zware, @zooba, @native-api
Files | <li>[0001-Fix-openssl-failing-if-.pl-extension-is-not-associat.patch](https://bugs.python.org/file47179/0001-Fix-openssl-failing-if-.pl-extension-is-not-associat.patch "Uploaded as text/plain at 2017-09-29.23:26:32 by @native-api"): patch for 3.4</li>

<sup>*Not

[2017-09-29 23:26] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75826
build_ssl.py:fix_makefile() removes "PERL=perl" line from externals\\openssl-1.0.2j\\ms\\nt.mak .

This results in lots of calls like:

./util/copy-if-different.pl "\<[file1](https://bugs.python.org/file1)\>" "\<[file2](https://bugs.python.org/file2)\>"

(without the leading "perl")

Which opens the file in the program associates with the extension (Notepad by default) instead of executing it.

Si

[2017-09-29 23:30] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75824
Example failure:

\======================================================================
FAIL: test_windll_getnode (test.test_uuid.TestInternals)
\----------------------------------------------------------------------
[code]

[code]

======================================================================
FAIL: test_getnode (test.test_uuid.TestUUID)
\------------------------------------------------

[2017-09-29 23:42] serhiy-storchaka commented on #75823
This is a side effect of bpo-15767. The exception is raised in \_find_and_load, but it is always silenced in \_handle_fromlist.

[2017-09-29 23:48] terryjreedy commented on #75772
reidfaiv: bpo issues are for patching cypthon, including the stdlib and docs.  Debugging help should be requested on other forums, such as python-list or stackoverflow.

On the other hand, segfaults in pure python code that uses \*current* python and does not use cypes or third party extension modules is of concern to us.  Because of such concern, there are crash bugs fixed in every new version an

[2017-09-29 23:54] terryjreedy commented on #75771
In closing bpo-15927, R. David Murray said "Although this is clearly a bug fix, it also represents a behavior change that could cause a working program to fail.  I have therefore only applied it to 3.4, but I'm open to arguments that it should be backported."

David, I'll leave you to evaluate the argument presented.

Vaibhav: in the meanwhile, consider moving your pipeline to 3.x or patching your

[2017-09-30 00:16] terryjreedy commented on #75775
Consistency between bytes and strings is not much of a concern here, or the change would have been make for bytes when it was made for strings.  I would not approve the request without knowing who chose not to and why.

I think an example like
t = bytes.maketrans(
    b'ABCDEVGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz',
    b'vcccvcccvcccccvcccccvcscscvcccvcccvcccccvcccccvcscsc')
is \*much* be

[2017-09-30 00:19] 87822c28-4b94-4f65-8522-b3f583247aed opened #75827 "bug in time.mktime"
BPO | [31646](https://bugs.python.org/issue31646)
--- | :---
Nosy | @tim-one, @eryksun

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-30 00:19] 87822c28-4b94-4f65-8522-b3f583247aed commented on #75827
[code]

1394348400.0 in Windows 7, Python 2.7 and 3.6
1394352000.0 in LinuxMint LMDE 2, Python 3.6

[2017-09-30 00:31] vadmium commented on #74761
Regarding the compressed data generator, it would be better if there were no restrictions on the generator yielding empty chunks. This would match how the upload “body” parameter for HTTPConnection.request can be an iterator without worrying about empty chunks. IMO a chunked encoder should skip empty chunks and add the trailer itself, rather than exposing these special requirements to higher level

[2017-09-30 00:40] ericvsmith commented on #75825
This is a daylight savings time folding problem. Without a timezone, those are in fact the same point in time, at least in my timezone (US Eastern).

If you specify a timezone, you'll see the difference:

datetime.datetime(2014,3,9,2,tzinfo=datetime.timezone(datetime.timedelta(0))).timestamp() -\> 1394330400.0

datetime.datetime(2014,3,9,3,tzinfo=datetime.timezone(datetime.timedelta(0))).timestamp

[2017-09-30 00:40] #75825 closed, assigned to nobody

[2017-09-30 00:44] bitdancer commented on #75771
I'm pretty hesitant to make this kind of change in python2.  I'm going to punt, and let someone else make the decision.  Which means if no one does, the status quo will win.  Sorry about that.

[2017-09-30 01:00] 855695c5-8967-4baf-a912-99f43a87f14b commented on #75771
If there's any way this can be documented that would be a big help, at
least. There have been other folks who run into this, and the current
behavior is implicit.

On Sep 29, 2017 5:44 PM, "R. David Murray" \<report@bugs.python.org\> wrote:

R. David Murray \<rdmurray@bitdance.com\> added the comment:

I'm pretty hesitant to make this kind of change in python2.  I'm going to
punt, and let someone

[2017-09-30 01:04] terryjreedy commented on #75794
Tkinter wraps the tcl/tk gui framework.  The file dialogs and messageboxes are provided by tk.  When possible, the file dialogs utilize the native OS file dialogs.  The localization is done the by the OS. If the messageboxes are localized, then I presume the same is true of them also.

tkinter.simpledialog is a tkinter add-on module written in Python, using tk widgets.  SimpleDialog does not have

[2017-09-30 01:07] terryjreedy commented on #75794
I would make such new paremeters keyword-only.

[2017-09-30 01:32] 87822c28-4b94-4f65-8522-b3f583247aed commented on #75825
The datetime object returned by strptime() does not have tzinfo.  Whatever default timezone that was chosen should produce consistent timestamp.  Reading a sequential datetime string and converting it to a sequence of timestamp results in expected time folding.

datetime.datetime.strptime(dtstr,fmt).timestamp()

[2017-09-30 02:06] ronaldoussoren commented on #75782
This is true for other symbols as well, when deploying to older releases of macOS.

I have added runtime checking for a number of symbols in the past, that could be extended to newer APIs.

--
On the road, hence brief.

Op 30 sep. 2017 om 09:17 heeft Terry J. Reedy \<report@bugs.python.org\> het volgende geschreven:

[2017-09-30 03:10] terryjreedy commented on #75771
I explained on bpo-15927 why I currently see it as an enhancement issue, and therefore not appropriate to be backported.  In fact, based on the doc, I am puzzled why the line terminator was being escaped.

[2017-09-30 03:50] eryksun commented on #75827
mktime() is the inverse of localtime(). With the given format string, strptime() sets tm_isdst to -1, for which mktime will use the system's timezone information to determine whether or not it's daylight saving time. You need to verify that the time zones are the same.

For me the results agree in Linux and Windows with the local timezone on both systems set to the UK.

9 March (GMT, standard time

[2017-09-30 04:42] 45bf83a6-23ac-4b3a-83de-214f929d7580 commented on #75828
Currently, if one attempts to do write_eof() on a StreamWriter after the underlying transport is already closed, an AttributeError is raised:

[code]

This is because \_SelectorSocketTransport.write_eof() only checks for self.\_eof before calling self.\_sock.shutdown(), and self.\_sock has already been assigned None after \_call_connection_lost().

Compare with StreamWriter.write() after close, wh

[2017-09-30 04:42] 45bf83a6-23ac-4b3a-83de-214f929d7580 opened #75828 "asyncio: StreamWriter write_eof() after close raises mysterious AttributeError"
BPO | [31647](https://bugs.python.org/issue31647)
--- | :---
Nosy | @larryhastings, @giampaolo, @ned-deily, @1st1, @twisteroidambassador
PRs | <li>python/cpython#7149</li><li>python/cpython#7153</li><li>python/cpython#7154</li><li>python/cpython#7964</li>
Files | <li>[asyncio_write_eof_after_close_test.py](https://bugs.python.org/file47180/asyncio_write_eof_after_close_test.py "Uploaded as text/pl

[2017-09-30 04:48] 45bf83a6-23ac-4b3a-83de-214f929d7580 commented on #75828
This issue is somewhat related to bpo-27223, in that both are caused by using self.\_sock after it has already been assigned None when the connection is closed. It seems like Transports in general may need better protection from this kind of behavior.

[2017-09-30 04:48] 87822c28-4b94-4f65-8522-b3f583247aed commented on #75827
[code]

Both statements produce 1394348400.0 in Win7.  The answers are 1394348400.0 and 1394352000.0 in Linux which is the correct behavior.

[2017-09-30 05:25] fdc08b81-f10f-4d56-a4c0-de5650414d13 commented on #75736
No, the difference is not wheel vs setuptools. They both generate the identical pyd file.
The difference is python: if the module is loaded by just being available on the path or if the module is loaded via  imp.load_dynamic

I understand if it's closed because it's not python 3, but it's not external tool related.

[2017-09-30 06:11] eryksun commented on #75827
This depends on the way the platform mktime implements folding when the clock is advanced for daylight saving time. It appears the timezone on your systems is set to US/Canada Central Time, for which on March 9th the clocks were advanced forward at 02:00:00 [1]. Windows mktime folds back at 02:00:00, repeating the 01:00:00-01:59:59 timestamps. Linux mktime has a fold at 03:00:00, repeating the 02:

[2017-09-30 06:56] serhiy-storchaka commented on #75823
[PR 3834](https://github.com/python/cpython/pull/3834) provide possible solution of this issue.

Initially import errors were silenced for solving bpo-15715. An import error raised when import was blocked by setting None in sys.modules was not silenced because it has different error message. I don't know whether this was intentional. In bpo-15767 (5fdb8c897023) the error message test was replaced

[2017-09-30 07:03] vadmium commented on #75341
I prefer Cornelius’s current proposal (rev 4f8137b) because it fixes both sites, rather than just patching the immediate problem site.

I don’t think read(1) is a big problem, just less efficient. But if you prefer to do larger reads, that should be fine too. You could even use os.fdopen(...).readline(), which would use BufferedReader. It is not documented, but BufferedReader should do large reads

[2017-09-30 07:10] methane commented on #74989
New changeset b24cd055ecb3eea9a15405a6ca72dafc739e6531 by INADA Naoki (James Sexton) in branch 'master':
bpo-30806 netrc.\_\_repr__() is broken for writing to file (GH-2491)
https://github.com/python/cpython/commit/b24cd055ecb3eea9a15405a6ca72dafc739e6531

[2017-09-30 07:13] methane commented on #75762
New changeset 9811e80fd0ed9d74c76a66f1dd4e4b8afa9e8f53 by INADA Naoki in branch 'master':
bpo-31581: Reduce the number of imports for functools (GH-3757)
https://github.com/python/cpython/commit/9811e80fd0ed9d74c76a66f1dd4e4b8afa9e8f53

[2017-09-30 07:17] #75762 closed, assigned to nobody

[2017-09-30 08:16] scoder opened #75829 "Improve ElementPath"
BPO | [31648](https://bugs.python.org/issue31648)
--- | :---
Nosy | @scoder, @serhiy-storchaka
PRs | <li>python/cpython#3835</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-30 08:16] scoder commented on #75829
* Allow whitespace around predicate parts, i.e. "[a = 'text']" instead of requiring the less readable "[a='text']".

* Add support for text comparison of the current node, like "[.='text']".

Both currently raise "invalid path" exceptions. PR coming.

[2017-09-30 08:40] 816d07ce-f06e-45ee-a4a5-a3894602990f commented on #75771
Hello R. David & Terry!

Appreciate your prompt responses. While experimenting with different test cases I realized that escaped slashes and newlines are intrinsically annoying to reason about as stringy-one-liners, so I threw together a small tarball test case - attached - to make sure we're on the same page.

To be clear, I was referring \*solely* to reading with csv.DictReader (we're not using

[2017-09-30 08:54] serhiy-storchaka commented on #75829
Is this feature already implemented in lxml? Is it a part of some wider standard?

[2017-09-30 09:03] scoder commented on #75829
Well, there's XPath for a standard:
https://www.w3.org/TR/xpath/

ElementPath deviates from it in its namespace syntax (it allows "{ns}tag" where XPath requires "p:tag" prefixes), but that's about it. All other differences are basically needless limitations of ElementPath.

In fact, I had noticed these two limitations in lxml, so I implemented them for the next release. And since ElementPath in El

[2017-09-30 09:39] serhiy-storchaka commented on #75829
I think the break in the loop for [.='text'] is not correct.

[code]

I expect that findall() finds all matched elements, not just the first one. Both above requests should return the same result.

[2017-09-30 09:50] scoder commented on #75829
Thanks for noticing. I added a test and fixed it.

[2017-09-30 12:00] methane commented on #75656
We already accept PEP-529 and PEP-538.
And there are bpo-15216 ([PR 2343](https://github.com/python/cpython/pull/2343)).
So I don't think we need more solutions.

[2017-09-30 13:35] serhiy-storchaka commented on #75829
New changeset 101a5e84acbab9d880e150195f23185dfb5449a9 by Serhiy Storchaka (scoder) in branch 'master':
bpo-31648: Improve ElementPath (bpo-3835)
https://github.com/python/cpython/commit/101a5e84acbab9d880e150195f23185dfb5449a9

[2017-09-30 13:36] serhiy-storchaka commented on #75829
Thank you for your contribution Stefan! Good improvement.

[2017-09-30 13:36] #75829 closed, assigned to nobody

[2017-09-30 13:38] #75656 closed, assigned to nobody

[2017-09-30 14:06] serhiy-storchaka commented on #75466
New changeset 40d736bcf40c10aa5fc7d6cc305a6641afd3cd0e by Serhiy Storchaka (Oren Milman) in branch '2.7':
[2.7] bpo-31285: Don't raise a SystemError in warnings.warn_explicit() in case \_\_loader__.get_source() has a bad splitlines() method. (GH-3219) (bpo-3823)
https://github.com/python/cpython/commit/40d736bcf40c10aa5fc7d6cc305a6641afd3cd0e

[2017-09-30 14:07] #75466 closed, assigned to nobody

[2017-09-30 14:10] serhiy-storchaka commented on #75808
New changeset f4ea642cb60556231e714089a79d3c59c202661e by Serhiy Storchaka in branch 'master':
bpo-31627: Make test_mailbox be lenient to empty hostname. (bpo-3821)
https://github.com/python/cpython/commit/f4ea642cb60556231e714089a79d3c59c202661e

[2017-09-30 14:45] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75736
Does the difference stay at 10-15% if you run it 50000 times or is it
a one time cost of around 100 ms?

[2017-09-30 15:27] #75827 closed, assigned to nobody

[2017-09-30 16:30] fdc08b81-f10f-4d56-a4c0-de5650414d13 commented on #75736
Very good question!

5000 times via imp.load_dynamic:
     yEnc C New  took  5870 ms
     yEnc C New  took  5878 ms
     yEnc C New  took  5835 ms
5000 times via "pip: having the .pyd in site-packages"
     yEnc C New  took  6489 ms
     yEnc C New  took  6369 ms
     yEnc C New  took  6390 ms

Difference \~450 ms

10000 times via imp.load_dynamic:
     yEnc C New  took  11775 ms
     yEnc C New

[2017-09-30 16:55] tim-one commented on #75827
Note that 2am doesn't exist on the local clock:  it leaps from 1:59:59 to 3:00:00.  You're claiming that one answer is "correct", but why?  The relevant \_standards_ don't appear to specify what happens when the input is senseless.  Note that the behavior isn't really due to Python, but to the platform C libraries.

Windows is treating 2am as if DST were already in effect, so senseless times of th

[2017-09-30 17:16] serhiy-storchaka commented on #75773
New changeset 7dc46d8cf5854d9f4ce3271b29c21aea4872e8ad by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31592: Fix an assertion failure in Python parser in case of a bad unicodedata.normalize(). (bpo-3767)
https://github.com/python/cpython/commit/7dc46d8cf5854d9f4ce3271b29c21aea4872e8ad

[2017-09-30 17:40] terryjreedy commented on #75641
Menu item 'Module Browser' invokes '\<\<open-class-browser\>\>', which calls Editor_Window.open_module_browser.  If the window is an actual editor, its path is used; otherwise open_module is called.  In either case, ModuleBrowser is called with flist and path pieces.

PathBrowser subclasses ModuleBrowser.  Menu item 'Path Browser' invokes '\<\<open-path-browser\>\>', which calls Editor_Window.open

[2017-09-30 17:47] terryjreedy opened #75830 "IDLE: Make _htest, _utest parameters keyword-only."
BPO | [31649](https://bugs.python.org/issue31649)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#3839</li><li>python/cpython#3841</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-30 17:53] terryjreedy commented on #75830
All calls in tests should pass as keyword.  Get better error message if pass wrong number of other arguments positionally.

[2017-09-30 19:51] serhiy-storchaka commented on #75773
New changeset a4dfe1c9eaca6faf206f63a178233ffea208c906 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31592: Fix an assertion failure in Python parser in case of a bad unicodedata.normalize(). (GH-3767) (bpo-3836)
https://github.com/python/cpython/commit/a4dfe1c9eaca6faf206f63a178233ffea208c906

[2017-09-30 19:52] serhiy-storchaka commented on #75808
New changeset d9c21a45fdc83904753d91ad45e3eafa195f4713 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31627: Make test_mailbox be lenient to empty hostname. (GH-3821) (bpo-3837)
https://github.com/python/cpython/commit/d9c21a45fdc83904753d91ad45e3eafa195f4713

[2017-09-30 19:52] serhiy-storchaka commented on #75808
New changeset 1163fb9be08c6072455b59d6f954e60662d18e75 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31627: Make test_mailbox be lenient to empty hostname. (GH-3821) (bpo-3838)
https://github.com/python/cpython/commit/1163fb9be08c6072455b59d6f954e60662d18e75

[2017-09-30 19:54] #75808 closed, assigned to nobody

[2017-09-30 19:54] #75773 closed, assigned to nobody

[2017-09-30 19:59] benjaminp opened #75831 "implement PEP 552"
BPO | [31650](https://bugs.python.org/issue31650)
--- | :---
Nosy | @warsaw, @vstinner, @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#4575</li><li>python/cpython#8608</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-09-30 19:59] benjaminp commented on #75831
Now that PEP-552 is accepted, we'll need an actual implementation. Besides the core import changes, there are some perquisites improvements. For one, our SipHash implementation needs to be changed to accept an arbitrary key. Also, the PEP also introduces the first "long" option to the interpreter, so the getopt implementation will have to be enhanced.

[2017-09-30 20:17] zware commented on #75303
Sorry it's taken me so long to get back to this, Hiren.  Do you still need it since 2.7.14 is out?

[2017-09-30 20:58] 7745f73f-ed04-4a84-af90-687378334bb0 commented on #75832
originally detected on python 2.7, but replicated with python 3.5.3 -- apparently io.FileIO, if given a bytestring of 2GB or more, cannot write it all at once -- saves (and returns that size) only 2GB - 4096.

I found no indication for such behavior anywhere in the documentation. And it is surprising to me especially since regular file.write does it just fine!  attached is the code snippet which I

[2017-09-30 20:58] 7745f73f-ed04-4a84-af90-687378334bb0 opened #75832 "io.FileIO cannot write more than 2GB (-4096) bytes??? must be documented (if not fixed)"
BPO | [31651](https://bugs.python.org/issue31651)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka, @eryksun
Files | <li>[longwrite.py](https://bugs.python.org/file47182/longwrite.py "Uploaded as text/plain at 2017-09-30.20:58:07 by Yaroslav.Halchenko")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details

[2017-09-30 21:30] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75738
AFAIK, '/' character is not allowed as part of a filename on Linux systems. Is this bug platform specific? Can you give the testcase you are referring to.

[2017-09-30 21:37] terryjreedy commented on #75830
New changeset bfebfd81de21b7906df386fce845f2b1f5ffd212 by Terry Jan Reedy in branch 'master':
bpo-31649: Make IDLE's \_htest, \_utest parameters keyword-only. (bpo-3839)
https://github.com/python/cpython/commit/bfebfd81de21b7906df386fce845f2b1f5ffd212

[2017-09-30 22:45] terryjreedy commented on #75830
New changeset 40c54d5e1aaab91cb7df71f735112d20b5e5b755 by Terry Jan Reedy in branch '3.6':
[3.6] bpo-31649: Make IDLE's \_htest, \_utest parameters keyword-only. (GH-3839) (bpo-3841)
https://github.com/python/cpython/commit/40c54d5e1aaab91cb7df71f735112d20b5e5b755

[2017-09-30 22:46] #75830 closed, assigned to terryjreedy

[2017-09-30 23:04] 535c64bf-329b-4abc-b932-9e2fc55cda97 opened #75833 "make install fails: no module _ctypes"
BPO | [31652](https://bugs.python.org/issue31652)
--- | :---
Nosy | @ncoghlan, @bkline, @jwilk, @vadmium, @zware, @dstufft, @animalize, @stratakis, @dgspahn, @nigorol
Files | <li>[query.csv](https://bugs.python.org/file47793/query.csv "Uploaded as text/csv at 2018-09-08.19:50:20 by @dgspahn"): error query</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and

[2017-09-30 23:04] 535c64bf-329b-4abc-b932-9e2fc55cda97 commented on #75833
The make install step fails with this error:

[code]

Am I missing something?

[2017-09-30 23:33] zooba commented on #75736
The difference is on startup in how they generate sys.path entries.

Skip the install step and directly run the library in a clean virtual environment, so that no .pth or .egg files are in use. If the difference still occurs, show that it also occurs on a recent version of Python as well and we can look at it

I promise you, there is only one way that extension modules get loaded. The performance

[2017-09-30 23:33] #75736 closed, assigned to nobody

[2017-09-30 23:54] terryjreedy commented on #75641
New changeset d6bb65f378e34fe0c11fdb39588357ecf22964eb by Terry Jan Reedy in branch 'master':
bpo-31460: Simplify the API of IDLE's Module Browser. (bpo-3842)
https://github.com/python/cpython/commit/d6bb65f378e34fe0c11fdb39588357ecf22964eb

[2017-10-01 00:32] terryjreedy commented on #75641
New changeset c8198c92320bc35b1e3de5ff0118bd8e20e8d68a by Terry Jan Reedy in branch '3.6':
[3.6] bpo-31460: Simplify the API of IDLE's Module Browser. (GH-3842) (bpo-3843)
https://github.com/python/cpython/commit/c8198c92320bc35b1e3de5ff0118bd8e20e8d68a

[2017-10-01 01:24] #75641 closed, assigned to terryjreedy

[2017-10-01 01:43] 09844748-0623-4c37-9350-082719a270a2 commented on #75834
Right now, the main loop in semlock_acquire looks like this:

    do {
        Py_BEGIN_ALLOW_THREADS
        if (blocking && timeout_obj == Py_None)
            res = sem_wait(self->handle);
        else if (!blocking)
            res = sem_trywait(self->handle);
        else
            res = sem_timedwait(self->handle, &deadline);
        Py_END_ALLOW_THREADS
        err = errno;
        if (re

[2017-10-01 01:43] 09844748-0623-4c37-9350-082719a270a2 opened #75834 "Don't release the GIL if we can acquire a multiprocessing semaphore immediately"
BPO | [31653](https://bugs.python.org/issue31653)
--- | :---
Nosy | @pitrou, @vstinner, @serhiy-storchaka, @applio
PRs | <li>python/cpython#4078</li><li>python/cpython#4091</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-10-01 01:50] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
Say we're using multiprocessing to share a counter between two processes and we want to atomically increment that counter. Right now, we need to protect that counter with a multiprocessing semaphore of some sort, then 1) acquire the semaphore, 2) read-modify-write the counter value, and 3) release the semaphore. What if we're preempted by a GIL-acquire request after step #1 but before step #3? We'

[2017-10-01 01:50] 09844748-0623-4c37-9350-082719a270a2 opened #75835 "ctypes should support atomic operations"
BPO | [31654](https://bugs.python.org/issue31654)
--- | :---
Nosy | @rhettinger, @amauryfa, @abalkin, @pitrou, @meadori, @serhiy-storchaka, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details

[2017-10-01 01:53] benjaminp commented on #75832
The docs to look at here are https://docs.python.org/3/library/io.html#io.RawIOBase.write, which points out that short writes can happen.

[2017-10-01 01:53] #75832 closed, assigned to nobody

[2017-10-01 02:06] zware commented on #75833
I expect that the root cause is missing libffi(-dev[el]) on your system, preventing \_ctypes from building, so your quick fix would be to install that and try again.

However, not having _ctypes shouldn't cause installation to fail.  Donald, is ctypes a hard requirement for pip to install itself?  If so, ensurepip as called by `make install` should either gracefully handle a lack of ctypes or be d

[2017-10-01 03:10] eryksun commented on #75832
Additionally, the FileIO documentation states the following:

    The read() (when called with a positive argument), readinto() and
    write() methods on this class will only make one system call.

The Linux man page for write() in turn states this:

    On Linux, write() (and similar system calls) will transfer at most
    0x7ffff000 (2,147,479,552) bytes, returning the number of bytes
    actua

[2017-10-01 05:16] 7745f73f-ed04-4a84-af90-687378334bb0 commented on #75832
Thank you for the follow-ups!

Wouldn't it be better if Python documentation said exactly that

On Linux, write() (and similar system calls) will transfer at most 0x7ffff000 (2,147,479,552) bytes, returning the number of bytes
actually transferred.  (This is true on both 32-bit and 64-bit
systems.)

Also, it might be nice to add a note on top, that this module is for 'low level' IO interface, and

[2017-10-01 06:11] serhiy-storchaka commented on #75834
Looks reasonable to me. Do you want to provide a patch Daniel?

[2017-10-01 06:36] serhiy-storchaka commented on #75836
Usually non-string keyword names are rejected.

[code]

There are checks in multiple places that satisfy this: in \_PyEval_EvalCodeWithName(), PyArg_ValidateKeywordArguments(), PyArg_ParseTupleAndKeywords(), etc.

But SimpleNamespace is an exception.

[code]

Non-string keys are omitted in the repr. Wouldn't be better to add also the check that keyword names for SimpleNamespace constructor are str

[2017-10-01 06:36] serhiy-storchaka opened #75836 "SimpleNamespace accepts non-string keyword names"
BPO | [31655](https://bugs.python.org/issue31655)
--- | :---
Nosy | @rhettinger, @terryjreedy, @vstinner, @bitdancer, @ericsnowcurrently, @serhiy-storchaka
PRs | <li>python/cpython#3909</li><li>python/cpython#3920</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p

[2017-10-01 06:47] serhiy-storchaka commented on #75659
I agree that a backport is still desirable.

Your plan LGTM. Implement \_\_abs__ raising an exception (test both int ant long subclasses). Make sure that no error is raised. Make sure that random() returns the same value as when seeding with an exact int and long.

[2017-10-01 08:30] serhiy-storchaka commented on #75832
This is platform-depending limitation. It can be be changed in future. In addition, there are other causes of writing not all data (see `man 2 write`).

This is not true for the module overall. And this is already documented for io.RawIOBase:

"""
Raw binary I/O typically provides low-level access to an underlying OS device or API, and does not try to encapsulate it in high-level primitives (this

[2017-10-01 08:37] serhiy-storchaka commented on #75517
New changeset 2102c789035ccacbac4362589402ac68baa2cd29 by Serhiy Storchaka (scoder) in branch 'master':
bpo-31336: Speed up type creation. (bpo-3279)
https://github.com/python/cpython/commit/2102c789035ccacbac4362589402ac68baa2cd29

[2017-10-01 08:41] serhiy-storchaka commented on #75517
Thank you for your contribution Stefan! I had doubts about your initial (much simpler) changes, but changed my mind.

[2017-10-01 08:41] #75517 closed, assigned to vstinner

[2017-10-01 08:43] scoder commented on #75517
Thanks for the reviews, and thank you for merging it, Serhiy.

[2017-10-01 08:44] serhiy-storchaka commented on #75646
I'm positive to this change in general, but this is too complex and delicate code. In needs careful reviewing.

[2017-10-01 12:02] serhiy-storchaka commented on #75807
There several bugs in the memory allocator.

Incorrectly detected the case when realloc() resizes a memory block in-place. Wrong address is used for filling the extra memory with DEADBYTE.

[code]

But fixing this exposes other problem. \_PyMem_DebugRawRealloc() is called recursively. \_PyMem_DebugRawRealloc calls api-\>alloc.realloc which is \_PyMem_DebugRawRealloc. There are two nested debug all

[2017-10-01 12:15] pitrou commented on #75489
Looks like this will not make into 3.6.3.

I'd like to sum up the discussion a bit:
- I think at the very least least we must protect the forkserver against SIGINT, like the semaphore tracker already is
- I think it's beneficial to also restart it on demand if necessary
- I can't think of a use case where the user asks "no, please don't restart the forkserver on demand" as there is no way to start

[2017-10-01 12:21] fdc08b81-f10f-4d56-a4c0-de5650414d13 commented on #75736
If you know the problem, would you also know the solution?
What is the difference in how they generate sys.path entries and how does this affect performance during execution of the module function?
Just want to understand what is going on :)

[2017-10-01 13:02] serhiy-storchaka commented on #75807
Using nested \_PyMem_DebugRawRealloc() looks suspicions to me. This may be a bug.

But even without nested \_PyMem_DebugRawRealloc() writing to the extra memory after using realloc() looks wrong to me. This can break other non-trivial system allocators which write an information past the allocated block. This can cause a segfault if unused memory pages are returned to OS.

After creating the PR I

[2017-10-01 14:29] bitdancer commented on #75836
Well, it would be an "unenhancement" (reducing functionality :).

What I think it would be classed as is an API bug fix, and those generally can be made only in feature releases.  I can imagine code depending on this ability, since we have had code in the wild that depends on the ability to put non-string keys in an object's \_\_dict__ even before SimpleNamespace existed.

(By the way, dir is brok

[2017-10-01 14:30] zooba commented on #75736
I don't really care, since you're comparing multiple unsupported technologies, but my guess is that the egg install injects the library much earlier on sys.path, which avoids most of the relatively expensive file system scan.

[2017-10-01 14:33] bitdancer commented on #75836
Sorry, not broken, it just raises a type error, which is appropriate :)

[2017-10-01 15:01] d51cb458-b85e-4ade-aa04-a03cf5b7b1c5 opened #75837 "Bitwise operations for bytes-type"
BPO | [31656](https://bugs.python.org/issue31656)
--- | :---
Nosy | @ncoghlan, @bitdancer, @vadmium, @DaGuich
Superseder | <li>bpo-19251: bitwise ops for bytes of equal length</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-10-01 15:01] d51cb458-b85e-4ade-aa04-a03cf5b7b1c5 commented on #75837
I've seen that the bytes type does not support bitwise operations, but I think users would expect that those operations will work.

[2017-10-01 15:08] dianaclarke opened #75838 "unit test for optimization levels does not cover __debug__ case"
BPO | [31657](https://bugs.python.org/issue31657)
--- | :---
Nosy | @dianaclarke, @Mariatta
PRs | <li>python/cpython#3450</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-01 15:08] dianaclarke commented on #75838
There are currently three supported optimization levels (0, 1, and 2). Briefly summarized, they do the following.

    0: no optimizations
    1: remove assert statements and __debug__ blocks
    2: remove docstrings, assert statements, and __debug__ blocks

The current compile() tests for optimization levels in [Lib/test/test_builtin.py](https://github.com/python/cpython/blob/main/Lib/test/test_b

[2017-10-01 15:30] bitdancer commented on #75837
What happens when you apply a bitwise operation to two bytes objects of unequal length?

Since the answer to that question is not obvious, we simply don't support the operation.

If you want to make a proposal for this the python-ideas mailing list would be the appropriate forum.

[2017-10-01 15:30] #75837 closed, assigned to nobody

[2017-10-01 16:09] rhettinger commented on #75836
Yes.

It is arguably a bug fix.  +0 for putting this in Python 3.6.

[2017-10-01 17:19] rhettinger commented on #75835
If Python objects are involved, it is more complicated than you suggest.  Possibly, multiprocessing can offer a shared counter that creates integer objects on demand and that offers guaranteed atomic increments and decrements (as semaphores) do.

The primary way it achieves this benefit is by avoiding shared state altogether.

[2017-10-01 17:34] pitrou commented on #75803
I don't think that follows.  Even if pthread_t is not an integer, it does have a binary representation that can be trivially converted to a arbitrary-sized Python int in Python-facing APIs such as threading.get_ident().

(and similarly, of course, for converting in the other direction e.g. for pthread_kill())

I wouldn't worry much about pthread_kill(), a little-used feature.

[2017-10-01 17:46] pitrou commented on #75835
While the use case is reasonable (if specialized), I'm not sure ctypes is the place to expose such functionality, which can be quite extensive (see https://gcc.gnu.org/onlinedocs/gcc/_005f_005fatomic-Builtins.html). Perhaps as a separate package on PyPI?

[2017-10-01 17:53] rhettinger commented on #75811
I would have thought this would be a straight pass-through to the underlying hardware FPU tan() instruction so that it would give the same answer for the same hardware regardless of O/S.

Perhaps we're seeing a software-only implementation (using CORDIC or somesuch).  If so, inputs close to a singularity are the place where the implementation is likely to fall apart (the relative error in this exa

[2017-10-01 17:55] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Oct 1, 2017 10:19 AM, "Raymond Hettinger" \<report@bugs.python.org\> wrote:

Raymond Hettinger \<raymond.hettinger@gmail.com\> added the comment:

If Python objects are involved, it is more complicated than you suggest.

Python objects are not involved. We're talking about memory manipulation on
the same level as ctypes.memmove.

Possibly, multiprocessing can offer a shared counter that creates

[2017-10-01 18:04] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Oct 1, 2017 10:46 AM, "Antoine Pitrou" \<report@bugs.python.org\> wrote:

Antoine Pitrou \<pitrou@free.fr\> added the comment:

While the use case is reasonable (if specialized),

It's not that specialized. You might want atomic updates for coordinating
with C APIs that expect callers to have this capability.

not sure ctypes is the place to expose such functionality, which can be
quite extensi

[2017-10-01 18:12] pitrou commented on #75835
Le 01/10/2017 à 20:04, Daniel Colascione a écrit :

That does sound specialized to me :-) Can you give an example of such a
C API?

I'm assuming you're suggesting to write a loop with an
atomic-compare-and-exchange.  Bytecode execution in CPython being slow,
it means you risk a lot more contention (and busy looping) than if the
primitive was written in C.  Perhaps even a semaphore would be faster

[2017-10-01 18:14] pitrou commented on #75835
Note that if there is already a C API to perform atomic ops, you can simply use ctypes to invoke that API.  Unfortunately, the aforementioned GCC builtins seem to be only available as intrinsics (at least I couldn't find a shared library that exposes the \_\_atomic_* functions on my system).

[2017-10-01 18:31] mdickinson commented on #75811
I'm fairly sure most modern OSs on x86-64 use software implementations of sin, cos and tan. At least, I hope so: the x87 hardware versions are notoriously inaccurate:

https://randomascii.wordpress.com/2014/10/09/intel-underestimates-error-bounds-by-1-3-quintillion/

[2017-10-01 18:32] mdickinson commented on #75811
So actually, the cause of the inaccuracy here could be that OpenBSD \_is_ using the hardware instructions ...

[2017-10-01 19:02] tim-one commented on #75811
Of course the relationship is extremely delicate near pi/2.  On my Windows Python 3:

[code]

Interestingly, wxMaxima on the same box reproduces the OpenBSD result:

(%i1) tan(1.5707963267948961);
(%o1) 1.978945885716843\*10^15

But I don't know how Maxima (or OpenBSD) implement tan().

[2017-10-01 19:03] benjaminp commented on #75803
You don't think having a function that takes an integer and dereferences it as memory is a bad idea?

[2017-10-01 19:05] pitrou commented on #75803
I'm not sure what you're talking about.  What function is that?

[2017-10-01 19:07] benjaminp commented on #75803
On Sun, Oct 1, 2017, at 12:05, Antoine Pitrou wrote:

signal.pthread_kill and pdox's proposed time.pthread_getcpuclockid on
https://github.com/python/cpython/pull/3756.

[2017-10-01 19:15] pitrou commented on #75803
Le 01/10/2017 à 21:07, Benjamin Peterson a écrit :

Given how specialized (and of little actual use) those functions are, I
don't think it's much of a problem if they misbehave if you deliberately
pass an invalid thread id.

At least it sounds less of a problem than breaking all code that expects
a thread id to be an integer.

(btw, pthread_getcpuclockid returns ESRCH on Linux if called with an
in

[2017-10-01 19:17] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75811
OpenBSD reduces to the range [-pi/4,pi/4]:

   https://github.com/openbsd/src/blob/master/lib/libm/src/s_tan.c

According to the man page on i386:

   http://man.openbsd.org/FreeBSD-11.0/math.3

"Argument reduction is not performed accurately for huge arguments, resulting in large errors for such arguments to cos(), sin(), and tan()."

pi/2 is not exactly "huge", but it would be interesting if thi

[2017-10-01 19:20] benjaminp commented on #75803
On Sun, Oct 1, 2017, at 12:15, Antoine Pitrou wrote:

Okay, so you think this PR is reasonable?

I suppose, though you can't usefully use it as an integer. I imagine a
comparable and hashable opaque object would be compatible with most
code.

More precisely, glibc has a heuristic check for thread id validity,
which dereferences whatever you pass in. It won't save you from
crashing.

[2017-10-01 19:25] pitrou commented on #75803
[code]

On the principle yes.  I am not interested enough in this feature to
look at the implementation.

Another possibility would be to have a new separate threading API
returning a "low-level opaque thread handle" that you could pass to
pthread_kill() and pthread_getcpuclockid().  threading.get_ident() could
still be used for logging purposes and others.

A related issue: what if you want to ca

[2017-10-01 19:34] benjaminp commented on #75803
On Sun, Oct 1, 2017, at 12:25, Antoine Pitrou wrote:

C code that provides pthread_t to Python would have to wrap it.

It's okay for the opaque object to have a int() conversion. The
important part is that threading apis don't accept ints.

[2017-10-01 19:42] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Sun, Oct 1, 2017 at 11:14 AM, Antoine Pitrou \<report@bugs.python.org\>
wrote:

Right. I performed the same search. On Windows, at least
InterlockedCompareExchange is exported from kernel32.

[2017-10-01 19:51] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Sun, Oct 1, 2017 at 11:12 AM, Antoine Pitrou \<report@bugs.python.org\>
wrote:

The Linux futex protocol, as described in man futex(7), comes to mind.
Maybe you want to manipulate C++ shared_ptr objects --- these objects also
rely on atomic operations. For these facilities, you need atomic operations
for \*correctness*. Taking a mutex as an alternative is not an option
because there is no C-sid

[2017-10-01 20:51] 7e6c45ab-cd55-40b9-9429-49bb488ca339 commented on #75839
[code]

[2017-10-01 20:51] 7e6c45ab-cd55-40b9-9429-49bb488ca339 opened #75839 "xml.sax.parse won't accept path objects"
BPO | [31658](https://bugs.python.org/issue31658)
--- | :---
Nosy | @pitrou, @scoder, @mcepl
PRs | <li>python/cpython#8564</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-01 21:01] pitrou commented on #75835
Le 01/10/2017 à 21:51, Daniel Colascione a écrit :

That's even more specialized than I expected...

Are you talking about https://bugs.python.org/issue31653? If so, it's
just waiting for an appropriate PR to be filed.

That's a compiler-dependent compiler intrinsic (or perhaps a whole range
of them, given there are different widths to cater for), an API wrapping
it, plus some documentation and te

[2017-10-01 21:13] vadmium commented on #75837
There’s already a bug open for this: bpo-19251. Only equal-length strings should be supported.

[2017-10-01 21:13] serhiy-storchaka commented on #75803
It happened not so long ago. In 3.6 and earlier "thread identifiers" are signed integers. See bpo-6532, it was massive change. This issue was deferred for long time due to the afraid of breaking the word. And it still was not tested with third-party code.

What happens for C code that uses "%lu" to format thread ids?

[2017-10-01 21:17] serhiy-storchaka commented on #75835
It is not clear to me what API is needed, but I agree with Antoine that ctypes doesn't look the appropriate place for it. Maybe in multiprocessing or subprocess, or in low-level module providing primitives for multiprocessing or subprocess?

[2017-10-01 21:33] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Sun, Oct 1, 2017 at 2:01 PM, Antoine Pitrou \<report@bugs.python.org\>
wrote:

Huh? Both are very generic.

This is a separate issue. That's about thrashing around less when we take a
lock. This issue is about process A not having to wait on process B to
schedule a thread in order to perform a simple operation on memory that
both processes own.

It's trivial and easy to support conditionally. S

[2017-10-01 21:35] 09844748-0623-4c37-9350-082719a270a2 commented on #75835
On Sun, Oct 1, 2017 at 2:01 PM, Antoine Pitrou \<report@bugs.python.org\>
wrote:

ctypes is a library for operating on native memory and working with native
functions. Performing atomic operations on memory is definitely within its
scope. Why does ctypes include memmove? Why memmove and not
compare-and-exchange? What evidence, if any, would convince you?

[2017-10-01 21:47] tim-one commented on #75811
Ah!  So it looks like OpenBSD took its math functions from Sun's fdlibm.  I believe wxMaxima does too.  That would certainly explain why they give the same answer ;-)

So who's right?  Using "bigfloats" in wxMaxima and feeding its bigfloat tan() the exact decimal value corresponding to the binary double denoted by 1.5707963267948961, it reproduces the result the test is expecting.  Ditto by writin

[2017-10-01 21:52] JulienPalard commented on #75770
Problem happen during pdflatex, I tried a local build and got:

! Package hyperref Error: Wrong DVI mode driver option \`dvipdfmx',
(hyperref)                because pdfTeX or LuaTeX is running in PDF mode.

See the hyperref package documentation for explanation.
Type  H \<return\>  for immediate help.
 ...

l.4362 \\ProcessKeyvalOptions{Hyp}

?
! Emergency stop.

[2017-10-01 21:53] pitrou commented on #75835
Le 01/10/2017 à 23:33, Daniel Colascione a écrit :

"Specialized" as in "I didn't expect anyone would want to do such a
thing in pure Python".

Because passing fds between processes was considered useful enough (it's
actually used by multiprocessing itself, for example to implement the
forkserver model).

And regardless, trying to point to other (more or less exotic) features
of the stdlib is not

[2017-10-01 22:36] ezio-melotti commented on #75770
FWIW most of the errors I met while trying to build the pdfs of the main docs were caused by the presence of non-latin1 characters.  French should be limited to the latin1 range and the error you pasted doesn't seem to be related, however that might explain while the Japanese docs are also missing (unless this issue got fixed in the meanwhile -- I haven't built the pdfs in a while).

[2017-10-01 23:11] JulienPalard commented on #75770
After an upgrade of my venv, the error is now:

Latexmk: applying rule 'pdflatex'...
Rule 'pdflatex': File changes, etc:
   Changed files, or newly in use since previous run(s):
      'faq.aux'
      'faq.out'
      'faq.toc'
Latexmk: Maximum runs of pdflatex reached without getting stable files
Latexmk: All targets (faq.pdf) are up-to-date
Latexmk: Did not finish processing file 'faq.tex':
   'pd

[2017-10-01 23:32] JulienPalard commented on #75770
One difference I see in the logs of sucessfully building the faq.tex and failing to build it is:

   Package hyperref Warning: Token not allowed in a PDF string (Unicode):

Looks like if I remove all non-ascii characters from titles, it builds again.

[2017-10-02 00:47] methane commented on #75840
Current DER_cert_to_PEM_cert() uses textwrap like this:

[code]

But textwrap is designed to break lines at word boundary.
So textwrap.fill for base64 text may be slow.

And `import textwrap` is little slow too.

We can use simple slicing instead of textwrap.

[2017-10-02 00:47] methane opened #75840 "ssl module should not use textwrap for wrapping PEM format."
BPO | [31659](https://bugs.python.org/issue31659)
--- | :---
Nosy | @methane
PRs | <li>python/cpython#3849</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-02 00:53] methane commented on #75840
For the record, this is part of `import requests`.
`import ssl` took 11 ms and `textwrap` weights 2.4 ms of it.

                    - ipaddress 2048 us (self 2048 us)
                    - textwrap 2402 us (self 2402 us)
                    - _ssl 2744 us (self 2744 us)
                        - _struct 232 us (self 232 us)
                      - struct 411 us (self 180 us)

[2017-10-02 03:12] 834e2c04-ecd2-4a99-9b10-7be18891e5d3 commented on #75841
Hi,

I've come across a problem whereby if you do an os.execv to a python3.6 virtualenv python inside python2.7 vs python3.6 then the resulting python session has a different sys.executable.

Where if you os.execv from python2.7 the sys.executable is equal to the virtualenv python

Whereas from python3.6 the resulting python session has a sys.executable of the system python.

An example of this in

[2017-10-02 03:12] 834e2c04-ecd2-4a99-9b10-7be18891e5d3 opened #75841 "sys.executable different in os.execv'd python3.6 virtualenv session in python2 vs python3"
BPO | [31660](https://bugs.python.org/issue31660)
--- | :---
Nosy | @warsaw, @vsajip, @ronaldoussoren, @ned-deily, @bitdancer, @csabella

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-02 06:14] serhiy-storchaka commented on #75842
There are issues in implementing support of request rate in robotparser.

[code]

First, a new namedtuple type is created for every entry. This is slow even with recent namedtuple optimizations, and is much slower in 3.6. This wastes a memory, since new type is created for every entry. This is definitely wrong, since req_rate is set to a namedtuple type instead of namedtuple instance. And there is

[2017-10-02 06:14] serhiy-storchaka opened #75842 "Issues with request rate in robotparser"
BPO | [31661](https://bugs.python.org/issue31661)
--- | :---
Nosy | @berkerpeksag, @serhiy-storchaka
Superseder | <li>bpo-31325: req_rate is a namedtuple type rather than instance</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-10-02 06:26] 63717aff-12c3-41e1-87b2-7c3364a858b7 commented on #75842
Hey Serhiy,

The use of namedtuple was requested specifically at a review, I didn't implement it like this initially: https://bugs.python.org/review/16099/#ps6205

I wasn't aware of the performance implications. Could you please explain to me the type vs instance in terms of performance (or point me to a resource, a quick googling didn't yield anything? How was I supposed to have coded it properly

[2017-10-02 07:02] serhiy-storchaka commented on #75842
For the performance of namedtuple type creation see bpo-28638 and https://mail.python.org/pipermail/python-dev/2017-July/148592.html. For difference between types and instance see https://docs.python.org/3/tutorial/classes.html.

[2017-10-02 07:24] ncoghlan commented on #75803
Note that it would be entirely possible to leave the Python level thread IDs alone, but change the way they were used internally to keep the thread ID distinct from the operating system level thread handle.

That would limit the adjustment to signal.pthread_kill() and other APIs that wanted to resolve the integer ID back to an OS level handle.

[2017-10-02 07:33] methane commented on #75840
New changeset b75a228af8c0553aef44e4e03763af90fbc8737f by INADA Naoki in branch 'master':
bpo-31659: Use simple slicing to format PEM cert (GH-3849)
https://github.com/python/cpython/commit/b75a228af8c0553aef44e4e03763af90fbc8737f

[2017-10-02 08:12] 6c8a72cc-9872-4016-ae96-23477ed791a8 commented on #75843
There are 3 trivial typos in [Tools/msi/uploadrelease.bat](https://github.com/python/cpython/blob/main/Tools/msi/uploadrelease.bat): "godo" instead of "goto" in lines 25 to 28.

[2017-10-02 08:12] 6c8a72cc-9872-4016-ae96-23477ed791a8 opened #75843 "trivial typos in Tools/msi/uploadrelease.bat"
BPO | [31662](https://bugs.python.org/issue31662)
--- | :---
Nosy | @ned-deily, @zooba, @akruis
PRs | <li>python/cpython#3851</li><li>python/cpython#3858</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</

[2017-10-02 09:24] 9a3932b3-89f0-4b26-92a1-e53d25187ff1 opened #75844 "pyautogui.typewrite() method doesn't work as expected."
BPO | [31663](https://bugs.python.org/issue31663)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @zware

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-02 09:24] 9a3932b3-89f0-4b26-92a1-e53d25187ff1 commented on #75844
Tried to run pyautogui.typewrite('Hello World') On IDLE terminal to type 'Hello World' string to an open notepad(say). As, i've interchanged my mouse click options(on windows OS), instead of 'Hello World' string being print to to the open notepad, i could see a right click on it.

The method pyautogui.typewrite() doesn't function as per mouse options settings on my machine.

[2017-10-02 09:24] serhiy-storchaka commented on #75845
Proposed PR adds support of three new methods in the crypt module.

1. Blowfish. It is considered as strong as SSH512 for crypt() purpose. There are several variants of this method: '2', '2a', '2b' and '2y'. '2y' looks the same as '2b', other variants have different flaws. All four are supported on FreeBSD. '2b' is the only method available on OpenBSD, hence this change also fixes crypt on OpenBSD

[2017-10-02 09:24] serhiy-storchaka opened #75845 "Add support of new crypt methods"
BPO | [31664](https://bugs.python.org/issue31664)
--- | :---
Nosy | @gpshead, @vstinner, @tiran, @serhiy-storchaka, @dstufft
PRs | <li>python/cpython#3854</li><li>python/cpython#4116</li><li>python/cpython#26526</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-10-02 09:39] vstinner commented on #75341
New changeset e6f62f69f07892b993910ff03c9db3ffa5cb9ca5 by Victor Stinner (Cornelius Diekmann) in branch 'master':
bpo-31158: Fix nondeterministic read in test_pty (bpo-3808)
https://github.com/python/cpython/commit/e6f62f69f07892b993910ff03c9db3ffa5cb9ca5

[2017-10-02 09:48] vstinner commented on #75341
Ok, fine. I merged his [PR 3852](https://github.com/python/cpython/pull/3852). I created backports to 2.7 and 3.6.

[2017-10-02 09:57] vstinner commented on #75836
Please reject non-string keys. I don't see any good reason to use non-string, and it's painful to support such CPython implementation details in other Python implementations.

[2017-10-02 09:57] vstinner commented on #75341
New changeset 66fb5ef3bb9e36187a0e5052dfd99899447df671 by Victor Stinner (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31158: Fix nondeterministic read in test_pty (GH-3808) (GH-3852)
https://github.com/python/cpython/commit/66fb5ef3bb9e36187a0e5052dfd99899447df671

[2017-10-02 09:58] vstinner commented on #75341
New changeset 20cbc1d29facead32c2da06c81a09af0e057015c by Victor Stinner in branch '2.7':
bpo-31158: Fix nondeterministic read in test_pty (bpo-3808) (bpo-3853)
https://github.com/python/cpython/commit/20cbc1d29facead32c2da06c81a09af0e057015c

[2017-10-02 09:59] vstinner commented on #75341
Thanks Cornelius Diekmann for your fix ;-)

[2017-10-02 09:59] #75341 closed, assigned to nobody

[2017-10-02 10:17] berkerpeksag commented on #75842
Thanks for the report. Your analysis is correct and this is a duplicate of bpo-31325. I'll take care of the [PR 3259](https://github.com/python/cpython/pull/3259).

[2017-10-02 10:17] #75842 closed, assigned to nobody

[2017-10-02 10:17] tiran commented on #75845
-1 on DES and NT Hash

These are very old, very bad algorithms and should no longer be used. We are in the 21th century.

[2017-10-02 10:30] serhiy-storchaka commented on #75506
What is a reason of making req_rate a named tuple?

[2017-10-02 10:32] serhiy-storchaka commented on #75842
Oh, I missed this. My report is based on the same comment on news.ycombinator.com.

[2017-10-02 11:35] bitdancer commented on #75841
virtualenv is not part of the standard library.  What happens if you use venv instead?

[2017-10-02 14:33] pitrou commented on #75691
It is.  I don't remember exactly why I had to add this, I can't reproduce any issue without it anymore...

Python signal handlers are not relevant here, we're sending SIGTERM which kills the process.

[2017-10-02 14:38] pitrou commented on #75691
It seems other people have similar issues:
https://github.com/libuv/libuv/issues/1226

Perhaps we need to relax the test on OSX :-/

[2017-10-02 14:42] pitrou commented on #75697
New changeset 1023dbbcb7f05e76053486ae7ef7f73b4cdc5398 by Antoine Pitrou in branch 'master':
bpo-31516: current_thread() should not return a dummy thread at shutdown (bpo-3673)
https://github.com/python/cpython/commit/1023dbbcb7f05e76053486ae7ef7f73b4cdc5398

[2017-10-02 14:49] vstinner commented on #75691
Antoine: "It seems other people have similar issues: https://github.com/libuv/libuv/issues/1226 Perhaps we need to relax the test on OSX :-/"

Oh thanks for the confirmation. I proposed a patch to accept -SIGKILL on macOS: [PR 3857](https://github.com/python/cpython/pull/3857).

[2017-10-02 15:09] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #74018
Should i remove the code that i wasn't able to test from the PR, and
leave such changes to someone that is able to test it?

(of course, if there is some way i can do it using a VM, please point
that out, and i would try to set up this VM.)

[2017-10-02 15:20] pitrou commented on #75697
New changeset ac6245a31f9a757db0520722c592cb7fdcb55eb0 by Antoine Pitrou (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31516: current_thread() should not return a dummy thread at shutdown (GH-3673) (bpo-3856)
https://github.com/python/cpython/commit/ac6245a31f9a757db0520722c592cb7fdcb55eb0

[2017-10-02 15:20] pitrou commented on #75697
I have now pushed the fix to master and 3.6.  Hopefully this won't break anyone's code...

[2017-10-02 15:20] #75697 closed, assigned to nobody

[2017-10-02 15:27] vstinner commented on #75691
New changeset e6cfdefa0c2f5bda177e49b228c2c7528f7c239c by Victor Stinner in branch 'master':
bpo-31510: Fix multiprocessing test_many_processes() on macOS (bpo-3857)
https://github.com/python/cpython/commit/e6cfdefa0c2f5bda177e49b228c2c7528f7c239c

[2017-10-02 15:38] #75691 closed, assigned to nobody

[2017-10-02 15:42] serhiy-storchaka commented on #75845
I concur. Initially I implemented all three methods, then removed they except Blowfish, and then re-added they back just for showing they to security experts.

[2017-10-02 15:54] zooba commented on #75843
New changeset efb560eee28b6b2418e1231573ca62574d6dc07b by Steve Dower (Anselm Kruis) in branch 'master':
bpo-31662: Fix typos in uploadrelease.bat script
https://github.com/python/cpython/commit/efb560eee28b6b2418e1231573ca62574d6dc07b

[2017-10-02 15:54] zooba commented on #75843
Thanks. It is indeed trivial, so I'll merge and backport it.

[2017-10-02 16:07] serhiy-storchaka commented on #75454
Oren, do you mind to create a backport to 2.7? miss-islington can not handle it.

[2017-10-02 16:20] zooba commented on #75843
New changeset d6201cb0e865dad116ffe46e5ea3d02e8eeb42c1 by Steve Dower (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31662: Fix typos in uploadrelease.bat script (bpo-3858)
https://github.com/python/cpython/commit/d6201cb0e865dad116ffe46e5ea3d02e8eeb42c1

[2017-10-02 16:20] #75843 closed, assigned to zooba

[2017-10-02 16:57] rhettinger commented on #75506
I don't know the original reason but it seems like a normal use of named tuples to make the data more self-describing to help with debugging and also to support field access by name, rr.requests or rr.seconds is clearer than rr[0] or rr[1].

[2017-10-02 16:59] ned-deily commented on #75841
I suspect what is being seen here is essentially a duplicate of bpo-31363. On macOS framework builds, a python launcher executable is used ([Mac/Tools/pythonw.c](https://github.com/python/cpython/blob/main/Mac/Tools/pythonw.c)) to exec the real Python interpreter binary and the launcher uses the \_\_PYVENV_LAUNCHER__ environment variable to be able to handle symlinks (work initially implemented in

[2017-10-02 17:12] serhiy-storchaka commented on #75506
This is a normal use of named tuples for adding access by name to tuple results. But req_rate never was a tuple. Nobody used rr[0].

[2017-10-02 17:24] terryjreedy commented on #75844
This tracker is for issues about improving future cpython releases on python.org.  Questions about using current python go to other forums, such as python-list.  You can also use python-list via the news.gmane.org newsgroup mirror gmane.comp.python.general.

If you ask your question elsewhere, you must give much more information.  What is pyautogui.typewrite?  It is not part of the Python stdlib.

[2017-10-02 17:24] #75844 closed, assigned to terryjreedy

[2017-10-02 18:39] tim-one commented on #75811
If someone opens a bug report with OpenBSD, or just for us to get more info, it could be useful to have a larger universe of troublesome tan inputs to stare at.  So the attached tanny.py supplies them, testing all inputs within 100 ulps of math.pi/2 (or change N=100 to whatever you like).

There are no failures on my 64-bit Win10 3.6.1.

The "correct" answers are computed by using mpmath.tan() set

[2017-10-02 18:47] merwok commented on #75748
@ means that the function is meant to be used as a decorator (the markup looks like the actual code).

staticmethod and classmethod are older than the decorator syntax, which is older than the special sphinx markup for decorators (they used to just use the function markup).

For unittest.mock.patch, its result can be used as a decorator or as a context manager, so the current markup (no @) makes s

[2017-10-02 18:50] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75454
sure

[2017-10-02 19:06] tim-one commented on #75811
Thanks for tanny-openbsd.txt, Serhiy!  OpenBSD didn't get anywhere close to the best answer on any of those 201 inputs.  I was hoping we could, e.g., test something a little more removed from pi/2 - but even its best cases in this range are hundreds of millions of ulps off :-(

[2017-10-02 19:26] terryjreedy commented on #75846
Python Setup and Usage, 3.3.1. Excursus: Setting environment variables
https://docs.python.org/3/using/windows.html#excursus-setting-environment-variables

The word 'excursus' is so rare and archaic that this is my first encounter with it.  Could we drop it?

The last paragraph starts with "To permanently modify the default environment variables, click Start and search for ‘edit environment variab

[2017-10-02 19:26] terryjreedy opened #75846 "Edit "Setting [windows] environmental variables""
BPO | [31665](https://bugs.python.org/issue31665)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-02 19:27] rhettinger commented on #75506
There is no rule that something had to be a tuple at some point in its history before becoming a named tuple.  This use seems perfectly reasonable to me.

[2017-10-02 19:42] e39eacf1-e64f-4365-8616-9d757f539e6a opened #75847 "Pandas_datareader Error Message - ModuleNotFoundError: No module named 'pandas_datareader' with module in folder"
BPO | [31666](https://bugs.python.org/issue31666)
--- | :---
Nosy | @pfmoore, @tjguk, @merwok, @zware, @zooba, @matrixise

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-02 19:43] JulienPalard commented on #75770
Problem looks like the utf8x package is not friend with tableofcontent:

- https://tex.stackexchange.com/questions/240801/utf8x-character-fails-in-the-table-of-contents-every-second-time-i-compile
- https://tex.stackexchange.com/questions/164458/pleaseinsertintopreamble-in-toc-and-header

[2017-10-02 20:04] 517ec50a-c0bc-4503-b041-270261e61905 opened #75848 "Wrong links in the gettext.NullTranslations class"
BPO | [31667](https://bugs.python.org/issue31667)
--- | :---
Nosy | @serhiy-storchaka, @Linkid
PRs | <li>python/cpython#3860</li><li>python/cpython#3886</li><li>python/cpython#4100</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.py

[2017-10-02 20:04] 517ec50a-c0bc-4503-b041-270261e61905 commented on #75848
In gettext.NullTranslations class doc [0], links to gettext and ngettext methods are not consistent.

[0] https://docs.python.org/3/library/gettext.html#the-nulltranslations-class

[2017-10-02 20:17] eryksun commented on #75846
AFAIK, the "Advanced system settings" dialog has always required administrator access. To modify the environment for just the current user, in the control panel there's "User Accounts" =\> "Change my environment variables".

[2017-10-02 21:09] serhiy-storchaka commented on #75848
Good catch linkid! [PR 3860](https://github.com/python/cpython/pull/3860) fixes these and several other gettext related links.

[2017-10-02 21:31] serhiy-storchaka commented on #75659
New changeset 13da1a60f13e173f65bb0da5ab325641d5bb99ec by Serhiy Storchaka (Oren Milman) in branch '2.7':
[2.7] bpo-31478: Prevent unwanted behavior in \_random.Random.seed() in case the arg has a bad \_\_abs__() method (GH-3596) (bpo-3845)
https://github.com/python/cpython/commit/13da1a60f13e173f65bb0da5ab325641d5bb99ec

[2017-10-02 21:35] #75659 closed, assigned to nobody

[2017-10-02 23:12] ambv commented on #75596
Related: https://bugs.python.org/issue31574

[2017-10-02 23:15] 834e2c04-ecd2-4a99-9b10-7be18891e5d3 commented on #75841
It appears the problem doesn't appear when using python3 -m venv.

Also it seems \_\_PYVENV_LAUNCHER__ is set to the virtualenv's python except when it's a python3.6 virtualenv and we os.execv from python3.6, where it's set the system python.

Should I be making an issue with the virtualenv project?

[2017-10-02 23:23] 834e2c04-ecd2-4a99-9b10-7be18891e5d3 commented on #75841
I just realised python3 sets it's own \_\_PYVENV_LAUNCHER__ and if you unset it before calling to os.execv, then the virtualenv has the correct sys.executable.

[2017-10-02 23:59] ned-deily commented on #74650
Is there more to do on this issue or can it be closed now?

[2017-10-03 00:22] warsaw commented on #75534
PEP is accepted.  PR needs review.

[2017-10-03 00:23] tim-one commented on #75811
When Sun was developing fdlibm, I was (among other things) working on a proprietary libm for Kendall Square Research.  I corresponded with fdlibm's primary author (KC Ng) often at the time.  There's no way he would have left errors this egregious slip by, or neglect careful testing near singularities.

But writing portable code at this level is very delicate, and fdlibm failed in many ways when I

[2017-10-03 03:42] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75803
If we don't want to change the type of get_ident(), there is another option.

We could have PyThread keep track of which thread ids (e.g. pthread_t) values are valid (meaning, the thread is still running). This could be tracked in a global data structure (protected by a mutex) internal to PyThread. This can be done automatically for threads created by PyThread, and threads where Python is running

[2017-10-03 04:35] f8230e64-4d73-4251-8e5a-7f32e4674e2d commented on #75849
Problem

This is a regression bug/flaw in Sphinx's doctools.js, a JS file used in its base template, and therefore got inherited to Python 3's documentation website. Python 2's documentation website is not affected because it's based on an older version of Sphinx.

There is a function in doctools.js:

/**
* workaround a firefox stupidity
* see: https://bugzilla.mozilla.org/show_bug.cgi?id=645075
\

[2017-10-03 04:35] f8230e64-4d73-4251-8e5a-7f32e4674e2d opened #75849 ""fixFirefoxAnchorBug" function in doctools.js causes navigating problem in Py3 doc in Chrome"
BPO | [31668](https://bugs.python.org/issue31668)
--- | :---
Nosy | @berkerpeksag, @fireattack, @Mariatta

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 06:02] 444a5333-691d-47d1-9316-49e7a80f62df commented on #75850
string.Template matches a $identifier with the regex [_a-z][_a-z0-9]* and re.IGNORECASE. This matches S, ſ and s, but not ß. https://github.com/python/cpython/blob/master/Lib/string.py#L78 (this code came up on python-dev)

The docs specify "any case-insensitive ASCII alphanumeric string (including underscores) that starts with an underscore or ASCII letter.". This includes S and s, but neither ſ

[2017-10-03 06:02] 444a5333-691d-47d1-9316-49e7a80f62df opened #75850 "string.Template: code, docs and PEP all disagree on definition of identifier"
BPO | [31669](https://bugs.python.org/issue31669)
--- | :---
Nosy | @warsaw, @tjol, @serhiy-storchaka
Superseder | <li>bpo-31672: string.Template should use re.ASCII flag</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org f

[2017-10-03 06:22] 4486b781-9e87-4500-b952-20149ab73698 commented on #75851
WebAssembly is tentatively spec'ed to require the application/wasm mime type for download sources:
https://github.com/WebAssembly/design/blob/master/Web.md

The mimetype module should associate .wasm with this mimetype to allow users of SimpleHTTPServer etc. to be able to easily use WebAssembly.

[2017-10-03 06:22] 4486b781-9e87-4500-b952-20149ab73698 opened #75851 "Associate .wasm with application/wasm"
BPO | [31670](https://bugs.python.org/issue31670)
--- | :---
Nosy | @bitdancer, @serhiy-storchaka, @flagxor, @tirkarthi
PRs | <li>python/cpython#3861</li>
Superseder | <li>bpo-34758: http.server module sets incorrect mimetype for WebAssembly files</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><sum

[2017-10-03 06:57] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75454
I am not sure, but ISTM that it isn't possible for the encoder to return a
unicode and not fail later.
This is because \_textiowrapper_writeflush() would call \_io.BytesIO.write()
(after it called \_PyBytes_Join()), and bytesio_write() calls PyObject_GetBuffer(),
which would raise "TypeError: 'unicode' does not have the buffer interface".

[2017-10-03 08:48] ned-deily commented on #75604
New changeset a74ce09c738c3e3aa89994bf31049cb914dca389 by Ned Deily (Zachary Ware) in branch '3.6':
[3.6] bpo-31423: Fix building the PDF documentation (GH-3693) (GH-3699)
https://github.com/python/cpython/commit/a74ce09c738c3e3aa89994bf31049cb914dca389

[2017-10-03 08:48] ned-deily commented on #75843
New changeset a51c760ddd7ad2513202e419cde90670283a6bc9 by Ned Deily (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31662: Fix typos in uploadrelease.bat script (bpo-3858)
https://github.com/python/cpython/commit/a51c760ddd7ad2513202e419cde90670283a6bc9

[2017-10-03 08:48] ned-deily commented on #75822
New changeset 2e3fd03796528a9f88f79d38e1d890af153c8e61 by Ned Deily (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31641: Allow arbitrary iterables in `concurrent.futures.as_completed()` (GH-3830) (bpo-3831)
https://github.com/python/cpython/commit/2e3fd03796528a9f88f79d38e1d890af153c8e61

[2017-10-03 08:51] ned-deily commented on #75822
Cherry picked into 3.6.3 final -\> closing

[2017-10-03 08:51] #75822 closed, assigned to ambv

[2017-10-03 08:55] JulienPalard commented on #75770
For the record, I can reproduce the issue with this minimal test file:

mdk@windhowl$ ls -lah
total 108K
drwxr-xr-x  2 mdk  mdk  4.0K Oct  2 21:15 .
drwxrwxrwt 18 root root  96K Oct  2 21:15 ..
-rw-r--r--  1 mdk  mdk   196 Oct  2 21:13 faq.tex

mdk@windhowl$ cat faq.tex
\\documentclass[a4,10pt,french]{report}

\\usepackage[utf8x]{inputenc}
\\usepackage[T1,T2A]{fontenc}
\\usepackage{babel}

\\begin

[2017-10-03 09:34] vstinner commented on #75770
Julien: Is there any reason why you want to use utf8x in specific?

https://tex.stackexchange.com/questions/13067/utf8x-vs-utf8-inputenc

"""
utf8x vs. utf8 (inputenc)
(...)
The simple answer is that utf8x is to be avoided if possible. It loads the ucs package, which for a long time was unmaintained (although there is now a new maintainer) and breaks various other things.
"""

[2017-10-03 09:47] JulienPalard commented on #75770
I personally do not care about using utf8x, it has been introduced in:

  r74549 | benjamin.peterson | 2009-08-24 12:42:36 -0500 (Mon, 24 Aug 2009) | 1 line
  fix pdf building by teaching latex the right encoding package

[code]

I tried with utf8 instead and it yielded a different set of errors, so I did not tried much. But utf8-induced bugs may be easier to fix that utf8x-induced bugs, I don't k

[2017-10-03 09:53] pitrou commented on #75721
New changeset e8c368df22c344183627e7ef882bea1683fe6dbe by Antoine Pitrou (Thomas Moreau) in branch 'master':
bpo-31540: Allow passing multiprocessing context to ProcessPoolExecutor (bpo-3682)
https://github.com/python/cpython/commit/e8c368df22c344183627e7ef882bea1683fe6dbe

[2017-10-03 09:54] vstinner commented on #75770
(Oh sorry, I misunderstand what you wrote. I understood that Python didn't use utf8x yet and you proposed to start using it.)

[2017-10-03 09:58] #75721 closed, assigned to nobody

[2017-10-03 10:46] methane commented on #75596
New changeset 1a87de7fcfa3c19f08e29047337c350b4a32b259 by INADA Naoki in branch 'master':
bpo-31415: Add `-X importtime` option (GH-3490)
https://github.com/python/cpython/commit/1a87de7fcfa3c19f08e29047337c350b4a32b259

[2017-10-03 11:00] methane opened #75852 "IntFlag makes re.compile slower"
BPO | [31671](https://bugs.python.org/issue31671)
--- | :---
Nosy | @gvanrossum, @warsaw, @rhettinger, @vstinner, @methane, @ethanfurman, @serhiy-storchaka
PRs | <li>python/cpython#3862</li><li>python/cpython#3867</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p

[2017-10-03 11:00] methane commented on #75852
flags exposed by re module are IntFlag from Python 3.4.

Since it is passed to underlying sre_parse and sre_compile,
tests in loop (e.g. `flags & SRE_FLAG_IGNORECASE`) calls
IntFlag.__and__ and creates new instance everytime.

It makes re.compile() slower.

[2017-10-03 11:13] serhiy-storchaka commented on #75800
New changeset 85c0b8941f0c8ef3ed787c9d504712c6ad3eb5d3 by Serhiy Storchaka in branch 'master':
bpo-31619: Fixed a ValueError when convert a string with large number of underscores (bpo-3827)
https://github.com/python/cpython/commit/85c0b8941f0c8ef3ed787c9d504712c6ad3eb5d3

[2017-10-03 11:15] methane opened #75853 "string.Template should use re.ASCII flag"
BPO | [31672](https://bugs.python.org/issue31672)
--- | :---
Nosy | @warsaw, @rhettinger, @ezio-melotti, @methane, @serhiy-storchaka
PRs | <li>python/cpython#3872</li><li>python/cpython#3982</li><li>python/cpython#3990</li><li>python/cpython#4483</li><li>python/cpython#5099</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current s

[2017-10-03 11:15] methane commented on #75853
Currently, strings.Template uses re.IGNORECASE without re.ASCII:

[code]

[a-z] matches against 'ı' (0x131, DOTLESS I) and 'ſ' (0x17f, LONG S).
It is not intentional, and it makes re.compile slower.

[2017-10-03 11:35] serhiy-storchaka commented on #75854
When the \_tkinter module was converted to Argument Clinic in bpo-20168, the name of the adderrorinfo method was written as "adderrinfo". This error was left unnoticed because there are no tests for this method besides bigmem tests. Today I have ran bigmem tests first time (they require 64-bit system and large amount of memory) and have found this typo. Seems these tests are not ran on any buildbo

[2017-10-03 11:35] serhiy-storchaka opened #75854 "Fix the name of Tkinter's adderrorinfo method"
BPO | [31673](https://bugs.python.org/issue31673)
--- | :---
Nosy | @serhiy-storchaka
PRs | <li>python/cpython#3864</li><li>python/cpython#3873</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detail

[2017-10-03 11:44] vstinner commented on #75855
Sometimes, the "git" step fails on buildbots. ARMv7 Ubuntu 3.x just failed on build 1481, atTue Oct 3 11:14:22 2017:

http://buildbot.python.org/all/builders/ARMv7%20Ubuntu%203.x/builds/1481/steps/git/logs/stdio

git fetch -t https://github.com/python/cpython.git master
(...)
fatal: unable to access 'https://github.com/python/cpython.git/': Failed to connect to github.com port 443: Connection time

[2017-10-03 11:44] vstinner opened #75855 "Buildbots: random "Failed to connect to github.com port 443: Connection timed out" errors"
BPO | [31674](https://bugs.python.org/issue31674)
--- | :---
Nosy | @vstinner

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 12:04] serhiy-storchaka opened #75856 "Tkinter: memory leak in splitlines() and split()"
BPO | [31675](https://bugs.python.org/issue31675)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#3866</li><li>python/cpython#3874</li><li>python/cpython#3876</li>
Dependencies | <li>bpo-31673: Fix the name of Tkinter&#x27;s adderrorinfo method</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*

[2017-10-03 12:04] serhiy-storchaka commented on #75856
There is a memory leak in Tkinter's methods splitlines() and split() when pass a string larger than 2 GiB (when encoded to UTF-8).

[2017-10-03 12:11] vstinner commented on #75596
Thank you Naoki for this nice enhancement! Tooling always help to take smart decisions on optimizations.

[2017-10-03 12:17] serhiy-storchaka commented on #75852
See also bpo-28637. Using IntFlag in the re module impacted the Python startup time. This was "fixed" by getting rid of re in site.py.

[2017-10-03 12:18] vstinner commented on #75856
Which function? Do you mean split() and splitlist() methods of tkapp? C functions \_tkinter_tkapp_split() and \_tkinter_tkapp_splitlist().

Do you know how to reproduce the memory leak?

[2017-10-03 12:27] vstinner commented on #75852
Oh, Python already accepts floating point numbers:

[code]

[2017-10-03 12:35] serhiy-storchaka commented on #75856
Just run the bigmem tests with ulimit (after fixing bpo-31673).

    (ulimit -v 4350000; ./python -m test -vuall -M4G test_tcl)

[2017-10-03 12:38] serhiy-storchaka commented on #75852
:) This is due to caching. 2.0 == 2.

[2017-10-03 12:38] serhiy-storchaka commented on #75800
New changeset b5a630f3dd30ed628e088efe7523e650087adba2 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31619: Fixed a ValueError when convert a string with large number of underscores (GH-3827) (bpo-3863)
https://github.com/python/cpython/commit/b5a630f3dd30ed628e088efe7523e650087adba2

[2017-10-03 12:40] vstinner commented on #75852
Oh, right. Strange.

[code]

[2017-10-03 12:46] serhiy-storchaka opened #75857 "test.test_imp.ImportTests.test_load_source has side effects"
BPO | [31676](https://bugs.python.org/issue31676)
--- | :---
Nosy | @brettcannon, @ncoghlan, @vstinner, @ezio-melotti, @voidspace, @ericsnowcurrently, @serhiy-storchaka, @Mariatta
PRs | <li>python/cpython#3871</li><li>python/cpython#3988</li>
Files | <li>[tests-bigmem.txt](https://bugs.python.org/file47185/tests-bigmem.txt "Uploaded as text/plain at 2017-10-03.12:47:35 by @serhiy-storchaka"): Full

[2017-10-03 12:46] serhiy-storchaka commented on #75857
I have found a strange failure when run the bigmem tests.

[code]

0:20:19 load avg: 1.04 [117/407/2] test_csv -- test_cgitb failed

It is not reproduced when run test_cgitb separately.

[2017-10-03 12:50] vstinner commented on #75852
I proposed [PR 3867](https://github.com/python/cpython/pull/3867) to fix the re.compile() cache: check flags type.

[2017-10-03 12:52] serhiy-storchaka commented on #75852
Victor, how large is performance regression of your patch?

[2017-10-03 12:55] vstinner commented on #75856
Oh, Python splitlist() doesn't seem to be documented.

Tcl SplitList documentation: https://www.tcl.tk/man/tcl/TclLib/SplitList.htm

[2017-10-03 12:58] methane opened #75858 "email.header uses re.IGNORECASE without re.ASCII"
BPO | [31677](https://bugs.python.org/issue31677)
--- | :---
Nosy | @warsaw, @ezio-melotti, @methane, @serhiy-storchaka
PRs | <li>python/cpython#3868</li><li>python/cpython#7856</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pytho

[2017-10-03 12:58] methane commented on #75858
email.header has this pattern:

https://github.com/python/cpython/blob/85c0b8941f0c8ef3ed787c9d504712c6ad3eb5d3/Lib/email/header.py#L34-L43

[code]

Since only 's' and 'i' has other lower case character, this is not a real bug.
But using re.ASCII is more safe.

Additionally, email.util has same pattern from 10 years ago, and it is not used by anywhere.
It should be removed.

[2017-10-03 13:09] serhiy-storchaka commented on #75858
Alternatively, re.IGNORECASE can be removed and [qb] replaced with [QqBb].

[2017-10-03 13:17] serhiy-storchaka commented on #75850
There is no contradiction. PEP-292 means Python 2 identifiers. Python 3 documentation was changed according to changing the definition of Python identifiers (see bpo-24351).

[2017-10-03 13:17] #75850 closed, assigned to nobody

[2017-10-03 13:40] warsaw commented on #75858
I think using re.ASCII is a good addition since RFC 2047 says:

   Generally, an "encoded-word" is a sequence of printable ASCII
   characters that begins with "=?", ends with "?=", and has two "?"s in
   between.  It specifies a character set and an encoding method, and
   also includes the original text encoded as graphic ASCII characters,
   according to the rules for that encoding method.

It'

[2017-10-03 13:47] 4fd21500-1b95-4e70-8034-507c03558639 opened #75859 "Incorrect C Function name for timedelta"
BPO | [31678](https://bugs.python.org/issue31678)
--- | :---
Nosy | @berkerpeksag, @Phobosmir
PRs | <li>python/cpython#3869</li><li>python/cpython#4274</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-10-03 13:47] 4fd21500-1b95-4e70-8034-507c03558639 commented on #75859
Documentation:

PyDateTime_DELTA_GET_MICROSECOND
https://docs.python.org/3/c-api/datetime.html#c.PyDateTime_DELTA_GET_MICROSECOND

Should be:
PyDateTime_DELTA_GET_MICROSECONDS

[2017-10-03 13:51] vstinner commented on #75852
Serhiy: "Victor, how large is performance regression of your patch?"

I tested bm_regex_compile.py of the Python performance benchmark suite:
https://pyperformance.readthedocs.io/benchmarks.html#regex-compile

My patch has no impact on \*uncached* re.compile() performances according to this benchmark.

haypo@selma$ ./python -m perf compare_to ref.json patch.json
Benchmark hidden because not signif

[2017-10-03 13:51] warsaw commented on #75853
Technically it *is* an API change since `flags` is a part of the public API.  The documentation says:

    $identifier names a substitution placeholder matching a mapping key of
    "identifier". By default, "identifier" is restricted to any case-
    insensitive ASCII alphanumeric string (including underscores) that starts
    with an underscore or ASCII letter. The first non-identifier character

[2017-10-03 14:21] vstinner commented on #75857
I bisect the bug manually and using test.bisect. I identified that the bug is triggered when you run the following 3 tests:
\---
test.test_imp.ImportTests.test_load_source
test.test_cgitb.TestCgitb.test_html
test.test_cgitb.TestCgitb.test_fonts
\---

Write these tests into "tests" file and run:

./python -m test.bisect -uall -M4G test_imp test_cgitb --matchfile=tests

[2017-10-03 14:22] vstinner commented on #75857
Sorry, run:

./python -m test -M4G test_imp test_cgitb --matchfile=tests

[2017-10-03 14:31] vstinner commented on #75857
The problem is that imp.load_source() modifies \_\_file__ of the \_\_main__ module.

Example of a file x.py:
\---
[code]

---

Output:
\---
\<module '\_\_main__' from 'x.py'\>
\<module '\_\_main__' from 'x.py\\x00'\>
\---

[2017-10-03 14:44] vstinner commented on #75857
Attached [PR 3871](https://github.com/python/cpython/pull/3871) fixes the side effect in test_imp, but I'm not sure that it's the best fix. Maybe load_source() should use a "transaction" to restore attributes on failure?

load_source() seems to be used imp.reload() for example. Do you expect this function to restore the imported module to its original state on failure?

[2017-10-03 14:58] 444a5333-691d-47d1-9316-49e7a80f62df commented on #75850
Should the PEP be clarified?

[2017-10-03 15:07] warsaw commented on #75850
PEPs aren't really intended to be ongoing specs, keeping up with implementation changes.  The documentation is pretty clear in defining identifiers as "any case-insensitive ASCII alphanumeric string (including underscores) that starts with an underscore or ASCII letter".

[2017-10-03 16:24] serhiy-storchaka commented on #75852
I don't think there is a problem which is worth to be solved by [PR 3867](https://github.com/python/cpython/pull/3867). It is very unlikely that anyone uses re functions with a pattern and float flags which accidentally matches already cached valid pattern and integer flag. If float value is passed as a flag it is likely is passed the first time. Fractional floats are rejected in any case. This is

[2017-10-03 16:31] methane commented on #75853
Thank you for pointing it out.
I removed re.A flag after compilation.

original: import time:      2310 |       9589 | string
patched:  import time:      1420 |       8702 | string

We can save about 900 us.

[2017-10-03 16:37] terryjreedy commented on #75596
This is pretty useless on Windows because you are using a clock with 15-16 milli (not micro) second resolution on Windows.  Before Victor introduced time.perf_counter, with decent behavior on all systems, timeit used different time module functions on Windows and \*nix because the two different functions had such different behavior on the two systems.  I believe it used time.clock on Windows (1 se

[2017-10-03 16:39] Mariatta commented on #75849
Is there anything to be done in CPython? It appears to be either a bug with the browser or Sphinx...

[2017-10-03 16:46] Mariatta commented on #75838
New changeset 543386b7f077d210ea0722079d68beb6c066730a by Mariatta (diana) in branch 'master':
bpo-31657: Add test coverage for the \_\_debug__ case (GH-3450)
https://github.com/python/cpython/commit/543386b7f077d210ea0722079d68beb6c066730a

[2017-10-03 16:50] f8230e64-4d73-4251-8e5a-7f32e4674e2d commented on #75849
Well, since it affects Python's site's functionality, I thought it's appropriate to report here (with components: documentation). I followed the instruction here: https://docs.python.org/3/bugs.html#documentation-bugs

It is not Sphinx's bug per se, since it has nothing to do with its software; just an ancient problematic script in template got copied here.

It is not a Chrome bug, since that scri

[2017-10-03 17:04] 7b8d8117-981c-446b-aa57-bd20aa05d04d opened #75860 "pydot missing write, write_png, etc"
BPO | [31679](https://bugs.python.org/issue31679)
--- | :---
Nosy | @zware
Files | <li>[ML_ex2.py](https://bugs.python.org/file47186/ML_ex2.py "Uploaded as text/plain at 2017-10-03.17:04:17 by jbrearley")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub

[2017-10-03 17:04] 7b8d8117-981c-446b-aa57-bd20aa05d04d commented on #75860
I have successfully installed Graphviz tool from http://graphviz.org, updated my PATH variable appropriately and can generate .PNG files using Python module Graphviz with WinPython 3.6.1. However, I cannot get anywhere using the pydot V1.2.3 module in the same environment.

The online help suggests that there there are write & write_png members but I can find no trace of them. My sample script is

[2017-10-03 17:13] zware commented on #75860
pydot is not part of the standard library; you'll need to find their issue tracker (looks like maybe https://github.com/erocarrera/pydot/issues?) and open a ticket there.

[2017-10-03 17:13] #75860 closed, assigned to nobody

[2017-10-03 18:11] bitdancer commented on #75851
We generally wait for something a bit stronger than "tentatively" before adding a mime type (ie: an actual submission to the relevant standards channel).

[2017-10-03 18:20] cc11ee67-45e4-40f4-8506-6e56835e67cb commented on #75764
Issue also effects 3.5

[2017-10-03 18:27] bitdancer commented on #75764
3.5 is in security-fix-only mode, and we use versions to indicate which versions we plan to fix the bug in.

[2017-10-03 18:29] cc11ee67-45e4-40f4-8506-6e56835e67cb commented on #75764
Gotcha, sorry about that. Active uses 3.5, so I guess I would take it up
with them?

On Oct 3, 2017 2:27 PM, "R. David Murray" \<report@bugs.python.org\> wrote:

[2017-10-03 18:37] serhiy-storchaka commented on #75854
New changeset 929b40a601db868530d6beaafb3256822103a7fb by Serhiy Storchaka in branch 'master':
bpo-31673: Fixed typo in the name of Tkinter's method adderrorinfo(). (bpo-3864)
https://github.com/python/cpython/commit/929b40a601db868530d6beaafb3256822103a7fb

[2017-10-03 18:55] bitdancer commented on #75764
Yes, redistributors sometimes backport non-security fixes if they consider them important enough.

Note that I haven't evaluated the merits of this issue, and there is a related issue about how 2to3 finds its fixers that this may overlap with.

[2017-10-03 19:39] serhiy-storchaka opened #75861 "Expose curses library name and version on Python level"
BPO | [31680](https://bugs.python.org/issue31680)
--- | :---
Nosy | @Yhg1s, @terryjreedy, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#4217</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></d

[2017-10-03 19:39] serhiy-storchaka commented on #75861
The name and the version of the curses library are needed for work around bugs in old versions or skip tests on platforms that provide broken curses library (like OpenBSD providing ncurses 5.7).

The curses and \_curses modules provide the attribute "version" (= b'2.2'), but this is just a version of the module.

[2017-10-03 19:39] serhiy-storchaka commented on #75854
New changeset fcc832a4fafcbbaca5484ed0274935e14c9dcf6b by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31673: Fixed typo in the name of Tkinter's method adderrorinfo(). (GH-3864). (bpo-3873)
https://github.com/python/cpython/commit/fcc832a4fafcbbaca5484ed0274935e14c9dcf6b

[2017-10-03 19:39] 308d1678-b02d-445e-978b-e5e183845395 opened #75862 "pkgutil.get_data() leaks open files in Python 2.7"
BPO | [31681](https://bugs.python.org/issue31681)
--- | :---
Nosy | @merwok, @elprans
PRs | <li>python/cpython#3875</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 19:39] 308d1678-b02d-445e-978b-e5e183845395 commented on #75862
pkgutil.get_data() does this:

[code]

which very obviously leaks open file descriptors.  This has been fixed in 3.x by https://github.com/python/cpython/commit/1ab58dfb12dedb7, but never backported to 2.7.

[2017-10-03 19:39] serhiy-storchaka commented on #75856
New changeset 27c623c845dd6e4b8e1782666ca3a956636da266 by Serhiy Storchaka in branch 'master':
bpo-31675: Fix memory leaks in Tkinter's methods splitlist() and split() (bpo-3866)
https://github.com/python/cpython/commit/27c623c845dd6e4b8e1782666ca3a956636da266

[2017-10-03 19:41] vstinner commented on #75861
How can we get the ncurses version?

[2017-10-03 19:44] vstinner commented on #75861
On Fedora 26, /usr/include/ncurses/curses.h contains:
\---
[code]

---

You want to expose such versions? Do you know if there are "curses" implementations different than GNU ncurses?
https://www.gnu.org/software/ncurses/

I'm asking to know how other implementations expose their versions.

[2017-10-03 19:45] vstinner commented on #75861
If there are known issues depending on the ncurses version, it may help to export this version in the test.pythoninfo utility. Do you have an example of known bug? Do we already skip tests depending on the ncurses version?

[2017-10-03 20:14] cc11ee67-45e4-40f4-8506-6e56835e67cb commented on #75764
Inserting (with 12 spaces)

[code]

at lines 83 and 84 works as a temporary workaround.  `StdoutRefactoringTool` is not receiving an `output_dir` from `option`, which seems to only be an issue when `--add-sufix` is used.

[2017-10-03 20:50] serhiy-storchaka commented on #75856
New changeset a65b2420f681c45db43e94bfe3dc50ad1dfcd03d by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31675: Fix memory leaks in Tkinter's methods splitlist() and split() (GH-3866) (bpo-3874)
https://github.com/python/cpython/commit/a65b2420f681c45db43e94bfe3dc50ad1dfcd03d

[2017-10-03 21:33] zware commented on #75804
As 3.4 is in security-fix-only mode, it's up to Larry whether this can be merged.  The patch looks fine as far as I can tell, but I can't test it.

Note, though, that you are likely to be the only person on Earth using this installer, since there will be no more binary releases of 3.4, the installer was swapped out for 3.5, and the maintainer of the old installer has been away for several years no

[2017-10-03 21:36] c5226a7f-63fe-40fd-a30d-0c2bc56bcba9 commented on #75863
Hello, I'm a newbie at Python. I am trying to download Twister to be able to run hardware tests, and it gives me Exception: Cannot import `win32api`!.
I downloaded 'win32_221' and added it to C:\Python27\Scripts

It is still giving me the same error.

This is what I got

TWISTER_PATH is set to `C:\Users\user\Documents\Twister-git_hub_branch\client\executionprocess`.

[code]

[2017-10-03 21:37] c5226a7f-63fe-40fd-a30d-0c2bc56bcba9 opened #75863 "Exception: Cannot import `win32api`!"
BPO | [31682](https://bugs.python.org/issue31682)
--- | :---
Nosy | @zware, @strawberrysandcream

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 21:40] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75864 "a stack overflow on windows in faulthandler._fatal_error()"
BPO | [31683](https://bugs.python.org/issue31683)
--- | :---
Nosy | @vstinner, @orenmn
PRs | <li>python/cpython#3878</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 21:40] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75864
On my 64-bit Windows 10, the echo here would print -1073741571:
python -c "import faulthandler; faulthandler.\_fatal_error(b'a' * 2 ** 22)"
echo %errorlevel%

This is code c00000fd, which windbg describes as 'Stack overflow'.
This happens because Py_FatalError() (in [Python/pylifecycle.c](https://github.com/python/cpython/blob/main/Python/pylifecycle.c)) does the following
(on Windows only):
    l

[2017-10-03 21:44] zware commented on #75863
win32api is part of the third-party pywin32 package, which is most easily installed by running `C:\Python27\python.exe -m pip install pypiwin32`.  For further assistance, please try either the comp.lang.python list at python-list@python.org, the pywin32 list at python-win32@python.org, or the #python channel on freenode.

[2017-10-03 21:44] #75863 closed, assigned to nobody

[2017-10-03 21:44] #75854 closed, assigned to serhiy-storchaka

[2017-10-03 21:46] 6fd3d553-ff50-40bd-a9a1-836658cb1a33 opened #75865 "Scientific formatting of decimal 0 different from float 0"
BPO | [31684](https://bugs.python.org/issue31684)
--- | :---
Nosy | @rhettinger, @facundobatista, @mdickinson, @ericvsmith, @skrah, @asmeurer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 21:46] 6fd3d553-ff50-40bd-a9a1-836658cb1a33 commented on #75865
[code]

Note the decimal uses e+19 instead of e+00. Obviously it's still mathematically correct, but it's annoying to have anything other than e+00 for a 0 value.

[2017-10-03 21:54] serhiy-storchaka commented on #75861
Yes, this is what I meant. The version should be exposed as a tuple (major, minor, patch) or as a special named tuple. I don't know what to do with other implementations. NCURSES_VERSION_MAJOR is not a part of standard. One solution -- set the version to (0, 0, 0) for unknown implementations. Or expose ncurses version as optional ncurses_version, and expose versions for other known implementations

[2017-10-03 22:07] e1dda8dd-c161-48c7-8517-2475181033ea commented on #75738
This bug is not platform specific.

[code]

[code]

For some background, this bug was original filed against the Go standard library (for which I am the maintainer of the Go implementation of tar). When I investigated the issue, I discovered that Go was doing the right thing, and that the discrepancy was due to the check I pointed to earlier. The GNU tool indicates that this is a regular file as w

[2017-10-03 22:11] c5226a7f-63fe-40fd-a30d-0c2bc56bcba9 opened #75866 "Cannot connect to CE path `127.0.0.1:8010`"
BPO | [31685](https://bugs.python.org/issue31685)
--- | :---
Nosy | @zware, @strawberrysandcream

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-03 22:11] c5226a7f-63fe-40fd-a30d-0c2bc56bcba9 commented on #75866
Is there any reason it cannot connect to CE path?

C:\\Users\\Documents\\Twister-git_hub_branch\\client\\executionprocess\>ExecutionProcess.py -u user -e EP-name -s 127.0.0.1:8010

TWISTER_PATH is set to `C:\Users\Documents\Twister-git_hub_branch\client\executionprocess`.

Catching `Ctrl + C` signal OK.

Portable mode: Appending `C:\Users\Documents\Twister-git_hub_branch` to python path.

EP Info:

[2017-10-03 22:51] vstinner commented on #75861
I suggest:

[code]

Similar example, the readline module uses:

[code]

readline has two famous implementations: GNU readline and editline. editline reuses GNU readline constants, but the string mentions "editline". Example on macOS El Capitain (test.pythoninfo output):

readline.\_READLINE_LIBRARY_VERSION: EditLine wrapper
readline.\_READLINE_RUNTIME_VERSION: 0x402
readline.\_READLINE_VERSION: 0x

[2017-10-03 22:53] 4486b781-9e87-4500-b952-20149ab73698 commented on #75851
Tentative might be an understatement.
There was 4 browser sign-off on using that mime type within the WebAssembly CG, which has drafted the spec so far.
We're in the process of handing v1 of the spec off to the WebAssembly Working Group on our way to a good and proper W3C REC.
However, use of the mime type is already shipping in Chrome and I believe on the way with other browsers (and just got add

[2017-10-03 23:11] zware commented on #75866
This issue does not appear to have anything to do with the CPython interpreter or standard library, and this issue tracker is not a help forum.  Please try python-list@python.org for assistance, but you'll need to provide the other users of the list significantly more detail about what you're trying to do and how to get any kind of meaningful help.

[2017-10-03 23:11] #75866 closed, assigned to nobody

[2017-10-03 23:12] serhiy-storchaka commented on #75851
Yes, updates of the mimetype database usually are backported to 2.7.

[2017-10-03 23:20] bitdancer commented on #75851
Yes, if/when it goes in it will go in to all currently maintained versions.  I've adjusted 'versions' accordingly.

[2017-10-03 23:48] df410231-3632-4aef-84bb-7badefc7f456 opened #75867 "GZip library doesn't properly close files"
BPO | [31686](https://bugs.python.org/issue31686)
--- | :---
Nosy | @iritkatriel
Files | <li>[gzipBug.py](https://bugs.python.org/file47189/gzipBug.py "Uploaded as text/plain at 2017-10-03.23:48:08 by Jake Lever"): Example code</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more detai

[2017-10-03 23:48] df410231-3632-4aef-84bb-7badefc7f456 commented on #75867
The attached code is designed to output compressed data to a gzip file. It creates two GzipFile objects, but only one is really used. It seems that it doesn't clean up and close the file properly.

In Py2, the attached code will fail. The output file (debug.txt.gz) will be corrupt. However if the self.unused line is commented out, it works and the file is not corrupted.

In Py3, a sys.exit call at

[2017-10-03 23:57] vstinner commented on #75864
I proposed [PR 3878](https://github.com/python/cpython/pull/3878) to replace alloca() with a fixed buffer of 256 bytes.

[2017-10-04 01:02] methane commented on #75596
https://github.com/python/cpython/blob/27c623c845dd6e4b8e1782666ca3a956636da266/Modules/timemodule.c#L80-L112

time module has perf_counter implementation based on QueryPerformanceCounter().

Could we change PyTime_GetMonotonicClock implementation to use it on Windows?

I don't want to so much code to import.c.  But if pytime.c has nice clock
for fine grained monotonic performance counter, I want

[2017-10-04 01:14] vstinner commented on #75596
No. See the PEP-418 for the rationale.

But we could add a \_PyTime_GetPerfCounter() to [Python/pytime.c](https://github.com/python/cpython/blob/main/Python/pytime.c).

[2017-10-04 01:58] rhettinger commented on #75852
When proposing to undo recent decisions, please add the people to the nosy list who were involved in making that decision in the first place.

[2017-10-04 02:03] methane commented on #75852
I don't propose reverting IntFlag.
I just propose convert IntFlag to int in re module, before passing it to sre_compile.
So this change is not visible to re users.

[2017-10-04 03:47] methane commented on #75858
New changeset bf477a99e0c85258e6573f4ee9eda68fa1f98a31 by INADA Naoki in branch 'master':
bpo-31677: email: Remove re.IGNORECASE flag (GH-3868)
https://github.com/python/cpython/commit/bf477a99e0c85258e6573f4ee9eda68fa1f98a31

[2017-10-04 03:51] methane commented on #75858
I'm sorry, I've committed before reading this.
But I think it's not problem, because re.IGNORECASE doesn't affect to
"(?P\<charset\>[^?]*?)" pattern.

[2017-10-04 03:51] #75858 closed, assigned to nobody

[2017-10-04 05:34] rhettinger commented on #75853
When optimizing, please don't make API changes.

[2017-10-04 05:55] serhiy-storchaka commented on #75853
Yet one way -- make re.ASCII a local flag. Than we could just change the idpattern attribute to r'(?a:[_a-z][_a-z0-9]*)', without touching the flags attribute.

[2017-10-04 06:23] mdickinson commented on #75865
The aim here is to capture the original Decimal value where possible, including the exponent information. (Unlike floats, trailing zeros in a `Decimal` instance are significant.)

[code]

[2017-10-04 06:24] methane commented on #75853
This is not only optimization, but bugfix.

Document of string.Template says:

So, missing re.ASCII flag is bug because non-ASCII alphabet can be matched.

[2017-10-04 06:29] methane commented on #75853
https://docs.python.org/3.6/library/re.html#regular-expression-syntax says
`(?imsx-imsx:...)`

Anyway, Template.idpattern is documented public API too.

[2017-10-04 06:37] methane commented on #75853
Current pull request override `Template.flags = re.I` after class creation for backward compatibility, without any API change.

But I'm not sure it's right approach.
How many people who subclass string.Template expect non-ASCII match?
If this change is bugfix for 99% of subclasses, why should we keep pitfall?

[2017-10-04 06:40] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75738
Try 'tar xvf test.tar'. On Linux machine at least, it is in fact producing a tree of directories. Not a single file. So - in a way what Python is reporting is correct.

[2017-10-04 09:36] vstinner commented on #75868
Recent example of the slow and busy (load of 8.05 with 2 CPUs) x86 Gentoo Refleaks 3.6 buildbot:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.6/builds/111/steps/test/logs/stdio

[code]

[2017-10-04 09:36] vstinner opened #75868 "test_semaphore_tracker() of test_multiprocessing_spawn fails randomly (race condition?)"
BPO | [31687](https://bugs.python.org/issue31687)
--- | :---
Nosy | @ncoghlan, @vstinner, @subler

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 10:06] vstinner commented on #75852
Nice speedup!

I ran a benchmark on [PR 3862](https://github.com/python/cpython/pull/3862):

 1002  ./python \~/prog/python/performance/performance/benchmarks/bm_regex_compile.py --inherit=PYTHONPATH -v -o patch.json
 1003  git co master
 1004  make
 1005  ./python \~/prog/python/performance/performance/benchmarks/bm_regex_compile.py --inherit=PYTHONPATH -v -o ref.json
 1007  ./python -m perf comp

[2017-10-04 12:09] ericvsmith commented on #74650
I think it's fixed. Closing.

[2017-10-04 12:09] #74650 closed, assigned to ambv

[2017-10-04 12:33] methane commented on #75852
Thank you for benchmarking.  I've added news entry about it.

[2017-10-04 12:33] a70a9bed-263a-4329-a21d-5e9667768f1a commented on #75869
there should be an error when this code is run. as  I have not defined the arguments (I was told by my computer science teacher that it should not work in theory) and parameters but it clearly works.

[2017-10-04 12:33] a70a9bed-263a-4329-a21d-5e9667768f1a opened #75869 "scope error"
BPO | [31688](https://bugs.python.org/issue31688)
--- | :---
Nosy | @terryjreedy, @mdickinson, @bitdancer
Files | <li>[pythonerror.jpg](https://bugs.python.org/file47190/pythonerror.jpg "Uploaded as image/png at 2017-10-04.12:33:34 by abdullah patel"): jpg</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<det

[2017-10-04 12:53] 33d57e24-160a-4e02-8f5d-24c11f3c93cf opened #75870 "random.choices does not work with negative weights"
BPO | [31689](https://bugs.python.org/issue31689)
--- | :---
Nosy | @rhettinger, @mdickinson, @davecom, @tewhalen, @aldwinaldwin

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 12:53] 33d57e24-160a-4e02-8f5d-24c11f3c93cf commented on #75870
Code to reproduce problem:

[code]

will raise IndexError:

    358         bisect = \_bisect.bisect
    359         total = cum_weights[-1]
--\> 360         return [population[bisect(cum_weights, random() * total)] for i in range(k)]
    361
    362 ## -------------------- real-valued distributions  \-------------------

IndexError: list index out of range

[2017-10-04 13:11] vstinner commented on #75852
Naoki: "I've added news entry about it."

Nice. You might also mention the "optimization" in What's New in Python 3.7 doc, in the Optimisations section. The issue here is that it's only faster than Python 3.6, but Python 3.6 was slower than 3.5 :-) The "optimization" just makes Python 3.7 as fast as Python 3.5 ... :-)

[2017-10-04 13:18] mdickinson commented on #75870
@ariddell: What behaviour did you want to see here?

It wouldn't have occurred to me to even try using `random.choices` with negative weights; forcing the weights to be nonnegative (with strictly positive sum) sounds like a natural restriction.

[2017-10-04 13:23] serhiy-storchaka commented on #75800
I missed the issue mentioned by Mark [msg303331](https://bugs.python.org/msg303331). I looked at the type of n, and okay, it is Py_ssize_t. But I forgot to check the type of digits and bits_per_char, and it is int. My fix doesn't guard from integer overflow.

The following PR fixes this. It also tries to guard against integer overflow in other place. Unfortunately there is yet one issue with that

[2017-10-04 13:31] serhiy-storchaka commented on #75852
Did you compare the benchmarking results against 3.7 or 3.6?

[2017-10-04 13:34] vstinner commented on #75852
My lasted benchmark is on the master branch: original code ("ref") vs code patched with [PR 3862](https://github.com/python/cpython/pull/3862) ("patch").

[2017-10-04 13:42] mdickinson commented on #75869
The code looks fine to me; I don't see any reason to expect an error.

What error were you expecting, and why?

[2017-10-04 13:47] serhiy-storchaka commented on #75852
It makes sense to report the performance gain only in comparison with the previous released version. I expect that re compiling is slower in 3.7 due to new features and optimizations. Generating more optimal code takes a time.

[2017-10-04 13:50] vstinner commented on #75852
I don't really care if Python 3.7 is still slower than 3.6 with [PR 3862](https://github.com/python/cpython/pull/3862). The speedup is significant, the change is short and safe, so the PR LGTM :-) We can implement further optimizations later ;-)

By the way, speed.python.org can be used to track performances over time. Sadly, I didn't have much time to take care of the website: run manually to job

[2017-10-04 13:57] warsaw commented on #75853
On Oct 4, 2017, at 02:29, INADA Naoki <report@bugs.python.org> wrote:

Too bad, because I like that approach.  How hard would it be to add support for ‘a’ as a local flag?  (I’m kind of surprised that it isn’t already supported - it seems like it would be useful.)

I would like this better than hacking Template.flags after the fact.  It seems like the right way to align the code with the documenta

[2017-10-04 14:02] serhiy-storchaka opened #75871 "Make RE "a", "L" and "u" inline flags local"
BPO | [31690](https://bugs.python.org/issue31690)
--- | :---
Nosy | @warsaw, @ezio-melotti, @serhiy-storchaka
PRs | <li>python/cpython#3872</li><li>python/cpython#3885</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fiel

[2017-10-04 14:02] serhiy-storchaka commented on #75871
Currently re supports local inline flags. 'a(?i:b)' matches 'a' cases-sensitively, but 'b' case-insensitively. But flags 'a' and 'L' can't be scoped to a subpattern. The 'u' flag currently just redundant, it doesn't make effect in string patterns, and is not allowed in bytes patterns. They can be applied only to the whole pattern. I think it would be nice to make them local.

The example of the pr

[2017-10-04 14:05] serhiy-storchaka commented on #75853
See bpo-31690. But this solution can be used only in 3.7.

[2017-10-04 14:07] warsaw commented on #75858
On Oct 3, 2017, at 23:51, INADA Naoki \<report@bugs.python.org\> wrote:

I think you’re change is fine, no need to revert or modify it.

[2017-10-04 14:08] warsaw commented on #75853
On Oct 4, 2017, at 10:05, Serhiy Storchaka \<report@bugs.python.org\> wrote:

That’s fine.  I don’t think this is important enough to backport.

[2017-10-04 14:41] 33d57e24-160a-4e02-8f5d-24c11f3c93cf commented on #75870
Upon some reflection, I think raising a ValueError is the right thing to do. Negative weights don't have an obvious interpretation.

[2017-10-04 15:09] eb193824-a002-4e53-a73b-be75738ef3f2 opened #75872 "Include missing info on required build steps and how to build installer"
BPO | [31691](https://bugs.python.org/issue31691)
--- | :---
Nosy | @zooba, @native-api
PRs | <li>python/cpython#4426</li><li>python/cpython#4427</li><li>python/cpython#4428</li><li>python/cpython#4429</li><li>python/cpython#4430</li><li>python/cpython#4431</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<de

[2017-10-04 15:09] eb193824-a002-4e53-a73b-be75738ef3f2 commented on #75872
Current build instructions no not mention required preliminary steps before building the solution and don't say how to build the installer package - which is the ultimate goal of a build.

Being on XP at the moment, I cannot check the validity of build instructions for other branches. Maybe they can use this info as well.

[2017-10-04 15:42] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 opened #75873 "[2.7] Test `test_huntrleaks()` of test_regrtest fails in debug build with COUNT_ALLOCS"
BPO | [31692](https://bugs.python.org/issue31692)
--- | :---
Nosy | @vstinner, @benjaminp, @serhiy-storchaka, @stratakis, @irushchyshyn
PRs | <li>python/cpython#3910</li><li>python/cpython#3927</li><li>python/cpython#4019</li>
Files | <li>[00125-less-verbose-COUNT_ALLOCS.patch](https://bugs.python.org/file47196/00125-less-verbose-COUNT_ALLOCS.patch "Uploaded as text/plain at 2017-10-06.20:36:32 by

[2017-10-04 15:42] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 commented on #75873
The newly added `test_huntrleaks` test is failing on Python 2.7.14 debug build with COUNT_ALLOCS.

\======================================================================
FAIL: test_huntrleaks (test.test_regrtest.ArgsTestCase)
\----------------------------------------------------------------------
[code]

----------------------------------------------------------------------

On Python 2.7.14 debu

[2017-10-04 15:52] ethanfurman commented on #75852
IntFlag.\_\_and__ does not create a new instance every time -- all new instances are cached in the IntFlag machinery (so RegexFlag(7) is only created once).

If all the RegexFlag combinations are created before the regex compile benchmark do we still see a speed-up?

[2017-10-04 16:02] warsaw opened #75874 "Document Py_GETENV"
BPO | [31693](https://bugs.python.org/issue31693)
--- | :---
Nosy | @warsaw
PRs | <li>python/cpython#3890</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 16:02] warsaw commented on #75874
I already added a section to the C API docs for some useful macros.  I didn't know about this one when I did that, but it seems like a useful macro to document, so I will do that.

[2017-10-04 16:19] cbf13ede-eda8-4246-abee-98732ce73413 commented on #75804
using this installer, since there will be no more binary releases of 3.4

Since this is the last release for XP, probably the ppl who are stuck on
this OS as well. An installable package is a must for any
maintainability to speak of. The lack of a binary release is actually
going to be a boost for its use, here :-)

I also had trouble discovering this script in the first place since it's
not menti

[2017-10-04 16:37] zware commented on #75804
If you're still on XP, security is obviously not a big concern and you're just as well off to stick with 3.4.4 :)

[2017-10-04 16:48] bitdancer commented on #75869
Yes, this conforms to Python's namespace/scoping rules: nested scopes are allowed to reference (but not assign to) variables from the global scope even without a 'global' declaration.

[2017-10-04 16:48] #75869 closed, assigned to nobody

[2017-10-04 16:50] vstinner commented on #75864
New changeset 8d5a3aad2f805dc0ea40829b751f58aa6c75305d by Victor Stinner in branch 'master':
bpo-31683: Py_FatalError() now supports long error messages (bpo-3878)
https://github.com/python/cpython/commit/8d5a3aad2f805dc0ea40829b751f58aa6c75305d

[2017-10-04 16:54] serhiy-storchaka commented on #75871
[PR 3885](https://github.com/python/cpython/pull/3885) is a preliminary but working implementation. Needed new tests and documentation.

[code]

The engine now uses separate opcodes for case-insensitive matching in ASCII, UNICODE and LOCALE modes. It may cause small speed up of matching, but slow down of compiling.

[2017-10-04 16:54] brettcannon commented on #75857
The whole imp module is deprecated so I'm personally not bothered by imp.load_source() not being strengthened to be more sane.

[2017-10-04 17:09] serhiy-storchaka commented on #74582
New changeset 0b5e61ddca73ad4fe597fb15065115b0285c8849 by Serhiy Storchaka in branch 'master':
bpo-30397: Add re.Pattern and re.Match. (bpo-1646)
https://github.com/python/cpython/commit/0b5e61ddca73ad4fe597fb15065115b0285c8849

[2017-10-04 17:19] #74582 closed, assigned to serhiy-storchaka

[2017-10-04 17:21] e1dda8dd-c161-48c7-8517-2475181033ea commented on #75738
It creates a number of nested directories only because GNU (and BSD) tar implicitly create missing parent directories. If you cd into the bottom-most folder, you will see "foo.txt".

[2017-10-04 17:24] serhiy-storchaka commented on #74589
If there is a need in making redirected stdout line-buffered, a new option can be added in separate issue.

[2017-10-04 17:25] serhiy-storchaka commented on #74589
New changeset 77732be801c18013cfbc86e27fcc50194ca22c8e by Serhiy Storchaka in branch 'master':
bpo-30404: The -u option now makes the stdout and stderr streams totally unbuffered. (bpo-1667)
https://github.com/python/cpython/commit/77732be801c18013cfbc86e27fcc50194ca22c8e

[2017-10-04 17:26] #74589 closed, assigned to nobody

[2017-10-04 17:28] serhiy-storchaka commented on #75848
New changeset c02a1f4ad8fcdbffad2911c5a31c71a17a89d713 by Serhiy Storchaka in branch 'master':
bpo-31667: Fix gettext related links. (bpo-3860)
https://github.com/python/cpython/commit/c02a1f4ad8fcdbffad2911c5a31c71a17a89d713

[2017-10-04 17:40] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75865
Yes, from the point of view of decimal it's the right thing:

[code]

The original magnitude should be traceable (the example is not
perfect but the first thing that quickly came to mind).

[2017-10-04 17:44] 6fd3d553-ff50-40bd-a9a1-836658cb1a33 commented on #75865
I guess I would expect that to be captured by the number of zeros printed (and obviously doing a string format operation with a set number of digits destroys that information).

[2017-10-04 17:48] terryjreedy commented on #75869
Abdullah, in the future, please upload or post runnable Python code, not an image.  Output can be copied into a message.  If you think IDLE is doing something wrong, test by running the code directly with Python.  If your file is test.py, enter the following on a Command Prompt command line.
path-to-your-python-code-dir\> python -m test.py

There would only be an IDLE issue (and then only maybe) i

[2017-10-04 18:06] serhiy-storchaka commented on #75848
New changeset ed77fbffa5bf81c8d16700370fe8bb63bbae1428 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31667: Fix gettext related links. (GH-3860) (bpo-3886)
https://github.com/python/cpython/commit/ed77fbffa5bf81c8d16700370fe8bb63bbae1428

[2017-10-04 18:11] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75865
I don't think format() destroys the information:

[code]

The original magnitude was e+15, after formatting it's still e+15.

[2017-10-04 18:25] Mariatta commented on #75838
Thanks for this enhancement, Diana.

Since PR has been merged, and backport is not needed, I think this can be closed now. :)

[2017-10-04 18:25] #75838 closed, assigned to nobody

[2017-10-04 18:36] 6fd3d553-ff50-40bd-a9a1-836658cb1a33 commented on #75865
I meant that format() destroys information in a decimal in general. Obviously if you have n digits of precision and format with m \< n, then you lose information.

I also can't help but feel that we're mixing up "trailing zeros" (i.e., precision), and "exponent" (magnitude), which should be orthogonal. I'm assuming that a decimal is represented internally as base\*10\*\*exponent. I'm also assuming

[2017-10-04 18:37] serhiy-storchaka commented on #75856
New changeset 328b5d0e64798cf17360c6b2a07c2b18f2798b88 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31675: Fix memory leaks in Tkinter's methods splitlist() and split() (GH-3866) (bpo-3876)
https://github.com/python/cpython/commit/328b5d0e64798cf17360c6b2a07c2b18f2798b88

[2017-10-04 18:52] ddf74a51-5f28-44b3-89e3-5080a0864212 opened #75875 "Running Windows installer with LauncherOnly=1 should not register the version as installed"
BPO | [31694](https://bugs.python.org/issue31694)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @uranusjr

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 18:52] ddf74a51-5f28-44b3-89e3-5080a0864212 commented on #75875
After running

    python-3.6.2-amd64.exe /quiet LauncherOnly=1

Python 3.6.2 is registered as installed, even though nothing is actually installed.

Running the installer again at this point shows an error indicating “this product is already installed”, and does not show me the usual repair/modify/uninstall options.

I have to run uninstallation with Control Panel before the installer works again

[2017-10-04 19:02] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75865
No, 0 is really special in the IBM specification. The magnitude is
kept, the precision is not.

[code]

So we're basically doing the reverse of the above in formatting when a
precision is given.

[2017-10-04 19:02] #75856 closed, assigned to serhiy-storchaka

[2017-10-04 19:22] serhiy-storchaka opened #75876 "Improve bigmem tests"
BPO | [31695](https://bugs.python.org/issue31695)
--- | :---
Nosy | @pitrou, @vstinner, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 19:22] serhiy-storchaka commented on #75876
I think that the process of running bigmem tests should be improved.

1. Every bigmem test should run in separate process. It's effect on memory fragmentation shouldn't affect other tests.

2. Only one bigmem test should be run at the same time. Otherwise several parallel bigmem tests  can exhaust RAM and lead to swapping. In multiprocessing mode the process running a bigmem test should send a sig

[2017-10-04 19:44] serhiy-storchaka commented on #75055
New changeset 300dd552b15825abfe0e367ac14cec4c3e050dbc by Serhiy Storchaka in branch 'master':
bpo-30872: Update the curses docs to Python 3. (bpo-2620)
https://github.com/python/cpython/commit/300dd552b15825abfe0e367ac14cec4c3e050dbc

[2017-10-04 20:56] benjaminp opened #75877 "don't mention GCC in sys.version when built with Clang"
BPO | [31696](https://bugs.python.org/issue31696)
--- | :---
Nosy | @benjaminp
PRs | <li>python/cpython#3891</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-04 20:56] benjaminp commented on #75877
When built with clang, Python reports that it was built with something like "GCC 4.2.1 Compatible Clang 4.0.0 (tags/RELEASE_400/rc1)". This is because clang pretends to be GCC 4.2.1 for the purposes of the \_\_VERSION__ preprocessor macro. We should use \_\_clang_version__ when clang is being used.

(Possibly we should simply use the first line of "$CC --version" as the compiler version of record

[2017-10-04 23:12] methane commented on #75852
I'm sorry, I misunderstood.
But while new instance is not created each time, 4 Python method calls
(e,g.  IntFlag.\_\_and__() -\> IntFlag.\_\_new__() -\> IntFlag.\_missing_() -\> IntFlag.\_create_pseudo_member_()) are much slower than int & int.

I believe that's what Victor benchmarked.

[2017-10-04 23:47] 228543aa-1965-4c5b-b9b8-6fab018b77a6 opened #75878 "Regression in futures.as_completed with ProcessPoolExecutor."
BPO | [31697](https://bugs.python.org/issue31697)
--- | :---
Nosy | @coady
Files | <li>[test.py](https://bugs.python.org/file47193/test.py "Uploaded as text/plain at 2017-10-04.23:47:29 by @coady"): pytest-style example to reproduce</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more

[2017-10-04 23:47] 228543aa-1965-4c5b-b9b8-6fab018b77a6 commented on #75878
`futures.as_completed` is not generating process-based futures in completed order.  Reproduces with 3.7a0.

[2017-10-05 00:21] ncoghlan commented on #75815
Of the listed benefits, I think the most interesting one is the fact it would enable pip's wheel cache by default for all installations, rather than relying on projects publishing pre-built wheel files to PyPI.

However, actually doing this would run counter to the design goal of declaring even the current installation of setuptools to be an implementation details that shouldn't be relied on: http

[2017-10-05 00:21] #75815 closed, assigned to nobody

[2017-10-05 00:35] ncoghlan commented on #75815
As a shorter version of the above:

* the current install time bundling of setuptools in `ensurepip` is likely to be replaced by `pip` dynamically installing both `setuptools` & `wheel` when asked to build from a source archive when no other build system has been specified. With PEP-517 approved, it's entirely plausible that this will happen as part of the `pip 10.0.0` release. So we *won't* be bu

[2017-10-05 00:43] dstufft commented on #75815
Actually PEP-518 provides the mechanism we need for this, and it's already implemented in pip's master branch (what will become pip 10). I don't remember off the top of my head if that covers 100% of the cases yet, but if it doesn't that's just a SMOP. It's entirely plausible that Python 3.7 ships without setuptools included in ensurepip.

[2017-10-05 01:06] vstinner commented on #75852
The perf module always starts with a "warmup" run to fill caches. If enum
has a cache, it should be filled automatically.

[2017-10-05 04:09] rhettinger commented on #75870
I'm content with the current exception.

[2017-10-05 04:11] #75870 closed, assigned to rhettinger

[2017-10-05 04:28] JelleZijlstra commented on #75879
See https://github.com/python/cpython/pull/1669#pullrequestreview-67229284

[2017-10-05 04:28] JelleZijlstra opened #75879 "Add REQ_NAME to the node.h API"
BPO | [31698](https://bugs.python.org/issue31698)
--- | :---
Nosy | @1st1, @JelleZijlstra
PRs | <li>python/cpython#3926</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-05 04:44] ethanfurman commented on #75852
INADA Naoki said:

Only the first two calls always happen -- the last two calls only happen for numbers that haven't been seen yet.  And yes, two Python level calls are much slower than an int & int.

[2017-10-05 06:35] serhiy-storchaka commented on #75055
New changeset de5427a8f7ce15565d13383bc8d279bb07dda1cb by Serhiy Storchaka in branch '3.6':
[3.6] bpo-30872: Update the curses docs to Python 3. (GH-2620) (bpo-3887)
https://github.com/python/cpython/commit/de5427a8f7ce15565d13383bc8d279bb07dda1cb

[2017-10-05 06:37] ddf74a51-5f28-44b3-89e3-5080a0864212 commented on #75875
The “this product is already installed” error is a mistake on my part. I was actually using 3.6.3 (released literally during I was testing this!) to install the launcher, and using 3.6.2 afterwards, hence the error message (because I was trying to modify using an older version).

The main issue however stays. The installer still shouldn’t register the main Python distribution as installed when onl

[2017-10-05 07:01] benjaminp commented on #75777
New changeset e14679c78464d1e0e16786c2a0e9bcebe49e842b by Benjamin Peterson (pdox) in branch 'master':
closes bpo-31596: Add an interface for pthread_getcpuclockid(3) (bpo-3756)
https://github.com/python/cpython/commit/e14679c78464d1e0e16786c2a0e9bcebe49e842b

[2017-10-05 07:01] #75777 closed, assigned to nobody

[2017-10-05 07:27] #75055 closed, assigned to nobody

[2017-10-05 07:41] f50fb426-9df6-4590-87cf-f8a5d8c3396e opened #75880 "Deadlocks in `concurrent.futures.ProcessPoolExecutor` with pickling error"
BPO | [31699](https://bugs.python.org/issue31699)
--- | :---
Nosy | @pitrou, @tomMoral
PRs | <li>python/cpython#3895</li><li>python/cpython#4256</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detai

[2017-10-05 07:41] f50fb426-9df6-4590-87cf-f8a5d8c3396e commented on #75880
When using `concurrent.futures.ProcessPoolExecutor` with objects that are not picklable or unpicklable, several situations results in a deadlock, with the interpreter freezed.

This is the case for different scenario, for instance these three : https://gist.github.com/tomMoral/cc27a938d669edcf0286c57516942369

The different pickling/unpickling error and their effect should be tested in `test_concu

[2017-10-05 08:19] methane commented on #75852
New changeset c1c47c166b1012d34f2c6e111ee9ccb5c4d12de7 by INADA Naoki in branch 'master':
bpo-31671: re: Convert RegexFlag to int before compile (GH-3862)
https://github.com/python/cpython/commit/c1c47c166b1012d34f2c6e111ee9ccb5c4d12de7

[2017-10-05 08:20] #75852 closed, assigned to nobody

[2017-10-05 08:34] serhiy-storchaka commented on #75852
Thanks Naoki!

[2017-10-05 08:35] b485b51b-d27f-423a-8035-c9ad55e98281 opened #75881 "one-argument version for Generator.typing"
BPO | [31700](https://bugs.python.org/issue31700)
--- | :---
Nosy | @srittau, @ilevkivskyi, @zeth

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-05 08:35] b485b51b-d27f-423a-8035-c9ad55e98281 commented on #75881
Currently typing.Generator requires three arguments: Generator[YieldType, SendType, ReturnType].

At least for me, passing values to a generator is a very rare case. I suggest to allow only one argument to be passed to Generator: Generator[YieldType], where the other arguments default to None. This makes the common case more readable and is less error-prone. (I always forget the second and third a

[2017-10-05 09:29] vstinner commented on #75852
My [PR 3867](https://github.com/python/cpython/pull/3867) fixes a corner case when the re.compile() is misused ("on purpose"?). I'm going to reject (abandon) my own PR since it makes re.compile() slower:

Mean +- std dev: [ref] 364 ns +- 6 ns -\> [patch] 459 ns +- 10 ns: 1.26x slower (+26%)

@Serhiy, @Naoki: Are you ok to reject this PR and keep the corner case bug?

[2017-10-05 09:34] methane commented on #75852
Instead caching type(flags), how about this?

[code]

[2017-10-05 09:59] 8b9d3755-ef38-41dc-8a55-98cf1df2602f opened #75882 "faulthandler dumps 'Windows fatal exception: code 0xe06d7363'"
BPO | [31701](https://bugs.python.org/issue31701)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @zware, @zooba, @Kentzo
PRs | <li>python/cpython#3928</li><li>python/cpython#3929</li><li>python/cpython#4416</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitH

[2017-10-05 09:59] 8b9d3755-ef38-41dc-8a55-98cf1df2602f commented on #75882
c++ extension compiled with MSVC 14
using python 3.6.2 on Windows 10 x64

Whenever a C++ exception is thrown in an extension the faulthandler dumps a traceback to it, even if it is caught.

[2017-10-05 10:00] 8b9d3755-ef38-41dc-8a55-98cf1df2602f commented on #75882
Here is a git repository with a test module and a test script:
https://github.com/FynnBe/faulthandler-spam

[2017-10-05 10:08] serhiy-storchaka commented on #75852
[PR 3867](https://github.com/python/cpython/pull/3867) looks unpythonic to me. We usually don't check the type of arguments. This complicate and slow down a code.

Do you have a realistic example when the current behavior harms?

[2017-10-05 10:10] vstinner commented on #75852
Hum, I ran again my microbenchmark on re.compile() cache:

haypo@selma$ ./python -m perf timeit -s 'import re; re_compile=re.compile' 're_compile("a", flags=2)' --duplicate=1024 -o ref.json  --inherit=PYTHONPATH -v

Sadly, the commit c1c47c166b1012d34f2c6e111ee9ccb5c4d12de7 made the cache slower:

Mean +- std dev: [ref] 364 ns +- 26 ns -\> [patch] 545 ns +- 19 ns: 1.50x slower (+50%)

Just to chec

[2017-10-05 10:15] 8b9d3755-ef38-41dc-8a55-98cf1df2602f commented on #75882
In the github repository there is 'build.bat' that creates the mscv 14 solution, builds it and runs the 'test.py'.
Here is the output:
[code]

The 'Windows fatal exception: code 0xe06d7363' is only caused by a c++ exception thrown (regardless if it is handled or not). More on the error code is here:
https://support.microsoft.com/de-de/help/185294/prb-exception-code-0xe06d7363-when-calling-win32-se

[2017-10-05 10:18] vstinner commented on #75852
Serhiy: "[PR 3867](https://github.com/python/cpython/pull/3867) looks unpythonic to me. We usually don't check the type of arguments. This complicate and slow down a code. Do you have a realistic example when the current behavior harms?"

No, I don't have any realistic example. I just noticed the bug and I was surprised. In practice, flags=2.0 instead of flags=2 is not totally wrong, it's okish to

[2017-10-05 10:26] serhiy-storchaka commented on #74534
Made a warning for '[' be emitted only at the start of a set. This significantly decrease the breakage of other code. I think we can get around without implicit union of nested sets, like in [_[0-9][:Latin:]]. This can be written as [_||[0-9]||[:Latin:]].

[2017-10-05 11:48] vstinner commented on #75882
The code of the current faulthandler exception handler lives at:

https://github.com/python/cpython/blob/master/Modules/faulthandler.c#L364-L409

--

https://support.microsoft.com/de-de/help/185294/prb-exception-code-0xe06d7363-when-calling-win32-seh-apis

"""
Resolution

(...)
3. Within the Exceptions dialog box, select error 0xE06D7363.
4. Change the value of Action from Stop if not handled to S

[2017-10-05 12:16] serhiy-storchaka commented on #75871
Added tests and the documentation.

[2017-10-05 12:32] serhiy-storchaka opened #75883 "Allow to specify the number of rounds for SHA-* hashing in crypt"
BPO | [31702](https://bugs.python.org/issue31702)
--- | :---
Nosy | @gpshead, @pitrou, @vstinner, @tiran, @serhiy-storchaka, @dstufft
PRs | <li>python/cpython#4110</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-10-05 12:32] serhiy-storchaka commented on #75883
Blowfish salt should contain the binary logarithm of the number of rounds (from 4 to 31) (see bpo-31664). SHA-* salt can contain an explicit number of rounds in the form '$rounds={value}$'. It is bound to the range from 1000 to 999999999, the default is 5000.

I propose to allow to specify the number of rounds in generated salt for SHA-* methods as well as for Blowfish. For unifying interface we c

[2017-10-05 12:33] serhiy-storchaka commented on #75845
In bpo-31702 I propose related improvement for the SHA-* methods.

[2017-10-05 13:12] vstinner commented on #75361
A colleague packaging Python for Red Hat Entreprise Linux reported me that tests hang randomly on test_exception_errpipe_bad_data() of test_subprocess. I don't know why exactly, but using strace, I noticed that the "unit test" calls os.waitpid() with the pid returned by the mocked fork_exec(): pid 0. So the test calls os.waitpid(0, 0).

In a REPL on my Fedora 26, os.waitpid(0, 0) raises "ChildProc

[2017-10-05 13:31] vstinner commented on #75361
Oh wait, now I understood the full picture.

Summary:

* 2 new tests were added to test_subprocess and these tests call waitpid(0, 0) by mistake
* In general, waitpid(0, 0) returns immediately and the code handles it properly
* Sometimes, a previous test leaks a child process and so waitpid(0, 0) takes a few seconds or can even block

--

Running tests leak randomly child processes. See for exampl

[2017-10-05 13:32] vstinner commented on #75361
New changeset 11045c9d8a21dd9bd182a3939189db02815f9783 by Victor Stinner in branch 'master':
bpo-31178: Mock os.waitpid() in test_subprocess (bpo-3896)
https://github.com/python/cpython/commit/11045c9d8a21dd9bd182a3939189db02815f9783

[2017-10-05 13:41] vstinner opened #75884 "[EASY] Running test_builtin twice fails on input tty tests"
BPO | [31703](https://bugs.python.org/issue31703)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
Superseder | <li>bpo-13886: test_builtin.PtyTests fail on non-ASCII characters if the readline module is loaded</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Gi

[2017-10-05 13:41] vstinner commented on #75884
haypo@selma$ ./python -m test test_builtin test_builtin -v

\======================================================================
FAIL: test_input_tty_non_ascii (test.test_builtin.PtyTests)
\----------------------------------------------------------------------
[code]

======================================================================
FAIL: test_input_tty_non_ascii_unicode_errors (test.test_

[2017-10-05 13:51] serhiy-storchaka commented on #75884
This is a duplicate of bpo-13886 (and several other issues).

Why do you think that this issue is easy?

[2017-10-05 13:51] #75884 closed, assigned to nobody

[2017-10-05 13:51] vstinner commented on #75884
I'm not sure that it's easy :-)

[2017-10-05 13:52] d02a6f2e-5a6b-4720-809b-638b64c722bc opened #75885 "HTTP check lowercase response from proxy"
BPO | [31704](https://bugs.python.org/issue31704)
--- | :---
Nosy | @benjaminp
PRs | <li>python/cpython#3870</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-05 13:52] d02a6f2e-5a6b-4720-809b-638b64c722bc commented on #75885
Recently faced an issue with a proxy responding in lowercase http, which caused this:

[code]

Changing the string to uppercase before checking if it starts with HTTP fixes this issue and allows to use this proxy.

I know that the proxy is at fault here, but seeing as other applications (web browsers, office suite, text editors, etc.) still work behind this proxy, I think it might be a reasonable

[2017-10-05 13:57] vstinner commented on #75777
The test is too strict, it fails on many buildbots.

Four examples:

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.x/builds/1008/steps/test/logs/stdio

\======================================================================
FAIL: test_pthread_getcpuclockid (test.test_time.TimeTestCase)
\----------------------------------------------------------------------
[code]

htt

[2017-10-05 14:25] 8b9d3755-ef38-41dc-8a55-98cf1df2602f commented on #75882
Yes. This error is only indicating that an error was thrown, regardless if it was handled or not. Therefore it should not be treated as fatal, but it is by faulthandler: 'bool(0xE06D7363 & 0x80000000) == True'

https://support.microsoft.com/de-de/help/185294/prb-exception-code-0xe06d7363-when-calling-win32-seh-apis
In this context it seems like a coincidence to me.

[2017-10-05 15:05] zooba commented on #75882
We may just need to special case some well known exception codes for MSVC and the CLR, though if they're handled we may be dumping on the first chance and not the second chance handling.

If I get a chance to dig into the docs and code I'll take a look, but it's been years since I really did anything with SEH (apart from the recent filtering change, which was pretty trivial).

[2017-10-05 15:07] zooba commented on #75875
Agreed, and the underlying cause is also linked to the registration being wrong in some other ways.

The fix requires rearchitecting the installer again, though less dramatically than last time. Won't happen for3.6.4, but we might get 3.7.

[2017-10-05 15:46] vstinner commented on #75363
New failure: AMD64 FreeBSD 10.x Shared 3.6

http://buildbot.python.org/all/builders/AMD64%20FreeBSD%2010.x%20Shared%203.6/builds/550/steps/test/logs/stdio

[2017-10-05 16:05] #75737 closed, assigned to nobody

[2017-10-05 16:11] #75534 closed, assigned to warsaw

[2017-10-05 16:59] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75275
IIUC:
In Lang's example, doing `queue = None` caused the destruction of the shared
queue, which caused a call to BaseProxy._decref() (in multiprocessing/managers.py),
which dispatched a decref request to the manager's server process.

Meanwhile, the pool's worker process (in function worker() in multiprocessing/pool.py)
tries to retrieve a task from its task queue, by calling inqueue.get().
The ge

[2017-10-05 16:59] 1st1 commented on #75737
Note, that this will not be backported to 3.6, as it behaves in a slightly incompatible way.  I consider this patch as an enhancement that makes 'asyncio.wait_for' semantics easier to reason about and more practical.

[2017-10-05 17:09] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75275
Prof Plum, i changed the type of the issue to 'behavior', because Lang and me
both got a KeyError. if your interpreter actually crashed, please change it
back to 'crash'.

[2017-10-05 18:05] 228543aa-1965-4c5b-b9b8-6fab018b77a6 commented on #75878
Reproduced on the python docker image because the cpu count is so low.

[2017-10-05 18:05] #75878 closed, assigned to nobody

[2017-10-05 18:54] 3af3e45b-a7aa-4781-bcb6-037bda68a27b commented on #75275
Oh I see, I thought getting an error that caused the python code execution to terminate was considered a "crash".

On the note of whether you should fix this I think the answer is yes. When I call pool.apply_async() I expect it only to return when the worker process has been started and finished it's initialization process (i.e. sending the incr-ref request). That being said I could see people wan

[2017-10-05 19:01] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75777
This looks specific to FreeBSD and s390x. Those platforms might not provide the same cpu-time clock consistency guarantees as Linux+glibc+x86. Would it be ok to just disable the ordering check for those systems?

[2017-10-05 19:58] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc opened #75886 "test_sha256 from test_socket fails on ppc64le arch"
BPO | [31705](https://bugs.python.org/issue31705)
--- | :---
Nosy | @vstinner, @tiran, @stratakis
PRs | <li>python/cpython#4643</li><li>python/cpython#4645</li>
Files | <li>[trace](https://bugs.python.org/file47202/trace "Uploaded as text/plain at 2017-10-09.18:11:23 by @stratakis")</li><li>[trace2](https://bugs.python.org/file47204/trace2 "Uploaded as text/plain at 2017-10-10.15:08:41 by @stratak

[2017-10-05 19:58] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc commented on #75886
The issue is reproducible on a CentOS 7.4 on ppc64le architecture. It passes successfully on other arch's (however the other power pc arch's might also be affected).

How to reproduce:

Compile python 3.6 from source.

Run ./python3 -m test --verbose test_socket

And it fails with:

ERROR: test_sha256 (test.test_socket.LinuxKernelCryptoAPI)
\--------------------------------------------------------

[2017-10-05 20:12] c7df1e29-522d-4bf7-b34f-996da708f2d2 opened #75887 "urlencode should accept generator as values for mappings when doseq=True"
BPO | [31706](https://bugs.python.org/issue31706)
--- | :---
Nosy | @orsenthil, @taleinat, @serhiy-storchaka, @francoisfreitag
PRs | <li>python/cpython#3901</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-10-05 20:12] c7df1e29-522d-4bf7-b34f-996da708f2d2 commented on #75887
The urlencode documentation states that:
The value element in itself can be a sequence and in that case, if the optional parameter doseq is evaluates to True, individual key=value pairs separated by '&' are generated for each element of the value sequence for the key.

[code]

[2017-10-05 20:35] zooba commented on #75704
New changeset 2084b30e540d88b9fc752c5bdcc2f24334af4f2b by Steve Dower in branch 'master':
bpo-31523: Reliability improvements to the Windows build files (bpo-3900)
https://github.com/python/cpython/commit/2084b30e540d88b9fc752c5bdcc2f24334af4f2b

[2017-10-05 21:09] zooba commented on #75704
New changeset 051295a8c57cc649fa5eaa43526143984a147411 by Steve Dower (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31523: Reliability improvements to the Windows build files (GH-3900) (bpo-3902)
https://github.com/python/cpython/commit/051295a8c57cc649fa5eaa43526143984a147411

[2017-10-05 23:08] 20f4d9bf-1abe-4755-8fdf-0f18b0eebf0d opened #75888 "Irrational fractions"
BPO | [31707](https://bugs.python.org/issue31707)
--- | :---
Nosy | @rhettinger, @mdickinson, @serhiy-storchaka, @Cryvate

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-05 23:08] 20f4d9bf-1abe-4755-8fdf-0f18b0eebf0d commented on #75888
fractions.Fraction enforces its numerator and denominator to be rational.  This is a good idea for purely numeric fractions, but the abstractions that fractions.Fraction offers would also be useful for more abstract fractions.

Some places where this might be useful would be fractions of polynomial types or fractions with abstract irrational numeric types, like F(SquareRoot(3), 2).

This could be

[2017-10-06 00:58] rhettinger commented on #75888
The fractions module isn't easily extended to support this proposal.  It was designed around a gcd() step and assumes integer numerators and denominators throughout.  Also, the Fraction class is registered with numbers.Rational() which implies some specific behaviors including inoperability with various other classes.

In additionl, the standard library also doesn't yet support unevaluated rationa

[2017-10-06 02:46] 20f4d9bf-1abe-4755-8fdf-0f18b0eebf0d commented on #75888
The core operators, like multiplication and division, should work for any type that defines the right operators.  Hashing is tricky, and reducing the fraction is pretty much off the table.  This is why I suggested a superclass.  I'll try making a patch sometime soon.

I am aware of sympy and am not proposing that the standard library stray too far into symbolic mathematics.  Sympy's re-invention o

[2017-10-06 03:24] 1st1 commented on #74591
New changeset ac317700ce7439e38a8b420218d9a5035bba92ed by Yury Selivanov (Jelle Zijlstra) in branch 'master':
bpo-30406: Make async and await proper keywords (bpo-1669)
https://github.com/python/cpython/commit/ac317700ce7439e38a8b420218d9a5035bba92ed

[2017-10-06 03:28] 1st1 commented on #74591
Thanks a lot, Jelle!

[2017-10-06 03:28] #74591 closed, assigned to gvanrossum

[2017-10-06 04:15] benjaminp commented on #75877
New changeset 7faf7e50757dde2cb8583ee08ef31f4b8312e44f by Benjamin Peterson in branch 'master':
closes bpo-31696: don't mention GCC in sys.version when building with clang (bpo-3891)
https://github.com/python/cpython/commit/7faf7e50757dde2cb8583ee08ef31f4b8312e44f

[2017-10-06 04:15] #75877 closed, assigned to nobody

[2017-10-06 04:23] 1st1 opened #75889 "Allow use of asynchronous generator expressions in synchronous functions"
BPO | [31708](https://bugs.python.org/issue31708)
--- | :---
Nosy | @ncoghlan, @1st1
PRs | <li>python/cpython#3905</li>
Dependencies | <li>bpo-31709: Drop support for asynchronous __aiter__</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-10-06 04:23] 1st1 opened #75890 "Drop support for asynchronous __aiter__"
BPO | [31709](https://bugs.python.org/issue31709)
--- | :---
Nosy | @ncoghlan, @1st1
PRs | <li>python/cpython#3903</li><li>python/cpython#3906</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details

[2017-10-06 04:23] 1st1 commented on #75890
As discussed in bpo-27243, we want to drop support of asynchronous \_\_aiter__ in Python 3.7.

Together with bpo-30406, this will enable us to add support for using asynchronous generator expressions in synchronous functions (bpo-31708)

[2017-10-06 04:25] 1st1 commented on #75889
Prior to Python 3.7 we couldn't enable use of asynchronous generator expressions in synchronous functions:

[code]

[2017-10-06 04:34] rhettinger commented on #75888
Put me down for -1.  This doesn't seem like standard library material. It doesn't seem to address a common need and it would add complexity to an already complicated module (nor does it seem to have a good fit with the numeric tower).  The proposal seems like something that should exist outside the standard library (especially since we don't already provide interoperable types like SquareRoot(3)).

[2017-10-06 05:14] 1f4f0d85-e63f-4322-8b54-768e60e1d01b commented on #75891
--with-system-ffi is mandatory for linux build but no way is provided ( eg --with-ffi-includes= --with-ffi-libs= ) so setup.py can detect libffi already built in $PREFIX and $EPREFIX/lib.

even if cflags/ldflags are ok , \_ctypes build will be skipped with reason:
INFO: Could not locate ffi libs and/or headers

test condition: crystax-ndk toward android-19 on ubuntu xenial 32 bits

[2017-10-06 05:14] 1f4f0d85-e63f-4322-8b54-768e60e1d01b opened #75891 "setup.py: _ctypes won't get built when system ffi is only in $PREFIX"
BPO | [31710](https://bugs.python.org/issue31710)
--- | :---
Nosy | @doko42, @ned-deily, @pmp-p, @zware, @moreati, @r-bit-rry, @pbhege
Superseder | <li>bpo-14527: How to link with a non-system libffi?</li>
Files | <li>[build.log](https://bugs.python.org/file47728/build.log "Uploaded as text/x-log at 2018-08-02.13:51:46 by @r-bit-rry")</li><li>[config.log](https://bugs.python.org/file47729/config.l

[2017-10-06 05:50] benjaminp commented on #75777
New changeset 86566702f311f8e90600e85350f6b6769a384ea5 by Benjamin Peterson in branch 'master':
weaken pthread_getcpuclockid test (more bpo-31596) (bpo-3904)
https://github.com/python/cpython/commit/86566702f311f8e90600e85350f6b6769a384ea5

[2017-10-06 06:04] d732c26f-ecfa-4c92-9f00-a1eacb6965bc commented on #75891
Might be this. setup.py doesn't use -I flags in $CFLAGS. It looks into $CPPFLAGS only.

[2017-10-06 06:09] 1st1 commented on #75890
New changeset faa135acbfcd55f79fb97f7525c8aa6f5a5b6a22 by Yury Selivanov in branch 'master':
bpo-31709: Drop support for asynchronous \_\_aiter__. (bpo-3903)
https://github.com/python/cpython/commit/faa135acbfcd55f79fb97f7525c8aa6f5a5b6a22

[2017-10-06 06:09] #75890 closed, assigned to 1st1

[2017-10-06 06:26] 1st1 commented on #75889
(this is per PEP-530: https://www.python.org/dev/peps/pep-0530/#asynchronous-comprehensions)

[2017-10-06 06:31] serhiy-storchaka commented on #75888
Concur with Raymond.

Even multiplication doesn't work for irrational numerator and denominator, since gcd() is not applicable to them.

[2017-10-06 06:58] 1st1 commented on #75889
New changeset b8ab9d3fc816f85f4d6dbef12b7414e6dc10e4dd by Yury Selivanov in branch 'master':
bpo-31708: Allow async generator expressions in synchronous functions (bpo-3905)
https://github.com/python/cpython/commit/b8ab9d3fc816f85f4d6dbef12b7414e6dc10e4dd

[2017-10-06 06:58] #75889 closed, assigned to 1st1

[2017-10-06 07:06] serhiy-storchaka commented on #75887
Extending urlencode() to accept iterables instead of just sequences of values makes sense to me. There is no principal reason of requiring sequences. But you need to update the documentation, docstrings and comments.

While we are here, we can generalize urlencode() in other aspect. Currently it accepts either mapping or a sequence of 2-tuples. It could be accept an iterable of 2-tuples (or even a

[2017-10-06 08:47] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #75888
I would like to provide some colour to this discussion. In a former life I have coded these during my studies. Ben is talking about implementing the Field of Fractions of an Integral Domain. See https://en.wikipedia.org/wiki/Field_of_fractions

The way Fraction is implemented it has a unique representation for each fraction in Q and uses GCD. This requires us to strengthen the condition of Integra

[2017-10-06 09:03] mdickinson commented on #75888
I think this is way beyond the scope of the current fractions module. I'd suggest putting something on PyPI as a proof of concept.

Given the negative response from other core developers, I'm going to close here.

[2017-10-06 09:03] #75888 closed, assigned to nobody

[2017-10-06 09:03] vstinner commented on #75777
Thank you Benjamin, buildots are back to green :-)

I prefer the new unit test which only tests pthread_getcpuclockid() clock and not make any assumption on the link between this clock and CLOCK_THREAD_CPUTIME_ID.

[2017-10-06 09:42] 11ae746e-d782-4f33-a097-758c9f315fb2 commented on #75892
[code]

This error is not what I expected. I expected a noop instead.

My guess is, that python calls SSL_write (3.6 branch, \_ssl.c:2038) with that empty buffer.
The manpage states: "When calling SSL_write() with num=0 bytes to be sent the behaviour is undefined."

This undefined behaviour should either be documented in python, or defined to either raise an exception (ValueError?) or defined as a

[2017-10-06 09:43] 11ae746e-d782-4f33-a097-758c9f315fb2 opened #75892 "ssl.SSLSocket.send(b"") fails"
BPO | [31711](https://bugs.python.org/issue31711)
--- | :---
Nosy | @tiran, @alex, @njsmith, @slingamn, @dstufft, @joernheissler
PRs | <li>python/cpython#7559</li><li>python/cpython#17671</li>
Superseder | <li>bpo-42854: OpenSSL 1.1.1: use SSL_write_ex() and SSL_read_ex()</li>
Files | <li>[client.py](https://bugs.python.org/file47194/client.py "Uploaded as text/plain at 2017-10-06.09:42:59 by @joe