[2017-04-05 14:17] serhiy-storchaka opened #74181 "re.escape() escapes too much"
BPO | [29995](https://bugs.python.org/issue29995)
--- | :---
Nosy | @terryjreedy, @ezio-melotti, @serhiy-storchaka, @ltworf
PRs | <li>python/cpython#1007</li><li>python/cpython#2114</li>
Dependencies | <li>bpo-30021: Add examples for re.escape()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summa

[2017-04-05 14:17] serhiy-storchaka commented on #74181
re.escape() escapes all the characters except ASCII letters, numbers and '\_'. This is too excessive, makes escaping and compiling slower and makes the pattern less human-readable. Characters "!\\"%&\\',/:;\<=\>@_\`\~" as well as non-ASCII characters are always literal in a regular expression and don't need escaping.

Proposed patch makes re.escape() escaping only minimal set of characters that ca

[2017-04-05 15:10] rhettinger commented on #74178
I agree with Serhiy that the JSON module is already complex enough that adding more features will have a negative net effect on usability.

Bob, what do you think?

[2017-04-05 15:13] 16440bb9-eff1-4650-bdfc-462c0b32fb48 commented on #74133
An improved version of the patch, I hope. I will remove the old patch, because it's really does not help to see the old versions.

[2017-04-05 15:26] rhettinger commented on #74179
Barry, is this something that should go back to 2.7 or is that pretty much settled business at this point?

[2017-04-05 15:27] #73755 closed, assigned to pitrou

[2017-04-05 15:30] rhettinger commented on #73878
PEP-8's rule makes sense elsewhere, but for context managers I think an implicit return None is the norm and that making it explicit wouldn't improve readability.

[2017-04-05 15:32] warsaw commented on #74179
On Apr 05, 2017, at 03:26 PM, Raymond Hettinger wrote:

I think we should not backport this.  It's a behavior change and my concern
would be that anybody who's bitten by this in Python 2.7 is either already
dealing with it or has already worked around it.  I wouldn't want to change
that in a 2.7 point release.

@r.david.murray might have a different opinion.

[2017-04-05 15:44] serhiy-storchaka commented on #73878
Then the exception for the \_\_exit__ method should be documented in PEP-8.

[2017-04-05 16:00] 8bb2fe13-d245-4fef-8aa2-70d7108db3c3 commented on #74178
I agree with that sentiment. If we were to want to support this use case I would rather put together a coherent way to augment the parsing/encoding of anything than bolt it on to what we have.

[2017-04-05 16:29] serhiy-storchaka opened #74182 "Use terminal width by default in pprint"
BPO | [29996](https://bugs.python.org/issue29996)
--- | :---
Nosy | @freddrake, @rhettinger, @merwok, @serhiy-storchaka, @eryksun, @MojoVampire, @zhangyangyu
PRs | <li>python/cpython#1008</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-04-05 16:29] serhiy-storchaka commented on #74182
pprint() uses width=80 by default. But default output stream is sys.stdout which often is connected to a terminal, and terminals now usually have larger width than 80 columns.

Proposed patch change the default value of the width parameter in pprint(). If the width is specified and the output is a terminal, then the width of the terminal is used.

[2017-04-05 17:34] mdickinson commented on #74148
New changeset a0ce375e10b50f7606cb86b072fed7d8cd574fe7 by Mark Dickinson in branch 'master':
bpo-29962: add math.remainder (#950)
https://github.com/python/cpython/commit/a0ce375e10b50f7606cb86b072fed7d8cd574fe7

[2017-04-05 17:34] bitdancer commented on #74179
I consciously decided not to backport this to 2.7 at the time, though I'm not sure I said that out loud.  I think it is too much of a behavior change for 2.7.

[2017-04-05 17:34] #74179 closed, assigned to nobody

[2017-04-05 17:36] #74148 closed, assigned to nobody

[2017-04-05 17:39] bitdancer commented on #74179
Actually, looking at the issue related to the patch, we conferred at the time, Barry, and decided on no backports.  It was applied only to default.  Sijian: the reason we put the issue number in the commit message is because the issue often contains relevant discussion that can supplement the commit message.

[2017-04-05 18:46] c64c32e3-fb5d-4a19-b893-90a7f74d5b93 opened #74183 "Suggested changes for https://docs.python.org/3.6/extending/extending.html"
BPO | [29997](https://bugs.python.org/issue29997)
--- | :---
Nosy | @freddrake, @artgoldberg

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-05 19:52] c64c32e3-fb5d-4a19-b893-90a7f74d5b93 commented on #74183
Also,

Incorrect number agreement:
s/strategy that minimizes this kind of errors/strategy that minimizes this kind of error/

[2017-04-05 20:34] serhiy-storchaka opened #74184 "Pickling and copying ImportError doesn't preserve name and path"
BPO | [29998](https://bugs.python.org/issue29998)
--- | :---
Nosy | @brettcannon, @ncoghlan, @ericsnowcurrently, @serhiy-storchaka
PRs | <li>python/cpython#1010</li><li>python/cpython#1042</li><li>python/cpython#1043</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary

[2017-04-05 20:34] serhiy-storchaka commented on #74184
Pickling and copying ImportError doesn't preserve name and path attributes.

[code]

Proposed patch fixes this.

[2017-04-05 21:37] rhettinger commented on #74182
Some thoughts:

* I'm not sure the terminal width will always be knowable, for example when using IDLE.

* I often need smaller widths when printing short dicts and lists.  The smaller widths better show the parallel structure.  I think having it fill the width of my screen is rarely what I would want.

* ISTM, this will cause reproducibility issues, esp for doctests.

[2017-04-05 21:45] freddrake commented on #74182
This is not a problem for doctests, since the output stream is not a terminal; the check for terminal-ness seems reasonable.  (Though I don't have any idea if it works on Windows, but it seems properly factored.)

[2017-04-05 21:58] serhiy-storchaka commented on #74182
* In IDLE sys.stdout.isatty() returns True, but sys.stdout.fileno() raises an exception. Terminal width can't be determined and the default 80 is used.

* You always can pass explicit width to pprint. This may be needed even with default width 80. Now on wide a terminal wider 80 columns you have unused space than can cause unneeded wrapping. On a terminal narrower 80 columns the pprint() output is

[2017-04-05 22:29] serhiy-storchaka opened #74185 "repr() of ImportError misses keyword arguments name and path"
BPO | [29999](https://bugs.python.org/issue29999)
--- | :---
Nosy | @brettcannon, @ncoghlan, @ericsnowcurrently, @berkerpeksag, @serhiy-storchaka, @remilapeyre
PRs | <li>python/cpython#1011</li><li>python/cpython#11580</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summa

[2017-04-05 22:29] serhiy-storchaka commented on #74185
The repr of standard exceptions usually looks as exception constructor used for creating that exception. But the repr of ImportError misses keyword arguments name and path.

[code]

Proposed patch make the repr of ImportError containing keyword arguments.

[code]

I don't know how to classify this issue and whether the patch should be backported.

[2017-04-05 23:28] 2cbba83f-4c91-4cfe-9fe9-ff99d371f0f0 opened #74186 "Inconsistency in the zlib module"
BPO | [30000](https://bugs.python.org/issue30000)
--- | :---
Nosy | @gpshead, @vadmium, @zhangyangyu, @gotyaoi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-05 23:28] 2cbba83f-4c91-4cfe-9fe9-ff99d371f0f0 commented on #74186
In the zlib module, three of the methods support the wbits parameter, those being zlib.compressobj, zlib.decompress and zlib.decompressobj. zlib.compress does not support the wbits parameter. Looking at the source for these functions, those that support the wbits parameter use the "advanced" version of the zlib functions, deflateInit2 and inflateInit2, whereas zlib.compress uses the "basic" functi

[2017-04-06 00:50] 3b947fab-979e-486a-ab42-9b758222c04f commented on #74187
https://cpython-devguide.readthedocs.io/pullrequest.html#licensing (and presumably other pages in this project) references https://cpython-devguide.readthedocs.io/issuetracker, but this page returns 404 Not Found.

[2017-04-06 00:50] 3b947fab-979e-486a-ab42-9b758222c04f opened #74187 "CPython contribution docs reference missing /issuetracker page"
BPO | [30001](https://bugs.python.org/issue30001)
--- | :---
Nosy | @Mariatta, @strugee

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-06 02:29] c64c32e3-fb5d-4a19-b893-90a7f74d5b93 commented on #74188
The core example on this page starts:

[code]

...

I suggest that 'sources = ['demo.c']' be changed to 'sources = ['demomodule.c']', because this would make the example consistent with https://docs.python.org/3.6/extending/extending.html which says: "Begin by creating a file spammodule.c. (Historically, if a module is called spam, the C file containing its implementation is called spammodule.c; .

[2017-04-06 02:29] c64c32e3-fb5d-4a19-b893-90a7f74d5b93 opened #74188 "Minor change to https://docs.python.org/3.6/extending/building.html"
BPO | [30002](https://bugs.python.org/issue30002)
--- | :---
Nosy | @rhettinger, @artgoldberg

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-06 02:44] rhettinger commented on #74188
I'm not really sure that is a standard or even a best practice.  I think some people do it and some don't.

[2017-04-06 03:23] zhangyangyu commented on #74176
The table in wikipedia is somewhat complex. I find ftp://ftp.software.ibm.com/software/globalization/documents/gb18030m.pdf and the table in it is same as https://pan.baidu.com/share/link?shareid=2606985291&uk=3341026630 (except 0x80) but in English. I agree with Ma Lin bytes sequences like b'\\x81\\x30\\xFF\\x30' are invalid.

For current implementation, you could see:

[code]

[2017-04-06 03:36] Mariatta commented on #74187
Thanks for the report, Alex.

The issue tracker for the [devguide](https://devguide.python.org) is at https://github.com/python/devguide

Do you mind filling the issue there?
I'm closing this since this tracks only issues for CPython.
Thanks :)

[2017-04-06 03:36] #74187 closed, assigned to nobody

[2017-04-06 03:42] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74189
hz is a Simplified Chinese codec, available in Python since around 2004.

[code]

In these years, no one has reported this bug, so I think it's pretty safe to remove hz codec.

FYI:
HZ codec is a 7-bit wrapper for GB2312, was formerly commonly used in email and USENET postings. It was designed in 1989 by Fung Fung Lee, and subsequently codified in 1995 into RFC 1843.

It was popular in USENET netw

[2017-04-06 03:42] b8e5a65c-bed4-4c5d-ba32-799f883ba638 opened #74189 "Fix handling escape characters in HZ codec"
BPO | [30003](https://bugs.python.org/issue30003)
--- | :---
Nosy | @terryjreedy, @vstinner, @ezio-melotti, @animalize, @zhangyangyu
PRs | <li>python/cpython#1556</li><li>python/cpython#1718</li><li>python/cpython#1719</li><li>python/cpython#1720</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summ

[2017-04-06 04:18] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74176
I suppose the English edition is not the final release of GB18030-2000.

At the end of official Chinese edition of GB18030-2005, listed the difference between GB18030-2000 and GB18030-2005 clearly, it doesn't mention 0x80 (€), so GB18030-2000 should not has 0x80 as well.

Why 0x80 (€) appear in English edition?
I searched on Google, this topic said 0x80 appears in \*draft* of GB18030-2000.
http://

[2017-04-06 04:40] fc9cca60-f582-41bb-a683-840c6b119ece commented on #74190
In the Regular Expression HOWTO
https://docs.python.org/3.6/howto/regex.html#regex-howto
the last example in the "Grouping" section has a bug. The code is supposed to find repeated words, but it catches false repetitions.

[code]

I propose adding a \\b after \\1, this solves the problem :

[code]

[2017-04-06 04:40] fc9cca60-f582-41bb-a683-840c6b119ece opened #74190 "in regex-howto, improve example on grouping"
BPO | [30004](https://bugs.python.org/issue30004)
--- | :---
Nosy | @akuchling, @ezio-melotti, @serhiy-storchaka, @Mariatta, @mandeep
PRs | <li>python/cpython#4443</li><li>python/cpython#4554</li><li>python/cpython#4555</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summ

[2017-04-06 05:05] zhangyangyu commented on #74176
Yes, 0x80 doesn't matter here.

It's nice to make the backporting PRs. But let's wait some time for ezio and haypo's comments and reviews. Get the master PR merged first and then continue on backporting. :-)

[2017-04-06 05:59] serhiy-storchaka opened #74191 "Pickling and copying exceptions doesn't preserve non-__dict__ attributes"
BPO | [30005](https://bugs.python.org/issue30005)
--- | :---
Nosy | @avassalotti, @serhiy-storchaka, @iritkatriel
Dependencies | <li>bpo-29998: Pickling and copying ImportError doesn&#x27;t preserve name and path</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-04-06 05:59] serhiy-storchaka commented on #74191
Pickling and copying exceptions preserves only \_\_dict__ attributes.

This includes writeable internal fields initialized in constructor:

[code]

And \_\_slots__:

[code]

\_\_context__, \_\_cause__ and \_\_traceback__ are lost too (see bpo-29466).

bpo-26579 is similar, but resolving it will not resolve this issue since BaseException has its own \_\_reduce__ and \_\_setstate__ implementations.

[2017-04-06 06:54] vstinner commented on #74176
An incorrect implementation of a decoder might lead to security vulnerabilities:
http://unicodebook.readthedocs.io/issues.html#security-vulnerabilities

\*But* UTF-8 decoder of Python 2 is \*not* strict and nobody complained.

I suggest that, once the changed is merged in master, backport the fix to 3.6 and 3.5.

But I'm not sure that it's worth it to backport it to 2.7? Is there a risk to break a

[2017-04-06 07:27] vstinner commented on #74189
Can't we fix the bug instead of removing the whole codec? Or do you know other bugs?

The bug is only on the encoder part, right? I see unit test for '\~' on the hz decoder.

[2017-04-06 07:31] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74176
This is a very trivial bug, it's hard to imagine a scene that someone trying to decode those 8630 illegal 4-byte sequences with GB18030 decoder.
And I think this bug can't lead to security vulnerabilities.

As far as I can see, GB2312/GBK/GB18030 codecs are bugfree except this bug, of course maybe I'm wrong.

[2017-04-06 07:54] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74189
I tried to fix this two years ago, here is the patch (not merged):
http://bugs.python.org/review/24117/diff/14803/Modules/cjkcodecs/_codecs_cn.c

But later, I thought it's a good opportunity to remove this codec, this serious bug indicates that almost no one is using it. But fixing will create a possibility that someone will using it in future.
So I suggest we don't fix it, just remove it or leave

[2017-04-06 08:39] zhangyangyu commented on #74175
Hmm, what do you mean by 'the raised exception is not handled properly'? Currently the exception is just propagated to the user to signal the argument seems to be wrong, right?

[2017-04-06 09:30] 27221ae4-80bf-4ab3-beca-bec82a977487 commented on #74175
the subprocess module has code to handle file objects that don't use file descriptors. It's not that file descriptors are necessary for the parameter, but that the way POpen is trying to detect "no file descriptor support" is through "fileno returns -1" rather than "fileno raises OSError"

[2017-04-06 11:02] daec5e0b-aef7-47d0-b4e5-b7c4158c6159 commented on #73719
Steve, do you mean that there should be no address to IE configuration from urllib? I could undertake it if I understand the task.

gethostbyaddr() is ok. It just makes a reverse lookup, that some dns-servers work up too slow. The command "nslookup" also works slowly in same conditions. The problem is in those dns-servers I think.

[2017-04-06 12:41] a922e35f-f5a9-46c6-9fb6-3b34ddad725e commented on #73719
This could be even a security issue.

People might rely on a proxy as a privacy feature. In this case the proxy should do forward/reverse DNS requests and not the client. Doing DNS lookups to check for proxy bypass doesn't seem right. I don't think that major browsers are doing this, at least Firefox is not (https://bugzilla.mozilla.org/show_bug.cgi?id=136789).

[2017-04-06 12:41] f50fb426-9df6-4590-87cf-f8a5d8c3396e commented on #74192
The design of ProcessPoolExecutor contains some possible race conditions that may freeze the interpreter due to deadlocks. This is notably the case  with pickling and unpickling errors for a submitted job and returned results. This makes it hard to reuse a launched executor.

We propose in the joint PR to fix some of those situations to make the ProcessPoolExecutor more robust to failure in the di

[2017-04-06 12:41] f50fb426-9df6-4590-87cf-f8a5d8c3396e opened #74192 "Deadlocks in `concurrent.futures.ProcessPoolExecutor`"
BPO | [30006](https://bugs.python.org/issue30006)
--- | :---
Nosy | @brianquinlan, @pitrou, @applio, @tomMoral
PRs | <li>python/cpython#1013</li>
Superseder | <li>bpo-31699: Deadlocks in `concurrent.futures.ProcessPoolExecutor` with pickling error</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><sum

[2017-04-06 12:45] 772ab2a4-5dc5-4c58-b3ce-c9b9c01a5099 opened #74193 "report bug"
BPO | [30007](https://bugs.python.org/issue30007)
--- | :---
Nosy | @zhangyangyu, @Yaredoh

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-06 12:45] 772ab2a4-5dc5-4c58-b3ce-c9b9c01a5099 commented on #74193
Hello,

I am using python 3.6 could you look at this bug. Thanks.

/home/yared/anaconda3/lib/python3.6/site-packages/mlimages/util/file_api.py
in add_ext_name(cls, path, ext_name)     63     @classmethod     64
 def add_ext_name(cls, path, ext_name):---\> 65         name, ext =
os.path.splitext(os.path.basename(path))     66         added =
os.path.join(os.path.dirname(path), name + ext_name + ext

[2017-04-06 13:12] zhangyangyu commented on #74193
This tracker is for CPython developing. Your problem is in the third party module. You could refer Google or stackoverflow.

[2017-04-06 13:12] #74193 closed, assigned to nobody

[2017-04-06 13:49] vsajip commented on #74141
I would like to close this issue now, without making changes. Will do in one day, unless someone pipes up.

[2017-04-06 15:15] vsajip commented on #74125
Should be fixed by 164d30e.

[2017-04-06 15:16] serhiy-storchaka commented on #74125
Thanks Vinay!

[2017-04-06 15:24] vstinner commented on #74125
IHMO it's worth it to backport the fix, since Benjamin showed that GCC optimizer removes the function body and so defeat the purpose of the test.

[2017-04-06 15:43] vsajip commented on #74125
Added relevant "needs backport" tags to PR, will get to it soon. Reopening till then.

[2017-04-06 16:04] smontanaro commented on #74141
Vinay\> I would like to close this issue now...

Go for it.

As I indicated in a previous comment, the exercise was as much to try and
come to grips with the process as to actually make the change. There
certainly appear to be good reasons to leave well enough alone. My primary
(though minor) concerns at this point are:

* the datetime module hard-coded it one way (period) while the logging
packag

[2017-04-06 16:34] ac224bc2-6200-4e59-bd22-a7f440782ac2 commented on #74194
Some effort was made to port Python to OpenSSL 1.1.0 (see bpo-26470). However, the code still uses several deprecated functions, and fails to compile against OpenSSL 1.1.0 if these functions are disabled.

This may be replicated by building OpenSSL with --api=1.1.0. This will disable all functions marked as deprecated.

I have attached a build log from the cpython master branch.

Downstream bug: h

[2017-04-06 16:34] ac224bc2-6200-4e59-bd22-a7f440782ac2 opened #74194 "OpenSSL 1.1.0 deprecated functions"
BPO | [30008](https://bugs.python.org/issue30008)
--- | :---
Nosy | @tiran, @alex, @floppym, @dstufft, @csabella, @markwright, @miss-islington
PRs | <li>python/cpython#3934</li><li>python/cpython#3943</li><li>python/cpython#20397</li><li>python/cpython#20565</li><li>python/cpython#20566</li><li>python/cpython#20567</li>
Files | <li>[build.log](https://bugs.python.org/file46782/build.log "Uploaded

[2017-04-06 17:01] 3b947fab-979e-486a-ab42-9b758222c04f commented on #74187
Filed https://github.com/python/devguide/issues/156.

Sorry for the noise! I just assumed everything went through bpo. Guess not :)

[2017-04-06 17:24] rhettinger commented on #74182
After more thought, put me down for -1 on this proposal.

I use pprint() quite a bit when teaching Python courses.  I expect that 100% of the time that users are following the live examples, I will get stopped and asked why their output is different from mine.

Also, I question the usefulness of the auto-resizing.  When I pprint a dir() listing or some such, the intended effect is almost always th

[2017-04-06 17:45] rhettinger commented on #74182
One other thought:  This module has a very long history. It is widely used, has had many feature requests and bug reports, but this particular feature has never been requested.  That should tell us something about whether there is an actual need.  To me, this seems like a new made-up requirement, invented in complete isolation from users.

[2017-04-06 17:55] freddrake commented on #74182
I wouldn't go so far as to say it's never come up; it's something I've thought about a number of times, and I've waffled on it a few times.

It's not fundamentally unreasonable to want it to adapt to the current terminal window, though I think it would be in a minority among the Unix command line tools that I use.

Raymond's point about potentially confusing students is an important one, though.

[2017-04-06 18:06] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74182
If you want the dir listing output in a column, you're just relying on your listing to be wider than 80 characters, it still doesn't columnize unless you pass that point.

Personally, I feel if I made the terminal wider, I'd like to actually use that width.

I suppose an alternative, if you really don't want autosizing, is to make auto-sizing supported without having to explicitly call getterminal

[2017-04-06 18:08] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74182
Thus, you keep your default behavior of width=80, while I just add the following to my PYTHONSTARTUP file:

[code]

and we both get what we want.

[2017-04-06 18:47] vsajip commented on #74141
As far as I know, you just need to do something which configures a Flask logger, then call logging.config.dictConfig() with a suitable configuration which doesn't disable existing loggers and configures the Flask logger how you want. (The dictConfig call should replace any existing configuration with what you've passed to it). See this:

https://stackoverflow.com/questions/11816236/how-to-config-f

[2017-04-06 18:47] #74141 closed, assigned to nobody

[2017-04-06 20:57] fc9cca60-f582-41bb-a683-840c6b119ece commented on #74190
Just discovered that a nearly identical example is presented in the end of section "Non-capturing and Named Groups". My proposal applies to this other example, too.
And, by the way, reading this HOWTO has been very useful to me.

[2017-04-06 21:58] 2cbba83f-4c91-4cfe-9fe9-ff99d371f0f0 commented on #74186
I made a try at a patch for this.

My C is rudimentary at best, so I was hoping someone could look it over before I submitted a PR?

https://github.com/gotyaoi/cpython/commit/2906fc9069ce6ec4888a547b5088ef9177a21c9a

[2017-04-07 03:43] zhangyangyu commented on #74182
I use screens and usually like to open a terminal to fill the screen. One of my use case is changed by this patch from:

             'manufacturers_specifications': '2U 2*Intel Xeon E5-2603 4核 8*8G '
                                             'DDR3-1333 ECC 1.35v,12*300G 15K '
                                             'RPM 3.5寸 SAS,RAID '
                                             '卡带电池cac

[2017-04-07 04:02] bc32d54b-212e-4d78-b482-263a73578987 commented on #74195
This code below shows a situation when Python int() library would return a value of int(1.0) -\> 0.0

\---------------CODE\----------------------------
[code]

\# This code was originally to solve the least number of changes needed.
\# However, in an attempt to solve this. A bug is found.

[code]

\-------------OUTPUT\----------------------

int(4.01)	 = 4
int(0.02)	 = 0
int(0.04)	 = 0
int(0.1)	 =

[2017-04-07 04:02] bc32d54b-212e-4d78-b482-263a73578987 opened #74195 "Integer conversion failure"
BPO | [30009](https://bugs.python.org/issue30009)
--- | :---
Nosy | @serhiy-storchaka, @eryksun, @nvutri
Files | <li>[int_bug.py](https://bugs.python.org/file46783/int_bug.py "Uploaded as text/plain at 2017-04-07.04:02:05 by @nvutri"): Code to reproduce error for int</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*<

[2017-04-07 04:19] eryksun commented on #74195
Use %r instead of %s to show the repr. Hopefully that should clear things up for you. int() truncates toward 0. The float in this case is slightly less than 1.

[2017-04-07 04:19] #74195 closed, assigned to nobody

[2017-04-07 04:20] serhiy-storchaka commented on #74195
"%s" rounds float representation to 12 digits in Python 2.7. Replace "%s" with "%r" and you will get precise representation of floats.

int(4.01)        = 4
int(0.019999999999999574)        = 0
int(0.03999999999999915)         = 0
int(0.09999999999999787)         = 0
int(0.19999999999999574)         = 0
int(0.9999999999999787)  = 0
R = 0.009999999999999787

See also https://docs.python.org/2/tutor

[2017-04-07 05:32] zhangyangyu commented on #74186
Such a change in my mind is an enhancement and only could get into 3.7.

IMHO zlib.compress() and zlib.decompress() are for simple usage, zlib.compressobj() and zlib.decompressobj() for advanced usage if you want more controls. Actually I would prefer simplifying zlib.decompress() signature (dropping the wbits parameter) than adding more complex to zlib.compress(). Of course we can't do that to ma

[2017-04-07 05:56] 2cbba83f-4c91-4cfe-9fe9-ff99d371f0f0 commented on #74186
I'm not sure I agree with that. The docs for compressobj just say

"Returns a compression object, to be used for compressing data streams that won’t fit into memory at once."

Which I don't think says much about the complexity aspect. Whether you're compressing a smaller bit of data or a stream, I think the optional parameters in compressobj are just as applicable to compress. When you've got an i

[2017-04-07 07:40] 1d37b124-541b-4b8d-9563-623a828ff7d6 opened #74196 "Initial bytes to BytesIO cannot be seeked to"
BPO | [30010](https://bugs.python.org/issue30010)
--- | :---
Nosy | @serhiy-storchaka
Files | <li>[bytesio_bug.py](https://bugs.python.org/file46784/bytesio_bug.py "Uploaded as text/plain at 2017-04-07.07:40:15 by Samuli G"): An example exhibiting the bug on Python 3.6.0</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current stat

[2017-04-07 07:40] 1d37b124-541b-4b8d-9563-623a828ff7d6 commented on #74196
The initial bytes provided for the BytesIO constructor are lost when the stream is written to.

Seeking to offset zero, and then getting the value of the entire buffer results of getting only the bytes that have been appended by calling "write".

[2017-04-07 07:55] serhiy-storchaka commented on #74196
This is expected behavior. When you write to ByitesIO you overwrites the old content.

If you want to append to ByitesIO, first move the position to the end: b.seek(0, io.SEEK_END).

[2017-04-07 07:55] #74196 closed, assigned to nobody

[2017-04-07 08:26] 440511f0-8c8e-4852-8882-6e4b30628032 commented on #74197
SYMPTOM:
When used in a multithreaded program, instances of a class derived from HTMLParser may convert an entity or leave it alone, in an apparently random fashion.

CAUSE:
The class has a static attribute, entitydefs, which, on first use, is initialized from None to a dictionary of entity definitions.  Initialization is not atomic.  Therefore, instances in concurrent threads assume that initiali

[2017-04-07 08:26] 440511f0-8c8e-4852-8882-6e4b30628032 opened #74197 "HTMLParser class is not thread safe"
BPO | [30011](https://bugs.python.org/issue30011)
--- | :---
Nosy | @ezio-melotti, @serhiy-storchaka, @ale
PRs | <li>python/cpython#1140</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-07 09:29] 278374d4-c355-42f0-8703-1468ff7cc5ed commented on #74198
Under Python 2, gzip.open defaults to giving (non-unicode) strings.

Under Python 3, gzip.open defaults to giving bytes. Therefore it was fixed to allow text mode be specified, see http://bugs.python.org/issue13989

In order to write Python 2 and 3 compatible code to get strings from gzip, I now use:

In general mode="rt" works great, but I just found this fails under Windows XP running Python 2.7

[2017-04-07 09:29] 278374d4-c355-42f0-8703-1468ff7cc5ed opened #74198 "gzip.open(filename, "rt") fails on Python 2.7.11 on win32, invalid mode rtb"
BPO | [30012](https://bugs.python.org/issue30012)
--- | :---
Nosy | @bitdancer, @peterjc, @vadmium, @eryksun

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-07 09:56] 9da18a29-a07d-4828-a801-24cc911246de commented on #74199
Using gcc-6.3.1 20170306 on Linux 4.10.1, it gave the warning:

gcc -pthread -c -Wno-unused-result -Wsign-compare -g -Og -Wall -Wstrict-prototypes    -std=c99 -Wextra -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers -Werror=implicit-function-declaration   -I. -I./Include    -DPy_BUILD_CORE -o [Python/pyctype.o](https://github.com/python/cpython/blob/main/Python/pyctype.o) [

[2017-04-07 09:56] 9da18a29-a07d-4828-a801-24cc911246de opened #74199 "Compiler warning in Modules/posixmodule.c"
BPO | [30013](https://bugs.python.org/issue30013)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @mlouielu
PRs | <li>python/cpython#1024</li>
Superseder | <li>bpo-31343: Include major(), minor(), makedev() from sysmacros</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</su

[2017-04-07 10:40] giampaolo opened #74200 "Speedup DefaultSelectors.modify() by 2x"
BPO | [30014](https://bugs.python.org/issue30014)
--- | :---
Nosy | @vstinner, @giampaolo, @asvetlov, @1st1
PRs | <li>python/cpython#1030</li>
Files | <li>[selectors_modify.diff](https://bugs.python.org/file46787/selectors_modify.diff "Uploaded as text/plain at 2017-04-07.10:40:06 by @giampaolo")</li><li>[bench.py](https://bugs.python.org/file46788/bench.py "Uploaded as text/plain at 2017-04-07.10

[2017-04-07 10:40] giampaolo commented on #74200
Patch in attachment modifies DefaultSelector.modify() so that it uses the underlying selector's modify() method instead of unregister() and register() resulting in a 2x speedup.

Without patch:
\~/svn/cpython {master}$ ./python bench.py
0.006010770797729492

With patch:
\~/svn/cpython {master}$ ./python bench.py
0.00330352783203125

[2017-04-07 11:28] 2f2b1183-bb5e-4c0d-b71f-64adc9c3e16a opened #74201 "Windows also treats full-width spaces as a delimiter when parsing arguments"
BPO | [30015](https://bugs.python.org/issue30015)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @lcy0321
PRs | <li>python/cpython#1029</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p><

[2017-04-07 11:28] 2f2b1183-bb5e-4c0d-b71f-64adc9c3e16a commented on #74201
Windows also treats full-width spaces as a delimiter when parsing command line arguments.

Therefore, subprocess.run() and subprocess.Popen() also need to quote the arg in the sequence of arguments if there is any full-width spaces in it.

Example:

should be executed as

Windows will treat it as 3 arguments

but now it is incorrectly executed as

Windows will treat it as 4 arguments

[2017-04-07 11:52] 3e343a24-9ff1-42e1-854f-3942dc156566 opened #74202 "No sideways scrolling in IDLE"
BPO | [30016](https://bugs.python.org/issue30016)
--- | :---
Nosy | @terryjreedy, @monkeyboy2805
Superseder | <li>bpo-1207613: Idle Editor: Bottom Scroll Bar</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-04-07 11:52] 3e343a24-9ff1-42e1-854f-3942dc156566 commented on #74202
This has been a bug since 2.7 as far as I know.

[2017-04-07 12:02] 79528080-9d85-4d18-8a2a-8b1f07640dd7 commented on #74200
Hm, do you have a realistic benchmark which would show the benefit?
Because this is really a micro-benchmark, and I'm not convinced that
Selector.modify() is a significant bottleneck in a real-world
application.

[2017-04-07 12:19] giampaolo commented on #74200
modify() can be used often in verbose protocols such as FTP and SMTP where a lot of requests and responses are continuously exchanged between client and server, so you need to switch from EVENT_READ to EVENT_WRITE all the time. I did a similar change some years ago in pyftpdlib but I don't have another benchmark other than this one.

[2017-04-07 12:24] vstinner commented on #74200
Hi Giampaolo Rodola'! It seems like you proposed the same idea 4 years ago and I wrote a similar patch: issue bpo-18932 :-)

I suggest you to use my perf module to produce more reliable benchmarks. Here is my results on my computer smithers tuned for benchmarks:

haypo@smithers$ ./python bench_selectors.py -o ref.json
[apply the patch]
haypo@smithers$ ./python bench_selectors.py -o patch.json
hayp

[2017-04-07 12:28] vstinner commented on #74200
@giampaolo Rodola: CPython development moved to GitHub, can you please create a pull request instead of a patch? Thank you.
https://docs.python.org/devguide/pullrequest.html

Hum, I see that my old patch of issue bpo-18932 (selectors_optimize_modify-2.patch) is different. I tried to factorize code. What do you think of my change?

[2017-04-07 12:40] giampaolo commented on #74200
Hey Stinner, thanks for chiming in! Your old patch uses unregister() and register() so I'm not sure what speedup that'll take as the whole point is to avoid doing that. You may want to rewrite it and benchmark it but it looks like it'll be slower.

[2017-04-07 12:49] giampaolo commented on #74200
PR: https://github.com/python/cpython/pull/1030

[2017-04-07 12:58] vstinner commented on #74200
@neologix: Do you have a GitHub account? It's hard to me to see if https://github.com/neologix is you or not, and your GitHub username is not filled in the Bug Tracker database.

[2017-04-07 13:03] vstinner commented on #74200
Giampaolo Rodola': "Your old patch uses unregister() and register() so I'm not sure what speedup that'll take as the whole point is to avoid doing that."

My patch calls generic unregister() and register() of the base classes, but it only uses one syscall per modify() call.

Oh by the way, it seems like my patch changes KqueueSelector, but your change doesn't. Am I right? KqueueSelector is the def

[2017-04-07 13:11] giampaolo commented on #74200
Doesn't that mean doing 3 operations (unregister(), register(), modify()) instead of the current 2 (unregister(), register())? I don't see how it can be faster than a single modify() syscall.

You are right but it looks like you end up doing the same thing as unregister() and register(). kqueue() has no modify() method so I don't think it can benefit from this change.

[2017-04-07 13:24] vstinner commented on #74200
The idea is to reuse \_BaseSelectorImpl.register() and \_BaseSelectorImpl.unregister() to factorize the code. These methods don't use syscall, they create the SelectorKey object and update \_fd_to_key. So each class doesn't have to redo these things.

I don't insist to redo what I did, I'm just trying to explain my change because your change basically copy/paste the same code 3 times, and you forg

[2017-04-07 13:39] giampaolo commented on #74200
You can't factorize the logic of modify() into those as they do two different things. I also don't like repeating the same thing 3 times but given how the module is organized I'm not sure how to do that as I need to pass 3 things around: the low-level selector (epoll, poll, whatever) and the read and write constants (POLLIN, EPOLLIN) which change depending on the selector being used.
The same thin

[2017-04-07 14:21] ee2443e1-474a-4061-a239-a661020f7162 commented on #74203
I had some statements inside a `with` statement to write data to an entry in a
ZipFile. It worked great. I added a second `with` statement containing almost
exactly the same statements. That still worked great.

I refactored those common statements into a function and called that function
from the two `with` statements... and got an exception:

  zlib.error: Error -2 while flushing: inconsistent s

[2017-04-07 14:21] ee2443e1-474a-4061-a239-a661020f7162 opened #74203 "zlib.error: Error -2 while flushing: inconsistent stream state"
BPO | [30017](https://bugs.python.org/issue30017)
--- | :---
Nosy | @takluyver, @vadmium, @serhiy-storchaka, @zhangyangyu, @gotyaoi
PRs | <li>python/cpython#1041</li><li>python/cpython#1092</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-04-07 15:56] serhiy-storchaka commented on #74144
New changeset 150cd1916a59e750ce88c65325de9ef0c42c6cb5 by Serhiy Storchaka in branch 'master':
bpo-29958: Minor improvements to zipfile and tarfile CLI. (#944)
https://github.com/python/cpython/commit/150cd1916a59e750ce88c65325de9ef0c42c6cb5

[2017-04-07 15:56] #74144 closed, assigned to serhiy-storchaka

[2017-04-07 16:56] eryksun commented on #74201
CreateProcess has to parse the beginning of the command-line string if the lpApplicationName parameter is omitted. According to the documentation, it treats "white space" as a delimiter, but it doesn't actually say which characters are in that set. We know for an unquoted name like "python{character}spam" that it will try to execute python.exe if "{character}" is parsed as a space. Otherwise we ex

[2017-04-07 17:25] b41e63a1-f99f-43cf-a755-b8a6d507195e opened #74204 "multiprocessing.Pool garbles call stack for __new__"
BPO | [30018](https://bugs.python.org/issue30018)
--- | :---
Nosy | @bitdancer, @serhiy-storchaka, @applio
Files | <li>[newpool.py](https://bugs.python.org/file46790/newpool.py "Uploaded as text/plain at 2017-04-07.17:25:18 by Charles McEachern"): Minimal working example</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current stat

[2017-04-07 17:25] b41e63a1-f99f-43cf-a755-b8a6d507195e commented on #74204
I'm calling the constructor of Foo, a subclass of str. Expected output:

Called Foo.\_\_new__ with args = ('TIMESTAMP', 'INPUT0')
TIMESTAMP OUTPUT0

When I make the call using a multiprocessing.pool.ThreadPool, it works fine. But when I make the call using a multiprocessing.Pool (using the apply or apply_async method), I get:

Called Foo.\_\_new__ with args = ('TIMESTAMP', 'INPUT0')
Called Foo.\_\

[2017-04-07 17:28] bitdancer commented on #74198
I don't think this is really a bug, I think it's a consequence of the different byte/string models of python2 and python3 coupled with the different binary/text models of posix and windows.

[2017-04-07 17:34] 79528080-9d85-4d18-8a2a-8b1f07640dd7 commented on #74200
IMHO it complicates the code for little benefit: that's why I asked
for a realistic benchmark. This patch could made modify() 10x faster,
if modify() only accounts for 1% of the overall overhead in a
realistic use-case, then it's not worth it.

[2017-04-07 17:36] 2f2b1183-bb5e-4c0d-b71f-64adc9c3e16a commented on #74201
Thank you for testing and explanation.

My test cases are not enough.

I will close this issue.

[2017-04-07 17:36] #74201 closed, assigned to nobody

[2017-04-07 18:09] giampaolo commented on #74200
In certain protocols modify() is supposed to be used on every interaction between client and server. E.g. an FTP server does this:

- register(fd, EVENT_READ); recv()         # wait command from client
- modify(fd, EVENT_WRITE); send(response)  # send response
- modify(fd, EVENT_READ); recv()           # wait for new command

...so it's two calls for each command received.
In asyncio modify() is a

[2017-04-07 18:23] eryksun commented on #74198
In Python 3, gzip.open(filename, "rt") returns a TextIOWrapper using the system's default encoding. The decoded output is potentially very different from the byte string returned by 'text mode' in Python 2, even if using "rt" mode didn't result in the nonsensical "rtb" mode. I suggest using the default binary mode, and manually wrapping the file in an io.TextIOWrapper.

[2017-04-07 18:55] terryjreedy commented on #74142
Is math.exp(x) always more accurate than math.e ** x?  If so, doc could say so.  Otherwise, should this be closed?

[2017-04-07 19:25] giampaolo commented on #74200
@neologix: here's a PR which refactors the poll-related classes: https://github.com/python/cpython/pull/1035/files
From there, we'll be able to avoid modify() code duplication.

[2017-04-07 19:29] terryjreedy commented on #74161
I agree with the rejection on the PR.

[2017-04-07 19:29] #74161 closed, assigned to nobody

[2017-04-07 19:47] terryjreedy commented on #74166
I agree.  And if the sub-exceptions are different, prepend them to the messages in the OSError list.

[2017-04-07 20:15] ac7caf75-a8f2-464b-bf2a-51392c3ce203 opened #74205 "IDLE freezes when opening a file with astral characters"
BPO | [30019](https://bugs.python.org/issue30019)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @eryksun

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-07 20:15] ac7caf75-a8f2-464b-bf2a-51392c3ce203 commented on #74205
wandering for the internet I fount some unicode character in a random comment, and just for curiosity I wanted to use python (3.6.1) to see their value, so I copy those characters and paste them in IDLE, and in doing so it just close without warning or explanation.

the character in question are: 🔫 🔪
(chr(128299) and chr(128298))

then I put them in a script

    text = "🔫 🔪"
    print(text)

and

[2017-04-07 20:23] terryjreedy commented on #74173
A generator function \*gf* is a function that contain \*yield* in its body.  When it is compiled, flag CO_GENERATOR is set in gf.\_\_code__.co_flags.  When the function is called, the flag is queried and if set, a special path is taken that attaches the live but suspended code instance to a generator instance.

\*isgeneratorfunction* tests that an object is a function and that the flag is set.

[c

[2017-04-07 20:23] #74173 closed, assigned to nobody

[2017-04-07 20:27] terryjreedy commented on #74173
If you want to know if a function returns a generator, you have to call it and pass the result to \*isgenerator*, or use type-annotated functions (see the typing module) and static type checkers.

[2017-04-07 20:49] applio commented on #74204
It looks like the first 'Called Foo.\_\_new__' is being reported by the child (pool of 1) process and the second 'Called Foo.\_\_new__' is being reported by the parent process.  In multiprocessing, because objects are by default serialized using pickle, this may be caused by the unpickling of the Foo object by the parent process which is something you would not experience when using ThreadPool bec

[2017-04-07 20:53] 278374d4-c355-42f0-8703-1468ff7cc5ed commented on #74198
I want a simple cross platform (Linux/Mac/Windows) and cross version (Python 2/3) way to be able to open a gzipped file and get a string handle (default encoding TextIOWrapper under Python 3 is fine). My use-case is specifically for documentation examples.

Previously I used gzip.open(filename) but with the introduction of Python 3 that stopped working because the Python 3 default was to give you

[2017-04-07 20:58] applio commented on #74204
[code]

FWIW, near the end of my prior message:  s/it didn't merely/it merely/

[2017-04-07 21:06] b41e63a1-f99f-43cf-a755-b8a6d507195e commented on #74204
This caused me several hours of misery yesterday, trying to isolate what was going wrong.

I am unfortunately not at liberty to share the code I'm working on. The example on GitHub has the general thrust of it: my constructor was always called in a specific way, and didn't expect to be given something that was already processed.

Interesting to see that this is a product of pickling. That makes me

[2017-04-07 21:10] terryjreedy commented on #74175
'crash' means OS message rather than Python exiting with exception traceback and message.

Can you post a minimal reproducer?  What OS?  subprocess.Popen.\_get_handles is different on POSIX and windows, though both seem to call f.fileno() without try-except.

All filenoes are initialized to -1, so it seems to me that either
a. all accesses should be wrapped with try-except: pass, or
b. subprocess

[2017-04-07 21:14] applio commented on #74204
I very much understand and am very thankful you took the time to create a simple example that you could share.  Honestly, that's the reason I felt inspired to stop what I was doing to look at this now rather than later.

There are probably a number of different ways to address it but your suggestion of adding a check to see if this is the first time that object has been constructed sounds like it

[2017-04-07 21:35] terryjreedy commented on #74189
We seldom just remove things; we usually deprecate in the doc and if possible, issue a runtime warning.

This is probably not the only obsolete codec.  There should be a uniform policy for deprecation and removal, if ever.  But for any codec, there might be archives, even if the codec is not used for new files.

If the codec is buggy, I think it should be fixed. Bt you yourself closed bpo-24117, s

[2017-04-07 21:39] bitdancer commented on #74204
I suspect you just need to add pickle support to your class.  When I subclassed str in the email package, I found I needed to do that.  I'd have to go through the docs again to remember how the code works, but you can take a look at the BaseHeader class in email.headerregistry to see what I did.

[2017-04-07 21:51] eryksun commented on #74198
You want to hack a fake text mode, which won't do new-line translation or treat ^Z (0x1a) as EOF like a normal 2.x text mode on Windows. Can't you just use io.TextIOWrapper(gzip.open(filename))? This reads Unicode.

[2017-04-07 22:11] b41e63a1-f99f-43cf-a755-b8a6d507195e commented on #74204
That seems to do it! Looks like the trick is to define \_\_reduce__ to help out the serializer. Thanks!

[2017-04-07 22:13] 278374d4-c355-42f0-8703-1468ff7cc5ed commented on #74198
A workaround for my use case is even simpler, something like this:

try:
    handle = gzip.open(filename, "rt")
except ValueError:
    \# Workaround for Python 2.7 under Windows
    handle = gzip.open(filename, "r")

However, even this is troublesome for use in documentation intended to work on Python 2 and 3, over Linux, Mac and Windows.

[2017-04-07 22:23] vsajip commented on #74125
New changeset d0d575a6db8cb3b2a720be9f404af3d754da9a5d by Vinay Sajip in branch '3.6':
bpo-29939: suppress compiler warnings in \_ctypes_test (bpo-1038)
https://github.com/python/cpython/commit/d0d575a6db8cb3b2a720be9f404af3d754da9a5d

[2017-04-07 22:24] vsajip commented on #74125
New changeset ae0915e42d8cd96e5ced1fc442ea078b4a59e82d by Vinay Sajip in branch '3.5':
Closes bpo-29939: suppress compiler warnings in \_ctypes_test (bpo-1039)
https://github.com/python/cpython/commit/ae0915e42d8cd96e5ced1fc442ea078b4a59e82d

[2017-04-07 22:24] #74125 closed, assigned to nobody

[2017-04-07 22:41] 79528080-9d85-4d18-8a2a-8b1f07640dd7 commented on #74200
This refactoring was already suggested a long time ago, and at the
time both Guido and I didn't like it because it makes the code
actually more complicated: DRY in this case doesn't apply IMO.

Also, this whole thread is a repeat of:
http://bugs.python.org/issue18932

At the time, I already asked for one realistic use case demonstrating
the benefit of implementing modify() natively instead of
unre

[2017-04-07 23:23] vadmium commented on #74198
I agree this is not a bug. It is just one of the unfortunate compatibility breaks between Py 2 and 3. Mode="rt" is not one of the values that are supported according to the documentation; adding support would be a new feature.

I understand the file mode handling is stricter on Windows because the underlying OS or C library would crash.

To have code that works with Py 2 and 3, I would switch the

[2017-04-07 23:23] #74198 closed, assigned to nobody

[2017-04-08 00:09] vadmium commented on #74175
Raphael: Can you point to the implementation code that handles file objects without a file descriptor (or give a demonstration of it)? I suspect there is no such support and you are mistaken.

Perhaps we can instead clarify in the “subprocess” documentation that “fileno” is required. bpo-19992 already proposes this.

bpo-1260171 and bpo-10482 are also related, about streaming data between Python f

[2017-04-08 00:26] 2cbba83f-4c91-4cfe-9fe9-ff99d371f0f0 commented on #74203
At a guess, when encoder goes out of scope, it closes the underlying file object. Then, on exiting the with block, the zipfile tries to take some action with the closed file and errors out?

[2017-04-08 01:22] vadmium commented on #74203
It looks like the zip entry writer object may not expect its “close” method to be called multiple times. Other file objects tend to allow this with no ill effect. Adding Serhiy and Thomas who implemented the writer object in bpo-26039.

The first time it is called will be when the context manager (“with” statement) exits.

The second time will be when the TextIOWrapper is garbage-collected. This i

[2017-04-08 02:08] vadmium commented on #74186
I don’t have a strong opinion on adding the missing parameters to the one-shot “compress” function, though it does seem beneficial to have a consistent set of parameters supported across the relevant APIs.

[2017-04-08 02:32] vstinner commented on #74189
"But for any codec, there might be archives, even if the codec is not
used for new files."

The bug is in the encoder. The codec is still usable to \*decode\*
files. So maybe a few people use it but didn't notice the encoder bug?

[2017-04-08 02:57] terryjreedy commented on #74205
Your report touches on four different issues.

1. IDLE uses tkinter for the GUI and tkinter wraps tcl/tk 8.6 or earlier, which only handles Basic Multilingual Plane chars (codepoints 0000 to FFFF). The gun and knife chars are out of that range.  I have read that 8.7 will handle all unicode chars and that it might be released this year.  This will fix multiple IDLE issues (bpo-21084, bpo-22742, bpo

[2017-04-08 03:04] 4d31f458-c499-40af-af0c-ca86c53d58b7 commented on #74206
I would find it useful if the tuples returned by attrgetter functions were namedtuples.  An initial look at the code for attrgetter suggests that this would be an easy change and should make little difference to performance.  Giving a namedtuple where previously a tuple was returned seems unlikely to trigger bugs in existing code so I propose to simply change attrgetter rather than providing a par

[2017-04-08 03:04] 4d31f458-c499-40af-af0c-ca86c53d58b7 opened #74206 "Make attrgetter use namedtuple"
BPO | [30020](https://bugs.python.org/issue30020)
--- | :---
Nosy | @rhettinger, @tiran, @stevendaprano, @bitdancer, @serhiy-storchaka, @MojoVampire
Files | <li>[test_attrgetter.py](https://bugs.python.org/file46791/test_attrgetter.py "Uploaded as text/plain at 2017-04-08.15:19:33 by Isaac Morland")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might

[2017-04-08 04:09] b8e5a65c-bed4-4c5d-ba32-799f883ba638 commented on #74189
From my subjective feelings, probably no old archives still exist, but I can't assert it. That's why I suggest remove it, or at least don't fix it.

Ah, let's slow down the pace, this bug exists over a dacade, we don't need to solve it at once.

I closed bpo-24117, because it became a soup of small issues, so I split it into individual issues (such as this issue).

[2017-04-08 04:23] eryksun commented on #74205
In Windows IDLE 3.x, you should still be able to print a surrogate transcoding, which sneaks the native UTF-16LE encoding around tkinter:

[code]

[code]

Pasting non-BMP text into IDLE fails on Windows for a similar reason. Tk naively encodes the surrogate codes in the native Windows UTF-16 text as invalid UTF-8, which I've seen refereed to as WTF-8 (Wobbly). I see the following error when I run

[2017-04-08 06:33] serhiy-storchaka commented on #74203
I agree, that close() should be an idempotent operation. Proposed patch fixes this.

[2017-04-08 06:35] stevendaprano commented on #74206
Before writing a patch that may be rejected, can you explain in detail what change you propose? Example(s) will be good.

For example:

py\> from operator import attrgetter
py\> f = attrgetter('keys')
py\> f({})
\<built-in method keys of dict object at 0xb7c47ecc\>

I don't see a tuple here, so what (if anything) are you planning to change?

How about the example from help(attrgetter)?

 |  After

[2017-04-08 06:43] serhiy-storchaka commented on #74142
Not always. For example for x = 0 both methods give the same exact result.

[2017-04-08 06:53] serhiy-storchaka commented on #74100
New changeset 205e00c5cfd495a4dc6dae8e8fa0fb828fb3dca9 by Serhiy Storchaka in branch 'master':
bpo-29914: Fix default implementations of \_\_reduce__ and \_\_reduce_ex__(). (#843)
https://github.com/python/cpython/commit/205e00c5cfd495a4dc6dae8e8fa0fb828fb3dca9

[2017-04-08 06:55] serhiy-storchaka commented on #74184
New changeset b785396ab451b0c9d6ae9ee5a9e56c810209a6cb by Serhiy Storchaka in branch 'master':
bpo-29998: Pickling and copying ImportError now preserves name and path (bpo-1010)
https://github.com/python/cpython/commit/b785396ab451b0c9d6ae9ee5a9e56c810209a6cb

[2017-04-08 06:56] #74100 closed, assigned to serhiy-storchaka

[2017-04-08 08:04] 278374d4-c355-42f0-8703-1468ff7cc5ed commented on #74198
OK, thanks. Given this is regarded as an enhancement rather than a bug fix, I understand the choice not to change this in Python 2.7.

[2017-04-08 08:12] serhiy-storchaka commented on #74207
Proposed patch adds examples of using re.escape().

See also bpo-29995.

[2017-04-08 08:12] serhiy-storchaka opened #74207 "Add examples for re.escape()"
BPO | [30021](https://bugs.python.org/issue30021)
--- | :---
Nosy | @ezio-melotti, @serhiy-storchaka
PRs | <li>python/cpython#1048</li><li>python/cpython#1115</li><li>python/cpython#1116</li><li>python/cpython#1118</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><

[2017-04-08 08:25] serhiy-storchaka commented on #74184
New changeset af685f9050416da8050e0ec11a8dff9afd4130e7 by Serhiy Storchaka in branch '3.6':
bpo-29998: Pickling and copying ImportError now preserves name and path (bpo-1010) (bpo-1042)
https://github.com/python/cpython/commit/af685f9050416da8050e0ec11a8dff9afd4130e7

[2017-04-08 08:26] serhiy-storchaka commented on #74184
New changeset e63f8f293a96ceebf06de15b4e1c97dbbff0f6a8 by Serhiy Storchaka in branch '3.5':
bpo-29998: Pickling and copying ImportError now preserves name and path (bpo-1010) (bpo-1043)
https://github.com/python/cpython/commit/e63f8f293a96ceebf06de15b4e1c97dbbff0f6a8

[2017-04-08 08:28] #74184 closed, assigned to nobody

[2017-04-08 09:36] serhiy-storchaka commented on #74129
[PR 1049](https://github.com/python/cpython/pull/1049) and [PR 1050](https://github.com/python/cpython/pull/1050) restore ABI compatibility in 3.5 and 2.7. Unfortunately this restores the original bug with using PySlice_GetIndicesEx in third-party code (but CPython core and standard extensions no longer use PySlice_GetIndicesEx).

Can we consider 3.6.0 rather than 3.6.1 as broken release?

[2017-04-08 10:05] serhiy-storchaka opened #74208 "Get rid of using EnvironmentError and IOError"
BPO | [30022](https://bugs.python.org/issue30022)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka
PRs | <li>python/cpython#1051</li><li>python/cpython#2107</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-04-08 10:05] serhiy-storchaka commented on #74208
EnvironmentError and IOError now are aliases to OSError. But some code still use them. Proposed patch replaces all uses of EnvironmentError and IOError (except tests and scripts) with OSError. This will make the code cleaner and more uniform.

[2017-04-08 15:19] 4d31f458-c499-40af-af0c-ca86c53d58b7 commented on #74206
I've attached a file which illustrates what I'm proposing to happen with the examples from the help.  Note that attrgetter (attr) is not affected, only attrgetter (*attrs) for more than one attribute.  The idea is that tuples resulting from attrgetter functions will retain the attribute names from the original object.  In some work I have done recently this would have been very handy with groupby.

[2017-04-08 16:07] berkerpeksag commented on #73911
Like I already said in [msg290943](https://bugs.python.org/msg290943), Cursor.row_factory is kept for backwards compatibility reasons and it shouldn't be documented.

[2017-04-08 17:02] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #74206
Aside from other issues, namedtuples can't have fields beginning with underscores, attrgetter can get attributes beginning with underscores (and dotted attributes for that matter). There isn't going to be an obvious or intuitive mapping to apply here.

[2017-04-08 17:38] 4d31f458-c499-40af-af0c-ca86c53d58b7 commented on #74206
What are the "other issues"?

As to the issue you raise here, that's why I use rename=True.

First create a type with an underscore attribute:

(just an easy way of creating such a type; used of namedtuple specifically is admittedly a bit of a red herring)

Now create an object and illustrate its attributes:

[code]

Now use my modified attrgetter to get the attributes as a namedtuple:

[code]

An

[2017-04-08 17:42] #74149 closed, assigned to nobody

[2017-04-08 17:49] b78688f9-6435-4192-9fe9-2f86f7e61fcf commented on #74143
bump to close issue now that PR was merged

[2017-04-08 18:31] giampaolo commented on #74200
For the sake of experiment I'm attaching a toy echo server which uses modify() to switch between EVENT_READ and EVENT_WRITE. Without patch I get 35000 req/sec, with patch around 39000 req/sec (11.4% faster).
To be entirely honest a smarter echo server would switch between EVENT_READ / EVENT_WRITE only in case of BlockingIOError on send() or recv(), but unfortunately it's a condition which (for sen

[2017-04-08 20:13] bitdancer commented on #74206
This is a clever idea, but I vote -1 for this proposal.  I think it makes attrgetter more complex for little purpose.  The fact that only some attribute names work and the others get mangled makes the API very ugly and not, IMO, desirable.

Finally, if you want this, you can pretty easily write a function that wraps attrgetter to do it.  I don't think it has enough utility to justify being in the

[2017-04-08 20:45] tiran commented on #74206
I'm with RDM and vote -1, too.

A namedtuple is a bit more costly than a normal tuple. That's especially try for dynamic attrgetter() that are defined ad-hoc, e.g. as key function for sorted(). The creation of type classes doesn't come for free.

[2017-04-08 20:56] tiran commented on #74194
Thanks for your report.

Python is going to require legacy functions like TLSv1_method() for a while. They are required to provide constants like PROTOCOL_TLSv1. I have deprecated these constants in 3.6 and they will be removed in 3.8. In the mean time Python is not compatible with OpenSSL api=1.1.0.

[2017-04-08 21:07] serhiy-storchaka commented on #74206
I vote -1 too.

1. As was said, this doesn't work with all attribute names.
2. This adds circular dependency between operator and collections modules.
3. This increases memory consumption and startup time for small programs that don't use the collections module.
4. Performance. Creating a namedtuple is slower than creating a tuple, and many code is optimized for raw tuples.
5. This increases the c

[2017-04-08 21:36] ac224bc2-6200-4e59-bd22-a7f440782ac2 commented on #74194
Thanks for the reply.

OpenSSL 1.1.0 added functions to control the SSL/TLS version used by SSL contexts created using TLS_method(). You might consider updating the code for existing Python branches to use these functions.

SSL_CTX_set_min_proto_version
SSL_CTX_set_max_proto_version

https://www.openssl.org/docs/man1.1.0/ssl/SSL_CTX_set_min_proto_version.html

[2017-04-08 21:43] #74143 closed, assigned to nobody

[2017-04-09 00:08] vadmium commented on #74130
In bpo-23674, I posted a patch that changes to consistent parameter names (subclass, self). The exception message would avoid “type”, becoming

super(subclass, self): self must be an instance or subtype of subclass

[2017-04-09 04:02] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #74130
Just wanted to add that I found this when I was trying to find a way to decorate all methods in a class without using a metaclass or modifying \_\_getattr__.

Using Josh's workaround, here's a simple demonstration that (at least at first glance) prints a message when a method is called and when it is finished:

[code]

[2017-04-09 05:53] rhettinger commented on #74206
I concur with the others.  This is unnecessary feature creep that doesn't make sense for typical use cases.

[2017-04-09 05:53] #74206 closed, assigned to nobody

[2017-04-09 06:16] 75aa1165-012c-43ea-85f3-06f5b73850b3 commented on #74209
[code]

There returned value is a List of lambda functions, not numbers

[2017-04-09 06:16] 75aa1165-012c-43ea-85f3-06f5b73850b3 opened #74209 "Example code becomes invalid for "Why do lambdas defined in a loop with different values all return the same result?""
BPO | [30023](https://bugs.python.org/issue30023)
--- | :---
Nosy | @ericvsmith

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-09 07:47] serhiy-storchaka commented on #74137
New changeset 64c8f705c0121a4b45ca2c3bc7b47b282e9efcd8 by Serhiy Storchaka (Michael Seifert) in branch 'master':
bpo-29951: Include function name for some error messages in `PyArg_ParseTuple*` (#916)
https://github.com/python/cpython/commit/64c8f705c0121a4b45ca2c3bc7b47b282e9efcd8

[2017-04-09 07:49] serhiy-storchaka commented on #74137
Thank you for your contribution Michael. Since most builtin and extension functions and methods now use Argument Clinic and provide a function name, this should be a great enhancement.

[2017-04-09 07:49] #74137 closed, assigned to nobody

[2017-04-09 08:43] ncoghlan commented on #73984
Oops, the new PRs and merges haven't shown up automatically because I didn't fix the spelling of the issue number.

3.7 (master): https://github.com/python/cpython/pull/1058
3.6: https://github.com/python/cpython/pull/1060
3.5: https://github.com/python/cpython/pull/1059
2.7: https://github.com/python/cpython/pull/1057

I'll see what happens if I edit the PR titles after the fact.

[2017-04-09 09:22] ncoghlan commented on #73984
New changeset 4c116cb3b3ee38cae229f7e0df0cd2045fe73c27 by Nick Coghlan in branch '3.6':
bpo-29798: Handle git worktree in patchcheck (bpo-1058) (bpo-1060)
https://github.com/python/cpython/commit/4c116cb3b3ee38cae229f7e0df0cd2045fe73c27

[2017-04-09 09:22] ncoghlan commented on #73984
New changeset c82d39479a88154bd72a3a304be5f473c118da95 by Nick Coghlan in branch '3.5':
bpo-29798: Handle git worktree in patchcheck
https://github.com/python/cpython/commit/c82d39479a88154bd72a3a304be5f473c118da95

[2017-04-09 09:24] ncoghlan commented on #73984
OK, this should really be working now (and I checked it on my 2.7 checkout before submitting that PR).

Any further problems found should go in a new issue.

[2017-04-09 09:24] #73984 closed, assigned to ncoghlan

[2017-04-09 11:11] 8627a794-a570-4c32-a414-67eb267e57a2 commented on #74210
https://mail.python.org/pipermail/python-ideas/2017-April/045405.html

Hi there.

I asked a question \<http://stackoverflow.com/questions/41845671/import-as-in-python-3\> on Stackoverflow:

I was pointed out \<http://stackoverflow.com/a/24968941/248296\> that this is a somewhat weird behavior of Python:

Why would `import a.b.c` work when `a.b.c` is not yet fully imported, but `import a.b.c as my_

[2017-04-09 11:11] 8627a794-a570-4c32-a414-67eb267e57a2 opened #74210 "Treat `import a.b.c as m` as `m = sys.modules['a.b.c']`"
BPO | [30024](https://bugs.python.org/issue30024)
--- | :---
Nosy | @warsaw, @brettcannon, @ncoghlan, @ericsnowcurrently, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#1264</li><li>python/cpython#3217</li>
Files | <li>[test.zip](https://bugs.python.org/file46794/test.zip "Uploaded as application/zip at 2017-04-09.16:36:16 by Victor.Varvariuc")</li>

<sup>*Note: these values reflect the

[2017-04-09 12:11] ncoghlan commented on #74210
The background here is the change in http://bugs.python.org/issue17636 that allows IMPORT_FROM to fall back to sys.modules when written as "from a.b import c as m", while the plain LOAD_ATTR generated for "import a.b.c as m" fails.

One potential resolution to the discrepancy that occurred to me in the python-ideas discussion was to add a new IMPORT_ATTR opcode specifically for use in the latter c

[2017-04-09 12:45] cbf387af-c88f-4503-987f-7c55ef082fd7 opened #74211 "Spam"
BPO | [30025](https://bugs.python.org/issue30025)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-09 13:18] #74211 closed, assigned to nobody

[2017-04-09 14:29] ericvsmith commented on #74209
That's consistent with the example: it's showing you how to create a list of functions, that when called, return squares.

"This gives you a list that contains 5 lambdas that calculate x\*\*2"

Maybe "squares" isn't the most awesome name, but I think if you read the example in its entirety, it's all consistent and correct.

[2017-04-09 15:38] #74209 closed, assigned to nobody

[2017-04-09 15:48] gvanrossum commented on #74210
Hm, the stackoverflow point to another stackoverflow (http://stackoverflow.com/questions/24807434/imports-in-init-py-and-import-as-statement/24968941#24968941) which is due to an import cycle. Is there also an import cycle here? Because I cannot seem repro this with just empty modules (and I'm too lazy to find out if brain is a real package).

[2017-04-09 16:12] mdickinson commented on #74142
As Serhiy says: not always, and in general the answer is going to depend on the relative quality of the libm implementations of pow and exp. But on typical machines, it is going to be true that `math.exp(x)` is a better (faster, more accurate) way of computing the exponential function than `math.e ** x`. (Similarly, `math.sqrt(x)` should be preferred over `x ** 0.5`.) I'm not sure whether it's wor

[2017-04-09 16:23] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74212
I think collections.abc.Hashable.\_\_subclasshook__ should check \_\_eq__ method in addition to \_\_hash__ method. This helps detect classes that are unhashable due to:

to \_\_eq__ = None

Of course, it still cannot detect:

def \_\_eq__: return NotImplemented

but it's better than nothing.

In addition, it's probably worth documenting that explicitly inheriting from Hashable has (correct but une

[2017-04-09 16:23] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #74212 "Hashable doesn't check for __eq__"
BPO | [30026](https://bugs.python.org/issue30026)
--- | :---
Nosy | @rhettinger, @pkch

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-09 16:25] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #74212
Sorry, this should be just a documentation issue.

I just realized that \_\_eq__ = None isn't correct anyway, so instead we should just document that Hashable cannot check for \_\_eq__ and that explicitly deriving from Hashable suppresses hashability.

[2017-04-09 16:36] 8627a794-a570-4c32-a414-67eb267e57a2 commented on #74210
\# mytest/mod2.py:

[code]

[2017-04-09 18:40] rhettinger commented on #74212
Sorry, this is how ABCs are supposed to work.  They use @abstractmethod to specify requirements that a subclass if required to implement.  The ABC metaclass then enforces that requirement, preventing instantiation unless those requirements are met.  If not met, they give a reasonably clear error message, "TypeError: Can't instantiate abstract class A with abstract methods \_\_hash__".

[2017-04-09 18:40] #74212 closed, assigned to rhettinger

[2017-04-09 18:40] a962a4f7-4b98-4abf-ae76-ae38970892bc commented on #73880
I had a problem that can be solved with the presented change.
But I had also problems to reproduce it in a small example.
I am not sure if a test is allowed to depend on external libraries.

The code at the end executed with
    mpirun -np 3 python test.py
always breaks with the current code of pathlib and works with the fix.

Maybe this helps to write a test and shows a usecase where this fix is

[2017-04-09 18:55] rhettinger commented on #74142
It is usually at least as accurate, but we can't really guarantee anything because math.exp does whatever the underlying C math library does (so good libary -\> good result, bad library -\> bad result).

Rather than gum-up the math library docs, I suggest having a FAQ entry or wiki entry somewhere.  Getting extreme accuracy is a nebulous topic in general and even more so in Python (where there is

[2017-04-09 19:11] terryjreedy commented on #74142
To include corner cases, I should have asked 'at least as accurate' rather than 'more accurate'.  It would be a sad libm that had specialized functions worse than pow, since the specialized functions could, at worse, use pow.

For an expert point of view, the reason for math to have the specialized functions is to give access to functions in the libm of the compiler used. A beginner ignorant of su

[2017-04-09 19:17] terryjreedy commented on #74142
Raymond added his comment while I was writing mine.  A FAQ with added caveats might be even better, but it will be mostly missed.  If we add one, I might add a comment to some of the SO questions.

[2017-04-09 19:27] rhettinger commented on #74142
FWIW, these kind of nuances really aren't beginner topics.

[2017-04-09 19:36] 80036ac5-bb84-4d39-8416-02cd8e51707d commented on #74213
test_xml_etree.py and test_xml_etree_c.py on 2.7 branch fail since this commit:

commit 68903b656d4e1011525a46cbd1338c6cbab83d6d
Author: Serhiy Storchaka \<storchaka@gmail.com\>
Date:   Sun Apr 2 16:55:43 2017 +0300

    bpo-15083: Convert ElementTree doctests to unittests. (#906)

Output of test suite:

[388/399] test_xdrlib
[389/399] test_xml_etree
/tmp/cpython/Lib/test/test_xml_etree.py:1674: D

[2017-04-09 19:36] 80036ac5-bb84-4d39-8416-02cd8e51707d opened #74213 "test_xml_etree and test_xml_etree_c fail due to AssertionError: unhandled warning DeprecationWarning"
BPO | [30027](https://bugs.python.org/issue30027)
--- | :---
Nosy | @ezio-melotti, @serhiy-storchaka
PRs | <li>python/cpython#1065</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-09 19:40] serhiy-storchaka commented on #74142
Nuances of expm1(), log1p(), log2() and log10() aren't beginner topics, but they are documented. I think it wouldn't harm if add "This is usually more accurate than ``e ** x`` or ``pow(e, x)``."

The only issue is how to distinguish ``math`` constant ``e`` from mathematical constant *e*.

[2017-04-09 19:45] serhiy-storchaka commented on #74213
Ah, I ran tests with -Wa and -We, but forgot to run with -3. Thank you for noticing this Arfrever!

[2017-04-09 19:45] 80036ac5-bb84-4d39-8416-02cd8e51707d commented on #74213
To reproduce problem when running only these 2 files, use e.g.:
python2.7 -3 -m test.test_xml_etree
python2.7 -3 -m test.test_xml_etree_c

For full test suite, this -3 option is set in Makefile:
TESTPYTHON=     $(RUNSHARED) ./$(BUILDPYTHON) -Wd -3 -E -tt $(TESTPYTHONOPTS)

[2017-04-09 20:00] 6c8a72cc-9872-4016-ae96-23477ed791a8 opened #74214 "make test.support.temp_cwd() fork-safe"
BPO | [30028](https://bugs.python.org/issue30028)
--- | :---
Nosy | @gpshead, @vsajip, @vstinner, @tiran, @methane, @serhiy-storchaka, @akruis, @miss-islington
PRs | <li>python/cpython#1066</li><li>python/cpython#1074</li><li>python/cpython#5824</li><li>python/cpython#5825</li><li>python/cpython#5826</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and migh

[2017-04-09 20:00] 6c8a72cc-9872-4016-ae96-23477ed791a8 commented on #74214
The context manager test.support.temp_cwd() creates a temporary directory and removes it on exit. The test runner test.regrtest uses this context manager.

I observed an annoying behaviour of test.support.temp_cwd() on Linux/UNIX: if the code, that runs in the temp_cwd() context forks and if the forked child terminates (without calling exec), then the temporary directory will be removed twice: by

[2017-04-09 22:17] Mariatta commented on #73735
New changeset 577fc04a7157f6e904cffd6a0e1ad83d3460acd6 by Mariatta in branch '3.6':
[3.6] bpo-29549: Fixes docstring for str.index (GH-256) (GH-1028)
https://github.com/python/cpython/commit/577fc04a7157f6e904cffd6a0e1ad83d3460acd6

[2017-04-09 23:26] 9bdb45ff-41f1-405d-999a-c9a9eb99e027 commented on #74215
This is related to bpo-26188,

Using await in a simple statement (outside of an async def method) raises SyntaxError with the unhelpful message "invalid syntax".

It seems obvious once you've read PEP-492 in detail, but I think that as more and more developers use async/await this will stump lots of people.

I've been trying to pick apart where this constraint is raised to see whether I can help w

[2017-04-09 23:26] 9bdb45ff-41f1-405d-999a-c9a9eb99e027 opened #74215 "Compiler "'await' outside function" error message is unreachable"
BPO | [30029](https://bugs.python.org/issue30029)
--- | :---
Nosy | @tonybaloney
PRs | <li>python/cpython#1069</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-10 00:02] 9bdb45ff-41f1-405d-999a-c9a9eb99e027 commented on #74215
yey! I figured it out!!

[2017-04-10 00:32] gvanrossum commented on #74210
So to save others the bother to check what's in the zip file, the contents of mytest/mod1.py is as follows:

[code]

There's no \_\_init__.py (so mytest is a namespace package, PEP-420) but adding an empty \_\_init__.py makes no difference. The problem occurs with both Python 2 and 3.

The root cause is the import cycle. I played around with dis and found the following (I suspect others have alrea

[2017-04-10 00:53] rhettinger commented on #74142
Sorry, I think you're inventing an issue here.  ``math.e`` is the nearest representable value to the mathematical constant *e*.  This is no more interesting or useful that distinguishing ``math.pi`` from the mathematical constant *pi*.  I don't know of any other language that tries to split hairs like this.

[2017-04-10 01:04] #74215 closed, assigned to nobody

[2017-04-10 01:31] 27221ae4-80bf-4ab3-beca-bec82a977487 commented on #74175
I'm sorry for the confusion here, it turns out I was misinterpreting the results of my program and my workaround was not working. Like others have said, the subprocess code seems to rely on the existence of file descriptors

I would be pretty partial to the idea of having the subprocess's internal code catch OSError and raise a clearer error message like "subprocess can only operate on files with

[2017-04-10 03:02] njsmith commented on #74129
In the last week, pypi downloads were about evenly split between 3.6.0 and 3.6.1 (2269969 for "3.6.1", 1927189 for "3.6.0", and those two were \~2 orders of magnitude more common than other strings like "3.6.1+", "3.6.0b2", etc. [1]). Not sure what that to conclude from that, but certainly if people start uploading 3.6.1-only wheels right now then it will break things for a lot of end users.

With

[2017-04-10 03:14] vadmium commented on #74175
The current exception seems to give a reasonable hint:

[code]

Perhaps we can close this in favour of fixing the documentation? (bpo-19992)

[2017-04-10 03:22] njsmith commented on #74129
It looks like PyTorch got bitten by this: https://discuss.pytorch.org/t/pyslice-adjustindices-error/1475/11

[2017-04-10 04:33] 27221ae4-80bf-4ab3-beca-bec82a977487 commented on #74175
that error is what is raised by StringIO (subclassing OSError), other file-like objects could just be raising OSError (according to the file object spec described in the documentation for the io module).

Fixing documentation would already be helpful though. I will close this issue

[2017-04-10 04:33] #74175 closed, assigned to nobody

[2017-04-10 04:49] serhiy-storchaka commented on #74142
This is the original issue, it isn't invented by me. ``math.e`` is the nearest
representable value to the mathematical constant *e* and ``math.exp(x)`` is
the nearest representable value to the mathematical constant *e* raised to the
power *x*, but not the nearest representable value to ``math.e`` raised to the
power *x*.

[2017-04-10 05:29] 8627a794-a570-4c32-a414-67eb267e57a2 commented on #74210
I think this is solvable -- track and delete the references too.

It's your decision in the end, but I think it's not good to make the language inconsistent because of technical limitations -- the interface should be the primary source for decisions.

[2017-04-10 05:36] serhiy-storchaka commented on #74142
Proposed patch applies Mark's fix to math.expm1() and cmath.exp(), adds the accuracy note to math.exp(), adds italic to mathematical constants, fixes empty lines.

[2017-04-10 05:40] serhiy-storchaka commented on #74214
Is os.getpid always available? I have found hasattr(os, 'getpid') in the logging module.

[2017-04-10 05:58] 8627a794-a570-4c32-a414-67eb267e57a2 commented on #74210
This sounds like a really strange application.

Even if someone overrides the attribute, when you do in other place `import a.b.c as m` you expect `a.b.c` to be path to a module, otherwise it would be hard to debug.

The docs https://docs.python.org/3/reference/simple_stmts.html#import say `import_stmt     ::=  "import" module ["as" name]` meaning everywhere that `module` is a path to a module.

h

[2017-04-10 06:02] tiran commented on #74214
The line is from 2006. Some parts of the logging module are much older, maybe even from the time Python had DOS support.

[2017-04-10 06:25] ncoghlan commented on #74210
Right, this problem only arises with import cycles, and that's why we resisted making eager submodule resolution work \*at all* for so long (bpo-992389 was filed way back in 2004).

We only conceded the point (with bpo-17636 being implemented for 3.5) specifically to address a barrier to adoption for explicit relative imports, as it turned out that "from . import bar" could fail in cases where "im

[2017-04-10 06:46] 6c8a72cc-9872-4016-ae96-23477ed791a8 commented on #74214
I had the same concerns about os.getpid(), but test.support uses it unconditionally in various places. See https://github.com/python/cpython/blob/master/Lib/test/support/__init__.py#L803 for an example.

[2017-04-10 06:59] serhiy-storchaka commented on #74214
Then LGTM.

[2017-04-10 07:51] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #73880
Maybe we should review pathlib.py for this kind of issues and first apply the fixes and new tests inside PyPy.  That sounds like a better way to get things done for these rare issues, where CPython is understandably reluctant to do much changes.

Note that the PyPy version of the stdlib already contains fixes that have not been merged back to CPython (or only very slowly), though so far they are t

[2017-04-10 08:03] vstinner commented on #74214
I proposed [PR 1074](https://github.com/python/cpython/pull/1074) to remove the hasattr(os, 'getpid') from logging.LogRecord constructor.

[2017-04-10 08:40] methane commented on #74214
bpo-28156 added HAVE_GETPID check.
Maybe, we should have dummy getpid() for CloudABI?

[2017-04-10 08:43] vstinner commented on #74214
Naoki:

Oh. If os.getpid() is not always available, the documentation should be updated.

[2017-04-10 08:59] methane commented on #74214
Yes, but CloudABI is not officially supported platform.
They have many patches to run Python on CloudABI. https://github.com/NuxiNL/cloudabi-ports/tree/master/packages/python

How can we document about it?  I hadn't used it.

os.getlogin document says `Availability: Unix, Windows.` [1]
Is it proper way to indicate "there may be some minor platforms which doesn't provide this."?
[1] https://docs.py

[2017-04-10 09:17] serhiy-storchaka commented on #74216
\_RandomNameSequence was added in bpo-589982 when generator functions were new optional feature. \_RandomNameSequence is implemented as an iterator class. Proposed patch simplifies \_RandomNameSequence by implementing it as a generator function.

This is a private name, all uses of \_RandomNameSequence() need only the support of the iterator protocol.

[2017-04-10 09:17] serhiy-storchaka opened #74216 "Simplify _RandomNameSequence"
BPO | [30030](https://bugs.python.org/issue30030)
--- | :---
Nosy | @rhettinger, @pitrou, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#1075</li><li>python/cpython#1187</li><li>python/cpython#1191</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub

[2017-04-10 09:22] serhiy-storchaka commented on #74214
Originally this meant "not in Mac OS, DOS, OS/2, VMS". But now the support of all these platforms is dropped and the note is outdated.

[2017-04-10 12:21] pitrou commented on #74056
Can you record sys.getallocatedblocks() to see whether it grows continuously?

[2017-04-10 13:06] 37255eef-8b90-4b1c-a8ee-42ba7295b578 opened #74217 "Improve queens demo (use argparse and singular form)"
BPO | [30031](https://bugs.python.org/issue30031)
--- | :---
Nosy | @rhettinger, @terryjreedy, @ericvsmith, @bitdancer, @PavloKapyshin, @mlouielu
PRs | <li>python/cpython#1084</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.

[2017-04-10 13:06] 37255eef-8b90-4b1c-a8ee-42ba7295b578 commented on #74217
Currently [Tools/demo/queens.py](https://github.com/python/cpython/blob/main/Tools/demo/queens.py):

 - does manual sys.argv parsing
 - says “Found 1 solutions”

I propose to: 1) use argparse; 2) if q.nfound == 1, use “solution”. I you are ok with this, I’ll make a pull request.

[2017-04-10 16:16] serhiy-storchaka commented on #74216
The downside of this change:

1. The \_RandomNameSequence iterator no longer has the rng field. But it isn't used in the stdlib. And since \_RandomNameSequence is a private name, it shouldn't be used in third-party code.

2. The result of no longer copyable neither pickleable. This could cause a problem if it is set as an attribute of copyable of pickleable object. But it is used only as function

[2017-04-10 17:07] serhiy-storchaka commented on #74067
Can you move forward this issue Victor? I'm very interesting in it. It is worth to advertise this API on Python-Dev.

\_PyArg_Parser also can utilize this API.

[2017-04-10 17:16] gvanrossum commented on #74210
OK I won't close it but I'm withdrawing from the issue. If there are devs who want to implement this or mentor some contributor into implementing it feel free, but it sounds like Nick doesn't think it's important enough to fix (i.e. not worth his time) and I feel the same.

[2017-04-10 17:18] ericvsmith commented on #74217
I think these are reasonable improvements. Also, move the initialization of "silent" in to \_\_new__.

[2017-04-10 17:41] 2c8ee9fa-7f11-45f7-b140-44790542eb15 commented on #74218
The email module, when creating base64-encoded text parts, does not process line breaks correctly - RFC 2045 s6.8 says that line breaks must be converted to CRLF before base64-encoding, and the email module is not doing this.

[code]

You might say that it is the application's job to convert the line endings before calling MIMEText(), but I think all application authors would be surprised by this.

[2017-04-10 17:41] 2c8ee9fa-7f11-45f7-b140-44790542eb15 opened #74218 "email module creates base64 output with incorrect line breaks"
BPO | [30032](https://bugs.python.org/issue30032)
--- | :---
Nosy | @warsaw, @jribbens, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-10 17:45] 2c8ee9fa-7f11-45f7-b140-44790542eb15 opened #74219 "email module base64-encodes utf-8 text"
BPO | [30033](https://bugs.python.org/issue30033)
--- | :---
Nosy | @warsaw, @jribbens, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-10 17:45] 2c8ee9fa-7f11-45f7-b140-44790542eb15 commented on #74219
The email module, when creating text parts using character encoding utf-8, base64-encodes the output even though this is often inappropriate (e.g. if it is a Western language it is almost never appropriate).

[code]

[2017-04-10 17:58] bitdancer commented on #74217
I'm not sure about using argparse.  Currently the demo uses no imports.  I'm not strongly against, though.

Did you mean \_\_init__ instead of \_\_new__?  Also, its value could be made True and False instead of 0 and 1.  (Which tells you how old this demo is.)

[2017-04-10 17:59] serhiy-storchaka commented on #74210
It is easy to implement this (just replace LOAD_ATTR with IMPORT_FROM in the compiler). The hardest part is writing tests.

[2017-04-10 18:05] ericvsmith commented on #74217
Oops, yes, \_\_init__.

Plenty of the demos use imports. I think it would be clearer with argparse, but I also don't feel strongly about it.

[2017-04-10 18:23] bitdancer commented on #74219
Yes, this sub-optimal, but it's the way it works in the legacy API, and we aren't going to change the legacy (compat32) API at this point.  The new policies and the new API in python3 handle this sensibly.

[2017-04-10 18:23] #74219 closed, assigned to nobody

[2017-04-10 18:25] bitdancer commented on #74217
Yeah, I was wondering if part of the demo was to show something that can be done with no library support...but that probably isn't the case.

[2017-04-10 18:38] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
@pitrou: sys.getallocatedblocks does not seem to increase

[2017-04-10 18:42] bitdancer commented on #74218
This appears to be a problem in the new API as well.  I don't think we can change the legacy API because its been that way forever and applications might be depending on it (that is, the library preserves exactly what it is handed, and an application might break if that changes).  In the new API, though, I think we could get away with fixing it to do the transformation on text strings in the defau

[2017-04-10 18:43] bitdancer commented on #74218
Actually, I think the fix would go in the generator, not in the contentmanager, but it's been long enough since I've worked on the code that I'm not sure.

[2017-04-10 18:49] pitrou commented on #74056
I see.  This may mean the leak is in memory that's not managed directly by Python (e.g. some OpenSSL structure).

Is there a way to reproduce without third-party libraries such as requests?

[2017-04-10 18:54] 2c8ee9fa-7f11-45f7-b140-44790542eb15 commented on #74219
Just a note for anyone finding this in searching results: it appears that what David means by "python3 API" is actually a new API in Python 3.6 (email.message.EmailMessage).

[2017-04-10 18:58] 2c8ee9fa-7f11-45f7-b140-44790542eb15 commented on #74218
OK cool, but please note that this is a MIME issue not an SMTP issue - if the message has text that is being base64-encoded then it must use CRLF line breaks regardless of whether SMTP is involved or not.

[2017-04-10 19:03] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
yes, in the gist I created you can switch between the various clients, by default right now it uses raw sockets.

[2017-04-10 19:10] bitdancer commented on #74218
That is true for text/xxxx types, yes.  The policy is named after the target wire protocol, and if you are transmitting an email message over SMTP, that implies MIME.  What to do if you are not sending it over SMTP, though, is a tougher question. One could argue it either way for the 'default' policy, and I'm open to argument.

[2017-04-10 19:16] bitdancer commented on #74219
The API exists in python3.5 and python3.4 as well, it was just provisional.  Very few things changed between the provisional version and the final version in 3.6.

[2017-04-10 20:26] 2c8ee9fa-7f11-45f7-b140-44790542eb15 commented on #74218
So on further investigation, with the new API and policy=SMTP, it does generate correct base64 output. So I guess on the basis that the new version can generate the right output, and it appears to be a deliberate choice that the default policy breaks the RFCs, you can close this issue ;-)

[code]

[2017-04-10 20:55] bitdancer commented on #74218
Huh.  I ran something like that test and thought I saw the reverse.  I guess I misread my terminal.  Looking at the code, set_content does take care to fix the line ending according to the policy before doing the encoding.

[2017-04-10 20:55] #74218 closed, assigned to nobody

[2017-04-10 20:58] bitdancer commented on #74218
There is, however, an issue that if you pass a message with the default policy to the generator and specify SMTP as the policy, it doesn't \*recode* the line endings.  I thought there was an open issue for that, but I can't find it.

One solution would be to do as you suggest and make \\r\\n what we always use when doing base64 encoding.  I'm open to that as a possible fix, but it probably needs a

[2017-04-10 21:50] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
If a csv file has a quote character at the beginning of a field but no closing quote, the csv module will keep reading the file until the very end in an attempt to close out the field.  It's true this situation occurs only when the quoting in a csv file is incorrect, but it would be extremely helpful if the csv reader could be told to stop reading each row of fields when it encounters a newline ch

[2017-04-10 21:50] 4dd6abbe-2383-4705-9679-8915b0df47fe opened #74220 "csv reader chokes on bad quoting in large files"
BPO | [30034](https://bugs.python.org/issue30034)
--- | :---
Nosy | @rhettinger, @terryjreedy, @bitdancer, @Mariatta, @keitherskine

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-10 22:06] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
Perhaps I should add what I would prefer the csv reader to return in my example above.  That would be:

['a', 'b', 'c']
['d', 'e,f']
['g', 'h', 'i']

Yes, the second line is still mangled but at least the csv reader would carry on and read the third line correctly.

[2017-04-10 22:15] bitdancer commented on #74220
In my experience CSV files with fields with embedded newlines are pretty common.  I don't really think we want to support invalid CSV files.

[2017-04-10 23:09] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
The csv reader already handles a certain amount of bad formatting.  For example, using default behavior, the following file:

a,b,c
d,"e"X,f
g,h,i

is read as:
['a', 'b', 'c']
['d', 'eX', 'f']
['g', 'h', 'i']

It seems reasonable that csv should be able to handle delimited files that are not perfectly formatted.  After all, even the CSV "standard" isn't really a standard.  When dealing with large

[2017-04-11 00:33] bitdancer commented on #74220
Well, ETL is semi-standardized.  Try dealing with csv files exported from excel spreadsheets written by non-programmers :)

"e"X is not a quoting the csv module will produce, but I don't think it is a csv error.  insofar as csv has a standard, it is a defacto standard based on what Microsoft tools do.  What does excel, for example, do with either of those examples?

[2017-04-11 01:11] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
As you say, David, however much we would like the world to stick to a given CSV standard, the reality is that people don't, which is all the more reason for making the csv reader flexible and forgiving.

The csv module can and should be used for more than just "comma-separated-values" files.  I use it for all sorts of different delimited files, and it works very well.  Pandas uses it, as I'm sure

[2017-04-11 04:34] 892ced02-b53d-4325-9f58-50e009295e29 commented on #74221
PyMemberDef from Noddy examaple: https://docs.python.org/3/extending/newtypes.html

static PyMemberDef Noddy_members[] = {
    {"first", T_OBJECT_EX, offsetof(Noddy, first), 0,
     "first name"},
    {"last", T_OBJECT_EX, offsetof(Noddy, last), 0,
     "last name"},
    {"number", T_INT, offsetof(Noddy, number), 0,
     "noddy number"},
    {NULL}  /* Sentinel \*/
};

When compiling the code with

[2017-04-11 04:34] 892ced02-b53d-4325-9f58-50e009295e29 opened #74221 "[RFC] PyMemberDef.name should be const char *"
BPO | [30035](https://bugs.python.org/issue30035)
--- | :---
Nosy | @serhiy-storchaka
Files | <li>[test.cpp](https://bugs.python.org/file46795/test.cpp "Uploaded as text/plain at 2017-04-11.04:34:43 by Sunyeop Lee"): c++ source code to reproduce the problem</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<de

[2017-04-11 04:37] rhettinger commented on #74220
I concur with David on both points.   Also, whether common or not, we don't want to break existing code that already works.

I recommend marking this as rejected and closing.

[2017-04-11 07:39] f7385517-0a24-49a2-83fd-f4eca87773fa commented on #74220
While I don't think that the csv module should second-guess broken input you might consider "fixing" your data on the fly:

[code]

That should give the desired output.

[2017-04-11 07:45] 11571bd7-cc8f-4b80-a34f-d13719c58596 commented on #74222
The footer of httpS://python.org links to httP://bugs.python.org, compromising user data for login and register options

[2017-04-11 07:45] 11571bd7-cc8f-4b80-a34f-d13719c58596 opened #74222 "The bugs website doesn't use httpS by default"
BPO | [30036](https://bugs.python.org/issue30036)
--- | :---
Nosy | @tiran, @berkerpeksag, @Mariatta, @Dutcho

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-11 07:51] 11571bd7-cc8f-4b80-a34f-d13719c58596 opened #74223 "inspect documentation on code attributes incomplete"
BPO | [30037](https://bugs.python.org/issue30037)
--- | :---
Nosy | @vadmium, @Dutcho
Superseder | <li>bpo-26985: Information about CodeType in inspect documentation is outdated</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pytho

[2017-04-11 07:51] 11571bd7-cc8f-4b80-a34f-d13719c58596 commented on #74223
The table at the top of the inspect documentation (https://docs.python.org/3/library/inspect.html#types-and-members) omits co_cellvars, co_freevars, and co_kwonlyargcount attributes of type code

(note: the type's doc string does provide these attributes)

[2017-04-11 08:27] vadmium commented on #74223
Looks like a there is already a patch discussed at bpo-26985.

[2017-04-11 08:27] #74223 closed, assigned to nobody

[2017-04-11 09:11] ncoghlan commented on #73878
New changeset 00c75e9a45ff0366c185e9e8a2e23af5a35481b0 by Nick Coghlan (svelankar) in branch 'master':
bpo-29692: contextlib.contextmanager may incorrectly unchain RuntimeError (GH-949)
https://github.com/python/cpython/commit/00c75e9a45ff0366c185e9e8a2e23af5a35481b0

[2017-04-11 09:11] njsmith opened #74224 "Race condition in how trip_signal writes to wakeup fd"
BPO | [30038](https://bugs.python.org/issue30038)
--- | :---
Nosy | @pitrou, @vstinner, @ned-deily, @njsmith, @1st1, @zooba
PRs | <li>python/cpython#1082</li><li>python/cpython#2075</li><li>python/cpython#2257</li><li>python/cpython#2258</li><li>python/cpython#2259</li>
Files | <li>[wakeup-fd-racer.py](https://bugs.python.org/file46797/wakeup-fd-racer.py "Uploaded as text/plain at 2017-04-12.02:13

[2017-04-11 09:11] njsmith commented on #74224
In trip_signal [1], the logic goes:

1) set the flag saying that this particular signal was tripped
2) write to the wakeup fd
3) set the global is_tripped flag saying "at least one signal was tripped", and do Py_AddPendingCall (which sets some global flags that the bytecode interpreter checks on every pass through the loop)

So the problem here is that it's step (2) that wakes up the main thread t

[2017-04-11 09:19] ncoghlan commented on #73878
This has been merged for 3.7, but cherry-picks to the other branches are still needed.

I also inadvertently missed adding svelankar's name (Siddharth Velankar) to [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS), so that oversight will need to be tidied up as well.

[2017-04-11 09:33] njsmith opened #74225 "Resuming a 'yield from' stack is broken if a signal arrives in the middle"
BPO | [30039](https://bugs.python.org/issue30039)
--- | :---
Nosy | @vstinner, @njsmith, @1st1
PRs | <li>python/cpython#1081</li><li>python/cpython#1640</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-04-11 09:33] njsmith commented on #74225
If we have a chain of generators/coroutines that are 'yield from'ing each other, then resuming the stack works like:

- call send() on the outermost generator
- this enters \_PyEval_EvalFrameDefault, which re-executes the YIELD_FROM opcode
- which calls send() on the next generator
- which enters \_PyEval_EvalFrameDefault, which re-executes the YIELD_FROM opcode
- ...etc.

However, every time we e

[2017-04-11 09:39] methane opened #74226 "Speedup empty dict creation and reduce its memory usage"
BPO | [30040](https://bugs.python.org/issue30040)
--- | :---
Nosy | @tim-one, @rhettinger, @terryjreedy, @vstinner, @bitdancer, @methane, @markshannon, @serhiy-storchaka, @MojoVampire, @zhangyangyu, @mlouielu
PRs | <li>python/cpython#1080</li><li>python/cpython#12307</li><li>python/cpython#12308</li><li>python/cpython#12324</li><li>python/cpython#16847</li>

<sup>*Note: these values reflect the st

[2017-04-11 09:39] methane commented on #74226
dict.clear() make the dict to empty key-sharing dict to reduce it's size.
New dict can use same technique.

[code]

[2017-04-11 09:42] methane commented on #74226
performance impact

best case:
$ ./python.patched -m perf timeit --compare-to=`pwd`/python.default  -- '{}'
python.default: ..................... 36.9 ns +- 0.9 ns
python.patched: ..................... 25.3 ns +- 0.7 ns
Mean +- std dev: [python.default] 36.9 ns +- 0.9 ns -> [python.patched] 25.3 ns +- 0.7 ns: 1.46x faster (-31%)

worst case:
$ ./python.patched -m perf timeit --compare-to=`pwd`/pyt

[2017-04-11 09:47] ncoghlan commented on #73878
New changeset e8a6bb4f3936123f3eca0b6cea05e2875a2722bc by Nick Coghlan in branch 'master':
bpo-29692: Add missing ACKS entry (bpo-1079)
https://github.com/python/cpython/commit/e8a6bb4f3936123f3eca0b6cea05e2875a2722bc

[2017-04-11 10:04] e3aee5cf-17d7-4115-92e1-ac629178d119 opened #74227 "subprocess: weird behavior with shell=True and args being a list"
BPO | [30041](https://bugs.python.org/issue30041)
--- | :---
Nosy | @vadmium, @dmerejkowsky
Superseder | <li>bpo-20344: subprocess.check_output() docs misrepresent what shell=True does</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bug

[2017-04-11 10:04] e3aee5cf-17d7-4115-92e1-ac629178d119 commented on #74227
If you have:

[code]

you'll see that the command run is actually just "ls", not "ls --help"

[2017-04-11 10:20] vstinner commented on #74224
Last time I had to make a major change related to signal handling, it was in the asyncio module because of a race conditon which occurred on FreeBSD.

commit fe5649c7b7bf52147480d6b1124a3d8e3597aee3
Author: Victor Stinner \<victor.stinner@gmail.com\>
Date:   Thu Jul 17 22:43:40 2014 +0200

    Python issue bpo-21645, Tulip issue 192: Rewrite signal handling

    Since Python 3.3, the C signal hand

[2017-04-11 10:31] vadmium commented on #74227
This is as documented, but perhaps see bpo-20344 about clarifying the documentation.

[2017-04-11 10:31] #74227 closed, assigned to nobody

[2017-04-11 10:35] njsmith commented on #74224
Right. My claim would be that the PR I just submitted is the correct fix for bpo-21645 as well.

The approach asyncio uses is very elegant, but unfortunately it assumes that the wakeup fd has infinite buffer, which isn't true. If enough signals or other callbacks are scheduled to the event loop quickly enough, then the buffer can overflow and signals can get lost. This is a very classic issue and

[2017-04-11 10:36] zhangyangyu commented on #74226
Isn't the latter case the more common one? Creating an empty dict and then populate it.

[2017-04-11 10:39] vstinner commented on #74224
Previous changes in signal handling. It's the commit c13ef66649985025382c64f6af8e3b956411e05b of the issue bpo-8407 which changed the order: \<add_pending, write into wakeup fd\> became \<write into wakeup fd, add_pending\>.

I really \*hate* having to think to these evil things which are signals and threads... Signals and threads don't go well altogether :-p It reminds me the "Ghosts of Unix past

[2017-04-11 10:40] njsmith commented on #74224
Err, libuv obviously doesn't use a Python-level signal handler. I just meant to include them as another example of a library I checked that uses a self-pipe to handle signals but relies on out-of-band information to transmit what the actual signal is :-).

[2017-04-11 10:43] njsmith commented on #74224
I think the idea in c13ef6664998 wasn't so much that we wanted the wakeup fd to be written to first, as that the way the code was written back then, the presence of 'if (is_tripped) return;' meant that it wasn't getting written to \*at all* in some cases. Since then the code got restructured and the early return was removed, so this isn't an issue anymore.

[2017-04-11 10:45] methane commented on #74226
This is memory usage optimization, not performance optimization.
(But I think memory efficiency makes multi process application faster because L3 cache size is limited resource.)
Later case shows how performance penalty is large.

[2017-04-11 10:46] methane commented on #74226
macro bench result:

[code]

Faster (7):
- logging_silent: 746 ns +- 12 ns -\> 722 ns +- 11 ns: 1.03x faster (-3%)
- xml_etree_generate: 272 ms +- 4 ms -\> 264 ms +- 4 ms: 1.03x faster (-3%)
- telco: 20.7 ms +- 0.7 ms -\> 20.2 ms +- 0.4 ms: 1.02x faster (-2%)
- xml_etree_parse: 311 ms +- 13 ms -\> 305 ms +- 12 ms: 1.02x faster (-2%)
- nqueens: 266 ms +- 4 ms -\> 262 ms +- 2 ms: 1.02x faster (-2%)

[2017-04-11 10:55] zhangyangyu commented on #74226
I mean creating a solo empty dict doesn't seem to make much sense. Although it saves memory, but when it's populated, it's resized and the memory occupation comes back.

And this makes PyDict_New() hard to understand. :-(

[2017-04-11 11:00] njsmith commented on #74224
If it helps, notice that the SetEvent(sigint_event) call used to wake up the main thread on windows is also performed unconditionally and after the call to Py_AddPendingEvent. From the point of view of twisted/tornado/trio, this is exactly the same as the write to the wakeup fd -- the only reason we use the wakeup fd instead of the sigint_event is that it's more convenient to wait on an fd than on

[2017-04-11 11:53] serhiy-storchaka commented on #74226
Use "--duplicate 100" when making microbenchmarks for such fast operations. The overhead of iterating can be significant and comparable with the time of the operation.

[2017-04-11 12:09] ncoghlan commented on #74210
Huh, interesting - I'd missed that the only part of the "from a.b import c" that IMPORT_FROM implements is the LOAD_ATTR variant that falls back to sys.modules. The prior adjustment to get IMPORT_NAME to return "a.b" instead of "a" happens inside that opcode based on the fact that a non-empty from_list was passed in.

So indeed, there's no new opcode needed - as Serhiy points out, the compiler jus

[2017-04-11 12:12] vstinner commented on #74224
"I think the idea in c13ef6664998 wasn't so much that we wanted the wakeup fd to be written to first, as that the way the code was written back then, the presence of 'if (is_tripped) return;' meant that it wasn't getting written to \*at all* in some cases. Since then the code got restructured and the early return was removed, so this isn't an issue anymore."

I agree. It wasn't deliberate to chang

[2017-04-11 12:13] vstinner commented on #74224
I know that it can be very difficult to write such test, but can you please try to write a script trying to reproduce the describe the race condition?

Later, we can run the script in a test to check for non-regression.

[2017-04-11 12:21] methane commented on #74226
While I think it's preferable that {} and d.clear() have same memory footprint,
I need real world example which empty dict affects overall memory usage.

I'll check memory usage difference with application I used in this ML thread.
https://mail.python.org/pipermail/python-dev/2017-January/147194.html

[2017-04-11 13:21] 163a8eef-9405-4fa2-84ed-55ec72debb17 opened #74228 "fcntl module for windows"
BPO | [30042](https://bugs.python.org/issue30042)
--- | :---
Nosy | @tiran, @karan-logixal

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-11 13:21] 163a8eef-9405-4fa2-84ed-55ec72debb17 commented on #74228
NameError: global name 'fcntl' is not defined
such error occurs while running software on windows.

does fcntl module (urwid) is available for windows??

[2017-04-11 13:25] 006d7b03-f9f3-44da-bb8d-8d7a3e15fee9 commented on #74165
Senthil,

Can you take a look at the Pull Request when you have time ? The correct PR is #991, not #990.

[2017-04-11 13:25] tiran commented on #74228
Yes, it's Unix only: https://docs.python.org/2.7/py-modindex.html#cap-f

[2017-04-11 13:25] #74228 closed, assigned to nobody

[2017-04-11 13:41] 163a8eef-9405-4fa2-84ed-55ec72debb17 opened #74229 "fcntl module for windows platform"
BPO | [30043](https://bugs.python.org/issue30043)
--- | :---
Nosy | @vstinner, @karan-logixal

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-11 13:41] 163a8eef-9405-4fa2-84ed-55ec72debb17 commented on #74229
is there any fcntl module alternative available that would support windows platform??

in any of futures release of python is it possible that fcntl would support windows??

[2017-04-11 13:49] bitdancer commented on #74226
I've worked on an application (proprietary, unfortunately) that created a lot of empty dictionaries that only sometimes got populated.  It involved sqlalchemy, but I don't remember if the dicts came from sqlalchemy itself or from the code that used it.  That application did care about memory, and the shared-key dicts were a big benefit to it.

[2017-04-11 13:52] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
The csv reader already supports bad CSV - that's what I believe "strict" is for - but only in one specific scenario.  My request is to make that "strict" attribute a bit more useful.

Thank you for your suggestion, Peter.  I have toyed with the idea of looking for an even number of double quotes in each line, but thank you for your neat way of encapsulating it.  (I already have to strip null bytes

[2017-04-11 14:03] vstinner commented on #74229
The Python bug tracker is not a forum. Please ask such question on a Python help mailing list or any Python forum, but not here. Thank you ;-)

(No, there is no fcntl module on Windows.)

[2017-04-11 14:03] #74229 closed, assigned to nobody

[2017-04-11 14:14] pitrou commented on #74056
After adapting your test script to run against a local openssl server (`openssl s_server -www`), I can't see a single leak: the process is peaking at 20860 KB RSS.  This is with Python 3.5 tip.

Does it need a specific server to test against to showcase the leak?

[2017-04-11 14:53] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
I should have said, Peter, an odd number of quotes does not necessarily mean the quoting is bad.  For example, a line of:
a,b",c
will parse fine as ['a', 'b"', 'c'].  Figuring out bad quoting is not easy, but if we know that there are no multiline fields in the file, then at least the parsing can stop at the end of the line.

[2017-04-11 15:42] 0aad3882-5124-4640-a5e0-b18ca5bbebe6 opened #74230 "shutil.copystat should (allow to) copy ownership, and other attributes"
BPO | [30044](https://bugs.python.org/issue30044)
--- | :---
Nosy | @giampaolo, @tiran, @eryksun, @zooba, @RJ722, @davidmrdavid

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-11 15:42] 0aad3882-5124-4640-a5e0-b18ca5bbebe6 commented on #74230
shutil.copystat() copies permissions, timestamps and even flags and xattrs (if supported), but not ownership.
Furthermore, shutil.copy2() documentation until 2.7 used to say it behaves like cp -p, which preserves ownership, and not xattr nor flags. (On my system it silently fails to copy ownership when not root).

It may not be related, but comments in source code for the except NotImplementedErro

[2017-04-11 16:04] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
the interesting part is it doesn't leak with a local https server, it appears to need to be a remove server.

[2017-04-11 16:14] pitrou commented on #74056
Is there a fast enough remote server that shows the leak? I've tested with my own remote server (https://pitrou.net/), but it doesn't leak.

[2017-04-11 16:15] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
ya, my sample script hits google.com \<http://google.com/\>, it's pretty fast.  It just does a "HEAD".

[2017-04-11 16:19] pitrou commented on #74056
Google is not very fast here (a couple of requests / sec at most).  How many requests does it take to see a clear tendency?

[2017-04-11 16:21] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
see graphs here: https://github.com/kennethreitz/requests/issues/3933, x-axis is number of requests not what it says (seconds).

[2017-04-11 17:19] pitrou commented on #74056
Ok, thank you. I've tweaked the script to remove most threads and use maps.google.com (which is faster here), and I managed to bisect the leak to deduce that the offending changeset is 598894ff48e9c1171cb2ec1c798235826a75c7e0.

[2017-04-11 17:40] methane commented on #74226
Thank you for your reply.
Would you try to check how the patch [1] affects memory usage of your application?
I think the patch can be applied to 3.6 easily.

[1] https://patch-diff.githubusercontent.com/raw/python/cpython/pull/1080.patch

[2017-04-11 17:54] bitdancer commented on #74226
Sorry, but I no longer have access to that application (I'm a consultant, and the owner is no longer a client).

[2017-04-11 17:57] pitrou commented on #74056
The following addition fixes the leak:

[code]

Christian, what do you think?

[2017-04-11 18:14] tiran commented on #74056
CRL_DIST_POINTS_free() should be available in all supported OpenSSL versions. The function is defined by DECLARE_ASN1_FUNCTIONS(CRL_DIST_POINTS).

[2017-04-11 18:16] pitrou commented on #74056
So we should use it instead of sk_DIST_POINT_free()? I'd like to minimize potential breakage here.

[2017-04-11 19:11] a504a022-18ff-484f-abb3-b4c5557c05a0 commented on #74056
awesome! Thanks for finding a proposing fix pitrou!  btw I found an example of freeing this structure here: http://www.zedwood.com/article/c-openssl-parse-x509-certificate-pem

[2017-04-11 19:15] tiran commented on #74056
Yes, I'm currently testing the change with a bunch of OpenSSL and LibreSSL versions.

By the way the memory issue can be reproduced with any certificate that contains a CRL distribution point. Letsencrypt certs don't have a CRL DP. I guess Alexander's test cert doesn't have a CRL DP either. The Nokia test cert in our test suite contains one.

\---
[code]

---

Without fix:

[code]

With fix:

[cod

[2017-04-11 20:00] tiran commented on #74056
Antoine, you might find multissl.py helpful. I wrote a script to automate testing with multiple versions of OpenSSL and libressl. The first time it takes about half an hour to download, compile and install all versions locally. https://github.com/tiran/multissl/blob/master/multissl.py

[2017-04-11 20:28] serhiy-storchaka commented on #74231
Currently re.escape() parameter has a name "pattern", but in the documentation the name of the parameter is "string".

The name "pattern" is not correct, and maybe even misleading. The argument of escape() is not a pattern, it is an arbitrary string, and escape() makes a pattern from it by escaping special characters.

It is unlikely that the argument is passed to re.escape() by keyword. Therefore

[2017-04-11 20:28] serhiy-storchaka opened #74231 "Bad parameter name in re.escape()"
BPO | [30045](https://bugs.python.org/issue30045)
--- | :---
Nosy | @rhettinger, @ezio-melotti, @bitdancer, @serhiy-storchaka, @mandeep

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-11 20:40] serhiy-storchaka commented on #74216
Merged in f50354adaaafebe95ad09d09b825804a686ea843.

[2017-04-11 20:41] 4c93acd5-d8bc-4c24-9607-569c85e01bc1 opened #74232 "csv: Inconsistency re QUOTE_NONNUMERIC"
BPO | [30046](https://bugs.python.org/issue30046)
--- | :---
Nosy | @serhiy-storchaka, @zhangyangyu, @tlotze, @corona10

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-13442

[2017-04-11 20:41] 4c93acd5-d8bc-4c24-9607-569c85e01bc1 commented on #74232
A csv.writer with quoting=csv.QUOTE_NONNUMERIC does not quote boolean values, which makes a csv.reader with the same quoting behaviour fail on that value:

-------- csv.py \----------

[code]

----------------------

[code]

----------------------

I'd consider this inconsistency a bug, but in any case something that needs documenting.

[2017-04-11 21:23] 5b4972c1-ebbb-4b77-83a7-66c99dd93336 commented on #74152
It think it's important to document this caveat in `get_type_hints`, that there is virtually _no_ way to use it safely with a class, and that there will always be a high risk of getting an exception unless using this function in a highly controlled setting.

This also, as a consequence, means that there is no "best-effort" support for collecting type hints from a class hierarchy, and every instanc

[2017-04-11 22:07] pitrou commented on #74056
Very nice, thank you!

[2017-04-11 22:38] zooba commented on #74180
This is by design - the embeddable Python is meant to exclude anything relating to the current user by default.

If you're looking for a lightweight Python install that you can use for things like building or managing packages, you may be interested in the Nuget packages - see https://www.nuget.org/packages?q=publisher%3A%22Python+Software+Foundation%22

[2017-04-11 22:38] #74180 closed, assigned to nobody

[2017-04-11 23:22] 5b68c441-639c-4083-a0a1-85f8c4fa2978 opened #74233 "Typos in Doc/library/select.rst"
BPO | [30047](https://bugs.python.org/issue30047)
--- | :---
Nosy | @serhiy-storchaka, @osamu0329nakamura, @Mariatta
PRs | <li>python/cpython#1086</li><li>python/cpython#1098</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.o

[2017-04-11 23:22] 5b68c441-639c-4083-a0a1-85f8c4fa2978 commented on #74233
In 18.3.2. Edge and Level Trigger Polling (epoll) Objects,
there is duplicated 'on' in description of `EPOLLEXCLUSIVE`.

   Wake only ... objects polling on on a fd.
                                 ^^^^^

[2017-04-12 00:06] methane commented on #74226
But sometimes it's not populated.

[code]

So problem is (a) how many empty dicts, and (b) how much memory this patch saves.

Yes, but it is not new complexity because it's same to d.clear().

[2017-04-12 00:11] 179a554f-eaff-458f-ab05-8166251cacbd commented on #74234
If I run this code:

[code]

I expect the task to stop shortly after a call to cancel(). It should surely stop when I try to sleep(). But it doesn't. On my machine this prints:

    Canceled task: True
    Still here
    Still here 2

So, cancel() returns True, but the task doesn't seem to be canceled.

[2017-04-12 00:11] 179a554f-eaff-458f-ab05-8166251cacbd opened #74234 "If a task is canceled at the right moment, the cancellation is ignored"
BPO | [30048](https://bugs.python.org/issue30048)
--- | :---
Nosy | @methane, @1st1
PRs | <li>python/cpython#1097</li><li>python/cpython#1546</li><li>python/cpython#1547</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fi

[2017-04-12 00:47] 1st1 commented on #74234
Interesting. It doesn't work for both C and Python versions of the Task. I'll take a look in detail when I return from vacation.

[2017-04-12 01:31] rhettinger commented on #74231
"Pattern" seems right to me.

[2017-04-12 02:13] njsmith commented on #74224
The attached script wakeup-fd-racer.py fails consistently for me using cpython 3.6.0 on my windows 10 vm:

Attempt 0: start
Attempt 0: FAILED, took 10.016000000000076 seconds
select_calls = 2

(It may help that the VM only has 1 CPU? But the same test passes on Linux even when I use taskset to restrict it to 1 cpu. Maybe Windows has some scheduling heuristic where one thread writing to a socket wh

[2017-04-12 04:02] #73828 closed, assigned to nobody

[2017-04-12 07:45] fee97611-e62e-4d55-a266-e3efd07200f4 commented on #74180
I see. In that case I think pip should be able to handle the case when site.USER_SITE is None. I have created a ticket here: https://github.com/pypa/pip/issues/4437.

I am using the embeddable Python what's it intended for, to make a self-contained distribution of my application (using pynsist). I'm using pip to install optional resources (fonts).

[2017-04-12 08:16] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #73880
Update: a review didn't show any other similar problems (pathlib.py is a thin layer after all).  Applied the fix and test (x2.diff) inside PyPy.

[2017-04-12 08:18] methane commented on #74234
When task.cancel() called, CancelledError is thrown to coro2.
But coro2 doesn't call `yield from` after task.cancel().
So the exception is never raised.

If you add `yield from` after `task.cancel()`, the script runs expected.
\---
[code]

[code]

[code]

[2017-04-12 08:39] serhiy-storchaka commented on #74235
Some operations cache the value of the tp_iternext slot and call it in a loop. But calling tp_iternext can run arbitrary code, release GIL and change the tp_iternext slot in the same or other thread. This can leads to visible behavior difference, such as different iterated values, different raised exceptions or infinite loop. In the past this even could cause a crash (see bpo-3720), but seems now

[2017-04-12 08:39] serhiy-storchaka opened #74235 "Don't cache tp_iternext"
BPO | [30049](https://bugs.python.org/issue30049)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @MojoVampire
PRs | <li>python/cpython#1088</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details

[2017-04-12 08:46] methane commented on #74234
This behavior is documented as:

https://docs.python.org/3.6/library/asyncio-task.html#asyncio.Task.cancel

I agree that this behavior is somewhat surprising.
But I don't know how can I fix the behavior.

[2017-04-12 08:54] njsmith opened #74236 "Please provide a way to disable the warning printed if the signal module's wakeup fd overflows"
BPO | [30050](https://bugs.python.org/issue30050)
--- | :---
Nosy | @pitrou, @vstinner, @njsmith, @serhiy-storchaka, @1st1
PRs | <li>python/cpython#4792</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-04-12 08:54] njsmith commented on #74236
When a wakeup fd is registered via signal.set_wakeup_fd, then the C level signal handler writes a byte to the wakeup fd on each signal received. If this write fails, then it prints an error message to the console.

Some projects use the wakeup fd as a way to see which signals have occurred (asyncio, curio). Others use it only as a toggle for "a wake up is needed", and transmit the actual data out-

[2017-04-12 09:12] vstinner commented on #74236
Is it a theorical question or did you notice the error in the wild? I mean: without sending a signal in a loop.

Right now, we write the signal number into the pipe each time a signal is received. Do you need to get N bytes if the signal is received N times? Maybe we can use a flag and only write the byte once by signal number?

If the pipe becomes full, you loose signals: it's an hard error. I de

[2017-04-12 09:24] vstinner commented on #74237
When reviewing the issue bpo-30030, it reminded me that the random module "doesn't support fork": after fork, the parent and the child produce the same "random" number sequence.

I suggest to add a quick note about that: not a warning, just a note, as a reminder.

There is an exception: SystemRandom produces a different sequence after fork, since it uses os.urandom() (which runs in the kernel).

I

[2017-04-12 09:24] vstinner opened #74237 "Document that the random module doesn't support fork"
BPO | [30051](https://bugs.python.org/issue30051)
--- | :---
Nosy | @rhettinger, @pitrou, @vstinner, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 09:25] vstinner commented on #74216
After reviewing the change, I created the issue bpo-30051: "Document that the random module doesn't support fork".

[2017-04-12 09:28] njsmith commented on #74236
I haven't noticed the error in the wild because I don't use set_wakeup_fd on Linux/MacOS, because of this issue :-). But on MacOS literally all it would take is to receive two signals in quick succession, or to receive one signal at a moment when someone has recently scheduled a callback from a thread (which also writes to the wakeup fd). In principle it can also happen on Windows, but on Windows

[2017-04-12 09:30] pitrou commented on #74237
I'm not sure that's necessary.  fork() is a low-level primitive, people can/should use multiprocessing.Process instead, which does re-seed the PRNG.

[2017-04-12 09:48] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #73880
https://github.com/python/cpython/pull/1089

(I fixed the problem with my CLA check.  Now https://cpython-devguide.readthedocs.io/pullrequest.html#licensing says "you can ask for the CLA check to be run again" but doesn't tell how to do that, so as far as I can tell, I have to ask e.g. here.)

[2017-04-12 10:02] vstinner commented on #74237
Do you mean that adding a note is not necessary? Or proposing a
solution in the note?

[2017-04-12 10:04] pitrou commented on #74237
I mean mentioning fork(), which people usually don't call directly, is not necessary, so, indeed, a note isn't necessary.

[2017-04-12 10:10] vstinner commented on #74067
I dislike \_Py_SET_FINALIZED and \_Py_SET_ONCE name.

I prefer to mention an "initialization" because it's a common pattern in programming and it is known that it only requires to be done once.

\_PY_ONCEVAR_INIT() macro is unusual: it only evaluate the second parameter parameter, a C expression, if the variable is not initialized yet.

Py_SETREF() is different because it always evaluates its seco

[2017-04-12 10:30] serhiy-storchaka commented on #74233
New changeset 3e0f1fc4e0ffcfcc706015fa3d67c262948ef171 by Serhiy Storchaka (NAKAMURA Osamu) in branch 'master':
bpo-30047: Fix a typo in [Doc/library/select.rst](https://github.com/python/cpython/blob/main/Doc/library/select.rst) (bpo-1086)
https://github.com/python/cpython/commit/3e0f1fc4e0ffcfcc706015fa3d67c262948ef171

[2017-04-12 10:36] serhiy-storchaka commented on #74237
I think it is worth documenting.

Even if multiprocessing reseeds the module-global random generator, it doesn't reseed other instances of Random.

[2017-04-12 10:42] serhiy-storchaka commented on #74067
What if use the term "singleton"? It includes "initialize once" and "finalize at shutdown" meanings. \_Py_INIT_SINGLETON() or \_Py_SET_SINGLETON()?

[2017-04-12 12:49] csabella opened #74238 "URL Quoting page links to function Bytes instead of defintion"
BPO | [30052](https://bugs.python.org/issue30052)
--- | :---
Nosy | @birkenfeld, @ncoghlan, @wimglenn, @Mariatta, @csabella
PRs | <li>python/cpython#1271</li><li>python/cpython#1339</li><li>python/cpython#1915</li><li>python/cpython#1921</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-04-12 12:49] csabella commented on #74238
On the URL Quoting page, the following line:

`string may be either a str or a bytes.`

Has the `str` link to:
https://docs.python.org/3/library/stdtypes.html#str

But the `bytes` link to:
https://docs.python.org/3/library/functions.html#bytes

Should the `bytes` link to?
https://docs.python.org/3/library/stdtypes.html#bytes

[2017-04-12 12:50] fee97611-e62e-4d55-a266-e3efd07200f4 commented on #74239
The python.exe produced during the build process is somehow broken:

[code]

Strangely, it works when run from gdb:

[code]

[code]

I'm running macOS Sierra 10.12.4 (16E195) and XCode 8.3.1.

[code]

Forcing the use of the Homebrew-provided GCC by invoking "make CC=gcc-6 CXX=g++-6" has the same result.

[code]

The build is fine when --enable-profiling is not specified.

[2017-04-12 12:50] fee97611-e62e-4d55-a266-e3efd07200f4 opened #74239 "Problems building with --enable-profiling on macOS using homebrew GCC"
BPO | [30053](https://bugs.python.org/issue30053)
--- | :---
Nosy | @ronaldoussoren, @ned-deily, @iritkatriel
Files | <li>[configure.txt](https://bugs.python.org/file46798/configure.txt "Uploaded as text/plain at 2017-04-12.12:50:44 by brechtm")</li><li>[make.txt](https://bugs.python.org/file46799/make.txt "Uploaded as text/plain at 2017-04-12.12:51:16 by brechtm")</li><li>[make_gcc.txt](https://b

[2017-04-12 13:00] serhiy-storchaka commented on #74213
New changeset 65c5b096ac2c6608d296f1603cd4792086108c95 by Serhiy Storchaka in branch '2.7':
bpo-30027: Fix Py3k warnings in test_xml_etree. (bpo-1065)
https://github.com/python/cpython/commit/65c5b096ac2c6608d296f1603cd4792086108c95

[2017-04-12 13:01] #74213 closed, assigned to serhiy-storchaka

[2017-04-12 13:03] serhiy-storchaka commented on #74203
New changeset 4c0d9ea995da595e90e08813b89510de59907802 by Serhiy Storchaka in branch 'master':
bpo-30017: Allowed calling the close() method of the zip entry writer object (bpo-1041)
https://github.com/python/cpython/commit/4c0d9ea995da595e90e08813b89510de59907802

[2017-04-12 13:42] vstinner opened #74240 "Expose tracemalloc C API to track/untrack memory blocks"
BPO | [30054](https://bugs.python.org/issue30054)
--- | :---
Nosy | @vstinner
PRs | <li>python/cpython#1236</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 13:42] vstinner commented on #74240
The issue bpo-26530 added a private C API to manually track/untrack memory blocks in tracemalloc. I was just validated by Julian Taylor who confirms that the API works as expected:
http://bugs.python.org/issue26530#msg291551

So I propose to make the 3 newly added functions public and document them:

* \_PyTraceMalloc_Track()
* \_PyTraceMalloc_Untrack()
* \_PyTraceMalloc_GetTraceback()

[2017-04-12 13:48] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74240
I am not sure if \_PyTraceMalloc_GetTraceback really needs to be a public function.
Exposing the tracing information should probably just go over python interfaces.

[2017-04-12 14:11] vstinner commented on #74240
What's the status in numpy? Is the current numpy release able to use CPython 3.6 tracemalloc private functions?

[2017-04-12 14:14] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74240
With this changeset it would:
https://github.com/numpy/numpy/pull/8885

[2017-04-12 14:59] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #74241
The testsetup in [Doc/library/decimal.rst](https://github.com/python/cpython/blob/main/Doc/library/decimal.rst) is not enough for isolating the tests in respect to the other rst files.  Currently we have the following testsetup, without a testcleanup:

 .. testsetup:: *

    import decimal
    import math
    from decimal import *
    \# make sure each group gets a fresh context
    setcontext(Con

[2017-04-12 14:59] c6a24554-5737-4174-b47e-54fc0403b8dc opened #74241 "Missed testcleanup in decimal.rst"
BPO | [30055](https://bugs.python.org/issue30055)
--- | :---
Nosy | @skrah, @marco-buttu
PRs | <li>python/cpython#1094</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 15:21] 2113fda4-5a2f-48b8-b4a4-b7b38abf379b opened #74242 "RuntimeWarning: invalid value encountered in maximum/minimum"
BPO | [30056](https://bugs.python.org/issue30056)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 15:21] 2113fda4-5a2f-48b8-b4a4-b7b38abf379b commented on #74242
I just updated to numpy 1.12.1 and am getting this Runtime Warning when using numpy.minimum or numpy.maximum:

RuntimeWarning: invalid value encountered in maximum

Prior to updating, I was using numpy 1.10.x and had no issues running numpy.minimum or numpy.maximum

[2017-04-12 15:52] jdemeyer opened #74243 "signal.signal should check tripped signals"
BPO | [30057](https://bugs.python.org/issue30057)
--- | :---
Nosy | @pitrou, @jdemeyer
PRs | <li>python/cpython#4258</li><li>python/cpython#4261</li><li>python/cpython#4263</li>
Files | <li>[fix30057-py2.patch](https://bugs.python.org/file46801/fix30057-py2.patch "Uploaded as text/plain at 2017-04-12.16:54:05 by @jdemeyer"): Patch for Python 2</li><li>[fix30057-py3.patch](https://bugs.python.org/f

[2017-04-12 15:52] jdemeyer commented on #74243
There is a race condition in calling signal.signal() if the signal arrives while (or right before) signal.signal() is being executed: the function signal.signal(sig, action) marks the signal "sig" as not tripped. Because of this, signals can get lost. Instead, it would be better to call PyErr_CheckSignals() to check for pending signals.

[2017-04-12 16:34] bitdancer commented on #74242
Numpy is not part of the python standard library.  You should report this issue to the numpy bug tracker, which appears to be here: https://github.com/numpy/numpy/issues.  Or perhaps first ask the numpy community if this is really a bug: the new version might have fixed a bug in minimum/maximum that is now detecting a problem with your code that wasn't detected previously.

[2017-04-12 16:34] #74242 closed, assigned to nobody

[2017-04-12 17:13] serhiy-storchaka opened #74244 "Buffer overflow in kqueue.control()"
BPO | [30058](https://bugs.python.org/issue30058)
--- | :---
Nosy | @serhiy-storchaka, @koobs
PRs | <li>python/cpython#1095</li><li>python/cpython#3973</li><li>python/cpython#3976</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-04-12 17:13] serhiy-storchaka commented on #74244
The first parameter of kqueue.control() is documented as an iterable. But actually it should have a length. kqueue.control() uses PyObject_Size() for allocating an array and PyObject_GetIter()+PyIter_Next() for iterating kevent objects and filling the array. If the length and the iterator are not consistent this can lead to writing past the end of the array.

[2017-04-12 17:13] zooba commented on #74180
Yes, fixing pip in this case is the right approach.

Since you're going to be including a copy of pip with your application, you can also just patch that yourself to get going while the pip team decides how to go from here. Or you could add a sitecustomize.py file (which will only be imported if you have "import site" in your .\_pth file) that sets site.USER_SITE to something so that pip does not

[2017-04-12 17:21] serhiy-storchaka commented on #74244
Proposed patch presumably fixes the issue. But since this is \*BSD specific I can't even check that it is compiled.

[2017-04-12 17:22] zooba commented on #74180
Actually, I suspect you're not importing site on startup at all (which is great for performance), but that means that site.main() is not being run. I'll post more details on the pip bug.

[2017-04-12 17:25] 84dd73fe-9313-425f-aae0-390228a90839 opened #74245 "No documentation for C type Py_Ellipsis"
BPO | [30059](https://bugs.python.org/issue30059)
--- | :---
Nosy | @serhiy-storchaka, @Mariatta, @MSeifert04
PRs | <li>python/cpython#1018</li><li>python/cpython#1147</li><li>python/cpython#1148</li><li>python/cpython#1149</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</

[2017-04-12 17:25] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74245
The "Py_Ellipsis" object is part of the public C-API but it isn't documented anywhere.

It is defined in "sliceobject.o/.h" so I created a PR and added it to the "slice" documentation.

[2017-04-12 18:01] 271e878f-1235-4b2e-b652-7a77057c8224 opened #74246 "Crash with subinterpreters and Py_NewInterpreter()"
BPO | [30060](https://bugs.python.org/issue30060)
--- | :---
Nosy | @vstinner, @ericsnowcurrently, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 18:01] 271e878f-1235-4b2e-b652-7a77057c8224 commented on #74246
When attempting to use PyImport_ImportModule("os") (or to import many other libraries), there is a crash on Py_Finalize if Py_NoSiteFlag is set. The issue appears to be the use of frozenset() as a result of importing the module.

I reproduced this on Windows after building 2.7.13 with VS 2015 by applying the following patch:

Python changes.

[code]

Backtrace:

 	KernelBase.dll!00007ff963466142()

[2017-04-12 18:48] Mariatta commented on #74233
This needs backport, which I will do later today. Thanks.

[2017-04-12 19:01] serhiy-storchaka commented on #74245
I'm wondering if it is worth to add a separate section for Ellipsis at the same level as "Slice Objects", but in the same file. See for example "Instance Method Objects" and "Method Objects" in method.rst.

[2017-04-12 19:29] 84dd73fe-9313-425f-aae0-390228a90839 commented on #74245
I'm not sure either.

There seems to be no precedent in the documentation, for example "Py_NotImplemented" is also just another (but mentioned first) point in the Object protocol [https://docs.python.org/3/c-api/object.html#object-protocol] and "Py_None" even has a complete page [https://docs.python.org/3/c-api/none.html].

[2017-04-12 20:58] serhiy-storchaka opened #74247 "Check if PyObject_Size() raised an error"
BPO | [30061](https://bugs.python.org/issue30061)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#1096</li><li>python/cpython#1131</li><li>python/cpython#1180</li><li>python/cpython#1182</li><li>python/cpython#1183</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<detai

[2017-04-12 20:58] serhiy-storchaka commented on #74247
PyObject_Size(), PySequence_Size() and PyMapping_Size() can raise an exception. But not always this is checked after using them. This can lead to a crash. For example:

[code]

SystemError: \<built-in function next\> returned a result with an error set

Current thread 0xb749c700 (most recent call first):
  File "\<stdin\>", line 1 in \<module\>

[2017-04-12 21:43] cdfdacf7-cfdb-4905-b7b7-00cb58fbbe82 opened #74248 "datetime in Python 3.6+ no longer respects 'TZ' environment variable"
BPO | [30062](https://bugs.python.org/issue30062)
--- | :---
Nosy | @abalkin, @jwilk, @ammaraskar, @adamwill

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-12 21:43] cdfdacf7-cfdb-4905-b7b7-00cb58fbbe82 commented on #74248
I can't figure out yet why this is, but it's very easy to demonstrate:

[code]

That is, when deciding what timezone to use for operations that involve one, if the 'TZ' environment variable was set, Python 3.5 would use the timezone it was set to. Python 3.6 does not, it ignores it.

As you can see, if I twiddle the 'TZ' setting and call `datetime.datetime.fromtimestamp(0)` repeatedly under Python

[2017-04-12 22:14] csabella commented on #74238
I've looked into this a little more and it seems that, in all instances, the :class:\`bytes\` and :class:\`bytearray\` mark-up link to the Built-In Functions page instead of the Built-In Types page.

It also looks like the Built-In Functions page has specific code for many types (dict, frozenset, memoryview, list, tuple, str, etc) so that it wouldn't link to this (the functions) page.  However, by

[2017-04-12 22:37] cdfdacf7-cfdb-4905-b7b7-00cb58fbbe82 commented on #74248
Hmm, after a bit more poking I found this:

https://docs.python.org/3/library/time.html#time.tzset

"Note

Although in many cases, changing the TZ environment variable may affect the output of functions like localtime() without calling tzset(), this behavior should not be relied on."

It seems like that's kinda what we're dealing with here. If I extend my tests to change TZ, call the test function

[2017-04-12 23:11] 179a554f-eaff-458f-ab05-8166251cacbd commented on #74234
The problem is that the task doesn't catch CancelledError, yet it disappears.

[2017-04-13 00:19] methane commented on #74234
The problem is CancelledError is not raised, even it's thrown.
Task can't catch exception not raised.  See below example which demonstrates how task works.

\---
[code]

[2017-04-13 00:44] 1st1 commented on #74234
In Evgeny's example the 'task' is 'coro1' (not 'coro2'). It has plenty of yield points after being cancelled.

[2017-04-13 01:07] methane commented on #74234
Since coro1 waiting coro2 when cancelling, Task(coro1).cancel() redirect to Task(coro2).cancel().

But I was wrong about "CancelledError is thrown to coro2."
Task(coro2) is cancelled in last step.  CancelledError is not thrown to coro2 actually.
So there is chance to detect it.

[2017-04-13 02:40] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
I have started receiving the following warnings which are starting to prevent an ipython session from functioning:

/home/user/anaconda2/envs/cdatcmornclnco/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-04-12 17:15:36.235571. Please add timezone info to timestamps.
  chunks = self.iterencode(o, \_one_shot=True)
/home/user/anaconda2/envs/cdatcmornc

[2017-04-13 02:40] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 opened #74249 "DeprecationWarning in json/encoder.py"
BPO | [30063](https://bugs.python.org/issue30063)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-13 02:46] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
I have attempted to quieten these using:

In [2]: import warnings
   ...: warnings.filterwarnings('ignore', category=DeprecationWarning)
In [3]: import vcs
/home/user/anaconda2/envs/cdatcmornclnco/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-04-12 19:45:31.251897. Please add timezone info to timestamps.
  chunks = self.iterencode(o, \_one_shot=Tr

[2017-04-13 03:02] Mariatta commented on #74233
New changeset f0c416799b33742af36d7c6608b9a422615fb3d2 by Mariatta in branch '3.6':
[3.6] bpo-30047: Fix a typo in [Doc/library/select.rst](https://github.com/python/cpython/blob/main/Doc/library/select.rst) (GH-1086) (GH-1098)
https://github.com/python/cpython/commit/f0c416799b33742af36d7c6608b9a422615fb3d2

[2017-04-13 03:03] Mariatta commented on #74233
Backported to 3.6.
Closing this now.
Thanks all :)

[2017-04-13 03:03] #74233 closed, assigned to Mariatta

[2017-04-13 03:25] zhangyangyu commented on #74047
Hi, Antoine, after this change, I sometimes see tests fail for 3.5 branch, for example http://buildbot.python.org/all/builders/x86%20Ubuntu%20Shared%203.5/builds/194/steps/test/logs/stdio.

[2017-04-13 04:34] aa752287-3877-4488-b28e-6a0aef4e10d3 commented on #74231
I agree that pattern seems right. However I think that the parameter in the docs should be changed from string to pattern for consistency purposes.

[2017-04-13 07:27] zhangyangyu commented on #74232
boolean is not quoted since in Python it's a subclass of int so True and False are numeric. This is also the case with numeric objects defining \_\_int__ or \_\_float__ but doesn't get a corresponding string representation.

Since QUOTE_NONNUMERIC will converts data to float when reading, I think we may force the converting even when writing so the inconsistency would disappear. Or document this l

[2017-04-13 07:44] serhiy-storchaka commented on #74231
This looked not correct to me but if you say "pattern" seems right I'm closing this issue.

I'll update the parameter name in [PR 1048](https://github.com/python/cpython/pull/1048).

[2017-04-13 07:44] #74231 closed, assigned to nobody

[2017-04-13 08:33] 271e878f-1235-4b2e-b652-7a77057c8224 commented on #74246
I found that if I build and run this code with Python 3, then I get a very different backtrace.

 	KernelBase.dll!00007ff963466142()	Unknown
 	python36_d.dll!Py_FatalError(const char * msg) Line 1457	C
 	python36_d.dll!PyEval_AcquireLock() Line 253	C
	mn.exe!main(int argc, char * * argv) Line 22	C
 	[External Code]

The failure is

[code]

So, it is not clear to me what is incorrect about this cod

[2017-04-13 08:55] 179a554f-eaff-458f-ab05-8166251cacbd commented on #74250
Code:

[code]

Result:

[code]

[2017-04-13 08:55] 179a554f-eaff-458f-ab05-8166251cacbd opened #74250 "BaseSelectorEventLoop.sock_{recv,sendall}() don't remove their callbacks when canceled"
BPO | [30064](https://bugs.python.org/issue30064)
--- | :---
Nosy | @fantix, @ned-deily, @asvetlov, @ambv, @1st1, @achimnol, @miss-islington, @aeros
PRs | <li>python/cpython#10419</li><li>python/cpython#20369</li><li>python/cpython#20460</li><li>python/cpython#20485</li><li>python/cpython#20487</li><li>python/cpython#20494</li><li>python/cpython#20503</li><li>python/cpython#20868</li><li>python/cp

[2017-04-13 09:50] Mariatta commented on #73878
New changeset 9b409ff41ceb2d7ea7e8d25a7bbf5eb7d46625f3 by Mariatta in branch '3.6':
[3.6] bpo-29692: contextlib.contextmanager may incorrectly unchain RuntimeError (GH-949) (bpo-1105)
https://github.com/python/cpython/commit/9b409ff41ceb2d7ea7e8d25a7bbf5eb7d46625f3

[2017-04-13 10:14] serhiy-storchaka opened #74251 "Insufficient validation in _posixsubprocess.fork_exec()"
BPO | [30065](https://bugs.python.org/issue30065)
--- | :---
Nosy | @gpshead, @serhiy-storchaka
PRs | <li>python/cpython#1110</li><li>python/cpython#1186</li><li>python/cpython#1190</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.p

[2017-04-13 10:14] serhiy-storchaka commented on #74251
\_posixsubprocess.fork_exec() takes a sequence of file descriptors. It first validates it, and since the validation is passed uses it without checking for errors. But since \_\_len__, \_\_getitem__ and \_\_int__ can execute user code and release GIL, errors can occur after the validation. This can cause a crash.

Proposed patch fixes this by the simplest way -- it restricts the type of a sequence

[2017-04-13 10:14] Mariatta commented on #73878
New changeset 4d015a40a7b9c3c1b8cfbe81453187d700a43163 by Mariatta in branch '3.5':
[3.5] bpo-29692: contextlib.contextmanager may incorrectly unchain RuntimeError (GH-949) (bpo-1107)
https://github.com/python/cpython/commit/4d015a40a7b9c3c1b8cfbe81453187d700a43163

[2017-04-13 10:17] Mariatta commented on #73878
PR has been backported into 3.5 and 3.6. Thanks all :)

[2017-04-13 10:17] #73878 closed, assigned to ncoghlan

[2017-04-13 10:21] Mariatta commented on #74055
New changeset 97a40b7a5b2979fb17e1751c139fd4ba1ebd5276 by Mariatta (Nevada Sanchez) in branch '3.6':
bpo-29869: Allow underscores in numeric literals in lib2to3. (GH-752)
https://github.com/python/cpython/commit/97a40b7a5b2979fb17e1751c139fd4ba1ebd5276

[2017-04-13 10:54] 271e878f-1235-4b2e-b652-7a77057c8224 commented on #74246
The issue

 http://bugs.python.org/issue17978

has a quite similar backtrace and there is discussion in

 http://bugs.python.org/issue17703#msg241412

about changing the TRASHCAN macro to access the \_PyThreadState_Current directly instead of calling PyThreadState_Get (which is fatal for a nullptr). The very next thing the TRASHCAN macro does is check if the thread state is nullptr in a non-fatal

[2017-04-13 11:03] Mariatta commented on #74055
New changeset 84c2d75489a84174d8993aea292828662e35a50f by Mariatta in branch '3.6':
Revert "bpo-29869: Allow underscores in numeric literals in lib2to3. (GH-752)" (GH-1109)
https://github.com/python/cpython/commit/84c2d75489a84174d8993aea292828662e35a50f

[2017-04-13 11:30] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74241
New changeset 2c0b5c664ba7d36dc09788d3778d5b33e3fa1bd0 by Stefan Krah (Marco Buttu) in branch 'master':
bpo-30055: add testcleanup to leave a fresh context (bpo-1094)
https://github.com/python/cpython/commit/2c0b5c664ba7d36dc09788d3778d5b33e3fa1bd0

[2017-04-13 11:35] Mariatta commented on #74222
Thanks for the report.
Issue with the footer of python.org website can be filed at https://github.com/python/pythondotorg

Regarding the fact that bugs.python.org does not use https by default, it is being tracked here http://psf.upfronthosting.co.za/roundup/meta/issue463

I'm closing this and marking as duplicate.
Thanks :)

[2017-04-13 11:35] #74222 closed, assigned to nobody

[2017-04-13 11:35] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74241
Thanks, looks good.  (I hope GitHub runs the doctests at Travis CI, locally most of them failed so I didn't bother to run the tests for this one.)

[2017-04-13 11:35] #74241 closed, assigned to 5531d0d8-2a9c-46ba-8b8b-ef76132a492c

[2017-04-13 11:50] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #74241
We are not executing the doctests on Travis CI, but I executed them locally.  That's why I realized there was a missed testcleanup.  The bpo-27200 wants to fix all doctests, and I actually completed the job, but three PRs are still opened, and I am waiting for review approval.  If you want to contribute to the reviews, look for 'bpo-27200' on the GitHub PRs.  I hope the doctest will be run on Trav

[2017-04-13 12:23] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #74241
Ok great, maybe I'll take a look.

[2017-04-13 12:31] serhiy-storchaka commented on #74245
There are precedences in tuple.rst and method.rst.

[2017-04-13 12:48] berkerpeksag commented on #73977
New changeset 61b9ac93712df8092a25223cd56fa6528359792b by Berker Peksag in branch 'master':
bpo-29791: Clarify that flush is keyword-only argument (bpo-1093)
https://github.com/python/cpython/commit/61b9ac93712df8092a25223cd56fa6528359792b

[2017-04-13 12:54] bitdancer commented on #74249
If a warning is causing iPython to hang, there is something seriously wrong with iPython.  A warning is just a message written to stderr, it doesn't affect the execution of the program.

The json module does not natively support datetime, so whatever is happening, it is being triggered by non-stdlib code (probably a json subclass in the vcs package you are working with).  I suggest you pursue this

[2017-04-13 12:54] #74249 closed, assigned to nobody

[2017-04-13 12:56] bitdancer commented on #74249
In case it wasn't clear: I seriously doubt that iPython is hanging due to the warning, I think something else must be happening and the warning is a red herring.

[2017-04-13 13:09] fed8bf41-597f-4901-ba37-33be298fca6b commented on #74252
the code below crash when run on anaconda3

[code]

---------------------------------------------------------------------------
[code]

/home/leopoldo/anaconda3/lib/python3.6/site-packages/traits/has_traits.py in configure_traits(self, filename, view, kind, edit, context, handler, id, scrollable, \*\*args)
   2169                 context = self
   2170             rc = toolkit().view_application(

[2017-04-13 13:09] fed8bf41-597f-4901-ba37-33be298fca6b opened #74252 "anaconda3::traitsu::NotImplementedError"
BPO | [30066](https://bugs.python.org/issue30066)
--- | :---
Nosy | @berkerpeksag

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-13 13:16] berkerpeksag commented on #73977
New changeset df9783720e40773e7854d2f4e4cfc93f0a2c08b8 by Berker Peksag in branch '3.5':
bpo-29791: Clarify that flush is keyword-only argument (GH-1093)
https://github.com/python/cpython/commit/df9783720e40773e7854d2f4e4cfc93f0a2c08b8

[2017-04-13 13:17] berkerpeksag commented on #73977
New changeset 119d94ad37a99ecb0b8329467d04cd9d909e310e by Berker Peksag in branch '3.6':
bpo-29791: Clarify that flush is keyword-only argument (GH-1093)
https://github.com/python/cpython/commit/119d94ad37a99ecb0b8329467d04cd9d909e310e

[2017-04-13 13:17] berkerpeksag commented on #73977
Thanks for the report!

[2017-04-13 13:17] #73977 closed, assigned to nobody

[2017-04-13 13:38] berkerpeksag commented on #74252
Please report this to either traits or traitsui developers. This issue tracker is for issues with CPython and its standard library, not for third-party modules on PyPI.

[2017-04-13 13:38] #74252 closed, assigned to nobody

[2017-04-13 13:57] berkerpeksag commented on #74222
I've changed the bugs.p.o link to use HTTPS at python.org.

[2017-04-13 15:31] Mariatta commented on #74055
Nevada Sanchez, please create your PR against the master branch.
Once that is merged, we will backport it to the 3.6 branch.

Thanks :)

[2017-04-13 16:17] serhiy-storchaka commented on #74207
New changeset 8fc7bc2b7631ee819ee614e47b6f44bacebe1574 by Serhiy Storchaka in branch 'master':
bpo-30021: Add examples for re.escape(). (bpo-1048)
https://github.com/python/cpython/commit/8fc7bc2b7631ee819ee614e47b6f44bacebe1574

[2017-04-13 16:41] serhiy-storchaka commented on #74207
New changeset 936633282220768a6fec9bd6bb53ee9e3ec354df by Serhiy Storchaka in branch '3.6':
bpo-30021: Add examples for re.escape(). (bpo-1048) (bpo-1115)
https://github.com/python/cpython/commit/936633282220768a6fec9bd6bb53ee9e3ec354df

[2017-04-13 16:41] serhiy-storchaka commented on #74207
New changeset e2cf9a918439006fb27f67c1939d0370886650e7 by Serhiy Storchaka in branch '3.5':
bpo-30021: Add examples for re.escape(). (bpo-1048) (bpo-1116)
https://github.com/python/cpython/commit/e2cf9a918439006fb27f67c1939d0370886650e7

[2017-04-13 16:47] serhiy-storchaka commented on #74207
New changeset 53ad68434ce914defcc1b734cce4b9b4d79ca3fc by Serhiy Storchaka in branch '2.7':
bpo-30021: Add examples for re.escape(). (bpo-1048) (bpo-1118)
https://github.com/python/cpython/commit/53ad68434ce914defcc1b734cce4b9b4d79ca3fc

[2017-04-13 16:57] #74207 closed, assigned to serhiy-storchaka

[2017-04-13 17:32] Mariatta commented on #74055
New changeset a6e395dffadf8c5124903c01ad69fefa36b1a935 by Mariatta (Nevada Sanchez) in branch 'master':
bpo-29869: Allow underscores in numeric literals in lib2to3. (GH-1119)
https://github.com/python/cpython/commit/a6e395dffadf8c5124903c01ad69fefa36b1a935

[2017-04-13 18:06] serhiy-storchaka commented on #74181
New changeset 5908300e4b0891fc5ab8bd24fba8fac72012eaa7 by Serhiy Storchaka in branch 'master':
bpo-29995: re.escape() now escapes only special characters. (bpo-1007)
https://github.com/python/cpython/commit/5908300e4b0891fc5ab8bd24fba8fac72012eaa7

[2017-04-13 18:08] Mariatta commented on #73880
New changeset 22a594a0047d7706537ff2ac676cdc0f1dcb329c by Mariatta (Armin Rigo) in branch 'master':
bpo-29694: race condition in pathlib mkdir with flags parents=True (GH-1089)
https://github.com/python/cpython/commit/22a594a0047d7706537ff2ac676cdc0f1dcb329c

[2017-04-13 18:14] #74181 closed, assigned to serhiy-storchaka

[2017-04-13 18:37] gpshead commented on #74251
nice find.  did anyone's code actually run into this issue?

[2017-04-13 18:56] serhiy-storchaka commented on #74251
It is hard to reproduce (especially the second issue) since in all cases in the stdlib a list passed to fork_exec() is just created by sorted() and doesn't have other references. But if someone is so insane that passes int-like objects with non-idempotent \_\_int__ as file descriptors his can get a crash in debug build (or mystical bugs in release build). Added tests utilizes this, but this unlike

[2017-04-13 19:03] pitrou commented on #74047
I can't reproduce here, on Ubuntu 16.04, after running the test 500 times.

[2017-04-13 19:12] pitrou commented on #74047
Ok, I can reproduce now.

[2017-04-13 19:13] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 commented on #73822
@bob.ippolito thanks for pointing to jq as a reference implementation. I updated the pull request (https://git.io/vS9o8) to implement all of the relevant options. Currently, the PR supports the following mutually exclusive arguments:

--indent
--no-indent
--tab
--compact

These additions took 16 new lines of code in tool.py and 41 new lines of tests. However, I am happy to refactor the tests to be

[2017-04-13 20:04] ec31e85c-a35c-494f-805f-21a63c135c1b opened #74253 "_osx_support.py: misplaced flags in re.sub()"
BPO | [30067](https://bugs.python.org/issue30067)
--- | :---
Nosy | @vstinner, @jwilk, @serhiy-storchaka, @JackMc, @zhangyangyu
PRs | <li>python/cpython#1134</li><li>python/cpython#1135</li><li>python/cpython#1136</li><li>python/cpython#1137</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>S

[2017-04-13 20:04] ec31e85c-a35c-494f-805f-21a63c135c1b commented on #74253
[Lib/_osx_support.py](https://github.com/python/cpython/blob/main/Lib/_osx_support.py) contains the following line:

[code]

But the 4th re.sub() argument is the maximum number of substitutions, so this is equivalent to:

[code]

It was probably meant to be:

[code]

This bug was found using pydiatra:
http://jwilk.net/software/pydiatra

[2017-04-13 21:24] serhiy-storchaka commented on #74185
The patch also changes the repr of BaseException with a single argument. It no longer contains a trailing comma.

[2017-04-13 23:54] Mariatta commented on #74055
New changeset 2cdf087d1fd48f7d0f95b5a0b31b9a624fa84751 by Mariatta in branch '3.6':
[3.6] bpo-29869: Allow underscores in numeric literals in lib2to3. (GH-1119) (GH-1122)
https://github.com/python/cpython/commit/2cdf087d1fd48f7d0f95b5a0b31b9a624fa84751

[2017-04-14 01:30] Mariatta commented on #74055
New changeset 947629916a5ecb1f6f6792e9b9234e084c5bf274 by Mariatta in branch 'master':
bpo-29869: Add Nevada Sanchez to [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS) (GH-1125)
https://github.com/python/cpython/commit/947629916a5ecb1f6f6792e9b9234e084c5bf274

[2017-04-14 01:31] Mariatta commented on #74055
PR has been merged and backported to 3.6.
I also added Nevada Sanchez to [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS).
Thanks all :)

[2017-04-14 01:31] #74055 closed, assigned to nobody

[2017-04-14 02:05] #74066 closed, assigned to nobody

[2017-04-14 02:26] Mariatta commented on #73880
New changeset cbc46afa59dcc43c2c8c90ae7a0a0dc404325a89 by Mariatta in branch '3.6':
[3.6] bpo-29694: race condition in pathlib mkdir with flags parents=True (GH-1089). (GH-1126)
https://github.com/python/cpython/commit/cbc46afa59dcc43c2c8c90ae7a0a0dc404325a89

[2017-04-14 02:26] Mariatta commented on #73880
New changeset d7abeb7024b9755c291c29bdc8c4494246e975ad by Mariatta in branch '3.5':
[3.5] bpo-29694: race condition in pathlib mkdir with flags parents=True (GH-1089). (GH-1127)
https://github.com/python/cpython/commit/d7abeb7024b9755c291c29bdc8c4494246e975ad

[2017-04-14 02:27] Mariatta commented on #73880
I merged Armin's PR and backported tp 3.5 and 3.6.
Closing this now.
Thanks all :)

[2017-04-14 02:27] #73880 closed, assigned to nobody

[2017-04-14 05:07] 5e8488f1-8376-4a7f-be3c-ceee2c8c4a6f commented on #73837
I'm going to make a note in the documentation. I should have a PR for it in about 1 day.

[2017-04-14 06:45] zhangyangyu commented on #74254
In \_io.\_IOBase.readlines, it straightly uses PyIter_Next(self). But iter(_io.\_IOBase) does more work than just returning itself.

[code]

[2017-04-14 06:45] zhangyangyu opened #74254 "missing iter(self) in _io._IOBase.readlines"
BPO | [30068](https://bugs.python.org/issue30068)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#1130</li><li>python/cpython#1150</li><li>python/cpython#1151</li><li>python/cpython#1152</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details

[2017-04-14 07:36] serhiy-storchaka commented on #74247
Raymond, could you please look at the change in [Objects/setobject.c](https://github.com/python/cpython/blob/main/Objects/setobject.c)? It makes the code slightly faster (by avoiding few function calls: PyObject_Size(), PySequence_Size()/PyMapping_Size() and sq_length/mp_length), but the main purpose is making clear that no error check is needed after calling PyObject_Size(). I'm not going to incl

[2017-04-14 10:09] 390a997d-3146-432e-a6c0-dee5d46213ab commented on #74255
Hello,

I have libsylvain.so which has just one function (sylvain_display()) which displays an hello world windows through QT libraries.

I have this one program \`sylvain' which is a single line program which calls sylvain_display from libsylvain.so.

When I run \`sylvain', I have some debug output from QT on the console, and the hello world window is displayed on my TV (I am running this on a Ra

[2017-04-14 10:09] 390a997d-3146-432e-a6c0-dee5d46213ab opened #74255 "External library behave differently when loaded by Python (maybe thread issue)"
BPO | [30069](https://bugs.python.org/issue30069)
--- | :---
Nosy | @koobs, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-14 11:07] serhiy-storchaka commented on #74256
Proposed patch fixes miscellaneous errors in errors handling in the parser module. This errors can cause leaking references, raising wrong exceptions, and even crashing.

[2017-04-14 11:07] serhiy-storchaka opened #74256 "Fix errors handling in the parser module"
BPO | [30070](https://bugs.python.org/issue30070)
--- | :---
Nosy | @rhettinger, @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#1131</li><li>python/cpython#1184</li><li>python/cpython#1185</li><li>python/cpython#1189</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details<

[2017-04-14 11:10] pitrou commented on #74047
New changeset 685cdb9acc3fca04a9897d88b89771ddfd50e772 by Antoine Pitrou in branch 'master':
Relax test timing (bpo-29861) to avoid sporadic failures (bpo-1120)
https://github.com/python/cpython/commit/685cdb9acc3fca04a9897d88b89771ddfd50e772

[2017-04-14 11:34] jdemeyer opened #74257 "Duck-typing inspect.isfunction()"
BPO | [30071](https://bugs.python.org/issue30071)
--- | :---
Nosy | @terryjreedy, @scoder, @stevendaprano, @bitdancer, @serhiy-storchaka, @jdemeyer
Files | <li>[isfunction.patch](https://bugs.python.org/file46803/isfunction.patch "Uploaded as text/plain at 2017-04-14.11:40:35 by @jdemeyer"): Patch for Python 3</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrate

[2017-04-14 11:34] jdemeyer commented on #74257
Python is supposed to encourage duck-typing, but the "inspect" module doesn't follow this advice. A particular problem is that Cython functions are not recognized by the inspect module to be functions: http://cython.readthedocs.io/en/latest/src/userguide/limitations.html#inspect-support

[2017-04-14 11:37] pitrou commented on #74047
New changeset 413a8913aee255d0635e4ddbb9c343d9e5e76fea by Antoine Pitrou in branch '3.6':
Relax test timing (bpo-29861) to avoid sporadic failures (bpo-1120) (bpo-1132)
https://github.com/python/cpython/commit/413a8913aee255d0635e4ddbb9c343d9e5e76fea

[2017-04-14 11:45] pitrou commented on #74047
New changeset 47f24a018f6a9c3ed996d2b83a7ebd0d1f905827 by Antoine Pitrou in branch '3.5':
Relax test timing (bpo-29861) to avoid sporadic failures (bpo-1120) (bpo-1133)
https://github.com/python/cpython/commit/47f24a018f6a9c3ed996d2b83a7ebd0d1f905827

[2017-04-14 12:36] vstinner commented on #74258
The re API seems commonly misused. Example passing a re flag to re.sub():

[code]

No error, no warning, but it doesn't work. Oh, sub has 5 paramters, no 4...

I suggest to convert count and flags to keyword-only parameters. To not break the world, especially legit code passing the count parameter as a position argument, an option is to have a deprecation period if these two parameters are passed

[2017-04-14 12:36] vstinner opened #74258 "re functions: convert count and flags parameters to keyword-only?"
BPO | [30072](https://bugs.python.org/issue30072)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
Superseder | <li>bpo-11957: re.sub confusion between count and flags args</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org f

[2017-04-14 12:36] vstinner commented on #74253
I created the issue bpo-30072: "re functions: convert count and flags parameters to keyword-only?".

[2017-04-14 12:39] 3edf0a29-a2aa-4bae-8291-3d814e2b76c1 commented on #74253
Resolved in GitHub https://github.com/python/cpython/pull/1134.

In 2.7, the flag re.ASCII is not passed due to 2.7's default ASCII strings.

Backporting to 3.5 and 3.6.

[2017-04-14 12:45] serhiy-storchaka commented on #74258
This is a duplicate of bpo-11957.

[2017-04-14 12:45] #74258 closed, assigned to nobody

[2017-04-14 12:47] 3edf0a29-a2aa-4bae-8291-3d814e2b76c1 commented on #74253
https://github.com/python/cpython/pull/1135 and https://github.com/python/cpython/pull/1137 backport it to 3.5 and 3.6, respectively.

[2017-04-14 12:51] zhangyangyu commented on #74253
My fault.

[2017-04-14 12:52] vstinner commented on #74216
The following builbot failure is probably related:

http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Non-Debug%203.x/builds/623/steps/test/logs/stdio

\======================================================================
FAIL: test_main (test.test_threadedtempfile.ThreadedTempFileTest)
\----------------------------------------------------------------------
[code]

[2017-04-14 13:26] serhiy-storchaka commented on #74216
Yes, it is related. :(

If there is no easy way to make a generator working in multithread environment we need to revert this change.

[2017-04-14 13:30] vstinner commented on #74216
Why does \_get_candidate_names() need a lock? Can't we produce enough entropy to reduce the risk of duplicate names in two threads? Maybe we should use SystemRandom instead, which would also avoid the need to testing if the pid changed.

With one generator per thread, it would prevent the bug no?

[2017-04-14 14:18] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74259
Probably a case of 'don't do that' but reading lines in a compressed files in binary mode produces bytes with invalid newlines in encodings that where '\\n' is encoded as something else:

[code]

lzma.open("test.xz", "rb").readlines()[0].decode('UTF-32-LE')

Fails with:
UnicodeDecodeError: 'utf-32-le' codec can't decode byte 0x0a in position 20: truncated data

as readlines() produces:
b'0\\x00\\x

[2017-04-14 14:18] 503c56e2-f019-4587-ba44-17ad2b762efa opened #74259 "binary compressed file reading corrupts newlines (lzma, gzip, bz2)"
BPO | [30073](https://bugs.python.org/issue30073)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-14 14:25] stevendaprano commented on #74257
Duck typing is not something that "Python" does, it is a style of programming done by Python programmers. You wouldn't expect isinstance() to try to "duck type", and likewise the inspect module should be precise about what it is inspecting. If inspect reports something is a duck, it should be an actual duck, not just something that quacks.

I'm not sure that the CPython inspect module should care

[2017-04-14 14:27] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74259
on second though not really worth an issue as it is a general problem of readline on binary streams. Sorry for the noise.

[2017-04-14 14:27] #74259 closed, assigned to nobody

[2017-04-14 14:28] 503c56e2-f019-4587-ba44-17ad2b762efa commented on #74259
see also http://bugs.python.org/issue17083

[2017-04-14 14:42] jdemeyer commented on #74257
The problem is that some Python packages (Sphinx and IPython for example) really need to know whether it quacks. And the only tool they have is inspect.isfunction(), so they use that. It's silly that every single package using inspect.isfunction() should be fixed. Better just fix inspect.isfunction().

Of course, you can always break stuff. User code is not supposed to invent new \_\_dunder__ spec

[2017-04-14 14:48] #74253 closed, assigned to serhiy-storchaka

[2017-04-14 14:50] bitdancer commented on #74257
The python standard library makes extensive use of duck typing.  Duck typing is a pretty fundamental part of the design of Python, IMO.  Even the ABC module does a bunch of duck typing, rather than requiring strict subclassing or registration.

I think the request is valid, and it is mostly a matter of agreeing on the best way to identify function ducks.  (I agree that Steven's example is intentio

[2017-04-14 15:01] serhiy-storchaka commented on #74257
\_\_code__ is not enough for quacking as a function. Different code can expect other function attributes (for example \_\_name__, \_\_qualname__ and \_\_module__).

See also bpo-8488. inspect.isroutine() and inspect.ismethoddescriptor() return True for some descriptors, but they don't quack good enough for pydoc.

[2017-04-14 15:03] jdemeyer commented on #74257
At the very least, the inspect module should use more duck-typing internally. For example, consider this code from "getfile":

[code]

[2017-04-14 16:45] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
@r.david.murray, rather than just closing this issue (which appears to be occurring intermittently for other users), is there a doc that you can point to that describes why there is a DeprecationWarning being printed - and what change has occurred (and when) that has led to my issue.

It seems that jupyter notebooks are suffering the same problem, so I agree it's a non-standard lib issue, however

[2017-04-14 16:48] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
I also wonder whether the fact that the warnings library doesn't seems to be catching these errors when

In [2]: import warnings
   ...: warnings.filterwarnings('ignore', category=DeprecationWarning)
In [3]: import vcs
/home/user/anaconda2/envs/cdatcmornclnco/lib/python2.7/json/encoder.py:207: DeprecationWarning: Interpreting naive datetime as local 2017-04-12 19:45:31.251897. Please add timezone

[2017-04-14 17:23] #74204 closed, assigned to nobody

[2017-04-14 17:26] bitdancer commented on #74249
I don't believe that warning message is generated by the python standard library.  I can't find it in the codebase, and I can't think of any context in which we'd have a reason to generate that message.

[2017-04-14 17:29] bitdancer commented on #74249
As for the filterwarnings, If you can come up with a demonstration of a problem that does not involve third party code, please open a new issue with the reproducer.

[2017-04-14 17:33] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
@r.david.murray, is this not the stdlib?

https://github.com/python/cpython/blob/master/Lib/json/encoder.py#L182-L202

The error message appears to be pointing back to this, how (and why) it gets there (and what has changed recently so that this DeprecationWarning is being triggered) is the question that I am seeking answers..

[2017-04-14 17:56] serhiy-storchaka commented on #74221
PyMemberDef.name already is "const char \*" in 3.7 (see bpo-28761).

Adding the const qualifier in other branches can break existing code that assigns PyMemberDef.name to a variable of type "char \*". This is not appropriate for bugfix releases.

[2017-04-14 19:18] bitdancer commented on #74249
Yes, but the way deprecation warnings work is that there is a stacklevel specified, and the line reported in the error is that number of steps back up the call stack from where the warning was actually issued.  The json module doesn't natively handle datetime, so there \*must* be third party code that is doing the datetime encoding.  It is that code that is triggering the Deprecation warning, and

[2017-04-14 19:18] serhiy-storchaka commented on #74245
New changeset 0dc5c3169dcd4853612d11ed8c92b12fa210c07f by Serhiy Storchaka (Michael Seifert) in branch 'master':
bpo-30059: Include Py_Ellipsis in C API documentation (bpo-1018)
https://github.com/python/cpython/commit/0dc5c3169dcd4853612d11ed8c92b12fa210c07f

[2017-04-14 19:23] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
@r.david.murray fair enough, so it's an external lib that is the problem..

It does appear that similar issues have been appearing fairly recently across the github-o-sphere, some of these instances are listed at https://github.com/jupyter/jupyter/issues/253#issue-221849527

I've managed to solve my usability problem by commenting out a
`#warnings.simplefilter('default')` line in the vcs package,

[2017-04-14 19:32] bitdancer commented on #74249
I thought something like that might be the problem with your attempt to suppress the warnings.  A library really should not call a global state function such as filterwarnings, that should be done only by the application.  You might want to file a bug report with them about that.

[2017-04-14 19:33] 3d6ad53d-c166-4489-96f3-562bb99b3ab7 commented on #74249
@r.david.murray, yep one step ahead of your last comment

https://github.com/UV-CDAT/vcs/issues/170#issuecomment-294219991

feel free to chime in if you think something else would be useful to highlight

[2017-04-14 19:41] serhiy-storchaka commented on #74226
I got following result:

[code]

Mean +- std dev: [python.default] 203 ns +- 5 ns -\> [python.patched] 97.1 ns +- 0.7 ns: 2.09x faster (-52%)

[code]

Mean +- std dev: [python.default] 494 ns +- 5 ns -\> [python.patched] 592 ns +- 7 ns: 1.20x slower (+20%)

Seems something is wrong with resizing an empty dict. It shouldn't take such much time.

[2017-04-15 00:17] berkerpeksag commented on #74117
I think we should backport this to at least 3.6.

[2017-04-15 01:06] Mariatta commented on #73924
New changeset 2849cc34a8db93d448a62d69c462402347b50dcb by Mariatta (Olivier Vielpeau) in branch 'master':
bpo-29738: Fix memory leak in \_get_crl_dp (GH-526)
https://github.com/python/cpython/commit/2849cc34a8db93d448a62d69c462402347b50dcb

[2017-04-15 01:24] Mariatta commented on #73924
New changeset b2b00e039ce71e69148e5f479e2154c1c7b712ca by Mariatta in branch '2.7':
[2.7] bpo-29738: Fix memory leak in \_get_crl_dp (GH-526) (GH-1144)
https://github.com/python/cpython/commit/b2b00e039ce71e69148e5f479e2154c1c7b712ca

[2017-04-15 01:33] Mariatta commented on #73924
New changeset 39f5956ffbcc4fe83cee59eed1d18845a5b25dd2 by Mariatta in branch 'master':
bpo-29738: Add Olivier Vielpeau to [Misc/ACKS](https://github.com/python/cpython/blob/main/Misc/ACKS) (GH-1146)
https://github.com/python/cpython/commit/39f5956ffbcc4fe83cee59eed1d18845a5b25dd2

[2017-04-15 01:34] Mariatta commented on #73924
New changeset 8e7201342dc6eef201bfa4f533ad89a8144fd693 by Mariatta in branch '3.6':
[3.6] bpo-29738: Fix memory leak in \_get_crl_dp (GH-526) (GH-1142)
https://github.com/python/cpython/commit/8e7201342dc6eef201bfa4f533ad89a8144fd693

[2017-04-15 01:36] Mariatta commented on #73924
New changeset c40740cf06470a774e98f84537801cd8b7176938 by Mariatta in branch '3.5':
[3.5] bpo-29738: Fix memory leak in \_get_crl_dp (GH-526) (GH-1143)
https://github.com/python/cpython/commit/c40740cf06470a774e98f84537801cd8b7176938

[2017-04-15 01:39] Mariatta commented on #73924
I merged Olivier's PR, and backported into 3.6, 3.5, and 2.7.
I also added Olivier Vielpeau to misc/ACKS.

Thanks :)

[2017-04-15 01:39] #73924 closed, assigned to tiran

[2017-04-15 01:44] Mariatta commented on #74056
I believe this was fixed in https://bugs.python.org/issue29738, so I'm closing this.
Thanks :)

[2017-04-15 01:44] #74056 closed, assigned to tiran

[2017-04-15 02:03] Mariatta commented on #74245
New changeset 05bfbcd233b2f5ba0d0634a380092d6ead6b35e1 by Mariatta (Michael Seifert) in branch '3.6':
[3.6] bpo-30059: Include Py_Ellipsis in C API documentation (GH-1018) (GH-1149)
https://github.com/python/cpython/commit/05bfbcd233b2f5ba0d0634a380092d6ead6b35e1

[2017-04-15 02:04] Mariatta commented on #74245
New changeset 0b46fcf45afe32402b34240770e01be9b5da3031 by Mariatta (Michael Seifert) in branch '2.7':
[2.7] bpo-30059: Include Py_Ellipsis in C API documentation (GH-1018) (GH-1147)
https://github.com/python/cpython/commit/0b46fcf45afe32402b34240770e01be9b5da3031

[2017-04-15 02:05] Mariatta commented on #74245
New changeset f40e72dbe60038eae69bc72e207ac47851d96752 by Mariatta (Michael Seifert) in branch '3.5':
[3.5] bpo-30059: Include Py_Ellipsis in C API documentation (GH-1018) (GH-1148)
https://github.com/python/cpython/commit/f40e72dbe60038eae69bc72e207ac47851d96752

[2017-04-15 02:05] #74245 closed, assigned to nobody

[2017-04-15 04:15] terryjreedy commented on #74208
I checked the patch and it appears to be a clean search/replace.  I assume that the aliases have the same diff in C as in Python.

The only idlelib replacement is in run.py, where I (mistakenly) added IOError in 3.3 and 3.4 as well as in 2.7.  This must have been after a previous global replacement.  I would like this change backported to 3.6 to keep the files identical.

[2017-04-15 04:22] terryjreedy commented on #74217
I prefer use of argparse.  Patch \*looks* good reading it, but I cannot test yet.

[2017-04-15 04:47] zhangyangyu commented on #74254
New changeset 026435ce49419a3366171416c68114dd8a1144c7 by Xiang Zhang in branch 'master':
bpo-30068: add missing iter(self) in \_io.\_IOBase.readlines when hint is present (bpo-1130)
https://github.com/python/cpython/commit/026435ce49419a3366171416c68114dd8a1144c7

[2017-04-15 05:05] terryjreedy commented on #74220
Keith, while I sympathize with the request, I am going to agree with the others and close this.  As I see it, csv exists to solve a particular problem.  We want a printable file of records and text fields with visible field and record separators, but we may want to use those separators within fields.  So we add a quote character as an auxiliary delimiter and ignore separators within quotes.  Files

[2017-04-15 05:05] #74220 closed, assigned to nobody

[2017-04-15 05:18] zhangyangyu commented on #74254
New changeset 5fbdfc36f397ad46f4057d527855dfacb77242ce by Xiang Zhang in branch '2.7':
bpo-30068: add missing iter(self) in \_io.\_IOBase.readlines when hint is present (bpo-1152)
https://github.com/python/cpython/commit/5fbdfc36f397ad46f4057d527855dfacb77242ce

[2017-04-15 05:25] zhangyangyu commented on #74254
New changeset d5fa5f3ce7d9003bbd3975d1bf634043305ae18f by Xiang Zhang in branch '3.6':
bpo-30068: add missing iter(self) in \_io.\_IOBase.readlines when hint is present (bpo-1130) (bpo-1150)
https://github.com/python/cpython/commit/d5fa5f3ce7d9003bbd3975d1bf634043305ae18f

[2017-04-15 05:28] zhangyangyu commented on #74254
New changeset 4f43f87b6246e13e0eefc793a2c5415c915723c3 by Xiang Zhang in branch '3.5':
bpo-30068: add missing iter(self) in \_io.\_IOBase.readlines when hint is present (bpo-1130) (bpo-1151)
https://github.com/python/cpython/commit/4f43f87b6246e13e0eefc793a2c5415c915723c3

[2017-04-15 05:28] #74254 closed, assigned to nobody

[2017-04-15 05:46] 440511f0-8c8e-4852-8882-6e4b30628032 commented on #74197
On Fri 14/Apr/2017 19:44:29 +0200 Serhiy Storchaka wrote:

Thank you for your fix, Serhiy.  It makes the class behave consistently.
 However, busy processes are going to concurrently build multiple
temporary entitydefs objects before one of them wins, which is probably
worse than the greedy starting that such lazy initialization tries to
avoid in the first place.  Doesn't that design deserve a com

[2017-04-15 06:06] terryjreedy commented on #74257
inspect.isfunction(object) is documented to
    Return true if the object is a Python function, which includes functions created by a lambda expression.

This is currently implemented as "isinstance(object, types.FunctionType)".

The docs usually regard a 'Python function' as the result of a def statement or lambda expression.  The inspect doc says that a function includes a particular set of attr

[2017-04-15 06:12] serhiy-storchaka commented on #74197
There is nothing wrong with building entitydefs multiple times since the result is same. An alternative is using locking, but this is more cumbersome solution. And building entitydefs is much faster than importing the threading module.

[code]

Current solution is faster in single-thread case, correct likely fast enough in multi-thread case.

[2017-04-15 07:46] zhangyangyu commented on #74260
Compile 2.7 now get many warning about \_PySlice_Unpack, not in 3.x. See an example: http://buildbot.python.org/all/builders/x86%20Ubuntu%20Shared%202.7/builds/109/steps/compile/logs/warnings%20%2822%29.

[2017-04-15 07:46] zhangyangyu opened #74260 "compile warnings of _PySlice_Unpack in 2.7"
BPO | [30074](https://bugs.python.org/issue30074)
--- | :---
Nosy | @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#1154</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-15 08:21] 440511f0-8c8e-4852-8882-6e4b30628032 commented on #74197
Serhiy's analysis is correct.  If anything more than a comment is going
to make its way to the code, I'd suggest to move dictionary building to
its own function, so that it can be called either on first use --like
now-- or before threading if the user is concerned.

I agree there is nothing wrong with multiple builds.  My point is just a
minor, bearable inefficiency.  It can be neglected.  Its mos

[2017-04-15 13:24] 4dd6abbe-2383-4705-9679-8915b0df47fe commented on #74220
OK Terry.  Thank you everybody for your thoughts and suggestions.

[2017-04-15 15:06] jdemeyer commented on #74257
True, Cython functions are not implemented using Python bytecode, so perfect emulation is impossible. The use case I care most about is getargspec(), which is fully supported by Cython functions.

That's an interesting idea. Currently, that is simply impossible because

[code]

Still, one could argue to change the implementation of FunctionType. If you do that, it would be best to define a BaseFun

[2017-04-15 15:35] serhiy-storchaka commented on #74197
New changeset 50f948edda0e6465e194ecc50b85fa2646039b8d by Serhiy Storchaka in branch '2.7':
bpo-30011: Fixed race condition in HTMLParser.unescape(). (bpo-1140)
https://github.com/python/cpython/commit/50f948edda0e6465e194ecc50b85fa2646039b8d

[2017-04-15 16:01] #74197 closed, assigned to nobody

[2017-04-15 16:21] 1e0bedf3-05a9-4416-8119-b813facb473f opened #74261 "Printing ANSI Escape Sequences on Windows 10"
BPO | [30075](https://bugs.python.org/issue30075)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @vadmium, @zware, @eryksun, @zooba
Superseder | <li>bpo-29059: Windows: Python not using ANSI compatible console</li>
Files | <li>[example.png](https://bugs.python.org/file46805/example.png "Uploaded as image/png at 2017-04-15.16:20:59 by Tithen Firion"): output of Windows 10 console</li>

<sup>*Not

[2017-04-15 16:21] 1e0bedf3-05a9-4416-8119-b813facb473f commented on #74261
Windows 10 supports ANSI Escape Sequences ( http://stackoverflow.com/a/38617204/2428152 https://msdn.microsoft.com/en-us/library/windows/desktop/mt638032(v=vs.85).aspx ) but Python just prints escape character. Adding `subprocess.call('', shell=True)` before printing solved the issue.

Test code:

[code]

output in attachment.

Haven't tested it on other Python versions but it probably occurs on t

[2017-04-15 17:11] serhiy-storchaka commented on #74260
New changeset 5e79321742cb3af2184d22e2148c6756cade1864 by Serhiy Storchaka in branch '2.7':
bpo-30074: Fix compile warnings of \_PySlice_Unpack and convert missed (bpo-1154)
https://github.com/python/cpython/commit/5e79321742cb3af2184d22e2148c6756cade1864

[2017-04-15 17:12] serhiy-storchaka commented on #74260
Thank you for pointing on this and for your review Xiang!

[2017-04-15 17:12] #74260 closed, assigned to nobody

[2017-04-15 17:24] jdemeyer commented on #74257
For the record: the \_\_code__ attribute of a Cython function is a real "code" object (the same type as the \_\_code__ attribute of a Python function). Of course not all fields are relevant, for example co_code is empty.

So I think it's clear that Cython tries really hard to be compatible with Python functions.

[2017-04-15 17:27] serhiy-storchaka opened #74262 "Opcode names BUILD_MAP_UNPACK_WITH_CALL and BUILD_TUPLE_UNPACK_WITH_CALL are too long"
BPO | [30076](https://bugs.python.org/issue30076)
--- | :---
Nosy | @ncoghlan, @serhiy-storchaka, @DimitrisJim, @ZackerySpytz, @Fidget-Spinner
PRs | <li>python/cpython#15513</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.or

[2017-04-15 17:27] serhiy-storchaka commented on #74262
Two new opcodes BUILD_MAP_UNPACK_WITH_CALL and BUILD_TUPLE_UNPACK_WITH_CALL (added in 3.5 and 3.6) have too long names (26 and 28 characters). This exceeds the width of the opcode names in the dis module (20 characters). Increasing the width of the column will make opcode arguments too distant from opcode names, that will decrease readability. The better solution would be renaming these two opcode

[2017-04-15 18:44] 7072b078-f107-44c7-92bb-fa3ce0c2a07c opened #74263 "Support Apple AIFF-C pseudo compression in aifc.py"
BPO | [30077](https://bugs.python.org/issue30077)
--- | :---
Nosy | @ronaldoussoren, @ned-deily, @ambv, @serhiy-storchaka, @zhangyangyu, @thruston, @dnknth
PRs | <li>python/cpython#1156</li><li>python/cpython#24449</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><

[2017-04-15 18:44] 7072b078-f107-44c7-92bb-fa3ce0c2a07c commented on #74263
aifc.py fails to open AIFF files containing the compression type "sowt" in the COMM chunk with an "unsupported compression type" error.

This compression type is an Apple specific extension that signals that the data is not actually compressed but is stored uncompressed in little Endian order.

Supporting it would require a trivial change to allow the compression type as a byte-string and to add a

[2017-04-15 20:04] terryjreedy commented on #74257
inspect.getargspec is deprecated in favor of .getfullargspec and .signature and is implemented in with .getfullargspec.  This, in turn, calls .\_signature_from_callable which ultimately looks for (perhaps after recursive unwrap calls) obj.\_\_signature__.  So I expect that the case you 'care most about' already works.  True?

It appears that .signature is intended to work for cython functions via

[2017-04-15 20:49] 03a8b86d-df64-4450-a33b-0d07d97f2fc0 opened #74264 ""-m unittest --help" says nothing about direct script exection"
BPO | [30078](https://bugs.python.org/issue30078)
--- | :---
Nosy | @rbtcollins, @ezio-melotti, @bitdancer, @voidspace, @berkerpeksag, @mlouielu
PRs | <li>python/cpython#1178</li><li>python/cpython#1202</li><li>python/cpython#1203</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more de

[2017-04-15 20:49] 03a8b86d-df64-4450-a33b-0d07d97f2fc0 commented on #74264
In Py3 it is possible to run test filelike
"python -m unittest tests/test_something.py" (it is \*not* possible in Py2!)
Here is doc: https://docs.python.org/3/library/unittest.html

But "--help" seems to be simply copied from Py2 because it does not have information nor examples about such execution.

Please add it to "examples" section at least because this type of usage is very useful.

[2017-04-15 21:09] bitdancer commented on #74264
Agreed that it looks like another example line should be added to the help for this case.

[2017-04-15 22:50] vadmium commented on #74261
Maybe this is related to bpo-29059. If so, there seems to be resistance to enabling the feature by default, and preference to use existing APIs rather than adding a new API that enables it.

[2017-04-16 02:38] eryksun commented on #74261
cmd.exe enables virtual terminal mode, but only for itself. It disables VT mode before starting other programs, and also at shutdown. It appears you've found a bug in the case of "cmd.exe /c ...". You can get the same result via os.system(''). It's failing to disable VT mode after it exits.

Enabling VT mode by default is potentially a problem because a console  buffer's mode is shared, inherited

[2017-04-16 03:10] 75aa1165-012c-43ea-85f3-06f5b73850b3 commented on #74265
The doc here
https://docs.python.org/3/library/subprocess.html#subprocess.Popen
says :
"If shell is True, it is recommended to pass args as a string rather than as a sequence."
but without explain why ? Please add the explanation !
while in
https://docs.python.org/3/library/subprocess.html#frequently-used-arguments
says:
"args is required for all calls and should be a string, or a sequence of prog

[2017-04-16 03:10] 75aa1165-012c-43ea-85f3-06f5b73850b3 opened #74265 "Explain why it is recommended to pass args as a string rather than as a sequence If shell is True"
BPO | [30079](https://bugs.python.org/issue30079)
--- | :---
Nosy | @bitdancer, @eryksun

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-04-16 04:19] bitdancer commented on #74265
Because passing a sequence to shell=True won't work on unix.  It only works more-or-less by accident on windows, even though the current docs kind of encourage it.  Yes, I think it would be good if these sentences were clarified.

See also bpo-7839.

[2017-04-16 05:14] eryksun commented on #74265
In Unix, passing an args list with shell=True makes the first element the -c command. The remaining elements are arguments for the shell itself, which makes them $N variables. For example:

[code]

In Windows, subprocess.list2cmdline assumes VC++ rules for creating a command line from a list. cmd's parsing rules are very different -- e.g. '^' is the escape character, and double quotes also escape

[2017-04-16 06:12] serhiy-storchaka commented on #74266
One of the most used by me option of the "perf timeit" subcommand is --duplicate. It duplicates statements to reduce the overhead of the loop. This is necessary when measure the time of very fast statements. Proposed patch adds this option for CLI of the timeit module.

Similar feature already was proposed in bpo-21988, but it automatically duplicated statements if they executed too fast. This pat

[2017-04-16 06:12] serhiy-storchaka opened #74266 "Add the --duplicate option for timeit"
BPO | [30080](https://bugs.python.org/issue30080)
--- | :---
Nosy | @tim-one, @birkenfeld, @rhettinger, @pitrou, @vstinner, @vstinner, @stevendaprano, @alex, @bitdancer, @serhiy-storchaka
PRs | <li>python/cpython#1161</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summar

[2017-04-16 06:21] serhiy-storchaka commented on #74024
New changeset 813f943c592cf225871b99cffc99304c8cbbee40 by Serhiy Storchaka in branch 'master':
bpo-29838: Add asserts for checking results of sq_length and mq_length slots. (#700)
https://github.com/python/cpython/commit/813f943c592cf225871b99cffc99304c8cbbee40

[2017-04-16 06:34] serhiy-storchaka commented on #74088
What are your thoughts Barry? staticmethod, classmethod and property objects are incorrectly pickled in 2.7 and 3.5 (they are not pickleable in 3.6+). Making them not pickleable in 2.7 and 3.5 can help to catch programming errors.

But this can break the code that "just works" (actually works incorrectly) if it pickles or deepcopies complex objects containing staticmethod, classmethod or property

[2017-04-16 06:37] serhiy-storchaka commented on #74025
New changeset baf9f29811dba9c06e76b8e220bd77260202f299 by Serhiy Storchaka in branch 'master':
bpo-29839: Raise ValueError rather than OverflowError in len() for negative values. (#701)
https://github.com/python/cpython/commit/baf9f29811dba9c06e76b8e220bd77260202f299

[2017-04-16 07:05] serhiy-storchaka commented on #74025
It does. https://docs.python.org/3/reference/datamodel.html#object.\_\_len__

.. method:: object.\_\_len__(self)

   Called to implement the built-in function :func:\`len\`.  Should return the length
   of the object, an integer \`\`\>=\`\` 0.

[2017-04-16 07:05] #74025 closed, assigned to serhiy-storchaka

[2017-04-16 07:07] #74024 closed, assigned to serhiy-storchaka

[2017-04-16 07:08] serhiy-storchaka commented on #74129
New changeset 89f9eb5b192b875c017d37cac16bd514aad9a801 by Serhiy Storchaka in branch '2.7':
bpo-29943: Remove the PySlice_GetIndicesEx() macro. (bpo-1050)
https://github.com/python/cpython/commit/89f9eb5b192b875c017d37cac16bd514aad9a801