[2017-09-20 16:11] Mariatta commented on #75714
Where in the docs is this `OpenSSL cipher list format` link located?

[2017-09-20 16:28] b01e1154-cb95-44cc-9163-1414e4896d0a opened #75716 "configparser unable to write comment with a upper cas letter"
BPO | [31535](https://bugs.python.org/issue31535)
--- | :---
Nosy | @tirkarthi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-20 16:28] b01e1154-cb95-44cc-9163-1414e4896d0a commented on #75716
I create entry with this:

   self.settings.set('General', 'Initial filter', 'All file (*.\*)')
   self.settings.set('General', '# 1 =\> Text files (*.txt)')
   self.settings.set('General', '# 2 =\> CSV files (*.csv)')
   self.settings.set('General', '# 3 =\> Text files (*.txt) \\n')

and after writing in a file:
   initial filter = All file (*.\*)
   ; 1 =\> text files (*.txt)
   ; 2 =\> csv file

[2017-09-20 16:51] pitrou commented on #75714
Mariatta, that would be in the documentation for the `SSLContext.set_ciphers` method (in `[Doc/library/ssl.rst](https://github.com/python/cpython/blob/main/Doc/library/ssl.rst)`).

[2017-09-20 16:56] Mariatta commented on #75714
Thanks Antoine. So is this a matter of replacing the url to https://wiki.openssl.org/index.php/Manual:Ciphers(1)#CIPHER_LIST_FORMAT?
Or is there a better url that will not go out of date in the future...

[2017-09-20 16:57] pitrou commented on #75714
I don't think OpenSSL are promising anything about their URLs (the old one having gone 404 is proof of that :-)). So Felipe's suggestion is as good as any, IMHO.

[2017-09-20 17:00] pitrou commented on #75697
Tim, any opinion on this one?  Do you agree it's an actual bug (if a bit obscure)?

[2017-09-20 17:00] 74276bb4-928d-42d2-ac2e-17266a3681b7 commented on #75714
Woops. Apologies -- I somehow deleted that part from the report. Thanks Antoine for jumping in. If you are using the wiki url, make sure not to include the question mark at the end :-)

[2017-09-20 17:16] Mariatta commented on #75714
Cool! I'm tagging this as an easy issue, suitable for first timers or new contributors.

Felipe, are you up for preparing the PR?

[2017-09-20 17:18] serhiy-storchaka commented on #75681
The limit 1.4 is not arbitrary. This is a minimal scale for which fonts from 10 to 14 pixels are not decreased when converted to points (with multiplier 0.75 and one rounding). round(14 * 0.75) = round(10.5) = 10; 10 * 1.4 = 14.

[2017-09-20 17:21] tim-one commented on #75697
Ya, it's clearly best for `current_thread()` to deliver consistent results.

[2017-09-20 17:47] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
Thanks, Christian. -- I found that in the docs the culprit is Cygwin:

   db6a569de7ae595ada53b618fce6bbbd1c98d350

[2017-09-20 17:48] tiran commented on #75624
Do we still support cygwin?

[2017-09-20 17:58] 74276bb4-928d-42d2-ac2e-17266a3681b7 commented on #75714
Sure, will do!

[2017-09-20 18:03] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
I've just asked on python-dev if Cygwin is still broken. Not sure
if we support it.

[2017-09-20 18:04] Mariatta commented on #75663
Backport was done. Thanks.

[2017-09-20 18:04] #75663 closed, assigned to Mariatta

[2017-09-20 18:20] tiran commented on #75714
New changeset 19e4d9346db7fb65845b98a9cb9caacaaac8a81a by Christian Heimes (Felipe) in branch 'master':
bpo-31533: fix broken link to OpenSSL docs (bpo-3674)
https://github.com/python/cpython/commit/19e4d9346db7fb65845b98a9cb9caacaaac8a81a

[2017-09-20 18:37] pitrou opened #75717 "`make regen-all` triggers wholesale rebuild"
BPO | [31536](https://bugs.python.org/issue31536)
--- | :---
Nosy | @Yhg1s, @pitrou, @vstinner, @zware, @serhiy-storchaka
PRs | <li>python/cpython#3677</li><li>python/cpython#3678</li><li>python/cpython#3797</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Git

[2017-09-20 18:37] pitrou commented on #75717
`make regen-opcode` always writes the destination unconditionally, after which `make` thinks it has to rebuild everything.

[2017-09-20 18:38] bitdancer commented on #75624
We do not currently officially support cygwin.  There are people working on getting it working again (and having a buildbot) so we can support it, so cygwin support is a goal, but not currently a requirement.  I've nosied Erik Brey, who is one of the main people interested in and working on cygwin.  The note might well be out of date even with regards to cygwin.

[2017-09-20 18:42] pitrou commented on #75717
Note that at least `make regen-ast` will also need to be changed in order to reduce build times on Travis-CI.

[2017-09-20 18:53] pitrou commented on #75717
Looks like `pgen` will also have to be changed, which is more annoying as it's written in C...

Perhaps another approach can be used that will use a separate utility to do the copying if the contents changed?

[2017-09-20 19:33] pitrou commented on #75717
Posted https://github.com/python/cpython/pull/3678 which uses a separate utility.  It seems to save 1 minute off the build step on Travis-CI.

[2017-09-20 19:34] pitrou commented on #75717
Note that GNU install (`install -C`) would probably do the trick, but is not necessarily installed on the build system.

[2017-09-20 20:18] 3b0afd99-4ea3-4d58-bc35-f507ee11e5f5 opened #75718 "Bug in readline module documentation example"
BPO | [31537](https://bugs.python.org/issue31537)
--- | :---
Nosy | @Mariatta, @infinitewarp
PRs | <li>python/cpython#3925</li><li>python/cpython#3948</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p><

[2017-09-20 20:18] 3b0afd99-4ea3-4d58-bc35-f507ee11e5f5 commented on #75718
The second example in the readline module docs uses readline.get_history_length() (lines 8 & 14) where it should use readline.get_current_history_length().

[2017-09-20 20:23] Mariatta commented on #75714
New changeset 6b44ad1abdb9b3aaf27e2ba1fc4b69b9a0f50c25 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31533: fix broken link to OpenSSL docs (GH-3674) (GH-3675)
https://github.com/python/cpython/commit/6b44ad1abdb9b3aaf27e2ba1fc4b69b9a0f50c25

[2017-09-20 20:23] Mariatta commented on #75714
New changeset 5b6452d412b5be45f265093e75563fcf6d05dc3e by Mariatta (Christian Heimes) in branch '2.7':
bpo-31533: fix broken link to OpenSSL docs (GH-3674) (GH-3676)
https://github.com/python/cpython/commit/5b6452d412b5be45f265093e75563fcf6d05dc3e

[2017-09-20 20:24] Mariatta commented on #75714
Fixed and backported.
Thanks everyone!

[2017-09-20 20:24] #75714 closed, assigned to nobody

[2017-09-20 20:49] brettcannon commented on #75596
Ah, OK. Then I wouldn't put it in square brackets as it seems to suggest it's somehow disconnected from the number.

[2017-09-20 21:57] vstinner commented on #75717
New changeset b091bec824137f286b22084be5f8d397d21b9abb by Victor Stinner (Antoine Pitrou) in branch 'master':
bpo-31536: Avoid wholesale rebuild after `make regen-all` (bpo-3678)
https://github.com/python/cpython/commit/b091bec824137f286b22084be5f8d397d21b9abb

[2017-09-20 22:25] vstinner commented on #75717
If it works well, maybe it's worth it to backport the change to the 3.6 branch. We still backport a lot of changes to 3.6. But maybe wait until 3.6.3 final is released?

[2017-09-20 22:31] 22884b00-60c4-4a65-aa27-c8175ab1d641 commented on #74971
I just took a quick peek at your PR to see if a similar test exists from this bug and it is looking good. Thanks for your work.

[2017-09-20 22:35] pitrou commented on #75717
Fair enough. Does someone want to do the backport? :-)

[2017-09-21 00:45] ncoghlan commented on #75532
3.4 and 3.5 are in security fix only mode now, so the change won't be backported there. However, it will be applicable to 2.7, so I've updated the impacted version list accordingly.

Igor's suggested approach in the PR looks reasonable to me as a first step, as it focuses just on the command line interface, and defers the question of how to handle error reporting in the ensurepip.bootstrap() API.

[2017-09-21 01:37] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 commented on #75719
The default mailbox factory is mailbox.mboxMessage so I expect the following two statements to work the same:

[code]

However they do not.

The attached file generates the output:

\<class 'mailbox.mboxMessage'\>
Test
sender@invalid Thu Nov 17 00:49:30 2016
None
\<class 'mailbox.mboxMessage'\>
Test
MAILER-DAEMON Thu Sep 21 01:31:15 2017
None

Note that the original from has been lost in the secon

[2017-09-21 01:37] 44b4c87c-fe02-447d-bbdd-58861e3ff3f2 opened #75719 "mailbox does not treat external factories the same"
BPO | [31538](https://bugs.python.org/issue31538)
--- | :---
Nosy | @warsaw, @bitdancer, @Cryvate, @Cryvate
PRs | <li>python/cpython#26776</li>
Files | <li>[mb.py](https://bugs.python.org/file47159/mb.py "Uploaded as text/plain at 2017-09-21.01:37:51 by bpoaugust"): Show external factory is treated differently</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrate

[2017-09-21 06:08] benjaminp commented on #75713
New changeset 3d1e2ab584ed0175592b5be2a0bc98dc1723776a by Benjamin Peterson (nurelin) in branch 'master':
bpo-31532: Fix memory corruption due to allocator mix (bpo-3679)
https://github.com/python/cpython/commit/3d1e2ab584ed0175592b5be2a0bc98dc1723776a

[2017-09-21 06:47] benjaminp commented on #75713
New changeset 88d0663005d258526496d1f8ee0acb7103c69e80 by Benjamin Peterson (Miss Islington (bot)) in branch '3.6':
[3.6] closes bpo-31532: Fix memory corruption due to allocator mix (GH-3679) (bpo-3681)
https://github.com/python/cpython/commit/88d0663005d258526496d1f8ee0acb7103c69e80

[2017-09-21 06:47] #75713 closed, assigned to nobody

[2017-09-21 07:24] vstinner commented on #75717
I may do the backport, or ask the bot to do it. Right now I prefer to check if everything is fine on all CI.

[2017-09-21 07:52] f31f28df-9f48-4d95-bd7e-931adf29dbbd opened #75720 "asyncio.sleep may sleep less time then it should"
BPO | [31539](https://bugs.python.org/issue31539)
--- | :---
Nosy | @gvanrossum, @pitrou, @vstinner, @bitdancer, @1st1, @germn

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 07:52] f31f28df-9f48-4d95-bd7e-931adf29dbbd commented on #75720
Originally faced here:
https://stackoverflow.com/q/46306660/1113207

Simple code to reproduce:

[code]

I thought that it may be related to event loop's internal clock, but changing time.time() with asyncio.get_event_loop().time() doesn't help.

Tested on Windows 10 x64, Python 3.6.2.

[2017-09-21 08:20] serhiy-storchaka commented on #75681
New changeset a96c96f5dab68d4e611af4b8caefd7268533fd9a by Serhiy Storchaka in branch 'master':
bpo-31500: IDLE: Scale default fonts on HiDPI displays. (bpo-3639)
https://github.com/python/cpython/commit/a96c96f5dab68d4e611af4b8caefd7268533fd9a

[2017-09-21 09:01] ac44a45e-8ec1-40da-abbb-5c12aadab6df commented on #75693
Thanks for the informative comments. I opened a PR based on this feedback. Would you mind checking if it conforms to what you had in mind?

[2017-09-21 09:01] f50fb426-9df6-4590-87cf-f8a5d8c3396e opened #75721 "Adding context in concurrent.futures.ProcessPoolExecutor"
BPO | [31540](https://bugs.python.org/issue31540)
--- | :---
Nosy | @pitrou, @tomMoral
PRs | <li>python/cpython#3682</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 09:01] f50fb426-9df6-4590-87cf-f8a5d8c3396e commented on #75721
The `ProcessPoolExecutor` processes start method can only be change by changing the global default context with `set_start_method` at the beginning of a script. We propose to allow passing a context argument in the constructor to allow more flexible control of the executor.

Adding this would allow testing `ProcessPoolExecutor` with all the available context

[2017-09-21 09:09] vstinner commented on #75713
I'm curious. Would you mind to try to run your frozen application using PYTHONMALLOC=debug environment variable on a Python without the fix, to see if you get an error? I'm not sure that the debug hooks on memory allocators are set early enough to detect your specific bug.

https://docs.python.org/dev/using/cmdline.html#envvar-PYTHONMALLOC

[2017-09-21 09:23] ee173927-bcba-4f97-b9ca-01d1dcc7b279 commented on #75713
Tried your suggestion. Nothing is printed and program still crash.

[2017-09-21 09:35] 6fe4c71d-6cbb-4154-a6a9-235208e8c103 opened #75722 "Mock called_with does not ensure self/cls argument is used"
BPO | [31541](https://bugs.python.org/issue31541)
--- | :---
Nosy | @pablogsal, @JonathanHuot, @tirkarthi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 09:35] 6fe4c71d-6cbb-4154-a6a9-235208e8c103 commented on #75722
Mock "assert_called_with" does not contain a possibility to verify if "self" or "cls" is used when mock is called.

So, in unittests, all tests are passing but code is broken. Example :

Steps to reproduce:
\==================

[code]

[2017-09-21 09:41] 379dc349-3a10-424f-b9d2-a0104f092359 opened #75723 "pth files in site-packages of venvs are executed twice"
BPO | [31542](https://bugs.python.org/issue31542)
--- | :---
Nosy | @anntzer, @wimglenn, @sinoroc

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-147951

[2017-09-21 09:41] 379dc349-3a10-424f-b9d2-a0104f092359 commented on #75723
All's in the title: "pth files in site-packages of venvs are executed twice".  For example, the following code sample prints "1" twice.

python -mvenv /tmp/tmpenv
echo 'import os; print(1)' \>/tmp/tmpenv/lib/python3.6/site-packages/foo.pth
source activate /tmp/tmpenv
python

This behavior is different from the one for a pth file in a non-venv site-packages (either the syswide prefix, or the user p

[2017-09-21 10:07] ncoghlan commented on #75532
New changeset 9adda0cdf89432386b7a04444a6199b580d287a1 by Nick Coghlan (Igor Filatov) in branch 'master':
bpo-31351: Set return code in ensurepip when pip fails (GH-3626)
https://github.com/python/cpython/commit/9adda0cdf89432386b7a04444a6199b580d287a1

[2017-09-21 10:34] vstinner commented on #75691
test_many_processes() test was added by Antoine Pitrou in bpo-30589. This test was mentionned in bpo-30703.

[2017-09-21 10:37] vstinner commented on #75691
test_many_processes() is made in two steps. The bug occurs at the second step which calls proc.terminate() on processes. Code of the test:

[code]

I'm not sure about the "time.sleep(0.001)  # let the children start...". It looks like a weak synchronization. Maybe if the system is heavily loaded, the signal is sent before Python registered signal handlers? 1 ms seems short to start Python. On my L

[2017-09-21 10:41] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #75719
To me the documentation doesn't quite look right, in the case of no factory being passed, it runs:

[code]

from the Mailbox base class. The get_message is thus:

[code]

where self.\_message_factory is set to mailbox.mboxMessage.

I am not familiar with this module, so am unsure whether the documentation is ill-worded or it is a bug.

[2017-09-21 11:21] #75557 closed, assigned to nobody

[2017-09-21 11:22] vstinner commented on #75363
Same issue on PPC64LE Fedora 3.x:

http://buildbot.python.org/all/builders/PPC64LE%20Fedora%203.x/builds/1406/steps/test/logs/stdio

[2017-09-21 11:25] serhiy-storchaka commented on #75591
New changeset 5e02c7826f9797fb3add79b608ef51f7a62b3e5a by Serhiy Storchaka in branch 'master':
bpo-31410: Optimized calling wrapper and classmethod descriptors. (bpo-3481)
https://github.com/python/cpython/commit/5e02c7826f9797fb3add79b608ef51f7a62b3e5a

[2017-09-21 12:05] #75591 closed, assigned to nobody

[2017-09-21 12:14] vstinner commented on #75591
Oh, nice optimization!

I see that you reused the \_PyMethodDef_RawFastCallDict() function that I added exactly for the same reason: prevent the creation of a temporary C function only created for a single call and then destroyed.

[2017-09-21 13:25] vstinner opened #75724 "Optimize wrapper descriptors using FASTCALL"
BPO | [31543](https://bugs.python.org/issue31543)
--- | :---
Nosy | @rhettinger, @pitrou, @vstinner, @methane, @serhiy-storchaka
PRs | <li>python/cpython#3685</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code

[2017-09-21 13:25] vstinner commented on #75724
Attached pull request adds a fastpath for wrapper descriptors to use the FASTCALL calling convention. It's a follow up of bpo-31410 and all my work on FASTCALL during Python 3.6 and 3.7 development cycles.

Microbenchmark:

./python -m perf timeit -s 'import array; obj=array.array("b"); wrap=array.array.\_\_len__' 'wrap(obj)'

Result:

haypo@selma$ ./python -m perf compare_to ref.json patch.json
M

[2017-09-21 14:55] bitdancer commented on #75720
I can't reproduce this on a linux VM with 3.7 tip.  I don't currently have a windows instance to test against.

[2017-09-21 15:15] terryjreedy commented on #75681
New changeset 0c4997f1919d8583353b12537a63dcbe7b9d280f by Terry Jan Reedy in branch '3.6':
[3.6] bpo-31500: IDLE: Scale default fonts on HiDPI displays. (GH-3639) (bpo-3686)
https://github.com/python/cpython/commit/0c4997f1919d8583353b12537a63dcbe7b9d280f

[2017-09-21 15:27] 517ec50a-c0bc-4503-b041-270261e61905 opened #75725 "gettext.Catalog title is not flagged as a class"
BPO | [31544](https://bugs.python.org/issue31544)
--- | :---
Nosy | @merwok, @serhiy-storchaka, @Linkid

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 15:27] 517ec50a-c0bc-4503-b041-270261e61905 commented on #75725
In the ``gettext`` documentatino, in the title about the ``Catalog`` constructor, ``Catalog`` is not flagged as a class.

[2017-09-21 15:44] pitrou commented on #75724
I don't know. What's the point of optimizing `array.array.__len__(obj)`? People usually call `len(obj)` for that...

[2017-09-21 15:47] pitrou commented on #75720
AFAIR the Windows clock has a 15ms granularity, so I'm not really surprised. In other words, I don't think `asyncio.sleep` sleeps less than expected, but that it's the imprecision of time.time() which gives you that impression.

What happens if you replace `time.time()` with `time.perf_counter()` in the code above?

[2017-09-21 16:07] vstinner commented on #75720
Clocks is a very complex topic, especially when you care of portability. See my PEP-418.

asyncio uses time.monotonic() clock to not be impacted when the system clock ("wall clock") is updated by the administrator or automatically by NTP.

On Windows, time.monotonic() is implemented with GetTickCount64() which has a bad resolution: around 15 ms. The exact resolution depends on the hardware.

See m

[2017-09-21 16:09] a24690b2-760c-4b16-8d68-d9a44e29742c opened #75726 "Fixing documentation for timedelta."
BPO | [31545](https://bugs.python.org/issue31545)
--- | :---
Nosy | @vstinner, @berkerpeksag, @musically-ut
PRs | <li>python/cpython#3687</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 16:09] a24690b2-760c-4b16-8d68-d9a44e29742c commented on #75726
There are some instances in the documentation of datetime where the repr of timedelta is mentioned, which was changed in bpo-30302.

Am making a PR shortly to address them.

[2017-09-21 16:13] dbe84a28-293c-4318-987c-766bbc70f1e2 opened #75727 "PyOS_InputHook is not called when waiting for input() in Windows"
BPO | [31546](https://bugs.python.org/issue31546)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @ZackerySpytz, @yhlam, @miss-islington
PRs | <li>python/cpython#7978</li><li>python/cpython#7990</li><li>python/cpython#7991</li>
Files | <li>[test_tk.py](https://bugs.python.org/file47160/test_tk.py "Uploaded as text/plain at 2017-09-21.16:13:02 by @yhlam"): TK test script</li><li>[py35_call_stac

[2017-09-21 16:13] dbe84a28-293c-4318-987c-766bbc70f1e2 commented on #75727
Since python 3.6, PyOS_InputHook is not called when waiting for IO in Windows.

This causes issues with GUI framework like tkinter that relys on PyOS_InputHook to handle user interaction.

I attached a test script. When running the script with python 3.5, the tkinter window will show up properly. But if you run the script with python 3.6, the tkinter window will be frozen.

I believe the issue is

[2017-09-21 16:15] dbe84a28-293c-4318-987c-766bbc70f1e2 commented on #75727
Attach python 3.5 call stack of the test script

[2017-09-21 16:16] dbe84a28-293c-4318-987c-766bbc70f1e2 commented on #75727
Attach python 3.6 call stack of the test script

[2017-09-21 16:20] terryjreedy commented on #75710
A good start, and big enough as it is, for the next big revision project ;-).

[2017-09-21 16:25] zooba commented on #75727
You're right, we're missing this section of code:

        if (PyOS_InputHook != NULL)
            (void)(PyOS_InputHook)();

Since we just call it and ignore anything it does, it should be safe enough to add it immediately before the ReadConsoleW call (inside the loop).

[2017-09-21 16:25] terryjreedy commented on #75674
The underlying issue is trying to coordinate two somewhat independent object systems (Python and Tcl).  I don't know why the after loops were (apparently) stopped before bpo-27099 and not after.  The only difference I know of is the dropping of the reference to CodeContext instances in .unload_extensions, called from .\_close.  CodeContext did not have a .close method.

I tried the first thing I t

[2017-09-21 16:26] zooba commented on #75727
(Belongs inside [Parser/myreadline.c](https://github.com/python/cpython/blob/main/Parser/myreadline.c) in the \_PyOS_WindowsConsoleReadline function)

[2017-09-21 16:28] f31f28df-9f48-4d95-bd7e-931adf29dbbd commented on #75720
STINNER Victor, thanks for explanation!

I don't know if this issue has practical disadvantages, but such behavior seems to be confusing, especially, since it can be reproduced with event_loop.time() and asyncio doc says nothing about resolution -
https://docs.python.org/3/library/asyncio-eventloop.html#delayed-calls

Do you think this issue should be closed?
Should I make PR to add info about clo

[2017-09-21 16:46] vstinner commented on #75724
Right, type.method(self) is less than common than self.method().

I looked at the stdlib. I found that the following method are called using wrapper descriptors:

* object.\_\_repr__(self)
* object.\_\_getattribute__(self, name)
* \_asyncio.Future.\_\_del__(self)
* int.\_\_str__(obj)
* etc.

But it seems like such calls are rare compared to other kinds of function calls.

--

By the way, \_PyMetho

[2017-09-21 16:52] serhiy-storchaka commented on #75724
It optimizes the same cases as bpo-31410. bpo-31410 removed a half of the overhead for wrapper descriptors, Victor's patch removes the remaining half. Actually it makes calling the descriptor faster than calling the corresponding builtin! But bpo-31410 changes were simple, just few lines, and [PR 3685](https://github.com/python/cpython/pull/3685) looks much more complex.

Are non-fast wrappers sti

[2017-09-21 16:58] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
Erik, if you are interested in Cygwin, could you please check that xxmodule.c builds on Cygwin with the patch?  You need to uncomment
a couple of lines in setup.py to build 'xx'.

[2017-09-21 16:58] terryjreedy opened #75728 "IDLE: Save definitions added to user keysets"
BPO | [31547](https://bugs.python.org/issue31547)
--- | :---
Nosy | @terryjreedy

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-21 16:58] terryjreedy commented on #75728
User keysets are saved as a complete keyset, but users could edit the file and delete event-sequence pairs or add an incomplete set.  When a keyset is used, default pairs are added for any that are missing, if the pair does not conflict with existing pairs.

When extensions were converted to features bpo-27099, 8 new pairs were added to the 'complete' set.  All user keyset are missing these pairs.

[2017-09-21 17:05] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
In fact, building \_decimal should also fail on Cygwin if this
were still an issue.

[2017-09-21 17:05] terryjreedy commented on #75469
Make sure to return result of messagebox calls, as did in bpo-31287, fixed in bpo-31502.

[2017-09-21 19:40] rhettinger commented on #75724
This seems like a straight-forward win.  I don't think we really need to see microbenchmarks before going forward with this one.

[2017-09-21 20:07] serhiy-storchaka commented on #74531
Ping. Can you make your decision Raymond?

This issue is a stopper for bpo-30347 which fixes a crash. I don't want to merge the fix for bpo-30347 until this issue be solved, because both proposed PRs solve bpo-30347 too, and I don't want to make unneeded changes or move code forth and back.

[2017-09-21 20:08] serhiy-storchaka commented on #75336
For groupby() see also bpo-27385.

[2017-09-21 20:41] 1st1 commented on #75633
I looked at the PR, and I'm not so sure about this change.  In short, it can be viewed as a backwards incompatible change to asyncio.gather.

Guido, what do you think?

[2017-09-21 21:03] pitrou commented on #75720
I don't think the bug is about real time here, rather about minimal sleep time expectations; i.e. it's expected that the sleep time may be \*more* than asked for, but not less than.

(and I would share that expectation myself)

[2017-09-21 21:09] vstinner commented on #75724
The most complex slots are \_\_new__, \_\_init__ and \_\_call__ because they
accept keywords. It's hard to design a calling convention which optimize
all cases because of the backward compatibility. The risk is to convert a
dict to args + kwnames (tuple) and then back to a dict: two expensive and
useless conversions.

It's my 3rd or 4th attempt to optimize new/init/call :-) My previous
attempt was

[2017-09-21 21:15] 1st1 commented on #75720
Exactly, and asyncio tries to ensure that.  It looks like "time.get_clock_info('monotonic').resolution" lies about monotonic clock resolution on Windows so that might be the actual issue we want to address.

[2017-09-21 21:31] vstinner commented on #75720
IMHO we should either just close the issue, ir document the bad clock
resolution on Windows in the asyncio doc.

Yury: asyncio can trigger events earlier than scheduled for performance
reasons. See end_time in asyncio core loop.

[2017-09-21 21:35] pitrou commented on #75720
Le 21/09/2017 à 23:31, STINNER Victor a écrit :

If that's true, then it sounds like a bug.  If there is a rationale for
a "fast and imprecise" API, then it would seem ok to add such an API.
But the default API for event scheduling should not take such shortcuts
IMHO.  Most users don't schedule thousands of events at a time, however
they expect timeouts to be observed as rigorously as is possible

[2017-09-21 21:37] serhiy-storchaka opened #75729 "test_os fails on Windows if current directory contains spaces"
BPO | [31548](https://bugs.python.org/issue31548)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @serhiy-storchaka, @zooba
Files | <li>[test_os.log](https://bugs.python.org/file47163/test_os.log "Uploaded as text/x-log at 2017-09-21.21:37:05 by @serhiy-storchaka")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

[2017-09-21 21:37] serhiy-storchaka commented on #75729
I just have built Python on Windows first time and ran tests. test_os fails because the current directory path contains spaces.

test_spawnl (test.test_os.SpawnTests) ... C:\\Users\\Serhiy: can't open file 'Storchaka\\py\\cpython\\PCBuild\\win32\\python.exe': [Errno 2] No such file or directory
FAIL

[2017-09-21 21:41] 1st1 commented on #75720
So here's the relevant piece of code:

[code]

As I see it, currently we peek into the future time.  Why don't we do

[code]

to guarantee that timeouts will always be triggered \*after* the requested time, not before?  I don't see how the performance can become worse if we do this.

[2017-09-21 21:43] vstinner commented on #75720
Issues:
- bpo-20320
- bpo-20452
- bpo-20505
- bpo-20311

The performance issue was that the asyncio core loop was running in a loop
but did nothing because of time rounding. When the next event was in a few
nanoseconds, the e event burnt the CPU during \<clock resolution\> seconds.
It can be 15 ms on Windows or 1 ms when using poll() for example. It's not
just clock resolution, also the resolution

[2017-09-21 21:47] 1st1 commented on #75720
but did nothing because of time rounding. When the next event was in a few
nanoseconds, the e event burnt the CPU during \<clock resolution\> seconds.
It can be 15 ms on Windows or 1 ms when using poll() for example. It's not
just clock resolution, also the resolution of the selector.

Hm.  I glanced through the issues you linked, and it looks like it's a valid concern for a micro-benchmark.  But

[2017-09-21 21:53] serhiy-storchaka opened #75730 "test_strptime and test_time fail on non-English Windows"
BPO | [31549](https://bugs.python.org/issue31549)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @serhiy-storchaka, @zooba
Superseder | <li>bpo-16322: time.tzname on Python 3.3.0 for Windows is decoded by wrong encoding</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary

[2017-09-21 21:53] serhiy-storchaka commented on #75730
test_strptime and test_time fail on non-English Windows.

For example:

\======================================================================
FAIL: test_localtime_timezone (test.test_time.TestPytime)
\----------------------------------------------------------------------
[code]

Seems there are problems with wrong encodings and lossy encoding on Windows.

[code]

Looks similar to the string 'O?i

[2017-09-21 22:01] serhiy-storchaka commented on #75724
These slots are the only slots that accept keyword arguments and arbitrary number of positional parameters. Other slots can use fast calls.

[2017-09-21 22:33] merwok commented on #75725
Are you talking about https://docs.python.org/3/library/gettext.html#the-catalog-constructor ?  I think the lack of markup is on purpose, since the text explains that this is a compatibility measure (mostly obsolete nowadays).

For future bug reports, please include links or screenshots!  They make it easier to communicate.

[2017-09-22 03:08] gvanrossum commented on #75633
I'm afraid I no longer have all the details of this design in my head, and I have no idea what the fix does (and no time to read up on everything).

The OP says "If you do not await gather" -- what happens if you \*do* await it? Do the tasks then get killed?

It seems strange to both cancel the task \*and* set its exception.

The docstring for gather() seems to be pretty clear that cancellation an

[2017-09-22 03:32] 341ce0e2-bdbb-4bd4-99e6-746f11201a3f commented on #75731
There's a bit of history I don't understand and couldn't find the appropriate trail for.

The original error message from the 2.6 era:

[code]

This was changed in https://github.com/python/cpython/commit/f5fd5239819c5dfb1d7a33484be49dc705544d02 for clarity

As seen in 2.7.1

[code]

It was later changed in the 2.7 era here:
https://github.com/python/cpython/commit/7d1483cbadbe48620964348a20396906

[2017-09-22 03:32] 341ce0e2-bdbb-4bd4-99e6-746f11201a3f opened #75731 "Inconsistent error message for TypeError with subscripting"
BPO | [31550](https://bugs.python.org/issue31550)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @asottile
PRs | <li>python/cpython#3692</li><li>python/cpython#6151</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fiel

[2017-09-22 04:36] 1st1 commented on #75633
Let's say we have three tasks: t1, t2, t3.  Then we use gather on them:

   await gather(t1, t2, t3)

Let's say that t2 finishes first with an exception.

Currently, both t1 and t3 would continue their execution even though gather throws the t2 exception.

The PR for this issue makes 'gather' to cancel both t1 and t3 as soon as t2 throws an exception.

The question is: I see the point of the PR, b

[2017-09-22 06:26] serhiy-storchaka commented on #75731
I'm not sure that this is an enhancement. It makes an error message inconsistent with other error messages.

[code]

And actually this message is misleading. An attribute '\_\_getitem__' is not looked up on objects.

[code]

[2017-09-22 07:53] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
In the selectors module, the winsock select method is wrapped. The second parameter (writefds) is passed to both writefds and exceptfds and the returned number of fds for write and except are summed and returned in the second element of the tuple.

Can anyone explain to me why the winsock select method is wrapped like this?

[2017-09-22 08:43] serhiy-storchaka commented on #75659
The more I think about this the more I like the idea of using int.\_\_abs__() directly (PyLong_Type.tp_as_number-\>nb_absolute() in C). The C code doesn't call potentially overridable methods bit_length() and to_bytes(), it uses concrete implementations directly. I don't see reasons why it should obey overriding the \_\_abs__() method.

This will save us from the problem with the wording of the er

[2017-09-22 10:39] serhiy-storchaka commented on #75732
Running tests from the directory containing a space: '/home/serhiy/py/cpy thon'.

[code]

======================================================================
ERROR: test_no_optimize_flag (distutils.tests.test_bdist_rpm.BuildRpmTestCase)
\----------------------------------------------------------------------
[code]

======================================================================
ERROR: te

[2017-09-22 10:39] serhiy-storchaka opened #75732 "test_distutils fails if current directory contains spaces"
BPO | [31551](https://bugs.python.org/issue31551)
--- | :---
Nosy | @merwok, @serhiy-storchaka, @zooba, @dstufft, @tirkarthi

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-22 10:52] 4421b102-35ef-413c-8ce8-2368a31912cf commented on #75275
\# code reproduce bug
\# KeyError in lib\\multiprocessing\\managers.py in incref

[code]

[2017-09-22 11:28] #75332 closed, assigned to nobody

[2017-09-22 12:18] 1ba98678-fa11-4898-9594-bcb37e4aa73f commented on #75633
Guido, look. The point is that if you change run_forever with run_until_complete, then behavior changes: success_coro(5) will not be executed.

I think that it's strange that behavior differs depending on entrypoint: run_forever or run_untill_complete

[2017-09-22 13:45] Mariatta commented on #75532
New changeset eef49f5dd021d15396551880cf451042a79a1107 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31351: Set return code in ensurepip when pip fails (GH-3626) (GH-3683)
https://github.com/python/cpython/commit/eef49f5dd021d15396551880cf451042a79a1107

[2017-09-22 13:57] Mariatta commented on #75532
This has been backported to 3.6. Is backport to 2.7 needed?

[2017-09-22 14:26] fc233844-b7d8-4db9-bc24-cd51bb8e9bda commented on #75624
Building the following with gcc from msys2 (cygwin) worked fine here: https://bpaste.net/show/0cafd5fa8211

[2017-09-22 15:18] terryjreedy opened #75733 "IDLE: Convert browsers to use ttk.Treeview"
BPO | [31552](https://bugs.python.org/issue31552)
--- | :---
Nosy | @terryjreedy, @aroberge

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-22 15:18] terryjreedy commented on #75733
ttk.Treeview should look as good as idlelib.tree, but will check.  It is more flexible.  Note that Treeview is low-level, need to add higher level functions or classes.  See if can more or less duplicate API of tree Items.

[2017-09-22 15:23] terryjreedy commented on #75642
bpo-31552 ttk.Treeview

[2017-09-22 15:24] terryjreedy commented on #75733
From bpo-31461: Browsers currently use idlelib.tree.TreeWidget.  Treeview is not a drop-in replacement because TreeWidget has some of the higher-level app-specific functions that users are expected to add to Treeview.  But could Treeview replace the low-level parts of TreeWidget that actually display stuff on the screen?

[2017-09-22 15:32] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
Okay, thanks.

I found that bz2module.c has also used direct initialization for ages.
I'm going to commit the change.

[2017-09-22 15:41] gvanrossum commented on #75633
Oh, that's a red herring. The reason is that the event loop stops when you use run_complete(), but the execution of success_coro(5) is still pending, and when you resume the loop (e.g. call run_until_complete() on the same loop with a different task) it will run.

So the issue is really the semantics of gather(), and I agree with Yury that we designed it intentionally that way, and if you want dif

[2017-09-22 15:45] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
New changeset ca72589bfabe2fd0e12eebfeb770b6c7a499b3e6 by Stefan Krah in branch 'master':
bpo-31443: Formulate the type slot initialization rules in terms of C99. (bpo-3688)
https://github.com/python/cpython/commit/ca72589bfabe2fd0e12eebfeb770b6c7a499b3e6

[2017-09-22 16:14] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75624
New changeset b1558a0368949714f5765702a8d83a2d163eaacf by Stefan Krah in branch 'master':
bpo-31443: Update included code. (bpo-3697)
https://github.com/python/cpython/commit/b1558a0368949714f5765702a8d83a2d163eaacf

[2017-09-22 16:29] warsaw commented on #75570
New changeset 35425d638c0eeb8377620e016f47df3ae08d7061 by Barry Warsaw in branch 'master':
bpo-31389 Add an optional `header` argument to pdb.set_trace() (bpo-3438)
https://github.com/python/cpython/commit/35425d638c0eeb8377620e016f47df3ae08d7061

[2017-09-22 16:30] #75570 closed, assigned to warsaw

[2017-09-22 16:41] ff34e289-2fcf-42dc-aee3-c2d138a4b82a commented on #75734
json.tool should have the ability to format jsonlines data. It is a very commonly used format in many industries. Right now when given jsonlines (for example):

    echo -e '{"ingredients":["frog", "water", "chocolate", "glucose"]} | python -m json.tool

Works. But:

    echo -e '{"ingredients":["frog", "water", "chocolate", "glucose"]}\n{"ingredients":["chocolate","steel bolts"]}' | python -m jso

[2017-09-22 16:41] ff34e289-2fcf-42dc-aee3-c2d138a4b82a opened #75734 "Extend json.tool to handle jsonlines (with a flag)"
BPO | [31553](https://bugs.python.org/issue31553)
--- | :---
Nosy | @rhettinger, @vstinner, @ezio-melotti, @serhiy-storchaka, @lisroach
PRs | <li>python/cpython#3846</li><li>python/cpython#10051</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[

[2017-09-22 17:08] 341ce0e2-bdbb-4bd4-99e6-746f11201a3f commented on #75731
All I'm really looking for is consistency -- should the change to 2.7 be reverted instead?

[2017-09-22 17:39] #75624 closed, assigned to nobody

[2017-09-22 18:01] terryjreedy commented on #75675
3.5 only gets security fixes, and this does not seem to be a security issue.  Please retest with 3.6 or 3.7.

[2017-09-22 18:03] #75683 closed, assigned to terryjreedy

[2017-09-22 18:08] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75675
The suppressions are mainly for "invalid access" due to a gc trick.

The primary goal is to be definitely-lost-clean.

I would say it works as expected.

[2017-09-22 18:12] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75675
Also, I don't think --with-pydebug works well with valgrind.

It's either:
   1) --with-pydebug
   2) CFLAGS="-O0 -g" --with-valgrind
   3) CFLAGS="-O0 -g" --without-pymalloc

Combining 2) and 3) probably does not hurt, but is not necessary.

[2017-09-22 18:12] #75675 closed, assigned to nobody

[2017-09-22 18:26] zware commented on #75604
New changeset 6de35849cb7a18bfaad828eb57a2e6caa7978690 by Zachary Ware in branch '3.6':
[3.6] bpo-31423: Fix building the PDF documentation (GH-3693) (GH-3699)
https://github.com/python/cpython/commit/6de35849cb7a18bfaad828eb57a2e6caa7978690

[2017-09-22 18:41] zware commented on #75604
New changeset da86874a3d8f882d6aedd882b2e27f59b59d6798 by Zachary Ware in branch '2.7':
[2.7] bpo-31423: Fix building the PDF documentation (GH-3693) (GH-3700)
https://github.com/python/cpython/commit/da86874a3d8f882d6aedd882b2e27f59b59d6798

[2017-09-22 18:42] brettcannon opened #75735 "Warn when __loader__ != __spec__.loader"
BPO | [31554](https://bugs.python.org/issue31554)
--- | :---
Nosy | @warsaw, @brettcannon, @ncoghlan, @ericvsmith, @ericsnowcurrently

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-22 18:42] brettcannon commented on #75735
There a couple of places where \_\_loader__ is directly used (the biggest one probably being importlib.reload()). It would probably be good to warn when module.\_\_loader__ != module.\_\_spec__.loader like we do for \_\_package__ to start transitioning people over to specs for accessing the loader instead of the direct module attribute.

[2017-09-22 18:43] zware commented on #75604
Pending results of actual builds on docs.p.o, this should be fixed.

[2017-09-22 19:41] ned-deily commented on #75604
Thanks for looking into this.  See also https://github.com/python/psf-salt/issues/118 where the question arose whether the version of Tex Live on docs is new enough.  I'm no expert at anything Tex but the odd thing is that I had been able to build dist docs on my current Debian (testing) system without this change.  Let's see what happens on docs after the daily full doc build.

[2017-09-22 20:24] fdc08b81-f10f-4d56-a4c0-de5650414d13 commented on #75736
I have a Python 2.7 C-extension that was made for performance, however, I noticed something strange on Windows:
When I run locally python setup.py install and it installs it the "egg" way, the performance of calling the function in the module 500x in a loop is:

     yEnc C New  took   579 ms
     yEnc C New  took   580 ms
     yEnc C New  took   580 ms

But when I install it as a wheel locally or

[2017-09-22 20:24] fdc08b81-f10f-4d56-a4c0-de5650414d13 opened #75736 "Windows pyd slower when not loaded via load_dynamic"
BPO | [31555](https://bugs.python.org/issue31555)
--- | :---
Nosy | @terryjreedy, @pfmoore, @tjguk, @skrah, @zware, @zooba, @Safihre

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-22 20:37] zooba commented on #75715
If you look in your %TEMP% directory, there should be more log files near the one you attached (most of the filename will be the same).

Could you zip them up and attach all of them here? I think there's some information in one of the others that I'll need to see.

Also, you shouldn't have to run this installer as admin. If you are not planning to install for all users on your machine (and accordi

[2017-09-22 20:47] 86ff8d94-ee5b-445a-bc3a-d16703ca2300 opened #75737 "asyncio.wait_for can cancel futures faster with timeout==0"
BPO | [31556](https://bugs.python.org/issue31556)
--- | :---
Nosy | @asvetlov, @1st1, @hellysmile
PRs | <li>python/cpython#3703</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-22 20:47] 86ff8d94-ee5b-445a-bc3a-d16703ca2300 commented on #75737
There is no need to create extra future and use loop.call_later to cancel base future from asyncio.wait_for when timeout==0. If loop is heavy loaded it can be cancelled simnifically later then 0 seconds later.

[2017-09-22 20:55] 1st1 commented on #75737
Do you have a use case where this optimization is important?

[2017-09-22 21:00] 86ff8d94-ee5b-445a-bc3a-d16703ca2300 commented on #75737
If coroutine function has some blocking calls before first await/yield from statement maybe makes sense do no let them be executed, if timeout equals 0

[2017-09-22 21:08] 1st1 commented on #75737
I think this is a backwards incompatible change and thus will be rejected.  Currently there's a guarantee that "wait_for" can throw a TimeoutError \*only* when when you await it.

[code]

   \# some important code

   try:
       await fut
   except TimeoutError:
       \# do something

With your PR merged, the above asyncio code would be broken, because asyncio users can guard with try..except on

[2017-09-22 21:18] 86ff8d94-ee5b-445a-bc3a-d16703ca2300 commented on #75737
asyncio.wait_for is coroutine itself, to start executing code, no matter with this PR or not it needs to be awaited/yield from

[code]

try:
    loop.run_until_complete(fut)
except asyncio.TimeoutError:
    print('raised here')

will print
it is not raised yet
raised here

[2017-09-22 21:20] 1st1 commented on #75737
You're right!  Let's work on the PR then, I've left a review comment.

[2017-09-22 21:42] e1dda8dd-c161-48c7-8517-2475181033ea opened #75738 "tarfile: incorrectly treats regular file as directory"
BPO | [31557](https://bugs.python.org/issue31557)
--- | :---
Nosy | @gustaebel, @serhiy-storchaka, @nitishch
Files | <li>[test.tar](https://bugs.python.org/file47188/test.tar "Uploaded as application/x-tar at 2017-10-03.22:07:23 by Joe Tsai")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>

[2017-09-22 21:42] e1dda8dd-c161-48c7-8517-2475181033ea commented on #75738
The original V7 header only allocates 100B to store the file path. If a path exceeds this length, then either the PAX format or GNU formats must be used, which can represent arbitrarily long file paths. When doing so, most tar writers just store the first 100B of the file path in the V7 header.

When reading, a proper reader should disregard the contents of the V7 field if a previous and correspon

[2017-09-22 23:26] 86ff8d94-ee5b-445a-bc3a-d16703ca2300 commented on #75737
Actually provided example without patch will print 1, which is not expected

[2017-09-23 00:21] ambv commented on #75739
When you're forking many worker processes off of a parent process, the resulting children are initially very cheap in memory.  They share memory pages with the base process until a write happens [1]_.

Sadly, the garbage collector in Python touches every object's PyGC_Head during a collection, even if that object stays alive, undoing all the copy-on-write wins.  Instagram disabled the GC completel

[2017-09-23 00:21] ambv opened #75739 "gc.freeze() - an API to mark objects as uncollectable"
BPO | [31558](https://bugs.python.org/issue31558)
--- | :---
Nosy | @tim-one, @warsaw, @nascheme, @rhettinger, @jcea, @pitrou, @vstinner, @benjaminp, @methane, @ambv, @ericsnowcurrently, @serhiy-storchaka, @1st1, @applio, @brainfvck
PRs | <li>python/cpython#3705</li><li>python/cpython#4013</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not refle

[2017-09-23 04:55] rhettinger commented on #75734
This seems like a reasonable enhancement.

[2017-09-23 04:57] rhettinger commented on #75659
I concur.

[2017-09-23 04:58] serhiy-storchaka commented on #75734
Jsonlines is an external to JSON format. You should split the data on lines and pass every line to the JSON parser separately. The same you should do with json.tool.

[code]

[2017-09-23 05:51] ned-deily commented on #75604
Good news! It appears that the changes supplied by @Linkid have indeed fixed the daily downloadable doc build failures, 3.7, 3.6, and 2.7 docs were built successfully and the 404s are gone.  Thanks everyone for helping with this!

[2017-09-23 05:51] #75604 closed, assigned to nobody

[2017-09-23 07:39] ezio-melotti commented on #75734
I agree with Raymond that this is a reasonable request.
Even if jsonlines is not part of the JSON specification, the format is quite common, and practicality beats purity (espcially considering that we are just talking about json.tool).

[2017-09-23 12:06] serhiy-storchaka opened #75740 "IDLE: test_browser is failed when run twice"
BPO | [31559](https://bugs.python.org/issue31559)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka
PRs | <li>python/cpython#3708</li><li>python/cpython#3709</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-09-23 12:06] serhiy-storchaka commented on #75740
Buildbots failures:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.x/builds/101/steps/test/logs/stdio
http://buildbot.python.org/all/builders/AMD64%20Windows8.1%20Refleaks%203.x/builds/116/steps/test/logs/stdio

I don't know why test_browser fails first time, but this provokes running it second time why always fails.

[code]

==================================================

[2017-09-23 16:22] ec36f777-fa79-4c20-ac5e-15501f77bca7 opened #75741 "hashlib.blake2: error in example for signed cookies"
BPO | [31560](https://bugs.python.org/issue31560)
--- | :---
Nosy | @benjaminp, @dchest
PRs | <li>python/cpython#3694</li><li>python/cpython#3707</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></deta

[2017-09-23 16:22] ec36f777-fa79-4c20-ac5e-15501f77bca7 commented on #75741
The example for creating and verifying signed cookies with hashlib.blake2 doesn't work. Corrected in GitHub PR bpo-3694.

[2017-09-23 16:36] #75342 closed, assigned to nobody

[2017-09-23 17:01] ed371eb8-bb7e-4e3a-8e92-256831a4f9f8 commented on #75742
While using the icdiff command line interface to difflib, I ran into an interesting issue where difflib took 47 seconds to compare two simple text documents (a PHP source code file that had been refactored via phptidy).

On subsequent analysis, it turned out to be some sort of pathological behavior triggered by the presence of mixed line endings. Normalizing the line endings in both files to \\r\\

[2017-09-23 17:01] ed371eb8-bb7e-4e3a-8e92-256831a4f9f8 opened #75742 "difflib pathological behavior with mixed line endings"
BPO | [31561](https://bugs.python.org/issue31561)
--- | :---
Nosy | @tim-one, @rhettinger
Files | <li>[file1](https://bugs.python.org/file47164/file1 "Uploaded as text/plain at 2017-09-23.17:01:17 by Mahmoud Al-Qudsi")</li><li>[file2](https://bugs.python.org/file47165/file2 "Uploaded as text/plain at 2017-09-23.17:01:32 by Mahmoud Al-Qudsi")</li>

<sup>*Note: these values reflect the state of the

[2017-09-23 17:01] ed371eb8-bb7e-4e3a-8e92-256831a4f9f8 commented on #75742
Attaching [file2](https://bugs.python.org/file2)

[2017-09-23 17:05] benjaminp commented on #75739
This is only useful if the parent process has a lot of memory that's never used by the child processes right? Otherwise, you would lose via refcounting COWs.

[2017-09-23 17:18] benjaminp commented on #75741
New changeset aecc08ac3a14a73aa353655bb65ff8d965e935a0 by Benjamin Peterson (Dmitry Chestnykh) in branch 'master':
Docs: correct hashlib.blake2 keyed hashing example (bpo-31560)
https://github.com/python/cpython/commit/aecc08ac3a14a73aa353655bb65ff8d965e935a0

[2017-09-23 17:27] benjaminp commented on #75741
New changeset 5614487378863d14cdbe730b00d6803523abb7ac by Benjamin Peterson (Miss Islington (bot)) in branch '3.6':
[3.6] Docs: correct hashlib.blake2 keyed hashing example (bpo-31560)
https://github.com/python/cpython/commit/5614487378863d14cdbe730b00d6803523abb7ac

[2017-09-23 17:27] #75741 closed, assigned to nobody

[2017-09-23 17:46] serhiy-storchaka opened #75743 "snakebite.net is not available"
BPO | [31562](https://bugs.python.org/issue31562)
--- | :---
Nosy | @vstinner, @benjaminp, @tpn, @bitdancer, @zware, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked

[2017-09-23 17:46] serhiy-storchaka commented on #75743
The testConnectTimeout in test_timeout is skipped since network resources it uses are not available.

[code]

Is it temporary or permanent issue?

[2017-09-23 17:53] terryjreedy commented on #75740
browser.transform_children, when called the first time on a dict of children nodes, rebinds the name attribute of Classes with bases*. Tests that called the real browser.transform_children the first time on a node mutate the global mock_pyclbr_tree.  When the tests are re-run in the same process, tests initially run before the mutation are also run after the mutation.

\*This is not an issue in cu

[2017-09-23 18:07] terryjreedy commented on #75740
On both buildbots, the initial rerun passes:
Ran 371 tests in 12.265s  OK (skipped=3) Gentoo
Ran 371 tests in 12.047s  OK (skipped=1) Windows8

[2017-09-23 18:19] terryjreedy commented on #75740
New changeset 99167f85b7373c8082b30a74211f009627bdedfa by Terry Jan Reedy in branch 'master':
bpo-31559: Remove test order dependence in idle_test.test_browser. (bpo-3708)
https://github.com/python/cpython/commit/99167f85b7373c8082b30a74211f009627bdedfa

[2017-09-23 19:23] tpn commented on #75743
Hmmmm, I'll investigate when I get home tomorrow.

Sent from my iPhone

[2017-09-23 19:24] terryjreedy commented on #75740
New changeset 429b3b1188cfac654677e8aeed494bb6067c475f by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31559: Remove test order dependence in idle_test.test_browser. (GH-3708) (bpo-3709)
https://github.com/python/cpython/commit/429b3b1188cfac654677e8aeed494bb6067c475f

[2017-09-23 19:24] #75740 closed, assigned to terryjreedy

[2017-09-23 20:29] df79943f-4aee-4531-a00d-c6b12816eb70 opened #75744 "Change repr of dict_keys, dict_values, and dict_items to use curly braces"
BPO | [31563](https://bugs.python.org/issue31563)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @mr-nfamous

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-23 20:29] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #75744
They behave like sets yet their repr looks like a list: dict_keys([0, 1, 3, 4]). It should be dict_keys({0, 1, 2, 3, 4}). Ditto for odict_keys/odict_values. Maybe this is a holdover from when the repr of sets was Set([0, 1, 2, ...])?

The reason I bring this up is that they behave like sets was one of the last things I learned. I learned about stuff like abcs, metaclasses (including stuff like \_\

[2017-09-23 20:46] terryjreedy commented on #75640
New changeset cd99e79dc74c9d9dea83a5551d657c334b2cc6c9 by Terry Jan Reedy (Cheryl Sabella) in branch 'master':
bpo-31459: Rename IDLE's module browser from Class Browser to Module Browser. (bpo-3704)
https://github.com/python/cpython/commit/cd99e79dc74c9d9dea83a5551d657c334b2cc6c9

[2017-09-23 21:16] terryjreedy commented on #75640
New changeset b650194652a591503f97c15f8f4c0b08c05058c5 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31459: Rename IDLE's module browser from Class Browser to Module Browser. (GH-3704) (bpo-3710)
https://github.com/python/cpython/commit/b650194652a591503f97c15f8f4c0b08c05058c5

[2017-09-23 21:17] #75640 closed, assigned to terryjreedy

[2017-09-23 21:21] terryjreedy commented on #75641
I meant .py?, as in .py, .pyw, .pyo, not .p?

[2017-09-23 21:22] rhettinger commented on #75744
Some of these were Guido's design decisions made over a decade ago.  He explicitly choose not have the spelled-out method names (both here in the concrete class and in the corresponding abstract base classes).  It usually isn't a good idea to second guess his long standing decisions which have worked out well in practice.

From my own point-of-view, I prefer not to use the set curly brace notation

[2017-09-23 21:26] terryjreedy commented on #75642
I was sitting down to write a patch for bpo-31459, when I discovered yours.  If you want to write more module brower patches, such as for bpo-31460  I will do something else.

[2017-09-23 21:35] aab27600-7ba3-44f4-80f4-cd0104144671 opened #75745 "NewType can subclass NewType"
BPO | [31564](https://bugs.python.org/issue31564)
--- | :---
Nosy | @Mariatta, @Topper-123
PRs | <li>python/cpython#3696</li><li>python/cpython#3715</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></d

[2017-09-23 21:35] aab27600-7ba3-44f4-80f4-cd0104144671 commented on #75745
It has become possible to create a ``NewType`` from an existing  ``NewType``, see https://github.com/python/mypy/pull/3465 and https://github.com/python/peps/pull/271.

This is a small update to the documentation as a concequence of the above change.

[2017-09-23 21:36] terryjreedy commented on #75642
bpo-25090 opened with a broad discussion of module broswer and code context, but I focused it on removing the folder and file icons misused for classes and functions in Module Browser.  Above, I suggested possibly changing pathbrowser, but I have decided against that.  The patch will be trivial, so I am going to do it and see what I think.

[2017-09-23 21:49] serhiy-storchaka opened #75746 "open() doesn't use locale.getpreferredencoding()"
BPO | [31565](https://bugs.python.org/issue31565)
--- | :---
Nosy | @brettcannon, @ncoghlan, @vstinner, @benjaminp, @ericsnowcurrently, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></d

[2017-09-23 21:49] serhiy-storchaka commented on #75746
It is documented that the default encoding for open() and io.TextIOWrapper() is locale.getpreferredencoding(). But actually the C implementation in Python 3 uses \_bootlocale.getpreferredencoding(). Monkey-patching locale.getpreferredencoding doesn't affect open().

[2017-09-23 22:05] serhiy-storchaka commented on #75744
I concur with Raymond.

As for supporting the full set() API I thought about making unbound method set.union() and friends accepting arbitrary Set objects (or even arbitrary iterables), not just set objects, as a first argument. But I didn't investigate how this will affect the performance of the set objects.

[2017-09-23 22:05] #75744 closed, assigned to nobody

[2017-09-23 22:22] csabella commented on #75642
Sorry about that.  You can do 31460 if you want.  I haven't started it.

[2017-09-23 22:33] vstinner commented on #75536
Yeah, I consider that the issue can now be closed. If someone really wants runnings checks on macOS, we should wait until Travis CI solves their issues, or find a different CI provider.

https://blog.travis-ci.com/2017-09-22-macos-update

[2017-09-23 22:36] serhiy-storchaka commented on #74338
I have removed changes for which it was requested and addressed other comments. Can this PR be merged now?

[2017-09-23 23:08] vstinner commented on #74338
I reviewed your PR, see my questions.

Would you mind to run a new benchmark again, please?

[2017-09-23 23:13] terryjreedy commented on #75642
Whoops, patching tree.py to not use icons is not trivial.  See new comment on bpo-25090.

[2017-09-24 00:03] serhiy-storchaka commented on #74338
On my new laptop 100 runs are sped up from 2.357 sec to 2.094 sec (by 13%). Got rid of importing 6 modules: \_struct, collections.abc, copy, struct, textwrap, warnings.

Getting rid of importing errno leads to rewriting of os.\_execvpe() which looks less trivial. I leave this for separate PR.

[2017-09-24 02:37] Mariatta commented on #75745
New changeset 039b25d8fd21f8d5d9e3cb536402d952cf068dc1 by Mariatta (topper-123) in branch 'master':
bpo-31564: Update typing documentation (GH-3696)
https://github.com/python/cpython/commit/039b25d8fd21f8d5d9e3cb536402d952cf068dc1

[2017-09-24 02:46] Mariatta commented on #75745
New changeset 018e6b9f696311a65f47f33ea04b7baef3f3664f by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31564: Update typing documentation (GH-3696) (GH-3715)
https://github.com/python/cpython/commit/018e6b9f696311a65f47f33ea04b7baef3f3664f

[2017-09-24 02:47] Mariatta commented on #75745
Thanks Terji!

[2017-09-24 02:47] #75745 closed, assigned to nobody

[2017-09-24 04:13] tim-one commented on #75742
I'm not familiar with `icdiff` - it's not part of the Python distribution, right?  If so, you should really talk to its author(s).

If two files have different line endings, then no pair of lines between them can be equal, and the difference engine will struggle mightily to find the "best matching" pair of lines between them, over & over & over ... again.  That's expected, and is expensive (roughl

[2017-09-24 06:53] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75747 "assertion failure in _warnings.warn() in case of a bad __name__ global"
BPO | [31566](https://bugs.python.org/issue31566)
--- | :---
Nosy | @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3717</li><li>python/cpython#3730</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-09-24 06:53] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75747
The following code causes an assertion failure:
\_\_name__ = b'foo'
\_\_file__ = None
import \_warnings
\_warnings.warn('bar')

This is because setup_context() (in [Python/_warnings.c](https://github.com/python/cpython/blob/main/Python/_warnings.c)) assumes that \_\_name__
is a string, and so it passes it to \_PyUnicode_EqualToASCIIString(), which
asserts it is a string.

[2017-09-24 07:31] 90a11ce5-0b7f-4150-94df-bd57348141db opened #75748 "Inconsistent documentation around decorators"
BPO | [31567](https://bugs.python.org/issue31567)
--- | :---
Nosy | @merwok, @berkerpeksag, @dmiyakawa, @Cryvate
PRs | <li>python/cpython#3959</li><li>python/cpython#3965</li><li>python/cpython#3966</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-09-24 07:31] 90a11ce5-0b7f-4150-94df-bd57348141db commented on #75748
I can see inconsistency in library documentation around functions that are suitable for decorators. I'd like to clarify if it is based on my misunderstanding, or a real documentation problem.

Examples:

- https://docs.python.org/3/library/functions.html#staticmethod
- https://docs.python.org/3/library/functools.html#functools.lru_cache

Both staticmethod() and functools.lru_cache() are used with

[2017-09-24 07:40] methane commented on #75739
Nice idea!

I think it helps not only sharing more memory for forking application,
but also long running large application.
There are many static objects which is tracked by GC.
It makes full GC time long.  And CPU cache is filled by unused data.

For example, web worker loading application after fork. (uWSGI's --lazy-app option).
Such application can call `gc.freeze()` after loading full applicat

[2017-09-24 07:51] methane commented on #75739
AFAIK, Python shutdown process calls full GC.

Don't touching permanent generation makes shutdown faster.
On the other hand, there are some downside:

* Some object may be not freed while shutdown.  It looks like "leak" for application embedding Python interpreter.
* Some \_\_del__ methods may be not be called.

Of course, GC permanent generation while shutdown doesn't make sense.
gc.freeze() is u

[2017-09-24 08:04] larryhastings commented on #75353
New changeset 86a713cb0c110b6798ca7f9e630fc511ee0a4028 by larryhastings (Victor Stinner) in branch '3.4':
[3.4][Security] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3353)
https://github.com/python/cpython/commit/86a713cb0c110b6798ca7f9e630fc511ee0a4028

[2017-09-24 08:04] larryhastings commented on #75130
New changeset 86a713cb0c110b6798ca7f9e630fc511ee0a4028 by larryhastings (Victor Stinner) in branch '3.4':
[3.4][Security] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3353)
https://github.com/python/cpython/commit/86a713cb0c110b6798ca7f9e630fc511ee0a4028

[2017-09-24 08:14] serhiy-storchaka commented on #74338
Got rid of importing errno as Victor suggested. In gettext its import is deferred. It is only used in one exceptional case. In os errno no longer used.

Initially errno was imported in os inside a function. The import was moved at module level for fixing bpo-1755179. But now we can get rid of it totally by catching specialized OSError subclasses instead of testing the OSError's errno attribute.

T

[2017-09-24 09:07] serhiy-storchaka commented on #75686
New changeset 2b382dd6121bb1e4b75470fb3ef8555665df3eb6 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31505: Fix an assertion failure in json, in case \_json.make_encoder() received a bad encoder() argument. (bpo-3643)
https://github.com/python/cpython/commit/2b382dd6121bb1e4b75470fb3ef8555665df3eb6

[2017-09-24 09:15] larryhastings opened #75749 "Configure thinks it finds python3.5 but doesn't"
BPO | [31568](https://bugs.python.org/issue31568)
--- | :---
Nosy | @vstinner, @larryhastings
PRs | <li>python/cpython#3737</li><li>python/cpython#5274</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-09-24 09:15] larryhastings commented on #75749
On Python 3.5, the makefile pseudotarget "regen-opcode" now fails if "python3.5" can't be found on the path.  What's strange is that the configure script scans to see if it can find "python3.5", and it thinks it can, but then actually attempting to run it fails.

I can't merge PRs in 3.5 right now because this is broken.  Note that everything is fine on my Ubuntu laptop because I \*do* have "pytho

[2017-09-24 09:16] larryhastings commented on #75749
Oh, and, Victor, I tagged you with this because git blame says you're the most person to touch PYTHON_FOR_REGEN in the makefile, checkin ab6b962ef24 .

[2017-09-24 09:19] methane commented on #75596
It can be calculated by script.
I don't want to add more complexity to import.c.

Yes, it should be documented.
And that's reason why I don't want to support time without nested import.
Stack management is difficult than inc/dec integer in multi threading case.

[2017-09-24 09:21] serhiy-storchaka commented on #75492
New changeset 4facdf523aa6967487a9425f124da9661b59fd43 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31311: Impove error reporting in case the first argument to PyCData_setstate() isn't a dictionary. (bpo-3255)
https://github.com/python/cpython/commit/4facdf523aa6967487a9425f124da9661b59fd43

[2017-09-24 09:49] serhiy-storchaka commented on #75492
I thought about this issue so long because I can't find good cause for \_\_dict__ to be not a dict. Defining the \_\_dict__ method or property doesn't affect instance dictionary and attributes lookup. It just breaks the \_\_setstate__ method. Without having good example of overriding \_\_dict__ I have no good test cases and don't know what a way of handling this error is better.

There is yet one

[2017-09-24 10:00] serhiy-storchaka commented on #75596
Actually it is easy. You need just one global integer accumulator and a local variable for keeping a temporary copy of it.

[2017-09-24 10:01] rhettinger commented on #74531
Go ahead with [PR 1569](https://github.com/python/cpython/pull/1569) to exhaust the inner iterator when the outer iterator advances.

Rationale:  The OP expected the inner iterator to be exhausted.  That is also what the PyPy team originally implemented and it is what I would have expected.

Also, there are some loose analogies elsewhere in the language.  Raising StopIteration is what next(somefil

[2017-09-24 10:36] serhiy-storchaka commented on #74531
New changeset c247caf33f6e6000d828db4762d1cb12edf3cd57 by Serhiy Storchaka in branch 'master':
bpo-30346: An iterator produced by the itertools.groupby() iterator (bpo-1569)
https://github.com/python/cpython/commit/c247caf33f6e6000d828db4762d1cb12edf3cd57

[2017-09-24 10:37] ncoghlan commented on #75532
Aye, it is - while there's no venv integration in 2.7 (since there's no venv module), ensurepip itself is essentially identical across the two version, so 2.7 will suffer from the same problem.

[2017-09-24 10:39] serhiy-storchaka commented on #74531
Thank you for your review and explanations Raymond. This makes sense to me.

[2017-09-24 10:39] #74531 closed, assigned to serhiy-storchaka

[2017-09-24 11:01] serhiy-storchaka commented on #74531
Added the patch for [PR 1568](https://github.com/python/cpython/pull/1568) against the current master just for history.

[2017-09-24 11:28] serhiy-storchaka commented on #75731
I think it should. But let to hear Raymond's arguments.

[2017-09-24 11:34] serhiy-storchaka commented on #75689
New changeset 2fad10235460ac394cc8b869c41f47aba3d63594 by Serhiy Storchaka in branch 'master':
bpo-27319, bpo-31508: Document deprecation in Treeview.selection(). (bpo-3667)
https://github.com/python/cpython/commit/2fad10235460ac394cc8b869c41f47aba3d63594

[2017-09-24 11:44] 5d22bdbc-bd0d-4723-8cd4-68e20aca459e opened #75750 "inconsistent case of PCbuild/ directory"
BPO | [31569](https://bugs.python.org/issue31569)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @serhiy-storchaka, @zooba, @gronke
PRs | <li>python/cpython#3711</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code

[2017-09-24 11:44] 5d22bdbc-bd0d-4723-8cd4-68e20aca459e commented on #75750
While reading the build documentation for Windows, I've noticed the `PCbuild/` directory to be mentioned with a different case than the directory in the repository (`PCBuild/` instead of `PCbuild/`).

Every occasion of `PCBuild` should be replaced with `PCbuild`, so that builds can work on case-sensitive filesystems as well.

[2017-09-24 11:51] serhiy-storchaka commented on #75750
Wouldn't be easier to make changes in the opposite direction? Change PCbuild to PCBuild?

The file systems on Windows are case-insensitive, so this hardly an error.

[2017-09-24 12:03] serhiy-storchaka commented on #75689
New changeset e31eca45e548bf6f439d540f3751516acbc31689 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-27319, bpo-31508: Document deprecation in Treeview.selection(). (GH-3667) (bpo-3719)
https://github.com/python/cpython/commit/e31eca45e548bf6f439d540f3751516acbc31689

[2017-09-24 12:05] serhiy-storchaka commented on #75689
Warnings are fixed in 3.7. They will reappear in 3.8.

[2017-09-24 12:05] #75689 closed, assigned to nobody

[2017-09-24 12:10] vstinner commented on #75689
Thank you for the fix Serhiy!

[2017-09-24 12:37] pfmoore commented on #75750
I would strongly prefer the docs to be changed to match the implementation rather than the other way round. However, I don't see the use case for this - what case sensitive filesystem would anybody be building the Windows version of Python on?

I'm -1 on changing the actual build scripts, as that introduces risk for no actual benefit. I'm +0 on changing the docs, assuming it's possible to make thi

[2017-09-24 14:27] e30e9d9a-043f-46d7-b937-033e493bdc5b opened #75751 "minor bug in documentataion relating to sending html email"
BPO | [31570](https://bugs.python.org/issue31570)
--- | :---
Nosy | @warsaw, @bitdancer, @Mariatta, @Cryvate
PRs | <li>python/cpython#3720</li><li>python/cpython#3721</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2017-09-24 14:27] e30e9d9a-043f-46d7-b937-033e493bdc5b commented on #75751
I believe the documentation page https://docs.python.org/3/library/email.examples.html contains a minor error:

[code]

[2017-09-24 14:56] ee421118-3546-4a08-a1d1-83527c201b4e opened #75752 "Redundand information on Doc/reference/lexical_analysis.rst"
BPO | [31571](https://bugs.python.org/issue31571)
--- | :---
Nosy | @gvanrossum, @mitsuhiko, @serhiy-storchaka, @Mariatta, @gpkc
PRs | <li>python/cpython#3691</li><li>python/cpython#3754</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

b

[2017-09-24 14:56] ee421118-3546-4a08-a1d1-83527c201b4e commented on #75752
The file [Doc/reference/lexical_analysis.rst](https://github.com/python/cpython/blob/main/Doc/reference/lexical_analysis.rst) has at least two redundant parts.

The first one is quoted below:
"As of Python 3.3 it is possible again to prefix string literals with a u prefix to simplify maintenance of dual 2.x and 3.x codebases."

This is repeated a couple paragraphs after:
"New in version 3.3: Suppo

[2017-09-24 15:16] serhiy-storchaka commented on #75752
The first pair was added in 50364b4a5c8f02ec05d33928e29a8780d9acf968 by Armin Ronacher.

The duplicate of the other phrase was introduced in 60f2f0cf8e10c94693dfea8937b7feabeffe5744.

[2017-09-24 15:19] Mariatta commented on #75604
Seems like people are seeing 404s when downloading docs today. By any chance this issue is related?

[2017-09-24 15:36] Mariatta commented on #75752
I think we can remove
[code]
and keep the other one where it says:
[code]

About the sentence about numeric literals that appears twice: it appears on different sections of the language reference documentation. It's very likely for a person to only read one section and not the other. I think it's ok to have them in different places like that.

[2017-09-24 15:39] ee421118-3546-4a08-a1d1-83527c201b4e commented on #75752
I believe that the sentence regarding the - operator also applies to Integer literals and Imaginary literals. But it only appears on the Floating point literals and Numeric literals sections.

[2017-09-24 15:41] ee421118-3546-4a08-a1d1-83527c201b4e commented on #75752
Also, "Numeric literals" is a more general section, so rules that apply for the three types of numeric literals should probably go there to avoid repetition. Maybe the Integer, Floating point and Imaginary literal sections should be one section level deeper, so that they are under the Numeric Literal section.

[2017-09-24 15:51] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #75751
I have made a PR, not sure whether it needs backporting?

[2017-09-24 16:18] Mariatta commented on #75751
New changeset ce418bf8228c9a6a19702638e5f5c2fb66ad0588 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31570: Update Email library documentation example (GH-3720) (GH-3721)
https://github.com/python/cpython/commit/ce418bf8228c9a6a19702638e5f5c2fb66ad0588

[2017-09-24 16:19] Mariatta commented on #75751
This is fixed now. Thanks Larry and Henk-Jaap!

[2017-09-24 16:19] #75751 closed, assigned to nobody

[2017-09-24 16:52] 341ce0e2-bdbb-4bd4-99e6-746f11201a3f commented on #75731
Shouldn't you wait for Raymond's arguments before outright closing the PR?

[2017-09-24 17:12] ned-deily commented on #75604
Do you have specific URLs or web pages?  Or a link to where this was discussed?  I just did a quick look at some of the download pages and everything worked for me.

[2017-09-24 17:18] rhettinger commented on #75328
Nick, what do you think about this proposal?

The problem being solved is that decorated tuples no longer work well for controlling ordering (because so many types are now non-comparable).  This provides a wrapper to control which fields are used in comparison.

For implementation and API, there are several ways to do it, (accept separate arguments vs accept an existing sequence, standalone class

[2017-09-24 17:34] 353a68dc-036a-4f9c-b1c4-d4521ded607a commented on #75178
you probably have already considered this, but I just wanted to ask if it might be worth considering turning the problem "upside down" to make things easier.

  I'm interpreting the problem that there are variables we'd like to add to the output log that are provided inside the logger, which is why we need to use a specific type of format string to make sure you add them correctly.   If instead, t

[2017-09-24 17:46] serhiy-storchaka opened #75753 "Avoid suppressing all exceptions in PyObject_HasAttr()"
BPO | [31572](https://bugs.python.org/issue31572)
--- | :---
Nosy | @pitrou, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#3723</li><li>python/cpython#3724</li><li>python/cpython#3725</li><li>python/cpython#3726</li><li>python/cpython#3727</li><li>python/cpython#3728</li><li>python/cpython#3729</li><li>python/cpython#3731</li><li>python/cpython#4081</li>
Dependencies | <li>bpo-32787: Bette

[2017-09-24 17:46] serhiy-storchaka commented on #75753
Initially hasattr() suppressed all raised exceptions. In bpo-2196 hasattr() was changed to suppress only Exception exceptions and propagate exceptions like SystemExit and KeyboardInterrupt. In bpo-9666 hasattr() was changed to suppress only AttributeError.

But C API functions, PyObject_HasAttr() and like, were not changed. PyObject_HasAttr() is documented as an equivalent of hasattr(), but there

[2017-09-24 18:00] rhettinger commented on #75009
After looking at this again, I think the entire example should be removed.  We really don't want to encourage people to code like this (it would never make it through a code review).  The example itself is silly (not fully, just weird and lacking real-world motiviation).  The s.insert(0,x) code is an anti-pattern.  And in general, mutating a data structure while iterating over it is a perilous pra

[2017-09-24 18:08] methane commented on #75596
You're right!  I updated my pull request.
See current output: https://gist.github.com/methane/185d75a3c8da762d85317dd95918a623

[2017-09-24 18:27] serhiy-storchaka commented on #75466
New changeset 91fb0afe181986b48abfc6092dcca912b39de51d by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31285: Fix an assertion failure and a SystemError in warnings.warn_explicit. (bpo-3219)
https://github.com/python/cpython/commit/91fb0afe181986b48abfc6092dcca912b39de51d

[2017-09-24 18:28] serhiy-storchaka commented on #75747
New changeset 5d3e80021ab33360191eb0fbff34e0246c913884 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31566: Fix an assertion failure in \_warnings.warn() in case of a bad \_\_name__ global. (bpo-3717)
https://github.com/python/cpython/commit/5d3e80021ab33360191eb0fbff34e0246c913884

[2017-09-24 18:29] terryjreedy commented on #74271
New changeset 5b9299d8c72aeadccadd77e4b8132094ba9a1f96 by Terry Jan Reedy (Sanket Dasgupta) in branch 'master':
bpo-30085: Improve documentation for operator (bpo-1171)
https://github.com/python/cpython/commit/5b9299d8c72aeadccadd77e4b8132094ba9a1f96

[2017-09-24 18:30] #74271 closed, assigned to terryjreedy

[2017-09-24 18:45] Mariatta commented on #75532
Thanks :)
Since Miss Islington couldn't backport this, I'll leave it to the patch author or the core dev who merged the PR ;)

[2017-09-24 19:27] ed371eb8-bb7e-4e3a-8e92-256831a4f9f8 commented on #75742
@tim.peters

No, `icdiff` is not part of core and probably should be omitted from the remainder of this discussion.

I just checked and it's actually not a mix of line endings in each file, it's just that one file is \\n and the other is \\r\\n

You can actually just duplicate this bug by taking _any_ file and copying it, then executing `unix2dos [file1](https://bugs.python.org/file1); dos2unix [f

[2017-09-24 19:30] rhettinger commented on #75596
Guido, is this something you want?

Historically, we've shown a lot of restraint when it comes to adding command-line options.

Also, I'm not sure we want to induce people to start moving their imports inside function calls.  Just because we sometimes adopt constipated programming practices in the standard library doesn't mean we think everyone should do it.  (This is doubly true because sometimes

[2017-09-24 19:36] rhettinger commented on #75178
[Vinay Sajip]

I concur with all of Vinay's comments.

If logging were being redesigned from scratch, it would likely use new-style formatting everywhere.  But, it is already deployed and widely adopted.  Trying to make it support two-ways-to-do-it would likely create more problems than it solves.

Vinay, do you want to reject and close this proposal?

[2017-09-24 19:59] terryjreedy commented on #75009
I agree that the tutorial For section needs be updated to include non-sequences. A dict example will help with that.

I agree that the unrealistic insert mis-directs attention and like Raymond's replacement.  ['users.copy()' should be 'users.copy().items']

[2017-09-24 20:14] serhiy-storchaka commented on #75747
New changeset 415cc1fa57710614ed3384d0cafc58ccf7adee8c by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31566: Fix an assertion failure in \_warnings.warn() in case of a bad \_\_name__ global. (GH-3717) (bpo-3730)
https://github.com/python/cpython/commit/415cc1fa57710614ed3384d0cafc58ccf7adee8c

[2017-09-24 21:13] terryjreedy commented on #74271
New changeset d38caf68bb417232fb0ccecb5558d7d0ca4a9507 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30085: Improve documentation for operator (GH-1171) (bpo-3736)
https://github.com/python/cpython/commit/d38caf68bb417232fb0ccecb5558d7d0ca4a9507

[2017-09-24 21:55] vstinner commented on #75749
The Travis CI error is:
\---
python3.5 ./Objects/typeslots.py \\

		\< ./Include/typeslots.h \\

		./Objects/typeslots.inc

pyenv: python3.5: command not found

pyenv: python3.5: command not found

The \`python3.5' command exists in these Python versions:

pyenv: python3.5: command not found

  3.5

  3.5.3

make: *** [regen-opcode] Error 127

make: *** Waiting for unfinished jobs....
\---

It loo

[2017-09-24 22:14] 353a68dc-036a-4f9c-b1c4-d4521ded607a commented on #75178
sorry, I meant the following:

logger.info( " {:s} {:s} ".format(logger.name, logger.module ) )

or

[code]

this could be supported with full backward compatibility with very little effort.

Am I missing something?

[2017-09-24 22:25] gvanrossum commented on #75596
@rhettinger

I think it is useful given how much debate there has been around startup time in various contexts (not just pure interpreter startup time but also startup time when using specific libraries, packages or applications).

But this is hardly a new command-line option; -X already exists. I think it's reasonable to add it here.

That's a big leap from collecting the data to suggesting a spe

[2017-09-24 22:32] gvanrossum commented on #75752
Is there anything here that requires my attention?

[2017-09-24 22:45] larryhastings commented on #75749
New changeset 70c630a7316f9f6063557786442e3c56502fe8ea by larryhastings (Victor Stinner) in branch '3.5':
bpo-31568, Travis CI: Fix python3.5 (bpo-3737)
https://github.com/python/cpython/commit/70c630a7316f9f6063557786442e3c56502fe8ea

[2017-09-24 22:51] 832af8c7-76e4-4b37-95ba-4c1b2bc490a0 commented on #75480
Yes, a public built-in facility to modify a traceback would certainly be useful, although there should be a standard way to "hide" unwanted frames without mutating the traceback, too, and the traceback module seems a perfect place to add it.

I have no objections to the `filter` argument, though filtering out frames based on modules to me feels by far more common a task than anything else `filter`

[2017-09-24 23:03] rhettinger commented on #75336
Marking this as closed.  1) is being fixed elsewhere, 2) don't want to make func=None an official part of the API (it was a convenience for letting func default to the equivalent of operator.add), 3) already fixed, and 4) already fixed.

[2017-09-24 23:03] #75336 closed, assigned to rhettinger

[2017-09-25 00:04] rhettinger commented on #75596
Naoki, is it possible to separate out how much of this is I/O vs CPU time?

If the I/O dominates, optimizations tend toward zipimports, faster drives, disk caching etc.  If the CPU time is dominant, different techniques are used (lazy evaluation, splitting-out parts of a package, etc).

[2017-09-25 00:09] rhettinger commented on #75742
I agree with that sentiment.  Data normalization for comparability belongs upstream from difflib (i.e. normalizing line-endings, unicode normalization, case folding, etc).  Difflib's job is to compute a diff.

[2017-09-25 00:09] #75742 closed, assigned to nobody

[2017-09-25 00:10] tim-one commented on #75742
The text/binary distinction you have in mind doesn't particularly apply to difflib:  it compares sequences of hashable objects.  "Text files" are typically converted by front ends to lists of strings, but, e.g., the engine is just as happy comparing tuples of floats.

File comparison interfaces typically do this at \_two_ levels:  first, viewing files as lists of strings (one string per file line)

[2017-09-25 00:58] larryhastings commented on #75130
New changeset f2492bb6aae061aea47e21fc7e56b7ab9bfdf543 by larryhastings (Victor Stinner) in branch '3.5':
[3.5][Security] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3354)
https://github.com/python/cpython/commit/f2492bb6aae061aea47e21fc7e56b7ab9bfdf543

[2017-09-25 00:58] larryhastings commented on #75353
New changeset f2492bb6aae061aea47e21fc7e56b7ab9bfdf543 by larryhastings (Victor Stinner) in branch '3.5':
[3.5][Security] bpo-30947, bpo-31170: Update expat from 2.2.1 to 2.2.4 (bpo-3354)
https://github.com/python/cpython/commit/f2492bb6aae061aea47e21fc7e56b7ab9bfdf543

[2017-09-25 01:03] ncoghlan commented on #75532
New changeset cf7197ae43767c4346864e5b41246f628edd9b51 by Nick Coghlan (Igor Filatov) in branch '2.7':
[2.7] bpo-31351: Set return code in ensurepip when pip fails (GH-3734)
https://github.com/python/cpython/commit/cf7197ae43767c4346864e5b41246f628edd9b51

[2017-09-25 01:04] ncoghlan commented on #75532
And done - thanks for the report and PRs, Igor!

[2017-09-25 01:04] #75532 closed, assigned to nobody

[2017-09-25 01:49] ncoghlan commented on #75328
The main downside I see to that approach is that it would still require quite a few client code changes to restore compatibility for folks upgrading from 2.7, and even though six could add a "six.Prioritize" backport, it would still be difficult for automated tools to work out \*where* such a wrapper would be appropriate.

So I'm wondering whether it might be worth defining a heapq.compareitem hel

[2017-09-25 01:58] rhettinger commented on #75537
Assigning this to Lisa for a C implementation, docs, and tests.

[2017-09-25 02:01] rhettinger commented on #75734
Eric, did you want to write the PR yourself or would you like for Lisa to bring it to fruition?   If you're going to do it yourself, Lisa will serve as the primary reviewer (with either Ezio or me doing the final sign-off).

[2017-09-25 02:15] rhettinger commented on #75328
We already have recommendations in the heapq documentation on how to do a work-around.   I'm looking at the more general problem of how can we make it easy once again to decorate a value with a sort value (not just for heaps but for anyplace where comparisons are made).

I would like our preferred answer to be something better than, "take all your existing functions that use comparisons and make n

[2017-09-25 02:23] methane commented on #75596
I don't have any good idea for it.

I usually run `python -X importtime -c 'import functools'` several times to ensure pyc files are created and it is cached by OS.

On Linux, `strace -c` and `time` command can be used.
But I don't know cross platform way to do it.

[code]
----------------
  0.00    0.000000           0       244           read
  0.00    0.000000           0       160         2 op

[2017-09-25 02:35] rhettinger commented on #75178
One issue is that some of that data isn't known until the logging.info() call is made. And accessing the data before the call would bypass the internal locks, potentially causing race conditions.

Another issue is that having to use an attribute lookup for every variable isn't fast and doesn't look very nice (making this feature awkward to use when the whole goal is to improve usability).

FWIW, y

[2017-09-25 03:16] d8545981-328e-4424-931f-6c70260c1ccf commented on #75314
this'd be useful to me as well. I'd propose we pass the future in the exception object.

Can write a write a tiny patch for this if someone would approve.

[2017-09-25 03:51] methane commented on #75656
ping?
May I close this issue and pull request?

[2017-09-25 04:46] ncoghlan commented on #75328
My rationale for asking "What if we just changed heapq back to working closer to the way it used to work?" is that it's a case where arbitrarily ordering unorderable tuples made sense, and reverting it to the old behaviour is reasonably safe:

- some Py3 heapq code that previously raised TypeError would start using an arbitrary ordering instead
- Py2 heapq code would get a \*different* arbitrary o

[2017-09-25 05:33] serhiy-storchaka commented on #75752
Guido, in 60f2f0cf8e10c94693dfea8937b7feabeffe5744 you added the phrase "Note that numeric literals do not include a sign; ..." in the "Numeric literals" section. Did you mean moving it from the "Floating point literals" section or creating a duplicate?

[2017-09-25 06:33] 10f27655-fbe9-47ca-a4b5-59ee4e53650b commented on #75532
Thanks for the reviews, Nick!

[2017-09-25 07:20] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75492
I don't think i understand what this issue would include.

Anyway, i updated the PR according to your comments.

[2017-09-25 07:36] #75178 closed, assigned to vsajip

[2017-09-25 08:01] serhiy-storchaka commented on #75730
This looks a duplicate of bpo-16322.

[2017-09-25 08:01] #75730 closed, assigned to nobody

[2017-09-25 08:09] serhiy-storchaka commented on #75492
New changeset 57c2561c8c5663aef55b00e3f29cba575ff36ccd by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31311: Fix a SystemError and a crash in ctypes.\_CData.\_\_setstate__(), in case of a bad \_\_dict__. (bpo-3254)
https://github.com/python/cpython/commit/57c2561c8c5663aef55b00e3f29cba575ff36ccd

[2017-09-25 08:25] vstinner commented on #75749
It seems like the bug was fixed. Nice.

[2017-09-25 08:25] #75749 closed, assigned to vstinner

[2017-09-25 08:26] vstinner commented on #75130
libexpat has been upgraded from 2.2.1 to 2.2.4 in 2.7, 3.4, 3.5, 3.6 and master branches.

[2017-09-25 08:26] #75130 closed, assigned to nobody

[2017-09-25 08:27] vstinner commented on #75353
New changeset e6d9fcbb8d0c325e57df08ae8781aafedb71eca2 by Victor Stinner in branch 'master':
bpo-31170: Write unit test for Expat 2.2.4 UTF-8 bug (bpo-3570)
https://github.com/python/cpython/commit/e6d9fcbb8d0c325e57df08ae8781aafedb71eca2

[2017-09-25 08:43] vstinner commented on #75353
New changeset 5f5da728aec9c4f74cc771fbf30037b64a447514 by Victor Stinner in branch '2.7':
bpo-31170: Write unit test for Expat 2.2.4 UTF-8 bug (bpo-3570) (bpo-3745)
https://github.com/python/cpython/commit/5f5da728aec9c4f74cc771fbf30037b64a447514

[2017-09-25 08:49] serhiy-storchaka commented on #75492
New changeset a6bddb8e4397df30926eb1ade6420a2277174227 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31311: Fix a SystemError and a crash in ctypes.\_CData.\_\_setstate__(), in case of a bad \_\_dict__. (GH-3254) (bpo-3743)
https://github.com/python/cpython/commit/a6bddb8e4397df30926eb1ade6420a2277174227

[2017-09-25 08:51] serhiy-storchaka commented on #75130
And in 3.3.

[2017-09-25 09:00] vstinner commented on #75353
New changeset ad051cbce1360ad3055a048506c09bc2a5442474 by Victor Stinner in branch '3.6':
bpo-31170: Write unit test for Expat 2.2.4 UTF-8 bug (bpo-3570) (bpo-3746)
https://github.com/python/cpython/commit/ad051cbce1360ad3055a048506c09bc2a5442474

[2017-09-25 09:02] vstinner commented on #75353
libexpat has been upgraded to version 2.2.4 in Python 2.7, 3.3, 3.4, 3.5, 3.6 and master.

I added an unit test to Python 2.7, 3.6 and master. I'm not sure about backporting the new unit test to Python 3.3, 3.4 and 3.5.

I close the issue.

[2017-09-25 09:14] vstinner commented on #75711
It's difficult to make a choice between Benjamin's [PR 3670](https://github.com/python/cpython/pull/3670) and Serhiy's [PR 3672](https://github.com/python/cpython/pull/3672).

Benjamin wrote that about his PR:

I'm not confortable with the idea of data corruption. I'm not confortable with breaking backward compatibility neither. IMHO the key question is if anyone actually use a file object at the

[2017-09-25 09:29] vstinner commented on #75701
socket.SocketIO inherits from io.RawIOBase which inherits from io.IOBase.

io.IOBase has a finalizer which calls the close() method. I tried to add a \_\_del__ method to socket.SocketIO, but the object was already closed by the finalizer.

io.FileIO uses a trick at the C level: it sets an internal "finalizing" attribute to check if close() was called by IOBase finalizer. If it's the case, a Resour

[2017-09-25 09:38] pitrou commented on #75711
I'm wary of raising an exception.  Assuming Benjamin's patch is correct, I vote for it.

[2017-09-25 09:39] vstinner commented on #75711
Antoine: "I'm wary of raising an exception.  Assuming Benjamin's patch is correct, I vote for it."

Can you please elaborate? You are fine with the fact that iter(file) in two thread can return the same line?

[2017-09-25 09:45] pitrou commented on #75711
Le 25/09/2017 à 11:39, STINNER Victor a écrit :

AFAIU it already could.  Iteration on Python 2 files is fragile, now is
not the time to fix fundamental bugs in Python 2.

[2017-09-25 10:18] methane commented on #74338
Oh, the pull request is far larger than I thought!

I doubt that avoiding functools and collections is worth enough, because it is very common.

For example:

* functools is very commonly imported, especially for wraps().

* collections is imported by functools, so it's more commonly imported than functools.

* Old style namespace package (.pth file) imports types module, and types module and type

[2017-09-25 10:29] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75754 "PyStructSequence_New() doesn't validate its input type (crashes in os.wait3() and os.wait4() in case of a bad resource.struct_rusage)"
BPO | [31573](https://bugs.python.org/issue31573)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @orenmn, @iritkatriel
PRs | <li>python/cpython#3750</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></

[2017-09-25 10:32] tiran opened #75755 "Add dtrace hook for importlib"
BPO | [31574](https://bugs.python.org/issue31574)
--- | :---
Nosy | @warsaw, @brettcannon, @ncoghlan, @tiran, @ambv, @ericsnowcurrently
PRs | <li>python/cpython#3749</li>
Files | <li>[import.stp](https://bugs.python.org/file47168/import.stp "Uploaded as text/plain at 2017-09-25.12:27:12 by @tiran")</li><li>[import.stp](https://bugs.python.org/file47169/import.stp "Uploaded as text/plain at 2017-09

[2017-09-25 10:32] tiran commented on #75755
bpo-31415 proposed an option to show import timings. The output is primarily designed for humans. I propose to instrument importlib with two dtrace hooks:

  probe import__find__load__start(const char \*)
  probe import__find__load__done(const char \*, int);

arg0 is the absolute module name as UTF-8 string. arg1 of import_find_load_done probe indicates if the module was found (1) or import failed

[2017-09-25 10:39] tiran commented on #75596
+1 for an option to profile import time.

I have a minor complain: The output format is not machine-friendly, which makes it harder to perform automatic analysis. I created bpo-31574 / [PR3749](https://github.com/python/cpython/pull/3749) to add dtrace probes.

[2017-09-25 10:45] serhiy-storchaka commented on #74338
functools.wraps() is used in more complex programs. The purpose of this PR is speeding up small scripts that just start, parse arguments, do its fast work (so fast as outputting a help or a version) and exit. Even collections is not used in a half of my scripts.

types needs functools only for coroutine(). Unlikely it is used in old style namespace packages.

[2017-09-25 10:58] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75754
The following code causes the interpreter to crash:
import os
import time
import resource
new_pid = os.fork()
if new_pid == 0:
    time.sleep(0.5)
else:
    resource.struct_rusage = None
    os.wait3(0)

We would get a crash also if we replaced 'os.wait3(0)' with 'os.wait4(new_pid, 0)'.

This is because wait_helper() (in in [Modules/posixmodule.c](https://github.com/python/cpython/blob/main/Module

[2017-09-25 11:55] serhiy-storchaka commented on #74532
Hmm, the sole bpo-30346 is not enough for fixing this crash. I don't know if there is a simpler fix based on bpo-30346, but since [PR 1557](https://github.com/python/cpython/pull/1557) removes the code duplication I'm going to merge it in any case.

[2017-09-25 12:07] vadmium commented on #75701
I’m curious how you manage to trigger the warning in the “closed” state. The Python I have handy is half a year out of date, but all my attempts to trigger the warning either produce the less confusing version,

ResourceWarning: unclosed \<socket.socket fd=3, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=6, laddr=('0.0.0.0', 0)\>

or there is no warning at all due IOBase.\_\_del

[2017-09-25 12:11] ca7bc867-e879-499e-8499-d50fbd2afd19 opened #75756 "Functional Programming HOWTO sub-optimal example for reduce"
BPO | [31575](https://bugs.python.org/issue31575)
--- | :---
Nosy | @rhettinger

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-25 12:11] ca7bc867-e879-499e-8499-d50fbd2afd19 commented on #75756
At the end of the Functional Programming HOWTO document (https://docs.python.org/3.7/howto/functional.html) the usage of reduce/lambda/for loops are compared and discussed. However, the example for reduce seems sub-optimal and thus the discussion is not that efficient. The example:

[code]

could be changed to:

[code]

which is much more readable and is actually not much inferior to the loop one

[2017-09-25 12:27] tiran commented on #75755
Example output:

[code]

[2017-09-25 12:33] vstinner commented on #75701
It comes from Refleak buildbots. Example:

0:13:47 load avg: 3.24 [ 52/407] test_urllib2net passed (239 sec)
beginning 6 repetitions
123456
Resource 'http://www.imdb.com' is not available
/buildbot/buildarea/3.x.ware-gentoo-x86.refleak/build/Lib/test/libregrtest/refleak.py:253: ResourceWarning: unclosed \<socket.socket [closed] fd=3, family=AddressFamily.AF_INET, type=2049, proto=6\>
  gc.collect(

[2017-09-25 12:39] ff34e289-2fcf-42dc-aee3-c2d138a4b82a commented on #75734
I planned to write the PR myself, on the principle of "it's my itch, I
should scratch it." But if you think it is better for someone else to write
it, you know the codebase better than I, and you know how long a PR takes
to review/fix. My intention is to help. I'll do whatever is easier for you.

On Sep 24, 2017 10:01 PM, "Raymond Hettinger" \<report@bugs.python.org\>
wrote:

[2017-09-25 12:49] tiran commented on #75755
Improved script and output for "import asyncio":

[code]

[2017-09-25 13:09] 7ec8c67d-7b57-43bd-82d1-9c45ece16672 opened #75757 "problem in math"
BPO | [31576](https://bugs.python.org/issue31576)
--- | :---
Nosy | @vstinner, @aneeshjose

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-25 13:09] 7ec8c67d-7b57-43bd-82d1-9c45ece16672 commented on #75757
We know that the answer of sin 90 is 1.
But In Python's library math,the value of it is around 0.83...
My program is as follows:
import math
a=math.sin(90)
print(a)
#Output obtained is 0.83.....
Hope you guys solve this on the next update or nearby
I hope it is a small issue.But the credibility of program depends upon every minute particles

[2017-09-25 13:10] vstinner commented on #75757
It seems like you are confused between radians and degrees. math.sin() expects radians.
https://docs.python.org/dev/library/math.html#math.sin

Sorry but the Python bug tracker is not the right to ask questions. I close your bug report.

[2017-09-25 13:10] #75757 closed, assigned to nobody

[2017-09-25 13:20] 7ec8c67d-7b57-43bd-82d1-9c45ece16672 commented on #75757
Thankyou for the information .

[2017-09-25 14:03] vstinner commented on #75754
Attached [PR 3750](https://github.com/python/cpython/pull/3750) tries to validate the input type. The problem is that structseq is not exactly a type. It's hard to really validate everything. See the comment test in my PR.

[2017-09-25 16:18] zooba commented on #75750
I'm okay with the PR as it stands, especially the parts that affect GitHub and appveyor, as those are almost certainly using case sensitive comparisons.

It's definitely not easier to update the case of a file that is in git, and doing so will very likely break users (we had to do a case-folding pass over the Mercurial repository because while it could handle case changes, git could not import the

[2017-09-25 16:23] zware commented on #75750
Personally, \*I'd* prefer PC -\> Windows and PCbuild -\> Windows\\build :)

I'm also good with the PR as is.

[2017-09-25 16:47] pfmoore commented on #75750
OK, having re-read the PR, I'm fine with applying it as is, too.

[2017-09-25 16:47] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75758 "crash in os.utime() in case of a bad ns argument"
BPO | [31577](https://bugs.python.org/issue31577)
--- | :---
Nosy | @mdickinson, @ned-deily, @zware, @serhiy-storchaka, @orenmn, @miss-islington, @tirkarthi
PRs | <li>python/cpython#3752</li><li>python/cpython#9222</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><

[2017-09-25 16:47] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75758
The following code causes the interpreter to crash:
class BadInt:
    def \_\_divmod__(*args):
        return 42

[code]

This is because split_py_long_to_s_and_ns() (in [Modules/posixmodule.c](https://github.com/python/cpython/blob/main/Modules/posixmodule.c)) assumes
that PyNumber_Divmod() returns a 2-tuple, and passes it to PyTuple_GET_ITEM(),
which assumes it is a tuple. Thus, PyTuple_GET_ITEM

[2017-09-25 17:00] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #75656
Based on the OP's patch, it looks like they have a problem where they have non-ASCII text in their output strings (either due to using non-ASCII switches, or using non-ASCII help documentation), but sys.stdout/sys.stderr are configured for some encoding that doesn't support said characters, so they're getting exceptions when the help message is sent to the screen automatically (e.g. by running wit

[2017-09-25 17:27] Mariatta commented on #75604
Sorry!! Yesterday morning I received 50+ emails all about document download page is 404. Reading those again, turns out these are older emails from a week before, somehow just showing up in my mailbox.
I think everything is good here. :)

Thanks!

[2017-09-25 18:36] #75750 closed, assigned to nobody

[2017-09-25 18:55] 1dd98352-94ef-4c36-ba90-6790a1f66deb opened #75759 "Unexpected Floating Point Division Result"
BPO | [31578](https://bugs.python.org/issue31578)
--- | :---
Nosy | @bitdancer, @wesinator

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-25 18:55] 1dd98352-94ef-4c36-ba90-6790a1f66deb commented on #75759
[code]

Expected result: 0.03692307692307692
Adding the zero decimal to any other combinations of the numbers produces the expected floating point result.

Working as expected in Python 3

[2017-09-25 18:55] nascheme commented on #75739
I think the basic idea makes a lot of sense, i.e. have a generation that is never collected.  An alternative way to implement it would be to have an extra generation, e.g. rather than just 0, 1, 2 also have generation 3.  The collection would by default never collect generation 3.  Generation 4 would be equivalent to the frozen generation.  You could still force collection by calling gc.collect(3)

[2017-09-25 18:59] bitdancer commented on #75759
In the absence of the appropriate \_\_future__ import, the python2 division operator uses integer division.

[2017-09-25 18:59] #75759 closed, assigned to nobody

[2017-09-25 19:02] warsaw commented on #75739
I like the idea of a gen 4 that never gets collected.  This would have been useful for the original problem that inspired me to add the `generation` argument to `gc.collect()`.  The nice thing about this, is just as you suggest: you could force a collection of gen 4 by `gc.collect(3)`.

It's unfortunate that you'd have to add a bit to handle this, but maybe you're right that we only really need th

[2017-09-25 19:04] gvanrossum commented on #75752
That's \*really* old. Please clean up as you see fit!

On Sep 24, 2017 10:33 PM, "Serhiy Storchaka" \<report@bugs.python.org\> wrote:

Serhiy Storchaka added the comment:

Guido, in 60f2f0cf8e10c94693dfea8937b7feabeffe5744 you added the phrase
"Note that numeric literals do not include a sign; ..." in the "Numeric
literals" section. Did you mean moving it from the "Floating point
literals" section

[2017-09-25 19:07] pitrou commented on #75739
Le 25/09/2017 à 20:55, Neil Schemenauer a écrit :

API-wise it would sound better to have a separate gc.collect_frozen()...

Though I think a gc.unfreeze() that moves the frozen generation into the
oldest non-frozen generation would be useful too, at least for testing
and experimentation.

Yeah... It's worse than that.  Take for example a bytearray object.  The
basic object (the PyByteArrayObject

[2017-09-25 19:14] gvanrossum commented on #75711
It should be like 'if key in dct: del dct[key]'. It may fail when two
threads do this but the \*internal* state of dct should not be compromised.

On Sep 25, 2017 2:45 AM, "Antoine Pitrou" \<report@bugs.python.org\> wrote:

[2017-09-25 19:43] ee421118-3546-4a08-a1d1-83527c201b4e commented on #75752
In that case, I believe the PR I've opened should be fine?

[2017-09-25 19:48] vstinner commented on #75353
Oh, it seems like Steve Dower found an issue on Windows: [PR 3751](https://github.com/python/cpython/pull/3751).

I reopen the issue.

[2017-09-25 19:50] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75758
I opened a PR.
I think another fix might be to use
PyLong_Type.tp_as_number-\>long_divmod() instead of PyNumber_Divmod().

[2017-09-25 19:52] vstinner commented on #75711
Right. I don't have a strong preference for Serhiy's [PR 3672](https://github.com/python/cpython/pull/3672).

[2017-09-25 21:26] serhiy-storchaka opened #75760 "Reference leak in enumerate"
BPO | [31579](https://bugs.python.org/issue31579)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka
PRs | <li>python/cpython#3753</li><li>python/cpython#3760</li><li>python/cpython#3761</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bug

[2017-09-25 21:26] serhiy-storchaka commented on #75760
There is a possible leak of the value emitted by an underlying iterator in enumerate.\_\_next__.

Proposed PR fixes it.

[2017-09-25 21:56] serhiy-storchaka commented on #74338
New changeset 81108375d9b2ccd0add1572da745311d4dfac505 by Serhiy Storchaka in branch 'master':
bpo-30152: Reduce the number of imports for argparse. (bpo-1269)
https://github.com/python/cpython/commit/81108375d9b2ccd0add1572da745311d4dfac505

[2017-09-25 21:57] serhiy-storchaka commented on #74338
Thanks all!

[2017-09-25 21:57] #74338 closed, assigned to nobody

[2017-09-25 22:37] af4925dc-98b6-440f-9623-c180bdc314be commented on #74940
I've investigated a bit more.

First, I've tried with Python 3.7.0a1 . As you'd expect, PEP-537 means
this behaviour now also occurs when no locale environment variables at
all are set.

Second, I've looked through locale.py a bit. I believe what it calls the
"aliasing engine" is applied for:

 - getlocale()
 - getdefaultlocale()
 - setlocale() when passed a tuple, but not when passed a string

Th

[2017-09-25 22:39] af4925dc-98b6-440f-9623-c180bdc314be commented on #74940
(For PEP-537 please read PEP-538, sorry)

[2017-09-25 23:02] ambv commented on #73810
This is marked as "critical". Looks like it's fixed. Can we close it?

[2017-09-25 23:16] Mariatta commented on #75752
New changeset 4a2d00cb4525fcb3209f04531472ba6a359ed418 by Mariatta (Guilherme Caminha) in branch 'master':
bpo-31571: Remove duplicated info in Lexical Analysis documentation (GH-3691)
https://github.com/python/cpython/commit/4a2d00cb4525fcb3209f04531472ba6a359ed418

[2017-09-25 23:23] Mariatta commented on #75752
New changeset 26b940f762f0b306ff894601003f51a8d036e285 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31571: Remove duplicated info in Lexical Analysis documentation (GH-3691) (GH-3754)
https://github.com/python/cpython/commit/26b940f762f0b306ff894601003f51a8d036e285

[2017-09-25 23:25] Mariatta commented on #75752
The proposed change seems fine. Merged and backported.
Thanks everyone!

[2017-09-25 23:25] #75752 closed, assigned to nobody

[2017-09-25 23:35] methane commented on #75596
how can I make it more machine readable?

On 2017年9月25日(月) 19:39 Christian Heimes \<report@bugs.python.org\> wrote:

--
Inada Naoki \<songofacandy@gmail.com\>

[2017-09-26 02:10] warsaw commented on #75761
It's a very common pattern to see the following at module scope:

[code]

and so on.  This can cost you at start up time because all those regular expressions are compiled at import time, even if they're never used in practice (e.g. because say whatever condition tickles the compiled regex never gets exercised).

It occurred to me that if re.compile() deferred compilation of the regexp until first

[2017-09-26 02:10] warsaw opened #75761 "Defer compiling regular expressions"
BPO | [31580](https://bugs.python.org/issue31580)
--- | :---
Nosy | @warsaw, @rhettinger, @scoder, @ezio-melotti, @bitdancer, @serhiy-storchaka
PRs | <li>python/cpython#3755</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.or

[2017-09-26 02:39] rhettinger commented on #75761
ISTM, the whole point is to compile in advance.  When I worked during high frequency trading, that was essential to news trading where you \*really* didn't want to pay the compilation cost at the time the regex was used.  This proposal takes away the user's only control over when the regex is compiled.

FWIW, if a user doesn't explicitly invoke re.compile() and instead uses a straight call to re.s

[2017-09-26 02:56] bitdancer commented on #75761
I agree with Raymond.  It would be strange to have the API that is obviously designed to pre-compile the regex not pre-compile the regex.

If the concern is that a non-precompiled regex might get bumped out of the cache but you want a way to only compile a "bunch of stuff" on demand, then the thing to do would be to make a proposal for a new API that does that, and we'll discuss the merits :)

It

[2017-09-26 03:51] methane commented on #75762
Makes `import functools` about 1.5 ms faster.

* heapq is used only when Counter.most_common(n).
* types and waakref is used only for singledispatch.

master:

[code]

patched:

[code]

[2017-09-26 03:52] methane opened #75762 "Reduce the number of imports for functools"
BPO | [31581](https://bugs.python.org/issue31581)
--- | :---
Nosy | @rhettinger, @terryjreedy, @methane, @serhiy-storchaka
PRs | <li>python/cpython#3757</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p

[2017-09-26 04:43] serhiy-storchaka commented on #75762
Initially my patch for bpo-30152 included the change in collections. But it was removed on Raymond's request.

[2017-09-26 04:47] fd3a86f9-3ea4-4f83-9af0-70d4a24b6031 commented on #75763
Python on windows (winpython) was not adding PYTHONPATH to sys.path as documented and I could not understand why.

It took a lot of time, web searches, and finally a tour through the code to find out about \_pth; which is well documented but difficult to find out about if you don't know about it beforehand.

Please improve the sys.path documentation to say that it depends on either PYTHONPATH or t

[2017-09-26 04:47] fd3a86f9-3ea4-4f83-9af0-70d4a24b6031 opened #75763 "Add _pth breadcrumb to sys.path documentation"
BPO | [31582](https://bugs.python.org/issue31582)
--- | :---
Nosy | @pfmoore, @tjguk, @ericsnowcurrently, @zware, @zooba, @RusselWebber
PRs | <li>python/cpython#31082</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2017-09-26 04:58] 1cb85035-97d8-42c3-a287-2706aee5fe65 opened #75764 "2to3 call for file in current directory yields error"
BPO | [31583](https://bugs.python.org/issue31583)
--- | :---
Nosy | @benjaminp, @bitdancer, @ambv, @denis-osipov
PRs | <li>python/cpython#3758</li><li>python/cpython#6528</li><li>python/cpython#6529</li>
Files | <li>[2to3bugpython.png](https://bugs.python.org/file47187/2to3bugpython.png "Uploaded as image/png at 2017-10-03.18:20:43 by jabdo")</li>

<sup>*Note: these values reflect the state of the

[2017-09-26 04:58] 1cb85035-97d8-42c3-a287-2706aee5fe65 commented on #75764
2to3 doesn't work if called for file in current directory with --add-suffix option.

$ /d/repos/cpython/python.bat /d/repos/cpython/Tools/scripts/2to3 -n -W --add-suffix=3 test2to3.py
Running Debug|x64 interpreter...
WARNING: --write-unchanged-files/-W implies -w.
RefactoringTool: Skipping optional fixer: buffer
RefactoringTool: Skipping optional fixer: idioms
RefactoringTool: Skipping optional fi

[2017-09-26 05:02] rhettinger commented on #75762
Go ahead.

[2017-09-26 05:07] serhiy-storchaka commented on #75761
lru_cache() is not used for reasons. The patch makes using cached patterns slower by adding an overhead of 4 additional checks. It makes resolving attributes of a deferred patterns slower. All this slows down a straight call to re.search(pattern, s).

Errors in regular expression now raised only on first use of the pattern. This is a drawback from educational and debugging points of view.

The pat

[2017-09-26 05:14] 95bb1f9d-8709-4062-b7a1-061455e391c9 opened #75765 "Documentation Language mixed up"
BPO | [31584](https://bugs.python.org/issue31584)
--- | :---
Nosy | @methane, @zware, @JulienPalard, @Mariatta, @asl97
Files | <li>[shot-20170926-28526-p58mc1.jpeg](https://bugs.python.org/file47172/shot-20170926-28526-p58mc1.jpeg "Uploaded as image/jpeg at 2017-09-27.17:23:31 by @asl97")</li><li>[デザインと歴史 FAQ — Python 2.7.14 ドキュメント.html](https://bugs.python.org/file47173/%E3%83%87%E3%82%B6%E3%82%A

[2017-09-26 05:14] 95bb1f9d-8709-4062-b7a1-061455e391c9 commented on #75765
Some of the documentation language are mixed up.

eg:
Japanese on the English page https://docs.python.org/2.7/faq/design.html
French on the Japanese https://docs.python.org/ja/2.7/faq/design.html

It seem to affect multiple pages:
https://docs.python.org/2.7/bugs.html
https://docs.python.org/2.7/distributing/index.html
https://docs.python.org/2.7/extending/index.html
https://docs.python.org/2.7/e

[2017-09-26 05:15] serhiy-storchaka commented on #75760
New changeset 0e950dd22b075b4809c84afda8aede02b76ac0fa by Serhiy Storchaka in branch 'master':
bpo-31579: Fixed a possible leak in enumerate() with large indices. (bpo-3753)
https://github.com/python/cpython/commit/0e950dd22b075b4809c84afda8aede02b76ac0fa

[2017-09-26 05:27] serhiy-storchaka opened #75766 "Refactor the enumerate.__next__ implementation"
BPO | [31585](https://bugs.python.org/issue31585)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka
PRs | <li>python/cpython#3759</li>
Files | <li>[enum_next.diff](https://bugs.python.org/file47235/enum_next.diff "Uploaded as text/plain at 2017-10-24.12:51:13 by @serhiy-storchaka")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the cu

[2017-09-26 05:27] serhiy-storchaka commented on #75766
Currently the large and complex part of enum_next() and enum_next_long() in [Objects/enumobject.c](https://github.com/python/cpython/blob/main/Objects/enumobject.c) is duplicated. This increases the code size and makes harder maintaining the code. The proposed patch refactors the implementation and removes the code duplication.

[2017-09-26 05:34] rhettinger commented on #75766
Having separate code paths was an intentional decision.  I prefer to keep it that way.

[2017-09-26 05:34] #75766 closed, assigned to nobody

[2017-09-26 05:48] Mariatta commented on #75765
Indeed a problem! Seems to affect Python 2.7 docs. If not mistaken, Julien worked on the language switcher. Maybe he has some clue ...

[2017-09-26 05:58] scoder commented on #75646
Any comments on this?

[2017-09-26 06:00] scoder commented on #75517
Still ready for merging :)

[2017-09-26 06:10] serhiy-storchaka commented on #75517
I'm going to merge this over the next 24 hours if there are no comments from other core developers.

[2017-09-26 06:11] serhiy-storchaka commented on #75760
New changeset 19eb87d857f6d1bad1a3619d9d7534820f82e5f2 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31579: Fixed a possible leak in enumerate() with large indices. (GH-3753). (bpo-3761)
https://github.com/python/cpython/commit/19eb87d857f6d1bad1a3619d9d7534820f82e5f2

[2017-09-26 06:11] serhiy-storchaka commented on #75760
New changeset d6a356209abd026b41245ad76ba3a374ab0c60db by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31579: Fixed a possible leak in enumerate() with large indices. (GH-3753). (bpo-3760)
https://github.com/python/cpython/commit/d6a356209abd026b41245ad76ba3a374ab0c60db

[2017-09-26 06:12] #75760 closed, assigned to rhettinger

[2017-09-26 06:32] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75767 "SystemError in _collections._count_element() in case of a bad mapping argument"
BPO | [31586](https://bugs.python.org/issue31586)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3763</li><li>python/cpython#3776</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields

[2017-09-26 06:32] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75767
The following code causes a SystemError:
class BadMapping:
    get = dict.get
    \_\_setitem__ = dict.\_\_setitem__

[code]

This is because \_count_elements() (in [Modules/_collectionsmodule.c](https://github.com/python/cpython/blob/main/Modules/_collectionsmodule.c)) assumes
that the mapping argument is a dictionary in case it has the same get() and
\_\_setitem__() methods as dict. And so, \_co

[2017-09-26 06:41] rhettinger commented on #75756
I think the existing code conveys the author's message better than the proposed revision.  The example isn't about efficiency; rather, it is about comparing several alternative formulations with this one being the weakest of the lost.  For emphasizing that point and not getting lost in a made-up example, the a[1] and b[1] style is more effective.

That's for the suggestion but I don't think it is

[2017-09-26 06:41] #75756 closed, assigned to nobody

[2017-09-26 06:48] serhiy-storchaka commented on #75767
I agree. \_collections.\_count_elements() is an internal function. It should be called only with Counter (which is a dict subclass) or its subclass.

But I think it is worth to make the code more reliable.

[2017-09-26 06:58] f71c7f3d-2cb5-4391-957a-64cecae53714 opened #75768 "Enum doesn't allow name"
BPO | [31587](https://bugs.python.org/issue31587)
--- | :---
Nosy | @warsaw, @ethanfurman

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 06:58] f71c7f3d-2cb5-4391-957a-64cecae53714 commented on #75768
Enum module handles "name" member incorrectly.
1. "name" can't be used as a member when decorated with unique:

[code]

2. Without unique the names are assigned incorrectly:

[code]

(Just for reference - spotted first on Python 2.7 + enum34 backports)

The same happens for value property, making the bug quite severe:

[code]

I believe this comment is related:
# _RouteClassAttributeToGetattr is u

[2017-09-26 07:06] f71c7f3d-2cb5-4391-957a-64cecae53714 commented on #75768
As a workaround, one can:
1. Rename the fields to not use name/value names
2. Use Enum instead of IntEnum, which somehow doesn't have this bug.

[2017-09-26 07:38] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75769 "SystemError in class creation in case of a metaclass with a bad __prepare__() method"
BPO | [31588](https://bugs.python.org/issue31588)
--- | :---
Nosy | @ncoghlan, @ericsnowcurrently, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#3764</li><li>python/cpython#3790</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs

[2017-09-26 07:38] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75769
The following code causes a SystemError:
class BadMetaclass(type):
    def \_\_prepare__(*args):
        pass

[code]

This is because builtin___build_class__() assumes that \_\_prepare__() returned a
mapping, and passes it to PyEval_EvalCodeEx(), which passes it to
\_PyEval_EvalCodeWithName(), which passes it to \_PyFrame_New_NoTrack(), which
raises the SystemError.

This issue seems related to b

[2017-09-26 07:46] serhiy-storchaka commented on #75758
There is also similar issue in timedelta.\_\_divmod__.

PyLong_Type.tp_as_number-\>nb_divmod() works only with integers.

The different way of solving this issue is used in microseconds_to_delta_ex() in \_datetimemodule.c.

Perhaps the best solution is to add a check that the result of nb_divmod() is a 2-tuple in PyNumber_Divmod(). This could fix similar errors in third-party code. What is your th

[2017-09-26 07:49] JulienPalard commented on #75765
Hi asl, thanks for reporting I'm looking at it.
Thanks Mariatta for the notification.

[2017-09-26 07:56] JulienPalard commented on #75765
I'm currently unable to find any misplaced string...

I suspect the "fast builds" may cause the bug and the "full build" may fix it, and I probably checked right after a full build.

I'll test this locally soon (full build in one lang followed by a fast build in another lang) to see if I can reproduice it.

The build cycle is "build english then build french then build japanese", so having english

[2017-09-26 08:59] 40756da2-effb-4379-abff-defe2817f76c opened #75770 "Links for French documentation PDF is broken: LaTeX issue with non-ASCII characters?"
BPO | [31589](https://bugs.python.org/issue31589)
--- | :---
Nosy | @vstinner, @benjaminp, @ned-deily, @ezio-melotti, @JulienPalard, @Linkid, @jfbu, @miss-islington
PRs | <li>python/cpython#3940</li><li>python/cpython#4069</li><li>python/cpython#4683</li><li>python/cpython#16636</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curr

[2017-09-26 08:59] 40756da2-effb-4379-abff-defe2817f76c commented on #75770
Hi,

In this page : https://docs.python.org/fr/2/download.html, all the documentation links aren't  available, for example :

- https://docs.python.org/fr/2/archives/python-2.7.14-docs-pdf-a4.zip
- https://docs.python.org/fr/2/archives/python-2.7.14-docs-pdf-a4.tar.bz2

So, I can't read the documentation in French :)

Regards,
Fabrice

[2017-09-26 09:28] 816d07ce-f06e-45ee-a4a5-a3894602990f opened #75771 "CSV module incorrectly treats escaped newlines as new records if unquoted"
BPO | [31590](https://bugs.python.org/issue31590)
--- | :---
Nosy | @terryjreedy, @bitdancer, @mallyvai, @xflr6, @ZackerySpytz
Files | <li>[csv_test.tar](https://bugs.python.org/file47181/csv_test.tar "Uploaded as application/x-tar at 2017-09-30.08:40:51 by @mallyvai")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.

[2017-09-26 09:28] 816d07ce-f06e-45ee-a4a5-a3894602990f commented on #75771
I'm writing python `csv` based-parsers as part of a data processing pipeline that includes Redshift and other data stores upstream and down. It's easy and expected in all of these data stores  (http://docs.aws.amazon.com/redshift/latest/dg/r_UNLOAD.html) that CSV-style data can be generated with ESCAPE'd newlines, and with or without quotes on the columns.

Challenge: However, 2.x CSV module has a

[2017-09-26 09:51] vstinner commented on #75027
I'm not confortable with the change because of following questions:

* It seems like your patch changes the SelectSelector behaviour on Windows. How is a selectors user supposed to upgrade his/her code to get the same behaviour on Python 3.6 and 3.7? Would it make sense to add a flag to SelectSelectors get the old behaviour?

* KqueueSelector doesn't support urgent event. How is a selectors user s

[2017-09-26 09:52] f71c7f3d-2cb5-4391-957a-64cecae53714 commented on #75768
It turns out that enum34 backports module was the culprit (it was first on search path). When using enum native module, everything works as expected:

[code]

Sorry for the noise.

[2017-09-26 09:52] #75768 closed, assigned to nobody

[2017-09-26 09:58] JulienPalard commented on #75770
Hi Fabrice,

Thanks for reporting.

The whole archives/ directory is completly missing for french and japanese, I'll take a look.

Bug is probably really near https://github.com/python/docsbuild-scripts/blob/master/build_docs.py#L222

[2017-09-26 10:29] vstinner commented on #75027
Using Git history, I found the following commit which added "r, w, x = select(r, w, w, timeout)" for Windows in tulip (old name of the asyncio project, when it was developed outside CPython):

commit 84124f3d725c9931249d083e78f43fcda91c383a
Author: Richard Oudkerk \<shibturn@gmail.com\>
Date:   Fri Jan 18 13:03:09 2013 +0000

    Minimal chages to make tests pass on Windows

https://github.com/pyt

[2017-09-26 11:04] a4f7e23e-c599-4db8-85bd-b769a7fa7f70 opened #75772 "Closing socket raises AttributeError: 'collections.deque' object has no attribute '_decref_socketios'"
BPO | [31591](https://bugs.python.org/issue31591)
--- | :---
Nosy | @rhettinger, @terryjreedy, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 11:04] a4f7e23e-c599-4db8-85bd-b769a7fa7f70 commented on #75772
We have one application misbehaving in production environment under the load: it segfaults occasionally and throws exception which does not seem to make sense. We have tested both on 3.4 and 3.5.

For a background - we have taken a bit unusual path - as server is heavy on IO, bound to wait for external services but sometimes requires a lot of CPU to process next batch, then we use a many threads.

[2017-09-26 11:35] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
On 26-09-17 11:51, STINNER Victor wrote:

The wrapper method around the winsock select method causes
SelectSelector to behave differently on Windows, which is wrong IMHO.
The behaviour should be the same. Why this wrapper exists is unclear to
me and since it conflicts with the change I want to make, I asked
questions about it 8 weeks ago. Now time has passed and no answers were
given, I decided to

[2017-09-26 11:42] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
On 26-09-17 12:29, STINNER Victor wrote:

Thanks!

Although this still does not teach us why the test failed on Windows and
what is solved by adding the wrapper method, it does suggest that indeed
the runtime behaviour will not be affected by removing the wrapper method.

The unit test might. To be honest, I did not run unit tests on Windows.
Maybe by doing this, it might just tell us exactly what

[2017-09-26 12:01] vstinner commented on #75027
Anothe piece of history, the creation of the selectors module, bpo-16853, directly with the win32 "select.select(r, w, w, timeout)":

commit 243d8d85debaa319a2be0143003a9e881a0f5646
Author: Charles-François Natali \<cf.natali@gmail.com\>
Date:   Wed Sep 4 19:02:49 2013 +0200

    Issue bpo-16853: Add new selectors module.

[2017-09-26 12:10] vstinner commented on #75027
On Windows, exceptfds of select() is not only related to urgent ("out of band") data, it also notifies connect() failure:

exceptfds:

    If processing a connect call (nonblocking), connection attempt failed.
    OOB data is available for reading (only if SO_OOBINLINE is disabled).

https://msdn.microsoft.com/en-us/library/windows/desktop/ms740141(v=vs.85).aspx

I'm not sure that we can easily si

[2017-09-26 12:13] vstinner commented on #75027
It would help to look how Twisted, eventlet, gevent and others handle "urgent data" and "exceptions". Check if they succeeded to formalize these events.

asyncore uses select() or poll().

asyncore.poll() uses select.select(). It adds the fd to exceptfds if the fd is in the readfds or writefds, then asyncore calls \_exception():

[code]

        try:
            r, w, e = select.select(r, w, e, ti

[2017-09-26 12:54] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75773 "assertion failure in Python/ast.c in case of a bad unicodedata.normalize()"
BPO | [31592](https://bugs.python.org/issue31592)
--- | :---
Nosy | @brettcannon, @ncoghlan, @vstinner, @benjaminp, @serhiy-storchaka, @1st1, @orenmn
PRs | <li>python/cpython#3767</li><li>python/cpython#3836</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

Git

[2017-09-26 12:54] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75773
The following code causes an assertion failure:

[code]

This is because init_normalization() (in [Python/ast.c](https://github.com/python/cpython/blob/main/Python/ast.c)) assumes that
unicodedata.normalize() is valid, and stores it in the compiling struct.
Later, new_identifier() calls the stored function, assumes it returned a
string, and passes it to PyUnicode_InternInPlace(), which asserts it

[2017-09-26 13:00] larryhastings commented on #75353
New changeset 44c1b62939a6192776dc9d093546154044cb2ecb by larryhastings (Steve Dower) in branch '3.5':
[3.5] bpo-31170: Fix inclusion of expat in Windows build projects. (bpo-3751)
https://github.com/python/cpython/commit/44c1b62939a6192776dc9d093546154044cb2ecb

[2017-09-26 13:10] serhiy-storchaka commented on #75596
The output in [PR 3765](https://github.com/python/cpython/pull/3765) partially duplicates the output of the -v option.

[2017-09-26 13:15] vstinner commented on #75596
Right. But the idea is to be able to use "grep 'import time:'" to only extract importtime logs. "-v" logs different kind of informations.

[2017-09-26 13:47] vstinner commented on #75774
The bpo-31151 (socketserver.ForkingMixIn.server_close() leaks zombie processes) was fixed in the master branch, but 2.7 and 3.6 branches were not changed.

I proposed to modify test_socketserver to explicitly waits until child processes complete. See attached PR.

Example of leaked child processes the on "x86 Gentoo Refleaks 3.6" buildbot:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Re

[2017-09-26 13:47] vstinner opened #75774 "[2.7][3.6] test_socketserver ForkingMixIn tests leaks child processes on Python 3.6"
BPO | [31593](https://bugs.python.org/issue31593)
--- | :---
Nosy | @vstinner
PRs | <li>python/cpython#3766</li><li>python/cpython#3786</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 13:50] vstinner commented on #75334
I proposed the bpo-31593 to fix the issue differently in Python 3.6 (and maybe also Python 2.7).

[2017-09-26 14:34] warsaw commented on #75761
Let's separate the use of lru_cache from the deferred compilation.  I think I'll just revert the change to use lru_cache, although I'll note that the impetus for this was the observation that once MAXCACHE is reached the entire regexp cache is purged.  That seems suboptimal and my guess is that it was done because the current cache is just a dictionary so there's no good way to partially purge it.

[2017-09-26 14:36] serhiy-storchaka commented on #75773
Oh, and passing arguments to this function is tricky. If faked unicodedata.normalize save the args tuple it will see a mutated tuple containing a hanging reference.

This is a good opportunity of using the fast call protocol.

[2017-09-26 15:27] bitdancer commented on #75761
Precompiling as a compile-time optimization would be cool.  I think we are currently favoring doing that kind of thing as an AST optimization step?

I think Raymond and my point was that the current behavior should remain unchanged by default.  So a re.DEFERRED flag whose default is False would be a possible candidate for the "new API" I suggested :)

However, compile time optimization could defau

[2017-09-26 16:01] warsaw commented on #75761
On Sep 26, 2017, at 11:27, R. David Murray \<report@bugs.python.org\> wrote:

I was thinking about that too.

Yep, it’s definitely a behavior change, so its the classic “add a new api and most projects won’t get the benefits until they opt-in” problem.  But the problem with that of course is that there are module global re.compiles \*everywhere* including probably most commonly in libraries X depe

[2017-09-26 16:04] fa9207e6-7e78-46b2-bb5b-e2a58d55a9d7 opened #75775 "Make bytes and bytearray maketrans accept dictionaries as first argument as it's done in str"
BPO | [31594](https://bugs.python.org/issue31594)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 16:12] serhiy-storchaka commented on #75775
Could you please provide more information? What the problem you want to solve?

[2017-09-26 16:25] fa9207e6-7e78-46b2-bb5b-e2a58d55a9d7 commented on #75775
str.maketrans in python3 is able to accept just one argument which is a
mapping of translations.
While bytearray and bytes are still using only old way where you should
pass two iterables from and to.

static str.maketrans(x [,y [,z]])
static bytes.maketrans(from, to)
static bytearray.maketrans(from, to)

On Tue, Sep 26, 2017 at 6:12 PM, Serhiy Storchaka \<report@bugs.python.org\>
wrote:

[2017-09-26 16:37] rhettinger commented on #75761
I'm flat-out opposed to changing the default behavior.  If some API change gets make it needs to strictly be opt-in.

Even then, I don't think this is a great idea.  We already have ways to do it if people actually cared about this.

FWIW, other languages also have regex compile() and it always means compile immediate.  The proposed change alters the semantics of existing code and undermines the e

[2017-09-26 16:40] serhiy-storchaka commented on #75775
Why do you need this functionality?

[2017-09-26 16:46] fa9207e6-7e78-46b2-bb5b-e2a58d55a9d7 commented on #75775
This change requested just because I find it inconsistent and passing
translation as key-value is much easier to read rather than two lists.
When translation table gets bigger than 10 pairs it gets annoying to match
in the head between from and to while reading it.
Could be marked as minor.
\----------_________________________

[2017-09-26 17:17] serhiy-storchaka commented on #75775
Inconsistency is a weak argument. It itself is not enough to add a new feature. str.translate() accepts a mapping instead of a string (as it would be for consistency with bytes.translate()) because it would be inconvenient to provide a 1114112-character string. str.maketrans() just compile a mapping in the optimized representation, because using a general mapping is not very efficient.

A bytes ob

[2017-09-26 18:07] 699aa770-10df-492d-aaa0-dc43011258cc commented on #75776
MSVC 2017 retains ABI compatibility with MSVC 2015, yet supports (as always with a newer compiler version) more features and compiles faster. Because it retains ABI compatibility with existing Python versions, I think it makes sense for distutils to prefer it (this could be fixed in setuptools, but distutils generally takes care of compiler detection).

Thoughts?

[2017-09-26 18:07] 699aa770-10df-492d-aaa0-dc43011258cc opened #75776 "Preferring MSVC 2017 in Python 3.6.x new minor releases"
BPO | [31595](https://bugs.python.org/issue31595)
--- | :---
Nosy | @pfmoore, @tjguk, @ned-deily, @merwok, @zware, @zooba, @dstufft, @xoviat

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 18:33] 460e3b73-ef06-4a68-85e3-d1897b1b6722 opened #75777 "expose pthread_getcpuclockid in time module"
BPO | [31596](https://bugs.python.org/issue31596)
--- | :---
Nosy | @vstinner, @benjaminp, @pdox
PRs | <li>python/cpython#3756</li><li>python/cpython#3904</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

<

[2017-09-26 18:33] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75777
time.clock_gettime() makes it possible to retrieve the thread-specific cpu-time clock for the current thread using time.CLOCK_THREAD_CPUTIME_ID. However, it is currently not possible in Python to retrieve the thread-specific clock for other threads. Exposing pthread_getcpuclockid() makes this possible.

[2017-09-26 18:41] zware commented on #75776
3.5 is in security-fix-only mode, so it will not receive such an update.  3.6 is up to Ned and Steve.

[2017-09-26 18:42] serhiy-storchaka commented on #75761
Barry, please test re.search() with your changes.

[code]

[2017-09-26 18:47] serhiy-storchaka commented on #74532
New changeset c740e4fe8a9bc5815dc18c38d7f7600b128c3c51 by Serhiy Storchaka in branch 'master':
bpo-30347: Stop crashes when concurrently iterate over itertools.groupby() iterators. (bpo-1557)
https://github.com/python/cpython/commit/c740e4fe8a9bc5815dc18c38d7f7600b128c3c51

[2017-09-26 19:00] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c opened #75778 "ipaddress.hosts() doesn't return anything on a /32 "network""
BPO | [31597](https://bugs.python.org/issue31597)
--- | :---
Nosy | @ericvsmith, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 19:00] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c commented on #75778
https://docs.python.org/3/library/ipaddress.html#ipaddress.IPv4Network.hosts

I couldn't find anywhere in the documentation mentioning the fact that doing the following would return nothing:

[code]

For all intense and purposes, that network still contains hosts.
That being one single lonely host of '127.0.0.1'.

It's illogical to not return any hosts if there actually are one or more in there.
N

[2017-09-26 19:01] scoder commented on #75761
I'm also against changing re.compile() to not compile.

And I often write code like this:

[code]

which is not covered by your current proposed change.

[2017-09-26 19:20] serhiy-storchaka commented on #74532
New changeset 69b2dc8637ba924d78f9869be592c5a545510f10 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30347: Stop crashes when concurrently iterate over itertools.groupby() iterators. (GH-1557) (bpo-3770)
https://github.com/python/cpython/commit/69b2dc8637ba924d78f9869be592c5a545510f10

[2017-09-26 19:27] a06953a8-376d-49ef-933f-15ea8527ded8 opened #75779 "pyping 0.0.5 package crashed on ZeroDivisionError: float division by zero"
BPO | [31598](https://bugs.python.org/issue31598)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 19:27] a06953a8-376d-49ef-933f-15ea8527ded8 commented on #75779
[code]

[2017-09-26 19:32] bitdancer commented on #75779
pyping is not part of the standard library, you'll need to find their bug tracker and report the problem to them.

[2017-09-26 19:32] #75779 closed, assigned to nobody

[2017-09-26 19:32] zooba commented on #75776
Let me hop in my time machine and fix that for you: https://github.com/python/cpython/pull/3425

(FWIW, I think it makes \*much* more sense for setuptools to fix this by simply forking all of distutils and never looking back. But since we don't live in that world yet, it went into distutils.)

[2017-09-26 19:33] #75776 closed, assigned to zooba

[2017-09-26 19:33] #73810 closed, assigned to zooba

[2017-09-26 19:52] ezio-melotti commented on #75761
What about adding a lazy_compile() function?  It will leave the current behavior unchanged, it's explicit, and it's easier to use cross version (if importing re.lazy_compile fails, use re.compile).

FWIW I'm -1 on changing re.compile, -1 on adding re.IMMEDIATE, -0.5 on adding re.DEFERRED (not sure this option belongs among the re flag), +1 on adding a compile-time optimization.

[2017-09-26 20:08] serhiy-storchaka commented on #75778
This is documented.

[code]

    Returns an iterator over the usable hosts in the network. The usable hosts are all the IP addresses that belong to the network, except the network address itself and the network broadcast address.

[code]

[2017-09-26 20:08] #75778 closed, assigned to nobody

[2017-09-26 20:15] serhiy-storchaka commented on #74532
New changeset d0b9dc33676bdad217d5074954c1b37d4ca54a10 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-30347: Stop crashes when concurrently iterate over itertools.groupby() iterators. (GH-1557). (bpo-3772)
https://github.com/python/cpython/commit/d0b9dc33676bdad217d5074954c1b37d4ca54a10

[2017-09-26 20:16] #74532 closed, assigned to serhiy-storchaka

[2017-09-26 20:16] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c commented on #75778
This is still a very strange behavior and I can't see why this still
shouldn't return a IP address.
if the broadcast, network and host address are all the same, that should
call for a exceptional behavior from the library.
Because 127.0.0.1/32 is still a usable host address, and it's a way of
isolating a host on a network device for instance, but it's still a host
address in there.. Or am i loosin

[2017-09-26 20:19] serhiy-storchaka commented on #75778
Because this is a definition of this method.

[2017-09-26 20:22] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c commented on #75778
And this definition is some how immutable?

On Tue, Sep 26, 2017 at 10:19 PM Serhiy Storchaka \<report@bugs.python.org\>
wrote:

[2017-09-26 20:33] ericvsmith commented on #75778
Yes, due to backward compatibility constraints, the behavior is immutable.

You might be able to argue for another method, say all_hosts(), or something. Or maybe even a optional parameter to hosts() that defaults to the existing behavior, but if provided, lets you select a new behavior.

What I would not support is a change to hosts() (or a new method) that treats a /32 network specially.

[2017-09-26 20:46] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c commented on #75778
I was actually just thinking about the same thing, why not just add a
optional flag to the already existing function.
I get that people are way into backward compatibility, and I won't get into
a religious fight over that particular topic as long as there's a fix for
this honestly strange behavior. (It's some Windows mentality saying a /32
network doesn't contain any hosts when you come from a net

[2017-09-26 20:47] rhettinger commented on #75767
Oren, thank you for the work you've been doing.

[2017-09-26 20:53] ericvsmith commented on #75778
You lost me at "some Windows mentality". I come from a networking background.

Sorry, I don't care enough about this issue to pursue it.

[2017-09-26 21:05] 18d1b506-fcb1-4c1d-8275-7cdc1dd5653c commented on #75778
Historically Windows have struggled with /32 assigned networks.
Trying to push such a network address to a Windows machine has usually (not
all cases) rendered it connection-less, where as switches, routers, \*nix
etc have never had any major issues with the logic of a /32 network host
isolation.

Anyway, it was a slight joke/peck on the history of networking.

On Tue, Sep 26, 2017 at 10:53 PM Eri

[2017-09-26 21:24] larryhastings commented on #75278
New changeset 0fcc03367b31f44c1e1b8d3d2dd940ef1e744326 by larryhastings (INADA Naoki) in branch '3.5':
bpo-31095: fix potential crash during GC (GH-2974) (bpo-3196)
https://github.com/python/cpython/commit/0fcc03367b31f44c1e1b8d3d2dd940ef1e744326

[2017-09-26 22:02] 92298fb5-0d22-4c55-a936-3f384ee2a2d4 opened #75780 "bug in doctest when comparing - 0.0 == 0.0"
BPO | [31599](https://bugs.python.org/issue31599)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-26 22:02] 92298fb5-0d22-4c55-a936-3f384ee2a2d4 commented on #75780
See https://github.com/pytest-dev/pytest/issues/2796#event-1266625358

[2017-09-26 23:10] 699aa770-10df-492d-aaa0-dc43011258cc commented on #75776
@zooba

Since you mention it, I agree with that proposal. But currently we have core developers contributing to distutils and @jaraco contributing to setuptools. @jaraco is quite competent, but I doubt that he would be able to maintain an independent fork of distutils by himself.

In short, I think your proposal is a good one, but how can we allocate manpower?

[2017-09-27 00:35] bitdancer commented on #75780
Can you explain why you think that is a bug in doctest?  It looks like you are getting different output than you expect, but that by itself wouldn't be a bug in doctest.

[2017-09-27 00:35] bitdancer commented on #75780
To be clear: doctest compares strings, so "-0.0" is not the same as "0.0" to doctest.

[2017-09-27 00:40] 92298fb5-0d22-4c55-a936-3f384ee2a2d4 commented on #75780
Hi R. David Murray,

doctest compares strings, so "-0.0" is not the same as "0.0" to doctest

Thank you. That explains why "-0.0 == 0.0" is True to Python, but False to
doctest.

Cheers,
Zé

On Tue, Sep 26, 2017 at 5:35 PM, R. David Murray \<report@bugs.python.org\>
wrote:

[2017-09-27 00:43] #75780 closed, assigned to nobody

[2017-09-27 03:18] rhettinger commented on #75767
New changeset 31aca4bf79217e6ec4c1d056d3ad7ed4dd469c78 by Raymond Hettinger (Oren Milman) in branch 'master':
bpo-31586: Use \_count_element fast path for real dicts.
https://github.com/python/cpython/commit/31aca4bf79217e6ec4c1d056d3ad7ed4dd469c78

[2017-09-27 03:45] rhettinger commented on #75767
New changeset a1c49f6f09150f70f063417c8d67a38e59dde7ed by Raymond Hettinger (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31586: Use \_count_element fast path for real dicts. (bpo-3776)
https://github.com/python/cpython/commit/a1c49f6f09150f70f063417c8d67a38e59dde7ed

[2017-09-27 03:46] #75767 closed, assigned to rhettinger

[2017-09-27 04:33] serhiy-storchaka commented on #75673
New changeset f0db2dfda777ad3380e7816cabe4c4240f31687f by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31492: Fix assertion failures in case of a module with a bad \_\_name__ attribute. (GH-3620). (bpo-3773)
https://github.com/python/cpython/commit/f0db2dfda777ad3380e7816cabe4c4240f31687f

[2017-09-27 04:37] serhiy-storchaka commented on #75671
New changeset bdb215b18a42360b6a9c82876fa71f19ca1a416d by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31490: Fix an assertion failure in ctypes in case an \_anonymous_ attr is defined only outside \_fields_. (GH-3615) (bpo-3774)
https://github.com/python/cpython/commit/bdb215b18a42360b6a9c82876fa71f19ca1a416d

[2017-09-27 04:38] serhiy-storchaka commented on #75466
New changeset 90fe25a051bd8cf64d52be533c9b60cad9bdd7fb by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31285: Fix an assertion failure and a SystemError in warnings.warn_explicit. (GH-3219) (bpo-3775)
https://github.com/python/cpython/commit/90fe25a051bd8cf64d52be533c9b60cad9bdd7fb

[2017-09-27 04:44] lisroach commented on #75328
I think it is a good idea to have a simple way to add a value to sort on in general, it could have some interesting use-cases. Also I am with Nick a name change would make the broader scope clearer.

What I am not sure about is making the comparison have to be between two items of the same wrapper type - since right now we are comparing priority to priority attributes.

It makes sense for Priority

[2017-09-27 05:01] #75747 closed, assigned to nobody

[2017-09-27 05:21] serhiy-storchaka commented on #75686
New changeset 7c24e99c99c961e6633ac45390a211f65806c687 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31505: Fix an assertion failure in json, in case \_json.make_encoder() received a bad encoder() argument. (GH-3643) (bpo-3777)
https://github.com/python/cpython/commit/7c24e99c99c961e6633ac45390a211f65806c687

[2017-09-27 05:41] #75686 closed, assigned to nobody

[2017-09-27 06:20] d56b526f-0816-4fc8-89c7-97360296de39 opened #75781 "please allow association of google login with current account on bug tracker"
BPO | [31600](https://bugs.python.org/issue31600)
--- | :---
Nosy | @wt, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 06:20] d56b526f-0816-4fc8-89c7-97360296de39 commented on #75781
I have a Google account. Unfortunately, I had a bugs.python.org account before using the Google auth. Now I cannot seem to attach my Google auth to this account. When I try to login with Google now, it just tells me that an account with my email address already exists.

I hope this is a reasonable place to report bugs for the bug tracker.

[2017-09-27 06:23] bba6fca5-7452-47f9-b329-3366a9a3e529 opened #75782 "Availability of utimensat, futimens not checked correctly on macOS"
BPO | [31601](https://bugs.python.org/issue31601)
--- | :---
Nosy | @ronaldoussoren, @ned-deily, @jmroot, @moreati, @indygreg

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 06:23] bba6fca5-7452-47f9-b329-3366a9a3e529 commented on #75782
The futimens and utimensat functions are available in High Sierra but not previous versions of macOS. Building against the 10.13 SDK and deploying to an earlier version will result in a crash when the dynamic linker can't find the symbols at runtime. Availability of the symbols needs to be checked at runtime before use.

This was originally reported in \<https://trac.macports.org/ticket/54893\>.

[2017-09-27 06:24] serhiy-storchaka commented on #75492
New changeset 81691b05484a68df9cebb1310dd7dcabb3c6eb0a by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31311: Fix a SystemError and a crash in ctypes.\_CData.\_\_setstate__(), in case of a bad \_\_dict__. (GH-3254). (bpo-3781)
https://github.com/python/cpython/commit/81691b05484a68df9cebb1310dd7dcabb3c6eb0a

[2017-09-27 06:24] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75783 "assertion failure in zipimporter.get_source() in case of a bad zlib.decompress()"
BPO | [31602](https://bugs.python.org/issue31602)
--- | :---
Nosy | @brettcannon, @orenmn
PRs | <li>python/cpython#3784</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 06:24] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75783
The following code causes an assertion failure (in case there exists a
compressed zip file named 'foo.zip' with a file called 'bar.py' in it):

[code]

This is because get_data() (in [Modules/zipimport.c](https://github.com/python/cpython/blob/main/Modules/zipimport.c)) assumes that
zlib.decompress() returned a bytes object, and returns it.
zipimport_zipimporter_get_source_impl() assumes that get_

[2017-09-27 06:28] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #74129
An update to Serhiy's proposed fix:

[code]

All PyXxx functions are macros on PyPy, and undefining a macro just makes everything go wrong.  And there is not much PyPy can do about that.

[2017-09-27 06:31] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
On 26-09-17 14:10, STINNER Victor wrote:

Ok. So what is achieved with the wrapper method is to catch a connection
attempt failure error on the writefds, by signaling a WRITE_EVENT on the
writefd.

Application will then most likely try to write to the fd and an error
will occur, telling us the connection attempt failed.

I will try to change the wrapper method so that it still contains this
hack (

[2017-09-27 06:34] d56b526f-0816-4fc8-89c7-97360296de39 opened #75784 "Please add argument to override stdin/out/err in the input builtin"
BPO | [31603](https://bugs.python.org/issue31603)
--- | :---
Nosy | @bitdancer, @wt, @serhiy-storchaka, @csabella, @tonybaloney, @iritkatriel
PRs | <li>python/cpython#3814</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org

[2017-09-27 06:34] d56b526f-0816-4fc8-89c7-97360296de39 commented on #75784
I would really love to add a few params to input so that it's signature looked more like so:

[code]

This would certainly make overriding the the files in specific calls to input easier. A reasonable use case is collecting a piece over /dev/tty explicitly so that a redirected stdin could be used to pipe data into a program while overriding using /dev/tty to collect some piece of data. Here's some

[2017-09-27 06:40] #75492 closed, assigned to nobody

[2017-09-27 06:41] d56b526f-0816-4fc8-89c7-97360296de39 commented on #75784
This might also allow simplification of the getpass.unix_getpass() logic. I am not 100% sure about that yet though.

[2017-09-27 06:46] #75673 closed, assigned to nobody

[2017-09-27 06:50] serhiy-storchaka commented on #75781
http://psf.upfronthosting.co.za/roundup/meta is a place to report bugs for the bug tracker.

[2017-09-27 06:50] #75781 closed, assigned to nobody

[2017-09-27 06:52] serhiy-storchaka commented on #75671
New changeset 9bfa55bfea60553831e99dbbca6a7c7d1065fd4b by Serhiy Storchaka (Miss Islington (bot)) in branch '2.7':
[2.7] bpo-31490: Fix an assertion failure in ctypes in case an \_anonymous_ attr is defined only outside \_fields_. (GH-3615) (bpo-3780)
https://github.com/python/cpython/commit/9bfa55bfea60553831e99dbbca6a7c7d1065fd4b

[2017-09-27 07:29] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
On 26-09-17 14:01, STINNER Victor wrote:

8 or so weeks ago I've send an email to Charles-François Natali (a.k.a.
neologix). I asked him if he could explain the wrapper method. Neologix
is in the nosy list as well, but has not answered any questions up till now

[2017-09-27 07:34] rhettinger commented on #75772
It looks like somewhere in your application a deque object is being passed where a socket was expected.  The easiest way to find the culprit is to edit the class SocketIO in [Lib/socket.py](https://github.com/python/cpython/blob/main/Lib/socket.py):

[code]

[2017-09-27 07:48] b5372eda-6675-4503-a2f8-d774d4d4f105 commented on #75027
On 26-09-17 14:13, STINNER Victor wrote:

First of all, there are no exceptions, only "exceptional conditions".
Second of all, There is no "urgent data" AND "exceptional conditions";
"urgent data" is one of possible exceptional conditions, but not all
exceptional conditions mean there is urgent data to read.

Check if they succeeded to formalize these events.
IMO, they have made it more confusing

[2017-09-27 08:16] 9d30888a-2d68-4fd0-a072-c8711cca9f17 commented on #75785
How to reproduce:
* Run the attached file with Python 2.7 without any modifications. This will produce an error, as described below.
* Uncomment line 2 (the decorator @unittest.expectedFailure) and run the file with Python 2.7. This will not produce an error.

Description:
Adding the decorator @unittest.expectedFailure to a unittest.TestCase causes the TestLoader().loadTestsFromTestCase(...) to fa

[2017-09-27 08:16] 9d30888a-2d68-4fd0-a072-c8711cca9f17 opened #75785 "unittest.TestLoader().loadTestsFromTestCase(...) fails when adding test cases with the expectedFailure decorator"
BPO | [31604](https://bugs.python.org/issue31604)
--- | :---
Nosy | @rbtcollins, @ezio-melotti, @voidspace, @kwarunek, @iritkatriel
Files | <li>[mwe.py](https://bugs.python.org/file47170/mwe.py "Uploaded as text/plain at 2017-09-27.08:16:44 by Erasmus Cedernaes"): Minimum working example</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect

[2017-09-27 08:23] vstinner commented on #75278
Should we backport the fix to Python 3.3 and 3.4 as well?

I don't think so.

[2017-09-27 09:19] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75786 "meta issue: bugs.python.org search shows only issues with recent activity"
BPO | [31605](https://bugs.python.org/issue31605)
--- | :---
Nosy | @ezio-melotti, @yan12125, @orenmn

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 09:19] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75786
For example, when I search for 'ctypes', I get only two results.

Just in case, i checked and got the same results in multiple browsers, and also on Ubuntu and on Windows.

[2017-09-27 09:21] vstinner commented on #75774
New changeset fdcf3e9629201ef725af629d99e02215a2d657c8 by Victor Stinner in branch '3.6':
bpo-31593: test_socketserver waits child processes (bpo-3766)
https://github.com/python/cpython/commit/fdcf3e9629201ef725af629d99e02215a2d657c8

[2017-09-27 09:22] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75786
I am not 100% sure that issues are showed because they had a recent activity, but ISTM like the reason..

[2017-09-27 09:48] serhiy-storchaka commented on #75769
I'm not a metaclass expert. Eric, Nick, could you please take a look at the patch?

[2017-09-27 09:57] vstinner commented on #75787
I installed Python 3.7a1 on Windows. The following tests fail:
\---
372 tests OK.

5 tests failed:
    test_io test_largefile test_marshal test_regrtest test_tools

30 tests skipped:
    test_asdl_parser test_crypt test_curses test_dbm_gnu test_dbm_ndbm
    test_devpoll test_epoll test_fcntl test_fork1 test_gdb test_grp
    test_ioctl test_kqueue test_nis test_openpty test_ossaudiodev
    test_pip

[2017-09-27 09:57] vstinner opened #75787 "[Windows] Tests failing on installed Python 3.7a1 on Windows"
BPO | [31606](https://bugs.python.org/issue31606)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @zware, @serhiy-storchaka, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 10:03] vstinner commented on #75774
New changeset b4920d562b74e909bfae71bf119350a01d1d5e5e by Victor Stinner in branch '2.7':
bpo-31593: test_socketserver waits child processes (bpo-3786)
https://github.com/python/cpython/commit/b4920d562b74e909bfae71bf119350a01d1d5e5e

[2017-09-27 10:06] ncoghlan commented on #75769
There's no \_\_prepare__ method in 2.7, so that version can't be affected by this.

For 3.6 and 3.7, I can't reproduce the reported SystemError. Instead, I get:

[code]

The error remains the same if I add `@classmethod` to the __prepare__ definition.

That's still thoroughly cryptic and worth changing, but indicates the test should be checking the error message details, not just the error type.

[2017-09-27 10:13] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75769
[code]

[2017-09-27 10:22] matrixise opened #75788 "Add listsize in pdb.py"
BPO | [31607](https://bugs.python.org/issue31607)
--- | :---
Nosy | @rhettinger, @bitdancer, @matrixise
PRs | <li>python/cpython#3787</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 10:22] matrixise commented on #75788
I just added a new command for the prompt of Pdb.

(Pdb) listsize
List size: 10
(Pdb) listsize 5
List size: 5
(Pdb) listsize
List size: 5

I will publish a PR

[2017-09-27 10:24] #75774 closed, assigned to nobody

[2017-09-27 10:40] serhiy-storchaka commented on #75787
Try to run these tests with -u all,-largefile.

[2017-09-27 10:43] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75789 "crash in methods of a subclass of _collections.deque with a bad __new__()"
BPO | [31608](https://bugs.python.org/issue31608)
--- | :---
Nosy | @rhettinger, @benjaminp, @serhiy-storchaka, @orenmn, @miss-islington
PRs | <li>python/cpython#3788</li><li>python/cpython#9177</li><li>python/cpython#9179</li><li>python/cpython#9178</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><

[2017-09-27 10:43] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75789
The following code causes the interpreter to crash:

[code]

BadDeque() * 42

(The interpreter would crash also if we replaced 'BadDeque() * 42' with
'BadDeque() + \_collections.deque([42])'.)

This is because deque_copy() (in [Modules/_collectionsmodule.c](https://github.com/python/cpython/blob/main/Modules/_collectionsmodule.c)) returns whatever
BadDeque() returned, without verifying it is a deq

[2017-09-27 10:49] serhiy-storchaka commented on #75790
C:\\Users\\Serhiy Storchaka\\py\\cpython3.6-debug\>PCbuild\\clean.bat
'C:\\Users\\Serhiy' is not recognized as an internal or external command,
operable program or batch file.

[2017-09-27 10:49] serhiy-storchaka opened #75790 "PCbuild\clean.bat fails if the path contains whitespaces"
BPO | [31609](https://bugs.python.org/issue31609)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @zware, @serhiy-storchaka, @zooba
PRs | <li>python/cpython#4280</li><li>python/cpython#4285</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-09-27 11:24] 485ee0c2-dd9f-4240-b0ed-198b733495a1 opened #75791 "Use select.poll instead of select.select in SocketServer.BaseServer.serve_forever"
BPO | [31610](https://bugs.python.org/issue31610)
--- | :---
Nosy | @vstinner, @giampaolo

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 11:24] 485ee0c2-dd9f-4240-b0ed-198b733495a1 commented on #75791
The select function does not work for file descriptors with number \>= 1024. It has FD_SETSIZE limit (see https://stackoverflow.com/questions/7976388/increasing-limit-of-fd-setsize-and-select#7977082).
So, serve_forever won't work if more than 1024 file descriptors are opened in the process (ValueError: filedescriptor out of range in select() is raised).
Moreover, the select function is considered

[2017-09-27 11:28] scoder commented on #74761
FWIW, both the feature and the PR look ok to me. Code formatting is a little funny at times, but the implementation looks good.

[2017-09-27 12:29] vstinner opened #75792 "Tests failures using -u largefile when the disk is full"
BPO | [31611](https://bugs.python.org/issue31611)
--- | :---
Nosy | @vstinner, @jkloth, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 12:29] vstinner commented on #75792
I ran the Python test suite on Windows on a freshly installed Python 3.7a1 and I got errors: bpo-31606.

I created a separated issue for tests failing because my disk has low free space.

On my Windows VM, I have a single 40 GB disk with 1.36 GB free.

C:\\Users\\haypo\\AppData\\Local\\Programs\\Python\\Python37\>python -m test -v -u all test_largefile

\===========================================

[2017-09-27 12:30] vstinner commented on #75787
I created bpo-31611 "Tests failures using -u largefile when the disk is full" for failures caused by my low free disk space.

[2017-09-27 12:52] bitdancer commented on #75784
This is probably a topic for the python-ideas mailing list.  For example, rather than complicating input, it might be better to propose adding a redirect_stdin to contextlib to parallel the two existing redirect context managers.  I don't remember why that was not added when the others were, but there was probably a reason, so a discussion about what the best solution is for the use case is in ord

[2017-09-27 12:58] serhiy-storchaka commented on #75789
All other sequence objects return an instance of the base class rather than a subclass. list, tuple, str, bytes, bytearray, array. Only deque tries to create an instance of a subclass.

[2017-09-27 13:06] serhiy-storchaka commented on #75784
input() is a convenient function for simple user interaction. If you need to read a data from different file object just use its readline() method.

[2017-09-27 13:07] bitdancer commented on #75788
It isn't obvious from your description here what 'listsize' does.  I think you should have provided some more motivating details :)

Looking at your PR, this is essentially a configuration setting.  I wonder if we should think about the general problem rather than continuing to clutter the top level command namespace.  (The only current example of this I spotted in the pdb docs is display/undispla

[2017-09-27 13:12] serhiy-storchaka commented on #75792
This is expected behavior, isn't?

[2017-09-27 13:17] matrixise commented on #75788
Hi David,

It's my fault and you are right, I didn't give the right description.

By default when you want to list the source code with pdb, you will use the list command but this one is just limited to the 10 next lines and there is no possibility to change this limit of 10 lines.

We can play with the second parameter of pdb, examples:

* list 10, 11
will show the code from the line 10 to 11

*

[2017-09-27 13:28] vstinner commented on #75792
I would prefer that the test skips itself when the disk is full: on "OSError: [Errno 28] No space left on device".

Or maybe largefile resource should be excluded from "all"... at least on Windows, since NTFS doesn't see to support files full of zeros without accounting zero bytes (seek + write 1 byte: NTFS counts the seek in the disk space).

[2017-09-27 13:55] serhiy-storchaka opened #75793 "Building 3.6 fails on Windows"
BPO | [31612](https://bugs.python.org/issue31612)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @jkloth, @zware, @serhiy-storchaka, @zooba
Files | <li>[build.log](https://bugs.python.org/file47171/build.log "Uploaded as text/x-log at 2017-09-27.13:55:22 by @serhiy-storchaka")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curren

[2017-09-27 13:55] serhiy-storchaka commented on #75793
makefile.vc(1076): fatal error U1087: cannot have : and :: dependents for same target [C:\\Users\\Serhiy Storchaka\\py\\cpython3.6\\PCbuild\\tcl.vcxproj]

The full log is attached.

[2017-09-27 13:57] vstinner commented on #75793
How did you build Python 3.6 on Windows? Did you use Visual Studio 2015? Do you use Visual Studio GUI or in the command line?

[2017-09-27 14:01] ncoghlan commented on #75769
Aye, that's exactly what I did.

[2017-09-27 14:04] ncoghlan commented on #75769
New changeset 5837d0418f47933b2e3c139bdee8a79c248a943c by Nick Coghlan (Oren Milman) in branch 'master':
bpo-31588: Validate return value of \_\_prepare__() methods (GH-3764)
https://github.com/python/cpython/commit/5837d0418f47933b2e3c139bdee8a79c248a943c

[2017-09-27 14:07] serhiy-storchaka commented on #75793
I have installed Visual Studio 2017 and have ran PCbuild\\build.bat.

From the master branch all have built successfully.

[2017-09-27 14:07] ncoghlan commented on #75769
CI is still running for the backport, so I'll merge that tomorrow.

Thanks for the patch!

[2017-09-27 14:09] vstinner commented on #75793
Oh, I think that VS 2017 is a new feature of Python 3.7 (master), no?

Steve Dower, or Zachary Ware: can you confirm?

See bpo-31340 and bpo-30389.

[2017-09-27 14:09] vstinner commented on #75793
Here are my notes on how to compile CPython on Windows:
https://haypo-notes.readthedocs.io/cpython_windows.html#python-and-visual-studio-version-matrix

[2017-09-27 14:16] pfmoore commented on #75793
I believe that's the case, although I'm somewhat surprised by the nature of the error. I'm just checking diffs at the moment.

But VS 2015 is the officially supported compiler for 3.6.

[2017-09-27 14:21] serhiy-storchaka commented on #75792
Definitely the test shouldn't be quietly skipped! If you enable the "largefile" resource, but the test can't write large file, this is either a bug in the tested code, or an error in the test, or misconfiguration.

We already have the "extralargefile" resource which is excluded from "all". "largefile" is for moderately large files, around 2 GiB.

[2017-09-27 14:23] warsaw commented on #75761
I'm closing this experiment.

I'm not convinced that even if we can make start up time faster for module global regular expressions, we'll ever get enough buy-in from the ecosystem to make this worth it, because you'd really want to get all your dependencies converted, and that would take years, especially since any wins wouldn't be possible until Python 3.7.

[2017-09-27 14:23] #75761 closed, assigned to warsaw

[2017-09-27 14:29] serhiy-storchaka commented on #75793
Thank you Victor.

Therefore I do need to install 4 versions of Visual Studio for building three major maintained branches: 2008, 2010, 2015 and 2017? Oh, now I understand why Victor doesn't have sufficient disk space for running tests.

[2017-09-27 14:32] vstinner commented on #75793
To compile Python 2.7, you need VS 2008 \*and* 2010.

To compile Python 3.5, 3.6 or master, you need VS 2015.

To compile Python 3.4, you need VS 2010.

I had to work on Python 2.7, 3.4, 3.5, 3.6 and master, so I installed VS 2008, 2010 and 2015 :-)

I didn't give a try to VS 2017 yet. I'm fine with 3 VS versions installed in parallel ;-)

[2017-09-27 15:09] JulienPalard commented on #75765
Local builds were not able to reproduce the bug for the moment and I did not spotted the bug on production neither. If anyone see it please write down the URL, the misplaced translation, and the date, time, timezone on which the string was found, so I can inspect the server logs.

Did the strings were all over the page, or only a few strings on a normally rendered page?

[2017-09-27 15:19] rhettinger commented on #75788
I don't think this is worth adding a separate command.

If some controls were needed (changing the list size has not been requested before), it may be better to follow gdb with set/get commands that could be used for other parameters as well.

[2017-09-27 15:55] vstinner commented on #75792
largefile creates files larger than 2 GB. Extract of test_largefile:

[code]

My VM has less than 2 GB free: only 1.36 GB free.

[2017-09-27 16:21] ncoghlan commented on #75769
New changeset 084f80b82c564c8a3cef26fc6e56da188a379be2 by Nick Coghlan (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31588: Validate return value of \_\_prepare__() methods (GH-3790)
https://github.com/python/cpython/commit/084f80b82c564c8a3cef26fc6e56da188a379be2

[2017-09-27 16:28] #75769 closed, assigned to nobody

[2017-09-27 16:38] serhiy-storchaka commented on #75792
largefile - It is okay to run some test that may create huge
                files.  These tests can take a long time and may
                consume \>2GB of disk space temporarily.

I understand this as 2GB is a minimum free disk space for tests without "largefile". Tests with "largefile" need more free disk space.

Accordingly the bigmemtest decorator is used for tests that consume \>1GB of RAM

[2017-09-27 17:14] cafeb650-7e75-4b36-af3a-ac569f3917d6 opened #75794 "Localize tkinter.simpledialog.Default buttons as with file dialogs."
BPO | [31613](https://bugs.python.org/issue31613)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @jcrmatos, @hisahi
PRs | <li>python/cpython#31682</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p><

[2017-09-27 17:14] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75794
Hello,

tkinter.simpledialog default buttons (not buttonbox) are not localized, unlike all messagebox.

Best regards,

JM

[2017-09-27 17:14] zooba commented on #75793
If you install VS 2017 and select the "Python native development" option as described in the dev guide, you get the correct compilers (plural) for Python 3.5 onwards. The build.bat file (specifically, the find_msbuild.bat helper) will choose the correct version.

You do not need to install VS 2015 anymore. VS 2015 and VS 2017 both include VC toolset v140, which is the officially supported compiler

[2017-09-27 17:23] 95bb1f9d-8709-4062-b7a1-061455e391c9 commented on #75765
Attached is a screenshot of https://docs.python.org/2.7/faq/design.html generated by web-capture.net shortly before this report was created.

It shows the whole content was in Japanese.

On the screenshot, it says it was last updated on Sep 26, 2017.

It was one of the numerous sources I used to verify that it wasn't just my end which was seeing the language mix up.

Unfortunately, that is the onl

[2017-09-27 17:23] 95bb1f9d-8709-4062-b7a1-061455e391c9 commented on #75765
html dump

[2017-09-27 17:44] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75712
Yet another code that causes a SystemError:
import zipimport
importer = zipimport.zipimporter('foo.zip')
tup_as_list = list(zipimport.\_zip_directory_cache['foo.zip']['foo\\\\__init__.py'])
tup_as_list[0] = None
zipimport.\_zip_directory_cache['foo.zip']['foo\\\\__init__.py'] = tuple(tup_as_list)
importer.load_module('foo')

This could be fixed by checking in get_code_from_data() whether modpath i

[2017-09-27 18:29] serhiy-storchaka commented on #75603
Would be help if you provide a minimal script that exposes the problem.

[2017-09-27 18:49] d732c26f-ecfa-4c92-9f00-a1eacb6965bc commented on #75786
IIRC bugs of bugs.python.org should go to http://psf.upfronthosting.co.za/roundup/meta/

[2017-09-27 19:09] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75794
Hello,

Here is some example code:

[code]

Best regards,

JM

[2017-09-27 19:13] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75603
Hello,

Here it is.

[code]

Best regards,

JM

[2017-09-27 19:26] JulienPalard commented on #75765
Thanks for those details.

Until we find japanese on a french page, or french on an english page, which would clearly disproove the hypothesis of a build picking up translated files from a previous build, I still consider this hypothesis the good one.

I'm also seeing pages like genindex-位.html on the english directory tree, which is less surprising : the english build may just not remove them.

[2017-09-27 19:31] serhiy-storchaka commented on #75603
These are standard Tk widgets. Tkinter is not responsible for the look and feel of them. It just call the Tk command tk_messageBox with corresponding parameters [1].

[1] https://www.tcl.tk/man/tcl8.6/TkCmd/messageBox.htm

[2017-09-27 19:35] serhiy-storchaka commented on #75794
What do you expect and what do you get?

[2017-09-27 19:38] JulienPalard commented on #75765
Found another hypothesis: As the builds take a long time, builds may overlap (starting a build while another is still unfinished, typically rsync-ing its files), but this would result in:

- japanese being build while french being rsynced
- french being build while english being rsynced
- english being build while japanese being rsynced

This mean japanese on french pages, french on english pages,

[2017-09-27 19:48] zware commented on #75765
Sounds like we really ought to be building each translation in its own directory so they can't possibly stomp on each other.

[2017-09-27 19:54] JulienPalard commented on #75765
I'd prefer to understand exacly what is going wrong and fix it, but I agree it would fix the issue and even fix the other hypothesis, so I don't exclude doing it, even if I find the root cause.

I'm currently doing a full build locally (I previously tried building using the [Doc/Makefile](https://github.com/python/cpython/blob/main/Doc/Makefile), was unable to reproduce the bug, I'm now building u

[2017-09-27 20:38] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75786
thanks :)
opened http://psf.upfronthosting.co.za/roundup/meta/issue642

[2017-09-27 20:49] ezio-melotti commented on #75786
This should be fixed now, thanks for the report!

[2017-09-27 20:49] #75786 closed, assigned to ezio-melotti

[2017-09-27 20:50] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75786
fixed indeed. thanks! :)

[2017-09-27 20:55] 9b1a7a3f-6736-4ab6-819b-cdb360447917 opened #75795 "can't list groupby generator without breaking the sub groups generators"
BPO | [31614](https://bugs.python.org/issue31614)
--- | :---
Nosy | @rhettinger, @ericvsmith

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-27 20:55] 9b1a7a3f-6736-4ab6-819b-cdb360447917 commented on #75795
If I "list" the itertools groupby generator, then the sub generators of each groups are all empty except the last one.

[code]

The need for saving the group generator first exists when I need the number of groups before walking thru the groups, like in the above example.

I have not been able to test to latest python versions, is the problem already fixed ?

[2017-09-27 21:27] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75603
Hello,

There are no parameters for the buttons.

There is a difference in behaviour between messagebox windows (no shortcuts at all) to askopenfilename from tkinter.filedialog where the Open button has teh shortcut (but the Cancel one doesn't).

Best regards,

JM

[2017-09-27 21:29] cafeb650-7e75-4b36-af3a-ac569f3917d6 commented on #75794
Hello,

I would expect the same behaviour as askopenfilename from tkinter.filedialog where the buttons are localized (in my case in Portuguese).

What I get is the buttons (in tkinter.simpledialog) are always in English.

Best regards,

JM

[2017-09-27 21:29] rhettinger commented on #75795
Except for display the last few elements, this is the documented and intended behavior: ( https://docs.python.org/3/library/itertools.html#itertools.groupby ):

'''
The returned group is itself an iterator that shares the underlying iterable with groupby(). Because the source is shared, when the groupby() object is advanced, the previous group is no longer visible. So, if that data is needed later

[2017-09-27 21:29] #75795 closed, assigned to rhettinger

[2017-09-27 22:33] JulienPalard commented on #75765
I'm still unable to reproduce the bug.

I'm now monitoring the docs.python.org hierarchy whith a:

grep -rl 'définition' /srv/docs.python.org/ja/; grep -rl か /srv/docs.python.org/{2.7,3.6,3.7}

So if it happen again we'll maybe learn more, according to this simple grep the bug is not on production at this time on any page.

[2017-09-28 04:07] terryjreedy commented on #75733
Two concrete reasons to make the conversion: two issues are stymied by current tree.TreeNode.

1. bpo-25090 tree.TreeNode requires an icon for every line.  Hence functions and classes get python file and director icons and they are difficult to remove.  By default, Treeview items do not get an image beside the text.

2. bpo-20827 tree.TreeNode hardcodes single click behavior (in multiple places).

[2017-09-28 04:22] terryjreedy commented on #75733
The main issue for conversion is expanding nodes.  tree.py does not define a widget class.  Rather, is uses a used a canvas and places images and text thereupon.  The latter is done with instances of TreeNode.  Each instance thereof is initialized with an instance of a subclass of TreeItem.  TreeItems can tell their TreeNode whether they can generate children without actually doing so.

Treeview \

[2017-09-28 04:31] terryjreedy commented on #75603
jcr: 3.5 only gets security fixes.  If this issue does not apply to 3.6 or 3.7, this should be closed.  When core developers (snake after name) change the headers, you should assume that they know what they are doing and not change them back.

[2017-09-28 07:05] ed12a635-3156-4521-8a04-29436141759c commented on #75796
Hi Team,

I'm facing BufferOverflow Exception when python interpreter is trying to start.

Below is an excerpt of error.
\-----------------------------------------------------------------
[code]

----------------------------------------------------------------

Please help on probable causes for the same.

Thanks

[2017-09-28 07:05] ed12a635-3156-4521-8a04-29436141759c opened #75796 "Python interpreter is failing due to BufferOverflow Exception"
BPO | [31615](https://bugs.python.org/issue31615)
--- | :---
Nosy | @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-28 07:05] serhiy-storchaka commented on #75160
This change breaks pickle.

You should preserve forward and backward pickle compatibility.

1. Pickle data produced by old Python versions should be unpickleable with a new implementation. Implement \_\_setstate__ for satisfying this.

2. Pickle data produced by a new implementation should be unpickleable in old Python versions. There are many ways to satisfy this, you should choose the most effic

[2017-09-28 07:17] serhiy-storchaka commented on #75796
The correct place for reporting Jython bugs is http://bugs.jython.org/.

[2017-09-28 07:17] #75796 closed, assigned to nobody

[2017-09-28 07:50] serhiy-storchaka commented on #75659
New changeset d780b2d588e68bd7047ef5d1f04e36da38b7a350 by Serhiy Storchaka (Oren Milman) in branch 'master':
bpo-31478: Fix an assertion failure in random.seed() in case a seed has a bad \_\_abs__() method. (bpo-3596)
https://github.com/python/cpython/commit/d780b2d588e68bd7047ef5d1f04e36da38b7a350

[2017-09-28 08:12] vstinner commented on #75605
New failure:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Installed%20with%20X%203.x/builds/1093/steps/test/logs/stdio

...

running: test_socket (238364 sec)
running: test_socket (238394 sec)
running: test_socket (238424 sec)
running: test_socket (238454 sec)
running: test_socket (238484 sec)
running: test_socket (238514 sec)
2 days, 18:18:45 load avg: 0.37 [407/407] test_socket interr

[2017-09-28 09:06] vstinner commented on #75341
Failure on x86 Gentoo Refleaks 3.x too:

http://buildbot.python.org/all/builders/x86%20Gentoo%20Refleaks%203.x/builds/104/steps/test/logs/stdio

\======================================================================
FAIL: test_basic (test.test_pty.PtyTest)
\----------------------------------------------------------------------
[code]

[2017-09-28 09:15] 1aac4539-68d6-4126-9c41-9ffee8d62ab0 commented on #75797
This seems to affect different versions of Python Windows installer. The problem is when Python is installed for all users (requires elevation) its binaries and DLLs are shipped with writable permission for "Authenticated Users":

PS C:\\Python36\> icacls python.exe
python.exe BUILTIN\\Administrators:(I)(F)
           NT AUTHORITY\\SYSTEM:(I)(F)
           BUILTIN\\Users:(I)(RX)
           NT AUTH

[2017-09-28 09:15] 1aac4539-68d6-4126-9c41-9ffee8d62ab0 opened #75797 "Windows installer: Python binaries are user-writable"
BPO | [31616](https://bugs.python.org/issue31616)
--- | :---
Nosy | @pfmoore, @tjguk, @bitdancer, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-28 09:17] serhiy-storchaka commented on #75659
New changeset befc956acf8ddeb94f000ed081ddec51315429e5 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31478: Fix an assertion failure in random.seed() in case a seed has a bad \_\_abs__() method. (GH-3596) (bpo-3794)
https://github.com/python/cpython/commit/befc956acf8ddeb94f000ed081ddec51315429e5

[2017-09-28 09:34] pitrou commented on #75717
Victor, are the buildbots fine now?

[2017-09-28 09:36] vstinner commented on #75717
I didn't see anything wrong on buildbots, nor Travis CI/AppVeyor on PRs. So we can now backport the "optimization". Do you want to do it, Antoine?

[2017-09-28 10:03] matrixise commented on #75788
Raymond,

+1 for the set/get commands for the parameters.

I could update my PR with your suggestions.

Stephane

[2017-09-28 10:22] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75659
With regard to backporting to 2.7:

In 2.7 also, PyNumber_Absolute() is called, and its return value is stored in
the variable n.
However, there is no \_PyLong_NumBits(n), so there is no assertion failure.
If n isn't an integer:
- if !PyObject_IsTrue(n), then the seed is zero (e.g. if n is None, [], () or {})
- otherwise, PyNumber_And() and PyNumber_Rshift() are used in a loop on n, so
  probably

[2017-09-28 11:09] 1f374817-ea4c-4fd4-8797-34a4b9803b71 opened #75798 "os.path.join() return wrong value in windows"
BPO | [31617](https://bugs.python.org/issue31617)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @quangnt

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-09-28 11:09] 1f374817-ea4c-4fd4-8797-34a4b9803b71 commented on #75798
In windows if we use os.path.join('C:\\\\Test\\\\UnitTest', '/Page') ==\> It returns 'C:/Page' ==\> It should be 'C:\\\\Test\\\\UnitTest/Page'.

[2017-09-28 11:09] eryksun commented on #75797
The "(I)" flag in an icacls entry means it's inherited from the parent directory. The installer doesn't override these inherited permissions. Currently, it's your responsibility to do this if you install to a custom directory such as C:\\Python36.

Starting with Python 3.5, a per-machine installation defaults to a subdirectory of Program Files. This system directory only grants standard users gene

[2017-09-28 11:20] ericvsmith commented on #75795
Loïc Le Loarer: Note that your use case isn't possible, anyway. There's no way to know the number of groups until the input is exhausted, at which point you've already iterated through all of the data.

[2017-09-28 11:21] pitrou commented on #75717
New changeset ec3d34c5b2feb10cb4d7606a10d81c178c3afce3 by Antoine Pitrou (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31536: Avoid wholesale rebuild after `make regen-all` (GH-3678) (bpo-3797)
https://github.com/python/cpython/commit/ec3d34c5b2feb10cb4d7606a10d81c178c3afce3

[2017-09-28 11:21] #75717 closed, assigned to nobody

[2017-09-28 11:33] eryksun commented on #75798
This is explained in the docs:

    Join one or more path components intelligently.... If a
    component is an absolute path, all previous components are
    thrown away and joining continues from the absolute path
    component. On Windows, the drive letter is not reset when
    an absolute path component (e.g., r'\foo') is encountered.

[2017-09-28 11:33] #75798 closed, assigned to nobody

[2017-09-28 11:49] 1aac4539-68d6-4126-9c41-9ffee8d62ab0 commented on #75797
Thank you for the explanation. I understand this is intentional. However
user without such knowledge of inheritable permissions might want to
default the installation directory to the old one (C:\\PythonXX) and
could easily run into this issue without knowing. IMHO extra security
check or explicit warning wouldn't hurt here. Just my 5c.

On 9/28/2017 1:09 PM, Eryk Sun wrote:

[2017-09-28 12:40] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 opened #75799 "Change sys.settrace opcode tracing to occur after frame line number update"
BPO | [31618](https://bugs.python.org/issue31618)
--- | :---
Nosy | @ncoghlan, @nedbat, @njsmith, @serhiy-storchaka, @gwk
PRs | <li>python/cpython#3798</li><li>python/cpython#4045</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-09-28 12:40] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 commented on #75799
This patch moves the new opcode tracing added in commit 5a85167 to happen after frame-\>f_lineno is updated. With this patch, when both f_trace_lines and f_trace_opcodes are enabled the trace function will see the same line number for both the 'line' and 'opcode' events.

A side effect of this patch is that the order of event emission has been switched; 'line' now happens before 'opcode'. Maintain

[2017-09-28 12:45] 5d088e7f-313b-42e6-aa21-f85bbf47e2f0 commented on #75799
The feature was was implemented in bpo-31344. See bpo-29400 for my parallel effort, which has been abandoned.

[2017-09-28 13:27] bitdancer commented on #75797
In fact, this is a backward compatibility issue.  Users expect that if you install it in the old location, it behaves like it did in the old location (lower security), and this is probably depended on by a number of users of python.  We \*could* change it in some new feature release I suppose, but I'm pretty sure we consciously decided to go with this approach for this reason.

I do wonder what th

[2017-09-28 14:14] serhiy-storchaka opened #75800 "Strange error when convert hexadecimal with underscores to int"
BPO | [31619](https://bugs.python.org/issue31619)
--- | :---
Nosy | @birkenfeld, @mdickinson, @skrah, @serhiy-storchaka, @nitishch
PRs | <li>python/cpython#3816</li><li>python/cpython#3827</li><li>python/cpython#3863</li><li>python/cpython#3884</li><li>python/cpython#4690</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current sta

[2017-09-28 14:14] serhiy-storchaka commented on #75800
[code]

[2017-09-28 14:28] vstinner commented on #75341
Oh, in fact, it's not that hard to reproduce the failure on Linux:

[code]

test_pty failed
15 tests OK.

1 test failed:
    test_pty

Total duration: 486 ms
Tests result: FAILURE

[2017-09-28 14:29] serhiy-storchaka commented on #73915
I agree. In any case assert is a bad way of checking argument types. It was
added in 65b6a80f19736d6313d5eb896d6b2fb6bbf65a03 as a part of migration to
Python 3. I guess for debugging purposes. Now it isn't needed,
int.from_bytes() checks whether the type is appropriate.

Do you want to create a pull request Nic?

[2017-09-28 14:38] serhiy-storchaka commented on #73915
Ah, Victor already have created a PR!

[2017-09-28 14:38] vstinner commented on #75791
epoll requires mulitple system calls, whereas the selector seems to only be used only once in most cases, no?

Anyway, maybe selectors.DefaultSelector can be used here?

About poll(): be aware of macOS issues with poll() :-/

[2017-09-28 14:41] vstinner commented on #73915
Serhiy: is it safe to accept any memoryview? Or should we call explicitly .cast('B') on memory views to prevent bad surprises?

The asyncio module doesn't do anything special in sock_sendall(). "data" is passed directly to socket.send(), unchanged.

So maybe it's just fine to not do anything special.

[2017-09-28 14:50] 0d013f0e-0271-4f01-beb4-e3054bfc3188 commented on #75341
Regarding [PR 3802](https://github.com/python/cpython/pull/3802):
 * Does reading the string b'I wish to buy a fish license.\\n' not cause a problem, too?
 * Is reading len(expected) bytes the correct behavior for systems where normalize_output is needed?

I also fixed these issues in one of my (unmerged) pull requests (bpo bpo-29070). Unfortunately, the patch I propose does way too many things at

[2017-09-28 14:51] serhiy-storchaka commented on #73915
The code doesn't work nice with general objects supporting the buffer protocol. The length check suppose that the value has a length, and it is the size in bytes. The code for bytes_le suppose that the value supports slicing and concatenating results of the slicing. And all this code is made as fast as possible. Additional checks and conversions will slowdown it.