[2017-03-05 19:07] njsmith opened #73914 "Expose TCP_NOTSENT_LOWAT"
BPO | [29728](https://bugs.python.org/issue29728)
--- | :---
Nosy | @njsmith, @Mariatta
PRs | <li>python/cpython#477</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-05 19:07] njsmith commented on #73914
https://github.com/python/cpython/pull/477

[2017-03-05 19:09] rhettinger commented on #73910
Additional note:  For folks interested in performance, it is common for people not to realize that function call overhead can dominate their timings (see this recent SO question as a recent, but typical example http://stackoverflow.com/questions/41772054 ).

In any case, the note needs to remain because people commonly move these recipes into production code and need to be warned that basic optimi

[2017-03-05 19:18] rhettinger commented on #73913
One other thought:  array.array() object should probably be registered so that it recognizable as a Sequence and as Reversible.

[2017-03-05 19:36] ned-deily commented on #73909
I think this is a result of the changes introduced with bpo-29319.  Perhaps a more prominent NEWS entry is needed?  Nick?  Ned, does this change in behavior cause problems?

[2017-03-05 19:59] fcdc96d4-77c1-4326-9a94-a0ac9b5246bb opened #73915 "RFE: uuid.UUID(bytes=...): support bytes-like types, not only bytes"
BPO | [29729](https://bugs.python.org/issue29729)
--- | :---
Nosy | @warsaw, @vstinner, @serhiy-storchaka, @jnwatson
PRs | <li>python/cpython#3801</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></det

[2017-03-05 19:59] fcdc96d4-77c1-4326-9a94-a0ac9b5246bb commented on #73915
The assertion:

  File "/usr/lib/python3.6/uuid.py", line 150, in \_\_init__
    assert isinstance(bytes, bytes_), repr(bytes)

is too specific (and IMHO, unpythonic).  One may want to pass a bytearray or a memoryview.  See int.from_bytes for an example that takes "bytes" but accepts anything that acts like a bytes.

A simple solution may be to delete the assertion (it worked for me).

Example cod

[2017-03-05 22:00] eryksun commented on #73909
That's not the current directory. It's the 'script' directory (i.e. the parent of main361), as set by PySys_SetArgv when Py_IsolatedFlag isn't set.

The old behavior was for RunMainFromImporter to unconditionally replace this directory in sys.path with the import source for "\_\_main__.py", which is the correct behavior, except I think it should try to get an absolute path. The resolution for bpo-

[2017-03-05 22:01] vstinner commented on #73910
so to satisfy him I did one more run:

You are doing it the wrong way :-D Please replace Timeit(...) with
runner=perf.Runner() and then runner.timeit('bench1', ...).

Runner spaws multiples processes and then test if a comparison is
significant (perf compare_to a.json b.json).

Moreover, for microbenchmaks, I highly recommand to tune your system for
benchmarks: python3 -m perf system tune, and see

[2017-03-05 23:11] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
\------------ current state \------------
[code]

Something similar to this happens in:
    - [Modules/mmapmodule.c](https://github.com/python/cpython/blob/main/Modules/mmapmodule.c) in mmap_convert_ssize_t
    - [Modules/_io/_iomodule.c](https://github.com/python/cpython/blob/main/Modules/_io/_iomodule.c) in \_PyIO_ConvertSsize_t
    - [Modules/_io/stringio.c](https://github.com/python/cpython/bl

[2017-03-05 23:11] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #73916 "unoptimal calls to PyNumber_Check"
BPO | [29730](https://bugs.python.org/issue29730)
--- | :---
Nosy | @rhettinger, @mdickinson, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#622</li><li>python/cpython#650</li>
Files | <li>[patchVer2.diff](https://bugs.python.org/file46721/patchVer2.diff "Uploaded as text/plain at 2017-03-12.16:29:57 by @orenmn"): patch2 diff file</li>

<sup>*Note: these values reflect the state of the issue

[2017-03-05 23:19] nedbat commented on #73909
I don't have a specific problem that it causes. It's just a difference from any previous CPython version.

About the PyPy thing: it has always behaved this way:

[code]

[2017-03-05 23:22] 170ffa89-f0d3-4127-9de7-e20f1aa88525 commented on #73912
The cherry-pick is causing a merge conflict because 3.6 and 3.5 do not include the SimpleXMLRPCDispatcherTestCase that this fix modifies. Should I backport that entire test case as well as the fix?

[2017-03-05 23:29] rhettinger commented on #73916
+1 for removing each of these calls to PyNumber_Check.

[2017-03-05 23:32] rhettinger commented on #73881
I concur with Victor and Serhiy that we can bypass a deprecation phase here and just get it done.  In the rare case of int(x=3.14), the fix is trivial.

[2017-03-06 00:02] eryksun commented on #73909
Adding an arbitrary directory ahead of the standard library in sys.path is a problem waiting to happen. This also happens when the import source is a zip file, e.g. a .pyz app.

[2017-03-06 01:34] zware commented on #73757
This seems to have broken test_re on Windows, see https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.1

I found this change to be the culprit via git bisect, unfortunately we didn't have any working CI on Windows (buildbots were otherwise broken) at the time this was merged.

[2017-03-06 02:15] ned-deily commented on #73905
Sorry, I disagree.  I think the point of adding these directives is that shows for what release of 3.6.x they apply.  It is expected that the What's New documents may be updated during the lifecycle of a major release and having the release and date there lets the reader know that they are update.  For example, at the moment https://docs.python.org/3.6/whatsnew/3.6.html shows:

What’s New In Pytho

[2017-03-06 02:18] methane commented on #73905
https://docs.python.org/3.7/whatsnew/3.6.html shows:
Release:	3.7.0a0
Date:	February 15, 2017

Is it make sense for you?

[2017-03-06 02:20] methane commented on #73905
Additonally, unlike "changelog", "What's New" only shows difference between 3.5 and 3.6.  It won't be updated to describe changes between 3.6.0 and 3.6.1.

[2017-03-06 02:27] ned-deily commented on #73905
That's not always true.  There are occasionally changes made in the What's New document for maintenance releases.  See, for example, https://docs.python.org/3.5/whatsnew/3.5.html.  You'll find references to 3.5.1 and 3.5.2 there.

If it's truly bothering people, a better solution is to just remove the release and date directives.  They aren't there for earlier releases.  We can live without them.

[2017-03-06 02:28] methane commented on #73905
I'm sorry, I was wrong.

https://docs.python.org/3.5/whatsnew/3.5.html

asyncio has "Updates in 3.5.1:" section.
provisional package will introduce updates in what's new in bugfix release.

So is it OK to just removing Date and Release field?
"Date (when this HTML is built)" and "Release (of branch this page is built)" are not good for "What's New In 3.6" page.

[2017-03-06 02:29] ned-deily commented on #73905
Heh, it looks like we agree!

[2017-03-06 03:36] zhangyangyu commented on #73843
I agree with Eryk. The error message is misleading. When I see it, I take it as source -\> destination. I think we should make the error message clearer, or document it in the OSError documentation.

[2017-03-06 05:56] zhangyangyu commented on #73900
The problem is now \_PyBytes_FormatEx uses strchr to sniff %. It should use memchr instead.

[2017-03-06 05:59] eadbd4d3-cbb4-42b8-8420-9f80dcde2bcc commented on #73917
The warning module is extremely useful, especially the ability to change various level of verbosity and filter by multiple criteria.

It is though sometime hard to pinpoint why a warning was triggered, or actually what triggered a warning. This is often due to the fact that libraries don't set the `stacklevel=...`  correctly, that it is hard to get right (like at import time), or because warnings

[2017-03-06 05:59] eadbd4d3-cbb4-42b8-8420-9f80dcde2bcc opened #73917 "Ability to filter warnings to print current stack"
BPO | [29731](https://bugs.python.org/issue29731)
--- | :---
Nosy | @pitrou, @vstinner, @tiran, @Carreau
PRs | <li>python/cpython#498</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-06 06:54] serhiy-storchaka commented on #73881
I already merged the patch as 58d23e68068996c76cac78887ec67dee68cdbc72.

If you think that it would be better to remove without deprecation, the following patch does this.

[2017-03-06 07:04] rhettinger commented on #73881
I do think it would be better to not have the deprecation.

[2017-03-06 07:32] f18467eb-51ed-4907-a86f-19236d4ecfb1 commented on #73876
Neither documentation is clear on whether each of those flags are available for strptime too. A precision should be added on a flag if it's not available for strptime. What do you think ?

[2017-03-06 07:52] benjaminp commented on #73757
Yep, I think we should merge https://github.com/python/cpython/pull/422 and revert ncoghlan's change.

[2017-03-06 07:54] serhiy-storchaka commented on #73757
I'm not sure this will help on Windows.

[2017-03-06 07:55] serhiy-storchaka commented on #73757
And I don't understand why my fix doesn't work on Windows.

[2017-03-06 07:55] benjaminp commented on #73757
But the test was never broken on windows.

On Sun, Mar 5, 2017, at 23:54, Serhiy Storchaka wrote:

[2017-03-06 07:55] benjaminp commented on #73757
getpreferredencoding() takes a completely different path on windows
(returns a codepage) and isn't related to the C locale.

[2017-03-06 07:58] ncoghlan commented on #73757
I'm with Serhiy on this one: if the "re" module isn't using locale.getpreferredencoding(), then there's something odd going on.

It just sounds like the disconnect on Windows is the opposite of the one we hit on Linux without Benjamin's patch, perhaps due to the UTF-8 mode changes - it wouldn't surprise me to learn that the re module is still using mbcs there instead of utf-8.

[2017-03-06 08:01] benjaminp commented on #73757
I don't see what's odd about it. re.LOCALE uses the C locale, which one
obtains from locale.getlocale(). getpreferredencoding() is not
documented to have anything to do with the C locale, and indeed on
Windows it may be completely different.

[2017-03-06 08:13] 422cdea5-f3ab-4af6-8a0f-63cef39f2d96 commented on #73918
After some fuzz testing I found a crashing test case.

Version: 2.7.13 compiled from source with Clang 3.9.1.

To reproduce: python python_hoobr_tok_nextc.py

Extract from Valgrind log (full log file at https://gist.github.com/fumfel/f9780e567dec761f8524523fff040742):

==15583== Process terminating with default action of signal 11 (SIGSEGV)
==15583==  Bad permissions for mapped region at address 0

[2017-03-06 08:13] 422cdea5-f3ab-4af6-8a0f-63cef39f2d96 opened #73918 "Heap out of bounds read in tok_nextc()"
BPO | [29732](https://bugs.python.org/issue29732)
--- | :---
Nosy | @serhiy-storchaka, @isidentical, @iritkatriel
Files | <li>[python_hoobr_tok_nextc.py](https://bugs.python.org/file46704/python_hoobr_tok_nextc.py "Uploaded as text/plain at 2017-03-06.08:13:43 by Kamil Frankowicz"): PoC to trigger heap out of bounds read</li>

<sup>*Note: these values reflect the state of the issue at the time it

[2017-03-06 09:33] e6b5f146-fc58-407c-9b22-efe2601bb44a commented on #73781
Hello again, there's a reviewed PR open for this issue and it hasn't even received authoritative feedback yet (ie whether or not you intend to support this feature at all). I would be very happy if a core dev could look over this change before everyone forgets about it :)

[2017-03-06 10:18] zhangyangyu commented on #73900
Thanks for the report, Nick!

[2017-03-06 10:18] #73900 closed, assigned to zhangyangyu

[2017-03-06 10:27] vstinner commented on #73900
I confirm that I introduced the regression with the commit fa7762ec066aa3632a25b6a52bb7597b8f17c2f3: "Issue bpo-25349: Optimize bytes % args using the new private \_PyBytesWriter API". Sorry about that, I always forget that str*() functions should not be used in Python since we support embedded null bytes :-/ It seems like only Python 3.6.0 release is affected.

"git tag --contains fa7762ec066aa36

[2017-03-06 10:27] vstinner commented on #73900
Oh, and thank you for adding new unit tests ;-) Do we need similar unit tests for str%args and str.format()?

[2017-03-06 10:40] serhiy-storchaka commented on #73751
New test causes a compiler warning:

/home/serhiy/py/cpython/Modules/_ctypes/_ctypes_test.c: In function ‘_testfunc_large_struct_update_value’:
/home/serhiy/py/cpython/Modules/_ctypes/_ctypes_test.c:53:42: warning: parameter ‘in’ set but not used [-Wunused-but-set-parameter]
 \_testfunc_large_struct_update_value(Test in)
                                          ^

Could it be silenced?

[2017-03-06 11:08] zhangyangyu commented on #73900
I think no. String is not affected now and its code uses related macros so I don't think it could suffer possible regression.

[2017-03-06 11:23] 74280829-be58-49e2-a140-7fcaa2e8bd71 commented on #73919
when I use as_completed function to wait my futures, if I sleep more than timeout seconds in each iteration , I found that futures has been set result, but raise TimeoutError. as my test example code shows:

[code]

[code]

[2017-03-06 11:23] 74280829-be58-49e2-a140-7fcaa2e8bd71 opened #73919 "concurrent.futures as_completed raise TimeoutError wrong"
BPO | [29733](https://bugs.python.org/issue29733)
--- | :---
Nosy | @MojoVampire, @jiang-wanwei

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-06 11:26] eryksun commented on #73920
The implementation of nt.\_getfinalpathname leaks a File handle if calling GetFinalPathNameByHandle fails. The latter function is practically guaranteed to fail when resolving the path for a non-file-system device. It also fails when VOLUME_NAME_DOS is requested for a volume GUID path that isn't currently mounted as either a DOS drive letter or an NTFS junction. In this case requesting VOLUME_NAME

[2017-03-06 11:26] eryksun opened #73920 "os.stat handle leak"
BPO | [29734](https://bugs.python.org/issue29734)
--- | :---
Nosy | @pfmoore, @tjguk, @berkerpeksag, @zware, @eryksun, @zooba, @miss-islington
PRs | <li>python/cpython#740</li><li>python/cpython#11740</li><li>python/cpython#11740</li><li>python/cpython#12908</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<d

[2017-03-06 13:04] 093405a7-d8be-4643-b0e5-8972273cdeb5 commented on #73886
On Python 3, crash_readline_fdset.py does not crash for me, because its input() contains a check documented as:

       /* We should only use (GNU) readline if Python's sys.stdin and
          sys.stdout are the same as C's stdin and stdout, because we
          need to pass it those. */

and calls sys.stdin.getline() instead.

I don't understand why this was added (eba769657a32cb08d96f021f40c79a5

[2017-03-06 13:22] vstinner opened #73921 "Optimize functools.partial() for positional arguments"
BPO | [29735](https://bugs.python.org/issue29735)
--- | :---
Nosy | @rhettinger, @ncoghlan, @vstinner, @methane, @serhiy-storchaka, @1st1
PRs | <li>python/cpython#516</li>
Files | <li>[bench_fastcall_partial.py](https://bugs.python.org/file46725/bench_fastcall_partial.py "Uploaded as text/plain at 2017-03-14.12:08:12 by @vstinner")</li><li>[partial_stack_usage.py](https://bugs.python.org/file46726

[2017-03-06 13:22] vstinner commented on #73921
The pull request makes functools.partial() faster for positional arguments. It avoids the creation of a tuple for positional arguments. It allocates a small buffer for up to 5 parameters. But it seems like even if the small buffer is not used, it's still faster.

Use small buffer, total: 2 positional arguments.

haypo@smithers$ ./python -m perf timeit -s 'from functools import partial; f = lambda

[2017-03-06 13:32] vstinner commented on #73921
functools.partial() is commonly used in the the asyncio module. The asyncio doc suggests to use it, because of deliberate limitations of the asyncio API.

[2017-03-06 14:24] vstinner commented on #73881
@Serhiy: Can you please create a PR for it?

[2017-03-06 14:31] vstinner commented on #73900
Xiang Zhang added the comment:

Regressions are not something "expected", shit happens, all the time.
Unexpected corner cases are common :-)

[2017-03-06 14:34] serhiy-storchaka commented on #73881
If David agrees with this.

[2017-03-06 14:50] bitdancer commented on #73881
If Raymond is on the side of skipping the deprecation than I'm good with it.  Like I said, this is a marginal case.

[2017-03-06 14:56] vstinner commented on #73922
Attached PR replaces PyArg_ParseTupleAndKeywords() with
\_PyArg_ParseTupleAndKeywordsFast() to optimize the constructor of the
builtin types:

* bool: bool_new()
* bytes: bytes_new()
* complex: complex_new()
* float: float_new()
* int: long_new()
* list: list_init()
* str: unicode_new()
* tuple: tuple_new()

When using keywords, the speedup is between 1.55x faster and 1.92x faster.

When using onl

[2017-03-06 14:56] vstinner opened #73922 "Optimize builtin types constructor"
BPO | [29736](https://bugs.python.org/issue29736)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#519</li>
Files | <li>[bench.py](https://bugs.python.org/file46705/bench.py "Uploaded as text/plain at 2017-03-06.14:56:14 by @vstinner")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<d

[2017-03-06 14:58] serhiy-storchaka commented on #73921
What about C stack consumption? Is not this increase it?

Since nested partial()\`s are collapsed, you need to interlace them with other wrapper for testing.

[code]

[2017-03-06 15:04] serhiy-storchaka commented on #73922
The half of constructors no longer use PyArg_ParseTupleAndKeywords().

I would wait until constructors be converted to Argument Clinic. There are ready patches for some of these builtin types, patches for other are in proggress.

[2017-03-06 15:11] serhiy-storchaka commented on #73881
Thanks all!

[2017-03-06 15:16] vstinner commented on #73881
Unhappy buildbot.

http://buildbot.python.org/all/builders/AMD64%20Debian%20root%203.x/builds/456/steps/test/logs/stdio

\======================================================================
ERROR: test_keyword_arguments (test.test_descr.ClassPropertiesAndMethods)
\----------------------------------------------------------------------
[code]

=====================================================

[2017-03-06 15:48] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73919
The docs ( https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.as_completed ) do seem to indicate it shouldn't do so as long as results were available before the timeout expired:

"The returned iterator raises a concurrent.futures.TimeoutError if \_\_next__() is called and the result isn’t available after timeout seconds from the original call to as_completed()."

My readi

[2017-03-06 15:49] ncoghlan commented on #73909
I think Eryk's diagnosis is correct: this is a straight up bug in the original patch, where it's missing the check to only use the new logic when in isolated mode (as it's compensating for the fact that there is no extra sys.path[0] entry inserted in that case).

I mentioned that on the original issue http://bugs.python.org/issue29319#msg285904 but hadn't noticed that the relevant check was missin

[2017-03-06 15:52] ncoghlan commented on #73757
Thanks for the explanation - given that, I agree that simply reverting the attempted test-based fix and instead relying on the bpo-20087 updates is the way to go.

[2017-03-06 16:52] serhiy-storchaka commented on #73921
If the underlying function doesn't support fast call, and either args or pto-\>args are empty, partial_call() makes two unneeded copyings. Arguments are copied from a tuple to the raw array and from the array to new tuple. This is what the current code does, but this can be avoided.

If the underlying function doesn't support fast call, and both args and pto-\>args are not empty, patched partial_c

[2017-03-06 17:06] methane commented on #73862
OK, now I found what caused this difference.

lsprof expect `func` is PyCFunction object.  But it can be PyMethodDescrObject when LOAD_METHOD is used to call C method.

In [Modules/_lsprof.c](https://github.com/python/cpython/blob/main/Modules/_lsprof.c) (line 459):

    case PyTrace_C_CALL:
        if ((((ProfilerObject *)self)->flags & POF_BUILTINS)
            && PyCFunction_Check(arg)) {

[2017-03-06 17:42] ned-deily commented on #73909
Thanks for the analysis, Eryk and Nick.  Then this sounds like a release blocker problem that should be fixed for 3.6.1.  Steve, can you take a look, please?

[2017-03-06 18:44] brettcannon commented on #73902
I've gone ahead and closed this. Thanks for taking the time to check in on this, James!

[2017-03-06 18:44] #73902 closed, assigned to nobody

[2017-03-06 19:15] brettcannon commented on #73877
The test_traceback changes should be easy to tweak to use a regex or startwith() check so the tests pass again.

For the test_xml_etree failures I'm not sure how best to fix that other than taking it out. Maybe if sys.gettrace() returns something then skip the test?

[2017-03-06 19:29] serhiy-storchaka commented on #73877
Is this a duplicate of bpo-29048?

[2017-03-06 19:37] brettcannon commented on #73877
I don't think it's a duplicate because we had a passing coverage run when we initially made the migration so something got tweaked to lead to the failures.

[2017-03-06 19:38] brettcannon commented on #73877
BTW, just because I assigned this to me doesn't mean others can't write a PR to solve this. :) I will review any PR that fixes this issue, I'm just going to make sure it gets solved no matter what if no one else creates a PR.

[2017-03-06 19:40] JelleZijlstra commented on #73877
I'll look into creating a PR when I have some time.

It would also be useful to tweak the Travis/coverage configuration so that it fails loudly if one of the tests doesn't pass in the coverage check.

[2017-03-06 19:48] serhiy-storchaka opened #73923 "Optimize concatenating empty tuples"
BPO | [29737](https://bugs.python.org/issue29737)
--- | :---
Nosy | @rhettinger, @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#524</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-06 19:48] serhiy-storchaka commented on #73923
Since tuples are immutable, concatenating with empty tuple can be optimized by returning an opposite argument.

Microbenchmarks (the difference is larger for larger tuples):

[code]

Non-empty tuples are not affected:

[code]

[2017-03-06 20:10] b679055b-4f0a-4208-a5af-363e1e65268d commented on #73924
The code snippet in bpo-25569 reproduces the memory leak with Python 3.6.0 and 2.7.13. The current memory leak is a regression that was introduced in bpo-26470.

Going to attach a PR on github that fixes the issue shortly.

[2017-03-06 20:10] b679055b-4f0a-4208-a5af-363e1e65268d opened #73924 "Fix memory leak in SSLSocket.getpeercert()"
BPO | [29738](https://bugs.python.org/issue29738)
--- | :---
Nosy | @tiran, @Mariatta, @olivielpeau
PRs | <li>python/cpython#526</li><li>python/cpython#1142</li><li>python/cpython#1143</li><li>python/cpython#1144</li><li>python/cpython#1146</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Sh

[2017-03-06 20:29] serhiy-storchaka commented on #73877
The list of failing tests in bpo-29048 contains test_traceback and test_xml_etree. Thus this issue may be a part of bpo-29048. Some tests may be fixed since reporting bpo-29048.

[2017-03-06 20:48] 92a8c186-d8e4-4ba6-98b7-569174c59511 commented on #73925
This bug arises when attempting to unzip a password-protected zipfile using the wrong password.

Usually when zipfile extraction is attempted with an incorrect password, zipfile raise `RuntimeError("Bad password for file")`. But for a small subset of passwords (about .4% of possible passwords), it instead raises `BadZipfile("Bad CRC-32 for file")`.

Attached is a script that attempts to decrypt a

[2017-03-06 20:48] 92a8c186-d8e4-4ba6-98b7-569174c59511 opened #73925 "zipfile raises wrong exception for some incorrect passwords"
BPO | [29739](https://bugs.python.org/issue29739)
--- | :---
Nosy | @bitdancer, @serhiy-storchaka, @jcushman
Files | <li>[fail.py](https://bugs.python.org/file46706/fail.py "Uploaded as text/plain at 2017-03-06.20:48:17 by @jcushman"): Reproduction script</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<deta

[2017-03-06 21:01] vadmium commented on #73886
“Input9)” is probably a typo for “input()”.

In Python 2, sys.stdin etc are by default wrappers around \<stdio.h\>’s “stdin” etc, and can easily be wrappers around other \<stdio.h\> FILE objects, so the PyOS_Readline API and Python’s “readline” module pass these \<stdio.h\> objects directly to rl_instream etc.

In Python 3, sys.stdin etc are not directly related to \<stdio.h\> objects. But the PyO

[2017-03-06 21:13] vstinner commented on #73922
Do you have links for these changes? It's painful to search for Argument Clinic changes, the issue title doesn't say anything except "derby \<number\>" :-/

[2017-03-06 21:25] 42da6ab9-c997-4d11-a122-c8c0585928d2 opened #73926 "Visual C++ CRT security update from 14 June 2011"
BPO | [29740](https://bugs.python.org/issue29740)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @zooba, @markuskramerIgitt

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-06 21:25] 42da6ab9-c997-4d11-a122-c8c0585928d2 commented on #73926
In 14 June 2011 Microsoft released Visual C++ 2008 runtime MFC Security Update https://www.microsoft.com/en-us/download/details.aspx?id=26368

The Security Update also updates the CRT runtime (used by Python 2.7)

Without the security update, Python 2.7.13 uses vc90.crt 9.0.30729.4940
With the security  update, Python 2.7.13 uses vc90.crt 9.0.30729.6161
(Use e.g. Sysinternals procexp to see)

Why

[2017-03-06 21:27] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #73927 "BytesIO methods don't accept integer types, while StringIO counterparts do"
BPO | [29741](https://bugs.python.org/issue29741)
--- | :---
Nosy | @amauryfa, @pitrou, @benjaminp, @florentx, @vadmium, @serhiy-storchaka, @zooba, @orenmn
PRs | <li>python/cpython#560</li><li>python/cpython#606</li>
Files | <li>[patchDraft1.diff](https://bugs.python.org/file46709/patchDraft1.diff "Uploaded as text/plain at 2017-03-08.10:05:41 by @orenmn"): patch first draft</li>

<sup>*Note: thes

[2017-03-06 21:27] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
\------------ current state \------------
[code]

io.StringIO('blah blah').read(IntLike(2))
io.StringIO('blah blah').readline(IntLike(2))
io.StringIO('blah blah').truncate(IntLike(2))

io.BytesIO(b'blah blah').read(IntLike(2))
io.BytesIO(b'blah blah').readline(IntLike(2))
io.BytesIO(b'blah blah').truncate(IntLike(2))

The three StringIO methods are called without any error, but each of the three
B

[2017-03-06 21:48] serhiy-storchaka commented on #73922
float, list: bpo-20185.

[2017-03-06 22:35] fafhrd91 opened #73928 "asyncio get_extra_info() throws exception"
BPO | [29742](https://bugs.python.org/issue29742)
--- | :---
Nosy | @bitdancer, @1st1, @fafhrd91
PRs | <li>python/cpython#494</li><li>python/cpython#525</li><li>python/cpython#645</li><li>python/cpython#646</li><li>python/cpython#703</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more

[2017-03-06 22:35] fafhrd91 commented on #73928
https://github.com/python/asyncio/issues/494

[2017-03-06 22:37] fafhrd91 commented on #73928
exception on get_extra_info() on closed ssl transport

[code]

[2017-03-06 22:44] bitdancer commented on #73928
Thanks for the report and PR, but your fix is not obviously correct.  In general exceptions are the way in Python that errors are reported, and asking for extra_info on a closed stream is an error.  The exception raised is not clear, so perhaps the asyncio folks will want to improve it.  Or perhaps I'm wrong and they will want to return None, but I'll be a bit surprised if that is the case :)

[2017-03-06 22:49] fafhrd91 commented on #73928
get_extra_info() returns optional transport information, I think it is ok to return None for closed transport.
https://github.com/python/cpython/blob/master/Lib/asyncio/transports.py#L18

I propose this feature initially, during early tulip development
but now I think it is not good api.

[2017-03-06 22:50] 1st1 commented on #73928
Not for this particular asyncio method though, see asyncio PEP [1]. But there's an actual bug in the PR, instead of returning `None` we should return `default`.

[1] https://www.python.org/dev/peps/pep-3156/#methods-for-all-transports

[2017-03-06 23:00] fafhrd91 commented on #73929
https://github.com/python/asyncio/issues/487
https://github.com/KeepSafe/aiohttp/issues/1679

[2017-03-06 23:00] fafhrd91 opened #73929 "Closing transport during handshake process leaks open socket"
BPO | [29743](https://bugs.python.org/issue29743)
--- | :---
Nosy | @1st1, @fafhrd91
PRs | <li>python/cpython#480</li><li>python/cpython#2044</li><li>python/cpython#2045</li><li>python/cpython#10029</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-03-06 23:10] vadmium commented on #73927
What is the use case? Unless changing the behaviour would be useful, I think the simplest solution would be to document that the methods should only be given instances of “int”, so that it is clear that other kinds of numbers are unsupported.

[2017-03-07 00:16] 67d83e27-f754-44bf-a519-4bc691319202 opened #73930 "memmap behavior changed"
BPO | [29744](https://bugs.python.org/issue29744)
--- | :---
Nosy | @agiovann

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-07 00:16] 67d83e27-f754-44bf-a519-4bc691319202 commented on #73930
The previous version 2.7.12 was returning a memmap file when slicing with a list of integers, now it returns an array. This affects the behaviour of several functions in my package. Is that an aware choice or a side product of some other change?

[2017-03-07 00:24] fafhrd91 opened #73931 "asyncio: Make pause/resume_reading idepotent and no-op for closed transports"
BPO | [29745](https://bugs.python.org/issue29745)
--- | :---
Nosy | @asvetlov, @1st1, @fafhrd91, @iritkatriel
PRs | <li>python/cpython#528</li>
Superseder | <li>bpo-32356: asyncio: Make transport.pause_reading()/resume_reading() idempotent; add transport.is_reading()</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*<

[2017-03-07 00:24] fafhrd91 commented on #73931
https://github.com/python/asyncio/issues/488

[2017-03-07 01:13] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
I don't have a use case for that. (I noticed this behavior by
chance, while working on some other issue.)

However, IIUC, commit 4fa88fa0ba35e25ad9be66ebbdaba9aca553dc8b,
by Benjamin Peterson, Antoine Pitrou and Amaury Forgeot d'Arc,
includes patching the aforementioned StringIO functions, so that
they would accept integer types.
So I add them to the nosy list, as I guess that the use cases for
ac

[2017-03-07 01:48] rhettinger commented on #73923
Is it at all common to concatenate empty tuples?  This seems like optimizing something that rarely occurs.

Also, the timings can be misleading if in real code these changes cause new branch mispredictions here which can slow the common case.  See http://stackoverflow.com/questions/11227809

[2017-03-07 03:25] #73930 closed, assigned to nobody

[2017-03-07 05:24] #73862 closed, assigned to nobody

[2017-03-07 05:39] serhiy-storchaka commented on #73923
I agree with your comments Raymond, but let me to expose my reasons.

An idea of optimizing empty tuple concatenating is inspired by partial(). It concatenates two tuples of arguments and it is common when one of tuple is empty. Current C implementation makes special case for this (and does this suboptimal). With optimized empty tuple concatenating it could be simpler and more efficient. Even when

[2017-03-07 06:18] serhiy-storchaka commented on #73927
Other objects in the io module use special-purposed converter \_PyIO_ConvertSsize_t() which checks PyNumber_Check() and calls PyNumber_AsSsize_t().

I think StringIO implementation can be changed to reuse \_PyIO_ConvertSsize_t() for simplicity.

After that BytesIO implementation can be changed to use the same converter just for uniformity.

[2017-03-07 06:24] serhiy-storchaka commented on #73925
ZIP file has something like 8-bit control sum for checking the validity of the password. With the chance 1/256 the check is passed for wrong password. This is unavoidable.

[2017-03-07 06:32] serhiy-storchaka commented on #73927
Are there tests for accepting non-integers in other classes? If no then don't bother about tests. I suppose all this came from the implementation of the 'n' format unit in PyArg_Parse* functions.

[2017-03-07 06:39] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #73880
A different bug in the same code: if someone creates the directory itself between the two calls to ``self._accessor.mkdir(self, mode)``, then the function will fail with an exception even if ``exist_ok=True``.

Attached is a patch that fixes both cases.

[2017-03-07 09:46] serhiy-storchaka commented on #73922
Actually there is an issue with using Argument Clinic for constructors. I wrote a patch that fixes it and converts constructors of basic types to Argument Clinic a half year ago, but it was not finished and published due to focusing on 3.6. I'll update and publish it soon.

[2017-03-07 10:41] serhiy-storchaka commented on #73932
The marshal module documentation still uses terms from Python 2. It mentions sys.stdin and os.popen() as legitimate sources (but they are text files).

[2017-03-07 10:41] serhiy-storchaka opened #73932 "Update marshal docs to Python 3"
BPO | [29746](https://bugs.python.org/issue29746)
--- | :---
Nosy | @bitdancer, @vadmium, @serhiy-storchaka, @Mariatta
PRs | <li>python/cpython#547</li><li>python/cpython#630</li><li>python/cpython#631</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fi

[2017-03-07 10:43] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
using \_PyIO_ConvertSsize_t sounds great.

with regard to tests for accepting integer types in other classes,
there aren't a lot of them, so I guess it is not always tested.
still, it is tested in (excluding tests of the actual feature of
treating integer types as ints): test_bytes, test_cmath, test_int,
test_math, test_range, test_re, test_slice, test_struct,
test_unicode and test_weakref.

[2017-03-07 11:32] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
also with regard to adding tests, consider the following scenario:
in the future, someone writes a patch for these functions, which
makes them not accept integer types anymore.
assuming the tests don't exist, the writer of the patch doesn't
realize the patch broke something, and so the patch is committed.
years later, when the patch is finally a part of the stable release,
it breaks a lot of code

[2017-03-07 12:51] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 opened #73933 "unittest - assertDoesNotRaise"
BPO | [29747](https://bugs.python.org/issue29747)
--- | :---
Nosy | @bitdancer, @viniciusd
PRs | <li>python/cpython#551</li>
Superseder | <li>bpo-14403: unittest module: provide inverse of &quot;assertRaises&quot;</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p

[2017-03-07 12:51] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 commented on #73933
Unittest provides us some assert methods, yet one is missing: the assertDoesNotRaise context.
When running tests, tests may end up as failures, successes or errors. It's worth noting that errors and failures are conceptually different, and that's the point on having an assertDoesNotRaise context, alike the assertRaises context.
This context would be useful, for example, when using Selenium client,

[2017-03-07 13:06] serhiy-storchaka opened #73934 "Argument Clinic: slice index converter"
BPO | [29748](https://bugs.python.org/issue29748)
--- | :---
Nosy | @vstinner, @larryhastings, @serhiy-storchaka
PRs | <li>python/cpython#549</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-07 13:06] serhiy-storchaka commented on #73934
Following PR adds the slice index converter. It can be used for converting indices in methods like list.index() and str.find().

[2017-03-07 13:44] vstinner opened #73935 "Outdated int() docstring"
BPO | [29749](https://bugs.python.org/issue29749)
--- | :---
Nosy | @brettcannon, @vstinner, @serhiy-storchaka, @svelankar
PRs | <li>python/cpython#565</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-03-07 13:44] vstinner commented on #73935
bpo-29695 removed "bad keyword parameters in int(), bool(), float(), list() and tuple()", but int docstring (at least) is now outdated:

[code]

[2017-03-07 14:13] bitdancer commented on #73933
This has already been discussed and rejected (bpo-14403).  In practice the distinction between a failure and an error is not useful, and a comment in the test is IMO clearer than a no-op context manager: you can use a positive sentence instead of the reader having to understand a double negative ("Make sure there is an alert present; this will raise if not.")

The fact that there is no method to c

[2017-03-07 14:13] #73933 closed, assigned to nobody

[2017-03-07 15:40] serhiy-storchaka commented on #73779
See also bpo-17792.

[2017-03-07 15:55] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 commented on #73872
In the point of view of a tester, if it's an error, they will know right
away it is a test case problem, not an assert problem. That makes debugging
easier.
It is also important to note that, if it's an AssertionError, we may add a
message. While, if it is an error, no message would be displayed but the
original Exception's.

As Selenium's example, as I said, was just a use case example.

Finally,

[2017-03-07 16:00] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 commented on #73723
If I may ask, what was the decision on this matter?

We are planning to rebase Python 3.5 for Fedora and this currently blocks us, if we do not work this around with a patch.
Let me know if there is anything I can help with to speed up the process.

[2017-03-07 16:55] 92a8c186-d8e4-4ba6-98b7-569174c59511 commented on #73925
Ah, thanks! That makes sense. I see it's documented in "man unzip" as well:

"The correct password will always check out against the header, but there is a 1-in-256 chance that an incorrect password will as well.  (This is a security feature of the PKWARE zipfile format; it helps prevent brute-force attacks  that  might otherwise gain a large speed advantage by testing only the header.)  In the ca

[2017-03-07 17:31] serhiy-storchaka commented on #73925
I don't think that this makes much sense. The exception raised for wrong password is not documented, even the fact that some exception is raised is not documented. In very rare cases you can read a data without any error using wrong password, but the result will be of course not correct.

[2017-03-07 17:36] brettcannon commented on #73877
So the reason we don't have the coverage run complain loudly is it takes at least 40 minutes to complete, so having to wait for that could potentially be annoying if you're e.g. trying to merge a cherry-pick and you just want to verify you didn't break anything.

And yes, there might be some connection to issue bpo-29048. To keep things simple we can close this in favour of the other issue and tra

[2017-03-07 17:36] #73877 closed, assigned to brettcannon

[2017-03-07 19:47] #73881 closed, assigned to nobody

[2017-03-07 20:39] zooba commented on #73926
We don't use MFC in Python, so we are not affected.

[2017-03-07 20:39] #73926 closed, assigned to nobody

[2017-03-07 20:40] f0689ca4-d873-4972-b912-960f06c69b04 opened #73936 "smtplib doesn't handle unicode passwords"
BPO | [29750](https://bugs.python.org/issue29750)
--- | :---
Nosy | @warsaw, @taleinat, @giampaolo, @bitdancer, @Windsooon, @JustAnother1, @P403n1x87, @VadimPushtaev
PRs | <li>python/cpython#8938</li><li>python/cpython#15064</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details<

[2017-03-07 20:40] f0689ca4-d873-4972-b912-960f06c69b04 commented on #73936
Trying to use unicode passwords on smtplib fails miserably on python3.
My particular issue arises on line 643 of said library:

(code, resp) = self.docmd(encode_base64(password.encode('ascii'), eol=''))

which obviously dies when trying to handle unicode chars.

[2017-03-07 20:42] f0689ca4-d873-4972-b912-960f06c69b04 commented on #73936
I'm sorry I rushed my comment. Same thing happens on line 604

return encode_base64(s.encode('ascii'), eol='')

changing both from 'ascii' to 'utf-8' works for me.

[2017-03-07 21:12] bitdancer commented on #73936
See [msg253287](https://bugs.python.org/msg253287).  Someone should check the RFC.  It is not obvious that just encoding using utf8 is correct; fundamentally passwords are binary data.  But the auth methods don't currently accept binary data.  UTF8 is a reasonable default these days, I think, but if we support more than ascii I think we need to support binary, with utf8 as the default encoding.

[2017-03-07 21:12] 42da6ab9-c997-4d11-a122-c8c0585928d2 commented on #73926
I beg pardon to be pedantic.
The issue is not MFC, but CRT.

The related safety bulletin (https://technet.microsoft.com/library/security/ms11-025) says

    Your application may be an attack vector if all of the following conditions are true:

     - Your application makes use of the Microsoft Foundation Class (MFC) Library
     - Your application allows the loading of dynamic link libraries from

[2017-03-07 21:27] 13152583-d13d-4e97-801d-a91de07cd878 opened #73937 "PyLong_FromString documentation wrong on numbers with leading zero and base=0"
BPO | [29751](https://bugs.python.org/issue29751)
--- | :---
Nosy | @terryjreedy, @mdickinson, @vadmium, @Mariatta, @cubinator, @csabella
PRs | <li>python/cpython#915</li><li>python/cpython#1266</li><li>python/cpython#1267</li><li>python/cpython#1268</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><

[2017-03-07 21:27] 13152583-d13d-4e97-801d-a91de07cd878 commented on #73937
Calling PyLong_FromString(str, NULL, 0) fails, if str is a string containing a decimal number with leading zeros, even though such strings should be parsed as decimal numbers according to the documentation:

"If base is 0, the radix will be determined based on the leading characters of str: if str starts with '0x' or '0X', radix 16 will be used; if str starts with '0o' or '0O', radix 8 will be use

[2017-03-07 21:47] vadmium commented on #73937
My guess is this is supposed to emulate (or is actually the implementation of) the "int" constructor and the Python syntax. In these cases, numbers with leading zeros are disallowed. This was to help with Python 2 porting, where a leading zero specified an octal number.

[code]

Maybe it is better to fix the documentation.

[2017-03-07 22:29] ethanfurman opened #73938 "Enum._missing_ not called for __getitem__ failures"
BPO | [29752](https://bugs.python.org/issue29752)
--- | :---
Nosy | @warsaw, @ethanfurman, @MojoVampire

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-07 22:29] ethanfurman commented on #73938
[code]

Currently, \_missing_ is only called when using the functional API. In words:

[code]

[2017-03-08 00:36] 92b6f314-a460-4769-a813-17bfff54a4e6 commented on #73939
There appears to be a bug related to sizing/packing of ctypes Structures on Linux. I'm not quite sure how, but this structure:

[code]

Gives back a sizeof of 8 on Windows and 10 on Linux. The inconsistency makes it difficult to have code work cross-platform.

Running the given test.py file will print out the size of the structure on your platform.

Tested with Python 2.7.6 and Python 3.4.3 (built

[2017-03-08 00:36] 92b6f314-a460-4769-a813-17bfff54a4e6 opened #73939 "[Linux] ctypes packs bitfields Incorrectly"
BPO | [29753](https://bugs.python.org/issue29753)
--- | :---
Nosy | @terryjreedy, @amauryfa, @jaraco, @abalkin, @meadori, @eryksun, @ztane, @pablogsal, @mleroy003, @miss-islington, @shihai1991, @karlding, @FFY00, @thesamprice
PRs | <li>python/cpython#19850</li><li>python/cpython#27085</li><li>python/cpython#27086</li>
Files | <li>[test.py](https://bugs.python.org/file46708/test.py "Uploaded as tex

[2017-03-08 03:51] #73754 closed, assigned to nobody

[2017-03-08 05:14] zooba commented on #73926
There will be no changes to the CRT in the update. It's been released as a major upgrade package rather than a patch, which is why it contains all the files, but the last version field typically (and in this case definitely) indicates no change to the API or implementation beyond that described in the associated KB article.

So thanks for being through and bringing it to our attention, but it's no

[2017-03-08 05:21] ncoghlan commented on #73723
I just realised I need to add some test cases to test_importlib/source/test_file_loader.py before merging it, but since Larry hasn't objected to the proposed approach, I'm going to go ahead and implement this fix.

[2017-03-08 05:23] zooba commented on #73909
It's actually "adding" the current directory by not replacing the empty string that's normally there, presumably because it's already been resolved into a path at this stage. The behavior on Windows is correct, so I expect it's actually a difference between getpath.c and getpathp.c, rather than an isolated/non-isolated mode issue.

I'll try and take a look - my plate is fairly full over the next f

[2017-03-08 05:32] 382dc3a4-7749-45c4-95b9-f02b1d00e95b commented on #73940
sorted ignores reverse=True when sorting produces same list, I was expecting reverse regardless of the sorting outcome.

[code]

Thanks!

[2017-03-08 05:32] 382dc3a4-7749-45c4-95b9-f02b1d00e95b opened #73940 "sorted ignores reverse=True when sorting produces same list"
BPO | [29754](https://bugs.python.org/issue29754)
--- | :---
Nosy | @tim-one

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-08 06:07] tim-one commented on #73940
Your last line can't possibly return True, because `somelist.reverse()` returns None.

So the last line is irrelevant.  Your complaint appears to be about the line before, which shows that the list retains its original order.

That's expected.  All the keys are equal, so a stable sort \_must_ retain the original order (that's what "stable" means).  So that's not a bug - it's a feature.

The idea t

[2017-03-08 06:07] #73940 closed, assigned to nobody

[2017-03-08 06:44] ncoghlan commented on #73723
Merged (with test cases) in https://github.com/python/cpython/commit/93602e3af70d3b9f98ae2da654b16b3382b68d50

The test cases even cover ensuring the backwards compatibility also applies to frozen bytecode :)

[2017-03-08 06:44] #73723 closed, assigned to ncoghlan

[2017-03-08 07:19] eryksun commented on #73909
It's the script directory, which gets added on all platforms when PySys_SetArgv is called with Py_IsolatedFlag == 0. In this case we're running "\_\_main__.py" from a directory or zip file, and we don't want its parent directory in sys.path.

Here's what I see on a current build of 3.6:

[code]

C:\\Temp doesn't belong in sys.path in this case. When we're not in isolated mode, RunMainFromImporter

[2017-03-08 07:19] 92b6f314-a460-4769-a813-17bfff54a4e6 commented on #73939
Took a quick look at the c code for this. The area at fault appears to be this section in cfield.c:

[code]

The problem seems to be after the end of the 2nd c_uint16, it seems to think that the next 10 bytes should extend that c_uint16 to a c_uint32 instead of taking the type as the beginning of a new c_uint32. So I guess it is making the structure something like this:

                      ("P"

[2017-03-08 07:23] 92b6f314-a460-4769-a813-17bfff54a4e6 commented on #73939
Some more debug with print statements in the c code seems to confirm my suspicion:

bitsize, pfield_size, bitofs, dict-\>size prints were added just above the if chain to determine fieldtype and fieldtype was just after that if chain. That code looks something like this:

[code]

And the run with the custom-built Python 2.7.13:

[code]

------
bitsize: 9
pfield_size: 0
bitofs: 0
dict-\>size: 2
Fie

[2017-03-08 07:33] eryksun commented on #73939
To make it simpler to diagram the fields, I've rewritten your structure using field names A-J:

[code]

ctypes is attempting to extend the bitfield for H by switching to a c_uint storage unit with an offset of 2 bytes and adding H field with a 16-bit offset:

[code]

Here's the correct layout:

    |     uint16    |     uint16    |            uint32
    |------16-------|------16-------|---10----|-

[2017-03-08 07:36] zhangyangyu commented on #73805
Any reason our \_Py_stat_struct on Windows uses a signed type to represent st_ino?

[2017-03-08 07:45] ncoghlan commented on #73909
Ah, interesting, I didn't know there was a difference between the platforms in when the placeholder got resolved to a full path.

However, after browsing the code and running some local tests, it seems that injecting sys.path[0] isn't handled by Py_GetPath() or PySys_SetPath(), regardless of OS.

Instead, it's handled as a side effect of calling PySys_SetArgV(), with PySys_SetArgVEx() adding a fla

[2017-03-08 07:56] ncoghlan commented on #73909
So a potentially more robust fix here would be to always call `PySys_SetArgVEx(argc, argv, 0)` rather than the plain `PySys_SetArgV` when we know we're going to be relying on RunMainFromImporter.

That way RunMainFromImporter could just \*always* insert at the front, and not have to try to guess whether or not a different sys.path[0] entry had already been populated.

This would involve splitting

[2017-03-08 08:08] vstinner commented on #73805
On Windows, \_Py_attribute_data_to_stat() converts BY_HANDLE_FILE_INFORMATION to \_Py_stat_struct, and then \_pystat_fromstructstat() creates Python objects.

The file index in BY_HANDLE_FILE_INFORMATION is made of two DWORD, so yes, it's unsigned.

On Linux, stat.st_ino type is ino_t which is unsigned too.

So I created a pull request to fix the bug, even if I don't think that a filesystem produc

[2017-03-08 08:16] 382dc3a4-7749-45c4-95b9-f02b1d00e95b commented on #73940
Thanks for taking time to review and respond Tim! (;

[2017-03-08 08:47] mdickinson commented on #73937
Yes, PyLong_FromString is directly used by the implementation of int, and is also used in parsing of numeric integer literals in source:

https://github.com/python/cpython/blob/cb41b2766de646435743b6af7dd152751b54e73f/Python/ast.c#L4084

So I agree that this is a documentation bug. There's also no mention of the support for underscores in the documentation.

[2017-03-08 09:17] 7b0290fb-51c4-4db3-b615-f03824b27819 opened #73941 "python3 gettext.lgettext sometimes returns bytes, not string"
BPO | [29755](https://bugs.python.org/issue29755)
--- | :---
Nosy | @loewis, @warsaw, @serhiy-storchaka, @petri
PRs | <li>python/cpython#2266</li><li>python/cpython#2297</li><li>python/cpython#2298</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields

[2017-03-08 09:17] 7b0290fb-51c4-4db3-b615-f03824b27819 commented on #73941
On Debian stable (Python 3.4), with the LANGUAGE environment variable set to "C" or "en_US.UTF-8", the following produces a string:

[code]

However, setting the language, for example fi_FI.UTF-8, it will output a bytes object. Same apparently happens with some other languages, too.

Why is this? The discrepancy is not documented anywhere, AFAIK. Is this a bug or intended behavior depending on som

[2017-03-08 09:24] serhiy-storchaka commented on #73805
I think it is worth to backport this at least to 3.6.

[2017-03-08 10:05] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
I wrote a patch, but I attach it here and not in a PR, as you haven't approved
adding tests. (I would be happy to open a PR with or without the tests.)
I ran the test module (on my Windows 10), and seems like the patch doesn't
break anything.

also, while running test_memoryio with my added tests, i noticed some places in
[Lib/_pyio.py](https://github.com/python/cpython/blob/main/Lib/_pyio.py) whi

[2017-03-08 10:24] serhiy-storchaka commented on #73927
LGTM.

[2017-03-08 10:31] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
should I open a PR (even though we didn't give Florent enough time to
respond)?

[2017-03-08 10:37] serhiy-storchaka commented on #73927
Open a PR. It will be not hard to make small changes after opening it.

[2017-03-08 10:40] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
sure.

In general, should drafts (like this one) be uploaded here?
or is it always better to open a PR?

[2017-03-08 10:58] serhiy-storchaka commented on #73927
This for your preference.

[2017-03-08 12:39] ad6ec1fe-04ad-4314-a37d-583d2453dfb2 commented on #73933
As a last argument:
It is a matter of coherence/consistency with unittest's API, given that
this module does differentiates errors from failures

[2017-03-08 14:03] af456376-f394-4f4c-a082-423aaf394f92 opened #73942 "Improve documentation for list methods that compare items by equality"
BPO | [29756](https://bugs.python.org/issue29756)
--- | :---
Nosy | @warsaw, @stevendaprano, @MojoVampire, @zhangyangyu, @atodorov
PRs | <li>python/cpython#572</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[cod

[2017-03-08 14:03] af456376-f394-4f4c-a082-423aaf394f92 commented on #73942
When using list.count() I get the following results

[code]

as you can see True is considered the same as 1.  The documentation for the count method says:

[code]

so IMO the above behavior is wrong. Seeing this on a RHEL 7 system with
Python 3.5.1 and 2.7.5

[2017-03-08 14:29] warsaw commented on #73942
bools are subclasses of int and False and True have integer equivalents:

https://docs.python.org/3/library/stdtypes.html#bltin-boolean-values

[2017-03-08 14:37] zooba commented on #73909
Hang on, why not? If I were running a module.py then it would be, so why is a package\\__main__.py different (and not able to import itself or its siblings)? The package is the "script" being run here, yes?

Or is \_\_main__.py different from \_\_init__.py in this regard? (That is, it isn't \*part* of the package, it's just a loose script that happens to inherit the name of its directory)

[2017-03-08 14:45] 384a3c8b-ad2e-4654-ab8d-fa5204db7a0d commented on #73943
## Context
The utility method `socket.create_connection()` currently works like that:
1. resolve the destination-address into one or more IP(v4 & v6) addresses;
2. loop on each IP address and stop to the 1st one to work;
3. if none works, re-raise the last error.

## The problem
So currently the loop in `socket.create_connection()` ignores all intermediate errors and reports only the last connecti

[2017-03-08 14:45] 384a3c8b-ad2e-4654-ab8d-fa5204db7a0d opened #73943 "The loop in utility `socket.create_connection()` swallows previous errors"
BPO | [29757](https://bugs.python.org/issue29757)
--- | :---
Nosy | @vstinner, @1st1, @ankostis
PRs | <li>python/cpython#562</li>
Superseder | <li>bpo-29980: OSError: multiple exceptions should preserve the exception type if it is common</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-03-08 15:01] stevendaprano commented on #73942
Further to Barry's explanation, you see the same result with any values which compare equal:

py\> from decimal import Decimal as D
py\> [1, 1.0, D(1), True, 1+0j].count(D(1))
5

This is standard behaviour for methods `count`, `remove`, and `index`, but it isn't explained well in the documentation. E.g. `remove` says "Remove the first item from the list whose value is x` which could be read as mea

[2017-03-08 15:10] stevendaprano commented on #73942
To be clear, I'm referring to the docs in the tutorial:

https://docs.python.org/3.7/tutorial/datastructures.html

and the docstrings as well as the library reference:

https://docs.python.org/3.7/library/stdtypes.html#sequence-types-list-tuple-range

The library reference already notes that `remove` uses equality, but the others do not.

[2017-03-08 15:20] #73831 closed, assigned to nobody

[2017-03-08 15:31] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73938
Could that perhaps be intentional? Attribute access seems like something where the developer would be explicitly naming a single, hard coded, canonical name for the type, while string construction seems like something where you're getting a string from "somewhere" (user input, which is always terrible) and you'd want to have a way to handle invalid input.

The documentation is so sparse as to be u

[2017-03-08 15:35] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73942
Steven: Technically, in CPython, they use both identity and equality testing, as a function of using RichCompareBool (which tests identity first, then equality), rather than RichCompare (which only tests equality).

It makes a difference for stuff like NaN values, where describing it as equality only would imply that:

[code]

produces 0 (because nan is equal to nothing, including itself), when in

[2017-03-08 16:47] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
Possibly related to http://bugs.python.org/issue29327 - yields the same error message:

[Objects/tupleobject.c:81](https://github.com/python/cpython/blob/main/Objects/tupleobject.c#L81): bad argument to internal function

I have a large SWIG project which was previously working well in Python 3.5. After migrating to Python 3.6.0, I find I can still create any wrapped object from Python via its con

[2017-03-08 16:47] b3d57634-7fee-4747-aa7f-4cca00871598 opened #73944 "Previously-working SWIG code fails in Python 3.6"
BPO | [29758](https://bugs.python.org/issue29758)
--- | :---
Nosy | @brettcannon, @vstinner, @serhiy-storchaka
Files | <li>[cell.h](https://bugs.python.org/file46711/cell.h "Uploaded as text/x-chdr at 2017-03-08.16:47:28 by Tristan Croll")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Sho

[2017-03-08 16:51] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 commented on #73935
int docstring is the only one that needs to be changed. docstrings for float,tuple and list look fine to me.

[2017-03-08 17:50] 78fca336-97f4-4d9f-ab69-75550fa7e4f7 opened #73945 "Deadlock in multiprocessing.pool.Pool on terminate"
BPO | [29759](https://bugs.python.org/issue29759)
--- | :---
Nosy | @pitrou, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-08 17:50] 78fca336-97f4-4d9f-ab69-75550fa7e4f7 commented on #73945
Following code snippet causes a deadlock on Linux:

"""
import multiprocessing.pool
import signal

[code]

The reason is that the termination code starts before the worker processes being fully initialized.

Here, parent process acquires a forever-lock:

"""
    @staticmethod
    def \_help_stuff_finish(inqueue, task_handler, size):
        \# task_handler may be blocked trying to put items on inq

[2017-03-08 18:17] 78fca336-97f4-4d9f-ab69-75550fa7e4f7 commented on #73945
This patch kind of solves the issue. Not a nice one, but perhaps the safest one.

https://github.com/michael-a-cliqz/cpython/commit/1536c8c8cfc5a87ad4ab84d1248cb50fefe166ae

[2017-03-08 18:20] serhiy-storchaka commented on #73935
int() can be called without argument.

[2017-03-08 18:33] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 commented on #73935
True, but the docstring says "return 0 if no arguments are given". So please let me know, if you want me to still change it i.e. add int() or keep it as it is. Thanks.

[2017-03-08 19:32] f8c2b1db-319d-4328-998d-236328ad2fb5 commented on #73946
It looks like there's a problem examining ``.tar`` files with no entries:

[code]

Here's the issue (as far as I can tell):

[code]

Apparently, ``bz2.BZ2File`` allows seeking to pre-0 (negative) values, whereas more primitive files are not so forgiving. The offending line looks like it can be traced back to this commit:

https://github.com/python/cpython/blame/2.7/Lib/tarfile.py#L2350
https://git

[2017-03-08 19:32] f8c2b1db-319d-4328-998d-236328ad2fb5 opened #73946 "tarfile chokes on reading .tar file with no entries (but does fine if the same file is bzip2'ed)"
BPO | [29760](https://bugs.python.org/issue29760)
--- | :---
Nosy | @gustaebel, @posita
Files | <li>[tarfail.tar.bz2](https://bugs.python.org/file46712/tarfail.tar.bz2 "Uploaded as application/x-bzip2 at 2017-03-08.19:32:09 by @posita"): test case with data files</li><li>[tarfile.patch](https://bugs.python.org/file46719/tarfile.patch "Uploaded as text/plain at 2017-03-10.23:00:48 by @posita"): pos

[2017-03-08 19:53] eryksun commented on #73909
main361 can be run as a package from the current directory via -m because an empty string is in sys.path, i.e. the current directory. It imports the package, executing \_\_init__.py and then \_\_main__.py. In this case, the main361 directory/zip import source is not added to sys.path.

When we run main361 as a script, the main361 package is not imported, i.e. \_\_init__.py is not executed. The sib

[2017-03-08 20:17] serhiy-storchaka commented on #73935
After converting int.\_\_new__() to Argument Clinic this issue will become outdated.

[2017-03-08 21:08] 5d951615-3ca9-4146-a790-24569144a773 commented on #73947
In the linux version 2.7.12 the size of c_ulong and c_ulonglong is the same, that is not correct

[code]

Doing the same in Windows, the results are correct.

[code]

[2017-03-08 21:08] 5d951615-3ca9-4146-a790-24569144a773 opened #73947 "Wrong size of c_ulong in linux, windows version is fine"
BPO | [29761](https://bugs.python.org/issue29761)
--- | :---
Nosy | @eryksun

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-08 21:14] serhiy-storchaka opened #73948 "Use "raise from None""
BPO | [29762](https://bugs.python.org/issue29762)
--- | :---
Nosy | @serhiy-storchaka, @MojoVampire
PRs | <li>python/cpython#569</li><li>python/cpython#3978</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-03-08 21:14] serhiy-storchaka commented on #73948
Sometimes after catching some exception the new exception of more appropriate type and with more appropriate message is raised. The initial exception often is not relevant to the final exception, it is raised only due to using EAFP rather than LBYL. It should be excluded from the traceback by using "raise from None". This idiom is often used. Following PR makes it be used in more cases.

[2017-03-08 21:19] eryksun commented on #73947
ctypes is correct. 64-bit Linux uses an LP64 data model, and 64-bit Windows uses LLP64.

https://en.wikipedia.org/wiki/64-bit_computing#64-bit_data_models

[2017-03-08 21:19] #73947 closed, assigned to nobody

[2017-03-08 21:39] brettcannon commented on #73949
E.g. https://ci.appveyor.com/project/python/cpython/build/3.7.0a0.142. This looks to be the last consistent failure on AppVeyor.

[2017-03-08 21:39] brettcannon opened #73949 "test_site failing on AppVeyor"
BPO | [29763](https://bugs.python.org/issue29763)
--- | :---
Nosy | @brettcannon, @pfmoore, @tjguk, @zware, @zooba
PRs | <li>python/cpython#624</li><li>python/cpython#625</li><li>python/cpython#841</li><li>python/cpython#939</li><li>python/cpython#942</li><li>python/cpython#954</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the curre

[2017-03-09 00:29] #73935 closed, assigned to nobody

[2017-03-09 00:46] 8a613f27-475e-41a6-a626-06fcb3b8e9ba opened #73950 "PyUnicode_Decode with encoding utf8 crashes"
BPO | [29764](https://bugs.python.org/issue29764)
--- | :---
Nosy | @vstinner, @ezio-melotti, @zhangyangyu
Files | <li>[test.c](https://bugs.python.org/file46713/test.c "Uploaded as text/plain at 2017-03-09.00:46:29 by Alexey Trenikhin")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-03-09 00:46] 8a613f27-475e-41a6-a626-06fcb3b8e9ba commented on #73950
[code]

[2017-03-09 01:00] 8288e86c-8e79-4882-9d1f-fbfd6a21d531 opened #73951 "2.7.12 compile error from ssl related"
BPO | [29765](https://bugs.python.org/issue29765)
--- | :---
Nosy | @tiran

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 01:00] 8288e86c-8e79-4882-9d1f-fbfd6a21d531 commented on #73951
Download the python version 2.7.12 source code from official web site.
Compile the python code by the following steps:
sudo ./configure
sudo make
sudo make install

but from make, I get the following errors:
/Modules/_ssl.c: In function ‘_create_tuple_for_X509_NAME’:
./Modules/_ssl.c:684: error: dereferencing pointer to incomplete type
./Modules/_ssl.c:701: error: dereferencing pointer to incomple

[2017-03-09 01:15] d8355cc7-092e-4785-96ee-e450e15672d3 commented on #73952
I think the fix for bpo-28032 wasn't applied correctly to the 2.7 branch.

Compare the change in Python 2.7:

https://github.com/python/cpython/commit/9cbfa79111e7152231556a21af90a220b72ed086#diff-e2d5a00791bce9a01f99bc6fd613a39dL6425

vs. for example Python 3.5:

https://github.com/python/cpython/commit/14c7f71150c94ca35ca913b15c3d0cd236691ed6#diff-e2d5a00791bce9a01f99bc6fd613a39dL6567

In Python

[2017-03-09 01:15] d8355cc7-092e-4785-96ee-e450e15672d3 opened #73952 "--with-lto still implied by --enable-optimizations in Python 2.7"
BPO | [29766](https://bugs.python.org/issue29766)
--- | :---
Nosy | @gpshead, @hannosch
PRs | <li>python/cpython#1858</li><li>python/cpython#2705</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></deta

[2017-03-09 01:53] f8c2b1db-319d-4328-998d-236328ad2fb5 commented on #73946
FWIW, the (offending) fix for bpo-24259 was introduced (e.g., in 2.7) via 2.7.10. I've verified that 2.7.9 works as expected:

[code]

So this should probably be considered a regression.

[2017-03-09 02:38] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73948
To tie the exceptions to the actual line, would it perhaps make sense to copy over the traceback of the original exception using .with_traceback?

[2017-03-09 02:39] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73948
Particularly when the type of the exception isn't being changed, it's only altering the message to provide more information?

[2017-03-09 03:54] 0ad20666-5c21-42d0-910b-7c128d28c1ac commented on #73953
I am running a debian system. And trying to build cpython3.6 from source.
When I run make altinstall, it failed on test_socket. Reporting cli attribute is missing.

After some trouble shooting, it seems the support.get_unused_port() is not reliable. Then I modified it and return a port I am sure no one is using, the build succeeded.

[2017-03-09 03:54] 0ad20666-5c21-42d0-910b-7c128d28c1ac opened #73953 "build python failed on test_socket due to unused_port is actually used."
BPO | [29767](https://bugs.python.org/issue29767)
--- | :---
Nosy | @vstinner, @zhangyangyu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 04:02] ncoghlan commented on #73909
As Eryk notes, this has revealed a separate bug in that we don't make the path absolute when adding to sys.path. However, that's \*not* directly related to the regression, so I'm resisting the temptation to change it here.

Instead, the new test case I'm adding will just run a script directory both with and without -I, and make sure sys.path ends up the same in both cases.

[2017-03-09 04:07] zhangyangyu commented on #73942
+1 for jsoh. Actually the behaviour is documented in https://docs.python.org/3/reference/expressions.html#value-comparisons.

So a single 'a is b' or 'a == b' is not complete. I would like to use 'equal to' which implies 'a is b or a == b'.

[2017-03-09 04:59] ncoghlan commented on #73909
Work in progress PR at https://github.com/python/cpython/pull/571

I also came up with a reasonably straightforward way of defining the desired "sys.path" initialisation behaviour, which is that the following should all get the \*same* sys.path entries:

    python3 -S script_dir/__main__.py
    python3 -S script_dir
    python3 -I script_dir

None of those should have the current directory on sys

[2017-03-09 05:34] serhiy-storchaka commented on #73868
Thank you Alex and svelankar for your report and fix.

[2017-03-09 05:34] #73868 closed, assigned to nobody

[2017-03-09 05:43] serhiy-storchaka commented on #73954
The compile-time check for expat version added in bpo-14234 doesn't work with expat 3.0.0. Following PR fixes this.

[2017-03-09 05:43] serhiy-storchaka opened #73954 "Fix expact version check"
BPO | [29768](https://bugs.python.org/issue29768)
--- | :---
Nosy | @gpshead, @serhiy-storchaka
PRs | <li>python/cpython#574</li><li>python/cpython#576</li><li>python/cpython#577</li><li>python/cpython#578</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHu

[2017-03-09 05:51] serhiy-storchaka commented on #73948
I don't think this is needed. The traceback points to the actual line -- the line with the "raise" statement.

[2017-03-09 06:08] ncoghlan commented on #73909
Slightly correction, as I didn't have the isolated mode equivalents quite correct:

    python3 -s script_dir/__main__.py
    python3 -s script_dir
    python3 -I script_dir

Isolated mode still runs the system site.py, which turns out to be signficant in a development checkout (getpath includes the Lib/ directory twice, and site.py then cleans out the duplicate).

So I think this PR is the right

[2017-03-09 06:31] ncoghlan commented on #73909
OK, https://github.com/python/cpython/pull/575 is the new PR that covers everything needed to fix the root cause of the problem (which was the entirely unnecessary add-and-overwrite dance that zipfile and directory executation was doing for sys.path[0])

[2017-03-09 07:23] zhangyangyu commented on #73950
You need to first call `Py_Initialize()` to initialize the Python interpreter. It is required.

[2017-03-09 07:23] #73950 closed, assigned to nobody

[2017-03-09 07:31] zhangyangyu commented on #73953
Could you show the failure message here? And you could make your patch a PR on GitHub.

[2017-03-09 08:58] #73954 closed, assigned to nobody

[2017-03-09 09:15] vstinner commented on #73944
Which function raises this exception? Add the traceback place. It may be a
bug in your code.

[2017-03-09 10:10] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
OK, a further clue. First, a little more detail on how my project is arranged (to re-iterate, this works without complaint in Python 3.5):

Rather than use my SWIG output directly, I've created a further wrapper layer in Python to add functions/syntactic sugar that would be difficult to achieve in SWIG, add a bit of extra documentation, and bury some classes that may be occasionally useful but don

[2017-03-09 11:46] db36b1c5-c904-4d78-ae55-de8a610fb115 commented on #73955
The current implementation of \_iter_file_finder_modules parses folders with a valid Python module extension as modules (e.g. it would report a \*folder* xy.py as a module xy).
As a result, e.g., pydoc.apropos('') fails if such a folder is found anywhere on sys.path.

I'm attaching a patch that fixes this and also brings a few minor improvements (like using a set instead of a dict with 1 values an

[2017-03-09 11:46] db36b1c5-c904-4d78-ae55-de8a610fb115 opened #73955 "pkgutil._iter_file_finder_modules should not be fooled by *.py folders"
BPO | [29769](https://bugs.python.org/issue29769)
--- | :---
Nosy | @ncoghlan, @ericsnowcurrently, @wm75
Files | <li>[pkgutil.patch](https://bugs.python.org/file46714/pkgutil.patch "Uploaded as text/plain at 2017-03-09.11:46:09 by @wm75")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-03-09 12:49] e463ac05-e672-47f9-984a-f51a19831e40 commented on #73956
The output for "python --help" for the option -B is wrong.
It contains also the old pyo files. But they were removed.

Output is:

-B     : don't write .py[co] files on import; also PYTHONDONTWRITEBYTECODE=x

should be:

-B     : don't write .pyc files on import; also PYTHONDONTWRITEBYTECODE=x

[2017-03-09 12:49] e463ac05-e672-47f9-984a-f51a19831e40 opened #73956 "Executable help output (--help) at commandline is wrong for option -B"
BPO | [29770](https://bugs.python.org/issue29770)
--- | :---
Nosy | @brettcannon, @tds333, @zhangyangyu
PRs | <li>python/cpython#590</li><li>python/cpython#612</li><li>python/cpython#613</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

b

[2017-03-09 12:52] bb0b57b9-5751-44c0-9d30-c4b398ae3538 commented on #73805
The problem is real: the large inode number was assigned to a file created by MacOS on a share exported via CIFS, and then stated by Linux using NFS export.

[2017-03-09 13:10] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a commented on #73957
Currently using the package we can only define emails in the 'TO'
as shown here:
https://docs.python.org/2/library/email-examples.html#email-examples

There is no support for email to be sent as CC or BCC which is useful quality in many emails. Please see if this can be added.

[2017-03-09 13:10] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a opened #73957 "An email and MIME handling package - Add support to send CC of email"
BPO | [29771](https://bugs.python.org/issue29771)
--- | :---
Nosy | @warsaw, @ericvsmith, @bitdancer, @Jack

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 13:22] ericvsmith commented on #73957
The examples don't cover it, but look at the documentation for setting arbitrary mail headers such as CC.

And look at smtplib.SMTP.sendmail() on sending a message to arbitrary recipients (to, cc, or bcc are all the same):
https://docs.python.org/2/library/smtplib.html#smtplib.SMTP.sendmail

[2017-03-09 13:35] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a commented on #73957
But this is what I mean.. It shouldn't be arbitrary.
When you define CC you want him as CC not as another one in the TO.
This is why I said this is enhancement request.

[2017-03-09 13:38] ericvsmith commented on #73957
So, you want to improve the examples? I wouldn't be opposed to that. I don't see that there's any code to change.

[2017-03-09 13:42] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a commented on #73957
I think you missundersttod. I showed the example page just so you would understand what I am talking about.
Let me explain it better:
msg['Subject'] = 'The contents of %s' % textfile
msg['From'] = me
msg['To'] = you

Works.

msg['Subject'] = 'The contents of %s' % textfile
msg['From'] = me
msg['To'] = you
msg['CC'] = x
msg['BCC'] = y

won't work. It doesn't know what is CC and BCC.
This is why I o

[2017-03-09 13:43] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a commented on #73957
Please see the stack overflow question:
http://stackoverflow.com/questions/42696100/python-smtp-send-email-with-cc

[2017-03-09 13:53] ericvsmith commented on #73957
You need to review how SMTP works. The contents of the mail message have no bearing on where messages are sent. That's exactly how BCC works: there's nothing in the message telling you who is BCC'd, but the mail is still sent to the BCC recipients, via SMTP.

Similarly, you could have the message say that someone@example.com is in the To: header, but not send it to them via SMTP.

I'm on the fence

[2017-03-09 13:59] 9e5cbc50-7a7e-4f8f-9511-65d48c7da13a commented on #73957
"I'm on the fence about including this in the examples."

Think of it this way.. Including it in the docs would have prevented this question.
It can be just a side note it doesn't have to be a whole example.

Thx.

[2017-03-09 13:59] #73957 closed, assigned to nobody

[2017-03-09 14:01] bitdancer commented on #73957
If you use smtplib.send_message in python3, it will do what you want (including stripping BCC headers before sending the message).

If someone wants to create a PR to add an example of what Eric is talking about (specifying additional senders in smtplib.sendmail to match what is in the CC headers) please open a new issue with a PR (which may or may not get accepted :). I don't think it is worth do

[2017-03-09 14:44] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 commented on #73958
The last part of "Counter objects" section has a strange line: "in Smalltalk."

https://docs.python.org/2.7/library/collections.html#counter-objects

The line just before "in Smalltalk" might be deleted by accident.
Related issue is bpo-25910 [1]_ and the applied patch is this [2]_, although an intended patch might looks like this [3]_.

.. [1] http://bugs.python.org/issue25910

.. [2] https://hg.

[2017-03-09 14:44] 2d91cabd-b217-43ac-afd6-4d0c354b0f59 opened #73958 "Unintentionally deleted line on library/collections.rst"
BPO | [29772](https://bugs.python.org/issue29772)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @cocoatomo
PRs | <li>python/cpython#581</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 15:09] serhiy-storchaka opened #73959 "Additional float-from-string tests"
BPO | [29773](https://bugs.python.org/issue29773)
--- | :---
Nosy | @serhiy-storchaka
PRs | <li>python/cpython#580</li><li>python/cpython#586</li><li>python/cpython#587</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fie

[2017-03-09 15:09] serhiy-storchaka commented on #73959
Following PR adds more corner cases in the test for calling float() with invalid string.

[2017-03-09 15:27] serhiy-storchaka opened #73960 "Improve zipfile handling of corrupted extra field"
BPO | [29774](https://bugs.python.org/issue29774)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#583</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 15:27] serhiy-storchaka commented on #73960
The zipfile module can raise struct.error when process corrupted extra field. This issue was partially resolved by bpo-14315. Following PR converts struct.error to BadZipFile in other case.

[2017-03-09 15:56] rhettinger commented on #73958
Nice catch.

[2017-03-09 15:56] #73958 closed, assigned to nobody

[2017-03-09 16:25] pfmoore opened #73961 "There appears to be a spurious ^0 in sys.version for 3.6.1rc1"
BPO | [29775](https://bugs.python.org/issue29775)
--- | :---
Nosy | @pfmoore, @ned-deily, @zooba
Superseder | <li>bpo-27593: Deprecate sys._mercurial and create sys._git</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fi

[2017-03-09 16:25] pfmoore commented on #73961
The 3.6.1rc1 build seems to have a spurious "^0" at the end of the version, before the VCS ID - 3.6.1rc1^0):

[code]

It's not showing in sys.version_info, so it's probably only cosmetic. Also, I don't think this is really a release blocker - just marking it as such so it gets checked (I wonder if it's an artifact of the github migration, I think git uses ^0 to mean something specific in relation

[2017-03-09 16:47] ethanfurman commented on #73938
Thank you, Josh, that's a very good point.

One can be expected to have the correct spelling when using attribute access.

So the two accesses that make sense for a \_missing_ call would then be:

- by-value lookup (e.g. Label(1))

- by-name lookup (e.g. Label['redapple'])

Sound reasonable?

[2017-03-09 16:48] #73960 closed, assigned to nobody

[2017-03-09 16:51] vstinner commented on #73960
I merged your PR, thanks!

I don't think that this minor enhancement on error message is worth it to be backported. It only impacts corrupted ZIP files, and 3.6 and older already raise an error message.

I updated manually the PR status, it seems like the GitHub bot is still broken.

[2017-03-09 17:08] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 commented on #73860
So once these functions are decorated with this attribute, what kind of testing/validation you have in mind, please let me know.

[2017-03-09 17:10] serhiy-storchaka opened #73962 "Modernize properties"
BPO | [29776](https://bugs.python.org/issue29776)
--- | :---
Nosy | @ethanfurman, @serhiy-storchaka
PRs | <li>python/cpython#585</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 17:10] serhiy-storchaka commented on #73962
Following PR updates Python sources to use new shiny syntax for properties. It replaces the old code

[code]

with the new code

[code]

New syntax was added in Python 2.4.

[2017-03-09 17:13] vstinner commented on #73860
Call PyMem_Malloc(Py_ssize_t) for example: it must emit a warning on GCC 7, since casting negative values to size_t overflows.

Not sure how to test the attribute on GCC 6. Maybe some GCC related static analyzers are able to detect memory leaks like:

[code]

[2017-03-09 17:21] serhiy-storchaka commented on #73960
I think the same.

[2017-03-09 17:28] 1st1 commented on #73943
I like the (c) option. I don't think we should use logging/warnings here, as they can produce unwanted noise that few know how to silence.

When the list of errors is passed as a second argument to the exception, how is it rendered?  Would it make sense to concatenate all error messages:

[code]

Or maybe we should track which addr caused which exception?

[code]

[2017-03-09 17:28] 1st1 commented on #73943
This is a new feature, so we can only push it to 3.7.

[2017-03-09 17:30] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
OK, this seems to narrow down the problem. The following was legal in Python 3.5.1, but in 3.5.3 and 3.6.1rc1 returns:

'TypeError: must be type, not classobj'

[code]

Is this a deliberate and permanent change? If so, it looks like I have a lot of work on my hands.

[2017-03-09 17:32] ethanfurman commented on #73962
Have you made sure nothing calls the replaced functions manually?

Such as:

    ...
    self._set_foo(9)
    ...

[2017-03-09 17:38] serhiy-storchaka commented on #73962
I replaced only private getters and setters. All tests passed.

[2017-03-09 17:39] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
Nope - belay that. Checking through the SWIG-generated Python code, all the classes correctly inherit from object, which negates that issue.

[2017-03-09 17:50] vstinner commented on #73944
The code in [msg289314](https://bugs.python.org/msg289314) doesn't emit any warning. I tested 3.5, 3.6 and master development branches and system Python 3.5.2.

[2017-03-09 17:51] vstinner commented on #73944
"Nope - belay that. Checking through the SWIG-generated Python code, all the classes correctly inherit from object, which negates that issue."

I don't understand your comment, on Python 3, any class inherit from object be default. There is no more old and new classes.

haypo@selma$ cat y.py
class A: pass
class B(object): pass

[code]

haypo@selma$ python3 y.py
(\<class 'object'\>,)
(\<class 'obje

[2017-03-09 17:52] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
Sorry - ignore that. Brain-fart at the end of a (very) long day.

[2017-03-09 18:39] brettcannon commented on #73944
Since it sounds like everything on the Python side is fine I'm closing this.

[2017-03-09 18:51] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
I don't agree that it should be closed yet. I still have the issue that an approach that was perfectly legal in Python 3.5 now no longer works in Python 3.6, and I don't know why. The description in [msg289281](https://bugs.python.org/msg289281) stands, and is a real problem. Nothing has changed in my code - I compile against Python 3.5 and it works, against 3.6 it doesn't.

[2017-03-09 19:03] #73959 closed, assigned to nobody

[2017-03-09 19:11] b3d57634-7fee-4747-aa7f-4cca00871598 commented on #73944
I've cross-posted the following to the SWIG bug tracker. Hopefully someone can find an answer, because I'm getting nowhere.

If I have two classes Foo and Bar (where Bar has a function get_foo() that returns a Foo object) defined in the SWIG-generated library foobar, and wrap them as follows:

[code]

then in Python 3.5:
[code]
all work. In Python 3.6:

[code]
... both work, but
`b.get_foo()`
yiel

[2017-03-09 20:09] serhiy-storchaka commented on #73962
I have checked and none from replaced function is used. But just for the case I reverted changes for [Lib/xml/dom/](https://github.com/python/cpython/blob/main/Lib/xml/dom). Here used more complex logic for generating other properties.

[2017-03-09 20:14] ned-deily commented on #73961
Thanks, Paul, we are aware of the spurious ^0.  It will be resolved under bpo-25793.

[2017-03-09 20:14] #73961 closed, assigned to ned-deily

[2017-03-09 20:35] 72972313-92d4-47dc-a29d-5e29bf7a51ec opened #73963 "argparse arguments in main parser hide an argument in subparser"
BPO | [29777](https://bugs.python.org/issue29777)
--- | :---
Nosy | @ericvsmith, @ZackerySpytz

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-09 20:35] 72972313-92d4-47dc-a29d-5e29bf7a51ec commented on #73963
If you have a argument named --\<prefix\> in a subparser and two arguments named --\<prefix\>\<any_suffix)\> in the main parser and call the Python executable with

python \<script.py\> --\<prefix\>

argparse fails with:

error: ambiguous option: --\<prefix\> could match --\<prefix\>\<suffix1\>, --\<prefix\>\<suffix2\>

This probably happens due to how the argument abbreviation parsing is implemen

[2017-03-09 21:34] ericvsmith commented on #73963
No, we won't be adding new features to 2.7. Sorry.

[2017-03-09 22:11] tiran commented on #73951
/usr/local looks wrong. Did you install a custom build of OpenSSL? What's the output of

    rpm -qf /usr/local/include/openssl/asn1.h

?

[2017-03-10 01:26] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73938
Yeah, that sounds fine.

[2017-03-10 02:04] ncoghlan commented on #73955
I think there's an open issue somewhere pointing out that \_iter_file_finder doesn't handle PEP-420 namespace packages correctly, precisely because it's still looking for an \_\_init__.py file.

So I'd suggest not worry about changing the \_\_init__.py handling here, and instead just add a new test case to test_pkgutil that fails with the old traversal code and passes with the new code.

[2017-03-10 04:58] dd0818be-c5c5-4cc4-a7bc-2f3d23adb9f3 commented on #73964
When Py_SetPath is used to set up module path at initialization, the Py_SetPath causes getpathp.c::calculate_path not to be called. However, calculate path is the only function calling getpathp.c::get_progpath which initializes the local dllpath static variable.

Later the interpreter tries to load python3.dll and uses dllpath which is empty by default. This empty path gets joined with \\python3.d

[2017-03-10 04:58] dd0818be-c5c5-4cc4-a7bc-2f3d23adb9f3 opened #73964 "[CVE-2020-15523] _Py_CheckPython3 uses uninitialized dllpath when embedder sets module path with Py_SetPath"
BPO | [29778](https://bugs.python.org/issue29778)
--- | :---
Nosy | @pfmoore, @vstinner, @larryhastings, @tjguk, @ned-deily, @ambv, @zware, @eryksun, @zooba, @miss-islington, @anthonywee
PRs | <li>python/cpython#17818</li><li>python/cpython#17871</li><li>python/cpython#21297</li><li>python/cpython#21298</li><li>python/cpython#21306</li><li>python/cpython#21351</li><li>python/cpython#21352</li><li>

[2017-03-10 06:04] ncoghlan commented on #73865
For anyone interested in the question of backports, I moved that discussion over to the contextlib2 tracker: https://github.com/jazzband/contextlib2/issues/12

[2017-03-10 07:40] e3a29a45-42f4-4011-af26-f63a1cf3be7a opened #73965 "New environment variable PYTHON_HISTORY"
BPO | [29779](https://bugs.python.org/issue29779)
--- | :---
Nosy | @warsaw, @berkerpeksag, @serhiy-storchaka, @yan12125, @0xl3vi, @ZackerySpytz
PRs | <li>python/cpython#473</li><li>python/cpython#13208</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub f

[2017-03-10 08:10] serhiy-storchaka commented on #73965
$HISTFILE is the name of the file in which Bash command history is saved. Shouldn't the name of similar environment variable for Python be PYTHONHISTFILE?

Bash uses several environment variables for control its command history: HISTCONTROL, HISTFILE, HISTFILESIZE, HISTIGNORE, HISTSIZE, HISTTIMEFORMAT. Does Python need corresponding environment variables?

Wouldn't be better to control all these d

[2017-03-10 09:47] 4a842682-349e-49d4-97e7-dd863b07d4c9 opened #73966 "Interpreter hang on self._epoll.poll(timeout, max_ev)"
BPO | [29780](https://bugs.python.org/issue29780)
--- | :---
Nosy | @asvetlov, @1st1, @k1-hedayati, @N-Coder
Files | <li>[loop_stop_problem.zip](https://bugs.python.org/file47418/loop_stop_problem.zip "Uploaded as application/zip at 2018-01-31.17:13:43 by @N-Coder")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</

[2017-03-10 09:47] 4a842682-349e-49d4-97e7-dd863b07d4c9 commented on #73966
Hello
We have an issue with our application, it randomly hangs and doesn't respond to new requests, at first we thought the problem lies within our code but after attaching to hanged process using gdb I couldn't find any code related to our application so I thought it might be python bug.
Here is the info extracted from gdb:
https://gist.github.com/k1-hedayati/96e28bf590c4392840650902cb5eceda
Pyth

[2017-03-10 10:03] 6d5d82f3-c90b-41da-bb7f-abdec4dbac80 opened #73967 "SSLObject.version returns incorrect value before handshake."
BPO | [29781](https://bugs.python.org/issue29781)
--- | :---
Nosy | @tiran, @Lukasa
PRs | <li>python/cpython#3364</li><li>python/cpython#3381</li>
Files | <li>[test.c](https://bugs.python.org/file46715/test.c "Uploaded as text/plain at 2017-03-10.10:28:59 by @Lukasa")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*

[2017-03-10 10:03] 6d5d82f3-c90b-41da-bb7f-abdec4dbac80 commented on #73967
The SSLObject object from the ssl module has a version() method that is undocumented. A reasonable assumption for the behaviour of that method is that it would follow the behaviour of the same method on SSLSocket(), which has the following documentation:

However, SSLObject does not follow that behaviour:

[code]

That is, a SSLObject that does not have a TLS session established will incorrectly r

[2017-03-10 10:07] 6d5d82f3-c90b-41da-bb7f-abdec4dbac80 commented on #73967
A quick test reveals that Python 3.5 is also affected.

[2017-03-10 10:29] 6d5d82f3-c90b-41da-bb7f-abdec4dbac80 commented on #73967
This actually appears to be an outcome of OpenSSL's logic. I've attached a smallish C file that, when run against OpenSSL 1.0.2 on my machine, prints "TLSv1.2".

This seems like a behaviour we'll have to work around in Python to get the outcome we want here.

[2017-03-10 10:42] 0ad20666-5c21-42d0-910b-7c128d28c1ac commented on #73953
The error message is just a "Port already used".

Possible cause 1: find_port default interface is HOST, which is 127.0.0.1. And in most test cases, they use 0.0.0.0. So they are on different interface.

2: system reuse the port, since I build python on a busy server, that is possible.

[2017-03-10 10:43] 6d5d82f3-c90b-41da-bb7f-abdec4dbac80 commented on #73967
I updated the test script to try with a file-descriptor set and OpenSSL returns TLSv1.2 for that one as well. This strongly suggests that OpenSSL's SSL_get_version documentation is somewhat misleading, and that an SSL object will return a version even when it's not connected.

If Python wants to consider this a bug, it will need to track connections state for the SSLObject like it does for the SSL

[2017-03-10 10:53] 674c16e4-b864-4d55-874b-0db106acf296 opened #73968 "Use __builtin_clzl for bits_in_digit if available"
BPO | [29782](https://bugs.python.org/issue29782)
--- | :---
Nosy | @mdickinson, @pitrou, @vstinner, @serhiy-storchaka, @mlouielu, @niklasf
PRs | <li>python/cpython#594</li><li>python/cpython#20739</li>
Files | <li>[bench_bit_length.py](https://bugs.python.org/file46759/bench_bit_length.py "Uploaded as text/plain at 2017-03-27.15:36:58 by @vstinner")</li>

<sup>*Note: these values reflect the stat

[2017-03-10 10:53] 674c16e4-b864-4d55-874b-0db106acf296 commented on #73968
Baseline performance (9e6ac83acae):

$ ./python -m timeit "12345678 == 12345678.0"
5000000 loops, best of 5: 40 nsec per loop
$ ./python -m timeit "1 == 1.0"
10000000 loops, best of 5: 38.8 nsec per loop
$ ./python -m timeit "(1234578987654321).bit_length()"
10000000 loops, best of 5: 39.4 nsec per loop

Upcoming PR:

[code]

[2017-03-10 11:26] 0ad20666-5c21-42d0-910b-7c128d28c1ac commented on #73953
[code]

[2017-03-10 12:37] 72972313-92d4-47dc-a29d-5e29bf7a51ec commented on #73963
Adding the feature was just a workaround suggestion, but this is a bug. Arguments in the main parser should not "hide" an argument in a subparser in argument abbreviation.

[2017-03-10 13:07] serhiy-storchaka commented on #73927
I would accept changes to [Modules/_io/](https://github.com/python/cpython/blob/main/Modules/_io) because I consider them as code cleanup (with little side effect). But I'm not sure about changes to Python implementation and tests. Could you create more narrow PR for [Modules/_io/](https://github.com/python/cpython/blob/main/Modules/_io) changes and left other changes for the consideration of the

[2017-03-10 13:33] dff66fbe-9795-4708-85c5-19bd22fd0f69 commented on #73798
I have the same issue on Python 2.7.12 (Ubuntu 16.04)

I tried to execute tartest.py. But I could not find a way how to create the tar which is needed for tartest.py.

[2017-03-10 14:17] vstinner opened #73969 "Modify codecs.open() to use the io module instead of codecs.StreamReaderWriter()"
BPO | [29783](https://bugs.python.org/issue29783)
--- | :---
Nosy | @malemburg, @vstinner, @ezio-melotti, @vadmium, @serhiy-storchaka
PRs | <li>python/cpython#598</li><li>python/cpython#599</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-03-10 14:17] vstinner commented on #73969
The codecs.StreamReaderWriter() class still has old unfixed issues like the issue bpo-12508 (open since 2011). This issue is even seen as a security vulnerability by the owasp-pysec project:
https://github.com/ebranca/owasp-pysec/wiki/Unicode-string-silently-truncated

I propose to modify codecs.open() to reuse the io module: call io.open() with newline=''. The io module is now battle-tested and h

[2017-03-10 14:23] zooba commented on #73964
I thought we'd documented that if you set the path when embedding you should also set the program name, but perhaps not (didn't check just now). If not, we should do that.

We shouldn't be loading python3.dll anywhere. Are you sure that's in CPython? Do you have a reference to the source file?

[2017-03-10 14:33] serhiy-storchaka commented on #73969
codecs.open() works with bytes-to-bytes codecs.

[code]

In additional the interface of StreamReaderWriter is not fully compatible with the interface of io classes. This would be compatible-breaking change.

[2017-03-10 14:45] 2636780d-49d5-42ba-91c2-9933afb6ce3b opened #73970 "Erroneous link in shutil.copy description"
BPO | [29784](https://bugs.python.org/issue29784)
--- | :---
Nosy | @serhiy-storchaka, @zhangyangyu, @Mariatta
PRs | <li>python/cpython#601</li><li>python/cpython#602</li><li>python/cpython#608</li><li>python/cpython#609</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</sum

[2017-03-10 14:45] 2636780d-49d5-42ba-91c2-9933afb6ce3b commented on #73970
https://docs.python.org/3/library/shutil.html#shutil.copy

The link to "copy()" in the description seems to be pointing to the copy module, but I suppose it was meant to point at shutil.copy.

[2017-03-10 14:47] 8288e86c-8e79-4882-9d1f-fbfd6a21d531 commented on #73951
The output is:

[root@root local]# rpm -qf /usr/local/include/openssl/asn1.h
file /usr/local/include/openssl/asn1.h is not owned by any package

[2017-03-10 14:52] 2636780d-49d5-42ba-91c2-9933afb6ce3b opened #73971 "Registration link sent via email by the tracker is http"
BPO | [29785](https://bugs.python.org/issue29785)
--- | :---
Nosy | @ezio-melotti

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-10 14:52] 2636780d-49d5-42ba-91c2-9933afb6ce3b commented on #73971
The link[1] sent via email by the tracker for registration confirmation is http, whereas https is already setup on the tracker itself.

Would it be possible to change it to https.

[1] http://bugs.python.org/?@action=confrego&otk=TOKEN

[2017-03-10 14:53] vstinner commented on #73969
Oh ok. What are non-text encodings? I found:

* base64
* bz2
* hex
* quopri
* rot13
* uu
* zlib

It seems like all these codecs can be used with codecs.open() to write bytes strings, except of rot13.

Last time I used these codecs was at least 5 years ago. When I ported code to Python 3, I used directly the module implementing the codecs (like base64 module for base64 codec). It's easy to write co

[2017-03-10 15:09] malemburg commented on #73969
On 10.03.2017 15:17, STINNER Victor wrote:

The issue should be fixed. Patches welcome :-)

The reason for the problem is the UTF-8 decoder (and other
decoders) expecting an extension to the codec decoder API,
which are not implemented in its StreamReader class (it simply
uses the base class). It's not a problem of the base class, but
that of the codec.

And no: it doesn't have anything to do with

[2017-03-10 15:11] serhiy-storchaka commented on #73969
I agree that it is better to use directly the module implementing the codecs. But old third-party code still can use non-text codecs.

There should be good reasons for breaking backward compatibility. Wouldn't be better to deprecate codecs.open()?

[2017-03-10 15:15] vstinner opened #73972 "asyncio.wrap_future() is not documented"
BPO | [29786](https://bugs.python.org/issue29786)
--- | :---
Nosy | @vstinner, @1st1, @adisbladis
PRs | <li>python/cpython#603</li>
Superseder | <li>bpo-24755: asyncio.wrap_future undocumented</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[co

[2017-03-10 15:15] vstinner commented on #73972
The following asyncio function is not documented. Is it deliberate? The function is exported in the asyncio module.

[code]

[2017-03-10 15:41] vstinner commented on #73969
open("document.txt", encoding="utf-8") uses IncrementalDecoder of
encodings.utf_8. This object doesn't seem to have the discussed issue.

IMHO the issue is that StreamReader doesn't use an incremental
decoder. I don't see how it could support multibyte encodings and
error handlers without an incremental decoder.

I like TextIOWrapper design between it only handles codecs and text
buffering. Bytes

[2017-03-10 15:46] vstinner commented on #73969
Serhiy Storchaka added the comment:

I'm not sure that I understood. Do you consider that using
codecs.open() with a non-text codecs is a "legit" use case or not?

I understood that you suggest a smoother transition using a
deprecation to give more time to developers to update their code.

But what do you want to deprecate? The whole codecs.open() function?
Or using non-text codecs with codecs.ope

[2017-03-10 15:48] vstinner commented on #73969
About the issue bpo-12508, would it be possible to modify StreamReader to use an incremental decoder? Or my idea doesn't make sense?

[2017-03-10 15:50] ba0e35ee-9fbf-46aa-aa77-27d09fc7efc5 opened #73973 "Internal importlib frames visible when module imported by import_module throws exception"
BPO | [29787](https://bugs.python.org/issue29787)
--- | :---
Nosy | @brettcannon

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-10 15:50] ba0e35ee-9fbf-46aa-aa77-27d09fc7efc5 commented on #73973
Importing a module that raises an exception on import trough `importlib.import_module()` causes importlib to not strip it's internal frames from the traceback.

Minimal example:

--a.py--
import importlib

[code]

--b.py--
raise Exception()
--b.py--

[code]

[2017-03-10 16:00] ncoghlan commented on #73909
Paul Moore reporting on trying out the new PR in http://bugs.python.org/issue29319#msg289357 and confirmed that it still solves the originally reported problem in bpo-29319.

[2017-03-10 16:13] vstinner opened #73974 "[Security] CVE-2007-4559: tarfile: Add absolute_path option to tarfile, disabled by default"
BPO | [29788](https://bugs.python.org/issue29788)
--- | :---
Nosy | @gustaebel, @vstinner, @jwilk, @berkerpeksag, @vadmium

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-10 16:13] vstinner commented on #73974
I noticed that "python3 -m tarfile -x archive.tar" uses absolute paths by default, whereas the UNIX tar command doesn't by default. The UNIX tar command requires to add explicitly --absolute-paths (-P) option.

I suggest to add a boolean absolute_path option to tarfile, disabled by default.

Example to create such archive. See that tar also removes "/" by default and requires to pass explicitly -P

[2017-03-10 16:14] vstinner opened #73975 "zipfile: Add absolute_path option, disabled by default"
BPO | [29789](https://bugs.python.org/issue29789)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
Files | <li>[test2.zip](https://bugs.python.org/file46716/test2.zip "Uploaded as application/zip at 2017-03-10.16:36:40 by @vstinner")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more d

[2017-03-10 16:14] vstinner commented on #73975
Same issue than tarfile issue bpo-29788, but on zipfile.

I suggest to add a boolean absolute_path option to zipfile, disabled by default.

[2017-03-10 16:17] serhiy-storchaka commented on #73969
I think using codecs.open() with a non-text codecs is a legit use case, but is not the best way. I suggest:

1) Encourage of using io.open() rather than codecs.open() for text encodings. codecs.open() was recommended way since it worked in all Python versions, including \<2.6, but now we can ignore this advantage.

2) Discourage of using non-text codecs.

3) Deprecate codecs.open() (may be after E

[2017-03-10 16:19] serhiy-storchaka commented on #73975
Is this issue exists on zipfile?

[2017-03-10 16:36] vstinner commented on #73975
Oh, it seems like zipfile is not affected by the issue, only tarfile. The documentation is correct:
https://docs.python.org/dev/library/zipfile.html#zipfile.ZipFile.extract

You can test using attached test2.zip.

haypo@selma$ python3 -m zipfile -l \~/test2.zip
File Name                                             Modified             Size
/home/haypo/test                               2017-03-10

[2017-03-10 16:36] #73975 closed, assigned to nobody

[2017-03-10 17:15] zhangyangyu commented on #73970
Thanks for your report, Maxime! I open PRs to fix it.

[2017-03-10 17:26] zhangyangyu commented on #73970
Assigned to Mariatta :-).

[2017-03-10 17:46] serhiy-storchaka commented on #73970
See also bpo-21818. I suspect there are other incorrect references.

[2017-03-10 18:19] brettcannon commented on #73944
Please keep this issue closed until you hear back from the SWIG team. Just because your code worked under Python 3.5 doesn't mean SWIG didn't accidentally emit something that breaks under Python 3.6 because we started being more stringent about something. Basically unless we have C code (and not SWIG or C++ code) to reproduce this then we have to go on the assumption it's a problem on SWIG's side.

[2017-03-10 18:19] #73944 closed, assigned to nobody

[2017-03-10 18:25] mdickinson commented on #73968
Thanks for the idea, and the PR!

To be useful, this would need a bit of tweaking: we can't assume that a digit is always `unsigned long` (in fact, I'd expect that to be rare on 64-bit non-Windows systems, where `unsigned long` typically has 64 bits, and `digit` should be using a 32-bit type), so we'd need to identify and use the most appropriate variant of clz/clzl/clzll somehow.

I think it woul

[2017-03-10 18:52] serhiy-storchaka commented on #73968
I think we can assume that digit is no larger than unsigned long, otherwise PyLong_AsLong() and like wouldn't work.

[2017-03-10 18:57] warsaw commented on #73965
I don't think the Python envar has to follow the contraction from bash.  $PYTHONHISTORY reads very nicely.

I have similar code in my $PYTHONSTARTUP, but it would be nice to be able to get rid of it and just let Python do the common thing.

[2017-03-10 19:45] acf7070f-ec88-4181-8fde-f722d51e85fb commented on #73972
While fixing this issue I found that it's a duplicate of bpo-24755.

[2017-03-10 19:50] mdickinson commented on #73968
True enough. It looks as though someone (*cough*) already documented that restriction, too: https://github.com/mdickinson/cpython/blob/v3.6.0/Include/longintrepr.h#L28-L30

[2017-03-10 19:54] tiran commented on #73951
You have some custom, unsupported version of OpenSSL installed in /usr/local. That custom version is not compatible with Python 2.7.12.

[2017-03-10 19:54] #73951 closed, assigned to tiran

[2017-03-10 20:09] 674c16e4-b864-4d55-874b-0db106acf296 commented on #73968
Thanks for the review.

I pushed a change to check if clz can be used (`sizeof(digit) <= sizeof(unsigned int)`). Otherwise use clzl. I believe the latter should be the most common, since unsigned long has 32bits. As you say unsigned long long should never be needed.

Btw. mathmodule.c currently duplicates the function: https://github.com/python/cpython/blob/master/Modules/mathmodule.c#L1317. It mi

[2017-03-10 20:12] 674c16e4-b864-4d55-874b-0db106acf296 commented on #73968
Oops. Actually clz should commonly be enough. And platforms where clz and clzl are different (\<=\> unsigned int and unsigned long are different) should be rare.

[2017-03-10 20:21] f8c2b1db-319d-4328-998d-236328ad2fb5 commented on #73946
I'm not sure if it helps at this point, but I've tried several "flavors" of apparently legit tar files with zero entries. All fail.

``tarfile`` module:

[code]

BSD tar (OS X):

[code]

GNU tar (OS X via MacPorts):

[code]

The discussion from bpo-24259 does not appear to contemplate this case, and seems to imply an assumption that there will be at least one entry (which is not always the case).

[2017-03-10 20:31] f8c2b1db-319d-4328-998d-236328ad2fb5 commented on #73946
This patch (also attached) seems to address this particular use case:

[code]

However, I am unfamiliar with the code, especially in light of bpo-24259, and haven't tested it thoroughly. Oversight is needed.

[2017-03-10 20:53] 66b5b850-618d-4a2a-91cc-2db52d3a000b opened #73976 "Optional use of /dev/random on linux"
BPO | [29790](https://bugs.python.org/issue29790)
--- | :---
Nosy | @ncoghlan, @vstinner, @stevendaprano, @IvanAnishchuk

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-10 20:53] 66b5b850-618d-4a2a-91cc-2db52d3a000b commented on #73976
Right now secrets module uses SystemRandom which is hardcoded to use os.urandom() which is fine for most users but some have good hardware sources of entropy (or otherwise replenish entropy pool) in which case it would be much better to use getrandom() with GRND_RANDOM flag i.e. to read from /dev/random pool.

Simply subclassing SystemRandom is not enough, the idea is to make it possible for every

[2017-03-10 21:06] 44e5505c-21d4-4aeb-8a54-37ebb523e067 opened #73977 "print documentation: flush is also a keyword argument"
BPO | [29791](https://bugs.python.org/issue29791)
--- | :---
Nosy | @berkerpeksag, @Lucioric2000
PRs | <li>python/cpython#1093</li><li>python/cpython#1111</li><li>python/cpython#1112</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.

[2017-03-10 21:06] 44e5505c-21d4-4aeb-8a54-37ebb523e067 commented on #73977
In the print() function documentation (https://docs.python.org/3/library/functions.html#print), the first line says "Print objects to the text stream file, separated by sep and followed by end. sep, end and file, if present, must be given as keyword arguments.", but the function definition is said to be "print(*objects, sep=' ', end='\\n', file=sys.stdout, flush=False)". Based on the Python user f

[2017-03-10 21:28] #73972 closed, assigned to nobody

[2017-03-10 21:50] zooba commented on #73964
Ah, I see. We force load it in [PC/getpathp.c](https://github.com/python/cpython/blob/main/PC/getpathp.c) to ensure that it's ours and not another version's python3.dll.

We should probably refactor the GetModuleFileNameW call into its own function so we can call it from anywhere we need.

[2017-03-10 22:14] brettcannon commented on #73874
I'm still thinking about this but I'm still leaning towards deprecating pathlib.absolute().

[2017-03-10 22:33] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
done

[2017-03-10 22:55] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
thanks :)
I would update the original PR soon.

[2017-03-10 23:00] f8c2b1db-319d-4328-998d-236328ad2fb5 commented on #73946
After some consideration, I think this is probably more correct:

[code]

But again, I'm no expert here.

[2017-03-10 23:05] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73927
or maybe git is smart enough to realize what happened, and I don't have
to update [PR 560](https://github.com/python/cpython/pull/560)?

[2017-03-10 23:29] vstinner commented on #73976
I'm opposed to use blocking /dev/random instead of /dev/urandom: see PEP-524 for the rationale.

[2017-03-11 00:10] 66b5b850-618d-4a2a-91cc-2db52d3a000b commented on #73976
Victor, I suppose you don't happen to have a good entropy source? :) I cannot really stress the word "optional" enough here. And I understand why most user wouldn't want this. That's why I'm proposing to make it optional.

As per PEP, "The /dev/random device should only used for very specific use cases." and that's exactly what I'm proposing, a special option for special use cases. (Speaking of op

[2017-03-11 00:30] ezio-melotti commented on #73971
Could you report this to http://psf.upfronthosting.co.za/roundup/meta/ ?

[2017-03-11 00:30] #73971 closed, assigned to ezio-melotti

[2017-03-11 00:41] vadmium commented on #73969
I agree that it would be better to hold off deprecating codecs.open until Python 2 is no longer supported. This deprecation also discussed in bpo-8796.

There is more to compatability than the missing attributes. The most obvious one to me is that the TextIOBase.read’s parameter (read size) seems to correspond best with the second parameter (chars) to StreamReader.read.

The rot-13 codec is not re

[2017-03-11 00:55] 2636780d-49d5-42ba-91c2-9933afb6ce3b commented on #73971
On 11 March 2017 00:30:48 GMT+00:00, Ezio Melotti \<report@bugs.python.org\> wrote:

No problem! Sorry for the noise

[2017-03-11 02:50] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73963
allow_abbrev as added with http://bugs.python.org/issue14910

I contributed to the patch, but my memory isn't fresh.  The fact that this works across the subparser boundary is, in a sense, accidental.  We didn't think about how abbreviations are handled across this boundary.

The loop that matches flag strings with Action options ignores the subparser command.  It's just another positional argumen

[2017-03-11 03:15] vadmium commented on #73932
One other difference between 2 and 3 is that Python 3 has two kinds of “binary” files. In most cases, a subset of the BufferedIOBase API is assumed, which does “exact” reads and writes. I understand this is how Python 2 files worked. But there is also RawIOBase, which does short reads and writes.

Perhaps it is worth clarifying if the file objects have to be the “buffered” kind or not. In my patch

[2017-03-11 03:41] Mariatta commented on #73970
Thanks all :)
I fixed the two references to copy() in shutil docs, and backported to 3.5 and 3.6.
Since this particular issue is fixed, I'm closing this. If people find other incorrect references, they can open another ticket.

[2017-03-11 03:41] #73970 closed, assigned to Mariatta

[2017-03-11 05:17] eryksun commented on #73874
resolve() can't replace absolute(). They serve different purposes. Sometimes one wants an absolute path, but without resolving symbolic links.

absolute() processes a path as a string, which will continue to be true if it's updated to call nt.\_getfullpathname (GetFullPathName) on Windows. OTOH, resolve() can outright fail on Windows. I can write up a list of examples (I can think of 5 or 6 unhand

[2017-03-11 05:27] vadmium commented on #73974
The CLI was added in bpo-13477. I didn’t see any discussion of traversal attacks there, so maybe it was overlooked. Perhaps there should also be a warning, like with the Tarfile.extract and “extractall” methods.

However I did see one of the goals was to keep the CLI simple, which I agree with. I would suggest that the CLI get this proposed behaviour by default (matching the default behaviour of m

[2017-03-11 06:16] #73956 closed, assigned to nobody

[2017-03-11 11:33] ee75c303-5726-438c-b743-dcc156ee5aa5 commented on #73978
When run under Python 3.6.0 or 3.5.1 (and presumably other versions of Python 3) the attached code fails with "Fatal Python error: Cannot recover from stack overflow." then aborts with a core dump and an error code indicating it got a SIGABRT.

On Python 2.7 it instead hangs indefinitely.

Obviously this code is stupid and shouldn't be expected to do anything very reasonable - It's shrunk down fro

[2017-03-11 11:33] ee75c303-5726-438c-b743-dcc156ee5aa5 opened #73978 ""Fatal Python error: Cannot recover from stack overflow." from pure Python code"
BPO | [29792](https://bugs.python.org/issue29792)
--- | :---
Nosy | @zhangyangyu
Superseder | <li>bpo-6028: Interpreter aborts when chaining an infinite number of exceptions</li>
Files | <li>[recursionerror.py](https://bugs.python.org/file46720/recursionerror.py "Uploaded as text/plain at 2017-03-11.11:33:01 by David MacIver")</li>

<sup>*Note: these values reflect the state of the issue at the ti

[2017-03-11 12:19] zhangyangyu commented on #73978
Looks same as bpo-6028.

[2017-03-11 12:22] ee75c303-5726-438c-b743-dcc156ee5aa5 commented on #73978
So it does. My apologies. I'll close this.

[2017-03-11 12:22] #73978 closed, assigned to nobody

[2017-03-11 13:07] ncoghlan commented on #73976
This RFE is unfortunately based on some incorrect assumptions about the way Linux kernels use CSPRNGs and entropy pools. Using /dev/random isn't magically more secure than /dev/urandom, it just makes your applications less reliable for no good reason.

Folks are free to do that through an extension module if they really wish to do so, but it's not an option we're interested in supporting in the st

[2017-03-11 13:07] #73976 closed, assigned to nobody

[2017-03-11 13:45] ncoghlan commented on #73976
To provide some additional context to that answer: the problem isn't with folks wanting direct access to their hardware entropy devices as such.

There are plenty of options for that (such as exposing it as a file descriptor distinct from both /dev/random and /dev/urandom), but going through /dev/random (or calling "os.getrandom(n, os.GRND_RANDOM)") isn't one of them.

Instead, /dev/random consume

[2017-03-11 13:46] serhiy-storchaka commented on #73979
Following PR converts some builtin types constructors to Argument Clinic:

complex.\_\_new__
float.\_\_new__
function.\_\_new__
int.\_\_new__
mappingproxy.\_\_new__
module.\_\_init__
property.\_\_init__
structseq.\_\_new__

[2017-03-11 13:46] serhiy-storchaka opened #73979 "Convert some builtin types constructors to Argument Clinic"
BPO | [29793](https://bugs.python.org/issue29793)
--- | :---
Nosy | @vstinner, @larryhastings, @serhiy-storchaka
PRs | <li>python/cpython#615</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-11 16:00] d5fdb119-613c-451d-b1c0-d3c0c3358f9c opened #73980 "Incorrect error message on invalid __class__ assignments"
BPO | [29794](https://bugs.python.org/issue29794)
--- | :---
Nosy | @stevendaprano, @pppery, @zhangyangyu

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-11 16:00] d5fdb119-613c-451d-b1c0-d3c0c3358f9c commented on #73980
If you try to set the \_\_class__ of a type which doesn't support "\_\_class__" assignments, you get the error message:

    TypeError: __class__ assignment only supported for heap types or ModuleType subclasses

However, the actual restriction doesn't require a subclass of "ModuleType"; the below code works:

[code]

Thus the error message is incorrect.

[2017-03-11 18:20] rhettinger commented on #73908
The PR was applied to 3.7.  I don't think it is worth backing.

[2017-03-11 18:20] #73908 closed, assigned to rhettinger

[2017-03-11 18:41] vstinner commented on #73976
You can already use os.getrandom() if you want /dev/urandom. And as you
wrote, it is easy to inherit from SystemRandom if you need something else
than bytes.

I am strongly opposed to use /dev/random because most users misunderdood
RNG znd so will use /dev/random for \*bad* reason.

There is no need to extend the stdlib. I suggest yo close this issue as
WONTFIX.

[2017-03-11 18:42] vstinner commented on #73979
Cool. You can close my issue, this one supersed it.

[2017-03-11 18:43] brettcannon commented on #73874
I know it has it's uses (avoiding stat calls is one of them), but it is still undocumented, untested, and has two comments in it saying it needs work. Because of all that it might as well not exist since it doesn't meet our standards of quality.

If someone wants to fix all those issues then we can properly document it as supported, but if no one is willing to then I don't think we should leave un

[2017-03-11 18:45] serhiy-storchaka commented on #73979
str, bytes and bytearray still are not converted.

[2017-03-11 19:25] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73981
It seems both me and many other people (judging from SO questions) are confused about whether it's ok to write this:

[code]

It's not ok (doesn't work on Windows presumably because somehow when it's pickled, the connection between global queues in the two processes is lost; works on Linux, because I guess fork keeps more information than pickle, so the connection is maintained).

I thought it wou

[2017-03-11 19:25] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #73981 "Clarify how to share multiprocessing primitives"
BPO | [29795](https://bugs.python.org/issue29795)
--- | :---
Nosy | @pkch, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-11 20:46] applio commented on #73981
On Windows, because that OS does not support fork, multiprocessing uses spawn to create new processes by default.  Note that in Python 3, multiprocessing provides the user with a choice of how to create new processes (i.e. fork, spawn, forkserver).

When fork is used, the 'q = Queue()' in this example would be executed once by the parent process before the fork takes place, the resulting child pro

[2017-03-11 22:11] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
after some closer examination, ISTM that in [Objects/exceptions.c](https://github.com/python/cpython/blob/main/Objects/exceptions.c), we can't
remove PyNumber_Check to optimize or simplify the code, as the argument
'filename' can be either an integer type (only in case the error is a
BlockingIOError), or quite anything else, except for None.

We could replace PyNumber_Check(filename) with PyIndex_

[2017-03-12 00:46] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73981
How about inserting this text somewhere:

Note that sharing and synchronization objects (such as `Queue()`, `Pipe()`, `Manager()`, `Lock()`, `Semaphore()`) should be made available to a new process by passing them as arguments to the `target` function invoked by the `run()` method. Making these objects visible through global variables will only work when the process was started using `fork` (and a

[2017-03-12 00:47] eryksun commented on #73874
What's the rationale for not calling self.\_flavour.pathmod.abspath() to implement absolute()? For example:

[code]

That's almost right except for an unrelated problem that pathlib shouldn't append a trailing slash for \\\\.\\ local device paths. Doing so creates a different path, which may be invalid. \\\\.\\con is a symbolic link to \\Device\\ConDrv\\Console, and adding a trailing backslash aft

[2017-03-12 01:01] zware commented on #73982
See [PR493](https://github.com/python/cpython/pull/493) (https://ci.appveyor.com/project/python/cpython/build/2.7.13+.184) for an example.  I'd rather not merge [PR493](https://github.com/python/cpython/pull/493), which adds AppVeyor to 2.7, until this is resolved.

[2017-03-12 01:01] zware opened #73982 "[2.7] test_weakref hangs on Python 2.7 on Windows"
BPO | [29796](https://bugs.python.org/issue29796)
--- | :---
Nosy | @pfmoore, @pitrou, @vstinner, @tjguk, @zware, @zooba
PRs | <li>python/cpython#2553</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p><

[2017-03-12 02:15] stevendaprano commented on #73980
Your example works because random is a module:

py\> from types import ModuleType
py\> import random
py\> type(random) is ModuleType
True

Since random is an instance of ModuleType, your class M is a subclass of ModuleType, and assigning to random.\_\_class__ is allowed.

I'm closing this issue, but if can demonstrate an actual problem, please feel free to re-open it.

[2017-03-12 02:15] #73980 closed, assigned to nobody

[2017-03-12 04:41] zware commented on #73949
This should be fixed by [PR624](https://github.com/python/cpython/pull/624) and [PR625](https://github.com/python/cpython/pull/625).

[2017-03-12 04:41] #73949 closed, assigned to zware

[2017-03-12 05:45] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73983
Using multiprocessing.Queue() with several processes writing very fast results in a deadlock both on Windows and UNIX.

For example, this code:

[code]

hangs on Windows 10 (python 3.6) with 2 workers and 1000 results each, and on Ubuntu 16.04 (python 3.5) with 100 workers and 100 results each. The print out shows that the queue has reached the full size, but a bunch of processes are still alive.

[2017-03-12 05:45] bef3b989-2e47-4e9c-91d3-504408b50b75 opened #73983 "Deadlock with multiprocessing.Queue()"
BPO | [29797](https://bugs.python.org/issue29797)
--- | :---
Nosy | @tim-one, @pkch, @eryksun, @applio

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-12 06:12] tim-one commented on #73983
I think this is expected.  Add this as the first line of `simulate()` and the problem should go away:

[code]

As the docs say, a Queue works with a background thread, which feeds incoming data from an internal buffer to a (interprocess) pipe.  By default, a process using the Queue attempts to join that thread when the process exits.  But since you never take anything off the queue, the thread wai

[2017-03-12 06:13] ncoghlan commented on #73984
While backporting bpo-29656 to get "make patchcheck" to play nice with git PR branches, I discovered an incompatibility between the way "git worktree" works and the assumptions in "patchcheck.py".

Specifically, in a worktree, ".git" is a file, rather than a directory:

[code]

So the current isdir() check should be relaxed to just an exists() check.

[2017-03-12 06:13] ncoghlan opened #73984 "Handle "git worktree" in "make patchcheck""
BPO | [29798](https://bugs.python.org/issue29798)
--- | :---
Nosy | @ncoghlan, @vstinner
PRs | <li>python/cpython#629</li><li>python/cpython#633</li><li>python/cpython#634</li><li>python/cpython#635</li><li>python/cpython#1057</li><li>python/cpython#1060</li><li>python/cpython#1059</li><li>python/cpython#1058</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated

[2017-03-12 06:16] ncoghlan commented on #73842
http://bugs.python.org/issue29798 is a follow-up issue to make the patchcheck script compatible with `git worktree`.

[2017-03-12 07:41] serhiy-storchaka commented on #73916
I think it would be better to replace PyNumber_Check() with PyIndex_Check() and change error messages to more specific. In IO related functions the accepted values are integers and None. In bytes/bytearray methods -- integers and bytes-like objects.

[2017-03-12 08:16] #73932 closed, assigned to serhiy-storchaka

[2017-03-12 09:17] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
"In bytes/bytearray methods -- integers and bytes-like objects."
(I guess you refer to parse_args_finds_byte (in [Objects/bytes_methods.c](https://github.com/python/cpython/blob/main/Objects/bytes_methods.c)))
so you suggest that in case (!PyIndex_Check(tmp_subobj)), we also check whether
(PyByteArray_Check(tmp_subobj) or PyBytes_Check(tmp_subobj)), and raise an
error if needed?

anyway, you and R

[2017-03-12 09:34] serhiy-storchaka commented on #73916
The call of PyNumber_Check() is redundant if we don't bother about error message. But if we want to have accurate error message we should check types before converting.

In parse_args_finds_byte we should check rather PyObject_CheckBuffer() (and maybe PyBytes_Check() for fast path if this makes sense). Perhaps some methods need to check also PyTuple_Check().

[2017-03-12 09:36] #73842 closed, assigned to ncoghlan

[2017-03-12 09:47] eryksun commented on #73983
On Windows the "QueueFeederThread" in each child process is blocked in WaitForMultipleObjects in PipeConnection.\_send_bytes. The pipe buffer size is 8 KiB, and each pickled int is 5-6 bytes. With 2 processes the pipe is full after sending (256 + 469) * 2 == 1450 int objects. Joining this feeder thread waits until all of the data is sent, however long that takes. This appears to be working correct

[2017-03-12 10:25] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73983
Yes, this makes sense. My bad, I didn't realize processes might need to wait until the queue is consumed.

I don't think there's any need to update the docs either, nobody should have production code that never reads the queue (mine was a test of some other issue).

[2017-03-12 10:42] ncoghlan commented on #73909
I've merged [PR 575](https://github.com/python/cpython/pull/575) to master, and 636 is pending a successful Travis run for 3.6.

Both branches still need NEWS entries- I'll do those as independent PRs rather than cherry-picking (since cherry picking NEWS changes is currently still doomed to fail)

[2017-03-12 11:38] ncoghlan commented on #73909
Noting for the record: Steve reviewed & approved the original PR before I merged that and did the backport to 3.6.

With the new test case ensuring sys.path configuration consistency and Paul's report of success when checking the original problem from bpo-29319 was resolved, I think this is OK to just go out with 3.6.1 final rather than needing an rc2 release.

[2017-03-12 11:38] #73909 closed, assigned to ncoghlan

[2017-03-12 11:42] d732c26f-ecfa-4c92-9f00-a1eacb6965bc commented on #73965
That's a great feature! Here's a question: what should be CPython's behavior when PYTHONHISTORY is explicitly set to empty? Currently there's an error:

[code]

Maybe it's better to just disable the history functionality in this case?

By the way, seems comments starting from https://github.com/python/cpython/pull/473/files#diff-f34a16518c608b2ca946d3f5ca0a1942R419 should be updated too.

[2017-03-12 12:49] ecd7c7a5-9835-451b-b7a2-4836efc23815 opened #73985 "Add tests for header API of 'urllib.request.Request' class"
BPO | [29799](https://bugs.python.org/issue29799)
--- | :---
Nosy | @vadmium, @ultimatecoder, @iritkatriel
PRs | <li>python/cpython#643</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-12 13:06] zooba commented on #73909
Thanks, Nick! I agree that this alone isn't worth a second RC, though if we fix another "nearly worth it" (especially anything related to the github transition) we may want to consider it still.

Ned - I'd be okay to sneak out another release this week if we want, without slipping the final release.

[2017-03-12 15:52] #73983 closed, assigned to nobody

[2017-03-12 16:29] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
"Perhaps some methods need to check also PyTuple_Check()."
which methods?

anyway, a new patch diff file is attached, according to your other seggustions,
Serhiy.
(I ran the test module, and some tests of my own, and it seems that the patch
doesn't break anything.)

[2017-03-12 17:01] 1st1 commented on #73786
What a bizarre bug.  Created a PR with a fix.

Nathaniel, please put me in a nosy list when you submit issues about generators/coroutines.

[2017-03-12 17:45] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73901
I think that this string falls through to the last case in 'parser.\_parse_optional' (the first parsing loop)

[code]

It has the format of a optional flag, not a positional argument.  If preceded by '--' it gets classed as argument.

(In the second, main, parsing loop) Since it doesn't match any defined Actions it gets put in the list of 'extras' (as returned by 'parse_known_args').  But the pars

[2017-03-12 19:22] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73981
Somewhat related is this statement from Programming Guidelines:

Since on Windows, even "inheritance" is really the same pickle + pipe executed inside CPython, I assume the entire paragraph is intended for UNIX platform only (might be worth clarifying, btw).

On Linux, "inheritance" works faster, and can deal with more complex objects compared to pickle with pipe/queue -- but it's equally true whe

[2017-03-12 20:00] serhiy-storchaka commented on #73916
Please open a PR for review.

Checking PyTuple_Check() is needed if this code is used in startswith() and endswith().

"integer argument or None expected" -- I'm not sure this wording is correct enough. What wording is used in other similar code? I'm sure there other functions that accept int or None.

[2017-03-12 20:26] brettcannon commented on #73874
"What's the rationale for not calling self.\_flavour.pathmod.abspath() to implement absolute()?" Beats me. :) It's just how Antoine wrote it and that's all I know.

[2017-03-12 20:52] serhiy-storchaka commented on #73874
posixpath.abspath() collapses "\<path\>/\<symlink\>/.." to "\<path\>", this is not correct. Not sure about ntpath.abspath().

[2017-03-12 21:04] #73786 closed, assigned to nobody

[2017-03-12 21:06] #73928 closed, assigned to nobody

[2017-03-12 21:10] 84dd73fe-9313-425f-aae0-390228a90839 opened #73986 "functools.partial segfaults in repr when keywords attribute is abused"
BPO | [29800](https://bugs.python.org/issue29800)
--- | :---
Nosy | @ambv, @serhiy-storchaka, @MojoVampire, @MSeifert04
PRs | <li>python/cpython#649</li><li>python/cpython#671</li><li>python/cpython#672</li><li>python/cpython#703</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more det

[2017-03-12 21:10] 84dd73fe-9313-425f-aae0-390228a90839 commented on #73986
It's possible to create a segfault when one (inappropriatly) changes the functools.partial.keywords attribute manually. A minimal example reproducing the segfault is:

System: Windows 10
Python: 3.5.3, 3.6.0, master-branch

[2017-03-12 21:53] af456376-f394-4f4c-a082-423aaf394f92 commented on #73942
Hi folks,
I have another very similar issue, it could be the same root cause. Let me know if it is.

assert 3 == 3.0  will pass

self.assertEqual(3, 3.0) - will pass

this had the nasty side effect of my test suite not catching a problem with SUT. I have updated the test suite to validate the result type as well but want to know how to file this use-case.

[2017-03-12 22:01] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
I am sorry, but I guess I am missing something about startswith() and
endswith().
ISTM that PyTuple_Check() is already called by unicode_startswith,
unicode_endswith and \_Py_bytes_tailmatch, which already raise a TypeError
with an appropriate error message
(e.g. "%s first arg must be bytes or a tuple of bytes, not %s").

[code]

so I changed the error messages in my patch to the form of
'argument

[2017-03-12 22:32] vadmium commented on #73985
I think the RequestTests class really belongs in test_urllib2, which already has a RequestHdrsTests class testing these APIs.

BTW test_urllib.py (no 2) is mainly for testing the stuff that came from Python 2’s “urllib” module, but the Request class is in “urllib2” instead.

[2017-03-12 22:39] serhiy-storchaka commented on #73916
LGTM. Thank you Oren.

[2017-03-12 22:39] #73916 closed, assigned to serhiy-storchaka

[2017-03-13 01:28] stevendaprano commented on #73942
I'm afraid I don't know what SUT means.

But 3 == 3.0 is the correct and expected behaviour. If you need to
check that two values are both the same type and the same value, you
have to validate the type and value separately.

Changing the behaviour of == is ruled out for backwards
compatability, but perhaps you could suggest a new === operator
to check type and value. That would require some discu

[2017-03-13 02:11] #73942 closed, assigned to nobody

[2017-03-13 02:25] 17ef44a8-6623-4db0-a59e-7d680ed2fbed commented on #73901
I think that makes sense, but there's still an open question: what should the correct way be to allow dashes to be present at the beginning of positional arguments?

[2017-03-13 02:25] bef3b989-2e47-4e9c-91d3-504408b50b75 commented on #73981
Actually, never mind, I think one of the paragraphs in the Programming Guidelines ("Explicitly pass resources to child processes") basically explains everything already. I just didn't notice it until @noxdafox pointed it out to me on SO.

Close please.

[2017-03-13 02:58] 4adf8f35-7089-4188-9ede-43f40ba9c493 opened #73987 "Spam"
BPO | [29801](https://bugs.python.org/issue29801)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-13 02:58] methane commented on #73874
I feel this is reasonable limitation, and expected behavior for some cases.
So I think adding note about this in document is enough.

[2017-03-13 02:59] #73987 closed, assigned to nobody

[2017-03-13 03:42] #73981 closed, assigned to nobody

[2017-03-13 03:54] ncoghlan commented on #73984
Turns out I missed another isdir() check in get_base_branch(), so this still isn't working properly in git worktree directories.

[2017-03-13 04:11] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73901
http://bugs.python.org/issue9334, 'argparse does not accept options taking arguments beginning with dash (regression from optparse)'

is an old discussion about strings that begin with a dash and don't
match defined flags.

One proposal was to add a 'args_default_to_positional' parameter, and change the parsing that I described before to:

\+        # behave more like optparse even if the argument

[2017-03-13 04:26] 53fb17d3-0eef-40a7-a151-4ba72f2ccd05 commented on #73988
Attached struct_unpack_crash.py results to a null-pointer dereference in s_unpack_internal() function of \_struct module:

ASAN:SIGSEGV
\=================================================================
==20245==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x7facd2cea83a bp 0x000000000000 sp 0x7ffd0250f860 T0)
   #0 0x7facd2cea839 in s_unpack_internal /home/artem/projects/py

[2017-03-13 04:26] 53fb17d3-0eef-40a7-a151-4ba72f2ccd05 opened #73988 "A possible null-pointer dereference in struct.s_unpack_internal()"
BPO | [29802](https://bugs.python.org/issue29802)
--- | :---
Nosy | @serhiy-storchaka, @artem-smotrakov
PRs | <li>python/cpython#1213</li><li>python/cpython#1217</li><li>python/cpython#1219</li><li>python/cpython#1251</li><li>python/cpython#4068</li>
Files | <li>[struct_unpack_crash.py](https://bugs.python.org/file46722/struct_unpack_crash.py "Uploaded as text/plain at 2017-03-13.04:26:54 by @arte

[2017-03-13 06:10] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #73916
thanks for the reviews :)

[2017-03-13 06:15] zhangyangyu opened #73989 "Remove some redandunt ops in unicodeobject.c"
BPO | [29803](https://bugs.python.org/issue29803)
--- | :---
Nosy | @vstinner, @serhiy-storchaka, @zhangyangyu
PRs | <li>python/cpython#660</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-13 10:42] vadmium commented on #73901
Max, I’m not sure if you saw the double-dash (--) workaround. IMO that is the “correct” way to do this for Unix command lines, and for the current version of “argparse”. But I guess that may be too inconvenient for your Morse Code case. Perhaps you can write your own custom sys.argv parser, or find some other argument handling library out there that doesn’t follow the usual Unix conventions.

I do

[2017-03-13 13:11] e463ac05-e672-47f9-984a-f51a19831e40 commented on #73956
Thanks for fixing this so fast. Good work.

[2017-03-13 13:48] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 commented on #73990
I am trying to build Python 3.6.1rc1 on Fedora, and have the following test failing on arm64 (aarch64) architecture:

\======================================================================
FAIL: test_pass_by_value (ctypes.test.test_structures.StructureTestCase)
\----------------------------------------------------------------------
[code]

---------------------------------------------------------

[2017-03-13 13:50] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 opened #73990 "test_ctypes test_pass_by_value fails on arm64 (aarch64) architecture"
BPO | [29804](https://bugs.python.org/issue29804)
--- | :---
Nosy | @vsajip, @vstinner, @ned-deily, @yan12125, @stratakis, @irushchyshyn
PRs | <li>python/cpython#1559</li>
Files | <li>[Python3.6.1rc1_build_log.txt](https://bugs.python.org/file46724/Python3.6.1rc1_build_log.txt "Uploaded as text/plain at 2017-03-13.13:48:44 by @irushchyshyn")</li>

<sup>*Note: these values reflect the state of the

[2017-03-13 16:50] brettcannon commented on #73973
That's because the frame-stripping trick is done through import.c which importlib.import_module() doesn't pass through. So thanks for the report, Ulrich, but it is working as expected and we won't be changing import_module() to pass through the C code to keep the C code to a minimum.

[2017-03-13 16:50] #73973 closed, assigned to nobody

[2017-03-13 17:43] brettcannon commented on #73726
So new options sounds like a no-go, but what about the COMPACT attribute on the json module as per https://github.com/python/cpython/pull/72?

[2017-03-13 17:51] 99ffcaa5-b43b-4e8e-a35e-9c890007b9cd commented on #73986
I feel like adding a type check to partial_repr might not be the correct fix here. If PyUnicode_FromFormat returned NULL and set an exception here, then the existing code would work as written (raising an exception, but not segfaulting).

Alternatively, if the code in question used %S for the key instead of %U, it would also work as written (not raising an exception or segfaulting).

It's extremel

[2017-03-13 18:46] serhiy-storchaka commented on #73986
PyUnicode_FromFormat() crashes in debug build if the argument for %U is not a unicode string.

I thought about using %S. This would correspond possible Python implementation (`'%s=%r' % (key, value)`). But in that case we should increase refcounts of key and value (and maybe even pto->kw) since custom __str__ of the key can remove the value from the dict and make the value variable the hanging ref

[2017-03-13 18:50] serhiy-storchaka commented on #73726
I expressed my opinion, but I am ready to change it if this proposal meets the support of other core developers after discussion on the mailing list.

[2017-03-13 21:03] be1526b9-3573-4f3d-abe3-d392fe59c2a9 opened #73991 "Support moving across filesystems in pathlib.Path, as shutil.move() does"
BPO | [29805](https://bugs.python.org/issue29805)
--- | :---
Nosy | @brettcannon, @pfmoore, @ericvsmith, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Lin

[2017-03-13 21:25] be1526b9-3573-4f3d-abe3-d392fe59c2a9 commented on #73991
Just to confirm, I was able to workaround it with Py3.6:

[code]

It is reasonable to think about adding a similar feature to pathlib if it doesn't support it and just special-case the drive-to-drive scenario for Windows

[2017-03-13 22:25] ambv commented on #73986
I'd also prefer %S instead of a hard-coded check.

[2017-03-13 23:38] 7a064fe6-c535-4d80-a11f-a04ed39056c5 commented on #73901
The change to `_parse_optional` that did go through is the ability to turn off abbreviations

http://bugs.python.org/issue14910

Even that has had a few complaints, http://bugs.python.org/issue29777

[2017-03-14 01:53] 84dd73fe-9313-425f-aae0-390228a90839 commented on #73986
Given that this my first contribution to CPython I'm not too sure about the etiquette. When do I know (or who decides) when an agreement on a fix is reached? I wouldn't mind retracting the pull request if someone else wants to fix it differently.

I actually used the PyUnicode_Check on purpose because I always viewed the representation should be either unreadably (like objectxyz at 0xwhatever) or

[2017-03-14 02:11] eryksun commented on #73991
Moving a file across volumes isn't atomic. Getting an exception in this case can be useful. There could be a "strict" keyword-only parameter that defaults to False. If it's true, then replace() won't try to move the file.

[2017-03-14 03:18] e368e5ec-4a13-4787-ae33-47ac6128712a commented on #73992
In trying to test the new feature in 3.6.0,
$ python -VV  # get more info than python -V or python --version
I found several oddities.

1.On both  Amazon Linux AMI Python 2.7.12 and also Anaconda Python 3.6.0, using lowercase v's causes a crash on some kind of import.

1a.AWS first lines are:
[ec2-user@ip-172-31-2-101 \~]$ python -v
\# installing zipimport hook
import zipimport # builtin
\# instal

[2017-03-14 03:18] e368e5ec-4a13-4787-ae33-47ac6128712a opened #73992 "Requesting version info with lowercase -v or -vv causes an import crash"
BPO | [29806](https://bugs.python.org/issue29806)
--- | :---
Nosy | @methane

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-14 03:26] methane commented on #73992
Lowercase -v is not version, it's "verbose". and -vv is "very verbose".
So it's not crash, just a verbose message about importing.

output of -V and -VV is implementation detail.  No standard format is specified by Python language.
PyPy has different output too.

[2017-03-14 03:33] #73992 closed, assigned to nobody

[2017-03-14 05:11] rhettinger commented on #73726
[Serhiy]

[Bob Ippolito]

I concur with those sentiments and am going to mark this as closed.  We already have a way to do it.  That way may not be ideal but putting in an additional way is likely to result in a net increase in complexity.

If some counter-consensus arises on one of the mailing lists, this tracker issue can be re-opened and the discussion can continue.

[2017-03-14 05:11] #73726 closed, assigned to 8bb2fe13-d245-4fef-8aa2-70d7108db3c3

[2017-03-14 05:55] serhiy-storchaka commented on #73986
It would be nice if you provided the solution with %S. But if you don't do this, and nobody other provide other pull request, I'll merge the current solution.

When the dictionary keys are changed during iteration PyDict_Next() can skip some key-value pairs or return some key-value pairs multiple times. It never raises an exception, crashes or hangs in infinite loop. This is appropriate.

The prob

[2017-03-14 06:18] 05014b7d-d21c-41f2-9248-6baf305018c5 opened #73993 "ArgParse page in library reference rewrite"
BPO | [29807](https://bugs.python.org/issue29807)
--- | :---
Nosy | @vadmium, @sweavo

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-14 06:18] 05014b7d-d21c-41f2-9248-6baf305018c5 commented on #73993
Originally raise as https://github.com/python/pythondotorg/issues/1059

Although it's a reference page, it is clouded by too many examples and too little reference material. Moreover, the examples are not real-world applications of argument parsing.

I propose removing the "process some integers" example, replacing it with something more typically gnu style, e.g., myapp.py [--quiet] [--log-level \

[2017-03-14 09:01] #73734 closed, assigned to nobody

[2017-03-14 09:36] 01e27b45-90f2-4c74-9e5e-7e7e54c3d78e opened #73994 "SyslogHandler: should not raise exception in constructor if connection fails"
BPO | [29808](https://bugs.python.org/issue29808)
--- | :---
Nosy | @vsajip, @socketpair, @Mariatta
PRs | <li>python/cpython#663</li><li>python/cpython#695</li><li>python/cpython#696</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.

[2017-03-14 09:36] 01e27b45-90f2-4c74-9e5e-7e7e54c3d78e commented on #73994
Syslog handler already able to ignore temporary errors while seding logs. So he knows that syslog server may be not reachable at the moment. But when we say about constructor, it fails with error. I have fixed that -- now it will ignore such errors, and try to re-connect on every logging as it was before. C's version does the same.

[2017-03-14 09:44] ba0e35ee-9fbf-46aa-aa77-27d09fc7efc5 commented on #73973
Thanks for the fast response.
However I disagree with the assertion that this is "working as expected". IMO the same arguments apply as in the original ticket (esp. Georg Brandls) http://bugs.python.org/issue15110#msg163258.

It is unexpected, confusing (esp. to newer devs) and adds a lot of (unnecessary) noise to tracebacks.

Also this basically demotes `import_module` to second rate league since

[2017-03-14 10:09] vadmium commented on #73993
Also see bpo-26602 and bpo-11176, each with patches. Perhaps you could help review and combine them.

[2017-03-14 10:12] serhiy-storchaka commented on #73786
I am wondering how much of other uses of PyErr_SetObject() are affected by similar bugs?

[2017-03-14 10:35] vstinner commented on #73921
The simple workaround is to revert changes using FASTCALL in partial_call().

But for best performances, it seems like we need two code paths depending if the function supports fastcall or not. I will try to write a patch for that.

[2017-03-14 12:08] vstinner commented on #73921
bench_fastcall_partial.py: more complete microbenchmark.

I rewrote my patch:

* I added \_PyObject_HasFastCall(callable): return 1 if callable supports FASTCALL calling convention for positional arguments
* I splitted partial_call() into 2 subfunctions: partial_fastcall() is specialized for FASTCALL, partial_call_impl() uses PyObject_Call() with a tuple for positional arguments

The patch fixes t

[2017-03-14 12:10] vstinner commented on #73921
Yes, my optimization consumes more C stack: small_stack allocates 80 bytes on the stack (for 5 positional arguments). Is it an issue?

[2017-03-14 13:06] bitdancer commented on #73726
I don't see how adding a constant increases the complexity of the API.

[2017-03-14 13:25] serhiy-storchaka commented on #73921
Nice results.

You made a great work for decreasing C stack consumption. It would be sad to lose it without good reasons. Could you please compare two variants, with and without small stack?

[2017-03-14 13:38] 1st1 commented on #73786
Only when we use an exception to carry a return value.  AFAIK StopIteration is the only such case.

[2017-03-14 14:23] e19bb02b-4d86-4b52-b95f-8ba3ba41da14 commented on #73990
Hi Vinay, I have added you to the nosy list as you are the author of the fix for bpo-29565, and would like to ask you for insights or ideas on why the test would fail only on one architecture (arm64)?

[2017-03-14 14:29] jaraco opened #73995 "TypeError in traceback.print_exc - unicode does not have the buffer interface"
BPO | [29809](https://bugs.python.org/issue29809)
--- | :---
Nosy | @jaraco, @vstinner, @ezio-melotti, @vadmium, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-14 14:29] jaraco commented on #73995
I'm writing a routine that captures exceptions and logs them to a database. In doing so, I encountered a situation that when parsing a Unicode file that has an IndentationError (SyntaxError), print_exc will fail when it tries to render the unicode line. Here's a script that replicates the failure.

\# coding: utf-8

[code]

try:
	args = str('\<tokenize\>'), 7, 2, '  // test'
	raise IndentationErro

[2017-03-14 15:02] vstinner commented on #73921
I measured that my patch (pull request) increases the stack usage of 64 bytes per partial_call() call. I consider that it's accepted for a speedup between 1.12x faster and 1.25x faster.

Attached partial_stack_usage.py requires  testcapi_stack_pointer.patch of issue bpo-28870.

Original:

f(): [1000 calls] 624.0 B per call
f2(): [1000 calls] 624.0 B per call

Patched:

f(): [1000 calls] 688.0 B pe

[2017-03-14 15:05] vsajip commented on #73990
The test checks that a structure passed by value is indeed passed by value - something that is architecture-dependent, as calling conventions differ across architectures.

If the test fails, this indicates that the structure isn't being passed by value - a pointer to the structure is probably passed, which is pass-by-reference rather than pass-by-value. This indicates that a change to ctypes or li

[2017-03-14 15:24] jaraco commented on #73995
A complimentary error will occur on Python 3 if a bytes member exists in the SyntaxError, though I suspect that would be an invalid usage.

[2017-03-14 15:36] serhiy-storchaka commented on #73995
format_exception_only() produces a Unicode string for SyntaxError with Unicode source line.

[code]

But io.BytesIO() accepts only binary strings.

The similar issue is caused by Unicode file name:

[code]

But Unicode error message doesn't produce Unicode output:

[code]

How you got a Unicode source line in SyntaxError?

[2017-03-14 15:41] vstinner commented on #73995
sys.stderr.write() accepts Unicode (encoded to sys.stderr.encoding), whereas io.BytesIO.write() requires bytes:

[code]

You should write an helper function (class with a write method) encoding Unicode strings.

Yeah, it's now time to upgrade to Python 3 ;-)

[2017-03-14 15:52] #73778 closed, assigned to nobody

[2017-03-14 16:17] alex commented on #73996
The names are super misleading. First, they're written in a way that's the opposite of how people think about these things (CLIENT_AUTH -\> server socket; SERVER_AUTH -\> client socket). Second, they're misleading, you can have TLS which is \*mutually* authenticated. Third, CLIENT_AUTH is very frequently used for a server socket where the client isn't authenticated (at the TLS layer) at all!

A si

[2017-03-14 16:17] alex opened #73996 "Rename ssl.Purpose.{CLIENT,SERVER}_AUTH"
BPO | [29810](https://bugs.python.org/issue29810)
--- | :---
Nosy | @tiran, @alex, @dstufft

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-14 16:22] brettcannon commented on #73973
Yep, I agree it isn't as nice as syntactic import, but that can happen when you're not getting to use dedicated bytecode like syntactic import does.

If you can come up with a patch that adds hardly any more C code -- say about 10 or 20 lines? -- I would consider reviewing the patch.

[2017-03-14 16:24] brettcannon commented on #73726
I agree with David that I don't see how adding a constant to the module is really a complication of an API.

[2017-03-14 16:38] tiran commented on #73996
For 3.7 I'm planning to move to protocols instead of purpose oids (PROTOCOL_TLS_CLIENT, PROTOCOL_TLS_SERVER).

[2017-03-14 16:40] alex commented on #73996
Ah, so instead of PROTOCOL_SSLv23 using PROTOCOL_TLS_CLIENT and deprecating the Purpose bits entirely? That sounds good to me!

[2017-03-14 16:48] tiran commented on #73996
Yes, I'm planning a PEP to make the SSL module a bit more sane:

1) deprecate all protocols except for PROTOCOL_TLS_CLIENT / PROTOCOL_TLS_SERVER
2) deprecate purpose in favor of PROTOCOL_TLS_*
3) PROTOCOL_TLS_CLIENT defaults to CERT_REQUIRED, match_hostname=True

[2017-03-14 16:48] alex commented on #73996
Sounds good to me!

[2017-03-14 17:06] 8029d403-64fb-4202-9817-4695852d288d commented on #73726
Agreed. Seems much the same as other argument constants,
like pickle.HIGHEST_PROTOCOL for the "protocol" argument. These are not
changing the API, just adding a helper constant to avoid the magic values.

-Ben

On Tue, Mar 14, 2017 at 12:24 PM, Brett Cannon \<report@bugs.python.org\>
wrote:

[2017-03-14 17:09] vsajip commented on #73994
Can you provide a short script which demonstrates exactly the problem you're trying to solve?

[2017-03-14 17:20] 01e27b45-90f2-4c74-9e5e-7e7e54c3d78e commented on #73994
Nothing special. Just try to create SysLogHandler when syslog server is down. Exception will be raised.

[2017-03-14 17:22] 6394ae25-ec38-4bb4-ae9f-c7fd49375561 commented on #73860
Ok.

As a side note, while compiling python source using gcc 7 [gcc (GCC) 7.0.1 20170314 (experimental)], few places in the code with case fallthrough (must be intentional) triggered this warning - -Wimplicit-fallthrough=.

We can either disable this warning altogether (downside being unintended fallthroughs will go unnoticed) OR  pass some flag [https://developers.redhat.com/blog/2017/03/10/wimpl

[2017-03-14 20:32] vstinner commented on #73860
Yeah, as for each GCC release, I expect new warnings. I noticed the
implicit fall through in GCC 7. I know that it's used on purpose in CPython.

[2017-03-14 20:42] #73921 closed, assigned to nobody

[2017-03-14 21:01] vstinner commented on #73862
Oh wow, I didn't expect this issue with tracing when the commit 5566bbb8d563646d83e8172410fa0c085e8233b1 was merged: test_sys_settrace and test_lsprof passed. Would it be possible to add an unit test?

[2017-03-14 21:36] vstinner commented on #73997
call_method() of typeobject.c has been optimized to avoid temporary method object and to avoid temporary tuple in the issue bpo-29507.

Optimizing callmethod() of call.c was already discussed on issue bpo-29507 but no decision was taken. Since call.c code is more complex, I created a new issue.

[2017-03-14 21:36] vstinner opened #73997 "Avoid temporary method object in PyObject_CallMethod() and PyObject_CallMethodObjArgs()"
BPO | [29811](https://bugs.python.org/issue29811)
--- | :---
Nosy | @vstinner, @methane

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-14 21:45] vstinner commented on #73997
callmethod3.patch of bpo-29507 implements proposed optimization, but only when there is no positional argument. The patch doesn't apply cleanly since the code evolved, including a major refactoring: new [Objects/call.c](https://github.com/python/cpython/blob/main/Objects/call.c) file.

[2017-03-14 22:05] warsaw commented on #73965
On Mar 12, 2017, at 11:42 AM, Chi Hsuan Yen wrote:

Yeah, that's not good.  I'll note that in the PR.

(But also note that you have to unset PYTHONSTARTUP if you, like me, use that
as the old school way of enabling history.)

It should use the default, but it shouldn't cause an error.

[2017-03-14 22:09] jaraco commented on #73995
Good question. Took me a while to replicate the exact conditions, but here's an example:

#coding: utf-8

[code]

try:
  list(tokenize.generate_tokens(buf.readline))
except Exception as exc:
  print(exc.args)

It outputs:
('unindent does not match any outer indentation level', ('\<tokenize\>', 3, 2, u'  //\\n'))

Love to. Currently, we're blocked in that our code relies on SimpleParse, which doesn

[2017-03-14 22:35] jaraco commented on #73995
As a workaround, I wrapped BytesIO thus and it works for our needs.

[code]

I'll recommend we close as wontfix, given the limited impact, unless it's demonstrated elsewhere.

[2017-03-14 22:35] #73995 closed, assigned to nobody

[2017-03-14 23:02] vsajip commented on #73994
Which specific syslog configuration? UDP listener, Unix socket listener, or both?

[2017-03-14 23:03] bitdancer opened #73998 "test for token.py, and consistency tests for tokenize.py"
BPO | [29812](https://bugs.python.org/issue29812)
--- | :---
Nosy | @bitdancer, @berkerpeksag, @serhiy-storchaka, @ammaraskar, @DimitrisJim
PRs | <li>python/cpython#681</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fie

[2017-03-14 23:03] bitdancer commented on #73998
http://bugs.python.org/issue24622 made reminded me that a while back we added tests for the keyword module that includes a test that if you run it, you get the result that is checked in.  The same thing could be done for the token.py module.  And then we could add a cross-check test that tokenize.py has all the symbols defined as well.

[2017-03-15 00:36] ericvsmith commented on #73991
I agree this needs to be different from replace(), due to not being atomic. That makes it an enhancement, so I'm removing 3.5.

I'm +1 on Path supporting something like shutil.move().

[2017-03-15 01:04] vadmium commented on #73995
FWIW I tend to use cStringIO.StringIO as a Python 2 replacement for io.StringIO to avoid this str vs unicode problem. But that only accepts ASCII, so won't help you if you really need the UTF-8 encoding step.

[2017-03-15 02:40] 84dd73fe-9313-425f-aae0-390228a90839 commented on #73999
The PyTuple_GetSlice documentation says it "Take a slice of the tuple pointed to by p from low to high and return it as a new tuple." [0] However in case the start is \<= 0 and the stop is \>= tuplesize it doesn't return the promised "new tuple", it just returns the tuplepointer after incrementing it's refcount [1].

The behaviour is fine (it gave me a bit of a headache though), however could a no

[2017-03-15 02:40] 84dd73fe-9313-425f-aae0-390228a90839 opened #73999 "PyTuple_GetSlice does not always return a new tuple"
BPO | [29813](https://bugs.python.org/issue29813)
--- | :---
Nosy | @rhettinger, @zhangyangyu, @MSeifert04

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-15 02:49] zhangyangyu commented on #73862
Actually the current test produces some noises, but it doesn't fail.

[2017-03-15 03:35] 01e27b45-90f2-4c74-9e5e-7e7e54c3d78e commented on #73994
Syslog, listening on local machine via UNIX socket.

[2017-03-15 03:36] zhangyangyu commented on #73999
I think the description is fine. :-( What leads to your headache?

[2017-03-15 04:08] 84dd73fe-9313-425f-aae0-390228a90839 commented on #73999
That depending on the arguments to "PyTuple_GetSlice" I get "SystemError: ..\\Objects\\tupleobject.c:156: bad argument to internal function" when using PyTuple_SetItem on the (supposedly) new tuple.

Maybe I just misunderstood the word "new" in the documentation. :-)

[2017-03-15 04:25] rhettinger commented on #73999
I think the docs are fine as-is.  Whether an identical tuple is new or not is an implementation detail.

IMO, the docs would create more confusion by trying to over-explain, "slicing of tuples always returns a new tuple when the result tuple is distinct from the original; however, in the case where the result tuple is not distinct, the implementation is at liberty to return the original tuple inst

[2017-03-15 04:25] #73999 closed, assigned to nobody

[2017-03-15 06:22] serhiy-storchaka commented on #73986
Could you create PRs for 3.6 and 3.5 Michael?

[2017-03-15 06:26] 788b8179-4b36-4e5c-89ed-acb2a6a3ef41 commented on #74000
[code]
[code]

I get the following output:

[code]

Therefore, the normal string is `'\\{x}'`.
But the f-string has two parts: `'\\{'` and an expression `Name(id='x', ctx=Load())`.

Where does the `{` in the string part of f-string come from? I can't believe this is the intended behavior... Or, is it?

When I escape the backslash once like above, what gets parsed is actually unescaped backslash. S

[2017-03-15 06:26] 788b8179-4b36-4e5c-89ed-acb2a6a3ef41 opened #74000 "parsing f-strings -- opening brace of expression gets duplicated when preceeded by backslash"
BPO | [29814](https://bugs.python.org/issue29814)
--- | :---
Nosy | @serhiy-storchaka, @mbdevpl
Superseder | <li>bpo-29104: Left bracket remains in format string result when &#x27;\&#x27; preceeds it</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fiel

[2017-03-15 07:03] serhiy-storchaka commented on #74000
This is a duplicate of bpo-29104.

[2017-03-15 07:03] #74000 closed, assigned to nobody

[2017-03-15 07:44] serhiy-storchaka commented on #73986
Thank you for your contribution Michael!

[2017-03-15 07:44] #73986 closed, assigned to serhiy-storchaka

[2017-03-15 07:56] d5ee8318-5b63-4978-ba91-52c15b0c15af opened #74001 "Fail at divide a negative integer number for a positive integer number"
BPO | [29815](https://bugs.python.org/issue29815)
--- | :---
Nosy | @vadmium, @eryksun, @thomazs

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-15 07:56] d5ee8318-5b63-4978-ba91-52c15b0c15af commented on #74001
At divide a negative integer number for a positive integer number, the result is wrong. For example, in operation:

a, b, c = -7, 2, 7
d = divmod(a, b)
print a//b, a%b, c[0], c // b, c%b

The values printed are -4  1 3 1

[2017-03-15 08:16] vadmium commented on #74001
If you ignore the c[0] argument, the rest looks fine to me. See the documentation at \<https://docs.python.org/2/reference/expressions.html#binary-arithmetic-operations\> and \<https://docs.python.org/2/library/stdtypes.html#numeric-types-int-float-long-complex\>.

The double-slash operator is called “floor division”. If you are expecting some other rounding, see \<https://docs.python.org/2/faq/pr

[2017-03-15 08:55] serhiy-storchaka opened #74002 "Get rid of C limitation for shift count in right shift"
BPO | [29816](https://bugs.python.org/issue29816)
--- | :---
Nosy | @mdickinson, @vstinner, @serhiy-storchaka, @orenmn
PRs | <li>python/cpython#680</li><li>python/cpython#1258</li>
Files | <li>[patchDraft1.diff](https://bugs.python.org/file46727/patchDraft1.diff "Uploaded as text/plain at 2017-03-15.21:00:49 by @orenmn"): a patch draft for reference only. also handles big positive ints</li><li>[lo

[2017-03-15 08:55] serhiy-storchaka commented on #74002
Currently the value of right operand of the right shift operator is limited by C Py_ssize_t type.

[code]

But this is artificial limitation. Right shift can be extended to support arbitrary integers. `x >> very_large_value` should be 0 for non-negative x and -1 for negative x. `x >> negative_value` should raise ValueError.

[code]

[2017-03-15 08:57] vstinner commented on #74002
If we change something, I suggest to be consistent with lshift. I expect a memory error on "1 \<\< (1 \<\< 1024)" (no unlimited loop before a global system collapse please ;-))

[2017-03-15 09:00] vstinner commented on #74002
FYI I saw recently that the C limitation of len() was reported in the "owasp-pysec" project:
https://github.com/ebranca/owasp-pysec/wiki/Overflow-in-len-function

I don't understand what such "deliberate" limitation was reported in a hardened CPython project?

[2017-03-15 09:19] serhiy-storchaka commented on #74002
I agree that left shift should raise an ValueError rather than OverflowError for large negative shifts. But is hard to handle large positive shifts. `1 << count` consumes `count*2/15` bytes of memory. There is a gap between the maximal value of bits represented as Py_ssize_t (PY_SSIZE_T_MAX) and the number of bits of maximal Python int (PY_SSIZE_T_MAX*15/2). _PyLong_NumBits() starves from the same

[2017-03-15 09:39] d5ee8318-5b63-4978-ba91-52c15b0c15af commented on #74001
I'm sorry, but was a typing error. Try this operations:

a, b, c = 7, -7, 2
print "1:", a // c, a % c
print "2:", b // c, b % c

the result is:
1: 3 1
2: -4 1

The division is the same, except by the signal (variable b is negative, but both, variables "a" and "b" are integers).

[2017-03-15 09:47] d5ee8318-5b63-4978-ba91-52c15b0c15af commented on #74001
Try this operations, in interactive environment:

3

-4

[2017-03-15 09:47] 095f6a4a-dfb8-4452-9851-814f51f722c7 opened #74003 "File IO r+ read, write, read causes garbage data write."
BPO | [29817](https://bugs.python.org/issue29817)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-15 09:47] 095f6a4a-dfb8-4452-9851-814f51f722c7 commented on #74003
In Python 2.7.12 when reading, writing and subsequently reading again from a file, python seems to write garbage.

For example when running this in python IDLE:

[code]

print "Our Test File: ", os.path.abspath(testPath )

[code]

When now looking at the file the data is the following:

Some Data @ sb d Z d d l m Z d d d ・ ・ YZ e d k r^ d d l m Z e d d d d e ・n d S( s9
Implement Idle Shell history

[2017-03-15 09:52] serhiy-storchaka commented on #74002
This may be a part of this issue or a separate issue: bytes(-1) raises a ValueError, but bytes(-10\*\*100) raises an OverflowError.

[2017-03-15 09:55] d5ee8318-5b63-4978-ba91-52c15b0c15af commented on #74001
Note that mathematic expression is wrong. -7 divided by 2 is -3, not -4

[2017-03-15 10:03] vstinner commented on #74002
It's common that integer overflow on memory allocation in C code raises a MemoryError, not an OverflowError.

[code]

I suggest to raise a MemoryError.

[2017-03-15 10:17] serhiy-storchaka commented on #74002
This is not MemoryError. On 32-bit platform `1 << (sys.maxsize + 1)` raises an OverflowError, but `1 << sys.maxsize << 1` can be calculated.

[2017-03-15 10:39] eryksun commented on #74001
Integer division in Python is floor division, and it's self-consistent with the implementation of the modulo operation such that the following identity is satisfied: (a % n) == a - n * (a // n). For example:

    (-7 % 2) == -7 - 2 * (-7 // 2)
           1 == -7 - 2 * (-4)
             == -7 + 8

This behavior is consistent with mathematical analysis languages such as MATLAB, Mathematica, Mathcad,

[2017-03-15 10:39] #74001 closed, assigned to nobody

[2017-03-15 10:49] #73841 closed, assigned to nobody

[2017-03-15 11:14] berkerpeksag commented on #73912
Thanks, Dillon! I went ahead and backported [PR 481](https://github.com/python/cpython/pull/481) to 3.5 and 3.6 branches.

[2017-03-15 11:14] #73912 closed, assigned to serhiy-storchaka

[2017-03-15 11:27] ncoghlan opened #74004 "Py_SetStandardStreamEncoding leads to a memory error in debug mode"
BPO | [29818](https://bugs.python.org/issue29818)
--- | :---
Nosy | @ncoghlan, @vstinner

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-15 11:27] ncoghlan commented on #74004
For PEP-538, setting PYTHONIOENCODING turned out to have undesirable side effects on Python 2 instances in subprocesses, since Python 2 has no 'surrogateescape' error handler.

So I switched to using the "Py_SetStandardStreamEncoding" API defined in http://bugs.python.org/issue16129 instead, but this turns out to have problematic interactions with the dynamic memory allocator management, so it fai

[2017-03-15 12:29] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc commented on #73990
Since this newly added assertion [0] fails for aarch64 shouldn't this be considered a regression?

And taking into account the timeframe, a release blocker for 3.6.1?

[2017-03-15 12:29] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc commented on #73990
[0] https://github.com/python/cpython/commit/a86339b83fbd0932e0529a3c91935e997a234582#diff-39e8978a35ab16f78e60027c61b810f7R413

[2017-03-15 13:32] vsajip commented on #73990
I don't think it's a regression. It's catching an error that was there, but wasn't tested for before.

If it should be a release blocker - that should not be for any reversion of the change to the test, but for implementing the pass-by-value functionality correctly.

[2017-03-15 13:39] eryksun commented on #74003
This is a bug in the C runtime's handling of "r+" mode with buffering.

The CRT FILE stream's internal \_cnt field, from the POV of the write() call, is the number of bytes that can be written to the internal buffer before it's full. The default buffer size is 4096 bytes. Thus after writing "Some Data", \_cnt is at 4096 - 9 == 4087 bytes.

On the other hand, from the POV of the subsequent read() c

[2017-03-15 14:32] pfmoore commented on #74003
Also, this is a Python 2 only issue. The problem doesn't happen in Python 3.6 (at least in my quick experiment). I'm not 100% sure if this is because the internal implementation of IO changed in 3.x, or if it's just because we're now using a newer CRT which has fixed the issue.

I agree that there's no point in Python trying to work around this behaviour.

[2017-03-15 14:32] #74003 closed, assigned to nobody

[2017-03-15 15:11] serhiy-storchaka opened #74005 "Avoid raising OverflowError in truncate() if possible"
BPO | [29819](https://bugs.python.org/issue29819)
--- | :---
Nosy | @vstinner, @benjaminp, @serhiy-storchaka, @orenmn, @nanjekyejoannah
Dependencies | <li>bpo-29852: Argument Clinic: add common converter to Py_ssize_t that accepts None</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show mo

[2017-03-15 15:11] serhiy-storchaka commented on #74005
os.truncate(), os.ftruncate() and truncate() methods of file-like objects raise OverflowError when the argument is out of ranger of certain C type. It would be better to extend the behavior of small integers to large integers. ValueError is raised for negative integers and it should be raised for negative integers out of range. Values larger than the current size should be ignored in BytesIO.trunc

[2017-03-15 15:29] c6a24554-5737-4174-b47e-54fc0403b8dc opened #74006 "Broken link to "GUI Programming with Python: QT Edition" book"
BPO | [29820](https://bugs.python.org/issue29820)
--- | :---
Nosy | @marco-buttu, @Mariatta
PRs | <li>python/cpython#685</li><li>python/cpython#688</li><li>python/cpython#689</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.o

[2017-03-15 15:29] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #74006
In [*] the link to "GUI Programming with Python: QT Edition by Boudewijn Rempt", does not work.  I did not find an official web page for this book, but it is really outdated (2002), so maybe we can take only the reference to the Mark Summerfield's book, about PyQt4.  Let me know, so in case I will open a PR.

[*] https://docs.python.org/3/library/othergui.html

[2017-03-15 16:29] Mariatta commented on #74006
Maybe instead of referencing to the books, we add reference to the wiki
https://wiki.python.org/moin/PyQt

[2017-03-15 16:35] c552fd60-98d1-4d5a-8314-02d22f84ddbd opened #74007 "importing module shutil executes file 'copy.py'"
BPO | [29821](https://bugs.python.org/issue29821)
--- | :---
Nosy | @vstinner, @eryksun, @ammaraskar

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-15 16:35] c552fd60-98d1-4d5a-8314-02d22f84ddbd commented on #74007
I didn't research this issue further. Create a file 'test.py', and write only 'import shutil'. Then create a file 'copy.py' in the same directory, and write something inside, like 'print ("OH NO")'.

When you run test.py, 'copy.py' is executed, and prints the string. Tested with python 3.5 and 3.6. Works as expected (test.py doing nothing) in python 2.7

[2017-03-15 17:06] b1c60934-e65c-4706-a995-f91319cd0592 opened #74008 "inspect.isabstract does not work on abstract base classes during __init_subclass__"
BPO | [29822](https://bugs.python.org/issue29822)
--- | :---
Nosy | @ncoghlan, @serhiy-storchaka, @1st1, @ilevkivskyi, @Soares
PRs | <li>python/cpython#678</li><li>python/cpython#1979</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs

[2017-03-15 17:06] b1c60934-e65c-4706-a995-f91319cd0592 commented on #74008
Here's an example test that fails:

[code]

To run the test, you'll need to be on a version of python where bpo-29581 is fixed (e.g., a cpython branch with https://github.com/python/cpython/pull/527 merged) in order for \_\_init_subclass__ to work with ABCMeta at all in the first place. I have a simple patch to inspect.isabstract that fixes this, and will make a PR shortly.

[2017-03-15 19:02] brettcannon commented on #73991
I also support the idea of getting something like shutil.move() into pathlib.

[2017-03-15 19:05] brettcannon commented on #73991
I should also mention that rename() (https://docs.python.org/3/library/pathlib.html#pathlib.Path.rename) and replace() (https://docs.python.org/3/library/pathlib.html#pathlib.Path.replace) already do exist, so it might be best to add a keyword-only flag to one of those for this use-case.

[2017-03-15 20:30] serhiy-storchaka commented on #74002
Unfortunately it is hard to totally avoid OverflowError in right shift. Righ shift of huge positive value can get non-zero result even if shift count is larger than PY_SSIZE_T_MAX. [PR 680](https://github.com/python/cpython/pull/680) just decreases the opportunity of getting a OverflowError.

[2017-03-15 20:50] ammaraskar commented on #74007
I was only able to recreate this under 3.4 and 3.3, and both of them are under "security" status on https://docs.python.org/devguide/#status-of-python-branches

Should this be marked as won't fix?

[2017-03-15 21:00] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #74002
i played a little with a patch earlier today, but stopped because I
am short on time.

anyway, just in case my code is not totally rubbish, I attach my
patch draft, which should avoid OverflowError also for big positive
ints.

(of course, I don't suggest to use my code instead of [PR 680](https://github.com/python/cpython/pull/680). I just
put it here in case it might be useful for someone.)

(on

[2017-03-15 21:06] ammaraskar commented on #74007
As per discussion with haypo on irc, this is not a bug since essentially you've made a file which shadows the following stdlib module https://docs.python.org/3/library/copy.html

When shutil goes to import the copy module, your copy module is given higher priority in the import machinery which is why your code gets executed. You can read up more about this here: http://python-notes.curiousefficien

[2017-03-15 21:06] #74007 closed, assigned to nobody

[2017-03-15 21:08] vstinner commented on #74007
Run "python3 -I script.py" to not insert '' (current directory) at the first position of sys.path.
https://docs.python.org/dev/using/cmdline.html#cmdoption-I

[2017-03-15 23:41] eryksun commented on #74007
That should be "script directory", not "current directory". We only add the current directory to sys.path in interactive mode, and for -c and -m. Adding the current directory to sys.path when running a script would be silly and cause endless grief.

[2017-03-16 02:19] ammaraskar commented on #73998
This is my first real substantial testing change so I'd appreciate all feedback. The way I did the cross-check doesn't actually rely on any of the information from the test_keyword style regeneration test.

I think this approach is a lot simpler, and will prevent mistakes like the one seen in http://bugs.python.org/issue24622

[2017-03-16 02:53] 84dd73fe-9313-425f-aae0-390228a90839 commented on #73999
I rather thought about something along the lines of: "Take a slice of the tuple pointed to by \*p* from \*low* to \*high* and return it as a tuple. Whether the returned tuple is new or not is an implementation detail (and may depend on the value of the arguments)." Because from the point of the C-API tuples aren't immutable, at least not if they are new (refcount 1).

Thank you both for your feedb

[2017-03-16 03:17] bitdancer commented on #73998
The cross check test itself doesn't depend on a regeneration, but it does depend on the information in token.h.  Meanwhile the validity of \*that* is checked by regeneration in your test_token tests.  This is exactly what I had in mind :).

So, I haven't done a full review, but the quick glance I took looked good.

[2017-03-16 03:53] 05211b49-0e65-422f-bde2-06871ee0eebf commented on #74009
Copied over from an unanswered StackOverflow thread (http://stackoverflow.com/questions/42542433/why-does-python-mimetype-guess-xsl-when-passed-an-xml-file):

When passed a file with a mimetype application/xml, the Python std lib mimetypes.guess_extension method guesses an .xsl extension. This is actually hard-coded in.

This seems wrong to me. But what do I know?

[2017-03-16 03:53] 05211b49-0e65-422f-bde2-06871ee0eebf opened #74009 "mimetypes guesses XSL mimetype when passed an XML file"
BPO | [29823](https://bugs.python.org/issue29823)
--- | :---
Nosy | @vadmium
Superseder | <li>bpo-1043134: Add preferred extensions for MIME types</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></det

[2017-03-16 04:25] vadmium commented on #74009
Perhaps a duplicate of bpo-1043134?

[2017-03-16 08:03] e0bb8575-2a8d-4521-ba8b-78a783066d30 opened #74010 "Hostname validation in SSL match_hostname()"
BPO | [29824](https://bugs.python.org/issue29824)
--- | :---
Nosy | @tiran, @alex, @dstufft

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-16 08:03] e0bb8575-2a8d-4521-ba8b-78a783066d30 commented on #74010
1. Allowing attempting to match invalid hostname
According to domain name specification in RFC 1035, only alphanumeric, dot and
hyphen are valid characters in domain name. We observe that
the function match_hostname() in [Lib/ssl.py](https://github.com/python/cpython/blob/main/Lib/ssl.py) allows other special characters (e.g., '=', '&') in hostname when attempting to match with certificate commonN

[2017-03-16 08:23] tiran commented on #74010
I don't see 1) as a problem. You won't be able to resolve these names in DNS, would you?

Regarding 2). Yes, it would be beneficial to have more elaborate checks to protect against wildcard attacks like \*.com. However Python is not a browser. It's really hard to do it right and even harder to keep the rule set up to date. Some TLDs like .uk have sublevel namespaces, e.g. co.uk. \*.co.uk is also i

[2017-03-16 08:47] c106af3c-62ac-4166-a20a-6841b3ef7481 opened #74011 "PyFunction_New() not validate code object"
BPO | [29825](https://bugs.python.org/issue29825)
--- | :---
Nosy | @serhiy-storchaka, @JelleZijlstra
Files | <li>[inc_by_one.rar](https://bugs.python.org/file46728/inc_by_one.rar "Uploaded as application/octet-stream at 2017-03-16.08:47:56 by LCatro"): poc and crash detail</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current s

[2017-03-16 08:47] c106af3c-62ac-4166-a20a-6841b3ef7481 commented on #74011
PyFunction_New() not validate code object ,so we can make a string object to fake code object

This is Python ByteCode :

  LOAD_CONST 'CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC\\x41\\x41\\x41\\x41'
  MAKE_FUNCTION 0

in source code ,we can see that string object trace to variant v

[code]

and than ,we making a string object will taking into PyFunction_New()

[code]

Opcode MAKE_CLOSURE similar too ..

[c

[2017-03-16 09:35] 0caf9c44-82fe-4a96-8f03-0c9744728d6a opened #74012 "" don't work on Mac under IDLE"
BPO | [29826](https://bugs.python.org/issue29826)
--- | :---
Nosy | @terryjreedy, @ned-deily
Superseder | <li>bpo-24170: IDLE crashes when I press ^  caret key</li>
Files | <li>[Screen Shot 2017-03-16 at 09.34.26.png](https://bugs.python.org/file46729/Screen%20Shot%202017-03-16%20at%2009.34.26.png "Uploaded as image/png at 2017-03-16.09:35:22 by Marco Viscito"): error message recieved when IDLE cr

[2017-03-16 09:35] 0caf9c44-82fe-4a96-8f03-0c9744728d6a commented on #74012
When typing the ' key or the " key on the IDLE Python application for macOS, the application. I think it might have something to do with that beta version of Tcl/Tk (8.5.9) as Python says it is 'unstable'.

[2017-03-16 13:15] serhiy-storchaka commented on #73822
I'm not particularly interested in this feature. Adding two or three options looks excessive. Python is a programming language and it is easy to write a simple script for your needs. Much easier than implement the general command line interface that supports all options of programming API.

[2017-03-16 13:35] bitdancer commented on #73822
Easier, but if we do it in the tool, then it is done for everyone and they don't \*each* have to spend that "less time" writing their own script.  And --indent and --compact are both useful for debugging/hand testing, since it allows you to generate the input your code is expecting, and input your code might not be expecting.

On the other hand, I'm not contributing much these days, so I'm not in

[2017-03-16 14:00] 45518d4e-3ddb-4da6-a55b-d14f1b1a38a5 commented on #73822
@serhiy.storchaka I totally understand the desire to keep json.tool simple. However, given the description of json.tool in the documentation (below), I think an indentation option is within scope:

Indentation/newlines are a fundamental aspect of "pretty-printing". Right now I rarely use json.tool, since indent=4 is too extreme from a visual and file size perspective. Instead I prefer `indent=2` (

[2017-03-16 14:07] serhiy-storchaka commented on #73822
It's not just the support burden. It is also a burden of learning and remembering new API.

The support burden itself is not tiny too. It includes careful designing, writing the implementation and test (the more options you have the more combinations you need to test), increasing running time of tests (CLI tests are slow!), and you need to return to that after adding every new feature for testing

[2017-03-16 14:27] c50dac5f-7df7-4514-a46c-0c638fd47c86 opened #74013 "os.path.exists() returns False for certain file name"
BPO | [29827](https://bugs.python.org/issue29827)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-03-16 14:27] c50dac5f-7df7-4514-a46c-0c638fd47c86 commented on #74013
I have two files in two different folders, both on desktop.
If I try using os.path.exists() on both of them, it returns True for one file and False for the other file.
After renaming file that I got False from, I get returned True and when I rename it back, it returns False again.

File name causing the problem is "testni.wav", I assume it's anything starting with "test", but I'm sure you guys wil

[2017-03-16 14:57] c50dac5f-7df7-4514-a46c-0c638fd47c86 commented on #74013
I am sorry, I didn't realize \\t affected how the path was recognized.

[2017-03-16 15:04] eryksun commented on #74013
In a string literal, '\\t' represents a tab character (ordinal 9). Windows filenames cannot contain control characters [1], i.e. ordinals 1-31. For path literals I recommend using forward slashes and normalizing via os.path.normpath, e.g. filepath = os.path.normpath('C:/Users/mavri/Desktop/proba/testni.wav').

FYI, the way exists() is written handles any OSError as False:

[code]

In your case, st

[2017-03-16 15:04] #74013 closed, assigned to nobody

[2017-03-16 16:39] c6a24554-5737-4174-b47e-54fc0403b8dc commented on #74006
Hi Mariatta, all the other seealso entries (PyGObject, PySide, ...) have references to some specific books and tutorials.  No one has a reference to the wiki, maybe because there is already a reference to it (at the end of the page).  IMHO we can keep the PyQt description consistent with the other GUIs descriptions, and we can fix the broken URL just removing the reference to the outdated book.  W

[2017-03-16 16:45] pitrou opened #74014 "Allow registering after-fork initializers in multiprocessing"
BPO | [29828](https://bugs.python.org/issue29828)
--- | :---
Nosy | @pitrou, @njsmith, @1st1, @applio
Superseder | <li>bpo-16500: Allow registering at-fork handlers</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:

[2017-03-16 16:45] pitrou commented on #74014
Currently, multiprocessing has hard-coded logic to re-seed the Python random generator (in the random module) whenever a process is forked.  This is present in two places: `Popen._launch` in `popen_fork.py` and `serve_one` in `forkserver.py` (for the "fork" and "forkserver" spawn methods, respectively).

However, other libraries would like to benefit from this mechanism.  For example, Numpy has it

[2017-03-16 16:58] 80c73838-aa1d-43ef-8f08-69c1afb3791f opened #74015 "Documentation lacks clear warning of subprocess issue with pythonw"
BPO | [29829](https://bugs.python.org/issue29829)
--- | :---
Nosy | @pfmoore, @tjguk, @bitdancer, @zware, @eryksun, @zooba, @GadgetSteve
Superseder | <li>bpo-3905: subprocess failing in GUI applications on Windows</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p

[2017-03-16 16:58] 80c73838-aa1d-43ef-8f08-69c1afb3791f commented on #74015
When running under pythonw, or pyinstaller with the -w flag, modules that use subprocess calls such as popen, run, etc. will crash if the default `stdout=None, stderr=None` behaviour is used rather than PIPE. This is an obscure problem which is very hard to debug yet there is no warning in the documentation on this.

I would like to suggest adding a :warning:\`stdout=None, stderr=None\` must not b

[2017-03-16 17:13] 12c7b821-ad6f-4235-91d8-57b2aacb2dfc commented on #73826
In order to reproduce:

Apply the python.patch from bz1268226_reproducer2.tar.gz

Compile python

Run the reproduce4.py from bz1268226_reproducer2.tar.gz

As indicated by the reproducer, the status returned by os.wait() for the child is 139.

I will refine a bit the patch and work on a PR.

[2017-03-16 17:36] Mariatta commented on #74006
Thanks, Marco. That sounds good. Let's just remove the reference to the books from both PyQt and wxPython.

[2017-03-16 18:21] 8bb2fe13-d245-4fef-8aa2-70d7108db3c3 commented on #73822
Probably the best thing we could do here is to mirror the options available in similar tools, such as jq: https://stedolan.github.io/jq/manual/#Invokingjq

The relevant options here would be:

    --indent
    --tab
    --compact-output
    --sort-keys

The default indent in jq is 2, which I tend to prefer these days, but maybe 4 is still appropriate given PEP-8:

[code]

This is how jq interprets

[2017-03-16 18:24] 1st1 commented on #74014
Maybe a better way would be to proceed with http://bugs.python.org/issue16500?

[2017-03-16 19:01] pitrou commented on #74014
That issue seems to have stalled as it seems to have focussed on low-level APIs, and also because it is proposing a new module with the API question that entails.

Another possible stance is that os.fork() should be left as-is, as a low-level primitive, and this functionality should be provided by the higher-level multiprocessing module.

[2017-03-16 19:03] bitdancer commented on #74015
A warning is not appropriate (we reserve those for things that are security related, pretty much). A sentence might be, though.  For example, we could change the initial discussion of the run function to say:

   This does not capture stdout or stderr by default. To do so, pass PIPE for the stdout and/or stderr arguments.  You \*must* do this if you run your python program with pythonw on windows,