[2017-10-13 21:34] #75946 closed, assigned to nobody

[2017-10-13 22:03] terryjreedy commented on #75959
It has been some time since literal_eval literally only evaluated literals.  'constant_eval' might be a better name now, with the proviso of 'safely, in reasonable time'.

[code]

I believe there was once a time when a simple tuple would be evaluated, while a nested one would not be.

"It is not capable of evaluating arbitrarily complex expressions, for example involving operators or indexing."  I

[2017-10-13 23:08] terryjreedy commented on #75961
The formatting part of PEP-515 was implemented in bpo-27080.  Chris Angelico's initial patch https://bugs.python.org/file44152/underscores_decimal_only.patch was, as the name says, for decimal only, and added "or '\_' " to the error message.  The next patch added other bases but neglected to remove the obsoleted addition.

Chris, can you do a PR?  I don't think any new test is needed.  I would als

[2017-10-13 23:25] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75803
I don't see much enthusiasm or agreement here, so I'm closing for now.

[2017-10-13 23:25] #75803 closed, assigned to nobody

[2017-10-13 23:58] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75966
I'd like to move all instruction code (the code inside a TARGET(NAME) block) from [Python/ceval.c](https://github.com/python/cpython/blob/main/Python/ceval.c) to a new file, [Python/instructions.h](https://github.com/python/cpython/blob/main/Python/instructions.h). The new file will contain only instruction bodies (prefixed by related helper functions/macros).

Eval-context macros (e.g. TARGET, DI

[2017-10-13 23:58] 460e3b73-ef06-4a68-85e3-d1897b1b6722 opened #75966 "Move instruction code from ceval.c to a separate file"
BPO | [31785](https://bugs.python.org/issue31785)
--- | :---
Nosy | @rhettinger, @pdox

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-14 04:05] 7aa6e20b-8983-474f-b2ae-de7eff1caa04 commented on #74929
Guido: you must be tired and forgot that locals() is a regular function :-)  The compiler cannot recognize it reliably.  Moreover, if f_locals can be modified outside a tracing hook, then we have the same problem in a cross-function way, e.g. if function f1() calls function f2() which does sys.\_getframe(1).f_locals['foo'] = 42.

[2017-10-14 04:22] ncoghlan commented on #75923
OK, I'll head down the path of creating a new procedural PEP to supersede PEP-411 (I'll try to get the locals() semantic clarification PEP out of the way first, though).

I'll make "Where to put the feature flags?" an open question, as my rationale for proposing \_\_main__ was three-fold:

1. In regular scripts, it makes feature flags as easy to set as possible, since you can just do "use_provisio

[2017-10-14 04:33] ncoghlan commented on #75953
Aye, I think that check would make the most sense, since the bytecode invalidation check is "\_r_long(raw_timestamp) != source_mtime" (to allow for things like version control operations that send source timestamps backwards).

A test for that could then just mock time.time() to make sure it returned  a time matching the source mtime, and checked that the bytecode wasn't written.

[2017-10-14 05:05] ncoghlan commented on #75959
I'm marking this as documentation issue for now, as the operators that literal_eval allows are solely those where constant folding support is needed to correctly handle complex and negative numbers (as noted in the original post):

[code]

So the key promise that literal_eval makes is that it will not permit arbitrary code execution, but the docs should make it clearer that it \*does* permit const

[2017-10-14 05:19] rhettinger commented on #75938
I update the example in "First Steps Towards Programming" to match the one in "Defining Functions" (which is also shown on the home page at www.python.org.

[2017-10-14 05:22] methane commented on #75853
New changeset 7060380d577690a40ebc201c0725076349e977cd by INADA Naoki in branch '3.6':
bpo-31672: Fix string.Template accidentally matched non-ASCII identifiers (GH-3872)
https://github.com/python/cpython/commit/7060380d577690a40ebc201c0725076349e977cd

[2017-10-14 05:56] ncoghlan commented on #74929
Yep, my current goal is to see if I can come up with a surgical fix that solves the established problem with the bad interaction between cells and trace functions without any unintended consequences for either CPython or other interpreters.

That means the only behaviours I actually \*want* to change are those that are pretty clearly quirky at best, and outright bugs at worst:

- registering a tra

[2017-10-14 06:05] rhettinger commented on #75966
While I can see the utility for experimentation, I think the proposed change would make our lives more difficult.  The body inside the instruction blocks is central to the understanding of ceval.c and somewhat tightly coupled with it.  I would find it more difficult to maintain that code, switching back and forth between ceval.c and instructions.h.   We've already hit a level of complexity that pr

[2017-10-14 06:08] d0a9eb9e-a7e5-4f79-a33d-df1d95544fb6 commented on #75959
\# Replies

I sympathize completely with the need to maintain backward compatibility. And if this is the reason that this issue gets treated only as a documentation issue, rather than as a behavior issue, I can appreciate that.

If that is the case and literal_eval is not going to only evaluate literals, then for my use case I'll need a way to determine from a string whether it represents a litera

[2017-10-14 06:10] rhettinger commented on #75944
Marking as rejected/closed for the reasons cited in bpo-31732.  In particular, see Vinay Sajip's commentary in https://bugs.python.org/msg304318 where he notes that it was a specific design decision to not emulate syslog(3) in this regard.

[2017-10-14 06:10] #75944 closed, assigned to vsajip

[2017-10-14 06:18] njsmith commented on #74929
@Nick:

We're OK with assigning to locals() doing that too.

Why do you want it to fail? Given that it's already guaranteed to pass in some scopes (definitely in CPython, I'm not sure if it's in the language spec), and that we need to support mutations of f_locals for debugging, then this seems like a quixotic requirement. But if we do want it to fail, then we should make it fail obviously, e.g. b

[2017-10-14 06:55] ericvsmith commented on #75961
I agree there's no need for tests, since we usually don't guarantee such messages going forward. Also, I think skipping the news blurb is reasonable for this change.

[2017-10-14 06:58] scoder commented on #75636
Backport PR for 2.7 added: 3992

[2017-10-14 07:03] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75966
rhettinger, helper functions used by the instruction code would also be moved into instructions.h (e.g. call_function, do_call_core, cmp_outcome, etc). Done properly, there should be very little need to move between instructions.h and ceval.c to understand what is happening.

The contract between the two files has to be very explicit. The only dependencies instructions.h would have on ceval.c woul

[2017-10-14 07:29] 438f87e1-dfd7-42f4-9c9c-81be97e197c2 commented on #75935
Thanks Mariatta. I have initiated a PR for the issue.

https://github.com/python/cpython/pull/3993

[2017-10-14 08:07] serhiy-storchaka opened #75967 "In select.poll.poll() ms can be 0 if timeout < 0"
BPO | [31786](https://bugs.python.org/issue31786)
--- | :---
Nosy | @vstinner, @berkerpeksag, @serhiy-storchaka, @pablogsal, @volans-
PRs | <li>python/cpython#4003</li><li>python/cpython#4022</li><li>python/cpython#4031</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summ

[2017-10-14 08:07] serhiy-storchaka commented on #75967
According to the documentation select.poll.poll() is blocked for infinite timeout if the timeout argument is negative. But due to rounding it is possible that timeout \< 0, but an integer ms passed to the poll() syscall is 0, and poll() is not blocked.

[2017-10-14 08:14] serhiy-storchaka commented on #75895
New changeset cd195e2a7ac5c9b2574d5462752b7939641de4a9 by Serhiy Storchaka in branch 'master':
bpo-31714: Improved regular expression documentation. (bpo-3907)
https://github.com/python/cpython/commit/cd195e2a7ac5c9b2574d5462752b7939641de4a9

[2017-10-14 09:12] ncoghlan commented on #74929
The current pdb misbehaviour when navigating the stack is indeed a valid argument in favour of allowing immediate write-through from trace functions for regular local variables as well - I don't recall reading that bug report when Xavier first linked to it, so thanks for bringing it up again.

Another useful point that bug report highlights is that one of the assumptions I'd been making (that typi

[2017-10-14 09:16] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 opened #75968 "various refleaks when calling the __init__() method of an object more than once"
BPO | [31787](https://bugs.python.org/issue31787)
--- | :---
Nosy | @rhettinger, @vstinner, @methane, @orenmn, @csabella, @miss-islington
PRs | <li>python/cpython#3995</li><li>python/cpython#5657</li><li>python/cpython#5659</li><li>python/cpython#5660</li><li>python/cpython#5661</li><li>python/cpython#5662</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated an

[2017-10-14 09:16] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75968
Various __init__() methods don't decref (if needed) before assigning to fields
of the object's struct (i.e. assigning to `self->some_field`):
- _asyncio_Task___init___impl() (in [Modules/_asynciomodule.c](https://github.com/python/cpython/blob/main/Modules/_asynciomodule.c))
- _lzma_LZMADecompressor___init___impl() (in [Modules/_lzmamodule.c](https://github.com/python/cpython/blob/main/Modules/_lz

[2017-10-14 09:17] serhiy-storchaka commented on #75895
New changeset 69ed5b61e7d2bdaf2dc6684061f737adc24a96ae by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31714: Improved regular expression documentation. (GH-3907). (bpo-3994)
https://github.com/python/cpython/commit/69ed5b61e7d2bdaf2dc6684061f737adc24a96ae

[2017-10-14 09:26] #75895 closed, assigned to nobody

[2017-10-14 12:22] methane commented on #75853
New changeset 073150db39408c1800e4b9e895ad0b0e195f1056 by INADA Naoki in branch 'master':
bpo-31672: doc: Remove one sentence from library/string.rst (GH-3990)
https://github.com/python/cpython/commit/073150db39408c1800e4b9e895ad0b0e195f1056

[2017-10-14 14:10] bitdancer commented on #75913
I'm not arguing against the rejection, but I want to mention a point in relation to Raymond's statement "five levels have sufficed for a long and that the need for finer distinctions almost never arises in practice".  In thinking about my own codebase, I have only one project where I added a notice level, and none in which I currently have a TRACE level although I think I used it as described belo

[2017-10-14 14:36] rhettinger commented on #75938
New changeset 8c26a34f93db7ae96b42bcce6b557437436c7721 by Raymond Hettinger in branch 'master':
bpo-31757: Make Fibonacci examples consistent (bpo-3991)
https://github.com/python/cpython/commit/8c26a34f93db7ae96b42bcce6b557437436c7721

[2017-10-14 14:36] #75938 closed, assigned to rhettinger

[2017-10-14 16:29] ba7e70d0-a2ff-4119-bcff-66158db9ce3c commented on #75906
Sorry, all reproduction attempts failed, both in plain Python and in
iPython.
I guess you can close this for now.

[2017-10-14 16:39] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75939
According to Serhiy's advice (https://bugs.python.org/issue31455#msg304338),
this issue now also includes some crashes in \_elementtree:

The following code crashes:
import \_elementtree
parser = \_elementtree.XMLParser.\_\_new__(_elementtree.XMLParser)
parser.close()

This is because _elementtree_XMLParser_close_impl() assumes that the XMLParser
object is initialized, and so it passes `self` to e

[2017-10-14 18:18] ba7e70d0-a2ff-4119-bcff-66158db9ce3c commented on #75906
Just one more issue: since it happened before I found out that the "turtle"
package already has the pre-defined short version of commands, such as
"fd()", "lt()", etc., the crashed session included four function
definitions, for "fd()", "bk()", "lt()" and "rt()", in the form of:

[code]

[2017-10-14 19:19] gvanrossum commented on #74929
@Armin:

I know, but we occasionally do make exceptions for builtins. In particular super() is recognized by the compiler.

@Everyone else:
I need to limit my screen time this weekend, hopefully you can either figure this out without my help -- there's no way I can keep up with this discussion. Sorry!

[2017-10-14 19:20] gvanrossum commented on #74929
That's covered by the rule that says sys.\_getframe() has undefined results.

[2017-10-14 19:43] serhiy-storchaka commented on #75959
The support of parsing addition and subtraction at any level of nesting was added by bc95973b51abadc84960e7836ce313f12cf515cf. The commit message and NEWS entry don't contain an issue number, thus the rationale of this change is not known. Raymond, could you please explain?

[2017-10-14 20:57] rhettinger commented on #75966
The problem is that we don't have a strict (non-leaky) abstraction and I don't think we should impose one.

I believe that is just wishful thinking and the separation will make it harder to learn and reason ceval.c.   Also, I really don't like putting the essential core of instruction code in a .h file rather than a .c file.

FWIW, when I've done my own experiments with alternative evaluation tech

[2017-10-14 23:55] ff5828d1-cbc3-40a8-9e39-ce4f17ece55e opened #75969 "Typo in comments Modules/_ssl.c"
BPO | [31788](https://bugs.python.org/issue31788)
--- | :---
Nosy | @benjaminp, @vyas45
PRs | <li>python/cpython#3999</li><li>python/cpython#4008</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></deta

[2017-10-14 23:55] ff5828d1-cbc3-40a8-9e39-ce4f17ece55e commented on #75969
completly must be changed to completely

[2017-10-15 00:34] df79943f-4aee-4531-a00d-c6b12816eb70 commented on #75970
[code]

That puts out the error message:

[code]

That doesn't at all explain why it doesn't work because super was never explicitly called. If the argument fake_bases isn't empty, or if mro isn't made a staticmethod/classmethod, it returns an appropriate message

TypeError: mro() returned base with unsuitable layout ('tuple')

[2017-10-15 00:34] df79943f-4aee-4531-a00d-c6b12816eb70 opened #75970 "Better error message when failing to overload metaclass.mro"
BPO | [31789](https://bugs.python.org/issue31789)
--- | :---
Nosy | @mr-nfamous

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-15 03:41] terryjreedy commented on #75961
New changeset 28773ca7a7aa58a28e42a9eb0066acf71b5a8dc4 by Terry Jan Reedy (Dargor) in branch 'master':
bpo-31780: Fix incorrect error message for ',x', ',b', ',o' specs (bpo-4002)
https://github.com/python/cpython/commit/28773ca7a7aa58a28e42a9eb0066acf71b5a8dc4

[2017-10-15 04:01] terryjreedy commented on #75961
New changeset 59b5c139d2ae95b1d1da63f81c3d777932215533 by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31780: Fix incorrect error message for ',x', ',b', ',o' specs (GH-4002) (bpo-4004)
https://github.com/python/cpython/commit/59b5c139d2ae95b1d1da63f81c3d777932215533

[2017-10-15 04:01] #75961 closed, assigned to terryjreedy

[2017-10-15 04:13] ncoghlan commented on #74929
Guido: any proposed semantic changes for CPython will eventually make their way through PEP-558 (and potentially a competing PEP if someone else is sufficiently keen on the idea of making non-tracing mode behave the same way as tracing mode), so ignoring the detailed blow-by-blow on this ticket should be fine.

If anything, it will make it easier for you to pick up any relevant details of the even

[2017-10-15 04:18] ncoghlan commented on #74929
Err, I phrased that last sentence really badly.

I meant that if Guido \*hasn't* been following this ticket closely, he's more likely to ask for clarification if PEP-558 proposes a semantic change based on the discussion here without adequately justifying it in the PEP itself.

[2017-10-15 05:06] gvanrossum commented on #74929
Sounds like a plan, I will ignore the ticket then.

[2017-10-15 05:19] gvanrossum commented on #75923
OK, I'll wait for the new PEP and ignore the ticket.

[2017-10-15 06:00] bf207f4d-e2bc-43b3-808d-f2d817de8fa5 opened #75971 "double free or corruption (while using smem)"
BPO | [31790](https://bugs.python.org/issue31790)
--- | :---
Nosy | @terryjreedy, @iritkatriel
Files | <li>[logs.txt](https://bugs.python.org/file47279/logs.txt "Uploaded as text/plain at 2017-11-20.15:06:05 by zulthan"): log files</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more d

[2017-10-15 06:00] bf207f4d-e2bc-43b3-808d-f2d817de8fa5 commented on #75971
Command executed when the crash happened:

/usr/bin/python /usr/bin/smem -t -c command pss -P /usr/lib/chromium/chromium

The attached error.log contains the backtrace and memory map printed.

This is a sporadic error, the command is called every second 0-24, and I got one such error after half a day of running. I probably had another after a few days, but I failed to save that one, so I am not su

[2017-10-15 06:04] ncoghlan commented on #74929
Just confirming that the locals() vs frame.f_locals distinction also exists in the C API: the former is PyEval_GetLocals() (which implicitly ensures the snapshot is up to date), while the equivalent of the latter is direct access to frame-\>f_locals (and it's left to code accessing the field to decide whether it needs an up to date snapshot or not).

That means I'll be able to change what we store

[2017-10-15 06:22] 460e3b73-ef06-4a68-85e3-d1897b1b6722 opened #75972 "Ensure that all PyTypeObject fields are set to non-NULL defaults"
BPO | [31791](https://bugs.python.org/issue31791)
--- | :---
Nosy | @rhettinger, @serhiy-storchaka, @pdox

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-15 06:22] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75972
Ensure that every function pointer in every PyTypeObject is set to a non-NULL default, to spare the cost of checking for NULL with every use. As a basic example, consider PyNumber_Negative:

[code]

[code]

    return type_error("bad operand type for unary -: '%.200s'", o);
}

If "tp_as_number" and "nb_negative" were always guaranteed non-NULL, then the function could omit the second if statement,

[2017-10-15 06:33] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75972
I believe it would also make sense to inline the 'as' structures (tp_as_async, tp_as_number, tp_as_sequence, tp_as_mapping, and tp_as_buffer), instead of having them be pointers. This would save one pointer dereference with each use. But this would have API compatibility consequences, so for this change it is off the table.

[2017-10-15 06:59] serhiy-storchaka commented on #75972
1. This will increase the size of type object. Most types are not numbers, not collections and don't support the buffer protocol, thus save memory for tp_as_number, tp_as_sequence, tp_as_mapping and tp_as_buffer. This also can increase the time of type creation.

2. This will make harder testing that the particular protocol is supported (e.g. see PyIndex_Check or PyObject_CheckBuffer). And this wi

[2017-10-15 07:25] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #75972
serhiy.storchaka:

1) Where tp_as_number would normally be NULL, instead it would point to a fixed PyNumberMethods structure containing the default functions. This would make the memory increase negligible, as all non-number types would use the same structure.

2) If this is behavior we want to formally support, then we should provide macros for it. (all they must do is compare against the default

[2017-10-15 07:31] berkerpeksag commented on #75935
New changeset 1b9e76ed3a055a53ca67397e928e1b408461900b by Berker Peksag (vyas45) in branch 'master':
bpo-31754: Fix type of 'itemsize' in PyBuffer_FillContiguousStrides (GH-3993)
https://github.com/python/cpython/commit/1b9e76ed3a055a53ca67397e928e1b408461900b

[2017-10-15 07:37] berkerpeksag commented on #75935
New changeset e881302b70ab36bafcf37e3917be118bbec97763 by Berker Peksag (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31754: Fix type of 'itemsize' in PyBuffer_FillContiguousStrides (GH-3993)
https://github.com/python/cpython/commit/e881302b70ab36bafcf37e3917be118bbec97763

[2017-10-15 09:35] serhiy-storchaka commented on #75973
test_buffer adds two environment variables: 'OPENBLAS_MAIN_FREE': '1', 'GOTOBLAS_MAIN_FREE': '1'.

[code]

1 test altered the execution environment:
    test_buffer

Total duration: 8 sec
Tests result: SUCCESS

[2017-10-15 09:35] serhiy-storchaka opened #75973 "test_buffer altered the execution environment"
BPO | [31792](https://bugs.python.org/issue31792)
--- | :---
Nosy | @vstinner, @ezio-melotti, @voidspace, @skrah, @serhiy-storchaka
PRs | <li>python/cpython#4007</li><li>python/cpython#4009</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-10-15 09:40] vstinner commented on #75967
I suggest to implement ROUND_UP in pytime and use it in all functions
accepting a timeout, not only poll. Search for ROUND_CEILING in the code to
find them. But functions accepting time like clock_settime() must continue
to use ROUND_CEILING.

Does someone want to work on such patch? The new rounding mode must be test
in test_time, you should just add the new mode at the top once if I recall
corre

[2017-10-15 09:41] vstinner commented on #75973
Why the env changed wasn't noticed before? Is it a recent change?

[2017-10-15 09:49] JulienPalard opened #75974 "Allow to specialize smart quotes in documentation translations"
BPO | [31793](https://bugs.python.org/issue31793)
--- | :---
Nosy | @terryjreedy, @ezio-melotti, @merwok, @methane, @willingc, @JulienPalard
PRs | <li>python/cpython#4006</li><li>python/cpython#4324</li><li>python/cpython#4325</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more detail

[2017-10-15 09:49] JulienPalard commented on #75974
It would be great to allow each translation to specify their smart-quotes configuration, typically Japanese prefer no smart-quotes:

- https://github.com/python/docsbuild-scripts/issues/32

It's easily done by adding a [Doc/docutils.conf](https://github.com/python/cpython/blob/main/Doc/docutils.conf) file, I'm opening a PR.

[2017-10-15 10:08] serhiy-storchaka commented on #75973
I just have installed NumPy. It temporary sets these two environment variables for importing the multiarray numpy extension module, but forgot to remove them if the import is failed.

test_buffer imports numpy.

try:
    with warnings.catch_warnings():
        from numpy import ndarray as numpy_array
except ImportError:
    numpy_array = None

[2017-10-15 11:20] serhiy-storchaka commented on #75967
This particular issue can be fixed by adding the condition (PyFloat_Check(timeout_obj) && PyFloat_AsDouble(timeout_obj) \< 0). The problem is only with writing good test for infinity timeout.

This test could be also used for testing bpo-31334.

[2017-10-15 11:27] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75973
So it is a numpy issue? Which numpy version is it?

[2017-10-15 11:39] serhiy-storchaka commented on #75975
There are issues with running tests by importing test.autotest.

1. test_builtin failed.

[code]

0:00:01 load avg: 1.12 [  5/407/1] test_exceptions -- test_builtin failed
Warning -- reap_children() reaped child process 4761
0:00:01 load avg: 1.12 [  6/407/1] test_types
Warning -- reap_children() reaped child process 4763

Note that warnings and errors are emitted even after reporting that test_bu

[2017-10-15 11:39] serhiy-storchaka opened #75975 "Issues with test.autotest"
BPO | [31794](https://bugs.python.org/issue31794)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-15 11:48] serhiy-storchaka commented on #75973
It is particularly a NumPy issue (I have opened a bug https://github.com/numpy/numpy/issues/9861). It is exposed because I have installed NumPy with non-debug build of CPython and run the test with debug build of CPython. The test is passes with non-debug build of CPython. I am wondering if we can make a workaround and if we should do this.

[2017-10-15 12:01] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75973
Thanks. If it only occurs when mixing debug/non-debug I don't think we have to do anything about it.

[2017-10-15 12:13] vstinner commented on #75973
I suggest to always save/restore env vars on numpy import, since we don't
control 3rd party code.

[2017-10-15 12:26] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75973
That's fine.

[2017-10-15 13:13] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75973
I can't figure out how to make the damn button green on GitHub,
so LGTM. :)

[2017-10-15 14:13] pablogsal commented on #75967
I have added a Pull Request fixing this issue. The current implementation is checking in the syscall if the value for ms before rounding was negative.

To test for this, I call poll.poll in a thread and check that the thread is alive after a join with timeout (so this means it has blocked). Then to clean up, I write to a pipe and therefore it unblocks.

The implementation is available in the PR:

[2017-10-15 14:32] serhiy-storchaka commented on #75967
Thank you Pablo. The initial test leaked a thread, now it is much better.

Could you please make the test testing different timeout values: None, -1, -1.0, -0.1, -1e-100?

[2017-10-15 17:49] serhiy-storchaka commented on #75973
The issue is fixed on NumPy side (will be included in the next release). Is the workaround on our side still needed?

[2017-10-15 17:56] 5531d0d8-2a9c-46ba-8b8b-ef76132a492c commented on #75973
I'd push it so we don't have to worry about similar things in the
future.  The "warnings.catch_warnings()" thing is also a workaround
for some past numpy release.

[2017-10-15 18:06] 438f87e1-dfd7-42f4-9c9c-81be97e197c2 commented on #75969
I can pick this up if it's okay.

[2017-10-15 18:07] 438f87e1-dfd7-42f4-9c9c-81be97e197c2 commented on #75969
My bad, didn't notice the PR already existing.

[2017-10-15 19:18] pablogsal commented on #75967
I have updated both the test and the implementation to address your feedback.

[2017-10-15 19:28] benjaminp commented on #75969
New changeset 1295e11d397c6138427296d5f9653a9e7dd69062 by Benjamin Peterson (Semen Zhydenko) in branch 'master':
completly -\> completely (bpo-3999) (closes bpo-31788)
https://github.com/python/cpython/commit/1295e11d397c6138427296d5f9653a9e7dd69062

[2017-10-15 19:28] #75969 closed, assigned to nobody

[2017-10-15 19:48] benjaminp commented on #75969
New changeset cfc604722ff5ad64de96ddeb944661f1e94d8cd0 by Benjamin Peterson (Miss Islington (bot)) in branch '3.6':
[3.6] completly -\> completely (GH-3999) (closes bpo-31788) (bpo-4008)
https://github.com/python/cpython/commit/cfc604722ff5ad64de96ddeb944661f1e94d8cd0

[2017-10-15 20:34] rhettinger commented on #75972
For all the reasons Serhiy mentioned, I recommend rejecting this request.  This was an intentional and long-standing design decision. A substantial part of the Python ecosystem depends on it.

[2017-10-15 22:45] 2c100645-d0d7-4890-9a79-ab2d098d4979 opened #75976 "Slicings documentation doesn't mention Ellipsis"
BPO | [31795](https://bugs.python.org/issue31795)
--- | :---
Nosy | @rhettinger, @nitishch

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-15 22:45] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75976
Ellipsis object documentation[1] specifies that Ellipsis is mainly used by Slicings. But Slicing's documentation[2] doesn't mention anything about Ellipsis. Consequently - it is not immediately clear from Ellipsis documentation what it's used for.

[1] https://docs.python.org/3/library/stdtypes.html?highlight=ellipsis#the-ellipsis-object

[2] https://docs.python.org/3/reference/expressions.html#sl

[2017-10-16 01:07] 5f74d499-1719-41ed-b972-004d96aa5e3b commented on #75977
Dear,
      I have found that if a function name appears more than one time in a
file, the output of McCabe complexity for this function name only appear
once. I think it should output all of them. So, I send this email for
inquiring about this confusing problems.

Thanks,

Sincerely,

fuqianz

[2017-10-16 01:07] 5f74d499-1719-41ed-b972-004d96aa5e3b opened #75977 "The mccabe complexity output in module flake8."
BPO | [31796](https://bugs.python.org/issue31796)
--- | :---
Nosy | @ned-deily

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-16 01:10] ned-deily commented on #75977
flake8 is not part of the Python Standard Library.  You might start with its project page here: https://gitlab.com/pycqa/flake8

[2017-10-16 01:10] #75977 closed, assigned to nobody

[2017-10-16 03:24] rhettinger commented on #75976
In regular Python, the ellipsis isn't used for slicing.  It does have special meaning for numpy.   So, I think the docs may be correct as is.

[2017-10-16 06:30] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75976
The problem is that while documentation for other objects like Null object, NotImplemented object make it clear what they are used for, documentation for Ellipsis object only says that it's used in slicings and the slicings documentation doesn't cover Ellipsis.

Can we add an example of its usage in Numpy to the docs?

[2017-10-16 06:49] vadmium commented on #75941
Looks the same as bpo-31374

[2017-10-16 06:49] #75941 closed, assigned to nobody

[2017-10-16 07:38] serhiy-storchaka commented on #75973
New changeset 676db4bbf2e7c18dc7c35add17dd3bbdc2d3eeb3 by Serhiy Storchaka in branch 'master':
bpo-31792: Restore os.environ in test_buffer when import numpy. (bpo-4007)
https://github.com/python/cpython/commit/676db4bbf2e7c18dc7c35add17dd3bbdc2d3eeb3

[2017-10-16 07:42] vstinner commented on #75967
Ok, so it seems like we need 3 rounding modes:

* \_PyTime_ROUND_FLOOR: read a clock, like datetime.datetime.now(). We need to round nanoseconds since datetime.datetime only supports 1 us resolution

* \_PyTime_ROUND_HALF_EVEN: "round from a Python float" like round(float), used by datetime.datetime.fromtimestamp()

* \_PyTime_ROUND_UP: round timeouts, socket.settimeout(), lock.acquire(timeout), p

[2017-10-16 07:49] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75955
Seems like bufsize is used only in streaming modes. Even in the documentation bufsize is described only in the context of streaming modes.

Even TarFile constructor doesn't take bufsize as an argument. Why is it so?

[2017-10-16 07:50] 2c100645-d0d7-4890-9a79-ab2d098d4979 commented on #75955
Sorry. My bad. There \*is* an argument 'copybufsize' in TarFile.

[2017-10-16 07:51] vstinner commented on #75828
(Sorry, I don't work on asyncio anymore.)

[2017-10-16 08:21] serhiy-storchaka commented on #75973
New changeset 06949585d292d1a9dbf2d0d0fa8fc8fe1dee3ccf by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31792: Restore os.environ in test_buffer when import numpy. (GH-4007) (bpo-4009)
https://github.com/python/cpython/commit/06949585d292d1a9dbf2d0d0fa8fc8fe1dee3ccf

[2017-10-16 08:22] serhiy-storchaka commented on #75973
Thank you Victor and Stefan for your review.

[2017-10-16 08:22] #75973 closed, assigned to nobody

[2017-10-16 08:24] serhiy-storchaka commented on #75957
New changeset 0df19055c92a0b0728659807978e4ca4d6c8e1bc by Serhiy Storchaka (Pablo Galindo) in branch 'master':
bpo-31776: Missing "raise from None" in [Lib/xml/etree/ElementPath.py](https://github.com/python/cpython/blob/main/Lib/xml/etree/ElementPath.py) (bpo-3978)
https://github.com/python/cpython/commit/0df19055c92a0b0728659807978e4ca4d6c8e1bc

[2017-10-16 08:25] #75957 closed, assigned to nobody

[2017-10-16 08:28] vstinner commented on #75967
Oops, my pending [PR 3983](https://github.com/python/cpython/pull/3983) uses \_PyTime_ROUND_CEILING :-) Please keep it.

[2017-10-16 09:50] 17686ed2-7df7-4891-a21d-438d1ba28cfa commented on #75953
That seems like it makes the most sense, though I would suggest a higher-level test, because caching of bytecode is an implementation detail. So, while mocking time.time to be constant:

1. write dummy module with x=1
2. import dummy
3. overwrite dummy module with x=2
4. reload(dummy)
5. assert dummy.x == 2

BTW Brett, I didn't think it was personal; that would be odd considering you don't know me

[2017-10-16 10:14] 62a0f5ae-c6b1-4a26-9bec-340088d25e85 opened #75978 "Python 3.6.3: JSON loop fails using elif"
BPO | [31797](https://bugs.python.org/issue31797)
--- | :---
Nosy | @ericvsmith, @stevendaprano
Files | <li>[Test_log_bug.py](https://bugs.python.org/file47222/Test_log_bug.py "Uploaded as text/plain at 2017-10-16.10:14:43 by Francesco Mantovani"): Google API test script</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current stat

[2017-10-16 10:14] 62a0f5ae-c6b1-4a26-9bec-340088d25e85 commented on #75978
I attach here a file with 3 different way to parse Google Places API.

Please put your Google API key token into the variable [PutHereYourGoogleAPIKey] to make the script work.

The script contains 3 loops:
- the first loop works and that's how I fixed the problem
- the second loop fail because of the `elif`
- the third loop works because all `elif` were removed

[2017-10-16 10:55] 2631d5c5-80c1-4041-8b14-7b87842c2007 opened #75979 "`site.abs__file__` fails for modules where `__file__` cannot be modified"
BPO | [31798](https://bugs.python.org/issue31798)
--- | :---
Nosy | @terryjreedy, @ericvsmith

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-16 11:00] 2631d5c5-80c1-4041-8b14-7b87842c2007 commented on #75979
The pythonnet module clr causes a TypeError when `abs__file__` attempts to run the following line:

`m.__file__ = os.path.abspath(m.__file__)`

Reproduction:

[code]

[2017-10-16 12:06] rhettinger commented on #75976
I don't think we should.   In CPython, the ellipsis has no interesting semantics.  It is something that third-party modules can use however they wish.  It doesn't make sense for CPython docs to cover their usage.

[2017-10-16 12:06] #75976 closed, assigned to nobody

[2017-10-16 12:21] 8710b9ee-b54b-4c43-9b82-149807d967d3 commented on #75489
From a user's perspective I would definitely appreciate forkserver being protected from SIGINT.  This bug affects me in practice.  If the forkserver goes down I personally have no objection to it restarting automatically, though I appreciate that I have a narrow view of this topic.

Davin, at your last comment it seemed like you had reservations about this going in.  Did Antoine's recent comments

[2017-10-16 12:30] ericvsmith commented on #75978
Hi, Francesco.

This isn't the appropriate place to ask for help with your script.

I suggest trying the python-list mailing list.

[2017-10-16 12:33] stevendaprano commented on #75978
What are you claiming is the bug? I don't understand what you think the problem is.

Don't dump a large script in our laps and expect us to get a Google API key to run it. Forget that, it isn't going to happen. Simplify your code to make the smallest, simplest demonstration you can.

Please read: http://sscce.org/

Then tell us:

- what you expect to happen
- what actually happens
- show any outpu

[2017-10-16 12:35] stevendaprano commented on #75978
Oops, accidentally messed up the status. Fixing now.

Francesco, if you simplify your code and come back with a detailed description of what you think the bug is, then we will investigate.

[2017-10-16 12:35] #75978 closed, assigned to nobody

[2017-10-16 13:00] serhiy-storchaka commented on #75515
Shouldn't epoll_poll() be fixed too? Only -1 is documented as an infinity timeout in epoll_wait (2).

[2017-10-16 13:19] 0e227743-329d-4236-8563-39a3d295d212 commented on #75515
Although it's documented as -1 in Linux man page [1], from my quick tests I was not able to get any error with negative values different from -1 and it seems to wait indefinitely as expected. Looking also at its implementation in [2], it doesn't seem to differentiate between negative values. It could be argued that is implementation dependent at the moment and the behaviour might change in the fut

[2017-10-16 14:16] warsaw opened #75980 "Improve __spec__ discoverability"
BPO | [31799](https://bugs.python.org/issue31799)
--- | :---
Nosy | @warsaw
PRs | <li>python/cpython#4010</li><li>python/cpython#4021</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-16 14:16] warsaw commented on #75980
\_\_spec__ is defined in PEP-451.  If you search for "\_\_spec__" in the docs, you get a number of hits.

https://docs.python.org/3/search.html?q=__spec__&check_keywords=yes&area=default

Click on the first link:

https://docs.python.org/3/reference/import.html?highlight=__spec__#__spec__

but that still leaves you scratching your head as to what exactly is in \_\_spec__.  If you happen to scroll

[2017-10-16 14:47] vstinner commented on #75965
I just created the PEP-564: "Add new time functions with nanosecond resolution".

[2017-10-16 15:44] vstinner commented on #75954
New changeset bdaeb7d237462a629e6c85001317faa85f94a0c6 by Victor Stinner in branch 'master':
bpo-31773: \_PyTime_GetPerfCounter() uses \_PyTime_t (GH-3983)
https://github.com/python/cpython/commit/bdaeb7d237462a629e6c85001317faa85f94a0c6

[2017-10-16 17:53] merwok commented on #75919
Thanks for wanting to help!  This function is not meant to be public, which explains why it’s not documented.  Please see the [devguide](https://devguide.python.org) and the core-mentorship mailing list to find ways to contribute!

[2017-10-16 17:53] #75919 closed, assigned to nobody

[2017-10-16 18:23] berkerpeksag commented on #75935
New changeset 50cef52372381a9e2f3d760497d8db76254cffef by Berker Peksag (vyas45) in branch '2.7':
[2.7] bpo-31754: Fix type of 'itemsize' in PyBuffer_FillContiguousStrides (GH-3993)
https://github.com/python/cpython/commit/50cef52372381a9e2f3d760497d8db76254cffef

[2017-10-16 18:26] berkerpeksag commented on #75935
Thank you for the report, Robert and thank you for the patches, Aniket.

[2017-10-16 18:26] #75935 closed, assigned to nobody

[2017-10-16 19:48] ambv commented on #75739
Based on Inadasan's, Antoine's, Neil's, and Barry's review, I'm merging the change to 3.7.

[2017-10-16 19:49] ambv commented on #75739
New changeset c75edabbb65ca2bb29e51f8d1eb2c780e5890982 by Łukasz Langa (brainfvck) in branch 'master':
bpo-31558: Add gc.freeze() (bpo-3705)
https://github.com/python/cpython/commit/c75edabbb65ca2bb29e51f8d1eb2c780e5890982

[2017-10-16 19:50] #75739 closed, assigned to nobody

[2017-10-16 21:39] ambv commented on #75739
New changeset c30b55b96c0967e3a8b3b86f25eb012a97f360a5 by Łukasz Langa in branch 'master':
bpo-31558: Update NEWS and ACKS (bpo-4013)
https://github.com/python/cpython/commit/c30b55b96c0967e3a8b3b86f25eb012a97f360a5

[2017-10-16 22:51] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 opened #75981 "datetime.strptime: Support for parsing offsets with a colon"
BPO | [31800](https://bugs.python.org/issue31800)
--- | :---
Nosy | @abalkin, @vadmium, @pganssle, @mariocj89, @pablogsal
PRs | <li>python/cpython#4015</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-10-16 22:51] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 commented on #75981
Currently, datetime.strptime does not support parsing utc offsets that include a colon. "+0000" is parsed without issues whilst it fails with "+00:00".

"+NN:NN" is not only ISO8601 valid but also the way the offset is presented to the user when using .isoformat on a datetime with a timezone/offset.

This lead to the users needing to go to external libraries like dateutil or iso8601 just to be abl

[2017-10-17 00:21] ethanfurman commented on #75982
The following code should work (from https://stackoverflow.com/a/46780742/208880):

[code]

This doesn't work because EnumMeta does not allow names to be reassigned nor deleted.  aenum gets around this by allowing an \_ignore_ attribute which contains the names that should not be tracked (and, in fact, those names are removed from the final class).

Unless a better idea is put forward, I will add

[2017-10-17 00:21] ethanfurman opened #75982 "vars() manipulation encounters problems with Enum"
BPO | [31801](https://bugs.python.org/issue31801)
--- | :---
Nosy | @warsaw, @ethanfurman, @eric-wieser
PRs | <li>python/cpython#5237</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-17 02:01] tim-one commented on #75811
On 16 Oct 2017, exactly the same test failures were reported on python-dev:

https://mail.python.org/pipermail/python-dev/2017-October/149880.html

From the test output posted there:

"""
== CPython 3.6.3 (default, Oct 16 2017, 14:42:21) [GCC 4.7.2]
== Linux-3.2.0-4-686-pae-i686-with-debian-7.11 little-endian
"""

And I just noticed that in bpo-27953 exactly the same bad tan result() was reported

[2017-10-17 04:12] vadmium commented on #75981
FWIW it looks like “strptime” in glibc, and Open and Free BSD support parsing this and even more formats (RFC 822 and RFC 3339; includes “Z”, U.S. time zones, ±HH). Also, there is bpo-24954 for adding “%:z” like Gnu “date”.

[2017-10-17 04:15] vadmium commented on #75981
Sorry, I meant Net BSD not Free BSD

[2017-10-17 08:35] vstinner commented on #75914
New changeset 3c082a7fdb472f02bcac7a7f8fe1e3a34a11b70b by Victor Stinner in branch '2.7':
bpo-31733: Add PYTHONSHOWREFCOUNT env var (GH-3932)
https://github.com/python/cpython/commit/3c082a7fdb472f02bcac7a7f8fe1e3a34a11b70b

[2017-10-17 09:25] vstinner commented on #75873
New changeset 7b4ba62e388474e811268322b47f80d464933541 by Victor Stinner in branch '2.7':
[2.7] bpo-31692: Add PYTHONSHOWALLOCCOUNT env var (GH-3927)
https://github.com/python/cpython/commit/7b4ba62e388474e811268322b47f80d464933541

[2017-10-17 09:45] markshannon commented on #75983
[code]

Whether this counts as a bug or not is debatable. It could be argued that you shouldn't be importing 'posixpath' directly, in which case it ought to be called '\_posixpath', but I guess it is too late to be changing the name.

[2017-10-17 09:45] markshannon opened #75983 "'import posixpath' fails if 'os.path' has not be imported already."
BPO | [31802](https://bugs.python.org/issue31802)
--- | :---
Nosy | @markshannon, @serhiy-storchaka
PRs | <li>python/cpython#4017</li><li>python/cpython#5129</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-10-17 10:03] vstinner commented on #75873
Python 2.7.15 will require to compile Python with COUNT_ALLOCS defined \*and* to set the PYTHONSHOWALLOCCOUNT environment variable (ex: PYTHONSHOWALLOCCOUNT=1) to dump allocation counts. Moreover, counts are now dumped into stderr, instead of stdout.

Python 2.7 test suite now pass when Python is compiled with COUNT_ALLOCS.

Python 2.7 test suite doens't pass with PYTHONSHOWALLOCCOUNT set. I don't

[2017-10-17 10:03] vstinner commented on #75914
Python 2.7.15 now requires to set PYTHONSHOWREFCOUNT env var to dump "[xxx refs]".

[2017-10-17 10:03] #75914 closed, assigned to nobody

[2017-10-17 10:17] serhiy-storchaka commented on #75873
Isn't worth to document these changes in What's New?

[2017-10-17 11:35] vstinner commented on #74726
New changeset 552be9d7e64f91b8e4ba5b29cd5dcc442d56f92c by Victor Stinner (Mario Corchero) in branch 'master':
bpo-30541: Add new method to seal mocks ([GH61923](https://github.com/python/cpython/pull/61923))
https://github.com/python/cpython/commit/552be9d7e64f91b8e4ba5b29cd5dcc442d56f92c

[2017-10-17 11:36] #74726 closed, assigned to nobody

[2017-10-17 11:58] JulienPalard commented on #75770
Finally have a combination of latex engines that work for every cases, did a PR on docsbuild-scripts:

https://github.com/python/docsbuild-scripts/pull/34/

I already pulled xelatex on docs.iad1.psf.io via https://github.com/python/psf-salt/commit/989a7715c4a452b5af13baf9a33535bab0af822b#diff-6fb01fe8bbc22a54d234a57ad58e291e

Also opened a few related issue sphinx-doc side to track my thoughts:

-

[2017-10-17 12:05] serhiy-storchaka commented on #74199
Sorry, Louie Lu, this already has been fixed in bpo-31343.

[2017-10-17 12:05] #74199 closed, assigned to nobody

[2017-10-17 12:06] serhiy-storchaka commented on #75524
Louie Lu proposed the fix for this issue in bpo-30013.

[2017-10-17 13:00] vstinner opened #75984 "time.clock() should emit a DeprecationWarning"
BPO | [31803](https://bugs.python.org/issue31803)
--- | :---
Nosy | @malemburg, @freddrake, @abalkin, @vstinner, @benjaminp, @benhoyt, @ethanfurman, @serhiy-storchaka
PRs | <li>python/cpython#4018</li><li>python/cpython#4020</li><li>python/cpython#4062</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details

[2017-10-17 13:00] vstinner commented on #75984
The behaviour of the time.clock() function is not portable: on Windows it mesures wall-clock, whereas it measures CPU time on Unix. Python has time.process_time() and time.perf_counter(), since Python 3.3, which are portable, well defined and have a better resolution.

time.clock() was deprecated in Python 3.3 documentation, but calling time.clock() didn't raise a DeprecationWarning. I proposed to

[2017-10-17 13:09] vstinner commented on #75984
With the PR, Python 3.7 will still requires the C clock() function to build on Unix, since time.process_time() uses it as the last fallback if all other functions failed.

Maybe we can require to have other functions used by time.process_time() (clock_gettime(CLOCK_PROF), getrusage(), times(), ...), but I consider that it can be done later. This change may impact the Python portability: compilatio

[2017-10-17 13:26] 8029d403-64fb-4202-9817-4695852d288d commented on #75984
I don't think this is a good idea. I still use time.clock() out of habit (on Windows), and from the PR it's clear that the standard library and tests do too. I wouldn't be at all surprised to find others do as well.

I realize it's been deprecated since 3.3, but without a DeprecatingWarning, that's easy to miss. What about adding a DeprecatingWarning for 3.7 and deprecate it later, maybe in 3.9? (

[2017-10-17 13:27] serhiy-storchaka commented on #75984
I think it is better to not remove time.clock() until EOL of 2.7. And in any case it first should start emitting a deprecation warning for a one or two releases.

[2017-10-17 13:35] vstinner commented on #75984
Ben Hoyt: "... from the PR it's clear that the standard library and tests do too."

I disagree here. The standard library doesn't use time.clock() since Python 3.3. Better clocks like time.perf_counter() or time.monotonic() are now used in the standard library.

My PR onl changes two old tests and the very old turtledemo. I never used turtledemo, I didn't now that it exists neither :-)

"I wouldn'

[2017-10-17 13:38] serhiy-storchaka commented on #75984
A runtime deprecation warning was not emitted in 3.3 because two alternatives, time.process_time() and time.perf_counter(), were not available before 3.3. It would be hard to write a warning-free code that supports 3.3 and earlier versions at the same time. But now 3.2 is virtually out of use and I think we can start emitting a deprecation warning at runtime.

And maybe make 2to3 replacing time.cl

[2017-10-17 13:39] vstinner commented on #75984
Serhiy: "I think it is better to not remove time.clock() until EOL of 2.7. And in any case it first should start emitting a deprecation warning for a one or two releases."

I really hate using 2.7 EOL as the final countdown to start changing things. Are we building a new "Python 3" chaos where everything explode at once?

IMHO it's not that hard to write code compatible with Python 2 and Python 3:

[2017-10-17 13:56] vstinner commented on #75873
Serhiy: "Isn't worth to document these changes in What's New?"

Ok, I created the [PR 4019](https://github.com/python/cpython/pull/4019).

[2017-10-17 14:07] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 commented on #75981
Yep, http://man7.org/linux/man-pages/man3/strptime.3.html does support it even if it might look asymetrical.

Example:

[code]

           memset(&tm, 0, sizeof(struct tm));
           strptime("+00:00", "%z", &tm);
           strftime(buf, sizeof(buf), "%z", &tm);
           puts(buf); // Will print +0000
           exit(EXIT_SUCCESS);

Martin do you want me to "cleanup" the PR, add docs, news en

[2017-10-17 14:40] serhiy-storchaka commented on #75967
New changeset 2c15b29aea5d6b9c61aa42d2c24a07ff1edb4b46 by Serhiy Storchaka (Pablo Galindo) in branch 'master':
bpo-31786: Make functions in the select module blocking when timeout is a small negative value. (bpo-4003)
https://github.com/python/cpython/commit/2c15b29aea5d6b9c61aa42d2c24a07ff1edb4b46

[2017-10-17 14:59] 7a34cbe6-092a-448a-8014-9a94def168ca opened #75985 "multiprocessing calls flush on sys.stdout at exit even if it is None (pythonw)"
BPO | [31804](https://bugs.python.org/issue31804)
--- | :---
Nosy | @terryjreedy, @pitrou, @applio, @poxthegreat
PRs | <li>python/cpython#5492</li><li>python/cpython#6079</li><li>python/cpython#6080</li><li>python/cpython#6081</li>
Files | <li>[process.py.patch](https://bugs.python.org/file47224/process.py.patch "Uploaded as text/plain at 2017-10-17.14:59:34 by @poxthegreat"): patch file with triv

[2017-10-17 14:59] 7a34cbe6-092a-448a-8014-9a94def168ca commented on #75985
If you start Python by pythonw then sys.stdout and sys.stderr are set to None. If you also use multiprocessing then when the child process finishes BaseProcess.\_bootstrap calls sys.stdout.flush() and sys.stderr.flush() finally. This causes the process return code to be not zero (it is 1).

[2017-10-17 16:52] 39d85a87-36ea-41b2-b2bb-2be43abb500e commented on #75984
@Victor: True, people often ignore DeprecationWarning anyway, but that's their problem, at least you can say "well, you were warned". They might not have read the documentation on it recently because they have not felt the need to read again about a function with which they are already familiar.

[2017-10-17 19:03] d05aef1e-abc2-4a6e-b042-f2fd671dd9f2 commented on #75920
As I am learning from the examples, I don't have the confidence to propose a fix to them. :-P

For the IPv4-and-IPv6 "Echo server program": should s be closed at some point after "conn, addr = s.accept()"? Should s be closed on the line immediately after "conn, addr = s.accept()", should it be closed on the last line (after the "with conn:" context is exited), or is either acceptable?

Should the

[2017-10-17 19:31] 40c6f688-fc9d-4985-b0d5-680583b2330a commented on #75963
I've realized that my patch may not be ideal for general-purpose use, but it's a good start for a discussion on the proper way to implement a timeout.

My patch (which is based on a more involved modification to Pool) assumes that the joins after the first will complete within a timely fashion, which is not necessarily true. While this prevents leaving the pool in a half-joined state, it can still

[2017-10-17 19:36] vstinner commented on #75984
I proposed [PR 4020](https://github.com/python/cpython/pull/4020) to emit a DeprecationWarning in time.clock() and time.get_clock_info('clock').

[2017-10-17 19:45] vstinner commented on #75515
New changeset 6cfa927ceb931ad968b5b03e4a2bffb64a8a0604 by Victor Stinner (Riccardo Coccioli) in branch 'master':
bpo-31334: Fix timeout in select.poll.poll() (GH-3277)
https://github.com/python/cpython/commit/6cfa927ceb931ad968b5b03e4a2bffb64a8a0604

[2017-10-17 19:47] vstinner opened #75986 "support._is_gui_available() hangs on x86-64 Sierra 3.6/3.x buildbot"
BPO | [31805](https://bugs.python.org/issue31805)
--- | :---
Nosy | @ronaldoussoren, @vstinner, @ned-deily, @mattbillenstein

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-17 19:47] vstinner commented on #75986
http://buildbot.python.org/all/#/builders/20/builds/11

Re-running test 'test_ttk_guionly' in verbose mode
Timeout (0:15:00)!
Thread 0x00007fffc0cd73c0 (most recent call first):
  File "/Users/buildbot/buildarea/3.6.billenstein-sierra/build/Lib/test/support/__init__.py", line 485 in \_is_gui_available
  File "/Users/buildbot/buildarea/3.6.billenstein-sierra/build/Lib/test/support/__init__.py", lin

[2017-10-17 19:48] vstinner commented on #75986
Same issue on x86-64 Sierra 3.x:

http://buildbot.python.org/all/#/builders/14/builds/21

[2017-10-17 19:48] affb16c2-6fdb-403f-b328-86b7e719c99e commented on #75934
Static analysis:

My mental model currently says the rebuilt function every outer call is an expense with no offsetting benefit. It seems that a function shouldn't build a closure on every call if the closure doesn't close over anything immediately used by the functionality. But I can't explain why the cost doesn't amortize toward zero in my testing.

Usage analysis:

On the other hand, this doesn

[2017-10-17 19:52] warsaw commented on #75980
New changeset 191e3138200906e43cba9347177914325b54843f by Barry Warsaw in branch 'master':
bpo-31799: Make module.\_\_spec__ more discoverable (bpo-4010)
https://github.com/python/cpython/commit/191e3138200906e43cba9347177914325b54843f

[2017-10-17 19:53] vstinner commented on #75986
Matt: Would you like to look at your buildbot to check if something is wrong with Tkinter?

The code hangs on the CGMainDisplayID() call in support.\_is_gui_available():

[code]

[2017-10-17 19:59] warsaw commented on #75980
New changeset 858ea4354fafa36e57859d2dfd70f8a057984075 by Barry Warsaw (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31799: Make module.\_\_spec__ more discoverable (GH-4010) (bpo-4021)
https://github.com/python/cpython/commit/858ea4354fafa36e57859d2dfd70f8a057984075

[2017-10-17 19:59] #75980 closed, assigned to warsaw

[2017-10-17 20:13] vstinner commented on #75873
New changeset 355393e7438deeab4aeec3fcffea65e8cada083b by Victor Stinner in branch '2.7':
[2.7] bpo-31733, bpo-31692: Document 2 new env vars in What's New in Python 2.7 (GH-4019)
https://github.com/python/cpython/commit/355393e7438deeab4aeec3fcffea65e8cada083b

[2017-10-17 20:13] vstinner commented on #75914
New changeset 355393e7438deeab4aeec3fcffea65e8cada083b by Victor Stinner in branch '2.7':
[2.7] bpo-31733, bpo-31692: Document 2 new env vars in What's New in Python 2.7 (GH-4019)
https://github.com/python/cpython/commit/355393e7438deeab4aeec3fcffea65e8cada083b

[2017-10-17 20:14] vstinner commented on #75873
I documented the two new environment variables in What's New in Python 2.7, so this issue can now be closed again.

[2017-10-17 20:14] #75873 closed, assigned to nobody

[2017-10-17 20:39] vstinner commented on #75417
It seems like all attached PR are now merged. I didn't see any random "dangling thread" warning recently in the master branch, so I close this issue.

[2017-10-17 20:39] #75417 closed, assigned to nobody

[2017-10-17 21:01] affb16c2-6fdb-403f-b328-86b7e719c99e commented on #75934
New information: I think I have pinpointed at least a contributor to the difference - closure lookups seem to be currently slightly slower (by a few percent) than global lookups (see https://stackoverflow.com/a/46798876/541136).

And as we can see, an inner function that references itself is a closure on itself (see LOAD_DEREF):

[code]

This, at least to me, explains why the performance differenc

[2017-10-17 21:02] serhiy-storchaka commented on #73882
I'm not convinced that a named tuple is needed here.

[2017-10-17 21:46] vstinner commented on #75984
New changeset 884d13a55fc328e2e1e3948a82b361b30804b818 by Victor Stinner in branch 'master':
time.clock() now emits a DeprecationWarning (GH-4020)
https://github.com/python/cpython/commit/884d13a55fc328e2e1e3948a82b361b30804b818

[2017-10-17 21:49] vstinner commented on #75984
Ok, I modified time.clock() and time.get_clock_info('clock') to emit a DeprecationWarning.

Let's wait for Python 3.8 to remove time.clock() ;-)

Thanks for the reviews Serhiy Storchaka and Diana Clarke!

[2017-10-17 22:21] pablogsal commented on #75987
Following PR for https://bugs.python.org/issue31786 time_sleep, lock_acquire_parse_args and socket_parse_timeout should use \_PyTime_ROUND_TIMEOUT instead of \_PyTime_ROUND_CEILING.

[2017-10-17 22:21] pablogsal opened #75987 "Use _PyTime_ROUND_TIMEOUT in _threadmodule.c, timemodule.c and socketmodule.c"
BPO | [31806](https://bugs.python.org/issue31806)
--- | :---
Nosy | @serhiy-storchaka, @pablogsal
PRs | <li>python/cpython#4026</li><li>python/cpython#4030</li><li>python/cpython#4032</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs

[2017-10-17 22:29] mattbillenstein commented on #75986
Did some debugging by sticking a couple prints in support.is_gui_available() and it appears everything is fine up until the call to app_services.SetFrontProcess() -- this is returning error code -606 which is defined in:

/System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/CarbonCore.framework/Versions/A/Headers/MacErrors.h:
appIsDaemon                   = -606, /*app is BG-onl

[2017-10-17 22:30] mattbillenstein commented on #75986
Note, that's running ./python.exe [Lib/tests/test_tk.py](https://github.com/python/cpython/blob/main/Lib/tests/test_tk.py) from a Terminal when logged into the gui...

[2017-10-17 23:02] terryjreedy commented on #75111
New changeset 27288de0856c6fbe56354adb312ae706ce8bc7de by Terry Jan Reedy in branch 'master':
bpo-30928: Update idlelib/NEWS.txt to 2017 Oct 17. (bpo-4025)
https://github.com/python/cpython/commit/27288de0856c6fbe56354adb312ae706ce8bc7de

[2017-10-17 23:53] terryjreedy commented on #75111
New changeset 98e0f26f2e4cbf5c2ca27b39f43c1cb0114c6e3c by Terry Jan Reedy (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30928: Update idlelib/NEWS.txt to 2017 Oct 17. (GH-4025) (bpo-4028)
https://github.com/python/cpython/commit/98e0f26f2e4cbf5c2ca27b39f43c1cb0114c6e3c

[2017-10-18 00:38] Rosuav commented on #75961
Thanks for handling that Terry. I take it the PR isn't needed now?

I would have done it, but I'm on the way to the US (literally posting this from the airport), and hadn't gotten to looking at this in the interval.

[2017-10-18 00:44] ericvsmith commented on #73882
It does seem like overkill for something that's rarely used. I'm -0 on the structseq version.

[2017-10-18 00:48] 721fabdf-f286-4c0a-90e3-7326ebe32f66 commented on #75988
If have autospec=True, then no ValueError is raised. If autospec=False or not defined, then the ValueError is raised.

[code]

@mock.patch('\_\_main__.wrapped_func', autospec=True, wraps=wrapped_func)
def main(mock_wrap):

[code]

[2017-10-18 00:48] 721fabdf-f286-4c0a-90e3-7326ebe32f66 opened #75988 "unitest.mock: Using autospec=True conflicts with 'wraps'"
BPO | [31807](https://bugs.python.org/issue31807)
--- | :---
Nosy | @rbtcollins, @ezio-melotti, @voidspace, @Lukas0907, @tirkarthi
Files | <li>[0001-bpo-31807-unittest.mock-Fix-common-use-of-autospec-T.patch](https://bugs.python.org/file47267/0001-bpo-31807-unittest.mock-Fix-common-use-of-autospec-T.patch "Uploaded as text/plain at 2017-11-15.15:29:36 by @Lukas0907")</li>

<sup>*Note: these values

[2017-10-18 01:43] ericvsmith commented on #75979
I don't have clr installed in order to test this. It would be good if you could produce it without us having to install additional software.

Could you please copy the entire stack traceback you get when this error occurs?

Does this error happen on 3.6, too?

[2017-10-18 01:47] Mariatta commented on #75857
New changeset 178148025494c4058571831fb11fc8eeff8b7365 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31676: Fix test_imp.test_load_source() side effect (GH-3871) (GH-3988)
https://github.com/python/cpython/commit/178148025494c4058571831fb11fc8eeff8b7365

[2017-10-18 02:05] bitdancer commented on #75920
I think in the echo examples the 'with conn' block should be indented and a
'with s:' added around it.

The network sniffer should probably use a with statement with the
created socket.

The CAN example ends only on ctrl-C, and could go into a fast spin
loop on error, so it probably needs a more extensive rewrite.

[2017-10-18 02:12] bitdancer commented on #75920
Heh, of course the socket server also only ends with ctl-C.  And I misread the CAN example, it won't spin because the read isn't wrapped in a try/except.  So yes, that should use a with on the socket as well, since the with will close the socket on a ctl-C, unlike a close statement after the loop which will never be reached.

[2017-10-18 04:09] rhettinger commented on #75934
I question those timings.  Here's the results from a script I've been using for many years:

[code]

See the attached timing script:  variable_access.py

Also, take a look at the underlying code:

[code]

You can see that the only difference is that LOAD_DEREF has one extra indirection.  That should be very cheap.   In contrast, a LOAD_GLOBAL does a lot more work.  If this isn't evident in your ti

[2017-10-18 05:53] malemburg commented on #75984
time.cock() is used in a lot of code. Why can't we simply replace the functionality with one of the other functions ?

The documentation certainly allows for such a change, since it pretty much just says that only the delta between two values has a meaning.

[2017-10-18 06:32] ethanfurman commented on #75984
I agree with MAL; removing functions just makes multi-version code more painful.  At least have the DeprecationWarning active for two releases before removing it.

[2017-10-18 07:13] serhiy-storchaka commented on #75987
New changeset 59af94fa61bf90adbe624508e909b5d6ef6e8464 by Serhiy Storchaka (Pablo Galindo) in branch 'master':
bpo-31806: Use \_PyTime_ROUND_TIMEOUT for the timeout argument parsing in more functions (bpo-4026)
https://github.com/python/cpython/commit/59af94fa61bf90adbe624508e909b5d6ef6e8464

[2017-10-18 07:58] terryjreedy commented on #75961
Correct.  Fixed.

[2017-10-18 08:12] serhiy-storchaka commented on #75967
New changeset 95602b368b87da3702a0f340ded2a23e823bb104 by Serhiy Storchaka (Pablo Galindo) in branch '3.6':
[3.6] bpo-31786: Make functions in the select module blocking when timeout is a small negative value. (GH-4003). (bpo-4022)
https://github.com/python/cpython/commit/95602b368b87da3702a0f340ded2a23e823bb104

[2017-10-18 08:13] vstinner commented on #75857
I tested "./python -m test -uall -M4G test_imp test_cgitb" on 3.6 and the master branch. Both tests now pass correctly. I close the issue.

[2017-10-18 08:13] #75857 closed, assigned to nobody

[2017-10-18 08:28] vstinner commented on #75984
Marc Andre Lemburg: "time.cock() is used in a lot of code. Why can't we simply replace the functionality with one of the other functions ? The documentation certainly allows for such a change, since it pretty much just says that only the delta between two values has a meaning."

Currently time.clock() is the same clock than time.perf_counter() on Windows, but it's closer to CPU time as time.proces

[2017-10-18 08:28] serhiy-storchaka commented on #75967
New changeset ed267e3305a54eddae8106bdaae2c62d4c3b7db6 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31786: Make functions in the select module blocking when timeout is a small negative value. (GH-4003). (bpo-4031)
https://github.com/python/cpython/commit/ed267e3305a54eddae8106bdaae2c62d4c3b7db6

[2017-10-18 08:29] 2c5dc182-78ac-4f1b-8002-184f32fbf5a1 commented on #75989
The fix for https://bugs.python.org/issue10761 somehow didn't make it into 3.5 and later - I have the same behavior as described there in 3.5.1 and 3.6.1 (tested on Ubuntu 16.04)

[2017-10-18 08:29] 2c5dc182-78ac-4f1b-8002-184f32fbf5a1 opened #75989 "tarfile.extractall fails to overwrite symlinks"
BPO | [31808](https://bugs.python.org/issue31808)
--- | :---
Nosy | @serhiy-storchaka, @corona10

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

### Linked PRs
* gh-137316
* gh-139705
* gh-1397

[2017-10-18 08:34] serhiy-storchaka commented on #75967
Thank you for your contribution Pablo.

The issue is fixed in 3.6 and 3.7. It is hard to fix it in 2.7.

[2017-10-18 08:34] #75967 closed, assigned to nobody

[2017-10-18 08:45] vstinner commented on #75984
(I reopen the issue since the discussion is not over.)

Marc-Andre Lemburg: "time.cock() is used in a lot of code."

I ran a quick search on GitHub. I found different use cases of time.clock():

1) Measure performance. On Windows, time.clock() has a very good precision, \*much* better than any other clock. For example, time.process_time() has a resolution of 15.6 ms whereas time.clock() has a reso

[2017-10-18 08:46] serhiy-storchaka commented on #74342
Maybe the difference is processor depending. I'm going to repeat benchmarking on 32-bit processors. Or maybe fast call was optimized in master. Or passing via an arguments tuple was pessimized.

[2017-10-18 09:09] serhiy-storchaka commented on #75984
Initially the time module was a thin wrapper around C and OS time-related functions. It may be confusing that the behavior of time.clock() differs from the behavior of C's clock().

The documentation for clock() on MSDN suggests to use GetProcessTimes() for the behavior conforming the C standard.

https://msdn.microsoft.com/en-us/library/4e2ess30.aspx

[2017-10-18 09:10] serhiy-storchaka commented on #75987
New changeset be4e9cc769aac3cb46670c049b9f21e412be53d1 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31806: Use \_PyTime_ROUND_TIMEOUT for the timeout argument parsing in more functions (GH-4026) (bpo-4032)
https://github.com/python/cpython/commit/be4e9cc769aac3cb46670c049b9f21e412be53d1

[2017-10-18 09:15] vstinner commented on #75984
"Initially the time module was a thin wrapper around C and OS time-related functions. It may be confusing that the behavior of time.clock() differs from the behavior of C's clock()."

Well, there is the theory, and there is the practice. Someone decided to implement time.clock() with QueryPerformanceCounter() on Windows, and so time.clock() is no more a thin wrapper to the C clock() function since

[2017-10-18 09:29] pablogsal commented on #73882
IMHO this change makes things a bit more consistent. In lots of places when a tuple is returned, a `structseq` is used to improve readability on the returned result. Some examples of this are:

* grp.struct_group
* os.terminal_size
* pwd.struct_passwd
* resource.struct_rusage
* signal.struct_siginfo
* time.struct_time
* spwd.struct_spwd
* sys.float_info
* sys.int_info
* string.FormatterItem
* sys.

[2017-10-18 09:30] pablogsal commented on #73882
With the exception of string.FormatterItem, which is the change at hand.

[2017-10-18 10:08] malemburg commented on #75984
On 18.10.2017 11:45, STINNER Victor wrote:

That's what I think would be a better solution, since the
absolute value of time.clock() is never used, only the difference.

If you then get better accuracy in that difference, things
can only get better, so this is not really backwards compatibility
issue (nothing gets worse).

Not sure whether the function name would cause an incompatibility
issue. I

[2017-10-18 11:54] bitdancer commented on #75959
"Safely evaluate an expression node or a string containing a Python expression."

The behavior you are citing matches that documentation, as far as I can see.  1+1 is an expression involving supported literals.

[2017-10-18 12:01] serhiy-storchaka commented on #75959
"""
The string or node provided may only consist of the following Python literal structures: strings, bytes, numbers, tuples, lists, dicts, sets, booleans, and None.
"""

1+1 is not a literal number.

"""
It is not capable of evaluating arbitrarily complex expressions, for example involving operators or indexing.
"""

[2017-10-18 12:04] serhiy-storchaka commented on #75515
New changeset 27b951c63353345cdf7a9a8c4c8133a5dafd6a80 by Serhiy Storchaka (Riccardo Coccioli) in branch '2.7':
[2.7] bpo-31334: Fix timeout in select.poll.poll() (GH-3277) (bpo-4034)
https://github.com/python/cpython/commit/27b951c63353345cdf7a9a8c4c8133a5dafd6a80

[2017-10-18 12:05] #75515 closed, assigned to nobody

[2017-10-18 12:05] serhiy-storchaka commented on #75515
New changeset 97abcabc195b87d6a5562dbb867a469fac27d3f6 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-31334: Fix timeout in select.poll.poll() (GH-3277) (bpo-4033)
https://github.com/python/cpython/commit/97abcabc195b87d6a5562dbb867a469fac27d3f6

[2017-10-18 12:10] #75987 closed, assigned to nobody

[2017-10-18 13:15] f952991c-fd28-4541-92bb-5dd81c806fb8 opened #75990 "ssl module unnecessarily pins the client curve when using ECDH"
BPO | [31809](https://bugs.python.org/issue31809)
--- | :---
Nosy | @tiran, @alex, @dstufft, @grrrrrrrrr
PRs | <li>python/cpython#4036</li><li>python/cpython#5872</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[

[2017-10-18 13:15] f952991c-fd28-4541-92bb-5dd81c806fb8 commented on #75990
When using elliptic curves in combination with the ssl module to wrap a socket, the only curve the client accepts is prime256v1. Expected behavior is to accept all curves that are on the default list and supported by the server.

We noticed the issue when connecting to a server that is configured with a non standard curve, we get

[SSL: WRONG_CURVE] wrong curve (_ssl.c:661)

unless we explicitly s

[2017-10-18 13:54] vstinner commented on #74040
FYI I added the test.pythoninfo utility as a follow-up of this issue to log many informations to debug Python, not only the readline version: see bpo-30871.

[2017-10-18 14:06] tiran commented on #75990
Which version of OpenSSL are you using? Please note that macOS' system python uses either an ancient version of OpenSSL 0.9.8 or an ancient version of LibreSSL (IIRC 2.3.x).

The code in question is:

[code]

The block is executed for all SSLContexts (server and client) because . The behavior depends on the version of OpenSSL:

OpenSSL \>= 1.1: not executed
OpenSSL \>= 1.0.2, \< 1.1: SL_CTX_set_ec

[2017-10-18 14:35] serhiy-storchaka commented on #75959
[PR 4035](https://github.com/python/cpython/pull/4035) makes ast.literal_eval() more strict.

[2017-10-18 15:10] f952991c-fd28-4541-92bb-5dd81c806fb8 commented on #75990
While debugging I reproduced this on
- 'OpenSSL 1.1.0f  25 May 2017'
- 'OpenSSL 1.0.1f 6 Jan 2014'
- and 'BoringSSL', latest.

using Python 2.7.12, 2.7.13, 2.7.6 and 3.5.3. This was all on Debian.

Note that since I used Python \<2.7.14 (or equivalent for 3.x) for all tests, the check "... && !defined(OPENSSL_VERSION_1_1)" is missing and therefore the bug \*always* triggers regardless of OpenSSL v

[2017-10-18 15:22] vstinner opened #75991 "Travis CI, buildbots: run "make smelly" to check if CPython leaks symbols"
BPO | [31810](https://bugs.python.org/issue31810)
--- | :---
Nosy | @vstinner, @taleinat, @ned-deily, @zware, @1st1, @CuriousLearner
PRs | <li>python/cpython#4054</li><li>python/cpython#4057</li><li>python/cpython#4140</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summa

[2017-10-18 15:22] vstinner commented on #75991
Recently, a new "cell_set_contents()" public symbol was added by mistake: see bpo-30486. It was quickly noticed by doko, and fixed by me (commit 0ad05c32cc41d4c21bfd78b9ffead519ead475a2).

The problem is that we already have a "make smelly" command to check if Python "leaks" symbols, but this check is not run on our CIs (Travis CI or buildbots).

It would be nice to run automatically this test.

[2017-10-18 15:32] fce6aa28-f7e2-4802-a520-563f240dbc1b opened #75992 "async and await missing from keyword list in lexical analysis doc"
BPO | [31811](https://bugs.python.org/issue31811)
--- | :---
Nosy | @vstinner, @1st1, @tomfloyer
PRs | <li>python/cpython#4140</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-18 15:32] fce6aa28-f7e2-4802-a520-563f240dbc1b commented on #75992
I see that code making async/await real keywords has been merged, but it looks like [Doc/reference/lexical_analysis.rst](https://github.com/python/cpython/blob/main/Doc/reference/lexical_analysis.rst) doesn't have those added
https://github.com/python/cpython/blob/4a2d00c/Doc/reference/lexical_analysis.rst#keywords

Is that list autogenerated somehow or was it just overlooked?

[2017-10-18 15:42] vstinner opened #75993 "Document PEP 545 (documentation translation) in What's New in Python 3.7"
BPO | [31812](https://bugs.python.org/issue31812)
--- | :---
Nosy | @vstinner, @methane, @JulienPalard
PRs | <li>python/cpython#4064</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-18 15:42] vstinner commented on #75993
The PEP-545 should be documented in What's New in Python 3.7: mention that the Python documentation is now \*officially* translated to french and japanese.

[2017-10-18 15:42] 4ee349e0-3075-45f2-a267-516aef8641be opened #75994 "python -m ensurepip hangs"
BPO | [31813](https://bugs.python.org/issue31813)
--- | :---
Nosy | @yan12125, @tonybaloney
Files | <li>[S71018-182104.jpg](https://bugs.python.org/file47226/S71018-182104.jpg "Uploaded as image/jpeg at 2017-10-18.15:42:58 by Serhy Pyton"): screenshot</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details>

[2017-10-18 15:42] 4ee349e0-3075-45f2-a267-516aef8641be commented on #75994
pip stucks, during installing python 3.6.3 in termux and not complete it. Posibly it's could be a problem only on meizu m2. Also it produse load in such state.

[2017-10-18 16:10] tiran commented on #75990
- BoringSSL is not a supported libssl/libcrypto library for Python. We only support 100% OpenSSL-compatible libraries.
- OpenSSL 1.0.1 is no longer supported by upstream. Python's semi-official support policy for 1.0.1 and 0.9.8 is "use at your own risk". You should upgrade.
- Python \< 2.7.13 does not support OpenSSL 1.1
- Python \>= 2.7.13 has #if !defined(OPENSSL_VERSION_1_1) before SSL_CTX_set

[2017-10-18 16:24] bf28a09e-6d72-4c82-a4b1-8cc669e32358 opened #75995 "subprocess_fork_exec more stable with vfork"
BPO | [31814](https://bugs.python.org/issue31814)
--- | :---
Nosy | @gpshead, @ambv, @albertz

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-18 16:24] bf28a09e-6d72-4c82-a4b1-8cc669e32358 commented on #75995
subprocess_fork_exec currently calls fork().

I propose to use vfork() or posix_spawn() or syscall(SYS_clone, SIGCHLD, 0) instead if possible and if there is no preexec_fn. The difference would be that fork() will call any atfork handlers (registered via pthread_atfork()), while the suggested calls would not.

There are cases where atfork handlers are registered which are not save to be called e.g

[2017-10-18 16:43] serhiy-storchaka commented on #75996
Proposed PR makes tight C loops with itertools iterators interruptible with Ctrl-C. It adds checks for keyboard interrupt in iterators that can produce long sequences without advancing other iterators. For performance checks are performed only for every 0x1000-th item. If for generating new value other iterator should be advanced, the responsibility for checking for keyboard interrupt is attribute

[2017-10-18 16:43] serhiy-storchaka opened #75996 "Make itertools iterators interruptible"
BPO | [31815](https://bugs.python.org/issue31815)
--- | :---
Nosy | @tim-one, @rhettinger, @ncoghlan, @serhiy-storchaka, @k7hoven
PRs | <li>python/cpython#4038</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[cod

[2017-10-18 17:34] rhettinger commented on #75996
When I have time, I would like to re-launch a python-dev discussion on this.  It is my feeling that this solves an invented problem.  In my experience, it only ever happens to people who have intentionally trying to create this effect.

Adding this kind of "junk" through-out the code base adds complexity and more internal operations, but won't help \*any* existing, deployed code.  We're making eve

[2017-10-18 18:11] serhiy-storchaka commented on #75996
Microbenchmark results:

[code]

Mean +- std dev: [/home/serhiy/py/cpython-release/python] 3.79 ms +- 0.09 ms -\> [/home/serhiy/py/cpython-iter/python] 4.14 ms +- 0.07 ms: 1.09x slower (+9%)

[code]

Mean +- std dev: [/home/serhiy/py/cpython-release/python] 6.88 ms +- 0.30 ms -\> [/home/serhiy/py/cpython-iter/python] 6.87 ms +- 0.26 ms: 1.00x faster (-0%)
Not significant!

[code]

Mean +- std dev:

[2017-10-18 18:28] serhiy-storchaka commented on #75996
With optimized repeat():

[code]

Mean +- std dev: [/home/serhiy/py/cpython-release/python] 3.77 ms +- 0.06 ms -\> [/home/serhiy/py/cpython-iter/python] 3.77 ms +- 0.05 ms: 1.00x faster (-0%)
Not significant!

[2017-10-18 18:58] serhiy-storchaka commented on #75996
I concur with Raymond. I cited the same arguments in the discussion on Python-ideas. But the other solution that was suggested in this discussion will add more complexity and can't solve all cases.

[2017-10-18 20:05] cb78a0e9-9e36-40b5-8802-5ac829a439b1 commented on #75996
To repeat one of my points in the linked threads, I'm not convinced that infinite iterators are the most common case for the problem of long uninterruptible loops. A general mechanism that can be easily used in many places with minimal maintenance burden would be nice. It could be used even in third-party extension modules.

[2017-10-18 23:19] a9e8b1fd-d2bd-4e4e-af48-211c93963ca0 commented on #74326
Ping -- it would be great if someone could take a look at my PR. (I suspect it needs more documentation, tips on where to put that would be appreciated.)

[2017-10-19 01:24] ncoghlan commented on #75996
Defensive coding and the complications it brings is a fact of life when providing a widely used platform.

Sure, we're free to say "We don't care about minor user experience irritations like Ctrl-C not always being reliable, users should just suck it up and cope".

I think "It's your own fault for typing that, just restart your session from scratch" is setting the bar too low for ourselves.

[2017-10-19 01:55] ncoghlan commented on #75996
To put this another way: I see an uninterruptible infinite loop as a data loss bug on par with a segfault, since there's no graceful way to terminate the process and allow cleanup code to run.

For segfaults, we're willing to tolerate them, but we expect the reproducers to involve arcane coding contortions, not simple expressions like "sum(itertools.count())".

Now, the producer side check that Se

[2017-10-19 05:34] rhettinger commented on #75996
I respectfully disagree that this just happens to people accidentally -- Every single day, I work with either Python professionals or Python students and never see this situation occur, nor have I had a single report of it from one of my clients, ever.  In my experience, someone has to be trying to produce exactly this effect.

They have to go out of their way to import a high-performance module,

[2017-10-19 06:04] d732c26f-ecfa-4c92-9f00-a1eacb6965bc commented on #75994
Might be caused by this bug: https://github.com/pypa/pip/issues/3532

pip uses lockfile, and lockfile uses hard links, which are prohibited on newer Android versions unless you're root. A workaround is configuring python with |./configure --without-ensurepip|.

[2017-10-19 07:41] rhettinger commented on #75966
No one has spoken up for this feature request, so I'm marking it as closed.  Thank you for the suggestion, but I think it is prudent to decline.

[2017-10-19 07:41] #75966 closed, assigned to nobody

[2017-10-19 07:44] ncoghlan commented on #75799
Thanks for the fix!

[2017-10-19 07:44] #75799 closed, assigned to nobody

[2017-10-19 07:48] 5f7f387f-1a1d-44f1-a5d0-f9a99472221d opened #75997 "Unexpected behaviour of `dir()` after implementation of __dir__"
BPO | [31816](https://bugs.python.org/issue31816)
--- | :---
Nosy | @tiran, @nlsdfnbch

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-19 07:48] 5f7f387f-1a1d-44f1-a5d0-f9a99472221d commented on #75997
When defining a custom \_\_dir__ method in a class, calling dir() on
said class still sorts the output. This is, imo, unexpected behaviour, especially if the order of output was specified in \_\_dir__ and is somehow relevant.

Example and more detail here
https://stackoverflow.com/questions/46824459/custom-dir-returns-list-of-attributes-sorted-alphabetically

[2017-10-19 07:50] ncoghlan commented on #75996
I'd personally be happy enough if the infinite iterators implemented \_\_length_hint__() as always raising TypeError so the machine-breaking cases of incremental consumption of ever-increasing amounts of memory were blocked - I was suggesting on python-ideas that enabling pervasive signal checking would be too intrusive for anyone to be willing to implement it.

However, Serhiy's patch showed me t

[2017-10-19 08:03] tiran commented on #75997
dir() and \_\_dir__ work as designed and documented:

https://docs.python.org/3/reference/datamodel.html?highlight=__dir__#object.\_\_dir__

Called when dir() is called on the object. A sequence must be returned. dir() converts the returned sequence to a list and sorts it

[2017-10-19 08:27] 5f7f387f-1a1d-44f1-a5d0-f9a99472221d commented on #75997
Alright. Are there any other magic methods that do some post-processing on a custom implementation of them ?

I couldn't think of one, which is why this behaviour appeared odd to me.

[2017-10-19 08:35] tiran commented on #75997
https://docs.python.org/3/library/functions.html#dir also states that "The resulting list is sorted alphabetically." The section has an example where \_\_dir__ returns an unsorted list but dir() returns a sorted list:

[code]

Since the primary purpose of dir() is convenient use for humans, sorting makes perfectly sense. If you need tight control over order of values, you should make your object i

[2017-10-19 08:35] #75997 closed, assigned to nobody

[2017-10-19 10:07] 263b5680-bd15-4524-9bd5-dfb6bab4ee9b opened #75998 "Compilation Error with Python 3.6.1/3.6.3 with Tkinter"
BPO | [31817](https://bugs.python.org/issue31817)
--- | :---
Nosy | @ned-deily, @jpc2350, @iritkatriel

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-19 10:07] 263b5680-bd15-4524-9bd5-dfb6bab4ee9b commented on #75998
Hi Guys,

I'm trying to build Python 3.6.1 and 3.6.3, with both, .configure / make / make install work correctly as they should, however, trying to import \_tkinter doesn't work.

Going back to the compilation, I get the following error in the make log:

*** WARNING: renaming "\_tkinter" since importing it failed: build/lib.linux-x86_64-3.6/_tkinter.cpython-36m-x86_64-linux-gnu.so: undefined symbo

[2017-10-19 10:17] bf28a09e-6d72-4c82-a4b1-8cc669e32358 commented on #75995
This is a related issue, although with different argumentation:
https://bugs.python.org/issue20104

[2017-10-19 10:30] fb2479e8-2f43-43eb-ba68-0545faa2dc88 commented on #75999
The same bug which shows up in https://bugs.python.org/issue30837 is in both the System python provided by Apple (2.7.10) as well as the one coming via Homebrew (2.7.14) (See https://github.com/Homebrew/homebrew-core/blob/master/Formula/python.rb) for build instructions.

The culprit is the same as before, `_scproxy`. Setting the environment variable `no_proxy` did the trick for me as well. I atta

[2017-10-19 10:30] fb2479e8-2f43-43eb-ba68-0545faa2dc88 opened #75999 "[macOS] _scproxy.get_proxies() crash -- get_proxies() is not fork-safe?"
BPO | [31818](https://bugs.python.org/issue31818)
--- | :---
Nosy | @warsaw, @ronaldoussoren, @ned-deily
Files | <li>[python2.7_2017-10-18-092216-1_lmka-2hpphfdty3.crash](https://bugs.python.org/file47227/python2.7_2017-10-18-092216-1_lmka-2hpphfdty3.crash "Uploaded as text/plain at 2017-10-19.10:30:22 by Mirko Friedenhagen"): crash report with homebrew Python 2.7.14</li>

<sup>*Note: these values

[2017-10-19 12:36] vstinner commented on #75999
Hi, can you please explain how to reproduce your issue?

According to the crash report, it seems like you are running Ansible on macOS and that the Python function \_scproxy.get_proxies() was called.

get_proxies() calls CFPreferencesCopyAppValue() which calls indirectly performForkChildInitialize(). It seems like Ansible forked the process or something like that. Finally, performForkChildInitiali

[2017-10-19 12:41] vstinner commented on #75999
Confirmation from Apple:

https://developer.apple.com/library/content/technotes/tn2083/_index.html#//apple_ref/doc/uid/DTS10003794-CH1-SUBSECTION52

"""
Many Mac OS X frameworks do not work reliably if you call fork but do not call exec. The only exception is the System framework and, even there, the POSIX standard places severe constraints on what you can do between a fork and an exec.
(...)
List

[2017-10-19 12:41] vstinner commented on #75999
@Mirko: You can please try to get the Python traceback of the Ansible crash? You may want to try faulthandler: enable it and write its output into a file.
https://faulthandler.readthedocs.io/

[2017-10-19 12:58] 484a35a6-5f9e-4d9c-9594-198f4e291210 commented on #75992
I a new contributor. This seems like a simple fix. I'd be happy to work on it. I will submit ar PR on or before 10-22-17

[2017-10-19 13:32] vstinner commented on #75416
The current code leaks memory since it never clears threads which completed. We need a cleanup function similar to ForkingMixIn.collect_children() which is called by handle_timeout() and service_actions().

We can check if a thread is alive: thread.is_alive(), to decide to remove it or not.

Moreover, maybe we should keep a list of weak references?

[2017-10-19 13:56] pganssle commented on #75981
This seems very useful to me. I very frequently advise people \*against* using dateutil.parser (despite my conflict of interest as maintainer of dateutil) for well-known formats, but the problem frequently comes up of, "what should I do when I have date created by isoformat()?", to which there's no clean satisfying answer other than, "use dateutil.parser even though you know the format."

I think

[2017-10-19 17:16] ned-deily commented on #75999
Ronald is the expert on this but, from what I understand, I don't think there is any reason to spend time on trying to further analyze this.  This issue has been around since day one of \_scproxy and affects all versions of Python on macOS.  There is nothing we can do to fix it, and, after all these years, it isn't likely that Apple is going to change the underlying framework.  What we could do is

[2017-10-19 17:37] pitrou opened #76000 "Add sock_recv_into to AbstractEventLoop"
BPO | [31819](https://bugs.python.org/issue31819)
--- | :---
Nosy | @gvanrossum, @pitrou, @vstinner, @giampaolo, @1st1
PRs | <li>python/cpython#4051</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></d

[2017-10-19 17:37] pitrou commented on #76000
As sock_recv() is already exposed, it is a no-brainer to add sock_recv_into(), allowing finer buffer management when people are willing to handle a socket object.

[2017-10-19 17:39] 1st1 commented on #74642
This also is a perfect way to introduce races in your code.  I'm going to reject this, sorry.  I've demonstrated that it's possible to do what you wanted to do without adding new functionality.

[2017-10-19 17:39] #74642 closed, assigned to nobody

[2017-10-19 17:48] 1st1 commented on #75633
I'm going to reject this issue as it's not backwards compatible.  I'll work on adding a new TaskGroup primitive in the next couple of days that would address this problem.

[2017-10-19 17:48] #75633 closed, assigned to nobody

[2017-10-19 17:50] 1st1 commented on #75813
New changeset ea2ef5d0ca869d4550820ed53bdf56013dbb9546 by Yury Selivanov (jlacoline) in branch 'master':
bpo-31632: fix set_protocol() in \_SSLProtocolTransport (bpo-3817) (bpo-3817)
https://github.com/python/cpython/commit/ea2ef5d0ca869d4550820ed53bdf56013dbb9546

[2017-10-19 17:50] 1st1 commented on #75813
Loïc, thank you for the contribution!

[2017-10-19 17:50] #75813 closed, assigned to nobody

[2017-10-19 17:57] e628fca8-e51c-4b71-8b0d-962e5b780301 commented on #76001
Example:

In [52]: import email.message

In [53]: m = email.message.Message()

In [54]: m.set_payload('abc', 'utf8')

In [55]: m.get_payload() # correctly encoded
Out[55]: 'YWJj\\n'

In [56]: m.set_payload('abc', 'utf8')

In [57]: m.get_payload() # no more encoding?
Out[57]: 'abc'

In [58]: m.get_payload(decode=True) # wut?
Out[58]: b'i\\xb7'

In [59]: print(str(m))
MIME-Version: 1.0
Content-Type:

[2017-10-19 17:57] e628fca8-e51c-4b71-8b0d-962e5b780301 opened #76001 "Calling email.message.set_payload twice produces an invalid eml"
BPO | [31820](https://bugs.python.org/issue31820)
--- | :---
Nosy | @warsaw, @bitdancer, @Zirak

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-19 18:05] 1st1 commented on #76000
I'm going to approve this unless there are any objections.

[2017-10-19 18:11] Mariatta commented on #75638
New changeset 4d9a8f22999de489ede9216ff983d4359d837760 by Mariatta (Miss Islington (bot)) in branch '3.6':
bpo-31457: Don't omit inner ``process()`` calls with nested LogAdapters (GH-4044) (GH-4050)
https://github.com/python/cpython/commit/4d9a8f22999de489ede9216ff983d4359d837760

[2017-10-19 18:12] 1st1 commented on #75813
New changeset 9c23b173b823b5e6da01d85c570c7ae2ab07b38b by Yury Selivanov (Miss Islington (bot)) in branch '3.6':
bpo-31632: fix set_protocol() in \_SSLProtocolTransport (GH-3817) (GH-3817) (bpo-4052)
https://github.com/python/cpython/commit/9c23b173b823b5e6da01d85c570c7ae2ab07b38b

[2017-10-19 18:25] CuriousLearner commented on #75991
Hi Haypo,

I'd like to work on a patch for this issue.

Can you please guide me how the tests are configured for buildbots?

[2017-10-19 18:28] tim-one commented on #75996
Segfaults are different:  they usually expose an error in CPython's implementation.  We don't prioritize them because the user may have to restart their program (who cares? \<0.5 wink\>), but because they demonstrate the language implementation is accessing memory wildly.  That in turn can result in anything, from arbitrarily wrong program results, through file corruption, to massive security hole

[2017-10-19 18:32] vstinner commented on #75991
Sanyam: please first try to write a change for Travis CI: modify
.travis.yml, create a PR and check if it works.

[2017-10-19 18:44] vstinner commented on #75999
Another workaround is to call get_proxies() in a fresh subprocess, and use
a pipe to retrieve the result.

[2017-10-19 18:49] pitrou opened #76002 "pause_reading() doesn't work from connection_made()"
BPO | [31821](https://bugs.python.org/issue31821)
--- | :---
Nosy | @pitrou, @giampaolo, @asvetlov, @agronholm, @1st1
PRs | <li>python/cpython#4053</li><li>python/cpython#17425</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python

[2017-10-19 18:49] pitrou commented on #76002
At least in SelectorEventLoop, as add_reader() is called inconditionally after connection_made() returns.

[2017-10-19 18:54] ffb7c71b-4f64-4d94-95a7-91bbba845748 opened #76003 "Document that urllib.parse.{Defrag,Split,Parse}Result are namedtuples"
BPO | [31822](https://bugs.python.org/issue31822)
--- | :---
Nosy | @freddrake, @vapier, @merwok, @serhiy-storchaka, @lisroach, @csabella
PRs | <li>python/cpython#4434</li><li>python/cpython#12528</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-10-19 18:54] ffb7c71b-4f64-4d94-95a7-91bbba845748 commented on #76003
It would be useful to document that urllib.parse.{Defrag,Split,Parse}Result are namedtuples, and make that API officially public if it was not otherwise.

These classes are implemented as namedtuples in Python 2 and 3, and I am not aware of a reason that that would need to change in the future.

In particular, the namedtuple \_replace() method is very useful for modifying parts of a URL, a common

[2017-10-19 19:24] 78906f6c-39e2-41fc-95f0-75f9ad94bffc commented on #76003
specifically, the docs for these classes:
https://docs.python.org/2/library/urlparse.html#results-of-urlparse-and-urlsplit
https://docs.python.org/3/library/urllib.parse.html#urlparse-result-object

changing "subclasses of the tuple type" to "subclasses of collections.namedtuples" would be great.  also adding hints to use \_replace to update values would be great :).

[2017-10-19 19:42] gvanrossum commented on #76000
SGTM.

On Oct 19, 2017 11:05 AM, "Yury Selivanov" \<report@bugs.python.org\> wrote:

[2017-10-19 19:46] 1st1 commented on #76000
New changeset 525f40d231aba2c004619fc7a5207171ed65b0cb by Yury Selivanov (Antoine Pitrou) in branch 'master':
bpo-31819: Add AbstractEventLoop.sock_recv_into() (bpo-4051)
https://github.com/python/cpython/commit/525f40d231aba2c004619fc7a5207171ed65b0cb

[2017-10-19 19:47] 1st1 commented on #76000
Merged. Thank you, Antoine!

[2017-10-19 19:47] #76000 closed, assigned to nobody

[2017-10-19 20:34] ghost opened #76004 "Opaque default value for close_fds argument in Popen.__init__"
BPO | [31823](https://bugs.python.org/issue31823)
--- | :---
Nosy | @gpshead, @taleinat, @vadmium, @danishprakash
PRs | <li>python/cpython#11039</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detai

[2017-10-19 20:34] ghost commented on #76004
[code]

\_\_init__(self, args, bufsize=-1, executable=None, stdin=None, stdout=None, stderr=None, preexec_fn=None, close_fds=\<object object at 0x10df99150\>, shell=False, cwd=None, env=None, universal_newlines=False, startupinfo=None, creationflags=0, restore_signals=True, start_new_session=False, pass_fds=(), \*, encoding=None, errors=None)
    Create new Popen instance.

[2017-10-19 21:55] e628fca8-e51c-4b71-8b0d-962e5b780301 commented on #76001
On irc, bitmancer suggested that this problem is already solved by the
email.message.EmailMessage class, as it is:

In [119]: m = email.message.EmailMessage()

In [120]: m.set_content('abc', 'utf8', cte='base64')

In [121]: m.get_payload()
Out[121]: 'YWJjCg==\\n'

In [122]: m.set_content('abc', 'utf8', cte='base64')

In [123]: m.get_payload()
Out[123]: 'YWJjCg==\\n'

In [124]: m.get_payload(decode

[2017-10-19 21:55] #76001 closed, assigned to nobody

[2017-10-19 22:15] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 commented on #75981
As a note

Seems support for the ":" was added in 2015 for glibc:
http://code.metager.de/source/xref/gnu/glibc/time/strptime_l.c#765

Commit e952e1df

Before that, it basically just ignores the minutes.

[2017-10-19 22:24] 8b1b57b4-b688-4865-84ed-b88aaa2990d4 commented on #75981
I have a patch to add 'Z' support as well if we are interested in making it the same as it glibc does. (as it supports it as well)

[2017-10-19 23:17] 11e00218-75e8-4220-b358-d5ac5eb84bdb opened #76005 "Missing default argument detail in documentation of StreamReaderWriter"
BPO | [31824](https://bugs.python.org/issue31824)
--- | :---
Nosy | @berkerpeksag, @pablogsal
PRs | <li>python/cpython#4328</li><li>python/cpython#4367</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p>

[2017-10-19 23:17] 11e00218-75e8-4220-b358-d5ac5eb84bdb commented on #76005
Documentation of StreamReaderWriter at
https://docs.python.org/3/library/codecs.html#codecs.StreamReaderWriter
section 7.2.1.4.3 is missing the default value on the errors argument.

Should change from:
class codecs.StreamReaderWriter(stream, Reader, Writer, errors)
to be:
class codecs.StreamReaderWriter(stream, Reader, Writer, errors='strict')

[2017-10-20 02:22] terryjreedy commented on #75942
I am re-opening because there is a bug, a conflict between doc and code comment and actual behavior, and one which has nothing to do with IDLE.  The question is whether to fix it or to delete the invitation to invoke the bug.

The reason the [devguide](https://devguide.python.org) gives an alternative for running tests is so that someone with only installed Python and no command line could still t

[2017-10-20 07:52] ronaldoussoren commented on #75999
Calling get_proxies() in a subprocess would also work, although I'd then prefer to use a small daemon proces to avoid the startup cost of a new process for every call to \_scproxy functions.

There is a conflict between two goals w.r.t. the macOS port:

1) Integrate nicely with the platform

2) Be like other unixy platforms

The former requires the use of Apple specific APIs, like those used in \_

[2017-10-20 08:59] vstinner commented on #75999
I dislike the idea of \*always* spawning a child process, I prefer to leave it as it is, but add a recipe in the doc, or add a new helper function doing that.

Spawning a subprocess can have side effects as well, whereas the subprocess is only need if you call the function after forking which is not the most common pattern in Python.

[2017-10-20 09:58] 2d3cbf98-27bf-469e-b52d-bd6439866795 opened #76006 "bytes decode raises OverflowError desipte errors='ignore'"
BPO | [31825](https://bugs.python.org/issue31825)
--- | :---
Nosy | @vstinner, @ericvsmith, @ezio-melotti, @serhiy-storchaka, @Naitbit
PRs | <li>python/cpython#4058</li><li>python/cpython#4059</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[co

[2017-10-20 09:58] 2d3cbf98-27bf-469e-b52d-bd6439866795 commented on #76006
In Python 3.5 and earlier (tested 3.5.3 and 2.7.13)
b'\\\\\\xfa'.decode('unicode-escape', errors='ignore')
did return '\\\\ú'

but in Python 3.6 it raises
OverflowError: decoding with 'unicode-escape' codec failed (OverflowError: character argument not in range(0x110000))

Python 3.6.1 (default, Sep  7 2017, 16:36:03)
[GCC 6.3.0 20170406] on linux

[2017-10-20 13:04] bf28a09e-6d72-4c82-a4b1-8cc669e32358 commented on #75995
Here is some more background for a case where this occurs:
https://stackoverflow.com/questions/46849566/multi-threaded-openblas-and-spawning-subprocesses

My proposal here would fix this.

[2017-10-20 13:21] 71085cda-eb25-49e1-b983-f9ca8f1a9e6b opened #76007 "Misleading __version__ attribute of modules in standard library"
BPO | [31826](https://bugs.python.org/issue31826)
--- | :---
Nosy | @warsaw, @rhettinger, @ncoghlan, @pitrou, @merwok, @encukou, @serhiy-storchaka, @abukaj, @Cryvate
PRs | <li>python/cpython#17977</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:

[2017-10-20 13:21] 71085cda-eb25-49e1-b983-f9ca8f1a9e6b commented on #76007
Several modules of the standard library (at least `re` and `csv`) have `__version__` strings.

The string is the same for Python 2.7-3.6:

[code]

while documentation indicates changes in the modules.

Semantic versioning (recommended by PEP-440) suggests that at least minor version should change in such case.

I suspect it to be a "code fossil" which may be removed according to PEP-396.

[2017-10-20 14:03] vstinner opened #76008 "Remove os.stat_float_times()"
BPO | [31827](https://bugs.python.org/issue31827)
--- | :---
Nosy | @vstinner, @serhiy-storchaka
PRs | <li>python/cpython#4061</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-20 14:03] vstinner commented on #76008
os.stat_float_times() was introduced in Python 2.3 to get file modification times with sub-second resolution. The default remains to get time as seconds (integer). See commit f607bdaa77475ec8c94614414dc2cecf8fd1ca0a.

The function was introduced to get a smooth transition to time as floating point number, to keep the backward compatibility with Python 2.2.

In Python 2.5, os.stat() returns time as

[2017-10-20 14:08] serhiy-storchaka commented on #76006
New changeset 56cb465cc93dcb35aaf7266ca3dbe2dcff1fac5f by Serhiy Storchaka in branch 'master':
bpo-31825: Fixed OverflowError in the 'unicode-escape' codec (bpo-4058)
https://github.com/python/cpython/commit/56cb465cc93dcb35aaf7266ca3dbe2dcff1fac5f

[2017-10-20 14:41] serhiy-storchaka commented on #76006
New changeset 1e78ed6825701029aa45a68f9e62dd3bb8d4e928 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
bpo-31825: Fixed OverflowError in the 'unicode-escape' codec (GH-4058) (bpo-4059)
https://github.com/python/cpython/commit/1e78ed6825701029aa45a68f9e62dd3bb8d4e928

[2017-10-20 14:42] serhiy-storchaka commented on #76006
Thank you for your report Sebastian.

[2017-10-20 14:42] #76006 closed, assigned to serhiy-storchaka

[2017-10-20 14:52] vstinner commented on #76008
Attached [PR 4061](https://github.com/python/cpython/pull/4061) removes os.stat_float_times().

[2017-10-20 16:07] scoder opened #76009 "Support Py_tss_NEEDS_INIT outside of static initialisation"
BPO | [31828](https://bugs.python.org/issue31828)
--- | :---
Nosy | @ncoghlan, @scoder, @embray, @ma8ma
PRs | <li>python/cpython#4060</li><li>python/cpython#4096</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[c

[2017-10-20 16:07] scoder commented on #76009
Following up on bpo-25658, it was found that the current definition of Py_tss_NEEDS_INIT restricts its use to initialisers in C and cannot be used for arbitrary assignments. It is currently declared as follows:

[code]

which results in a C compiler error for assignments like "x = Py_tss_NEEDS_INIT".

I proposed to change this to

[code]

in compliance with GCC and C99, but that fails to compile i

[2017-10-20 17:09] vstinner commented on #75984
I wrote the [PR 4062](https://github.com/python/cpython/pull/4062) which removes time.clock() implementation: time.clock becomes an alias to time.perf_counter.

[code]

[2017-10-20 17:12] terryjreedy commented on #75971
The error log is not present.  Try uploading again.

[2017-10-20 17:34] terryjreedy commented on #75974
Patch is trivial two lines but needs review and merge from someone familiar with Sphinx stuff.

[Éric, https://docs.python.org/devguide/experts.html contains the invalid Eric.Araujo]

[2017-10-20 17:41] serhiy-storchaka opened #76010 "Portability issues with pickle"
BPO | [31829](https://bugs.python.org/issue31829)
--- | :---
Nosy | @pitrou, @avassalotti, @benjaminp, @serhiy-storchaka, @csabella, @miss-islington
PRs | <li>python/cpython#4067</li><li>python/cpython#11859</li><li>python/cpython#13693</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show m

[2017-10-20 17:41] serhiy-storchaka commented on #76010
After reading numerous pickle-related issues on GitHab, I have found that the most common issue with pickle in Python 2 is using it with files opened with text mode.

[code]

Initially pickle was a text protocol. But since implementing more efficient binary opcodes it is a binary protocol. Even the default protocol 0 is not completely text-safe. If save and load data containing Unicode strings wit

[2017-10-20 17:46] serhiy-storchaka commented on #75984
This will break a code that depends on the current behavior on non-Windows platforms. And this will contradict the expectation of non-Windows programmers. If change the behavior of clock() on non-Windows platforms, it should be done only after the period of emitting FutureWarning.

[2017-10-20 18:41] terryjreedy commented on #75979
2.7 site module has

[code]

This code assumes that if an object [not coded in python] has read-only attributes, so that the attempt to write would raise TypeError, then it do not have .\_\_file__, so there will be an AttributeError, and there will not be a TypeError to catch.  This is true of CPython builtins.

[code]

From the minimal information given, it appears that clr defies this expectatio

[2017-10-20 19:00] ethanfurman commented on #75984
We definitely need time with either DeprecationWarning or FutureWarning before removing/substituting a function.

[2017-10-20 19:15] 1st1 commented on #75992
They are covered here: https://github.com/python/cpython/blob/4a2d00cb4525fcb3209f04531472ba6a359ed418/Doc/reference/compound_stmts.rst#coroutines

[2017-10-20 19:35] terryjreedy commented on #75975
As I reported on bpo-31761, the exact result of 'import test.autotest' depends on exactly how it is run and with what.  I suspect that OS might have an effect.

[2017-10-20 19:39] terryjreedy commented on #75942
Victor, why do you persist in the nearly irrelevant focus on IDLE?  As I reported above, failures and crashes happen \*\*\*without*** involving IDLE.  Serhiy appears to report the same in bpo-31794.

[2017-10-20 19:57] ned-deily commented on #75998
You may need to set LD_LIBRARY_PATH env variable to point to your Tcl and Tk libraries or, better, add an rpath entry to LDFLAGS.

[2017-10-20 20:06] 263b5680-bd15-4524-9bd5-dfb6bab4ee9b commented on #75998
Hi Ned,

LD_LIBRARY_PATH has been set with the lib paths for both, like I said the
module itself builds, I’ll add the module build logs later but the module
try’s to get loaded before the tests which unfortunately gives the error
undefined symbol: Tcl_GetCharLength
On Fri, 20 Oct 2017 at 20:57, Ned Deily \<report@bugs.python.org\> wrote:

[2017-10-20 20:14] gpshead commented on #75995
Using new syscalls for \_posixsubprocess.c would be a feature so it would be limited to 3.7+ if done at all.

My gut feeling is that the real bug is in \*any* library code that uses pthread_atfork() in a non thread safe manner.  That code is fundamentally broken as it is placing a burden upon the entire application that it lives within that the application and no other libraries may use threads or

[2017-10-20 20:39] pitrou commented on #75985
This looks to be a duplicate of https://bugs.python.org/issue28326

[2017-10-20 20:40] vstinner commented on #75942
Sorry, I didn't read you comment. I just saw IDLE, I missed that you wrote
that the bug is unrelated to IDLE. Ooops

[2017-10-20 20:42] brettcannon commented on #75962
New changeset db60a5bfa5d5f7a6f1538cc1fe76f0fda57b524e by Brett Cannon (Oren Milman) in branch 'master':
bpo-31781: Prevent crashes when calling methods of an uninitialized zipimport.zipimporter object (GH-3986)
https://github.com/python/cpython/commit/db60a5bfa5d5f7a6f1538cc1fe76f0fda57b524e

[2017-10-20 20:43] brettcannon commented on #75962
As always, thanks for the fix, Oren!

[2017-10-20 20:43] #75962 closed, assigned to nobody

[2017-10-20 20:46] serhiy-storchaka commented on #75942
Perhaps there are issues specific to IDLE, but we should first fix issues not related to IDLE in bpo-31794.

[2017-10-20 20:59] 6ea92ce1-f803-4b34-ad43-602698be00d6 opened #76011 "asyncio.create_subprocess_exec doesn't capture all stdout output"
BPO | [31830](https://bugs.python.org/issue31830)
--- | :---
Nosy | @asvetlov, @1st1
Files | <li>[show.py](https://bugs.python.org/file47228/show.py "Uploaded as text/plain at 2017-10-20.20:59:08 by cannedrag")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

[2017-10-20 22:22] da1215aa-4d96-4aa0-8b34-a35aaa37c8f7 opened #76012 "EmailMessage.add_attachment(filename="long or spécial") crashes or produces invalid output"
BPO | [31831](https://bugs.python.org/issue31831)
--- | :---
Nosy | @warsaw, @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-20 22:27] da1215aa-4d96-4aa0-8b34-a35aaa37c8f7 commented on #76012
Erratum: the output generated by python 3.5 and 3.4 causes line wraps in the SMTP delivery chain, which cause exactly the same breakage as ulterior versions: the crucially needed indendation of one space ends up being absent.

[2017-10-20 22:37] fce6aa28-f7e2-4802-a520-563f240dbc1b commented on #75992
Hi Yury, perhaps I've misinterpreted PEP-492, and I can't claim to understand how the parser works and thus how the changes in https://github.com/python/cpython/pull/1669 affect things, but it seems to me that async and await are truly reserved words now, not just only reserved in certain contexts. If that's true, shouldn't they also appear in the list in the lexical analysis doc?

I'd appreciate

[2017-10-20 22:52] 1st1 commented on #75992
Ah, you mean this list: https://docs.python.org/3/reference/lexical_analysis.html#keywords ?

Your original link was a bit hard to read as it shows rest markup and not the actual list of keywords.  So I missed it, sorry.

I'll reopen the issue, please feel free to submit a PR!

[2017-10-20 23:08] 6ea92ce1-f803-4b34-ad43-602698be00d6 opened #76013 "Async list comprehension (PEP 530) causes SyntaxError in Python 3.6.3"
BPO | [31832](https://bugs.python.org/issue31832)
--- | :---
Nosy | @zware, @1st1

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-20 23:08] 6ea92ce1-f803-4b34-ad43-602698be00d6 commented on #76013
[code]

[2017-10-20 23:31] zware commented on #76013
Your async listcomp must also be defined within a coroutine to turn `async` into a keyword in 3.6.  The following is far from best practice (don't do this, I don't know what I'm doing! :), but at least it compiles and shows that it works:

[code]

try:
    next(alistcomp().\_\_await__())
except StopIteration as e:
    value = e.value

[code]

[2017-10-20 23:31] #76013 closed, assigned to nobody

[2017-10-20 23:45] 6ea92ce1-f803-4b34-ad43-602698be00d6 commented on #76013
Zachary,

Thank you for your response. I had the impression that async comprehensions are a bridge between async functions and non-async functions. Is there a wat to use async (and asyncio) and then go back to regular python? Or am I just wishful thinking? :-)

For example, it would be nice to start multiple processes through asyncio.create_subprocess_exec (or \_shell) await twice and then process

[2017-10-21 00:44] 6ea92ce1-f803-4b34-ad43-602698be00d6 commented on #76013
I have been thinking about my previous comment a bit more. For consistency there should at least be an await somewhere to move back from async land to non-async land.

For example:

    #!/usr/bin/env python3

[code]

prints

    [(b'0\n', b''), (b'1\n', b''), (b'2\n', b''), (b'3\n', b'')]

It would be nice if you could somehow return outputs from main() and process the results in a non-async func

[2017-10-21 03:19] zware commented on #76013
That's already provided, just do `return outputs` instead of `print(outputs)`, and `outputs = event_loop.run_until_complete(main())`.  See https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.AbstractEventLoop.run_until_complete

[2017-10-21 03:58] 6ea92ce1-f803-4b34-ad43-602698be00d6 commented on #76013
Thank you!

[2017-10-21 04:32] abe8e52d-383c-4356-851d-634b641b2728 commented on #76014
Here is the error message:
building '\_multiprocessing' extension
creating
build/temp.linux-mips64-2.7/var/tmp/portage/dev-lang/python-2.7.12/work/Python-2.7.12/Modules/_multiprocessing
mips64el-unknown-linux-gnu-gcc -pthread -fPIC -fno-strict-aliasing -O2
-march=loongson2f -Wa,-mfix-loongson2f-nop -pipe -fwrapv -DNDEBUG
-IModules/_multiprocessing -I. -IInclude -I/usr/local/include
-I/var/tmp/port

[2017-10-21 04:32] abe8e52d-383c-4356-851d-634b641b2728 opened #76014 "Compile fail on gentoo for MIPS CPU of loongson 2f"
BPO | [31833](https://bugs.python.org/issue31833)
--- | :---
Nosy | @pitrou, @emtone
Files | <li>[python_strace.txt](https://bugs.python.org/file47231/python_strace.txt "Uploaded as text/plain at 2017-10-23.15:58:27 by @emtone")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more deta

[2017-10-21 07:57] c139cf46-fb7c-4c62-96da-220de2afbec1 commented on #76015
The setup.py file for Python states:

        if (not cross_compiling and
                os.uname().machine == "x86_64" and
                sys.maxsize >  2**32):
            # Every x86_64 machine has at least SSE2.  Check for sys.maxsize
            # in case that kernel is 64-bit but userspace is 32-bit.
            blake2_macros.append(('BLAKE2_USE_SSE', '1'))

While the assertion about havin

[2017-10-21 07:57] c139cf46-fb7c-4c62-96da-220de2afbec1 opened #76015 "BLAKE2: the (pure) SSE2 impl forced on x86_64 is slower than reference"
BPO | [31834](https://bugs.python.org/issue31834)
--- | :---
Nosy | @vstinner, @tiran, @benjaminp, @mgorny
PRs | <li>python/cpython#4066</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-21 08:07] ncoghlan commented on #76009
Right, the cases we were aiming to cover were:

- C variable declarations ("static Py_tss_t tss_key = Py_tss_NEEDS_INIT;")
- dynamic allocation with PyThread_tss_alloc
- resetting a key back to the uninitialised state with PyThread_tss_delete

The problem we have is that the second field in Py_tss_t is platform dependent, and not all platforms define a safe "unused" value for their NATIVE_TSS_KEY_

[2017-10-21 09:55] serhiy-storchaka commented on #76010
[PR 4067](https://github.com/python/cpython/pull/4067) fixes following issues when unpickle on Unix or in binary mode files written with protocol 0 in text mode on Windows:

* ints were unpickled as longs by cPickle.
* bools were unpickled as longs by cPickle and as ints by pickle.
* floats couldn't be unpickled by cPickle.
* strings couldn't be unpickled by pickle.
* instances and globals couldn'

[2017-10-21 11:14] 6c8a72cc-9872-4016-ae96-23477ed791a8 opened #76016 "_PyFunction_FastCallDict and _PyFunction_FastCallKeywords: fast path not used"
BPO | [31835](https://bugs.python.org/issue31835)
--- | :---
Nosy | @vstinner, @akruis
PRs | <li>python/cpython#4087</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-21 11:14] 6c8a72cc-9872-4016-ae96-23477ed791a8 commented on #76016
Just a minor performance issue.

The C functions \_PyFunction_FastCallDict() and \_PyFunction_FastCallKeywords() (branch 'master', [Objects/call.c](https://github.com/python/cpython/blob/main/Objects/call.c)) and their predecessors fast_function() and \_PyFunction_FastCallDict() in [Python/ceval.c](https://github.com/python/cpython/blob/main/Python/ceval.c) all contain the following sub-expression

[2017-10-21 13:55] bitdancer commented on #76012
You are correct, that is a bug.  Presumably I forgot to check for non-ascii when the parameter value doesn't need to be folded.  I'm not sure when I'll have time to look at this, unfortunately :(.  If you can see how to fix it, you could submit a PR against my PR branch, I think.

[2017-10-21 16:03] serhiy-storchaka opened #76017 "test_code_module fails after test_idle"
BPO | [31836](https://bugs.python.org/issue31836)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka
PRs | <li>python/cpython#4070</li><li>python/cpython#4156</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

[2017-10-21 16:03] serhiy-storchaka commented on #76017
[code]

test_code_module failed
1 test OK.

1 test failed:
    test_code_module

Total duration: 2 sec
Tests result: FAILURE

[2017-10-21 16:15] serhiy-storchaka commented on #74342
Result on the same computer:

Mean +- std dev: [python0] 146 ns +- 5 ns -\> [python] 206 ns +- 2 ns: 1.41x slower (+41%)

The difference now is smaller (41% instead of 58%) because calling with a tuple now is 16% slower.

[2017-10-21 16:39] 4e331a12-c2bb-4cd1-b83c-dcc766e8fbf8 commented on #75667
ISTM that [PR 3840](https://github.com/python/cpython/pull/3840) resolved this issue (as part of bpo-28280).

[2017-10-21 17:08] serhiy-storchaka opened #76018 "ParseError in test_all_project_files()"
BPO | [31837](https://bugs.python.org/issue31837)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka, @tirkarthi
Superseder | <li>bpo-30117: test_lib2to3.test_parser.test_all_project_files() fails</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[c

[2017-10-21 17:08] serhiy-storchaka commented on #76018
test_all_project_files() in test_lib2to3 emits warnings in verbose mode.

/home/serhiy/py/cpython/Lib/lib2to3/tests/test_parser.py:415: UserWarning: ParseError on file /home/serhiy/py/cpython/Lib/lib2to3/main.py (bad input: type=22, value='=', context=('', (130, 38)))
  warnings.warn('ParseError on file %s (%s)' % (filepath, err))
/home/serhiy/py/cpython/Lib/lib2to3/tests/test_parser.py:415: UserW

[2017-10-21 18:44] 66e64654-c57d-4f99-8d9a-b2fbbf25f848 commented on #75770
I have made a PR at https://github.com/python/cpython/pull/4069 which enhances `conf.py` with some pdflatex extra Unicode configuration. I tested it with building PDF English documentation at master (at https://github.com/python/cpython/tree/db60a5bfa5d5f7a6f1538cc1fe76f0fda57b524e) and at 3.6 branch (at https://github.com/python/cpython/tree/1e78ed6825701029aa45a68f9e62dd3bb8d4e928) and also Fren

[2017-10-21 18:59] serhiy-storchaka commented on #73988
New changeset 73c4708630f99b94c35476529748629fff1fc63e by Serhiy Storchaka in branch 'master':
Fix bytes warnings in test_struct (added in bpo-29802). (bpo-4068)
https://github.com/python/cpython/commit/73c4708630f99b94c35476529748629fff1fc63e

[2017-10-21 19:24] serhiy-storchaka commented on #76008
stat_result is a named 10-tuple, containing several additional attributes. The last three items are st_atime, st_mtime and st_ctime as integers. Accessing them by name returns floats. Isn't a time to make them floats when access stat_result as a tuple?

[2017-10-21 20:06] terryjreedy commented on #76017
Running test_code_module afte test_idle, which somewhere executes idle code that sets sys.ps1, exposed a deficiency in test_code_module.

TestInteractiveConsole.test_ps1 is intended to test this code in InteractiveConsole.interact.

[code]

The existing test only tried to test the except branch, but without insuring that the AttributeError occurs.  [PR 4070](https://github.com/python/cpython/pull/

[2017-10-21 23:25] 0ac4efd1-fad3-472e-81f8-af9d1272de74 opened #76019 "Python 3.4 supported SSL version"
BPO | [31838](https://bugs.python.org/issue31838)
--- | :---
Nosy | @tiran, @sabian2008

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-21 23:25] 0ac4efd1-fad3-472e-81f8-af9d1272de74 commented on #76019
Hello and sorry to bother. This is my first message to the list.

I'm trying to build python 3.4.7 downloaded from python.org (released in August this year) and while following the exact same steps detailed in  https://bugs.python.org/issue29027, I get getting the exact same error he does.

Doesn't Python 3.4 support OpenSSL v 1.1.0? Is this is the case, I guess it will never do, right?

More impo

[2017-10-22 04:56] e13ef10a-7476-4d9d-be58-2a3b72d20632 commented on #76020
The object types in the datetime module can produce a standard string representation (rfc3339, a subset of iso8601) but they do not provide a method to parse it.

Proposed method names: isoparse or fromisoformat.

In addition, a constructor call with a single string argument may also be supported. This would make the behavior of datetime/date/time more similar to other value types such as int, str

[2017-10-22 04:56] e13ef10a-7476-4d9d-be58-2a3b72d20632 opened #76020 "datetime: add method to parse isoformat() output"
BPO | [31839](https://bugs.python.org/issue31839)
--- | :---
Nosy | @abalkin, @orent, @pganssle
Superseder | <li>bpo-15873: datetime: add ability to parse RFC 3339 dates and times</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-10-22 06:06] 71e0c5aa-d534-4f2d-9b13-2af5e6d83e79 commented on #76021
Create a package `pkg`. Put `test.py` there. Write `none = None` in `pkg/__init__.py`.
In the directory containing `pkg/`, `python [23] -m unittest pkg.test` will terminate normally, but `python [23] -m unittest discover pkg` will raise `ImportError`. The phenomenon is the same in macOS Sierra, Debian 9.0, Windows 7. I do not think this is a very kind behavior.
Thank you.

[2017-10-22 06:06] 71e0c5aa-d534-4f2d-9b13-2af5e6d83e79 opened #76021 "`ImportError` is` raised` only when `python -m unittest discover` is given"
BPO | [31840](https://bugs.python.org/issue31840)
--- | :---
Nosy | @pfmoore, @ronaldoussoren, @tjguk, @ned-deily, @zware, @serhiy-storchaka, @zooba
Files | <li>[test.py](https://bugs.python.org/file47230/test.py "Uploaded as text/plain at 2017-10-22.06:06:56 by Hiroki “h2” Horiuchi"): runs or raises</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and migh

[2017-10-22 06:26] ncoghlan commented on #74929
I rewrote the PEP based on the latest iteration of the design concept: https://github.com/python/peps/commit/9a8e590a523bdeed0598084a0782fb07fc15dfc0

(That initial commit has some minor errors in it that I've already fixed, so check the latest version in the repo if you spot anything else - if I'd thought it through properly, I would have submitted the update as a PR, so folks had a place to more

[2017-10-22 06:30] serhiy-storchaka commented on #76021
Run

    python -m unittest discover --start-directory pkg --top-level-directory .

By default the top level directory is the same as the start directory (i.e. pkg).

[2017-10-22 06:30] #76021 closed, assigned to nobody

[2017-10-22 09:13] cb78a0e9-9e36-40b5-8802-5ac829a439b1 commented on #75996
For the interactive user who uses an interactive environment such as the repl or a Jupyter notebook, the situation is a little different from "CPython as programming language runtime".

The docs say a KeyboardInterrupt is "Raised when the user hits the interrupt key (normally Control-C or Delete). During execution, a check for interrupts is made regularly.". I suppose there's some ambiguity in wha

[2017-10-22 09:47] tiran commented on #76019
You are correct, Python 3.4 does not support OpenSSL 1.1 and will never support it.

The last bug fix release of Python 3.4 was 3.4.4 in 2015-12-20. 3.4.5 and newer are security fix releases that only contain critical security updates. OpenSSL 1.1.0 was released 2016-08-25, about 9 months after Python 3.4 reached security-only mode.

We have a repository for Windows source dependencies: https://gi

[2017-10-22 11:10] pitrou commented on #75834
New changeset c872d39d324cd6f1a71b73e10406bbaed192d35f by Antoine Pitrou in branch 'master':
bpo-31653: Don't release the GIL if we can acquire a multiprocessing semaphore immediately (bpo-4078)
https://github.com/python/cpython/commit/c872d39d324cd6f1a71b73e10406bbaed192d35f

[2017-10-22 11:11] #75834 closed, assigned to nobody

[2017-10-22 12:06] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74929
Nick, in [msg304388](https://bugs.python.org/msg304388) you wrote "[allow] immediate write-through from trace functions". The latest iteration of PEP-558 says instead:

"tracing mode: the way the interpreter behaves when a trace hook has been registered..."

and also says:

"As long as the process remains in tracing mode, then \_\_setitem__ and \_\_delitem__ operations on the proxy will affect not

[2017-10-22 12:39] malemburg commented on #75984
On 20.10.2017 19:46, Serhiy Storchaka wrote:

Could you explain which behavior is changed by this on non-Windows
platforms ?

time.clock() only switches to a more accurate clock. That's pretty
much it. Which clock it used on which platform was platform
dependent anyway, so there's no real change in behavior.

For benchmarking and other measurements, time.time() was recommended
on Unix and time.clo

[2017-10-22 13:14] serhiy-storchaka commented on #75984
On non-Windows platforms clock() returns the processor time, perf_counter() does include time elapsed during sleep.

[code]

[2017-10-22 13:16] malemburg commented on #75984
[code]

Thanks for pointing that out. I didn't know.

Is there a different clock with similar accuracy we can use
to only count CPU time on Unix ?

[2017-10-22 13:38] serhiy-storchaka commented on #75984
Yes, it is time.process_time(). This was the cause of adding two new functions time.perf_counter() and time.process_time() and deprecating (in the documentation only) time.clock(). On Windows time.clock() does include time elapsed during sleep, on non-Windows it doesn't. time.clock() should be replaced with the one of these functions, depending on the purpose of its use. Only the user knows for wh

[2017-10-22 13:44] 0ac4efd1-fad3-472e-81f8-af9d1272de74 commented on #76019
Hi Christian

Great! Thanks for the information.

I apologize if this was trivial, just wanted to make sure.

Cheers,

[2017-10-22 13:44] #76019 closed, assigned to tiran

[2017-10-22 14:27] serhiy-storchaka commented on #75933
Unpatched Python should crash in debug build and can raise SystemError in release build.

I can't reproduce a crash on Windows after the patch.

[2017-10-22 14:41] serhiy-storchaka commented on #75807
Ping.

[2017-10-22 15:03] ncoghlan commented on #74929
No, as locals() never returns the write-through proxy in the latest version of the PEP - it only ever returns the dynamic snapshot namespace (retrieving it from the proxy if necessary).

To get access to the write-through proxy in Python level code, you have to access frame.f_locals directly (which trace functions will do by necessity, since that's the only way they have to get at the function loc

[2017-10-22 15:08] ncoghlan commented on #74929
When I rejected that approach previously, it hadn't occurred to me yet that the write-through proxy could write through to both the frame state \*and* the regular dynamic snapshot returned by locals().

The current design came from asking myself "What if the proxied reads always came from the snapshot, just like they do now, but writes went to \*both* places?".

So far I haven't found any fundamen

[2017-10-22 16:27] bitdancer commented on #76012
Great, thank you for that research.  And yes, that's exactly why \_\_str__ uses utf8=True, the "picture" of the message is much more readable.  I will commit that PR soon.

[2017-10-22 17:49] 703b20e5-de45-4041-8834-18834780ba2b commented on #76009
Or Py_tss_NEEDS_INIT is removed from the C API document to become a private feature; in other words, the Python interpreter will recommend that the static allocation for the TSS key shouldn't be used in the API client codes except for the interpreter core and built-in modules. (okay, I know it's an unfair suggestion)

BTW, it's my mistake which the word "default value" for Py_tss_NEEDS_INIT, actua

[2017-10-22 18:26] terryjreedy commented on #76017
On the PR, Serhiy asks "Wouldn't be better to restore sys.ps1 in test_idle if it is changed here?"

Aside from the fact that, as far as I know, it is not sanely possible to do so, I think it a bug for a test to be unnecessarily fragile.  Both ps1 and ps2 are set when Python is in interactive mode.  IDLE is only (partially) imitating Python's shell when it sets sys.ps1.

[code]

[2017-10-22 18:31] serhiy-storchaka commented on #75753
New changeset 04e36af9b88cd5e80fc818e51d46f07252a2ff3f by Serhiy Storchaka in branch 'master':
bpo-31572: Get rid of using \_PyObject_HasAttrId() in pickle. (bpo-3729)
https://github.com/python/cpython/commit/04e36af9b88cd5e80fc818e51d46f07252a2ff3f

[2017-10-22 19:46] 832af8c7-76e4-4b37-95ba-4c1b2bc490a0 opened #76022 "Several methods of collections.UserString do not return instances of UserString or its subclasses"
BPO | [31841](https://bugs.python.org/issue31841)
--- | :---
Nosy | @rhettinger, @vaultah, @lisroach, @tonybaloney

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-22 19:46] 832af8c7-76e4-4b37-95ba-4c1b2bc490a0 commented on #76022
A few of the methods of collections.UserString return objects of type str when one would expect instances of UserString or a subclass. Here's an example for UserString.join:

[code]

This \*looks* like a bug to me, but since I was unable to find similar bug reports, and this behaviour has existed for years, I'm not too sure.

Same holds for UserString.format and UserString.format_map, which were a

[2017-10-22 21:26] rhettinger commented on #76007
I would support just removing the version attributes for csv and re.

[2017-10-22 21:26] pitrou commented on #75753
I don't understand why.  Why not fix PyObject_HasAttr() like hasattr() was?

[2017-10-22 21:27] pitrou commented on #76007
+1 for removing \_\_version__ on all stdlib modules which are not externally maintained.

[2017-10-22 21:28] rhettinger commented on #75920
Lisa, would you care to wrap this one up?

[2017-10-22 21:31] dd602496-28cc-4360-9fb4-7b7b694c6e12 opened #76023 "pathlib: "Incorrect function" during resolve()"
BPO | [31842](https://bugs.python.org/issue31842)
--- | :---
Nosy | @pfmoore, @tjguk, @zware, @eryksun, @zooba, @earonesty, @earonesty, @Zombie110year, @christopher.pickering

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fi

[2017-10-22 21:31] dd602496-28cc-4360-9fb4-7b7b694c6e12 commented on #76023
When strict is "false", pathlib should not fail if the network share is inaccessible.  It should, as documented, catch the exception and continue with as much of the path as it has.

[code]

[2017-10-22 21:53] pitrou commented on #76014
You should try running with strace to see which system call failed:

[code]

[2017-10-23 00:13] ffb7c71b-4f64-4d94-95a7-91bbba845748 commented on #76024
sqlite3.connect() should accept PathLike objects (objects that implement \_\_fspath__)

[2017-10-23 00:13] ffb7c71b-4f64-4d94-95a7-91bbba845748 opened #76024 "sqlite3.connect() should accept PathLike objects"
BPO | [31843](https://bugs.python.org/issue31843)
--- | :---
Nosy | @vstinner, @phaqui
PRs | <li>python/cpython#4299</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-23 02:01] gpshead commented on #75937
New changeset 7fed7bd8bb628f0f09c6011871a4ce68afb41b18 by Gregory P. Smith (andyclegg) in branch 'master':
bpo-31756: subprocess.run should alias universal_newlines to text (bpo-4049)
https://github.com/python/cpython/commit/7fed7bd8bb628f0f09c6011871a4ce68afb41b18

[2017-10-23 02:03] #75937 closed, assigned to gpshead

[2017-10-23 03:53] ncoghlan commented on #76009
For the wording fix, since it's just a trivial docs update, we can go ahead and fix it without an issue reference from the PRs.

As far as the API goes, I do want to support "static Py_tss_t my_tss_key = Py_tss_NEEDS_INIT;" in third party extension modules, which is what the current API gives us.

The question is whether there's a reasonable compiler independent way to also support struct \*assign

[2017-10-23 03:56] ncoghlan commented on #76007
+1 from me for dropping these, and noting which modules were affected in the Porting section of the 3.7 What's New (I'd be surprised if anyone was depending on them existing, but it doesn't hurt to mention it, and may help if someone is trying to figure out what changed)

[2017-10-23 06:15] rhettinger commented on #76007
Please do leave version in the decimal module where it has a precise meaning, tracking a particular version of the spec that was implemented and tested.

[2017-10-23 08:27] b485b51b-d27f-423a-8035-c9ad55e98281 opened #76025 "HTMLParser: undocumented not implemented method"
BPO | [31844](https://bugs.python.org/issue31844)
--- | :---
Nosy | @srittau, @ezio-melotti, @berkerpeksag, @csabella
PRs | <li>python/cpython#8562</li><li>python/cpython#21504</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python

[2017-10-23 08:27] b485b51b-d27f-423a-8035-c9ad55e98281 commented on #76025
HTMLParser derives from \_markupbase.ParserBase, which has the following method:

[code]

    ...

[code]

HTMLParser does not implement this method and the documentation for HTMLParser (https://docs.python.org/3.6/library/html.parser.html) does not mention that its sub-classes need to override it.

I am not sure whether this is a documentation omission, whether HTMLParser should provide an (empty

[2017-10-23 08:29] b485b51b-d27f-423a-8035-c9ad55e98281 commented on #76025
The quoted code above should have used ParserBase:

[code]

    ...

[code]

[2017-10-23 09:22] dbe84a28-293c-4318-987c-766bbc70f1e2 commented on #75727
As the fix seems simple, any chance this bug can be fixed in next python 3.6 maintenance release? It is the major roadblock for my application to upgrade to python 3.6. Thanks

[2017-10-23 09:29] serhiy-storchaka commented on #75753
hasattr() can return True, False, or raise an exception. But PyObject_HasAttr() just returns an integer: 0 for False, not 0 for True. There is no way to return an error, and existing code doesn't expect that PyObject_HasAttr() returns an error. Leaking an exception from PyObject_HasAttr() will break existing code.

[2017-10-23 09:32] 263b5680-bd15-4524-9bd5-dfb6bab4ee9b commented on #75998
Hi Ned,

Please see the make logs for \_tkinter below:

building '\_tkinter' extension
gcc -pthread -fPIC -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -std=c99 -Wextra -Wno-unused-result -Wno-unused-parameter -Wno-missing-field-initializers -fprofile-generate -DWITH_APPINIT=1 -I./Include -I. -I/usr/include/x86_64-linux-gnu -I/usr/local/include -I/tools/src/Py

[2017-10-23 11:25] c94d1fec-6533-40a5-b06a-b194b09d1e50 opened #76026 "PYTHONDONTWRITEBYTECODE and PYTHONOPTIMIZE have no effect"
BPO | [31845](https://bugs.python.org/issue31845)
--- | :---
Nosy | @ncoghlan, @ericsnowcurrently, @Perlence
PRs | <li>python/cpython#4105</li><li>python/cpython#4286</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org field

[2017-10-23 11:25] c94d1fec-6533-40a5-b06a-b194b09d1e50 commented on #76026
Setting PYTHONDONTWRITEBYTECODE doesn't seem to have an effect in Python 3.7.0a2:

[code]

[2017-10-23 12:00] serhiy-storchaka commented on #75753
New changeset 77af0a3bcab666a356eea2927a8031a7578d60d2 by Serhiy Storchaka in branch '3.6':
[3.6] bpo-31572: Get rid of using \_PyObject_HasAttrId() in pickle. (GH-3729). (bpo-4081)
https://github.com/python/cpython/commit/77af0a3bcab666a356eea2927a8031a7578d60d2

[2017-10-23 12:04] c94d1fec-6533-40a5-b06a-b194b09d1e50 commented on #76026
Looks like PYTHONOPTIMIZE has no effect either:

[code]

[2017-10-23 12:31] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74880
Test cases in issues bpo-30697 and bpo-30817, back ported to 3.6, need \_testcapi.set_nomemory().

[2017-10-23 12:43] c94d1fec-6533-40a5-b06a-b194b09d1e50 commented on #76026
It seems 1abcf67[1] is the first bad commit.

[1]https://github.com/python/cpython/commit/1abcf6700b4da6207fe859de40c6c1bada6b4fec

[2017-10-23 12:46] 31ec7cc3-49c0-419a-97ef-c96df8ce8930 opened #76027 "Error in 3.6.3 epub docs"
BPO | [31846](https://bugs.python.org/issue31846)
--- | :---
Nosy | @n8henrie

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-23 12:46] 31ec7cc3-49c0-419a-97ef-c96df8ce8930 commented on #76027
I routinely download the epub version of the docs to my computer and mobile devices as an offline copy. The 3.6.3 version reports a big error on the first (and many other pages):

error on line 5176 at column 11: Entity 'copy' not defined
Below is a rendering of the page up to the first error.

Numerous similar errors reporting `Entity 'copy' not defined` scattered throughout the epub.

Wonder if

[2017-10-23 12:52] serhiy-storchaka opened #76028 "Fix commented out tests in test_syntax"
BPO | [31847](https://bugs.python.org/issue31847)
--- | :---
Nosy | @serhiy-storchaka
PRs | <li>python/cpython#4084</li><li>python/cpython#4095</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></detail

[2017-10-23 12:52] serhiy-storchaka commented on #76028
Two doctest tests in test_syntax are commented out because SyntaxWarning was expected, but doctests couldn't be used for testing them.

But now SyntaxError is raised in these cases instead of SyntaxWarning.

The proposed PR restores and fixes tests.

[2017-10-23 13:05] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #74880
New changeset aaf6a3dbbdb9754f98d480b468adfcae0f66e3a2 by xdegaye (Miss Islington (bot)) in branch '3.6':
[3.6] bpo-30695: Add set_nomemory(start, stop) to \_testcapi (GH-2406) (bpo-4083)
https://github.com/python/cpython/commit/aaf6a3dbbdb9754f98d480b468adfcae0f66e3a2

[2017-10-23 13:24] #74880 closed, assigned to nobody

[2017-10-23 13:33] ba64272d-9789-48f7-9918-6a14aeebdb4d opened #76029 ""aifc" module does not always initialize "Aifc_read._ssnd_chunk""
BPO | [31848](https://bugs.python.org/issue31848)
--- | :---
Nosy | @serhiy-storchaka, @ZackerySpytz, @miss-islington
PRs | <li>python/cpython#5240</li><li>python/cpython#5780</li><li>python/cpython#5781</li><li>python/cpython#5782</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more d

[2017-10-23 13:33] ba64272d-9789-48f7-9918-6a14aeebdb4d commented on #76029
When Aifc_read runs initfp, it conditionally sets self.\_ssnd_chunk and is not guaranteed to do so. At the bottom of the method, a check is made to see if the attribute has a false value; and if so, an error is supposed to be raised. If a SSND chunk is never found, checking self.\_ssnd_chunk causes an attribute error to be raised similar to this:

AttributeError: 'Aifc_read' object has no attribut

[2017-10-23 14:12] serhiy-storchaka commented on #75933
New changeset 4ffd4653a7ec9c97775472276cf5e159e2366bb2 by Serhiy Storchaka in branch 'master':
bpo-31752: Fix possible crash in timedelta constructor called with custom integers. (bpo-3947)
https://github.com/python/cpython/commit/4ffd4653a7ec9c97775472276cf5e159e2366bb2

[2017-10-23 15:03] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #75000
Removing 2.7 as the problem cannot be reproduced here. PyEval_CallObjectWithKeywords() does not assert on PyErr_Occurred().

[2017-10-23 15:20] serhiy-storchaka commented on #75933
New changeset 6e45d7b90accbbdfef353c41ab0a78a3e4742803 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
bpo-31752: Fix possible crash in timedelta constructor called with custom integers. (GH-3947) (bpo-4086)
https://github.com/python/cpython/commit/6e45d7b90accbbdfef353c41ab0a78a3e4742803

[2017-10-23 15:44] vstinner commented on #76016
I proposed [PR 4087](https://github.com/python/cpython/pull/4087) to implement this optimization.

I wouldn't call it a "fix", since the "co-\>co_flags == (CO_OPTIMIZED | CO_NEWLOCALS | CO_NOFREE)" check exists since Python 2.7 at least (whereas Python 2.7 also has CO_FUTURE_xxx flags).

I prefer to call it a performance opportunity :-)

[2017-10-23 15:45] vstinner commented on #76016
I reset Versions to Python 3.7. I don't consider this issue as a bug, but only as a new optimization. So it can only go into the future Python 3.7.

[2017-10-23 15:58] abe8e52d-383c-4356-851d-634b641b2728 commented on #76014
I update the Python to 2.7.14 and It's Compile success.

Here is running the command with strace:
yeeloong /home/gentoo # python --version
Python 2.7.14
yeeloong /home/gentoo # strace -o ./python_strace.txt python -c "import
\_multiprocessing"

[2017-10-23 15:59] pitrou commented on #76014
If it works with 2.7.14 then we can just close this issue.

[2017-10-23 15:59] #76014 closed, assigned to nobody

[2017-10-23 16:01] 490c593f-f636-409f-bb35-6abeb38a4595 opened #76030 "Python/pyhash.c warning: comparison of integers of different signs"
BPO | [31849](https://bugs.python.org/issue31849)
--- | :---
Nosy | @tiran, @methane, @xdegaye, @miss-islington
PRs | <li>python/cpython#6799</li><li>python/cpython#7393</li><li>python/cpython#7394</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields

[2017-10-23 16:01] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #76030
When built with: Android clang version 3.8.275480  (based on LLVM 3.8.275480)

The following warning is emitted:

[code]

[2017-10-23 16:08] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #75000
New changeset 66caacf2f0d6213b049a3097556e28e30440b900 by xdegaye in branch 'master':
bpo-30817: Fix PyErr_PrintEx() when no memory (bpo-2526)
https://github.com/python/cpython/commit/66caacf2f0d6213b049a3097556e28e30440b900

[2017-10-23 16:11] abe8e52d-383c-4356-851d-634b641b2728 commented on #76014
OK, Thank you pitrou!

[2017-10-23 16:57] serhiy-storchaka commented on #75933
New changeset 5ef883b096895a84123760859f0f34ad37bf2277 by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31752: Fix possible crash in timedelta constructor called with custom integers. (GH-3947) (bpo-4088)
https://github.com/python/cpython/commit/5ef883b096895a84123760859f0f34ad37bf2277

[2017-10-23 16:57] #75933 closed, assigned to nobody

[2017-10-23 17:03] #74734 closed, assigned to nobody

[2017-10-23 17:04] merwok commented on #76007
The version in distutils is derived from sys.version and should be left as is too.  Thanks!

[2017-10-23 17:10] berkerpeksag commented on #74907
New changeset 62adc55aff0b78447568f73bd1abc610d2784bf8 by Berker Peksag (Christoph Sarnowski) in branch 'master':
bpo-30722: Make redemo work with Python 3.6+ (GH-2311)
https://github.com/python/cpython/commit/62adc55aff0b78447568f73bd1abc610d2784bf8

[2017-10-23 17:40] berkerpeksag commented on #74907
New changeset a5f9d24c171c7e3a3715161fd16b747c7dcaf76f by Berker Peksag (Miss Islington (bot)) in branch '3.6':
bpo-30722: Make redemo work with Python 3.6+ (GH-2311)
https://github.com/python/cpython/commit/a5f9d24c171c7e3a3715161fd16b747c7dcaf76f

[2017-10-23 17:42] berkerpeksag commented on #74907
Thank you, Christoph. I wasn't aware of [Tools/demo/redemo.py](https://github.com/python/cpython/blob/main/Tools/demo/redemo.py) and I must say it was fun to play with while reviewing [PR 2311](https://github.com/python/cpython/pull/2311).

[2017-10-23 17:45] vstinner opened #76031 "test_nntplib failed with "nntplib.NNTPDataError: line too long""
BPO | [31850](https://bugs.python.org/issue31850)
--- | :---
Nosy | @vstinner, @mcepl

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-23 17:45] vstinner commented on #76031
test_nntplib failed on many buildbots yesterday with the "line too long" error. It may be related to bpo-28971.

Example:

http://buildbot.python.org/all/#/builders/12/builds/52

(...)
test_with_statement (test.test_nntplib.NetworkedNNTP_SSLTests) ... ok
test_xhdr (test.test_nntplib.NetworkedNNTP_SSLTests) ... ok
test_xover (test.test_nntplib.NetworkedNNTP_SSLTests) ... ERROR
test_zlogin (test.tes

[2017-10-23 17:53] vstinner commented on #76031
It also failed on Travis CI:

https://mail.python.org/pipermail/python-committers/2017-October/004910.html

Other buildbot failures:

http://buildbot.python.org/all/#builders/80/builds/17
http://buildbot.python.org/all/#/builders/3/builds/48
http://buildbot.python.org/all/#/builders/47/builds/51
http://buildbot.python.org/all/#/builders/99/builds/50
http://buildbot.python.org/all/#/builders/103/bu

[2017-10-23 17:54] vstinner opened #76032 "test_subprocess hangs randomly on Windows with Python 3.x"
BPO | [31851](https://bugs.python.org/issue31851)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @zware, @serhiy-storchaka, @zooba

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-23 17:54] vstinner commented on #76032
test_subprocess hanged on the build 46 of x86 Windows7 3.x:

http://buildbot.python.org/all/#/builders/58/builds/46

(...)
1:29:55 [405/407] test_cmath passed -- running: test_subprocess (1249 sec)
1:29:58 [406/407] test_pstats passed -- running: test_subprocess (1252 sec)

The buildbot is slow which might have caused a timing issue.

[2017-10-23 19:05] serhiy-storchaka commented on #76003
collections.namedtuples is not a class.

[2017-10-23 19:08] merwok commented on #76003
I suggest using :term:\`named tuple\` for the link (+ an example of using \_replace as Mike said)

[2017-10-23 19:22] bcfdc8ae-1edf-4a65-af79-0aeebd1b1ca8 opened #76033 "Crashes with lines of the form "async \""
BPO | [31852](https://bugs.python.org/issue31852)
--- | :---
Nosy | @vstinner, @1st1, @pablogsal
PRs | <li>python/cpython#4122</li>
Files | <li>[async_parser_crash.py](https://bugs.python.org/file47237/async_parser_crash.py "Uploaded as text/plain at 2017-10-25.15:56:06 by @vstinner")</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect th

[2017-10-23 19:22] bcfdc8ae-1edf-4a65-af79-0aeebd1b1ca8 commented on #76033
Hi.

Python 3.6.2 crashes when interpreting lines with the text "async \\" (future keyword 'async' and ending with a backslash).

Tested in a docker environment (debian jessie). (see github.com/0xquad/docker-python36 if needed)

Examples:

[code]

Also,

----- file: test.py
#/usr/bin/python3.6
async \\
\<repeated 30000 times\>
\-----

[code]

Haven't taken the time to produce a backtrace or invest

[2017-10-23 19:49] abalkin commented on #75981
Note that bpo-5288 relaxed the whole number of minutes restriction on UTC offsets.  Since the goal is to be able to parse the output of .isoformat(), I think %z should accept sub-minute offsets.

[2017-10-23 20:26] dd602496-28cc-4360-9fb4-7b7b694c6e12 opened #76034 "Use super().method instead of socket.method in SSLSocket"
BPO | [31853](https://bugs.python.org/issue31853)
--- | :---
Nosy | @warsaw, @tiran, @bitdancer, @njsmith, @methane, @atombrella, @earonesty
PRs | <li>python/cpython#4048</li><li>python/cpython#5799</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub field

[2017-10-23 20:26] dd602496-28cc-4360-9fb4-7b7b694c6e12 commented on #76034
I asked on #python-dev and was told that it's most likely due to legacy reasons that the class has things like `socket.__init__` instead of `super().__init__`

[2017-10-23 20:26] ca6179da-48e5-4a63-9eec-8bc2cf18f7ba opened #76035 "Add mmap.ACCESS_DEFAULT to namespace"
BPO | [31854](https://bugs.python.org/issue31854)
--- | :---
Nosy | @berkerpeksag
PRs | <li>python/cpython#4093</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-23 20:26] ca6179da-48e5-4a63-9eec-8bc2cf18f7ba commented on #76035
I propose to add mmap.ACCESS_DEFAULT into the namespace.  Accessing the default value might be necessary, if one needs to overwrite an `ACCESS` keyword argument.

[2017-10-23 20:57] vstinner commented on #75834
New changeset 828ca59208af0b1b52a328676c5cc0c5e2e999b0 by Victor Stinner in branch 'master':
bpo-31653: Remove deadcode in semlock_acquire() (bpo-4091)
https://github.com/python/cpython/commit/828ca59208af0b1b52a328676c5cc0c5e2e999b0

[2017-10-23 21:03] 339712e7-8ae6-441d-adb3-218a59e7670f opened #76036 "mock_open is not compatible with read(n) (and pickle.load)"
BPO | [31855](https://bugs.python.org/issue31855)
--- | :---
Nosy | @cjw296, @voidspace, @mariocj89, @RonRothman, @remilapeyre, @tirkarthi
PRs | <li>python/cpython#11521</li><li>python/cpython#11521</li><li>python/cpython#11521</li><li>python/cpython#13152</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<det

[2017-10-23 21:03] 339712e7-8ae6-441d-adb3-218a59e7670f commented on #76036
mock.mock_open works as expected when reading the entire file (read()) or when reading a single line (readline()), but it seems to not support reading a number of bytes (read(n)).

These work as expected:

[code]

    assert result == 'bibble'  # ok

[code]

    assert result == 'bibble\n'  # ok

But trying to read only a few bytes fails--mock_open returns the entire read_data instead:

[code]

[2017-10-23 21:27] serhiy-storchaka commented on #76028
New changeset 3b66ebe7727dba68c2c6ccf0cd85a4c31255b9b4 by Serhiy Storchaka in branch 'master':
bpo-31847: Fix commented out tests in test_syntax. (bpo-4084)
https://github.com/python/cpython/commit/3b66ebe7727dba68c2c6ccf0cd85a4c31255b9b4

[2017-10-23 21:39] 339712e7-8ae6-441d-adb3-218a59e7670f commented on #76036
Confirmed that the behavior exists in Python 3.6 as well.

[2017-10-23 22:08] serhiy-storchaka commented on #76028
New changeset d7604f5d0621c23d037455acd682d0d489455d54 by Serhiy Storchaka (Miss Islington (bot)) in branch '3.6':
bpo-31847: Fix commented out tests in test_syntax. (GH-4084) (bpo-4095)
https://github.com/python/cpython/commit/d7604f5d0621c23d037455acd682d0d489455d54

[2017-10-23 23:25] 5864f5b6-e186-4727-9fe9-461634b863b6 opened #76037 "Unexpected behavior of re module when VERBOSE flag is set"
BPO | [31856](https://bugs.python.org/issue31856)
--- | :---
Nosy | @bkline, @ezio-melotti
Files | <li>[regex-repro.py](https://bugs.python.org/file47232/regex-repro.py "Uploaded as text/plain at 2017-10-23.23:25:05 by @bkline"): Repro case for issue</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><

[2017-10-23 23:25] 5864f5b6-e186-4727-9fe9-461634b863b6 commented on #76037
According to the documentation of the re module, "When this flag [re.VERBOSE] has been specified, whitespace within the RE string is ignored, except when the whitespace is in a character class or preceded by an unescaped backslash; this lets you organize and indent the RE more clearly. This flag also lets you put comments within a RE that will be ignored by the engine; comments are marked by a '#'

[2017-10-23 23:55] 39d85a87-36ea-41b2-b2bb-2be43abb500e commented on #76037
Your verbose examples put the pattern into raw triple-quoted strings, which is OK, but their first character is a backslash, which makes the next character (a newline) an escaped literal whitespace character. Escaped whitespace is significant in a verbose pattern.

[2017-10-23 23:55] #76037 closed, assigned to nobody

[2017-10-24 00:52] 5864f5b6-e186-4727-9fe9-461634b863b6 commented on #76037
I had been under the impression that "escaped" in this context meant that an escape character (the backslash) was part of the string value for the regular expression (there's a little bit of overloading going on with that word). Thanks for setting me straight.

[2017-10-24 01:09] 460e3b73-ef06-4a68-85e3-d1897b1b6722 commented on #76038
USE_STACKCHECK is a Windows-only feature which provides additional safety against C stack overflow by periodically calling PyOS_CheckStack to determine whether the current thread is too close to the end of the stack.

The way USE_STACKCHECK ensures that PyOS_CheckStack is called frequently is surprising. It does this by artificially decrementing \_Py_CheckRecursionLimit with every call to Py_Enter

[2017-10-24 01:09] 460e3b73-ef06-4a68-85e3-d1897b1b6722 opened #76038 "Make the behavior of USE_STACKCHECK deterministic"
BPO | [31857](https://bugs.python.org/issue31857)
--- | :---
Nosy | @pfmoore, @vstinner, @tjguk, @benjaminp, @zware, @zooba, @pdox
PRs | <li>python/cpython#4098</li><li>python/cpython#19034</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

[2017-10-24 03:36] 5864f5b6-e186-4727-9fe9-461634b863b6 commented on #76037
The light finally comes on. I actually \*was* putting a backslash into the string value, with the raw flag (which is, of course, what you were trying to tell me). Thanks for your patience. :-)

[2017-10-24 04:28] rhettinger commented on #76022
I would support changing format() and format_map().

The join() method has been around for a long time, so changing it might do more harm than good.

[2017-10-24 05:34] #76028 closed, assigned to serhiy-storchaka

[2017-10-24 05:58] terryjreedy opened #76039 "IDLE: cleanup use of sys.ps1 and never set it."
BPO | [31858](https://bugs.python.org/issue31858)
--- | :---
Nosy | @terryjreedy
PRs | <li>python/cpython#4143</li><li>python/cpython#4155</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-24 05:58] terryjreedy commented on #76039
This issue is about cleaning up IDLE's use of sys.ps1 for its prompt (sys.ps2 is not used).  A. This will make for cleaner code and fix some bugs.  B. This will be better for testing.  (Some possible changes to pyshell might make sys.ps1 irrelevant, but that is for the future.)

[code]

pyshell.PyShell.show_prompt starts with
        try:
            s = str(sys.ps1)
        except:
            s

[2017-10-24 06:54] benjaminp commented on #76015
New changeset 1aa00ff383c43335e4a5044274617dbf59bc839e by Benjamin Peterson (Michał Górny) in branch 'master':
fixes bpo-31834: Use optimized code for BLAKE2 only with SSSE3+ (bpo-4066)
https://github.com/python/cpython/commit/1aa00ff383c43335e4a5044274617dbf59bc839e

[2017-10-24 07:25] tiran commented on #76015
I'm pretty sure that your PR has disabled all SSE optimizations. AFAIK gcc does not enable SSE3 and SSE4 on X86_64 by default.

[code]

You have to set a compiler flag like -msse4

[code]

[2017-10-24 07:59] serhiy-storchaka commented on #75848
New changeset ef346a2473376c888ff160db9623eaa9871db2ac by Serhiy Storchaka in branch '2.7':
[2.7] bpo-31667: Fix gettext related links. (GH-3860) (bpo-4100)
https://github.com/python/cpython/commit/ef346a2473376c888ff160db9623eaa9871db2ac

[2017-10-24 08:01] #75848 closed, assigned to nobody

[2017-10-24 08:04] vstinner commented on #76015
Linux now supports multiple variants of the same function, one variant per CPU type, the binding is done when a library is loaded. But I don't know how to implement that :-(

There is target_clones("sse4.1,avx") the function attribute in GCC for example. It compiles a function twice, once for generic CPU, once for SSE4.1.

See also ifunc: "indirect function", "CPU dispatch" or "function resolver".

[2017-10-24 08:29] vstinner commented on #75991
New changeset 87d332dcdbffe8ff60d99f74b1ad241c0967b055 by Victor Stinner in branch 'master':
bpo-31810: Add smelly.py to check exported symbols (bpo-4057)
https://github.com/python/cpython/commit/87d332dcdbffe8ff60d99f74b1ad241c0967b055

[2017-10-24 09:02] vstinner commented on #76008
New changeset 01b5aab7bfb11ee5476ef52d24495598cbe7c99a by Victor Stinner in branch 'master':
bpo-31827: Remove os.stat_float_times() (GH-4061)
https://github.com/python/cpython/commit/01b5aab7bfb11ee5476ef52d24495598cbe7c99a

[2017-10-24 09:02] serhiy-storchaka commented on #75289
Марк, do you mind to add a NEWS entry?

[2017-10-24 09:06] vstinner commented on #75954
Buildbots seem to be happy, I close the issue.

See my new PEP-564 for the next chapiter of this story ;-)

[2017-10-24 09:06] #75954 closed, assigned to nobody

[2017-10-24 09:13] vstinner commented on #75912
test_io was blocked a second time:

http://buildbot.python.org/all/#/builders/78/builds/3

running: test_io (68517 sec)
running: test_io (68547 sec)
running: test_io (68577 sec)
command interrupted, attempting to kill
process killed by signal 9
program finished with exit code -1
elapsedTime=69935.628661

[2017-10-24 09:15] vstinner commented on #75991
"make smelly" is now run on Travis CI.

[2017-10-24 09:15] #75991 closed, assigned to nobody

[2017-10-24 09:19] vstinner commented on #76008
Copy of my comment on the PR: "So, I tried to remove the backward compatibility layer: I modified stat_result[ST_MTIME] to return float rather than int. Problem: it broke test_logging, the code deciding if a log file should be rotated or not.

While I'm not strongly opposed to modify stat_result[ST_MTIME], I prefer to do it in a separated PR. Moreover, we need maybe to emit a DeprecationWarning, o

[2017-10-24 09:19] vstinner commented on #76008
os.stat_float_times() has been removed, I close the issue.

[2017-10-24 09:19] #76008 closed, assigned to nobody

[2017-10-24 09:22] vstinner commented on #75993
New changeset 809d173c2005ed76f5b6cb178a0cce3f88121883 by Victor Stinner (Julien Palard) in branch 'master':
bpo-31812: Add documentation translations to What's New in Python 3.7. (GH-4064)
https://github.com/python/cpython/commit/809d173c2005ed76f5b6cb178a0cce3f88121883

[2017-10-24 09:22] #75993 closed, assigned to nobody

[2017-10-24 09:23] vstinner commented on #75984
Marc-Andre Lemburg: "Thanks for pointing that out. I didn't know."

Do you still think that we need to modify time.clock() rather than deprecating it?

[2017-10-24 09:24] vstinner commented on #75855
I didn't see the failure recently, I close the issue.

[2017-10-24 09:24] #75855 closed, assigned to nobody

[2017-10-24 09:26] vstinner commented on #75611
Any update on this bug?

The "AMD64 Windows10 2.7" buildbot is still broken:
http://buildbot.python.org/all/#/builders/96

[2017-10-24 09:27] vstinner commented on #75410
I didn't get a strong +1 on the issue and I'm not convinced myself by my approach. Moreover, Refleaks buildbots now seem to be reliable thanks to other fixes. For all these reasons, I close the issue.

[2017-10-24 09:27] #75410 closed, assigned to nobody

[2017-10-24 09:29] vstinner commented on #75357
"test_tools leaked (...)" still occurs randomly on 3.6 and 3.x Gentoo buildbot.

[2017-10-24 09:38] vstinner commented on #75357
My previous attempt, [PR 3059](https://github.com/python/cpython/pull/3059), was a a very generic fix, but my bpo-31227 idea was rejected.

I proposed a new idea, [PR 4102](https://github.com/python/cpython/pull/4102), which is restricted to this specific issue:
"test_unparse.DirectoryTestCase now stores the names sample to always
test the same files. It prevents false alarms when hunting referenc

[2017-10-24 10:21] vstinner commented on #74953
interrupted_lock.py: test threading.Lock.acquire(timeout=1.0) with SIGALRM sent every 1 ms (so up to 1000 times in total). Example:

haypo@selma$ ./python interrupted_lock.py
acquire(timeout=1.0) took 1.0 seconds and got 1000 signals

Oh, in fact, threading.Lock.acquire(timeout=1.0) already recomputes the timeout when interrupted.

In Python stdlib, PyThread_acquire_lock_timed() is only called fro

[2017-10-24 10:28] vstinner commented on #74953
Ah, I found another caller of PyThread_acquire_lock_timed() with a timeout \> 0 and intr_flag=0: \_enter_buffered_busy() of [Modules/_io/bufferedio.c](https://github.com/python/cpython/blob/main/Modules/_io/bufferedio.c):

        /* When finalizing, we don't want a deadlock to happen with daemon
         * threads abruptly shut down while they owned the lock.
         * Therefore, only wait for a

[2017-10-24 10:30] vstinner commented on #74953
I wrote [PR 4103](https://github.com/python/cpython/pull/4103) to fix the pthread+semaphore implementation of PyThread_acquire_lock_timed().

Apply [PR 4103](https://github.com/python/cpython/pull/4103), apply attached test.patch, recompile Python, and run interrupted_lock.py to test the PR. Result:

haypo@selma$ ./python interrupted_lock.py
acquire(timeout=1.0) took 1.0 seconds and got 911 signal

[2017-10-24 10:31] vstinner commented on #74953
To check if you are using pthread+semaphore, use:

haypo@selma$ ./python -c 'import sys; print(sys.thread_info)'
sys.thread_info(name='pthread', lock='semaphore', version='NPTL 2.25')

Here you have pthread+semaphore. It's Fedora 26 running Linux kernel 4.13.

[2017-10-24 10:33] vstinner commented on #75357
New changeset 8e482bea21cb942804234e36d3c6c896aabd32da by Victor Stinner in branch 'master':
bpo-31174: Fix test_tools.test_unparse (bpo-4102)
https://github.com/python/cpython/commit/8e482bea21cb942804234e36d3c6c896aabd32da

[2017-10-24 10:36] vstinner commented on #75357
Python 2.7 is not affected. Even if Python 2.7 has Demo/parser/test_unparse.py, this test is not part of the Python test suite, and it doesn't use random.sample(names, 10).

[2017-10-24 10:41] ncoghlan commented on #76026
Huh, it appears the tests for these features are relying solely on the command line options, and not checking that the environment variables are also setting the flags properly. We should be able to account for that omission with a single new test in `test_cmd_line` that sets every relevant environment variable and checks for the expected `sys.flags` contents.

As far as what's actually going wron

[2017-10-24 11:18] vstinner commented on #75357
New changeset d8f78a1fbc0a34224289d436ad67f608fa553f0c by Victor Stinner (Miss Islington (bot)) in branch '3.6':
bpo-31174: Fix test_tools.test_unparse (GH-4102) (bpo-4104)
https://github.com/python/cpython/commit/d8f78a1fbc0a34224289d436ad67f608fa553f0c

[2017-10-24 11:18] vstinner commented on #75357
The bug should now be fixed.

[2017-10-24 11:18] #75357 closed, assigned to nobody

[2017-10-24 12:13] 31770aae-b4d1-4395-b73b-f6248bb83876 opened #76040 "sharedctypes.RawArray initialization"
BPO | [31859](https://bugs.python.org/issue31859)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-24 12:13] 31770aae-b4d1-4395-b73b-f6248bb83876 commented on #76040
In the initialization of a new `RawArray` the `size_or_initializer` parameter is tested for being an instance of `int`. When passing something like numpy.int64 here, the code crashes, because it does not recognize this as an integer. The workaround is to cast to int(). Wouldn't it be nicer to compare to types.IntType to allow for custom integer types?

[code]

[2017-10-24 12:42] 1st1 commented on #74824
New changeset e968bc735794a7123f28f26d68fdf5dc8c845280 by Yury Selivanov (Thomas Kluyver) in branch 'master':
bpo-30639: Lazily compute repr for error (bpo-2132)
https://github.com/python/cpython/commit/e968bc735794a7123f28f26d68fdf5dc8c845280

[2017-10-24 12:43] 1st1 commented on #74824
Thank you, Thomas.

[2017-10-24 12:43] #74824 closed, assigned to nobody

[2017-10-24 12:51] serhiy-storchaka commented on #75766
Added a patch for history.

[2017-10-24 13:20] serhiy-storchaka opened #76041 "IDLE: Make font sample editable"
BPO | [31860](https://bugs.python.org/issue31860)
--- | :---
Nosy | @terryjreedy, @serhiy-storchaka, @csabella
PRs | <li>python/cpython#4106</li><li>python/cpython#4154</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fie

[2017-10-24 13:20] serhiy-storchaka commented on #76041
The proposed patch makes the font sample in IDLE font configuration dialog editable. This allows users to test fonts with arbitrary samples.

[2017-10-24 13:26] 6ed87849-5f14-445b-9bcb-28e40d0c505c opened #76042 "add aiter() and anext() functions"
BPO | [31861](https://bugs.python.org/issue31861)
--- | :---
Nosy | @gvanrossum, @vstinner, @basak, @jab, @sorcio, @dimaqq, @1st1, @JelleZijlstra, @pablogsal, @isidentical, @belm0, @jack1142, @sweeneyde
PRs | <li>python/cpython#8895</li><li>python/cpython#23847</li><li>python/cpython#25004</li><li>python/cpython#25005</li><li>python/cpython#25008</li>
Files | <li>[aiter_comp.py](https://bugs.pytho

[2017-10-24 13:26] 6ed87849-5f14-445b-9bcb-28e40d0c505c commented on #76042
PEP-525 suggested that adding aiter() and anext() would need to wait until async \_\_aiter__ is dropped in 3.7. bpo-31709 solved that, so now it would be possible to add them.

[2017-10-24 14:34] benjaminp commented on #76015
On Tue, Oct 24, 2017, at 00:25, Christian Heimes wrote:

Before this patch, this would cause blake2b.c to use slow SSE2 only
instruction, though, right?

It seems to me this represents an improvement or the status quo in all
cases. With no extra GCC flags, the reference implementation is used
rather than a slow SSE2 implementation. If extra -m flags are in CFLAGS,
the fastest implementation for th

[2017-10-24 14:42] 490c593f-f636-409f-bb35-6abeb38a4595 commented on #75000
New changeset d5d79545b73110b2f4c2b66d150409514e2ca8e0 by xdegaye in branch '3.6':
[3.6] bpo-30817: Fix PyErr_PrintEx() when no memory (GH-2526). (bpo-4107)
https://github.com/python/cpython/commit/d5d79545b73110b2f4c2b66d150409514e2ca8e0

[2017-10-24 14:44] #75000 closed, assigned to nobody

[2017-10-24 15:08] fab47422-3362-4ed2-963d-5f8400bde39f opened #76043 "Port the standard library to PEP 489 multiphase initialization"
BPO | [31862](https://bugs.python.org/issue31862)
--- | :---
Nosy | @ncoghlan, @vstinner, @encukou, @Dormouse759
PRs | <li>python/cpython#4108</li>
Superseder | <li>bpo-1635741: Py_Finalize() doesn&#x27;t clear all Python objects at exit</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show

[2017-10-24 15:08] fab47422-3362-4ed2-963d-5f8400bde39f commented on #76043
PEP-489 introduced multiphase initialization of extension and built-in modules.
Now, almost no module in the standard library supports this feature. This should be improved to prepare Python for better testing of subinterpreters.

Many benefits of PEP-489 don't apply to stdlib modules. However, the PEP effectively says that by using multi-phase init, the module author "promises" that the module is

[2017-10-24 15:15] encukou commented on #76043
FWIW, Marcel is an intern in my team, tasked to learn CPython internals by trying to improve subinterpreter support. If I don't comment on his issues it's because we discussed privately beforehand.

[2017-10-24 15:46] eb81f352-67a9-4c77-855a-167e8873e066 opened #76044 "Inconsistent exitcode for terminated child processes on Windows"
BPO | [31863](https://bugs.python.org/issue31863)
--- | :---
Nosy | @pfmoore, @pitrou, @tjguk, @zware, @eryksun, @zooba, @applio, @akosthekiss

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-24 15:46] eb81f352-67a9-4c77-855a-167e8873e066 commented on #76044
I've been working with various approaches for running and terminating subprocesses on Windows and I've obtained surprisingly different results if I used different modules and ways of termination. Here is the script I wrote, it uses the `subprocess` and the `multiprocessing` modules for starting new subprocesses, and process termination is performed either by the modules' own `terminate` functions

[2017-10-24 15:54] 832af8c7-76e4-4b37-95ba-4c1b2bc490a0 commented on #75480
Ping. (this issue needs a decision on ignore_modules vs filter callback, and/or patch review)

[2017-10-24 16:17] 1st1 commented on #76042
Guido, do we need a PEP to add aiter() and anext() builtins?

[2017-10-24 16:24] gvanrossum commented on #76042
No, just this tracker issue, a PR and a reviewer. (Sorry, I can't review
CPython code myself any more.)

[2017-10-24 16:25] 1st1 commented on #76042
CPython code myself any more.)

Alright, I'll work on a PR after PEP 55x.

[2017-10-24 16:36] serhiy-storchaka commented on #75845
New changeset eab3ff72ebe79416cc032b8508ae13332955a157 by Serhiy Storchaka in branch 'master':
bpo-31664: Add support for the Blowfish method in crypt. (bpo-3854)
https://github.com/python/cpython/commit/eab3ff72ebe79416cc032b8508ae13332955a157

[2017-10-24 20:31] serhiy-storchaka commented on #75871
New changeset 3557b05c5a7dfd7d97ddfd3b79aefd53d25e5132 by Serhiy Storchaka in branch 'master':
bpo-31690: Allow the inline flags "a", "L", and "u" to be used as group flags for RE. (bpo-3885)
https://github.com/python/cpython/commit/3557b05c5a7dfd7d97ddfd3b79aefd53d25e5132

[2017-10-24 20:33] #75871 closed, assigned to serhiy-storchaka

[2017-10-24 20:40] malemburg commented on #75984
On 24.10.2017 11:23, STINNER Victor wrote:

Yes, to avoid yet another Python 2/3 difference. It should be
replaced with the appropriate variant on Windows
and non-Windows platforms. From Serhiy's response that's
time.process_time() on non-Windows platforms and time.perf_counter()
on Windows.

The documentation can point to the new functions and recommend
these over time.clock().

[2017-10-24 20:48] gpshead commented on #75883
I'd raise a ValueError in that case.

[2017-10-24 22:56] 42c26b8c-c27b-44c5-98bb-c1d848128f65 opened #76045 "datetime violates Postel's law"
BPO | [31864](https://bugs.python.org/issue31864)
--- | :---
Nosy | @bitdancer

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-24 22:56] 42c26b8c-c27b-44c5-98bb-c1d848128f65 commented on #76045
The datetime package is too eager to reject nonconforming VCALENDAR-format files.  The particular issue I encountered is related to time zones.  RFC 5545 clearly states that the DTSTART field is required.  However, there are situations where DTSTART isn't strictly necessary because the zone in question doesn't observe daylight-savings time and never has.

For example, I have a VCALENDAR file that

[2017-10-24 23:03] bitdancer commented on #76045
The python standard library does not parse files, nor does it have a \_parse_rfc message. You say you reported the problem you are having to "the program's maintainer", and that is appropriate.  There does not appear to be anything in this report related to the python standard library, which is what would be appropriate for this bug tracker.

[2017-10-24 23:04] bitdancer commented on #76045
I meant the python standard library datetime package doesn't parse files, of course :)  Other parts of the stdlib certainly do parse files.

[2017-10-24 23:22] 42c26b8c-c27b-44c5-98bb-c1d848128f65 commented on #76045
Duh, my mistake.  The problem is in dateutil, which AFAICT is indeed not part of the Python standard library.  I'll hang my head in shame and go report the problem in the right place.

[2017-10-24 23:23] #76045 closed, assigned to nobody

[2017-10-24 23:31] vstinner commented on #75984
Marc-Andre: "Yes, to avoid yet another Python 2/3 difference. It should be replaced with the appropriate variant on Windows and non-Windows platforms. From Serhiy's response that's time.process_time() on non-Windows platforms and time.perf_counter() on Windows."

I don't understand why you mean by "replaced with". Do you mean modify the implementation of the time.clock()?

I would like to kill tim

[2017-10-24 23:37] vstinner commented on #75845
Failure on s390x SLES 3.x:

http://buildbot.python.org/all/#/builders/16/builds/65

\======================================================================
FAIL: test_invalid_log_rounds (test.test_crypt.CryptTestCase)
\----------------------------------------------------------------------
[code]

[2017-10-24 23:53] vstinner commented on #74953
New changeset 850a18e03e8f8309bc8c39adc6e7d51a4568cd9a by Victor Stinner in branch 'master':
bpo-30768: Recompute timeout on interrupted lock (GH-4103)
https://github.com/python/cpython/commit/850a18e03e8f8309bc8c39adc6e7d51a4568cd9a

[2017-10-25 00:13] vstinner commented on #74953
I merged my PR. Thanks Antoine Pitrou for the review!

This change only impacts the io.BufferedWriter and io.BufferedReader during Python finalization. It has no effect on theading.Lock.acquire(). It might impact faulthandler.dump_traceback_later(), but in practice, it shouldn't change anything since the internal faulthandler watchdog thread blocks all signals.

If I understand correctly, if the s

[2017-10-25 00:15] vstinner commented on #74953
Oh, the pthread condvar+mutex implementation still has the bug, so I reopen the issue.

[2017-10-25 02:11] ncoghlan commented on #76026
New changeset d7ac06126db86f76ba92cbca4cb702852a321f78 by Nick Coghlan in branch 'master':
bpo-31845: Fix reading flags from environment (GH-4105)
https://github.com/python/cpython/commit/d7ac06126db86f76ba92cbca4cb702852a321f78

[2017-10-25 02:14] ncoghlan commented on #76026
We could still use some more comprehensive test cases for the env var handling and the way that interacts with the command line settings, but the merged PR includes at least a rudimentary check for the four that directly affect sys.flags without any tricky side effects (PYTHONDEBUG, PYTHONVERBOSE, PYTHONOPTIMIZE, PYTHONDONTWRITEBYTECODE).

[2017-10-25 02:14] #76026 closed, assigned to ncoghlan

[2017-10-25 02:46] 66c96cbe-608f-475d-b076-810edb0e3429 commented on #76046
[code]

[code]

[2017-10-25 02:46] 66c96cbe-608f-475d-b076-810edb0e3429 opened #76046 "html.unescape does not work as per documentation"
BPO | [31865](https://bugs.python.org/issue31865)
--- | :---
Nosy | @ezio-melotti, @tirkarthi
PRs | <li>python/cpython#9662</li><li>python/cpython#9663</li><li>python/cpython#9664</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.pyt

[2017-10-25 03:21] #74947 closed, assigned to nobody

[2017-10-25 06:20] benjaminp commented on #76047
We stopped support AtheOS in 2007. But, there are still references in the code:

[code]

[2017-10-25 06:20] benjaminp opened #76047 "clean out some more AtheOS code"
BPO | [31866](https://bugs.python.org/issue31866)
--- | :---
Nosy | @benjaminp, @serhiy-storchaka
PRs | <li>python/cpython#4115</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-25 07:01] serhiy-storchaka commented on #76047
What about configure.ac?

"On some platforms (AtheOS)" in the comment in [Modules/_cryptmodule.c](https://github.com/python/cpython/blob/main/Modules/_cryptmodule.c) is redundant. crypt() should return NULL on error, and it often returns NULL for an invalid salt.

[2017-10-25 08:59] vstinner commented on #75038
Too bad, the bug is not dead:

http://buildbot.python.org/all/#/builders/45/builds/14

[code]

======================================================================
ERROR: test_use (test_tkinter.test_widgets.ToplevelTest)
\----------------------------------------------------------------------
[code]

[2017-10-25 10:14] markshannon opened #76048 "Duplicated keys in MIME type_map with different values"
BPO | [31867](https://bugs.python.org/issue31867)
--- | :---
Nosy | @asvetlov, @markshannon, @Cryvate
PRs | <li>python/cpython#4388</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-25 10:14] markshannon commented on #76048
Here
https://github.com/python/cpython/blob/master/Lib/mimetypes.py#L416
and here
https://github.com/python/cpython/blob/master/Lib/mimetypes.py#L526

I have no idea which is the correct value for either, but the code is misleading at best.

[2017-10-25 10:16] markshannon commented on #76048
I hadn't noticed the comments on the lines above saying "Duplicates :(", so I'm obviously not the first to notice.

[2017-10-25 10:16] pablogsal commented on #76033
This issue is fixed in the master branch (version 3.7.0 alpha 2). The issue was fixed in this PR:

https://github.com/python/cpython/pull/1669

The cause is that async was not a proper keyword and the parser segfaults when checking for the new token and parsing the newline. In particular, this happens here:

translate_newlines at [Parser/tokenizer.c:713](https://github.com/python/cpython/blob/main

[2017-10-25 10:25] 6223a2a0-241c-4263-bd27-18fc5223cc39 commented on #76049
Using ndb.ndbm get when key is missing and default value has to be returned
results in invocation of Py_INCREF on null pointer. Test case to reproduce the issue:

[code]

[2017-10-25 10:25] 6223a2a0-241c-4263-bd27-18fc5223cc39 opened #76049 "Null pointer dereference in ndb.ndbm get when used with a default value."
BPO | [31868](https://bugs.python.org/issue31868)
--- | :---
Nosy | @serhiy-storchaka, @tmiasko
Superseder | <li>bpo-33383: Crash in the get() method a single argument in dbm.ndbm</li>
Files | <li>[0001-Fix-null-pointer-dereference-in-dbm.ndbm-get.patch](https://bugs.python.org/file47236/0001-Fix-null-pointer-dereference-in-dbm.ndbm-get.patch "Uploaded as text/plain at 2017-10-25.10:25:18 by @tmia

[2017-10-25 11:42] f952991c-fd28-4541-92bb-5dd81c806fb8 commented on #75990
Thanks for adding the test!

If the official stance is that only the latest OpenSSL is supported then this is definitely WAI. Sounds like a good policy...

I'll close this issue.

[2017-10-25 11:42] #75990 closed, assigned to tiran

[2017-10-25 11:57] 7c3b9f7a-e616-458a-973e-3db6fe83c3bc commented on #76048
So for excel, 'application/excel' is not listed at http://www.iana.org/assignments/media-types as suggested by the comment at:
https://github.com/python/cpython/blob/master/Lib/mimetypes.py#L397
whereas 'applicaton/vnd.ms-excel' is listed. See also
https://stackoverflow.com/questions/974079/setting-mime-type-for-excel-document.

For cdf, Wolframalpha is using application/cdf it seems (without it b

[2017-10-25 11:58] serhiy-storchaka commented on #76049
Could you please create a pull request on GitHub Tomasz?

[2017-10-25 12:26] vstinner commented on #76016
New changeset 086c3ae5f0995a62092b9080f32dd118c2923453 by Victor Stinner in branch 'master':
bpo-31835: Optimize also FASTCALL using \_\_future__ (bpo-4087)
https://github.com/python/cpython/commit/086c3ae5f0995a62092b9080f32dd118c2923453

[2017-10-25 12:27] vstinner commented on #76016
Thank you Anselm Kruis for spotting this nice optimization opportunity! Sadly, as I wrote, I don't want to backport the optimization to the stable Python 3.6 branch.

[2017-10-25 12:27] #76016 closed, assigned to nobody

[2017-10-25 13:30] serhiy-storchaka commented on #75845
New changeset 0f261583bae7e60e410709ed96398dd1b14c5454 by Serhiy Storchaka in branch 'master':
bpo-31664: Fix test_crypt for the openwall implementation of crypt. (bpo-4116)
https://github.com/python/cpython/commit/0f261583bae7e60e410709ed96398dd1b14c5454

[2017-10-25 13:55] vstinner commented on #75807
PyObject_Malloc() calls PyMem_RawMalloc() for allocations larger than 512 bytes.

When debug hooks are enabled, PyObject_Malloc() and PyMem_RawMalloc() both call \_PyMem_DebugRawRealloc(). The behaviour that you saw is expected.

It was simpler to reuse \_PyMem_DebugRawRealloc() PyObject and PyMem_Raw allocator families, rather than duplicating the code.

[2017-10-25 14:18] vstinner commented on #75807
"I tried to build CPython on 64-bit OpenBSD. It was built successfully, but tests crash."

It's the first time that anyone complains about \_PyMem_DebugRawRealloc(). The behaviour seems to be very specific to OpenBSD.

Even if the current code is "weird", it works very well and is effecient.

I proposed attached [PR 4119](https://github.com/python/cpython/pull/4119) which makes \_PyMem_DebugRawRea

[2017-10-25 14:41] serhiy-storchaka commented on #75845
Tests on s390x SLES 3.x are passed.

[2017-10-25 14:41] #75845 closed, assigned to nobody

[2017-10-25 14:55] serhiy-storchaka commented on #75807
The current code in not correct on all platforms. We don't know how many of random bugs, hangs and crashes on other platforms are caused by this bug. I'm not surprised that it was caught on OpenBSD since the robustness and security of software is the goal of OpenBSD.

[PR 3844](https://github.com/python/cpython/pull/3844) restores the behavior of 2.7 and 3.3. I propose to merge it first, and devel

[2017-10-25 15:00] vstinner commented on #75807
Please don't. This PR reintroduced a bug that I fixed in bpo-18408:

commit c4266360fc70745d49b09f2c29cda91c1a007525
Author: Victor Stinner \<victor.stinner@gmail.com\>
Date:   Tue Jul 9 00:44:43 2013 +0200

    Issue bpo-18408: Fix _PyMem_DebugRealloc()

    Don't mark old extra memory dead before calling realloc(). realloc() can fail
    and realloc() must not touch the original buffer on failur

[2017-10-25 15:02] vstinner commented on #75807
My [PR 4119](https://github.com/python/cpython/pull/4119) only changes the behaviour on OpenBSD, but I'm not sure about that. Maybe it's simpler to apply this fix on all platforms, as I asked on the PR itself?

[2017-10-25 15:56] vstinner commented on #76033
No, async was not a keyword in Python 3.6 on purpose. Making it a keyword can break a lot of code.

I confirm that Python 3.6 still crashs with a very high number of "async " prefixes: try attached async_parser_crash.py.

Extract of the gdb traceback on a crash:

(...)
#665 0x0000000000454867 in tok_get (tok=0x7fffff8b98c0,
    p_start=0x7fffff8b9cb8, p_end=0x7fffff8b9cb0) at [Parser/tokenizer.c:1

[2017-10-25 16:01] 7a25da75-2e36-4b19-8cc7-873aebf63b6a opened #76050 "commentary on ssl.PROTOCOL_TLS"
BPO | [31869](https://bugs.python.org/issue31869)
--- | :---
Nosy | @tiran, @Mariatta, @csabella, @ZackerySpytz

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-25 16:01] 7a25da75-2e36-4b19-8cc7-873aebf63b6a commented on #76050
on https://docs.python.org/2/library/ssl.html#ssl.PROTOCOL_TLS
for ssl.PROTOCOL_TLS

When the commentary from ssl.PRTOCOL_TLS moved from PROTOCOL_SSLv23 to PROTOCOL_TLS the note {Despite the name, this option can select "TLS" protocols as well as "SSL"} didn't change.

Suggested new wording {Despite the name, this option can select "SSL" protocols as well as "TLS"}

[2017-10-25 16:09] malemburg commented on #75984
On 25.10.2017 01:31, STINNER Victor wrote:

What I meant is that time.clock() is replaced with the higher
accuracy timers corresponding to the current time.clock()
implementation on the various platforms in order to retain
backwards compatibility.

In other words:

[code]

I know that time.clock() behaves differently on different platforms,
but this fact has been known for a long time and is being

[2017-10-25 16:09] serhiy-storchaka commented on #75807
In this case it would be safe to not erase bytes at all.

[PR 4119](https://github.com/python/cpython/pull/4119) is too complex for a bugfix (especially if backport it to 3.5 and 3.4). It can introduce other regressions. The performance hit is not the only issue. Allocating a temporary buffer can change the structure of "holes" in memory. As result some memory related bugs can be reproducible only

[2017-10-25 16:11] serhiy-storchaka commented on #75984
This is the current behavior. Do you suggest to undeprecate time.clock() after 4 releases of deprecation?

[2017-10-25 16:36] serhiy-storchaka commented on #75883
What to do with values outside of the valid range (2\*\*4 to 2\*\*31 for Blowfish, 1000 to 999999999 for SHA*). Raise ValueError, OverflowError, or bound it, or just generate an invalid salt and allow crypt() to handle it?

[2017-10-25 17:07] abalkin commented on #75984
I would like to add my voice to MAL's objections.  I was not aware of time.clock() depreciation before Victor brought this issue to my attention.  time.clock() is a very well-known API eponymous to a venerable UNIX system call.  Its limitations and platform dependencies are very well-known as well.  For someone new to python, seeing time.clock() would probably not require a trip to the library ref

[2017-10-25 21:12] serhiy-storchaka commented on #75038
In Python 2 hex() adds the 'L' suffix for longs.

[2017-10-25 21:28] serhiy-storchaka commented on #75038
New changeset 7c622be4f2e86c1999baba4f64671a5987d43d73 by Serhiy Storchaka in branch '2.7':
bpo-30855: Fix winfo_id related Tkinter test on Windows. (bpo-4121)
https://github.com/python/cpython/commit/7c622be4f2e86c1999baba4f64671a5987d43d73

[2017-10-25 22:46] gpshead commented on #75883
I'd stick with ValueError in that case as well.  if someone dislikes the
valueerrors because they \_want_ to use an invalid one, they can file a bug
and we'll reconsider only if they have a meaningful use case.

On Wed, Oct 25, 2017 at 9:36 AM Serhiy Storchaka \<report@bugs.python.org\>
wrote:

[2017-10-25 23:00] berkerpeksag commented on #74119
[PR 2262](https://github.com/python/cpython/pull/2262) has been merged and backported to bugfix branches so I think this issue can be closed now.

[2017-10-25 23:00] #74119 closed, assigned to Mariatta

[2017-10-26 00:35] abalkin commented on #75981
New changeset 32318930da70ff03320ec50813b843e7db6fbc2e by Alexander Belopolsky (Mario Corchero) in branch 'master':
Closes bpo-31800: Support for colon when parsing time offsets (bpo-4015)
https://github.com/python/cpython/commit/32318930da70ff03320ec50813b843e7db6fbc2e

[2017-10-26 00:35] #75981 closed, assigned to nobody

[2017-10-26 03:24] eryksun commented on #76044
Setting the exit code to the negative of a C signal value isn't generally meaningful in Windows. It seems multiprocessing doesn't have a significant use for this, other than getting a formatted exit code in the repr via its \_exitcode_to_name dict. For example:

[code]

[code]

This may mislead people into thinking incorrectly that Windows implements POSIX signals. Python uses the C runtime's emul

[2017-10-26 04:11] 66f9b400-da17-4190-b5b1-f8ea088c7bf6 commented on #76051
The original get_server_certificate in ssl.py does not support socket timeout,

[code]

    host, port = addr
    if ca_certs is not None:
        cert_reqs = CERT_REQUIRED
    else:
        cert_reqs = CERT_NONE
    context = _create_stdlib_context(ssl_version,
                                     cert_reqs=cert_reqs,
                                     cafile=ca_certs)
    with  create_connecti

[2017-10-26 04:11] 66f9b400-da17-4190-b5b1-f8ea088c7bf6 opened #76051 "add timeout parameter for get_server_certificate in ssl.py"
BPO | [31870](https://bugs.python.org/issue31870)
--- | :---
Nosy | @tiran, @alex, @dstufft, @nixawk, @ZackerySpytz, @miss-islington
PRs | <li>python/cpython#4126</li><li>python/cpython#22270</li><li>python/cpython#25570</li>
Files | <li>[ssl.py](https://bugs.python.org/file47238/ssl.py "Uploaded as text/plain at 2017-10-26.04:11:19 by @nixawk"): Added timeout support for func get_server_certifica

[2017-10-26 05:33] d81880cf-01f3-41ab-986e-1b76594962db opened #76052 "Support for file descriptor params in os.path"
BPO | [31871](https://bugs.python.org/issue31871)
--- | :---
Nosy | @merwok, @serhiy-storchaka

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
[code]

bugs.python.org fields:
[code]

</p></details>

[2017-10-26 05:33] d81880cf-01f3-41ab-986e-1b76594962db commented on #76052
Since Python 3.3, some os module functions, like os.stat (https://docs.python.org/3/library/os.html#os.stat), support passing file descriptor instead of a path. os.path functions, on the other hand (like os.path.exists - https://docs.python.org/3/library/os.path.html#os.path.exists - or os.path.samefile - https://docs.python.org/3/library/os.path.html#os.path.samefile) mention using os.stat undern

[2017-10-26 06:03] benjaminp commented on #76038
New changeset 1896793520a49a6f97ae360c0b288967e56b005e by Benjamin Peterson (pdox) in branch 'master':
bpo-31857: Make the behavior of USE_STACKCHECK deterministic (bpo-4098)
https://github.com/python/cpython/commit/1896793520a49a6f97ae360c0b288967e56b005e

[2017-10-26 06:03] #76038 closed, assigned to nobody

[2017-10-26 06:04] benjaminp commented on #76047
Well, the configure.ac thing is some code that fails if you're running atheos.

[2017-10-26 06:55] benjaminp commented on #76047
New changeset 4eaf7f949069882e385f2297c9e70031caf9144c by Benjamin Peterson in branch 'master':
fixes bpo-31866: remove code pertaining to AtheOS support (bpo-4115)
https://github.com/python/cpython/commit/4eaf7f949069882e385f2297c9e70031caf9144c

[2017-10-26 06:55] #76047 closed, assigned to nobody

[2017-10-26 07:10] db3l commented on #75611
I believe I've identified the issue, and put a workaround in place.

The 986b7ffc commit somehow affected which binary of mt.exe is being run (for version 5.2.3790.2076, 2005), changing from:
  C:\\Program Files\\Microsoft SDKs\\Windows\\v6.0A\\bin\\x64\\mt.exe
to
  C:\\Program Files\\Microsoft SDKs\\Windows\\v6.0A\\bin\\mt.exe
The 32-bit version is what is crashing, at least when trying to add th

[2017-10-26 07:26] vstinner commented on #75038
Oh thank you Serhiy for the fix, this random bug was annoying!

[2017-10-26 07:31] berkerpeksag commented on #74669
[PR 2248](https://github.com/python/cpython/pull/2248) (3.4) and [PR 2396](https://github.com/python/cpython/pull/2396) (3.3) have been merged. I think this issue can be closed now.

[2017-10-26 07:31] #74669 closed, assigned to larryhastings

[2017-10-26 08:27] berkerpeksag commented on #75120
New changeset 275d2d9c4663a1ea8d1f7c8778567a735b0372c1 by Berker Peksag (Ammar Askar) in branch 'master':
bpo-30937: Make usage of newline='' consistent in csv docs (GH-2730)
https://github.com/python/cpython/commit/275d2d9c4663a1ea8d1f7c8778567a735b0372c1

[2017-10-26 08:37] berkerpeksag commented on #75132
Thank you for the report. This is a duplicate of bpo-24651.

[2017-10-26 08:37] #75132 closed, assigned to nobody

[2017-10-26 08:38] berkerpeksag commented on #75120
New changeset 614ea48986f80d361043510ac3945f3dcd666c31 by Berker Peksag (Miss Islington (bot)) in branch '3.6':
bpo-30937: Make usage of newline='' consistent in csv docs (GH-2730)
https://github.com/python/cpython/commit/614ea48986f80d361043510ac3945f3dcd666c31

[2017-10-26 08:39] berkerpeksag commented on #75120
Good catch, Pavel. Thanks! This is now fixed in 3.6 and 3.7 docs. Thanks for the patch, Ammar.

[2017-10-26 08:39] #75120 closed, assigned to nobody

[2017-10-26 09:54] vstinner commented on #75984
Alexander Belopolsky: "I was not aware of time.clock() depreciation before Victor brought this issue to my attention."

That's why the function now emits a DeprecationWarning :-)

Alexander Belopolsky: "time.clock() is a very well-known API eponymous to a venerable UNIX system call.  Its limitations and platform dependencies are very well-known as well."

I'm not sure with "platform dependencies a